@()(implicit request: RequestHeader, context: model.ApplicationContext)

@import conf.switches.Switches._
@import common.InlineJs
@import templates.inlineJS.blocking.js.loadFonts

<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Guardian Font Loader</title>
        @fragments.fontDefinitions()
        <script>
            @if(FontSwitch.isSwitchedOn) {
                @InlineJs(loadFonts(true).body, "loadFonts.js")
            }
        </script>
    </head>
    <body>
        <h1>Guardian Font Loader</h1>
        <p>This is an endpoint for sharing the Guardian's webfonts</p>
    </body>
</html>
