@(sudokuPage: _root_.sudoku.SudokuPage)(implicit request: RequestHeader)

@import common.LinkTo
@import play.api.libs.json._

@main(sudokuPage) { } {
    <div class="l-side-margins">
        <article id="crossword" class="content content--article tonal tonal--tone-news" role="main">
            <header class="content__head tonal__head tonal__head--tone-news">
                <div class="gs-container">
                    <div class="content__main-column">
                        <div class="content__labels content__labels--not-immersive">
                            <div class="content__section-label">
                                <a class="tone-colour" data-link-name="article section" href="@LinkTo("type/sudoku")">Sudokus</a>
                            </div>
                        </div>
                        <h1 itemprop="headline" class="content__headline js-score">@Html(sudokuPage.sudoku.title)</h1>
                    </div>
                </div>
            </header>

            <div class="content__main tonal__main tonal__main--tone-news">
                <div class="gs-container">
                    <div class="js-content-main-column">
                        <div class="js-sudoku sudoku__container" data-sudoku-data="@Json.stringify(Json.toJson(sudokuPage.sudoku.grid))">
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
}
