@import views.support.SponsorDataAttributes
@(classNames: Seq[String],
  dataLinkName: Option[String] = None,
  rowLayout: Option[String] = None,
  badgeInHeader: Boolean = false,
  optKicker: Option[Html] = None,
  optBlurb: Option[Html] = None,
  optActions: Option[Html] = None,
  optStamp: Option[Html] = None,
  optBadge: Option[Html] = None
 )(title: Html)(innards: Html)

<aside class="commodel @classNames.map(c => s"commodel--$c").mkString(" ")"
    @for(dln <- dataLinkName){data-link-name="@dln"}
    >
    <header class="commodel__header">
        @for(kicker   <- optKicker)  {<div class="commodel__kicker">@kicker</div>}
        <h1 class="commodel__title">@title</h1>
        @if(badgeInHeader) {
            @for(badge        <- optBadge)   {<div class="commodel__badge commodel__badge--alt js-badge">@badge</div>}
        }
        @for(blurb    <- optBlurb)   {<div class="commodel__blurb">@blurb</div>}
        @for(actions  <- optActions) {<div class="commodel__ctas">@actions</div>}
        @for(stamp    <- optStamp)   {<div class="commodel__stamp">@stamp</div>}
    </header>
    <div class="commodel__body">
        @innards
        @if(!badgeInHeader) {
            @for(badge        <- optBadge)   {<div class="commodel__badge js-badge">@badge</div>}
        }
    </div>
</aside>
