@(page: model.Page, idRequest: services.IdentityRequest, idUrlBuilder: services.IdentityUrlBuilder)(implicit request: RequestHeader)

@import views.html.fragments.registrationFooter

@main(page, projectName = Option("identity")){
}{
<div class="identity-wrapper monocolumn-wrapper">
    <h1 class="identity-title">Now check your email</h1>

    <p>Follow the link in the email to reset your password.
    <br />Reset password links are valid for 30 minutes.</p>

    @registrationFooter(page, idRequest, idUrlBuilder)
</div>
}
