@import common.LinkTo
@import model.Page
@import services.{IdentityRequest, IdentityUrlBuilder}
@import views.html.fragments.registrationFooter

@import model.ReturnJourney
@import navigation.AuthenticationComponentEvent._

@(page: Page, idRequest: IdentityRequest, idUrlBuilder: IdentityUrlBuilder, userIsLoggedIn: Boolean, returnUrl: Option[String], returnJourney: ReturnJourney.Journey)(implicit request: RequestHeader, context: model.ApplicationContext)


<div class="identity-wrapper monocolumn-wrapper">

    <section class="identity-forms-message">

        <h1 class="identity-title" data-test-id="password-reset-confirmation">
            Thank you! Your password has been changed.
        </h1>

        <div class="identity-forms-message__body">
            @if(!userIsLoggedIn){
                <p>
                    <a class="u-underline" href="@idUrlBuilder.buildUrl("/signin", idRequest, createAuthenticationComponentEventTuple(SigninFromPasswordResetConfirmation))" data-link-name="Sign in after reset">Sign in to your account</a>.
                </p>
            }else{

                <p>
                    You've completed your Guardian account. Please click the button below to jump back to where you left off.
                </p>

                @returnUrl.map { url =>
                    <p><a class="manage-account__button--icon manage-account__button manage-account__button--main" href="@url" data-link-name="Continue">
                        @returnJourney.continueCopy
                        @fragments.inlineSvg("arrow-right", "icon")
                    </a></p>
                }.getOrElse {
                    <p><a class="u-underline" href="@LinkTo{/}" data-link-name="Home">Return to the homepage</a> or <a class="u-underline" href="@idUrlBuilder.buildUrl("/account/edit", idRequest)" data-link-name="Edit profile">edit your profile</a>.</p>
                }
            }
        </div>

    </section>

</div>
