@(page: MetaData, idRequest: services.IdentityRequest, idUrlBuilder: services.IdentityUrlBuilder, emailForm: Form[(String)], errors: List[client.Error])(implicit request: RequestHeader)

@import form.IdFormHelpers._
@import views.html.fragments.form.inputField
@import views.html.fragments.registrationFooter
@import client.Error

@identityMain(page, Switches.all) {
}{
<div class="identity-wrapper">
    <h1>Forgotten or need to reset your password?</h1>
    <p>We'll email you a link to reset it.</p>

    <form class="form js-reset-form" novalidate action="@idUrlBuilder.buildUrl("/reset", idRequest)" role="main" method="post">
        @if(emailForm.globalError.isDefined) {
            <div class="form__error">@emailForm.globalErrors.map(_.message).mkString(", ")</div>
        }

        <ul class="form-fields">

            @inputField(Email(emailForm("email-address"), '_label -> "Email address", 'class -> "js-reset-email", 'autofocus -> true))

            <li>
                <button type="submit" class="submit-input" data-link-name="Reset password">Reset password</button>
            </li>
        </ul>
    </form>

    <div class="identity-section">
        <a href="#unlink-password" data-toggle="js-unlink-password" data-link-name="Unlink password">Unlinked the Guardian from Facebook, Twitter or Google and want to sign in?</a>
        <p class="identity-section__text js-unlink-password is-off">Use the email address field to send a reset link to your registered Facebook, Twitter or Google email. You will then be able to add a password to your account.</p>
    </div>

    <div class="identity-section">
        <h2 class="identity-section__head">Something else?</h2>
        <p class="identity-section__text"><a href="mailto:userhelp@@theguardian.com?subject=Account%20help" data-link-name="Email Userhelp">Email Userhelp</a> who'll be able to help you.</p>
    </div>

    @registrationFooter(page, idRequest, idUrlBuilder)
</div>
}
