@(page: model.Page, idRequest: services.IdentityRequest, idUrlBuilder: services.IdentityUrlBuilder, emailForm: Form[(String)], errors: List[client.Error])(implicit request: RequestHeader, messages: play.api.i18n.Messages)

@import form.IdFormHelpers._
@import views.html.fragments.form.inputField
@import views.html.fragments.registrationFooter
@import client.Error

@main(page, projectName = Option("identity")){
}{
<div class="identity-wrapper monocolumn-wrapper">
    <h1 class="identity-title">Forgotten or need to reset your password?</h1>
    <p>We'll email you a link to reset it.</p>

    <form class="form js-reset-form" novalidate action="@idUrlBuilder.buildUrl("/reset", idRequest)" role="main" method="post">
        @if(emailForm.globalError.isDefined) {
            <div class="form__error">@emailForm.globalErrors.map(_.message).mkString(", ")</div>
        }

        <fieldset class="fieldset">
            <div class="fieldset__fields">
                <ul class="u-unstyled">

                    @inputField(Email(emailForm("email-address"), '_label -> "Email address", 'class -> "js-reset-email",
                    'autofocus -> true, (Symbol("data-test-id"), "password-reset-email")))

                    <li class="form-field">
                        <button type="submit" class="submit-input" data-link-name="Reset password" data-test-id="reset-password-btn">Reset password</button>
                    </li>
                </ul>
            </div>
        </fieldset>
    </form>

    <div class="identity-section">
        <a class="u-underline" href="#unlink-password" data-toggle="js-unlink-password" data-link-name="Unlink password">Unlinked the Guardian from Facebook or Google and want to sign in?</a>
        <p class="identity-section__text js-unlink-password is-off">Use the email address field to send a reset link to your registered Facebook or Google email. You will then be able to add a password to your account.</p>
    </div>

    <div class="identity-section">
        <h2 class="identity-section__head">Something else?</h2>
        <p class="identity-section__text"><a href="mailto:userhelp@@theguardian.com?subject=Account%20help" data-link-name="Email Userhelp">Email Userhelp</a> who'll be able to help you.</p>
    </div>

    @registrationFooter(page, idRequest, idUrlBuilder)
</div>
}
