@(page: MetaData, idRequest: services.IdentityRequest, idUrlBuilder: services.IdentityUrlBuilder, requestNewTokenForm: Form[(String)])(implicit request: RequestHeader )

@import form.IdFormHelpers._
@import views.html.fragments.form.idInput
@import views.html.fragments.registrationFooter

@identityMain(page, Switches.all){
}{
<div class="identity-wrapper">
    <h1>Oh no! The reset password link has expired</h1>
    <p>Enter your email address and we'll send you another.</p>

    <form class="form" novalidate action="@idUrlBuilder.buildUrl("/reset", idRequest)"  method="post">
        <ul class="form-fields">

            @idInput(Email(requestNewTokenForm("email-address"), '_label -> "Email address"))

            <li>
                <button type="submit" class="submit-input" data-link-name="Reset password resend">Send me another</button>
            </li>
        </ul>
    </form>

    <div class="identity-section">
        <h2 class="identity-section__head">Email didn't arrive?</h2>
        <p class="identity-section__text">Check your spam or junk folder as emails are sometimes caught by spam filters.</p>
    </div>

    <div class="identity-section">
        <h2 class="identity-section__head">Something else?</h2>
        <p class="identity-section__text"><a href="mailto:userhelp@@theguardian.com?subject=Account%20help" data-link-name="Email Userhelp">Email Userhelp</a> who'll be able to help you.</p>
    </div>

    @registrationFooter(page, idRequest, idUrlBuilder)
</div>
}