@(page: MetaData, idRequest: services.IdentityRequest, idUrlBuilder: services.IdentityUrlBuilder)(implicit request: RequestHeader)

@import views.html.fragments.registrationFooter

@identityMain(page, Switches.all){
}{
<div class="identity-wrapper monocolumn-wrapper">
    <h1 class="identity-title">Sorry, there's a problem with our servers.</h1>
    <p>Our techies have been notified.</p>
    <p><a href="@idUrlBuilder.buildUrl("/reset", idRequest)" data-link-name="Reset password after error">Please come back later to reset your password.</a></p>

    @registrationFooter(page, idRequest, idUrlBuilder)
</div>
}
