@(page: MetaData, idRequest: services.IdentityRequest, idUrlBuilder: services.IdentityUrlBuilder, resetPasswordForm: Form[(String, String, String)], token : String)(implicit request: RequestHeader )

@import form.IdFormHelpers._
@import views.html.fragments.form.idInput
@import views.html.fragments.registrationFooter

@emailAddress = @{ resetPasswordForm("email-address").value }

@main(page, Switches.all){
}{
<div class="identity-wrapper">
    <h1>Please enter your new password for @emailAddress</h1>
    <form class="form" novalidate action="@idUrlBuilder.buildUrl("/reset-password", idRequest)/@token"  method="post">
        <input type="hidden" value="@emailAddress" name="email-address"/>

        @if(resetPasswordForm.globalError.isDefined) {
            <div class="form__error">@resetPasswordForm.globalErrors.map(_.message).mkString(", ")</div>
        }

        <ul class="form-fields">

            @idInput(Password(resetPasswordForm("password"), '_label -> "New Password", '_help -> "Between 6 and 20 characters"))
            @idInput(Password(resetPasswordForm("password-confirm"), '_label -> "Repeat password"))

            <li>
                <button type="submit" class="submit-input" data-link-name="Save password">Save password</button>
            </li>
        </ul>
    </form>

    @registrationFooter(page, idRequest, idUrlBuilder)
</div>
}
