@(page: MetaData, state : String, emailAddress : String = "" )(implicit request: RequestHeader)

@main(page, Switches.all){
}{

@state match {
        case "reset" => {
            <p>Your password has been changed. Click <a href="/signin">here</a> to signin.</p>
        }
        case "email" => {
            <p>We have sent an email to @emailAddress</p>
        }
        case "reset-error" => {
            <p>There was an error changing your password. Please request another password link her <a href="/recover">here</a> to signin.</p>
        }
}
}
