@(page: MetaData, idRequest: services.IdentityRequest, idUrlBuilder: services.IdentityUrlBuilder, requestNewTokenForm: Form[(String)])(implicit request: RequestHeader )


@import form.IdFormHelpers._
@import views.html.fragments.form.idInputEmail


@main(page, Switches.all){
}{
<div class="identity-wrapper">
    <h1>Oh no! The reset password link has expired.</h1>
    <p>We'll need to send you another.</p>

    <form class="form" novalidate action="@idUrlBuilder.buildUrl("/recover", idRequest)"  method="post">
        <ul class="form-fields">

            @idInputEmail(requestNewTokenForm("email"), '_label -> "Email address")

            <li>
                <button type="submit" class="submit-input">Send me another</button>
            </li>
        </ul>
    </form>
</div>
}