<div class="manage-account-up-sell is-hidden js-dig-up-sell">
    <div class="manage-account-up-sell__heading">
        <h2 class="manage-account-header">Try the Guardian Digital Pack</h2>
    </div>
    <p class="manage-account-up-sell__content">Enjoy the Guardian and Observer's digital pack on the tube, in the park, on a beach, or wherever it’s convenient for you. The digital pack brings you the biggest stories every day and special sections for big events on iPad, Android and Kindle Fire tablets.</p>
    <a href="@(conf.Configuration.id.digitalPackUrl)" class="submit-input" data-link-name="Join today">Get your 2 week free trial</a>
</div>
