html {
    overflow-y: scroll;
}

body {
    background-color: #fff;
}

body:after {
    content: "mobile";
    display: none;
    @include mq(tablet) {
        content: "tablet";
    }
    @include mq(desktop) {
        content: "desktop";
    }
    @include mq(wide) {
        content: "wide";
    }
}

.dateline {
    @include fs-data(2);
    color: $c-neutral2;

    i {
        vertical-align: baseline;
    }
}

.relative-timestamp {
    display: block;
    color: $c-neutral2;
    margin: 0;
}

.relative-timestamp span {
    display: inline-block;
}

.relative-timestamp__icon {
    vertical-align: -3px;
}

ol,
ul {
    list-style-position: inside;
}
