body {
    background-color: #ffffff;
}

.dateline {
    font-family: $sans-serif;
    margin: 0px 0px $baseline*1.5 0px;
    color: $neutral4;
    @extend %type-11;
    font-weight: bold;
}

.relative-timestamp {
  @extend %type-11;
  line-height: 1em;
  font-weight: bold;
  display: block;
  height: 1em;
  color: #929497;
  margin: 0;
  padding:6px 0 3px 0;
}

.relative-timestamp span {
    display: inline-block;
}

ol, ul {
    list-style-position: inside;
}

/* pasteup overrides */
.zone-border {
    padding-top: 0;
}

a:active {
    background-color: transparent;
}
