.button {}
.button--show-more {
    @include fs-textsans(3);
    @include rem((
        margin-bottom: $gs-baseline,
        padding: ($gs-baseline/3)*2 0
    ));
    border-top: 1px dotted $c-neutral3;
    text-align: center;

    .i-center {
        @include rounded-corners($gs-baseline*3);
        @include rem((
            height: $gs-baseline*2,
            margin-right: $gs-gutter/2,
            width: $gs-baseline*2
        ));
        display: inline-block;
        vertical-align: middle;

        .i {
            @include rem((
                margin-top: $gs-baseline/4
            ));
        }
    }
}
