a {
    color: $c-newsDefault;
    text-decoration: none;

    &:hover,
    &:focus {
       text-decoration: underline;
    }
    &:active {
        color: $c-newsAccent;
    }
}

a.u-underline {
    text-decoration: underline;
}
