a {
    color: $linkBlue;
    text-decoration: none;

    &:hover,
    &:focus {
       text-decoration: underline;
    }
    &:active {
        color: $darkBlue;
    }
}

a.u-underline {
    text-decoration: underline;
}

