a,
.u-fauxlink {
    color: rgb(46, 110, 158);
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
    &:active {
        color: rgb(46, 110, 158);
        text-decoration: none;
    }
}
