dt {
    font-weight: bold;
}

// Addresses paddings set differently in IE6/7
menu,
ol,
ul {
    padding: 0;
    margin-left: 25px;
}

// Corrects list images handled incorrectly in IE7
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

// Some list helpers

// Remove margin and bullets from lists.
ol.unstyled, 
ul.unstyled {
    margin: 0;
    list-style: none;
}
