/* ==========================================================================
   Global typography settings
   ========================================================================== */

/* Root base
   ========================================================================== */

html {
    font-family: $serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    // Set baseline font size to 10px
    // This is used as a baseline for rem (root ems) values
    font-size: 62.5%;

    // For IE11 to do the math properly
    // See http://bit.ly/1g4X0bX — thanks @7studio and @dawitti
    font-size: calc(1em * .625);
}
body {
    color: $c-neutral1;
    font-size: 1.6em; // Bump font-size back up to 16px
    line-height: 1.5;
}


/**
 * Turn on kerning and ligatures
 */

html,
body {
    -webkit-font-feature-settings: "kern" 1, "liga" 1;
    -moz-font-feature-settings: "kern" 1, "liga" 1;
    font-feature-settings: "kern" 1, "liga" 1;
}


/**
 * Turn off kerning and ligatures for monospace type
 */

pre,
code {
    -webkit-font-feature-settings: "kern" 0, "liga" 0;
    -moz-font-feature-settings: "kern" 0, "liga" 0;
    font-feature-settings: "kern" 0, "liga" 0;
}


/* Base headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/* Type helpers
   ========================================================================== */

/**
 * DEPRECATED:
 * Use font-scale mixins instead
 */


// SerifText
.type-5 { @extend %type-5; }


/* Default type elements
   ========================================================================== */

blockquote {
    margin: 0;
}
p {
    margin-top: 0;
    margin-bottom: ($gs-baseline/3)*2;
}
h3 {
    font-weight: normal;
    margin-bottom: 7px;
    @include fs-bodyCopy(3);
}
