p {
    font: 16px/20px georgia;
    color: #333;
}

h1 {
    font: 24px/30px georgia;
    margin: 10px 0px 10px 0px;
}

h2,
.standfirst {
    font: 17px/20px georgia;
    color: #666;
    margin: 0 0 20px 0;
}

h3 {
    margin: 0 0 7px 0;
    font-size: 14px;
    line-height: 16px;
}

h4 {
    margin: 0;
    padding: 8px 10px 7px 10px;
    background-color: #ededed;
    border-top: 1px solid #ccc;
    font-size: 14px;
    line-height: 16px;
}

.caption {
    font: 12px/15px arial;
    color: #666;
    margin: 5px 0 14px 0;
}

.byline,
.dateline {
    font: 14px/16px arial;
    margin: 0px;
}

.byline {
    margin-bottom: 5px;
}

.byline a {
  font-weight: bold;
}

.dateline {
    color: #666;
}

span.timestamp {
    font-weight: bold;
    font-family: helvetica, arial, sans-serif;
}
