.l-footer {
    position: absolute;
    padding: 0;
    margin-top: $gs-baseline * 2;
    z-index: $zindex-content;
    width: 100%;
    max-width: 600px;
    clear: both;
}

.l-footer__secondary {
    @include content-gutter();
    line-height: 1;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    background: $brightness-7;
    z-index: 1;
    color: $brightness-86;

    a {
        color: $brightness-86;
        text-transform: lowercase;
        display: inline-block;
        padding-bottom: $gs-baseline;
    }
}
