@(competitions: List[pa.Season], teams: List[pa.Team])

@views.html.football.main("Player cards") {
    <div class="row">
        <div class="col-sm-12">
            <hgroup class="page-header">
                <h1>Player cards</h1>
            </hgroup>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form role="form" action="/admin/football/player/card" method="post">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-line">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    <input type="radio" name="playerCardType" value="attack" checked="checked" /> Attack
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="playerCardType" value="assist" /> Assist
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="playerCardType" value="discipline" /> Discipline
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="playerCardType" value="defence" /> Defence
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="playerCardType" value="goalkeeper" /> Goalkeeper
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-inline form-group">
                            @views.html.football.fragments.chooseLeague("competition", competitions, withEmptyValue = true)
                            <b>Or</b>
                            <input type="text" name="startDate" class="form-control date-picker" placeholder="Choose start date" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-inline form-group">
                            @views.html.football.fragments.chooseTeam("team", teams)
                        </div>

                        <div class="form-inline form-group">
                            @*<select name="player" id="id-player" class="form-control foot-autocomplete" data-placeholder="Choose player"></select>*@
                            <input type="text" name="player" id="id-player" class="form-control player-chooser" autocomplete="off" placeholder="Choose player">
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success">View</button>
            </form>
        </div>
    </div>
}
