$labour-liverpool-header-font-colour: #ffffff;
$labour-liverpool-standfirst-font-colour: #41635e;
$labour-liverpool-standfirst-background-colour: #ffffff;
$labour-liverpool-identity-font-colour: #ffffff;

.heroic-header-container--labour-liverpool {
    min-height: 20vh;

    .heroic-main-media__media {
        @supports not (object-fit: cover) {
            position: relative;
            top: -42px;
            max-height: 70vh;
        }
    }

    .l-side-margins {
        height: auto;
    }

    .content__wrapper--standfirst {
        background-color: $labour-liverpool-standfirst-background-colour;
        padding: 0;

        .content__standfirst--labour-liverpool-article {
            @include fs-headline(3);
            color: $labour-liverpool-standfirst-font-colour;
            margin-top: 10px;

            .membership-cutout {
                display: none;

                @include mq($from: tablet) {
                    display: block;
                    float: left;
                    height: 116px;
                    margin-left: -20px;
                    margin-right: -15px;
                }
            }

            .membership-quote-marks {
                float: left;
                height: 24px;
                padding-right: 8px;
            }
        }
    }
}

.content--labour-liverpool-article {
    .content--labour-liverpool-article__headline-background {
        position: absolute;
        top: -210px;
        width: 100%;

        .inline-labour-liverpool-headline-bg__svg {
            width: 100%;
        }
    }

    .heroic-main-media__headline-container {
        position: absolute;
        top: 0;
        width: 100%;

        @include mq($from: tablet) {
            background-position: 0 -7vw;
            background-size: 100%;
        }
    }

    .headline {
        position: relative;
        top: 25vh;
        max-width: 600px;

        h1 {
            @include fs-headline(6);
            position: absolute;
            font-weight: 200;
            color: $labour-liverpool-header-font-colour;
            margin: 10px;

            @include mq($from: tablet) {
                @include fs-headline(8);
                font-weight: 200;
                margin: 20px;
            }
        }

        .header-background {
            position: absolute;
            left: 0;
            right: 0;
            height: 130px;
            transform: rotate(180deg);
        }
    }

    .series-identity {
        display: block;
        position: relative;
        top: 40px;
        height: 70px;
        max-width: 250px;
        z-index: 2;

        .series-identity__background {
            position: absolute;
            top: -8px;

            .inline-labour-liverpool-identity-bg__svg {
                width: 100%;
                height: 100%;
            }
        }

        .series-identity__links {
            position: absolute;
            left: 15px;
            top: 5px;

            &:hover {
                text-decoration: none;
            }
        }

        .series-identity__title, .series-identity__byline {
            @include fs-header(2);
            line-height: 19px;
            color: $labour-liverpool-identity-font-colour;
        }

        @include mq($from: tablet) {
            top: 0;
        }

        @include mq($from: desktop) {
            left: -30%;
        }
    }
}
