.content--immersive {
    &.content {
        border-top: 0;
    }

    .content__article-body {
        clear: both;
    }

    .content__main {
        padding-top: $gs-baseline / 2;
    }

/*  Header
    ========================================================================== */
    .content__head {
        position: relative;
        color: #ffffff;
    }

    .content__wrapper {
        background-color: rgba(0, 0, 0, .5);
    }

    .content__logo-container {
        z-index: 2;
    }

    .content__logo {
        float: right;
        width: gs-span(2) + $gs-gutter;
        height: auto;
        margin-top: $gs-baseline / 2;

        svg {
            width: 100%;
            height: auto;

            path {
                fill: #ffffff;
            }
        }
    }

    .content__series-label,
    .content__headline,
    .content__standfirst {
        max-width: gs-span(8);

        @include mq(leftCol) {
            margin-left: gs-span(2) + $gs-gutter;
        }

        @include mq(wide) {
            margin-left: gs-span(3) + $gs-gutter;
        }
    }

    .content__series-label {
        @include fs-header(1);
        display: block;
        float: none;
        padding-top: $gs-baseline / 2;
        margin-bottom: 0;
    }

    .content__series-label__link {
        color: #ffffff;
    }

    .content__headline {
        @include fs-headline(7);
        font-weight: 200;
        line-height: 1;
        padding-top: $gs-baseline / 2;
        padding-bottom: 1.5rem;

        @include mq(desktop) {
            font-size: 3.25rem;
        }
    }

    .content__headline {
        @include fs-headline(7);
        
        @include mq(desktop) {
            
        }
    }

    .content__series-label + .content__headline {
        padding-top: 0;
    }

    .content__standfirst {
        position: relative;
        padding-top: .33em;
        margin-bottom: 0;
        color: #ffffff;

        @include mq(desktop) {
            padding-bottom: 1rem;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                height: 2px;
                width: gs-span(2);
                background-color: rgba(255, 255, 255, .2);
            }
        }

        a {
            color: colour(feature-mute);
            border-bottom: 1px solid rgba(colour(feature-mute), .4);

            &:hover {
                text-decoration: none;
                border-bottom-color: rgba(colour(feature-mute), .8);
            }
        }
    }

    .is-fixed-height {
        &.content__head--desktop {
            height: 100vh;
            max-height: 800px;
        }

        .content__header {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        @include mq($until: desktop) {
            .content__head--mobile {
                position: relative;
                display: table-cell;
                vertical-align: bottom;
                background-position: center center;
                background-size: cover;
            }

            &.content__head--desktop {
                background-image: none !important;
            }

            .content__header {
                display: table;
                width: 100%;
                height: 100%;
            }

            .content__wrapper--standfirst {
                display: table-row-group;
                height: 1px;
            }
        }

        @include mq(desktop) {
            &.content__head--desktop {
                position: relative;
                background-position: center center;
                background-size: cover;
                max-height: initial;
            }

            .content__head--mobile {
                background-image: none !important;
            }
        }

        .content__loading {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: colour(neutral-5);
            color: colour(neutral-1);
        }

        .content__loading-animation {
            display: block;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.content__head .element-embed {
            margin: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            .fenced {
                height: 100% !important; // Overwrite inline styles
                opacity: 0;
                transition: .5s opacity ease-out;
            }

            .fenced-rendered {
                opacity: 1;
            }
        }
    }

/*  Meta
    ========================================================================== */
    .content__meta-container--immersive {
        position: relative;
        width: auto;
        border-bottom: colour(neutral-7) solid 1px;
        border-top: 0;

        @include mq(leftCol) {
            padding-bottom: $gs-baseline / 2;
            margin-bottom: $gs-baseline / 2;
        }

        .content__dateline {
            min-height: 0;
            border: 0;
            padding: 0;
            padding-right: $gs-gutter / 2 - 4px;
            @include fs-textSans(3);

            @include mq(tablet, leftCol) {
                margin-bottom: $gs-gutter;
            }

            @include mq(leftCol) {
                margin-left: gs-span(2) + $gs-gutter;
            }

            @include mq(wide) {
                margin-left: gs-span(3) + $gs-gutter;
            }
        }

        .content__dateline-wpd {
            color: colour(neutral-2);
            cursor: text;

            &:hover,
            &:focus {
                color: inherit;
                text-decoration: none;
            }
        }

        .content__dateline,
        .meta__numbers {
            display: inline-block;
            vertical-align: top;
        }

        .meta__number + .meta__number {
            position: relative;
            border: 0;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 2px;
                height: 1em;
                width: 1px;
                background-color: colour(neutral-6);
            }
        }

        .meta__numbers {
            height: auto;
            padding: 0;
            position: relative;
            border: 0;
            overflow: auto;

            @include mq($until: tablet) {
                display: block;
                border-top: 1px dotted colour(neutral-5);
                margin-top: $gs-baseline;
                padding-top: $gs-baseline / 4;
                padding-bottom: $gs-baseline;
            }

            &:before {
                @include mq(tablet) {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 2px;
                    height: 1em;
                    width: 1px;
                    background-color: colour(neutral-6);
                }
            }
        }

        .meta__number {
            @include fs-textSans(3);
            color: colour(neutral-2);
            padding-left: $gs-gutter / 2;

            .inline-icon {
                float: left;
                display: block;
            }
        }

        .meta__number--commentcount {
            padding-left: $gs-gutter / 2 !important;

            .inline-icon {
                margin-top: 4px;
                margin-right: 2px;
            }
        }

        .meta__number--sharecount {
            padding-left: 0;
            padding-right: 8px;

            @include mq(tablet) {
                padding-left: $gs-gutter / 2;
            }

            .sharecount__value--short {
                display: inline-block;
                font: inherit;
                color: inherit;
            }

            .inline-icon {
                fill: colour(neutral-2);
                margin-top: 1px;
                margin-right: 4px;

                @include mq($until: tablet) {
                    margin-left: 0;
                }
            }
        }

        .meta__extras {
            position: static;
        }

        .meta__social {
            @include mq(leftCol) {
                position: absolute;
                top: -5px;
                //bottom: -($gs-baseline * 4);
                border: 0;
                width: gs-span(2);
            }
        }
    }

/*  Body
    ========================================================================== */
    .drop-cap {
        height: 7.25em;

        .drop-cap__inner {
            font-size: 9.5em;
            line-height: .83; // To optically align to top of five lines of text
        }
    }

    .section-rule {
        display: block;
        width: gs-span(2);
        height: 2px;
        margin: 0;
        border: 0;
        margin-top: $gs-baseline * 4;
        margin-bottom: $gs-baseline / 4;
        background-color: colour(neutral-7);
    }

    .section-image {
        position: relative;

        .caption,
        .section-rule {
            display: none;
        }
    }

    .section-title {
        position: absolute;
        z-index: 20;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        color: #ffffff;
        @include fs-headline(5);
        font-weight: 200;
        padding: .1em $gs-gutter / 2 .5em;

        @include mq(mobileLandscape) {
            padding-left: $gs-gutter;
            padding-right: $gs-gutter;
        }

        @include mq(tablet) {
            @include fs-headline(7, true);
        }

        @include mq(leftCol) {
            padding-left: gs-span(2) + $gs-gutter * 2;
        }

        @include mq(wide) {
            padding-left: gs-span(3) + $gs-gutter * 2;
        }
    }

    .in-body-link--immersive {
        color: colour(feature-default);

        &:hover {
            border-bottom-color: rgba(colour(feature-default), .4);
        }
    }

    .element + .section-rule {
        margin-top: 0;
    }

    .element-pullquote {
        position: relative;
        width: auto;
        margin-left: 0;
        margin-bottom: $gs-baseline / 2;
        border-top: 1px solid colour(neutral-7);
        border-bottom: 1px solid colour(neutral-7);
        padding: 0;
        padding-top: .2em;
        padding-bottom: $gs-baseline * 3;

        .inline-quote {
            margin: ($gs-baseline / 4) 0;
            height: auto;
            width: auto;
            line-height: 1;
        }

        .inline-quote svg {
            fill: colour(neutral-3);
            width: 2.5em;
            height: 1.4em;
        }

        .pullquote-paragraph,
        .pullquote-cite {
            font-family: $f-serif-headline;
            font-weight: 200;
            font-size: 1.75rem;
            line-height: 1.1;
        }

        .pullquote-paragraph {
            color: colour(feature-default);
        }

        .pullquote-cite {
            color: colour(neutral-1) !important; // important to override super specific tonal classes
        }

        .inline-quote.closing {
            display: none;
        }
    }

    .element-pullquote.element--showcase,
    .element-pullquote.element--supporting {
        @include mq(tablet) {
            padding: 0;
            border: 0;
        }
    }

    .element-pullquote.element--showcase {
        @include mq(tablet) {
            margin-bottom: $gs-baseline * 3;
        }

        .inline-quote svg {
            @include mq(tablet) {
                width: 3em;
                height: 1.8em;
            }
        }

        .inline-quote {
            @include mq(leftCol) {
                position: absolute;
                left: -3.5em;
            }
        }

        .pullquote-paragraph,
        .pullquote-cite {
            @include mq(tablet) {
                font-size: 2.25em;
            }
        }
    }

    .element-pullquote.element--supporting {
        @include mq(tablet) {
            width: gs-span(3);
            border: 0;
            margin-right: $gs-gutter;
            margin-bottom: $gs-baseline * 2;
        }

        @include mq(leftCol) {
            width: gs-span(2);
            margin-left: -(gs-span(2) + $gs-gutter);
        }

        @include mq(wide) {
            width: gs-span(3);
            margin-left: -(gs-span(3) + $gs-gutter);
        }

        .inline-quote {
            @include mq(tablet) {
                position: absolute;
            }
        }

        .inline-quote svg {
            @include mq(tablet) {
                width: 1.8em;
                height: 1em;
            }
        }

        .pullquote-paragraph {
            @include mq(tablet) {
                text-indent: 1.7em;
            }
        }

        .pullquote-paragraph,
        .pullquote-cite {
            @include mq(tablet) {
                font-size: 1.25em;
                line-height: 1.2;
            }
        }
    }

    figure.element--immersive {
        margin-left: -$gs-gutter / 2;
        margin-right: -$gs-gutter / 2;

        @include mq(mobileLandscape) {
            margin-left: -$gs-gutter;
            margin-right: -$gs-gutter;
        }

        @include mq(tablet) {
            margin-right: -(gs-span(1) + $gs-gutter * 2);
        }

        @include mq(desktop) {
            margin-right: -(gs-span(4) + $gs-gutter * 2);
        }

        @include mq(leftCol) {
            margin-left: -(gs-span(2) + $gs-gutter * 2);
        }

        @include mq(wide) {
            margin-left: -(gs-span(3) + $gs-gutter * 2);
            margin-right: -(gs-span(5) + $gs-gutter *2);
        }

        .caption {
            margin-left: $gs-gutter / 2;
            margin-right: $gs-gutter / 2;

            @include mq(mobileLandscape) {
                margin-left: $gs-gutter;
                margin-right: $gs-gutter;
            }

            @include mq(desktop) {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .block-share {
            @include mq(tablet) {
                margin-right: $gs-gutter;
            }
        }

        + .section-rule {
            display: none;
        }
    }

    figure.element--showcase {
        @include mq(desktop) {
            margin-left: -($gs-gutter);
        }

        @include mq(leftCol) {
            margin-left: -(gs-span(2) + $gs-gutter * 2);
        }

        @include mq(wide) {
            margin-left: -(gs-span(3) + $gs-gutter * 2);
        }
    }

    figure.element--showcase,
    figure.element--immersive {
        @include mq(leftCol) {
            margin-bottom: $gs-baseline - 2px; // 2px is to compensate for x-height of type
        }

        .caption {
            @include mq(desktop) {
                padding-left: $gs-gutter;
            }

            @include mq(leftCol) {
                position: absolute;
                width: gs-span(2);
                padding-top: $gs-baseline;
            }

            @include mq(wide) {
                width: gs-span(3);
            }
        }

        .block-share {
            display: none !important; // To override hide on mobile
        }
    }

    .element--showcase {
        float: none;
    }

    .ad-slot--inline {
        @include mq(desktop) {
            margin-right: -(gs-span(4) + $gs-gutter);
        }

        @include mq(wide) {
            margin-right: -(gs-span(5) + $gs-gutter);
        }
    }
}
