.content--immersive {
    &.content {
        border-top: 0;
    }

    .content__meta-container {
        @include mq(leftCol) {
            position: absolute !important;
        }
    }

    .content__article-body {
        clear: both;
    }

/* Header
   ========================================================================== */
    .content__head {
        position: relative;
        color: #ffffff;
    }

    .content__wrapper {
        background-color: rgba(0, 0, 0, .5);
    }

    .content__logo-container {
        z-index: 2;
    }

    .content__logo {
        float: right;
        width: gs-span(2) + $gs-gutter;
        height: auto;
        margin-top: $gs-baseline / 2;

        svg {
            width: 100%;
            height: auto;

            path {
                fill: #ffffff;
            }
        }
    }

    .content__headline,
    .content__standfirst {
        max-width: gs-span(8);

        @include mq(leftCol) {
            margin-left: gs-span(2) + $gs-gutter;
        }

        @include mq(wide) {
            margin-left: gs-span(3) + $gs-gutter;
        }
    }

    .content__headline {
        font-size: 2.2rem;
        font-weight: 200;
        line-height: 1;
        padding-top: $gs-baseline / 2;
        padding-bottom: 1em;

        @include mq(desktop) {
            font-size: 3.25rem;
        }
    }

    .content__standfirst {
        position: relative;
        padding-top: .33em;
        padding-bottom: 1em;
        margin-bottom: 0;
        color: #ffffff;

        @include mq(desktop) {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                height: 2px;
                width: gs-span(2);
                background-color: rgba(255, 255, 255, .2);
            }
        }

        a {
            color: colour(feature-mute);
            border-bottom: 1px solid rgba(colour(feature-mute), .4);

            &:hover {
                text-decoration: none;
                border-bottom-color: rgba(colour(feature-mute), .8);
            }
        }
    }

    @include mq($until: desktop) {
        .content__head--mobile {
            position: relative;
            height: 100vh;
            max-height: 800px;
            background-position: center center;
            background-size: cover;
        }

        .content__head--desktop {
            background-image: none !important;
        }

        .content__wrapper--headline {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    @include mq(desktop) {
        .content__head--desktop {
            position: relative;
            height: 100vh;
            background-position: center center;
            background-size: cover;
        }

        .content__head--mobile {
            background-image: none !important;
        }

        .content__header {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

/* Body
   ========================================================================== */
    .drop-cap {
        height: 7.25em;

        .drop-cap__inner {
            font-size: 9.5em;
            line-height: .83; // To optically align to top of five lines of text
        }
    }

    .section-rule {
        display: block;
        width: gs-span(2);
        height: 2px;
        margin: 0;
        border: 0;
        margin-top: $gs-baseline * 4;
        margin-bottom: $gs-baseline / 4;
        background-color: colour(neutral-7);
    }

    .element + .section-rule {
        margin-top: 0;
    }

    .element-pullquote {
        position: relative;
        width: auto;
        margin-left: 0;
        padding: 0;
        padding-top: .33em;
        margin-bottom: 2rem;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            height: 2px;
            width: gs-span(2);
            background-color: colour(neutral-7);
        }

        .inline-quote {
            margin-bottom: $gs-baseline / 4;
        }

        .inline-quote svg {
            fill: colour(neutral-3);
            width: 2.425rem;
        }

        .pullquote-paragraph,
        .pullquote-cite {
            font-family: $f-serif-headline;
            font-weight: 200;
            font-size: 1.75rem;
            line-height: 1.1;
        }

        .pullquote-paragraph {
            color: colour(feature-default);
        }

        .pullquote-cite {
            color: colour(neutral-1) !important; // important to override super specific tonal classes
        }

        .inline-quote.closing {
            display: none;
        }
    }

    figure.element--showcase {
        @include mq(desktop) {
            margin-left: -($gs-gutter);
        }

        @include mq(leftCol) {
            margin-left: -(gs-span(2) + $gs-gutter * 2);
            margin-bottom: $gs-baseline - 2px; // 2px is to compensate for x-height of type
        }

        @include mq(wide) {
            margin-left: -(gs-span(3) + $gs-gutter * 2);
        }

        .caption {
            @include mq(desktop) {
                padding-left: $gs-gutter;
            }

            @include mq(leftCol) {
                position: absolute;
                width: gs-span(2);
                padding-top: $gs-baseline;
            }

            @include mq(wide) {
                width: gs-span(3);
            }
        }

        .block-share {
            display: none !important; // To override hide on mobile
        }
    }

    .ad-slot--inline {
        @include mq(desktop) {
            margin-right: -(gs-span(4) + $gs-gutter);
        }

        @include mq(wide) {
            margin-right: -(gs-span(5) + $gs-gutter);
        }
    }
}
