.media-primary {
    margin: 0 $gs-gutter * -.5;
    position: relative;

    @include mq(mobileLandscape) {
        margin-left: $gs-gutter / -1;
        margin-right: $gs-gutter / -1;
    }
    @include mq(phablet) {
        margin-left: 0;
        margin-right: 0;
    }
}

.content__main-column--article {
    min-height: gs-height(6);
}

.caption--main {
    min-height: ($gs-baseline / 3) * 7;
    max-width: gs-span(7);

    @include mq(tablet) {
        max-width: gs-span(8);
    }
    @include mq(desktop) {
        max-width: none;
    }
    .content__main-column--image & {
        padding-bottom: 0;
    }
}

@include mq(tablet) {
    .caption--main {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.article-elongator {
    position: relative;

    .i-center {
        background-color: colour(guardian-brand);
    }
}

.after-article {
    position: relative;
    display: block;
    content: ' ';
    margin-top: $gs-baseline*2;

    //This is required for football components, please do not remove
    @include mq(desktop) {
        display: none;
    }
}

//For the fronts-on-article work - to-do: remove this stuff from the container html
.content-footer {
    .fc-container--has-show-more .treats__container {
        bottom: $gs-baseline;
    }

    .fc-container--first .fc-container__inner {
        border-top: 1px solid colour(news-main-2) !important;
    }

    .fc-container--first .fc-container__header__title {
        border: 0 !important;
    }
}
