.badge-slot--us-election {
    width: $gs-gutter * 1.8;

    @include mq($until: desktop) {
        float: left;
        margin-top: 1px;
        margin-right: $gs-gutter / 4;
    }

    @include mq(desktop) {
        width: gs-span(1);
    }
}

.badge-slot__img {
    width: 100%;
}

.content__labels--us-election {
    .content__section-label,
    .content__series-label {
        float: none;
    }
}
