.element-pullquote {
    .inline-quote {
        margin-bottom: $gs-baseline / 2;
        display: block;
        width: 34px;
        height: 30px;
    }
    svg {
        width: 34px;
        height: 30px;
    }
    .inline-quote.closing {
        margin-top: $gs-baseline / 2;
        transform: rotate(180deg);
    }
}

.sharecount__heading .i {
    @include icon(share-android);
}

.tonal--tone-media .tonal__main--tone-media,
.tonal--tone-special-report .content__main-column--media {
    .sharecount__heading .i {
        @include icon(share-android--white);
        opacity: .6;
    }
}

.commentcount2 {
    display: block;
    .i {
        vertical-align: bottom;
    }
}

.commentcount2__value {
    display: block;
}

.meta__numbers {
    border-top: 1px dotted colour(neutral-5);
    height: $gs-baseline * 3;
    padding: $gs-baseline / 2 0;

    @include mq(tablet, leftCol) {
        position: absolute;
        right: 0;
        top: 0;
        border: 0;
    }
    @include mq(leftCol) {
        border-bottom: 1px dotted colour(neutral-5);
    }

    .commentcount2__heading,
    .sharecount__heading {
        @include fs-textSans(1);
        line-height: 15px;
        height: 15px;
        margin: 0;
        position: relative;
        padding-left: 18px;

        .i, .inline-icon {
            position: absolute;
            left: 0;
        }

        @include mq(leftCol) {
            padding-left: $gs-gutter * .75;
        }
    }

    .inline-icon {
        margin: 2px 0 0 -2px;
    }

    .commentcount2__value,
    .sharecount__value {
        // design is off font scale
        font-family: $f-serif-headline;
        font-size: 18px;
        font-weight: 500;
    }

    .sharecount__value {
        color: colour(neutral-1);
    }

    .sharecount__value--short {
        display: none;
    }
    @include mq(leftCol, wide) {
        .sharecount__value--full {
            display: none;
        }
        .sharecount__value--short {
            display: block;
        }
    }

    .sharecount__heading {
        color: colour(neutral-2);
        .i {
            opacity: .35;
        }
    }
}

.meta__number {
    display: block;
    height: 100%;
    text-align: left;
    float: left;
    padding-right: ($gs-gutter / 2) + 1px;

    @include mq(leftCol, wide) {
        padding-right: 6px;
    }

    .meta__extras--crossword & {
        @include mq(tablet) {
            border-left: 1px solid colour(neutral-7);
            float: right;
            padding-left: $gs-gutter / 2;
        }
    }

    &:last-child {
        padding-right: 0;
    }
}

.meta__save-for-later {
    // Shown with test
    display: none;
    padding-top: $gs-baseline / 2;
    padding-bottom: $gs-baseline / 2;
    margin-bottom: 0;
    border-top: 1px dotted colour(neutral-5);
    position: relative;

    $social-width: 39px;

    @include mq(mobileLandscape) {
        border-top: 0;
    }

    @include mq(mobileLandscape, leftCol) {
        position: absolute;
        top: 1px;
    }

    @include mq(mobileLandscape, tablet) {
        left: $social-width * 7;
    }

    @include mq(tablet, leftCol) {
        left: $social-width * 6;
    }

    .content--interactive & {
        @include mq(leftCol) {
            $social-width: 35px;

            position: absolute;
            top: 1px;
            left: $social-width * 6;
        }
    }

    .content--liveblog & {
        @include mq(desktop) {
            position: relative;
            left: 0;
            top: 0;
            border-top: 1px dotted colour(neutral-5);
        }
    }

    .meta__extras--crossword & {
        @include mq(tablet) {
            float: left;
        }
    }
}

.meta__number:not(.u-h) + .meta__number {
    border-left: 1px solid colour(neutral-7);
    padding-left: $gs-gutter / 2;
    @include mq(leftCol, wide) {
        padding-left: 6px;
    }
}
