@charset 'UTF-8';

@include mq($until: mobileLandscape) {
    .content--gallery .content__section {
        display: none;
    }
}

.gallery2 {
    list-style: none;
    margin: 0;
}

.gallery2__item {
    position: relative;
    box-sizing: border-box;
    min-height: 200px;
    margin-bottom: $gs-baseline;

    @include mq($until: desktop) {
        border-top: 1px dotted colour(media-mute);
        padding-top: $gs-baseline;

        &:first-child {
            border-top: 0;
        }
        &:last-child {
            border-bottom: 1px dotted colour(media-mute);
        }
        .gallery2__item--advert + & {
        }
    }
    @include mq(desktop) {
        padding-right: gs-span(3) + $gs-gutter;
        margin-bottom: $gs-baseline*3;

        &:last-child {
            margin-bottom: $gs-baseline*2;
        }
    }
    @include mq(desktop, leftCol) {
        &:first-child {
            margin-top: $gs-baseline*2;
        }
    }
}
.gallery2__item--advert {
    min-height: 0;
    padding-top: 0;
    border-top: 0;

    .js-off & {
        display: none;
    }
}

.gallery2__figcaption {
    @include fs-textSans(1);
    padding-top: $gs-baseline / 4;
    overflow: visible;
    max-height: 100%;
    position: relative;

    @include mq(mobileLandscape, $until: tablet) {
        padding-right: gs-span(2);
    }

    @include mq($until: desktop) {
        padding-right: $gs-gutter * 10;
        margin-bottom: $gs-baseline * 2;
    }

    @include mq($until: tablet) {
        padding-right: $gs-gutter * 2;
    }

    @include mq(desktop) {
        @include fs-textSans(2, true);
        position: absolute;
        width: gs-span(3);
        right: 0;
        top: 0;
        border-top: 1px dotted colour(neutral-2);
    }
}

.gallery2__caption {
    color: colour(neutral-7);
    margin-bottom: 0;

    > strong:first-child {
        display: block;
        @include fs-headline(2);
        margin-bottom: $gs-baseline/2;

        & + br {
            display: none;
        }
    }

    a {
        color: colour(neutral-7);
        border-bottom: 1px solid colour(neutral-2);

        &:hover {
            border-bottom: 1px solid colour(neutral-7);
            text-decoration: none;
        }
    }
}

.gallery2__credit {
    color: colour(neutral-3);
}

.gallery2__img-container {
    position: relative;
    display: block;
    background-color: lighten(colour(media-background), 2.5%);
}

.gallery2__img {
    cursor: pointer;
    width: auto;
    margin: auto;
    max-width: 100%;
    max-height: 700px;
}

.gallery2__img-initial.gallery2__img--landscape {
    width: 100%;
}

.gallery2__img-container--portrait {
    @include fix-aspect-ratio(1, 1);
}

.gallery2__img--portrait {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
}

.gallery2__fullscreen,
.article__fullscreen {
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    background-color: rgba(51, 51, 51, .6);
    position: absolute;
    margin: $gs-gutter/2;

    .element--thumbnail & {
        width: 33px;
        height: 33px;
        margin: $gs-baseline/3 $gs-gutter/5;
        display: none;
    }

    &.inline-expand-image svg {
        width: 50%;
        height: 50%;
    }

    .element--thumbnail:hover & {
        display: block;
    }

    @include mq(desktop) {
        .gallery2__img-container:hover &,
        .article__img-container:hover & {
            background-color: colour(media-default);

            &.inline-expand-image {
                fill: #000000;
            }
        }
    }

    @if $old-ie {
        display: none;
    }
}

.content__main-column--gallery {
    margin-right: auto;
    padding-bottom: $gs-baseline*2;
}

.content--gallery {
    .content__meta-container {
        min-height: gs-height(1) + $gs-baseline*2;

        @include mq(tablet) {
            border-bottom: 0;
        }

        @include mq(tablet, leftCol) {
            .byline,
            .content__dateline {
                padding-right: gs-span(3) + $gs-gutter;
            }
        }

        .meta__comment-count--top {
            display: none;
        }

        .meta__comment-count--bottom {
            display: block;
            float: none;
            padding-top: $gs-baseline/2;

            .commentcount {
                position: static;
            }

            .commentcount__label {
                display: inline;
            }
        }
    }

    .witness-cta {
        border: 0;
    }
}

//disable hover state for lightbox and related content as they're on dark backgrounds
.gallery__most-popular,
.gallery-lightbox--endslate {
    .tone-media--item {
        .u-faux-block-link--hover {
            background-color: colour(media-background) !important;

            .responsive-img {
                opacity: 1 !important;
            }

            .fc-item__link {
                text-decoration: underline !important;
            }
        }
    }
}
