.js-on.is-modern .content--interactive {
    padding: 0;

    .content__headline {
        padding-bottom: $gs-baseline/2;
    }

    // Ensure margins don't overlay interactives
    .content__main {
        padding: 0;
        position: relative;
        z-index: 2;
    }

    .content__main-column--interactive {
        @include mq(desktop) {
            max-width: none;
            margin: 0;
        }

    }

    .meta__numbers {
        position: relative;
        border-top: 1px dotted colour(neutral-5);

        @include mq(leftCol) {
            border-bottom: 0;
        }
    }

    .content__section-label,
    .content__series-label {
        @include mq(desktop) {
            float: left;
        }
    }

    .content__meta-container {
        margin-left: 0;
        width: 100%;
        border-top: 0;
        border-bottom: 0;

        .meta__number {
            @include mq(tablet) {
                float: right;
                border-left: 1px solid colour(neutral-5);
                padding-left: $gs-gutter / 2;

                &:first-child {
                    padding-right: 0;
                }
            }

            @include mq($until: mobile) {
                position: relative;
                top: $gs-baseline;
            }

            &:last-child {
                padding-right: $gs-gutter / 2;
            }
        }

        .meta__social {
            @include mq(tablet) {
                float: left;
                position: relative;
                z-index: 2;
            }
        }

        @include mq(leftCol) {
            position: relative;
        }
        .commentcount {
            top: $gs-baseline / 3;

            @include mq(desktop) {
                display: block;
                position: static;
                padding-top: $gs-baseline / 3;
                margin-bottom: $gs-baseline;
                border-top: 1px dotted colour(neutral-5);
            }
        }

        @include mq(desktop) {
            .meta__social {
                margin-right: ($gs-gutter / 2) + 2px;
            }
        }
    }
    .content__meta-container--twitter,
    .content__meta-container--email {
        padding-top: $gs-baseline/2;
    }
    .byline {
        display: none;
    }
    .content__meta-footer .byline {
        @include mq(desktop) {
            width: gs-span(7);
        }
        @include mq(leftCol) {
            width: gs-span(8);
            border-top: 0;
            padding-bottom: 0;
            min-height: $gs-baseline * 2;
            display: inline;
            margin-right: $gs-gutter/2;
        }
    }
    .meta__email,
    .meta__twitter {
        display: none;
    }
    .content__dateline {
        display: none;
    }
    .content__head .content__dateline {
        display: block;
        margin-bottom: ($gs-baseline/3) * 2;

        @include mq(leftCol) {
            min-height: 0;
            border-top: 0;
            margin-bottom: 0;
        }
    }

    // Ensure margins don't overlay full-page take over interactives
    .element-interactive {
        background-color: #ffffff;
    }

    //TODO: Temporary hack for live-streams until we discuss a better solution with composer
    [data-alt="Live stream"] {
        @extend %u-responsive-ratio;
    }

    .content__meta-footer {
        .meta__email,
        .meta__twitter {
            display: inline !important;
        }
        .meta__extras {
            display: none;
        }
        .content__meta-container {
            border: 0;
        }
    }
}

.is-not-modern {
    .content__meta-footer {
        display: none;
    }

    .content__head .content__dateline {
        display: none;
    }

    .content__main-column--interactive {
        border-top: 1px dotted colour(neutral-5);
        padding-top: $gs-baseline/2;
        min-height: $gs-baseline*20;
    }
}

.is-immersive {
    figure.element {
        margin: 0;
    }
}
