$grey: #dbdbdb;
$grey-two: #f6f6f6;
$grey-three: #767676;

$padding-wide: 100px;

.content--recipes {
    padding-bottom: 0;
}

.recipes__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mq($from: desktop) {
        flex-wrap: nowrap;
    }

}
.recipe__article .recipe__article--headline h1,
.recipe__article .recipe__article--structured-headline h1 {
    font-family: $f-serif-headline;
    font-weight: 200;
    font-size: 36px;
    line-height: 38px;


    @include mq($from: desktop) {
        font-size: 48px;
        line-height: 48px;
    }
}

.recipe__article h2 {
    font-family: $f-serif-headline;
    font-weight: 900;
    line-height: 28px;
}

.circle-button {
    font-family: $f-serif-headline;
    font-weight: 900;
    line-height: 30px;

    .inline-icon {
        fill: $grey;
        width: 30px;
        height: 30px;
        border: 1px solid $grey;
        margin-right: 10px;
    }

    .inline-icon__svg {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        fill: #000000;
        display: block;
    }
}

.recipe__images-wrapper {
    display: flex;
    flex-direction: column;
    height: 50vh;
    top: 0;
    width: 100%;
    position: relative;
    overflow: hidden;

    @include mq($from: desktop) {
        flex-basis: 50%;
        position: sticky;
        height: 100vh;
        min-height: 600px;
    }
}

.recipe__image__wrapper {
    flex: 1 0 100%;
    position: relative;
}

.recipe__image__wrapper.recipe {
    display: none;

    @include mq($from: desktop) {
        display: block;
    }
}

.recipe__image__wrapper--is-displayed {
    order: -1;
}

.recipe__image {
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

}

.recipe__label {
    @include f-headline;
    position: absolute;
    z-index: 300;
    background-color: $features-main-2;
    height: 65px;
    width: 110px;
    border-radius: 50%;
    text-align: center;
    padding-top: 45px;
    color: #ffffff;
    left: -$gs-gutter / 4;
    bottom: -$gs-gutter * 1.6;
    line-height: initial;
    font-weight: 900;

    @include mq($from: desktop) {
        top: -$gs-gutter*2;
        left: 20px;
        bottom: auto;
    }
}

.recipe__article {
    padding: 0 12px;
    padding-bottom: 44px;

}

.recipe__gutter-wrapper {
    display: none;

    @include mq($from: desktop) {
        display: flex;
        flex-basis: 5%;
        position: sticky;
        top: 0;
        height: 100vh;
        border-right: 1px solid $grey;
    }
}

.recipe__article--byline-image {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: $grey;
    overflow: hidden;
    left: .5vw;
    top: $gs-baseline;
}

.recipe__article--byline-image .byline-img .byline-img__img {
   width: 150%;
   height: auto;
   margin-left: -25%;
   filter: grayscale(100%);
}

.recipe__article--next-button {
    position: absolute;
    bottom: $gs-gutter / 4;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid lighten($neutral-1, 50%);
    z-index: 200;
    transition: transform .5s ease-in-out;
    transform: rotate(90deg);
    left:$gs-gutter / 2;

    @include mq($from: desktop) {
        width: 50px;
        height: 50px;
        border: 1px solid $grey;

    }

    .inline-icon {
        fill: #000000;
    }

    svg {
        margin-left: auto;
        margin-right: auto;
        @include mq($from: desktop) {
            width: 100%;
            height: auto;
        }
    }

    &.top {
        transform: rotate(270deg);
    }
}

.recipe__article-wrapper {
    @include mq($from: desktop) {
        flex-basis: 45%;
        float: right;
    }

    @include mq($from: wide) {
        flex-basis: 55%;
    }
}

.recipe__article--headline, .recipe__article--content {
    @include mq($from: desktop) {
        margin-left: auto;
        margin-right: auto;
    }
}

.recipe__article--contributor {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 12px;

    @include mq($from: desktop) {
        margin-left: -90px;
        position: fixed;
    }
}

.recipe__article--headline {
    margin-top: 6px;
    margin-bottom: 24px;
    color: $neutral-1;

    @include mq($from: desktop) {
        margin-top: 20px;
    }

    @include mq($from: wide) {
        h1 {
            padding-right: $padding-wide;
        }
    }
}

.recipe__content {
    padding-top: 6px;
    border-top: 1px solid $grey;

    p {
        font-size: 18px;

        @include mq($from: desktop) {
            padding-right: 50px;
        }

        @include mq($from: wide) {
            padding-right: $padding-wide;
        }
    }
}

.recipe__content > *:nth-child(n+3) {
    display: none;
}

.recipe__content.js-visible > *:nth-child(n+3) {
    display: block;
}

.recipe__article--read-more.js-x-sign {
    svg {
        transform: rotate(45deg);
    }
}

.recipe__article--meta {
    padding-top: 10px;
}

.recipe__article--meta .content__series-label {
    float: none;
}

.recipe__article--meta .content__series-label .content__series-label__link {
    color: $features-main-2;
    font-weight: 900;
    font-size: 18px;
}

.recipe__content figure.element,
.recipe__content aside.element {
    margin-left: 0;
}

.recipe__article--next-recipe {
    opacity: 0;
    position: fixed;
    bottom: 0px;
    transition: opacity .5s ease-in-out;
    z-index: 1050;

    @include mq($from: desktop) {
        color: $grey-three;
    }
    .kicker {
        color: $features-main-2;

        &:after {
            content: '/';
            color: rgba(51, 51, 51, .2);
        }
    }
    &.visible {
        opacity: 1;
    }
}

.recipe__article--next-text {
    position: inherit;
    bottom: 0px;
    padding-left: $gs-gutter * 3;
    padding-right: 4%;
    background-color:$neutral-6;
    padding-bottom: 6px;
    padding-top: 6px;
    transform: translateY(100%);
    transition: transform .5s ease-in-out;
    box-sizing: border-box;
    width: 100%;
    min-height: 40px;

    &.visible {
        transform: translateY(0%);
    }

    h2 {
        @include fs-headline(2);
        font-weight: 900;
        line-height: 18px;
    }

    @include mq($from: desktop) {
        background-color: #ffffff;
        padding-left: 1%;
        padding-bottom: 14px;

        h2 {
            font-size: 22px;
            line-height: 24px;
        }
    }
}

.recipe__article--structured {
    margin-top: 36px;
    border-top: 4px solid $grey;
    padding-top: 8px;

    @include mq($from: desktop) {
        margin-top: 50px;
    }
    .structured-meta {
        font-family: $f-serif-headline;
        font-size: 16px;
        font-weight: 900;
    }

    .structured-meta__circle {
        border: 1px solid $features-main-2;
        width: 30px;
        height: 27px;
        margin-right: 6px;
        text-align: center;
        padding-top: 3px;
        color: $features-main-2;

        &:nth-child(2) {
            margin-left: 12px;
        }
    }
}

.recipe__article--structured-image {
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    margin-top: -$gs-baseline / 1.5;
    height: 220px;
    overflow: hidden;
}

.recipe__article--structured-headline {
    margin-bottom: 24px;

    @include mq($from: wide) {
        h1 {
            padding-right: $padding-wide;
        }
    }
}

.recipe__article--structured-meta {
    margin-bottom: 8px;
}

.recipe__article--structured-ingredients {
    margin-bottom: 24px;
    margin-top: 18px;

    @include mq($from: desktop) {
        padding-right: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    @include mq($from: wide) {
        padding-right: $padding-wide;
    }

}

.ingredients-list {
    &:nth-child(odd) {
        padding-right: 1%;
    }
    flex: 0 49%;
}

.ingredients-list, .method-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.ingredients-list {
    margin-bottom: $gs-baseline;
    li:not(.recipe__article--list-title) {
        font-family: $f-sans-serif-text;
        font-size: 14px;
        border-top: 1px solid $grey;
        margin-bottom: 6px;
    }
}

.recipe__article--structured-byline, .recipe__article--list-title {
    @include fs-headline(3)
    font-size: 18px;
    font-weight: 900;
    color: $features-main-2;
    margin-bottom: $gs-baseline;
}

.recipe__article--structured-byline {
  margin-bottom: $gs-baseline / 4;
}

.recipe__article--list-title {
    .ingredients-list & {
      &:before {
          width: 100%;
      }
    }

    &:before {
        display: block;
        content: '';
        height: 4px;
        background-color: $features-main-2;
        @include mq($from: desktop) {
            width: 50%;
        }
    }
}

.method-list {
    margin-bottom: 24px;

    @include mq($from: desktop) {
        padding-right: 50px;
    }

    @include mq($from: wide) {
        padding-right: $padding-wide;
    }

    li:not(.recipe__article--list-title) {
        font-family: $f-sans-serif-text;
        border-top: 1px solid $grey;
        margin-bottom: 24px;
    }
    .number {
        font-size: 48px;
        font-family: $f-serif-headline;
        font-weight: 200;
        float: left;
        line-height: 0px;
        margin-top: 26px;
        margin-right: 12px;
        color: $features-main-2;
    }
}

.ad-wrapper {
    background-color: $grey-two;
    margin-top: 20px;
    padding-top: 6px;
    padding-bottom: 6px;

    .ad-container {
        margin-left: auto;
        margin-right: auto;
        width: max-content;
    }
}
