@mixin tone-content-icons(
    $tone,
    $tonal__head-icon) {
    .tonal__head--tone-#{$tone} {
        .commentcount i,
        .commentcount2 i {
            @extend %i-comment--tone-#{$tonal__head-icon};

            @if $svg-support {
                .svg & {
                    @extend %svg-i-comment--tone-#{$tonal__head-icon};
                }
            }
        }
    }

    .tonal__main--tone-#{$tone} {
        .commentcount i,
        .commentcount2 i {
            @extend %i-comment--tone-#{$tone};

            @if $svg-support {
                .svg & {
                    @extend %svg-i-comment--tone-#{$tone};
                }
            }
        }
    }
}

@mixin tone-content(
    $tone,
    $tonal__header-background,
    $tonal__header-text,
    $tonal__header-link,
    $tonal__headline-weight,
    $tonal__headline-colour,
    $tonal__headline-accent,
    $tonal__standfirst-background,
    $tonal__standfirst-text,
    $tonal__standfirst-link,
    $tonal__article-background,
    $tonal__article-link
    ) {
    .tonal--tone-#{$tone},
    %tonal--tone-#{$tone} {
        background-color: $tonal__article-background;

        .tonal__header {
            background-color: $tonal__header-background;

            .content__labels {
                border-bottom-color: rgba($tonal__header-text, .3);
            }

            .content__section-label__link {
                color: $tonal__header-link;
            }

            .content__series-label__link {
                color: $tonal__header-text;
            }

            .content__headline,
            .content__head__comment-count .tone-colour {
                color: $tonal__headline-colour;
            }

            .content__headline {
                font-weight: $tonal__headline-weight;
            }

            .content__headline--byline .tone-colour,
            .content__headline--kicker {
                color: $tonal__headline-accent;
            }

            .content__headline--kicker {
                font-weight: 200;
            }
        }

        .tonal__standfirst {
            color: $tonal__standfirst-text;
            background-color: $tonal__standfirst-background;
            padding-top: $gs-baseline / 2;

            .content__standfirst {
                color: $tonal__standfirst-text;
                margin-bottom: $gs-baseline * 2;
            }

            .content__meta-container {
                border-top-color: rgba($tonal__standfirst-text, .3);
            }

            .bullet:before,
            ul > li:before {
                background-color: rgba($tonal__standfirst-text, .4);
            }

            .u-underline {
                color: $tonal__standfirst-link;
                border-bottom-color: rgba($tonal__standfirst-text, .3);

                &:hover {
                    border-bottom-color: rgba($tonal__standfirst-text, .7);
                }
            }
        }

        .tonal__main {
            @include mq(phablet) {
                padding-top: $gs-baseline * 2;
            }

            .tone-colour,
            %tone-colour,
            &.tone-colour {
                &,
                &:active,
                &:focus,
                &:hover {
                    color: $tonal__article-link;
                }
            }

            .tone-accent-border {
                border-color: $tonal__headline-accent;
            }

            .drop-cap,
            .element-pullquote cite {
                color: $tonal__article-link;
            }

            .open__cta-icon {
                background-color: $tonal__article-link;
            }

            .element-pullquote span {
                fill: $tonal__article-link;
            }
        }
    }
}
