.content__article-body--truncated {
    max-height: 550px;
    overflow: hidden;
    position: relative;
}

.content__truncation-overlay {
    display: none;

    .content__article-body--truncated & {
        display: block;
        position: absolute;
        bottom: 0;
        height: 0;
        box-shadow: 0 0px 120px 60px #fff;
        width: 100%;
        border-bottom: solid 40px #ffffff;
    }
}

.content__read-more-button {
    display: none;

    .content__article-body--truncated & {
        display: block;
        position: absolute;
        bottom: 0;
    }
}
