@import java.time.format.DateTimeFormatter
@(fm: pa.FootballMatch, round: pa.Round)

@import implicits.Football._
@import conf.Configuration
@import model.CompetitionDisplayHelpers.cleanTeamNameSpider

<div class="football-match" id="football-match-@fm.id">
    <div class="football-match__container">
        <div class="football-match__team football-match__team--home @if(fm.homeTeam.isGhostTeam){football-match__team--ghost}">
            @if(!fm.homeTeam.isGhostTeam){
                <img class="team-crest knockout--crest" alt="" src="@Configuration.staticSport.path/football/crests/120/@{fm.homeTeam.id}.png" />
            }
            @cleanTeamNameSpider(fm.homeTeam.knockoutName)
            @if(fm.hasStarted){
                <span class="football-match__score">@fm.homeTeam.score</span>
            }
        </div>
        <div class="football-match__details">
            @if(round.name.exists(_ == "Final")) {
                <div class="bigfatfinal">
                    @fragments.inlineSvg("euro_2020_badge", "badges", List("world__cup-svg", "world__cup-badge", "bigfatfinal__image"))
                    <div class="football-match__name"><b>Final</b></div>
                </div>
            }
            @if(fm.isFixture){
                <div class="football-match__date">
                    <span class="football-match__kickoff">@fm.date.format(DateTimeFormatter.ofPattern("HH:mm"))</span>
                    @fm.date.format(DateTimeFormatter.ofPattern("E dd MMMM"))
                </div>
            }
            @fm.comments.map { comments =>
                <div class="football-match__comments">@comments.reverse.dropWhile(_ == '.').reverse</div>
            }

        </div>
        <div class="football-match__team football-match__team--away @if(fm.awayTeam.isGhostTeam){football-match__team--ghost}">
            @if(!fm.awayTeam.isGhostTeam){
                <img class="team-crest knockout--crest" alt="" src="@Configuration.staticSport.path/football/crests/120/@{fm.awayTeam.id}.png" />
            }
            @cleanTeamNameSpider(fm.awayTeam.knockoutName)
            @if(fm.hasStarted){
                <span class="football-match__score">@fm.awayTeam.score</span>
            }
        </div>
        <div class="football-match__victory-line"></div>
    </div>
</div>
