.identity-upsell-title {
    @include fs-headlineGarnett(2);
    font-weight: 600;
    .identity-upsell-title__title {
        font-size: 1em;
    }
    .identity-upsell-title__subtitle {
        font-weight: 100;
    }
}
