.identity-upsell-consent-card-grid {
    display: grid;
    grid-row-gap: $gs-baseline;
    grid-auto-columns: 1fr;
    &:not(:first-child) {
        margin-top: $gs-baseline;
    }
    @include mq(tablet) {
        display: grid;
        grid-column-gap: $gs-gutter;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
    }
}

.identity-upsell-consent-card {
    @include fs-bodyCopy(2);
    background: $brightness-97;
    box-shadow: inset ($gs-gutter / 4) 0 0 0 $brightness-93;
    padding: $gs-baseline /3 $gs-gutter $gs-baseline $gs-gutter / 1.5;
    display: flex;
    flex-direction: column;
    .identity-upsell-consent-card__title {
        @include fs-headline(25);
        font-weight: 600;
        margin-bottom: $gs-baseline / 2;
    }
    .identity-upsell-consent-card__description {
        color: $brightness-20;
        flex: 1 1 auto;
    }
    .identity-upsell-consent-card__footer {
        margin-top: $gs-baseline;
    }
}

.identity-upsell-consent-card-footer {
    margin-top: $gs-baseline;
    margin-bottom: $gs-baseline;
    display: flex;
    flex-direction: column;
    @include mq(tablet) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .identity-upsell-consent-card__link {
        color: $brightness-7;
    }
}

