.identity-upsell-subheader {
    background-color: $brightness-97;
    border-bottom: 1px solid $brightness-86;
    position: relative;
    padding-bottom: $gs-baseline * 4;
    padding-top: $gs-baseline;
    & .identity-upsell-subheader__graphics {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        svg {
            display: block;
        }
    }
    & .identity-upsell-subheader__graphic {
        svg {
            width: auto;
            height: auto;
        }
        &.identity-upsell-subheader__graphic--circlesLeft {
            left: 0;
            bottom: 0;
            position: absolute;
            transform-origin: bottom left;
        }
        &.identity-upsell-subheader__graphic--circlesRight {
            right: 0;
            bottom: 0;
            position: absolute;
            transform-origin: bottom right;
        }
        &.identity-upsell-subheader__graphic--circlesLeft,
        &.identity-upsell-subheader__graphic--circlesRight {
            @include mq($until: wide) {
                transform: scale(.75)
            }
            @include mq($until: leftCol) {
                transform: scale(.5)
            }
            @include mq($until: tablet) {
                transform: scale(.33)
            }
        }
    }
}

.identity-upsell-wrapper {
    background: #ffffff;
    border-bottom: 1px solid $brightness-86;
}

.identity-upsell-layout {
    max-width: gs-span(6);
    margin: auto;
    @include mq(phablet) {
        max-width: gs-span(8);
    }
    @include mq(desktop) {
        max-width: gs-span(10);
    }
    &.identity-upsell-layout--padding {
        @include mq($until: phablet) {
            max-width: gs-span(6) - $gs-gutter;
            padding-left: $gs-gutter/2;
            padding-right: $gs-gutter/2;
        }
    }
}
.identity-upsell-block {
    width: 100%;
    box-sizing: border-box;
    padding: $gs-baseline $gs-gutter/2 $gs-baseline * 3.5;
    border-top: 2px solid $brightness-86;
    @include mq(phablet) {
        margin: 0 $gs-gutter/-2;
        box-shadow: -1px 0 0 $brightness-86;
    }
    &:first-child {
        border-top: 0;
    }
    &.identity-upsell-block--side-by-side {
        .identity-upsell-block__container {
            & > * {
                margin-bottom: $gs-baseline;
                flex: 1 0 0;
            }
            @include mq(tablet) {
                display: flex;
                margin: 0 $gs-gutter/2*-1;
                > * {
                    margin: 0 $gs-gutter/2;
                    margin-bottom: 0;
                }
            }
        }
        &.identity-upsell-block--side-by-side--backwards {
            .identity-upsell-block__container {
                flex-direction: row-reverse;
            }
        }
    }
    .identity-upsell-block--half-width {
        @include mq(desktop) {
            width: gs-span(5);
        }
    }
    a.u-underline {
        color: $brightness-7;
    }
}

.identity-upsell-title {
    @include fs-headline(35);
    font-weight: 600;
    margin-bottom: $gs-baseline * 2;
    &.identity-upsell-title--hero {
        @include fs-headline(5, true);
        @include mq(tablet) {
            @include fs-headline(75, true);
        }
    }
    .identity-upsell-title__title {
        font-size: 1em;
    }
    .identity-upsell-title__subtitle {
        font-size: 1em;
        font-weight: 100;
        margin-top: $gs-baseline / 6;
    }
    .identity-upsell-title__subtext {
        @include fs-bodyCopy(2);
        margin-top: $gs-baseline;
        font-weight: 100;
    }
}

.identity-upsell-legal-text-block {
    @include fs-textSans(4);
    color: $brightness-46;
}


