
.trailblock {
    padding: 0 $gutter;
}

    .trailblock ul {
        margin-bottom: 0px;
    }

    .trailblock.shut .count {
        display: inline-block;
    }

    .trailblock.rolled-up,
    .trailblock.rolled-out {
        margin-top: 0px;
    }

.trailblock-topstories .trail-headline {
    @extend .type-3;
}

.trailblock-topstories li:first-child .b2 { border-top:none;}

.toggle-trailblock {
    @extend .type-8;
    position: absolute;
    top: 0px;
    right: 0px;
    color: #ffffff;
    padding: 15px $gutter $baseline*2 $baseline*2;
    cursor: pointer;
    background-color: transparent;
    box-shadow: none;
    font-weight: normal;
    text-shadow: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

    .toggle-trailblock:hover,
    .toggle-trailblock:active {
        box-shadow: none;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    .sub-section-head .toggle-trailblock {
        color: #888;
    }
