/* ==========================================================================
   Trailblocks
   ========================================================================== */
.trailblock {
    padding: 6px $gutter 24px;
    
    & + & {
       border-top: 1px solid #B3B3B4;
       margin-top: 12px;
    }
}
    .trailblock ul {
        margin-bottom: 0;
    }

/* Trailblock expandables
   ========================================================================== */
.front-section {
    overflow: auto;
}

.front-section .trailblock.is-shut > ul,
.front-section .trailblock.is-shut > .cta,
.trailblock.is-shut .panel {
    display: none;
}

.trailblock.is-shut {
    padding: 0 $gutter 12px;
}

.trailblock.is-shut .count {
    display: inline-block;
}

.trailblock.is-shut .cta__icon {
    @include rotate(180deg);
}
