/* ==========================================================================
   Trail object
   ========================================================================== */
.trail {
    overflow: hidden;
    margin: 0;
    border-bottom: 1px solid #676767;
    padding: 0 0 (24/16)+em 0;
}

  .trail:last-child {
      border-bottom: none;
  }

.trail__headline {
  @extend %type-2;
  min-height: 72px;
  color: #000;
}

  .trail__headline a,
  .trail__headline a:hover,
  .trail__headline a:link,
  .trail__headline a:active,
  .trail__headline a:visited {
    color: #000;
  }

  .trail__headline a:active {
    text-decoration: underline;
  }

.trail__text {
  @extend %type-3;
  display: inline;
  padding: 0;
  color: #929497;

  @media screen and (min-width: 37.5em) {
    clear: none;
  }
}

/* ==========================================================================
   Trail modifiers
   ========================================================================== */


/* Featured
 ========================================================================== */
.trail--featured {

  .trail__headline {
    @extend %type-1;
    min-height: 72px;

    a {
      display: block;
      padding-bottom: 36px;
    }
  }

  .trail__img {
    width: 100%;
    vertical-align: bottom;
    margin-bottom: 12px;
  }
}

/* Thumbnail
 ========================================================================== */
.trail--thumbnail {
  .media__img { margin-right: 0px; }
}

/* Misc
 ========================================================================== */
/**
 * @todo: Clean these up into proper modifiers
 **/
.matches-container .trail__text {
    display: none;
}

.competition .trail {
    margin-top: $baseline*3;
    border-bottom: none;
}

