/* ==========================================================================
   Trailblocks
   ========================================================================== */
.trailblock {
  padding: 6px $gutter 24px $gutter;
}
    .trailblock ul {
        margin-bottom: 0px;
    }

/* Trailblock expandables
   ========================================================================== */
.front-section .trailblock.is-shut > ul,
.front-section .trailblock.is-shut > .cta,
.trailblock.is-shut .panel {
  display: none;
}

.trailblock.is-shut {
  padding: 0px $gutter 12px $gutter;
}

.trailblock.is-shut .count {
  display: inline-block;
}

.trailblock.is-shut .cta__icon {
  @include rotate(180deg);
}

