// Form
// ============================================================================

/**
 * Form's `border-top` style.
 *
 * @type List
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-form-border-top: 1px solid guss-colour(guardian-brand, $pasteup-palette) !default;


// Fieldset
// ============================================================================

/**
 * Fieldset's `border-bottom` style.
 *
 * @type List
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-fieldset-border-bottom: 1px solid guss-colour(guardian-brand, $pasteup-palette) !default;

/**
 * Fieldset's `background-color`.
 *
 * @type Color
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-fieldset-background-colour: guss-colour(neutral-8, $pasteup-palette) !default;

/**
 * Fieldset headline's `color`.
 *
 * @type Color
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-fieldset-headline-colour: guss-colour(neutral-1, $pasteup-palette) !default;

/**
 * Fieldset num's `color`.
 *
 * @type Color
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-fieldset-num-colour: guss-colour(news-main-2, $pasteup-palette) !default;


// Text fields (eg: textarea and text input), labels and notes
// ============================================================================

/**
 * Label's `color`.
 *
 * @type Color
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-label-colour: guss-colour(neutral-1, $pasteup-palette) !default;

/**
 * Text fields' `color`.
 *
 * @type Color
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-input-colour: guss-colour(neutral-1, $pasteup-palette) !default;

/**
 * Text fields' `border-color`.
 *
 * @type Color
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-input-border-colour: guss-colour(neutral-4, $pasteup-palette) !default;

/**
 * Text fields' `border-color` when field is focused.
 *
 * @type Color
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-input-border-colour-focus: guss-colour(guardian-brand, $pasteup-palette) !default;

/**
 * Note's `color`.
 *
 * @type Color
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-note-colour: guss-colour(neutral-2, $pasteup-palette) !default;


// Errors
// ============================================================================

/**
 * Label's error `color`.
 *
 * @type Color
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-error-label-colour: guss-colour(error, $pasteup-palette) !default;

/**
 * Input's error `color`.
 *
 * @type Color
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-error-input-colour: guss-colour(error, $pasteup-palette) !default;

/**
 * Input's error `border-color`.
 *
 * @type Color
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-error-input-border-colour: guss-colour(error, $pasteup-palette) !default;

/**
 * Error message's `color`.
 *
 * @type Color
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-error-message-colour: guss-colour(error, $pasteup-palette) !default;


// Pseudo radio buttons
// ============================================================================

/**
 * Pseudo radio's `color`.
 *
 * @type Color
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-radio-colour: guss-colour(neutral-4, $pasteup-palette) !default;

/**
 * Pseudo radio's `color` when checked.
 *
 * @type Color
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-radio-colour-checked: guss-colour(guardian-brand, $pasteup-palette) !default;

/**
 * Pseudo radio's `border` style.
 *
 * @type List
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-radio-border: 1px solid transparent !default;

/**
 * Pseudo radio's `border-color` when hovered.
 *
 * @type List
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-radio-border-hover: 1px solid guss-colour(neutral-2, $pasteup-palette) !default;

/**
 * Pseudo radio's `border-color` when checked.
 *
 * @type List
 *
 * @requires {function} guss-colour
 *
 * @group forms
 */
$pasteup-forms-radio-border-checked: 1px solid guss-colour(guardian-brand, $pasteup-palette) !default;
