@import '_forms.config';

/*doc
---
title: Forms
name: forms
category: Common
---

```html_example
<form class="form">
    <fieldset class="fieldset">
        <div class="fieldset__heading">
            <h2 class="form__heading">
                Form Heading
            </h2>
            <div class="form__note">
                Form Note. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, ratione!
            </div>
        </div>
        <div class="fieldset__fields">
            <ul>
                <li class="form-field">
                    <label class="label" for="field-1">Label</label>
                    <input class="text-input" name="field-1" />
                </li>
                <li class="form-field">
                    <label class="label" for="field-2">Another label</label>
                    <input class="text-input" name="field-2" />
                </li>
                <li class="form-field">
                    <div class="form-field__note">
                        <a href="#">Forgotten your password?</a>
                    </div>
                    <button type="submit" class="submit-input">Submit</button>
                    <label class="check-label check-label--helper">
                        <input type="checkbox" />
                        Remember me
                    </label>
                </li>
            </ul>
        </div>
    </fieldset>
</form>
```
*/

/**
 * Fix a bug Internet Explorer 8 where text in password fields
 * would become invisible when `font-family` references a webfont.
 *
 * @group forms
 */
[type=password] {
    font-family: sans-serif !important;
}

/**
 * Default form styles
 *
 * @group forms
 */
.form {
    margin-top: $gs-baseline*2;
    margin-bottom: $gs-baseline*2;
}

.form__heading {
    @include fs-bodyHeading(3);
    margin-left: 0;
    margin-right: 0;
}

.form__note,
.form-field__note {
    font-family: $pasteup-forms-fields-font-family;
    font-size: 14px;
    margin-bottom: 8px;
}

.fieldset {
    border: 0;
    border-top: $pasteup-forms-fieldset-border-top;
    display: table;
    padding: (($gs-baseline/3)*4 - 1) 0 ($gs-baseline*2);
    margin: 0;
}

@include mq(desktop) {
    .fieldset__heading {
        display: table-cell;
        padding-right: $gs-gutter*5;
        width: gs-span(3);
        vertical-align: top;
    }

    .fieldset__fields {
        display: table-cell;
        vertical-align: top;
        width: gs-span(6);
    }
}

.form-fields-group .form-field {
    margin-bottom: 0;
}

.form-field {
    list-style: none;
    margin: 0 0 $gs-baseline*2;
    padding: 0;
}

.form-field__submit {
    .form-field__note {
        margin: 0 0 $gs-baseline*2;

        @include mq(desktop) {
            float: right;
            width: 60%;
            margin: 0;
        }
    }
}

.form-field--no-margin {
    margin: 0;
}

.form-field--error {
    .label {
        color: $pasteup-forms-error-colour;
    }

    .text-input,
    .text-input:focus {
        border-color: $pasteup-forms-error-field-border-colour;
    }
}

.form__error {
    @include fs-textSans(2);
    background-color: $pasteup-forms-error-background;
    border-bottom: 1px solid $pasteup-forms-error-border-colour;
    border-top: 1px solid $pasteup-forms-error-border-colour;
    color: $pasteup-forms-error-colour;
    margin-top: 6px;
    padding: 7px ($gs-baseline/3)*2;
}

.form__success {
    @include fs-textSans(2);
    background-color: $pasteup-forms-success-background;
    border-bottom: 1px solid $pasteup-forms-success-border-colour;
    border-top: 1px solid $pasteup-forms-success-border-colour;
    color: $pasteup-forms-success-colour;
    margin-top: $gs-baseline/2;
    padding: 7px ($gs-baseline/3)*2;
}

.form-field__error {
    color: $pasteup-forms-error-colour;
    margin-top: $gs-baseline/2;
}

.form-field__note--below {
    margin-bottom: 0;
    margin-top: $gs-baseline/2;
}

.form-field__note--left {
    float: left;
}

.form-field__note--right {
    float: right;
    margin-left: $gs-gutter;
}

.form-fields__inline {
    ul {
        margin: 0;
        padding: 0;

        .form-field {
            display: inline-block;
        }
    }

    .form-fields__heading {
        @include fs-bodyHeading(3, true);
        margin: 0 0 $gs-baseline;
        display: block;
    }
}

.form-fields--date-of-birth .form-field {
    margin: 0 18px 0 0;
}

.label {
    cursor: pointer;
    display: block;
    margin-bottom: 6px;
}

.text-input,
.textarea {
    border: 1px solid $pasteup-forms-fields-border-colour;
    @include box-shadow(none);
    @include box-sizing(border-box);
    color: $pasteup-forms-fields-colour;
    display: inline-block;
    font-family: $pasteup-forms-fields-font-family;
    padding: 8px 8px 7px;
    font-size: 16px;
    line-height: 1.4;
    outline: none;
    @include border-radius(0);
    width: 100%;
    -webkit-appearance: none;

    &:focus {
        border-color: $pasteup-forms-fields-border-colour-focus;
    }

    @include mq(tablet) {
        font-size: 14px;
    }
}

.textarea {
    resize: vertical;
}

.textarea--no-resize {
    min-height: ($gs-baseline/3)*20;
    resize: none;
}

.textarea--mid {
    min-height: $gs-baseline*9;
}

.textarea--long {
    min-height: ($gs-baseline/3)*40;
}

.submit-input {
    background: $pasteup-forms-submit-background;
    border: 0 none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 0 $gs-gutter 0 0;
    min-width: gs-span(2);
    padding: 11px $gs-gutter/2;
    outline: none;
    text-align: center;

    &:hover,
    &:focus {
        background: $pasteup-forms-submit-background-focus;
    }

    &:active {
        background: $pasteup-forms-submit-background-active;
    }
}

.submit-input[disabled] {
    background: $pasteup-forms-submit-background-disabled;
}

.check-label,
.radio-label {
    display: block;
    font-family: $pasteup-forms-fields-font-family;
    font-size: 14px;
    margin-bottom: $gs-baseline/3;
    padding-left: $gs-gutter;
}

.check-label--helper {
    display: inline-block;
    vertical-align: middle;
}

[type=checkbox],
[type=radio] {
    float: left;
    height: 13px;
    margin-left: -$gs-gutter;
    margin-top: 2px;
    width: 13px;
}

