.crossword__cell {
    cursor: pointer;
    fill: #ffffff;
}

.crossword__cell--highlighted {
    &,
    .crossword__grid--focussed & {
        fill: $xword-highlight;
    }
}

.crossword__cell--focussed {
    &,
    .crossword__grid--focussed & {
        fill: $xword-focussed;
    }
}

.crossword__cell-number {
    font-family: $f-sans-serif-text;
    font-size: 10px;
}

.crossword__cell-text {
    display: inline-block;
    font-family: 'Rock Salt', cursive;
    opacity: 1;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: bold;
    fill: #3f4ac3; // biro blue
    transition: opacity .15s ease-in;

    @each $xword, $cells in $xword-grid-sizes {
        .crossword__container--#{$xword} & {
            font-size: ceil(1.13px * $cells);

            @include mq(tablet) {
                font-size: 1px * $cells;
            }
        }
    }
}

.crossword__cell-text--error {
    fill: darken(colour(error), 20%);
    opacity: 0;
}
