.crossword__clues-header {
    @include fs-header(1);
    border-top: 1px solid colour(crosswordAccent2);
    border-bottom: 1px dotted colour(neutral-3);
    padding-bottom: $gs-baseline * .75;
}

.crossword__clues-list {
    margin: 0;
    margin-bottom: $gs-baseline;
}

.crossword__clue {
    position: relative;
    cursor: pointer;
    @include fs-textSans(1);
    padding: $gs-baseline * .25 0;
    list-style-type: none;
    padding-left: 2em;

    &:before {
        content: attr(value);
        position: absolute;
        left: 0;
        font-weight: bold;
        -webkit-font-smoothing: initial;
    }
}

.crossword__clue--selected {
    font-weight: bold;
    color: darken(colour(crosswordAccent2), 20%);
}

.crossword__clue--answered {
    color: colour(neutral-2);
}
