.crossword__controls {
    display: block;
    margin-bottom: $gs-baseline / 2;

    .button {
        margin-bottom: $gs-baseline / 2;
    }

    .button--secondary {
        color: colour(neutral-2);
    }

    // Extra specificity needed to overcome above rule
    .crossword__controls__button--confirm {
        background-color: colour(comment-support-3);
        color: #000000;
        border: none;
    }

    .button--crossword--current {
        @include button-colour(
            $fill-colour: lighten(colour(crosswordAccent2), 30%),
            $border-color: lighten(colour(crosswordAccent2), 30%),
            $text-colour: darken(colour(crosswordAccent2), 20%),
            $hover-colour: lighten(colour(crosswordAccent2), 10%),
            $hover-border: lighten(colour(crosswordAccent2), 10%)
        );
        &:hover,
        &:focus,
        &:active {
            color: #ffffff;
        }
    }
}
