// based on cellSize + borderSize from
// projects/common/modules/crosswords/constants.js
$xword-cell-width: 31px;
$xword-border-width: 1px;

$xword-highlight: lighten(colour(crosswordAccent2), 30%);
$xword-focussed: lighten(colour(crosswordAccent2), 10%);
$xword-ink: #3f4ac3; // biro blue

$xword-grid-sizes: (
    quick: 13,
    cryptic: 15
);
