@(page: CommentPage)(implicit request: RequestHeader)

<div class="d-discussion"
     data-page-count="@page.pages">
	<div class="d-discussion__header">
		<span class="d-discussion__disclaimer d-meta-item">Comments sorted by newest first</span>
	</div>
	<ul class="d-thread">
	    @page.comments.map{ comment =>
	        @fragments.comment(comment, page.isClosedForRecommendation)
	    }
	</ul>
</div>

<script type="text/template" id="tmpl-comment-box">@fragments.commentBox(true, "")</script>
<script type="text/template" id="tmpl-banned-user">@fragments.cannotComment()</script>