@(comment: Comment, showMore: Boolean = false)(implicit request: RequestHeader)
<div class="comment comment--speechy" itemscope itemtype="http://schema.org/Comment">
    <h2 class="article__meta-heading tone-colour">Top comment</h2>
    <div class="comment__inner">
        <div class="comment__body" itemprop="text">
            @withJsoup(BulletCleaner(comment.body))(
                InBodyLinkCleaner("in body link")(Edition(request))
            )
            <p> askljdhajksdh akjhsd kja dkja dkjha kjfh wieug47irtywo3ri; oaslckw ngp4 gpoiehr oug w8fu apeojkldksajf eoiwhg owuehg iousdh fkjdnf s  askljdhajksdh akjhsd kja dkja dkjha kjfh wieug47irtywo3ri; oaslckw ngp4 gpoiehr oug w8fu apeojkldksajf eoiwhg owuehg iousdh fkjdnf s  askljdhajksdh akjhsd kja dkja dkjha kjfh wieug47irtywo3ri; oaslckw ngp4 gpoiehr oug w8fu apeojkldksajf eoiwhg owuehg iousdh fkjdnf s  askljdhajksdh akjhsd kja dkja dkjha kjfh wieug47irtywo3ri; oaslckw ngp4 gpss,mdfjksdfjkshoiehr oug w8fu apeojkldksajf eoiwhg owuehg iousdh fkjdnf s  askljdhajksdh akjhsd kja dkja dkjha kjfh wieug47irtywo3ri; oaslckw ngp4 gpoiehr oug w8fu apeojkldksajf eoiwhg owuehg iousdh fkjdnf s  askljdhajksdh akjhsd kja dkja dkjha kjfh wieug47irtywo3ri; oaslckw ngp4 gpoiehr oug w8fu apeojkldksajf eoiwhg owuehg iousdh fkjdnf s </p>
        </div>

        <div class="comment__meta">
            @fragments.person(comment.profile)
            <time class="comment__datecreated" datetime="@comment.date.toString("yyyy-MM-dd'T'HH:mm:ss'Z'")" data-timestamp="@comment.date.getMillis">
                @Format(comment.date, "d MMM y")
            </time>
        </div>
        @if(showMore){<a href="#top-comments" data-link-name="CTA Top comment bottom read more" class="comments-link tone-colour">See more comments <i class="i i-comment-light-grey"></i></a>}
    </div>
</div>