@(env: String)

@admin_main("A/B Tests", env, isAuthed = true) {

    <link href="@routes.Assets.at("css/abtests.css")" rel="stylesheet">

    <script type="text/javascript">
        var curl = {
            baseUrl: 'assets/javascripts',
            apiName: 'require'
        }

        var script = document.createElement('script');
        script.async = 'async';
        script.src = '@Static("javascripts/bootstraps/admin.js")';

        document.getElementsByTagName("head")[0].appendChild(script);
    </script>

    <div class="participations">
        <h1>A/B Tests</h1>
        <h3>Your Participations</h3>
    </div>

    <script type="text/template" id="tmpl-participation-template">@fragments.participation()</script>
}
