@(title: String, env: String, isAuthed: Boolean = false, hasCharts: Boolean = false, autoRefresh: Boolean = false)(content: Html)

<!DOCTYPE html>

<html ng-app>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        @if(autoRefresh){
            <meta http-equiv="refresh" content="60">
        }
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/32x32.ico")" />

        <link rel="apple-touch-icon" sizes="144x144" href="@routes.Assets.at("images/144x144.png")" />
        <link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.at("images/114x114.png")" />
        <link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.at("images/72x72.png")" />
        <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("images/57x57.png")" />

        <meta name="application-name" content="The Guardian" />
        <meta name="msapplication-TileColor" content="#214583" />
        <meta name="msapplication-TileImage" content="@routes.Assets.at("images/windows_tile_144_b.png")" />

        <link href="@routes.Assets.at("javascripts/components/bootstrap.css/css/bootstrap.css")" rel="stylesheet" />
        <link href="@routes.Assets.at("javascripts/components/bootstrap.css/css/bootstrap-responsive.css")" rel="stylesheet" />
        <link href="@routes.Assets.at("css/admin.css")" rel="stylesheet">

        @if(hasCharts){
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
            <script type="text/javascript">
                google.load("visualization", "1", {packages:["corechart"]});
            </script>
        }

    </head>
    <body>
        <div class="container-fluid container--global">
            <div class="global-nav navbar">
                <div class="navbar-inner">
                    <div class="global-nav__environment" id="environment"><span class="label label-warning">Environment: @env.toLowerCase</span></div>
                    <ul class="nav">
                        <li><a id="home" href="/admin">Home</a></li>
                    </ul>
                    @if(isAuthed){
                        <ul class="nav pull-right">
                            <li><a href="/logout" id="logout-button">Logout</a></li>
                        </ul>
                    } else {
                        <form action="@controllers.admin.routes.Login.loginPost()" method="post" class="pull-right" style="margin:0px;">
                            <input value="Log In" class="btn btn-primary" type="submit" id="login-button">
                        </form>
                    }
                </div>
            </div>

            @content


            @if(isAuthed){
                <hr/>
                <footer><p>&copy; The Grauniad</p></footer>

            }

        </div>

        <link href='//fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>

    </body>

    <script type="text/javascript">
        var curl = {
            baseUrl: 'assets/javascripts',
            apiName: 'require'
        }

        var script = document.createElement('script');
        script.async = 'async';
        script.src = '@Static("javascripts/bootstraps/admin.js")';

        document.getElementsByTagName("head")[0].appendChild(script);
    </script>
</html>


