@(title: String, env: String, isAuthed: Boolean = false, hasCharts: Boolean = false, autoRefresh: Boolean = false)(content: Html)

@import controllers.admin.routes.UncachedAssets
@import controllers.admin.routes.UncachedWebAssets

<!DOCTYPE html>

<html ng-app>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        @if(autoRefresh){
            <meta http-equiv="refresh" content="60">
        }

        <link rel="shortcut icon" type="image/png" href="@UncachedAssets.at("images/favicon.ico")" />

        <link rel="apple-touch-icon" sizes="144x144" href="@UncachedAssets.at("images/144x144.png")" />
        <link rel="apple-touch-icon" sizes="114x114" href="@UncachedAssets.at("images/114x114.png")" />
        <link rel="apple-touch-icon" sizes="72x72" href="@UncachedAssets.at("images/72x72.png")" />
        <link rel="apple-touch-icon-precomposed" href="@UncachedAssets.at("images/57x57.png")" />

        <meta name="apple-mobile-web-app-title" content="Guardian" />
        <meta name="application-name" content="The Guardian" />
        <meta name="msapplication-TileColor" content="#005689" />
        <meta name="msapplication-TileImage" content="@UncachedAssets.at("images/windows_tile_144_b.png")" />

        <link href="@UncachedWebAssets.at("lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
        <link href="@UncachedAssets.at("css/admin.css")" rel="stylesheet">
        <style>
            .ajax-loading { background-image: url('@UncachedAssets.at("images/ajax-loader.gif")'); }
            .ajax-failed { background-image: url('@UncachedAssets.at("images/ajax-failed.png")'); }
        </style>

        @if(hasCharts){
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
            <script type="text/javascript">
                google.load("visualization", "1", {packages:["corechart"]});
            </script>
        }

    </head>
    <body>
        <div class="container-fluid container--global">

            <div class="global-nav navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/admin">Home</a>
                    </div>
                    <p class="navbar-text label label-warning">Environment: @env.toLowerCase</p>
                    @if(isAuthed){
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/logout" id="logout-button">Logout</a>
                            </li>
                        </ul>
                    } else {
                        <form action="@controllers.admin.routes.OAuthLoginController.login()" method="post" class="navbar-form navbar-right">
                            <input value="Log In" class="btn btn-primary" type="submit" id="login-button">
                        </form>
                    }
                </div>
            </div>

            @content

            @if(isAuthed){
                <hr/>
                <footer><p>&copy; The Grauniad</p></footer>
            }

        </div>

        <link href='//fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>

        <script type="text/javascript">
            var curl = {
                baseUrl: 'assets/javascripts',
                apiName: 'require',
                paths:   {
                    text: 'text', // noop
                    inlineSvg: 'inlineSvg', // noop
                    template: 'template' // noop
                }
            };

            @Html(Static.js.curl)
        </script>
        <script src="//code.jquery.com/jquery.js"></script>
        <script type="text/javascript" src="@UncachedWebAssets.at("lib/bootstrap/js/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@Static("javascripts/bootstraps/admin.js")" async></script>
    </body>
</html>
