@(env: String, os: Map[String, Long], browser: Map[String, Long], combined: Map[String, Long])

@admin_main("Browsers", env, isAuthed = true) {

    <h1>Browser usage on theguardian.com</h1>
    
    <p>
        Collected from Ophan data covering March 1, 2013 to present.
    </p>
    
    <h3>By operating system and browser</h3>

    <p>
        Page views over 10k broken down by combined operating system and browser version across mobile and desktop.
    </p>

    <p>
       total views = @{combined.map {_._2}.sum}
    </p>

    <table border="1" cellpadding="5">


        @combined.toList.sortBy{_._2}.reverse.take(300).zipWithIndex.map { case (row, index) =>
            <tr>
                <td>@{index + 1}</td>
                <td>@row._1</td>
                <td>@row._2.toInt</td>
            </tr>
        }
        
        <caption>
            Windows 5 = XP, Windows 6 = Vista.
        </caption>

    </table>
    
    <h3>By operating system</h3>

    <p>
        Page views over 10k broken down by operating system version
    </p>
    
    <table border="1" cellpadding="5">
        @os.toList.sortBy{_._2}.reverse.filter { _._2 >= 10000 }.zipWithIndex.map { case (row, index) =>
            <tr>
                <td>@{index + 1}</td>
                <td>@row._1</td>
                <td>@row._2.toInt</td>
            </tr>
        }
    </table>
    
    <h2>Browser vendor</h2>
    
    <p>
        Page views over 10k broken down by browser family and version.
    </p>

    <table border="1" cellpadding="5">
        @browser.toList.sortBy{_._2}.reverse.filter { _._2 >= 10000 }.zipWithIndex.map { case (row, index) =>
            <tr>
                <td>@{index + 1}</td>
                <td>@row._1</td>
                <td>@row._2.toInt</td>
            </tr>
        }
    </table>
}
