@import layout.DedupedFrontResult
@(environment: String, dedupedFrontResult: DedupedFrontResult)

@import layout.DedupedContainerResult
@import layout.DedupedItem

@admin_main(s"Deduped For ${dedupedFrontResult.path}", environment, isAuthed = true) {

    <div class="container">
        <div><a href="@controllers.admin.routes.WhatIsDeduped.index()">Back</a></div>

        <h1>@dedupedFrontResult.path</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Collection ID</th>
                    <th>Display Name</th>
                    <th>Deduped</th>
                    <th>Not Deduped but relevant</th>
                </tr>
            </thead>
            <tbody>
            @dedupedFrontResult.results.map { dedupedContainerResult =>
                @defining(
                    if (dedupedContainerResult.deduped.nonEmpty) Option("danger")
                    else if (dedupedContainerResult.validForDedupingButNotDeduped.nonEmpty) Option("info")
                    else None ) { c =>
                    <tr class="@c">
                }
                    <td>@dedupedContainerResult.containerId</td>
                    <td>@dedupedContainerResult.containerDisplayName</td>
                    <td>
                    @dedupedContainerResult.deduped.map { dedupedItem =>
                        <div>@dedupedItem.id</div>
                    }
                    </td>
                    <td>
                    @dedupedContainerResult.validForDedupingButNotDeduped.map { dedupedItem =>
                        <div>@dedupedItem.id</div>
                    }
                    </td>
            }
            </tbody>
        </table>
    </div>
}
