@(paths: List[String])(implicit request: RequestHeader, context: model.ApplicationContext)

@admin_main("What is Deduped?", isAuthed = true) {

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Path</th>
                </tr>
            </thead>
            <tbody>
                @paths.map { path =>
                  <tr>
                    <td>
                      <a href="deduped/@path">@path</a>
                    </td>
                  </tr>
                }
            </tbody>
        </table>
    </div>

}
