@(env: String)(implicit request: RequestHeader)
@import conf.AdminConfiguration.pa
@import org.joda.time.{DateTime, LocalDate}
@import views.support.Format

@admin_main("Football Troubleshooter", env, isAuthed = true) {

@defining((Format(DateTime.now(), "yyyyMMdd"), "Premier League", "100")){ case (today, competition, competitionId) =>

    <h1>Football Troubleshooter</h1>

    <p>How to access the raw feeds to determine if a problem lies in the feeds or in the application</p>

    <p>The current API host is <i>@pa.footballHost</i> and the API key is <i>@pa.footballApiKey</i>.</p>

    <p>To log a support call with PA email <a href="mailto:customer.services@@pressassociation.com">customer.services@@pressassociation.com</a> or call <i>01430 455337</i></p>

    <p><strong>If in doubt raise a support ticket.</strong> (it&apos;s what we pay them for)</p>

    <p>The PA API explorer is <a href="http://pads.pa-sport.com/api/football/">here</a>.</p>

    <h2>Matchday Feed</h2>

    <p><strong>This is the feed you are most likely to be interested in.</strong> This feed shows detailed information on today&apos;s
        matches and is the feed we use while the match is live.</p>

    <p>A single call to this api loads match data for today for <i>all</i> competitions and the date format is <i>YYYYMMDD</i>.</p>

    <p>This api call also includes today&apos;s fixtures and results.</p>

    <p>Here is the API call for today&apos;s live matches:</p>

    <a href="@pa.footballHost/api/football/competitions/matchDay/@pa.footballApiKey/@today">@pa.footballHost/api/football/competitions/matchDay/@pa.footballApiKey/<strong>@today</strong></a>

    <h2>Competitions feed</h2>

    <p>This shows us all the competitions we have access to. You can use it to find the ID of a competition
    that we can use to access other feeds.</p>

    <a href="@pa.footballHost/api/football/competitions/competitions/@pa.footballApiKey">@pa.footballHost/api/football/competitions/competitions/@pa.footballApiKey</a>

    <h2>Fixtures feed</h2>

    <p>Matches will first appear in the fixtures feed. We query each competition separately for all upcoming fixtures.</p>

    <p>Here is the API call for all upcoming fixtures in the <strong>@competition</strong> (id @competitionId). You can get other competition IDs
        from the Competitions feed above.</p>

    <a href="@pa.footballHost/api/football/competition/fixtures/@pa.footballApiKey/@competitionId">@pa.footballHost/api/football/competition/fixtures/@pa.footballApiKey/<strong>@competitionId</strong></a>

    <h2>Results feed</h2>

    <p>Shows the results for completed matches. We query each competition separately for results.</p>

    <p>Here is the API call for results in the <strong>@competition</strong> (id @competitionId). You can get other competition IDs
        from the Competitions feed above and the date format is <i>YYYYMMDD</i>.</p>

    <a href="@pa.footballHost/api/football/competition/results/@pa.footballApiKey/@competitionId/@Format(new LocalDate(2014, 6, 12), "yyyyMMdd")">@pa.footballHost/api/football/competition/results/@pa.footballApiKey/<strong>@competitionId</strong>/<strong>@Format(new LocalDate(2014, 6, 12), "yyyyMMdd")</strong></a>

    <h2>League table</h2>

    <p>Shows all the stats we use to populate the league tables.</p>

    <p>Here is the API call for the league table for <strong>@competition</strong> (id @competitionId). You can get other competition IDs
        from the Competitions feed above and the date format is <i>YYYYMMDD</i>.</p>

    <a href="@pa.footballHost/api/football/competition/leagueTable/@pa.footballApiKey/@competitionId/@today">@pa.footballHost/api/football/competition/leagueTable/@pa.footballApiKey/<strong>@competitionId</strong>/<strong>@today</strong></a>

    <h2>Match stats</h2>

    <p>Detailed match stats for a specific match. You would get the match ID from either the fixtures or matchday or results feed.</p>

    <a href="@pa.footballHost/api/football/match/stats/@pa.footballApiKey/3630511">@pa.footballHost/api/football/match/stats/@pa.footballApiKey/<strong>3630511</strong></a>

    <h2>Line ups</h2>

    <p>Team line ups for a specific match, containing team colours (before we apply darkening, and missing colours default to #eeeeee).</p>

    <a href="@pa.footballHost/api/football/match/lineUps/@pa.footballApiKey/3630511">@pa.footballHost/api/football/match/lineUps/@pa.footballApiKey/<strong>3630511</strong></a>

    <link href="@controllers.admin.routes.UncachedAssets.at("css/football.css")" rel="stylesheet">
}

}
