@(env: String)

@admin_main("Fronts editor", env, isAuthed = true) {

    <div class="fronts">
        <div class="list-picker">
            <div class="list-picker__title">Trail Blocks</div>

            <select data-bind="options: editions, optionsText: 'id', value: $root.selectedEdition, optionsCaption: 'Edition...'"></select>

            <span data-bind="if: $root.selectedEdition()">
                <select data-bind="options: $root.selectedEdition().sections, optionsText: 'id', value: $root.selectedSection, optionsCaption: 'Section...'"></select>

                <span data-bind="if: $root.selectedSection()">
                    <select data-bind="options: $root.selectedSection().blocks, optionsText: 'id', value: $root.selectedBlock, optionsCaption: 'Block...'"></select>
                </span>

            </span>
        </div>

        <div class="finder">
            <div class="finder__title">Latest Articles</div>
            <input type="text" placeholder="url or keyword" 
                data-bind='event: {keyup: latestArticles.search, mousedown: latestArticles.articleSearch, afterpaste: latestArticles.articleSearch}, value:
                latestArticles.term, valueUpdate: ["afterkeydown", "afterpaste"]'/>

            <div class="connectedList throwAway" data-bind="template: {name: 'template_article', foreach: latestArticles.articles()}"></div>
        </div>

        <div class="lists" data-bind="foreach: listsDisplayed">
            <div class="trailblock" data-bind="attr: {'data-list-name': name}">
                <div class="list-header">
                    <a class="list-header__control" data-bind="click: $parent.hideList">HIDE</a>
                    <span class="list-header__title" data-bind="text: name"></span>
                </div>
                <div class="connectedList" data-bind="
                    attr: {id: name}, 
                    template: {name: 'template_article', foreach: list
                }"></div>
            </div>
        </div>
    </div>

    <script type="text/html" id="template_article">
        <div class="trail cf" data-bind="attr: {'data-url': id}">
            <div class="date" data-bind="html: _humanDate"></div>
            <img data-bind="attr: {src: thumbnail}" />

            <h2 class="webTitle" data-edit="webTitle" data-bind="
                visible: !_editing_webTitle(),
                text: webTitle() ? webTitle : '[webTitle]',
                click: _edit
                "></h2>
            <input type="text" placeholder="webTitle" data-bind="
                visible: _editing_webTitle,
                value: webTitle,
                hasfocus: _editing_webTitle
                "/>

            <h2 class="trailText" data-edit="trailText" data-bind="
                visible: !_editing_trailText(),
                html: trailText() ? trailText : '[trailText]',
                click: _edit
                "></h2>
            <textarea type="text" placeholder="trailText" data-bind="
                visible: _editing_trailText,
                value: trailText,
                hasfocus: _editing_trailText
                "/></textarea>
        </div>
    </script>
    
    <script src="@routes.Assets.at("javascripts/fronts.js")"></script>
}
