@(env: String)

@admin_main("Fronts editor", env, isAuthed = true) {

    <div class="fronts">

        <div class="finder">
            <h3>Find
            <input type="text" placeholder="url or keyword" 
                data-bind='event: {keyup: latest.search, mousedown: latest.articleSearch, afterpaste: latest.articleSearch}, value:
                latest.term, valueUpdate: ["afterkeydown", "afterpaste"]'/>
            </h3>

            <div class="connectedSortable throwAway" data-bind='foreach: latest.articles()'>
                <div class="article" data-bind="attr: {'data-url': id}">
                    <a class="article-title" target="_blank" data-bind="html: webTitle, attr: {href: _absUrl}"></a>
                    <div class="meta"  data-bind="text: _humanDate"></div>
                </div>
            </div>
        </div>

        <div class="list">
            <h3>List</h3>
            <div class="connectedSortable" data-bind='foreach: list'>
                 <div class="article" data-bind="attr: {'data-url': url}">
                    <a class="article-title" target="_blank" data-bind="text: url"></a>
                </div>
            </div>
        </div>

    </div>
    
    <script src="@routes.Assets.at("javascripts/fronts.js")"></script>
}