@(env: String, encodingData: List[(String, String, String)])

    @admin_main("Videos with missing encodings", env, isAuthed = true )  {

    <h1>The following return 404s</h1>
    <br/>


    <table class="table table-bordered table-striped table--asset">
        <thead>
            <tr>
                <th class="table__head">Content</th>
                <th class="table__head">Missing encoding asset</th>
            </tr>
        </thead>
        <tbody>
        @encodingData.map { case (title, url, encoding) =>
        <tr>
            <td><a href="@{url}">@{title}</a></td>
            <td>@{encoding}</td>
        </tr>
        }
        </tbody>
    </table>
    }
