@(bucket: String = "aws-frontend-archive")(implicit request: RequestHeader, context: model.ApplicationContext)
@import conf.switches.Switches.ContentPresser

@admin_main("Content Presser (archiver)", isAuthed = true) {
    <h2>Press (archive) an article / interactive page</h2>
    <br>
    <ul>
        <li>
            This will <strong>only</strong> work as expected for article / interactive pages.
        </li>
        <li>
            This tool will only <strong>press</strong> articles / interactive pages. To <strong>serve</strong> the pressed content to readers, please contact the dotcom team (dotcom.platform@@theguardian.com).
        </li>
        <li>
            Please provide full URLs like <strong>https://www.theguardian.com/path</strong>
        </li>
        <li>
            Pressing an article / interactive can take ~10 seconds.
        </li>
    </ul>
    <br>
    <div class="form-horizontal redirect-form">
        <div class="form-group">
            <label for="interactiveUrl" class="control-label col-sm-1">URL:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="interactiveUrlInput" name="interactiveUrl" value="" placeholder="https://www.theguardian.com/path" />
            </div>
        </div>
        <div class="form-group">
            <div class="controls col-sm-offset-1 col-sm-11">
                @if(ContentPresser.isSwitchedOn) {
                    <input class="btn btn-default" id="interactiveUrlBtn" type="button" value="Press"/>
                } else {
                    <div class="col-sm-6">
                        This feature is currently switched off (use the switchboard to re-enable it)
                    </div>
                }
            </div>
        </div>
    </div>
    <br>
    <div id="pressing-waiting">
        <h4 id=progress-status>Progress of pressing</h4>
        <div id="progress-url">No URL provided</div>
        <br>
        <div id="server-message">No pressing in progress</div>
    </div>
  <br>
  <br>
    <h2>Un-press an article / interactive</h2>
    <br>
    <ul>
        <li>
            Un-pressing is not currently an automated process. Please contact the dotcom team (dotcom.platform@@theguardian.com) if you need to un-press an article / interactive.
        </li>
    </ul>
    <script>
        const btn = document.getElementById('interactiveUrlBtn');

        btn.addEventListener('click', function() {
            const interactiveUrl = document.getElementById('interactiveUrlInput').value;

            // don't allow a request to be sent if no url provided
            if (interactiveUrl.length === 0) {
                return;
            }

            const url = new URL(interactiveUrl);

            // don't allow a request to be sent if url cannot be parsed or doesn't contain a path
            if (!url || !url.pathname) {
                return;
            }

            btn.style.display = 'none';
            document.getElementById('server-message').innerText = 'Pressing an article can take up to 10 seconds, please wait';
            document.getElementById('progress-url').innerText = `Pressing: ${url.pathname}`

            fetch(`/press/interactive${url.pathname}`, {
                method : 'POST',
            })
            .then(res => {
                if (res.ok) {
                    const mark = `<mark style="background-color:#00cc00;color:#fff">Pressing successful</mark>`;
                    const linkHref = `https://${"@bucket"}.s3.eu-west-1.amazonaws.com/${url.host}${url.pathname}`;
                    const link = `<a id="preview-link" type="button" target="_blank" href="${linkHref}">Preview</a>`;
                    document.getElementById('server-message').innerHTML = `${mark}<span> - </span>${link}`;
                } else {
                    throw res;
                }
            })
            .catch(e => {
                console.log('error', e);
                const markStyle = 'background-color:#ff0000;color:#fff'
                document.getElementById('server-message').innerHTML = `<mark style=${markStyle}>Pressing failed - please try again</mark>`;
            })
            .finally(() => {
                btn.style.display = 'block';
            });
        });
    </script>
}
