@(charts: Seq[tools.Chart], metadata: MetaData, switches: Seq[com.gu.management.Switchable])(implicit request: RequestHeader)

@main(metadata, Switches.all) {
    <meta http-equiv="refresh" content="60">
} {
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawCharts);

        function drawCharts() {
            @charts.map{ chart =>
                new google.visualization.LineChart(document.getElementById('@chart.id'))
                    .draw(google.visualization.arrayToDataTable(@Html(chart.asDataset)), {
                    title: '@chart.name',
                    legend: 'none' @chart.yAxis.map{ title =>, vAxis: {title: "@title"} }
                });
            }
        }
    </script>


    @charts.map{ chart => <div id="@chart.id" style="max-width: 1200px"></div> }

    <ul id="pingdom"></ul>
    <ul id="riffraff"></ul>

    <style>
        .up, .Completed { color: green; } 
        .down, .Failed { color: red; }
        .Running { color: orange; }
    </style>
    <script type="text/javascript">
        window.addEventListener('load', function() {
                
            var ads = document.querySelectorAll('.ad-slot')
            for (var i = 0; i < ads.length; i++) {
                ads[i].className = 'h';
            }

            document.querySelector('#footer-nav').className = 'h';

            // pingdom
            var pingdom = document.getElementById('pingdom')
            require([
                    'reqwest'
                ]).then(function(r) {
                    r({url:'/radiator/pingdom', type:'json'}, function(status) {
                        JSON.parse(status).checks.filter(function (check) {

                            return /ELB|Host|CDN/.test(check.name);

                            }).forEach(function(check){
                                var li = document.createElement('li');
                                li.className = check.status;
                                li.textContent = check.name;
                                pingdom.appendChild(li);
                            })

                        })
                   })

            // riff raff - requires you to be on the guardian network
        
            require([
                    'reqwest'
                ]).then(function(r) {
                    r({
                        url: 'https://riffraff.gutools.co.uk/api/history?stage=PROD&projectName=frontend&key=oFsACDUt5L2HfLgfdSW2Xf1nbOKHLN5A&pageSize=50', 
                        type: 'jsonp'
                        }, function(deployments) {

                            // a hash of the last deployment each project 
                            var latestDeployments = {};
                            deployments.response.results.filter(function (deployment) {
                                
                                    return /^frontend::/.test(deployment.projectName)

                                }).forEach(function(deploy) {
                                    
                                    var project = deploy.projectName;
                                    if (!latestDeployments.hasOwnProperty(project)) {
                                        latestDeployments[project] = deploy;
                                    }
                                })

                            // render
                            Object.keys(latestDeployments).forEach(function (deployment)  {
                                var d  = latestDeployments[deployment];
                                var li = document.createElement('li');
                                li.className = d.status;
                                li.innerHTML = d.projectName + ' <small>' + (Math.round(new Date(d.time)/1000*60*60)%60) + ' hours ago by ' + d.deployer + '</small>';
                                riffraff.appendChild(li);
                            });

                        })
                   })

        });



    </script>
    }
