@(  charts: Seq[tools.AwsLineChart],
    hitMissCharts: Seq[tools.AwsLineChart],
    cost: tools.MaximumMetric,
    switches: Seq[conf.switches.Switch],
    env: String,
    external: Boolean)

@import org.joda.time.{DateTime, Days}

@admin_main("theguardian.com radiator", env, isAuthed = true, hasCharts = true, autoRefresh = true) {

    <link rel="stylesheet" type="text/css" href="@controllers.admin.routes.UncachedAssets.at("css/radiator.css")">

    <header>
        <span id="logo">the<span class="white">guardian</span>.com dashboard</span>
        <div class="cost"><strong>$@cost.max.toLong</strong> this month</div>
    </header>

    <div class="pingdom-wrapper">
        <h2>Pingdom <small>(external monitoring of our host names)</small></h2>
        <ul id="pingdom"></ul>
    </div>

    <div class="build-wrapper">
        @if(!external) {
            <h2>Teamcity builds</h2>
            @*
            To add another build just append another &buildTypeId=XXXXXX
            Note, it will not show unless you enable the "External status widget" for the build in Teamcity
            *@
            <script type="text/javascript" src="https://teamcity.gutools.co.uk/externalStatus.html?js=1&buildTypeId=bt1304&buildTypeId=Frontend_IntegrationTests&buildTypeId=Frontend_SanityTests"></script>
        }
    </div>


    <div class="expiring-wrapper">
        <h2>Expiring features</h2>
        <ul id="sell-by-date">
            @switches.map{ switch =>
                @defining(Days.daysBetween(new DateTime(), switch.sellByDate.toDateTimeAtStartOfDay).getDays()) { days =>
                    <li class="Expiring expiry-days-@days" title="@switch.name - expires in @days days">
                        @switch.name
                    </li>
                }
            }
        </ul>
    </div>
    <br clear="all"/>
    <div class="pageviews-wrapper">
        <h2>Pageviews <span class="pageviews-per-second"></span></h2>
        <div id="pageviews"></div>
    </div>

    <div class="monitoring-wrapper">
        @if(!external) {
            <div class="riffraff-wrapper">
                <h2>CODE Deployments</h2>
                <ul class="riffraff" id="riffraffCODE"></ul>
                <ul class="deployers" id="deployersCODE"></ul>
            </div>
            <div class="riffraff-wrapper">
                <h2>PROD Deployments</h2>
                <ul class="riffraff" id="riffraffPROD"></ul>
                <ul class="deployers" id="deployersPROD"></ul>
            </div>
        }
    </div>

    @charts.map{ chart => @fragments.lineChart(chart)  }
    @hitMissCharts.map{ chart => @fragments.lineChart(chart) }
}
