@(form: play.api.data.Form[controllers.admin.PageRedirect], urlMsgs: List[String] = List.empty, fileMsgs: List[String] = List.empty)(implicit request: RequestHeader, context: model.ApplicationContext)

@admin_main("Redirector", isAuthed = true) {
    <ul>
        <li>
            This will <strong>only</strong> add the redirect to Next Gen Web. It will <strong>not</strong> add it to
            R2 (classic/desktop site) or mobile apps.
        </li>
        <li>
            This tool can only insert redirects for URLs that do not already exist. (i.e. the current url must 404).
            Redirects for things that exist will not work (this also means you cannot accidentally redirect the /sport page).
        </li>
        <li>
            Use full URLs like <strong>https://www.theguardian.com/somewhere/something</strong>
        </li>
        <li>
            Do <strong>not</strong> include query parameters (e.g. "?CMP=custom_campaign_code") in the <strong>From</strong> field.
        </li>
        <li>
            To delete a redirect fill in the <strong>From</strong> field and leave the <strong>To</strong> field empty.
        </li>
        <li>
            You can only redirect a single page. (you cannot redirect everything under /water)
        </li>
        <li>
            If your redirect does not work immediately give it a few minutes to work its way through the cache.
        </li>
    </ul>

    <form action="/redirect-post" method="POST" class="form-horizontal redirect-form">
        <fieldset>
            <legend>Redirect:</legend>
            <div class="form-group">
                <label for="from" class="control-label col-sm-1">From:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="from" name="from" value="" placeholder="https://www.theguardian.com/from-here" />
                </div>
            </div>
            <div class="form-group">
                <label for="to" class="control-label col-sm-1">To:</label>
                <div class="controls col-sm-6">
                    <input type="text" class="form-control" id="to" name="to" value="" placeholder="https://www.theguardian.com/to-here" />
                </div>
            </div>
            <div class="form-group">
                <div class="controls col-sm-offset-1 col-sm-11">
                    <input class="btn btn-default" type="submit" value="Submit" />
                </div>
            </div>
            @if(urlMsgs.nonEmpty) {
                <div class="form-group label-warning">
                    <div id="server-message" class="controls col-sm-offset-1 col-sm-11">
                    @urlMsgs.mkString
                    </div>
                </div>
            }
        </fieldset>
    </form>

    <form action="/redirect-batch-post" method="POST" class="form-horizontal redirect-form" enctype="multipart/form-data">
        <fieldset>
            <legend>Redirect a batch of URLs from a tab-separated file (fromUrl\ttoUrl\r\n): </legend>
            <div class="form-group">
                <label for="urlfile" class="control-label col-sm-1">File:</label>
                <div class="col-sm-6">
                    <input type="file" class="form-control" id="urlfile" name="urlfile" />
                </div>
            </div>
            <div class="form-group">
                <div class="controls col-sm-offset-1 col-sm-11">
                    <input class="btn btn-default" type="submit" value="Upload & Redirect" />
                </div>
            </div>
            @if(fileMsgs.nonEmpty) {
                <div class="form-group label-warning">
                    <div id="server-message" class="controls col-sm-offset-1 col-sm-11">
                    @fileMsgs.mkString
                    </div>
                </div>
            }
        </fieldset>
    </form>
}
