@(env: String, assets: Seq[tools.AssetData])(implicit request: RequestHeader)

@chart(chart: tools.AwsDailyLineChart) = {
    <div id="@chart.id" class="chart @chart.format.cssClass"></div>

    <script type="text/javascript">
    new google.visualization.LineChart(document.getElementById('@chart.id'))
    .draw(google.visualization.arrayToDataTable(@Html(chart.asDataset)), {
        curveType: 'function',
        colors: [@Html(chart.format.colours.map(c => s"'$c'").mkString(","))],
        chartArea: {
            width: "98%"
        },
        vAxis: {
            title: 'Kb',
            textPosition: 'in',
            viewWindowMode: 'pretty'
        },
        fontName : 'Helvetica'
    });
    </script>
}

@data(asset: tools.AssetData, index: Int) = {
    <h4 id="asset-@index"><i class="glyphicon glyphicon-file"></i> @asset.name</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered table--asset">
                <thead>
                    <tr>
                        <th class="table__head" colspan="4">GZipped size in Kb (last 14 days)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4">@chart(asset.zipped)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table table-bordered table--asset">
                <tbody>
                    <tr>
                        <th class="table__head" colspan="3">Size</th>
                    </tr>
                    <tr>
                        <th>Current size (Raw)</th>
                        <th>Current size (GZip)</th>
                        <th>Week-on-week Change</th>
                    </tr>
                    <tr>
                        <td>@asset.raw.latest.floor Kb</td>
                        <td>@asset.zipped.latest.floor Kb</td>
                        <td>@change(asset)</td>
                    </tr>
                    @if(asset.isCSS) {
                        <tr>
                            <th class="table__head" colspan="3">Metrics</th>
                        </tr>
                        <tr>
                            <th>Rules</th>
                            <th>Total Selectors</th>
                            <th>Average Selectors</th>
                        </tr>
                        <tr>
                            <td>@asset.rules.latest.toInt</td>
                            <td>@asset.selectors.latest.toInt</td>
                            <td>@{ "%.2f".format(asset.selectors.latest / asset.rules.latest) }</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@change(asset: tools.AssetData) = {
    @defining(asset.rawChange) { change =>
        <span class="label label-@change match {
                case c if c < 0 => {success}
                case c if c > 0 => {danger}
                case _ => {info}
            }">
            @if(change == 0.0) {
                No change
            } else {
                <i class="glyphicon glyphicon-@change match {
                    case c if c < 0 => {arrow-down}
                    case c if c > 0 => {arrow-up}
                    case _ => {}
                }"></i>
                @{"%.2f".format(asset.rawChange)} Kb
            }
        </span>
    }
}

@admin_main("Dashboard", env, isAuthed = true, hasCharts = true) {

    <h1 class="page-header">Static assets</h1>

    <h3>Summary</h3>

    <table class="table table-bordered table-striped table--asset">
        <thead>
            <tr>
                <th class="table__head">Asset filename</th>
                <th class="table__head">Current size (Raw)</th>
                <th class="table__head">Current size (GZip)</th>
                <th class="table__head">Week-on-week Change</th>
            </tr>
        </thead>
        <tbody>
            @assets.filter(_.combined.hasData).zipWithIndex.map{ case (asset, index) =>
                <tr>
                    <td>
                        <a href="#asset-@index">
                            <strong>@asset.name</strong>
                        </a>
                    <td>@{"%.2f".format(asset.raw.latest)} Kb</td>
                    <td>@{"%.2f".format(asset.zipped.latest)} Kb</td>
                    <td>@change(asset)</td>
                </tr>
            }
        </tbody>
    </table>

    @assets.filter(_.combined.hasData).zipWithIndex.map{ case (asset, index) =>
        @data(asset, index)
    }
}
