@(env: String, metrics: Seq[tools.AssetMetric])(implicit request: RequestHeader)

@change(metric: tools.AssetMetric) = {
    @defining(metric.change) { change =>
        <span class="label label-@change match {
                case c if c < 0 => {success}
                case c if c > 0 => {danger}
                case _ => {info}
            }">
            @if(change == 0.0) {
                No change
            } else {
                <i class="glyphicon glyphicon-@change match {
                    case c if c < 0 => {arrow-down}
                    case c if c > 0 => {arrow-up}
                    case _ => {}
                }"></i>
                @{"%.2f".format(metric.change)} Kb
            }
        </span>
    }
}

@sizeSummary(title: String, metrics: Seq[tools.AssetMetric]) = {

    <h3>@title</h3>

    <table class="table table-bordered table-striped table--asset">
        <thead>
            <tr>
                <th class="table__head">Asset filename</th>
                <th class="table__head">Current size (Gzipped)</th>
                <th class="table__head">Week-on-week Change</th>
            </tr>
        </thead>
        <tbody>
        @metrics.filter(_.chart.hasData).zipWithIndex.map{ case (metric, index) =>
        <tr>
            <td>
                <strong>@metric.name</strong>
        <td>@{"%.2f".format(metric.chart.latest)} Kb</td>
        <td>@change(metric)</td>
        </tr>
        }
        </tbody>
    </table>

}


@admin_main("Dashboard", env, isAuthed = true, hasCharts = true) {

    <h1 class="page-header">Static assets</h1>

    @sizeSummary("Javascript Files", metrics.filter(_.name.endsWith(".js")))
    @sizeSummary("CSS Files", metrics.filter(_.name.endsWith(".css")))
}
