@(env: String, lastModified: Long)(implicit flash: Flash)

@admin_main("Switchboard", env, isAuthed = true) {
@if(flash.get("error").isDefined) { <h1 style="color:#bd362f">@flash.get("error").get</h1> }
<div class="row">
    <form id="switchboard" action="/dev/switchboard" method="POST">
        <input type="hidden" name="lastModified" value="@lastModified" />
        @Switches.grouped.map { case (group, switches) =>
            <h4>@group</h4>
            <div class="well">
                @switches.map { switch =>
                    <div class="row">
                        <fieldset>
                            <legend>
                                <input class="status" id="switch-@switch.name" name="@switch.name" type="checkbox" @if(switch.isSwitchedOn) { checked="checked" }/>
                                <label for="switch-@switch.name">@switch.name</label>
                                <small>- @switch.description</small>
                            </legend>
                        </fieldset>
                    </div>
                }
            </div>
        }

        <input type="submit" value="Save">
    </form>
</div>
}
