@include tone-content-icons(special-report, 'white');

@include tone-content(
    special-report, // $tone
    $news-support-6, // $tonal__header-background
    #ffffff, // $tonal__header-text
    $special-report-accent, // $tonal__header-link
    200, // $tonal__headline-weight
    #ffffff, // $tonal__headline-colour
    $special-report-accent, // $tonal__headline-accent
    lighten($news-support-6, 5%), // $tonal__standfirst-background
    #ffffff, // $tonal__standfirst-text
    #ffffff, // $tonal__standfirst-link
    #ffffff, // $tonal__article-background
    $news-support-6 // $tonal__article-link
);

.tonal--tone-special-report {
    // Interactives need help because their headers are not tonal
    &.content--interactive {
        .content__headline {
            font-weight: normal;
            color: $neutral-1;
        }

        .content__series-label__link {
            color: $neutral-2;
        }

        .content__section-label__link {
            color: $special-report-accent;
        }

        .u-underline {
            color: $special-report-accent;
            border-bottom-color: rgba($special-report-accent, .3);

            &:hover {
                border-bottom-color: rgba($special-report-accent, .7);
            }
        }
    }

    &.content--media {
        .content__main,
        .tonal__standfirst,
        .content__standfirst {
            background-color: $news-support-6;
            color: #ffffff;
        }

        a.tone-colour {
            color: $special-report-accent;

            &:hover {
                color: mix($special-report-accent, #ffffff, 70%);
            }
        }

        .byline,
        .content__dateline,
        .meta__numbers .sharecount__heading,
        .meta__numbers .sharecount__value,

        .meta__numbers .inline-share {
            fill: #ffffff;
        }

        .byline,
        .content__meta-container,
        .content__secondary-column--media,
        .content__dateline,
        .fc-item:before,
        .meta__social,
        .meta__numbers,
        .most-viewed-container--media,

        .button--tag {
            background-color: mix($news-support-6, $neutral-1, 70%);
            border-color: mix($news-support-6, $neutral-1, 70%);
        }

        .button--secondary {
            @include button-colour(
                $neutral-2,
                $neutral-1
            );

            @include button-hover-colour(
                darken($neutral-2, 10%)
            );
        }
    }
}
