@include tone-content-icons(special-report, 'white');

@include tone-content(
    special-report, // $tone
    $news-support-6, // $tonal__header-background
    #ffffff, // $tonal__header-text
    $special-report-accent, // $tonal__header-link
    200, // $tonal__headline-weight
    #ffffff, // $tonal__headline-colour
    $special-report-accent, // $tonal__headline-accent
    lighten($news-support-6, 5%), // $tonal__standfirst-background
    #ffffff, // $tonal__standfirst-text
    #ffffff, // $tonal__standfirst-link
    #ffffff, // $tonal__article-background
    $news-support-6 // $tonal__article-link
);

.tonal--tone-special-report {
    // Interactives need help because their headers are not tonal
    &.content--interactive {
        .content__headline {
            font-weight: normal;
            color: $neutral-1;
        }

        .content__series-label__link {
            color: $neutral-2;
        }

        .content__section-label__link {
            color: $special-report-accent;
        }

        .u-underline {
            color: $special-report-accent;
            border-bottom-color: rgba($special-report-accent, .3);

            &:hover {
                border-bottom-color: rgba($special-report-accent, .7);
            }
        }
    }

    &.content--media:not(.content--gallery) {
        .tonal__standfirst {
            background-color: $multimedia-support-5;
        }

        a.tone-colour {
            color: $special-report-accent;

            &:hover {
                color: mix($special-report-accent, #ffffff, 70%);
            }
        }
    }

    &.tonal--tone-media {
        background-color: $multimedia-support-5;
    }

    .immersive-main-media__headline-container--dark {
        background-color: rgba($news-support-6, .6);
        background: linear-gradient(rgba($news-support-6, .6), $news-support-6) !important;
    }
}

// Gallery styles
.gallery__main-content {
    .tonal--tone-special-report {
        &.content {
            background-color: $multimedia-support-5;

            .tonal__head,
            .meta__social .social--expanded-top {
                background-color: lighten($news-support-6, 5%);
            }

            .social__tray-close .inline-close {
                background-color: rgba(0, 0, 0, .1);

                &:hover,
                &:focus {
                    background-color: rgba(0, 0, 0, .3);
                }
            }

            .meta__extras,
            .gallery__meta-container:before,
            .meta__number:not(.u-h)+.meta__number {
                border-color: rgba(255, 255, 255, .4);
            }

            .content__meta-container,
            .byline,
            .byline .tone-colour,
            .byline .tone-colour:hover,
            .content__dateline,
            .meta__numbers .commentcount2__heading {
                color: #ffffff;
            }

            .meta__numbers .sharecount__heading,
            .meta__numbers .sharecount__value {
                color: rgba(255, 255, 255, .6);
            }

            .meta__numbers .inline-share {
                fill: rgba(255, 255, 255, .6);
            }

            .meta__numbers .inline-comment-16 {
                fill: #ffffff;
            }

            .social-icon {
                border-color: rgba(255, 255, 255, .6);

                svg {
                    fill: rgba(255, 255, 255, .8);
                }
            }
        }

        .meta__twitter .button,
        .meta__email .button {
            background-color: rgba(0, 0, 0, .1);
            color: #ffffff;

            svg {
                fill: rgba(255, 255, 255, .8);
            }

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .3);
                color: inherit;
            }
        }
    }

    .gallery__most-popular {
        background-color: $multimedia-support-5;
    }
}
