@include tone-content-icons(news, 'news');

.tonal--tone-news {
    .tonal__main {
        .element-pullquote {
            &:before,
            &:after {
                background-color: colour(news-default);
            }
        }
    }

    .tone-colour {
        color: colour(news-default);
    }

    .tone-accent-border {
        border-color: colour(news-accent);
    }

    // Interactives need help because their headers are not tonal
    &.content--interactive {
        .commentcount i {
            @extend %i-comment--tone-news;

            @if $svg-support {
                .svg & {
                    @extend %svg-i-comment--tone-news;
                }
            }
        }
    }
}
