@include tone-content-icons(letters, 'white');

@include tone-content(
    letters, // $tone
    $brightness-93, // $tonal__header-background
    $brightness-46, // $tonal__header-text
    $opinion-main, // $tonal__header-link
    200, // $tonal__headline-weight
    $black, // $tonal__headline-colour
    $opinion-main, // $tonal__headline-accent
    $opinion-main, // $tonal__standfirst-background
    #ffffff, // $tonal__standfirst-text
    #ffffff, // $tonal__standfirst-link
    #ffffff, // $tonal__article-background
    $opinion-main // $tonal__article-link
);

.tonal--tone-letters {
    .tonal__header {
        .content__head__illustration {
            margin-bottom: -$gs-baseline*2;
            position: absolute;
            bottom: 0;
            right: $gs-gutter;
            display: block;

            @include mq(desktop) {
                margin-right: -$right-column;
            }
        }
    }

    .tonal__standfirst {
        .content__standfirst {
            @include mq(tablet, desktop) {
                box-sizing: border-box;
                padding-right: gs-span(3);
            }
        }
    }
}

.inline-illustration-letters {
    fill: #000000;
}
