@include tone-content-icons(feature, 'white');

@include tone-content(
    feature, // $tone
    $lifestyle-bold, // $tonal__header-background
    $brightness-93, // $tonal__header-text
    $lifestyle-pastel, // $tonal__header-link
    200, // $tonal__headline-weight
    #ffffff, // $tonal__headline-colour
    $lifestyle-pastel, // $tonal__headline-accent
    $lifestyle-bold, // $tonal__standfirst-background
    #ffffff, // $tonal__standfirst-text
    #ffffff, // $tonal__standfirst-link
    #ffffff, // $tonal__article-background
    $lifestyle-bold // $tonal__article-link
);

.tonal--tone-feature {
    // Interactives need help because their headers are not tonal
    &.content--interactive {
        .content__headline {
            font-weight: normal;
            color: $black;
        }
        .tone-colour,
        .content__section-label__link {
            color: $lifestyle-bold;
        }
        .content__series-label__link {
            color: $brightness-46;
        }
        .u-underline {
            color: $lifestyle-bold;
            border-bottom-color: rgba($lifestyle-bold, .3);

            &:hover {
                border-bottom-color: rgba($lifestyle-bold, .7);
            }
        }
    }
}
