.notifications-subscribe-link--has-subscriptions {
    display: none;
}

.from-content-api .notifications-subscribe-link__headline {
    @include fs-header(3);
}

.notifications-link {
    margin-bottom: $gs-baseline / 2;

    .button--follow {
        margin-bottom: $gs-baseline;
    }
}



