@(page: Page, story: Story, content: List[(String, Seq[model.Content])])(implicit request: RequestHeader)

@main(page, Switches.all){ }{

<h2 class="article-zone type-1">
    <span class="zone-color">@story.title</span>
</h2>

<section class="story-overview">
    <h2 class="page-head">Overview</h2>
    <p class="story-explainer box-indent type-7" itemprop="description" data-link-name="explainer">
        @cleanTrailText(story.explainer.getOrElse(""))
    </p>
</section>


<section class="story-players">
    <h2 class="page-head">Key players</h2>
    @story.events.map { event => 
      @event.agents.map { agent => 
        <h3 class="box-indent"><a href="#">@agent.name</a></h3>
        <p class="box-indent type-7">@agent.role</p>
        <p class="box-indent type-7">@agent.explainer</p>
      }
    }
</section>

<ul class="accordion">
    @content.toList.reverse.zipWithRowInfo.map{ case ((tone, c), info) =>
    <li><a href="#">@tone <i class="i i-filter-arrow-right"></i></a>
        <section>
            @fragments.trailblocks.thumbnail(c.sortBy(_.importance).take(2), numItemsVisible = 2, numThumbnails = 2, headingLevel = 3)
        </section>
    </li>
    }
</ul>

<h2 class="type-2 article-zone" style="color: #63004C;">Timeline</h2>
<div id="experiment" class="trailblock timeline" data-count="@{story.events.size - 4}" data-link-name="Event timeline">
    <ul class="unstyled">
        @story.events.map { event =>
            @event.content.take(1).zipWithRowInfo.map{ case (trail, info) =>
                <li class="trail event-block" data-link-name="trail">
                    @fragments.relativeDate(event.startDate, trail.isLive, isFront=true)
                    <div class="date-line">
                        <h3 class="type-5">@event.title</h3>
                        <!-- Nb. event.explainers could go here? -->
                        @event.content.map{ case (c) =>
                        @if(c.importance.getOrElse(0) > 50) {
                        <!-- <p>@c.headline <small>(@c.importance, @c.colour)</small><p>-->
                            <p>@cleanTrailText(c.trailText.getOrElse("")) <small>(@c.importance, @c.colour)</small></p>
                        } else {
                            <p>@c.headline <small>(@c.importance, @c.colour)</small></p>
                        }
                        }
                    </div>
                </li>
            }
        }
    </ul>
</div>
}
