// This will will be removed when the atom library is handling
// the rendering of all snippet atoms

.explainer-snippet__image {
    float: left;
    margin-right: $gs-gutter / 2;

    display: inline-block;
    position: relative;
    width: 33%;
    height: 0;
    overflow: hidden;
    border-radius: 50%;
    padding-top: 33%;
}

.explainer-snippet__image amp-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    img {
        object-fit: cover;
    }
}

.explainer-snippet__item::before {
    content: '';
    display: flex;
    width: 100px;
    height: 0;
    border-top: 1px dotted $brightness-86;
}

.explainer-snippet__heading {
    font-size: 17px;
    padding-top: 2px;
}

.explainer-snippet__event-date::before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 100%;
    float: left;
    margin-left: -24px;
    background-color: $sport-bright;
}

.explainer-snippet__event-date {
    font-size: 16px;
    line-height: 24px;
}

.explainer-snippet--timeline {
    .explainer-snippet__body {
        margin-left: 8px;
        overflow: visible;
    }

    .explainer-snippet__description {
        line-height: 24px;
        font-size: 16px;
        font-weight: bold;
        color: #333333;
        margin: 16px 5px;
    }

    .explainer-snippet__item {
        padding-left: 17px;
        padding-bottom: 16px;

        p {
            margin-bottom: 0;
        }
    }

    .explainer-snippet__item:not(:last-child) {
        border-left: 1px solid rgba($brightness-86, .5);

        .explainer-snippet__event-date::before {
            margin-left: -25px;
        }
    }
}

.explainer-snippet__credit {
    @include fs-textSans(1, true);
    color: $brightness-7;
    margin: $gs-baseline 0;

    > .inline-icon {
        display: inline-flex;
        background: $brightness-86;
        border-radius: 100%;
        width: 16px;
        height: 16px;
        align-items: center;
        justify-content: center;
        margin-right: $gs-gutter / 4;

        > svg {
            height: 12px;
        }
    }
}
