
.inline-my-digest {
    display: inline;
    position: absolute;
    z-index: 9;

    width: map-get($mq-breakpoints, mobile);
    height: 15.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;

    .inline-my-digest__svg {
        width: 100%;
        height: 100%;
    }
}

.my-digest-header h1 {
    font-size: 2rem;
    color: $news-main-1;
}

.my-digest-main {
    margin: 0 auto;
}

.my-digest-main:before {
    content: '';
    background-color: white;
    height: 26px;
    display: block;
}

.main__column--horizontal-bar::before {
    content: '';
    display: block;
    border-bottom: 2px solid #5ab0f4;

}

.email-signup-main {
    .main__column--horizontal-bar::before {
        margin: 0 0.3rem;
    }
}

.my-digest-header::after {
    content: '';
    border-bottom: thin solid $neutral-6;
    display: block;
}

.my-digest-header__digest {
    color: $news-main-2;
}

.my-digest-bottom-margin {
    border-bottom: 2px solid #5ab0f4;
    margin: 26px auto 0;
}

.my-digest-steps {
    counter-reset: digest-steps;
}

.my-digest-steps__step {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;

    float: left;
    clear: both;

    position: relative;
    min-height: 3.5em;

    margin-left: 1em;
    border-left: thin dotted #5ab0f4;
}

.my-digest-steps__step:last-child {
    border: 0;
}

.my-digest-steps__text::before {
    counter-increment: digest-steps;
    content: counter(digest-steps);
    position: absolute;
    text-align: center;
    line-height: 2em;
    background-color: #ffffff;
    border: thin solid #5ab0f4;
    border-radius: 1em;
    color: $news-main-1;
    float: left;
    width: 2em;
    height: 2em;
    left: -1.1em;
}

.my-digest-steps__text {
    display: block;
    line-height: 2em;
    margin-left: 2em;
    margin-bottom: 1em;
}

.my-digest-steps__create-button {
    background-color: #ffffff;
    border-radius: 50px;
    border: thin solid #5ab0f4;
    padding: .3em 1em;
    color: $news-main-1;
    white-space: nowrap;
    left: -1em;
    position: absolute;
}

.email-signup-main {
    background-color: $news-main-1;
}

.email-signup-main:before {
    height: 26px;
    content: '';
    background-color: $news-main-1;
    display: block;
}

.email-signup {
    background-color: $news-main-1;
    padding: 1em 0;
    min-width: 16em;
}

.email-signup {
    //No script tag
    a {
        color: #FFFFFF;
        padding: 0 0.3em;
    }

    .fsLabel {
        @include f-bodyHeading;

        color: #FFFFFF;
        padding: 0 0.3rem;
    }

    .fsPagination {
        margin: 0;
    }

    .fsRequiredMarker {
        display: none;
    }

    .fsField {
        width: 100%;
        border-radius: 100px;
        border: 0;
        height: 2.5em;
        padding-left: 1em;
        box-sizing: border-box;
        margin-bottom: 1em;
    }

    .fsSubmitButton {
        width: 100%;
        background-color: $news-main-1;
        border: 2px solid $guardian-brand-light;
        border-radius: 100px;
        height: 2.5em;
        color: white;
        margin-bottom: 1em;
    }

    .fsValidationError {
        background-color: $news-main-1;

        .fsLabel {
            color: #FFFFFF;
            background-image: none;
            padding: 0 0.3rem;
        }
    }

    .fsError {
        margin: 0 0.3rem;

    }
}

.email-signup__field-input {
    width: 100%;
    border-radius: 100px;
    border: 0;
    height: 2.5em;
    padding-left: 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.email-signup__action-button {
    width: 100%;
    background-color: $news-main-1;
    border: 2px solid $guardian-brand-light;
    border-radius: 100px;
    height: 2.5em;
    color: white;
    margin-bottom: 1em;
}

.email-signup__aside-text {
    @include f-textSans;

    color: $guardian-brand-light;
    font-size: 10pt;
    padding: 0 0.3rem;
}

.weekend-read-header {
    color: white;
}

.weekend-read-header__heading {
    @include f-bodyHeading;

    font-size: 12pt;
    padding: 0 0.3rem;
}

.weekend-read-header__text {
    @include f-bodyCopy;

    font-size: 10pt;
    padding: 0 0.3rem;
}

.weekend-read-sample {
    margin-top: 1em;
    background-color: white;
}

.weekend-read-sample__button {
    position: relative;
    border: thin solid lightgrey;
    background-color: white;
    border-radius: 100px;
    padding: 0.3em 0.5em 0.3em 30px;
    font-size: 10pt;

    .inline-plus {
        fill: grey;
        position: absolute;
        left: 2px;
        top: 1px;
    }
}

.email-signup__aside-text__frequency {
    color: white;
    float: right;
}
