.adfreesurvey-wrapper {
    .adfreesurvey-wrapper-inner {
        margin: 0 auto;
        width: auto;
        padding: 0 $gs-gutter $gs-gutter;

        @include mq(tablet) {
            margin: 0 auto;
            width: $gs-column-width*6;
            padding: $gs-gutter 0;
        }
    }

    .inline-survey-thumbsup {
        margin-bottom: $gs-gutter/2;
        display: block;
        padding-top: $gs-gutter;
    }

    .inline-survey-loudspeaker,
    .inline-thankyou-email {
        display: block;
        text-align: center;
        margin-top: $gs-gutter;

        svg {
            width: 100px;
            height: 100px;
        }
    }

    .inline-arrow-right {
        float: right;
        fill: #7d7d7d;

    }

    .inline-membership-logo {
        margin: $gs-gutter 0;
        display: block;
        svg {
            width: 100px;
            height: 40px;

            g {
                fill: #bf4181;
            }
        }
        @include mq(tablet) {
            margin: $gs-gutter*2 0 30px;
        }
    }

    h1 {
        @include fs-headline(4);
        color: $guardian-brand;
        font-weight: bold;
        margin-bottom: $gs-gutter;

        @include mq(tablet) {
            @include fs-headline(6);
            font-weight: bold;
        }
    }

    h2 {
        @include fs-header(4);
        color: $guardian-brand;
        margin-bottom: $gs-baseline/2;
    }

    p {
        @include fs-bodyCopy(1);
        margin-bottom: $gs-baseline;
    }

    .standfirst {
        @include fs-bodyCopy(2);
    }

    .button--secondary {
        border-color: #7d7d7d;
        background-color: transparent;

        &:hover {
            background-color: $neutral-7;
        }
    }

    .button--medium {
        line-height: 32px;
    }

    .footer-area {
        background-color: $neutral-5;

        .adfreesurvey-wrapper-inner {
            width: auto;
            padding: $gs-gutter;
            margin: 0 auto;

            @include mq(tablet) {
                width: $gs-column-width*10;
                padding: $gs-gutter*2 0;
            }
        }

        img {
            display: block;
        }

        .l-row__item:last-child {
            margin-top: $gs-gutter;

            @include mq(tablet) {
                margin-top: 0;
            }
        }

    }

    &.adfreesurvey-simple-wrapper {
        .adfreesurvey-wrapper-inner--footer {
            @include mq(tablet) {
                width: $gs-column-width*8;
            }
        }
    }

}


/* CSS Overrides from formstack minimal CSS */
.fsboxshadow .formstack-survey-wrapper .fsBody .fsForm {
    box-shadow: none;
    border: 0;
}

.fsborderradius .formstack-survey-wrapper .fsBody .fsSectionHeader {
    margin: 1.25rem 0 0 1.25rem;
    padding: 0;
}


.formstack-survey-wrapper {
    width: $gs-column-width*20;
    margin: 0 auto;
    padding-top: 1em;

    .fsSection {
        margin: $gs-gutter*2 0;
    }

    .fsSection:first-child {
        margin-top: 0;
    }

    .fsBody .fsRowBody {
        padding: 0;
    }

    .fsPage .fsForm {
        border: 0;
        box-shadow: 0;
    }

    .fsBody .fsForm {
        margin: 0;
    }

    .fsRow {
        margin: 0 $gs-gutter;
        padding-top: 1em;
    }

    .fsSectionHeading {
        color: $guardian-brand;
        margin: 0;
    }

    .fsMatrixFieldset {
        border: 0;
    }

    .fsMatrixCol1 .fsField, .fsMatrixCol2 .fsField {
        margin: 0;
    }

    .fsLabel.fsLabelVertical, label.fsLabel {
        color: $guardian-brand;
    }

    .fsSubmitButton {
        color: #ffffff;
        border: 0;
        padding: $gs-gutter*0.25 $gs-gutter*0.5;
        background-color: $guardian-brand;
    }

    .fsSubmitButton:hover {
        background-color: $guardian-brand-dark;
    }

    input[type=radio]:not(old) {
        background-color: #ff0000;
    }

    .fs-clear {
        clear: both;
    }

    fieldset {
        border: 0;
    }

    .fieldset-content .horizontal {
        display: inline-block;
    }

}
