//Styles to be used on pages that contain full formstack surveys

.formstack-survey-wrapper {
    @include gs-container;

    @include mq($until: tablet) {
        padding: $gs-gutter;
    }

    h1, h2 {
        @include fs-headline(4);
        color: $brand-main;
    }

    h1 {
        font-weight: bold;
        margin-top: $gs-baseline/2;
        margin-bottom: $gs-baseline;

        @include mq(tablet) {
            @include fs-headline(6);
            font-weight: bold;
        }
    }

    h2 {
        margin-bottom: $gs-baseline/2;
    }

    p {
        @include fs-bodyCopy(2, $size-only: true);
        margin-bottom: $gs-baseline;
    }

    .fsError::before {
        content: '';
        display: block;
        background: $error-icon;
        width: 18px;
        height: 18px;
        float: left;
        margin: 0 .5em 0 0;
    }

    .fsError {
        color: $news-main;
        background-color: unset;
        border: 0;
        text-align: left;
        padding-left: 0;
    }

    .fsSubmitButton {
        @include fs-textSans(2);
        @include button-height($base-size * 5);
        @include button-colour(
            $brand-main,
            #ffffff,
            $brand-main
        );
        font-size: .8125rem !important;
        display: inline-block;
        vertical-align: top;
        width: auto;
        font-weight: bold;
        text-decoration: none;
        border-radius: 1000px !important;
        border-width: 1px;
        border-style: solid;
        box-sizing: border-box;
    }
}
