@(model: _root_.model.content.Atom, shouldFence: Boolean, amp: Boolean, mainMedia: Boolean, immersiveMainMedia: Boolean)(implicit request: RequestHeader, context: _root_.model.ApplicationContext)
@import _root_.model.ShareLinkMeta
@import _root_.model.content.{InteractiveAtom, MediaAtom, Quiz}

@{
    model match {
        case quiz: Quiz => views.html.fragments.atoms.quiz(quiz, maybeResults = None, showResults = false, ShareLinkMeta(Nil, Nil))
        case media: MediaAtom => views.html.fragments.atoms.media(media, amp, displayCaption = !immersiveMainMedia, displayEndSlate = mainMedia, mainMedia = mainMedia, immersiveMainMedia = immersiveMainMedia)
        case interactive: InteractiveAtom => views.html.fragments.atoms.interactive(interactive, shouldFence)
        case _ =>
    }
}
