@import model.content.MediaWrapper
@import layout.ContentWidths.MainMedia
@(mediaWrapper: Option[MediaWrapper], picture: model.ImageMedia, caption: String)(implicit request: RequestHeader)

    @defining(
        if(mediaWrapper.contains(MediaWrapper.MainMedia)) {
            Seq("maxed", "responsive-img")
        } else {
            Seq("gu-image")
        }
    ) { classes =>
            @fragments.image(
                picture,
                classes,
                MainMedia.inline,
                caption,
                isFeatureAndShowcase = false,
                isImmersiveMainMedia = false
            )
    }
    @fragments.atoms.mediaAtomCaption(caption, mainMedia = mediaWrapper.contains(MediaWrapper.MainMedia))


