@(storyquestions: model.content.StoryQuestionsAtom, isAmp: Boolean)(implicit request: RequestHeader)

@if(!isAmp) {
    <div class="js-view-tracking-component submeta user__question">
        <span class="js-storyquestion-atom-id is-hidden" id="@storyquestions.id"></span>
        <h2 class="user__question-title">Need something explained?<span class="user__question-title--secondary">Let us know which of these questions we can answer for you.</span></h2>
        @for(questions <- storyquestions.data.editorialQuestions) {
            @for(qs <- questions) {
                <p>
                    <div class="user__question-section">
                        <h3>@qs.questionSetTitle</h3>
                    </div>

                    @for(question <- qs.questions) {
                        <div class="user__questions-text--wrapper js-ask-question-link">
                            <span class="user__question-text">
                                <meta class="notranslate" name="js-notranslate-@question.questionId" content="@question.questionText">
                                <span class="user__questions-text--inner">
                                    @question.questionText
                                </span>
                            </span>
                            <button id="@question.questionId" class="user__question-upvote">
                                Ask this
                                @fragments.inlineSvg("tick", "icon")
                            </button>
                            <span id="js-question-thankyou-@question.questionId" class="user__question-response submeta__label is-hidden">
                                Thanks, we've registered your vote.
                            </span>
                        </div>
                    }
                </p>
            }
    </div>
}
}
