@(jobs: Seq[model.commercial.jobs.Job],
  jobCategories: Map[String,String],
  omnitureId: Option[String],
  clickMacro: Option[String])(implicit request: RequestHeader)

@defining("http://jobs.theguardian.com/") { case (jobsHost) =>

@containerWrapper(Seq("jobs"), "jobs")(HtmlFormat.empty)(HtmlFormat.empty)(HtmlFormat.empty)(HtmlFormat.empty) {
    <ul class="jobs-sectors">
        @for((uri, category) <- jobCategories) {
            <li><a href="@clickMacro@jobsHost@uri">@category</a></li>
        }
    </ul>

    @jobs map jobCard

}

}
