.container--global {
    margin: 0 auto;
    max-width: 1400px;
}

.global-nav {
    margin-top: 10px;
}

    .global-nav__environment {
        float:left;
        margin-top: 10px;
    }

.well--front {
    min-height: 200px;
}

.chart {
    margin-bottom: 20px;
}

.table--asset .table__head {
    background-color: #F5F5F5;
    font-size: 14px;
    color: black;
}

.table--asset th {
    font-size: 12px;
    font-weight: bold;
    color: #9da0a4;
}

.table-r thead th {
    background-color: #f5f5f5;
    font-size: 14px;
}

.redirect-form .controls {
    margin-left: 50px !important;
}

.redirect-form .control-label {
    width: 40px !important;
    font-weight: bold;
}

.redirect-form input[type=text] {
    max-width: 90%;
    width: 500px;
}
