html {
    overflow-y: scroll;
}

.sub-heading {
    font-style: italic;
}

input[type="text"] {
    /* background-color: #DFF0D8; */
}

input.invalid {
    background-color: #F2DEDE;
}

input[type=text] {
    height: inherit;
}

#clear-frontend {
    position: absolute;
    right: 0;
}

.switch__high-impact-warning {
    font-size: 0.75rem;
    border: 2px solid rgb(243, 193, 0);
    border-radius: 16px;
    background-color: rgba(243, 193, 0, 0.25);
    padding: 4px 8px;
}
