@(article: Article, storyPackage: List[Trail])(implicit request: RequestHeader)

@main(article, Static, Configuration, Switches.all){
    <link rel="stylesheet" type="text/css" href="@Static("stylesheets/article.min.css")" />
}{

    @fragments.articleBody(article)

    @if(storyPackage.nonEmpty && ABTest(request).isA) {
        @fragments.relatedTrails(storyPackage, heading = "More on this story", visibleTrails = 5)
    } else {
        <div id="js-related"></div>
    }
    <div id="js-popular"></div>
}