@import _root_.liveblog.LiveBlogPageModel
@import model.liveblog.BodyBlock
@(model: LiveBlogPage, blocks: LiveBlogPageModel[BodyBlock])(implicit request: RequestHeader)

@import common.LinkTo

@main(model){
    @blocks.earlier.suffix.map { suffix =>
        <link rel="next" href="@LinkTo{ /@{model.article.content.metadata.id}@suffix }">
    }
    @blocks.later.suffix.map { suffix =>
        <link rel="prev" href="@LinkTo{ /@{model.article.content.metadata.id}@suffix }">
    }
}{
    @views.html.liveblog.liveBlogBody(model, blocks)
}
