.trail__expander-trigger,
.trail__expander-show {
    display: none;
}
.trail__expander-content {
    @include transition(opacity .5s ease-out);
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.trail__expander-trigger:checked {
    + .trail__expander-wrapper {
        .trail__headline {
            @extend .article__headline !optional;
        }
        .trail__expander-headline {
            float: none;
            width: 100%;
        }
        .trail__img {
            float: none;
            width: 100%;
            margin-bottom: $baseline*2;

            img {
                margin-top: 0;
            }
        }
        .main-caption {
            padding-top: 0;
        }
        .trail__expander-content {
            opacity: 1;
            height: auto;
        }
        .trail__expander-show {
            display: block;
        }
        .trail__expander-hide {
            display: none;
        }
    }
}
.trail__expander-cta {
    margin-top: -3px;
    margin-bottom: $baseline*2;
    text-align: center;
    cursor: pointer;
    display: block;
}

.trail__expander-cta__button {
    display: block;
    padding: $baseline*2 0;
    color: #444;
    font-family: $serif;
    font-size: 14px;
    font-size: 1.4rem;
    text-align: left;
    color: $c-newsDefault;

    i {
        @include transform(scaleX(0.9) translateY(-1px) translateX($gutter/4));
    }
}
.trail__expander-action {
    padding-top: $baseline*2;
    padding-bottom: $baseline*2;
}

.ab-expandable-most-popular {
    .related-trails {
        .trail__img { display: none; }
        .trail__text { display: none; }
    }
}
