.inline-story {

    display: none;
    list-style: none;
    margin: $gs-gutter;
    margin-left: 0;
    width: gs-span(3);
    float: left;
    position: relative;

    @include mq(tablet) {
        display: block;
    }

    @include mq(leftCol) {
        width: gs-span(5);
        margin-left: - gs-span(2) - $gs-gutter;

    }
    @include mq(desktop) {
    }

    @include mq(wide) {
        margin-left: - gs-span(3) - $gs-gutter;
    }

    .inline-story__meta {
        position: absolute;
        padding: $gs-baseline/2;
        bottom: 0;
        color: #9c9c9c;
        @include fs-data(3);
    }

    .inline-story__cta {
        background-color: #fbba0f;
        @include rounded-corners(50%);
        width: 36px;
        height: 36px;
        position: absolute;
        margin: $gs-baseline/2;
        z-index: 1;

        p { display: none; }
    }
    .inline-story__media-wrapper:hover .inline-story__cta.inline-story__cta--gallery {
        background-color: #333;
        .inline-story__cta__icon {
            .i-camera-yellow-large { display: block; }
            .i-camera-black-large { display: none; }
        }

    }
    .inline-story__cta__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        overflow: hidden;
        font-size: 0;
    }
    .inline-story__cta--gallery .inline-story__cta__icon {
        width: 18px;
        height: 13px;
        margin-left: -9px;
        margin-top: -7px;
        .i-camera-yelow-large { display: none }
    }
    .inline-story__cta--video .inline-story__cta__icon {
        width: 13px;
        height: 16px;
        margin-left: -5px;
        margin-top: -8px;
    }

    .inline-story__link {
        color: #ffffff;
    }

    .inline-story__title-type {
        color: #fb0;
        display: block;
    }

    .inline-story__title {
        color: #ffffff;
        min-height: $gs-row-height*3 + $baseline*2;
        padding: $gs-baseline/2;
        padding-bottom: $gs-baseline*2;
        font-family: "EgyptianHeadline",georgia,serif;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        @include fs-data(5, true);

        &:visited {
            color: #9c9c9c;
        }

        @include mq(leftCol) {
            min-height: $gs-row-height*2 + $baseline;
        }
    }

    .inline-story__image-container {
        padding-bottom: 60%;
        position: relative;
        z-index: 0;

        .responsive-img {
            width: 100%;
            height: 100%;
            top: 0;
            position: absolute;
        }
    }
}

.inline-story__standfirst {
    display: none;
}

.inline-story__container {
    background-color: #333;
}



.inline-story--video {

}