/* Furniture
   ========================================================================== */

.furniture {
    background-color: #ffffff;
    display: none;
}

.furniture--left {
    float: left;
    clear: left;
    @include rem((
        width: $a-leftCol-width,
        margin-left: ($a-leftCol-width + $gs-gutter) * -1,
        margin-bottom: ($gs-baseline/3)*2
    ));

    @include mq($a-leftCol-trigger) {
        .test-link-card--on & {
            display: block;
        }
    }

    @include mq(wide) {
        @include rem((
            margin-left: (gs-span(3) + $gs-gutter) * -1,
            width: gs-span(3)
        ));
    }
}

/* Card
   ========================================================================== */

.card {
    position: relative;

    .item__image-container {
        display: block;
    }
}
.card__action {
    display: block;
    color: $c-neutral1;

    &:visited {
        &,
        .card__headline {
            color: $c-neutral2;
        }
    }
}
.card__media {
    display: block;
    width: 100%;
    margin-bottom: 0;

    .card--left & {
        min-height: 84px;
    }
}
.card__title {
    @include box-sizing(border-box);
    @include rem((
        min-height: gs-height(1),
        margin-bottom: ($gs-baseline/3)*2
    ));
    font-family: $serifheadline !important;
    font-size: 18px !important;
    font-size: 1.8rem !important;
    line-height: 26px !important;
    line-height: 2.6rem !important;
}
.card__body {
    @include box-sizing(border-box);
    @include rem((
        padding: $gs-baseline/2 0 $gs-baseline*2
    ));
    position: relative;
}
.card__meta {
    @include rem((
        padding-bottom: ($gs-baseline/3)*2
    ));
    border-bottom: 1px solid $c-neutral4;
    overflow: auto;
    @include fs-data(3);
    color: $c-neutral2;

    .dateline {
        float: left;
        position: relative;
        @include rem((
            padding: 0 $gs-gutter/2 0 14px,
            min-width: gs-span(1) - 16
        ));

        i {
            position: absolute;
            @include rem((
                top: 3px
            ));
            left: 0;
        }
    }
    .trail__count {
        position: relative;
        top: 0;

        a {
            @include rem((
                margin-left: $gs-gutter/2 - 1
            ));
            color: inherit;
        }
        i {
            @include rem((
                margin-right: 3px,
                margin-bottom: -3px
            ));
            @extend %i-comment-light-grey;
        }
    }
}
.card__zone {
    @extend %type-2;
    margin-bottom: 0;
}
.card__headline {
    font-family: $serifheadline !important;
    font-weight: normal !important;
    font-size: 20px !important;
    font-size: 2.0rem !important;
    line-height: 24px !important;
    line-height: 2.4rem !important;

    .card--left  & {
        font-size: 16px !important;
        font-size: 1.6rem !important;
        line-height: 20px !important;
        line-height: 2.0rem !important;
    }
}
.card__description {
    color: $c-neutral1;
}
.card__appendix {
    color: #8c8c8c;
    @include rem((
        padding-top: $gs-baseline/3
    ));
}
.card--left {
    padding-top: 6px; // Aligns border with top of text
}