.accordion .is-open {
  border-bottom: 2px solid $mushroom;
  display: block !important;
}

.accordion {
  margin: $baseline*2 $baseline*4 $baseline*4 $baseline*4;
  padding: 0;
}

.accordion-item {
  list-style: none;
  overflow: auto;
}

a.accordion-btn {
  @extend .type-4;
  display: block;
  padding: 10px 15px 10px 0;
  border-bottom: 2px solid $mushroom;
  text-decoration: none;
  color: #333;
}

.accordion-item:first-child .accordion-btn { border-top: 2px solid $mushroom; }

.accordion-item .i-filter-arrow-right {
  float: right;
  margin: $baseline*1 $baseline*1 0 0;
  @include rotate(90deg);
}

.accordion-item .active .i-filter-arrow-right {
  @include rotate(270deg);
}

.accordion-btn:hover,
.accordion-btn.active {
  background: #ffffff;
  color: #333333;
}

.accordion section {
  display: none; /* I NEED TO FIX THIS */
  float: left;
  background-color: #ffffff;
  overflow: hidden;
  padding: $baseline*3 0 0 0;
}

.no-js .accordion section {
  display: block; /* I NEED TO FIX THIS */
}