@media (min-width: $tablet) {
	h2.article-zone,
	.social,
	.article {
		max-width: gs-span(8);
		padding-left: 16px !important;
		padding-right: 16px !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.article-headline {
		font-size: 2.4rem;
	}
	.article-body,
	.article-head,
	.main-caption {
		padding-left: 0 !important;  // Forced use for the moment
		padding-right: 0 !important; // overridden by stuff in _from-content-api.scss
	}
	.byline {
		margin-left: 0;
		margin-right: 0;
	}
	.d-tabs {
		margin-left: -16px !important;
		margin-right: -16px !important;
	}
	@media (max-height: 768px) { // Decided with Chris, to refine with real world usage examples
		.media-primary:first-of-type {
			margin-left: 0;
			margin-right: 0;
			float: left;
			width: gs-span(4);
			margin-right: $gutter;
		}
		.media-primary--comments-on {
			display: none;
		}
		.byline,
		.d-tabs {
			display: table-cell;
			width: 100000px;
			max-width: 100%;
		}
		.d-tabs__item--byline.d-tabs__item--is-active {
			padding-left: 0 !important;
		}
	}
}
