.highlight-panel {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: 2px solid $c-neutral5;
    height: gs-height(2);
    white-space: nowrap;

    -webkit-transition: -webkit-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;

    @include box-sizing(border-box);
    @include transform(translateY(gs-height(2)));
}

.highlight-panel--is-open {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    @include transform(translateY(0));
}

.highlight-panel__title {
    display: none;
    float: left;
    padding: $baseline*3 0 0 $gs-gutter;
    @include fs-header(1);

    @include mq(leftCol) {
        display: block;
        width: $a-leftCol-width;
        float: left;
    }

    @include mq(wide) {
        width: $a-leftColWide-width;
    }
}

.highlight-panel__items {
    margin-left: $gs-gutter/2;
    white-space: normal;

    @include mq(tablet, rightCol) {
        width: gs-span(8) + $gs-gutter*1.5;
        margin: 0 auto;
    }

    @include mq(leftCol) { margin-left: $a-leftCol-width + $gs-gutter*1.5; }
    @include mq(wide) { margin-left: $a-leftColWide-width + $gs-gutter*1.5; }
}

.highlight-item {
    float: left;
    height: gs-height(2) - 2px;
    padding-top: $baseline*3 - 2px;
    padding-bottom: $baseline*3;
    @include box-sizing(border-box);

    @include mq(mobileLandscape) {
        padding-left: $gs-gutter/2;
        padding-right: $gs-gutter/2;
    }

    & + & {
        border-left: 1px dotted $c-neutral5;
    }
}

.highlight-item__url { float: left; }

.highlight-item__img {
    width: 94px;
    margin-right: $gs-gutter/2;

    img {
      width: 100%;
    }
}

.highlight-item__headline {
    display: block;
    position: relative;
    color: $c-neutral1;
    @include fs-headline(1);
    @include text-clamp(3, 20);

    @include mq(tablet) {
        width: 196px;
    }
}
