.highlight-panel {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $c-neutral6;
    height: gs-height(3);
}

.highlight-panel--is-hidden {
    display: none;
}

.highlight-panel__title {
    padding: $baseline*3 0 0 $gs-gutter;
    @include fs-header(1);
    @include box-sizing(border-box);

    @include mq(tablet) {
        @include fs-header(3, true);
        width: gs-span(3);
        float: left;
    }
}

.highlight-panel__items {
    float: left;
}

.highlight-item {
    float: left;
    width: gs-span(5);
    padding: $baseline*3 $gs-gutter;
    border-right: 1px dotted $c-neutral3;
    @include box-sizing(border-box);

    &:hover {
        background-color: $c-neutral5;
    }

    &:last-child {
        border-right: none;
    }
}

.highlight-item__img {
    float: left;
    width: 30%;
    margin-right: $gs-gutter;
}

.highlight-item__headline {
    color: $c-neutral1;
    @include fs-headline(1);
}


