.affix {
    position: fixed;
}

.home {
    top: 50px;
    display: none !important;

    @include mq(leftCol) {
        display: block !important;
    }
}

.home-container {
    position: absolute;
    z-index: 1;
}