@mixin deport-left {
    @include mq(leftCol) {
        margin-left: -1 * (gs-span(3) - $gs-gutter);
    }

    @include mq(wide) {
        margin-left: -1 * (gs-span(4) - $gs-gutter);
    }
}

.layout-hints {

    .element-interactive {
        background-color: #000000;
        overflow: hidden;

        iframe { overflow: hidden; }

        @include mq(wide) {
            height: 498px;
            iframe { height: 498px; }
        }

        @include deport-left;
    }

    &.fast-ice-rescue-from-antarctica {
        @include mq(leftCol) {
            .media-primary {
                display: none;
            }
        }
    }
}