$orange: #FF7F00;

/* Site message
   ========================================================================== */

.site-message {
    margin: 32px 0;
    background-color: #F2F2F2;
}

.site-message__head {
    min-height: 44px;
    margin: 0 2px;
    font-family: $serifheadline;
    font-weight: 600;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 22px;
    line-height: 2.2rem;
}

.site-message__body {
    display: block;
    min-height: 88px;
    font-family: $serif;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 20px;
    line-height: 2.0rem;
    margin: 0 2px;
    border-top: 1px solid #717272;
    padding: 5px;
    font-weight: 500;

    &,
    &:link,
    &:visited {
        color: #ffffff;
        text-decoration: none;
    }
}


/* Story title
   ========================================================================== */

.story-title {
    font-family: $serifheadline;
    font-size: 26px;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 30px;
    line-height: 3rem;
    padding: 12px 0 32px;
    min-height: 100px;
    @include box-sizing(border-box);
}

.story-title--section {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 24px;
    line-height: 2.4rem;
    padding: 0 0 6px;
    border-top: 1px solid #9D9D9D;
    border-bottom: 1px dotted #9D9D9D;
    min-height: 36px;
}

.story-title--indent {
    padding-left: 2px;
}

.story-title--white {
    border-color: transparent;
    color: #fff;
}

.story-overview .story-title {
    margin-bottom: 12px;
}


/* Story articles
   ========================================================================== */

.story-container {

    .article-head {

    }

    .dateline {
        margin: 4px 0;
    }

    .social {

    }

    .article-headline {
        min-height:60px;
        font-family: $serifheadline;
        font-weight: normal;
        font-size: 2.4rem;
        line-height: 2.9rem;
        padding: 0;
        margin-bottom: 12px;
        @include box-sizing(border-box);
    }

    .byline {
        padding: 2px 0 8px 0;
        margin: 0 0 8px;
    }

    .sample-paras,
    .story-explainer {
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #000;
    
        p {
            margin-bottom: 0;
            text-indent: $gutter*1.5;

            &:first-of-type {
                text-indent: 0;
            }
            &:last-child {
                margin-bottom: 8px;
            }
        }
    }

}

.story-overview .page-head {
    margin-top: $baseline*2;
}

.story-overview figure {
    margin: 12px 10px;
}

.story-explainer {
    margin: 0 10px 12px;
}

.story-section {
    width: 100%;
}

.story-section .i-date {
    display: none;
}
.story-section time {
    color: #666;
    font-size: 12px;
    font-size: 1.2rem;
}

/* Story quote
   ========================================================================== */

.story-quote__quote {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0 10px 12px;

    p {
        padding-left: 2px;
        font-family: $serifheadline;
        font-weight: 200;
        font-size: 2rem;
        line-height: 2.4rem;
        margin: 0 0 4px;
        color: #000;
    }

    &:before {
        @extend .i;
        @extend .i-story-quote;
        display: block;
        content: '';
        margin: 12px 0 0 2px;
        clear: both;
    }
}

.story-quote__cite {
    display: block;
    margin-left: 2px;
    margin-bottom: 15px;
    font-family: $serifheadline;
    font-weight: 600;
    font-size: 16px;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 24px;
    line-height: 2.4rem;
    color: #000;
}

.story-popular .trail:last-child {
    border-bottom: none;
}


.story-content .tabs-content {
    margin-bottom: $baseline*4;
}

.story-article:last-child {
    border-bottom: none;
}

.story-article .article-body p:last-child {
    border-bottom: 1px solid #EDEDE7;
    padding-bottom: 8px;
}

.back-to-top,
.from-content-api a.back-to-top {
    @extend %type-10;
    color: #bbb;
}

.continue,
.from-content-api a.continue {
    color: #444;
    text-decoration: underline;
}

.i.is-open {
    @include rotate(180deg);
}


/* Story maps
   ========================================================================== */

.story-map {
    position: relative;
    margin: $baseline*3 10px;
}

.map-detail {
    width: 100%;
    margin-right: $gutter;
}

.map-inset {
    position: absolute;
    border: 1px solid #000;
    top: 0; 
    right: 0;
}

.picture-article--media img {
    display: block;
    width: 100%;
    margin: 0 2.5% 5px 0;
}


/* In pictures
   ========================================================================== */

.story-pictures {
    margin-bottom: 12px;

    .story-title--white {
        padding-left: 2px;
        background-color: #333;
    }

    .js-swipe {
        background-color: #333
    }
}

.js-swipe {
    margin: 0 10px;
    overflow: hidden;
}

.js-swipte__items {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}

.js-swipe__wrap {
    overflow: hidden;
    position: relative;
}

.js-swipe__item {
    float: left;
    width: 100%;
    position: relative;
    padding: 0 2px 0 2px;
    @include box-sizing(border-box);
}

.js-swipe__img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 200px;

    @media (min-width: $tablet) {
        max-height: 400px;
    }

    @media (min-width: $desktop) {
        max-height: 600px;
    }
}

.story-picture--sheet {
    padding: 2px;

    img {
        width: 49.5%;
        float: left;
        margin-bottom: 2px;
    }

    img:first-child {
        width: 100%;
    }

    img:nth-child(even) {
        margin-right: 1%;
    }
}

.story-picture__caption {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 6px 2px 32px 2px;
    color: #fff !important;
}

/* Story agent
   ========================================================================== */

.story-agents,
.story-agents .story-title {
    margin-bottom: 12px;
}

.story-agents figcaption:before {
    background-image: none;
}

.agent__name,
.agent__name a,
.agent__role {
    margin: 0;
    font-family: $serifheadline;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.2em;
    color: #000;
}

.agent__role {
    color: #F7634F;
}

.agent__body {
    margin-top: 12px;
    font-family: $sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #000;
}

.story-agents .cta-new__text--center {
    color: #929396;
}


/* New call to action
   ========================================================================== */

.cta-new {
    position: relative;
    display: block;
    height: 32px;
    color: #005689;
    font-family: $serif;
    font-size: 1.4rem;
    vertical-align: top;
    padding-left: 2px;
    border-top: 1px dotted rgb(103,103,103);

    .cta-new__btn--left {
        margin-left: -2px;
    }
}

.cta-new--dark {
    background-color: #333;
    border-top-style: solid;

    .cta-new__btn {
        border-color: #fff;
        border-style: solid;
        background-color: #005588;
    }

    .cta-new__text {
        color: #B3B3B4;
    }
}

.cta-new__btn {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 31px;
    border-width: 0;
    border-style: dotted;
    border-color: rgb(103,103,103);
    background-color: transparent;
    @include box-sizing(border-box);

    .i {
        position: absolute;
        bottom: 2px;
    }
}

.cta-new__btn--wide {
    width: 100%;
    text-align: left;
    padding: 0 5px;
    height: 26px;
    
    .cta-new__text {
        color: #005689;
    }
}

.cta-new--blue {
    background-color: #00638E;

    .cta-new__text {
        color: #fff;
    }
    .cta-new__btn--right {
        border-color: #fff;
    }
}

.cta-new--story {
    border-top: 1px solid #fff;

    a {
        padding-left: 5px;
        display: block;
        position: relative;
        padding-bottom: 9px;
    }
    .cta-new__icn--right {
        position: absolute;
    }
}


.is-open .cta-new__btn i {
    @include rotate(180deg);
}

.cta-new__text--center {
    position: absolute;
    bottom: 0;
    font-size: 1.4rem;
    left: 48%;
}

.cta-new__btn--right {
    float: right;
    border-left-width: 1px;

    .i {
        left: 2px;
    }
}

.cta-new__icn-container {
    display: block;
    width: 60px;
    height: 31px;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px dotted #676767;
}

.cta-new__icn-container--blue {
    border-left: 1px solid #fff;
}

.cta-new__icn--right,
i.is-open.cta-new__icn--right {
    bottom: 8px !important;
    @include rotate(-90deg);
}

.cta-new__btn--left {
    float: left;
    border-right-width: 1px;

    .i {
        right: 0;
        bottom: 8px;
        @include rotate(90deg);
    }
}


/* Tabs
   ========================================================================== */

.tabs-container {
    padding: 0;
}

.story-tabs-container .update {
    margin-top: 8px;
}

.story-live .article-head .dateline {
    display: block;
}

.story-live .article-zone, 
.story-live .article-head > *,
.story-live .social,
.story-live .block:nth-child(n+20) {
    display: none;
}

.story-tabs-container {
    > .tabs-content {
        border: none;
    }

    > .tabs {
        margin: 0 $gutter*-1 16px;

        li {
            background-color: #eee;
            border-bottom: 1px solid $darkMushroom;
            @include box-sizing(border-box);

            &:first-child {
                border-right: 1px solid $darkMushroom;  
                a {
                    padding-left: $gutter;
                }
            }
        }
        .tabs-selected {
            border-top: 1px solid $darkMushroom;
            border-bottom: none;

            a {
                padding-top: 3px;
                background-color: #fff;
            }
        }

        a {
            text-align: left;
            padding: 4px 0 15px $gutter/2;
            margin: 0;
            font-weight: normal;
            font-size: 1.4rem;
        }
    }
}
