<div class="devtools">
    <ul>
        <% tests.forEach(function(test) { %>
            <li>
                <div class="devtools__test">
                    <%= test.id %>
                </div>
                <% test.variants.forEach(function(variant) { %>
                    <div class="devtools__variant">
                        <input type="radio" id="<%=test.id%>-<%=variant.id%>" name="<%= test.id %>">
                        <label
                            data-ab-test="<%= test.id %>"
                            data-ab-variant="<%= variant.id %>"
                            class="js-devtools-force-ab"
                            for="<%=test.id%>-<%=variant.id%>"
                        >
                            <%= variant.id %>
                        </label>
                    </div>
                <% }); %>
            </li>
        <% }); %>
    </ul>
</div>
