@(page: Page)(implicit request: RequestHeader)

@main(page, Switches.all){  }{

    @Zones(request, Configuration).map{ zone =>

        <section class="sections zone-@zone.name.zone" data-link-name="@zone.name.linkName">

            @if(zone.name.title == "News") {
                <h1 class="article-zone">All sections</h1>
            } 

            @if(zone.name.title != "News") {
            	<h1 class="article-zone type-2">
                    <a href="@zone.name.href" data-link-name="zone:text" class="zone-color">
                        @HtmlFormat.raw(zone.name.title)
                    </a>
                </h1>
            }

            <ul class="nav nav-columns nav-top-border-off cf">

                @zone.sections.map{ section =>
                    <li>
                        <a href="@section.href" data-link-name="@section.linkName:text">
                            @HtmlFormat.raw(section.title)
                        </a>
                    </li>
                }
            </ul>

        </section>
    }
}
