@(section: Section, editorsPicks: Seq[Trail], latestContent: Seq[Trail])(implicit request: RequestHeader)

@main(section, Switches.all){  }{
    <section class="front-section zone-@section.section two-thirds" role="main">
        @if(section.name == "Football") {
            @fragments.footballNav("/football", None, None, "football-top-nav")
        }

        @fragments.headers.sectionHead(section.name)

        @defining(math.max(editorsPicks.length, 15)){ numTrails =>
            @defining((editorsPicks ++ latestContent).take(numTrails)){ trails =>
	    	    <div class="trailblock" data-count="@trails.length" data-link-name="Section | block | @section.section">
	                @fragments.trailblocks.section(trails, numWithImages = 3, numItemsVisible = numTrails)
	            </div>
            }
        }

    </section>

    @if(section.name == "Football") {
        @fragments.footballNav("/football", None, None, "football-bottom-nav")
    }

   @fragments.adSlot(id="rhs-top-ad", baseSlot="none", medianSlot="none", extendedSlot="Middle1")

   @fragments.mostPopularPlaceholder(section.section, Seq("one-third"))

}
