.subnav {
    background-color: #ffffff;
    border-top: 1px solid $rule;
    height: $veggie-burger-medium - $gs-baseline;
    overflow: hidden;
    position: relative;

    @include mq(tablet) {
        height: 42px;
    }
}

.subnav--expanded {
    height: auto;

    .subnav-link--toggle-more {
        float: left;
    }
}

// TODO: reset list-style mixin
.subnav__list {
    box-sizing: border-box;
    line-height: 1;
    list-style: none;
    margin: 0;
    // Width of the container minus the rough width of the more toggle
    max-width: calc(100% - 60px);
    padding: 0 ($gs-gutter / 4);

    @include mq(mobileLandscape) {
        max-width: calc(100% - 70px);
        padding: 0 ($gs-gutter / 2 + $gs-gutter / 4);
    }

    .subnav--expanded & {
        padding-bottom: $gs-baseline;
        max-width: 100%;
        width: 100%;
    }
}

.subnav__item:not(.subnav__item--toggle-more) {
    display: block;
    float: left;
}

.subnav__item--parent:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid $nav-primary-colour;
}
