.new-header__top-bar {
    position: absolute;
    top: 0;
    right: 202px;

    @include mq(desktop) {
        right: 224px;
    }

    body:not(.has-page-skin) & {
        @include mq(leftCol) {
            right: 342px;
        }
    }
}

.top-bar__item {
    @include fs-textSans(2);
    color: $brightness-100;
    float: left;
    line-height: 1;
    position: relative;
    transition: color .3s ease-in-out;
    z-index: $zindex-main-menu + 2;

    &:hover,
    &:focus {
        color: $highlight-main;
        text-decoration: none;
    }

    @include mq($until: tablet) {
        &.popup__toggle:after {
            content: none;
        }
    }

    @include mq(mobileMedium) {
        padding-top: $gs-baseline;
    }

    @include mq(tablet) {
        font-size: 15px;
        padding: 9px ($gs-gutter / 3);
    }
}

.top-bar__item__seperator {
    border-left: 1px solid $nav-border-colour;
    left: 0;
    top: 0;
    height: 22px;
    float: left;
    margin-left: $gs-gutter / 2;
}

.new-header__user-account-container {
    float: left;
    position: relative;
    // Needs to sit below the menu, and the veggie burger
    z-index: $zindex-main-menu - 2;
}
