@import navigation.UrlHelpers.{getReaderRevenueUrl, ManageMyAccountUpsell}
@import navigation.ReaderRevenueSite.Support

@()(implicit request: RequestHeader)

<div class="manage-account-up-sell is-hidden js-contribution-up-sell">
    <div class="manage-account-up-sell__heading">
        <h2 class="manage-account-header">Support us with a contribution</h2>
    </div>
    <p class="manage-account-up-sell__content">Help us deliver the independent journalism the world needs. Support the Guardian's quality, investigative journalism by making a contribution.</p>

    <a href="@getReaderRevenueUrl(Support, ManageMyAccountUpsell)" class="manage-account__button manage-account__button--icon" data-link-name="Join today">
        Make a contribution
        @fragments.inlineSvg("arrow-right", "icon")
    </a>
</div>
