@import conf.switches.Switches.ProfileShowCancelContributor
@import conf.switches.Switches.ProfileShowChangeContributionAmount

@(user: com.gu.identity.model.User)
<div class="is-hidden js-contribution-info">
    <ul class="details-list u-unstyled js-contribution-details">
        <li class="details-list__item">
            <div class="fieldset__heading">
                <h2 class="form__heading">
                    Contributor since
                </h2>
            </div>

            <div class="fieldset__fields">
                <div class="form-field">
                    <span id="qa-contribution-period-start" class="js-contribution-period-start"></span>
                </div>
            </div>
        </li>
        <li class="details-list__item js-contribution-next-payment-date-container">
            <div class="fieldset__heading">
                <h2 class="form__heading">
                    Next contribution date
                </h2>
            </div>

            <div class="fieldset__fields">
                <div class="form-field">
                    <span id="qa-contribution-next-payment-date" class="js-contribution-next-payment-date"></span>
                </div>
            </div>
        </li>
        <li class="details-list__item js-contribution-next-payment-amount-container">
            <div class="fieldset__heading">
                <h2 class="form__heading">
                    <span class="js-contribution-plan-interval"></span> payment
                </h2>
            </div>

            <div class="fieldset__fields">
                <div class="form-field">
                    <span id="qa-contribution-next-payment-price" class="js-contribution-next-payment-price"></span>
                    @if(ProfileShowChangeContributionAmount.isSwitchedOn) {
                        <button id="qa-change-contribution-amount" class="manage-account__button manage-account-cta js-manage-account-change-contribution-amount" data-link-name="Change contribution" data-email="@user.primaryEmailAddress">
                            Change amount
                        </button>
                    }
                </div>
            </div>
        </li>
        <li class="details-list__item js-contribution-next-payment-form-container is-hidden">
            <div class="fieldset__heading">
                <h2 class="form__heading">
                    <span class="js-contribution-plan-interval"></span> payment
                </h2>
            </div>

            <div class="fieldset__fields">
                <div class="form-field">
                    <div class="manage-account-loader js-mem-loader js-contribution-update-in-progress is-hidden">
                        <span class="is-updating show-updating"></span>
                    </div>
                    <div class="js-contribution-update-form">
                        <span class="js-contribution-glyph is-hidden"></span>
                        <input type="text" id="qa-contribution-next-payment-new-price" class="js-contribution-next-payment-new-price"></input>
                        <div id="qa-contribution-user-update-amount" class="manage-account__button-container">
                            <button id="qa-change-contribution-amount-confirm" class="manage-account__button disabled manage-account__button-half--left manage-account-cta-half--left js-manage-account-change-contribution-amount-confirm" data-link-name="Change contribution amount" data-email="@user.primaryEmailAddress">
                                Confirm
                            </button>
                            <button id="qa-change-contribution-amount-cancel" class="manage-account__button manage-account__button-half--right manage-account-cta-half--right js-manage-account-change-contribution-amount-cancel" data-link-name="Cancel change contribution amount" data-email="@user.primaryEmailAddress">
                                Back
                            </button>
                        </div>
                        <div class="js-manage-account-change-contribution-amount-too-high is-hidden">Thank you, but we cannot accept contributions over 2000.00</div>
                        <div class="js-manage-account-change-contribution-amount-too-low is-hidden">Please enter an amount of 5.00 or more</div>
                        <div class="js-manage-account-change-contribution-amount-unchanged is-hidden">Please enter an amount that is not the same as your current contribution</div>
                    </div>
                </div>
            </div>
        </li>

    </ul>
    <div class="js-current-contribution-amount is-hidden"></div>
    <div class="js-contribution-card-details is-hidden" data-product="contribution">
        @views.html.profile.stripe(user)
    </div>
    <div class="js-contribution-paypal is-hidden" data-product="contribution">
        @views.html.profile.payPal()
    </div>
    @if(ProfileShowCancelContributor.isSwitchedOn) {
        <div class="js-contribution-cancel is-hidden" data-product="contribution">
           @views.html.profile.cancelRegularContribution(user)
        </div>
    }

</div>
