{
    "env": {
        "production": {
            "presets": [
                "latest"
            ]
        },
        "development": {
            "plugins": [
                "transform-async-to-generator"
            ]
        }
    }
}
