{
    "env": {
        "production": {
            "presets": [
                "env",
            ],
            "plugins": [
                "add-module-exports",
                "transform-es2015-modules-amd",
                "transform-runtime",
            ],
        },
        "development": {
            "presets": [
                "env",
            ],
            "plugins": [
                "add-module-exports",
                "transform-es2015-modules-amd",
                "transform-runtime",
            ],
        },
        "internal": {
            "presets": [
                ["env", {
                    "targets": {
                        "browsers": [
                            "last 2 Chrome versions",
                            "last 1 Safari version",
                            "last 2 Firefox versions",
                            "last 2 Edge versions",
                        ],
                    }
                }],
            ],
        },
    },
    "ignore": [
        "eslintrc.js",
    ],
}
