{
    "env": {
        "production": {
            "presets": [
                ["env", {
                    "modules": false
                }]
            ],
            "plugins": [
                "transform-runtime",
                "transform-flow-strip-types",
                "add-module-exports",
                "transform-es2015-modules-amd"
            ],
        },
        "development": {
            "presets": [
                ["env", {
                    "modules": false
                }]
            ],
            "plugins": [
                "transform-runtime",
                "transform-flow-strip-types",
                "add-module-exports",
                "transform-es2015-modules-amd"
            ],
        },
        "internal": {
            "presets": [
                ["env", {
                    "targets": {
                        "browsers": [
                            "last 2 Chrome versions",
                            "last 1 Safari version",
                            "last 2 Firefox versions",
                            "last 2 Edge versions",
                        ],
                    }
                }],
            ],
        },
        "karma": {
            "presets": [
                ["env", {
                    "modules": "amd"
                }]
            ],
            "plugins": [
                "transform-runtime",
                "transform-flow-strip-types"
            ],
        },
    },
    "ignore": [
        "eslintrc.js",
    ],
}
