{
    "extends": "eslint:recommended",
    "env": {
        "node": true
    },
    "rules": {
        "semi": 2,
        "quotes": [2, "single"],
        "no-undef": 2,
        "no-use-before-define": [2, "nofunc"],
        "no-multi-spaces": 0,
        "no-underscore-dangle": 0,
        "key-spacing": 0,
        "no-alert": 0
    }
}
