# for perf reasons, exclude all files by default
/*

# since we'll opting their parents back in, we need to explicitly exclude these
node_modules
__flow__
flow-type*
__snapshots__
dist
coverage

# generic options
!.eslintrc.js
!.stylelintrc.js

# files cannot be opted in if their parents are opted out, therefore
# we need to explicitly opt each parent back in, then ignore all
# children again except what we want.
# see https://git-scm.com/docs/gitignore

# include static
!/static
/static/*

# main app
!/static/src
/static/src/*
!/static/src/javascripts*

# legacy tests #karma-jest
!/static/test
/static/test/*
!/static/test/javascripts-legacy
/static/test/javascripts-legacy/components
/static/test/javascripts-legacy/helpers/raw-loader.js
/static/src/javascripts.flow.archive

# guui
!/ui

# dev
!/dev

# tools
!/tools

# git-hooks
!/git-hooks
