{
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2017
    },
    "env": {
        "node": true,
        "es6": true,
        "commonjs": true
    },
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "single"],
        "no-undef": "error",
        "no-use-before-define": ["error", "nofunc"],
        "no-multi-spaces": "off",
        "no-underscore-dangle": "off",
        "key-spacing": "off",
        "no-alert": "off"
    }
}
