# generic
jspm_packages
bower_components
node_modules
!.eslintrc.js

# main app
static/src/stylesheets
static/src/javascripts/components
static/src/javascripts/vendor
static/src/javascripts/polyfills
static/src/javascripts/projects/common/utils/atob.js
static/src/javascripts/projects/common/utils/picturefill.js

# deploys radiator
static/src/deploys-radiator/target
static/src/deploys-radiator/config.js

# tests
static/test/javascripts/components
