# generic
jspm_packages
node_modules
!.eslintrc.js

# main app
static/src/stylesheets
static/transpiled
static/vendor/javascripts
static/src/javascripts-legacy/projects/common/utils/atob.js
static/src/javascripts-legacy/projects/common/utils/picturefill.js

# tests #karma-jest
static/test/javascripts-legacy/components
