artifacts.zip
/dist

frontend-article.properties
frontend-core-navigation.properties
frontend-front.properties
frontend-gallery.properties
frontend-tag.properties
frontend-section.properties
frontend-video.properties

*.csv
*.iml
*.box
*.log

.*

log
logs

tmp
old
target
/*/bin/

RUNNING_PID

frontend.sublime-workspace
frontend.sublime-project

tags

local.sbt

node_modules

common/app/assets/stylesheets/head.min.css
common/app/assets/stylesheets/main.min.css
common/app/assets/stylesheets/football.min.css
style-guide/app/assets/stylesheets/styleguide.min.css

dev/gems
