artifacts.zip
/dist

frontend-article.properties
frontend-core-navigation.properties
frontend-front.properties
frontend-gallery.properties
frontend-tag.properties
frontend-section.properties
frontend-video.properties
frontend-applications.properties

*.min.css
*.min.css.map
*.csv
*.iml
*.box
*.log

.*
!.editorconfig

log
logs

tmp
old
target
/*/bin/

RUNNING_PID

*.sublime-*

tags

local.sbt

screenshots

common/conf/assets

dev/gems
dev/casperjs
integration-tests/target/*

developer.properties

*-spec-runner.html

node_modules/phantomjs
