artifacts.zip
/dist

frontend-article.properties
frontend-core-navigation.properties
frontend-front.properties
frontend-gallery.properties
frontend-tag.properties
frontend-section.properties
frontend-video.properties
frontend-applications.properties

*.min.css
*.min.css.map
*.csv
*.iml
*.box
*.log

.DS_Store
.idea
.sass-cache
.tm_properties
.vagrant

log
logs

tmp
old
target
.target
/*/bin/

RUNNING_PID

*.sublime-*

local.sbt
build.sbt

node_modules
screenshots

common/conf/assets

dev/gems
dev/casperjs
integration-tests/target/*

developer.properties

*-spec-runner.html

static

common/app/assets/stylesheets/icons/*

ivy-sbt

# Eclipse #
.project
.classpath
.settings/
.metadata
.classpath
.springBeans
.cache
bower_components
