//Base font-sizes
//Mixin uses arguments: (family, weight, size, line-height);


//SerifHeadline
%type-1 { @include font($serifheadline, normal, 20, 28); }
%type-2 { @include font($serifheadline, normal, 18, 28); }

//SerifText
%type-3 { @include font($serifheadline, normal, 26, 30); }
%type-4 { @include font($serif, 700, 18, 24); }
%type-5 { @include font($serifheadline, normal, 18, 24); }
%type-6 { @include font($serif, normal, 16, 24); }
%type-7 { @include font($serif, normal, 14, 20); }

//Sans-serif's
%type-8  { @include font($sans-serif, normal, 14, 20); }
%type-9  { @include font($sans-serif, bold, 13, 20); }
%type-10 { @include font($sans-serif, normal, 13, 20); }
%type-11 { @include font($sans-serif, normal, 13, 16); }
%type-12 { @include font($sans-serif, normal, 11, 16); }

%d-badge-icon {
    display: inline-block;
    position: relative;
    top: -.1em;
    width: 1em;
    height: 1em;
    margin-left: .2em;
    vertical-align: middle;
    background: #005689;
    font: bold 13px/1 $serifheadline;
    color: #fff;
    text-align: center;
    cursor: help;
}
