@charset 'UTF-8';

/* ==========================================================================
   Variables and mixins
   ========================================================================== */

@import '_vars';
@import '_mixins';
@import 'module/facia/_mixins';
@import 'module/_discussion-mixins';


/* ==========================================================================
   Base
   ========================================================================== */

@import 'base/_normalize';
@import 'base/_base';
@import 'base/_type';
@import '_extends-only';
@import 'base/_links';
@import 'base/_helpers';
@import 'base/_lists';


/* ==========================================================================
   Layout
   ========================================================================== */

@include grid-system;
@import 'layout/_header';
@import 'layout/_helpers';
@include guss-row-utility;
@include guss-columns(
    $base-class: $guss-columns-utility-class,
    $css3-columns-support: false, // Because buggy in some versions of WebKit
    $columns-fallback-width: (
        tablet: gs-span(9),
        desktop: gs-span(12)
    ),
    $columns-fallback-columns: (
        tablet: 2,
        desktop: 3
    )
);


/* ==========================================================================
   Global modules
   ========================================================================== */

@import 'module/nav/_nav';
@import 'module/nav/_control';
@import 'module/_adslot';
@import 'module/_media';
@import 'module/_headers';
@import 'module/nav/_localnav';


/* ==========================================================================
   Facia
   ========================================================================== */

@import 'module/facia/_extends';
@import 'module/facia/_items';
@import 'module/facia/_row-pattern';
@import 'module/facia/_facia-container';
@import 'module/facia/_linkslist';


/* ==========================================================================
   States
   ========================================================================== */

@import 'state/_state';


/* ==========================================================================
   Colours
   ========================================================================== */

@import 'theme/_tones-head';
@import 'theme/_colours';


/* ==========================================================================
   Icons
   ========================================================================== */

@import 'theme/_global-icons-sprite';


/* ==========================================================================
   Misc
   ========================================================================== */

@import 'module/_release-message';
