/* ==========================================================================
    Global Variables
   ========================================================================== */
/**
 *  Be careful of SASS variable scope: http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_
 **/

/* Breakpoints
 ========================================================================== */
$mobile: 18.75em;  //300px
$tablet: 40em;     //640px
$desktop: 56.25em; //900px

/* Tweakpoints
 ========================================================================== */
 $desktopAd: 810px; // Pixel width for leader board change.

/* Layout dimensions
 ========================================================================== */
$baseline: 4px;
$gutter: 10px;
$inArticleInlineImgWidth: 114px;
$trailblockImgWidth: 100%;
$trailblockImgWidthLarge: 140px;

/* Fonts
 ========================================================================== */
$sans-serif: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: "EgyptianText", georgia, serif;
$serifheadline: "EgyptianHeadline", georgia, serif;

/* Colours
 ========================================================================== */
/**
 * @todo: Blues need comments to associate with brand/logo colours
 **/
$blue: #214583;
$darkBlue: #152E5F;
$lightBlue: #95B2CB;
$linkBlue: #005689;
$mushroom: #F4F4EE;
$darkMushroom: #E3E3DB;


$main1: #194377;
$main2: #6783A1;
$main3: #95B1CA;
$main4: #9AE7EF;
$main5: #6BC2D0;
$main6: #34B1A3;
$main7: #009798;
$main8: #1D646E;
$main9: #10793D;
$main10: #6CA843;
$main11: #B8BA33;
$main12: #D7DF2A;
$main13: #E1659F;
$main14: #F2849A;
$main15: #7A2268;
$main16: #931C55;
$main17: #EE7823;
$main18: #F9AF41;
$main19: #FFCC00;
$main20: #D84B27;
$main21: #F6644F;

$neutral1: #000000;
$neutral2: #333333;
$neutral3: #676767;
$neutral4: #929497;
$neutral5: #B3B3B4;
$neutral6: #EEEEE6;
$neutral7: #F5F4EE;
$neutral8: #F9F9F7;
$neutral9: #FCFCFB;
$neutral10: #CFCFCD;

$actionBlue: #005689;
$alertRed: #E21B39;

/* Zones
 ========================================================================== */

/** (be sure to update the styleguide when changing these)
 * note: try to at least alphabetise these within sections
 **/
$articleOrange: #e47a39; //Used for live-blogging
$businessBlue: #004179;
$commentBlue: #004179;
$culturePink: #D1008B;
$environmentGreen: #4A7801;
$lifeandstyleOrange: #EA721E;
$moneyPurple: #7D0068;
$newsRed: #D61D00;
$sportBright: #20A111;
$sportDark: #005D1D;
$sportMid: #057227;
$travelBlue: #066EC9;

/* Football
 ========================================================================== */
$homeColour: $sportBright;
$awayColour: #19646E;

/* Grid
 ========================================================================== */
$ratio        : 5/3;
$fontsize     : 16px;
$base         : 24px;
$baseTopPad   : 5px;
$baseBotPad   : 7px;
$baseLeftPad  : 9px;
$baseRightPad : 10px;
$gridColsMin  : 6;
$gridColsMax  : 14;
$gridWidth    : 80px;
$gridHeight   : 48px;
