/* fixing a pasteup bug, temporary workaround */
p a {
    font-weight: normal;
}


.more-on-story {
    border-top: 2px solid #ccc;
    padding: 3px 2% !important;
}

.more-on-story ul {
    margin: 0 !important;
}

.more-on-story h3 {
    font-size: 11px !important;    
    margin-bottom: 3px !important;
}

.more-on-story li p,
.more-on-story li a {
    font: 13px arial !important;
    line-height: 17px !important;
}

.more-on-story h3.expander, 
.more-on-story li p.type-tone, 
.more-on-story .media .img img {
    display: none;
}

.more-on-story li:first-child .media:first-child {
    border-top: 1px solid #ccc;
    padding-top: 3px;
}

.more-on-story li:first-child {
    margin-top: 0;
    padding-top: 0;
}

.more-inline {
    width: 40%;
    float: left;
    margin: 0 20px 20px 0 !important;
}

.more-single-block .media .img img {
    display: block;
}

.more-multiple-block .media .img img {
    display: block;
}

.more-multiple-block h3.expander {
    display: block;
}






#container {
    margin: 10px;
}

.b1 {
    border-top: 1px solid #ccc;
    padding-top: 8px;
}

.b1b {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.b2 {
    border-top: 1px solid #333;
    padding-top: 8px;
}

.b2b {
    border-bottom: 1px solid #333;
    padding-bottom: 8px;
}

p {
    font: 16px/20px georgia;
    color: #333;
}

h1 {
    font: 24px/30px georgia;
    margin: 10px 0px 30px 0px;
}

h2,
.standfirst {
    font: 17px/20px georgia;
    color: #666;
    margin: 0 0 20px 0;
}

h3 {
    margin: 0 0 7px 0;
    font-size: 14px;
    line-height: 16px;
}

h4 {
    margin: 0;
    padding: 8px 10px 7px 10px;
    background-color: #ededed;
    border-top: 1px solid #ccc;
    font-size: 14px;
    line-height: 16px;
}

.caption {
    font: 12px/15px arial;
    color: #666;
    margin: 5px 0 14px 0;
}

.byline,
.dateline {
    font: 14px/16px arial;
    margin: 0px;
}

.byline {
    margin-bottom: 5px;
}

.byline a {
  font-weight: bold;
}

.dateline {
    color: #666;
}

article {
    margin: 10px 0;
    padding-top: 10px;
}

article p {
    margin: 0px;
    margin-bottom: 10px;
}

article aside {
    font: 15px/20px helvetica, arial, sans-serif;
    margin: 0px 0px 20px 0px;
    padding: 9px 0px 9px 0px;
    list-style: none;
}

/* nicole sullivan's media object */

/* ====== media ====== */
.media { 
    margin: 10px 0;
}

.media, .bd {
    overflow: hidden; 
    _overflow: visible; 
    zoom: 1;
}

.media .img {
    float: left; 
    margin-right: 10px;
}

.media .img img {
    display: block;
}

.media .imgExt {
    float: right; 
    margin-left: 10px;
}

/* ====== /media ====== */


.plain,
.plain li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tags li {
    padding: 8px 10px;
    font-size: 14px;
    line-height: 16px;
}

.tags li a {
    display: block;
}

.tags li:first-child {
    margin-top: 0;
}

.trailblock-shaded {
    margin: 0px 0px 10px 0px;
    padding: 10px 2% 10px 2%;
    background: #eeeeee;    
}

.trailblock h3 {
    font: bold 15px/20px helvetica, arial, sans-serif;
    margin: 0px 0px 10px 0px;
}

.trailblock li {
    margin: 10px 0px 0px 0px;
    padding: 9px 0px 0px 0px;
}

.trailblock li:first-of-type .media {
  margin: 0;
  padding: 0;
  border: none;
}

.trailblock a {
    font: normal 15px/20px georgia, serif;
}

.trailblock p {
  margin: 0;
  padding: 0;
}

/* utility classes for automatically hiding list items > n */
.show-1 li:nth-child(n+2),
.show-2 li:nth-child(n+3),
.show-3 li:nth-child(n+4),
.show-4 li:nth-child(n+5),
.show-5 li:nth-child(n+6),
.show-6 li:nth-child(n+7),
.show-7 li:nth-child(n+8),
.show-8 li:nth-child(n+9),
.show-9 li:nth-child(n+10),
.show-10 li:nth-child(n+11) { 
    display: none; 
}

.count {
    background-color: #a5bedc;
    float: right;
    margin-top: -1px;
    padding: 2px 6px;
    color: #ffffff;
    font-size: 11px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
}


.trailblock .img img {
    width: 60px;
}

.gt-base {
    display: none;
}

.trailblock .trailtext {
    color: #333;
    font-weight: normal;
}

.comments p {
    font-family: arial;
    font-size: 15px;
    line-height: 19px;
}

.comments blockquote {
    margin: 10px;
    padding-left: 10px;
    border-left: 1px dotted #666;
    font-family: arial;
    font-size: 15px;
    line-height: 19px;
    color: #666;
}

.comments .datestamp {
    color: #666;
}

img.badge {
    vertical-align: text-top;
}

.img-extended img {
    width: 100%;
    height: auto;
}

.img-base {
    margin: 10px auto;
    text-align: center;
}

/* was max-width... still up for debate. */
.maxed {
    width: 100%;
}

.placeholder {
    display: none;
}

.component {
    margin-bottom: 20px;
}

.initially-off {
    display: none;
}

.nav,
.nav li,
.nav-sub-nav,
.nav-sub-nav li {
    margin: 0;
    padding: 0;
    list-style: none;    
}

.nav {
    margin: 10px auto;
    width: 100%;
    overflow: visible;
    text-align: center;
}

.nav li {
    display: inline-block;
    width: 32%;
    text-align: left;
}

.nav li a {
    background: #ededed;
    display: block;    
    padding: 4px 5px 8px;
    color: #005689;
    font-size: 13px;
    border-top: 3px solid #ccc;
}

.nav li a:hover {
    background-color: #0061A6;
    color: #fff;
    text-decoration: none;
}

.nav-sub-nav {
    text-align: center;    
}

.nav-sub-nav li {
    text-align: left;
    width: 49%;
    display: inline-block;
}

.nav-sub-nav li a {
    display: block;
    padding: 4px 3px 10px;
    border-top: 2px solid #ccc;
}

.nav-sub-nav li:nth-child(odd) a {
    margin-right: 20px;
}

article figure {
    margin: 0px 0px 20px 0px;
}

article figure img {
    display: block;
}

article figure figcaption {
    font: 12px/20px helvetica, arial, sans-serif;
    text-indent: 0;
    margin: 0px 0px 20px 0px;
    color: #666666;
}

article figure figcaption cite {
    font-size: 10px;
    font-style: normal;
    text-transform: uppercase;
}

article figure figcaption cite a {
    color: #666666;
}

article figure figcaption cite a:hover,
article figure figcaption cite a:visited:hover {
    color: #4d4d4d;
    border-bottom: 1px dotted #4d4d4d;
}

article figure figcaption cite a:visited {
    color: #808080;
    border-bottom: 1px dotted #808080;
}

article h2 {
    font: bold 17px/20px helvetica, arial;
    color: #000;
    margin: 0px 0px 10px 0px;
    padding: 10px 0px 0px 0px;
}

article .article-body > p,
article .article-body ul,
article .article-body ol,
article .article-body address,
article .article-body blockquote {
    font: normal 15px/20px georgia, serif;
    margin: 0px 0px 20px 0px;
}

article blockquote {
    border: 0;
    padding: 0px 2% 0px 20px;
}

article blockquote p {
    font: normal 17px/20px georgia, serif;
    color: #666666;
    margin: 0px 0px 20px 0px;
}

span.timestamp {
    font-weight: bold;
    font-family: helvetica, arial, sans-serif;
}










@media screen and (min-width: 850px) {
    .trailblock .img img {
        width: 160px;
    }
}

@media screen and (min-width: 600px) {
    .lt-extended {
        display: none;
    }

    /* sorry for this :( -- it's because nth-child above has higher specificity */
    .trailblock li,
    .trailblock .trail {
        display: block !important;
    }

    .trailblock h3.expander {
        display: none;
    }

    article .trailblock {
        width: 40%;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 400px) {

    .img-base {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .gt-base {
        display: block;
    }

    .comments .datestamp {
        text-align: right;
    }

}