@mixin hosted-fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear, visibility 0s, margin 200ms ease;
}

@mixin hosted-fade-out {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s linear, visibility 1s, margin 200ms ease;
}

@mixin hosted-slide-in {
    right: 0;
    transition: right 2s linear;
}

@mixin hosted-slide-out {
    right: -242px;
    transition: right 2s linear;
}

.hosted-video-page {
    .hosted__headerwrap {
        .hostedbadge {
            @include mq(leftCol, wide) {
                margin-left: 100px;
            }
        }
        .hostedbadge__logo {
            @include mq($until: wide) {
                // use fading one
                display: none;
            }
        }
    }

    .hosted__next-page-wrapper {
        margin: $gs-baseline $gs-gutter;
        position: relative;
        order: 3;
        overflow: hidden;
        @include mq($until: leftCol) {
            margin: $gs-baseline 0 0;
            padding: 0 $gs-gutter;
            background-color: $neutral-7;
            .hosted__next-page-header--border {
                margin-left: -$gs-gutter;
                width: 150%;
            }
            .hosted__carousel-marker {
                margin-bottom: $gs-baseline/2;
            }
        }
        @include mq(leftCol) {
            width: 300px;
        }
        @include mq(wide) {
            margin-left: 170px;
        }
    }

    .hosted__container.host {
        position: relative;
        background: transparent;
        color: #ffffff;

        @include mq($until: desktop) {
            padding: 0;
        }
    }

    .hosted__glogo,
    .hosted__next-page-wrapper {
        @include mq(leftCol, wide) {
            margin-right: 80px;
        }
    }

    .hosted__video .vjs-control.vjs-current-time {
        @include mq(leftCol) {
            margin-left: 17px;
        }
    }

    .hosted__video.gu-media--video:not(.vjs-playing) .vjs-play-control {
        @include mq($until: leftCol) {
            margin-left: -50px;
        }
        @include mq($until: mobileLandscape) {
            margin-left: -35px;
        }
    }

    .hosted__video.gu-media--video .vjs-progress-control {
        @include mq(leftCol) {
            left: 100px;
        }
    }

}

.hosted__youtube-poster-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
}

.hosted__youtube-play-button {
    @include hosted-fade-out;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    text-align: center;
    transform: translate(-50%, -50%);
    &::before {
        @include mq(mobileLandscape) {
            width: 70px;
            height: 70px;
            font-size: 12px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        transform: translate(-40%, -50%);
        border-style: solid;
    }
}

.youtube__video-ready ~ .hosted__youtube-poster-image {
    pointer-events: none;
}

.youtube__video-buffering,
.youtube__video-playing,
.youtube__video-paused {
    ~ .hosted__youtube-poster-image {
        // HACK! "hide" the poster image (with a 0 height) when video is playing
        // but position static for hosted__youtube-play-button's absolute positioning to work
        height: 0;
        position: static;
    }
}

.youtube__video-ready:not(.youtube__video-started),
.youtube__video-paused,
.youtube__video-ended {
    & ~ .hosted__youtube-poster-image .hosted__youtube-play-button {
        @include hosted-fade-in;
    }
}

.hosted__youtube-video:not(.youtube__video-started),
.youtube__video-paused,
.youtube__video-ended {
    & ~ .vjs-control-bar.youtube-player {
        @include hosted-fade-in;
        transition-delay: 500ms;
        transition-duration: 500ms;
    }
}

.vjs-ended ~ .hosted-fading .hosted__meta {
    width: 60%;
}

.vjs-control-bar.youtube-player {
    @include hosted-fade-out;
    transition-duration: 0s;
    position: absolute;
    bottom: 0;
    background-color: unset;
    font-size: 16px;
    padding-top: 2px;
    left: 98px;
    pointer-events: none;
    padding-left: 2px;

    @include mq($until: leftCol) {
        left: $gs-gutter;
    }
}

.youtube__video-started:not(.youtube__video-ended) {
    @include mq($until: tablet) {
        & ~ .hosted__youtube-poster-image .hosted__youtube-play-button,
        & ~ .vjs-control-bar.youtube-player {
            @include hosted-fade-out;
        }
        & ~ .hosted-fading .hosted__video-overlay {
            display: none;
        }
    }
}

.hosted-next-autoplay {
    @include f-textSans;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #333333;
    padding-top: 94px;

    @include mq(desktop) { //on desktop it's visible just hidden on the right
        visibility: visible;
        opacity: 1;
        width: 242px;
        background-color: rgba(#333333, .4);
        right: -242px;
        height: 100%;
        justify-content: flex-end;
        padding-top: 0;
    }

    .hosted-next-autoplay__cancel {
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 8px;

        .site-message__close-btn {
            border: 0;
            font-size: 16px;
            color: #999999;
            position: static;
        }

        svg {
            position: static;
            margin-top: 5px;
            width: 20px;
            height: 20px;
        }
    }

    .hosted-next-autoplay__video {
        margin: 6px;
    }

    .hosted-next-autoplay__subheader {
        color: #ffffff;
        font-size: 26px;
        font-weight: normal;
        line-height: 26px;
    }

    .hosted-next-autoplay__poster {
        display: none;
        position: relative;
        height: 130px;
        margin-top: 20px;
        @include mq(desktop) {
            display: block;
        }
    }

    .hosted-next-autoplay__poster-img {
        width: 230px;
        height: 130px;
        position: static;
    }

    .hosted-next-autoplay__poster-timer {
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 22px;
        padding: 10px;
        color: #000000;
        border-radius: 100%;
        font-weight: bold;
        line-height: 20px;
        text-align: center;
    }

    .hosted__next-video--mobile {
        @include circular;
        position: relative;
        display: block;
        padding: 4px 6px 4px 40px;
        margin: 16px 0;
        border: 1px solid #ffffff;
        color: #ffffff;
        width: 30%;
        font-weight: bold;

        &:after {
            content: '';
            position: absolute;
            left: 14px;
            top: 8px;
            border-style: solid;
            border-color: transparent transparent transparent $neutral-7;
            border-width: .5rem .5rem .5rem 1.125rem;
            -moz-transform: scale(.99999); // fix for diagonal border aliasing in firefox
        }

        @include mq(desktop) {
            display: none;
        }
    }

    &.js-autoplay-start {
        @include hosted-fade-in;
        @include mq(desktop) {
            @include hosted-slide-in;
        }
    }

    &.hosted-slide-out {
        @include mq(desktop) {
            @include hosted-slide-out;
        }
    }

    .hosted-next-autoplay__next-in-series {
        @include clearfix;
        @include f-headlineSans;
        display: block;
        margin: 6px;
        padding-top: 6px;
    }
}

.hosted-next-autoplay__tile {
    @include clearfix;
    @include circular;
    display: block;
    float: left;
    color: #333333;
    line-height: 30px;
    margin: 12px 0;
    font-weight: 600;
    padding: 4px 6px 4px 16px;

    @include mq(desktop) {
        margin: 24px 0;
    }

    .inline-arrow-right {
        display: block;
        float: right;
        height: 30px;
        width: 30px;
        margin-left: 20px;
    }

    svg {
        position: static;
        fill: #333333;
    }
}
