
$zootropolisColor: #2ec869;
$zootropolisLight: #d5f4e1;

.leffe {
    .hosted-tone-btn {
        &.hosted-tone-btn,
        &:focus,
        &:hover {
            background-color: #ffffff;
            border-color: #ffffff;
        }
    }
}

.zootropolis {
    .hosted-tone {
        color: $zootropolisColor;
    }

    .hosted-tone-bg {
        background-color: $zootropolisColor;
    }

    .hosted-tone-btn {
        &.hosted-tone-btn,
        &:focus,
        &:hover {
            background-color: $zootropolisColor;
            border-color: $zootropolisColor;
            color: #ffffff; //contrast related
            svg {
                fill: #ffffff; //contrast related
            }
        }
    }
    .hosted__next-video .hosted__next-video--tile {
        border-top-color: $zootropolisColor;
        background: $zootropolisLight;
    }

    .hostedbadge.hosted-tone-bg {
        .hostedbadge__info {
            color: #ffffff; //contrast related
        }
    }

    .hosted__link {
        color: $zootropolisColor;
    }
    ~ .survey-overlay-simple {
        .survey-text__header {
            background-color: $zootropolisColor;
            color: #ffffff; //contrast related

            .site-message__close-btn {
                border-color: #ffffff; //contrast related

                .inline-cross {
                    fill: #ffffff; //contrast related
                }
            }
        }
    }
}
