.is-column {
    .content__standfirst {
        font-size: 28px;
        font-style: italic;
    }

    .content__article-body {
        font-size: 18px;
    }
}

.unicorn {
    margin-top: -48px;
    margin-left: -240px;
    background-color: #BD3A81;
    display: flex;
    position: relative;
    z-index: 999999;
    width: gs-span(12);
}

.hello {
    width: 230px;
}

.hiya {
    border-left: 1px solid #ffffff;
    margin-left: $gs-gutter / 2;
    padding: ($gs-baseline / 2) ($gs-gutter / 2) ($gs-baseline * 3);
}

.content__headline--column {
    font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
    font-size: 34px;
    line-height: 1.1;
    font-weight: 900;
}

.content__series-cta {

}

.content__series-cta--text {
    
}
