// Gallery specific styles for Garnett
.immersive-header-container {
    background-color: $garnett-neutral-1;
    overflow-x: hidden;
}

.js-adblock-sticky  {
    background-color: $garnett-neutral-3;
}
.immersive-main-media__headline-container {
    position: relative;
    background: transparent;
    margin-top: -$gs-gutter*5;

    .gs-container {
        @include mq($until: tablet) {
            padding-left: 0;
        }
    }

    .content__main-column {
        background-color: $garnett-neutral-1;
        z-index: 10;
        margin-left: -$gs-gutter/2;
        padding: 0 $gs-gutter/2 $gs-baseline*2;
        min-height: gs-height(2);
        //This allows the headline block to be aligned to the left and not run full width
        width: calc(90vw - #{$gs-gutter});
        @include mq($from: tablet) {
            margin-left: $gs-gutter;
            width: 100vw;
            padding-left: 0;
        }
        @include mq($from: desktop) {
            margin-left: $left-column-wide + ($gs-gutter / 2) * 3;
            padding-left: $gs-gutter / 2;
        }
        @include mq(leftCol) {
            margin-left: $left-column-wide;
            left: ($gs-gutter / 2) * 3;
        }
    }

    .content__headline {
        @include fs-headline(6, true);
        line-height: 1.1;
        font-weight: 700;
        max-width: gs-span(8);
        padding: 0 $gs-gutter/2;
        @include mq(mobileLandscape) {
            padding-left: $gs-gutter;
        }
        @include mq(tablet) {
            padding-left: $gs-gutter/2;
        }
        @include mq(desktop) {
            font-size: 50px;
            line-height: 54px;
        }
    }

    .content__labels {
        margin-left: 0;
        position: absolute;
        transform: translateY(-100%);
        overflow: visible;
        width: auto;
        padding: $gs-baseline/3 $gs-gutter/2;
        @include mq(mobileLandscape) {
            padding-left: $gs-gutter;
        }
        @include mq(tablet) {
            padding: $gs-baseline/2 $gs-gutter/2;
        }
    }

    .content__section-label {
        display: none;
    }

    .content__series-label {
        color: $garnett-neutral-5;
        font-size: 16px;
        font-weight: 700;
        @include mq(desktop) {
            font-size: 20px;
        }
    }


    .content__labels--paidgallery {
        .content__section-label__link {
            color: $paid-article-brand;
        }
    }

    .content__headline--paidgallery {
        .inline-tone-fill {
            fill: $paid-article-brand;
        }
    }


}
