$gallery-lightbox-sidebar-width: gs-span(1);
$gallery-lightbox-info-width-desktop: gs-span(4) + $gs-gutter;
$gallery-lightbox-info-width-wide: gs-span(5) + $gs-gutter;
$c-gallery-lightbox-btn: $brightness-20;
$c-gallery-lightbox-btn--active: $brightness-46;
$gallery-lightbox-sidebar-breakpoint: desktop;

/* Root element and states
   ========================================================================== */

.gallery-lightbox {
    display: none;
    position: fixed;
    background-color: lighten($brightness-7, 2.5%);
    overflow: hidden;
    z-index: $zindex-lightbox;
}

.gallery-lightbox--open {
    display: block;
}

.gallery-lightbox--show-info {

    @include mq($gallery-lightbox-sidebar-breakpoint) {
        .gallery-lightbox__item--img {
            padding-right: $gallery-lightbox-sidebar-width + $gallery-lightbox-info-width-desktop;
        }

        .gallery-lightbox__info {
            right: $gallery-lightbox-sidebar-width;
            opacity: 1;
        }
    }

    @include mq(wide) {
        .gallery-lightbox__item--img {
            padding-right: $gallery-lightbox-sidebar-width + $gallery-lightbox-info-width-wide;
        }
    }

    .gallery-lightbox__info {
        display: block;
    }
}

.gallery-lightbox--endslate {
    .gallery-lightbox__progress,
    .gallery-lightbox__index {
        color: $brightness-46;
    }
    .gallery-lightbox__info {
        display: none;
    }

    .gallery-lightbox__btn--info-button {
        opacity: .3;
        cursor: default;
        pointer-events: none;
    }
}

/* Content
   ========================================================================== */

.gallery-lightbox__content {
    height: 100%;
    position: relative;
    z-index: 2; // above loader / below sidebar
    box-sizing: border-box;
    margin: 0;
    white-space: nowrap;
    transition: transform 20ms;
}

.gallery-lightbox__swipe-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.gallery-lightbox__item {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    background-color: lighten($brightness-7, 2.5%);
    vertical-align: top;

    box-sizing: border-box;

    @include mq($gallery-lightbox-sidebar-breakpoint) {
        padding-right: $gallery-lightbox-sidebar-width;
    }
}

.gallery-lightbox__item--img {
    transition: padding-right .1s ease-in;
}

.gallery-lightbox__item--endslate {
    background-color: $brightness-7;
}

.gallery-lightbox__img-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.gallery-lightbox__img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 4;

    @include mq($gallery-lightbox-sidebar-breakpoint) {
        margin: 0 auto;
    }
}

.gallery-lightbox__loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 3; // behind img
}

/* Meta
   ========================================================================== */

.gallery-lightbox__info {
    @include fs-textSans(3);
    white-space: normal;
    position: absolute;
    z-index: 5;
    color: $brightness-97;
    box-sizing: border-box;
    word-wrap: break-word;
    width: 100%;
    bottom: 0;
    border-top: 1px solid $brightness-20;
    background-color: $brightness-7;
    padding: $gs-gutter/2;
    padding-bottom: $gs-gutter;
    display: none;

    @include mq(tablet) {
        padding-left: $gs-gutter;
        padding-right: gs-span(3);
        padding-top: $gs-gutter;
        padding-bottom: gs-height(1);
    }

    @include mq($gallery-lightbox-sidebar-breakpoint) {
        display: block;
        height: 100%;
        top: 0;
        opacity: 0;
        bottom: auto;
        padding-top: gs-height(2) + $gs-baseline - 2px;
        padding-right: $gs-gutter*2;
        padding-left: $gs-gutter;
        transition: right .1s ease-in, opacity .1s ease-in;
        right: (-1 * $gallery-lightbox-info-width-desktop) + $gallery-lightbox-sidebar-width;
        width: $gallery-lightbox-info-width-desktop;
    }
    @include mq(wide) {
        padding-right: gs-span(1) + $gs-gutter;
        right: (-1 * $gallery-lightbox-info-width-wide) + $gallery-lightbox-sidebar-width;
        width: $gallery-lightbox-info-width-wide;
    }
}

.gallery-lightbox__img-caption {
    > strong:first-child {
        @include fs-headline(3);
        display: block;
        margin-top: 2px;
        box-sizing: border-box;
        padding-right: $gs-gutter*2;
        padding-bottom: $gs-baseline;

        @include mq(tablet) {
            @include fs-headline(4, true);
        }

        & + br {
            display: none;
        }
    }

    a {
        color: $brightness-97;
        border-bottom: 1px solid $brightness-46;
        &:hover {
            color: #ffffff;
            text-decoration: none;
            border-bottom: 1px solid #ffffff;
        }
    }
}

.gallery-lightbox__img-title {
    @include fs-headline(3);
}

.gallery-lightbox__img-credit {
    color: $brightness-86;
    padding-bottom: $gs-baseline/2;
}

/* Sidebar
   ========================================================================== */

.gallery-lightbox__sidebar {
    @include mq($gallery-lightbox-sidebar-breakpoint) {
        position: absolute;
        height: 100%;
        right: 0;
        width: $gallery-lightbox-sidebar-width;
        z-index: 6; // above content
        border-left: 1px solid $brightness-20;
        background: $brightness-7;
    }
}


.gallery-lightbox__btn--close .gallery-lightbox__btn-body {
    @include icon-button(close-icon-white, 44px);
}

.gallery-lightbox__btn--next .gallery-lightbox__btn-body {
    @include icon-button(right-arrow, 44px);
}

.gallery-lightbox__btn--prev .gallery-lightbox__btn-body {
    @include icon-button(left-arrow, 44px);
}

.gallery-lightbox__btn--info-button .gallery-lightbox__btn-body {
    @include icon-button(information-white, 44px);
}


.gallery-lightbox__btn--next,
.gallery-lightbox__btn--prev,
.gallery-lightbox__btn--info-button {
    display: none; // hide at mobile
}

.gallery-lightbox__btn {
    cursor: pointer;
    padding: 8px;
    @include mq($gallery-lightbox-sidebar-breakpoint) {
        display: block;
    }
}

.gallery-lightbox__btn-body {
    margin: auto;
    background: $c-gallery-lightbox-btn;
    border: 0;
    outline: none;
    text-indent: -9999px;

    transition: background-color .2s;
    &:focus {
        background-color: lighten($c-gallery-lightbox-btn, 8%);
    }
}

.gallery-lightbox--hover .gallery-lightbox__btn:hover .gallery-lightbox__btn-body {
    transition: none;
    background: $c-gallery-lightbox-btn--active;
}

.gallery-lightbox--show-info {
    .gallery-lightbox__btn--close {
        display: block;
    }

    .gallery-lightbox__btn--info-button .gallery-lightbox__btn-body {
        background-color: $c-gallery-lightbox-btn--active;
    }
}

.gallery-lightbox__btn--close {
    @include mq($until: $gallery-lightbox-sidebar-breakpoint) {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 7; // above img/sidebar
        padding: $gs-baseline/2 $gs-gutter/2 $gs-gutter*4 $gs-gutter;
    }
    .gallery-lightbox__btn--close-hitbox:hover & {
        transition: none;
        background: $c-gallery-lightbox-btn--active;
    }
}

.gallery-lightbox__button-pulse .gallery-lightbox__btn-body {
    transition: none;
    background-color: $c-gallery-lightbox-btn--active;
}

.gallery-lightbox__progress {
    @include fs-textSans(1);
    color: $brightness-86;
    display: none;
}

.gallery-lightbox__progress--info {
    @include mq($until: $gallery-lightbox-sidebar-breakpoint) {
        display: block;
    }
}
.gallery-lightbox__progress--sidebar {
    @include mq($gallery-lightbox-sidebar-breakpoint) {
        display: block;
        text-align: center;
        padding-top: $gs-baseline * 3;
    }
}

.gallery-lightbox__progress-separator {
    &:after {
        content: ' / ';
        display: inline;
    }
}

.gallery-lightbox__index {
    color: $brightness-97;
}

/* Endslate
   ========================================================================== */

.gallery-lightbox__endslate {
    white-space: normal;
    width: gs-span(9) + $gs-gutter*2;
    margin: 0 auto;
    margin-top: gs-height(1);

    .fc-slice {
        clear: left;
    }

    &.fc-container {
        display: block;
    }

    @include mq(leftCol) {
        width: gs-span(12) + $gs-gutter*2;

        .fc-container__body {
            margin-left: 0 !important;
        }
    }

    @include mq($until: tablet) {
        display: none;
    }

    .l-side-margins {
        display: block;
    }

    .fc-container__header {
        width: 100%;
        margin-bottom: $gs-baseline;
    }
    .fc-container__inner {
        width: auto;
        border-top: 0 !important;
    }

    .fc-container__header__title {
        color: #ffffff;
    }
}
