@mixin colorPalatte($pillarColor, $kickerColor, $mediaColor) {
    .button--secondary,
    .content__section-label__link,
    .drop-cap,
    .pullquote-cite {
        color: $pillarColor;
    }

    .byline,
    .content--media .content__headline,
    .element-pullquote p,
    .tonal__head--tone-feature .content__headline,
    .tonal__head--tone-review .content__headline,
    .tone-colour,
    a {
        color: $kickerColor;
    }

    .byline-img {
        background: $mediaColor;
    }

    .inline-close svg,
    .inline-tone-fill,
    .social-icon svg,
    .social-icon__svg {
        fill: $kickerColor;
    }

    .inline-quote svg {
        fill: $pillarColor;
    }

    .u-underline:hover {
        border-bottom: solid 1px $kickerColor;
    }

    .bullet::before {
        background-color: $kickerColor;
    }

    .meta__twitter a,
    .social-icon,
    .social-icon.social-icon--more {
        &:focus,
        &:hover {
            background-color: $kickerColor;
            border: 1px solid $kickerColor;
        }
    }

    .social-tray__button {
        &:hover {
            .inline-close {
                background-color: $kickerColor;
            }
        }
    }
}
@mixin mediaPalatte($mediaColor) {
    .content__section-label__link,
    .youtube-media-atom__bottom-bar__duration {
        color: $mediaColor;
    }

    .vjs-play-progress,
    .vjs-volume-level,
    .vjs-volume-level:before,
    .youtube-media-atom__bottom-bar__duration:before,
    .youtube-media-atom__play-button:before {
        background: $mediaColor;
    }

    .inline-camera,
    .inline-video-icon__svg,
    .inline-volume-high {
        fill: $mediaColor;
    }
}

.content--pillar-news {
    @include colorPalatte($news-garnett-main-1, $news-garnett-feature, $news-garnett-media-main-1);
}

.content--pillar-arts {
    @include colorPalatte($arts-garnett-main-1, $arts-garnett-feature, $arts-garnett-media-main-1);
}

.content--pillar-lifestyle {
    @include colorPalatte($lifestyle-garnett-feature, $lifestyle-garnett-main-1, $lifestyle-garnett-media-main-1);
}

.content--pillar-opinion,
.content--type-comment {
    @include colorPalatte($opinion-garnett-main-1, $opinion-garnett-main-1, $opinion-garnett-media-main-1);
}

.content--pillar-sport,
.content--pillar-sport.content--type-comment {
    @include colorPalatte($sport-garnett-main-1, $sport-garnett-feature, $sport-garnett-media-main-1);
}

.content--media:not(.paid-content).content--pillar-news,
.immersive-main-media__headline-container.content--pillar-news {
    @include mediaPalatte($news-garnett-media-main-1);
}

.content--media:not(.paid-content).content--pillar-opinion,
.immersive-main-media__headline-container.content--pillar-opinion {
    @include mediaPalatte($opinion-garnett-media-main-1);
}

.content--media:not(.paid-content).content--pillar-arts,
.immersive-main-media__headline-container.content--pillar-arts {
    @include mediaPalatte($arts-garnett-media-main-1);
}

.content--media:not(.paid-content).content--pillar-lifestyle,
.immersive-main-media__headline-container.content--pillar-lifestyle {
    @include mediaPalatte($lifestyle-garnett-media-main-1);
}

.content--media:not(.paid-content).content--pillar-sport,
.immersive-main-media__headline-container.content--pillar-sport {
    @include mediaPalatte($sport-garnett-media-main-1);
}
