@mixin colorPalatte($pillarColor, $kickerColor, $mediaColor) {
    .button--secondary,
    .content__section-label__link,
    .drop-cap,
    .pullquote-cite {
        color: $pillarColor;
    }

    .byline,
    .content--media .content__headline,
    .element-pullquote p,
    .tonal__head--tone-feature .content__headline,
    .tonal__head--tone-review .content__headline,
    .tone-colour,
    a {
        color: $kickerColor;
    }

    .byline-img {
        background: $mediaColor;
    }

    .inline-close svg,
    .inline-tone-fill,
    .social-icon svg,
    .social-icon__svg {
        fill: $kickerColor;
    }

    .inline-quote svg {
        fill: $pillarColor;
    }

    .u-underline:hover {
        border-bottom: solid 1px $kickerColor;
    }

    .bullet::before {
        background-color: $kickerColor;
    }

    .meta__twitter a,
    .social-icon,
    .social-icon.social-icon--more {
        &:focus,
        &:hover {
            background-color: $kickerColor;
            border: 1px solid $kickerColor;
        }
    }

    .social-tray__button {
        &:hover {
            .inline-close {
                background-color: $kickerColor;
            }
        }
    }
}

@mixin richLink($pillarColor, $cardBackground) {
    background-color: $cardBackground;

    a {
        color: inherit;
    }

    .inline-garnett-quote__svg {
        height: get-font-size(headline, 3);
        width: get-font-size(headline, 3) * .5;
        margin-right: get-font-size(headline, 3) * .5;
        fill: $pillarColor;
    }

    .inline-arrow-in-circle-garnett__svg {
        fill: $pillarColor;
    }

    .rich-link__avatar__media,
    .rich-link__container::before {
        background-color: $pillarColor;
    }

    .rich-link__byline {
        font-style: italic;
    }

    .rich-link__header {
        padding-top: $gs-baseline / 6;
    }
    
    .rich-link__kicker,
    .rich-link__byline,
    .rich-link__read-more-text {
        color: $pillarColor;
    }

    .rich-link__kicker {
        border-right: 1px solid $pillarColor;
        padding-right: .375em;
    }
}

@mixin mediaPalatte($mediaColor, $pillar) {
    .content__section-label__link,
    .youtube-media-atom__bottom-bar__duration {
        color: $mediaColor;
    }

    .vjs-play-progress,
    .vjs-volume-level,
    .vjs-volume-level:before,
    .youtube-media-atom__bottom-bar__duration:before,
    .youtube-media-atom__play-button:before {
        background: $mediaColor;
    }

    .inline-camera,
    .inline-video-icon__svg,
    .inline-volume-high {
        fill: $mediaColor;
    }
    
    .vjs-paused .vjs-play-control {
        @include icon(play-icon--#{$pillar});
    }

    .vjs-playing .vjs-play-control {
        @include icon(pause-icon--#{$pillar});
    }

}

.content--pillar-news {
    @include colorPalatte($news-garnett-main-1, $news-garnett-feature, $news-garnett-media-main-1);
}

.content--pillar-arts {
    @include colorPalatte($arts-garnett-main-1, $arts-garnett-feature, $arts-garnett-media-main-1);
}

.content--pillar-lifestyle {
    @include colorPalatte($lifestyle-garnett-feature, $lifestyle-garnett-main-1, $lifestyle-garnett-media-main-1);
}

.content--pillar-opinion,
.content--type-comment {
    @include colorPalatte($opinion-garnett-main-1, $opinion-garnett-main-1, $opinion-garnett-media-main-1);
}

.content--pillar-sport,
.content--pillar-sport.content--type-comment {
    @include colorPalatte($sport-garnett-main-1, $sport-garnett-feature, $sport-garnett-media-main-1);
}

.content--media:not(.paid-content).content--pillar-news,
.immersive-main-media__headline-container.content--pillar-news {
    @include mediaPalatte($news-garnett-media-main-1, news);
}

.content--media:not(.paid-content).content--pillar-opinion,
.immersive-main-media__headline-container.content--pillar-opinion {
    @include mediaPalatte($opinion-garnett-media-main-1, opinion);
}

.content--media:not(.paid-content).content--pillar-arts,
.immersive-main-media__headline-container.content--pillar-arts {
    @include mediaPalatte($arts-garnett-media-main-1, arts);
}

.content--media:not(.paid-content).content--pillar-lifestyle,
.immersive-main-media__headline-container.content--pillar-lifestyle {
    @include mediaPalatte($lifestyle-garnett-media-main-1, lifestyle);
}

.content--media:not(.paid-content).content--pillar-sport,
.immersive-main-media__headline-container.content--pillar-sport {
    @include mediaPalatte($sport-garnett-media-main-1, sport);
}

.rich-link {
    &.tone-news--item {
        @include richLink($news-garnett-main-1, $garnett-neutral-3);
    }

    &.tone-comment--item {
        @include richLink($opinion-garnett-main-1, $garnett-neutral-3);
    }

    &.tone-comment--item,
    &.tone-feature--item.rich-link--pillar-sport {       
        .rich-link__image-container {
            display: none;
        }
        
        .rich-link__container {
            @include multiline(4, $garnett-neutral-4);
            padding-bottom: 13px;
        }
    }

    &.tone-feature--item.rich-link--pillar-sport {
        @include richLink($sport-garnett-main-1, $garnett-neutral-3);
    }

    &.tone-live--item {
        @include richLink($live-garnett-main-2, $live-garnett-main-1);

        .u-faux-block-link--hover {
            background-color: darken($live-garnett-main-1, 5%);
        }
        
        &,
        .rich-link__link {
            color: #ffffff;
        }
    }
    
    &.tone-media--item {
        &.rich-link--pillar-opinion {
            @include richLink($news-garnett-main-1, $media-garnett-main-1);
        }
        &.rich-link--pillar-opinion {
            @include richLink($opinion-garnett-main-1, $media-garnett-main-1);
        }
        &.rich-link--pillar-opinion {
            @include richLink($sport-garnett-main-1, $media-garnett-main-1);
        }
        &.rich-link--pillar-opinion {
            @include richLink($arts-garnett-main-1, $media-garnett-main-1);
        }
        &.rich-link--pillar-opinion {
            @include richLink($lifestyle-garnett-main-1, $media-garnett-main-1);
        }
        
        .u-faux-block-link--hover {
            background-color: darken($media-garnett-main-1, 5%);
        }

        &,
        .rich-link__link {
            color: #ffffff;
        }

        .rich-link__read-more-text {
            display: none;
        }

    }
}
