.content--type-article {
    .submeta {
        position: relative;
        border-top: 0;
        margin-top: $gs-row-height;

        &:before {
            content: '';
            position: absolute;
            top: -10px;
            left: 0;
            right: 0;
            height: 3px;
            border-bottom: 1px solid $neutral-5;
            border-top: 1px solid $neutral-5;
        }

        &:after {
            content: '';
            position: absolute;
            top: -2px;
            left: 0;
            right: 0;
            height: 3px;
            border-bottom: 1px solid $neutral-5;
            border-top: 1px solid $neutral-5;
        }

        &__keywords {
            padding-bottom: $gs-baseline/2;
        }
    }

    .submeta__link {
        font-weight: 200;
    }

    .submeta__link-item {
        @include fs-textSans(3);
    }

    .submeta__label {
        margin-bottom: 0;
    }

    .submeta__keywords {
        padding-bottom: $gs-baseline/2;
    }

    .submeta__section-labels .submeta__link {
        @include f-bodyHeading;
    }
}
