@(
    returnUrl : String,
    idUrlBuilder: services.IdentityUrlBuilder
)(implicit request: RequestHeader, messages: play.api.i18n.Messages, context: model.ApplicationContext)


<div class="l-side-margins">
    <div class="identity-ad-prefs-area identity-ad-prefs-area--header"> 
        <div class="gs-container">  
            <header class="identity-ad-prefs-area__section">    
                <h1 class="identity-title">Your privacy</h1>    
            </header>   
        </div>  
    </div>

<div class="identity-ad-prefs-area gs-container">

         <section class="identity-ad-prefs-area__section">
            <h2 class="identity-title identity-title--small">We use cookies</h2>
            <p>Cookies are a common feature used on almost all websites. A cookie is a small text file that is downloaded onto a device to allow a website to recognise it and to store some information about your preferences.</p>

            <p>We use cookies for different reasons, including helping you stay logged in to your Guardian account, measuring your visits on our sites, recognising and remembering your preferences and showing you personalised ads. <a class="u-underline" href="https://www.theguardian.com/info/cookies">Learn more about cookies and how we use them.</a></p>

        </section>

        <section class="identity-ad-prefs-area__section identity-ad-prefs-area__section--ballot">
            <div class="js-manage-account__ad-prefs">
                <span>Loading…</span>
            </div>
            <noscript>
                Javascript is required to edit your advert preferences
            </noscript>
        </section>
        <section class="identity-ad-prefs-area__section identity-ad-prefs-area__section--help">
            <p><i>Note: these settings will only apply to the browser and device you are currently using.</i></p>
        </section>

</div>

<div class="identity-ad-prefs-area">

    <div class="gs-container">

        <section class="identity-ad-prefs-area__section">
            <p>You can manually opt out of specific advertising partners by following the links on our <a class="u-underline" href="https://www.theguardian.com/info/cookies">cookies policy page</a>.
            </p>
        </section>
    </div>
</div>

</div>
