@import conf.Static
@import views.support.RenderClasses
@import model.{ApplicationContext, IdentityPage}
@import com.gu.identity.model.EmailNewsletters
@import services.EmailPrefsData
@import form.IdFormHelpers.nonInputFields
@import views.support.`package`.Seq2zipWithRowInfo
@import views.support.fragment.Switch._
@import views.support.fragment.ConsentChannel._
@import conf.switches.Switches.IdentityShowCommunicationChannelConsents
@import common.LinkTo


@(
    user: com.gu.identity.model.User,
    forms: controllers.ProfileForms,
    journey: String,
    verifiedReturnUrl: String,
    idRequest: services.IdentityRequest,
    idUrlBuilder: services.IdentityUrlBuilder,
    emailPrefsForm: Form[EmailPrefsData],
    emailSubscriptions: List[String],
    availableLists: EmailNewsletters,
    consentHint: Option[String] = None)(implicit request: RequestHeader, messages: play.api.i18n.Messages, context: model.ApplicationContext)

@onlySubscribedToV1Newsletters = @{
    EmailNewsletters.all.subscriptions.filter { newsletter =>
        emailSubscriptions.contains(newsletter.listId.toString)
    }
}

@emailRepermissionStepShouldDisplay = @{
    onlySubscribedToV1Newsletters.nonEmpty
}

@channelStep() = {
    @if(IdentityShowCommunicationChannelConsents.isSwitchedOn && communicationChannelsForUser(user).nonEmpty) {
        <fieldset class="identity-wizard__step" data-wizard-step-name="channels" role="dialog" aria-labelledby="consentWizardChannelsTitle">

            <legend class="identity-title" id="consentWizardChannelsTitle">
                How can we get in touch with you?
            </legend>
            <p class="identity-title-subtitle">
                Besides email, are there any other ways you would like us to get in touch with you?
            </p>

            <div class="fieldset fieldset--manage-account-noborder fieldset--manage-account-block">
                <div class="manage-account__switches">
                    <ul>
                        @communicationChannelsForUser(user).map((channel) =>
                            Html(s"<li>${checkboxName(channel)}</li>")
                        )
                    </ul>
                </div>
            </div>

        </fieldset>
    }
}

@consentStep(journey:String) = {
    <fieldset class="identity-wizard__step" data-wizard-step-name="consent" role="dialog" aria-labelledby="consentWizardConsentTitle">

        <form novalidate action="@idUrlBuilder.buildUrl("/privacy/edit", idRequest)" role="main" method="post">
            @views.html.helper.CSRF.formField

            @if(journey == "all") {
                <legend class="identity-title" id="consentWizardConsentTitle">
                    We need you to consent again to receiving communications from The Guardian
                </legend>
                <p class="identity-title-subtitle">Tick the boxes you are interested in. We have featured some you might be interested in.</p>
            } else {
                <legend class="identity-title" id="consentWizardConsentTitle">
                    What would you like to hear about?
                </legend>
                <p class="identity-title-subtitle">Just take a couple of minutes to tell us what you’re interested in, so we can send you emails that we think you’ll find useful.</p>
            }
            <div class="fieldset fieldset--manage-account-noborder fieldset--manage-account-block">
                <div class="manage-account__switches manage-account__switches--wide">
                    <ul>
                    @helper.repeatWithIndex(forms.privacyForm("consents"), min=1) { (consentField, index) =>
                        <li>
                            @if(index == 0) {
                                @fragments.consentSwitch(consentField, consentHint)(messages)
                            } else {
                                @fragments.consentSwitch(consentField)(messages)
                            }
                        </li>
                    }
                    </ul>
                </div>
            </div>
        </form>

    </fieldset>
}

@emailRepermissionStep() = {
    @if(emailRepermissionStepShouldDisplay) {
        <fieldset class="identity-wizard__step" data-wizard-step-name="email" role="dialog" aria-labelledby="consentWizardEmailTitle">

            <form novalidate action="@idUrlBuilder.buildUrl("/privacy/edit", idRequest)" role="main" method="post">
                @views.html.helper.CSRF.formField
                @fragments.form.hidden(emailPrefsForm("htmlPreference"))

                <legend class="identity-title" id="consentWizardEmailTitle">Your existing newsletters</legend>
                <p class="identity-title-subtitle">
                    You were receiving the following newsletters, tick their boxes again to confirm you want to keep receiving them.
                </p>

                <div class="manage-account__switches">
                    <ul>
                    @onlySubscribedToV1Newsletters.zipWithRowInfo.map { case (newsletter, row) =>
                    <li>
                        @fragments.newsletterSwitch(
                            emailPrefsForm,
                            emailSubscriptions,
                            newsletter = newsletter,
                            unchecked = true
                        )(nonInputFields, messages, request)
                    </li>
                    }
                    </ul>
                </div>
            </form>
        </fieldset>
    }
}

@emailSignupStep() = {
    <fieldset class="identity-wizard__step" data-wizard-step-name="email-signup" role="dialog" aria-labelledby="consentWizardEmailSignupTitle">

        <form novalidate action="@idUrlBuilder.buildUrl("/privacy/edit", idRequest)" role="main" method="post">
            @views.html.helper.CSRF.formField
            @fragments.form.hidden(emailPrefsForm("htmlPreference"))

            <legend class="identity-title" id="consentWizardEmailSignupTitle">Your newsletters</legend>
            <p class="identity-title-subtitle">
                Our regular newsletters help you get closer to our quality, independent journalism. You can tailor your experience by picking the issues and topics that interest you below. Just so you know, your newsletter might include messages about how you can support the Guardian, as well as our events, jobs, masterclasses and holidays.
            </p>

            <div class="manage-account__switches">
                @fragments.emailListCategories(emailPrefsForm,availableLists,emailSubscriptions,true)(request, messages)
            </div>
        </form>
    </fieldset>
}

@emailRepermissionOrSignupStep() = {
    @if(emailRepermissionStepShouldDisplay) {
        @emailRepermissionStep()
    } else {
        @emailSignupStep()
    }
}

@endcardStep() = {
    <fieldset class="identity-wizard__step" data-wizard-step-name="endcard" role="dialog" aria-labelledby="consentWizardEmailSignupTitle">
        <div class="identity-consent-thanks__wrap">
            <form class="identity-consent-thanks" method="POST" action="@idUrlBuilder.buildUrl("/complete-consents", idRequest)">
                <input type="hidden" name="returnUrl" value="@verifiedReturnUrl" />
                @views.html.helper.CSRF.formField
                <legend class="identity-consent-thanks__title" id="consentWizardEmailSignupTitle">Thank you</legend>
                <aside class="identity-consent-thanks__content">
                    <p>Your support helps us deliver the quality independent journalism the world needs</p>
                    <button
                        type="submit"
                        class="manage-account__button"
                        data-link-name="consents : submit"
                    >Continue</button>
                </aside>
            </form>
        </div>
    </fieldset>
}

<div class="identity-wrapper-for-bg identity-wrapper-for-bg--overflows">
    <div class="gs-container">
        <div class="monocol-wrapper">

            <div class="u-cf identity-section identity-wrapper identity-wrapper--with-wizard">

                <div class="js-errorHolder manage-account__errors"></div>

                <noscript>
                    <div class="form__error">
                        <p>
                            Setting your preferences requires a browser with Javascript enabled.
                        </p>
                        <p>
                            Please consider upgrading to one of our <a href="@LinkTo(/help/recommended-browsers)">recommended browsers</a>. If you need more help please <a href="@LinkTo(/info/tech-feedback)">contact us</a>.
                        </p>
                    </div>
                </noscript>

                <div class="identity-wizard identity-wizard--consent u-h" data-journey="@journey" data-component="identity-consent-journey-@journey">

                    @journey match {
                        case "newsletters" => {
                            @emailRepermissionStep()
                        }
                        case "all" => {
                            @consentStep(journey = "all")
                            @emailRepermissionStep()
                            @channelStep()
                        }
                        case _ => {
                            @consentStep(journey = "consent")
                            @emailRepermissionOrSignupStep()
                            @channelStep()
                        }
                    }

                    @endcardStep()

                    <div class="identity-wizard__controls">
                        <button
                            data-link-name="consents : navigation : prev"
                            class="identity-consent-wizard-button-back identity-consent-wizard__revealable manage-account__button--round manage-account__button js-identity-wizard__prev"
                        >
                            <span class="u-h">Previous</span>
                            @fragments.inlineSvg("arrow-left-stem", "icon")
                        </button>
                        <div class="identity-consent-wizard__revealable identity-consent-wizard-counter">
                        </div>
                        <button
                            data-link-name="consents : navigation : next"
                            class="manage-account__button--icon manage-account__button js-identity-consent-wizard__next manage-account__button--icon--rotate-down"
                        >
                            <span>Next</span>
                            @fragments.inlineSvg("arrow-right", "icon")
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
