@import conf.Static
@import views.support.RenderClasses
@import model.{ApplicationContext, IdentityPage}
@import com.gu.identity.model.EmailNewsletters
@import services.EmailPrefsData
@import form.IdFormHelpers.nonInputFields
@import views.support.`package`.Seq2zipWithRowInfo
@import views.support.fragment.Switch._
@import views.support.fragment.ConsentChannel._
@import conf.switches.Switches.IdentityShowCommunicationChannelConsents


@(
    user: com.gu.identity.model.User,
    forms: controllers.ProfileForms,
    journey: String,
    verifiedReturnUrl: String,
    idRequest: services.IdentityRequest,
    idUrlBuilder: services.IdentityUrlBuilder,
    emailPrefsForm: Form[EmailPrefsData],
    emailSubscriptions: List[String],
    availableLists: EmailNewsletters,
    consentHint: Option[String] = None,
    newsletterHint: Option[String] = None
)(implicit request: RequestHeader, messages: play.api.i18n.Messages, context: model.ApplicationContext)

@onlySubscribedToNewsletters = @{
    EmailNewsletters.all.subscriptions.filter { newsletter =>
        emailSubscriptions.contains(newsletter.listId.toString)
    }
}

@channelStep() = {
    @if(IdentityShowCommunicationChannelConsents.isSwitchedOn && communicationChannelsForUser(user).nonEmpty) {
        <div class="manage-account-wizard__step" data-wizard-step-name="channels">

            <h1 class="identity-title">
                How can we get in touch with you?
            </h1>
            <p class="manage-account-headerNote">
                Besides email, are there any other ways you would like us to get in touch with you?
            </p>

            <div class="fieldset fieldset--manage-account-noborder fieldset--manage-account-block">
                <div class="manage-account__switches">
                    <ul>
                        @communicationChannelsForUser(user).map((channel) =>
                            <li>{s"${checkboxName(channel)}"}</li>
                        )
                    </ul>
                </div>
            </div>

        </div>
    }
}

@consentStep(journey:String) = {
    <div class="manage-account-wizard__step" data-wizard-step-name="consent">

        <form novalidate action="@idUrlBuilder.buildUrl("/privacy/edit", idRequest)" role="main" method="post">
            @views.html.helper.CSRF.formField

            @if(journey == "repermission") {
                <h1 class="identity-title">
                    We need you to consent again to receiving communications from The Guardian
                </h1>
                <p class="manage-account-headerNote">Tick the boxes you are interested in. We have featured some you might be interested in.</p>
            } else {
                <h1 class="identity-title">
                    What would you like to hear about?
                </h1>
                <p class="manage-account-headerNote">Just take a couple of minutes to tell us what you’re interested in, so we can send you emails that we think you’ll find useful.</p>
            }
            <div class="fieldset fieldset--manage-account-noborder fieldset--manage-account-block">
                <div class="manage-account__switches manage-account__switches--wide">
                    <ul>
                    @helper.repeatWithIndex(forms.privacyForm("consents"), min=1) { (consentField, index) =>
                        <li>
                            @if(index == 0) {
                                @fragments.consentSwitch(consentField, consentHint)(messages)
                            } else {
                                @fragments.consentSwitch(consentField)(messages)
                            }
                        </li>
                    }
                    </ul>
                </div>
            </div>
        </form>

    </div>
}

@emailStep(isNarrow: Boolean = false) = {
    <div class="manage-account-wizard__step" data-wizard-step-name="email">

        <form novalidate action="@idUrlBuilder.buildUrl("/privacy/edit", idRequest)" role="main" method="post">
            @views.html.helper.CSRF.formField
            @fragments.form.hidden(emailPrefsForm("htmlPreference"))

            @if(isNarrow) {
                <h2 class="identity-title">Sorry for the interruption</h2>
                <p class="manage-account-headerNote">
                    You were receiving the following newsletters, tick their boxes again to confirm you want to keep receiving them.
                </p>
            } else {
                <h2 class="identity-title">Your existing newsletters</h2>
                <p class="manage-account-headerNote">
                    You were receiving the following newsletters, tick their boxes again to confirm you want to keep receiving them.
                </p>
            }
            <div class="manage-account__switches">
                <ul>
                    @onlySubscribedToNewsletters.zipWithRowInfo.map { case (newsletter, row) =>
                        <li>
                            @fragments.newsletterSwitch(
                                emailPrefsForm,
                                emailSubscriptions,
                                newsletter = newsletter
                            )(nonInputFields, messages, request)
                        </li>
                    }
                </ul>
            </div>
        </form>
    </div>
}

@emailSignupStep() = {
    <div class="manage-account-wizard__step" data-wizard-step-name="email-signup">

        <form novalidate action="@idUrlBuilder.buildUrl("/privacy/edit", idRequest)" role="main" method="post">
            @views.html.helper.CSRF.formField
            @fragments.form.hidden(emailPrefsForm("htmlPreference"))

            <h2 class="identity-title">Your newsletters</h2>
            <p class="manage-account-headerNote">
                Our regular newsletters help you get closer to our quality, independent journalism. You can tailor your experience by picking the issues and topics that interest you below. Just so you know, your newsletter might include messages about how you can support the Guardian, as well as our events, jobs, masterclasses and holidays.
            </p>

            <div class="manage-account__switches">
                @fragments.emailListCategories(emailPrefsForm,availableLists,emailSubscriptions,true)(request, messages)
            </div>
        </form>
    </div>
}

@endcardStep() = {
    <div class="manage-account-wizard__step" data-wizard-step-name="endcard">
        <form class="manage-account-consent-thanks" method="POST" action="@idUrlBuilder.buildUrl("/complete-consent", idRequest)">
            <input type="hidden" name="returnUrl" value="@verifiedReturnUrl" />
            @views.html.helper.CSRF.formField
            <h2 class="manage-account-consent-thanks__title">Thank you</h2>
            <aside class="manage-account-consent-thanks__content">
                <p>Your support helps us deliver the quality independent journalism the world needs</p>
                <button
                    type="submit"
                    class="manage-account__button"
                    data-link-name="consent : @journey : submit"
                >Continue</button>
            </aside>
        </form>
    </div>
}

<div class="identity-wrapper-for-bg identity-wrapper-for-bg--overflows">
    <div class="gs-container">
        <div class="monocol-wrapper">

            <div class="u-cf identity-section identity-wrapper identity-wrapper--with-wizard">

                <div class="js-errorHolder manage-account__errors"></div>

                <div class="manage-account-wizard manage-account-wizard--consent" data-journey="@journey">

                    @journey match {
                        case "repermission-narrow" => {
                            @emailStep(isNarrow = true)
                            @channelStep()
                        }
                        case "repermission" => {
                            @consentStep(journey = "repermission")
                            @emailStep()
                            @channelStep()
                        }
                        case "signup" => {
                            @consentStep(journey = "signup")
                            @emailSignupStep()
                            @channelStep()
                        }
                    }

                    @endcardStep()

                    <div class="manage-account-wizard__controls">
                        <button
                            data-link-name="consent : @journey : navigation : prev"
                            class="manage-account-consent-wizard-button-back manage-account-consent-wizard__revealable manage-account__button--round manage-account__button js-manage-account-wizard__prev"
                        >
                            <span class="u-h">Previous</span>
                            @fragments.inlineSvg("arrow-left-stem", "icon")
                        </button>
                        <div class="manage-account-consent-wizard__revealable manage-account-consent-wizard-counter">
                        </div>
                        <button
                            data-link-name="consent : @journey : navigation : next"
                            class="manage-account__button--icon manage-account__button js-manage-account-consent-wizard__next"
                        >
                            <span>Next</span>
                            @fragments.inlineSvg("arrow-right", "icon")
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
