@import conf.Static
@import views.support.RenderClasses
@import model.{ApplicationContext, IdentityPage}
@import com.gu.identity.model.EmailNewsletters
@import services.EmailPrefsData
@import form.IdFormHelpers.nonInputFields
@import views.support.`package`.Seq2zipWithRowInfo
@import views.support.fragment.Switch._
@import views.support.fragment.ConsentStep._
@import views.support.fragment.ConsentChannel._
@import conf.switches.Switches.IdentityShowCommunicationChannelConsents
@import common.LinkTo
@import controllers.editprofile.ProfileForms

@(
    user: com.gu.identity.model.User,
    forms: ProfileForms,
    journey: String,
    verifiedReturnUrl: String,
    idRequest: services.IdentityRequest,
    idUrlBuilder: services.IdentityUrlBuilder,
    emailPrefsForm: Form[EmailPrefsData],
    emailSubscriptions: List[String],
    availableLists: EmailNewsletters,
    consentHint: Option[String] = None)(implicit request: RequestHeader, messages: play.api.i18n.Messages, context: model.ApplicationContext)

@onlySubscribedToV1Newsletters = @{
    EmailNewsletters.all.subscriptions.filter { newsletter =>
        emailSubscriptions.contains(newsletter.listIdV1.toString)
    }
}

@renderStep(step: ConsentStep, index: Option[Int] = None) = {
    @if(step.show) {
        @(step.banner.map { title =>
            Html(s"<p class='form__success'>$title</p>")
        })
        <fieldset
            class="identity-wizard__step"
            data-wizard-step-name="@step.name"
            role="dialog"
            aria-labelledby="consentWizard@{step.name.capitalize}Title"
        >
            <legend id="consentWizard@{step.name.capitalize}Title" class="identity-title identity-title--page-title">@step.title</legend>
            <div class="identity-forms-wrapper">
                @if(step.help) {
                    <div class="identity-forms-wrapper__title">
                        @(step.help.map(paragraph =>
                            paragraph match {
                                case m: ConsentStepHelpLegalText => {
                                    Html(s"<p class='identity-title-explainer identity-title-explainer--small'>${m.text}</p>")
                                }
                                case m: ConsentStepHelpText => {
                                    Html(s"<p class='identity-title-explainer'>${m.text}</p>")
                                }
                            }
                        ))
                    </div>
                }
                <div class="identity-forms-wrapper__fields">
                    @step.content
                </div>
            </div>

        </fieldset>
    }
}
@renderSteps(steps:List[ConsentStep]) = @{
    steps.zipWithIndex.map{ case (element, index) => renderStep(element, Some(index)) }
}

@channelStepContent = {
    <form action="@idUrlBuilder.buildUrl("/privacy/edit", idRequest)" role="main" method="post">
        @views.html.helper.CSRF.formField
        <div class="manage-account__switches manage-account__switches--single-column">
            <ul>
            @helper.repeatWithIndex(forms.privacyForm("consents"), min=1) { (consentField, index) =>
                @if(isUsersChannel(consentField, user)) {
                    <li>
                        @fragments.consentSwitch(consentField)(messages)
                    </li>
                }
            }
            </ul>
        </div>
    </form>
}

@channelStep = @{
    ConsentStep(
        name = "channels",
        title = "How else can we get in touch with you?",
        help = List(
            ConsentStepHelpText("Besides email, are there any other ways you would like us to get in touch with you?")
        ),
        content = channelStepContent,
        show = IdentityShowCommunicationChannelConsents.isSwitchedOn && channelsProvidedBy(user).nonEmpty
    )
}

@marketingStepContent = {
    <form action="@idUrlBuilder.buildUrl("/privacy/edit", idRequest)" role="main" method="post">
        @views.html.helper.CSRF.formField
        <div class="manage-account__switches manage-account__switches--single-column">
            <ul>
            @helper.repeatWithIndex(forms.privacyForm("consents"), min = 1) { (consentField, index) =>
                <li>
                    @if(!isChannel(consentField)) {
                        @if(index == 0) {
                            @fragments.consentSwitch(consentField, consentHint)(messages)
                        } else {
                            @fragments.consentSwitch(consentField)(messages)
                        }
                    }
                </li>
            }
            </ul>
        </div>
    </form>
}
@marketingConsentStep = @{
    ConsentStep(
        name = "consent",
        title = "Would you like to hear about any of these Guardian products?",
        help = List(ConsentStepHelpText("Set your preferences: Please let us know if you are interested in any of these products or services.")),
        content = marketingStepContent
    )
}
@marketingConsentThankYouStep = @{
    ConsentStep(
        name = "consent-thank-you",
        title = "Would you like to hear about any of these Guardian products?",
        help = List(
            ConsentStepHelpText("Set your preferences: Please let us know if you are interested in any of these products or services.")
        ),
        banner = Some("Thank you for signing up"),
        content = marketingStepContent,
    )
}

@emailRepermissionStepContent = {
    <form action="@idUrlBuilder.buildUrl("/privacy/edit", idRequest)" role="main" method="post">
        @views.html.helper.CSRF.formField
        @fragments.form.hidden(emailPrefsForm("htmlPreference"))
        <div class="manage-account__switches manage-account__switches--single-column">
            <ul>
            @onlySubscribedToV1Newsletters.zipWithRowInfo.map { case (newsletter, row) =>
            <li>
                @fragments.newsletterSwitch(
                    emailPrefsForm,
                    emailSubscriptions,
                    newsletter = newsletter,
                    unchecked = true
                )(nonInputFields, messages, request)
            </li>
            }
            </ul>
        </div>
    </form>
}
@emailRepermissionStep() = @{
    ConsentStep(
        name = "email",
        title = "Please select the newsletters you wish to continue receiving.",
        help = List(
            ConsentStepHelpLegalText("The Guardian’s newsletters include content from our website, which may be funded by outside parties. Newsletters may also display information about Guardian News and Media's other products, services or events (such as Guardian Jobs or Masterclasses), chosen charities or online advertisements.")
        ),
        content = emailRepermissionStepContent,
        show = onlySubscribedToV1Newsletters.nonEmpty
    )
}

@emailSignupStepContent = {
    <form novalidate action="@idUrlBuilder.buildUrl("/privacy/edit", idRequest)" role="main" method="post">
        @views.html.helper.CSRF.formField
        @fragments.form.hidden(emailPrefsForm("htmlPreference"))

        <div class="manage-account__switches">
            @fragments.emailListCategories(emailPrefsForm,availableLists,emailSubscriptions)(request, messages)
        </div>
    </form>
}
@emailSignupStep() = @{
    ConsentStep(
        name = "email-signup",
        title = "Your newsletters",
        help = List(
            ConsentStepHelpText("Our regular newsletters help you get closer to our quality, independent journalism. Pick the issues and topics that interest you below."),
            ConsentStepHelpLegalText("The Guardian’s newsletters include content from our website, which may be funded by outside parties. Newsletters may also display information about Guardian News and Media's other products, services or events (such as Guardian Jobs or Masterclasses), chosen charities or online advertisements.")
        ),
        content = emailSignupStepContent,
        show = true
    )
}

@emailRepermissionOrSignupStep = @{
    if(emailRepermissionStep.show) {
        emailRepermissionStep()
    } else {
        emailSignupStep()
    }
}

@getStepsForJourney(journey: String) = @{
    journey match {
        case "newsletters" => {
            List(
                if(emailRepermissionStep.show) {
                    emailRepermissionStep
                } else {
                    ConsentStep(
                        name = "error",
                        title = "Sorry",
                        content = Html("<p class=\"form__error\">Something went wrong updating your newsletters.</p>")
                    )
                }
            )
        }
        case "thank-you" => {
            List(
                marketingConsentThankYouStep,
                emailRepermissionStep,
                channelStep
            )
        }
        case "default" => {
            List(
                marketingConsentStep,
                emailRepermissionStep,
                channelStep
            )
        }
    }
}

@forceSubmitFallback = {
    <form method="POST" action="@idUrlBuilder.buildUrl("/complete-consents", idRequest)">
        @views.html.helper.CSRF.formField
        <input type="hidden" name="returnUrl" value="@verifiedReturnUrl" />
        <button
        type="submit"
        class="manage-account__button"
        data-link-name="consents : navigation : submit-force"
        >
            <span>Continue</span>
        </button>
    </form>
}

<div class="identity-wrapper monocolumn-wrapper identity-wrapper--with-wizard">

    <div class="js-errorHolder manage-account__errors"></div>

    <noscript>
        <div class="form__error">
            <p>
                Setting your communication preferences requires a browser with Javascript enabled.
            </p>
            <p>
                Please consider upgrading to one of our <a class="u-underline" href="@LinkTo{/help/recommended-browsers}">recommended browsers</a>. If you need more help please <a href="@LinkTo{/info/tech-feedback}">contact us</a>.
            </p>
        </div>
        @forceSubmitFallback
    </noscript>

    <div id="identityWizardloadingError" class="identity-forms-loading identity-forms-loading--hide-text u-identity-forms-padded">
        <div class="identity-forms-loading__spinner is-updating"></div>
        <div class="identity-forms-loading__text">
            Loading seems to be taking a while. If you are in a hurry you can skip this and edit your consents later from your email preferences.
            @forceSubmitFallback
        </div>
    </div>
    <script>
        setTimeout(function(){
            if(window.identityWizardloadingError) window.identityWizardloadingError.className = window.identityWizardloadingError.className.replace('identity-forms-loading--hide-text','')
        },5000);
    </script>

    <div class="identity-wizard identity-wizard--consent u-h" data-journey="@journey" data-component="identity-consent-journey-@journey">

        @renderSteps(getStepsForJourney(journey))

        <form class="identity-wizard__controls identity-wizard__controls--stacked" method="POST" action="@idUrlBuilder.buildUrl("/complete-consents", idRequest)">

            <div class="identity-wizard__controls-row identity-consent-wizard-legalsese">
                <p class="identity-title-explainer identity-title-explainer--small">By continuing, you confirm that you are older than 13 years or that you have the consent of your parent or a person holding parental responsibility.</p>
            </div>

            <div class="identity-wizard__controls-row">
                @if(getStepsForJourney(journey).size > 1){
                    <button
                        type="button"
                        data-link-name="consents : navigation : prev"
                        class="identity-consent-wizard-button-back identity-consent-wizard__revealable manage-account__button--round manage-account__button js-identity-wizard__prev"
                    >
                        <span class="u-h">Previous</span>
                        @fragments.inlineSvg("arrow-left-stem", "icon")
                    </button>
                }
                @views.html.helper.CSRF.formField
                <input type="hidden" name="returnUrl" value="@verifiedReturnUrl" />
                <button
                    type="button"
                    data-link-name-template="consents : navigation : next : [depth]"
                    class="manage-account__button--icon manage-account__button js-identity-consent-wizard__next"
                >
                    <div class="manage-account__button-flexwrap">
                        <span>Save & Continue</span>
                        @fragments.inlineSvg("arrow-right", "icon")
                    </div>
                </button>
                <button
                    type="submit"
                    class="manage-account__button--icon manage-account__button js-identity-consent-wizard__complete"
                    data-link-name="consents : navigation : submit"
                >
                    <div class="manage-account__button-flexwrap">
                        <span>Submit</span>
                        @fragments.inlineSvg("arrow-right", "icon")
                    </div>
                </button>
            </div>
        </form>

    </div>

</div>
