@(state: controllers.ValidationState, page: MetaData, idRequest: services.IdentityRequest, idUrlBuilder: services.IdentityUrlBuilder)(implicit request: RequestHeader)

@import controllers.ValidationState._
@import views.html.fragments.registrationFooter

@identityMain(page, Switches.all){
}{
    <div class="identity-wrapper monocolumn-wrapper">
        @if(state.isValidated){
            <h1 class="identity-title">Thank you! Your email address has been validated.</h1>
            <p>You will now be able to comment.</p>
            <p><a class="u-underline" href="@LinkTo{/}" data-link-name="Home">Return to the homepage</a> or <a class="u-underline" href="@idUrlBuilder.buildUrl("/account/edit", idRequest)" data-link-name="Edit profile">edit your profile</a>.</p>
        }else {
            @if(state.isExpired){
                <h1 class="identity-title">Your email confirmation link has expired.</h1>
                <p>The link in the email we sent you is valid for 30 minutes for security.</p>
            } else{
                <h1 class="identity-title">Sorry, this email confirmation link is not recognised.</h1>
            }
            <button type="button" class="submit-input js-id-send-validation-email" data-link-name="Resend verification email">Resend my verification email</button>
        }
        @registrationFooter(page, idRequest, idUrlBuilder)
    </div>
}
