@(state: controllers.ValidationState, page: MetaData, idRequest: services.IdentityRequest, idUrlBuilder: services.IdentityUrlBuilder, userIsLoggedIn: Boolean, returnUrl : String)(implicit request: RequestHeader)

@import controllers.ValidationState._
@import views.html.fragments.registrationFooter

@main(page, projectName = Option("identity")){
}{
    <div class="identity-wrapper monocolumn-wrapper">
        @if(state.isValidated){
            <h1 class="identity-title">Thank you!</h1>
            <p>Your email address has been validated.</p>
            <a class="submit-input" href="@returnUrl" data-link-name="Continue">Continue</a>
        }else {
            @if(state.isExpired){
                <h1 class="identity-title">Your email confirmation link has expired.</h1>
                <p>The link in the email we sent you is valid for 30 minutes for security.</p>
            } else{
                <h1 class="identity-title">Sorry, this email confirmation link is not recognised.</h1>
            }
            @if(userIsLoggedIn) {
                <button type="button" class="submit-input js-id-send-validation-email" data-link-name="Resend verification email">Resend my verification email</button>
            } else {
                <a class="submit-input" href="@idUrlBuilder.buildUrl("/verify-email", idRequest)" data-link-name="Sign in and resend verification email">Sign in to resend your verification email</a>
            }
        }
        @registrationFooter(page, idRequest, idUrlBuilder)
    </div>
}
