@(state: controllers.ValidationState, idRequest: services.IdentityRequest, idUrlBuilder: services.IdentityUrlBuilder, userIsLoggedIn: Boolean, returnUrl : String)(implicit request: RequestHeader, context: model.ApplicationContext)

@import controllers.ValidationState._
@import views.html.fragments.registrationFooter

@getTitle = @{
    if(state.isValidated){
        "Thank you!"
    }
    else if(state.isExpired) {
        "Your email confirmation link has expired."
    }
    else {
        "Sorry, this email confirmation link is not recognised."
    }
}

<div class="identity-wrapper monocolumn-wrapper">
    <div class="identity-forms-message">
        <h1 class="identity-title">@getTitle</h1>
        <div class="identity-forms-message__body">
            @if(state.isValidated){
                <p>Your email address has been validated.</p>
                <a class="u-underline manage-account__button" href="@returnUrl" data-link-name="Continue">Continue</a>
            } else {
                @if(state.isExpired){
                    <p>The link in the email we sent you is valid for 30 minutes for security.</p>
                }
                @if(userIsLoggedIn) {
                    <button type="button" class="manage-account__button js-id-send-validation-email identity-forms-message__button" data-link-name="Resend verification email">Resend my verification email</button>
                } else {
                    <a class="manage-account__button identity-forms-message__button" href="@idUrlBuilder.buildUrl("/verify-email", idRequest)" data-link-name="Sign in and resend verification email">Sign in to resend your verification email</a>
                }
            }
        </div>
    </div>
    @registrationFooter(idRequest, idUrlBuilder)
</div>
