@(
        page: model.Page,
        user: com.gu.identity.model.User,
        forms: controllers.ProfileForms,
        idRequest: services.IdentityRequest,
        idUrlBuilder: services.IdentityUrlBuilder
)(implicit request: RequestHeader, messages: play.api.i18n.Messages)

@import views.html.fragments.form.{inputField, textareaField}
@import views.html.fragments.registrationFooter
@import views.html.fragments.socialSignin

@tab(i: Int, name: String, url: String, dataTestId: Option[String], hidden: Boolean = false, optionalClass: String = "") = {
    <li class="tabs__tab @if(hidden){is-hidden} @if(page.metadata.id == url){tabs__tab--selected tone-colour tone-accent-border} @optionalClass" role="tab" id="tabs-account-profile-@i-tab" aria-selected="@(page.metadata.id == url)" aria-controls="tabs-account-profile-@i">
        <a href="@url" data-tabs-href="#tabs-account-profile-@i" data-link-name="@url edit profile tab" data-pushstate-url="@url"
            @dataTestId.map{idValue => data-test-id="@idValue"}>@name</a>
    </li>
}

@content(i: Int, url: String, optionalClass: String = "")(body: => Html) = {
    <div@if(page.metadata.id != url){ style="display: none;"} id="tabs-account-profile-@i" class="tabs__pane u-cf @optionalClass" role="tabpanel" aria-labelledby="tabs-account-profile-@i-tab" data-link-name="Public Profile" data-link-context="Identity/profile">
        @body
    </div>
}

@main(page, projectName = Option("identity")){
}{

<div class="identity-wrapper monocolumn-wrapper identity-wrapper--with-membership js-account-profile-forms">

    <h1 class="identity-title" data-test-id="edit-profile-header">Edit your profile</h1>

    <div class="tabs u-cf identity-section">
        <ol class="tabs__container js-tabs" id="js-account-profile-tabs" role="tablist" data-is-bound="true">
            @tab(1, "Public", "/public/edit", None)

            @tab(2, "Account details", "/account/edit", Some("edit-account-details"), optionalClass="qa-account-details-tab")

            @tab(3, "Membership", "/membership/edit", None, optionalClass="qa-membership-tab")
        </ol>

        <div class="tabs__content">
            @content(1, "/public/edit")(fragments.profile.publicProfileForm(idUrlBuilder, idRequest, user, forms.publicForm))

            @content(2, "/account/edit")(fragments.profile.accountDetailsForm(idUrlBuilder, idRequest, user, forms.accountForm))

            @content(3, "/membership/edit")(fragments.profile.membershipDetailsForm())
        </div>
    </div>

    @registrationFooter(page, idRequest, idUrlBuilder)
</div>
}
