@(
        page: model.MetaData with tracking.TrackingParams,
        user: com.gu.identity.model.User,
        forms: controllers.ProfileForms,
        idRequest: services.IdentityRequest,
        idUrlBuilder: services.IdentityUrlBuilder,
        avatarUploadData: Option[model.AvatarUploadData],
        avatarUploadStatus: Option[Either[String, Boolean]]
)(implicit request: RequestHeader)

@import tracking.TrackingParams
@import views.html.fragments.form.{inputField, textareaField}
@import views.html.fragments.registrationFooter
@import views.html.fragments.socialSignin
@import controllers.EditPageTabName._

@tab(i: Int, name: String, url: String, hidden: Boolean = false) = {
    <li class="tabs__tab @if(hidden){is-hidden} @if(page.id == url){tabs__tab--selected tone-colour tone-accent-border}" role="tab" id="tabs-account-profile-@i-tab" aria-selected="@(page.id == url)" aria-controls="tabs-account-profile-@i">
        <a href="tabs-account-profile-@i" data-link-name="tab @i The Guardian" data-pushstate-url="@url">@name</a>
    </li>
}

@identityMain(page, conf.Switches.all){
}{

<div class="identity-wrapper monocolumn-wrapper js-account-profile-forms">

    <h1 class="identity-title">Edit your profile</h1>

    <div class="tabs u-cf identity-section">
        <ol class="tabs__container tone-news js-tabs" id="js-account-profile-tabs" role="tablist" data-is-bound="true">
            @tab(1, "Public", "/public/edit")

            @tab(2, "Account details", "/account/edit")

            @tab(3, "Membership", "/membership/edit", hidden=true)
        </ol>

        <div class="tabs__content">
            @forms.tabName match {
                case Public => {
                    <div id="tabs-account-profile-1" class="tabs__pane u-cf" role="tabpanel" aria-labelledby="tabs-account-profile-1-tab" data-link-name="Public Profile" data-link-context="Identity/profile">
                        @fragments.profile.publicProfileForm(idUrlBuilder, idRequest, user, forms.publicForm, avatarUploadData, avatarUploadStatus)
                    </div>

                    <div id="tabs-account-profile-2" class="tabs__pane u-cf" role="tabpanel" aria-labelledby="tabs-account-profile-2-tab" data-link-name="Account" data-link-context="Identity/profile" style="display: none;">
                        @fragments.profile.accountDetailsForm(idUrlBuilder, idRequest, user, forms.accountForm)
                    </div>

                    <div id="tabs-account-profile-3" class="tabs__pane u-cf is-hidden js-memebership-tab-container" role="tabpanel" aria-labelledby="tabs-account-profile-2-tab" data-link-name="Account" data-link-context="Identity/profile" style="display: none;">

                    </div>
                }
                case Account => {
                    <div id="tabs-account-profile-1" class="tabs__pane u-cf" role="tabpanel" aria-labelledby="tabs-account-profile-1-tab" data-link-name="Public Profile" data-link-context="Identity/profile" style="display: none;">
                        @fragments.profile.publicProfileForm(idUrlBuilder, idRequest, user, forms.publicForm, avatarUploadData, avatarUploadStatus)
                    </div>

                    <div id="tabs-account-profile-2" class="tabs__pane u-cf" role="tabpanel" aria-labelledby="tabs-account-profile-2-tab" data-link-name="Account" data-link-context="Identity/profile">
                        @fragments.profile.accountDetailsForm(idUrlBuilder, idRequest, user, forms.accountForm)
                    </div>

                    <div id="tabs-account-profile-3" class="tabs__pane u-cf is-hidden js-memebership-tab-container" role="tabpanel" aria-labelledby="tabs-account-profile-2-tab" data-link-name="Account" data-link-context="Identity/profile" style="display: none;">

                    </div>
                }
                case Membership => {
                    <div id="tabs-account-profile-1" class="tabs__pane u-cf" role="tabpanel" aria-labelledby="tabs-account-profile-1-tab" data-link-name="Public Profile" data-link-context="Identity/profile"  style="display: none;">
                        @fragments.profile.publicProfileForm(idUrlBuilder, idRequest, user, forms.publicForm, avatarUploadData, avatarUploadStatus)
                    </div>

                    <div id="tabs-account-profile-2" class="tabs__pane u-cf" role="tabpanel" aria-labelledby="tabs-account-profile-2-tab" data-link-name="Account" data-link-context="Identity/profile" style="display: none;">
                        @fragments.profile.accountDetailsForm(idUrlBuilder, idRequest, user, forms.accountForm)
                    </div>

                    <div id="tabs-account-profile-3" class="tabs__pane u-cf is-hidden js-memebership-tab-container" role="tabpanel" aria-labelledby="tabs-account-profile-2-tab" data-link-name="Account" data-link-context="Identity/profile">

                    </div>
                }
            }
        </div>
    </div>

    @registrationFooter(page, idRequest, idUrlBuilder)
</div>
}
