@import conf.Static
@import views.support.RenderClasses
@import model.{ApplicationContext, IdentityPage}
@import com.gu.identity.model.EmailNewsletters
@import services.EmailPrefsData

@(
    page: model.Page,
    user: com.gu.identity.model.User,
    forms: controllers.ProfileForms,
    idRequest: services.IdentityRequest,
    idUrlBuilder: services.IdentityUrlBuilder,
    emailPrefsForm: Form[EmailPrefsData],
    emailSubscriptions: List[String],
    availableLists: EmailNewsletters,
    consentsUpdated: Boolean,
    consentHint: Option[String]
)(implicit request: RequestHeader, messages: play.api.i18n.Messages, context: model.ApplicationContext)

@tab(i: Int, name: String, url: String, dataTestId: Option[String], hidden: Boolean = false, optionalClass: String = "") = {
    <li class="tabs__tab @if(hidden){is-hidden} @if(page.metadata.id == url){tabs__tab--selected tone-colour tone-accent-border} @optionalClass" role="tab" id="tabs-account-profile-@i-tab" aria-selected="@(page.metadata.id == url)" aria-controls="tabs-account-profile-@i">
        <a href="@url" data-tabs-href="#tabs-account-profile-@i" data-link-name="@url edit profile tab" data-pushstate-url="@url"
            @dataTestId.map{idValue => data-test-id="@idValue"}>@name</a>
    </li>
}

@content(i: Int, url: String, optionalClass: String = "")(body: => Html) = {
    <div id="tabs-account-profile-@i"
         class="@RenderClasses(Map(
            "u-h" -> (page.metadata.id != url)
         ), "tabs__pane u-cf @optionalClass")"
         role="tabpanel"
         aria-labelledby="tabs-account-profile-@i-tab"
         data-link-name="Public Profile"
         data-link-context="Identity/profile">
        @body
    </div>
}

@mainLegacy(page, projectName = Option("identity")){
    <link rel="stylesheet" id="stripe-sprite" type="text/css" media="all" href="@Static("stylesheets/membership-icons.css")"/>
}{
<div class="tabs">

    <div class="identity-wrapper-for-bg identity-wrapper-for-bg--header">
        <div class="gs-container">
            <div class="monocol-wrapper">
                <h1 class="identity-title" data-test-id="edit-profile-header">Edit your profile</h1>
                <ol class="tabs__container tabs__container--multiple js-tabs js-account-profile-tabs" id="js-account-profile-tabs" role="tablist" data-is-bound="true">
                    @tab(1, "Public", "/public/edit", None)

                    @tab(2, "Account details", "/account/edit", Some("edit-account-details"), optionalClass="qa-account-details-tab")

                    @tab(3, "Membership", "/membership/edit", None, optionalClass="qa-membership-tab")

                    @tab(4, "Digital Pack", "/digitalpack/edit", None, optionalClass="qa-digitalpack-tab")

                    @tab(5, "Contributions", "/contribution/recurring/edit", None, optionalClass="qa-membership-tab")

                    @tab(6, "Emails", "/email-prefs", None, optionalClass="qa-privacy-tab")
                </ol>
            </div>
        </div>
    </div>
    <div class="identity-wrapper-for-bg">
        <div class="gs-container">
            <div class="monocol-wrapper js-account-profile-forms">

                <div class=" u-cf identity-section">

                    <div class="tabs__content">
                        @content(1, "/public/edit")(profile.publicProfileForm(idUrlBuilder, idRequest, user, forms.publicForm))

                        @content(2, "/account/edit")(profile.accountDetailsForm(idUrlBuilder, idRequest, user, forms.accountForm))

                        @content(3, "/membership/edit")(profile.membershipDetailsForm(idUrlBuilder, idRequest, user))

                        @content(4, "/digitalpack/edit")(profile.digitalPackDetailsForm(idUrlBuilder, idRequest, user))

                        @content(5, "/contribution/recurring/edit")(profile.recurringContributionDetailsForm(idUrlBuilder, idRequest, user))

                        @content(6, "/email-prefs")(profile.privacyForm(idUrlBuilder, idRequest, user, forms.privacyForm, emailPrefsForm, emailSubscriptions, availableLists, consentsUpdated, consentHint))
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://checkout.stripe.com/checkout.js" async></script>
</div>
}
