@(page: MetaData, idRequest: services.IdentityRequest, idUrlBuilder: services.IdentityUrlBuilder, user: com.gu.identity.model.User)(implicit request: RequestHeader)

@import views.html.fragments.registrationFooter

@identityMain(page, Switches.all){
}{
<div class="identity-wrapper monocolumn-wrapper identity-public-profile">
    <h1 class="identity-title">
        <div class="user">
            <div class="user-avatar" data-userid="@user.id"></div>
            <div class="user__name">@user.publicFields.displayName</div>
            @user.dates.accountCreatedDate.map { activityDate =>
                <p class="user__joined-date">
                    <i class="i i-clock-light-grey"></i>
                    Last seen on @activityDate.toString("d MMM yyyy")
                </p>
            }
        </div>
    </h1>


    <div class="user__comments js-comment-stream" data-user-id="@user.id"></div>


    @registrationFooter(page, idRequest, idUrlBuilder)
</div>
}
