@(
        page: model.MetaData with tracking.TrackingParams,
        user: com.gu.identity.model.User,
        profileForm: Form[(Option[String], Option[String], Option[String], Option[String], Option[String])],
        idRequest: services.IdentityRequest,
        idUrlBuilder: services.IdentityUrlBuilder
)(implicit request: RequestHeader)

@import tracking.TrackingParams
@import views.html.fragments.form.{inputField, textareaField}
@import views.html.fragments.registrationFooter
@import views.html.fragments.socialSignin
@import form.IdFormHelpers._
@import form.Input
@import helper._

@identityMain(page, conf.Switches.all){
}{
<div class="identity-wrapper">
    <h2 class="type-2">
        @user.publicFields.displayName
    </h2>
    @user.dates.accountCreatedDate.map { joinDate =>
        <p class="form-field__note">Joined: @joinDate.toString("d MMM yyyy")</p>
    }

    <form class="form" novalidate action="@idUrlBuilder.buildUrl("/profile/public", idRequest)" role="main" method="post">
        @if(profileForm.globalError.isDefined) {
            <div class="form__error">@profileForm.globalErrors.map(_.message).mkString(", ")</div>
        }

        <ul class="form-fields">
            @inputField(Input(profileForm("publicFields.location"), '_label -> "Location"))
            @select(
                profileForm("privateFields.gender"),
                List("Male" -> "Male", "Female" -> "Female", "unknown" -> "Prefer not to say"),
                '_label -> "Gender",
                '_default -> ""
            )

            @textareaField(Input(profileForm("publicFields.aboutMe"), ('_label, "About me")))
            @textareaField(Input(profileForm("publicFields.interests"), ('_label, "Interests")))
            @inputField(Input(profileForm("publicFields.webPage"), ('_label, "Website (enter full address)")))

            <li>
                <button type="submit" class="submit-input" data-link-name="Create account">Save changes</button>
            </li>
        </ul>
    </form>

    @registrationFooter(page, idRequest, idUrlBuilder)
</div>
}
