@(page: model.MetaData, idRequest: services.IdentityRequest, idUrlBuilder: services.IdentityUrlBuilder, reauthenticationForm: Form[String], email: Option[String])(implicit request: RequestHeader, messages: play.api.i18n.Messages)

@import form.IdFormHelpers._
@import views.html.fragments.form.inputField
@import views.html.fragments.socialSignin
@import views.SocialSigninRoute.Confirm

@main(page, projectName = Option("identity")){
}{
<div class="identity-wrapper monocolumn-wrapper">
    <h1 class="identity-title" data-test-id="reauthentication-header">Confirm your identity</h1>
    <p>Your privacy is important to us. Please re-enter your password to access your personal data.</p>

    <form class="form js-signin-form" novalidate action="@idUrlBuilder.buildUrl("/reauthenticate", idRequest)" role="main" method="post">
        @if(reauthenticationForm.globalError.isDefined) {
            <div class="form__error">@reauthenticationForm.globalErrors.map(_.message).mkString(", ")</div>
        }

        <fieldset class="fieldset">
            <div class="fieldset__heading">
                <h2 class="form__heading">Use your social account</h2>
                <div class="form__note">
                    By proceeding, you agree to the Guardian's <a href="http://www.theguardian.com/help/terms-of-service" data-link-name="Terms of service">Terms of Service</a> and <a href="http://www.theguardian.com/help/privacy-policy" data-link-name="Privacy policy">Privacy Policy</a>.
                </div>
            </div>
            <div class="fieldset__fields">
                @socialSignin(views.SocialSigninRoutes(Confirm), idRequest, idUrlBuilder, email)
            </div>
        </fieldset>

        <fieldset class="fieldset">
            <div class="fieldset__heading">
                <h2 class="form__heading">Use your Guardian password</h2>
            </div>

            <div class="fieldset__fields">
                <ul class="u-unstyled">

                   @inputField(Password(reauthenticationForm("password"), '_label -> "Password",  'tabindex -> 2,
                        Symbol("data-test-id") -> "signin-pwd"))

                    <li class="form-field">
                        <div class="form-field__note">
                            <a class="js-forgotten-password" href='@idUrlBuilder.buildUrl("/reset", idRequest)' data-link-name="Forgotten password">Forgotten your password?</a>
                        </div>
                        <button type="submit" class="submit-input" data-link-name="Sign in" data-test-id="sign-in-button" tabindex="3">Confirm</button>
                    </li>
                </ul>
            </div>
        </fieldset>
    </form>
</div>
}
