@(page: model.Page, idRequest: services.IdentityRequest, idUrlBuilder: services.IdentityUrlBuilder, returnUrl : String)(implicit request: RequestHeader)

@import views.html.fragments.registrationFooter

@main(page, projectName = Option("identity")){
}{
<div class="identity-wrapper monocolumn-wrapper">
    <h1 class="identity-title">Now check your email</h1>
    <p>Follow the link in the email to validate your address.</p>

    <a class="submit-input" href="@returnUrl" data-link-name="Continue">Complete registration</a>

    @registrationFooter(page, idRequest, idUrlBuilder)
</div>
}
