@(page: model.Page, idRequest: services.IdentityRequest, idUrlBuilder: services.IdentityUrlBuilder, registrationForm: Form[(String, String, String, String, String, Boolean, Boolean)], registrationErrorOpt: Option[String], groupCode: Option[String])(implicit request: RequestHeader, messages: play.api.i18n.Messages)

@import form.IdFormHelpers._
@import views.html.fragments.form.{inputField, checkbox}
@import views.html.fragments.registrationError
@import views.html.fragments.registrationFooter
@import views.html.fragments.socialSignin
@import views.html.fragments.identityPageHeader
@import views.html.fragments.thirdPartyConditions
@import views.SocialErrorMapper
@import views.SocialSigninRoute.Register

@main(page, projectName = Option("identity")){
}{
<div class="identity-wrapper monocolumn-wrapper">
    @identityPageHeader("Create your Guardian account") {
        <p>Already have an account? <a class="u-underline" href="@idUrlBuilder.buildUrl("/signin", idRequest)">Sign in</a>.</p>
    }

    <form class="form js-register-form" novalidate action="@idUrlBuilder.buildUrl("/register", idRequest)" role="main" method="post">
        @if(registrationForm.globalError.isDefined) {
            <div class="form__error">@registrationForm.globalErrors.map(_.message).mkString(", ")</div>
        } else {
            @registrationError(registrationErrorOpt)
        }

        <fieldset class="fieldset">
            <div class="fieldset__heading">
                <h2 class="form__heading">Use your social account</h2>
                <div class="form__note">
                    @thirdPartyConditions(groupCode, true)
                </div>
            </div>
            <div class="fieldset__fields">
                @socialSignin(SocialErrorMapper.route(registrationErrorOpt, views.SocialSigninRoutes(Register)), idRequest, idUrlBuilder)
            </div>
        </fieldset>

        <fieldset class="fieldset">
            <div class="fieldset__heading">
                <h2 class="form__heading">Register with an email address</h2>
                <div class="form__note">All fields required.</div>
            </div>
            <div class="fieldset__fields">
                <ul class="u-unstyled">

                    @inputField(Input(registrationForm("user.firstName"), ('_label, "First name"), ('tabindex, 1),
                        (Symbol("data-test-id"), "reg-first-name")))

                    @inputField(Input(registrationForm("user.secondName"), ('_label, "Last name"), ('tabindex, 1),
                        (Symbol("data-test-id"), "reg-second-name")))

                    @inputField(Email(registrationForm("user.primaryEmailAddress"), ('_label, "Email address"), ('tabindex, 1),
                        (Symbol("data-test-id"), "reg-email")))

                    @inputField(Username(registrationForm("user.publicFields.username"), ('_label, "Username"),
                        ('_help, "Between 6 and 20 characters, letters and numbers only"), ('tabindex, 2),
                        (Symbol("data-test-id"), "reg-username")))

                    @inputField(Password(registrationForm("user.password"), ('_label, "Password"),
                        ('_help, "Between 6 and 20 characters"), ('class, "js-register-password js-password-strength"),
                        ('tabindex, 3), ('maxlength, 20), (Symbol("data-test-id"), "reg-pwd")))

                    <li class="form-field form-field--no-margin">
                        <label class="check-label" for="@registrationForm("receive_gnm_marketing").id">
                            @checkbox(registrationForm("receive_gnm_marketing"), ('tabindex, 4))
                            Keep me up to date with offers and developments from the Guardian
                        </label>
                    </li>
                    <li class="form-field">
                        <label class="check-label" for="@registrationForm("receive_third_party_marketing").id">
                            @checkbox(registrationForm("receive_third_party_marketing"), ('tabindex, 5))
                            Send me messages from 3rd party organisations screened by the Guardian
                        </label>
                    </li>
                    <li class="form-field form-field__submit">
                        <div class="form-field__note">
                            @thirdPartyConditions(groupCode, true)
                        </div>
                        <button type="submit" class="submit-input" data-link-name="Create account" tabindex="6" data-test-id="create-user-button">Create account</button>
                    </li>
                </ul>
            </div>
        </fieldset>
    </form>

    @registrationFooter(page, idRequest, idUrlBuilder)
</div>

}
