@import conf.Static
@import views.support.RenderClasses
@import conf.switches.Switches.ProfileShowContributorTab
@import model.{ApplicationContext, EmailNewsletters, IdentityPage}
@import services.EmailPrefsData
@import form.IdFormHelpers.nonInputFields
@import views.support.`package`.Seq2zipWithRowInfo


@(
    page: model.Page,
    user: com.gu.identity.model.User,
    forms: controllers.ProfileForms,
    idRequest: services.IdentityRequest,
    idUrlBuilder: services.IdentityUrlBuilder,
    emailPrefsForm: Form[EmailPrefsData],
    emailSubscriptions: List[String],
    availableLists: EmailNewsletters
)(implicit request: RequestHeader, messages: play.api.i18n.Messages, context: model.ApplicationContext)

@mainLegacy(page, projectName = Option("identity")) { } {

    <div class="identity-wrapper-for-bg">
        <div class="gs-container">
            <div class="monocol-wrapper">

                <div class="u-cf identity-section identity-wrapper">

                    <div class="js-errorHolder manage-account__errors"></div>

                    <div class="manage-account-wizard manage-account-wizard--repermission" >
                        <div class="manage-account-wizard__step">
                            <h1>Welcome to repermissioning</h1>
                        </div>
                        <div class="manage-account-wizard__step">

                            <form novalidate action="@idUrlBuilder.buildUrl("/privacy/edit", idRequest)" role="main" method="post">
                                @views.html.helper.CSRF.formField

                                <h2 class="manage-account-header">We need you to consent again to receiving communications from The Guardian</h2>
                                <p class="manage-account-headerNote">These are all the permissions you already consented to, please review them and check them again if you still want to receive them</p>
                                <div class="fieldset fieldset--manage-account-noborder fieldset--manage-account-block">
                                    <div class="manage-account__switches">
                                        <ul>
                                        @helper.repeat(forms.privacyForm("consents"), min=1) { consentField =>
                                            <li>
                                                @fragments.consentSwitch(consentField)(messages)
                                            </li>
                                        }
                                        </ul>
                                    </div>
                                </div>

                                <fieldset class="fieldset fieldset--manage-account-rightsubmit js-manage-account__ajaxForm-submit">
                                    <div class="fieldset__heading"></div>
                                    <div class="fieldset__fields">
                                        <ul class="u-unstyled">
                                            <li>
                                                <button type="submit" class="manage-account__button" data-link-name="Save changes">Save changes</button>
                                            </li>
                                        </ul>
                                    </div>

                                </fieldset>

                            </form>

                        </div>
                        <div class="manage-account-wizard__step">

                            <form novalidate action="@idUrlBuilder.buildUrl("/privacy/edit", idRequest)" role="main" method="post">
                                @views.html.helper.CSRF.formField
                                @fragments.form.hidden(emailPrefsForm("htmlPreference"))

                                <h2 class="manage-account-header">Email Preferences</h2>
                                <p class="manage-account-headerNote">You were receiving these newsletters, check them again to confirm you want to keep receiving them.</p>
                                <div class="manage-account__switches">
                                    <ul>
                                    @availableLists.subscriptions.filter(_.theme == "news").zipWithRowInfo.map { case (newsletter, row) =>
                                        <li>
                                            @fragments.newsletterSwitch(
                                                emailPrefsForm,
                                                emailSubscriptions,
                                                newsletter = newsletter
                                            )(nonInputFields, messages, request)
                                        </li>
                                    }
                                    </ul>
                                </div>
                            </form>
                        </div>
                        <div class="manage-account-wizard__step">
                            <div class="js-manage-account-wizard__next">
                                <h1>Thanks for repermissioning!</h1>
                                <button>Continue</button>
                            </div>
                        </div>
                        <div class="manage-account-wizard__controls">
                            <div class="manage-account-wizard__controls-pager"></div>
                            <a class="manage-account__button js-manage-account-wizard__next">Next</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
