@(page: MetaData, form: Form[(String)], message: String = "")(implicit request: RequestHeader)

@import views.html.fragments.form.idInputEmail

@main(page, Switches.all) {

}{
<form class="form" novalidate action="/recover" role="main" method="post">

    @if( message ) {
         <p> @message </p>
    }

    @if(form.globalError.isDefined) {
        <div class="form-field__error text-input__note">@form.globalErrors.map(_.message).mkString(", ")</div>
    }

    <ul class="form-fields">

        @idInputEmail(form("email"), '_label -> "Email address")
        <li>
            <button type="submit" class="submit-input">Submit</button>
        </li>
    </ul>
</form>
}

