@(page: MetaData, idRequest: services.IdentityRequest, idUrlBuilder: services.IdentityUrlBuilder, resetPasswordForm: Form[(String, String)], token : String)(implicit request: RequestHeader )

@import views.html.fragments.form.idInputPassword

@main(page, Switches.all){
}{
<form class="form" novalidate action="@idUrlBuilder.buildUrl("/reset-token", idRequest)/@token"  method="post">

    <p> Please supply your new password </p>

    @if(resetPasswordForm.globalError.isDefined) {
        <div class="form-field__error text-input__note">@resetPasswordForm.globalErrors.map(_.message).mkString(", ")</div>
    }
    <ul class="form-fields">
        @idInputPassword(resetPasswordForm("password"), '_label -> "Password")
        @idInputPassword(resetPasswordForm("password_confirm"), '_label -> "Confirm Password")

        <li>
            <button type="submit" class="submit-input">Submit</button>
        </li>
    </ul>


</form>
}