@(page: MetaData, resetPasswordForm: Form[(String, String, String)])(implicit request: RequestHeader )

@import views.html.fragments.form.idInputPassword

@main(page, Switches.all){
}{
<form class="form" novalidate action="/reset-password"  method="post">

    <p> Please supply your new password </p>

    @if(resetPasswordForm.globalError.isDefined) {
        <div class="form-field__error text-input__note">@resetPasswordForm.globalErrors.map(_.message).mkString(", ")</div>
    }
    <ul class="form-fields">
        @idInputPassword(resetPasswordForm("password"), '_label -> "Password")
        @idInputPassword(resetPasswordForm("password_confirm"), '_label -> "Confirm Password")
        <input type="hidden" value="@resetPasswordForm("password_confirm")" name="token"/>
        <li>
            <button type="submit" class="submit-input">Submit</button>
        </li>
    </ul>


</form>
}