@(page: Page)(implicit request: RequestHeader)

@main(page, Switches.all){ } {
<form class="form" novalidate action="/identity/signin?error" role="main">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu pharetra sapien</p>
    <ul class="form-fields">
        <li class="form-field--error">
            <label for="email">Email address</label>
            <input class="text-input" autocomplete="on" spellcheck="false" type="email" id="email" value="" />

            <div class="form-field__error text-input__note">Please enter a valid email address
        </li>
        <li>
            <label for="password">Password</label>
            <input class="text-input" type="password" id="password" />
            <div class="text-input__note"><a href="/identity/recover">Forgotten your password?</a></div>
        </li>
        <li>
            <button type="submit" class="submit-input">Sign in</button>
            
            <label class="check-label check-label--helper">
                <input type="checkbox" value="1" />
                Remember me
            </label>
        </li>
  </ul>
</form>
}