@(page: MetaData, signinForm: Form[(String, String, Boolean)])(implicit request: RequestHeader)

@import form.IdFormHelpers._
@import views.html.fragments.form.{idInputEmail, idInputPassword, idCheckbox}

@main(page, Switches.all){
}{
<form class="form" novalidate action="/signin" role="main" method="post">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu pharetra sapien</p>
    <ul class="form-fields">

        @idInputEmail(signinForm("email"), '_label -> "Email address")
        @idInputPassword(signinForm("password"), '_label -> "Password", '_help -> "<a href='/identity/recover'>Forgotten your password?</a>")

        <li>
            <button type="submit" class="submit-input">Sign in</button>
            
            <label class="check-label check-label--helper">
                @idCheckbox(signinForm("keepMeSignedIn"))
                Remember me
            </label>
        </li>
  </ul>
</form>
}
