@(
    idUrlBuilder: services.IdentityUrlBuilder,
    verifiedReturnUrl: Option[String],
    defaultReturnUrl: String,
    email: Option[String] = None
)(implicit request: RequestHeader, context: model.ApplicationContext)

@import common.LinkTo

<div class="identity-wrapper monocolumn-wrapper">
    <section class="identity-forms-message">
        @if(email.isDefined) {
            <h1 class="identity-title">Please verify your email to complete your registration</h1>
            <div class="identity-forms-message__body">
                <p>We've sent a verification email to:</p>
                <p><b>@email</b></p>
                <p>Please click on the link in this email to confirm your email address and complete your registration.</p>
            </div>
            <aside class="identity-forms-message__body">
                <p class="identity-forms-message__explainer">Note that the link is only valid for 30 minutes. If you can't find it, it may be in your spam folder.</p>
            </aside>
                <footer class="identity-forms-message__body">
                    <p>Didn't receive it? <a class="u-underline js-id-send-validation-email-not-signed-in">Resend link</a></p>
                    <p>Wrong email address? <a class="u-underline" href="@idUrlBuilder.buildUrl("/signin")" data-link-name="mma : verify-email : update-email-from-error">Change it here</a></p>
                </footer>
        } else {
            <h1 class="identity-title">Sorry, something went wrong</h1>
            <div class="identity-forms-message__body">
                <p>Having troubles registering? Please visit our <a class="u-underline" href="@LinkTo("/help/identity-faq")">help page</a> or <a class="u-underline" href="https://manage.theguardian.com/contact-us">contact our support team</a>.</p>
            </div>
            <footer class="identity-forms-message__body">
                <a class="manage-account__button manage-account__button--center" href="@LinkTo {@verifiedReturnUrl.getOrElse(defaultReturnUrl)}" data-link-name="mma : verify-email : exit-to-gu">
                @(verifiedReturnUrl match {
                    case Some(_) => "Exit and continue to The Guardian"
                    case None => "Exit and go to The Guardian home page"
                })
                </a>
            </footer>
        }
    </section>
</div>
