@import services.newsletters.NewsletterResponse
@import views.support.`package`.Seq2zipWithRowInfo
@import staticpages.NewsletterRoundupPage
@import conf.switches.Switches.EmailSignupRecaptcha
@import conf.switches.Switches.ShowNewPrivacyWordingOnEmailSignupEmbeds
@import common.LinkTo

@(signupPage: NewsletterRoundupPage)(implicit request: RequestHeader, context: model.ApplicationContext)

@manageEmailsUrl = @{
    "https://manage.theguardian.com/email-prefs"
}

@emailListCategoryList(theme: String, emailListings: List[NewsletterResponse]) = {
    <div class="newsletters-category__heading">
        @theme
    </div>
    <div class="newsletter-card__wrapper">
    @emailListings.zipWithRowInfo.map { case (emailListing, row) =>
        <div class="newsletter-card" data-component="newsletter-card @emailListing.identityName">
            <div class="newsletter-card__content js-newsletter-content">
                <div class="newsletter-card__name">
                    @emailListing.name
                </div>
                <div>
                    @emailListing.description
                </div>
            </div>

            <div class="newsletter-card__meta js-newsletter-meta">

                <div class="newsletter-card__frequency">
                    @fragments.inlineSvg("clock", "icon", List("old-article-message--clock"))
                    @emailListing.frequency
                </div>


                <div class="signup-confirmation is-hidden js-signup-confirmation">
                    @fragments.inlineSvg("envelope", "icon")
                    <div class="signup-confirmation__message">
                        <h3 class="signup-confirmation--success">Check your Inbox!</h3>
                    </div>
                </div>

                <form action="@LinkTo("/email")" method="post" target="newsletterSignup" class="newsletter-card__signup" name="newsletter-signup-@emailListing.identityName">
                    @if(EmailSignupRecaptcha.isSwitchedOn) {
                        @fragments.email.signup.recaptchaContainer()
                    }
                    @helper.CSRF.formField
                    <label aria-hidden="true">
                        <input tabindex="-1" class="newsletter-card__text-input u-h" type="text" name="name" autocomplete="off"/>
                    </label>
                    <label>
                        <span class="u-h">email address</span>
                        <input class="newsletter-card__text-input js-newsletter-card__text-input" type="email" name="email" placeholder="Email address" required aria-label="Enter email address" title="Email address"/>
                    </label>
                    <input class="js-email-sub__listname-input" type="hidden" name="listName" value="@emailListing.identityName" aria-hidden="true"/>
                    <input class="js-email-sub__emailconfirmation-input" type="hidden" name="emailConfirmation" value="@emailListing.emailConfirmation" aria-hidden="true"/>

                    <button class="newsletter-card__lozenge js-newsletter-signup-button newsletter-card__lozenge--submit" data-link-name="Subscribe to @emailListing.identityName" type="submit" value="@emailListing.listIdV1">
                        <span>Sign up</span>
                    </button>
                </form>

                <div class="newsletter-card__example js-newsletter-preview is-hidden">
                @if(emailListing.exampleUrl.isDefined) {
                    <a href="@emailListing.exampleUrl" target="preview-email-@emailListing.listId">
                        <div class="newsletter-card__lozenge newsletter-card__lozenge--preview" data-link-name="Preview @emailListing.identityName">
                            <span class="newsletter-card__preview">Preview  @fragments.inlineSvg("arrow-right", "icon")</span>
                        </div>
                    </a>
                }
                </div>
            </div>
        </div>
    }
    </div>
}

@displayNewslettersByTheme = {
    @signupPage.groupedNewslettersResponses.map { case (theme, newsletters) =>
        <div class="newsletters-category" name="@theme">
            @emailListCategoryList(theme, newsletters)
        </div>
    }
}

<div class="l-side-margins">
    <div class="content">
        <div class="gs-container">
            <div class="newsletters-heading__container">
                <div class="newsletters-heading">
                    Guardian newsletters: sign&nbsp;up
                </div>
                <a data-link-name="all-newsletters : manage-emails" href="@manageEmailsUrl">
                    <div class="newsletters-heading__manage-button">
                        <span> Manage my newsletters </span>
                    </div>
                </a>
            </div>
            @if(ShowNewPrivacyWordingOnEmailSignupEmbeds.isSwitchedOn) {
                <div class="newsletters-heading__divider"></div>
                <div class="newsletters-privacy-notice__container">
                    <div class="newsletters-privacy-notice__heading">
                        Privacy Notice
                    </div>
                    <div class="newsletters-privacy-notice__content">
                        @if(EmailSignupRecaptcha.isSwitchedOn) {
                            @fragments.email.signup.recaptchaTerms(fragments.email.signup.privacyNoticeContent())
                        } else {
                            @fragments.email.signup.privacyNoticeContent()
                        }
                    </div>
                </div>
            } else if(EmailSignupRecaptcha.isSwitchedOn) {
                @fragments.email.signup.recaptchaTerms()
            }
            @* This iframe is used for submitting the form without reloading the page *@
            <iframe class="u-h" width="0" height="0" border="0" name="newsletterSignup" id="newsletterSignup" tabindex="-1"></iframe>
            @displayNewslettersByTheme
        </div>
    </div>
</div>

@if(EmailSignupRecaptcha.isSwitchedOn) {
    <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
}
