/* ==========================================================================
   Summary object
   ========================================================================== */

%sport-summary,
.sport-summary {
    width: 100%;
    margin-bottom: ($gs-baseline/3)*4;
}

%sport-summary__head,
.sport-summary__head {
    @extend %type-7;
    background-color: $c-neutral7;
    border-bottom: 1px solid #DEDEDD;
    display: block;
    font-weight: bold;
    margin-top: ($gs-baseline/3)*2;
    margin-bottom: 0;
    padding: 10px $gutter/2 ($gs-baseline/3)*2;
}

.sport-summary__body {
    background-color: $c-neutral7;
}

.sport-summary__score {
    td {
        @extend %type-10;
        display: block;
        padding: 0 $gutter/4*3;

        &:first-child {
            font-weight: bold;
            padding-top: ($gs-baseline/3)*2;
        }

        & + td {
            padding-bottom: ($gs-baseline/3)*2;
            border-bottom: 1px solid #DEDEDD;
        }

        @include mq(tablet) {
            display: table-cell;
            border-bottom: 1px solid #DEDEDD;
            padding-top: ($gs-baseline/3)*2;
            padding-bottom: ($gs-baseline/3)*2;
        }
    }
}

.sport-summary__description {
    @extend %type-10;
    font-weight: bold;
    padding: ($gs-baseline/3)*2 $gutter/4*3;
}
