<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>Pasteup | Guardian News &amp; Media</title>
        <meta name="description" content="Pasteup is where design meets development. It is where the Guardian’s globally recognised design language is turned into code for the web, and the starting point when styling Guardian branded products for both internal teams and third parties." />
        <meta name="author" content="the Guardian" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>document.getElementsByTagName('html')[0].className += ' has-js';</script>

        <!-- Include core base and module styles -->
        <link rel="stylesheet" type="text/css" href="/css/core.pasteup.min.css" />

        <!-- Add layout styles for browsers over 50em or less than IE9, but not IE mobile or IE6. -->
        <link rel="stylesheet" media="all and (min-width: 50em)" type="text/css" href="/css/layout.pasteup.min.css" />
        <!--[if (lt IE 9) & (!IEMobile)]>
            <link rel="stylesheet" type="text/css" href="/css/layout.min.css" />
        <![endif]-->

        <!-- Load main.js via requirejs, or load scripts at the bottom of the page. --> 
        <script data-main="js/main" src="/js/require.js"></script>
        
    </head>

    <body>
    	
        <!--<script src="/js/main.js"></script>-->
	</body>

</html>