/**
 * Base URL
 * URL can be an absolute HTTP (`//pasteup.guim.co.uk/fonts/`) or relative (`../`)
 *
 * @type String
 *
 * @group webfonts
 */
$guss-webfonts-base-url: './' !default;

/**
 * Version of the fonts to use
 *
 * @type String
 *
 * @group webfonts
 */
$guss-webfonts-version: '1.0.0' !default;

/**
 * Hinting
 *
 * - cleartype: larger file, better rendering in Windows
 * - auto: even larger file, better rendering in Windows in Chrome with
 *   font-smoothing disabled (the default in XP pre-servicepack 1)
 * - off: smaller files, render well on HiDPI displays
 *
 *  @type String
 *
 * @group webfonts
 */
$guss-webfonts-hinting: 'cleartype' !default;

/**
 * Kerning
 *
 * - on: larger file, better rendering
 * - off: smaller files
 *
 *  @type String
 *
 * @group webfonts
 */
$guss-webfonts-kerning: 'on' !default;

/**
 * Charset
 *
 * - ascii: 256 characters only, very small
 * - latin1: latin 1 character set
 * - original: full character set
 *
 * @type String
 *
 * @group webfonts
 */
$guss-webfonts-charset: 'original' !default;

/**
 * Complete path
 *
 * @type String
 *
 * @group webfonts
 */
$guss-webfonts-path: false !default;


/**
 * Human-readable Font-weights
 *
 * @type Map
 *
 * @group webfonts
 */
$guss-font-weights: (
    'thin':       100,
    'light':      200,
    'book':       300,
    'regular':    400,
    'medium':     500,
    'semibold':   600,
    'bold':       700,
    'black':      800,
    'ultrablack': 900
) !default;


/* Extra fonts
   ========================================================================== */

/**
 * Extra fonts directory
 *
 * @type String
 *
 * @group webfonts
 */
$guss-extras-directory: 'GuardianExtrasWeb' !default;

/**
 * Extra fonts list
 *
 * @type List
 *
 * @group webfonts
 */
$guss-webfonts-extras: 'Guardian Compact Web',
                       'Guardian Titlepiece Web',
                       'Guardian Weekend Cond Web' !default;


/* Font registry
   ========================================================================== */

/**
 * Font registry
 *
 * @type Map
 *
 * @group webfonts
 */
$guss-webfonts: (
    'Guardian Agate Sans 1 Web': (
        (weight: 'regular', style: 'normal'),
        (weight: 'regular', style: 'italic'),
        (weight: 'bold', style: 'normal'),
        (weight: 'bold', style: 'italic'),
    ),
    'Guardian Egyptian Web': (
        (weight: 'light', style: 'normal'),
        (weight: 'regular', style: 'normal'),
        (weight: 'regular', style: 'italic'),
        (weight: 'semibold', style: 'normal'),
        (weight: 'semibold', style: 'italic'),
        (weight: 'medium', style: 'normal'),
        (weight: 'bold', style: 'normal'),
        (weight: 'bold', style: 'italic'),
    ),
    'Guardian Sans Web': (
        (weight: 'light', style: 'normal'),
        (weight: 'regular', style: 'normal'),
        (weight: 'semibold', style: 'normal'),
    ),
    'Guardian Text Egyptian Web': (
        (weight: 'regular', style: 'normal'),
        (weight: 'regular', style: 'italic'),
        (weight: 'medium', style: 'normal'),
        (weight: 'medium', style: 'italic'),
        (weight: 'bold', style: 'normal'),
        (weight: 'bold', style: 'italic'),
        (weight: 'black', style: 'normal'),
        (weight: 'black', style: 'italic'),
    ),
    'Guardian Text Sans Web': (
        (weight: 'regular', style: 'normal'),
        (weight: 'regular', style: 'italic'),
        (weight: 'medium', style: 'normal'),
        (weight: 'medium', style: 'italic'),
        (weight: 'bold', style: 'normal'),
        (weight: 'bold', style: 'italic'),
        (weight: 'black', style: 'normal'),
        (weight: 'black', style: 'italic'),
    ),
    'Guardian Compact Web': (
        (weight: 'black', style: 'normal'),
    ),
    'Guardian Titlepiece Web': (
        (weight: 'regular', style: 'normal'),
    ),
    'Guardian Weekend Cond Web': (
        (weight: 'black', style: 'normal'),
    )
) !default;
