<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <contextName>Fronts end to end tests</contextName>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>
    <root level="OFF">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
