@(event: model.commercial.events.Masterclass, clickMacro: Option[String])

@import conf.Configuration

<div class="advert__blended-container">
    <div class="advert__blended-container__title">
        <a href="@clickMacro@Configuration.commercial.masterclasses_url"
            data-link-name="merchandising-hybrid-masterclasses-v1_0_2014-08-14-visit-site">
            @fragments.inlineSvg("logo-masterclasses-26", "logo--tone-masterclasses")
            <span class="u-h">Masterclasses</span>
        </a>
    </div>
    <div class="advert__blended-container__body">
        @masterclassCard(event, clickMacro)
    </div>
</div>
