@(masterClass: model.commercial.masterclasses.MasterClass, clickMacro: Option[String])(implicit request: RequestHeader)

@defining(("1_0", "2014-08-14")) { case (version, date) =>
    <li class="lineitem lineitem--multi lineitems__item">
        <div class="commercial--masterclasses commercial--tone-masterclasses">
            <div class="commercial--multi__header">
                <h4 class="commercial__title">
                    <a href="@clickMacro@Configuration.commercial.masterclasses_url"
                    data-link-name="merchandising-hybrid-masterclasses-v@{version}_@{date}-visit-site">
                        @fragments.inlineSvg("logo-masterclasses-26", "commercial", List("commercial--tone-masterclasses-logo"))
                        <span class="u-h">Masterclasses</span>
                    </a>
                </h4>
            </div>
            <div class="commercial--multi__body">
                <a class="lineitem__link"
                href="@clickMacro@masterClass.eventBriteEvent.guardianUrl"
                data-link-name="merchandising-hybrid-masterclasses-v@{version}_@{date}-class-@masterClass.eventBriteEvent.name">
                    @masterClass.mainPicture.map{ picture =>
                        @Item300.bestFor(picture.images).map{ url =>
                            <div class="lineitem__image-right">
                                <div class="lineitem__image-crop">
                                    <img class="lineitem__image" src="@url" alt="" />
                                </div>
                            </div>
                        }
                    }
                    <h4 class="lineitem__title">@masterClass.eventBriteEvent.name</h4>
                    <p class="lineitem__meta">
                        <span class="lineitem__meta__strong">@masterClass.eventBriteEvent.readableDate &#20; <span class="commercial--tone__highlight">@masterClass.eventBriteEvent.displayPrice</span></span><br/>
                        @masterClass.eventBriteEvent.venue.description
                    </p>
                </a>
                <a class="lineitem__cta button button--primary button--small"
                href="@clickMacro@masterClass.eventBriteEvent.guardianUrl"
                data-link-name="merchandising-hybrid-masterclasses-v@{version}_@{date}-class-@masterClass.eventBriteEvent.name-book-now">
                    Book now@fragments.inlineSvg("arrow-right", "icon", List("i-right"))
                </a>
            </div>
        </div>
    </li>
}
