@()(implicit request: RequestHeader, context: model.ApplicationContext)
@*
GDPR personalised advertisement setting component inspired by
https://support.google.com/dfp_premium/answer/7678538
*@

<amp-geo layout="nodisplay">
  <script type="application/json">
   {
       "ISOCountryGroups": {
           "eea": [ "preset-eea" ],
           "us": [ "us", "ca" ],
           "au": [ "au", "nz" ]
       }
   }
  </script>
</amp-geo>

@*
   Default policy as described in https://trello.com/c/UipfsepW
*@
<amp-consent layout="nodisplay" id="the-adconsent-element">
  <script type="application/json">
   {
       "consents": {
           "adconsent": {
               "promptIfUnknownForGeoGroup": "eea",
               "promptUI": "adconsent-ui"
           }
       },
       "policy": {
           "default": {
               "waitFor": { "adconsent": [] },
               "timeout": {
                   "seconds": 5,
                   "fallbackAction": "reject"
               }
           }
       }
   }
  </script>

  <div id="adconsent-ui" class="with-uk-frame consent-ui main-body">
      <div class="adconsent-message">
        <h2>Your privacy</h2>
        <p>We use cookies to improve your experience on our site and to show you
            personalised advertising.</p>
        <p>To find out more, read our <a class="u-underline" href="https://www.theguardian.com/help/privacy-policy">privacy policy</a>
            and <a class="u-underline" href="https://www.theguardian.com/info/cookies">cookie policy</a>.</p>
      </div>
      <div class="adconsent-actions">
          <button on="tap:the-adconsent-element.accept" class="adconsent-accept" role="button">
              @fragments.inlineSvg("tick", "icon", List("inline-icon--black"))

              I'm OK with that
          </button>
          <button on="tap:the-adconsent-element.reject" class="u-underline adconsent-reject" role="button">
              I do not want to see personalised ads
          </button>
      </div>
  </div>
</amp-consent>
