@()(implicit context: model.ApplicationContext)

@import conf.Configuration
@import play.api.Mode.Dev

<amp-sidebar class="fly-in"
             layout="nodisplay"
             id="sidebar1">
    <amp-list layout="fill"
              src="@Configuration.amp.baseUrl/editionalised-nav.json"
        @if(context.environment.mode != Dev) { credentials="include" }>

        <template type="amp-mustache">
                <ul class="fly-in-group fly-in-group--primary">
                    {{ #topLevelSections }}
                        <li class="fly-in-item">
                            <amp-accordion>
                                <section>
                                    <h2 class="fly-in-item__title"
                                        data-link-name="amp : nav : secondary : {{ title }}">
                                        <i class="fly-in-item__toggle"></i>
                                        {{ title }}
                                    </h2>

                                    <ul class="fly-in-group fly-in-group--secondary">
                                        {{ #subSections }}
                                            <li class="fly-in-item">
                                                <a class="fly-in-item__title"
                                                   href="{{ url }}"
                                                   data-link-name="amp : nav : secondary : {{ title }}">
                                                    {{ title }}
                                                </a>
                                            </li>
                                        {{ /subSections }}
                                    </ul>
                                </section>
                            </amp-accordion>
                        </li>
                    {{ /topLevelSections }}
                </ul>

                <ul class="fly-in-group">
                    {{ #secondarySections }}
                        <li class="fly-in-item">
                            <a class="fly-in-item__title"
                               href="{{ url }}"
                               data-link-name="amp : nav : {{ title }}">
                                {{ title }}
                            </a>
                        </li>
                    {{ /secondarySections }}
                </ul>
        </template>
    </amp-list>
</amp-sidebar>
