@import conf.Configuration

<header class="main-header">
    <a href="@Configuration.site.host/" class="logo-wrapper" name="top">
    @fragments.inlineSvg("guardian-logo-160", "logo")
    </a>
    <div class="main-navigation variant-kicker">
        <div class="main-navigation_link">
            <a href="@Configuration.site.host/">news</a>
        </div>
        <div class="main-navigation_link">
            <a href="@Configuration.site.host/commentisfree">opinion</a>
        </div>
        <div class="main-navigation_link">
            <a href="@Configuration.site.host/sport">sport</a>
        </div>
        <div class="main-navigation_link">
            <a href="@Configuration.site.host/culture">arts</a>
        </div>
        <div class="main-navigation_link">
            <a href="@Configuration.site.host/lifeandstyle">life</a>
        </div>
    </div>
</header>
