@()(implicit context: model.ApplicationContext)

@import conf.Configuration
@import play.api.Mode.Dev

<amp-sidebar class="menu" layout="nodisplay" id="sidebar1">

    <amp-list layout="fill"
        src="@Configuration.amp.baseUrl/editionalised-nav.json"
        @if(context.environment.mode != Dev) { credentials="include" }>

        <template type="amp-mustache">

                <ul class="menu-group menu-group--primary">
                    {{ #topLevelSections }}
                        <li class="menu-item">
                            <amp-accordion>
                                <section>
                                    <h2 class="menu-item__title menu-item__title--primary"
                                        data-link-name="amp : nav : secondary : {{ title }}">
                                        <i class="menu-item__toggle"></i>
                                        {{ title }}
                                    </h2>

                                    <ul class="menu-group menu-group--secondary">
                                        {{ #subSections }}
                                            <li class="menu-item">
                                                <a class="menu-item__title"
                                                    href="{{ url }}"
                                                    data-link-name="amp : nav : secondary : {{ title }}">
                                                    {{ title }}
                                                </a>
                                            </li>
                                        {{ /subSections }}
                                    </ul>
                                </section>
                            </amp-accordion>
                        </li>
                    {{ /topLevelSections }}
                </ul>

                <ul class="menu-group">

                    {{ #secondarySections }}
                        <li class="menu-item">
                            <a class="menu-item__title"
                                href="{{ url }}"
                                data-link-name="amp : nav : {{ title }}">
                                {{ title }}
                            </a>
                        </li>
                    {{ /secondarySections }}
                </ul>
        </template>
    </amp-list>
</amp-sidebar>
