@()(implicit request: RequestHeader)

@import conf.Configuration
@import common.{LinkTo, NewNavigation}

<header class="header" role="banner">
    <div class="header__inner gs-container">
        <a class="header__supporter-cta" href="@Configuration.id.membershipUrl/supporter?INTCMP=AMP_HEADER_GU_SUPPORTER">
            Become a <span>Supporter</span>
        </a>

        <a href="@LinkTo{/}" class="header__logo-wrapper" tabindex="0">
            <h1 class="u-h">The Guardian</h1>
            @fragments.inlineSvg("guardian-logo-160", "logo", List("header__logo"))
        </a>

        <nav class="header__nav">
            @NewNavigation.PrimaryLinks.map { link =>
                <a class="header__nav__link"
                    href="@LinkTo(link.url)">
                        @link.title
                </a>
            }
            <a class="header__nav__menu-button"
                href="@LinkTo{/}">
                    @fragments.inlineSvg("home", "icon", List("centered-icon"))
                    <span class="u-h">Home</span>
            </a>
        </nav>
    </div>
</header>
