<style>
    html {
        background: rgba(51,51,51,0.05);
    }

    body {
        font-family: Georgia,serif;
        font-size: 100%;
        line-height: 1.5rem;
        color: #333;
        background: #fff;
        margin: 0;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        max-width: 600px;
        margin: 0 auto;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    p {
        font-size: 1rem;
        line-height: 1.35rem;
        font-weight: 300;
    }

    .content__head .gs-container, .content__article-body, .caption, .content__meta-container, .media-primary .caption--main {
        margin: 0 1.25rem;
    }

    .content__section-label, .content__series-label {
        display: inline-block;
    }

    .content__section-label__link {
        color: #005689;
        text-decoration: none;
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 900;
    }

    .content__labels {
        padding: 0.375rem 0;
        border-bottom: 0.0625rem dotted #dfdfdf;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

    .content__headline {
        color: #333;
        font-size: 1.75rem;
        font-weight: 400;
        line-height: 2rem;
        padding-top: 0.125rem;
        padding-bottom: 1.5rem;
        margin: 0;
    }

    .content__standfirst p {
        font-size: 1rem;
        line-height: 1.25rem;
        margin-top: 0;
        margin-bottom: 0.375rem;
    }

    .contact {
        height: 1.3125rem;
        display: inline-block;
        vertical-align: top;
    }

    .inline-twitter-bird {
        margin-left: -0.3rem;
    }

    .byline {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 600;
        padding-top: 0.25rem;
        margin: 0;
    }

    .caption, .content__standfirst, .byline, .content__dateline, .element-rich-link--not-upgraded a:before, .content__series-label__link, blockquote.quoted {
        color: #767676;
    }

    .quoted__contents {
        font-style: italic;
    }

    .u-cf:after {
        clear: both;
    }

    .u-cf:after, .u-cf:before {
        content: '';
        display: table;
    }

    @* temporarily hiding these for demo *@
    .inline-expand-image, .meta__extras, .submeta, .content-footer, .content__dateline-lm , .block-share, .witness-cta-wrapper {
        display: none;
    }

    .caption {
        padding: 0.25rem 0 1rem;
    }

    .content__dateline {
        padding: 0.125rem 0 0.375rem;
        margin: 0;
    }

    .caption, .content__dateline {
        font-size: 0.75rem;
        line-height: 1rem;
        border-bottom: 0.0625rem dotted #dfdfdf;
        font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    }

    .u-underline {
        text-decoration: none;
        border-bottom: 0.0625rem solid #dcdcdc;
        color: #005689;
    }

    .main-header {
        background: #005689;
        min-height: 45px;
    }

    .logo-wrapper {
        float: right;
        margin: 0.1875rem 0.625rem 0.75rem 0;
    }

    .element-rich-link--not-upgraded {
        float: left;
        width: 50%;
        max-width: 13.75rem;
        margin: 0.25rem 1.25rem 0.375rem 0;
        border-top: 0.0625rem dotted #bdbdbd;
        border-bottom: 0.0625rem dotted #bdbdbd;
    }

    .element-rich-link--not-upgraded span {
        display: none;
    }

    .element-rich-link--not-upgraded p {
        margin: 0;
    }

    .element-rich-link--not-upgraded a {
        display: block;
        padding: 0;
        color: #333;
        border: 0;
        padding-bottom: 1.125rem;
    }

    .element-rich-link--not-upgraded a:before {
        content: 'More on this topic';
        display: block;
        font-size: 0.75rem;
        line-height: 1rem;
        font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        padding: 0.1875rem 0;
    }

    @* Image related styling below *@
    .content__mobile-full-width, .media-primary {
        margin: 0;
    }

    .content__head--byline-pic .byline-img {
        float: right;
        height: 9.375rem;
        z-index: 2;
    }

    .content__head--byline-pic .byline-img img {
        height: 100%;
    }

    @* Temporary fix for amp images specific styling *@
    img.-amp-fill-content {
        height: auto !important;
    }

    figure.element {
        margin: 1rem 0 0.75rem;
    }

    .caption--img {
        margin: 0;
    }

    @* Video related styling below *@
    .u-responsive-ratio {
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;
        overflow: hidden;
    }

    .u-responsive-ratio video {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    @* Pullquote related styling below *@
    .element-pullquote .inline-quote {
        margin-bottom: 0.375rem;
        display: block;
        width: 2.125rem;
        height: 1.875rem;
    }

    .element-pullquote blockquote p {
        color: #767676;
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    .element-pullquote blockquote {
        margin: 0;
        font-style: normal;
    }

    .element-pullquote svg {
        width: 2.125rem;
        height: 1.875rem;
    }

    .element-pullquote .inline-quote.closing {
        margin-top: 0.375rem;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    @fragments.amp.tonalStylesheet()
</style>
