@(path: String)
@import conf.Configuration

@* must be served by localhost, not thegulocal *@
<amp-list layout="fixed-height" height="188" src="@Configuration.amp.url/@path" class="onward-list">
    <template type="amp-mustache">
        {{#showContent}}
            <div class="fc-container__inner">
                <div class="fc-container__header__title">
                    <span>{{displayName}}</span>
                </div>
                {{#content}}
                    <div class="fc-item {{toneClass}}">
                        <div class="fc-item__image-container">
                            <amp-img src="{{thumbnail}}" layout="fixed" width=126 height=75></amp-img>
                        </div>
                        <div class="fc-item__content">
                            <div class="fc-item__header">
                                <h2 class="fc-item__title">
                                    <span>
                                        {{#isVideo}}
                                            @fragments.inlineSvg("video-icon", "icon")
                                        {{/isVideo}}
                                        {{#isGallery}}
                                            @fragments.inlineSvg("camera", "icon")
                                        {{/isGallery}}
                                        {{#isAudio}}
                                            @fragments.inlineSvg("volume-high", "icon")
                                        {{/isAudio}}
                                        {{#isComment}}
                                            @fragments.inlineSvg("quote", "icon")
                                        {{/isComment}}
                                    </span>
                                    {{headline}}
                                </h2>
                                {{#isComment}}
                                <div class="fc-item__byline">
                                    {{byline}}
                                </div>
                                {{/isComment}}
                            </div>
                            <aside class="fc-item__meta">
                                <time class="fc-item__timestamp" data-relativeformat="short">
                                    {{#showWebPublicationDate}}
                                        @fragments.inlineSvg("clock", "icon")
                                        <span class="timestamp__text">
                                            <span class="u-h">Published: </span>
                                            {{webPublicationDate}}
                                        </span>
                                    {{/showWebPublicationDate}}
                                </time>
                            </aside>
                        </div>
                        <a href="@{Configuration.site.host}{{url}}" class="fc-item__link">{{headline}}</a>
                    </div>
                {{/content}}
            </div>
        {{/showContent}}
    </template>
    <div overflow class="cta cta--medium cta--show-more">
        @fragments.inlineSvg("plus", "icon")
        More stories
    </div>
</amp-list>
