.ad-slot {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    overflow: hidden;
    height: auto;
    background-color: #f8f8f2;
}

[data-link-name*="bottom-banner-ad"] {
	padding: @baseline*2 0;
    background-color: #ffffff;
}


.ad-slot iframe {
    margin: 0 auto;
}