.ad-slot {
    display: block;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    overflow: hidden;
    height: auto;
}
[data-link-name*="bottom-banner-ad"] {
	padding-top: 20px;
}


.ad-slot iframe {
    margin: 0 auto;
}