.article-zone {
  padding: 13px 0 14px 0;
  margin: 0 $gutter;
  line-height: 1em;
  border-top: 4px solid $mushroom;
  border-bottom: 1px solid $mushroom;
  @include box-sizing(border-box);

  @media only screen and (min-width: $tablet) { border-top: none; }
}

.article-zone-sub {
  @extend %type-6;
}

.js-popular .article-zone {
  border-bottom: none;
}

.article__head {
  padding: $baseline*3 $gutter $baseline*3 $gutter;
}

.article__head .dateline {
    font-family: $sans-serif;
    margin: 0px 0px $baseline*1.5 0px;
    color: $neutral4;
    @extend %type-11;
    font-weight: bold;
}

.article__headline {
  @extend %type-1;
  color: $neutral1;
}

.article-standfirst {
  @extend %type-3;
  color: $neutral4;
  line-height: 20px;
  margin:12px 0 0 0;
  padding-top: 4px;
  border-top: 1px dotted $neutral4;
}

.bullet {
  font-size: 13px;
  display: inline-block;
  color: #999999;
  margin: $baseline/2 4px 0 0;
}

.bullet:first-of-type {
  margin-top: $baseline;
}

.byline {
  @include box-sizing(border-box);
  height: 36px;
  display: block;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin: 0 10px 12px 10px;
  padding: 0;
  vertical-align: top;
}

.article .main-image {
  @include box-sizing(border-box);
  margin-bottom: 0px;
  padding: 0 $gutter;
}

.article__body {
  margin-top: 12px;
  padding: 0 $gutter $baseline*2 $gutter;

  p {
    margin-bottom:0;
    text-indent: 24px;
  }

  p:first-of-type {
    text-indent:0;
  }
}

.gu-video {
  width: 100%;
  margin-bottom: $baseline*2;
}