.article {
    position: relative;
    @include rem((
        margin-bottom: $gs-baseline*3.5
    ));
    @include fs-bodyCopy(3);
}

.article__zone {
    @include fs-header(3);
    @include box-sizing(border-box);
    @include rem((
        min-height: $gs-row-height,
        padding: 0 $gs-gutter/2,
        border-top-width: $gs-baseline/6
    ));
    border-top-style: solid;

    @include mq(mobileLandscape) {
        @include rem((
            padding-left: $gs-gutter,
            padding-right: $gs-gutter
        ))
    }

    @include mq(tablet) {
        min-height: 0;
        @include rem((
            padding: $gs-baseline/3 0 $gs-baseline*1.25,
            max-width: gs-span(8)
        ));
        border-top: 1px dotted $c-neutral5 !important; // Disable tone colour
        margin-left: auto;
        margin-right: auto;
    }

    @include mq(rightCol) {
        @include rem((
            margin-left: $gs-gutter,
            margin-right: $gs-gutter
        ));
        max-width: none;
    }

    @include mq(leftCol) {
        @include rem((
            padding-left: $a-leftCol-width + $gs-gutter
        ));
    }

    @include mq(wide) {
        @include rem((
            padding-left:  gs-span(3) + $gs-gutter,
            padding-right: $a-rightCol-width + gs-span(1) + $gs-gutter*2
        ));
    }

    > a {
        display: block;
    }

    .no-indent-article__zone &,
    &.sport-header {
        padding-left: 0 !important;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

.article__zone--bleed-out {
    @include rem((
        margin-left: -$gs-gutter/2,
        margin-right: -$gs-gutter/2,
        padding-left: $gs-gutter/2,
        padding-right: $gs-gutter/2
    ));

    @include mq(mobileLandscape) {
        @include rem((
            margin-left: -$gs-gutter,
            margin-right: -$gs-gutter,
            padding-left: $gs-gutter,
            padding-right: $gs-gutter
        ));
    }
    @include mq(tablet) {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.left-col-deport {
    @include mq(leftCol) {
        @include rem((
                padding: 0
        ));
    }
}
.left-col-deport__body {
    @include mq(leftCol) {
        float: left;
        @include rem((
            padding-top: $gs-baseline/1.5,
            width: $a-leftCol-width
        ));
        margin-left: 0;

        // Makes the block actionable
        // when out of the flow
        position: relative;
        z-index: 1;
    }
    @include mq(wide) {
        @include rem((
            width: $a-leftColWide-width
        ));
    }
}

.article--advertisement-feature {
    @include f-textsans;

    .content__standfirst {
        @include f-headlineSans;
    }
}

.article-body {
    @include mq(tablet) {
        @include rem((
            margin-bottom: ($gs-baseline/3)*4
        ));
    }
}

.article__inner,
.article__main-column {
    position: relative;
}

.article__secondary-column,
.byline--cloned {
    display: none;
}

.byline {
    margin-bottom: 0;
    @include fs-bodyHeading(1);
    @include rem((
        padding-top: $gs-baseline/3,
        line-height: 20px
    ));
    color: $c-neutral2;

    @include mq(tablet) {
        @include fs-bodyHeading(2, true);
        @include rem((
            padding-right: gs-span(2),
            line-height: 22px
        ));
    }

    @include mq(leftCol) {
        margin-bottom: 0;
        padding-right: 0;
        @include rem((
            min-height: gs-height(1),
            padding-top: $gs-baseline/6,
            padding-bottom: $gs-baseline
        ));
        border-bottom: 0;
        border-top: 1px dotted $c-neutral5;
    }
}

.meta__body {
    @include mq(leftCol) {
        clear: left;
        border-top: 1px dotted $c-neutral5;
    }
}

.media-primary {
    @include rem((
        margin-left: $gs-gutter / -2,
        margin-right: $gs-gutter / -2
    ));
    @include mq(mobileLandscape) {
        @include rem((
            margin-left: $gs-gutter / -1,
            margin-right: $gs-gutter / -1
        ));
    }
}

.article__meta-heading {
    @include fs-header(1);
    @include rem((
        padding-top: ($gs-baseline/3),
        padding-bottom: ($gs-baseline/3)*4
    ));
    margin-bottom: 0;
    border-top: 1px dotted $c-neutral5;
}

/* Layout changes across devices
   ========================================================================== */

.main-caption {
    @include rem((
        min-height: ($gs-baseline/3)*7,
        max-width: gs-span(7)
    ));

    @include mq(tablet) {
        @include rem((
            max-width: gs-span(7)
        ));
    }
    @include mq(rightCol) {
        max-width: none;
    }
}

@include mq(tablet) {
    .main-caption {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .media-primary {
        margin-left: 0;
        margin-right: 0;
    }
    .article__columning-wrapper {
        @include rem((
            padding-right: gs-span(1) + $gs-gutter
        ));
    }
    .article__columning-wrapper .media-primary {
        @include rem((
            margin-right: (gs-span(1) + $gs-gutter) * -1 !important
    ));
    }
}

@include mq(rightCol) {
    .article-wrapper {
        max-width: none;
    }
    .article__columning-wrapper {
        width: 100%;
        display: table;
        table-layout: fixed;
        padding-right: 0;
        position: relative;
    }
    .article__columning-wrapper .media-primary {
        margin-right: 0 !important;
    }
    .article__main-column {
        display: table-cell;
        vertical-align: top;
        @include rem((
            max-width: gs-span(8),
            padding-right: $gs-gutter
        ));
    }
    .article__secondary-column {
        position: relative;
        display: table-cell;
        z-index: 1;
        @include rem((
            width: $a-rightCol-width
        ));
    }
    .article__secondary-column__inner--fill-vertically {
        top: 0;
        bottom: 0;
        position: absolute;

        > .u-table {
            height: 100%;
        }
    }
}

@include mq(gs-span(12) + $gs-gutter * 2) {
    .article__main-column {
        @include rem((
            padding-right: gs-span(1) + $gs-gutter * 2
        ));
    }
}

@include mq(leftCol) {
    .article-wrapper {
        @include rem((
            padding-left: $gs-gutter,
            padding-right: $gs-gutter
        ));
    }
    .article__main-column {
        @include rem((
            padding-left: $a-leftCol-width + $gs-gutter
        ));
    }

    .article__main-column {
        @include rem((
            padding-right: $gs-gutter
        ));
    }

    .commentcount {
        .content__head & {
            display: none;
        }

        .content__meta-container & {
            display: block;
            @include rem((
                padding-top: ($gs-baseline/3),
                margin-bottom: $gs-baseline
            ));
            border-top: 1px dotted $c-neutral5;
        }
    }
}

@include mq(wide) {
    .article__main-column {
        @include rem((
            padding-left: gs-span(3) + $gs-gutter
        ));
    }
    .article__main-column {
        @include rem((
            padding-right: gs-span(1) + $gs-gutter*2
        ));
    }
}

.article__popular {
    clear: left;
    @include rem((
        margin-bottom: $gs-baseline*2
    ));

    .article__zone {
        border-color: $c-newsAccent; // Acts as a default
    }

    i {
        @include rotate(-90deg);
        @include rem((
            margin-top: 10px
        ));
    }
}

/*
    This shares too much similarity with the `article__zone` block, so will merge once
    we get some proper direction over where/what the messaging we need for sponsored
    articles.
 */
.article__sponsor {
    min-height: $gs-row-height;
    @include rem((
        padding: 0 $gs-gutter/2
    ));

    @include mq(mobileLandscape) {
        @include rem((
            padding-left: $gs-gutter,
            padding-right: $gs-gutter
        ));
    }

    @include mq(tablet) {
        min-height: 0;
        @include rem((
            padding: $gs-baseline 0,
            max-width: gs-span(8)
        ));
        margin-left: auto;
        margin-right: auto;
    }

    @include mq(rightCol) {
        @include rem((
            margin-left: $gs-gutter,
            margin-right: $gs-gutter
        ));
        max-width: none;
    }

    @include mq(leftCol) {
        @include rem((
            padding-left: $a-leftCol-width + $gs-gutter
        ));
    }

    @include mq(wide) {
        @include rem((
            padding-left:  gs-span(3) + $gs-gutter,
            padding-right: $a-rightCol-width + gs-span(1) + $gs-gutter*2
        ));
    }
}

.article-hat-label {
    @include fs-data(3);
    @include rem((
        margin-top: $gs-baseline/2
    ));

    @include mq(tablet) {
        @include rem((
            margin-top: 0,
            margin-bottom: $gs-baseline/2
        ));
    }

    @include mq(leftCol) {
        @include rem((
            margin-top: $gs-baseline/3,
            margin-bottom: $gs-baseline/2
        ));
    }
}

.article-elongator {
    position: relative;

    .i-center {
        background-color: $c-brandBlue;
    }
}

.after-article {
    position: relative;
    display: block;
    content: " ";

    //This is required for football components, please do not remove
    @include mq(rightCol) {
        display: none;
    }
}

.drop-cap {
    @include mq($to: tablet) {
        float: left;
        display: inline-block;
        text-transform: uppercase;
        @include f-headline;
        font-weight: 200;
        @include box-sizing(border-box);
        @include rem((
            height: 2*get-line-height($fs-bodyCopy, 3),
            padding-top: 1px,
            margin-right: 4px
        ));

        .drop-cap__inner {
            display: inline-block;
            vertical-align: text-top;
            @include font-size(52px, 40px);
        }
    }
}

.drop-cap--wide {
    @include mq($from: tablet) {
        float: left;
        display: inline-block;
        text-transform: uppercase;
        @include f-headline;
        font-weight: 200;
        @include rem((
            margin-right: 5px,
            height: 3*get-line-height($fs-bodyCopy, 3)
        ));

        .drop-cap__inner {
            @include font-size(84px, 68px);
        }
    }
}

.commentcount {
    display: none;
    @include fs-data(3);

    i {
        vertical-align: bottom;
        @include rem((
            margin-right: 3px,
            vertical-align: -4px
        ));
    }

    .content__head & {
        display: block;
        @include rem((
            margin-bottom: $gs-baseline
        ));
    }

    @include mq(tablet) {
        display: block;
        position: absolute;
        right: 0;
        top: $gs-baseline/2;

        .content__head & {
            display: none;
        }
    }

    @include mq(leftCol) {
        @include rem((
            height : gs-height(1)
        ));
        position: static;
        @include box-sizing(border-box);
    }
}

.commentcount__label {
    .content__head & {
        @extend %u-h;
    }
}

.breadcrumb-list__item {
    color: lighten($c-neutral2, 15%);
    @include fs-data(1);
}

.breadcrumb-keyword {

    &:after {
        content: ">> ";
        display: inline-block;
        margin-left: $gs-gutter/5;
    }
}
