.article-zone {
    padding: @baseline*3 @gutter;
    line-height: 1em;
    border-top: 4px solid @mushroom;
    border-bottom: 1px solid @mushroom;
}

#js-popular .article-zone {
    border-bottom: none;
}

.article header {
    padding: @baseline*3 @gutter @baseline*4 @gutter;
}

aside {
    padding: 0px 0px 15px 0px;
    list-style: none;
}

.article h1 {
    font-weight: bold;
}

.byline {
    .type-4;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin: 0 @gutter @baseline*2 @gutter;
    padding: @baseline 0 @baseline*3 0;
}

.article-body {
    padding: 0 @gutter @baseline*2 @gutter;
}

.article-body h2 {
    color: #333333;
    .type-3;
    margin-bottom: @baseline;
    clear: both;
}

.article-body h2.block-title {
    color: #e47a39;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.article-body h3 {
    margin: 0;
    font-family: georgia;
    .type-3;
}

.article-body > p,
.article-body ul,
.article-body ol,
.article-body address,
.article-body blockquote,
.article-body blockquote p {
    .type-4;
    margin: 0px 0px @baseline*2 0px;
    padding: 0px;
    color: #333333;
}

.article blockquote,
.article blockquote p {
    .type-4;
    color: #333333;
    font-weight: normal;
    border-left: none;
}

.article blockquote:before {
    .i-livequote-before;
    display: block;
    content: '';
    margin: 21px 0 @baseline*2 0;
    clear: both;
}

.svg .article blockquote:before {
    .svg-i-livequote-before;
}

.article blockquote:after {
    .i-livequote-after;
    display: block;
    content: '';
    margin-bottom: 22px;
}

.svg .article blockquote:after {
    .svg-i-livequote-after;
}

.article-body .timestamp:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

.article-body .caption,
figcaption {
    .type-7;
}

figcaption.main-caption {
    padding: @baseline*2 @gutter;
}

.article-body .caption:before,
figcaption:before {
    display: inline-block;
    content: '';
    margin-right: 4px;
    .i-image;
}

.svg .article-body .caption:before,
.svg figcaption:before {
    .svg-i-image;
}

figure {
    margin: 0px 0px @baseline*1 0px;
}

figure img {
    display: block;
    margin-bottom: @baseline*2;
}

cite {
    .type-7
}

cite a {
    color: #666666;
}

cite a:hover,
cite a:visited:hover {
    color: #4d4d4d;
    border-bottom: 1px dotted #4d4d4d;
}

cite a:visited {
    color: #808080;
    border-bottom: 1px dotted #808080;
}