.article-zone {
  padding: 13px 0 14px 0;
  margin: 0 $gutter;
  line-height: 1em;
  border-top: 4px solid $mushroom;
  border-bottom: 1px solid $mushroom;
  @include box-sizing(border-box);

  @media only screen and (min-width: $tablet) { border-top: none; }
}

.article-zone-sub {
  @extend .type-6;
}

.js-popular .article-zone {
  border-bottom: none;
}

.article-head {
  padding: $baseline*3 $gutter $baseline*4 $gutter;
}

.article-headline {
  @extend .type-3;
  margin-bottom: $baseline*2;
}

.article-standfirst {
  margin-bottom: 0;
}

.bullet {
  font-size: 13px;
  display: inline-block;
  color: #999999;
  margin: $baseline/2 4px 0 0;
}

.bullet:first-of-type {
  margin-top: $baseline;
}

.byline {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin: 0 $gutter $baseline*2 $gutter;
  padding: $baseline 0 $baseline*4 0;
}

.article .main-image {
  margin-bottom: 0px;
}

.article-body {
  padding: 0 $gutter $baseline*2 $gutter;
}

.gu-video {
  width: 100%;
  margin-bottom: $baseline*2;
}