@mixin d-comment__body {
    word-wrap: break-word;

    @include mq(768px) {
        line-height: 22px;

        p {
            @include fs-data(5);
        }
    }

    p {
        margin-bottom: 12px;
    }
    
    blockquote {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 14px;
        border-left: 2px solid #cfcfcd !important; // To override .block blockquote

        &,
        p {
            // Override article styles
            color: $c-neutral2;
            font-family: $sans-serif;
            font-size: inherit;
            line-height: inherit;
        }
    }
}
