/* ==========================================================================
   Discussion
   ========================================================================== */
.d-discussion {
    font-size: 14px;
    font-size: 1.4rem;
}

.d-discussion__header {
    margin-bottom: $baseline*3;
}

.d-thread {
    list-style: none;
    margin: 0 0 1em;
}
.d-thread .d-thread {
    padding-left: 28px; /* aligns with top level comment's body */
    border-left: $gutter/2 solid $darkMushroom;

    @include mq(768px) {
        padding-left: 44px;
        border-left-width: $gutter;
    }
}
.d-comment {
    color: $c-neutral1;
    font-family: $sans-serif;
    border-top: 1px solid $medianMushroom;
}
.d-comment--has-replies + .d-comment {
    border-top: 2px solid $darkMushroom;
}

.d-comment--blocked > .d-comment__inner {
    opacity: .5;
}
.d-comment__inner {
    padding-top: $baseline*3;
    position: relative;
}
// Highlight targetted comment
// ie: http://path/to/url#comment-123
//     highlights comment with ID 123
.d-comment:target > .d-comment__inner {
    background: $mushroom;

    $highlightBleedingOffset: $gutter/4;
    padding-left: $highlightBleedingOffset;
    padding-right: $highlightBleedingOffset;
    margin-left: $highlightBleedingOffset * -1;
    margin-right: $highlightBleedingOffset * -1;
}

.d-comment__pick {
    position: absolute;
    top: 0;
    right: 0;
}

.d-comment__header {
    margin-top: -2px;
}
.d-comment__avatar-wrapper {
    display: block;
}
.d-comment__avatar {
    padding-top: 2px; /* align avatar with body text */
}

.d-comment__meta {
    line-height: 1.3;
    word-wrap: break-word;
}

@include mq(768px) {
    .d-comment__author + .d-badge {
        top: -.15em;
    }
}

.d-meta-separator {
    color: #aaa;
    font-size: .85714285714em;
}

.d-comment__main {
    padding-top: $baseline * 3;
    padding-bottom: $baseline * 3;
}

.d-comment__body {
    @include d-comment__body;
}


/* Header
   ========================================================================== */
/**
 * Simulate Media object on Comments header
 * To have an image or a media on the left,
 * and a content block on its right.
 * See benefits of this technique:
 * - www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 * - http://jsfiddle.net/necolas/rZvEF/
 */
.d-comment-header {
    zoom: 1;

    &:before,
    &:after {
        content: '.';
        display: block;
        overflow: hidden;
        visibility: hidden;
        font-size: 0;
        line-height: 0;
        width: 0;
        height: 0;
    }
    &:after {
        clear: both;
    }
}

.d-comment__media {
    float: left;
    margin-right: 15px;

    img {
        display: block;
        max-width: 100%; /* 1 */
    }
}

/**
 * 1. Create new block formatting context in modern browsers
 * 2. Avoid shrink-wrap behaviour of table-cell
 * 3. Override for IE6/7
 * 4. Create new block formatting context in IE6/7
*/
.d-comment__meta {
    display: table-cell; /* 1 */
    max-width: 100%;
    width: 10000px; /* 2 */
    *width: auto; /* 3 */
    *zoom:1; /* 4 */
}

.d-meta-item {
    color: $c-neutral2;
    font-size: .85714285714em;
    font-family: $sans-serif; // Force font when used outside of comment context
}

.d-comment__actions {
    margin-top: $baseline * 3; /* Compensate missing space in case the comment does not end with a paragraph */
    margin-bottom: $baseline;
}

.d-comment__action {
    color: $c-neutral2;
    font-size: .85714285714em;
}

.d-comment__recommend {
    background-color: #929497;
    color: #fff;
    font-size: 14px;
    font-size: 1.4rem;
    padding: $baseline $gutter/2;
    position: absolute;
    right: 0;
    top: $baseline * 4;
}

.d-comment__recommend--left {
    right: $gutter * 1.5;
}

.d-comment__recommend--active {
    background-color: #4490ce;
    color: #fff;
    cursor: pointer;
}

.d-comment__recommend--user-recommended {
    background-color: #931c55;
}

/* Badges
   ========================================================================== */

.d-badge:after {
    @extend %d-badge-icon;
}
.d-badge--contributor:after {
    content: 'c';
    text-indent: -1px;
}
.d-badge--guardian-staff:after {
    content: 'g';
    line-height: .9;
}
.d-badge__label {
    /* Hide the label but not to screen readers */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.speech-bubble {
    @include font($sans-serif, normal, 14, 14);
    position: relative;
    display: inline-block;
    min-height: 14px;
    min-width: 17px;
    padding: .275em .6em .375em;
    border: 0;
    border-radius: 4px;
    text-align: center;
    color: white;

    &,
    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:after {
        content: "";
        position: absolute;
        bottom: -7px;
        left: 6px;
        border-width: 0 0 8px 8px;
        border-style: solid;
        border-color: transparent inherit;
    }
}


/* CTAs
   ========================================================================== */

.d-actions .top {
    color: #808080;
    background-color: #fff;
    border: 1px solid #bbb;
    position: relative;
    padding-left: $gutter*2;
    width: auto;
}

.d-actions .top:before {
    @extend .i-filter-arrow-right;
    position: absolute;
    top: 10px;
    left: 10px;
    content: ' ';
    display: inline-block;
    @include rotate(-90deg);
}

.d-actions__link,
.d-actions__link:hover,
.d-actions__link:focus {
    @extend %type-11;
    padding-right: $gutter*2;
    color: #808080;
    display: block;
    margin: $baseline*4 0;
}

.d-actions__link:after {
    margin: 0 0 -3px 20px;
    content: ' ';
    display: inline-block;
    @extend .i-filter-arrow-right;
}
.d-show-cta-wrapper {
    padding: $baseline*2 0 $baseline*4;
}
.d-show-cta,
.d-show-cta:hover,
.d-show-cta:focus {
    @extend %type-6;
    line-height: 1;
    color: $c-neutral1;
    position: relative;
    display: block;
    padding: $baseline*2 8px $baseline*6 6px;
    text-align: left;
    overflow: auto;
    background-color: $mushroom;
    position: relative;

    .d-commentcount {
        position: absolute;
        top: 13px;
        right: 10px;
    }

    i {
        position: absolute;
        left: 6px;
        bottom: 6px;
    }
}

.d-show-cta:hover,
.d-show-cta:focus {
    background-color: $darkMushroom;
}

/* Comment Box
   ========================================================================== */
.d-bar {
    background-color: $mushroom;
    padding: $baseline*3 $gutter $baseline*3 $gutter;
    margin-bottom: $baseline*3;
}

.d-comment-box {}

.d-comment-box--condensed {
    .d-comment-box__content {
        display: none;
    }

    .d-comment-box__add-comment {
        display: block;
    }
}

.d-comment-box__body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid $grey;
    font-family: $sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    height: 50px;
    margin: $baseline*2 0;
    padding: ($baseline*2) ($gutter/2);
    resize: vertical;
    width: 100%;
}

.d-comment-box__body--expanded {
    height: 150px;
}

.d-comment-box__error {
    background: #ffcc66;
    padding: $baseline*2 $gutter;
}

.d-comment-box__add-comment {
    display: none;
}
