@mixin d-comment__body {
    word-wrap: break-word;

    @include mq(768px) {
        line-height: 22px;

        p {
            @include fs-data(5);
        }
    }

    p {
        margin-bottom: 12px;
    }
    
    blockquote {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 14px;
        border-left: 2px solid #cfcfcd !important; // To override .block blockquote

        &,
        p {
            // Override article styles
            color: $c-neutral2;
            font-family: $sans-serif;
            font-size: inherit;
            line-height: inherit;
        }
    }
}

@mixin d-white-fade {
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(80%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
   background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
   background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);    
}

@include keyframes(opacityFadeIn) {
    0% {
        opacity: 0;
        background-color: $c-neutral6;
    }
    20% {
        opacity: 1;
        background-color: $c-neutral6;
    }
    100% {
        opacity: 1;
        background-color: #ffffff;
    }
}

@mixin commentFadeInAnimation {

    /* Force hardware acceleration on animated layer */
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
    
    /* Gecko */
    -moz-animation-name: opacityFadeIn;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-duration: 2s;
    -moz-animation-direction: normal;
    -moz-animation-fill-mode: forwards;
    -moz-animation-delay: 0.2s;

    /* Webkit / Blink */
    -webkit-animation-name: opacityFadeIn;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.2s;

    /* Vanilla */
    animation-name: opacityFadeIn;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}