@mixin bordered {
    margin-left: 10px;
    border-left: 1px dotted #000000;
    padding-left: 9px;
}
@mixin overlay {
    .trail__title {
        position:absolute;
        bottom: 0;
        background-color: rgba(0, 86, 136, 0.6);
        color: #ffffff;
        margin: 0;
        padding: $baseline*3 $baseline;
        @include box-sizing(border-box);
    }
}

@mixin small-card {
    height: 50%;
    @include box-sizing(border-box);
    float: none;
    @include bordered;
    .trail__image {
        display: none;
    }
}

#preloads{
    padding: 0 $gs-gutter / 2;
}


.facia-container {

    .trails {
        overflow: hidden;
        margin-top: $baseline*4;
        padding: $baseline*3 0;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        width: 100%;
        max-width: gs-span(16);
    }
    .trail {
        float: left;
        padding: 0;
        border: none;
        height: 100%;
    }
    .trail__image {
        width: 100%;
        float: left;
    }
    .trail__title {
        color: #000000;
    }
    .trail__standfirst {
        color: #000000;
    }
    .trail__count {
        top: auto;
        bottom: 0;
        right: auto;
        height: 30px;
        padding-right: $baseline;
        background-color: rgba(0, 0, 0, 0.3);
        a {
            color: #ffffff;
        }
    }

    .trail:nth-child(1) {
        background-color: #005688;
    }

    .trails-count-1 {
        .trail {
            width: 100%;
        }
        .trail__image {
            margin-right: 20px;
        }
        .trail__title {
            color: #ffffff;
            margin: $baseline*3 $baseline*3 0;
        }
        .trail__standfirst {
            color: #ffffff;
            margin: $baseline*6 $baseline*3 0;

        }
    }

    .trails-count-2 {
        .trail:nth-child(1) {
            .trail__image {
                margin-right: 20px;
            }
            .trail__title {
                color: #ffffff;
                margin: $baseline*3 $baseline*3 0;
            }
            .trail__standfirst {
                color: #ffffff;
                margin: $baseline*6 $baseline*3 0;
            }
        }
        .trail:nth-child(2) {
            .trail__image {
                display: none;
            }
            .trail__title {
                margin: 0;
            }
            .trail__standfirst {
                margin: $baseline*6 0 0;
            }
        }
    }

    @include mq(0, tablet) {

        .trails {
            @include box-sizing(border-box);
            border: none;
        }
        .trail {
            width: 100%;
        }
        .trail__standfirst {
            display: none;
        }
        .trail__count {
            right: 0;
        }

        .trail:nth-child(1) {
            height: auto;

            .trail__image{
                float:none;
                margin: 0;
            }
            .trail__title {
                @include font($serif, 700, 20, 24);
                color: #ffffff;
                margin: $baseline*2 $baseline $baseline*3;
            }
        }
        .trail:nth-child(n+2) {
            margin: $baseline*3 0 0;
            padding: $baseline*3 $baseline 0;
            border-top: 1px dotted #000000;
            .trail__image{
                display: none;
            }
            .trail__title {
                @include font($serif, 700, 20, 24);
            }
        }
    }

    @include mq(tablet, desktop) {

        .trails {
            height: 228px;
        }

        .trails-count-1 {
            .trail__image {
                width: 380px;
            }
            .trail__title {
                @include font($serifheadline, 700, 26, 28);
            }
            .trail__standfirst {
                @include font($serifheadline, normal, 18, 20);
            }
            .trail__count {
                left: 380px;
            }
        }

        .trails-count-2 {
            .trail__title {
                @include font($serifheadline, 700, 26, 28);
            }
            .trail__standfirst {
                @include font($serifheadline, normal, 18, 20);
            }

            .trail:nth-child(1) {
                width: 380px;
                margin-right: 10px;
                @include overlay;
            }
            .trail:nth-child(2) {
                @include bordered;
                float: none;
            }
        }

        .trails-count-3 {
            .trail__title {
                @include font($serifheadline, 700, 26, 28);
            }
            .trail__standfirst {
                display: none;
            }

            .trail:nth-child(1) {
                width: 380px;
                margin-right: 10px;
                @include overlay;
            }
            .trail:nth-child(n+2) {
                @include small-card;
                .trial__title {
                    margin: $baseline*3 0 0;
                }
            }
            .trail:nth-child(2) {
                padding-bottom: 10px;
            }
            .trail:nth-child(3) {
                border-top: 1px solid #000000;
                padding-top: 9px;
            }
        }

        .trails-count-4 {
            .trail__title {
                @include font($serifheadline, 700, 26, 28);
            }
            .trail__standfirst {
                display: none;
            }

            .trail:nth-child(1) {
                width: 350px;
                @include overlay;
            }
            .trail:nth-child(n+2) {
                @include small-card;
                height: 33%;
            }
            .trail:nth-child(2) {
                height: 34%;
                padding-bottom: 10px;
            }
            .trail:nth-child(n+3) {
                border-top: 1px solid #000000;
                padding-top: 9px;
            }
        }

    }

    @include mq(desktop, wide) {

        .trails {
            height: 324px;
        }

        .trails-count-1 {
            .trail__image {
                width: 540px;
            }
            .trail__title {
                @include font($serifheadline, 700, 34, 36);
            }
            .trail__standfirst {
                @include font($serifheadline, normal, 26, 28);
            }
            .trail__count {
                left: 560px;
            }
        }

        .trails-count-2 {
            .trail__title {
                @include font($serifheadline, 700, 30, 32);
            }
            .trail__standfirst {
                @include font($serifheadline, normal, 26, 28);
            }

            .trail:nth-child(1) {
                width: 540px;
                margin-right: 10px;
                @include overlay;
            }
            .trail:nth-child(2) {
                @include bordered;
                float: none;
            }
        }

        .trails-count-3 {
            .trail__title {
                @include font($serifheadline, 700, 30, 32);
            }
            .trail__standfirst {
                display: none;
            }

            .trail:nth-child(1) {
                width: 540px;
                margin-right: 10px;
                @include overlay;
            }
            .trail:nth-child(n+2) {
                @include small-card;
                .trial__title {
                    margin: $baseline*3 0 0;
                }
            }
            .trail:nth-child(2) {
                padding-bottom: 10px;
            }
            .trail:nth-child(3) {
                border-top: 1px solid #000000;
                padding-top: 9px;
            }
        }

        .trails-count-4 {
            .trail__title {
                @include font($serifheadline, 700, 30, 32);
            }
            .trail__standfirst {
                display: none;
            }

            .trail:nth-child(1) {
                width: 540px;
                @include overlay;
            }
            .trail:nth-child(2) {
                width: 300px;
                margin: 0 10px 0 20px;
            }
            .trail:nth-child(n+3) {
                @include small-card;
            }
            .trail:nth-child(3) {
                padding-bottom: 10px;
            }
            .trail:nth-child(4) {
                border-top: 1px solid #000000;
                padding-top: 9px;
            }
        }

    }


    @include mq(wide) {

        .trails {
            height: 372px;
        }

        .trails-count-1 {
            .trail__image {
                width: 620px;
            }
            .trail__title {
                @include font($serifheadline, 700, 38, 40);
            }
            .trail__standfirst {
                @include font($serifheadline, normal, 30, 32);
            }
            .trail__count {
                left: 640px;
            }
        }

        .trails-count-2 {
            .trail__title {
                @include font($serifheadline, 700, 30, 32);
            }
            .trail__standfirst {
                @include font($serifheadline, normal, 26, 28);
            }

            .trail:nth-child(1) {
                width: 940px;
                .trail__image {
                    width: 620px;
                }
            }
            .trail:nth-child(2) {
                width: 300px;
                @include bordered;
            }
        }

        .trails-count-3 {
            .trail__title {
                @include font($serifheadline, 700, 30, 32);
            }
            .trail__standfirst {
                display: none;
            }

            .trail:nth-child(1) {
                width: 620px;
                @include overlay;
            }
            .trail:nth-child(n+2) {
                width: 300px;
                @include bordered;
                .trial__title {
                    margin: $baseline*3 0 0;
                }
            }
            .trail:nth-child(2) {
                border: none;
                padding-left: 10px;
            }
        }

        .trails-count-4 {
            .trail__title {
                @include font($serifheadline, 700, 30, 32);
            }
            .trail__standfirst {
                display: none;
            }

            .trail:nth-child(1) {
                width: 620px;
                @include overlay;
            }
            .trail:nth-child(2) {
                margin: 0 10px 0 20px;
                width: 300px;
            }
            .trail:nth-child(n+3) {
                @include small-card;
            }
            .trail:nth-child(3) {
                padding-bottom: 10px;
            }
            .trail:nth-child(4) {
                border-top: 1px solid #000000;
                padding-top: 9px;
            }
        }

    }
}
