$featured-img-width: 460px;
$blue: #005688;
$light-blue: #4cc7e0;
$pink: #AB1454;
$light-pink: #f66980;
$grey: #cccccc;

@mixin bordered {
    border-left: 1px dotted #000000;
}
@mixin overlay {
    .trail__title {
        position:absolute;
        bottom: 0;
        color: #ffffff;
        margin: 0;
        background-color: $blue;
        background-color: rgba($blue, 0.7);
        padding: $baseline*3 $gutter/2;
        @include box-sizing(border-box);
        width: 100%;
    }
    .trail__standfirst {
        display: none;
    }
    .trail__count {
        border-left-color: $light-blue;
    }
    .trail__timestamp {
        border-left: none;
    }
    .trail__timestamp,
    .trail__count a {
        color: #ffffff;
    }
    &.trail--feature {
        .trail__title {
            background-color: $pink;
            background-color: rgba($pink, 0.7);
        }
        .trail__count {
            border-left-color: $light-pink;
        }
    }
}
@mixin overlay-feature {
    .trail__title {
        background-color: $pink;
        background-color: rgba($pink, 0.6);
    }
    .trail__count {
        border-left-color: $light-pink;
    }
}

@mixin small-card {
    height: 50%;
    @include box-sizing(border-box);
    float: none;
    padding-top: $baseline*2;
    border-top: 2px solid $blue;
    &.trail--feature {
        border-top: none;
    }
    .trail__image-container {
        display: none;
    }
}

.top-stories .front-section-head {
    display: none;
}

.trailblock--masthead {
    padding: 0;
}

.trails {
    overflow: hidden;
    margin-top: $baseline*4;
    padding: $baseline*3 0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    width: 100%;
    max-width: gs-span(16);
    .trail {
        float: left;
        padding: 0;
        border: none;
        height: 100%;
    }
    .trail__image {
        width: 100%;
        float: left;
    }
    .trail__title,
    .trail__standfirst {
        color: #000000;
    }
    .trail__title {
        font-family: $serifheadline;
        font-weight: 700;
    }
    .trail__stadfirst {
        font-weight: normal;
    }
    .trail__meta {
        position: absolute;
        bottom: 0;
    }
    .trail__timestamp,
    .trail__count {
        padding-bottom: $baseline * 5;
        padding-left: $gutter / 4;
        float: left;
        border-left: 1px solid $grey;
        i {
            margin: 0 $gutter / 4 0 0;
            @extend .i-clock-blue;
        }
        &,
        a {
            color: $grey;
            @include font($sans-serif, lighter, 16, 16);
        }
    }
    .trail__timestamp {
        min-width: 80px;
        i {
            @extend .i-clock-blue;
        }
    }
    .trail__count {
        position: relative;
        top: auto;
        margin-left: $gutter/4;
        a {
            float: none;
            display: inline;
            margin: 0;
        }
        i {
            float: none;
            position: relative;
            top: 3px;
            margin-top: -1px;
            @extend .i-comment-blue;
        }
    }
    .trail:first-child .trail__count {
        top:auto;
    }
    .trail:nth-child(1) {
        background-color: $blue;
    }
    .trail--feature:nth-child(1) {
        background-color: $pink;
    }
    @include mq(0, tablet) {
        @include box-sizing(border-box);
        border: none;
        .trail {
            width: 100%;
        }
        .trail__standfirst {
            display: none;
        }
        .trail__timestamp,
        .trail__count a {
            color: #ffffff;
        }
        .trail__count {
            border-left-color: $light-blue;
        }
        .trail:nth-child(1) {
            height: auto;
            .trail__image{
                display: block;
                float:none;
                margin: 0;
            }
            .trail__title {
                @include font-size(24, 28);
                color: #ffffff;
                padding: $baseline*3 $gutter/2 $baseline*10;
            }
        }
        .trail:nth-child(n+2) {
            padding: $baseline*2 0 $baseline*4;
            border-top: 2px solid $blue;
            &.trail--feature {
                border-top: none;
            }
            .trail__image-container,
            .trail__timestamp,
            .trail__count {
                display: none;
            }
            .trail__title {
                @include font-size(20, 24);
            }
        }
    }

    .trail--feature {
        background-color: $pink;
        a,
        .trail__title,
        .trail__timestamp {
            color: #ffffff;
        }
        .trail__title {
            padding: 0 $gutter/2;
            font-weight: normal;
        }
        .trail__timestamp i {
            @extend .i-clock-pink;
        }
        .trail__timestamp {
            border-left: none;
        }
        .trail__count {
            border-left-color: $light-pink;
            i {
                @extend .i-comment-pink;
            }
        }
    }
}

@include mq(tablet, desktop) {
    .trails {
        height: 276px;
    }
}
@include mq(desktop, wide) {
    .trails {
        height: 276px;
    }
}
@include mq(wide) {
    .trails {
        height: 372px;
    }
}

.trails-count-1 {
    .trail {
        width: 100%;
    }
    .trail__image {
        margin-right: 20px;
    }
    .trail__title {
        color: #ffffff;
        margin: 0 $gutter*3/4;
        padding-top: $baseline*3;
    }
    .trail__standfirst {
        color: #ffffff;
        margin: $baseline*6 $gutter*3/4 0;
    }
    @include mq(tablet, desktop) {
        .trail__image {
            width: $featured-img-width;
        }
        .trail__title {
            @include font-size(26, 28);
        }
        .trail__standfirst {
            @include font-size(18, 20);
        }
    }

    @include mq(desktop, wide) {
        .trail__image {
            width: $featured-img-width;
        }
        .trail__title {
            @include font-size(34, 36);
        }
        .trail__standfirst {
            @include font-size(26, 28);
        }
    }
    @include mq(wide) {
        .trail__image {
            width: 620px;
        }
        .trail__title {
            @include font-size(38, 40);
        }
        .trail__standfirst {
            @include font-size(30, 32);
        }
    }
}

.trails-count-2 {
    .trail:nth-child(1) {
        .trail__image {
            margin-right: 20px;
        }
        .trail__title {
            color: #ffffff;
            margin: 0 $gutter*3/4;
            padding-top: $baseline*3;
        }
        .trail__standfirst {
            color: #ffffff;
            margin: $baseline*6 $gutter*3/4 0;
        }
    }
    .trail:nth-child(2) {
        .trail__image-container {
            display: none;
        }
        .trail__title {
            margin: 0;
        }
        .trail__standfirst {
            margin: $baseline*6 0 0;
        }
    }
    @include mq(tablet, desktop) {
        .trail__title {
            @include font-size(26, 28);
        }
        .trail__standfirst {
            @include font-size(18, 20);
        }
        .trail:nth-child(1) {
            width: $featured-img-width;
            margin-right: 10px;
            @include overlay;
        }
        .trail:nth-child(2) {
            @include bordered;
            float: none;
        }
    }
    @include mq(desktop, wide) {
        .trail__title {
            @include font-size(30, 32);
        }
        .trail__standfirst {
            @include font-size(26, 28);
        }
        .trail:nth-child(1) {
            width: $featured-img-width;
            margin-right: 10px;
            @include overlay;
        }
        .trail:nth-child(2) {
            @include bordered;
            float: none;
        }
    }
    @include mq(wide) {
        .trail__title {
            @include font-size(30, 32);
        }
        .trail__standfirst {
            @include font-size(26, 28);
        }
        .trail:nth-child(1) {
            width: 940px;
            .trail__image {
                width: 620px;
            }
        }
        .trail:nth-child(2) {
            width: 300px;
            @include bordered;
        }
    }
}

.trails-count-3 {
    @include mq(tablet, desktop) {
        .trail:nth-child(n+2) .trail__meta {
            display: none;
        }
    }
    @include mq(tablet, wide) {
        .trail__standfirst {
            display: none;
        }
        .trail:nth-child(1) {
            width: $featured-img-width;
            margin-right: $gutter * 5/4;
            @include overlay;
            .trail__title {
                @include font-size(24, 28);
                width: $featured-img-width - $gs-column-width - $gs-gutter;
                padding-top: $baseline*2;
                padding-bottom: $baseline*10;
            }
        }
        .trail:nth-child(n+2) {
            @include small-card;
            .trail__title {
                @include font-size(20, 24);
            }
        }
    }
    @include mq(wide) {
        .trail {
            margin-right: $gutter * 5/4;
        }
        .trail:last-child {
            margin-right: 0;
        }
        .trail__standfirst {
            display: none;
        }
        .trail:nth-child(1) {
            width: 620px;
            @include overlay;
            .trail__title {
                @include font-size(28, 32);
                width: 620 - $gs-column-width - $gs-gutter;
                padding-bottom: $baseline*13;
            }
        }
        .trail:nth-child(n+2) {
            width: 300px;
            .trail__image {
                margin-bottom: $baseline*3;
            }
            .trail__title {
                @include font-size(24, 28);
            }
        }
    }
}

.trails-count-4 {
    .trail__standfirst {
        display: none;
    }

    @include mq(tablet, desktop) {
        .trail:nth-child(1) {
            width: $featured-img-width;
            margin-right: $gutter * 5/4;
            @include overlay;
            .trail__title {
                @include font-size(24, 28);
                width: 460 - $gs-column-width - $gs-gutter;
                padding-top: $baseline*2;
                padding-bottom: $baseline*10;
            }
        }
        .trail:nth-child(n+2) {
            @include small-card;
            height: 33%;
            .trail__title {
                @include font-size(20, 24);
            }
            .trail__timestamp,
            .trail__count {
                display: none;
            }
        }
        .trail:nth-child(2) {
            height: 34%;
        }
    }
    @include mq(desktop, wide) {
        .trail:nth-child(1) {
            width: $featured-img-width;
            margin-right: $gutter * 5/4;
            @include overlay;
            .trail__title {
                @include font-size(24, 28);
                width: 460 - $gs-column-width - $gs-gutter;
                padding-top: $baseline*2;
                padding-bottom: $baseline*10;
            }
        }
        .trail:nth-child(n+2) {
            .trail__title {
                @include font-size(20, 24);
            }
        }
        .trail:nth-child(2) {
            width: 220px;
            margin-right: $gutter * 5/4;
            .trail__image {
                margin-bottom: $baseline*3;
            }
        }
        .trail:nth-child(n+3) {
            @include small-card;
            .trail__timestamp,
            .trail__count {
                display: none;
            }
        }
    }
    @include mq(wide) {
        .trail:nth-child(1) {
            width: 620px;
            margin-right: $gutter * 5/4;
            @include overlay;
            .trail__title {
                @include font-size(28, 32);
                width: 620 - $gs-column-width - $gs-gutter;
                padding-bottom: $baseline*13;
            }
        }
        .trail:nth-child(n+2) {
            .trail__title {
                @include font-size(24, 28);
            }
        }
        .trail:nth-child(2) {
            width: 300px;
            margin-right: $gutter * 5/4;
            .trail__image {
                margin-bottom: $baseline*3;
            }
        }
        .trail:nth-child(n+3) {
            @include small-card;
        }
    }
}
