$featured-img-width: 460px;
$blue: #005688;
$light-blue: #4cc7e0;
$pink: #AB1454;
$light-pink: #f66980;
$grey: #cccccc;

@mixin overlay($width, $font-size) {
    .trail__title,
    .trail__timestamp,
    .trail__count a {
        color: #ffffff;
    }
    .trail__title {
        position:absolute;
        bottom: 0;
        margin: 0;
        background-color: $blue;
        background-color: rgba($blue, 0.7);
        padding: $baseline*3 $gutter/2 $baseline*13;
        @include box-sizing(border-box);
        width: $width - $gs-column-width - $gs-gutter;
        @include font-size($font-size, $font-size+4);
    }
    .trail__standfirst {
        display: none;
    }
    .trail__timestamp {
        border-left-style: none;
    }
    .trail__count {
        border-left-color: $light-blue;
    }
    &.trail--feature {
        .trail__title {
            background-color: $pink;
            background-color: rgba($pink, 0.7);
        }
        .trail__count {
            border-left-color: $light-pink;
        }
    }
}

@mixin small-card($num, $show-meta: false) {
    height: 100%/$num;
    @include box-sizing(border-box);
    float: none;
    padding-top: $baseline*2;
    border-top: 2px solid $blue;
    &:last-child {
        border-bottom: 1px solid $grey;
    }
    &.trail--feature {
        border: none;
    }
    .trail__image-container,
    .trail__duration {
        display: none;
    }
    @if $show-meta == false {
        &:last-child {
            border-bottom-style: none;
        }
        .trail__meta {
            display: none;
        }
    }
}

.top-stories .front-section-head {
    display: none;
}

.trailblock--masthead {
    padding: 0;
}

.trails {
    overflow: hidden;
    margin-top: $baseline*4;
    padding: $baseline*3 0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    width: 100%;
    max-width: gs-span(16);
    .trail {
        float: left;
        padding: 0;
        border: none;
        height: 100%;
    }
    .trail__image {
        width: 100%;
        float: left;
    }
    .trail__title,
    .trail__standfirst {
        color: #000000;
        font-family: $serifheadline;
    }
    .trail__title {
        font-weight: 700;
    }
    .trail__standfirst {
        font-weight: normal;
    }
    .trail__meta {
        position: absolute;
        bottom: 0;
    }
    .trail__timestamp,
    .trail__count {
        padding-bottom: $baseline * 5;
        float: left;
        border-left: 1px solid $grey;
        i {
            margin:0;
            position: absolute;
            top: 0;
            left: 4px;
        }
        &,
        a {
            color: $grey;
            @include font($sans-serif, lighter, 12, 12);
        }
    }
    .trail__timestamp {
        min-width: 58px;
        margin-right: $gutter/4;
        padding-left: 21px;
        i {
            @extend .i-clock-blue;
        }
    }
    .trail__count {
        position: relative;
        top: auto;
        padding-left: 23px;
        a {
            float: none;
            display: inline;
            margin: 0;
        }
        i {
            @extend .i-comment-blue;
        }
    }
    .trail:first-child .trail__count {
        top: auto;
    }
    .trail__duration {
        position: absolute;
        top: 0;
        left: 0;
        color: #ffffff;
        background-color: $light-blue;
        @include font($sans-serif, lighter, 12, 12);
        padding: $baseline $gutter/2;
        i {
            @extend .i-play;
            margin-right: $baseline;
        }
    }
    .trail:nth-child(1) {
        background-color: $blue;
    }
    .trail--feature:nth-child(1) {
        background-color: $pink;
    }
    @include mq($to: tablet) {
        @include box-sizing(border-box);
        border: none;
        .trail {
            width: 100%;
        }
        .trail__standfirst {
            display: none;
        }
        .trail__timestamp,
        .trail__count a {
            color: #ffffff;
        }
        .trail__timestamp {
            border-left-style: none;
        }
        .trail__count {
            border-left-color: $light-blue;
        }
        .trail:nth-child(1) {
            height: auto;
            .trail__image{
                display: block;
                float:none;
                margin: 0;
            }
            .trail__title {
                @include font-size(24, 28);
                color: #ffffff;
                padding-top: $baseline*3;
                margin-bottom: $baseline*10;
            }
        }
        .trail:nth-child(n+2) {
            padding: $baseline*2 0 $baseline*4;
            border-top: 2px solid $blue;
            &.trail--feature {
                border-top: none;
            }
            .trail__image-container,
            .trail__timestamp,
            .trail__count,
            .trail__duration {
                display: none;
            }
            .trail__title {
                @include font-size(20, 24);
            }
        }
    }

    .trail--feature {
        background-color: $pink;
        .trail__link,
        .trail__title,
        .trail__standfirst,
        .trail__timestamp {
            color: #ffffff;
        }
        .trail__title,
        .trail__standfirst {
            padding: 0 $gutter/2;
            font-weight: normal;
        }
        .trail__title {
            padding-top: $baseline * 2;
        }
        .trail__timestamp {
            border-left: 1px none $light-pink;
            i {
                @extend .i-clock-pink;
            }
        }
        .trail__count {
            border-left-color: $light-pink;
            i {
                @extend .i-comment-pink;
            }
        }
        .trail__duration {
            background-color: $light-pink;
        }
    }
}

@include mq(tablet, desktop) {
    .trails {
        height: 276px;
    }
}
@include mq(desktop, wide) {
    .trails {
        height: 276px;
    }
}
@include mq(wide) {
    .trails {
        height: 372px;
    }
}

.trails-count-1 {
    .trail {
        width: 100%;
    }
    .trail__image {
        margin-right: $gs-gutter;
    }
    .trail__link,
    .trail__title,
    .trail__standfirst,
    .trail__timestamp,
    .trail__count a {
        color: #ffffff;
    }
    .trail__title,
    .trail__standfirst {
        margin: 0 $gutter/2 0;
    }
    .trail__title {
        padding-top: $baseline*2;
    }
    .trail__timestamp,
    .trail__count {
        border-left-color: $light-blue;
    }
    @include mq(tablet, desktop) {
        .trail__image {
            width: $featured-img-width;
        }
        .trail__title {
            @include font-size(24, 28);
        }
        .trail__standfirst {
            display:none;
        }
        .trail__meta {
            left: $featured-img-width + $gs-gutter;
        }
    }

    @include mq(desktop, wide) {
        .trail__image {
            width: $featured-img-width;
        }
        .trail__title {
            @include font-size(28, 32);
        }
        .trail__standfirst {
            @include font-size(20, 24);
            margin-top: $baseline*5;
        }
        .trail__meta {
            left: $featured-img-width + $gs-gutter;
        }
    }
    @include mq(wide) {
        .trail__image {
            width: 620px;
        }
        .trail__title {
            @include font-size(36, 40);
        }
        .trail__standfirst {
            @include font-size(28, 32);
            margin-top: $baseline*7;
        }
        .trail__meta {
            left: 620px + $gs-gutter;
        }
    }
}

.trails-count-2 {
    .trail__standfirst {
        margin: $baseline*5 0 0;
    }
    .trail:nth-child(1) {
        .trail__image {
            margin-right: $gs-gutter;
        }
        .trail__link,
        .trail__title,
        .trail__standfirst,
        .trail__timestamp {
            color: #ffffff;
        }
        .trail__title,
        .trail__standfirst {
            padding: 0 $gutter/2;
        }
        .trail__title {
            padding-top: $baseline*2;
        }
    }
    @include mq(tablet, desktop) {
        .trail__standfirst {
            display:none;
        }
        .trail:nth-child(1) {
            width: $featured-img-width;
            margin-right: $gs-gutter;
            @include overlay($featured-img-width, 24);
            .trail__title {
                @include font-size(24, 28);
            }
        }
        .trail:nth-child(2) {
            @include small-card(1);
            .trail__title {
                @include font-size(20, 24);
            }
        }
    }
    @include mq(desktop, wide) {
        .trail:nth-child(1) {
            width: 700px;
            margin-right: $gs-gutter;
            .trail__image {
                width: $featured-img-width;
            }
            .trail__title {
                @include font-size(24, 28);
            }
            .trail__standfirst {
                display:none;
            }
            .trail__meta {
                left: $featured-img-width + $gs-gutter;
                .trail__timestamp {
                    border-left-style: solid;
                }
            }
        }
        .trail:nth-child(2) {
            @include small-card(1, $show-meta: true);
            .trail__title {
                @include font-size(20, 24);
            }
        }
    }
    @include mq(wide) {
        .trail:nth-child(1) {
            width: 940px;
            margin-right: $gs-gutter;
            .trail__image {
                width: 620px;
            }
            .trail__title {
                @include font-size(28, 32);
            }
            .trail__standfirst {
                @include font-size(20, 24);
            }
            .trail__meta {
                left: 620px + $gs-gutter;
                .trail__timestamp {
                    border-left-style: solid;
                }
            }
        }
        .trail:nth-child(2) {
            width: 300px;
            @include small-card(1, $show-meta: true);
            .trail__title {
                @include font-size(24, 28);
            }
        }
    }
}

.trails-count-3 {
    @include mq(tablet, wide) {
        .trail__standfirst {
            display: none;
        }
        .trail:nth-child(1) {
            width: $featured-img-width;
            margin-right: $gs-gutter;
            @include overlay($featured-img-width, 24);
            .trail__title {
                padding-top: $baseline*2;
            }
        }
        .trail:nth-child(n+2) {
            @include small-card(2);
            .trail__title {
                @include font-size(20, 24);
            }
        }
    }
    @include mq(wide) {
        .trail {
            margin-right: $gs-gutter;
        }
        .trail__standfirst {
            display: none;
        }
        .trail:nth-child(1) {
            width: 620px;
            @include overlay(620, 28);
        }
        .trail:nth-child(n+2) {
            width: 300px;
            .trail__title {
                @include font-size(24, 28);
            }
        }
        .trail:nth-child(2) {
            border-bottom: 1px solid $grey;
            .trail__image {
                margin-bottom: $baseline*3;
            }
        }
        .trail:nth-child(3) {
            margin-right: 0;
            @include small-card(1, $show-meta: true);
        }
    }
}

.trails-count-4 {
    .trail__standfirst {
        display: none;
    }
    .trail:nth-child(n+2) .trail__image {
        margin-bottom: $baseline*3;
    }

    @include mq(tablet, desktop) {
        .trail:nth-child(1) {
            width: $featured-img-width;
            margin-right: $gs-gutter;
            @include overlay(460, 24);
            .trail__title {
                padding-top: $baseline*2;
            }
        }
        .trail:nth-child(n+2) {
            @include small-card(3);
            .trail__title {
                @include font-size(20, 24);
            }
        }
    }
    @include mq(desktop, wide) {
        .trail:nth-child(-n+2) {
            margin-right: $gs-gutter;
        }
        .trail:nth-child(1) {
            width: $featured-img-width;
            @include overlay(460, 24);
            .trail__title {
                padding-top: $baseline*2;
            }
        }
        .trail:nth-child(n+2) .trail__title {
            @include font-size(20, 24);
        }
        .trail:nth-child(2) {
            width: 220px;
            border-bottom: 1px solid $grey;
        }
        .trail:nth-child(n+3) {
            @include small-card(2);
        }
    }
    @include mq(wide) {
        .trail:nth-child(-n+2) {
            margin-right: $gs-gutter;
        }
        .trail:nth-child(1) {
            width: 620px;
            @include overlay(620, 28);
        }
        .trail:nth-child(n+2) {
            .trail__title {
                @include font-size(24, 28);
            }
        }
        .trail:nth-child(2) {
            width: 300px;
            border-bottom: 1px solid $grey;
        }
        .trail:nth-child(n+3) {
            @include small-card(2);
        }
    }
}
