.footer {
    overflow: hidden;
    margin: 0;
    padding: @baseline*2 @gutter @baseline*4 @gutter;
    background-color: @darkMushroom;
}

.footer p {
    .type-11;
    width: 42%;
    margin: 0;
    padding: @baseline*2 0 0 @gutter;
    float:left;
    color: @blue;
}

.footer p a {
    line-height: 20px;
    line-height: 2rem;
    display: block;
    color: @blue;
    text-decoration: underline;
}

@media screen and (min-width: @desktopBreakpoint) {
  .footer {
    background-color: white;
    border-top-style: solid;
    font-size: 11px;
    padding-left: 0;
    padding-right: 0;

    ul li:last-child {
      border-right: 0px;
    }

    p {
      clear: none;
    }

    li {
      display: inline-block;
      border-right: 1px solid silver;
      padding-right: 10px;
      margin-right: 10px;
      float: left;
    }

    li a {
      .type-11;
      line-height: 1rem;
      border: none;
    }

    .nav {
      padding-top: 3px;
    }

    .copyright {
      float:right;
      width: 45%;
      text-align: right;
    }

    .termsconditions {
      float: none;
      padding-left: 0;

        a {
          text-decoration: none;
          float: left;
          margin-right: 8px;
        }
    }

    .desktop-link {
      display: none;
    }
  }
}
