.football-table-container a.cta {
    background-color: #f4f4ee;
    color: #064951;
}

.table-football {
    background-color: #f4f4ee;
}

.table-football-header {
    border-bottom: 1px solid #DEDEDD;
}

.table-football-header th,
.table-football-body .table-football-legend th { // can't get this less specific, sorry (MA)
    background-color: #f4f4ee;
    color: #777777;
    font-weight: normal;    
}

.table-football th {
    border-bottom: none;
}

.table-football-body th {
    background: #f4f4ee;
    font-weight: bold;
    color: #064951;
    border-top: 1px solid #DEDEDD;
}

.table-football-body th:first-child {
    border-top: none;
}

.table-football th,
.table-football td {
    border-right: none;
    text-align: right;
    padding: @baseline*2 3% @baseline*2 3%;
}

.table-football-header th:first-child,
.table-football td:first-child {
    padding: @baseline*2 3% @baseline*2 @baseline*2;
}

.table-football-header th:last-child,
.table-football td:last-child {
    padding: @baseline*2 @baseline*2 @baseline*2 3%;
}

.table-football td:last-child {
    font-weight: bold;
}

.table-football-body tr {
    border-bottom: 1px solid #DEDEDD;
    background-color: transparent;
}

.table-football-body tr:last-child {
    border-bottom: none;
}

.table-football-leftaligned {
    text-align: left !important;
}

.table-football-body {
    border-bottom: 3px solid #ffffff; // this is a border because margins don't appear
}

// overriding pasteup :(
.table-football-body:hover tr,
.table-football-body:hover tr:nth-child(even),
.table-football-body:hover tr:hover,
.table-football tr.highlighted-row,
.table-football-body tr:last-child {
    background-color: transparent;
}