.footer {
    overflow: hidden;
    padding: 0 0 $baseline*4;
    background-color: #FAFAF8;

    .hide-in-footer {
        display: none !important;
    }
}

.footer-primary {
    background: $blue;
}

.footer-secondary {
    font-family: $sans-serif;
    @include font-size(14, 20);

    &,
    a {
        color: $darkGrey;
    }
}

.colophon {
    list-style: none;
    margin: 0;
    padding-top: $baseline*2;
    padding-bottom: $baseline*4;

    li a {
        padding: .4em 0;
        display: block;
    }
}

.swipe-switches {
    display: none;

    .can-swipe & {
        display: block;
    }
}

.swipe-switches__button {
    border: 0;
    background: inherit;
    padding: 0;
    color: $blue;
}

.has-swipe .swipe-switches__button--off {
    display: inline-block;
}

.swipe-switches__button--off,
.has-swipe .swipe-switches__button--on {
    display: none;
}
