form,
.form {}

.form-fields {
    margin: 0;
    padding: 0;
}

.form-fields > li {
    list-style: none;
    margin: 0;
    padding: 0;
}

label,
.label {}

.text-input {}

.check-list {}

.check-list label,
.check-label {}