.gallery-container {
    width: 100%;
    overflow: hidden;
}

.gallery-swipe,
.gallery-swipe li {
    margin: 0;
    padding: 0;
    list-style: none;
}


.gallery-swipe li img {
    width: 100%;
}

.gallery-swipe li {
    float: left;
    width: 300px;
    min-height: 200px;
}