.gallerythumbs {
    margin: $baseline 0;
    list-style: none;
    position: relative;
}

.gallerythumbs__item {
    @include box-sizing(border-box);
    float: left;
    line-height: 0;
    overflow: hidden;
}


.gallerythumbs__item:last-child {
    margin-bottom: 0;
}

.gallerythumbs__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* ==========================================================================
   Landscape layout
   ========================================================================== */
.gallerythumbs--landscapes {
    .gallerythumbs__item {
        @include fix-aspect-ratio(5, 3, 50%); // 5:3 aspect - works around thumbs being slightly different in size
        margin-bottom: 3px;

        .item__image-container {
            display: block;
        }
    }

    .gallerythumbs__item:nth-child(odd) {
        border-left: 3px solid transparent;
    }

    .gallerythumbs__item:first-child {
        @include fix-aspect-ratio(5, 3);
        border-left: 0;
    }

    @include mq(mobileLandscape) {
        .gallerythumbs__item:first-child {
            @include fix-aspect-ratio(5, 3, 67%);
            float: left;
            border-left: 0;
            margin-bottom: 0;
        }
        .gallerythumbs__item {
            @include fix-aspect-ratio(5, 3, 33%);
            border-left: 3px solid transparent;
        }
    }
}

/* ==========================================================================
   Portrait layout
   ========================================================================== */
.gallerythumbs--portraits {
    .gallerythumbs__item {
        @include fix-aspect-ratio(3, 4, 33%);
        border-left: 3px solid transparent;
    }
}




/* ==========================================================================
   Launch CTA
   ========================================================================== */
.gallery-launch-cta {
    @extend %type-7;
    line-height: 16px;
    background-color: #FFFFFF;
    color: #545454 !important;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    text-align: left;
    padding: $baseline*3 0;
    width: 220px;
    z-index: 10;

    i {
        float: right;
        margin-right: 8px;
    }
}

.gallery-launch-cta--dark {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.9);
    color: #F9AF41 !important;
    padding-left: $gutter;
}
