.headline-list ul {
    margin: 0 $gutter;
}
    .headline-list--top ul {
        margin: 0 !important;
        list-style: none;
    }

.headline-list {
    li {
        display: block;
        overflow: auto;
        border-bottom: 1px solid #ddd;
        padding: $baseline*2 0;

        &:last-child {
            border-bottom: none;
        }
    }

    p {
        float: left;
        width: 90%;
        padding-left: $baseline*2;
    }

    a {
        color: #333;

        &:visited {
            color:#777;
        }
    }

    .count {
        @extend %type-7;
        float:left;
        line-height: 16px;
        color: #777;
        width: 12px;
    }
}


.headline-list__tile {
    @extend %type-6;
    color: #333;
    margin: 0 $gutter $baseline;
    border-bottom: 1px solid #ddd;
    padding: $baseline $baseline $baseline*3 0;

    @include mq(420px) {
        display: none;
    }
}
