/* Fronts/Sections/tags
   ========================================================================== */

.sub-section-head {
    position: relative;
    overflow: hidden;
    border-top: $gs-baseline/3 solid $c-newsAccent;

    h1 {
        @include fs-header(3);
        height: $gs-row-height;
        margin-bottom: 0;
        line-height: 1;
        font-weight: bolder;
        -webkit-font-smoothing: antialiased;
    }

    a {
        display: block;
        padding: ($gs-baseline/3)*1.75 $gs-gutter/2 ($gs-baseline/3)*2;
        @include mq(mobileLandscape) {
            padding-left: $gs-gutter;
            padding-right: $gs-gutter;
        }
    }
}

.sub-section-head {
    margin: 0 $gs-gutter/2;
    border-top-width: $gs-baseline/6;

    @include mq(mobileLandscape) {
        margin-left: $gs-gutter;
        margin-right: $gs-gutter;
    }

    a {
        padding-left: 0;
        padding-right: 0;
    }
}


/* Static pages and misc
   ========================================================================== */

.page-header {
    @include fs-headline(2);
    padding: 0 0 ($gs-baseline/3)*4;
    margin: 0 $gs-gutter/2 $gs-baseline/3 $gs-gutter/2;
    border-bottom: 1px dotted $c-neutral4;

    @include mq(mobileLandscape) {
        margin-left: $gs-gutter;
        margin-right: $gs-gutter;
    }
}

.page-sub-header {
    @include fs-header(2);
    padding: $gs-baseline/6 0 $gs-baseline/3;
    margin-left: $gs-gutter/2;
    margin-right: $gs-gutter/2;
    margin-bottom: $gs-baseline;

    @include mq(mobileLandscape) {
        margin-left: $gs-gutter;
        margin-right: $gs-gutter;
    }
    .no-indent-article__zone &,
    .monocolumn-wrapper & {
        margin-left: 0;
        margin-right: 0;
    }
    > a {
        display: block;
    }
}

.release {
    display: none;

    @include mq(tablet) {
        margin: 18px 0 0;
        float: left;
        display: block;
        color: #95B1CA;
        font-size: 10px;
        font-size: 1rem;
    }
}

.message {
    padding: 11px;
    background-color: #ffffee;
}
