.headline-list {
    li {
        display: block;
        overflow: auto;
        padding: $baseline 0 $baseline*5;
        @include mq(tablet) {
            padding: $baseline*2 0 $baseline*6;
        }

        + li {
            border-top: 1px solid $c-neutral6;
        }
    }
    p {
        float: left;
        width: 90%;
        padding-left: $baseline*2;

        @include mq(tablet) {
            @include fs-bodyCopy(3);
        }
    }
    a {
        color: $c-neutral1;

        &:visited {
            color: $c-neutral2;
        }
    }
    .count {
        @include fs-bodyCopy(1);
        float: left;
        color: $c-neutral4;
        width: 14px;

        @include mq(tablet) {
            @include fs-bodyCopy(3, true);
            width: 20px;
        }
    }
}
.headline-list__title {
    margin: 0 $gs-gutter/2 $baseline;
    @include mq(mobileLandscape) {
        margin-left: $gs-gutter;
        margin-right: $gs-gutter;
    }
    border-bottom: 1px solid $c-neutral6;
    padding: $baseline $gutter/4 $baseline*3 0;

    @include mq(544px) {
        display: none;
    }
}
