.keywordlist {
    font-size: .9em;
    line-height: 1.6;
    font-family: $sans-serif;
    color: $c-neutral2;
}
.keywordlist__item {
    color: $c-neutral2;
    display: inline-block;
}
//.keywords--pipe-separated {
//    .keywords__item {
//        display: inline;
//
//        & + & {
//           padding-left: 6px;
//
//           &:before {
//               content: '|';
//               margin-right: 6px;
//               font-size: 11px;
//               position: relative;
//               top: -2px;
//           }
//        }
//    }
//}
