@mixin deport-left {
    @include mq(leftCol) {
        @include rem((
            margin-left: -1 * (gs-span(2) + $gs-gutter)
        ));
    }

    @include mq(wide) {
        @include rem((
            margin-left: -1 * (gs-span(3) + $gs-gutter)
        ));
    }
}

@mixin reduce-left {
    @include mq(leftCol) {
        @include rem((
            width: gs-span(2)
        ));
    }

    @include mq(wide) {
        @include rem((
            width: gs-span(3)
        ));
    }
}

@mixin pull-quote {
    float: left;
    margin-top: 0;
    @include rem((
        margin-right: 24px
    ));
    @include fs-headline(3);
    font-weight: 200;
    font-style: normal;
    color: $c-neutral2;

    @if ($svg-support) {
        &:before {
            @extend %i-quote-blue;
            @extend %svg-i-quote-blue;
            content: '';
            display: block;
        }
    }
}

figure.element.element--supporting {

    @include mq(leftCol) {
        @include deport-left;
        position: relative;
        float: left;
        @include rem((
            width: gs-span(5),
            margin-top: $gs-baseline/2,
            margin-bottom: $gs-baseline,
            margin-right: $gs-gutter
        ));
    }

    @include mq(wide) {
        @include rem((
            width: gs-span(6)
        ));
    }
}

figure.element.element--showcase {

    @include mq(leftCol) {
        @include deport-left;
        position: relative;
        @include rem((
            margin-bottom: ($gs-baseline/3)*4
        ));
    }
}

figure.element.element--showcase,
figure.element.element--supporting {

    figcaption {
        @include mq(leftCol) {
            background: #ffffff;
            padding-left: 0;
            position: absolute;
            top: 100%;
            @include rem((
                padding-top: 21px
            ));
            @include reduce-left;
        }
    }
}

figure.element.element--supporting.element-tweet {
    @include rem((
        margin-top: -$gs-baseline/2
    ));
}

figure {
    &.img--supporting {
        @include mq(leftCol) {
            float: left;
            @include rem((
                width: gs-span(5),
                margin-top: $gs-baseline/2,
                margin-right: $gs-gutter
            ));
        }

        @include mq(wide) {
            @include rem((
                width: gs-span(6)
            ));
        }
    }
}

.media-primary--full-width {
    width: 100%;
    @include rem((
        margin-bottom: $gs-baseline*2
    ));
}

.media-primary.media-primary--showcase {
    @include deport-left;
}

.tone-feature .media-primary.media-primary--showcase {
    margin-left: 0;

    .responsive-img {
        @include mq($from: rightCol) {
            top: -25%;
        }
        height: auto;
    }

    .main-caption {
        padding-left: 0;
    }

    .u-responsive-ratio--letterbox {
        @include transition(padding-bottom 1s);

        @include mq($to: rightCol) {
            @include rem((
                padding-bottom: aspect-ratio-height(5, 3)
            ));
        }

        // Magic number for max height in 5:2 ratio before cropping kicks in.
        @include mq(1680px) {
            @include rem((
                padding-bottom: 672px
            ));
        }
    }
}
