/* Layout
   ========================================================================== */
.blog__inner,
.blog__main-column {
    position: relative;
}

.blog__main-column {
    padding-top: $gs-baseline;
}

.blog__meta-container,
.blog__inner {
    @include rem((
        max-width: gs-span(7)
    ));

    @include mq(rightCol) {
        max-width: none;
    }
}

.blog__inner--head {
    @include rem((
        padding-top: $gs-baseline/3
    ));

}
.blog__inner--head .article__head {
    padding-top: 0;
}

@include mq(rightCol) {
    .blog__section {
        position: absolute;
        left: 0;
    }
    .blog__last-updated-container {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: $a-leftColWide-width;
    }
}

@include mq(rightCol) {
    .blog__inner {
        @include rem((
            max-width: gs-span(8),
            padding-left: $a-rightCol-width + $gs-gutter
        ));
    }
    .blog__columning-wrapper {
        width: 100%;
        display: table;
        table-layout: fixed;
        padding-right: 0;
        position: relative;
    }
    .blog__head,
    .blog__columning-wrapper .media-primary {
        margin-right: 0 !important;
    }
    .blog__main-column {
        display: table-cell;
        vertical-align: top;
        @include rem((
            max-width: gs-span(8),
            padding-left: $a-rightCol-width + $gs-gutter
        ));
    }
    .blog__secondary-column {
        display: none;
    }
}

@include mq(wide) {
    .blog__inner {
        @include rem((
            padding-right: $a-rightCol-width + $gs-gutter
        ));
    }
    .blog__main-column {
        @include rem((
            padding-right: $gs-gutter
        ));
    }
    .blog__secondary-column {
        position: relative;
        display: table-cell;
        @include rem((
            width: $a-rightCol-width
        ));
    }
}
.blog__meta-container,
.blog__last-updated-container {
    padding-bottom: $gs-baseline;
}

/* Design
   ========================================================================== */
.blog__head-background {
    @include full-bleed(#D13D54);
}

.blog__main-background {
    @include full-bleed($c-neutral8);
}

/* Header
   ========================================================================== */

.blog__inner--head {
    color: white;
}

.blog__section {
    @include fs-header(3);
    a { color: inherit; }
    @include mq($to: tablet) {
        display: none;
    }
}

.blog__headline {
    color: inherit;
    @include fs-headline(5);
    margin-bottom: $gs-row-height;
    @include mq(rightCol) {
        margin-bottom: $gs-row-height + ($gs-baseline * 2);
    }
}

.blog__meta-container {
    color: inherit;
    border-top: 1px solid #E6A1AB;
}
.blog__meta-container .article__dateline {
    @include fs-data(3);
    color: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    height: auto;
}

.blog__meta-container .byline {
    @include fs-bodyHeading(1);
    -webkit-font-smoothing: antialiased;
    @include rem((
        line-height: 24px
    ));
    color: inherit;
    font-weight: normal;
    padding: 0;
    margin: 0;
    margin-top: 4px;
    min-height: initial;

    .tone-colour {
        color: inherit;
    }
    a {
        font-weight: bold;
    }
}

.blog__last-updated-container {
    @include fs-data(3);
    @include mq($to: desktop) {
        border-top: 1px solid #E6A1AB;
        padding-top: $gs-baseline;
    }
}

.blog__live {
    color: inherit;
    @include fs-data(3);
    font-weight: bold;
    &:before {
        $size: 13px;
        content: "";
        background-color: white;
        width: $size;
        height: $size;
        @include rounded-corners($size/2);
        display: inline-block;
        margin-bottom: -1px;
        margin-right: 3px;
    }
}

/* Timestamps
   ========================================================================== */

.timestamp,
.published-time {
    @include font($sans-serif, bold, 13, 20);
    display: block;
    padding: $gs-baseline/3 0;
    margin-top: ($gs-baseline/3)*2;
    time {
        margin-bottom: $gs-baseline/2;
        display: inline-block;
    }
}


.block-time {
    line-height: 15px;
    padding: 4px 0 $gs-baseline/3 $gs-gutter/2;

    &.published-time {
        margin: 0;
        font-family: $sans-serif;
    }

    .block-time__absolute {
        display: inline-block;
        margin-left: $gs-gutter/4;
        @include fs-data(2);
        font-style: italic;
        font-weight: normal;
        color: $c-neutral2;
    }

    @include mq(mobileLandscape) {
        float: left;
        .block-time__absolute {
            display: block;
            margin-left: 0;
        }
    }
}

.updated-time {
    //padding: $gs-baseline/3 0 ($gs-baseline/3)*4;
    padding: $gs-baseline/2 $gs-gutter/2;
    @include fs-data(1);
    color: $c-neutral2;
}

/* Blocks
   ========================================================================== */

.block {
    @include clearfix;
    margin-bottom: $gs-baseline;
    background-color: white;
    border-top: 1px solid $c-neutral3;
    padding-top: $gs-baseline/2;
}

.block.is-key-event {
    border-top: 2px solid black;
    .block-title {
        color: black;
    }
}

/* Blocks container
   ========================================================================== */

.live-blog__blocks {
    opacity: 1;
    height: auto;
    background-color: transparent;
    @include transition(opacity 2s ease-out, background-color 4s ease-out);
}
.blog .ad-slot--mpu-banner-ad {
    padding-top: $gs-baseline;
}

/* Animations
   ========================================================================== */

.autoupdate--has-animation {

    .autoupdate--highlight {
        @include animation(new-block-animation 5s ease-out);
    }

}


@include keyframes(new-block-animation) {
    0%   { opacity: 0; background: $c-neutral7; }
    20%  { opacity: 1; }
    70%  { background: $c-neutral7; }
    100% { background: transparent; }
}

/* Above/Below content
   ========================================================= */

.blog {

    .article__standfirst {
        @include fs-headline(1);
    }


    .article__keywords {
        border-top: 1px dotted $c-neutral3;
        @include rem((
    line-height: 20px
    ));
    }

    .social-wrapper {
        margin-bottom: $gs-baseline*2;
    }

}

/* Content styling
   ========================================================================== */

$block-padding-left: gs-span(1) + $gs-gutter;
$block-padding-right: $gs-gutter;

.blog .from-content-api {

    .block-title,
    .block-elements > *
    {
        margin-left: $block-padding-left;
        margin-right: $block-padding-right;
        @include mq($to: mobileLandscape) {
            margin-left: $gs-gutter/2;
            margin-right: $gs-gutter/2;
        }
    }

    .block-elements {

        /* Quotes
           ========================================================= */

        > blockquote,
        > blockquote.quoted { // using !important to override inline styles from content api
            margin-left: $block-padding-left !important;
            margin-right: $block-padding-right !important;
            @include mq($to: mobileLandscape) {
                margin-left: $gs-gutter/2 !important;
                margin-right: $gs-gutter/2 !important;
                &:before { // remove pseudo quote at mobile
                    display: none;
                }
            }
        }
        > blockquote{
            color: $c-neutral2;
        }

        > blockquote.quoted:before {
            margin-left: -30px;
            left: auto;
        }

        /* Media
           ========================================================= */

        > .element-image,
        > .element-video,
        > .element-witness,
        > .element-embed {
            margin-left: 0;
            margin-right: 0;
        }
        > .embed-video-wrapper {
            position: relative;
            width: 100%;
            padding-top: 56.25%; // 16:9 aspect ratio

            iframe {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }

        > .element figcaption {
            background-color: white;
            margin-left: $block-padding-left;
            margin-right: $block-padding-right;
        }
    }
}

/* Tweets
   ========================================================================== */

.tweet {
    display: table-cell;
    width: 10000px;
    max-width: 100%;
    background-color: #f4f4f4;
    background-position: ($gs-baseline/3)*2 $gutter/2 !important;
    background-repeat: no-repeat;
    border-top: $gs-baseline/6 solid #3299d0;
}
.element-tweet {
    margin: $gs-baseline 0 ($gs-baseline/3)*4;
}
.tweet,
.from-content-api blockquote.tweet {
    border-left-width: 0;
    padding: $gs-baseline/2 ($gs-baseline/3)*2;
    font-style: normal;
    @include fs-textsans(3);

}
// Temporary fix to issue #1674
.from-content-api blockquote.tweet {
    display: block;
    margin-left: 0;
    width: auto;
}
// End temporary fix
.tweet:before,
.tweet:after,
.live-blog .tweet:before,
.live-blog .tweet:after {
    display: none !important;
}

.tweet-user {
    display: inline-block;
    font-weight: bold;
    padding-left: 40px;
    margin-bottom: 0;
}

.tweet-date {
    display: block;
    color: $c-neutral2;
    padding-left: 40px;
    margin-bottom: ($gs-baseline/3)*4;
}
