$block-padding-left: gs-span(1) + $gs-gutter;
$block-padding-right: $gs-gutter;

/* Layout
   ========================================================================== */
.blog__inner,
.blog__main-column {
    position: relative;
}

.blog__main-column {
    padding-top: $gs-baseline;
}

.blog__meta-container,
.blog__inner {

    @include mq(rightCol) {
        max-width: none;
    }
}

.blog__inner--head {
    @include rem((
        padding-top: $gs-baseline/3
    ));

}
.blog__inner--head .article__head {
    padding-top: 0;
    @include rem((
        margin-right: 0 !important
    ))

}

@include mq(rightCol) {
    .blog__section {
        position: absolute;
        left: 0;
    }
    .blog__last-updated-container {
        position: absolute;
        left: ($a-rightCol-width + $gs-gutter) * -1;
        top: 5px;
        max-width: $a-leftColWide-width;
    }
}

@include mq(rightCol) {
    .blog__inner {
        @include rem((
            max-width: gs-span(8),
            padding-left: $a-rightCol-width + $gs-gutter
        ));
    }
    .blog__columning-wrapper {
        width: 100%;
        display: table;
        table-layout: fixed;
        padding-right: 0;
        position: relative;
    }
    .blog__head,
    .blog__columning-wrapper .media-primary {
        margin-right: 0 !important;
    }
    .blog__main-column {
        display: table-cell;
        vertical-align: top;
        @include rem((
            max-width: gs-span(8),
            padding-left: $a-rightCol-width + $gs-gutter
        ));
    }
    .blog__secondary-column {
        display: none;
    }
}

@include mq(wide) {
    .blog__inner {
        @include rem((
            padding-right: $a-rightCol-width + $gs-gutter
        ));
    }
    .blog__main-column {
        @include rem((
            padding-right: $gs-gutter
        ));
    }
    .blog__secondary-column {
        position: relative;
        display: table-cell;
        @include rem((
            width: $a-rightCol-width
        ));
    }
}

.blog__last-updated-container {
    padding-bottom: 9px;
}

.blog__comment-count {
    display: block;
    margin-top: $gs-baseline/2;
    @include mq(mobileLandscape) {
        position: absolute;
        right: 0;
        top: 0;
    }
    .commentcount {
        color: inherit;
        display: block;
        position: static;
        margin-bottom: 0;

        a:hover {
            color: inherit !important;
        }

        i {
            @extend %i-comment-white;
            @if $svg-support {
                .svg & {
                    @extend %svg-i-comment-white;
                }
            }
        }
    }
}

.blog .article__container {
    max-width: none;
}

/* Design
   ========================================================================== */
.blog__head-background--default {
    @include full-bleed($c-liveDefault);
}
.blog__head-background--accent {
    position: relative;
    z-index: 100;
    @include full-bleed($c-liveAccent);
}


.blog__main-background {
    @include full-bleed($c-neutral8);
}

/* Header
   ========================================================================== */

.blog__inner--head {
    color: white;
}

.blog__section {
    @include fs-header(3);
    a { color: inherit; }
    @include mq($to: tablet) {
        display: none;
    }
}

.blog__headline {
    color: inherit;
    @include fs-headline(4);

    @include mq(tablet) {
        @include fs-headline(5, true);
    }
    margin-bottom: $gs-baseline*3;
    @include mq(rightCol) {
        margin-bottom: $gs-row-height + ($gs-baseline * 2);
    }
}

.blog__meta-container {
    color: inherit;
    border-top: 1px dotted #E6A1AB;
    position: relative;
    padding-bottom: $gs-baseline;
    @include mq(leftCol) {
        border-top: none;
    }
}
.blog__meta-container .article__dateline {
    @include fs-data(3);
    color: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    height: auto;
}

.blog__meta-container .byline {
    @include fs-bodyHeading(1);
    -webkit-font-smoothing: antialiased;
    @include rem((
        line-height: 24px
    ));
    color: inherit;
    font-weight: normal;
    padding: 0;
    margin: 0;
    margin-top: 4px;
    min-height: initial;
    border-top: 0;

    .tone-colour {
        color: inherit;
    }
    a {
        font-weight: bold;
    }
}

.blog__last-updated-container {
    @include fs-data(3);
    @include box-sizing(border-box);
    @include mq($to: rightCol) {
        @include rem((
            height: $gs-row-height,
            padding-top: $gs-baseline/2
        ))
    }
}

.blog__live {
    color: inherit;
    @include fs-data(3);
    font-weight: bold;
    &:before {
        $size: 12px;
        content: "";
        background-color: white;
        width: $size;
        height: $size;
        @include border-radius($size/2);
        display: inline-block;
        margin-bottom: -1px;
        margin-right: 3px;
    }
}

/* Timestamps
   ========================================================================== */
.timestamp,
.published-time {
    @include font($sans-serif, bold, 13, 20);
    display: block;
    padding: $gs-baseline/3 0;
    margin-top: ($gs-baseline/3)*2;
    time {
        margin-bottom: $gs-baseline/2;
        display: inline-block;
    }
}

.block-time {
    @include rem((
        line-height: 15px,
        padding: $gs-baseline/3 0 $gs-baseline $gs-gutter/2
    ));

    &.published-time {
        margin: 0;
        @include fs-data(3);
        font-weight: bold;
    }

    .block-time__absolute {
        display: inline-block;
        margin-left: $gs-gutter/4;
        color: $c-neutral2;
        @include fs-data(2);
        font-style: italic;
        font-weight: normal;
    }

    @include mq(tablet) {
        float: left;
        .block-time__absolute {
            display: block;
            margin-left: 0;
        }
    }
}

.updated-time {
    @include fs-data(1);
    color: $c-neutral2;
    font-style: italic;
    @include rem((
        margin: 0 $gs-gutter/2 $gs-baseline/3 $gs-gutter/2,
        padding: $gs-baseline/2 0 0
    ));
    @include mq(tablet) {
        @include rem((
            margin-right:$block-padding-right,
            margin-left: $block-padding-left
        ));
    }
}

/* Blocks
   ========================================================================== */

.block {
    @include clearfix;
    margin-bottom: $gs-baseline;
    background-color: white;
    border-top: 1px solid $c-neutral3;
    padding-top: $gs-baseline/2;
    padding-bottom: $gs-baseline*2;
    border-bottom: 1px solid $c-neutral6;
}

.block.is-key-event {
    border-top: 2px solid black;
    .block-title {
        color: black;
    }
}

/* Blocks container
   ========================================================================== */

.live-blog__blocks {
    opacity: 1;
    height: auto;
    background-color: transparent;
    @include transition(opacity 2s ease-out, background-color 4s ease-out);
}
.blog .ad-slot--mpu-banner-ad {
    padding-top: $gs-baseline;
}

/* Autoupdate
   ========================================================================== */
.autoupdate--hidden,
.notify--hidden {
    display: none;
}

.block--notification {
    border-top-color: $c-live;
}

.notify {
    padding-left: $gs-gutter/2;
}

.notify__btn {
    text-align: left;
    @include fs-textsans(3);
    font-weight: bold;
    color: $c-live;
}

.autoupdate--has-animation {

    .autoupdate--highlight {
        @include animation(new-block-animation 5s ease-out);
    }

}


@include keyframes(new-block-animation) {
    0%   { opacity: 0; background: $c-neutral7; }
    20%  { opacity: 1; }
    70%  { background: $c-neutral7; }
    100% { background: transparent; }
}

/* Above/Below content
   ========================================================= */

.blog {

    .article__standfirst {
        @include fs-headline(1);
    }


    .article__keywords {
        border-top: 1px dotted $c-neutral3;
        @include rem((
    line-height: 20px
    ));
    }

    .social-wrapper {
        padding-bottom: $gs-baseline*2;
    }
}

/* Content styling
   ========================================================================== */

.blog .from-content-api {

    .block-title {
        @include rem((
            line-height: 21px,
            margin-bottom: $gs-baseline
        ));
    }

    .block-title,
    .block-elements > *
    {
        @include rem((
            margin-left: $gs-gutter/2,
            margin-right: $gs-gutter/2
        ));
        @include mq(tablet) {
            @include rem((
                margin-right:$block-padding-right,
                margin-left:$block-padding-left
            ));
        }
    }
    .block-elements > *:last-child {
        margin-bottom: 0;
    }

    .block-elements {

        /* Quotes
           ========================================================= */

        > blockquote,
        > blockquote.quoted { // using !important to override inline styles from content api
            margin-left: $block-padding-left !important;
            margin-right: $block-padding-right !important;
            @include mq($to: mobileLandscape) {
                margin-left: $gs-gutter/2 !important;
                margin-right: $gs-gutter/2 !important;
                &:before { // remove pseudo quote at mobile
                    display: none;
                }
            }
        }
        > blockquote{
            color: $c-neutral2;
        }

        > blockquote.quoted:before {
            margin-left: -30px;
            left: auto;
        }

        /* Media
           ========================================================= */

        > .element {
            margin: 0 0 12px 0;
        }
        > .element-image + .element {
            margin-top: -12px;
        }

        > .embed-video-wrapper {
            position: relative;
            width: 100%;
            padding-top: 56.25%; // 16:9 aspect ratio

            iframe {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }

        > .element-image {
            border-bottom: 2px solid $c-neutral8;

            &:last-child {
                border-bottom: none;
            }
        }

        > .element figcaption {
            background-color: white;
            @include rem((
                margin-left: $gs-gutter/2,
                margin-right: $gs-gutter/2,
                padding: $gs-baseline/3 0 $gs-baseline*2 0
            ));

            @include mq(mobileLandscape) {
                @include rem((
                    margin-left: $block-padding-left,
                    margin-right: $block-padding-right
                ))
            }
        }
    }
}

/* Tweets
   ========================================================================== */

.tweet {
    display: table-cell;
    width: 10000px;
    max-width: 100%;
    background-color: $c-neutral7;
    background-position: ($gs-baseline/3)*2 $gutter/2 !important;
    background-repeat: no-repeat;
}
.element-tweet {
    margin: $gs-baseline 0 ($gs-baseline/3)*4;
}
.tweet,
.from-content-api blockquote.tweet {
    border-left-width: 0;
    @include rem((
        padding: $gs-baseline/2 ($gs-baseline/3)*2,
        margin-bottom: $gs-baseline,
        margin-left: $gs-gutter/2,
        margin-right: $gs-gutter/2
    ));
    font-style: normal;
    @include fs-textsans(3);

    &:first-child {
        @include rem((
            margin-top: $gs-baseline/2
        ))
    }

    @include mq(tablet) {
        @include rem((
            margin-left: $block-padding-left,
            margin-right: $block-padding-right,
        ))
    }
}
// Temporary fix to issue #1674
.from-content-api blockquote.tweet {
    display: block;
    width: auto;
}
// End temporary fix
.tweet:before,
.tweet:after,
.live-blog .tweet:before,
.live-blog .tweet:after {
    display: none !important;
}

.tweet-user {
    display: inline-block;
    font-weight: bold;
    padding-left: 40px;
    margin-bottom: 0;
}

.tweet-date {
    display: block;
    color: $c-neutral2;
    padding-left: 40px;
    margin-bottom: ($gs-baseline/3)*4;
}

.twitter-tweet {
    width: 100%;
}

/* Timeline
   ========================================================================== */

.blog__timeline {
    @include mq($to: rightCol) {
        display: none;
    }
    position: absolute;
    margin-left: - ($a-rightCol-width + $gs-gutter);
    width: $a-rightCol-width;
}

.blog__timeline-header {
    @include fs-header(2);
}

.timeline__filler {
    display: none;
}

.timeline__date {
    @include fs-data(3);
    font-weight: bold;
}

.timeline {
    list-style: none;
}

.timeline__date {
    display: block;
}
.timeline__title {
    @include fs-textsans(3);
    color: black;
}
