.i-live {
	padding: 5px 5px;
	margin-right: 5px;
	font-size: 10px;
	font-style: normal;
	line-height: 1em;
	color: #ffffff;
	background-color: #ec1c1c;
}

.article.is-live .block-title {
	font-size: 19px;
	font-weight: bold;
}

span.timestamp,
.published-time time {
	font-size: 14px;
	font-weight: bold;
    border-top: 2px solid #E3E3DB;
    display: block;
    padding: @baseline*4 0px @baseline*1 0px;
    margin-top: @baseline*2;
    color:#333333;
}
.is-summary .published-time time{
	border-color:@articleOrange
}

.article-body .published-time {
	margin:0;
	font-family:arial,sans-serif
}

.article .tweet:before,
.article .tweet:after {
    display:none;
    width: 0px;
    height: 0px;
    background-image: none;
}

.article .tweet {
    background-color: #f4f4f4;
    background-image: url(../images/twitter/bird.fc3f9a265a2d205df6f372402546bef1.png);
    background-position: @baseline*2 @baseline*2;
    background-repeat: no-repeat;
    border-top: 4px solid #3299d0;
    padding: 10px @baseline*2 @baseline*2 @baseline*2;
    margin: @baseline*3 0 @baseline*4 0;
}

.svg .article .tweet {
    background-image: url(../images/twitter/bird.893619ff5dd44b934f6a49225978b926.svg)
}

.tweet-user {
    display: inline-block;
    font-weight: bold !important;
    padding-left: 40px;
    margin-bottom: 0px;
}

.tweet-date {
    display: block;
    color: #28acdb;
    padding-left: 40px;
    margin-bottom: @baseline*2;
}