.live-summary .published-time,
.live-summary__expander-trigger,
.live-summary__expander-cta,
.live-summary__expander-show {
    display: none;
}

.live-summary--expandable {
    .live-summary__expander-cta {
        display: block;
    }
    .live-summary__expander-content {
        max-height: 300px;
        overflow: hidden;
        position: relative;

        &:after {
            content: '';
            z-index: 1;
            position: absolute;
            left: 0; right: 0; bottom: 0;
            height: $unitHeight * 2;
            background: -webkit-linear-gradient(rgba(255, 255, 255, 0), white) left repeat;
            background: linear-gradient(transparent, white) left repeat;
        }
    }
    .live-summary__expander-trigger:checked + .live-summary__expander-wrapper {
        .live-summary__expander-content {
            max-height: none;

            &:after {
                display: none;
            }
        }
        .live-summary__expander-show {
            display: block;
        }
        .live-summary__expander-hide {
            display: none;
        }
    }
}

.live-summary {
    margin-bottom: $baseline*4;
}

.live-summary__title {
    color: $articleOrange;
}

@include mq(rightCol) {
    .live-summary--before {
        display: none;
    }
}
