.competitions-date {
    margin: 10px 0 0px;
}

.competition-title {
    background-color: #efefe7;
    margin-bottom: 0;
    padding-top: 12px;
    position: relative;
}

.competition-title a { 
    color: #333333; 
}


.competition-title i {
    position: absolute;
    top: 18px;
    right: @gutter;
}

.competitions {
    margin-top: 10px;
}

.match,
.competition {
    list-style: none;
}

.match { 
    border-bottom: 1px solid #efefe7;
    padding: 12px 0;
    position: relative;    
    overflow: hidden;
}

.match .match-desc {
    position: relative;
    margin-bottom: 0;
    background-color: white;
    border: none;
    padding: 0;
    font-weight: normal;
    font-family: @sans-serif;
    overflow: hidden;
    margin-right: 42px; // offsets the FT/HT box
}

.match .team {
    display: block;
    float: left;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.match .home {
    text-align: right;
    padding-right: 20px;
}

.match .away {
    padding-left: 20px;
}

.match .result {
    position: absolute;
    display: block;
    width: 40px;
    top: 0;
    left: 50%;
    margin-left: -20px;
    text-align: center;
    font-weight: bold;
}

.match .status {
    position: absolute;
    right: 0px;
    top: 18px;
    color: #979797;
}

.match .status .status-desc {
    position: absolute;
    left: -9999px;
}

.match .status abbr {
    color: #ffffff;
    padding: 5px 10px;   
    border: none;
}

.match .status .half-time {
    background-color: #8cc43f;
}

.match .status .full-time {
    background-color: #8cc43f;
}

.match .status .live {
    background-color: #da4b23;
}

#matches-nav a {
    display: inline-block;
}

#matches-nav a.cta {
    display: block;
}

#matches-nav a.cta::before {
    content: "";
}

