/* media (nicole sullivan's OOCSS) */

.media,
.media__body {
    @if $old-ie {
        overflow: visible;
        zoom: 1;
    } @else {
        overflow: hidden;
    }
}

.media__img {
    float: left;
    margin-right: 15px;
}

.media__img img {
    display: block;
}
