/* ====== media (nicole sullivan's OOCSS) ====== */

.media, .bd {
    overflow: hidden; 
    _overflow: visible; 
    zoom: 1;
}

.media .img {
    float: left; 
    margin-right: 10px;
}

.media .img img {
    display: block;
}

/* ====== /media ====== */

.tags li {
    padding: 8px 10px;
    font-size: 14px;
    line-height: 16px;
}

.tags li a {
    display: block;
}

.tags li:first-child {
    margin-top: 0;
}

.trailblock {
    margin-top: 26px;
}

.trailblock ul > li {
    margin-bottom: 12px;

}

.trailblock h3 {
    .standard-font-sizing;
    padding-top: 3px; 
    margin-bottom: 12px;
}

.trailblock-shaded {
    padding: 0 5px 12px 5px; 
    background-color: #ededed;
}

.trail-headline {
    .standard-font-sizing;
    margin-bottom: 1px;
}

.trailtext {
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #262626; 
    margin-bottom: 0;
}

.trailblock .img img {
    width: @trailblockImgWidth;
    margin-bottom: 5px;
    margin-top: 3px;
}

.trailblock .panel {
     height: auto;
     max-height: 9999px;
     overflow: hidden;
     .transition(max-height 1s ease-in-out);
     margin-bottom: 0px;
}
          
.trailblock.shut .panel {
    .transition(max-height .5s ease-in-out);
    overflow: hidden;
    position: relative;
    max-height: 0;
}
          
.trailblock .count {
    display: none;
}

.trailblock.shut .count {
    display: inline-block;
}

.nav,
.nav li,
.nav-sub-nav,
.nav-sub-nav li {
    margin: 0;
    padding: 0;
    list-style: none;    
}

.nav {
    margin: 10px auto;
    width: 100%;
    overflow: visible;
    text-align: center;
}

.nav li {
    display: inline-block;
    width: 32%;
    text-align: left;
}

.nav li a {
    background: #ededed;
    display: block;    
    padding: 4px 5px 8px;
    color: #005689;
    font-size: 13px;
    border-top: 3px solid #ccc;
}

.nav li a:hover {
    background-color: #0061A6;
    color: #fff;
    text-decoration: none;
}



.nav-sub-nav {
    text-align: center;    
}

.nav-sub-nav li {
    text-align: left;
    width: 49%;
    display: inline-block;
}

.nav-sub-nav li a {
    display: block;
    padding: 4px 3px 10px;
    border-top: 2px solid #ccc;
}

.nav-sub-nav li:nth-child(odd) a {
    margin-right: 20px;
}

article aside {
    padding: 0px 0px 15px 0px;
    list-style: none;
}

/* this duplicates article figure figcaption */
.article-body .caption,
article figure figcaption {
    font-family: helvetica, arial, sans-serif;
    color: #666;
    margin-top: 5px;
    margin-bottom: 0;
    .incidental-font-sizing;
}

article figure {
    margin: 0px 0px 15px 0px;
}

article figure img {
    display: block;
}

article figure figcaption cite {
    font-size: 10px;
    font-style: normal;
    text-transform: uppercase;
}

article figure figcaption cite a {
    color: #666666;
}

article figure figcaption cite a:hover,
article figure figcaption cite a:visited:hover {
    color: #4d4d4d;
    border-bottom: 1px dotted #4d4d4d;
}

article figure figcaption cite a:visited {
    color: #808080;
    border-bottom: 1px dotted #808080;
}

.article-body p {
    margin: 0px;
    margin-bottom: 10px;
}

.article-body h2 {
    color: #333;
    border-top: 1px dotted #999;
    border-bottom: 1px dotted #999;
    padding-top: 3px;
    padding-bottom: 12px;
    margin-bottom: 3px;
    margin-top: 15px; /* feel like this should be 5px (10px margin-bottom on preceding <p>) but this has no effect till it's > 10px */
    font-family: georgia;
    .standard-font-sizing;
}

.article-body h2:first-child,
.article-body span.timestamp:first-child {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}

.article-body h2.block-title {
    color: #e47a39;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.article-body h3 {
    margin: 0;
    font-family: georgia;
    .standard-font-sizing;
}

.article-body > p,
.article-body ul,
.article-body ol,
.article-body address,
.article-body blockquote {
    margin: 0px 0px 10px 0px;
    color: #333;
    font-family: georgia;
    .standard-font-sizing;
}

.article-body blockquote {
    border: 0;
    padding: 0;
    margin-left: @blockquoteMarginLeft;
}

.article-body blockquote, 
.article-body blockquote p {
    color: #666666;
}

.article-body blockquote:before {
    content: url(../images/blockquote-before.png);
    margin-left: -@blockquoteMarginLeft;
    margin-top: 5px;
    float: left;
}

.article-body blockquote:after {
    content: url(../images/blockquote-after.png);
    padding-left: 5px;
}

.expander {
    display: block;
    padding-top: 5px;
    color: #666;
    .incidental-font-sizing;
}


.tabs,
.tabs li {
    margin: 0;
    padding: 0;
    list-style: none;    
}

.tabs {
    border-bottom: 1px solid #bebebe;
    margin-bottom: 10px;
    text-align: right;  
    font-size: 0; /* this lets us use inline-block without gaps */
}

.tabs li {
    font-size: 12px; /* overrides the hack above */
    display: inline-block;
    text-align: center;
    font-family: helvetica, arial, sans-serif;
}

.tabs li a {
    display: inline-block;
    border: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe; /* gradient end colour */
    border-right: 0;
    padding: 6px 10px 0 10px;
    height: 22px;
    position: relative;
    bottom: -1px;
    color: #333333;
    #gradient > .vertical (#d9d9d9, #bebebe);
}

.tabs li.tabs-selected a {
    border-bottom: 1px solid #ededed; /* gradient end colour */
    background: #ffffff; /* Old browsers */
    #gradient > .vertical (#ffffff, #ededed);
}

.tabs li:last-child a {
    border-right: 1px solid #bebebe;    
}
.tabs li a:hover {
    text-decoration: none;
    background: #ededed;    
}