.overlay {
    display: none;
    background: #222222;
    position: absolute;
    width: 100%;
    height: 100%;

    .is-updating {
        margin-top: $baseline * 20;
    }

    .preload-msg {
        color: #aaaaaa;
    }
}

.overlay__header {
    height: $baseline * 12;
}

.overlay__toolbar {
    float: left;
}


/* ==========================================================================
   Hide other page content when overlay is visible
   ========================================================================== */
.has-overlay {
    background-color: #222222;

    #header,
    #preloads,
    .footer,
    .site-message {
        display: none;
    }
}


/* ==========================================================================
   CTA styles
   ========================================================================== */
.overlay__cta {
    height: $baseline * 12;
    padding: 0 $gutter / 2;
    color: #FFFFFF;
    float: left;
    border: 0;
    background: transparent;
    margin-left: $gutter / 2;
}

.overlay__cta--close {
    float: right;
    margin-right: $gutter / 2;
}
