.site-message {
    background: guss-colour(tone-news-1);
    display: block;
}

.site-message--banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1001;
}

.site-message__inner {
    padding: 0 $gs-gutter/2;

    @include mq(tablet) {
        display: table;
        width: 100%;
        padding: 0;
        min-height: gs-height(2) - $gs-baseline;
    }

    @include mq(rightCol) {
        min-height: gs-height(2) - $gs-baseline*2;
    }

    @include mq(wide) {
        min-height: gs-height(1) + $gs-baseline;
    }
}

.site-message__media {
    display: none;
    width: 36px; // Icon size
    height: $gs-baseline*3;
    padding-left: $gs-gutter/2;

    .i {
        display: block;
    }

    @include mq(rightCol) {
        display: table-cell;
        vertical-align: middle;
    }
}

.site-message__copy {
    @include mq(tablet) {
        display: table-cell;
        vertical-align: middle;
    }
}

.site-message__message {
    @include fs-headline(1);
    color: #ffffff;
    margin-bottom: 0;
    padding-top: $gs-baseline;
    margin-right: $gs-gutter/2;
    margin-left: $gs-gutter/2;

    a {
        color: #ffffff;
        text-decoration: underline;
    }

    .site-message--permanent & {
        margin-right: 0;
    }

    @include mq(tablet) {
        display: table-cell;
        vertical-align: middle;
        padding-top: 0;
        padding-left: $gs-gutter/2;
        padding-right: $gs-gutter;
        max-width: gs-span(4) + $gs-gutter;
    }

    @include mq(rightCol) {
        @include fs-headline(2, true);
        padding-right: $gs-gutter/2;
        max-width: gs-span(6) + $gs-gutter/2;
    }

    @include mq(desktop) {
        max-width: gs-span(7) - $gs-gutter*2;
    }

    @include mq(leftCol) {
        max-width: gs-span(8) - $gs-gutter*2;
    }

    @include mq(wide) {
        max-width: none;
    }
}

.site-message__message--tall {
    padding-bottom: ($gs-baseline/3)*11;
}

.site-message__actions {
    margin-top: $gs-baseline;
    margin-bottom: $gs-baseline;
    overflow: hidden;

    @include mq(tablet) {
        display: table-cell;
        vertical-align: middle;
        margin-top: 0;
    }
}

$btn-height: gs-height(1) - $gs-baseline/2; //30px

.site-message__actions__item {
    float: left;
    height: $btn-height;
    padding-left: $gs-gutter/2;
    margin-right: $gs-gutter/2;
    @include fs-textSans(2);
    color: #ffffff;
    border: 1px solid rgba(#ffffff, .3);
    @include border-radius(50%);

    @include mq(tablet) {
        float: right;
    }

    @include mq(wide) {
        margin-right: $gs-gutter/4;
    }

    &:hover {
        border-color: #ffffff;
    }

    a {
        float: left;
        color: #ffffff;
        line-height: $btn-height + 1px;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }

    i {
        float: right;
    }
}

.site-message__close {
    display: table-cell;
    vertical-align: middle;
    padding-right: $gs-gutter/2;

    @include mq(rightCol) {
        padding-right: $gs-gutter;
    }
}

.site-message__close-btn {
    display: block;
    padding: 0;
    height: $btn-height + 2px;
    @include fs-textSans(2);
    background: transparent;
    border: 1px solid rgba(#ffffff, .3);
    @include border-radius(50%);
    color: #ffffff;

    &:hover,
    &:focus,
    &:active {
        border-color: #ffffff;
    }

    @include mq($to: tablet) {
        position: absolute;
        right: 0;
        right: $gs-gutter;
        bottom: $gs-baseline;
    }
}

/* App onboarding messages
   ========================================================================== */
.site-message--android,
.site-message--ios {
    position: relative;

    .site-message__media {
        display: none;
    }
}

.site-message--android {
    max-height: 140px;
    overflow: hidden;
    background: #444444;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAAAAACMmsGiAAAAGElEQVR4AWMItbW1ZbANBRJ2QJIByAsFACn9BDLFzRqoAAAAAElFTkSuQmCC');
    background-repeat: repeat;
    border-top: 4px solid #87b322;

    .site-message__inner {
        position: relative;
        padding-top: $gs-baseline/2;
        padding-bottom: $gs-baseline/2;
    }

    .site-message__close {
        display: block;
        position: absolute;
        top: $gs-baseline/4;
        left: $gs-gutter/4;
        width: $gs-gutter;
        height: $gs-gutter;
    }

    .site-message__close-btn {
        position: relative;
        right: auto;
        bottom: auto;
        width: $gs-gutter;
        height: $gs-gutter;
        background-color: $c-neutral1;
        @include border-radius(50%);
        @include box-shadow(0px 1px 0px $c-neutral3);

        &:before {
            display: block;
            position: absolute;
            content: '×';
            left: 6px;
            top: 3px;
            background-color: $c-neutral1;
            @include font(arial, bold, 14px);
            color: $c-neutral4;
        }

        i {
            display: none;
        }
    }

    .app__logo,
    .app__cta {
        float: left;
    }

    .app__logo {
        width: 50px;
        margin-left: $gs-gutter*.75;
        margin-right: $gs-gutter/4;
    }

    .app__cta {
        width: 50%;
    }

    .app__heading {
        @include font(arial, bold, 14px);
        color: #ffffff !important;
    }

    .app__copy {
        margin-bottom: 0;
        @include font(arial, normal, 11px, 14px);
        color: #ffffff;

        strong {
            font-weight: bold;
        }
    }

    .app__link {
        float: right;
        background-color: #37b1c6;
        color: #ffffff;
        margin-top: $gs-baseline;
        padding: $gs-baseline/3 $gs-gutter;
        @include font(arial, bold, 14px);
        text-transform: uppercase;
        border: 1px solid #333333;
        @include box-shadow(0 0 0 1px #ffffff);
    }

    .app__screenshots {
        display: none;
    }
}

.site-message--ios {
    $helvetica: 'helvetica neue', helvetica, arial;

    max-height: 140px;
    overflow: hidden;
    background: #f2f2f2;


    .site-message__inner {
        padding-top: $gs-baseline/2;
        padding-bottom: $gs-baseline/2;
        position: relative;
    }

    .site-message__close {
        display: block;
        position: absolute;
        top: $gs-baseline*2;
        left: $gs-gutter/4;
        width: $gs-gutter;
        height: $gs-gutter;
    }

    .site-message__close-btn {
        right: auto;
        bottom: auto;
        width: $gs-gutter;
        height: $gs-gutter;

        &:before {
            display: block;
            position: absolute;
            content: '×';
            top: -($gs-baseline/2);
            left: 2px;
            @include font($helvetica, 200, 24px);
            color: $c-neutral2;
        }

        i {
            display: none;
        }
    }

    .app__logo,
    .app__cta {
        float: left;
    }

    .app__logo {
        width: 60px;
        margin-left: $gs-gutter;
        margin-right: $gs-gutter/2;
    }

    .app__cta {
        width: 54%;

        @include mq(tablet) {
            width: auto;
        }
    }

    .app__heading {
        @include font($helvetica, normal, 14px);
        color: $c-neutral1 !important;
    }

    .app__copy {
        margin-bottom: 0;
        @include font($helvetica, 200, 12px, 14px);
        color: $c-neutral1;

        strong {
            font-weight: normal;
        }
    }

    .app__link {
        float: right;
        margin-top: $gs-baseline*2;
        color: #1878fb;
        @include font($helvetica, normal, 14px);

        @include mq(tablet) {
            float: left;
            margin-left: $gs-gutter*2;
        }
    }

    .app__screenshots {
        display: none;

        @include mq(tablet) {
            display: block;
            position: absolute;
            bottom: 0;
            right: $gs-gutter;
            width: 28%;
        }
    }
}
