.front-section-head h1 {
	margin-bottom: 0px;
	padding: @baseline*3 @gutter;
	line-height: 1em;
}

.front-section-head {
	position: relative;
    overflow: hidden;
}

.front-section-head a, 
.front-section-head a:link, 
.front-section-head a:visited {
	color: #fff;
}


.sections h1 {
	margin-bottom: 0px;
}

.sections .nav {
	padding-top: 0px;
	padding-bottom: @baseline*3;
}