/*doc
---
title: Social
name: social
category: Common
---

```html_example
<ul class="social u-unstyled u-cf">
    <li class="social__item">
        <a class="social__action social-icon-wrapper" href="#">
            <span class="u-h">Share via Email</span>
            <span class="social-icon"><i class="i-share-email i"></i></span>
        </a>
    </li>
    <li class="social__item">
        <a class="social__action social-icon-wrapper" href="#">
            <span class="u-h">Share on Facebook</span>
            <span class="social-icon"><i class="i-share-facebook i"></i></span>
        </a>
    </li>
    <li class="social__item">
        <a class="social__action social-icon-wrapper" href="#">
            <span class="u-h">Share on Twitter</span>
            <span class="social-icon"><i class="i-share-twitter i"></i></span>
        </a>
    </li>
    <li class="social__item">
        <a class="social__action social-icon-wrapper" href="#">
            <span class="u-h">Share on Google+</span>
            <span class="social-icon"><i class="i-share-gplus i"></i></span>
        </a>
    </li>
</ul>
```
*/

.social {
    overflow-y: hidden;
    height: 32px;
    margin-left: -$gs-gutter/5;
}
.social__head {
    @include fs-textSans(1);
    color: $c-neutral2;
    padding: $gs-baseline/3 0 $gs-baseline;
}

.social__item {
    float: left;
    width: 36px;
    padding: 0 $gs-gutter/5;

    @include mq(leftCol, wide) {
        width: 32px;
        padding-right: 0;
    }
}
.social__action {
    display: block;
}


/**
 * Social icons
 * Usage:
 * <element class="social-icon-wrapper">
 *     <span class="social-icon">
 *         <i class="i share-icon-xxx"></i>
 *     </span>
 * </element>
 */

@include mq(desktop) {
    .social-icon-wrapper {
        opacity: .6;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}

$social-icon: (
    width: 36px,
    height: 36px,
    color: $c-neutral2,
    space-in-between: 2px
);

.social-icon {
    @extend %icon-holder-circle;
    border-color: map-get($social-icon, color);

    i {
        display: block;
        margin-bottom: 2px;
        margin-top: -1px;
        margin-left: -1px;
    }
}
