.social-wrapper {
    padding: $baseline*3 0 $baseline*4;
    max-width: gs-span(4);
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: $baseline*4;
}
.social__item {
    float: left;
    width: 20%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    @include box-sizing(border-box);

    .i-share-email:hover {
      @extend .i-share-email-hover;
    }

    .i-share-facebook:hover {
      @extend .i-share-facebook-hover;
    }

    .i-share-gplus:hover {
      @extend .i-share-gplus-hover;
    }

    .i-share-twitter:hover {
      @extend .i-share-twitter-hover;
    }

}
.social__action {
    height: 36px;
    display: block;
    position: relative;
}
.social__icon {
    position: absolute;
    left: 0;
    bottom: 3px;
}
