$starIcon-width: 14px;
$starIcon-height: 13px;

.stars {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    @include rem((
        margin-top: 4px,
        width: $starIcon-width * 5,
        line-height: $starIcon-height
    ));
}
