.tabs {
    .type-1;
    margin: 20px 0 -1px 0;
    list-style-type: none;
    padding: 0 10px;
    overflow: hidden;
}

.tabs li {
    float: left;
    display: block;
    width: 49%;
    margin-right: 2%;
    text-align: center;
}

.tabs li:last-child {
    margin-right: 0;
}

.tabs li a {
    .type-3;
    display: block;
    width: 86%;
    min-height: 24px; // as text height changes
    border: 1px solid #ccc;
    padding: 16px 6%;
    background: #f1f1eb;
    color: #464646;
    margin: 10px 0 0px 0;
    text-decoration: none;
}

.tabs a:hover {
    background: none !important;
}

li.tabs-selected a {
    .type-2;
    background: #fff;
    color: #ff3d00;
    margin-bottom: -1px;
    border-bottom-color: #fff;
}

.tabs-content {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;    
    overflow: hidden;
    clear: left;
    margin: 0;
}

.tabs-panel .panel {
    border-top: 1px solid #ccc;
}