.player {
    @include rem((
        margin-bottom: $gs-row-height
    ));
    background: #000000;
    text-align: center; // prevents poster from loading to left then centering

    @include mq(leftCol) {
        + .article__meta-container {
            margin-left: 0;
            margin-bottom: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.gu-video-wrapper {
    background: #000000;
    @include rem((
        margin-bottom: $gs-baseline * 1.5
    ));
}
.video-standfirst {
    @include rem((
        margin-bottom: ($gs-baseline/3)*4
    ));
}
