.more-on-story {
    border-top: 2px solid #ccc;
    padding: 3px 2% !important;
    background-color: #eeeeee;
    margin-bottom: 10px;
}

.more-on-story ul {
    margin: 0 !important;
}

.more-on-story h3 {
    font-size: 11px !important;    
    margin-bottom: 3px !important;
}

.more-on-story li p,
.more-on-story li a {
    font: 13px arial !important;
    line-height: 17px !important;
}

.more-on-story h3.expander, 
.more-on-story li p.type-tone, 
.more-on-story .media .img img {
    display: none;
}

.more-on-story li:first-child .media:first-child {
    border-top: 1px solid #ccc;
    padding-top: 3px;
}

.more-on-story li:first-child {
    margin-top: 0;
    padding-top: 0;
}

.more-inline {
    width: 40%;
    float: left;
    margin: 0 20px 20px 0 !important;
}

.more-single-block .media .img img {
    display: block;
}

.more-multiple-block .media .img img {
    display: block;
}

.more-multiple-block h3.expander {
    display: block;
    margin-top: 10px;
}



/* nicole sullivan's media object */

/* ====== media ====== */

.media, .bd {
    overflow: hidden; 
    _overflow: visible; 
    zoom: 1;
}

.media .img {
    float: left; 
    margin-right: 10px;
}

.media .img img {
    display: block;
}

.media .imgExt {
    float: right; 
    margin-left: 10px;
}



/* ====== /media ====== */

.tags li {
    padding: 8px 10px;
    font-size: 14px;
    line-height: 16px;
}

.tags li a {
    display: block;
}

.tags li:first-child {
    margin-top: 0;
}

.trailblock {
    margin-top: 26px;
}

.trailblock ul > li {
    margin-bottom: 9px;

}

.trailblock h3 {
    font-size: 15px;
    line-height: 20px;
    padding-top: 3px; 
    margin-bottom: 12px;
}

.trailblock-shaded {
    padding: 0 5px 12px 5px; 
    background-color: #ededed;
}

.trail-headline {
    font-size: 15px;
    line-height: 20px;
}

.trailtext {
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #262626; 
}

.trailblock .img img {
    width: 145px; /** less variable */
}

.trailblock .panel {
     height: auto;
     max-height: 9999px;
     overflow: hidden;
     -webkit-transition: max-height 1s ease-in-out;
}
          
.trailblock.shut .panel {
    -webkit-transition: max-height .5s ease-in-out;
    overflow: hidden;
    position: relative;
    max-height: 0;
    }
          
.trailblock .count {
    display: none;
    }

.trailblock.shut .count {
    display: inline-block;
    }

.comments p {
    font-family: arial;
    font-size: 15px;
    line-height: 19px;
}

.comments blockquote {
    margin: 10px;
    padding-left: 10px;
    border-left: 1px dotted #666;
    font-family: arial;
    font-size: 15px;
    line-height: 19px;
    color: #666;
}

.comments .datestamp {
    color: #666;
}



.nav,
.nav li,
.nav-sub-nav,
.nav-sub-nav li {
    margin: 0;
    padding: 0;
    list-style: none;    
}

.nav {
    margin: 10px auto;
    width: 100%;
    overflow: visible;
    text-align: center;
}

.nav li {
    display: inline-block;
    width: 32%;
    text-align: left;
}

.nav li a {
    background: #ededed;
    display: block;    
    padding: 4px 5px 8px;
    color: #005689;
    font-size: 13px;
    border-top: 3px solid #ccc;
}

.nav li a:hover {
    background-color: #0061A6;
    color: #fff;
    text-decoration: none;
}



.nav-sub-nav {
    text-align: center;    
}

.nav-sub-nav li {
    text-align: left;
    width: 49%;
    display: inline-block;
}

.nav-sub-nav li a {
    display: block;
    padding: 4px 3px 10px;
    border-top: 2px solid #ccc;
}

.nav-sub-nav li:nth-child(odd) a {
    margin-right: 20px;
}

article aside {
    font: 15px/20px helvetica, arial, sans-serif;
    margin: 0px 0px 15px 0px;
    padding: 9px 0px 9px 0px;
    list-style: none;
}

/* this duplicates article figure figcaption */
article .article-body .caption {
    font: 12px/15px arial;
    color: #666;
    margin-top: 7px;
    margin-bottom: 0;
}

article figure {
    margin: 0px 0px 15px 0px;
}

article figure img {
    display: block;
}

article figure figcaption {
    font: 12px/15px arial, sans-serif;
    text-indent: 0;
    margin-top: 7px;
    color: #666666;
}

article figure figcaption cite {
    font-size: 10px;
    font-style: normal;
    text-transform: uppercase;
}

article figure figcaption cite a {
    color: #666666;
}

article figure figcaption cite a:hover,
article figure figcaption cite a:visited:hover {
    color: #4d4d4d;
    border-bottom: 1px dotted #4d4d4d;
}

article figure figcaption cite a:visited {
    color: #808080;
    border-bottom: 1px dotted #808080;
}

article .article-body p {
    margin: 0px;
    margin-bottom: 10px;
}

article .article-body h2 {
    font-size: 17px;
    line-height: 22px;
    color: #333;
    border-top: 1px dotted #999;
    border-bottom: 1px dotted #999;
    padding-top: 3px;
    padding-bottom: 16px;
    margin-bottom: 3px;
    font-family: georgia;
}

article .article-body h2:first-child,
article .article-body span.timestamp:first-child {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}

article .article-body h2.block-title {
    color: #e47a39;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

article .article-body h3 {
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    font-family: georgia;
}

article .article-body > p,
article .article-body ul,
article .article-body ol,
article .article-body address,
article .article-body blockquote {
    font-size: 17px;
    line-height: 22px;
    margin: 0px 0px 12px 0px;
    color: #333;
    font-family: georgia;
}

article .article-body blockquote {
    border: 0;
    padding: 0;
    margin-left: 31px;
}

article .article-body blockquote:before {
    content: url(http://i.imgur.com/ObVaZ.png);
    margin-left: -31px;
}

article .article-body blockquote:after {
    content: url(http://i.imgur.com/19GTh.png);
}

article .article-body blockquote p {
    font-size: 15px;
    line-height: 20px;
    color: #666666;
    display: inline; /* this makes the quote images work */
}




/*.impact li {*/
    /*margin-top: 0px;*/
    /*border: 2px solid white;*/
/*}*/

/*.impact li.main {*/
    /*min-width: 100% !important;*/
    /*max-width: 100% !important;*/
    /*min-height: 90px;*/
    /*border: 2px solid white;*/
/*}*/

/*.impact li.minor {*/
    /*margin-top: 0px;*/
    /*min-width: 48%;*/
    /*max-width: 48%;*/
    /*max-height: 45px;*/
    /*min-height: 45px;*/
    /*border: 2px solid white;*/
    /*float: left;*/
/*}*/
/*.impact a {*/
    /*line-height: 5px;*/
/*}*/


.edition-switch {
    vertical-align: top;
    padding: 5px,0px,0px,0px;
    display: inline-block;
    position: absolute;
    right: 5px;
    text-align: right;
}


img.discussion-badge {
    float: right;
    width: 30px;
    height: 30px;
}
