
/* Prevent horizontal scrolling */
#wrapper { 
    overflow: hidden;
    }

/* Animations - translate3d = hardware accelerated = fast */
@-webkit-keyframes slide-ltr { /* swing left to right */
    from {
        -webkit-transform: translate3d(0, 0, 0); // TODO check -moz -o w3 support
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
    }
}

@-webkit-keyframes slide-rtl { /* swing right to left */
    from {
        -webkit-transform: translate3d(100%, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

/* */
#offcanvas-sections, #container, #offcanvas-promotion {
    float:left;
    -moz-box-sizing: border-box; /* TODO Check support for this */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    xborder: 1px solid #000;
}

/* common animation properties */
.was-active-right #container, .was-active-right #offcanvas-promotion,
    .active-right #container, .active-right #offcanvas-promotion,
        .active-left #container, .active-left #offcanvas-sections,
            .was-active-left #container, .was-active-left #offcanvas-sections { 
    
   -webkit-animation-duration: 0.2s;
   -webkit-animation-delay: 0;            
   -webkit-animation-iteration-count: 1; 
   -webkit-animation-direction: normal;
   -webkit-animation-fill-mode: forwards; /* TODO also need javascript listener for this to set a css property to the finished state */
}
     
// apply animation going from middle -> left
.active-left #container, .active-left #offcanvas-sections { 
   -webkit-animation-name: slide-ltr;
}

// from middle -> right 
.active-right #container, .active-right #offcanvas-promotion {
   -webkit-animation-name: slide-rtl;
}

// from left -> middle
.was-active-left #container, .was-active-left #offcanvas-sections { 
   -xwebkit-animation-name: slide-rtl; /* TODO - this will animate the panel backwards, but IMHO it's better just to display the article in 
                                                it's original state  */
}

// from left -> middle
.was-active-right #container, .was-active-right #offcanvas-promotion { 
   -xwebkit-animation-name: slide-ltr;
}

#offcanvas-sections, #offcanvas-promotion {
    width: 100%;
}

#offcanvas-sections {
    min-height: 100%;
    background-color: #666;
    padding: 10px 10px 50% 10px;
    margin-top: 10px;
}

#offcanvas-sections ul {
   margin-left: 0;
   padding-left: 0;
}

#offcanvas-sections li {
    list-style-type: none; 
    margin-left: 0; padding-left: 0;
    font-size: 17px;
    line-height: 33px;
    border-bottom: 1px solid #ccc;
}

#offcanvas-sections li:last-child {
    border-width: 0px;
}

#offcanvas-sections a {
    color: #fff;
    padding-left: 2px;
}

/* Default state */
#offcanvas-sections { margin-left: -100%; }
#container { width: 100%; }
#offcanvas-promotion { margin-right: -100%; }

/* Left panel active */
.active-left #offcanvas-sections { margin-left: -100%; }
.active-left #container, .active-left #offcanvas-promotion { max-height: 200px; }

/* Right panel active */
.active-right #primary-navigation { margin-left: -100%; }
.active-right #container, .active-right #offcanvas-sections { margin-left: -100%; }

/* */

#navigation .buttons:hover {
    pointer: cursor;
}

#navigation .buttons {
    font-size: 17px;
    line-height: 17px;
    padding: 3px 10px 3px 10px;
}

#navigation .buttons span {
    float:right;
}

#navigation a, #navigation span, #navigation a:hover, #navigation span:hover {
    text-decoration: none;
    cursor: pointer;
}


#navigation .true {
    color: red;
}

