@(page: model.Page, matchesList: football.model.MatchesList, filters: Map[String, Seq[CompetitionFilter]])(implicit request: RequestHeader)

@import conf.switches.Switches
@import football.model._

@main(page, "football"){
}{
<div class="l-side-margins">
    <article id="article" class="content content--footballfixtures" itemprop="mainContentOfPage" itemtype="http://schema.org/Article" role="main">
        <div class="content__main">
            <div class="gs-container">
                <div class="content__main-column">
                    <h2 class="hide-on-mobile-if-localnav content__inline-section page-heading--football">
                    @matchesList.pageType
                    </h2>

                    @football.views.html.fragments.leagueSelector(filters, matchesList.pageType, matchesList match {
                        case ml: CompetitionList => ml.competition
                        case _ => None
                    })

                    <div class="football-leagues football-leagues--list modern-hidden">
                        <ul class="football-leagues-list u-unstyled">
                            @matchesList.competitions.competitions.map{ comp =>
                                <li class="football-leagues__item"><a href="@comp.url/@matchesList.pageType" data-link-name="view @comp.fullName matches">@comp.fullName</option></a></li>
                            }
                        </ul>
                    </div>

                    <div class="football-matches__container" data-show-more-contains="football-matches">
                        @matchesList.matchesGroupedByDateAndCompetition.map { case (date, competitionMatches) =>
                            <div class="football-matches__day">
                                <div class="date-divider">@date.toString("EEEE d MMMM yyyy")</div>
                                @competitionMatches.map { case (competition, matches) =>
                                    <div class="football-table__container">
                                        <div class="u-cf">
                                            @football.views.html.matchList.matchesList(
                                                matches,
                                                competition,
                                                date,
                                                responsiveFont = true,
                                                matchType = matchesList.pageType,
                                                // this is a special case for the world cup, remove it afterwards
                                                heading = Some(competition.fullName, Option(competition.url))
                                            )
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>

                    @if( matchesList.nextPage.isDefined) {
                        <div class="matches-nav" data-link-name="@matchesList.pageType nav">
                            @matchesList.nextPage.map{url =>
                                <a href="@url" class="football-matches__show-more js-show-more-football-matches button--show-more button button--medium button--primary"
                                   data-shows-more=".football-matches__day"
                                   data-puts-more-into="football-matches"
                                   data-new-url="next"
                                   data-link-name="next"
                                   title="Next page">
                                   @fragments.inlineSvg("plus", "icon")
                                   More
                                </a>
                            }
                        </div>
                    }
                </div>

                <div class="content__secondary-column" aria-hidden="true"></div>
            </div>
        </div>
    </article>

    <div class="facia-container facia-container--layout-content">
        @views.html.fragments.mostPopularPlaceholder("sport")
    </div>
</div>
}
