@(matchesList: football.model.MatchesList)(implicit request: RequestHeader)

@import football.model._

<div class="c-football-matches">
    @matchesList.matchesGroupedByDateAndCompetition.map { case (date, competitionMatches) =>
        <div class="football-matches__day">
            @competitionMatches.map { case (competition, matches) =>
                @football.views.html.matchList.matchesList(matches, competition, date, matchType = matchesList.pageType)
            }
        </div>
    }
</div>
