@(matchesList: List[pa.FootballMatch],
    competition: model.Competition,
    date: org.joda.time.LocalDate,
    responsiveFont: Boolean = false,
    matchType: String = "",
    linkToCompetition: Boolean = false,
    heading: Option[(String, Option[String])] = None,
    link: Option[(String, String)] = None)(implicit request: RequestHeader)
@import implicits.Football._
@import common.LinkTo
@import views.support.RenderClasses
@import views.MatchStatus
@import conf.switches.Switches

<table class="table table--football football-matches@if(responsiveFont){ table--responsive-font}">
    <thead hidden>
        <tr>
            <th class="match__status">Match status / kick off time</th>
            <th class="match__details">Match details</th>
        </tr>
    </thead>

    <tbody>
        @matchesList.map{ theMatch =>
            <tr data-link-to="@LinkTo{@theMatch.smartUrl}"
                data-match-id="@theMatch.id"
                data-score-home="@theMatch.homeTeam.score"
                data-score-away="@theMatch.awayTeam.score"
                data-match-status="@MatchStatus(theMatch.matchStatus)"
                id="football-match-@theMatch.id"
                class="@RenderClasses(Map(
                    "football-match" -> true,
                    "football-match--live" -> theMatch.isLive,
                    "football-match--fixture" -> theMatch.isFixture,
                    "football-match--result" -> theMatch.isResult
                ))">
                <td class="football-match__status football-match__status--@MatchStatus(theMatch.matchStatus).toString.toLowerCase table-column--sub">
                    @if(theMatch.isFixture){
                        <time datetime="@theMatch.date.toString("yyyy-MM-dd'T'HH:mm:ssZ")" data-timestamp="@theMatch.date.getMillis"
                            class="js-locale-timestamp">
                            @theMatch.date.toString("HH:mm")</time>
                    }else{
                        @MatchStatus(theMatch.matchStatus)
                    }
                </td>
                <td class="football-match__teams table-column--main">
                    <a href="@LinkTo{@theMatch.smartUrl}" class="u-unstyled football-teams u-cf" data-link-name="match-redirect">
                        <div class="football-match__team football-match__team--home football-team">
                            <div class="football-team__name team-name" data-abbr="@pa.TeamCodes.codeFor(theMatch.homeTeam)">
                                <span class="team-name__long">@theMatch.homeTeam.name</span>
                            </div>
                            <div class="football-team__score">@theMatch.homeTeam.score</div>
                        </div>

                        <div class="football-match__team football-match__team--away football-team">
                            <div class="football-team__name team-name" data-abbr="@pa.TeamCodes.codeFor(theMatch.awayTeam)">
                                <span class="team-name__long">@theMatch.awayTeam.name</span>
                            </div>
                            <div class="football-team__score">@theMatch.awayTeam.score</div>
                        </div>

                        <div class="football-teams__battleline"></div>

                        @theMatch.comments.map { comments =>
                            <div class="football-match__comments">@comments.reverse.dropWhile(_ == '.').reverse</div>
                        }
                    </a>
                </td>
            </tr>
        }
    </tbody>
    <caption class="table__caption table__caption--top">
        @heading.map{ case(text, link) =>
            @link.map{ href =>
                <a href="@href" data-link-name="view @text" class="football-matches__heading">@text</a>
            }.getOrElse{
                <span class="football-matches__heading">@text</span>
            }
        }
        <span class="football-matches__date">@date.toString("E d MMMM")</span>
    </caption>
    @if(linkToCompetition && link == None){<caption class="table__caption table__caption--bottom"><a href="@competition.url@if(matchType!=""){/@matchType}" data-link-name="view @competition.fullName matches" class="full-table-link">Show more <span class="competition-name">@competition.fullName</span> @matchType</a></caption>}
    @link.map{ case (text, href) =>
            <caption class="table__caption table__caption--bottom"><a href="@href" data-link-name="view matches" class="full-table-link">@text</a></caption>
    }
</table>
