@(containerType: slices.CommercialContainerType, container: layout.FaciaContainer, frontProperties: model.FrontProperties)(implicit request: RequestHeader)

@import conf.switches.Switches
@import layout.{ColumnAndCards, ContentCard}
@import model.InlineImage
@import slices.{MultiCampaign, SingleCampaign}
@import views.html.fragments.containers.facia_cards.standardContainer
@import views.html.fragments.inlineSvg
@import views.html.fragments.items.elements.facia_cards.{itemImage, title}
@import views.support.{Commercial, RemoveOuterParaHtml}

    @containerType match {

    case SingleCampaign(_) => {
        @if(Switches.NewCommercialContent.isSwitchedOn) {

        <div class="fc-container fc-container--commercial">
            <div class="ad-slot ad-slot--dfp ad-slot--merchandising ad-slot--commercial-component">
                <div class="commercial commercial--paidfor commercial--tone-paidfor">
                    <div class="commercial__inner">
                        <div class="commercial__header">
                            <div class="paidfor-meta">
                                <span class="paidfor-meta__label">Paid Content</span>
                                <div class="paidfor-label paidfor-meta__more has-popup">
                                    <button class="u-button-reset paidfor-label__btn popup__toggle">About @inlineSvg("arrow-down", "icon")</button>
                                    <div class="popup is-off paidfor-popup paidfor-popup--test3">
                                        <h3 class="paidfor-popup__title">Paid stories are paid for and controlled by an advertiser</h3>
                                        <a class="paidfor-popup__link" href="#">Learn more about the Guardian’s funding from outside parties @inlineSvg("arrow-right", "icon")</a>
                                    </div>
                                </div>
                            </div>
                            <h3 class="commercial__title">@container.displayName</h3>
                            <a class="commercial__cta" href="http://www.theguardian.com/guardian-labs">@inlineSvg("glabs-logo", "logo")</a>
                        </div>
                        <div class="commercial__body">
                            <ul class="lineitems js-container__header">
                                @for(layout <- container.containerLayout) {
                                    @for( slice <- layout.slices) {
                                        @for(ColumnAndCards(_, cards) <- slice.columns) {
                                            @for(card <- cards) {
                                                @card.item match {
                                                    case content: ContentCard => {
                                                        <li class="lineitem">
                                                            <div class="rich-link tone-paidfor--item">
                                                                 <div class="rich-link__container">
                                                                     <div class="fc-item__image-container u-responsive-ratio">
                                                                         @for(InlineImage(imageContainer) <- content.displayElement) {
                                                                             @itemImage(imageContainer.images)
                                                                         }
                                                                     </div>
                                                                     <div class="rich-link__header">
                                                                         <h2 class="rich-link__title">
                                                                             <a class="rich-link__link">@title(content.header, card.index, container.index)</a>
                                                                         </h2>
                                                                     </div>
                                                                     <div class="rich-link__standfirst u-cf">@for(text <- content.trailText) {@Html(text)}</div>
                                                                     <a class="rich-link__link u-faux-block-link__overlay" @Html(content.header.url.hrefWithRel)>@RemoveOuterParaHtml(content.header.headline)</a>
                                                                 </div>
                                                            </div>
                                                        </li>
                                                    }
                                                    case _ => {}
                                                }
                                            }
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        } else {

            @standardContainer(container, frontProperties)

        }
    }

    case MultiCampaign(_) => {
        @if(Switches.NewCommercialContent.isSwitchedOn) {

        <div class="fc-container fc-container--commercial">
            <div class="ad-slot ad-slot--dfp ad-slot--merchandising ad-slot--commercial-component">
                <div class="commercial commercial--paidfor commercial--tone-paidfor">
                    <div class="commercial__inner">
                        <div class="commercial__header">
                            <div class="paidfor-meta">
                                <span class="paidfor-meta__label">Paid Content</span>
                                <div class="paidfor-label paidfor-meta__more has-popup">
                                    <button class="u-button-reset paidfor-label__btn popup__toggle">About @inlineSvg("arrow-down", "icon")</button>
                                    <div class="popup is-off paidfor-popup paidfor-popup--test2">
                                        <h3 class="paidfor-popup__title">Paid stories are paid for and controlled by an advertiser</h3>
                                        <a class="paidfor-popup__link" href="#">Learn more about the Guardian’s funding from outside parties @inlineSvg("arrow-right", "icon")</a>
                                    </div>
                                </div>
                            </div>
                            <h3 class="commercial__title">@container.displayName</h3>
                            <a class="commercial__cta" href="http://www.theguardian.com/guardian-labs">@inlineSvg("glabs-logo", "logo")</a>
                        </div>
                        <div class="commercial__body">
                            <ul class="lineitems">
                                @for((maybeCard, maybeSponsorData) <- Commercial.containerCard.cardsAndSponsorDataAttributes(container)) {
                                    @for(card <- maybeCard) {
                                        @for(sponsorData <- maybeSponsorData) {
                                            <li class="lineitem js-sponsored-container"
                                                data-sponsorship="@sponsorData.sponsorshipType"
                                                @for(seriesId <- sponsorData.seriesId) {
                                                    data-series="@seriesId"
                                                }
                                                @for( keywordId <- sponsorData.keywordId) {
                                                    data-keywords="@keywordId"
                                                }
                                            >
                                                <div class="rich-link tone-paidfor--item">
                                                    <div class="rich-link__container js-container__header">
                                                        <div class="fc-item__image-container u-responsive-ratio">
                                                        @for( InlineImage(imageContainer) <- card.displayElement) {
                                                            @itemImage(imageContainer.images)
                                                        }
                                                        </div>
                                                        <div class="rich-link__header">
                                                            <h2 class="rich-link__title">
                                                                <a class="rich-link__link">@title(card.header, 0, container.index)</a>
                                                            </h2>
                                                        </div>
                                                        <div class="rich-link__standfirst u-cf">@for( text <- card.trailText) {@Html(text)}</div>
                                                        <a class="rich-link__link u-faux-block-link__overlay" @Html(card.header.url.hrefWithRel)>@RemoveOuterParaHtml(card.header.headline)</a>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        } else {

            @standardContainer(container, frontProperties)

        }
    }
}
