@(metaDataHeader: layout.MetaDataHeader)(implicit request: RequestHeader)

@import common.{LinkTo, Localisation}
@import views.support.RenderClasses

<div class="index-page-header">
    <div class="index-page-header__content">
        @metaDataHeader.image.map { image =>
            <div class="@RenderClasses(image.cssClasses: _*)">
                <img class="index-page-header__image" data-test-id="header-image" role="presentation" src="@image.url" />
            </div>
        }

        <h1 class="index-page-header__title" data-test-id="header-title">
            @defining(Localisation(metaDataHeader.displayName)) { title =>
                @metaDataHeader.href match {
                    case Some(href) => {
                        <a href="@LinkTo(href)" data-link-name="title">@title</a>
                    }

                    case None => {@title}
                }
            }
        </h1>
        @metaDataHeader.description.map { desc =>
            <div class="index-page-header__description">@Html(desc)</div>
        }
    </div>
</div>
