@(containerDefinition: layout.FaciaContainer, frontProperties: model.FrontProperties = model.FrontProperties.empty)(implicit request: RequestHeader)

@import dfp.{Keyword, Series}
@import layout.MetaDataHeader
@import slices.{Dynamic, Fixed, MostPopular, NavList, NavMediaList, DynamicPackage, Commercial}
@import views.html.fragments.containers.facia_cards.{containerMetaData, mostPopularContainer, navListContainer, navMediaListContainer, standardContainer}
@import views.support.GetClasses

@defining(containerDefinition.displayName, containerDefinition.faciaComponentName) { case (title, componentName) =>
    @containerDefinition.customHeader.map {
        case header: MetaDataHeader => {
            @containerMetaData(header)
        }
        case _ => {}
    }
    <section id="@componentName"
             class="@GetClasses.forContainerDefinition(containerDefinition)"
             data-link-name="container-@{containerDefinition.index + 1} | @componentName"
             data-id="@containerDefinition.dataId"
             @for(tag <- containerDefinition.commercialOptions.sponsorshipTag) {
                 @tag.tagType match {
                     case Series => { data-series="@{tag.tagId}" }
                     case Keyword => { data-keywords="@{tag.tagId}" }
                 }
             }
             @containerDefinition.commercialOptions.sponsorshipType.map { sponsorshipType =>
                 data-sponsorship="@sponsorshipType"
             }
             data-component="@componentName"
             aria-expanded="true">

             @if(containerDefinition.isStoryPackage){
                @conf.Static.css.inline("story-package").map { css =>
                    <style>
                        @Html(css)
                    </style>
                }
             }

        <div class="fc-container__inner">
            @containerDefinition.container match {
                case _: Dynamic | _: Fixed => {
                    @standardContainer(containerDefinition, frontProperties)
                }

                case NavList => {
                    @navListContainer(containerDefinition, frontProperties)
                }

                case NavMediaList => {
                    @navMediaListContainer(containerDefinition, frontProperties)
                }

                case MostPopular => {
                    @mostPopularContainer(containerDefinition, frontProperties)
                }

                case slices.Commercial(container) => {
                    @commercialContainer(container, containerDefinition, frontProperties)
                }
            }
        </div>
    </section>
}
