@(containerDefinition: layout.ContainerAndCollection, frontProperties: model.FrontProperties = model.FrontProperties.empty)(implicit request: RequestHeader)

@import views.support.GetClasses
@import views.html.fragments.containers.facia_cards.{standardContainer, navListContainer, navMediaListContainer, mostPopularContainer}
@import slices.{Dynamic, Fixed, NavList, NavMediaList, MostPopular}

@defining(containerDefinition.displayName, containerDefinition.faciaComponentName) { case (title, componentName) =>
    <section id="@componentName"
             class="@GetClasses.forContainerDefinition(containerDefinition)"
             data-link-name="@{containerDefinition.index + 1} @componentName"
             data-id="@containerDefinition.dataId"
             @containerDefinition.commercialOptions.sponsorshipTag.map { keyword =>
                 data-keywords="@keyword"
             }
             @containerDefinition.commercialOptions.sponsorshipType.map { sponsorshipType =>
                 data-sponsorship="@sponsorshipType"
             }
             data-component="@componentName">
        <div class="facia-container__inner">
            @containerDefinition.container match {
                case _: Dynamic | _: Fixed => {
                    @standardContainer(containerDefinition, frontProperties)
                }

                case NavList => {
                    @navListContainer(containerDefinition, frontProperties)
                }

                case NavMediaList => {
                    @navMediaListContainer(containerDefinition, frontProperties)
                }

                case MostPopular => {
                    @mostPopularContainer(containerDefinition, frontProperties)
                }
            }
        </div>
    </section>
}
