@(containerDefinition: layout.FaciaContainer, frontProperties: model.FrontProperties)(implicit request: RequestHeader)

@import common.LinkTo
@import views.support.{ImgSrc, Item140, RenderClasses}
@import views.html.fragments.containers.facia_cards.{date, latestUpdate}
@import common.Localisation
@import layout.{MetaDataHeader, LoneDateHeadline, SeriesDescriptionMetaHeader}
@import fragments.containers.facia_cards.{dateHeadline, seriesHeadline, standardHeaderMeta}
@import fragments.nav.treats

@containerDefinition.customHeader.map { customHeader =>
    <div class="fc-container__header js-container__header">
        @customHeader match {
            case metaDataHeader: MetaDataHeader => {
                @dateHeadline(metaDataHeader.dateHeadline, containerDefinition.dateLink)
            }

            case dateHeader: LoneDateHeadline => {
                @dateHeadline(dateHeader.get, containerDefinition.dateLink)
            }

            case seriesHeader: SeriesDescriptionMetaHeader => {
                @seriesHeadline(containerDefinition, frontProperties, seriesHeader.description)
            }
        }
    </div>
}.getOrElse {
    @standardHeaderMeta(containerDefinition, frontProperties)
}

@treats(containerDefinition, frontProperties)
