@import common.commercial.ContainerModel
@import layout.MetaDataHeader
@import layout.slices.{Dynamic, Fixed, MostPopular, NavList, NavMediaList, Video}
@import views.html.fragments.commercial.containers.paidContainer
@import views.html.fragments.audio.containers.flagshipContainer
@import views.html.fragments.containers.facia_cards._
@import views.support.Commercial.container.shouldRenderAsPaidContainer
@import views.support.GetClasses
@import conf.switches.Switches.MostViewedFronts
@import org.joda.time.DateTime
@import org.joda.time.DateTimeConstants.{SATURDAY, SUNDAY}

@(containerDefinition: layout.FaciaContainer,
  frontProperties: model.FrontProperties = model.FrontProperties.empty,
  frontId: Option[String] = None,
  isPaidFront: Boolean = false,
  maybeContainerModel: Option[ContainerModel] = None,
  showFrontBranding: Boolean = false
  )(implicit request: RequestHeader, context: model.ApplicationContext)

@defining((containerDefinition.displayName, containerDefinition.faciaComponentName)) { case (title, componentName) =>
    @containerDefinition.customHeader.map {
        case header: MetaDataHeader => {
            @containerMetaData(header)
        }
        case _ => {}
    }

    @containerDefinition.container match {

        case _: model.MostPopular if isPaidFront => {}

        case Fixed(_) if shouldRenderAsPaidContainer(isPaidFront, maybeContainerModel) => {
            @maybeContainerModel match {
                case Some(containerModel) => {
                    @paidContainer(frontId.getOrElse(""), containerDefinition.index, containerModel)
                }
                case None => {}
            }
        }

        case _ => {
            <section id="@componentName"
                 class="@GetClasses.forContainerDefinition(containerDefinition) @GetClasses.forFrontId(frontId)"
                 data-link-name="container-@{containerDefinition.index + 1} | @componentName"
                 data-id="@containerDefinition.dataId"
                 data-component="@componentName"
                 aria-expanded="true">

                @if(containerDefinition.isStoryPackage) {
                    <style>
                        @Html(common.Assets.css.inlineStoryPackageGarnett)
                    </style>
                }

                @containerDefinition.container match {

                    case _: Dynamic | _: Fixed => {
                        <div class="fc-container__inner">
                            @if(containerDefinition.displayName.contains("Flagship") && frontId.contains("uk")) {
                                @defining(DateTime.now.getDayOfWeek) { now =>
                                    @if(now != SATURDAY && now != SUNDAY) {
                                        @flagshipContainer(containerDefinition, frontProperties)
                                    }
                                }
                            } else {
                                @standardContainer(containerDefinition, frontProperties, maybeContainerModel, showFrontBranding, frontId)
                            }
                        </div>
                    }

                    case NavList => {
                        <div class="fc-container__inner">
                            @navListContainer(containerDefinition, frontProperties)
                        </div>
                    }

                    case Video => {
                        <div class="gs-container">
                            @videoContainer(containerDefinition, frontProperties)
                        </div>
                    }

                    case NavMediaList => {
                        <div class="fc-container__inner">
                            @navMediaListContainer(containerDefinition, frontProperties)
                        </div>
                    }

                    case MostPopular => {
                        @if(MostViewedFronts.isSwitchedOn) {
                            <div class="fc-container__inner">
                            @mostPopularContainer(containerDefinition, frontProperties)
                            </div>
                        }
                    }

                    case _ => {}
                }
            </section>
        }
    }
}
