@(collection: model.Collection, frontProperties: model.FrontProperties, containerIndex: Int)(implicit request: RequestHeader, config: com.gu.facia.client.models.CollectionConfig)

@import views.support.RenderClasses
@import common.LinkTo

@defining((config.displayName.orElse(collection.displayName), config.href.orElse(collection.href))) { case (title, href) =>
    <div class="container__meta">
        <dl class="container__meta__description">
            @title.map { title =>
                <dt class="@RenderClasses(Map(
                    "container__meta__title" -> true,
                    "tone-comment tone-colour" -> frontProperties.editorialType.exists(_ == "contributor")))">
                    @href.map { href =>
                        <a class="u-text-hyphenate" data-link-name="section heading" href="@LinkTo{/@href}">@Html(title)</a>
                    }.getOrElse{
                        <span class="u-text-hyphenate">@Html(title)</span>
                    }
                </dt>
            }
            @if(containerIndex == 0){
                @frontProperties.onPageDescription.map { desc =>
                    <dd class="container__meta__item hide-on-mobile">@Html(desc)</dd>
                }
            }
        </dl>
    </div>
}
