@()

@import fragments.inlineSvg
@import views.support.{ImgSrc, Item140}

<img src="@ImgSrc("http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2015/1/22/1421924658711/CPScottcutout.png", Item140)"
     role="presentation"
     class="fc-cp-scott__portrait"
/>

<div class="fc-cp-scott__text">
    <div class="fc-cp-scott__quote"><span class="fc-cp-scott__quote-line">@inlineSvg("quote", "icon", Nil)Comment is free&hellip;</span>
        <span class="fc-cp-scott__quote-line">but facts are sacred</span></div>

    <a class="fc-cp-scott__citation" href="http://www.theguardian.com/commentisfree/2002/nov/29/1">CP Scott, 1921 Guardian editor</a>
</div>
