@(maybeLatestUpdate: Option[org.joda.time.DateTime])(implicit requestHeader: RequestHeader)

@import org.joda.time.DateTime
@import views.support.Format

<span class="container__title__label today">
    <b class="today__dayofweek js-dayofweek">@Format(DateTime.now(), "EEEE")</b>
    <span class="u-nobr today__sub">
        <span class="today__dayofmonth js-dayofmonth">@Format(DateTime.now(), "d")</span>
        <span class="today__month">@Format(DateTime.now(), "MMMM")</span>
        <span class="today__year">@Format(DateTime.now(), "yyyy")</span>
    </span>
</span>

@maybeLatestUpdate.map { latestUpdate =>
    <span class="container__updated">
        <span class="i--circle i--clock">
            <span class="i i-clock-hands-white"></span>
        </span>
        Last updated:
        <time class="js-timestamp"
              datetime="@latestUpdate.toString("yyyy-MM-dd'T'HH:mm:ssZ")"
              data-relativeformat="long"
              data-timestamp="@latestUpdate.getMillis">
            <span class="timestamp__text">@Format(latestUpdate, "E, h:ma")</span>
        </time>
    </span>
}
