@(latestUpdate: org.joda.time.DateTime)(implicit requestHeader: RequestHeader)

@import views.support.Format

<span class="container__updated">
    <span class="i--circle i--clock">
        <span class="i i-clock-hands-white"></span>
    </span>
    Last updated:
    <time class="js-timestamp"
          datetime="@latestUpdate.toString("yyyy-MM-dd'T'HH:mm:ssZ")"
          data-relativeformat="long"
          data-timestamp="@latestUpdate.getMillis">
        <span class="timestamp__text">@Format(latestUpdate, "E, h:ma")</span>
    </time>
</span>
