@(latestUpdate: org.joda.time.DateTime)(implicit requestHeader: RequestHeader)

@import views.support.GuDateFormatLegacy

<div class="js-container--insert-updates">
    <span class="fc-container__updated">
        Updated:
        <time class="fc-timestamp js-timestamp"
              datetime="@latestUpdate.toString("yyyy-MM-dd'T'HH:mm:ssZ")"
              data-relativeformat="long"
              data-timestamp="@latestUpdate.getMillis">
            <span class="fc-timestamp__text">@GuDateFormatLegacy(latestUpdate, "E, h:ma")</span>
        </time>
    </span>
</div>
