@import model.FrontProperties
@(slice: layout.SliceWithCards, containerIndex: Int, isElectionContainer: Boolean = false, frontProperties: Option[FrontProperties] = None)(implicit request: RequestHeader)

@import layout.{ColumnAndCards, SingleItem, Rows, SplitColumn, MPU}
@import views.html.fragments.items.facia_cards.item

<div class="fc-slice-wrapper">
    <ul class="u-unstyled l-row  l-row--cols-@slice.numberOfCols fc-slice fc-slice--@slice.cssClassName">
    @for(ColumnAndCards(column, cards) <- slice.columns) {
        @column match {
            case SingleItem(colSpan, _) => {
                @cards.headOption.map { card =>
                    @item(card, containerIndex, colSpan = colSpan, frontProperties = frontProperties, isElectionContainer = isElectionContainer)
                }
            }

            case Rows(colSpan, columns, rows, _) => {
                <li class="fc-slice__item l-row__item l-row__item--span-@colSpan">
                    <ul class="u-unstyled l-list l-list--columns-@columns l-list--rows-@rows">
                        @if(cards.nonEmpty) {
                            @cards.map{ card =>
                                @item(card, containerIndex, isList = true, frontProperties = frontProperties, isElectionContainer = isElectionContainer)
                            }
                        }
                    </ul>
                </li>
            }

            case SplitColumn(colSpan, topItemRows, _, bottomItemRows, _) => {
                <li class="fc-slice__item l-row__item l-row__item--span-@colSpan">
                    <ul class="u-unstyled l-list l-list--columns-1 l-list--rows-@(topItemRows + bottomItemRows)">
                        @cards.map { card =>
                            @item(card, containerIndex, isList = true, frontProperties = frontProperties, isElectionContainer = isElectionContainer)
                        }
                    </ul>
                </li>
            }

            case MPU(colSpan) => {
                <li class="fc-slice__item l-row__item l-row__item--span-@colSpan fc-slice__item--mpu-candidate">
              </li>
            }
        }
    }
    </ul>
</div>
