@(containerDefinition: layout.FaciaContainer, frontProperties: model.FrontProperties)(implicit request: RequestHeader)

@import common.{LinkTo, Localisation}
@import views.html.fragments.containers.facia_cards.{date, latestUpdate}
@import views.support.{ImgSrc, Item140, RenderClasses}


@defining((containerDefinition.displayName, containerDefinition.href)) { case (title, href) =>
    <div class="fc-container__header  @if(containerDefinition.customHeader.isEmpty) {js-container__header}">
        @title.map { title =>
            @defining(frontProperties.editorialType.contains("contributor")) { isContributor =>
                <div class="@RenderClasses(Map(
                    "fc-container__header__title" -> true,
                    "tone-comment" -> isContributor,
                    "tone-colour" -> isContributor))">
                    @href.map { href =>
                    <a data-link-name="section heading" href="@LinkTo {/@href}">
                        @Localisation(title)
                    </a>
                    }.getOrElse {
                        <span tabindex="0">@Localisation(title)</span>
                    }

                    @if(containerDefinition.showDateHeader) {
                        @date(org.joda.time.DateTime.now())
                    }

                    @if(containerDefinition.showLatestUpdate) {
                        @containerDefinition.latestUpdate.map { updateTime =>
                            @latestUpdate(updateTime)
                        }
                    }
                </div>
        }
    }
        @if(containerDefinition.showCPScottHeader) {
            @fragments.containers.facia_cards.cpScottHeader()
        } else {
            @defining(frontProperties.isImageDisplayed || frontProperties.onPageDescription.isDefined){ hasDescription =>
                @if(containerDefinition.index == 0 && hasDescription){
                    <div class="@RenderClasses(Map(
                        "fc-container__header__description" -> true,
                        "fc-container__header__description--image" -> frontProperties.isImageDisplayed))">
                        @frontProperties.imageUrl.filter(_ => frontProperties.isImageDisplayed).map(ImgSrc(_, Item140)).map { url =>
                            <div class="fc-container__header__image media__img">
                                <img src="@url" alt="@title" />
                            </div>
                        }
                        @frontProperties.onPageDescription.map(Html(_))
                    </div>
                }
            }
        }
    </div>
}
