@(containerDefinition: layout.FaciaContainer, frontProperties: model.FrontProperties)(implicit request: RequestHeader)

@import common.Localisation
@import views.html.fragments.containers.facia_cards.{containerHeader, slice, showMore, showMoreButton}
@import views.support.RenderClasses
@import conf.Switches.ElectionSnap

@containerHeader(containerDefinition, frontProperties)

@for(containerLayout <- containerDefinition.containerLayout) {
    <div class="@RenderClasses(Map(
        ("fc-container__body", true),
        ("fc-container--rolled-up-hide", true),
        ("fc-show-more--hidden", containerDefinition.addShowMoreClasses),
        ("js-container--fc-show-more", containerDefinition.addShowMoreClasses),
        ("fc-show-more--mobile-only", containerDefinition.hasMobileOnlyShowMore)
    ))"
         data-title="@Html(Localisation(containerDefinition.displayName getOrElse ""))"
         data-id="@containerDefinition.dataId">

        @* Custom markup for the election night snap, will be removed afterwards. *@
        @if(containerDefinition.isStoryPackage & ElectionSnap.isSwitchedOn) {
            <div id="election-snap" class="election-snap">
                <style>
                    #election-snap {border-top: 1px solid #333; padding-top: 6px; background-color: #dcdcdc; height: 220px;}
                    #election-snap .snap {visibility: hidden;}
                    .js-on .fc-container--story-package.fc-container--has-election-snap .fc-item--full-media-50-tablet{display:none}
                </style>
                <div class="snap">
                    <div class="snap__left-pane">
                        <h2>Live results</h2>
                        <div id="seatstack"></div>
                    </div>
                    <div class="snap__right-pane" id="analysis"></div>
                </div>
            </div>
        }

        @for(sliceWithCards <- containerLayout.slices) {
            @slice(sliceWithCards, containerDefinition.index)
        }

        @if(containerDefinition.hasShowMore) {
            @if(containerDefinition.useShowMore) {
                <div class="js-show-more-placeholder"></div>

                @showMoreButton(containerDefinition.displayName getOrElse "")
            } else {
                @* Don't hide any items, for on tag pages, which are chronological *@
                @showMore(
                    containerDefinition.containerLayout.map(_.remainingCards).getOrElse(Nil),
                    containerDefinition.index
                )
            }
        }
    </div>
}
