@(containerDefinition: layout.FaciaContainer, frontProperties: model.FrontProperties)(implicit requestHeader: RequestHeader)

@import common.LinkTo
@import model.VideoPlayer
@import views.support.Video640
@import views.html.fragments.items.facia_cards.item
@import views.html.fragments.media.video

<div class="fc-container__body">
    <div class="fc-slice-wrapper">
        <ul class="u-unstyled fc-slice fc-slice--video">

        @containerDefinition.collectionEssentials.items.zipWithIndex.map { case (item, index) =>
            @if(item.header.isVideo) {

                <li class="fc-slice__item--video">
                    @item.properties.maybeContent.map { content => 
                        @defining(VideoPlayer(
                            content.elements.mainVideo.get,
                            Video640,
                            item.header.headline,
                            autoPlay = false,
                            showControlsAtStart = false,
                            SupportedUrl.fromFaciaContent(item),
                            Some(false)
                        )) { player =>
                            <div class="fc-item__media-wrapper u-faux-block-link__promote media__container--hidden js-video-player">
                                <div class="fc-item__video-container">
                                    @video(player, false, false)
                                </div>
                            </div>
                        }
                    }
                    <a class="" href="@LinkTo(SupportedUrl.fromFaciaContent(item))" data-link-name=" | article | @index">@item.header.headline</a>
                </li>
            }
        }

        </ul>
    </div>
</div>
