@import common.commercial.hosted.HostedArticlePage
@import play.api.Mode
@(page: HostedArticlePage)(implicit request: RequestHeader, context: model.ApplicationContext)
@import model.hosted.HostedAmp.ampify
@import views.html.hosted._
@import model.hosted.HostedArticleQuotes.prepareQuotes

<!doctype html>
<html AMP>
    <head>
        @fragments.hostedContentsAMPMetaData(page, request, context)
        <title>@views.support.Title(page)</title>
        @fragments.amp.customStyles(page, page.mainPicture, page.cta.image, page.fontColour.hexCode)
        <script custom-element="amp-font" src="https://cdn.ampproject.org/v0/amp-font-0.1.js" async></script>
        <script custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js" async></script>
        <script custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js" async ></script>
        <script custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js" async></script>
        <script custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js" async></script>
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        <script custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js" async ></script>
        <script src="https://cdn.ampproject.org/v0.js" async></script>
    </head>
    <body>

        <amp-analytics config="https://ophan.theguardian.com/amp.json" @if(context.environment.mode != Mode.Dev) { data-credentials="include" }></amp-analytics>

        @fragments.amp.hostedGoogleAnalytics(page)
        <amp-analytics id="comscore" type="comscore">
            <script type="application/json">{ "vars": { "c2": "6035250" } }</script>
        </amp-analytics>

        <amp-analytics type="nielsen">
            <script type="application/json">
                {
                    "vars": {
                        "apid": "@page.metadata.neilsenApid",
                        "apv": "1.0",
                        "apn": "The Guardian",
                        "section": "@page.metadata.sectionId",
                        "segC": "Guardian - Google AMP"
                    }
                }
            </script>
        </amp-analytics>

        <div class="main-body">
            <div class="hosted__header"><div class="hosted__headerwrap"><div class="hostedbadge">
                @hostedLogo(page, onAmp = true)
            </div></div></div>
            @guardianHostedHeader("hosted-article-page hosted__header--sticky" + (if(page.fontColour.isDark) " hosted-page--bright" else ""), page, isAMP = true)
            <div class="hosted-page l-side-margins hosted__side hosted-article-page @if(page.fontColour.isDark) {hosted-page--bright}">

                <article id="article" data-test-id="article-root" class="content content--article has-feature-showcase-element section-stage paid-content" role="main">
                    <div class="media-primary media-content media-primary--showcase">
                        <h2 class="title content__hosted-body">@{page.title}</h2>
                    </div>
                    <div class="caption hosted-tone content__hosted-body">@{page.mainPictureCaption}</div>
                    <div class="content__main">
                        <div class="gs-container content__hosted-body">
                            <div class="content__main-column content__main-column--article js-content-main-column">
                                <div class="content__meta-container">
                                    <div class="meta__extras" data-component="share">
                                        @guardianHostedShareButtons(page)
                                    </div>
                                </div>

                                <div class="content__article-body from-content-api js-article__body">
                                    <p class="intro">@Html(page.standfirst)</p>

                                    @Html(prepareQuotes(ampify(page.body)))

                                </div>
                                <div class="hosted__standfirst">
                                    @hostedExplainer(onAmp = true)
                                </div>
                            </div>
                            @hostedOnwardAmp(s"${page.url}/article/onward.json")
                        </div>
                    </div>
                </article>
                @guardianHostedCta(page, page.cta, isAMP = true)
            </div>
        </div>

        <amp-font
            layout="nodisplay"
            font-family="Guardian Text Sans Web"
            timeout="3000"
            on-error-remove-class="guardian-text-sans-loading"
            on-error-add-class="guardian-text-sans-missing"
            on-load-remove-class="guardian-text-sans-loading"
            on-load-add-class="guardian-text-sans-loaded">
        </amp-font>

    </body>
</html>
