@import common.commercial.hosted.HostedPage

@import common.commercial.hosted.HostedCallToAction
@(page: HostedPage, cta: HostedCallToAction, isAMP: Boolean)
    <section class="host hosted__container--full">
        <div class="hosted__banner" @if(!isAMP) {style="background-image: url(@{cta.image});"}>
            <a href="@{cta.url}" rel="nofollow" class="hosted__cta-link" data-link-name="@{cta.trackingCode}" target="_blank">
                <div class="hostedbadge hostedbadge--pushdown">
                    @if(isAMP) {
                        <amp-img layout="responsive" width="@{page.campaign.logo.dimensions.map(_.width)}" height="@{page.campaign.logo.dimensions.map(_.height)}" class="hostedbadge__logo" src="@{page.campaign.logo.src}" alt="logo @{page.campaign.owner}"></amp-img>
                    } else {
                        <img class="hostedbadge__logo" src="@{page.campaign.logo.src}" alt="logo @{page.campaign.owner}">
                    }
                </div>
                @if(cta.btnText.isEmpty) {
                    <div class="hosted__cta-wrapper content__hosted-body">
                        <span class="hosted__cta-text hosted-tone">@{cta.label}</span>
                        @fragments.inlineSvg("external-link", "icon", List("i-right","advert__more","button","button--large","button--primary","hosted__cta", "hosted-tone-btn"))
                    </div>
                } else {
                    <div class="hosted__cta-wrapper hosted__cta-btn-wrapper content__hosted-body">
                        <span class="hosted__cta-label">@{cta.label}</span>
                        <span class="hosted__cta-btn-text hosted-tone-btn">@{cta.btnText} @fragments.inlineSvg("external-link", "icon")</span>
                        @if(page.campaign.id == "lloyds-bank-wealth"){
                            <span class="hosted__cta-fine-print">
                                Advertisement creative produced by Guardian Labs on behalf of Lloyds Bank.
                            </span>
                        }
                    </div>
                }
            </a>
        </div>
    </section>

