@import common.commercial.hosted.HostedVideoPage
@(page: HostedVideoPage)(implicit request: RequestHeader)
@import views.html.hosted.guardianHostedHeader
@import java.net.URLEncoder

@cssClass(owner: String) = {hosted-tone--@{owner.toLowerCase.replaceAll("\\s+", "-")}}

@main(page, Some("commercial")) { } {
    @guardianHostedHeader("hosted-video-page", page.campaign.cssClass, page.campaign.logo.url)
    <div class="hosted-page l-side-margins hosted__side hosted-video-page @{page.campaign.cssClass}">
        <section class="hosted-tone--dark">
            <div class="adverts hosted__container--full">
                <div class="u-responsive-ratio u-responsive-ratio--hd">
                    <video
                    data-duration="@{page.video.duration}"
                    data-media-id="@{page.video.mediaId}"
                    controls="controls"
                    preload="auto"
                    style="width: 100%;"
                    data-block-video-ads="true"
                    poster="@{page.video.posterUrl}"
                    class="vjs-hosted__video hosted__video gu-media--video vjs vjs-paused vjs-controls-enabled vjs_video_1-dimensions vjs-user-active">
                        <source type="video/mp4" src="@{page.video.srcUrlMp4}">
                        <source type="video/webm" src="@{page.video.srcUrlWebm}">
                        <source type="video/ogg" src="@{page.video.srcUrlOgg}">
                        <source type="video/m3u8" src="@{page.video.srcM3u8}">
                    </video>
                    <div class="hosted-fading js-hosted-fading">
                        <div class="hosted__video-overlay"></div>
                        <div class="hosted__meta">
                            <h1 class="hosted__heading @cssClass(page.campaign.owner)">@{page.video.title}</h1>
                        </div>
                        <div class="hostedbadge hostedbadge--shouldscale">
                                <img class="hostedbadge__logo" src="@{page.campaign.logo.url}" alt="logo @{page.campaign.owner}">
                        </div>
                    </div>
                    @for(nextPage <- page.nextPage) {
                    <div class="hosted-next-autoplay js-hosted-next-autoplay" data-link-name="Next video autoplay">
                        <div class="hosted-next-autoplay__cancel">
                            <button class="site-message__close-btn js-autoplay-cancel" data-link-name="Cancel autoplay of the next video">
                                <span>Hide</span>
                            </button>
                        </div>
                        <div class="hosted-next-autoplay__next-in-series">
                            <div class="hosted-next-autoplay__subheader">@{page.campaign.name}</div>
                            <a href="@{page.cta.url}" rel="nofollow" class="hosted-next-autoplay__tile" data-link-name="@{page.campaign.name}" target="_blank">
                                Visit @{page.campaign.owner} now @fragments.inlineSvg("arrow-right", "icon", List(""))
                            </a>
                        </div>
                        <div class="hosted-next-autoplay__video">
                            <div class="hosted-next-autoplay__header">
                                <div class="hosted-next-autoplay__continue @cssClass(page.campaign.owner)">Continue watching</div>
                                <h2 class="hosted-next-autoplay__subheader">@{nextPage.video.title}</h2>
                            </div>
                            <a href="@{nextPage.pageUrl}" class="hosted-next-autoplay__poster" data-link-name="Next Hosted Video Autoplay: @{nextPage.video.title}">
                                <img class="hosted-next-autoplay__poster-img" src="@{nextPage.video.posterUrl}">
                                <div class="hosted-next-autoplay__poster-timer js-autoplay-timer" data-next-page="@{nextPage.pageUrl}">10s</div>
                            </a>
                            <a href="@{nextPage.pageUrl}" class="hosted__next-video--mobile" data-link-name="Next Hosted Video @{nextPage.video.title}" target="_blank">
                                Watch now
                            </a>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </section>
        <section class="adverts adverts--legacy hosted__container hosted__container--content">
            <header class="adverts__header hosted__social">
                <div class="meta__social hosted__social-wrapper" data-component="share">
                    <ul class="social social--top u-unstyled u-cf" data-component="social">
                        <li class="social__item social__item--facebook" data-link-name="facebook">
                            <a class="social__action social-icon-wrapper"
                            data-link-name="facebook-social-share-1"
                            href="https://www.facebook.com/dialog/share?app_id=180444840287&href=@{page.pageUrl}&redirect_uri=@{page.pageUrl}"
                            target="_blank"
                            title="facebook">
                                <span class='inline-icon__fallback button share-modal__item share-modal__item--facebook'>Share on Facebook</span>
                                @fragments.inlineSvg("share-facebook", "icon", List("rounded-icon social-icon social-icon--facebook"))
                            </a>
                        </li>
                        <li class="social__item social__item--twitter" data-link-name="twitter">
                            <a class="social__action social-icon-wrapper"
                            data-link-name="twitter-social-share-1"
                            href="https://twitter.com/intent/tweet?text=@{URLEncoder.encode(page.twitterTxt, "utf-8")}&url=@{page.pageUrl}"
                            target="_blank"
                            title="twitter">
                                <span class='inline-icon__fallback button share-modal__item share-modal__item--twitter'>Share on Twitter</span>
                                @fragments.inlineSvg("share-twitter", "icon", List("rounded-icon social-icon social-icon--twitter"))
                            </a>
                        </li>
                        <li class="social__item social__item--email" data-link-name="email">
                            <a class="social__action social-icon-wrapper"
                            data-link-name="email-social-share-1"
                            href="mailto:?subject=@{page.emailTxt}&body=@{page.pageUrl}"
                            target="_blank"
                            title="email">
                                <span class='inline-icon__fallback button share-modal__item share-modal__item--email'>Share via email</span>
                                @fragments.inlineSvg("share-email", "icon", List("rounded-icon social-icon social-icon--email"))
                            </a>
                        </li>
                        <li class="social__item social__item--pinterest" data-link-name="pinterest">
                            <a  class="social__action social-icon-wrapper"
                            data-link-name="Pinterest-social-share-1"
                            href="http://www.pinterest.com/pin/create/button/?url=@{page.pageUrl}&description=@{page.pageTitle}&media=@{page.video.posterUrl}"
                            target="_blank"
                            title="pinterest">
                                <span class='inline-icon__fallback button share-modal__item share-modal__item--pinterest'>Share on Pinterest</span>
                                @fragments.inlineSvg("share-pinterest", "icon", List("rounded-icon social-icon social-icon--pinterest"))
                            </a>
                        </li>
                    </ul>
                </div>
            </header>
            <div class="adverts__body">
                <div class="hosted__meta">
                    <h1 class="hosted__heading @cssClass(page.campaign.owner)">@{page.video.title}</h1>
                </div>
                <div class="hosted__standfirst">
                    <p class="hosted__text">@{page.standfirst}</p>
                    <div class="hosted__terms">​This content was paid for and produced by @{page.campaign.owner}. For more information click
                        <div class="paidfor-label paidfor-meta__more has-popup hosted__link">
                            <button class="u-button-reset paidfor-label__btn hosted__label-btn--small popup__toggle hosted__label-btn js-hosted-about" data-link-name="terms-and-conditions-text-link">here @fragments.inlineSvg("arrow-down", "icon")</button>
                        </div>
                    </div>
                </div>
            </div>
            @for(nextPage <- page.nextPage) {
            <div class="hosted__next-video">
                <div class="hosted__next-video--header">
                    <h2 class="hosted__text hosted__next-video--up-next">More from</h2>
                    <h2 class="hosted__next-video--client-name @cssClass(page.campaign.owner)">@{page.campaign.owner}</h2>
                </div>
                <a href="@{nextPage.pageUrl}" class="hosted__next-video--tile" data-link-name="Next Hosted Video: @{nextPage.video.title}">
                    <img class="hosted__next-video-thumb" src="@{nextPage.video.posterUrl}" alt="Next Video: @{nextPage.video.title}">
                    <p class="hosted__next-video-title">@{nextPage.video.title}</p>
                </a>
            </div>
            }
        </section>
        <section class="adverts hosted__container--full">
            <div class="hosted__banner" style="background-image: url(@{page.ctaBanner});">
                <a href="@{page.cta.url}" rel="nofollow" class="hosted__cta-link" data-link-name="@{page.cta.trackingCode}" target="_blank">
                    <div class="hostedbadge hostedbadge--shouldscale hostedbadge--pushdown hosted-tone-bg--@{page.campaign.owner.toLowerCase}">
                        <img class="hostedbadge__logo" src="@{page.campaign.logo.url}" alt="logo @{page.campaign.owner}">
                    </div>
                    @if(page.cta.btnText.length == 0) {
                        <div class="hosted__cta-wrapper">
                            <span class="hosted__cta-text hosted-tone--@{page.campaign.owner.toLowerCase}">@{page.cta.label}</span>
                            @fragments.inlineSvg("external-link", "icon", List("i-right","advert__more","button","button--large","button--primary","hosted__cta","hosted-tone-btn--" + page.campaign.owner.toLowerCase))
                        </div>
                    } else {
                        <div class="hosted__cta-wrapper hosted__cta-btn-wrapper">
                            <span class="hosted__cta-label">@{page.cta.label}</span>
                            <span class="hosted__cta-btn-text">@{page.cta.btnText} @fragments.inlineSvg("external-link", "icon")</span>
                        </div>
                    }
                </a>
            </div>
        </section>
    </div>

}
