@import common.commercial.hosted.HostedVideoPage
@import views.html.hosted._
@import conf.Configuration.environment
@import conf.Configuration.site.host
@import play.api.Mode
@(page: HostedVideoPage)(implicit request: RequestHeader, context: model.ApplicationContext)

<!doctype html>
<html AMP>
    <head>
        @* "utf-8" meta tag needs to be first according to AMP spec *@
        @fragments.hostedContentsAMPMetaData(page, request, context)
    <title>@views.support.Title(page)</title>
        @fragments.amp.customStyles(page, mainPicture = "", page.cta.image, page.fontColour.hexCode)
    <script custom-element="amp-font" src="https://cdn.ampproject.org/v0/amp-font-0.1.js" async></script>
    <script custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js" async></script>
    <script custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js" async></script>
    <script custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js" async ></script>
        @* Required for outbrain served in an amp-iframe *@
    <script custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js" async></script>
    <script custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js" async></script>
    <script custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js" async></script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js" async ></script>
    <script src="https://cdn.ampproject.org/v0.js" async></script>
    </head>
    <body>

    <amp-analytics config="https://ophan.theguardian.com/amp.json" @if(context.environment.mode != Mode.Dev) { data-credentials="include" }></amp-analytics>
    @fragments.amp.hostedGoogleAnalytics(page)
    <amp-analytics id="comscore" type="comscore">
        <script type="application/json">{ "vars": { "c2": "6035250" } }</script>
    </amp-analytics>

    <amp-analytics type="nielsen">
        <script type="application/json">
            {
                "vars": {
                    "apid": "@page.metadata.neilsenApid",
                    "apv": "1.0",
                    "apn": "The Guardian",
                    "section": "@page.metadata.sectionId",
                    "segC": "Guardian - Google AMP"
                }
            }
        </script>
    </amp-analytics>

    <div class="main-body">
      @guardianHostedHeader(if(page.fontColour.isDark) "hosted-video-page hosted-page--bright" else "hosted-video-page", page, isAMP = true)
      <div class="hosted-page l-side-margins hosted__side hosted-video-page @if(page.fontColour.isDark) {hosted-page--bright}">
        <section class="hosted-tone--dark">
            <div class="host hosted__container--full">
                <div class="u-responsive-ratio u-responsive-ratio--hd">
                @page.video.youtubeId.map { youtubeId =>
                    <amp-youtube
                    id="gu-video-youtube-@{page.video.mediaId}"
                    data-videoid="@youtubeId"
                    data-param-modestbranding="1"
                    data-param-showinfo="0"
                    data-param-rel="0"
                    layout="responsive"
                    width="480" height="270">
                    </amp-youtube>
                }.getOrElse {
                    <amp-video
                    controls
                    width="16"
                    height="9"
                    layout="responsive"
                    poster="@{page.video.posterUrl}"
                    >
                        <div fallback>
                            Sorry, your browser is unable to play this video.<br/>
                            Please <a href="http://whatbrowser.org/">upgrade</a> to a modern browser and try again.
                        </div>
                        @for(source <- page.video.sources) {
                            <source type="@source.format" src="@source.url">
                        }
                    </amp-video>
                }
                </div>
            </div>
        </section>
        <section class="host host--legacy hosted__container hosted__container--content">
            <div class="host__body">
                <div class="hosted__meta content__hosted-body">
                    <h1 class="hosted__heading hosted-tone">@{page.video.title}</h1>
                </div>
                <div class="hosted__standfirst content__hosted-body">
                    <p class="hosted__text">@Html(page.standfirst)</p>
                    @hostedExplainer(onAmp = true)
                </div>
            </div>
            <header class="host__header hosted__social content__hosted-body">
                <div class="meta__social hosted__social-wrapper" data-component="share">
                    @guardianHostedShareButtons(page)
                </div>
            </header>
            @hostedOnwardAmp(s"${page.url}/video/onward.json")
        </section>
        @guardianHostedCta(page, page.cta, isAMP = true)
      </div>
    </div>

    <amp-font
        layout="nodisplay"
        font-family="Guardian Text Sans Web"
        timeout="3000"
        on-error-remove-class="guardian-text-sans-loading"
        on-error-add-class="guardian-text-sans-missing"
        on-load-remove-class="guardian-text-sans-loading"
        on-load-add-class="guardian-text-sans-loaded">
    </amp-font>

</body>
</html>
