@import common.commercial.hosted.NextHostedPage
@(ctaText: Option[String], ctaLink: String, buttonText: Option[String], nextPages: List[NextHostedPage], backgroundCss: String = "",  borderCss: String = "", textCss: String = "")
    <div class="hosted-gallery__oj js-hosted-gallery-oj">
        <div class="hosted-gallery__oj-cta @borderCss">
            <div class="hosted-gallery__cta-title">
                @{ctaText}
            </div>
            <a class="hosted-gallery__cta-link @backgroundCss" href="@{ctaLink}" target="_blank" data-link-name="@{buttonText}">
                @{buttonText} @fragments.inlineSvg("external-link", "icon")
            </a>
        </div>
        @for(nextPage <- nextPages){
            <a href="@{nextPage.pageUrl}" class="hosted-gallery__oj-next-gallery @borderCss">
                <div class="hosted-gallery__next-gallery-title">
                    <div class="hosted-gallery__oj-sub-header @textCss">
                        More
                    </div>
                    <div class="hosted-gallery__cta-title">
                        @{nextPage.title}
                    </div>
                </div>
                <img class="hosted-gallery__next-gallery-image" src="@nextPage.imageUrl"/>
            </a>
        }
    </div>

