@import common.commercial.HostedGalleryPage
@(page: HostedGalleryPage)(implicit request: RequestHeader)
@import views.html.hosted.guardianHostedHeader

@main(page, Some("commercial"))  { }  {
    <div class="hosted-gallery-page--container hosted-gallery-page">
        @guardianHostedHeader("hosted-gallery-page", page.logoUrl)
        <div class="l-side-margins hosted__side">
            <section class="hosted-tone--dark hosted-gallery__gallery-section">
                <div class="hosted-gallery__image hosted-tone--dark" style="opacity: 1; background-image: url(@{page.images.head.url});">
                    <div class="hosted-gallery__meta">
                        <h1 class="hosted-gallery__heading">@{page.title}</h1>
                        <h3 class="hosted-gallery__heading">@{page.standfirst}</h3>
                    </div>
                </div>
                @for(i <- page.images.indices.tail) {
                    <div class="hosted-gallery__image hosted-tone--dark" style="opacity: 0; background-image: url(@{page.images(i).url});"></div>
                }
                <div class="hosted-gallery__scroll-container">
                    @for(i <- page.images.indices) {
                        <div class="hosted-gallery__image--placeholder"></div>
                    }
                </div>
                <div class="hosted-gallery__progress">
                    @fragments.inlineSvg("arrow-up", "icon")
                    <div class="hosted-gallery__progress--wrapper">
                        <div class="hosted-gallery__progress--border">
                            <div class="hosted-gallery__progress--border-1"></div>
                            <div class="hosted-gallery__progress--border-2"></div>
                        </div>
                    </div>
                    <div class="hosted-gallery__image-count">
                        1/@page.images.length
                    </div>
                    @fragments.inlineSvg("arrow-down", "icon")
                </div>
            </section>
            <section class="adverts adverts--legacy hosted__container hosted__container--content hosted-tone--dark">
                <header class="adverts__header hosted__social">
                    <div class="meta__social hosted__social-wrapper" data-component="share">
                        <ul class="social social--top u-unstyled u-cf" data-component="social">
                            <li class="social__item social__item--facebook" data-link-name="facebook">
                                <a class="social__action social-icon-wrapper"
                                data-link-name="facebook-social-share-1"
                                href="https://www.facebook.com/dialog/share?app_id=180444840287&href=@{page.pageUrl}&redirect_uri=@{page.pageUrl}"
                                target="_blank"
                                title="facebook">
                                    <span class='inline-icon__fallback button share-modal__item share-modal__item--facebook'>Share on Facebook</span>
                                    @fragments.inlineSvg("share-facebook", "icon", List("rounded-icon social-icon social-icon--facebook"))
                                </a>
                            </li>
                            <li class="social__item social__item--twitter" data-link-name="twitter">
                                <a class="social__action social-icon-wrapper"
                                data-link-name="twitter-social-share-1"
                                href="https://twitter.com/intent/tweet?text=@{page.pageTitle}&url=@{page.pageUrl}"
                                target="_blank"
                                title="twitter">
                                    <span class='inline-icon__fallback button share-modal__item share-modal__item--twitter'>Share on Twitter</span>
                                    @fragments.inlineSvg("share-twitter", "icon", List("rounded-icon social-icon social-icon--twitter"))
                                </a>
                            </li>
                            <li class="social__item social__item--email" data-link-name="email">
                                <a class="social__action social-icon-wrapper"
                                data-link-name="email-social-share-1"
                                href="mailto:?subject=@{page.pageTitle}&body=@{page.pageUrl}"
                                target="_blank"
                                title="email">
                                    <span class='inline-icon__fallback button share-modal__item share-modal__item--email'>Share via email</span>
                                    @fragments.inlineSvg("share-email", "icon", List("rounded-icon social-icon social-icon--email"))
                                </a>
                            </li>
                            <li class="social__item social__item--pinterest" data-link-name="pinterest">
                                <a  class="social__action social-icon-wrapper"
                                data-link-name="Pinterest-social-share-1"
                                href="http://www.pinterest.com/pin/create/button/?url=@{page.pageUrl}&description=@{page.pageTitle}&media=@{page.images.head.url}"
                                target="_blank"
                                title="pinterest">
                                    <span class='inline-icon__fallback button share-modal__item share-modal__item--pinterest'>Share on Pinterest</span>
                                    @fragments.inlineSvg("share-pinterest", "icon", List("rounded-icon social-icon social-icon--pinterest"))
                                </a>
                            </li>
                        </ul>
                    </div>
                </header>
                <div class="hosted-gallery__captions">
                    @for(i <- page.images.indices) {
                        <div class="hosted-gallery__caption @{if (i == 0) "current-caption" else ""}">
                            @fragments.inlineSvg("camera", "icon", List("inline-camera inline-icon "))
                            <span>@page.images(i).title</span>
                        </div>
                    }
                </div>
                </section>
        </div>
    </div>

}
