@import common.commercial.hosted.HostedGalleryPage
@import views.html.hosted._
@(page: HostedGalleryPage)(implicit request: RequestHeader, context: model.ApplicationContext)

@main(page, Some("commercial"))  { }  {
    <!--[if (gt IE 9)|(IEMobile)]><!-->
    <style>
    .hosted-tone {
        color: @{page.campaign.fontColour.hexCode};
    }

    .hosted-tone-bg {
        background-color: @{page.campaign.fontColour.hexCode};
    }

    .hosted-tone-border {
        border-color: @{page.campaign.fontColour.hexCode};
    }

    .hosted-tone-btn,
    .hosted-tone-btn:focus,
    .hosted-tone-btn:hover {
        background-color: @{page.campaign.fontColour.hexCode};
        border-color: @{page.campaign.fontColour.hexCode};
    }

    .hosted-page .hosted__link {
        color: @{page.campaign.fontColour.hexCode};
    }

    .hosted-page ~ .survey-overlay-simple .survey-text__header {
        background-color: @{page.campaign.fontColour.hexCode};
    }
    </style>
        <!--<![endif]-->
    <div class="hosted-page hosted-gallery-page--container hosted-gallery-page @if(page.campaign.fontColour.isDark) {hosted-page--bright}">
        @guardianHostedHeader("hosted-gallery-page", page)
        <div class="l-side-margins hosted__side">
            <section class="hosted-tone--dark hosted-gallery__gallery-section">
                <div class="js-hosted-gallery-container hosted-gallery__gallery-container">
                    <div class="js-hosted-gallery-frame hosted-gallery__gallery-frame">
                        <div class="js-hosted-gallery-images hosted-gallery__images-container">
                            @for(image <- page.images.headOption) {
                                @guardianHostedGalleryImage(image, if(page.standfirst.trim.isEmpty) {""} else {
                                <div class="hosted-gallery__meta js-hosted-gallery-meta">
                                    <div class="content__main-column--hosted">
                                        <h1 class="hosted-gallery__heading">{page.title}</h1>
                                        <h3 class="hosted-gallery__sub-heading">{page.standfirst}</h3>
                                    </div>
                                </div>
                                }.toString)
                            }
                            @for(i <- page.images.indices.drop(1)) {
                                @guardianHostedGalleryImage(page.images(i))
                            }
                        </div>
                        <div class="hosted-gallery__scroll-container js-hosted-gallery-scroll-container">
                            @for(i <- page.images.indices) {
                                <div class="hosted-gallery__image--placeholder"></div>
                            }
                        </div>
                        @guardianHostedGalleryCta(page.cta.label, page.cta.url, page.cta.btnText)
                        <div class="hosted-gallery__progress js-hosted-gallery-progress">
                            @fragments.inlineSvg("arrow-right", "icon", List("inline-arrow-up"))
                            <div class="hosted-gallery__progress--wrapper">
                                <div class="hosted-gallery__progress-border">
                                    <div class="hosted-gallery__progress-border-static"></div>
                                    <div class="hosted-gallery__progress-border-rotate js-hosted-gallery-rotating-border"></div>
                                </div>
                            </div>
                            <div class="hosted-gallery__image-count js-hosted-gallery-image-count">
                                1/@page.images.length
                            </div>
                            @fragments.inlineSvg("arrow-right", "icon", List("inline-arrow-down"))
                        </div>
                        @guardianHostedGalleryOj(page.cta)
                    </div>
                </div>
                <div class="hosted__container hosted__container--content hosted-gallery__lower-bar js-gallery-caption-bar">
                    <header class="host__header hosted__social">
                        <div class="meta__social hosted__social-wrapper" data-component="share">
                            @guardianHostedShareButtons(page)
                        </div>
                    </header>
                    <div class="hosted-gallery__captions">
                        @for(i <- page.images.indices) {
                            <div class="hosted-gallery__caption js-hosted-gallery-caption @{if (i == 0) "current-caption" else ""}">
                                <div class="hosted-gallery__image-title">
                                    <span>
                                        @fragments.inlineSvg("camera", "icon", List("inline-camera inline-icon "))
                                        @page.images(i).title
                                    </span>
                                </div>
                                <div class="hosted-gallery__caption-text">
                                    @Html(page.images(i).caption)
                                    @if(page.images(i).caption.nonEmpty && page.images(i).credit.nonEmpty) {<br/>}
                                    @page.images(i).credit
                                </div>
                            </div>
                        }
                        <div class="hosted-gallery__info-button js-gallery-caption-button">
                            <span class="icon-i">i</span>
                            @fragments.inlineSvg("cross", "icon", List("inline-cross inline-icon "))
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

}
