@import common.commercial.hosted.NextHostedPage
@(campaignOwner: String, nextPages: List[NextHostedPage])
@for(nextPage <- nextPages.headOption) {
    <div class="hosted__next-video">
        <div class="hosted__next-video--header">
            <div class="hosted__next-page-header--border hosted-tone-bg"></div>
            <h2 class="hosted__text hosted__next-video--up-next">More from</h2>
            <h2 class="hosted__next-video--client-name hosted-tone">@{campaignOwner}</h2>
        </div>
        @for(nextPage <- nextPages) {
            <a href="@{nextPage.pageUrl}" class="hosted__next-video--tile" data-link-name="Next Hosted Page: @{nextPage.title}">
                <img class="hosted__next-video-thumb" src="@{nextPage.imageUrl}" alt="Next Page: @{nextPage.title}">
                <p class="hosted__next-page-title">@{nextPage.title}</p>
            </a>
        }
    </div>
}

