@import common.commercial.hosted.HostedPage
@(trails: Seq[HostedPage])(implicit request: RequestHeader)

@if(trails.isEmpty) {
    <p></p>
} else {
    @for(trail <- trails) {
        <a href="@{trail.url}" class="hosted-gallery__oj-next-gallery hosted-tone-border">
            <div class="hosted-gallery__next-gallery-title">
                <div class="hosted-gallery__oj-sub-header hosted-tone">
                        More
                </div>
                <div class="hosted-gallery__cta-title">
                @{trail.title}
                </div>
            </div>
            <img class="hosted-gallery__next-gallery-image" src="@trail.thumbnailUrl"/>
        </a>
    }
}
