@import common.commercial.hosted.HostedPage
@(trails: Seq[HostedPage], maxRows: Int)(implicit request: RequestHeader)

@if(trails.isEmpty) {
    <div></div>
} else {
    <div class="hosted__next-page">
        <div class="hosted__next-page--header">
            <div class="hosted__next-page-header--border hosted-tone-bg"></div>
            <h2 class="hosted__text hosted__next-page--more-from">More from</h2>
            <h2 class="hosted__next-page--client-name hosted-tone">@{trails.head.campaign.owner}</h2>
            @if(trails.length > maxRows){
                <div class="hosted__next-page__carousel-arrows">
                    @fragments.inlineSvg("arrow-right", "icon", List("arrow-left", "prev-oj-item"))
                    @fragments.inlineSvg("arrow-right", "icon", List("arrow-right", "next-oj-item"))
                </div>
            }
        </div>
        <div class="hosted__next-page__carousel-wrapper">
            <div class="hosted__next-page__carousel-pages js-carousel-pages">
                @for(i <- trails.indices if i % maxRows == 0) {
                    <div class="carousel-page" style="left: @{i*100/maxRows}%;">
                        @for(trail <- trails.slice(i, i + maxRows)) {
                            <a href="@{trail.url}" class="hosted__next-page--tile  js-hosted-onward-journey-link hosted-tone-bg" data-link-name="Next Hosted Page: @{trail.title}">
                                <div class="hosted-next-page__wrapper">
                                    <img class="hosted__next-page-thumb" src="@{trail.thumbnailUrl}" alt="Next Page: @{trail.title}">
                                    <p class="hosted__next-page-title">@{trail.title}</p>
                                </div>
                            </a>
                        }
                    </div>
                }
            </div>
        </div>
        @if(trails.length > maxRows){
            <div class="hosted__carousel-marker">
                @for(i <- trails.indices if i % maxRows == 0) {
                    <div class="hosted__carousel-dot hosted-tone-btn hosted-tone-bg js-carousel-dot @{if(i == 0) "highlighted" else ""}"></div>
                }
            </div>
        }
    </div>
}
