@import common.commercial.hosted.HostedPage
@(trails: Seq[HostedPage])(implicit request: RequestHeader)

@if(trails.isEmpty) {
    <div></div>
} else {
    <div class="hosted__next-page hosted-article__next-page">
        <div class="hosted__next-page--header">
            <div class="hosted__next-page-header--border hosted-tone-bg"></div>
            <h2 class="hosted__text hosted__next-page--more-from">More from</h2>
            <h2 class="hosted__next-page--client-name hosted-tone">@{trails.head.campaign.owner}</h2>
        </div>
        <div class="hosted__next-video__carousel-arrows">
            @fragments.inlineSvg("arrow-right", "icon", List("arrow-left", "prev-oj-item"))
            @fragments.inlineSvg("arrow-right", "icon", List("arrow-right", "next-oj-item"))
        </div>
        <div class="hosted__next-video__carousel-wrapper js-carousel-wrapper" data-number-of-items="10">
            <ul>
                @for(trail <- trails) {
                    <li class="hosted__next-video__carousel-item">
                        <a href="@{trail.pageUrl}" class="hosted__next-page--tile" data-link-name="Next Hosted Page: @{trail.title}">
                            <img class="hosted__next-page-thumb" src="@{trail.imageUrl}" alt="Next Page: @{trail.title}">
                            <p class="hosted__next-page-title">@{trail.title}</p>
                        </a>
                        <a href="@{trail.pageUrl}" class="hosted__next-page--tile" data-link-name="Next Hosted Page: @{trail.title}">
                            <img class="hosted__next-page-thumb" src="@{trail.imageUrl}" alt="Next Page: @{trail.title}">
                            <p class="hosted__next-page-title">@{trail.title}</p>
                        </a>
                        <a href="@{trail.pageUrl}" class="hosted__next-page--tile" data-link-name="Next Hosted Page: @{trail.title}">
                            <img class="hosted__next-page-thumb" src="@{trail.imageUrl}" alt="Next Page: @{trail.title}">
                            <p class="hosted__next-page-title">@{trail.title}</p>
                        </a>
                        <a href="@{trail.pageUrl}" class="hosted__next-page--tile" data-link-name="Next Hosted Page: @{trail.title}">
                            <img class="hosted__next-page-thumb" src="@{trail.imageUrl}" alt="Next Page: @{trail.title}">
                            <p class="hosted__next-page-title">@{trail.title}</p>
                        </a>
                        <a href="@{trail.pageUrl}" class="hosted__next-page--tile" data-link-name="Next Hosted Page: @{trail.title}">
                            <img class="hosted__next-page-thumb" src="@{trail.imageUrl}" alt="Next Page: @{trail.title}">
                            <p class="hosted__next-page-title">@{trail.title}</p>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
