@import common.commercial.hosted.HostedPage
@import model.ImageMedia
@import model.ImageAsset
@import com.gu.contentapi.client.model.v1.Asset
@import com.gu.contentapi.client.model.v1.AssetType
@import layout.ContentWidths.ImageContentMedia
@import com.gu.contentapi.client.model.v1.AssetFields
@(page: HostedPage)(implicit request: RequestHeader)


<p class="text">
    <span class="drop-cap @{
        page.brandBackgroundCssClass
    }
    ">G</span>
    et your flights and tickets to the Singapore GP (and treat yourselves to some R&R afterwards)…
</p>
<p class="text">
    It’s not too late to get a great deal on a package to the 2016 Formula 1 Singapore Airlines

    Singapore Grand Prix. A three-night race-weekend package – including flights, transfers,

    accommodation and race tickets – starts from £1,320 per person.* You’ll receive up to 12,000

    KrisFlyer miles with selected ticket categories, if you opt for the exclusive 2016 FORMULA 1 land

    packages, offered on the <a href="http://sianightrace.com" rel="nofollow" target="_blank" data-link-name="sianightrace.com">sianightrace.com</a> website.
</p>

<p>
    Terms &amp; conditions <a href="https://www.firststopsingapore.com/terms-conditions/#lkql727Y6CVfVmU1.97" rel="nofollow" target="_blank" data-link-name="terms and conditions">here</a>.
</p>

<h2>
    How to purchase your package…
</h2>

<h2>
    1) Online
</h2>

<p>
    Tick off your flights, hotel airport transfers and even race tickets in one fell swoop at Singapore

    Airlines’ <a href="http://sianightrace.com" rel="nofollow" target="_blank" data-link-name="sianightrace.com">sianightrace.com</a>.

    Just enter your Singapore dates, pick one of the swish hotels on offer,

    select a GP ticket type (the default 3-Day Bay Grandstand access, or an upgraded version, subject

    to a top-up fee) and add optional airport transfers. Your Grand Prix travel is fixed – in just a few

    clicks.
</p>

<p>
    There’s a wide range of
    <a href="https://www.firststopsingapore.com/singapore-airlines-singapore-grand-prix-packages/?utm_source=guardian&utm_medium=editorial&utm_campaign=singaporegrandprix#TyHkQh08kWDj8r4b.97" rel="nofollow" target="_blank" data-link-name="packages">packages</a>
    available. Here are our highlights:
</p>
<h2>
    <a href="https://www.firststopsingapore.com/place/singapore-airlines-singapore-grand-prix-package-economy/?utm_source=guardian&utm_medium=editorial&utm_campaign=singaporegrandprix#1zLFDPIoUBfApdyq.97" rel="nofollow" target="_blank" data-link-name="economy package">
        Economy Package
    </a>
</h2>
<ul>
    <li>
        Return flights with Singapore Airlines from London Heathrow
    </li>
    <li>
        3 nights in a Superior Room at the 5* Royal, including breakfast
    </li>
    <li>
        Shuttle Bus transfers
    </li>
    <li>
        3-Day Grandstand, Zones 3 &amp; 4 ticket
    </li>
    <li>
        From, £1,320pp.*
    </li>
</ul>
<h2>
    <a href="https://www.firststopsingapore.com/place/singapore-airlines-singapore-grand-prix-package-premium-economy/?utm_source=guardian&utm_medium=editorial&utm_campaign=singaporegrandprix#EuRV2FzRV1wxwH5I.97" rel="nofollow" target="_blank" data-link-name="premium economy package">
        Premium Economy Package
    </a>
</h2>
<ul>
    <li>
        Return flights in Premium Economy with Singapore Airlines from London Heathrow
    </li>
    <li>
        3 nights in a Deluxe Room at the 5* Orchard Hotel Singapore, including breakfast
    </li>
    <li>
        3-Day Premier Walkabout, Zones 1–4 ticket
    </li>
    <li>
        From, £2,745pp.**
    </li>
</ul>
<h2>
    <a href="https://www.firststopsingapore.com/place/singapore-airlines-singapore-grand-prix-package-business-class/#WIoGlrmGwhE3r3Bz.97" rel="nofollow" target="_blank" data-link-name="business package">
        Business Package
    </a>
</h2>
<ul>
    <li>
        Return flights in Business Class with Singapore Airlines from London Heathrow
    </li>
    <li>
        3 nights at the 5* the Ritz-Carlton Millenia in a Deluxe Marina Room, including breakfast
    </li>
    <li>
        3-Day Singapore Airlines Lounge&#64;Turn 3 Hospitality Suite
    </li>
    <li>
        From, £9,965pp.***
    </li>
</ul>

<p>
    Terms & conditions <a href="https://www.firststopsingapore.com/terms-conditions/#ufXZU5mhgBsS7c3b.97" rel="nofollow" target="_blank" data-link-name="terms and conditions">here</a>.
</p>

<p>
    More information <a href="https://www.firststopsingapore.com/singapore-airlines-singapore-grand-prix-packages/?utm_source=guardian&utm_medium=editorial&utm_campaign=singaporegrandprix#t7hLkcqvDpuw5KkA.97" rel="nofollow" target="_blank" data-link-name="more information">here</a>.
</p>

@fragments.imageFigure(
    ImageMedia.make(Seq(ImageAsset.make(Asset(AssetType.Image, Some("image/jpeg"), Some("http://media.guim.co.uk/5f5cf9526a54b50510d5e691de46bf02531938ef/0_0_2560_574/2000.jpg"), typeData = Some(AssetFields(width = Some(2560), height = Some(574)))), 0))),
    lightboxIndex = None,
    widthsByBreakpoint = ImageContentMedia.inline
)
<br/>
<h2>
    2) Travel agent
</h2>
<p>
    Another great option is to combine your visit with a side trip. Singapore Airlines and Trailfinders
    have teamed up to offer some dual-destination F1 packages – pick from Singapore and Phuket,
    Singapore and Borneo, or Singapore and Sydney. Wherever you decide to go, you can take
    advantage of big savings; there are also slashed-price flights just to Singapore, if you’ve got a one-
    track mind.
</p>
<p>
    Explore our packages
    <a href="http://www.trailfinders.com/?utm_source=guardian&utm_medium=editorial&utm_campaign=singaporegrandprix" rel="nofollow" target="_blank" data-link-name="travel packages">here</a>.
</p>
<h2>
    Singapore Explorer Pass
</h2>
<p>
    When you’re booking your flights, don’t forget to add on a
    <a href="https://www.firststopsingapore.com/product/singapore-explorer-pass/#H7Dxpu6eqErYk5yo.97" rel="nofollow" target="_blank" data-link-name="Singapore explorer pass">
        Singapore Explorer Pass
    </a>,
    which will give
    you one-time access over 20 attractions and benefits over the duration of your purchased pass.
    The list includes: Alive Museum, Cable Car (two-way), Gardens By the Bay, Jurong Bird Park, the
    National Orchid Garden, a Singapore River Cruise, Science Centre &amp; IMAX movie, Sentosa
    admission, Images of Singapore LIVE, Madame Tussauds – plus much more. Passes aren’t sold in
    Singapore, and can only be bought from your local Singapore Airlines office, or from travel agents
    prior to your arrival into Singapore. Your Singapore Grand Prix experience: sorted.
</p>

<h1>
    Get your flights, hotel and GP ticket for less at <a href="http://sianightrace.com" rel="nofollow" target="_blank" data-link-name="sianightrace.com">sianightrace.com</a>
</h1>
