.fc-sublinks {
    margin-top: $gs-baseline * .5;
}

.fc-sublinks__item {
    position: relative;
    padding-top: $gs-baseline * .25;
    margin-top: $gs-baseline * .75;

    a {
        display: block;
    }
}

.fc-sublinks__item-title {
    @include fs-headline(1);
    font-weight: 500;
    padding-top: 0;
    margin: 0;

    &:before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 40%;
        border-top: 1px dotted $c-neutral3;
    }
}

@mixin fc-sublinks--horizontal {
    .fc-item__footer--vertical {
        display: none;
    }

    .fc-item__footer--horizontal {
        display: block;
        clear: both;
        @include flex-basis(100%);
    }

    .has-flex-wrap & {
        .fc-sublinks {
            @include flex-display;
        }
        .fc-sublinks__item {
            @include flex(1, 1, 100%);
            margin-right: $gs-gutter;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .has-no-flex-wrap & {
        .fc-sublinks {
            display: table;
            table-layout: fixed;
            width: 100%;
        }
        .fc-sublinks__item {
            display: table-cell;
            padding-right: $gs-gutter;

            &:last-child {
                padding-right: 0;
            }
        }
    }
}
