%tone-has-background {
    .fc-item__footer--vertical {
        padding-bottom: $gs-baseline * .25;
    }

    &.fc-item--has-cutout {
        padding-bottom: 0;
    }

    .fc-item__content,
    .fc-item__footer--horizontal {
        padding-left: $fc-item-gutter;
        padding-right: $fc-item-gutter;
    }
}

%tone-not-background {
    &.fc-item--list-media-mobile,
    &.fc-item--list-media-large-mobile {
        .fc-item__title {
            @include mq($until: tablet) {
                padding-top: 0;
            }
        }
    }

    &.fc-item--three-quarters-tablet,
    &.fc-item--three-quarters-right-tablet,
    &.fc-item--full-tablet,
    &.fc-item--mega-full-tablet {
        .fc-item__title {
            @include mq(tablet) {
                padding-top: 0;
            }
        }
    }

    &.fc-item--list-media-mobile,
    &.fc-item--list-media-large-mobile {
        .fc-item__header,
        .fc-item__standfirst,
        .fc-item__meta {
            @include mq($until: tablet) {
                padding-left: $fc-item-gutter;
                padding-right: $fc-item-gutter;
            }
        }
    }

    &.fc-item--list-media-tablet {
        .fc-item__header,
        .fc-item__standfirst,
        .fc-item__meta {
            @include mq(tablet) {
                padding-left: $fc-item-gutter;
                padding-right: $fc-item-gutter;
            }
        }
    }

    &.fc-item--list-media-desktop {
        .fc-item__header,
        .fc-item__standfirst,
        .fc-item__meta {
            @include mq(desktop) {
                padding-left: $fc-item-gutter;
                padding-right: $fc-item-gutter;
            }
        }
    }
}

@import 'item-tones/tone-news';
@import 'item-tones/tone-live';
@import 'item-tones/tone-comment';
@import 'item-tones/tone-feature';
@import 'item-tones/tone-analysis';
@import 'item-tones/tone-media';
@import 'item-tones/tone-review';
@import 'item-tones/tone-dead';
@import 'item-tones/tone-podcast';
@import 'item-tones/tone-editorial';
