<!DOCTYPE HTML>
<html lang="en-us">
  <head>
    <title>Reqwest tests</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/node_modules/sink-test/src/sink.css" type="text/css">
    <script src="/node_modules/valentine/valentine.js"></script>
    <script src="/node_modules/sink-test/src/sink.js"></script>
    <script src="/tests/ender.js"></script>
    <script src="/src/reqwest.js"></script>
    <script src="/src/ender.js"></script>
    <style type="text/css">
      #fixtures {
        position: absolute;
        top: -9999em;
      }
    </style>
  </head>
  <body>
    <h1>Reqwest Tests</h1>
    <div id="fixtures">
      <form action="/foo" method="post">
        <input type="submit" value="Continue">
        <input type="text" name="foo" value="bar">
        <input type="hidden" name="bar" value="baz">
        <input type="checkbox" name="wha" checked value="1">
        <input type="checkbox" name="wha" value="2">
        <input type="checkbox" name="wha" checked value="3">
        <input type="radio" name="who" value="one">
        <input type="radio" name="who" checked value="tawoo">
        <input type="radio" name="who" value="three">
        <input type="text" name="$escapable name$" value="escapeme" />
        <select name="choices">
          <option>one</option>
          <option selected>two</option>
          <option>tres</option>
        </select>
        <textarea name="opinions">world peace is not real</textarea>
      </form>
      <form action="/baa" method="get">
        <textarea name="T3" rows="2" cols="15">?
A B
Z</textarea>
        <input type="hidden" name="H1" value="x" />       <!-- 0 -->
        <input type="hidden" name="H2" />                 <!-- 1 -->
        <input type="password" name="PWD1" value="xyz" /> <!-- 2 -->
        <input type="password" name="PWD2" />             <!-- 3 -->
        <input type="text" name="T1" />                   <!-- 4 -->
        <input type="text" name="T2" value="YES" readonly="readonly" /> <!-- 5 -->
        <input type="checkbox" name="C1" value="1" />     <!-- 6 -->
        <input type="checkbox" name="C2" />               <!-- 7 -->
        <input type="radio" name="R1" value="1" />        <!-- 8 -->
        <input type="radio" name="R1" value="" />         <!-- 9 -->
        <input type="text" name="My Name" value="me" />   <!-- 10 -->
        <input type="reset" name="rst" value="NO" />      <!-- 11 -->
        <input type="file" name="file" />                 <!-- 12 -->
        <input type="submit" name="sub" value="NO" />     <!-- 13 -->
        <select name="S1"></select>                       <!-- 0 -->
        <select name="S2">                                <!-- 1 -->
          <option value="abc">ABC</option>
          <option value="def">DEF</option>
          <option value="ghi">GHI</option>
          <option value="jkl">JKL</option>
          <option value="mno">MNO</option>
          <option value="pqr">PQR</option>
          <option value="disco stu">DISCO STU!</option>
          <option value="vwx">VWX</option>
          <option value="yz">YZ</option>
          <option value="">no no no!</option>
        </select>
        <select name="S3">                                <!-- 2 -->
          <option>ABC</option>
          <option>DEF</option>
          <option>GHI</option>
          <option>JKL</option>
          <option>MNO</option>
          <option>PQR</option>
          <option>DISCO STU!</option>
          <option>VWX</option>
          <option>YZ</option>
        </select>
        <select name="S4" multiple="multiple" size="3">   <!-- 3 -->
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
          <option value="4">Four</option>
          <option value="5">Five</option>
          <option value="6">Six</option>
          <option>Seven</option>
          <option>Eight</option>
          <option>Disco Stu!</option>
        </select>
        <input type="text" name="D1" value="NO" disabled="disabled" />  <!-- 14 -->
        <input type="checkbox" name="D2" value="NO" checked="checked" disabled="disabled" />  <!-- 15 -->
        <input type="radio" name="D3" value="NO" checked="checked" disabled="disabled" />  <!-- 16 -->
        <select name="D4" disabled="disabled"><option selected="selected" value="NO">NO</option></select> <!-- 4 -->
        <select name="D5"><option selected="selected" value="NO" disabled="disabled">NO</option></select> <!-- 5 -->
        <select name="D4" disabled="disabled "multiple="multiple" size="3"><option selected="selected" value="NO">NO</option></select> <!-- 6 -->
        <select name="D5" multiple="multiple" size="3"><option selected="selected" value="NO" disabled="disabled">NO</option></select> <!-- 7 -->
      </form>
    </div>
    <ol id="tests"></ol>
    <script src="/tests/tests.js"></script>
  </body>
</html>
