<form class="search" action="http://www.guardianholidayoffers.co.uk/Search">
    <label for="traveloffer" class="u-h">Find hand picked holidays for hundreds of destinations</label>
    <input id="traveloffer" name="search" class="search__input" type="text" placeholder="Find your perfect holiday">
    <button type="submit" class="u-button-reset search__submit" data-link-name="merchandising-travel-v2_1_2014-07-04-low-search">
        @fragments.inlineSvg("search-36", "icon")
        <span class="u-h">Find your perfect holiday</span>
    </button>
</form>
