@(travelOffer: model.commercial.travel.TravelOffer, clickMacro: Option[String])(implicit request: RequestHeader)

<li class="lineitem lineitem--multi lineitems__item">
    <div class="commercial--travel commercial--tone-travel">
        <div class="commercial--multi__header">
            <h4 class="commercial__title">
                <a href="@{clickMacro}http://www.guardianholidayoffers.co.uk/" data-link-name="merchandising-hybrid-travel-visit-all">
                    @fragments.inlineSvg("logo-holidayoffers-26", "commercial", List("commercial--tone-holidayoffers-logo"))
                    <span class="u-h">Holiday Offers</span>
                </a>
            </h4>
        </div>
        <div class="commercial--multi__body">
            <a class="lineitem__link" href="@clickMacro@travelOffer.offerUrl">
                <div class="lineitem__image-right">
                    <div class="lineitem__image-crop">
                        <img class="lineitem__image" src="@travelOffer.imageUrl" alt=""/>
                    </div>
                </div>
                <h4 class="lineitem__title">@travelOffer.title</h4>
                <div class="lineitem__offer">
                    <p class="lineitem__meta">@travelOffer.durationInWords from <span class="lineitem__price">£@travelOffer.fromPrice</span></p>
                </div>
            </a>
            <a class="lineitem__cta button button--primary button--small" href="@clickMacro@travelOffer.offerUrl">
                Book now@fragments.inlineSvg("arrow-right", "icon", List("i-right"))
            </a>
        </div>
    </div>
</li>
