@(offers: Seq[model.commercial.travel.TravelOffer], omnitureId: Option[String], clickMacro: Option[String])(implicit request: RequestHeader)

@import conf.Configuration

@defining(("2_1", "2014-07-04")) { case (version, date) =>
    <div class="commercial commercial--travel commercial--tone-travel commercial--low commercial-standard" data-link-name="commercial-low | travel | @omnitureId">
        <div class="commercial__inner">
            <div class="commercial__header">
                <h3 class="commercial__title">
                    <a href="@clickMacro@Configuration.commercial.travel_url/" data-link-name="merchandising-travel-v@{version}_@{date}-low-title">
                        @fragments.inlineSvg("marque-54", "icon")
                        @fragments.inlineSvg("logo-guardian", "logo")
                        @fragments.inlineSvg("logo-holidayoffers", "commercial", List("inline-commercial-brand"))
                        <span class="u-h">The Guardian</span> <span class="u-h">Holiday Offers</span>
                    </a>
                </h3>
                <form class="commercial__search" action="@Configuration.commercial.travel_url/Search">
                    <div class="commercial__search__inner">
                        <label for="traveloffer" class="u-h">Find hand picked holidays for hundreds of destinations</label>
                        <input id="traveloffer" name="search" class="commercial__search__input" type="text" placeholder="Find your perfect holiday" />
                        <button type="submit" class="u-button-reset commercial__search__submit" data-link-name="merchandising-travel-v@{version}_@{date}-low-search">
                            @fragments.inlineSvg("search-36", "icon")
                            <span class="u-h">Find your perfect holiday</span>
                        </button>
                        <input value="%JustOmnitureToken%" name="INTCMP" type="hidden" />
                    </div>
                </form>
                <a class="commercial__cta button button--tertiary button--large" href="@clickMacro@Configuration.commercial.travel_url" data-link-name="merchandising-travel-v@{version}_@{date}-low-visit-shop">
                    @fragments.inlineSvg("arrow-right", "icon", List("i-right"))
                    <span class="commercial__cta__label">View <span class="hide-on-mobile-inline">more great</span> deals</span>
                </a>
            </div>

            <div class="commercial__body">
                <ul class="lineitems">
                    @offers.take(4).map { offer =>
                        <li class="lineitem">
                            <a class="lineitem__link" href="@clickMacro@offer.offerUrl" data-link-name="merchandising-travel-v@{version}_@{date}-low-@{offer.title}">
                                <div class="lineitem__image-crop"><img class="lineitem__image" src="@offer.imageUrl" alt=""/></div>
                                <h4 class="lineitem__title">@offer.title</h4>
                                <p class="lineitem__meta">@offer.durationInWords from <span class="lineitem__price">£@offer.fromPrice</span></p>
                            </a>
                            <a class="lineitem__cta button button--primary button--small" href="@clickMacro@offer.offerUrl" data-link-name="merchandising-travel-v@{version}_@{date}-low-@{offer.title}-book-now">
                                Book now@fragments.inlineSvg("arrow-right", "icon", List("i-right"))
                            </a>
                        </li>
                    }
                </ul>
            </div>

        </div>
    </div>
}
