@(page: model.Page)(implicit request: RequestHeader, context: model.ApplicationContext)

@import play.api.Mode.Dev
@import views.support.Commercial.listSponsorLogosOnPage
@import views.support.{Commercial, GoogleAnalyticsAccount}
@import conf.Configuration
@import common.Edition
@import navigation.NavMenu

<script id='google_analytics'>

@defining(NavMenu(page, Edition(request))) { navMenu: NavMenu =>
    var pillar = '@{navMenu.currentPillar.map(_.title).getOrElse("")}';
}

// This is to prevent console errors from code calling window.ga for sessions where we have not loaded the tracking script
// (where the user has not given their consent for GA tracking)
window.ga = function() {};

window.guardian.googleAnalytics.initialiseGa = function() {
    // Remove spaces from content type and convert it to lower case
    function convertContentType(contentType) {
        var result = contentType;
        if (typeof contentType === 'string') {
            result = contentType.toLowerCase().split(' ').join('');
        }
        return result;
    }

    function getQueryParam(key) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        var pairs = vars.map(function(x) { return x.split('=')});
        return pairs.filter(function(xs) { return xs.length == 2 && xs[0] == key })
            .map(function(xs) { return xs[1] })[0];
    }

    function getAnalyticsEdition() {
        var edition = (guardian.config.page.edition || '').toLowerCase()
        return edition === 'int' ? 'international' : edition;
    }

    function getAnalyticsTitle() {
        var analyticsTitle = (guardian.config.page.webTitle || '');
        return (analyticsTitle === 'Network Front') ? getAnalyticsEdition() + ' network front' : analyticsTitle;
    }

    // Please email Dotcom Platform before changing this value
    function getExperienceValue() {
        // return 'none' if you're not testing anything
        if (guardian.config.page.dcrCouldRender) {
            return 'dcrCouldRender';
        } else {
            return 'none';
        }
    }

    var identityId = null;
    if (guardian.config.user) {
        identityId = guardian.config.user.id;
    }
    var isLoggedIn = (!!identityId).toString();

    // If we have stubbed window.ga = function() {};, remove the stub before Google attempts
    // to initialise it properly (it will not get initialised if the stub already exists)
    delete window.ga;
    @***************************************************************************************
    * Standard copy 'n paste Google Analytics code                                         *
    ***************************************************************************************@
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    @***************************************************************************************
    * Code that is customised by us                                                        *
    ***************************************************************************************@
    window.guardian.config.page.gaIsInitalised = true;
    @for(tracker <- Seq(GoogleAnalyticsAccount.editorialProd, GoogleAnalyticsAccount.editorialTest)) {
        ga('create', '@tracker.trackingId', 'auto', '@tracker.trackerName', {
            'sampleRate': @{ if (context.environment.mode == Dev) 100 else tracker.samplePercentage },
            'siteSpeedSampleRate': @{ if (context.environment.mode == Dev) 100 else tracker.siteSpeedSamplePercentage }
        });
    }

    @for(trackerName <- Seq(GoogleAnalyticsAccount.editorialProd.trackerName, GoogleAnalyticsAccount.editorialTest.trackerName)) {
        ga('@{trackerName}.set', 'forceSSL', true);

        ga('@{trackerName}.set', 'title', getAnalyticsTitle());

        ga('@{trackerName}.set', 'anonymizeIp', true);

        @***************************************************************************************
        * Custom dimensions common to all platforms across the whole Guardian estate           *
        ***************************************************************************************@
        ga('@{trackerName}.set', 'dimension3', 'theguardian.com'); @* Platform *@

        @***************************************************************************************
        * Custom dimensions for 'editorial' platforms (this site, the mobile apps, etc.)       *
        * Some of these will be undefined for non-content pages, but that's fine.              *
        ***************************************************************************************@
        ga('@{trackerName}.set', 'dimension4', guardian.config.page.section);
        ga('@{trackerName}.set', 'dimension5', convertContentType(guardian.config.page.contentType));
        ga('@{trackerName}.set', 'dimension6', guardian.config.page.commissioningDesks);
        ga('@{trackerName}.set', 'dimension7', guardian.config.page.contentId);
        ga('@{trackerName}.set', 'dimension8', guardian.config.page.authorIds);
        ga('@{trackerName}.set', 'dimension9', guardian.config.page.keywordIds);
        ga('@{trackerName}.set', 'dimension10', guardian.config.page.toneIds);
        ga('@{trackerName}.set', 'dimension11', guardian.config.page.seriesId);
        ga('@{trackerName}.set', 'dimension16', isLoggedIn);
        ga('@{trackerName}.set', 'dimension21', getQueryParam('INTCMP')); @* internal campaign code *@
        ga('@{trackerName}.set', 'dimension22', getQueryParam('CMP_BUNIT')); @* campaign business unit*@
        ga('@{trackerName}.set', 'dimension23', getQueryParam('CMP_TU')); @* campaign team*@
        ga('@{trackerName}.set', 'dimension26', (!!guardian.config.page.isHosted).toString());
        ga('@{trackerName}.set', 'dimension27', navigator.userAgent);
        ga('@{trackerName}.set', 'dimension29', window.location.href);
        ga('@{trackerName}.set', 'dimension30', getAnalyticsEdition());
        @for(sponsorLogos <- listSponsorLogosOnPage(page)) {
          ga('@{trackerName}.set', 'dimension31', '@Html(sponsorLogos.mkString("|"))');
        }
        @for(brandingType <- Commercial.brandingType(page)) {
          ga('@{trackerName}.set', 'dimension42', '@brandingType.name');
        }
        ga('@{trackerName}.set', 'dimension43', getExperienceValue()); @* 'Experience' dimension, for short-lived experiment values. *@
        ga('@{trackerName}.set', 'dimension50', pillar);

        if(document.location.hash === '#fbLogin') {
            ga('@{trackerName}.set', 'referrer', null);
            document.location.hash = '';
        }

    }

    @defining(GoogleAnalyticsAccount.editorialTracker(context).trackerName) { trackerName =>

        ga('@{trackerName}.send', 'pageview');

        @*
        If there is internal link click data in session storage, send a click event.?:

        We remove the entry from session storage after reading it.
        *@

        try {
            var NG_STORAGE_KEY = 'gu.analytics.referrerVars';
            var referrerVarsData = window.sessionStorage.getItem(NG_STORAGE_KEY);
            var referrerVars = JSON.parse(referrerVarsData);
            if (referrerVars && referrerVars.value) {
                var d = new Date().getTime();
                if (d - referrerVars.value.time < 60 * 1000) { // One minute
                    ga('@{trackerName}.send', 'event', 'Click', 'Internal', referrerVars.value.tag, {
                        nonInteraction: true, // to avoid affecting bounce rate
                        dimension12: referrerVars.value.path
                    });
                }
                window.sessionStorage.removeItem(NG_STORAGE_KEY);
            }
        } catch (e) { }

    }

    // Mediator will be intialised if we need to use this, otherwise just use GA straight away
    guardian.app && guardian.app.mediator && guardian.app.mediator.emit('modules:ga:ready');

};
</script>
