; This file is for unifying the coding style for different editors and IDEs.
; More information at http://EditorConfig.org

root = true

[*]
; Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true

; tabs are evil
indent_style = space
indent_size = 2

; always UTF-8
charset= utf-8

trim_trailing_whitespace = true
