.survey-close {
    position: absolute;
    cursor: pointer;
    width: 32px;
    height: 32px;
    top: 20px;
    right: 20px;

    svg {
        margin-top: 5px;
        width: 14px;
        height: 14px;
    }
}

.survey-overlay-simple {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    z-index: $zindex-overlay;
    width: 100%;
    height: 100%;


    .site-message__close-btn {
        @include mq($until: tablet) {
            position: static;
        }

    }

    .survey-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 7.5%;
        right: 7.5%;
        max-height: 90%;
        padding: $gs-row-height $gs-column-width*.5;
        background-color: #01558b;
        color: #ffffff;
        box-sizing: border-box;

        @include mq(tablet) {
            left: 50%;
            top: percentage(1/3);
            width: $gs-column-width * 10;
            height: auto;
            margin-left: -$gs-column-width * 5;
        }

    }

    .survey-logo {
        position: absolute;
        bottom: 25px;
        right: 20px;

        svg {
            fill: #ffffff;
            width: 26px;
        }
    }

    .survey-icon {
        text-align: center;
        margin-bottom: $gs-baseline;

        svg {
            width: 100px;
            height: 100px;
            margin-top: -20px;

            @include mq(mobileLandscape) {
                display: none;
            }

            @include mq(tablet) {
                display: inline;
                width: 150px;
                height: 150px;
            }

        }
    }

    .survey-text__header {
        @include fs-headline(4);
        color: #ffffff;
        font-weight: bold;
        margin-bottom: $gs-column-width/2;

        @include mq(mobile) {
            margin-bottom: $gs-column-width/4;
        }

        @include mq(mobileLandscape) {
            @include fs-headline(5);
            font-weight: bold;
            margin: -27px 50px $gs-column-width/2 0;
        }

        @include mq(tablet) {
            margin: 0 0 $gs-column-width/2;
        }
    }

    .survey-content {
        padding-right: 30px;

        @include mq(tablet) {
            position: static;
            bottom: 35px;
            padding: 0;
        }
    }

    .survey-text__info {
        @include fs-bodyCopy(1);
        font-size: 14px;
        line-height: 120%;
        margin: 0 $gs-gutter $gs-column-width/4 0;

        .text-link {
            color: #ffffff;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .survey-links {
        overflow: hidden;
        margin: $gs-column-width/2 0 $gs-column-width/4;
    }

    .survey-link {
        @include clearfix;
        @include circular;

        padding-left: 10px;
        margin-right: $gs-gutter / 2;
        border: 1px solid rgba(#ffffff, .3);
        float: left;

        @include mq($until: mobile) {
            margin-bottom: $gs-row-height / 4;
        }
    }

    .survey-link__takepart {
        @include fs-textSans(2);
        color: #ffffff;
        display: block;
        float: left;
        padding: 0 8px;
        line-height: $gs-column-width/2;
    }

    .inline-arrow-white-right {
        display: block;
        float: right;
        height: $gs-column-width/2;
    }
}
