@import com.gu.contententity.thrift.entity.film.Film
@import org.joda.time.DateTime
@import play.api.libs.json.Json
@import play.api.libs.json.JsArray
@import model.Tag
@import model.content.ReviewAtom
@import conf.Configuration

@(review: model.content.ReviewAtom, entity: Film, contributors: Seq[Tag])(implicit request: RequestHeader)

<script type="application/ld+json">
{
  "@@context":"http://schema.org",
  "@@type":"Review",
  "author": @fragments.atoms.structureddata.contributor(review.data.reviewer, contributors),
  @review.data.sourceArticleId.map { articleId => "url" : "https://www.theguardian.com/@{articleId}",}
  @review.atom.contentChangeDetails.published.map { published => "datePublished": "@{new DateTime(published.date).toString("yyyy-MM-dd'T'HH:mm:ssZ")}",}
  @review.atom.contentChangeDetails.lastModified.map { modified => "dateModified": "@{new DateTime(modified.date).toString("yyyy-MM-dd'T'HH:mm:ssZ")}",}
  "publisher": {
      "@@type":"Organization",
      "name":"The Guardian",
      "sameAs": "@Configuration.site.host"
  },
  "description":"@review.data.reviewSnippet",
  "inLanguage":"en",
  "itemReviewed": {
    "@@type":"Movie",
    "name": "@entity.title",
    "sameAs": "http://www.imdb.com/title/@entity.imdbId",
    @review.atom.contentChangeDetails.created.map { created => "dateCreated": "@{new DateTime(created.date).toString("yyyy-MM-dd'T'HH:mm:ssZ")}",}
    "director" : @Html(people(entity.directors.toSeq.map(_.fullName))),
    "actor" : @Html(people(entity.actors.toSeq.map(_.fullName))),
    @review.data.images.map(_.toSeq).flatMap(ReviewAtom.getLargestImageUrl).map { img => "image": "@img" }
  },
  "reviewRating": {
    "@@type": "Rating",
    "worstRating":@review.data.rating.minRating.toInt,
    "bestRating":@review.data.rating.maxRating.toInt,
    "ratingValue": @review.data.rating.actualRating.toInt
  }
}
</script>

@people(names: Seq[String]) = @{
    Json.stringify(JsArray(names.map(name => Json.parse(s" ${fragments.atoms.structureddata.person(name)} "))))
}
