@(recipe: model.content.RecipeAtom)(implicit request: RequestHeader)
@import play.api.libs.json.Json
@import views.support.{ImgSrc, GoogleStructuredData}

<script type="application/ld+json">
     {
      "@@context": "http://schema.org/",
      "@@type": "Recipe",
      "name": "@recipe.data.title",
      @for(category <- recipe.data.tags.category) {"recipeCategory": "@category",}
      @recipe.data.images.headOption.map {img => "image": "@imgValue(img)",}
      @recipe.data.credits.headOption.map { name => "author": {
          "@@type": "Person",
          "name": "@name"
        },
      } 
      @recipe.atom.contentChangeDetails.published.map { published => "datePublished": "@published",}
     
     @* 
     TODO - We do not have this description and rating in the model yet  
     "description": "Mango, strawberries, and sweetened dried cranberries are a vibrant addition to mixed greens tossed with an oil and balsamic vinegar dressing.",
     "aggregateRating": {
       "@@type": "AggregateRating",
       "ratingValue": "5",
       "reviewCount": "52"
     },
     *@

     @recipe.data.time.preparation.map {minutes => "prepTime": "@formatDuration(minutes)",}
     @recipe.data.time.cooking.map {minutes => "cookTime": "@formatDuration(minutes)",}
     
     @* TODO - @recipe.data.time.total.map {minutes => "totalTime": "@formatDuration(minutes)",}  *@

     @recipe.data.serves.map { serves => "recipeYield": "@yieldValue(serves)",}

     @*
     TODO - We do not have nutrition in the model yet  
     "nutrition": {
       "@@type": "NutritionInformation",
       "servingSize": "1 bowl",
       "calories": "319 cal",
       "fatContent": "20.2 g"
     },
     *@
     "recipeIngredient": @Html(Json.stringify(Json.toJson(ingredientValues(recipe.data.ingredientsLists.flatMap(_.ingredients))))),
     "recipeInstructions": @Html(Json.stringify(Json.toJson(recipe.data.steps.zipWithIndex.map { case(step,index) => s"$index. $step" })))
    }
</script>

@imgValue(image: com.gu.contentatom.thrift.Image) = @{
    val media =  model.content.MediaAtom.imageMediaMake(image, "")
    ImgSrc.findLargestSrc(media, GoogleStructuredData).getOrElse("")
}

@formatDuration(mins: Short) = @{s"PT${mins}M"}

@yieldValue(serves: com.gu.contentatom.thrift.atom.recipe.Serves) = @{
    serves.`type` match {
        case "serves" => if (serves.from == serves.to) s"${serves.from} servings" else s"from ${serves.from} to ${serves.to} servings"
        case "makes" => if (serves.from == serves.to) s"${serves.from} ${serves.unit}" else s"from ${serves.from} to ${serves.to} ${serves.unit}"
        case "quantity" => if(serves.from == serves.to) s"${serves.from} portions" else s"from ${serves.from} to ${serves.to} portions"
    }
}

@*
  TODO - ingredient unit could be improved 1/8 instead of 0.125 for instance depending on the unit 
*@
@ingredientValues(ingredients: Seq[com.gu.contentatom.thrift.atom.recipe.Ingredient]) = @{
    ingredients.map { ingredient =>
        val q = ingredient.quantity
          .map(formatQuantity)
          .orElse(ingredient.quantityRange.map(range => s"${formatQuantity(range.from)}-${formatQuantity(range.to)}" ))
          .getOrElse("")
        s"""${q} ${formatUnit(ingredient.unit.getOrElse(""))} ${ingredient.item}"""
    }
}

@formatUnit(unit: String) = @{
        unit match {
            case "dsp" => "dessert spoon"
            case "tsp" => "teaspoon"
            case "tbsp" => "tablespoon" 
            case _ => unit
        }
}

@formatQuantity(q: Double) = @{
    q match {
        case qty if qty == qty.toInt => qty.toInt 
        case 0.75 => "3/4"
        case 0.5 => "1/2"
        case 0.25 => "1/4"
        case 0.125 => "1/8"
        case _ => q 
    }
}
