@(recipe: model.content.RecipeAtom)(implicit request: RequestHeader)
@import play.api.libs.json.Json
@import views.support.{ImgSrc, GoogleStructuredData}
@import org.joda.time.DateTime
@import cats.implicits._

<script type="application/ld+json">
     {
      "@@context": "http://schema.org/",
      "@@type": "Recipe",
      "name": "@recipe.data.title",
      @for(category <- recipe.data.tags.category) {"recipeCategory": "@category",}
      @recipe.data.images.headOption.map {img => "image": "@imgValue(img)",}
      @recipe.data.credits.headOption.map { name => "author": {
          "@@type": "Person",
          "name": "@name"
        },
      }
      @recipe.atom.contentChangeDetails.created.map { created => "dateCreated": "@{new DateTime(created.date).toString("yyyy-MM-dd'T'HH:mm:ssZ")}",}
      @recipe.atom.contentChangeDetails.published.map { published => "datePublished": "@{new DateTime(published.date).toString("yyyy-MM-dd'T'HH:mm:ssZ")}",}
      @recipe.atom.contentChangeDetails.lastModified.map { modified => "dateModified": "@{new DateTime(modified.date).toString("yyyy-MM-dd'T'HH:mm:ssZ")}",}

      "description": "a tasty @{recipe.data.tags.category.headOption.getOrElse("recipe")} with @{recipe.data.ingredientsLists.flatMap(_.ingredients).headOption.map(_.item).getOrElse("secrets ingredients! You need to know about them")}",
     
     @* 
     TODO - We do not have this description and rating in the model yet  
     
     "aggregateRating": {
       "@@type": "AggregateRating",
       "ratingValue": "5",
       "reviewCount": "52"
     },
     *@
      @recipe.data.time.preparation.map {minutes => "prepTime": "PT@{minutes}M",}
      @recipe.data.time.cooking.map {minutes => "cookTime": "PT@{minutes}M",}
      @recipe.data.time.preparation.combine(recipe.data.time.cooking).map { minutes => "totalTime": "PT@{minutes}M",}
      @recipe.data.serves.map { serves => "recipeYield": "@yieldValue(serves)",}
     @*
     TODO - We do not have nutrition in the model yet  
     "nutrition": {
       "@@type": "NutritionInformation",
       "servingSize": "1 bowl",
       "calories": "319 cal",
       "fatContent": "20.2 g"
     },
     *@
     "recipeIngredient": @Html(Json.stringify(Json.toJson(ingredientValues(recipe.data.ingredientsLists.flatMap(_.ingredients))))),
     "recipeInstructions": @Html(Json.stringify(Json.toJson(recipe.data.steps.zipWithIndex.map { case(step,index) => s"$index. $step" })))
    }
</script>

@imgValue(image: com.gu.contentatom.thrift.Image) = @{
    val media =  model.content.MediaAtom.imageMediaMake(image, "")
    ImgSrc.findLargestSrc(media, GoogleStructuredData).getOrElse("")
}

@yieldValue(serves: com.gu.contentatom.thrift.atom.recipe.Serves) = @{
    serves.`type` match {
        case "serves" => if (serves.from == serves.to) s"${serves.from} servings" else s"from ${serves.from} to ${serves.to} servings"
        case "makes" => if (serves.from == serves.to) s"${serves.from} ${serves.unit}" else s"from ${serves.from} to ${serves.to} ${serves.unit}"
        case "quantity" => if(serves.from == serves.to) s"${serves.from} portions" else s"from ${serves.from} to ${serves.to} portions"
    }
}

@ingredientValues(ingredients: Seq[com.gu.contentatom.thrift.atom.recipe.Ingredient]) = @{
    ingredients.map { ingredient =>
        val q = ingredient.quantity
          .map(formatQuantity)
          .orElse(ingredient.quantityRange.map(range => s"${formatQuantity(range.from)}-${formatQuantity(range.to)}" ))
          .getOrElse("")
        s"""${q} ${formatUnit(ingredient.unit.getOrElse(""))} ${ingredient.item}"""
    }
}

@formatUnit(unit: String) = @{
        unit match {
            case "dsp" => "dessert spoon"
            case "tsp" => "teaspoon"
            case "tbsp" => "tablespoon" 
            case _ => unit
        }
}

@formatQuantity(q: Double) = @{
    q match {
        case qty if qty == qty.toInt => qty.toInt.toString
        case 0.75 => "3/4"
        case 0.5 => "1/2"
        case 0.25 => "1/4"
        case 0.125 => "1/8"
        case _ => q.toString
    }
}
