.tonal__standfirst {
    padding-top: .375rem;
}

.tonal--tone-live {
    .content__standfirst {
        margin-bottom: 1.5rem;
        color: #ffffff;
    }
}

.tonal__standfirst {
    .tonal--tone-dead & {
        color: $multimedia-support-4;
        background-color: $neutral-5;
    }

    .tonal--tone-live & {
        background-color: $live-main-2;
    }
}

.tonal__header {
    .tonal--tone-live & {
        background-color: $live-main-1;
    }
}

.tonal--tone-live .tonal__standfirst ul>li:before,
.tonal--tone-live .tonal__standfirst .bullet:before {
    background-color: rgba(255, 255, 255, .4);
}

.tonal--tone-live .tonal__header .content__headline,
.tone-live .fc-item__title {
    color: #ffffff;
}

.tonal--tone-live .tone-colour,
.tonal--tone-dead .tone-colour {
    color: $live-main-1;
}

.tonal--tone-dead .tonal__standfirst .u-underline {
    color: $live-main-1;
    border-bottom-color: rgba(72, 72, 72, .3);
}

.tonal--tone-live .tonal__standfirst .u-underline {
    color: #ffffff;
    border-bottom-color: rgba(255, 255, 255, .3);
}
