html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 1.5;
    color: $neutral-1;
    background: rgba(51, 51, 51, .05);
}

.main-body {
    background: #ffffff;
    max-width: 600px;
    margin: 0 auto;
    overflow-x: hidden;
}

html,
body {
    text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

blockquote {
    margin: 0;
}

p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: ($gs-baseline/3)*2;
}

h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 7px;
}

b, strong {
    font-weight: 500;
}
