/*

List item. Looks a bit like this:

***********************************************
x x x x x x x x x x x x x x x x x x x x x x x
x x x x x x x x x x x x x x x x x x x x x x x x

***********************************************

 */

@mixin fc-item--list {
    $headline-size: 1;
    $item-vertical-padding: $gs-baseline * .25;

    .fc-item__title,
    .fc-item__byline {
        @include fs-headline($headline-size, true);
    }

    .fc-item__header {
        padding-bottom: get-line-height(headline, $headline-size);
    }

    .fc-item__header {
        margin-bottom: 0;
        padding-bottom: $gs-baseline * 1.666;
    }

    .fc-item__media-wrapper {
        display: none;
    }

    &.fc-item--has-cutout {
        .fc-item__avatar {
            display: none;
        }
    }

    .fc-sublinks {
        display: none;
    }
}
