/*

Full item. A 100% width version of the Three quarter item.

***********************************************************************************************
                             0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
                             0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
                             0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
                             0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
                             0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
                             0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
                             0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
                             0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
                             0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
                             0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
                             0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
************************************************************************************************

*/

@mixin fc-item--full {

    .fc-item__container {
        @include flex-direction(row-reverse);
    }

    .fc-item__media-wrapper {
        @include box-sizing(border-box);
        @include flex-basis(75%);
        width: 75%;
        float: right;
        padding-left: $gs-gutter * .25;
    }

    .fc-item__content {
        @include flex-basis(25%);
        width: 25%;
        @include box-sizing(border-box);
        padding-right: $gs-gutter * .5;
    }

    .fc-item__title,
    .fc-item__byline {
        @include fs-headline(3, true);

        @include mq(desktop) {
            @include fs-headline(5, true);
        }
    }

    .fc-item__header {
        padding-bottom: get-line-height(headline, 3);

        @include mq(desktop) {
            padding-bottom: get-line-height(headline, 5);
        }
    }

    .fc-item__standfirst {
        @include mq(tablet) {
            display: block;
        }
    }

    &.fc-item--has-no-image {
        .fc-item__standfirst {
            display: block;
        }
    }

    .fc-item__footer {
        clear: left;
    }

    &.fc-item--has-sublinks-3 {
        .fc-item__standfirst {
            display: none;
        }
    }

    &.fc-item--has-sublinks-4 {
        @include fc-sublinks-horizontal;

        .fc-sublinks {
            padding-right: 0;
        }
    }

    &.fc-item--has-cutout {
        // min-height: gs-height(6);

        .fc-item__title,
        .fc-item__byline {
            @include fs-headline(5, true);
        }

        .fc-item__title,
        .fc-item__standfirst,
        .fc-item__byline {
            // width: gs-span(6);
        }

        @include mq(desktop) {
            // min-height: gs-height(8);

            .fc-item__title,
            .fc-item__standfirst,
            .fc-item__byline {
                // width: gs-span(8);
            }
        }
    }
}
