/*

Media list item. Looks a bit like this:

***********************************************
0000000  x x x x x x x x x x x x x x x x x x x
0000000  x x x x x x x x x x x x x x x x x x x x
0000000
***********************************************

 */

@mixin fc-item--list-media {
    @include fc-item--list;

    // values to set image height
    $text-lines-per-media-object: 4;
    $headline-size: 1;

    // calculate image width
    $media-ratio: 5 / 3;
    $item-vertical-padding: $gs-baseline * .25;
    $item-min-height: (($item-vertical-padding * 2) + get-line-height(headline, $headline-size) * $text-lines-per-media-object);
    $image-width: $item-min-height * $media-ratio;

    min-height: $item-min-height;

    &.fc-item--has-image {
        // Override .svg .action--has-icon
        padding-left: $image-width !important;
    }

    &.fc-item--has-no-image {
        padding-left: $fc-item-gutter;
    }

    .fc-item__media-wrapper,
    .fc-item__image-container {
        display: block;
    }

    .fc-item__media-wrapper {
        float: left;
        margin-left: 0 - $image-width;
        width: $image-width;
    }
}
