@import common.commercial.CardContent
@import common.{Edition, LinkTo}
@import views.html.commercial.cards.itemLargeCard
@import views.html.commercial.containerWrapper
@import views.html.fragments.inlineSvg
@(card: CardContent,
  optLogo: Option[String],
  optCapiTitle: Option[String],
  optCapiLink: Option[String],
  optCapiAbout: Option[String],
  optCapiButtonText: Option[String],
  optCapiReadMoreUrl: Option[String],
  optCapiReadMoreText: Option[String],
  optSponsorType: Option[String],
  optSponsorLabel: Option[String],
  clickMacro: Option[String],
  omnitureId: String)(implicit request: RequestHeader)

@containerWrapper(Seq("legacy", "legacy-single", "capi", "tone-capi"),
                  Some(s"merchandising | capi | single $omnitureId"),
                  optBadge = Some(badge),
                  optKicker = Some(fragments.commercial.paidForMeta()),
                  optStamp = Some(stamp)){

    @optCapiLink.map { linkUrl =>
        <a href="@clickMacro@linkUrl" class="adverts__logo u-text-hyphenate" data-link-name="header link">@optCapiTitle</a>
    }.getOrElse {
        <span class="u-text-hyphenate">@optCapiTitle</span>
    }

}{

    <div class="adverts__row">
        @itemLargeCard(card, omnitureId)

        @for(moreButton <- optCapiReadMoreText) {
            <a href="@clickMacro@optCapiReadMoreUrl" class="hide-on-mobile button button--primary button--large" data-link-name="merchandising-single-more">
                @moreButton
                @fragments.inlineSvg("arrow-right", "icon", List("i-right"))
            </a>
        }
    </div>
}

@stamp = {

    <a @if(Edition(request).id == "AU") {
            href="@LinkTo("/guardian-labs-australia")"
        } else {
            href="@LinkTo("/guardian-labs")"
        }
        >
        @inlineSvg("glabs-logo", "logo")
        <span class='u-h'>Guardian Labs</span>
    </a>
}

@badge = {

    @optSponsorLabel
    <a href="@clickMacro@optCapiLink" data-link-name="logo link">
        @for(logoUrl <- optLogo) {<img class="adverts__badge__logo" src="@logoUrl" alt="">}
    </a>

}
