@(item: model.ContentType,
  version: String,
  date: String,
  clickMacro: Option[String])(implicit request: RequestHeader)

@import views.support.ImgSrc
@import views.html.fragments.inlineSvg

<a class="advert advert--capi @item match {
        case _: Video => { advert--video }
        case _: Audio => { advert--audio }
        case _: Gallery => { advert--gallery }
        case _ => { }
    }" href="@clickMacro@item.metadata.webUrl" data-link-name="merchandising-capi-v@{version}_@{date}-@item.metadata.webTitle">
    <h2 class="advert__title">
        @insertItemMediaIcon(item)
        @item.metadata.webTitle
    </h2>
    @item.trail.trailPicture.map { trailPictureContainer =>
        <div class="advert__image-container">
            <img class="advert__image" src="@ImgSrc.getFallbackUrl(trailPictureContainer)">
        </div>
    }
    @item.fields.trailText.map { trailText =>
        <p class="advert__standfirst">@Html(trailText)</p>
    }
    <div class="advert__meta">
        <time datetime="@item.trail.webPublicationDate.toString("yyyy-MM-dd'T'HH:mm:ssZ")"
            data-timestamp="@item.trail.webPublicationDate.getMillis"
            data-relativeformat="short">
            <span class="u-h">Published: </span>
            @Format(item.trail.webPublicationDate, "d MMM y")
        </time>
    </div>
</a>

@insertItemMediaIcon(item : model.ContentType) = @{
    item match {
        case _: Video => fragments.inlineSvg("video-icon", "icon")
        case _: Audio => fragments.inlineSvg("volume-high", "icon")
        case _: Gallery => fragments.inlineSvg("camera", "icon")
        case _ => ""
    }
}
