@(item: common.commercial.CardContent,
  omnitureId: String,
  optAdvertClassNames: Option[Seq[String]] = None,
  optClassNames: Option[Seq[String]] = None,
  useCardBranding: Boolean)(implicit request: RequestHeader)

@import views.html.fragments.commercial.contentLogo
@import views.html.fragments.inlineSvg
@import views.support.commercial.CssClassBuilder

<div class="@CssClassBuilder.linkFromLargeCard(item, optAdvertClassNames, optClassNames, useCardBranding)">
    <a href="@item.targetUrl"
       data-link-name="@omnitureId"
       class="advert__container"
        >
        <p class="advert__title">
            @for(icon <- item.icon){@inlineSvg(icon, "icon")}
            @item.headline
        </p>
        @if(useCardBranding) {
            @for(branding <- item.branding) {
                @contentLogo(branding)
            }
        }
    </a>
</div>
