<configuration>

    <contextName>frontend-admin</contextName>

    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/frontend-admin.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/frontend-admin.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n%xException</pattern>
        </encoder>
    </appender>

    <!-- DFP API logging -->
    <logger name="com.google.api.ads.dfp.lib.client.DfpServiceClient.soapXmlLogger" level="WARN"/>
    <logger name="com.google.api.client.http.HttpTransport" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="LOGFILE"/>
    </root>

</configuration>
