.explainer-snippet--guide {
    .explainer-snippet__image {
        float: left;
        margin-right: $gs-gutter / 2;
    }

    .explainer-snippet__item::before {
        content: '';
        display: block;
        width: 100px;
        height: 0;
        border-top: 1px dotted #ffffff;
    }

    .explainer-snippet__heading {
        color: $news-support-5;
        font-size: 18px;
    }
}
