.user__question {
    padding-bottom: $gs-baseline;
    overflow: auto;

    &.submeta {
        border: 0;
    }
}
.user__question-title {
    @include fs-headline(3);
    font-weight: 900;
    color: $news-main-1;
    border-top: 1px solid $news-main-2;
    padding-top: $gs-baseline / 2;

    @include mq($from: tablet) {
        @include fs-headline(4);
        font-weight: 900;
    }
}

.user__question-title--secondary {
    color: $neutral-1;
    display: block;
    font-size: $gs-baseline + 6;
    font-weight: 400;
}

.user__questions-text--wrapper {
    position: relative;
    overflow: hidden;
    background-color: $neutral-8;
    margin-bottom: 0px;
    padding-top: 6px;
    padding-bottom: 12px;

    &.is-clicked {
        background-color: $news-support-5;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    &.is-clicked + .js-storyquestion-submission-container {
        background-color: $news-support-5;
    }

    &:hover {
        background-color: $news-support-5;

        .user__question-upvote {
            background-color: $news-main-1;
            color: #ffffff;
        }
        cursor: pointer;
    }
}

.user__question-section {
    border-top: 1px dotted $neutral-6;
    margin-top: $gs-baseline * 2;

    h3 {
        @include fs-textSans(2);
        color: $neutral-2;
        font-weight: 200;
    }
}

.user__question-text {
    @include fs-headline(2);
    font-weight: 900;
    display: block;
    max-width: 77%;
    // font-size: 18px;
    float: left;
    color: $news-main-1;
    padding-left: $gs-baseline - 4;
    position: relative;
    margin-bottom: $gs-baseline;

    @include mq($from: tablet) {
        @include fs-headline(3);
        line-height: $gs-baseline * 2;
        max-width: 80%;
        font-weight: 900;
    }
}

.user__question-response {
    @include fs-textSans(3);
    clear: both;
    margin-top: $gs-baseline;
    margin-bottom: $gs-baseline;
    font-size: $gs-baseline + 2;
    line-height: $gs-baseline + 4;
    width: 90%;
    display: block;

    @include mq($from: tablet) {
        clear: none;
        margin-top: 0;
        font-size: $gs-baseline + 4;
    }
}

.user__question-upvote {
    @include fs-textSans(3);
    right: 8px;
    bottom: 10px;
    position: absolute;
    color: $news-main-1;
    font-weight: 900;
    border: 1px solid #005689;
    padding-top: $gs-baseline / 3;
    float: right;
    outline: 0;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    background-color: transparent;

    &:hover {
        text-decoration: none;
    }

    .inline-tick {
        border-radius: 50%;
        height: 12px;
        width: 12px;
        border: 1px solid $news-main-1;
        padding: 3px;
        margin-left: $gs-baseline;
        display: block;
        float: right;
    }

    .inline-tick__svg {
        width: 12px;
        height: 9px;
        margin-bottom: $gs-baseline / 4;

        path {
            fill: $news-main-1;
        }
    }
}
.storyquestion-submission-container {
    overflow: hidden;
    padding-left: 8px;
    margin-bottom: 12px;
}

.storyquestion-email-signup-form.form {
    margin: 0;

    .form-field {
        float: left;
        width: 50%;
        margin-bottom: 12px;
    }

    .text-input {
        border-bottom-left-radius: 28px;
        border-top-left-radius: 28px;
        font-size: 14px;
    }

    .button--primary {
        height: 36px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

}
