.user__question {
    padding-bottom: $gs-baseline;
    overflow: auto;

    &.submeta {
        border: 0;
        padding: 16px;
    }
}
.user__question-title {
    @include fs-headline(3);
    font-weight: 900;
    color: $news-main-1;
    border-top: 1px solid $news-main-2;
    padding-top: $gs-baseline / 2;

    @include mq($from: tablet) {
        @include fs-headline(4);
        font-weight: 900;
    }
}

.user__question-title--secondary {
    color: $neutral-1;
    display: block;
    font-size: 18px;
    font-weight: 400;
}

.user__questions-text--wrapper {
    position: relative;
    overflow: hidden;
    background-color: $neutral-8;
    margin-bottom: 0;
    padding-top: $gs-baseline / 2;
    padding-bottom: $gs-baseline;

    &.is-clicked {
        background-color: $news-support-5;
        padding-bottom: 0;
    }

    &.is-clicked + .storyquestion-submission-container {
        background-color: $news-support-5;
    }

    &:hover {
        background-color: $news-support-5;

        .user__question-upvote {
            background-color: $news-main-1;
            color: #ffffff;
        }
        cursor: pointer;
    }
}

.user__question-section {
    border-top: 1px dotted $neutral-6;
    margin-top: $gs-baseline * 2;

    h3 {
        @include fs-textSans(2);
        color: $neutral-2;
        font-weight: 200;
    }
}

.user__question-text {
    @include fs-headline(2);
    font-weight: 900;
    display: block;
    //used to avoid fixed width across multiple break points.
    max-width: 77%;
    float: left;
    color: $news-main-1;
    padding-left: $gs-baseline - 4;
    position: relative;
    margin-bottom: $gs-baseline;

    @include mq($from: tablet) {
        @include fs-headline(3);
        line-height: $gs-baseline * 2;
        max-width: 80%;
        font-weight: 900;
    }
}

.user__question-response {
    @include fs-textSans(3);
    clear: both;
    margin-top: $gs-baseline;
    margin-bottom: $gs-baseline;
    font-size: 14px;
    line-height: 18px;
    width: 90%;
    display: block;

    @include mq($from: tablet) {
        clear: none;
        margin-top: 0;
        font-size: 16px;
    }
}

.user__question-upvote {
    @include fs-textSans(3);
    right: $gs-gutter - 2;
    bottom: $gs-gutter;
    position: absolute;
    color: $news-main-1;
    font-weight: 900;
    border: 1px solid $news-main-1;
    padding-top: $gs-baseline / 3;
    float: right;
    outline: 0;
    padding-left: $gs-baseline;
    padding-right: $gs-baseline;
    border-radius: $gs-gutter * 2;
    background-color: transparent;

    &:hover {
        text-decoration: none;
    }
}
.storyquestion-submission-container {
    overflow: hidden;
    padding-left: $gs-gutter - 2;
    margin-bottom: $gs-baseline;
}

.storyquestion-email-signup-form.form {
    margin: 0;

    .form-field {
        float: left;
        width: 50%;
        margin-bottom: $gs-baseline;
    }

    .text-input {
        border-bottom-left-radius: calc(#{$gs-baseline} * 2) + 4;
        border-top-left-radius: calc(#{$gs-baseline} * 2) + 4;
        font-size: 14px;
    }

    .button--primary {
        height: $gs-baseline * 3;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

}
