#content > .six-col {
    float: none;
}

.m-sport {
    border-bottom: 1px solid #008000;
}

.m-sport #tabs {
    border-bottom: 1px solid #999;
}

.m-sport h2 {
    margin-top: 0;
    border-top: 0;
    font-size: 14px !important;
    padding: 9px 0 12px 0 !important;
}

.m-sport th {
    padding-right: 30px;
    text-align: left;
    vertical-align: top;
    width: 150px;
}

.m-sport li {
    display: inline;
    color: #666;
}

/* delete after r2 refactoring and the importants too */
.football .article-attributes {
    border-top: none !important;
}