.email-sub__header {
    background-color: #ffffff;
}

.email-sub-heading__emph {
    color: guss-colour(guardian-brand, $pasteup-palette);
}

.email-sub__description {
    background-color: guss-colour(guardian-brand, $pasteup-palette);
}

