.email-sub__ { // Email subscription component namespace

    &heading-emph {
        color: guss-colour(guardian-brand, $pasteup-palette);
    }

    &description {
        border-top: 3px solid $form-secondary-colour;
        color: $form-primary-colour;
        background-color: guss-colour(guardian-brand, $pasteup-palette);
        padding-top: 10px;

        &-emph {
            display: block;
            font-weight: bold;
        }
    }

    // LANDING PAGE MODS
    &header--landing {
        background-color: $form-primary-colour;
        font-family: $f-serif-headline;

        .email-sub__heading {
            line-height: 35px;
        }
    }

    // FOOTER MODS
    &header--footer {
        .email-sub__heading {
            color: #fff;
            font-family: $f-sans-serif-text;
            font-size: 14px;
            margin-bottom: 12px;
        }
    }
}
