$form-elements-height: $gs-baseline * 3;
$form-primary-colour: #ffffff;
$form-secondary-colour: $news-support-1;
$form-label-colour: $neutral-2;
$icon-size: 30px;
$icon-padding: $icon-size + ($gs-gutter / 2);
$rounded-adjustment: .66em;

$tones: (
    (analysis, $analysis-accent, $news-default),
    (comment, $comment-support-4, $comment-support-4),
    (feature, $feature-default, $feature-accent),
    (live, $live-default, $live-accent),
    (media, $neutral-1, $neutral-1),
    (news, $news-default, $news-default),
    (review, $review-background, darken($review-background, 10%)),
    (special-feature, $news-support-6, $news-support-6)
);
