@(tag: Tag, trails: Seq[Trail], leadContent: Seq[Trail])
@import fragments._
@import conf._

<!DOCTYPE html>

<html>

<head>

    @fragments.commonJavaScriptSetup(Static)
    @fragments.metaData(tag, conf.Configuration)

    <title>@tag.webTitle</title>

    @fragments.commonCssSetup(Static)
    <link rel="stylesheet" type="text/css" href="@Static("stylesheets/main.css")" />

</head>

<body>

    <div id="container">

        <div class="line">
            <div class="unit lastUnit">
                @fragments.placeholders("tier1", 5)
                <img src="@Static("images/logo-mobile.gif")" alt="The Guardian" class="component" />
                @fragments.navigation()
                @fragments.headline(tag.name)
            </div>
        </div>

        @defining(leadContent.take(2)){ importantStories =>
            @if(importantStories nonEmpty) {
                <div class="line">
                    @importantStories.map{ trail =>
                        <div class="unit size1of2">
                            @fragments.formatTrail(trail)
                        </div>
                    }
                </div>
            }

            <div class="line">
                    @* TODO don't like this deduping would be easier as a case class or something *@
                    @trails.filterNot(s => importantStories.map(_.url).contains(s.url)).map{ trail =>
                        <div class="unit size1of2">
                            @fragments.formatTrail(trail)
                        </div>
                    }
            </div>
        }

    </div>

    @fragments.debugInfo()
    @fragments.analytics(tag, conf.Configuration)
</body>
</html>
