<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss.SSS} %-5p [%t][%c] %m%n" />
		</layout>
	</appender>

	<!-- Loggers -->
	<logger name="org.springframework">
		<level value="INFO" />
	</logger>

	<logger name="com.github.tomakehurst.wiremock">
		<level value="WARN" />
	</logger>

	<!-- Do NOT set this to DEBUG as that will print out the stubbed data files 
		and that can crash your IDE as they can be very large -->
	<logger name="org.apache.http.wire">
		<level value="INFO" />
	</logger>
	
	<logger name="org.apache.http">
		<level value="INFO" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>