%gu-style-box {
    padding: $gs-baseline / 2;
}

.gu-display {
    position: relative;
}

.gu-display__image-layer {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: static;
}

.gu-display__image {
    width: 100%;
    display: block;
}

.gu-mutable {
    display: block;
    position: absolute;
    z-index: 2;
}

.gu-display__content {
    @extend %gu-style-box;
    bottom: 30px;
    left: 0;
    padding: $gs-gutter/2;
}

.gu-display__link {
    color: #ffffff;
}

.gu-display__content-title {
    @include f-headlineSans;
    @include font-size(20, 20);

    color: #ffffff;
    text-align: left;
    font-weight: normal;
    margin-bottom: 5px;
}

.gu-display__content-text {
    @include f-headlineSans;
    @include font-size(20, 20);

    color: #ffffff;
    text-align: left;
}

.gu-display__cta {
    left: 10px;
    bottom: 10px;
}

.gu-display__logo-link {
    right: 10px;
    bottom: 10px;
    line-height: 1;
}

.gu-display__logo {
    width: 80px;
    height: 30px;
}

.gu-external-icon {
    float: right;
    svg {
        fill: #ffffff;
        margin: 0 5px;
        width: 15px;
        height: 15px;
        vertical-align: sub;
    }
}

/* values configurable in DFP */
.gu-display__content-color--bright {
    color: #ffffff;
}

.gu-display__content-color--dark {
    color: #000000;
}

.gu-display__content-position--bottom {
    bottom: 30px;
}

.gu-display__content-position--top {
    top: 30px;
}

.gu-display__content-size--small {
    font-size: .9rem;
    line-height: .9rem;
}

.gu-display__content-size--regular {
    font-size: 1.25rem;
}

.gu-display__content-size--big {
    font-size: 1.35rem;
}

.gu-display__logo-pos--bottom-right {
    right: 10px;
    bottom: 10px;
    left: auto;
}

.gu-display__logo-pos--top-left {
    left: 10px;
    top: 0;
    right: auto;
}

$mobile-max-container-width: gs-span(8);
@include mq-add-breakpoint(containerWidestMobile, $mobile-max-container-width + $gs-gutter * 2);

.gu-style {
    width: auto;
    border-top: #fedd79 1px solid;
    margin: 0 $gs-gutter / 2;

    @include mq(mobileLandscape) {
        margin: 0 $gs-gutter;
    }

    @include mq(containerWidestMobile) {
        margin: 0 auto;
        width: $mobile-max-container-width;
    }

    @include mq(tablet) {
        margin-left: $gs-gutter / 2;
        margin-right: $gs-gutter / 2;
    }

    @include mq(desktop) {
        width: 300px;
    }

    .ad-slot__label {
        display: none;
    }
}
