.ad-slot--gu-comcontent {
    float: left;
    margin: 5px $gs-gutter $gs-baseline 0;
    clear: both;
    overflow: visible;

    @include mq($until: mobileLandscape) {
        width: $gs-gutter * 6.5;
        margin-bottom: $gs-baseline / 2;
        margin-right: $gs-gutter / 2;
    }

    @include mq(mobileLandscape) {
        width: gs-span(3);
    }

    @include mq(leftCol) {
        margin-left: -1 * (gs-span(2) + $gs-gutter);
    }

    @include mq(wide) {
        margin-left: -1 * (gs-span(3) + $gs-gutter);
    }
}

.gu-comcontent {
    background: #cccccc;

    &,
    h2 {
        @include f-headlineSans;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: guss-colour(paidfor-background, $frontend-palette);
        height: 1px;
        z-index: 5;
    }
}

.gu-box {
    color: inherit;
    display: block;
    padding: $gs-baseline / 3 $gs-gutter / 4 $gs-baseline;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.gu-title {
    font-weight: 400;
    padding-bottom: 0.5em;
}

.gu-brand {
    color: #767676;
    text-align: right;
    font-size: get-font-size(data, 3);
    @include f-textSans;

    img {
        vertical-align: middle;
    }
}
