.gu-compopup {
    background: guss-colour(neutral-1, $pasteup-palette);
    box-shadow: none;
    color: #ffffff;
    transform: translate(-50%, 0);
    left: 50%;
    top: 100%;
    width: 240px;
    padding: 16px;
    border-radius: 4px;
    font-weight: 700;
    z-index: 5;

    &,
    h3 {
        @include f-headlineSans;
    }

    &::before {
        content: '';
        border: solid transparent;
        border-bottom-color: guss-colour(neutral-1, $pasteup-palette);
        border-style: solid;
        border-width: 6px;
        height: 0;
        width: 0;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .gu-compopup__title {
        font-size: get-font-size(header, 4);
        line-height: get-line-height(header, 4);
        margin: 0 0 1em;
    }
}

.gu-compopup__link {
    color: #676767;
    font-size: get-font-size(textSans, 3);
    line-height: get-line-height(textSans, 3);
    display: block;

    svg {
        display: inline-block;
        vertical-align: middle;
        fill: #676767;
    }
}
