.gu-comcontent {
    background-color: colour(neutral-8);
    border-top: 1px solid $gustyle-tone;
    padding: 0;
    overflow: hidden;
    position: relative;


}

%gu-style-box {
    padding: $gs-baseline / 2;
}

.gu-comcontent__box {
    @extend %gu-style-box;

    padding-top: 0;
}

.gu-comcontent__title {
    @include f-headlineSans;
    @include font-size(21, 26);

    padding-bottom: $gs-baseline;
    text-align: left;
    
    a {
        color: colour(neutral-1);
    }
}

.gu-comcontent__text {
    @include f-textSans;
    @include font-size(14, 18);
    
    color: colour(neutral-2);
    text-align: left;
    margin-bottom: $gs-row-height;
}

.gu-comcontent__kicker {
    color: colour(neutral-2);
}

.gu-comcontent__divider {
    color: colour(neutral-3);   
}

.gu-comcontent__brand {
    text-align: right;
}

.gu-comcontent__note {
    @include f-textSans;
    @include font-size(13, 18);

    color: colour(neutral-2);   
}

.gu-comcontent__logo {
    width: 40%;
    vertical-align: bottom;
}

.gu-comcontent__image {
    width: 100%;
}

.gu-comcontent__image-container {
    max-height: 180px;
    overflow: hidden;
}

$mobile-max-container-width: gs-span(8);
@include mq-add-breakpoint(containerWidestMobile, $mobile-max-container-width + $gs-gutter * 2);

.gu-style {
    width: auto;
    margin-left: $gs-gutter / 2;
    margin-right: $gs-gutter / 2;

    @include mq(mobileLandscape) {
        margin-left: $gs-gutter;
        margin-right: $gs-gutter;
    }

    @include mq(containerWidestMobile) {
        margin: 0 auto;
        width: $mobile-max-container-width;
    }

    @include mq(tablet) {
        margin-left: $gs-gutter / 2;
        margin-right: $gs-gutter / 2;
    }

    @include mq(desktop) {
        width: 300px;
    }
}
