.gu-comlabel__btn {

}

.gu-comlabel__btn {
    @include f-textSans;
    @include font-size(14, 18);

    position: absolute;
    top: $gs-baseline / 2;
    right: $gs-baseline / 2;
    width: auto;
    padding: 5px 5px 1px;
    z-index: $zindex-modal;
    background-color: #fff;
    border: 0;
    font-weight: bold;
    text-transform: uppercase;

    &.is-active:before {
        top: $gs-baseline * 2;
        border-bottom-color: #fff;
    }

    &:after {
        display: none;
    }
}

.gu-comlabel__icon {
    svg {
        width: 13px;
        height: 13px;
        fill: colour(neutral-1);
        vertical-align: middle;
    }
}
