@(block: Trailblock, info: RowInfo)(implicit request: RequestHeader)

@info.rowNum
<div data-link-name="front block @block.description.name">

    @if(block.description.id == "") {
        @fragments.headline(block.description.name)
    } else {
        <a data-link-name="heading link" href="/@block.description.id">@fragments.headline(block.description.name)</a>
    }
    
    <div class="trailblock show-@block.description.numItemsVisible">
        @defining(block.trails.length){ numTrails =>
            <ul class="unstyled">
                @block.trails.zipWithRowInfo.map{ case (trail, info) =>
                    <li>
                        @fragments.formatTrail(trail, info, numberOfImagesToEnlarge=1)
                    </li>
                }
            </ul>
        }
    </div>
</div>