@(block: Trailblock, edition: String)(implicit request: RequestHeader)

<section class="front-section zone-@block.description.section" data-link-name="block | @block.description.name">

    @if(block.description.id != "") {
	    @if("/" + block.description.id == request.path) {
            @fragments.headers.sectionHead(block.description.name)
	    } else {
	       @fragments.headers.frontSectionHead(block.description.id, block.description.name, edition)
        }
	}

    <div class="trailblock js-front-trailblock rolled-out"
        id="front-trailblock-@SafeName(block.description)"
        data-count="@{block.trails.length - block.description.numItemsVisible}">

        @block.description.style match {
            case Some(Thumbnail) => { @trailblocks.thumbnail(block.trails, block.description.numItemsVisible) }
            case Some(Headline)  => { @trailblocks.headline(block.trails, block.description.numItemsVisible) }
            case _               => { @trailblocks.featured(block.trails, block.description.numItemsVisible) }
        }
    </div>

</section>