@import idapiclient.responses.Error

@(
    page: model.Page,
    idRequest: services.IdentityRequest,
    idUrlBuilder: services.IdentityUrlBuilder,
    accountDeletionForm: Form[(String, Option[String])],
    errors: List[Error],
    user: com.gu.identity.model.User
)(implicit
    request: RequestHeader,
    messages: play.api.i18n.Messages,
    context: model.ApplicationContext)

@import form.IdFormHelpers._
@import views.html.fragments.form.inputField
@import views.html.fragments.form.radioField
@import views.html.fragments.registrationFooter

@emailIsValidated = @{ user.statusFields.userEmailValidated.fold(false)(identity) }

<div class="identity-wrapper monocolumn-wrapper">
    <h1 class="identity-title">Are you sure you want to delete your account?</h1>

    @if(emailIsValidated) {
        <div class="identity-section">
            <p class="identity-section__text">
                Please read the following paragraphs carefully to understand how account
                deletion affects any Guardian products you may have. If at any point you require further clarification please
                email our <a class="u-underline" href="mailto:userhelp@@theguardian.com" data-link-name="Email Userhelp">Userhelp</a> who will
                be happy to help.
            </p>
        </div>

        <div class="identity-section">
            <h4><a class="u-underline" href="https://www.theguardian.com/help/identity-faq">Account</a></h4>
            <p class="identity-section__text">
                Deleting your account removes your personal information from our database.
            </p>

            <h4><a class="u-underline" href="https://www.theguardian.com/community-faqs">Comments</a></h4>
            <p class="identity-section__text">
                If you have posted comments your comment profile will be removed, however the posted comments will
                remain underneath the articles. Comments are part of the historical record, but if want your comments to
                be removed please contact the <a class="u-underline" href="mailto:moderation@@theguardian.com">Moderation Team</a>.
                Please note that requests are considered on a case-by-case basis and your comments will not be
                automatically deleted.
            </p>
            <p class="identity-section__text">
                If you have previously been banned, watched or premoderated due to inappropriate commenting behaviour,
                these restrictions will still be in place if you create a new account with the same email address.
            </p>

            <h4><a class="u-underline" href="https://membership.theguardian.com/help">Membership</a></h4>
            <p class="identity-section__text">
                Deleting your account does not cancel paid Membership. If you would like to cancel your membership
                please <a class="u-underline" href="https://membership.theguardian.com/tier/cancel">click here.</a>
            </p>

            <h4><a class="u-underline" href="https://www.theguardian.com/subscriber-direct/subscription-frequently-asked-questions">Digital/Paper Subscriptions</a></h4>
            <p class="identity-section__text">
                Deleting your account does not cancel paid Subscriptions. If you would like to cancel your subscription,
                please email the <a class="u-underline" href="mailto:subscriptions@@theguardian.com">Subscriptions Team.</a>
            </p>

            <h4><a class="u-underline" href="https://www.theguardian.com/info/2013/aug/12/1">Guardian in-app purchases via App Stores</a></h4>
            <p class="identity-section__text">
                Deleting your account does not cancel Guardian in-app purchases made through Google, Apple or Amazon
                app stores. For further queries please contact respective App Store.
            </p>

            <h4><a class="u-underline" href="https://jobs.theguardian.com/article/faq">Guardian Jobs</a></h4>
            <p class="identity-section__text">
                Deleting your account will remove submitted applications, your profile information, CV, and job alerts.
            </p>

            <h4><a class="u-underline" href="https://www.theguardian.com/help/problems-with-your-email-subscriptions">Email Subscriptions</a></h4>
            <p class="identity-section__text">
                Deleting your account will unsubscribe you from all mailing lists.
            </p>

            <h4><a class="u-underline" href="https://www.theguardian.com/help/insideguardian/2015/jul/21/introducing-save-for-later">Saved for Later Articles</a></h4>
            <p class="identity-section__text">
                Deleting your account will delete your Saved Articles links.
            </p>
        </div>

        <form class="form" novalidate action="@idUrlBuilder.buildUrl("/delete", idRequest)" method="post" id="deleteForm">
            @views.html.helper.CSRF.formField

            <div class="identity-section">
                <p class="identity-section__text">
            <p><b>Please take a moment to tell us why you wish to delete your account:</b></p>

                @radioField(accountDeletionForm("reason"), List(
                    "accident"      -> "I have created an account by accident",
                    "password"      -> "I accidentally entered my password as the username",
                    "emails"        -> "I want to stop receiving emails",
                    "comments"      -> "I no longer want to comment",
                    "privacy"       -> "I am concerned about my privacy online",
                    "membership"    -> "I was asked to create an account in order to become member/subscriber",
                    "other"         -> "Other")
                )(nonInputFields, messages)
                </p>
            </div>


            <fieldset class="fieldset">

                <div class="fieldset__heading">
                    <h2 class="form__heading">Confirm account deletion</h2>
                    <div class="form__note">Please re-enter password to confirm the you have understood the conditions and would like to proceed with account deletion.</div>
                </div>

                <div class="fieldset__fields">
                    <ul class="u-unstyled">

                        @inputField(Password(accountDeletionForm("password"), Symbol("_label") -> "Password", Symbol("class") -> "js-register-password js-password-strength",
                            (Symbol("data-test-id"), "account-deletion-password"), Symbol("required") -> true))

                        <li>
                            <button id="deleteButton" type="submit" class="manage-account__button manage-account__button--center delete-input-warn" data-link-name="Delete Account" data-test-id="delete-account">Delete your account</button>
                            <div id="deleteLoader" class="loading-animation is-updating inline-loading is-hidden"></div>
                        </li>
                    </ul>
                </div>
            </fieldset>
        </form>

        @if(accountDeletionForm.globalError.isDefined) {
            <div class="form__error">@accountDeletionForm.globalErrors.map(_.message).mkString(", ")</div>
        }
    } else {
        <div class="identity-section">
            <p class="identity-section__text">
                Before you can delete your account you need to validate your email address.
                Once you have validated, please reload this page and you will be able to delete
                your account.
            </p>
            <a class="u-underline js-id-send-validation-email" data-link-name="Resend verification email">Send validation email</a>
        </div>
    }

    @registrationFooter(idRequest, idUrlBuilder)
</div>
