.nav_item {
    border-bottom: 1px solid #f4f4ee;
    float: left;
    font-family: 'arial';
    font-size: 12px;
    margin: 0 2.5%;
    padding: 10px 2.5%;
    width: 100%;

    @media (--from-tablet) {
        width: 40%;
    }
}

:root {
    --zone: {
        text-decoration: none;
    };
}

.zone--default {
    @apply --zone;

    color: #005689;
}

.zone--news {
    @apply --zone;

    color: #d61d00;
}

.zone--sport {
    @apply --zone;

    color: #008000;
}

.zone--culture {
    @apply --zone;

    color: #d1008b;
}

.zone--comment {
    @apply --zone;

    color: #0061a6;
}

.zone--lifeandstyle {
    @apply --zone;

    color: #ad532f;
}

.zone--environment {
    @apply --zone;

    color: #4a7801;
}

.zone--business {
    @apply --zone;

    color: #3246ab;
}
