nav_item {
    display: block;
    padding: 10px 2.5%;
    margin: 0 2.5%;
    border-bottom: 1px solid #f4f4ee;
    font-family: 'arial';
    font-size: 12px;

    @include mq(tablet) {
        float: left;
        width: 40%;
    }
}

$zones: (
    news: #d61d00,
    sport: #008000,
    culture: #d1008b,
    business: #3246ab,
    comment: #0061a6,
    lifeandstyle: #ad532f,
    environment: #4a7801
);

@each $zone, $color in $zones {
    zone_#{$zone} {
        color: $color;
        text-decoration: none;
    }
}
