.creative--revealer {
    height: 250px;
    position: relative;

    .creative__cta {
        position: absolute;
        height: 100%;
        width: 100%;
        clip: rect(0, auto, auto, 0);
        overflow: hidden;

        /* promoting the button up the layer stack will improve
           perfs on Android devices */
        z-index: 1;
    }

    .creative__background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-position: center center;
        background-size: cover;
        backface-visibility: hidden;

        /* promote to GPU layer hack: this is needed by older versions of iOS */
        -webkit-transform: translate3d(0, 0, 0);
    }

    .creative__button {
        position: absolute;
    }

    .creative__button--left    { left: 0; }
    .creative__button--center  { left: 50%; transform: translate(-50%, 0); }
    .creative__button--right   { right: 0; }

    .creative__button--top     { top: 0; }
    .creative__button--middle  { top: 50%; transform: translate(0, -50%); }
    .creative__button--bottom  { bottom: 0; }

    .creative__button--center.creative__button--middle {
        transform: translate(-50%, -50%);
    }
}
