.menu-group {
    font-size: 18px;
    list-style: none;
    margin: 0;
    padding: 0 0 $gs-baseline;
}

.menu-group--primary {
    padding-top: $gs-baseline / 2;
}

.menu-group--secondary {
    background-color: $nav-darker-colour;
    margin-top: 0;
    padding-top: 0;
}

.menu-group--membership,
.menu-group--editions {
    background-color: $nav-darker-colour;
    padding-bottom: 0;
}

.menu-group--editions .menu-group {
    background-color: darken($nav-background-colour, 10%);
}
