<div class="creative--ad-feature-mpu-large" data-link-name="creative | ad feature mpu large">
    <a class="creative__article" href="{{clickMacro}}{{articleUrl}}" data-link-name="article">
        <img class="creative__article__image" src="{{articleImage}}">
        <h2 class="creative__article__title">{{articleHeaderText}}</h2>
    </a>
    <p class="creative__logo-text">Brought to you by:</p>
    <a class="creative__logo" href="{{clickMacro}}{{logoUrl}}" data-link-name="logo">
        <img src="{{logoImage}}" />
    </a>
    <a class="creative__logo-info" href="{{clickMacro}}{{infoUrl}}" data-link-name="info">About this content</a>
</div>
