<div class="creative--branded-component creative--jobs" data-link-name="creative | branded component | jobs-<%=omnitureId%>">
    <div class="creative__inner">
        <a href="<%=clickMacro%>http://jobs.theguardian.com/" data-link-name="logo link">
            <%=marque36icon%>
        </a>
        <h3 class="creative__marque-title">Jobs</h3>
        <img src="<%=imgUrl%>" width="198" height="137" />
        <p class="creative__title">Finding quality jobs just got easier</p>
        <p class="creative__text">Introducing the next-generation Guardian Jobs website, designed to work whatever your device</p>
        <a class="button button--primary" href="<%=clickMacro%>http://jobs.theguardian.com/" data-link-name="link">
            Browse jobs<%=arrowRight%>
        </a>
    </div>
</div>
