<div class="creative--branded-component creative--branded-component-soulmates" data-link-name="creative | branded component | soulmates">
    <div class="creative__inner">
        <p class="creative__title">Meet someone <em>worth</em> meeting</p>
        <p class="creative__text">Thousands of new members sign up to Soulmates every month</p>
        <div class="creative__link-wrapper">
            <a class="creative__link" href="{{clickMacro}}https://soulmates.theguardian.com/" data-link-name="link">
                Join now
                <span class="creative__link__button button button--small">
                    <span class="i i-arrow-white-right" />
                </span>
            </a>
        </div>
        <div class="i--commercial i-soulmates-title-background soulmates-logo">
            <span class="u-h">The Guardian</span>
            <h4 class="soulmates-logo__title">
                <a href="{{clickMacro}}https://soulmates.theguardian.com/" data-link-name="logo link">
                    <span class="i i--commercial i-soulmates-logo"></span>
                    <span class="u-h">Soulmates</span>
                </a>
            </h4>
        </div>
    </div>
</div>
