<div class="creative--expandable">
    <div class="ad-slot__label adFullWidth__label facia-container--layout-front" data-test-id="ad-slot-label">
        <div class="facia-container__inner">Advertisement</div>
        <img src="https://ad.doubleclick.net/ad/N5295.133705.GUARDIAN.CO.UK/B8333982.112985966;sz=1x1;ord=%%CACHEBUSTER%%"/>
    </div>
    <div class="ad-exp--expand l-side-margins">
        <div class="facia-container__inner facia-container__inner--full-span">
            <button class="ad-exp__close-button">
                <i class="i i-close-icon-white-small"></i>
            </button>
            <a href="{{clickMacro}}https://ad.doubleclick.net/ddm/clk/285734502;112985966;s"  target="_new">
                <div class="ad-exp-collapse__slide slide-1" style="background-image: url('{{slide1}}');">
                    <div class="ad-exp__cta" style="background-image: url('{{cta}}');"></div>
                    <div class="ad-exp__logo" style="background-image: url('{{logo}}');"></div>
                </div>
                <div class="ad-exp-collapse__slide slide-2" style="background-image: url('{{slide2}}');">
                    <div class="ad-exp__text-1 mobile-only" style="background-image: url('{{textMobile}}');"></div>
                    <div class="ad-exp__text-1 hide-until-tablet" style="background-image: url('{{text}}');"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="ad-slot__label--wrapper facia-container__inner facia-container__inner--full-span">
        <div class="ad-slot__label"></div>
    </div>
</div>
