<div class="creative--expandable">
    <div class="ad-slot__label adFullWidth__label facia-container--layout-front" data-test-id="ad-slot-label">
        <div class="facia-container__inner">Advertisement</div>
    </div>
    
    <div class="ad-exp--expand l-side-margins mobile-only" style="background-color: {{backgroundColor}}">
        <div class="facia-container__inner facia-container__inner--full-span">
            <button class="ad-exp__close-button">
                <i class="i i-close-icon-white-small"></i>
            </button>
            <a href="{{clickMacro}}{{link}}" target="_new">
                <div class="ad-exp-collapse__slide slide-1">
                    <div class="ad-exp__layer ad-exp__layer1"></div>
                    <div class="ad-exp__layer ad-exp__layer2"></div>
                    <div class="ad-exp__layer ad-exp__layer3"></div>
                </div>
                <div class="ad-exp-collapse__slide slide-2" style="background-image: url('{{slide2}}');">
                    <div class="ad-exp__layer ad-exp__layer1"></div>
                    <div class="ad-exp__layer ad-exp__layer2"></div>
                    <div class="ad-exp__layer ad-exp__layer3"></div>
                </div>
            </a>
        </div>
    </div>
    
    <div class="ad-exp--expand l-side-margins hide-until-tablet" style="background-color: {{backgroundColor}}">
        <div class="facia-container__inner facia-container__inner--full-span" style="
            background-image: url('{{backgroundImage}}');
            background-repeat: {{backgroundRepeat}};
            background-position: {{backgroundPosition}};
        ">
            <button class="ad-exp__close-button">
                <i class="i i-close-icon-white-small"></i>
            </button>
            <a href="{{clickMacro}}{{link}}" target="_new">
                <div class="ad-exp-collapse__slide slide-1" style="
                    background-color: {{slide1BGColor}};
                    background-image: url('{{slide1BGImage}}');
                    background-repeat: {{slide1BGImageRepeat}};
                    background-position: {{slide1BGImagePosition}};
                ">
                    <div class="ad-exp__layer ad-exp__layer1" style="
                        background-image: url('{{slide1Layer1BGImage}}');
                        background-repeat: {{slide1Layer1BGImageRepeat}};
                        background-position: {{slide1Layer1BGImagePosition}};
                    "></div>
                    <div class="ad-exp__layer ad-exp__layer2" style="
                        background-image: url('{{slide1Layer2BGImage}}');
                        background-repeat: {{slide1Layer2BGImageRepeat}};
                        background-position: {{slide1Layer2BGImagePosition}};
                    "></div>
                    <div class="ad-exp__layer ad-exp__layer3" style="
                        background-image: url('{{slide1Layer3BGImage}}');
                        background-repeat: {{slide1Layer3BGImageRepeat}};
                        background-position: {{slide1Layer3BGImagePosition}};
                    "></div>
                </div>
                <div class="ad-exp-collapse__slide slide-2" style="
                    background-color: {{slide2BGColor}};
                    background-image: url('{{slide2BGImage}}');
                    background-position: {{slide2BGImagePosition}};
                    background-repeat: {{slide2BGImageRepeat}};
                ">
                    <div class="ad-exp__layer ad-exp__layer1" style="
                        background-image: url('{{slide2Layer1BGImage}}');
                        background-repeat: {{slide2Layer1BGImageRepeat}};
                        background-position: {{slide2Layer1BGImagePosition}};
                    "></div>
                    <div class="ad-exp__layer ad-exp__layer2" style="
                        background-image: url('{{slide2Layer2BGImage}}');
                        background-repeat: {{slide2Layer2BGImageRepeat}};
                        background-position: {{slide2Layer2BGImagePosition}};
                    "></div>
                    <div class="ad-exp__layer ad-exp__layer3" style="
                        background-image: url('{{slide2Layer3BGImage}}');
                        background-repeat: {{slide2Layer3BGImageRepeat}};
                        background-position: {{slide2Layer3BGImagePosition}};
                    "></div>
                </div>
            </a>
        </div>
    </div>
    <div class="ad-slot__label--wrapper facia-container__inner facia-container__inner--full-span">
        <div class="ad-slot__label"></div>
    </div>
</div>
