<aside class="gimbap-wrap gimbap-style--<%=style%>" role="complementary" data-link-name="creative | ad multiple manual | <%=omnitureId%>">
    <%if( !headless ){%>
    <header class="gimbap-wrap__header">
        <h3 class="gimbap-wrap__title">
            <a href="<%=clickMacro%>" data-link-name="title">
                guardian offers
            </a>
        </h3>
    </header>
    <%}%>
    <%=marque36icon%>
    <div class="gimbap-wrap__body">
        <a class="gimbap gimbap-style--tone-<%=offer1tone%>"
           href="<%=clickMacro%><%=offer1url%>"
           data-link-name="<%=offer1title%>">
            <h3 class="gimbap__title gimbap__title--quoted"><%=inlineQuote%><%=offer1title%></h3>
            <p class="gimbap__cta"><%=offer1subtitle%> <span class="gimbap__arrow"><%=arrowRight%></span></p>
            <div class="gimbap__logo gimbap__logo--<%=offer1tone%>-horizontal"><%=offer1logo%></div>
        </a>
        <a class="gimbap gimbap-style--tone-<%=offer2tone%>"
           href="<%=clickMacro%><%=offer2url%>"
           data-link-name="<%=offer2title%>">
            <h3 class="gimbap__title"><%=offer2title%></h3>
            <p class="gimbap__cta"><%=offer2subtitle%> <span class="gimbap__arrow"><%=arrowRight%></span></p>
            <div class="gimbap__logo gimbap__logo--<%=offer2tone%>-horizontal"><%=offer2logo%></div>
        </a>
        <a class="gimbap gimbap-style--tone-<%=offer3tone%>"
           href="<%=clickMacro%><%=offer3url%>"
           data-link-name="<%=offer3title%>">
            <h3 class="gimbap__title gimbap__title--quoted"><%=inlineQuote%><%=offer3title%></h3>
            <p class="gimbap__cta"><%=offer3subtitle%> <span class="gimbap__arrow"><%=arrowRight%></span></p>
            <div class="gimbap__logo gimbap__logo--<%=offer3tone%>-horizontal"><%=offer3logo%></div>
        </a>
        <a class="gimbap gimbap-style--tone-<%=offer4tone%>"
           href="<%=clickMacro%><%=offer4url%>"
           data-link-name="<%=offer4title%>">
            <h3 class="gimbap__title"><%=offer4title%></h3>
            <p class="gimbap__cta"><%=offer4subtitle%> <span class="gimbap__arrow"><%=arrowRight%></span></p>
            <div class="gimbap__logo gimbap__logo--<%=offer4tone%>-horizontal"><%=offer4logo%></div>
        </a>
    </div>
</aside>
