<aside class="gimbap-wrap gimbap-style--<%=style%>" role="complementary" data-link-name="creative | ad multiple manual | <%=omnitureId%>">
    <%=marque36icon%>
    <div class="gimbap-wrap__body">
        <a class="gimbap gimbap-style--tone-<%=offer1tone%>"
           href="<%=clickMacro%><%=offer1url%>"
           data-link-name="<%=offer1title%>">
            <h3 class="gimbap__title gimbap__title--quoted"><%=inlineQuote%>If you want to keep something like this going, you have to support it</h3>
            <p class="gimbap__cta" href="" title="" data-link-name="">Aisha Gani Support the Guardian <span class="gimbap__arrow"><%=arrowRight%></span></p>
            <div class="gimbap__logo gimbap__logo--membership-horizontal"><%=logomembershiphorizontal%></div>
        </a>
    </div>
</aside>
