<aside class="gimbap-wrap gimbap-style--<%=style%>" role="complementary" data-link-name="creative | ad multiple manual | <%=omnitureId%>">
    <%if( !headless ){%>
    <header class="gimbap-wrap__header">
        <h3 class="gimbap-wrap__title">
            <a href="<%=clickMacro%><%=base__url%>" data-link-name="title">
                guardian offers
            </a>
        </h3>
    </header>
    <%}%>
    <%=marque36icon%>
    <div class="gimbap-wrap__body">
        <a class="gimbap gimbap-style--tone-<%=offer1tone%>"
           href="<%=clickMacro%><%=offer1url%>"
           data-link-name="<%=offer1title%>">
            <h3 class="gimbap__title gimbap__title--quoted"><%=inlineQuote%>If you want to keep something like this going, you have to support it</h3>
            <p class="gimbap__cta" href="" title="" data-link-name="">Aisha Gani Support the Guardian <span class="gimbap__arrow"><%=arrowRight%></span></p>
            <div class="gimbap__logo gimbap__logo--membership-horizontal"><%=logomembershiphorizontal%></div>
        </a>
        <a class="gimbap gimbap-style--tone-<%=offer2tone%>"
           href="<%=clickMacro%><%=offer1url%>"
           data-link-name="<%=offer1title%>">
            <h3 class="gimbap__title">Start your novel and get it published</h3>
            <p class="gimbap__cta" href="" title="" data-link-name="">Writing &amp; Publishing courses <span class="gimbap__arrow"><%=arrowRight%></span></p>
            <div class="gimbap__logo"><%=logoguardian%><%=logomasterclasses%></div>
        </a>
        <a class="gimbap gimbap-style--tone-<%=offer3tone%>"
           href="<%=clickMacro%><%=offer1url%>"
           data-link-name="<%=offer1title%>">
            <h3 class="gimbap__title gimbap__title--quoted"><%=inlineQuote%>Met someone wonderful. Thank you!</h3>
            <p class="gimbap__cta" href="" title="" data-link-name="">Kim12 quit in January. Find your soulmate <span class="gimbap__arrow"><%=arrowRight%></span></p>
            <div class="gimbap__logo"><%=logosoulmates%></div>
        </a>
        <a class="gimbap gimbap-style--tone-<%=offer4tone%>"
           href="<%=clickMacro%><%=offer1url%>"
           data-link-name="<%=offer1title%>">
            <h3 class="gimbap__title">Has your job changed from what you signed up to do?</h3>
            <p class="gimbap__cta" href="" title="" data-link-name="">How to negotiate a pay rise <span class="gimbap__arrow"><%=arrowRight%></span></p>
            <div class="gimbap__logo"><%=logoguardian%><%=logojobs%></div>
        </a>
    </div>
</aside>
