<div class="<%=data.gustyleClass%>" data-link-name="creative | gu style commercial content">
    <a href="<%=data.clickMacro%><%=data.articleUrl%>" data-link-name="article">
        <div class="gu-image-container">
            <img class="gu-image" src="<%=data.articleImage%>">
        </div>
    </a>
    <div class="gu-box">
        <h2 class="gu-title"><a href="<%=data.clickMacro%><%=data.articleUrl%>" data-link-name="article"><%=data.articleHeaderText%></a></h2>
        <%=data.standFirst%>
        <div class="gu-brand">
        	<%=data.noteOrLink%>
        	<img class="gu-logo" src="<%=data.brandLogo%>" alt="<%=data.brand%>">
        </div>
    </div>
</div>
