<div class="creative--hosted-video l-side-margins fc-container__inner" style="
        background-color: <%=data.backgroundColour%>;
    ">
    <div class="fc-container__header">
        <a href="/guardian-labs" class="fc-container__header__title">
            from our advertisers
        </a>
    </div>
    <div class="gs-container fc-container__body">
        <div class="hosted-video--image-container"  style="
            background-image: url(<%=data.asset%>);
        ">
            <a href="<%=data.clickMacro%><%=data.link%>" target="_blank">
                <div class="hosted__meta">
                    <p class="hosted__heading--small" style="
                            color: <%=data.header1colour%>;
                        "><%=data.header1%></p>
                    <h1 class="hosted__heading" style="
                            color: <%=data.header2colour%>;
                        "><%=data.header2%></h1>
                </div>
            </a>
        </div>
        <div class="hosted-tone-bg--renault hosted-banner"></div>
        <div class="hostedbadge hosted-tone-bg--renault">
            <p class="hostedbadge__info">Advertiser content</p>
            <img class="hostedbadge__logo" src="/assets/images/commercial/logo_renault.jpg">
        </div>
    </div>
</div>
