<div class="creative--hosted-video l-side-margins fc-container__inner" style="
        background-color: <%=data.backgroundColour%>;
    ">
    <div class="fc-container__header">
        <a href="/guardian-labs" class="fc-container__header__title">
            from our advertisers
        </a>
    </div>
    <div class="gs-container fc-container__body">
        <div class="u-responsive-ratio u-responsive-ratio--hd">
            <video
                data-duration="93"
                data-media-id="gu-video-57234522e4b02046f02ec015"
                controls="controls"
                preload="auto"
                muted="no"
                style="width: 100%; border-color: <%=data.bannerColour%>"
                data-block-video-ads="true"
                poster="https://cdn.theguardian.tv/interactive/2015/11/13/151113title2a_2M_H264_poster.jpg"
                class="vjs-hosted__video hosted__video gu-media--show-controls-at-start gu-media--video vjs vjs-tech-html5 vjs-paused vjs-controls-enabled vjs_video_1-dimensions vjs-user-active">
                <source type="video/mp4" src="https://cdn.theguardian.tv/interactive/2015/11/13/151113title2a_220k_H264.mp4">
                <source type="video/webm" src="https://cdn.theguardian.tv/interactive/2015/11/13/151113title2a_220k_vp8.webm">
                <source type="video/ogg" src="https://cdn.theguardian.tv/interactive/mp4/1080/2015/11/13/151113title2a_mid.ogv">
                <source type="video/m3u8" src="http://multimedia.guardianapis.com/interactivevideos/video.php?file=151113title2a&amp;format=application/x-mpegURL&amp;maxbitrate=2000">
            </video>
            <a href="<%=data.clickMacro%><%=data.link%>" target="_blank">
                <div class="hosted__meta">
                    <p class="hosted__heading--small" style="
                            color: <%=data.header1colour%>;
                        "><%=data.header1%></p>
                    <h1 class="hosted__heading" style="
                            color: <%=data.header2colour%>;
                        "><%=data.header2%></h1>
                </div>
            </a>
        </div>
    </div>
</div>
