<div class="ad-slot--paid-for-badge__inner">
    <h3 class="ad-slot--paid-for-badge__header">Brought to you by:</h3>
    <a href="<%=clickMacro%><%=logoUrl%>" class="ad-slot--paid-for-badge__link">
        <img class="ad-slot--paid-for-badge__logo" src="<%=logoImage%>" />
    </a>
    <a href="<%=clickMacro%><%=infoUrl%>" class="ad-slot--paid-for-badge__help u-h">About this content</a>
    <a href="<%=clickMacro%>http://theguardian.com/paid-for-content" class="ad-slot--paid-for-badge__help">About this content</a>
</div>
