<div class="commercial <%=Toneclass%> commercial--v-high" role="complementary" data-link-name="merchandising | creative | manual inline | <%=omniture_id%>">
    <div class="commercial--v-high__header">
        <h3 class="commercial__title">
            <a href="<%=clickMacro%><%=base_url%>" data-link-name="title">
                <%=marque36icon%><%=component_title%>
            </a>
        </h3>
    </div>
    <div class="commercial--v-high__body">
        <a href="<%=clickMacro%><%=offer_url%>" class="lineitem__link" data-link-name="offer">
            <img class="lineitem__image" src="<%=offer_image%>" alt="" />
            <h4 class="lineitem__title"><%=offer_title%></h4>
        </a>
        <p class="lineitem__meta"><%=offer_meta%></p>
        <a href="<%=clickMacro%><%=offer_url%>" class="button button--primary button--small" data-link-name="click here">
            Click here<%=arrowRight%>
        </a>
    </div>
</div>
