<div class="commercial commercial--dfp commercial--dfp-multiple <%=Toneclass%> commercial--items-dfp-<%=offeramount%>" role="complementary" data-link-name="creative | ad multiple manual | <%=omnitureId%>">
    <div class="commercial__inner">
        <div class="commercial__header">
            <h3 class="commercial__title">
                <a href="<%=clickMacro%><%=base__url%>" data-link-name="title">
                    <%=marque54icon%><%=logoguardian%>
                    <span class="u-h">The Guardian</span> <span class="commercial__title__logo"><%=title%></span>
                </a>
            </h3>
            <p class="commercial__desc"><%=explainer%></p>
            <a class="commercial__cta button button--tertiary button--large"
               href="<%=clickMacro%><%=base__url%>"
               data-link-name="viewall">
                <%=arrowRight%>
                <span class="commercial__cta__label"><%=viewalltext%></span>
            </a>
        </div>

        <div class="commercial__body">
            <ul class="lineitems">
                <li class="lineitem">
                    <a class="lineitem__link"
                       href="<%=clickMacro%><%=offer1url%>"
                       data-link-name="<%=offer1title%>">
                        <div class="lineitem__image-crop">
                            <img class="lineitem__image" src="<%=offer1image%>" alt="" />
                        </div>
                        <h4 class="lineitem__title"><%=offer1title%></h4>
                        <p class="lineitem__meta"><%=offer1meta%></p>
                        <p class="lineitem__cta button button--primary button--small">
                            <%=offerlinktext%><%=arrowRight%>
                        </p>
                    </a>
                </li>
                <li class="lineitem">
                    <a class="lineitem__link"
                       href="<%=clickMacro%><%=offer2url%>"
                       data-link-name="<%=offer2title%>">
                        <div class="lineitem__image-crop">
                            <img class="lineitem__image" src="<%=offer2image%>" alt="" />
                        </div>
                        <h4 class="lineitem__title"><%=offer2title%></h4>
                        <p class="lineitem__meta"><%=offer2meta%></p>
                        <p class="lineitem__cta button button--primary button--small">
                            <%=offerlinktext%><%=arrowRight%>
                        </p>
                    </a>
                </li>
                <li class="lineitem">
                    <a class="lineitem__link"
                       href="<%=clickMacro%><%=offer3url%>"
                       data-link-name="<%=offer3title%>">
                        <div class="lineitem__image-crop">
                            <img class="lineitem__image" src="<%=offer3image%>" alt="" />
                        </div>
                        <h4 class="lineitem__title"><%=offer3title%></h4>
                        <p class="lineitem__meta"><%=offer3meta%></p>
                        <p class="ineitem__cta button button--primary button--small">
                            <%=offerlinktext%><%=arrowRight%>
                        </p>
                    </a>
                </li>
                <li class="lineitem">
                    <a class="lineitem__link"
                       href="<%=clickMacro%><%=offer4url%>"
                       data-link-name="<%=offer4title%>">
                        <div class="lineitem__image-crop">
                            <img class="lineitem__image" src="<%=offer4image%>" alt="" />
                        </div>
                        <h4 class="lineitem__title"><%=offer4title%></h4>
                        <p class="lineitem__meta"><%=offer4meta%></p>
                        <p class="ineitem__cta button button--primary button--small">
                            <%=offerlinktext%><%=arrowRight%>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
