<aside class="adverts <%=classNames%>" data-link-name="creative | ad single manual | <%=omnitureId%>">
    <header class="adverts__header">
        <h1 class="adverts__title">
            <a href="<%=clickMacro%><%=baseUrl%>"
               data-link-name="merchandising-title">
                <%=marque54icon%><%=logoguardian%>
                <span class="u-h">The Guardian</span> <span class="commercial__title__logo"><%=title%></span>
            </a>
        </h1>
    </header>
    <div class="adverts__body">
        <%=innards%>
    </div>
</aside>
