<div class="commercial {{Toneclass}} commercial--v-high" role="complementary">
    <div class="commercial--v-high__header">
        <h3 class="commercial__title">
            <a href="{{clickMacro}}{{base_url}}" data-link-name="merchandising-{{omniture_id}}-title">
                <i class="i i-marque-36"></i>
                {{component_title}}
            </a>
        </h3>
    </div>
    <div class="commercial--v-high__body">
        <a href="{{clickMacro}}{{offer_url}}" class="lineitem__link" data-link-name="merchandising-{{omniture_id}}-lineitemlink">
            <img class="lineitem__image" src="{{offer_image}}" alt="" />
            <h4 class="lineitem__title"><a href="{{clickMacro}}{{offer_url}}" data-link-name="merchandising-{{omniture_id}}-lineitemtitlelink">{{offer_title}}</a></h4>
            <p class="lineitem__meta">{{offer_meta}}</p>
        </a>
        <a href="{{clickMacro}}{{offer_url}}" class="button button--primary button--small" data-link-name="merchandising-{{omniture_id}}-buynowlink">
            Click here<i class="i i-arrow-white-right i-right"></i>
        </a>
    </div>
</div>
