<div class="js-adblock-sticky <%=customCssClass%>" data-link-name="adblock sticky message" role="dialog" aria-label="welcome adblock user" aria-describedby="adblock-sticky__message">
    <div class="gs-container">
        <a href="<%=supporterLink%>_<%=edition%>" target="_blank">
            <img
                alt="The only thing that should influence the news, is the news. Become a Guardian supporter"
                class="adblock-banner__img"
                src="<%=guardian.config.commercial.membershipAssets%><%=edition%>_influence_adblocker_1480x400.svg"
                srcset="
                <%=guardian.config.commercial.membershipAssets%><%=edition%>_influence_adblocker_2600x400.svg 2600w,
                <%=guardian.config.commercial.membershipAssets%><%=edition%>_influence_adblocker_2280x400.svg 2280w,
                <%=guardian.config.commercial.membershipAssets%><%=edition%>_influence_adblocker_1860x400.svg 1860w,
                <%=guardian.config.commercial.membershipAssets%><%=edition%>_influence_adblocker_1480x400.svg 1480w
                "
                sizes="(min-width: 1301px) 1300px, (min-width: 1141px) 1140px, (min-width: 981px) 980px, (min-width: 741px) 740px, 100vw"
            >
        </a>
    </div>
</div>
