<div class="adblock-sticky__message js-adblock-sticky" data-link-name="adblock sticky message" role="dialog" aria-label="welcome adblock user" aria-describedby="adblock-sticky__message">
    <div class="gs-container">
        <div class="adblock-sticky__info">
            <div class="adblock-sticky__media">
                <%=marque36%>
            </div>
            <p class="adblock-sticky__text">
                <%=messageText%>
            </p>
        </div>
        <div class="adblock-sticky__link">
            <ul class="site-message__actions u-unstyled">
                <li class="site-message__actions__item">
                    <%=arrowWhiteRight%>
                    <a href="<%=supporterLink%>" target="_blank" data-link-name="read more"><%=linkText%></a>
                </li>
            </ul>
        </div>
    </div>
</div>
