<div class="adfree-thrasher" data-link-name="adfree trash" role="dialog" aria-label="thrasher survey" aria-describedby="survey-text__header">
    <div class="fc-container__inner">
        <div class="thrasher-logo">
            <%=marque54icon%>
        </div>
        <div class="thrasher-text">
            <h3 class="thrasher-text__header">
                <%=surveyHeader%>
            </h3>
            <span class="thrasher-text__info">
                <%=surveyText%>
            </span>
        </div>
        <div class="thrasher-subtext">
            <p class="thrasher-subtext__info">
                <%=surveySubHeader%>
            </p>
        </div>
        <div class="thrasher-link">
            <a class="thrasher-link__takepart js-thrasher-link" href="#" target="_blank" data-link-name="read more"><%=linkText%><%=arrowWhiteRight%></a>
        </div>
    </div>
</div>
