<div class="survey-overlay js-survey-overlay u-h" data-link-name="adblock sticky message" role="dialog" aria-label="welcome adblock user" aria-describedby="adblock-sticky__message">
    <div class="survey-container">
        <div class="survey-logo">
            <%=marque54icon%>
        </div>
        <div class="survey-text">
            <p class="survey-text--header">
                <%=surveyHeader%>
            </p>
            <span class="survey-text--info">
                <%=surveyText%>
            </span>
        </div>
        <div class="survey-subtext">
            <p class="survey-subtext--info">
                <%=surveySubHeader%>
            </p>
        </div>
    </div>
    <a class="survey-link" href="<%=surveyLink%>" target="_blank" data-link-name="take part"><%=linkText%></a>
</div>
