<div class="survey-overlay-simple js-survey-overlay u-h" data-link-name="survey overlay simple" role="dialog" aria-label="take part in our survey">
    <div class="survey-container">
        <div class="survey-close js-survey-close">
            <button class="site-message__close-btn js-site-message-close" data-link-name="hide survey message">
                <span class="u-h">Close</span>
                <%=crossIcon%>
            </button>
        </div>
        <div class="survey-logo">
            <%=marque36icon%>
        </div>
        <div class="survey-icon">
            <%=surveyOverlaySimple%>
        </div>
        <h3 class="survey-text__header">
            <%=surveyHeader%>
        </h3>
        <div class="survey-content">
            <div class="survey-text">
                <p class="survey-text__info">
                    <%=surveyText%>
                </p>
            </div>
            <div class="survey-link">
                <a class="survey-link__takepart" href="<%=surveyLink%>" target="_blank" data-link-name="take part"><%=linkText%><%=arrowWhiteRight%></a>
            </div>
        </div>
    </div>
</div>
