<div class="adfree-thrasher" data-link-name="adfree trash" role="dialog" aria-label="thrasher survey">
    <div class="fc-container__inner">
        <div class="thrasher-glogo">
            <%=marque36icon%>
        </div>
        <div class="thrasher-content">
            <div class="thrasher-content__header">
                <div class="thrasher-content__header--logo">
                    <%=thrasherBenefit%>
                </div>
                <h3 class="thrasher-content__header--text">
                    <div class="thrasher-content-new">
                        <%=surveyNew%>
                    </div>
                    <%=surveyHeader%>
                </h3>
            </div>
            <div class="thrasher-content__logo">
                <%=membershipLogo%>
            </div>
        </div>
    </div>
    <a class="thrasher-link js-thrasher-link" href="#" target="_blank" data-link-name="read more"></a>
</div>
