@(discussionClosed: Boolean, discussionId: String)(implicit request: RequestHeader)
<div id="comments" class="discussion discussion--@if(discussionClosed){closed} else {open}"
    data-discussion-key="@discussionId"
    data-discussion-closed="@discussionClosed">

    <div class="discussion__comments--top-comments">
        <h2 id="top-comments" class="js-top-comments page-sub-header discussion__heading">Comments <span class="u-h discussion__comment-count"></span></h2>
        <div class="discussion__comments__top">
        </div>
    </div>

    <div class="discussion__comments__container js-hidden">
        <h2 class="page-sub-header discussion__heading js-visible">All Comments</h2>

        <div class="discussion__comment-box discussion__comment-box--top"></div>
        <div class="discussion__comments"></div>
        <div class="discussion__comment-box discussion__comment-box--bottom"></div>
        <a class="d-discussion__show-all-comments js-show-discussion" href="@LinkTo{/discussion@discussionId}"
            data-is-ajax data-link-name="View all comments" rel="nofollow">
            Show all comments…
            <i class="i i-show-all-comments"></i>
            <i class="i i-arrow-blue-down"></i>
        </a>
    </div>
</div>
