@import views.support.RenderClasses

<div>
    <article class="@RenderClasses(
        "content","tonal", s"tonal--"
    )"
    role="main">

        <div class="content__main">
            <div class="gs-container u-cf">
                @fragments.email.emailSignUp(
                    "landing",
                    "Catch up when you wake up with <span class=\"email-sub__heading-emph\">The Guardian Today Email</span>",
                    "<span class=\"email-sub__description-emph\">Subscribe to The Guardian Today</span> We'll send you the biggest headlines each and every morning."
                )
            </div>
        </div>
    </article>
</div>



