@(gallery: model.GalleryPage,
  shouldAddDisclaimer: Boolean)(implicit request: RequestHeader)

@import views.support.TrailCssClasses.toneClass

@* Manually placing tonal__head--tone-media as temporary fix to ensute special report tones have it *@
<header class="tonal__head tonal__head--tone-media tonal__head--@toneClass(gallery.item)">
    @* Hidden because we visually show this data in the head, but needed
    here for SEO. *@
    <h1 class="is-hidden" itemprop="headline">@Html(gallery.item.trail.headline)</h1>

    <div class="gs-container">
        <div class="content__main-column content__main-column--gallery">
            @fragments.contentMeta(gallery.item, gallery)

            @if(gallery.item.fields.standfirst.isDefined) {
                <div class="tonal__standfirst">
                    @fragments.standfirst(gallery.item)
                </div>
            }

            <div class="content__meta-container gallery__meta-container">
                @if(!gallery.item.content.hasTonalHeaderByline) {
                    @fragments.meta.byline(gallery.item.trail.byline, gallery.item.tags)
                }

                @if(gallery.item.content.tags.contributors.length == 1) {
                    @if(gallery.item.content.hasTonalHeaderByline && (gallery.item.tags.contributors.headOption.exists(_.properties.twitterHandle.nonEmpty) || gallery.item.tags.contributors.headOption.exists(_.properties.emailAddress.nonEmpty))) { <p class="meta__contact-header hide-until-leftcol">Contact author</p> }
                    @fragments.meta.contactAuthor(gallery.item.tags)
                }

                @defining(gallery.item.elements.mainPicture.flatMap(_.images.masterImage)) {
                    case Some(masterImage) => {
                        <figcaption class="caption caption--gallery hide-from-desktop">
                            @if(masterImage.caption.isDefined) {
                                Main image:
                                @masterImage.caption.map(Html(_))
                            }

                            @if(masterImage.displayCredit && !masterImage.creditEndsWithCaption) {
                                @masterImage.credit.map(Html(_))
                            }
                        </figcaption>
                    }
                    case None => { }
                }

                @if(!gallery.item.trail.shouldHidePublicationDate) {
                    @fragments.meta.dateline(gallery.item.trail.webPublicationDate, gallery.item.fields.lastModified, gallery.item.content.hasBeenModified, gallery.item.fields.firstPublicationDate, gallery.item.tags.isLiveBlog, gallery.item.fields.isLive)
                }

                @if(shouldAddDisclaimer) {
                    @fragments.affiliateLinksDisclaimer()
                }
            </div>
        </div>
    </div>
</header>
