@(gallery: Gallery, storyPackage: List[Trail], index: Int, trail: Boolean)(implicit request: RequestHeader)
@import conf.Switches._

<h2 class="article-zone left-col-deport tone-@VisualTone(gallery) tone-accent-border">
    <span class="left-col-deport__body">
        <a class="tone-colour" data-link-name="article section" href="/@gallery.section">@Html(gallery.sectionName.toLowerCase)</a>
    </span>
</h2>
<div class="article-wrapper monocolumn-wrapper tone-@VisualTone(gallery)">
    <article class="js-gallery article gallery-page" itemprop="mainContentOfPage"
         itemscope itemtype="@gallery.schemaType" role="main">
        <div class="article__inner">
            <header class="article__head">
                @fragments.headline(gallery.headline)
                @fragments.article.dateline(gallery.webPublicationDate, gallery.isLive)
            </header>
        </div>
        <div class="article__columning-wrapper">
            <div class="article__main-column">

                <div class="article__meta-container">
                    @fragments.byline(gallery.byline, gallery)
                    @fragments.article.dateline(gallery.webPublicationDate, secondary=true)
                    <div class="js-comment-count"></div>
                </div>


                <!-- Lightbox JS Gallery -->
                @if(LightboxGalleriesSwitch.isSwitchedOn) {
                    @fragments.galleryThumbs(gallery, showCta=true)
                }

                <!-- Non-JS Gallery / LightboxSwitch off mode -->
                <div class="@if(LightboxGalleriesSwitch.isSwitchedOn) { js-hidden }">
                    <p class="gallery-nav">

                        @if(index > 1) {
                            <a class="gallery-prev control tone-colour" href="?index=@(index - 1)">Previous</a>
                        }

                        Image @index of @gallery.size

                        @if(index < gallery.size) {
                            <a class="gallery-next control tone-colour" href="?index=@(index + 1)">Next</a>
                        } else {
                            <a class="gallery-next control tone-colour" href="?index=1">Next</a>
                        }
                    </p>

                    <div class="gallery-container">
                        @gallery.largestCrops.zipWithRowInfo.map{ case(image, row) =>
                            @if(row.rowNum == index) {
                                <img class="maxed @if(image.width >= image.height){landscape} else {portrait}"
                                src="@image.path" />

                                <div class="gallery-caption">
                                    <p class="caption">@Html(image.caption.getOrElse(""))</p>
                                    <p class="caption-credit">@image.credit</p>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="article__container">
                    @fragments.standfirst(gallery)

                    @if(ArticleKeywordsSwitch.isSwitchedOn){
                        <div class="article__keywords" data-link-name="gallery keywords">
                            @fragments.keywordList(gallery.keywords)
                        </div>
                    }
                </div>

                <div class="social-wrapper">
                    @fragments.social(gallery)
                </div>
            </div>
            <div class="article__secondary-column" aria-hidden="true">
                <h2 class="article__meta-heading tone-colour">Share this gallery</h2>
                @fragments.social(gallery, "next to content")
            </div>
        </div>
    </article>
    <div class="article__inner">
        @if(storyPackage.nonEmpty) {
            <aside role="complementary">
                @fragments.relatedTrails(storyPackage, heading = "More on this story", visibleTrails = 5)
            </aside>
        } else {
            <aside class="js-related" role="complementary"></aside>
        }

        @fragments.mostPopularPlaceholder(gallery.section)

    </div>
</div>


<div class="gallery-overlay-bg"></div>