@(
    id: Int,
    isMobile: Boolean = false
)(implicit request: RequestHeader)
@import conf.switches.Switches.CommercialSwitch
@import mvt.CommercialGalleryBannerAds

@additionalSizes = @{
    if(CommercialGalleryBannerAds.isParticipating)
        Seq("970,250", "970,350")
    else
        Seq.empty
}

@if(CommercialSwitch.isSwitchedOn) {
    @defining((isMobile, id) match {
        case (true, 0) => ("top-above-nav", Seq("1,1", "2,2", "88,71", "300,250", "fluid"))
        case _         => (s"inline$id", Seq("1,1", "2,2", "300,250", "fluid"))
    }) { case(slotName, sizes) =>
        @fragments.commercial.adSlot(
            slotName,
            Seq("gallery-inline", "dark") ++ (if(isMobile) Some("mobile") else None),
            Map("mobile" -> (sizes ++ additionalSizes)),
            optId = if(isMobile) Some(s"$slotName--mobile") else None,
            optClassNames = if(isMobile) Some("mobile-only") else Some("hide-until-tablet")
        ){ }
    }
}
