@(item: model.ContentType, showBadge: Boolean = false, showMeta: Boolean = true)(implicit request: RequestHeader)

@import views.support.TrailCssClasses.toneClass
@import views.support.ContributorLinks

<header class="content__head content__head--immersive is-fixed-height tonal__head tonal__head--@toneClass(item)">

    @fragments.immersiveHeaderBackgroundStyling(item.content.elements.elements.head)

    <div class="content__header tonal__header">
        <div class="content__head--mobile">
            <div class="content__wrapper content__wrapper--headline">
                <div class="gs-container">

                    @if(showMeta) {
                        @fragments.meta.metaInline(item)
                    }

                    <h1 class="content__headline" itemprop="headline">
                        @fragments.inlineSvg("camera", "icon", List("inline-tone-fill")) @Html(item.trail.headline)
                    </h1>

                    @if(item.content.hasTonalHeaderByline) {
                        @item.trail.byline.map { text =>
                            <span class="content__headline content__headline--byline">@ContributorLinks(text, item.tags.contributors)</span>
                        }
                    }

                    @if(showBadge && !item.commercial.isAdvertisementFeature) {
                        @fragments.commercial.badge(item)
                    }

                </div>
            </div>
        </div>

        <div class="gs-container">
            @fragments.contentMeta(item)
        </div>

        @if(item.fields.standfirst.isDefined) {
            <div class="content__wrapper--standfirst">
                <div class="gs-container">
                    @if(showBadge && item.commercial.isAdvertisementFeature) {
                        <div class="content__meta-container js-content-meta js-football-meta">
                            @fragments.commercial.badge(item)
                        </div>
                    }
                    @fragments.standfirst(item)
                </div>
            </div>
        }

        <div class="gs-container">
            <span class="meta__break"></span>

            @if(!item.content.hasTonalHeaderByline) {
                @fragments.meta.byline(item.trail.byline, item.tags)
            }

            @if(item.content.tags.contributors.length == 1) {
                @if(item.content.hasTonalHeaderByline && (item.tags.contributors.headOption.exists(_.properties.twitterHandle.nonEmpty) || item.tags.contributors.headOption.exists(_.properties.emailAddress.nonEmpty))) { <p class="meta__contact-header hide-until-leftcol">Contact author</p> }
                @fragments.meta.contactAuthor(item.tags)
            }

            @if(!item.trail.shouldHidePublicationDate) {
                @fragments.meta.dateline(item.trail.webPublicationDate, item.fields.lastModified, item.content.hasBeenModified, item.tags.isLiveBlog, item.fields.isLive)
            }

            <div class="meta__save-for-later js-save-for-later" data-position="top"></div>

        </div>

    </div>
</header>
