@(page: ImageContentPage)(implicit request: RequestHeader)
@import conf.switches.Switches._
@import views.support.TrailCssClasses.articleToneClass
@import layout.ContentWidths.PictureMedia

@defining(page.image) { image =>

<div class="l-side-margins l-side-margins--media">
    <article class="content content--media content--image tonal tonal--tone-media" itemprop="mainContentOfPage" itemscope itemtype="@image.schemaType" role="main">

        @fragments.headTonal(image)

        <div class="content__main tonal__main tonal__main--tone-media">
            <div class="gs-container">
                <div class="content__main-column content__main-column--image">

                    @image.mainPicture.map { picture =>
                        @fragments.img(
                            picture,
                            lightboxIndex = if(image.isMainMediaLightboxable) Some(1) else None,
                            widthsByBreakpoint = PictureMedia.Inline
                        )
                    }

                    @fragments.contentMeta(image)

                    @fragments.submeta(image)
                </div>
            </div>
        </div>
    </article>

    @fragments.contentFooter(image, page.related)
</div>

}
