@(page: ImageContentPage)(implicit request: RequestHeader)
@import layout.ContentWidths.ImageContentMedia

@defining(page.image) { image =>

<div class="l-side-margins l-side-margins--media">
    <article class="content content--media content--image tonal tonal--tone-media" itemprop="mainContentOfPage" itemscope itemtype="@image.metadata.schemaType" role="main">

        @fragments.headTonal(image)

        <div class="content__main tonal__main tonal__main--tone-media">
            <div class="gs-container">
                <div class="content__main-column content__main-column--image">

                    @image.elements.mainPicture.map { picture =>
                        @fragments.img(
                            picture.images,
                            lightboxIndex = if(image.lightBox.isMainMediaLightboxable) Some(1) else None,
                            widthsByBreakpoint = ImageContentMedia.inline
                        )
                    }

                    @fragments.contentMeta(image)

                    @fragments.submeta(image)
                </div>
            </div>
        </div>
    </article>

    @fragments.contentFooter(image, page.related)
</div>

}
