@(page: ImageContentPage)(implicit request: RequestHeader)
@import conf.Switches._

@defining((page.image, page.storyPackage)) { case (image, storyPackage) =>

<article class="content content--image tone-@image.visualTone" itemprop="mainContentOfPage" itemscope itemtype="@image.schemaType" role="main">

    @fragments.headDefault(image)

    <div class="gs-container">
        <div class="content__main-column content__main-column--image">

            @fragments.img(image.mainPicture)

            @fragments.contentMeta(image)


            <div class="content__keywords" data-link-name="article keywords">
                @fragments.keywordList(image.keywords)
            </div>

            <div class="social-wrapper" data-component="share">
                @fragments.social(image)
            </div>
        </div>


        <div class="content__secondary-column" aria-hidden="true">
            <div class="mpu-container js-mpu-ad-slot"></div>
            <div class="js-components-container"></div>
        </div>

    </div>
</article>

@fragments.contentFooter(image, storyPackage)

}
