@(index: services.IndexPage)(implicit request: RequestHeader)
@import common.commercial.PaidContent
@import common.{Edition, PagePaths}
@import model.FrontProperties
@import model.FrontProperties.empty
@import services.IndexPage
@import views.html.fragments.containers.facia_cards.{container, containerScaffold}
@import views.html.fragments.pagination
@import views.support.RenderClasses

@if(index.page.metadata.id == "help/accessibility-help") {
    @containerScaffold("Preferences", "accesibility preferences") {
        <div id="js-accessibility-preferences">Loading&hellip;</div>
    }
}

@index.branding(Edition(request)) match {

    case Some(branding) => {
        <div class="l-side-margins">
            <div
            class="@RenderClasses(Map("fc-container--advertisement-feature paid-content--advertisement-feature" -> (branding.sponsorshipType == PaidContent)), "u-cf index-page")"
            data-link-name="Front | @request.path"
            role="main">

                @if(branding.sponsorshipType == PaidContent) {
                    @fragments.guBand()
                }

                @defining(IndexPage.makeFront(index, Edition(request)).containers) { containers =>
                    @containers.map { containerDefinition =>
                        @container(containerDefinition, frontProperties = FrontProperties.fromBranding(branding))
                    }
                }

                @index.page.metadata.pagination.map { paginationInstance =>
                    <div class="fc-container__pagination">
                        @pagination(index.page.metadata.webTitle, paginationInstance, PagePaths.fromId(index.idWithoutEdition))
                    </div>
                }

                @fragments.trendingTopics(index.faciaTrails, index.page.metadata.id, None)

                <div class="fc-container fc-container--commercial">@fragments.commercial.commercialComponent()</div>

                @defining(IndexPage.makeLinkedData(index)) { linkedData =>
                    <script data-schema="@{linkedData.`@type`}" type="application/ld+json">
                        @Html(model.meta.LinkedData.toJson(linkedData))
                    </script>
                }

            </div>
        </div>
    }

    case None => {
        <div class="l-side-margins">
            <div class="u-cf index-page" data-link-name="Front | @request.path" role="main">

                @defining(IndexPage.makeFront(index, Edition(request)).containers) { containers =>
                    @containers.map { containerDefinition =>
                        @container(containerDefinition, empty)
                    }
                }

                @index.page.metadata.pagination.map { paginationInstance =>
                    <div class="fc-container__pagination">
                        @pagination(index.page.metadata.webTitle, paginationInstance, PagePaths.fromId(index.idWithoutEdition))
                    </div>
                }

                @fragments.trendingTopics(index.faciaTrails, index.page.metadata.id, None)

                <div class="fc-container fc-container--commercial">@fragments.commercial.commercialComponent()</div>

                @defining(IndexPage.makeLinkedData(index)) { linkedData =>
                    <script data-schema="@{linkedData.`@type`}" type="application/ld+json">
                        @Html(model.meta.LinkedData.toJson(linkedData))
                    </script>
                }

            </div>
        </div>
    }
}
