@(index: services.IndexPage)(implicit request: RequestHeader)
@import common.{Edition, PagePaths}
@import model.FrontProperties.empty
@import services.IndexPage
@import views.html.fragments.containers.facia_cards.container
@import views.html.fragments.containers.facia_cards.containerScaffold
@import views.html.fragments.pagination
@import views.support.RenderClasses
@import services.FaciaContentConvert

@if(index.page.id == "help/accessibility-help") {
    @containerScaffold("Preferences", "accesibility preferences") {
        <div id="js-accessibility-preferences">Loading&hellip;</div>
    }
}

<div class="l-side-margins">
    <div class="@RenderClasses(Map(
        "u-cf" -> true,
        "index-page" -> true,
        "js-sponsored-front" -> (index.page.isSponsored(Some(Edition(request))) ||
            index.page.isAdvertisementFeature ||
            index.page.isFoundationSupported),
        "fc-container--advertisement-feature" -> index.page.isAdvertisementFeature)
        )"
        data-link-name="Front | @request.path"
        @index.page.sponsor.map { sponsor =>
            data-sponsor="@sponsor"
        }
        @index.page.sponsorshipType.map { sponsorshipType =>
            data-sponsorship="@sponsorshipType"
        }
        role="main">

        @defining(IndexPage.makeFront(index, Edition(request)).containers) { containers =>
            @containers.map { containerDefinition =>
                @container(containerDefinition, empty)
            }
        }

        @index.page.pagination.map { paginationInstance =>
            <div class="fc-container__pagination">
                @pagination(index.page.webTitle, paginationInstance, PagePaths.fromId(index.idWithoutEdition))
            </div>
        }

        @fragments.trendingTopics(index.trails.map(FaciaContentConvert.frontendContentToFaciaContent), index.page.id, None)
        <div class="fc-container fc-container--commercial">
            @fragments.commercial.commercialComponent()
        </div>

        @defining(IndexPage.makeLinkedData(index)) { linkedData =>
            <script data-schema="@{linkedData.`@type`}" type="application/ld+json">
                @Html(model.meta.LinkedData.toJson(linkedData))
            </script>
        }

    </div>
</div>
