@(index: services.IndexPage)(implicit request: RequestHeader)

@import common.LinkTo
@import model.Tag
@import conf.Configuration.debug.beaconUrl
@import conf.switches.Switches.preflightServerSideAdCallSwitch

@if(preflightServerSideAdCallSwitch.isSwitchedOn) {
    <!--esi <esi:include src="@{s"$beaconUrl/esi/ad-call"}" /> -->
}

<!-- make sure your beaconUrl config is localhost -->
<script id="rich-esi" src="@{s"$beaconUrl/esi/ad-call"}"></script>

@index.page match {
    case tag: Tag => {
        <meta name="twitter:url" content="@LinkTo(request.uri)" />
        <meta property="og:title" content="@views.support.Title(index.page)" />
    }
    case _ => { }
}

