@(index: services.IndexPage)(implicit request: RequestHeader)

@import common.LinkTo
@import model.Tag
@import conf.switches.Switches.preflightServerSideAdCallSwitch

@if(preflightServerSideAdCallSwitch.isSwitchedOn) {
    <!--esi remove if esi is enabled -->
    <esi:comment text="ESI Comment test"/>
    <esi:include src="/esi/ad-call" />
}

@index.page match {
    case tag: Tag => {
        <meta name="twitter:url" content="@LinkTo(request.uri)" />
        <meta property="og:title" content="@views.support.Title(index.page)" />
    }
    case _ => { }
}

