@(page: InteractivePage)(implicit request: RequestHeader)
@import common.Edition
@import views.support.TrailCssClasses.articleToneClass

@defining(page.interactive) { interactive =>
<div class="l-side-margins">
    <article class="@RenderClasses(
            Map(
                "content--advertisement-feature" -> interactive.isAdvertisementFeature,
                "content--sponsored" -> interactive.isSponsored(Some(Edition(request))),
                "content--foundation-supported" -> interactive.isFoundationSupported
            ),
            "content", "content--interactive", "tonal", s"tonal--${articleToneClass(interactive)}"
        )"
        itemprop="mainContentOfPage" itemscope itemtype="@interactive.schemaType" role="main">

        @fragments.headDefault(interactive, showBadge = true)

        <div class="content__main tonal__main tonal__main--@articleToneClass(interactive)">
            <div class="gs-container u-cf">
                <div class="content__main-column">
                    @fragments.contentMeta(interactive, showBadge = false)
                </div>
            </div>

            <div class="gs-container" data-test-id="interactive-content-body">
                <div class="content__main-column content__main-column--interactive">
                @interactive.body.map { body =>
                    @HtmlFormat.raw(body)
                }.getOrElse {
                    <figure class="interactive" data-interactive="@{conf.Configuration.interactive.url}@{request.path.drop(1)}/boot.js"></figure>
                }
                </div>
            </div>
        </div>
    </article>

    @fragments.contentFooter(interactive, page.related)

    }
</div>
