@(page: InteractivePage)(implicit request: RequestHeader)
@import conf.Switches.DiscussionSwitch

@defining(page.interactive) { interactive =>

    <article class="content content--interactive tone-@interactive.visualTone"
    itemprop="mainContentOfPage" itemscope itemtype="@interactive.schemaType" role="main">

        @fragments.headDefault(interactive)

        <div class="gs-container u-cf">
            @fragments.contentMeta(interactive)
        </div>

        <div class="gs-container" data-test-id="interactive-content-body">
            <div class="content__main-column content__main-column--interactive">

            @interactive.body.map { body =>
                @HtmlFormat.raw(body)
            }.getOrElse {
                <figure class="interactive" data-interactive="@{conf.Configuration.interactive.url}@{request.path.drop(1)}/boot.js"></figure>
            }
            </div>
        </div>
    </article>

    @fragments.contentFooter(interactive, page.related)

}
