@(page: MediaPage)(implicit request: RequestHeader)

@import common.LinkTo
@import model.{Audio, AudioPlayer, Video, VideoPlayer}
@import views.support.{Video640, SeoOptimisedContentImage, StripHtmlTags}
@import views.support.TrailCssClasses.articleToneClass

@defining(page.media, page.media match { case _: Audio => "audio" case _ => "video" }){ case (media, mediaType) =>
<div class="l-side-margins l-side-margins--media">

    <article class="@RenderClasses(
            Map(
                "content--has-body" -> media.body.nonEmpty,
                "content--advertisement-feature" -> page.media.isAdvertisementFeature
            ),
            "content", "content--media", s"content--media--$mediaType", "tonal", s"tonal--${articleToneClass(media)}"
        )"
        itemscope itemtype="@media.schemaType" role="main">

        @fragments.headTonal(media)

        <div class="content__main tonal__main tonal__main--@articleToneClass(media)">
            <div class="gs-container">
                <div class="content__main-column content__main-column--media content__main-column--@mediaType">
                    <div class="media-body">

                        @media match {
                            case audio: Audio if audio.mainAudio.exists(_.imageCrops.nonEmpty) => {
                                @media.mainAudio.map { audio =>
                                    @fragments.img(audio)
                                }
                            }
                            case _ => { }
                        }

                        <div class="media-primary player">
                            @media match {
                                case audio: Audio => {
                                    <figure data-component="main audio">
                                    @audio.mainAudio.map { audioElement =>
                                        @fragments.media.audio(AudioPlayer(
                                            audio,
                                            audioElement,
                                            audio.headline,
                                            autoPlay = false
                                        ))
                                    }
                                    </figure>
                                }
                                case video: Video => {
                                    <figure data-component="main video">
                                        <meta itemprop="name" content="@Html(video.headline)"/>
                                        <meta itemprop="headline" content="@Html(video.headline)"/>
                                        <meta itemprop="url" content="@LinkTo(video.url)"/>
                                        @video.trailText.map{ t =>
                                            <meta itemprop="description" content="@StripHtmlTags(t)" />
                                            <meta itemprop="about" content="@StripHtmlTags(t)" />
                                        }

                                        <meta itemprop="datePublished" content="@video.webPublicationDate.toString("yyyy-MM-dd")" />
                                        <meta itemprop="name" content="@video.webTitle" />
                                        <meta itemprop="uploadDate" content="@video.webPublicationDate.toString("yyyy-MM-dd")" />
                                        @video.mainVideo.map { mv =>
                                            <meta itemprop="duration" content="@mv.ISOduration" />
                                            <meta itemprop="height" content="@mv.height" />
                                            <meta itemprop="width" content="@mv.width" />
                                        }
                                        <meta itemprop="requiresSubscription" content="false" />
                                        <meta itemprop="image" content="@Html(video.openGraphImage)" />
                                        @video.thumbnail.map{ img => <meta itemprop="thumbnail" content="@SeoOptimisedContentImage.bestFor(img)" /> }
                                        @video.mainVideo.map { videoElement =>
                                            @fragments.media.video(VideoPlayer(
                                                videoElement,
                                                Video640,
                                                video.headline,
                                                autoPlay = true,
                                                showControlsAtStart = true,
                                                endSlatePath = video.endSlatePath,
                                                overrideIsRatioHd = None
                                            ), true)
                                        }
                                    </figure>
                                }
                            }
                        </div>

                        <div class="content__main-column__body" data-component="body">
                            <div class="tonal__standfirst">
                                @media match {
                                    case v: Video => {
                                        @fragments.standfirst(v)
                                    }
                                    case a: Audio => { }
                                }
                            </div>

                            @fragments.contentMeta(media)

                            @media match {
                                case a: Audio => {
                                    @a.body.map { b =>
                                        <div class="from-content-api">
                                            @Html(b)
                                        </div>
                                    }
                                }
                                case _ => { }
                            }

                            @fragments.submeta(media)
                        </div>
                    </div>
                </div>

                @media match {
                    case v: Video => {
                        <div class="content__secondary-column content__secondary-column--media content__secondary-column--video hide-on-childrens-books-site"
                            aria-hidden="true">
                            <div class="js-video-components-container"></div>
                        </div>
                    }
                    case a: Audio if a.body.nonEmpty => {
                        <div class="content__secondary-column content__secondary-column--media content__secondary-column--audio hide-on-childrens-books-site"
                            aria-hidden="true">
                            @fragments.commercial.standardAd("right", Seq("dark"), Map("desktop" -> Seq("300,250")))
                        </div>
                    }
                    case _ => { }
                }
            </div>
        </div>
    </article>

    @if(mediaType != "video") {
        <div class="fc-container fc-container--media">
            <div class="js-media-popular tonal--@articleToneClass(media)">
                <div class="fc-container fc-container--popular">
                    <div class="fc-container__inner">
                        <div class="fc-container__header">
                            <h2 class="fc-container__header__title">
                                <a class="most-viewed-no-js tone-colour" href="@LinkTo{/@mediaType/most-viewed}" data-link-name="Most viewed @mediaType">More @mediaType</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="l-side-margins">
    @fragments.contentFooter(media, page.related, "media")

    }
</div>
