@(metaData: model.PreferencesMetaData)(implicit request: RequestHeader)

<div class="l-side-margins" data-link-name="preferences">
    <div class="fc-container">
        <div class="fc-container__inner">
            <div class="fc-container__header">
                <div class="fc-container__header__title" style="bottom: inherit;">
                    <span tabindex="0">preferences</span>
                </div>
            </div>

            <div class="fc-container__body">
                Change your personal preferences here, affecting how The Guardian website is displayed.
            </div>
        </div>
    </div>

    <div class="fc-container">
        <div class="fc-container__inner">
            <div class="fc-container__header">
                <div class="fc-container__header__title">
                    <span tabindex="0">recently visited</span>
                </div>
            </div>

            <div class="fc-container__body">
                <div id="preferences-history-tags">Loading...</div>
            </div>
        </div>
    </div>
</div>
