@(metaData: model.PreferencesMetaData)(implicit request: RequestHeader)

<div class="l-side-margins">
    <div class="fc-container">
        <div class="fc-container__inner">
            <div class="fc-container__header">
                <div class="fc-container__header__title" style="bottom: inherit;">
                    <span tabindex="0">preferences</span>
                </div>
            </div>

            <div class="fc-container__body">
                These are your personal preferences for how The Guardian website is displayed.
            </div>
        </div>
    </div>

    <div class="fc-container">
        <div class="fc-container__inner">
            <div class="fc-container__header">
                <div class="fc-container__header__title" style="bottom: inherit;">
                    <span tabindex="0">suggested links</span>
                </div>
            </div>

            <div class="fc-container__body">
                <p>Suggested links are based by your browsing history. You can remove those that don't interest you by clicking 'X' next to them.</p>
                <div id="preferences-history-tags"></div>
            </div>
        </div>
    </div>
</div>
