@(page: model.Page)(implicit request: RequestHeader)

<main itemprop="mainContentOfPage" role="main">
    @Edition(request).zones.map{ zone =>
        <div class="monocolumn-wrapper">
            <h2 class="page-sub-header">
                @if(zone.name.title == "news") {
                    all sections
                } else {
                    <a href="@LinkTo(zone.name.href)" class="c-neutral1" data-link-name="zone:text">
                        @HtmlFormat.raw(zone.name.title)
                    </a>
                }
            </h2>

            <section class="component" data-link-name="@zone.name.title">
                <ul class="nav nav--columns nav--no-horizontal-spacing u-cf">
                    @zone.sections.map{ section =>
                        <li class="nav__item">
                            <a class="nav__link c-neutral1" href="@LinkTo(section.href)" data-link-name="@section.title:text">
                                @HtmlFormat.raw(section.title)
                            </a>
                        </li>
                    }
                </ul>
            </section>
        </div>
    }
</main>
