@(tag: Tag, trails: Seq[Trail], leadContent: Seq[Trail])(implicit request: RequestHeader)

<section class="front-section zone-@tag.section"
    data-link-name="@tag.section"
    data-link-context="@tag.id"
    role="main">

    @fragments.headers.sectionHead(tag.name)

    @if(tag.isContributor) {
        <div class="profile media">
            @tag.contributorImagePath.map { url =>
                <div class="profile-img media__img">
                    <img src="@url" alt="@tag.name" />
                </div>
            }
            @if(tag.bio) {
                <p class="type-7 profile-bio">
                    @RemoveOuterParaHtml(tag.bio)
                </p>
            }
        </div>

        <h2 class="type-2 article-zone b1">Latest</h2>
    }


    @if(leadContent.nonEmpty) {
        @leadContent.zipWithRowInfo.map{ case (trail, info) =>
            <div class="box-indent lead-content @if(info.rowNum == 1 && trail.mainPicture) {has-image}"
                data-link-name="lead content"
                @CricketMatch(trail).map{ id => data-cricket-match="@id" }>
                <ul class="unstyled">
                    @fragments.trails.featured(trail, info.rowNum)
                </ul>
            </div>
        }
    }

    <div class="trailblock" data-count="@trails.length" data-link-name="Tag:block:@tag.section">
        <ul class="unstyled">
            @fragments.trailblocks.section(trails, trails.size)
        </ul>
    </div>

</section>

<div class="box-indent article-zone-no-indent">
    @if(tag.section == "football") {
        @if(tag.isFootballCompetition) {
            @fragments.footballNav("/" + tag.id, Some(tag.webTitle), Some("/" + tag.id))
        } else {
            @fragments.footballNav("/football")
        }
    }

    @fragments.mostPopularPlaceholder(tag.section)
</div>
