@(page: VideoPage)(implicit request: RequestHeader)
@import conf.Switches._

@defining(page.video){ video =>
    <h2 class="article-zone tone-@VisualTone(video) tone-accent-border">
        <a class="tone-colour tone-border" data-link-name="article section" href="/@LinkTo(video.section)">@Html(video.sectionName.toLowerCase)</a>
    </h2>
    <div class="article-wrapper monocolumn-wrapper tone-@VisualTone(video)">

        <article id="article" class="article video @if(video.isLive){is-live}" itemprop="mainContentOfPage"
                 itemscope itemtype="@video.schemaType" role="main">
            <div class="article-v2__inner">
                <header class="article__head">
                    @fragments.headline(video.headline)

                    @fragments.article.dateline(video.webPublicationDate, video.isLive)
                </header>
            </div>
            <div class="article-v2__columning-wrapper">
                <div class="article-v2__main-column">

                    <div class="player media-content">
                        <div class="media-proportional-container">
                            <video controls="controls" preload="none" poster="@video.imageOfWidth(640).map{image=>@image.path}.getOrElse("")">
                                @video.encodings.map{ encoding =>
                                    <source src="@encoding.url" />
                                }

                                @video.encodings.find(_.format == "video/mp4").map{ encoding =>
                                    <object type="application/x-shockwave-flash" data="@Static("flash/flashmediaelement.swf")" width="620" height="350">
                                        <param name="allowFullScreen" value="true" />
                                        <param name="movie" value="@Static("flash/flashmediaelement.swf")" />
                                        <param name="flashvars" value="controls=true&amp;poster=@video.imageOfWidth(640).map{image=>@image.path}.getOrElse("")&amp;file=@encoding.url" />
                                        <img src="@video.imageOfWidth(640).map{image=>@image.path}.getOrElse("")" alt="" width="620" height="350" />
                                        Sorry, your browser is unable to play this video.
                                    </object>
                                }
                            </video>
                        </div>
                    </div>

                    <div class="article__meta-container">
                        @fragments.byline(video.byline, video)
                        @fragments.article.dateline(video.webPublicationDate, secondary=true)
                        <div class="js-comment-count"></div>
                    </div>

                    <div class="video-standfirst">
                        @fragments.standfirst(video)
                    </div>

                    @if(ArticleKeywordsSwitch.isSwitchedOn){
                        <div class="article__keywords" data-link-name="video keywords">
                            @fragments.keywordList(video.keywords)
                        </div>
                    }

                    <div class="social-wrapper">
                        @fragments.social(video)
                    </div>
                </div>
                <div class="article-v2__secondary-column" aria-hidden="true">
                    <h2 class="article__meta-heading tone-colour">Share this video</h2>
                    @fragments.social(video, "next to content")
                </div>
            </div>
        </article>
        <div class="article-v2__inner">
            @if(page.storyPackage.nonEmpty) {
                <aside role="complementary">
                    @fragments.relatedTrails(page.storyPackage, heading = "More on this story", visibleTrails = 5)
                </aside>
            } else {
                <aside class="js-related" role="complementary"></aside>
            }

            @fragments.mostPopularPlaceholder(video.section)
        </div>
    </div>

}
