%i, .i { background-repeat: no-repeat; display: inline-block; }

%i-guardian-bookshop-logo, .i-guardian-bookshop-logo { background-position: -8px -9px; width: 167px; height: 20px; }

%i-guardian-holidayoffers-logo, .i-guardian-holidayoffers-logo { background-position: -176px -9px; width: 199px; height: 20px; }

%i-guardian-soulmates-logo, .i-guardian-soulmates-logo { background-position: -376px -9px; width: 90px; height: 20px; }

%i-moneydeals-logo, .i-moneydeals-logo { background-position: -467px -9px; width: 107px; height: 20px; }