article .article-body p,
article .article-body ul,
article .article-body ol,
article .article-body address,
article .article-body blockquote {
    font-family: @serif;
}

h1 {
	 .type-1;
}

h1 em,
h1 i {
    font-style: italic;
}

h2 {
	.type-2;
}

.standfirst {
    .type-4;
}

article .article-body h2,
article .article-body h3,
.trailblock h3,
.trail-headline,
.trailtext {
    font-family: @serif;
}

.toggle-trailblock {
	.type-6;
}