.icon-blockquote-after { background-image: url(../images/global/sprite.14650ba9738e3fa896d473ae25ffeb7f.png ); background-repeat: no-repeat; background-position: -8px -8px; width: 54px; height: 28px; }

.icon-blockquote-before { background-image: url(../images/global/sprite.14650ba9738e3fa896d473ae25ffeb7f.png ); background-repeat: no-repeat; background-position: -62px -8px; width: 54px; height: 28px; }

.icon-clock { background-image: url(../images/global/sprite.14650ba9738e3fa896d473ae25ffeb7f.png ); background-repeat: no-repeat; background-position: -116px -8px; width: 10px; height: 10px; }

.icon-filter-arrow-down { background-image: url(../images/global/sprite.14650ba9738e3fa896d473ae25ffeb7f.png ); background-repeat: no-repeat; background-position: -126px -8px; width: 19.843px; height: 11.514px; }

.icon-filter-arrow-right { background-image: url(../images/global/sprite.14650ba9738e3fa896d473ae25ffeb7f.png ); background-repeat: no-repeat; background-position: -145px -8px; width: 8.702px; height: 15px; }

.icon-filter-arrow-up { background-image: url(../images/global/sprite.14650ba9738e3fa896d473ae25ffeb7f.png ); background-repeat: no-repeat; background-position: -153px -8px; width: 19.843px; height: 11.514px; }

.icon-guardian-logo-small { background-image: url(../images/global/sprite.14650ba9738e3fa896d473ae25ffeb7f.png ); background-repeat: no-repeat; background-position: -172px -8px; width: 20px; height: 28px; }

.icon-guardian-logo { background-image: url(../images/global/sprite.14650ba9738e3fa896d473ae25ffeb7f.png ); background-repeat: no-repeat; background-position: -192px -8px; width: 175px; height: 31px; }

.icon-image { background-image: url(../images/global/sprite.14650ba9738e3fa896d473ae25ffeb7f.png ); background-repeat: no-repeat; background-position: -367px -8px; width: 12px; height: 9px; }

.icon-menu { background-image: url(../images/global/sprite.14650ba9738e3fa896d473ae25ffeb7f.png ); background-repeat: no-repeat; background-position: -367px -17px; width: 24px; height: 13px; }