.icon-blockquote-after { background-image: url(../images/global/sprite.92dc3e8f8e5679b31b33ed5dcac3f8f3.png ); background-repeat: no-repeat; background-position: -8px -8px; width: 54px; height: 28px; }

.icon-blockquote-before { background-image: url(../images/global/sprite.92dc3e8f8e5679b31b33ed5dcac3f8f3.png ); background-repeat: no-repeat; background-position: -62px -8px; width: 54px; height: 28px; }

.icon-clock { background-image: url(../images/global/sprite.92dc3e8f8e5679b31b33ed5dcac3f8f3.png ); background-repeat: no-repeat; background-position: -116px -8px; width: 10px; height: 10px; }

.icon-filter-arrow-down { background-image: url(../images/global/sprite.92dc3e8f8e5679b31b33ed5dcac3f8f3.png ); background-repeat: no-repeat; background-position: -126px -8px; width: 19.843px; height: 11.514px; }

.icon-filter-arrow-right { background-image: url(../images/global/sprite.92dc3e8f8e5679b31b33ed5dcac3f8f3.png ); background-repeat: no-repeat; background-position: -145px -8px; width: 12px; height: 20px; }

.icon-filter-arrow-up { background-image: url(../images/global/sprite.92dc3e8f8e5679b31b33ed5dcac3f8f3.png ); background-repeat: no-repeat; background-position: -157px -8px; width: 19.843px; height: 11.514px; }

.icon-guardian-logo-small { background-image: url(../images/global/sprite.92dc3e8f8e5679b31b33ed5dcac3f8f3.png ); background-repeat: no-repeat; background-position: -176px -8px; width: 20px; height: 28px; }

.icon-guardian-logo { background-image: url(../images/global/sprite.92dc3e8f8e5679b31b33ed5dcac3f8f3.png ); background-repeat: no-repeat; background-position: -196px -8px; width: 175px; height: 31px; }

.icon-image { background-image: url(../images/global/sprite.92dc3e8f8e5679b31b33ed5dcac3f8f3.png ); background-repeat: no-repeat; background-position: -371px -8px; width: 12px; height: 9px; }

.icon-menu { background-image: url(../images/global/sprite.92dc3e8f8e5679b31b33ed5dcac3f8f3.png ); background-repeat: no-repeat; background-position: -8px -39px; width: 24px; height: 13px; }