.icon-arrow-down { background-image: url(../images/global/sprite.8d85416d11c3d46463372e6482fea3bd.png ); background-repeat: no-repeat; background-position: -8px -8px; width: 12.667px; height: 7px; }

.icon-arrow-up { background-image: url(../images/global/sprite.8d85416d11c3d46463372e6482fea3bd.png ); background-repeat: no-repeat; background-position: -20px -8px; width: 12.667px; height: 7.083px; }

.icon-blockquote-after { background-image: url(../images/global/sprite.8d85416d11c3d46463372e6482fea3bd.png ); background-repeat: no-repeat; background-position: -32px -8px; width: 54px; height: 28px; }

.icon-blockquote-before { background-image: url(../images/global/sprite.8d85416d11c3d46463372e6482fea3bd.png ); background-repeat: no-repeat; background-position: -86px -8px; width: 54px; height: 28px; }

.icon-clock { background-image: url(../images/global/sprite.8d85416d11c3d46463372e6482fea3bd.png ); background-repeat: no-repeat; background-position: -140px -8px; width: 10px; height: 10px; }

.icon-filter-arrow-down { background-image: url(../images/global/sprite.8d85416d11c3d46463372e6482fea3bd.png ); background-repeat: no-repeat; background-position: -150px -8px; width: 19.843px; height: 11.514px; }

.icon-filter-arrow-right { background-image: url(../images/global/sprite.8d85416d11c3d46463372e6482fea3bd.png ); background-repeat: no-repeat; background-position: -169px -8px; width: 8.702px; height: 15px; }

.icon-filter-arrow-up { background-image: url(../images/global/sprite.8d85416d11c3d46463372e6482fea3bd.png ); background-repeat: no-repeat; background-position: -177px -8px; width: 19.843px; height: 11.514px; }

.icon-guardian-logo-beta { background-image: url(../images/global/sprite.8d85416d11c3d46463372e6482fea3bd.png ); background-repeat: no-repeat; background-position: -196px -8px; width: 99.514px; height: 28px; }

.icon-guardian-logo { background-image: url(../images/global/sprite.8d85416d11c3d46463372e6482fea3bd.png ); background-repeat: no-repeat; background-position: -8px -36px; width: 107.667px; height: 20.125px; }

.icon-image { background-image: url(../images/global/sprite.8d85416d11c3d46463372e6482fea3bd.png ); background-repeat: no-repeat; background-position: -115px -36px; width: 12px; height: 9px; }

.icon-livequote-after { background-image: url(../images/global/sprite.8d85416d11c3d46463372e6482fea3bd.png ); background-repeat: no-repeat; background-position: -127px -36px; width: 37px; height: 20px; }

.icon-livequote-before { background-image: url(../images/global/sprite.8d85416d11c3d46463372e6482fea3bd.png ); background-repeat: no-repeat; background-position: -164px -36px; width: 37px; height: 20px; }

.icon-menu { background-image: url(../images/global/sprite.8d85416d11c3d46463372e6482fea3bd.png ); background-repeat: no-repeat; background-position: -201px -36px; width: 18px; height: 12px; }