.top .i-arrow-small-up {
    margin-left: ($gs-baseline/3)*2;
    position: relative;
    top: -1px;
}

.i-sport-arrow--small {
    @include transform(scale(.6));
    margin: 3px 0 0 3px;
    vertical-align: top;
}

.is-signed-in .i-profile {
    @extend %i-profile-signed-in;

    @if ($svg-support) {
        .svg & {
            @extend %svg-i-profile-signed-in;
        }
    }
}

.i-date {
    @if ($svg-support) {
        .svg & {
            background-size: 100%;
            width: 10px;
            height: 10px;
        }
    }
}

.caption:before,
figcaption:before {
    @extend %i;
    @extend %i-image;
    display: inline-block;
    content: "";
    vertical-align: top;
    margin: 1px 4px 0 0;

    @if ($svg-support) {
        .svg & {
            @extend %svg-i-image;
        }
    }
}

// Quotes
.from-content-api blockquote.quoted:before {
    @extend %i;
    @extend %i-quote-marks;
    content: "";
    position: absolute;
    left: 0;
    margin-top: -2px;
    @include transform(scale(.65));
    @include transform-origin(0);

    @if ($svg-support) {
        .svg & {
            @extend %svg-i-quote-marks;
        }
    }

}

.item--dark .i-comment-light-grey {
    @extend %i-comment-grey;

    @if ($svg-support) {
        .svg & {
            @extend %svg-i-comment-grey;
        }
    }
}
