.i-guardian-logo {
    @media (-webkit-min-device-pixel-ratio: 2) {
        background-position: 0 0;
        background-size: 100%;
        background-image: url('../images/guardian-logo%402x.3d645e8056e9d09e6d627953ce6116e3.png');
    }
}

.top .i-arrow-small-up {
    margin-left: $baseline*2;
}

.i-arrow-small-down {
    margin-left: $baseline;
}

.i-sport-arrow-small {
    margin: 0 0 -1px $baseline*2;
}

.is-active .i-arrow-small-down {
    @extend .i-arrow-small-up;
    border-color: transparent !important;

    .svg & {
        @extend .svg-i-arrow-small-up;
    }
}

.is-active .i-menu {
    @extend .i-menu-active;

    .svg & {
        @extend .svg-i-menu-active;
    }
}

.is-active .i-search {
    @extend .i-search-blue;

    .svg & {
        @extend .svg-i-search-blue;
    }
}

.is-active .i-top-stories {
    @extend .i-top-stories-active;

    .svg & {
        @extend .svg-i-top-stories-active;
    }
}

//Quotes
.from-content-api blockquote:before,
.from-content-api .block .quoted:before {
    @extend .i;
    @extend .i-livequote-before;
    display: block;
    content: '';
    margin: 21px 0 $baseline*2;
    clear: both;

    .svg & {
        @extend .svg-i-livequote-before;
    }
}

.from-content-api blockquote:after,
.from-content-api .block .quoted:after {
    @extend .i;
    @extend .i-livequote-after;
    display: block;
    content: '';
    margin-bottom: 22px;

    .svg & {
        @extend .svg-i-livequote-after;
    }
}
