.b1 {
    border-top: 1px solid #bebebe;
    padding-top: 3px;
}

.b1b {
    border-bottom: 1px solid #bebebe;
    margin-bottom: 3px;
}

.b2 {
    border-top: 1px dotted #999999;
    padding-top: 3px;
}

.b2b {
    border-bottom: 1px dotted #999999;
    margin-bottom: 3px;
}

.count {
    background-color: #CCDDE7;
    padding: 2px 8px;
    font-size: 13px;
    .rounded-corners(8px);
    text-align: center;
}

img.badge {
    vertical-align: text-top;
}

.live-stamp a {
    color: white;
    text-decoration: none!important;
}

#debug-timestamp {
    color: #d3d3d3;
}


/*  credit for this microsprite:
    @csswizardry: http://jsfiddle.net/csswizardry/KL5Vs/ 
*/
.stars {
    display: block;
    width: 65px;
    position: relative;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.stars,
.stars:after {
    height:13px;
    background-image: url(../images/star-sprite.1ece5491a4afa7e5f558d75717c754e7.png);
}  

.stars:after{
    content: "";
    background-position: 0 -13px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.s-0:after { width: 0; }
.s-1:after { width:13px; }
.s-2:after { width:26px; }
.s-3:after { width:39px; }
.s-4:after { width:52px; }
.s-5:after { width:65px; }

#logo {
    width: 128px;
    min-height: 31px;
    background-repeat: no-repeat;
    display: block;
    margin-top: 6px;
    text-indent: -1000px;
    float: left;
    .icon-guardian-logo
}

.svg #logo {
    background-position: 0 0;
    .svg-icon-guardian-logo;
}

@media screen and (min-width: 641px) {
    .svg #logo {
        width: 180px;
    }

    #logo { 
        height: 40px;
    }
}

.cta {
    color: #005689;
}

.i-desktop-version {
    width: 16px;
    height: 16px;
    background-image: url(http://i.imgur.com/00Glw.png);
    float: left;
    margin-right: 5px;
}

.i-back-to-top {
    width: 16px;
    height: 16px;
    background-image: url(http://i.imgur.com/QSTiE.png);
    float: left;
    margin-right: 5px;
}
