// Styles for elements available for painting at initial load
@mixin tone-head($tone, $colour, $accentColour) {
    .tone-#{$tone} {
        .tone-colour,
        &.tone-colour {
            &,
            &:active,
            &:focus,
            &:hover {
                color: $colour;
            }
        }

        .tone-border,
        &.tone-border {
            border-color: $colour;
        }

        .tone-accent-border,
        &.tone-accent-border {
            border-color: $accentColour;
        }

        .tone-background,
        &.tone-background {
            background-color: $colour;
        }

        .is-summary > .block-title {
            color: $colour;
        }
    }
}


// Styles with global dependencies
// or for elements which painting can be delayed
@mixin tone-global($tone, $colour, $accentColour) {
    .tone-#{$tone} {
        .commentcount {
            i {
                @extend %i-comment-#{$tone};

                @if $svg-support {
                    .svg & {
                        @extend %svg-i-comment-#{$tone};
                    }
                }
            }
        }
    }
}

@mixin tone-head-comment-icon($tone, $commentIcon) {
    .tone-#{$tone}.tone-#{$tone}--article .content__head__comment-count i {
        @extend %i-comment-#{$commentIcon};
        @if $svg-support {
            .svg & {
                @extend %svg-i-comment-#{$commentIcon};
            }
        }
    }
}

@mixin article-header-tone($tone, $colour, $accentColour, $textColour, $commentIcon) {
    .tone-#{$tone} .content__head--tonal {
        .content__section {
            border-top: 1px dotted $c-neutral5;
            @include rem((
                padding-top: $gs-baseline/3
            ));
            @include mq($from: leftCol) {
                border-top: 0;
                @include rem((
                    padding-top: $gs-baseline/2
                ));
            }
        }
        .content__section .tone-colour {
            color: $colour;
            @include mq($from: leftCol) {
                color: $textColour;
            }
        }
        .content__headline,
        .content__standfirst,
        .content__standfirst a,
        .content__section {
            color: $textColour;
        }
        .tone-background {
            background-color: $colour;
        }
        .tone-background--accent {
            background-color: $accentColour;
        }
        .content__head__comment-count .commentcount {
            color: $textColour;
        }

        .content-meta__item a {
            color: $textColour;
        }

        .content-meta__label {
            color: lighten($accentColour, 25);
        }
        .content__standfirst .bullet:before {
            background-color: lighten($accentColour, 25);
        }
        .u-underline {
            border-bottom-color: lighten($accentColour, 25);
            &:hover {
                border-bottom-color: #fff;
            }
        }
    }
    .content.tone-#{$tone} {
        .drop-cap {
            @include mq($to: tablet) {
                color: $colour;
            }
        }

        .drop-cap--wide {
            @include mq($from: tablet) {
                color: $colour;
            }
        }
    }
}
