@import '_tones';

@include tone-head(news, $c-newsDefault, $c-newsAccent);
@include tone-head(comment, $c-commentDefault, $c-commentAccent);
@include tone-head(feature, $c-featureDefault, $c-featureAccent);
@include tone-head(live, $c-neutral1, $c-liveAccent);
@include tone-head(media, $c-mediaDefault, $c-mediaDefault);


@mixin tones-content {
    // Tonal article styles
    @include article-header-tone(news, #ffffff, #ffffff, $c-newsSupport, $c-neutral1, 'white');
    @include article-header-tone(feature, $c-featureDefault, $c-featureAccent2, $c-featureAccent, #ffffff, 'white');
    @include article-header-tone(comment, $c-neutral6-warm, $c-neutral7-warm, $c-commentAccent3, $c-neutral1, 'black');
    @include article-header-tone(live, $c-liveDefault, $c-liveAccent, #ffffff, #ffffff, 'white');

    .content__head--tonal {
        background-color: #ffffff;

        .tone-background--accent {
            padding: $gs-baseline/2 0 $gs-baseline;
        }
        .content__standfirst {
            margin-bottom: 0;
        }
//        .content__headline {
//            min-height: 60px;
//        }
        .content-meta {
            padding-top: $gs-baseline/3;
            border-top: 0 !important;
        }

        .tone-background .content__main-column:after {
            // not including clearfix here because we only want to clear at :after
            content: '';
            display: table;
            clear: both;
        }
    }

    /* Tonal byline / contributor image
       ========================================================================== */

    .content__head--tonal {

        .content__headline--byline {
            padding-bottom: $gs-baseline*2;
            min-height: 0;
        }

        .content__headline--byline,
        .byline-img {
            display: block;
            padding-top: 0;
            margin-top: -$gs-baseline*2;
            @include mq(tablet) {
                margin-top: -$gs-baseline*3;
            }
        }

        .byline-img {
            float: right;
            height: $gs-baseline * 12.5;

            @include mq($until: mobileLandscape) {
                margin-left: -(gs-span(1) + $gs-gutter);
            }
            @include mq(mobileLandscape) {
                width: 0;
                position: absolute;
                bottom: 0;
                height: 95%;
                right: gs-span(3);
                max-height: gs-height(4) + ($gs-baseline*2);
            }
            @include mq(tablet) {
                height: 95%;
                min-height: gs-span(2) + ($gs-gutter*2);
            }
            @include mq(rightCol) {
                height: 110%;
                right: gs-span(1) + $gs-gutter;
            }
        }
        .byline-img__img {
            height: 100%;
        }
    }

    .content__head--byline-pic {
        .content__headline {

            @include mq(mobileLandscape) {
                padding-right: gs-span(2) + $gs-gutter;
            }
            @include mq(rightCol) {
                padding-right: $gs-gutter*2;
            }
        }
        .content__head__comment-count {
            position: absolute;
            bottom: 0;
        }
    }

    /* Tone specific rules/overrides
       ========================================================================== */

    .tone-live .content__head--tonal {
//        .content-meta__label {
//            color: $c-liveAccent2;
//        }
        .content__headline {
            font-weight: normal;
        }
    }

    .tone-feature--article,
    .tone-comment--article {
        .content__headline {
            font-weight: 200;
        }

        @include mq(tablet) {
            .content__main-column--article {
                margin-top: $gs-baseline*2;
            }
        }
    }

    .content.tone-feature {
        .content__head--tonal {
            .content__standfirst {
                color: #fff;
            }
        }
    }

    .content.tone-comment {
        .content__head--tonal {
//            .content__section .tone-colour {
//                @include mq($until: leftCol) {
//                    color: $c-commentDefault;
//                }
//            }
//            .content-meta__label {
//                color: $c-neutral2;
//            }
            .bullet:before,
            ul > li:before {
                background-color: $c-commentDark;
            }
            .u-underline {
                border-bottom-color: $c-commentDark;
                &:hover {
                    border-bottom-color: $c-neutral1;
                }
            }
        }

        .content__headline--byline .tone-colour {
            color: $c-commentAccent3;
            &:hover {
                text-decoration: none;
                border-bottom: 2px solid;
            }
        }
        .drop-cap {
            color: #333333;
        }
    }
}
