// be sure to update the styleguide when changing these

.zone-news .zone-color {
    color: $newsRed; // red
}

.zone-environment .zone-color {
    color: $environmentGreen; // eco green
}

.zone-news .zone-background,
.zone-news .zone-background-hover:hover,
.zone-news .zone-background-hover:focus,
.zone-news .zone-background-hover:active {
    background-color: $newsRed; // red
}

.zone-environment .zone-background,
.zone-environment .zone-background-hover:hover,
.zone-environment .zone-background-hover:focus,
.zone-environment .zone-background-hover:active {
    background-color: $environmentGreen; // eco green
}

.zone-childrens-books-site .zone-color,
.zone-tv-and-radio .zone-color,
.zone-artanddesign .zone-color,
.zone-stage .zone-color,
.zone-culture .zone-color,
.zone-film .zone-color,
.zone-books .zone-color,
.zone-music .zone-color {
    color: $culturePink;
}

.zone-journalismcompetition .zone-color,
.zone-global-development .zone-color,
.zone-law .zone-color,
.zone-theobserver .zone-color,
.zone-science .zone-color,
.zone-theguardian .zone-color,
.zone-education .zone-color,
.zone-technology .zone-color,
.zone-society .zone-color,
.zone-politics .zone-color,
.zone-uk-news .zone-color,
.zone-media .zone-color,
.zone-world .zone-color {
    color: $newsRed;
}

.zone-fashion .zone-color,
.zone-lifeandstyle .zone-color {
    color: $lifeandstyleOrange;
}

.zone-sport .zone-color,
.zone-football .zone-color,
.zone-cricket .zone-color {
    color: $sportBright;
}

.zone-travel .zone-color {
    color: $travelBlue;
}

.zone-business .zone-color {
    color: $businessBlue;
}

.zone-commentisfree .zone-color,
.zone-tone .zone-color,
.zone-global .zone-color {
    color: $commentBlue;
}

.zone-money .zone-color {
    color: $moneyPurple;
}

.zone-childrens-books-site .zone-background,
.zone-tv-and-radio .zone-background,
.zone-artanddesign .zone-background,
.zone-stage .zone-background,
.zone-culture .zone-background,
.zone-film .zone-background,
.zone-books .zone-background,
.zone-music .zone-background {
    background-color: $culturePink;
}

.zone-journalismcompetition .zone-background,
.zone-global-development .zone-background,
.zone-law .zone-background,
.zone-theobserver .zone-background,
.zone-science .zone-background,
.zone-theguardian .zone-background,
.zone-education .zone-background,
.zone-technology .zone-background,
.zone-society .zone-background,
.zone-politics .zone-background,
.zone-uk-news .zone-background,
.zone-media .zone-background,
.zone-world .zone-background {
    background-color: $newsRed;
}

.zone-fashion .zone-background,
.zone-lifeandstyle .zone-background {
    background-color: $lifeandstyleOrange;
}

.zone-sport .zone-background,
.zone-football .zone-background {
    background-color: $sportBright;
}

.zone-travel .zone-background {
    background-color: $travelBlue;
}

.zone-business .zone-background {
    background-color: $businessBlue;
}

.zone-commentisfree .zone-background,
.zone-tone .zone-background,
.zone-global .zone-background {
    background-color: $commentBlue;
}

.zone-money .zone-background {
    background-color: $moneyPurple;
}



.zone-childrens-books-site .zone-border,
.zone-tv-and-radio .zone-border,
.zone-artanddesign .zone-border,
.zone-stage .zone-border,
.zone-culture .zone-border,
.zone-film .zone-border,
.zone-books .zone-border,
.zone-music .zone-border {
    border-color: $culturePink;
}

.zone-journalismcompetition .zone-border,
.zone-global-development .zone-border,
.zone-law .zone-border,
.zone-theobserver .zone-border,
.zone-science .zone-border,
.zone-theguardian .zone-border,
.zone-education .zone-border,
.zone-technology .zone-border,
.zone-society .zone-border,
.zone-politics .zone-border,
.zone-uk-news .zone-border,
.zone-media .zone-border,
.zone-world .zone-border {
    border-color: $newsRed;
}

.zone-fashion .zone-border,
.zone-lifeandstyle .zone-border {
    border-color: $lifeandstyleOrange;
}

.zone-sport .zone-border,
.zone-football .zone-border {
    border-color: $sportBright;
}

.zone-travel .zone-border {
    border-color: $travelBlue;
}

.zone-business .zone-border {
    border-color: $businessBlue;
}

.zone-commentisfree .zone-border,
.zone-tone .zone-border,
.zone-global .zone-border {
    border-color: $commentBlue;
}

.zone-money .zone-border {
    border-color: $moneyPurple;
}