 .zone-childrens-books-site .zone-color,
.zone-tv-and-radio .zone-color,
.zone-artanddesign .zone-color,
.zone-tage .zone-color,
.zone-culture .zone-color,
.zone-film .zone-color,
.zone-books .zone-color,
.zone-music .zone-color {
	color: #D1008B;
}


.zone-journalismcompetition .zone-color,
.zone-global-development .zone-color,
.zone-law .zone-color,
.zone-theobserver .zone-color,
.zone-science .zone-color,
.zone-theguardian .zone-color,
.zone-education .zone-color,
.zone-technology .zone-color,
.zone-society .zone-color,
.zone-politics .zone-color,
.zone-uk .zone-color,
.zone-media .zone-color,
.zone-world .zone-color {
	color: #D61D00;
}

.zone-fashion .zone-color,
.zone-lifeandstyle .zone-color {
	color: #AD532F;
}

.zone-football .zone-color {
	color: #008000;
}

.zone-childrens-books-site .zone-background,
.zone-tv-and-radio .zone-background,
.zone-artanddesign .zone-background,
.zone-tage .zone-background,
.zone-culture .zone-background,
.zone-film .zone-background,
.zone-books .zone-background,
.zone-music .zone-background {
    background-color: #D1008B;
}

.zone-journalismcompetition .zone-background,
.zone-global-development .zone-background,
.zone-law .zone-background,
.zone-theobserver .zone-background,
.zone-science .zone-background,
.zone-theguardian .zone-background,
.zone-education .zone-background,
.zone-technology .zone-background,
.zone-society .zone-background,
.zone-politics .zone-background,
.zone-uk .zone-background,
.zone-media .zone-background,
.zone-world .zone-background {
    background-color: #D61D00;
}

.zone-fashion .zone-background,
.zone-lifeandstyle .zone-background {
    background-color: #AD532F;
}

.zone-football .zone-background {
    background-color: #008000;
}