.baguette {
    @include clearfix;

    .item__title {
        @include fs-headline(4, $size-only: true);
    }

    @include mq($to: tablet) {
        .facia-slice-wrapper:first-child & {
            @include item--hide-tone-border;
        }
    }

    @include mq(tablet) {
        @include rem((
            margin-bottom: $gs-baseline*2 !important,
        ));

        .item__title {
            @include fs-headline(6, $size-only: true);
            @include rem((
                max-width: gs-span(11)
            ));
        }
        .item__media-wrapper {
            overflow: hidden;
        }
        .item__image-container {
            padding-bottom: 40%;

            .responsive-img {
                top: -25%;
                height: auto;
            }
        }
    }
}
.baguette__standfirst {
    @include fs-headline(1);
    color: $c-neutral2;
    @include rem((
        margin-top: $gs-baseline,
        margin-bottom: $gs-baseline
    ));

    p {
        margin-bottom: 0; // Some trail texts are wrapped in a paragraph
    }
}
