.baguette {
    background-color: $c-newsDefault;
    @include rem((
        margin: 0 $gs-gutter/2 $gs-baseline/2
    ));

    .supporting {
        margin: 0;
    }
    .supporting__item {
        border-top: 0;
    }
    .supporting__action {
        color: #ffffff;
        @include rem((padding-bottom: 4px));
    }
}
.baguette__link {
    color: #ffffff;
}
.baguette__title {
    margin: 0 2px;
    color: #ffffff;
    @include fs-headline(6);
}
.baguette__media-wrapper {
    margin-top: $gs-baseline*3;
}
.baguette__image-container {
    position: relative;
    overflow: hidden;

    &:before{
        content: "";
        display: block;
        padding-top: 40%;
    }
    img {
        position: absolute;
        top: -25%;
    }
}
