.baguette {
    @include clearfix;

    .item__title {
        @include fs-headline(5, $size-only: true);
    }

    .stars {
        margin-top: $gs-baseline * .25;
        margin-bottom: $gs-baseline * 1.5;
    }

    @include mq($to: tablet) {
        .facia-slice-wrapper:first-child & {
            @include item--hide-tone-border;
        }
    }

    @include mq(tablet) {
        margin-bottom: $gs-baseline*2 !important;

        .item__title {
            @include fs-headline(7, $size-only: true);
            max-width: gs-span(11);
        }
        .item__media-wrapper {
            overflow: hidden;
        }
        .item__image-container {
            padding-bottom: 40%;

            .responsive-img {
                top: -25%;
                height: auto;
            }
        }
    }
}
.baguette__standfirst {
    @include fs-headline(2);
    color: $c-neutral2;
    margin-top: $gs-baseline;
    margin-bottom: $gs-baseline;

    p {
        margin-bottom: 0; // Some trail texts are wrapped in a paragraph
    }
}
.baguette .gu-media-wrapper--video {
    margin-bottom: 0;
}
