.collection--comments {
    .collection__title {
        background-color: $green;
        border-color: $light-green;
    }
    .items {
        @include mq(tablet) {
            font-size: 0;
        }
    }
    .item {
        margin-top: $gs-baseline*2;
        @include mq(tablet) {
            @include box-sizing(content-box);
            display: inline-block;
            vertical-align: top;
            padding-left: $gs-gutter/2 - 1;
            padding-right: $gs-gutter/2;
            border-left: 1px dotted $grey;
            width: gs-span(4);
        }
    }
    .item__title {
        @include mq(tablet) {
            min-height: gs-height(3);
        }
    }

    @mixin row($row-size) {
        // styling for first row
        .item:nth-child(-n + #{$row-size}) {
            .item__title {
                padding-top: 0;
                border-top-style: none;
            }
            &.item--comment {
                .item__title {
                    padding-top: 40px;
                }
                .item__link .i {
                    top: 8px;
                }
            }
        }
        // stylings for beggining and end of rows
        .item:nth-child(#{$row-size}n + 1) {
            padding-left: 0;
            border-left-style: none;
        }
        .item:nth-child(#{$row-size}n + #{$row-size}) {
            padding-right: 0;
        }
    }
    @include mq($to: tablet) {
        @include row(1);
    }
    @include mq(tablet, desktop) {
        @include row(2);
    }
    @include mq(desktop, wide) {
        @include row(3);
    }
    @include mq(wide) {
        @include row(4);
    }
    .item__standfirst {
        display: none;
        margin: $gs-baseline*2 0 0;
        @include font-size(16, 20);
        @include mq(tablet) {
            min-height: gs-height(4);
        }
    }
    .item__image-container {
        @include mq(tablet) {
            height: gs-height(4);
        }
    }
    .item__image {
        @include mq($to: tablet) {
            width: 100%;
        }
        @include mq(tablet) {
            height: 100%;
        }
    }
    @include mq($to: tablet) {
        .item:first-child .item__title {
            @include font-size(26, 28);
        }
        .item:nth-child(n + 2) {
            .item__standfirst,
            .item__image-container {
                display: none;
            }
        }
    }
    .item--comment {
        .item__title {
            position: relative;
            padding-top: 40px;
        }
        .item__link .i {
            position: absolute;
            left: 0;
            top: 8px;
        }
    }
    .item--shown {
        @include mq($to: tablet) {
            .item__title {
                padding-top: $gs-baseline*(2/3);
            }
            .i {
                display: none;
            }
        }
    }
}
