.collection--comments {
    .collection__title {
        background-color: $green;
        border-color: $light-green;
    }
    @include mq($to: tablet) {
        @include row(1);
    }
    @include mq(tablet, desktop) {
        @include row(2, 1);
    }
    @include mq(desktop, wide) {
        @include row(3);
    }
    @include mq(wide) {
        @include row(4, 5);
    }
    @include mq($to: tablet) {
        .item {
            width: 100%
        }
        .item:first-child .item__title {
            @include font-size(26, 28);
        }
        .item:nth-child(n + 2) {
            .item__standfirst,
            .item__image-container {
                display: none;
            }
        }
    }
    @include mq($to: tablet) {
        .item:first-child {
            .item__meta {
                display: block;
            }
        }
        .item:nth-child(n + 2) {
            width: 100%;
        }
    }
    @include mq(tablet) {
        .item:first-child {
            width: gs-span(8);
            .item__title {
                min-height: 0;
            }
            .item__image-container {
                height: gs-height(8);
            }
        }
    }
    @include mq(tablet, desktop) {
        .item:nth-child(n + 2) {
            .item__image-container {
                display: none;
            }
        }
    }
    @include mq(desktop, wide) {
        .items {
            overflow: hidden;
        }
        .item:first-child {
            float: left;
            .item__title {
                min-height: gs-height(3);
            }
        }
        .item:nth-child(2) {
            padding-right: 0;
        }
        .item:nth-child(3) {
            padding-top: $gs-baseline;
            margin-top: 0;
            .item__title {
                border-top-style: solid;
                padding-top: 40px !important;
                .i {
                    top: $gs-baseline*(2/3) !important;
                }
            }
            .item__image-container {
                display: none;
            }
            .item__meta {
                margin-top: $gs-baseline;
            }
        }
    }
    @include mq(wide) {
        .items {
            overflow: hidden;
        }
        .item:first-child {
            float: left;
            .item__title {
                min-height: gs-height(3);
            }
        }
        .item:nth-child(3) {
            padding-right: 0;
        }
        .item:nth-child(4),
        .item:nth-child(5) {
            padding-top: $gs-baseline;
            margin-top: 0;
            .item__title {
                border-top-style: solid;
                padding-top: 40px !important;
                .i {
                    top: $gs-baseline*(2/3) !important;
                }
            }
            .item__image-container {
                display: none;
            }
            .item__meta {
                margin-top: $gs-baseline;
            }
        }
        .item:nth-child(4) {
            padding-left: $gs-gutter/2 - 1;
            border-left-style: dashed;
        }
        .item:nth-child(5) {
            padding-right:0;
        }
    }
    .item--shown {
        @include mq($to: tablet) {
            .item__title {
                padding-top: $gs-baseline*(2/3);
            }
            .i {
                display: none;
            }
        }
    }
}
