.collection--container {
    @include mq(tablet) {
        .items {
            overflow: hidden;
        }
        .item:first-child {
            @include card-double-width;
        }
        .item:nth-child(n+2) {
            @include card;
        }
        .item:nth-child(2) {
            @include card-image;
        }
    }
    @include mq(tablet, desktop) {
        .item:first-child,
        .item:nth-child(2n+2) {
            @include row-start;
        }
        .item:first-child,
        .item:nth-child(2n+3) {
            @include row-end;
        }
    }
    @include mq(desktop, wide) {
        @include first-row(2);
        .item:nth-child(3) {
            margin-top: 0;
        }
        .item:first-child,
        .item:nth-child(3n+4) {
            @include row-start;
        }
        .item:nth-child(2),
        .item:nth-child(3),
        .item:nth-child(3n+6) {
            @include row-end;
        }
    }
    @include mq(wide) {
        @include first-row(3);
        .item:nth-child(4),
        .item:nth-child(5){
            margin-top: 0;
        }
        .item:first-child,
        .item:nth-child(4n+6) {
            @include row-start;
        }
        .item:nth-child(3),
        .item:nth-child(5),
        .item:nth-child(4n+9) {
            @include row-end;
        }
    }
    .item--sport-stats {
        @include mq(tablet) {
            min-height: gs-height(8) - 6;
        }
        .competition-table {
            border-bottom-style: none;
            @include mq($to: desktop) {
                padding-top: 2px;
                border-top: 2px solid $c-newsAccent;
            }
            @include mq(desktop) {
                border-top-style: none;
                padding-top: 0;
            }
            h3 {
                @include mq($to: tablet) {
                    @include fs-headline(3, $size-only: true);
                }
                @include mq(tablet) {
                    @include fs-headline(4, $size-only: true);
                }
            }
            .match-desc__team {
                width: 87px;
            }
            .match-desc__result {
                width: 30px;
            }
            .cta {
                margin-bottom: 0;
            }
        }
    }
}
.collection--sport,
.collection--culture,
.collection--commentisfree {
    @include mq($to: desktop) {
        @include first-row(1);
    }
}
.collection--news,
.collection--sport {
    @include mq($to: tablet) {
        .item:first-child {
            @include card-mobile($with-image: true);
        }
        .item:nth-child(3) {
            @include card-half-width-image;
        }
        .items--without-sport-stats {
            .item:nth-child(n+2):nth-child(-n+5) {
                @include card-half-width;
            }
            .item:nth-child(2) {
                @include card-half-width-image;
            }
            .item:nth-child(2),
            .item:nth-child(4) {
                @include row-start;
            }
            .item:nth-child(3),
            .item:nth-child(5) {
                @include row-end;
            }
            .item:nth-child(n+6) {
                @include card-headline;
            }
            .item:nth-child(n+7) {
                .item__link {
                    border-top: 1px dotted $c-neutral5;
                }
            }
        }
        .items--with-sport-stats {
            .item:nth-child(n+3):nth-child(-n+6) {
                @include card-half-width;
            }
            .item:nth-child(4) {
                @include card-half-width-image;
            }
            .item:nth-child(3),
            .item:nth-child(5) {
                @include row-start;
            }
            .item:nth-child(4),
            .item:nth-child(6) {
                @include row-end;
            }
            .item:nth-child(n+7) {
                @include card-headline;
            }
            .item:nth-child(n+8) {
                .item__link {
                    border-top: 1px dotted $c-neutral5;
                }
            }
        }
    }
    @include mq(tablet, desktop) {
        .item:nth-child(n+3):nth-child(-n+5) {
            @include card-image;
        }
    }
    @include mq(desktop, wide) {
        .item:nth-child(n+4):nth-child(-n+6) {
            @include card-image;
        }
    }
    @include mq(wide) {
        .item:nth-child(3),
        .item:nth-child(n+6):nth-child(-n+9) {
            @include card-image;
        }
    }
}
.collection--culture,
.collection--commentisfree {
    @include mq($to: tablet) {
        .item:nth-child(n+4) {
            @include card-headline;
        }
        .item:nth-child(n+5) {
            .item__link {
                border-top: 1px dotted $c-neutral5;
            }
        }
    }
    @include mq(tablet, desktop) {
        .item:nth-child(3) {
            @include card-image;
        }
    }
    @include mq(wide) {
        .item:nth-child(3) {
            @include card-image;
        }
    }
}

.collection--culture {
    @include mq($to: tablet) {
        .item:first-child {
            @include card-mobile($with-image: true);
        }
        .item:nth-child(2),
        .item:nth-child(3) {
            @include card-half-width($with-image: true);
        }
        .item:nth-child(2) {
            @include row-start;
        }
        .item:nth-child(3) {
            @include row-end;
        }
    }
}
.collection--commentisfree {
    @include mq($to: tablet) {
        .item:nth-child(-n+3) {
            @include card-mobile;
        }
        .item:first-child {
            @include card-mobile-image;
        }
        .item:nth-child(n+2):nth-child(-n+3),{
            .item__title {
                @include fs-headline(2, $size-only: true);
                @include mq(mobileLandscape) {
                    @include fs-headline(3, $size-only: true);
                }
                .svg & .i {
                    width: 26px;
                    height: 16px;
                    background-size: 100%;
                }
            }
            .item__byline {
                @include fs-header(2, $size-only: true);
                @include mq(mobileLandscape) {
                    @include fs-header(3, $size-only: true);
                }
            }
        }
    }
}
.collection--football-nav {
    margin-top: $baseline*6;
}
