.collection--container {
    &.collection--news,
    &.collection--sport {
        @include mq($to: tablet) {
            @include row(1);
            .item:nth-child(1) {
                @include card;
            }
            .items--without-sport-stats {
                .item:nth-child(2),
                .item:nth-child(3) {
                    @include card-half-width;
                }
                .item:nth-child(4),
                .item:nth-child(5) {
                    @include card-half-width($without-image: true);
                }
                .item:nth-child(2),
                .item:nth-child(4) {
                    @include row-start;
                }
                .item:nth-child(3),
                .item:nth-child(5) {
                    @include row-end;
                }
                .item:nth-child(n+6) {
                    @include card-headline;
                }
            }
            .items--with-sport-stats {
                .item:nth-child(3),
                .item:nth-child(4) {
                    @include card-half-width;
                }
                .item:nth-child(5),
                .item:nth-child(6) {
                    @include card-half-width($without-image: true);
                }
                .item:nth-child(3),
                .item:nth-child(5) {
                    @include row-start;
                }
                .item:nth-child(4),
                .item:nth-child(6) {
                    @include row-end;
                }
                .item:nth-child(n+7) {
                    @include card-headline;
                }
            }
        }
    }
    &.collection--culture,
    &.collection--comments {
        @include mq($to: tablet) {
            .item:nth-child(n+4) {
                @include card-headline;
            }
        }
    }
    &.collection--culture {
        @include mq($to: tablet) {
            @include first-row(1);
            .item:nth-child(1) {
                @include card;
            }
            .item:nth-child(2),
            .item:nth-child(3) {
                @include card-half-width;
            }
            .item:nth-child(2) {
                @include row-start;
            }
            .item:nth-child(3) {
                @include row-end;
            }
        }
    }
    &.collection--comments {
        @include mq($to: tablet) {
            @include first-row(1);
            .item:first-child {
                @include card;
            }
            .item:nth-child(2),
            .item:nth-child(3) {
                @include card($without-extras: true);
            }
        }
    }
    @include mq(tablet) {
        @include first-row(1);
        .items {
            overflow: hidden;
        }
        .item:first-child {
            @include card-double-width;
        }
    }
    @include mq(tablet, desktop) {
        @include first-row(1);
        .item:first-child,
        .item:nth-child(2n+2) {
            @include row-start;
        }
        .item:first-child,
        .item:nth-child(2n+3) {
            @include row-end;
        }
        &.collection--news,
        &.collection--sport {
            .item:nth-child(n+6) {
                @include card($without-extras: true);
            }
        }
        &.collection--culture,
        &.collection--comments {
            .item:nth-child(n+4) {
                @include card($without-extras: true);
            }
        }
    }
    @include mq(desktop, wide) {
        @include first-row(2);
        .item:nth-child(3) {
            @include card($without-extras: true, $not-first-row: true);
        }
        .item:first-child,
        .item:nth-child(3n+4) {
            @include row-start;
        }
        .item:nth-child(2),
        .item:nth-child(3),
        .item:nth-child(3n+6) {
            @include row-end;
        }
        &.collection--news,
        &.collection--sport {
            .item:nth-child(n+7) {
                @include card($without-extras: true);
            }
        }
        &.collection--culture,
        &.collection--comments {
            .item:nth-child(n+4) {
                @include card($without-extras: true);
            }
        }
    }
    @include mq(wide) {
        @include first-row(3);
        .item:nth-child(4),
        .item:nth-child(5){
            @include card($without-extras: true, $not-first-row: true);
        }
        .item:first-child,
        .item:nth-child(4n+6) {
            @include row-start;
        }
        .item:nth-child(3),
        .item:nth-child(5),
        .item:nth-child(4n+9) {
            @include row-end;
        }
        &.collection--news,
        &.collection--sport {
            .item:nth-child(n+10) {
                @include card($without-extras: true);
            }
        }
        &.collection--culture,
        &.collection--comments {
            .item:nth-child(n+6) {
                @include card($without-extras: true);
            }
        }
    }
    .item--sport-stats {
        @include mq(tablet) {
            min-height: gs-height(8);
        }
        @include mq($to: desktop) {
            padding-top: 2px;
            border-top: 2px solid $news-light;
        }
        .competition-table {
            border-bottom-style: none;
            @include mq(desktop) {
                padding-top: 0;
            }
            h3 {
                @include fs-headline(3);
                @include mq(tablet) {
                    @include fs-headline(4, $size-only: true);
                }
            }
            .match-desc__team {
                width: 87px;
            }
            .match-desc__result {
                width: 30px;
            }
        }
    }
}
