%item-show-more {
    @include mq($to: tablet) {
        float: left;
        width: 100%;
        margin-top: $gs-baseline*(5/3);
        padding-bottom: 0;

        // i.e. not the first .item--show-more
        & + & .item__link {
            border-top: 1px dotted $c-neutral5;
        }
        .item__title {
            @include fs-headline(1, $size-only: true);
        }
        .item__byline {
            @include fs-header(2, $size-only: true);
        }
        .item__title .i,
        .item__meta {
            display: none;
        }
        .item__live-indicator {
            @include fs-data(1, true);
            top: -3px;
        }
    }
}
