.facia-container__inner {
    overflow: hidden;
    position: relative;

    @include rem((
        margin-left: $gs-gutter / 2,
        margin-right: $gs-gutter / 2
    ));

    @include mq(mobileLandscape) {
        @include rem((
            margin-left: $gs-gutter,
            margin-right: $gs-gutter
        ));
    }
}
.facia-container--layout-front {
    .facia-container__inner {
        @include mq(gs-span(7) + $gs-gutter*3, tablet) {
            @include rem((
                width: gs-span(7)
            ));
            margin: 0 auto;
        }
        @include mq(tablet) {
            @include rem((
                width: gs-span(9)
            ));
            margin-left: auto;
            margin-right: auto;
        }
        @include mq(desktop) {
            @include rem((
                width: gs-span(12)
            ));
        }
        @include mq(faciaLeftCol) {
            @include rem((
                width: gs-span(14)
            ));
        }
        @include mq(wide) {
            @include rem((
                width: gs-span(16)
            ));
        }
    }
    @include mq(faciaLeftCol) {
        .container__title {
            margin-bottom: 0;
        }
        .container__body {
            overflow: hidden;
            @include rem((
                margin-left: gs-span(2) + $gs-gutter
            ));
        }
        .container--news {
            .container__title {
                display: block;
                float: left;
                @include rem((
                    width: gs-span(2),
                    margin-right: $gs-gutter
                ));
            }
            .container__body {
                margin-left: 0;
                @include rem((
                    width: gs-span(12)
                ));
            }
        }
    }
    @include mq(wide) {
        .container__title {
            float: left;
            @include rem((
                width: gs-span(3) !important,
                margin-right: $gs-gutter
            ));
        }
        .container__body {
            @include rem((
                margin-left: gs-span(3) + $gs-gutter,
                width: gs-span(12)
            ));
        }
    }
}
.facia-container--layout-article {
    .facia-container__inner {
        @include rem((
            margin-bottom: $gs-baseline*2
        ));

        @include mq(tablet) {
            margin-left: auto;
            margin-right: auto;
            @include rem((
                padding-left: $gs-gutter,
                padding-right: $gs-gutter
            ));
        }
        @include mq(tablet, rightCol) {
            @include rem((
                max-width: gs-span(8)
            ));
        }
        @include mq(leftCol) {
            @include rem((
                max-width: gs-span(14)
            ));
        }
        @include mq(wide) {
            @include rem((
                max-width: gs-span(15) ,
                padding-right: gs-span(1) + $gs-gutter*2
            ));
        }
    }
    @include mq(leftCol) {
        .container__title,
        .container__meta {
            margin-bottom: 0;
            float: left;
            @include rem((
                width: $a-leftCol-width !important,
                margin-right: $gs-gutter
            ));
        }
        .container__meta {
            clear: left;
        }
        .container__body {
            overflow: hidden;
            @include rem((
                margin-left: gs-span(2) + $gs-gutter
            ));
        }
    }
    @include mq(wide) {
        .container__title,
        .container__meta {
            @include rem((
                width: $a-leftColWide-width !important
            ));
        }
    }
}
.facia-container--layout-discussion {
    .container__title {
        font-weight: normal;
        a {
            color: $c-newsDefault;
        }
    }
}

.facia-container--default-heading {
    .container__border,
    .container__border.tone-accent-border {
        border-top: 1px solid $c-neutral4;
    }

    .container__title,
    .container__title.tone-background {
        color: $c-neutral1;
        background: transparent;

        @include mq($to: tablet) {
            @include fs-header(3, true);
            padding-left: 0;
        }
    }
}

.facia-container--pageskin.facia-container--layout-front {
    .facia-container__inner {
        @include mq(wide) {
            @include rem((
                width: gs-span(12)
            ));
        }
    }
    .container__body {
        margin-left: 0;
    }
    .container__title {
        width: auto !important;
        margin-right: 0;
        float: none;
        @include rem((
            margin-bottom: $gs-baseline
        ));
    }
    .container--news .container__title {
        display: none;
    }
    .container__toggle {
        left: auto;
    }
}
