.section--fast-news {
    @include mq(tablet) {
        float: left;
    }
    @include mq(tablet, wide) {
        max-width: gs-span(3);
    }
    @include mq(wide) {
        max-width: gs-span(4);
    }
    margin-right: $gs-gutter;
}
