.collection--highlights {
    .collection__title {
        @include mq(tablet) {
            width: gs-span(4);
        }
        @include mq(desktop) {
            width: gs-span(8);

        }
        @include mq(wide) {
            width: gs-span(12);
        }
    }
    .items {
        @include mq(tablet) {
            font-size: 0;
        }
    }
    .item {
        margin-top: $gs-baseline*2;
        @include mq($to: tablet) {
            &:nth-child(n + 2) {
                .item__title {
                    @include font-size(20, 24);
                }
                .item__image-container {
                    display: none;
                }
            }
        }
        @include mq(tablet) {
            @include box-sizing(content-box);
            display: inline-block;
            vertical-align: top;
            padding-left: $gs-gutter/2 - 1;
            padding-right: $gs-gutter/2;
            border-left: 1px dotted $grey;
            width: gs-span(4);
            &:first-child {
                padding-left: 0;
                border-left-style: none;
            }
        }
        @include mq(tablet, desktop) {
            &:first-child {
                padding-right: 11px;
            }
            &:nth-child(2n + 2) {
                padding-left: 0;
                border-left-style: none;
            }
            &:nth-child(2n + 3) {
                padding-right: 0;
            }
        }
        @include mq(desktop, wide) {
            &:nth-child(2) {
                padding-right: 11px;
            }
            &:nth-child(3n + 3) {
                padding-left: 0;
                border-left-style: none;
            }
            &:nth-child(3n + 5) {
                padding-right: 0;
            }
        }
        @include mq(wide) {
            &:nth-child(3) {
                padding-right: 11px;
            }
            &:nth-child(4n + 4) {
                padding-left: 0;
                border-left-style: none;
            }
            &:nth-child(4n + 7) {
                padding-right: 0;
            }
        }
    }
    &.collection--with-popular {
        @include mq(tablet, desktop) {
            .item:first-child {
                padding-right: 0;
            }
        }
        @include mq(desktop, wide) {
            .item:nth-child(2) {
                padding-right: 0;
            }
        }
        @include mq(wide) {
            .item:nth-child(3) {
                padding-right: 0;
            }
        }
    }
    .item__title {
        @include font-size(26, 28);
        @include mq(tablet) {
            min-height: gs-height(3);
        }
    }
    @include mq($to: desktop) {
        .item:first-child {
            margin-top: 0;
            .item__title {
                padding-top: 0;
                border-top-style: none;
            }
        }
    }
    @include mq(desktop, wide) {
        .item:nth-child(-n + 2) {
            margin-top: 0;
            .item__title {
                padding-top: 0;
                border-top-style: none;
            }
        }
    }
    @include mq(wide) {
        .item:nth-child(-n + 3) {
            margin-top: 0;
            .item__title {
                padding-top: 0;
                border-top-style: none;
            }
        }
    }
    .item__standfirst {
        @include mq($to: tablet) {
            display: none;
        }
        @include mq(tablet) {
            min-height: gs-height(4);
            margin: $gs-baseline*2 0 0;
            @include font-size(16, 20);
        }
    }
    .item__image-container {
        @include mq(tablet) {
            height: gs-height(4);
        }
    }
    .item__image {
        @include mq($to: tablet) {
            width: 100%;
        }
        @include mq(tablet) {
            height: 100%;
        }
    }
}
