@mixin media-icon($type) {
    content: '';
    display: inline-block;
    height: .75em;
    margin-right: $gs-gutter/10;
    @include background-size(contain);
    @extend %svg-i-#{$type};
}
@mixin video-icon($type) {
    @if ($svg-support) {
        .svg & {
            @include media-icon($type);
            width: 1.2em;
        }
    }
}
@mixin audio-icon($type) {
    @if ($svg-support) {
        .svg & {
            @include media-icon($type);
            width: .95em;
        }
    }
}
.item__title:before {
    .item--audio & {
        @include audio-icon(volume-high-black);

        .container--dark-background & {
            @include audio-icon(volume-high-yellow);
        }
    }
    .item--video & {
        @include video-icon(video-icon-black);

        .container--dark-background & {
            @include audio-icon(video-icon);
        }
    }
}
.linkslist__action:before {
    .linkslist__item--audio & {
        @include audio-icon(volume-high-black);

        .container--dark-background & {
            @include audio-icon(volume-high-yellow);
        }
    }
    .linkslist__item--video & {
        @include video-icon(video-icon-black);

        .container--dark-background & {
            @include audio-icon(video-icon);
        }
    }
}
