$c-live: #e81818;

.container {
    position: relative;
}
.container--rolled-up {
    .collection,
    .collection__show-more {
        display: none;
    }
}
.container__title,
.item__byline {
    @include f-header;
}
.container__title {
    @include fs-header(5, $size-only: true);
    border-top-style: solid;
    border-top-color: $c-newsAccent;
    .container:first-child & {
        margin-top: 0;
    }
    @include mq($to: tablet) {
        padding: $gs-baseline/3 $gs-gutter/5;
        min-height: gs-height(1) - $gs-baseline*(2/3);
        color: #ffffff !important;
        margin-top: $gs-baseline;
        border-top-width: $gs-baseline/3;
        background-color: $c-newsDefault;

    }
    @include mq(tablet) {
        margin-top: $gs-baseline*2;
        margin-bottom: $gs-baseline;
        border-top-width: 2px;
        background-color: transparent !important;
        line-height: 1em;
    }
}
.container__title a {
    color: inherit;
}
@include mq($to: tablet) {
    .has-localnav .container:first-child .container__title {
        display: none;
    }
}

.container__toggle,
.item__live-indicator,
.item__meta,
.collection__show-more {
    @include f-data;
}

.container__toggle {
    position: absolute;
    min-height: gs-height(1);
    min-width: gs-span(1);
    top: $gs-baseline/3;
    right: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    @include fs-data(5, $size-only: true);
    @include mq($to: tablet) {
        border-left: 1px solid #ffffff;
        color: #ffffff;
        i {
            @include transform(rotate(180deg));
        }
        .container--rolled-up & i {
            @include transform(rotate(0));
        }
        .container__toggle__text {
            display: none;
        }
    }
    @include mq(tablet) {
        color: $c-neutral2;
        i {
            display: none;
        }
    }
}

.collection {
    font-size: 0;
    overflow: hidden;
}
.item {
    position: relative;
    margin-top: $gs-baseline;
    @include mq($to: tablet) {
        @include box-sizing(border-box);
    }
    @include mq(tablet) {
        display: inline-block;
        vertical-align: top;
        padding-left: $gs-gutter/2 - 1;
        padding-right: $gs-gutter/2;
        border-left: 1px dotted $c-neutral5;
    }
}
.item:first-child {
    padding-left: 0;
    border-left-style: none;
    clear: left;
}
.item__link {
    display: block;
    border-top: 2px solid $c-newsAccent;
    .item:first-child & {
        border-top-style: none;
    }
}
.item__image-container {
    display: none;
    position: relative;
    margin-top: 2px;
    .connection--not-low & {
        padding-bottom: 60%;
    }
}
.responsive-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.item__live-indicator {
    color: #ffffff;
    background-color: $c-live;
    @include fs-data(2, $size-only: true);
    display: inline-block;
    padding: 0 3px;
    position: relative;
    top: -3px;
    font-weight: bold;
    text-transform: uppercase;
}
.item--sport-stats .competition-table h3,
.item__title,
.item__standfirst {
    @include f-headline;
}
.item__title {
    margin-top: 2px;
    @include fs-headline(2, $size-only: true);
}
.item__byline {
    margin: $gs-baseline/3 0 0;
    @include fs-header(2, $size-only: true);
}
.item__standfirst,
.item__meta {
    color: $c-neutral2;
}
.item__standfirst {
    display: none;
    margin: 20px 0 0;
    @include fs-headline(1, $size-only: true);
}
.item__meta {
    position: absolute;
    bottom: 0;
    @include fs-data(2, $size-only: true);
    .item__timestamp,
    .trail__count {
        position: relative;
        float: left;
        i {
            margin: 0;
            position: absolute;
            top: 2px;
        }
    }
    .item__timestamp {
        min-width: gs-span(1) - 16;
        padding-right: $gs-gutter/2;
        padding-left: 13px;
        i {
            left: 0;
        }
    }
    .trail__count {
        padding-left: 28px;
        top: 0;
        a {
            line-height: inherit;
            color: inherit;
        }
        i {
            left: $gs-gutter/2 - 1;
        }
    }
}

.collection__show-more {
    border-style: none;
    width: 30px;
    height: 30px;
    @include rounded-corners(50%);
    color: #ffffff;
    @include fs-data(4, $size-only: true);
    position: relative;
    left: 50%;
    margin-top: $gs-baseline;
    margin-left: -15px;
    padding: 0;
    .i {
        position: absolute;
        text-indent: -9999px;
        top: 50%;
        left: 50%;
        margin-top: -5px;
        margin-left: -12px;
    }
}
