.collection--masthead {
    .item {
        float: left;
        @include mq($to: tablet) {
            margin-top: $gs-baseline*2;
            &:first-child {
                margin-top: 0;
                .item__title {
                    padding-top: 0;
                    border-top-style: none;
                }
            }
            &:nth-child(n+2) {
                .item__standfirst,
                .item__image-container {
                    display: none;
                }
            }
        }
    }
    .item__standfirst {
        display: none;
    }
    .item__image {
        width: 100%;
    }
    .item__title {
        @include font-size(26, 28);
    }
    .item__standfirst {
        margin: $gs-baseline*2 0 0;
        @include font-size(16, 20);
        @include mq(tablet) {
            min-height: gs-height(4);
        }
    }
    .items {
        overflow: hidden;
    }

    .item-count-1 .item {
        @include mq(tablet, desktop) {
            @include box-sizing(content-box);
            width: gs-span(8);
            &.item--with-image {
                min-height: gs-height(8);
                .item__title {
                    background-color: rgba(#ffffff, 0.8);
                    padding: $gs-baseline/2 $gs-gutter/2 gs-height(1) + $gs-baseline;
                    width:  gs-span(5);
                    min-height: 0;
                    position: absolute;
                    bottom: 0;
                }
                .item__meta {
                    position: absolute;
                    bottom: $gs-baseline;
                    left: $gs-gutter/2;
                }
                .item__image-container {
                    height: gs-height(8);
                    position: absolute;
                    top: 0;
                    z-index: -1;
                    margin-top: 0;
                }
                .item__image {
                    height: 100%;
                    width: auto;
                }
            }
        }
        @include mq(desktop) {
            min-height: gs-height(8);
            &.item--with-image {
                padding-left: gs-span(8) + $gs-gutter;
            }
            .item__title {
                padding-top: 0;
                border-top-style: none;
                min-height: gs-height(3);
            }
            .item__standfirst {
                display: block;
                min-height: gs-height(4);
            }
            .item__image-container {
                height: gs-height(8);
                width: gs-span(8);
                position: absolute;
                top: 0;
                left: 0;
                margin: 0 auto;
            }
            .item__image {
                height: 100%;
                width: auto;
            }
        }
    }

    .item-count-2 {
        .item:nth-child(1) {
            @include mq(tablet, desktop) {
                @include box-sizing(content-box);
                padding-right: $gs-gutter/2;
                width: gs-span(4);
                .item__title {
                    min-height: gs-height(3);
                    padding-top: 0;
                    border-top-style: none;
                }
            }
            @include mq(desktop, wide) {
                @include box-sizing(content-box);
                width: gs-span(8);
                padding-right: $gs-gutter/2;
                &.item--with-image {
                    min-height: gs-height(8);
                    .item__title {
                        background-color: rgba(#ffffff, 0.8);
                        padding: $gs-baseline/2 $gs-gutter/2 gs-height(1) + $gs-baseline;
                        width:  gs-span(5);
                        min-height: 0;
                        border-top-style: solid;
                        position: absolute;
                        bottom: 0;
                    }
                    .item__meta {
                        position: absolute;
                        bottom: $gs-baseline;
                        left: $gs-gutter/2;
                    }
                    .item__image-container {
                        height: gs-height(8);;
                        position: absolute;
                        top: 0;
                        z-index: -1;
                        margin-top: 0;
                    }
                    .item__image {
                        height: 100%;
                        width: auto;
                    }
                }
            }
            @include mq(wide) {
                @include box-sizing(content-box);
                width: gs-span(12);
                min-height: gs-height(8);
                padding-right: $gs-gutter/2;
                &.item--with-image {
                    width: gs-span(4);
                    padding-left: gs-span(8) + $gs-gutter;
                }
                .item__title {
                    padding-top: 0;
                    border-top-style: none;
                    min-height: gs-height(3);
                }
                .item__standfirst {
                    display: block;
                    min-height: gs-height(4);
                }
                .item__image-container {
                    height: gs-height(8);
                    width: gs-span(8);
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 0 auto;
                }
            }
        }
        .item:nth-child(2) {
            @include mq(tablet) {
                @include box-sizing(content-box);
                padding-left: $gs-gutter/2 - 1;
                border-left: 1px dotted $c-neutral4;
                width: gs-span(4);
                .item__title {
                    min-height: gs-height(3);
                    padding-top: 0;
                    border-top-style: none;
                }
            }
        }
    }

    .item-count-3 {
        .item:nth-child(1) {
            @include mq(tablet, desktop) {
                @include box-sizing(content-box);
                padding-right: $gs-gutter/2;
                width: gs-span(4);
                .item__title {
                    min-height: gs-height(3);
                    padding-top: 0;
                    border-top-style: none;
                }
            }
            @include mq(desktop) {
                @include box-sizing(content-box);
                width: gs-span(8);
                padding-right: $gs-gutter/2;
                &.item--with-image {
                    height: gs-height(8);
                    .item__title {
                        background-color: rgba(#ffffff, 0.8);
                        padding: $gs-baseline/2 $gs-gutter/2 gs-height(1) + $gs-baseline;
                        width:  gs-span(5);
                        min-height: 0;
                        border-top-style: solid;
                        position: absolute;
                        bottom: 0;
                    }
                    .item__meta {
                        position: absolute;
                        bottom: $gs-baseline;
                        left: $gs-gutter/2;
                    }
                    .item__image-container {
                        height: 100%;
                        position: absolute;
                        top: 0;
                        z-index: -1;
                        margin-top: 0;
                    }
                    .item__image {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
        .item:nth-child(n+2) {
            @include mq(tablet, wide) {
                padding-left: $gs-gutter/2 - 1;
                border-left: 1px dotted $c-neutral4;
                width: gs-span(4);
                .item__title {
                    min-height: gs-height(3) + $gs-baseline;
                }
                .item__standfirst,
                .item__image-container {
                    display: none;
                }
            }
            @include mq(wide) {
                @include box-sizing(content-box);
                padding-left: $gs-gutter/2 - 1;
                padding-right: $gs-gutter/2;
                border-left: 1px dotted $c-neutral4;
                width: gs-span(4);
                .item__title {
                    min-height: gs-height(3);
                    padding-top: 0;
                    border-top-style: none;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
        @include mq(tablet, wide) {
            .item:nth-child(2) {
                .item__title {
                    border-top-style: none;
                    padding-top: 0;
                }
            }
            .item:nth-child(3) {
                padding-top: $gs-baseline;
            }
        }
    }

    .item-count-4 {
        .item:nth-child(1) {
            @include mq(tablet, desktop) {
                @include box-sizing(content-box);
                padding-right: $gs-gutter/2;
                width: gs-span(4);
                .item__title {
                    min-height: gs-height(3);
                    padding-top: 0;
                    border-top-style: none;
                }
                &.item--without-image .item__standfirst {
                    display: block;
                    min-height: gs-height(4);
                }
            }
            @include mq(desktop) {
                @include box-sizing(content-box);
                min-height: gs-height(8);
                width: gs-span(8);
                padding-right: $gs-gutter/2;
                &.item--with-image {
                    .item__title {
                        background-color: rgba(#ffffff, 0.8);
                        padding: $gs-baseline/2 $gs-gutter/2 gs-height(1) + $gs-baseline;
                        width:  gs-span(5);
                        min-height: 0;
                        border-top-style: solid;
                        position: absolute;
                        bottom: 0;
                    }
                    .item__meta {
                        position: absolute;
                        bottom: $gs-baseline;
                        left: $gs-gutter/2;
                    }
                    .item__image-container {
                        height: gs-height(8);
                        position: absolute;
                        top: 0;
                        z-index: -1;
                        margin-top: 0;
                    }
                    .item__image {
                        height: 100%;
                        width: auto;
                    }
                }
                &.item--without-image .item__title {
                    padding-top: 0;
                    border-top-style: none;
                }
            }
        }
        @include mq(tablet, wide) {
            .item:nth-child(n+2){
                @include box-sizing(content-box);
                width: gs-span(4);
                padding-left: $gs-gutter/2 - 1;
                border-left: 1px dotted $c-neutral4;
                .item__title {
                    min-height: gs-height(2) - 8;
                    @include font-size(20, 24);
                }
                .item__image-container {
                    display: none;
                }
            }
            .item:nth-child(2) .item__title {
                border-top-style: none;
                padding-top: 0;
            }
            .item:nth-child(n+3) {
                padding-top: $gs-baseline;
            }
        }
        @include mq(wide) {
            .item:nth-child(2) {
                @include box-sizing(content-box);
                padding-left: $gs-gutter/2 - 1;
                border-left: 1px dotted $c-neutral4;
                padding-right: $gs-gutter/2;
                width: gs-span(4);
                .item__title {
                    min-height: gs-height(3);
                    padding-top: 0;
                    border-top-style: none;
                }
                &.item--without-image .item__standfirst {
                    display: block;
                    min-height: gs-height(4);
                }
            }
            .item:nth-child(n+3) {
                @include box-sizing(content-box);
                width: gs-span(4);
                padding-left: $gs-gutter/2 - 1;
                border-left: 1px dotted $c-neutral4;
                .item__title {
                    min-height: gs-height(3) + $gs-baseline;
                }
                .item__image-container {
                    display: none;
                }
            }
            .item:nth-child(3) .item__title {
                border-top-style: none;
                padding-top: 0;
            }
            .item:nth-child(4) {
                padding-top: $gs-baseline;
            }
        }
    }

}
