$item-top-border-height: 2px;

@mixin first-row($first-row-size) {
    .item:nth-child(-n+#{$first-row-size}) {
        margin-top: 0;

        &:before {
            top: $item-top-border-height; // align vertical separator with top border
        }
        .item__link {
            border-top-style: none;
        }
        .competition-table {
            border-top-style: none !important;
        }
    }
}

@mixin card-mobile($with-image: false) {
    .item__title {
        @include fs-headline(3, $size-only: true);
    }
    @include mq(mobileLandscape) {
        .item__title {
            @include fs-headline(4, $size-only: true);
        }
        .item__standfirst {
            @include fs-headline(2, $size-only: true);
        }
    }
    @if $with-image {
        @include card-mobile-image;
    }
}
@mixin card-mobile-image {
    .item__image-container,
    .connection--low & .item__standfirst,
    &.item--has-no-image .item__standfirst {
        display: block;
    }
    .connection--not-low & .item__title {
        margin-top: $gs-baseline*(2/3);
    }
}
@mixin card-headline {
    float: left;
    width: 100%;
    margin-top: $gs-baseline*(5/3);
    padding-bottom: 0;

    .item__title {
        @include fs-headline(1, $size-only: true);
    }
    .item__byline {
        @include fs-header(2, $size-only: true);
    }
    .item__title .i,
    .item__meta {
        display: none;
    }
    .item__live-indicator {
        @include fs-data(1, true);
        top: -3px;
    }
}
@mixin card-half-width($with-image: false) {
    width: 50%;
    min-height: gs-height(3);
    float: left;

    .item__title {
        @include fs-headline(1, $size-only: true);
        @include mq(mobileLandscape) {
            @include fs-headline(2, $size-only: true);
        }
    }
    .item__byline {
        @include fs-header(1, $size-only: true);
        @include mq(mobileLandscape) {
            @include fs-header(2, $size-only: true);
        }
    }
    .item__live-indicator {
        @include fs-data(1, true);
        top: -3px;
    }
    @if $with-image {
        @include card-half-width-image;
    }
}
@mixin card-half-width-image {
    .connection--not-low & {
        min-height: gs-height(5);
    }
    .item__image-container {
        display: block;
    }
}
@mixin card($with-image: false) {
    width: gs-span(3) + $gs-gutter;
    min-height: gs-height(3);

    @include mq(wide) {
        width: gs-span(4) + $gs-gutter;
        min-height: gs-height(4);
    }
    @if $with-image {
        @include card-mobile;
    }
}
@mixin card-image {
    min-height: gs-height(6);

    @include mq(wide) {
        min-height: gs-height(8);
    }
    .item__image-container,
    .connection--low & .item__standfirst,
    &.item--has-no-image .item__standfirst {
        display: block;
    }
}
@mixin card-double-width {
    float: left;
    width: gs-span(6) + $gs-gutter;
    min-height: gs-height(9);

    @include mq(wide) {
        width: gs-span(8) + $gs-gutter;
        min-height: gs-height(12);
    }
    .item__title {
        @include fs-headline(5, $size-only: true);
    }
    .connection--not-low &.item--has-image .item__title {
        margin-top: $gs-baseline;
    }
    .item__image-container,
    .connection--low & .item__standfirst,
    &.item--has-no-image .item__standfirst {
        display: block;
    }
    .item__live-indicator {
        @include fs-data(6, true);
        top: -3px;
    }
}
@mixin card-triple-width {
    float: left;
    width: gs-span(9) + $gs-gutter;
    min-height: gs-height(12);

    @include mq(wide) {
        width: gs-span(12) + $gs-gutter;
        min-height: gs-height(16);
    }
    .item__image-container,
    .connection--not-low &.item--has-no-image .item__standfirst,
    .connection--low & .item__standfirst {
        display: block;
    }
    .item__title {
        @include fs-headline(5, $size-only: true);
    }
    .connection--not-low & .item__title {
        margin-top: $gs-baseline*(2/3);
    }
}
@mixin card-full-width {
    .connection--not-low &.item--has-image {
        min-height: gs-height(6);
        padding-left: gs-span(6) + $gs-gutter*1.5;
    }
    .item__title {
        @include fs-headline(4, $size-only: true);
    }
    .item__byline {
        @include fs-header(5, $size-only: true);
    }
    .item__image-container,
    .connection--not-low &.item--has-no-image .item__standfirst,
    .connection--low & .item__standfirst {
        display: block;
    }
    .connection--not-low & .item__image-container {
        margin-top: 0;
        width: gs-span(6);
        height: gs-height(6);
        position: absolute;
        top: 0;
        left: $gs-gutter/2;
        padding-bottom: 0;
    }
}
@mixin card-full-width-feature {
    width: 100%;

    .item__image-container,
    .connection--not-low &.item--has-no-image .item__standfirst,
    .connection--low & .item__standfirst {
        display: block;
    }
    .item__title {
        @include fs-headline(4, $size-only: true);
    }
    .connection--not-low & .item__title {
        margin-top: $gs-baseline*(2/3);
    }
    .connection--not-low & .item__image-container {
        margin-top: 0;
    }
}

@mixin when-image($pseudo-selector: '') {
    .connection--not-low &#{$pseudo-selector},
    &#{$pseudo-selector}.item--has-image {
        @content;
    }
}

@mixin when-no-image($pseudo-selector: '') {
    .connection--low &#{$pseudo-selector},
    &#{$pseudo-selector}.item--has-no-image {
        @content;
    }
}

@mixin text-clamp($lines: 2) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
}
