.pagination {
    @include rem((
        padding-top: $gs-baseline / 2,
        margin: $gs-baseline 0
    ));
    text-align: center;
    @include fs-textsans(4);
    border-top: 1px solid $c-neutral5;

    @include mq(leftCol) {
        float: right;
        @include rem((
            width: gs-span(12)
        ));
    }

    @include mq(wide) {
        @include rem((
            width: gs-span(13)
        ));
    }
}

.pagination__links {
    width: 100%;

    @include mq(tablet) {
        float: right;
        @include rem((
            width: gs-span(4)
        ));
    }
}

.pagination__item {
    color: $c-neutral3;
    display: inline-block;
}

.pagination__item--next {
    float: right;
    text-align: right;
    @include rem((
        width: gs-span(1)
    ));
}

.pagination__item--prev {
    float: left;
    text-align: left;
    @include rem((
        width: gs-span(1)
    ));
}

.pagination__action {
    @include rem((
        padding: 0 $gs-gutter / 5
    ));
}

.pagination__action--current {
    font-weight: bold;
    color: $c-neutral1;
}

.pagination_legend {
    float: left;
}
