.collection--popular-full-width {
    .items {
        @include mq(tablet) {
            font-size: 0;
        }
        @include mq(wide) {
            overflow: hidden;
        }
    }
    .item {
        margin-top: $gs-baseline*2;
        @include mq(tablet) {
            @include box-sizing(content-box);
            display: inline-block;
            vertical-align: top;
            padding-left: $gs-gutter/2 - 1;
            padding-right: $gs-gutter/2;
            border-left: 1px dotted $grey;
            width: gs-span(4);
        }
        @include mq(wide) {
            float: left;
        }
    }

    @mixin row($row-size) {
        // styling for first row
        .item:nth-child(-n + #{$row-size}) {
            margin-top: 0;
            .item__title {
                padding-top: 0;
                border-top-style: none;
            }
        }
        // stylings for beggining and end of rows
        .item:nth-child(#{$row-size}n + 1) {
            padding-left: 0;
            border-left-style: none;
        }
        .item:nth-child(#{$row-size}n) {
            padding-right: 0;
        }
    }
    @include mq($to: tablet) {
        @include row(1);
    }
    @include mq(tablet, desktop) {
        @include row(2);
    }
    @include mq(desktop, wide) {
        @include row(3);
    }
    @include mq(wide) {
        // styling for first row
        .item:nth-child(-n + 2) {
            margin-top: 0;
            .item__title {
                padding-top: 0;
                border-top-style: none;
            }
        }
        // stylings for beggining and end of rows
        .item:first-child,
        .item:nth-child(4n + 4) {
            padding-left: 0;
            border-left-style: none;
        }
        .item:nth-child(4n + 7) {
            padding-right: 0;
        }
    }

    .item__title {
        @include mq(tablet) {
            min-height: gs-height(3);
        }
    }
    .item__standfirst {
        margin: $gs-baseline*2 0 0;
        @include font-size(16, 20);
        @include mq(tablet) {
            min-height: gs-height(4);
        }
    }
    .item--with-image .item__standfirst {
        display: none;
    }
    .item__image-container {
        @include mq(tablet) {
            height: gs-height(4);
        }
    }
    .item__image {
        @include mq($to: tablet) {
            width: 100%;
        }
        @include mq(tablet) {
            height: 100%;
        }
    }
    // larger image styling
    @include mq(wide) {
        .item:first-child {
            width: gs-span(12);
            height: gs-height(8);
            &.item--with-image {
                width: gs-span(4);
                padding-left: gs-span(8) + $gs-gutter;
            }
            .item__standfirst {
                 display: block;
             }
            .item__image-container {
                height: 100%;
                width: gs-span(8);
                position: absolute;
                top: 0;
                left: 0;
                margin: 0 auto;
            }
        }
        // larger image styling
        .item:nth-child(2),
        .item:nth-child(3){
            padding-right: 0;
            .item__title {
                min-height: gs-height(3) + $gs-baseline;
            }
            .item__standfirst,
            .item__image-container {
                display: none;
            }
        }
        .item:nth-child(3) {
            margin-top: 0;
            padding-top: $gs-baseline;
        }
    }
    @include mq($to: tablet) {
        .item:first-child .item__title {
            @include font-size(26, 28);
        }
        .item:nth-child(n + 2) {
            .item__standfirst,
            .item__image-container {
                display: none;
            }
        }
    }
}
