.related-keywords {
    padding-top: 0;
    margin: $gs-baseline 0;

    @include fs-data(4);

    @include mq(leftCol) {
        float: right;
        width: gs-span(12);
    }
    @include mq(wide) {
        width: gs-span(13);

        .has-page-skin & {
            width: 100%;
        }
    }
}
