.facia-slice-wrapper {
    @include rem((
        padding-top: $gs-baseline/3,
        margin-left: $gs-gutter/2 * -1,
        margin-right: $gs-gutter/2 * -1
    ));
    @include mq(tablet, wide) {
        padding-top: 0;
    }

    + .facia-slice-wrapper {
        padding-top: 0;
        @include rem((
            margin-top: ($gs-baseline/3)*2
        ));
    }
}

.facia-slice-wrapper--no-outer-margins {
    margin-left: 0;
    margin-right: 0;
}
.facia-slice__item {
    position: relative;

    @include rem((
        padding-bottom: 20px,
        margin-bottom: $gs-baseline
    ));

    &.facia-slice__item--content-type-gallery,
    &.facia-slice__item--content-type-video {
        padding-bottom: 0;
    }
    & + .facia-slice__item {
        @include vertical-item-separator;
    }

    .l-row--layout-m & {
        @include mq($to: tablet) {
            @include rem((
                margin-bottom: get-line-height($fs-headlines, 1)
            ));
        }
    }
}

.l-row--items-4 {
    .item__byline {
        @include fs-headline(1, true);
    }
    .item__standfirst,
    .item__media-wrapper,
    .item__image-container {
        display: none;
    }
    .item--imageadjust-boost {
        .item__media-wrapper,
        .item__image-container {
            display: block;
        }
    }

    @include mq(tablet) {
        .item__media-wrapper,
        .item__image-container,
        .item--has-no-image .item__standfirst {
            display: block;
        }
        .item--imageadjust-boost,
        .item--imageadjust-default .item__title {
            @include rem((
                min-height: get-line-height($fs-headlines, 1) * 3
            ));
        }
    }
    @include mq(desktop) {
        .item--has-no-image .item__title {
            @include fs-headline(2, true);
        }
    }
}

@include mq($to: tablet) {
    .row-of-two {
        .item--imageadjust-default {
            .item__media-wrapper {
                float: left;
                @include box-sizing(border-box);
                width: 50%;
                @include rem((
                    padding-right: $gs-gutter/2
                ));
            }
        }
    }
    .l-row--layout-m {
        .item--imageadjust-default .item__title {
            @include rem((
                min-height: get-line-height($fs-headlines, 1) * 4
            ));
        }
        .l-row__item--break-m {
            .item--imageadjust-default .item__title {
                @include rem((
                    min-height: get-line-height($fs-headlines, 2) * 3
                ));
            }
        }
    }
}

@include mq(tablet) {
    .row-of-two--boost-both {
        .item__title {
            @include fs-headline(3, true);
        }
    }
    .row-of-two--boost-none {
        .item--imageadjust-default {
            .item__media-wrapper {
                float: left;
                @include rem((
                    width: gs-span(2) + $gs-gutter,
                    margin-right: $gs-gutter/2
                ));
            }
        }
    }
    .row-of-two--boost-first .facia-slice__item:nth-child(1),
    .row-of-two--boost-second .facia-slice__item:nth-child(2) {
        @include flex-grow(3);
        padding-bottom: 0;

        .item__title {
            padding-top: 0;
            @include fs-headline(4, true);
        }
        .item__standfirst {
            display: block;
        }
        .item__media-wrapper {
            float: right;
            @include rem((
                margin-left: $gs-gutter
            ));
        }
        .item__meta {
            position: static;
            @include rem((
                margin-top: $gs-baseline,
                margin-bottom: $gs-baseline
            ));
        }
    }
    .row-of-two--boost-second .facia-slice__item:nth-child(2) {
        .item__media-wrapper {
            float: left;
            margin-left: 0;
            @include rem((
                margin-right: $gs-gutter
            ));
        }
    }
}
.row-of-two--boost-first .facia-slice__item:nth-child(1) .item__media-wrapper,
.row-of-two--boost-second .facia-slice__item:nth-child(2) .item__media-wrapper {
    @include mq(tablet) {
        @include rem((
            width: gs-span(4)
        ));
    }
    @include mq(desktop) {
        @include rem((
            width: gs-span(6)
        ));
    }
}
@include mq(desktop) {
    .row-of-two {
        .item__standfirst {
            display: block;
        }
    }
    .row-of-two--boost-none {
        .item__title {
            padding-top: 0;
            @include fs-headline(2, true);
        }
        .item--imageadjust-default {
            .item__media-wrapper {
                @include rem((
                    width: gs-span(3),
                    margin-right: $gs-gutter
                ));
            }
        }
    }
}
