.section--top-stories {
    .section__title {
        display: inline-block;
        min-width: gs-span(4);
        height: gs-height(1);
        color: #ffffff;
        background-color: $blue;
        border-top: 2px solid $light-blue;
        padding: $baseline $baseline 0;
        @include font($serifheadline, 800, 16);
        @include box-sizing(border-box);
    }
    .collection {
        margin-top: $baseline * 2;
        height: gs-height(8);
    }
    .item:first-child {
        width: gs-span(12);
        border-top: 2px solid $blue;
        .item__image-container {
            float: left;
            width: gs-span(8);
        }
        .item__title {
            padding-top: $baseline * 2;
            margin-left: gs-span(8) + $gs-gutter;
        }
        .item__standfirst {
            display: block;
            margin: gs-height(1) - $baseline 0 0 gs-span(8) + $gs-gutter;
            @include font-size(20, 24);
        }
    }
    .item:nth-child(n + 2) {
        @include item--small;
        .item__title {
            @include font-size(26, 28);
        }
    }
    .item__image {
        width: 100%;
    }
}
