.section--top-stories {
    overflow: hidden;
    .collection {
        margin-top: $gs-baseline;
    }
    .item {
        margin-right: 0;
        border: 10px none #ffffff;
        @include box-sizing(border-box);
        @include mq(tablet) {
            width: 50%;
            padding-bottom: gs-height(5);
            min-height: gs-height(8);
        }
        @include mq(desktop) {
            padding-bottom: gs-height(7);
            min-height: gs-height(9);
        }
        @include mq(wide) {
            padding-bottom: gs-height(9);
            min-height: gs-height(12);
        }
    }
    .item:first-child {
        border-right-style: solid;
    }
    .item:last-child {
        border-left-style: solid;
    }
    .item__title {
        border-top: 2px solid $blue;
        padding-top: $gs-baseline/3;
        font-weight: normal;
        @include mq(tablet) {
            @include font-size(26, 28);
        }
        @include mq(wide) {
            @include font-size(34, 36);
        }
    }
    .item__image-container {
        position: absolute;
        bottom: 0;
        @include mq(tablet) {
            height: gs-height(4);
        }
        @include mq(desktop) {
            height: gs-height(6);
        }
        @include mq(wide) {
            height: gs-height(8);
        }
    }
    .item__image {
        height: 100%;
        width: auto;
    }
    @include mq(wide) {
        .item__standfirst {
            display: block;
            margin-top: $gs-baseline;
            @include font-size(20, 24);
            font-weight: normal;
        }
    }
    .item__meta {
        position: absolute;
        height: gs-height(1) - $gs-baseline;
        @include mq(tablet) {
            bottom: gs-height(4) + $gs-baseline;
        }
        @include mq(desktop) {
            bottom: gs-height(6) + $gs-baseline;
        }
        @include mq(wide) {
            bottom: gs-height(8) + $gs-baseline;
        }
    }
    .item__timestamp {
        height: 100%;
        min-width: gs-span(1) - 16;
        padding: 0 $gs-gutter/2 0 16px;
        margin-right: 0;
        border-left-style: none;
        padding-bottom: 0;
        i {
            left: 0;
        }
    }
    .trail__count {
        height: 100%;
        padding-bottom: 0;
        padding-left: 28px;
        i {
            left: $gs-gutter/2 - 1;
        }
    }
}
