body {
    font: normal 100%/1.3 sans-serif;
    margin: auto;
    max-width: 60em; /* 960px/16px */
}

img {
    max-width: 100%;
}

a {
    display: block;
    margin-top: 1em;
}

code {
    color: blue;
}