/* ************************************************************************ */
/* CSS Variables to be swapped in place during webpack bundling             */
/* in the CSS provided by the atom library                                  */
/* ************************************************************************ */

// The below code is used to give values to the CSS variables coming from Atom-Renderer.
// They are the same as in the pasteup library below. But they cannot be added from there,
// as the sass-loader does not import the pasteup dependency in time for the variables to have a value.
// Please see the PR for more information
//@import '../pasteup/typography/src';

:root {
    --f-serif-text: 'Guardian Text Egyptian Web', Georgia, serif;
    --f-serif-headline: 'Guardian Egyptian Web', Georgia, serif;
    --f-sans-serif-text: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
