<div class="gu-display">
    <a class="gu-display__image-layer inlined-image" href="<%=data.clickMacro%><%=data.articleUrl%>" data-link-name="<%=data.linkTracking%>" target="_blank">
        <img class="gu-display__image" src="<%=data.articleImage%>">
    </a>
    <div class="gu-mutable gu-display__content <%=data.articleContentPosition%>">
        <a href="<%=data.clickMacro%><%=data.articleUrl%>" class="gu-display__link <%=data.articleContentColor%>" data-link-name="<%=data.linkTracking%>" target="_blank">
            <h2 class="gu-display__content-title <%=data.articleContentColor%> <%=data.articleHeaderFontSize%>"><%=data.articleHeaderText%></h2>
        </a>
        <a href="<%=data.clickMacro%><%=data.articleUrl%>" class="gu-display__link <%=data.articleContentColor%>" data-link-name="<%=data.linkTracking%>" target="_blank">
            <p class="gu-display__content-text <%=data.articleContentColor%> <%=data.articleTextFontSize%>"><%=data.articleText%></p>
        </a>
    </div>
    <a href="<%=data.clickMacro%><%=data.callToActionLink%>" class="gu-mutable gu-display__cta gu-display__link button button--tertiary button--medium" data-link-name="<%=data.linkTracking%>" target="_blank">
        <%=data.callToAction%><%=data.externalLinkIcon%>
    </a>
    <a href="<%=data.brandLink%>" class="gu-mutable gu-display__logo-link <%=data.brandLogoPosition%>" data-link-name="<%=data.linkTracking%>" target="_blank">
        <img class="gu-display__logo" src="<%=data.brandLogo%>">
    </a>
</div>
