.menu-group {
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-size: 18px;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 0 $gs-baseline;
    position: relative;

    @include mq(desktop) {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    [aria-expanded='false'] ~ & {
        @include mq($until: desktop) {
            display: none;
        }
    }
}

.menu-group--primary {
    @include clearfix();
    color: #000000;
    padding-top: 0;

    @include mq(desktop) {
        flex-direction: row;
        flex-wrap: nowrap;
        order: 1;
    }
}

.menu-group--secondary {
    background-color: $neutral-4;
    margin-top: 0;
    padding-top: 0;

    @include mq(desktop) {
        background-color: transparent;
        padding-bottom: 0;
        width: 100%;
    }
}

.menu-group--membership,
.menu-group--editions {
    background-color: $neutral-3;
}

.menu-group--membership {
    padding-bottom: 0;
    position: relative;
}

.menu-group--editions {
    padding-bottom: 0;

    .menu-group {
        background-color: darken($news-main-2, 10%);
    }
}

.menu-group--membership-actions {
    background-color: darken($news-main-2, 10%);
}

.menu-group--footer {
    @include mq(desktop) {
        position: absolute;
        left: gs-span(10) + $gs-gutter * 2;
        top: 0;
        bottom: 0;
        width: gs-span(2);
    }
}

.menu-group--footer,
.menu-group--brand-extensions,
.menu-group--primary > .menu-item:not(:first-child) {
    &:before {
        content: '';
        position: absolute;
        left: -$gs-gutter / 2;
        top: -$gs-baseline * 2;
        bottom: 0;
        border-left: 1px solid $rule;
    }
}

.menu-group--brand-extensions {
    border-top: 1px solid $rule;
    font-weight: 700;
    display: block;
    position: relative;

    &:before {
        content: none;
    }

    body:not(.has-page-skin) & {
        @include mq(leftCol) {
            border-top: 0;
            position: absolute;
            left: gs-span(12) + $gs-gutter * 2;
            top: 0;
            bottom: 0;
            width: gs-span(3);

            &:before {
                content: '';
            }
        }
    }
}
