@()(implicit request: RequestHeader)

@import common.{Edition, LinkTo}

<div class="edition-picker">
    <ul class="edition-picker__dropdown">
        <input class="edition-picker__checkbox" type="checkbox" id="edition-picker">
        <li class="edition-picker__dropdown__item edition-picker__dropdown__item--first">
            <label class="edition-picker__current-edition" for="edition-picker">
                @fragments.inlineSvg("world", "icon")
                <span class="u-h"> Change editions from the </span>
                @Edition(request).displayName
            </label>
        </li>
        @Edition.others(request).map { edition =>
            <li class="edition-picker__dropdown__item">
                <a class="edition-picker__dropdown-item-link"
                data-edition="@edition.id"
                data-link-name="new header switch to @edition.id edition"
                value="@LinkTo(s"/preference/edition/${edition.id.toLowerCase}")"
                title="Switch to the @edition.id edition">
                    <span class="u-h"> switch to the </span>
                    <span> @edition.displayName </span>
                </a>
            </li>
        }
    </ul>
</div>
