@(metaData: model.MetaData)(implicit request: RequestHeader)
@import common._

@defining(Edition(request).navigation) { navigation =>
    @defining(Navigation.topLevelItem(navigation, metaData)) { topLevelSelected =>
        <nav role="navigation" aria-label="All sections">
            <ul class="global-navigation">
                @navigation.map { nav =>
                    <li class="@RenderClasses(Map(
                            ("global-navigation__section", true),
                            ("global-navigation__section--current", topLevelSelected.filter(_.name.href == nav.name.href).isDefined),
                            ("global-navigation__section--home", Navigation.isEditionFront(nav))
                        ))">
                        <a class="global-navigation__title" href="@LinkTo(nav.name.href)" data-link-name="nav : globalTop : @nav.name.title">
                            @Html(nav.name.title)
                            @if(nav.currentFor(metaData)) {
                                <span class="u-h">selected</span>
                            }
                        </a>
                        @if(nav.links.nonEmpty) {
                            <ul class="global-navigation__children">
                                @nav.links.map{ link =>
                                    <li class="global-navigation__child@if(link.currentFor(metaData)){ global-navigation__child--current}">
                                        <a class="global-navigation__action" href="@LinkTo(link.href)" data-link-name="nav : globalSub : @link.title">
                                            @Html(link.title)
                                            @if(link.currentFor(metaData)){
                                                <span class="u-h">selected</span>
                                            }
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
                <li class="global-navigation__section">
                    <span class="global-navigation__title global-navigation__title--guardian-services">from the guardian</span>
                    <ul class="global-navigation__children">
                        <li class="global-navigation__child">
                            <a class="global-navigation__action" href="https://soulmates.theguardian.com/?INTCMP=NGW_NAVBAR_UK_GU_SOULMATES" target="_blank" data-link-name="Soulmates">soulmates</a>
                        </li>
                        <li class="global-navigation__child">
                            <a class="global-navigation__action" href="http://jobs.theguardian.com/?INTCMP=NGW_NAVBAR_UK_GU_JOBS" target="_blank" data-link-name="Jobs">jobs</a>
                        </li>
                    </ul>
                </li>
                <li class="global-navigation__section">
                    <span class="global-navigation__title global-navigation__title--guardian-services">edition</span>
                    <ul class="global-navigation__children">
                        @Edition.others(request).map{ edition =>
                            <li class="global-navigation__child">
                                <a class="global-navigation__action" data-edition="@edition.id"
                                    data-link-name="switch to @edition.id edition"
                                    href="@LinkTo(s"/preference/edition/${edition.id.toLowerCase}")">
                                    <span class="u-h">switch to </span>@edition.id<span class="u-h"> edition</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                @if(metaData.hasClassicVersion) {
                    <li class="global-navigation__section">
                        <span class="global-navigation__title global-navigation__title--guardian-services">view website</span>
                        <ul class="global-navigation__children">
                            <li class="global-navigation__child">
                                <a href="@ClassicLink(metaData)" rel="nofollow" class="global-navigation__action" data-link-name="classic version UK">current version</a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </nav>
    }
}
