@(metaData: model.MetaData)(implicit request: RequestHeader)
@import common._

@defining(Edition(request).navigation) { navigation =>
    @defining(Navigation.topLevelItem(navigation, metaData)) { topLevelSelected =>
        <ul class="global-navigation">
            @navigation.map { nav =>
                <li class="global-navigation__section@if(nav.currentFor(metaData)){ global-navigation__section--current}">
                    <a class="global-navigation__title" href="@LinkTo(nav.name.href)" data-link-name="@nav.name.title">
                        @Html(nav.name.title)
                    </a>
                    @if(nav.links.nonEmpty) {
                        <ul class="global-navigation__children">
                            @nav.links.map{ link =>
                                <li class="global-navigation__child@if(link.currentFor(metaData)){ global-navigation__child--current}">
                                    <a class="global-navigation__action" href="@LinkTo(link.href)" data-link-name="@link.title">
                                        @Html(link.title)
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    }
}
