@(page: model.Page)(implicit request: RequestHeader)

@import common._
@import views.support.RenderClasses

@defining(Edition(request).navigation) { navigation =>
    <div class="@RenderClasses(Map(
                    ("navigation", true),
                    ("navigation--has-signposting", !Edition.isEditionFront),
                    ("navigation--has-local-navigation", Navigation.localLinks(navigation, page).nonEmpty),
                    ("js-navigation", true)
                ))">
        <div class="gs-container">
            <div class="navigation__inner">
                <div class="navigation__scroll">
                    <nav class="navigation__container navigation__container--first" data-component="nav" role="navigation" aria-label="Current section">
                        @if(!Edition.isEditionFront){
                            @fragments.nav.signposting(page, navigation)

                            @defining(Navigation.rotatedLocalNav(Navigation.topLevelItem(navigation, page), page)){ localNav =>
                                @if(localNav.nonEmpty) {
                                    <ul class="local-navigation">
                                    @localNav.map{ link =>
                                        <li class="local-navigation__item">
                                            <a class="local-navigation__action" href="@LinkTo(link.href)" data-link-name="nav : secondary : @link.title">@Html(link.title)</a>
                                        </li>
                                    }
                                    </ul>
                                }
                            }
                        }
                    </nav>
                    <nav class="navigation__container navigation__container--second" data-component="nav" role="navigation" aria-label="Guardian sections">
                        @fragments.nav.topNavigation(page, navigation)
                    </nav>
                </div>
                @if(!page.metadata.hasSlimHeader) {
                    @fragments.nav.navigationToggle()
                }
            </div>
            <div id="all-sections-popup" class="navigation__expandable js-mega-nav-placeholder" data-component="all-nav"></div>
        </div>
    </div>
}
