@()(implicit request: RequestHeader)

@import common.{ NewNavigation, LinkTo, Edition }

@sectionList(topLevelSection: NewNavigation.EditionalisedNavigationSection) = {
    <li class="main-navigation__item navigation-border js-navigation-item">
            <!-- TODO: Firefox -->
        <details class="js-close-nav-list main-navigation__primary-list" id="primary-list-@topLevelSection.name" open>
            <summary class="main-navigation__item__button js-navigation-button">
                <i class="main-navigation__icon"></i>
                @topLevelSection.name
            </summary>

            @Edition.all.map { edition =>
                <ul class="main-navigation__secondary
                    navigation-group
                    navigation-group--@{edition.id.toLowerCase}
                    js-editionalise-secondary-nav"
                    data-edition="@{edition.id.toLowerCase}"
                    @if(edition.id.toLowerCase != "uk") { hidden }> @* Our default edition is UK *@

                    @topLevelSection.getEditionalisedNavLinks(edition).map { sectionItem =>
                        <li class="navigation-group__item">
                            <a href="@LinkTo { @sectionItem.url }" data-link-name="nav : secondary : @sectionItem.name">@sectionItem.name</a>
                        </li>
                    }
                </ul>
            }
        </details>
    </li>
}

<label for="main-menu-toggle" class="main-menu-container__overlay" aria-hidden="true"></label>

<div class="main-menu-container">

    <!-- TODO: Provide tabbable alternative -->

    <div class="main-menu-container__menu js-main-menu" id="main-menu" aria-hidden="true">
        <ul class="main-navigation">
            @NewNavigation.topLevelSections.map { section =>
                @sectionList(section)
            }
        </ul>
        <ul class="navigation-group navigation-border secondary-navigation">
            <li class="navigation-group__item"><a href="https://profile.theguardian.com/signin?INTCMP=DOTCOM_HEADER_SIGNIN">
                @fragments.inlineSvg("profile-36", "icon", List("navigation-group__icon", "navigation-group__profile-icon"))
                Sign in
            </a></li>
        </ul>
        <ul class="navigation-group navigation-border secondary-navigation">
            <li class="navigation-group__item navigation-group__item--search">
                <form class="navigation-group__search-container" action="https://www.google.co.uk/search">
                    @* label surrounding the input and icon so that if you click the search icon it will trigger the submit *@
                    <label for="submit-google-search">
                        <input class="u-h" type="submit" id="submit-google-search">
                        @fragments.inlineSvg("search-36", "icon", List("navigation-group__search-icon"))
                    </label>
                    <label for="q" class="u-h">What term do you want to search?</label>
                    <input type="text" name="q" class="navigation-group__search-box" placeholder="search for...">
                    <input type="hidden" name="as_sitesearch" value="www.theguardian.com">
                </form>
            </li>
        </ul>

        @Edition.all.map { edition =>
            <ul class="navigation-group
                navigation-border
                secondary-navigation
                js-editionlise-secondary-nav"
                data-edition=@{edition.id.toLowerCase}
                @if(edition.id.toLowerCase != "uk") { hidden }>

                @NewNavigation.NavFooterLinks.getEditionalisedNavLinks(edition).map { item =>
                    <li class="navigation-group__item"><a href="@LinkTo { @item.url }"> @item.name </a></li>
                }
            </ul>
        }

        <ul class="navigation-group navigation-border secondary-navigation">
            <li class="navigation-group__item"><a href="https://www.facebook.com/theguardian">
                @fragments.inlineSvg("share-facebook", "icon", List("navigation-group__icon", "navigation-group__social-icon"))
                Facebook
            </a></li>
            <li class="navigation-group__item"><a href="https://twitter.com/guardian">
                @fragments.inlineSvg("share-twitter", "icon", List("navigation-group__icon", "navigation-group__social-icon"))
                Twitter
            </a></li>
        </ul>
    </div>
</div>

