@(page: model.Page, isFooter: Boolean = false)(implicit request: RequestHeader)

@import common.{NewNavigation, Edition, LinkTo}
@import views.support.RenderClasses

<div class="subnav">
    <div class="gs-container">

        @defining(NewNavigation.SectionLinks.getActivePillar(page)) { case (id, activePillarName) =>
            <ul class="subnav__list"
                data-pillar-title="@activePillarName">

                @NewNavigation.SubSectionLinks.getSubSectionNavLinks(id, Edition(request), page.metadata.isFront).map { link =>
                    <li class="subnav__item">
                        <a class="@RenderClasses(Map(
                                "subnav-link" -> true,
                                "subnav-link--current-section" -> (id == link.uniqueSection)
                           ))"
                           href="@LinkTo(link.url)"
                           data-link-name="nav2 : subnav : @{if(link.longTitle.isEmpty) link.title else link.longTitle}">
                            @link.title
                        </a>
                    </li>
                }

            @* Hiding the 'more' link on the homepage and footer *@
            @if(!(id == "uk" ||  id == "us" ||  id == "au" ||  id == "international" || isFooter)) {
                <li class="subnav__item js-visible">
                    <button class="
                        subnav-link
                        subnav-link--toggle-more
                        js-toggle-nav-section"
                        data-link-name="nav2 : subnav-toggle">
                        more
                    </button>
                </li>
            }
    	    </ul>
        }
    </div>
</div>
