@(metaData: model.MetaData, navigation: Seq[common.NavItem])(implicit request: RequestHeader)

@import _root_.common._

<ul class="top-navigation js-top-navigation">
    <li class="top-navigation__item top-navigation__item--home">
        <a href="@LinkTo{/}"
           class="top-navigation__action top-navigation__action--has-icon"
           data-link-name="nav : primary : home"
           title="Back to homepage">
            <span class="top-navigation__icon top-navigation__icon--home"></span>
            <span class="u-h">home</span>
        </a>
    </li>
    @defining(Navigation.topLevelItem(navigation, metaData)){ topSection =>
        @defining(Edition(request).briefNav) { briefNav =>
            @briefNav.filterNot(Navigation.isEditionFront(_)).map{ nav =>
                <li class="@RenderClasses(Map(
                        ("top-navigation__item", true),
                        ("top-navigation__item--current", topSection.exists(_ == nav))
                    ))">
                    <a class="top-navigation__action" href="@LinkTo(nav.name.href)" data-link-name="nav : primary : @nav.name.title">
                        @Html(nav.name.title)
                        @if(nav.currentFor(metaData)){
                            <span class="u-h">selected</span>
                        }
                    </a>
                </li>
            }
        }
    }
</ul>
