@()(implicit request: RequestHeader)

@import conf.Configuration

<div class="new-header__user-account-container hide-until-desktop">

    <a class="top-bar__item hide-until-desktop js-navigation-sign-in"
        data-link-name="nav2 : topbar : signin"
        href="@Configuration.id.url/signin?INTCMP=DOTCOM_NEWHEADER_SIGNIN">

        sign in
    </a>

    @fragments.nav.userAccountDropdownMenu()

    <button class="is-hidden dropdown-menu-fallback js-user-account-trigger"
        id="my-account-toggle"
        title="user account toggle"
        data-link-name="nav2 : topbar: my account"
        aria-expanded="false"
        aria-controls="my-account-dropdown"></button>

    <label class="top-bar__item top-bar__item--dropdown is-hidden js-navigation-account-actions"
        for="my-account-toggle"
        data-link-name="nav2 : topbar: my account">

        my account
    </label>
</div>
