@()

@import conf.Configuration
@import conf.switches.Switches.IdentityProfileNavigationSwitch
@import views.support.DropdownMenus.accountDropdownMenu

@if(IdentityProfileNavigationSwitch.isSwitchedOn) {
    <li class="menu-item js-navigation-sign-in hide-from-desktop">
        <a href="@Configuration.id.url/signin?INTCMP=DOTCOM_NEWHEADER_SIGNIN"
           data-link-name="nav2 : sign in"
           class="menu-item__title">
            Sign in/up
        </a>
    </li>

    <li class="menu-item menu-item--membership is-hidden js-navigation-account-actions hide-from-desktop">
        <button class="menu-item__title hide-from-desktop js-navigation-toggle"
                data-link-name="nav2 : my account"
                aria-haspopup="true"
                aria-expanded="true">
            <i class="menu-item__toggle"></i>
            my account
        </button>

        <ul class="menu-group menu-group--membership-actions">
            @for((item) <- accountDropdownMenu) {
                <li class="@{(List("menu-item") ++ item.parentClassList).mkString(" ")}">
                    <a
                        @if(item.linkName.isDefined) {
                            data-link-name="nav2 : @item.linkName"
                        }
                        @if(item.href.isDefined) {
                            href="@item.href"
                        }
                        class="@{(List("menu-item__title") ++ item.classList).mkString(" ")}"
                    >
                    @item.label
                    </a>
                </li>
            }
        </ul>
    </li>
}
