@()(implicit request: RequestHeader)

@import conf.Configuration
@import navigation.AuthenticationComponentEvent._
@import views.support.DropdownMenus.accountDropdownMenu

<div class="new-header__user-account-container">
    <span class="top-bar__item__seperator hide-until-tablet"></span>

    <a class="top-bar__item js-navigation-sign-in my-account"
        data-link-name="nav2 : topbar : signin"
        href="@Configuration.id.url/signin?INTCMP=DOTCOM_NEWHEADER_SIGNIN&@createAuthenticationComponentEventParams(SigninHeaderId)">
        @fragments.inlineSvg("profile", "icon", List("top-bar__item__icon"))
        Sign in
    </a>

    <input
        type="checkbox"
        id="my-account-toggle"
        aria-controls="my-account-dropdown"
        class="dropdown-menu-fallback js-enhance-checkbox"
        data-link-name="nav2 : topbar: my account"
        tabindex="-1"
    />

    <label class="top-bar__item popup__toggle js-navigation-account-actions js-user-account-trigger is-hidden"
        for="my-account-toggle"
        data-link-name="nav2 : topbar: my account"
        tabindex="0">
            @fragments.inlineSvg("profile", "icon", List("top-bar__item__icon"))
            My account
            <div class="top-bar__user-account-notification-badge js-user-account-notification-badge is-hidden">
                <span class="top-bar__user-account-notification-count js-user-account-notification-count">0</span>
            </div>
    </label>
    <div class="my-account__overlay"></div>

    <ul class="dropdown-menu dropdown-menu--light js-user-account-dropdown-menu"
    id="my-account-dropdown"
    aria-hidden="true">

    @for((item) <- accountDropdownMenu) {
        @if(item.divider) {
            <hr/>
        }
        <li class="@{(List("dropdown-menu__item") ++ item.parentClassList).mkString(" ")}">
            <a
            class="@{(List("dropdown-menu__title") ++ item.classList).mkString(" ")}"
                @if(item.href.isDefined) {
                    href="@item.href"
                }
                @if(item.linkName.isDefined) {
                    data-link-name="nav2 : topbar : @item.linkName"
                    }
            >
                @(item.icon.map { icon =>
                    views.html.fragments.inlineSvg(icon, "icon", isPresentation = true)
                })
                @item.label
            </a>
        </li>
    }
    </ul>
</div>
