@()(implicit request: RequestHeader)

@import conf.Configuration
@import views.support.DropdownMenus.accountDropdownMenu

<div class="new-header__user-account-container">

    <a class="top-bar__item hide-until-desktop js-navigation-sign-in js-navigation-sign-in-top-nav"
        data-link-name="nav2 : topbar : signin"
        href="@Configuration.id.url/signin?INTCMP=DOTCOM_NEWHEADER_SIGNIN">
        <span class="hide-until-tablet">Sign in / Register</span>
        <span class="hide-from-tablet">
            @views.html.fragments.inlineSvg("profile", "icon", isPresentation = true)
            <span class="js-navigation-sign-in-top-nav-body"></span>
        </span>
    </a>

    <button class="is-hidden dropdown-menu-fallback js-user-account-trigger hide-until-desktop"
        id="my-account-toggle"
        title="user account toggle"
        data-link-name="nav2 : topbar: my account"
        aria-expanded="false"
        aria-controls="my-account-dropdown"></button>

    <label class="top-bar__item popup__toggle is-hidden js-navigation-account-actions hide-until-desktop"
        for="my-account-toggle"
        data-link-name="nav2 : topbar: my account">

        My account
    </label>

    <ul class="dropdown-menu dropdown-menu--light js-user-account-dropdown-menu hide-until-desktop"
    id="my-account-dropdown"
    aria-hidden="true">

    @for((item) <- accountDropdownMenu) {
        @if(item.divider) {
            <hr/>
        }
        <li class="@{(List("dropdown-menu__item") ++ item.parentClassList).mkString(" ")}">
            <a
            class="@{(List("dropdown-menu__title") ++ item.classList).mkString(" ")}"
                @if(item.href.isDefined) {
                    href="@item.href"
                }
                @if(item.linkName.isDefined) {
                    data-link-name="nav2 : topbar : @item.linkName"
                    }
            >
                @(item.icon.map { icon =>
                    views.html.fragments.inlineSvg(icon, "icon", isPresentation = true)
                })
                @item.label
            </a>
        </li>
    }
    </ul>
</div>
