@(page: model.MetaData)(implicit request: RequestHeader)
@import conf.Switches._
@import dev.HttpSwitch
@import common.Edition
@import common.editions._

@if(HttpSwitch(GuardianServicesLinksSwitch).isSwitchedOn){
    @if(Edition(request) == Uk){
        <div class="top-bar__item--right hide-on-mobile" data-component="guardian-services">
            <div class="top-bar__item">
                <a class="guardian-services__action" data-link-name="topNav : jobs"
                   href="http://jobs.theguardian.com/?INTCMP=NGW_TOPNAV_UK_GU_JOBS">jobs</a>
            </div>
            <div class="top-bar__item hide-on-tablet">
                <a class="guardian-services__action" data-link-name="topNav : soulmates"
                   href="https://soulmates.theguardian.com/?INTCMP=NGW_TOPNAV_UK_GU_SOULMATES">soulmates</a>
            </div>
            <div class="top-bar__item top-bar__item--has-popup guardian-services__item-more is-off">
                <a href="#guardian-services-top-menu" class="guardian-services__action top-bar__item--popup-toggle"
                   data-toggle="guardian-services__item-more" data-link-name="topNav : more">more</a>
                <ul class="top-bar__popup" id="guardian-services-top-menu">
                    <li class="top-bar__popup-item tablet-only"><a class="guardian-services__action" data-link-name="topNav : soulmates"
                           href="https://soulmates.theguardian.com/?INTCMP=NGW_TOPNAV_UK_GU_SOULMATES">soulmates</a></li>
                    <li class="top-bar__popup-item"><a class="guardian-services__action" data-link-name="topNav : masterclasses"
                           href="http://www.theguardian.com/guardian-masterclasses?INTCMP=NGW_TOPNAV_UK_GU_MASTERCLASSES">masterclasses</a></li>
                    <li class="top-bar__popup-item"><a class="guardian-services__action" data-link-name="topNav : subscribe"
                           href="http://subscribe.theguardian.com??INTCMP=NGW_TOPNAV_UK_GU_SUBSCRIBE">subscribe</a></li>
                </ul>
            </div>
        </div>
    }
}