@(page: model.MetaData)(implicit request: RequestHeader)
@import conf.Switches._
@import dev.HttpSwitch
@import common.Edition
@import common.editions._

@if(HttpSwitch(GuardianServicesLinksSwitch).isSwitchedOn){
    @if(Edition(request) == Uk){
        <div class="top-nav__item--right hide-on-mobile" data-component="guardian-services">
            <div class="top-nav__item">
                <a class="guardian-services__action" data-link-name="topNav : jobs"
                   href="http://jobs.theguardian.com/?INTCMP=NGW_TOPNAV_UK_GU_JOBS">jobs</a>
            </div>
            <div class="top-nav__item">
                <a class="guardian-services__action" data-link-name="topNav : soulmates"
                   href="https://soulmates.theguardian.com/?INTCMP=NGW_TOPNAV_UK_GU_SOULMATES">soulmates</a>
            </div>
            <div class="top-nav__item guardian-services__item-more--collapsed">
                <span class="guardian-services__action js-services-nav-toggle" data-link-name="topNav : more">
                    <span>more</span>
                    <span class="guardian-services__action__arrow"></span>
                </span>
                <ul class="guardian-services__item--more-menu">
                    <li><a class="guardian-services__action" data-link-name="topNav : masterclasses"
                           href="http://www.theguardian.com/guardian-masterclasses?INTCMP=NGW_TOPNAV_UK_GU_MASTERCLASSES">masterclasses</a></li>
                    <li><a class="guardian-services__action" data-link-name="topNav : subscribe"
                           href="http://subscribe.theguardian.com??INTCMP=NGW_TOPNAV_UK_GU_SUBSCRIBE">subscribe</a></li>
                </ul>
            </div>
        </div>
    }
}