.footer__back-to-top {
    @include fs-textSans(5);
    color: $brightness-100;
    float: right;
    font-weight: 700;
    position: relative;
    text-align: right;
    background-color: $nav-blue;
    padding: 0 $gs-gutter / 4;
    transform: translateY(-50%);

    &:hover,
    &:focus {
        color: $highlight-main;
    }
}

.back-to-top__text {
    display: inline-block;
    line-height: 1;
    padding: 10px ($gs-gutter / 4) 0;
}

.back-to-top__icon-container {
    position: relative;
    float: right;
    border-radius: 100%;
    background-color: currentColor;
    cursor: pointer;
    height: 36px;
    width: 36px;

    .inline-arrow-up {
        position: absolute;
        top: $gs-baseline / 2;
        left: 6px;

        path {
            fill: $nav-blue;
        }
    }
}
