.colophon {
    @include content-gutter();
    padding-bottom: $gs-baseline * 2;
    border: 1px solid $nav-border-colour;
    border-left: 0;
    border-right: 0;

    @include mq(tablet) {
        padding-bottom: $gs-baseline / 2;
        border: 1px solid $nav-border-colour;
    }
}

.colophon__lists-container {
    @include fs-textSans(5);
    line-height: 1.2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include mq(leftCol) {
        max-width: gs-span(8) + $gs-gutter;

        .l-footer__secondary--no-email & {
            max-width: none;
        }
    }
}

.colophon__list {
    @include clearfix();
    list-style: none;
    position: relative;
    margin: 0;

    @include mq($until: tablet) {
        width: calc(50% - #{$gs-gutter / 2});
    }

    @include mq(tablet) {
        margin: 0 $gs-gutter $gs-baseline 0;
        // width fallback for browsers which don't fully support flex
        width: 20%;
        flex: 1 0 0;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        color: $brightness-100;
        display: inline-block;
        padding: ($gs-baseline / 2) 0;

        &:hover,
        &:focus {
            color: $highlight-main;
            text-decoration: none;
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -$gs-gutter / 2;
        width: 1px;
        display: block;
        background-color: $nav-border-colour;

        @include mq(tablet) {
            bottom: $gs-baseline / 2;
        }
    }

    @include mq($until: tablet) {
        &:nth-of-type(3) {
            &:before {
                content: none;
            }
        }
    }

    @include mq($until: leftCol) {
        &:first-of-type {
            &:before {
                content: none;
            }
        }
    }
}
