@(trail: model.Trail, index: Int)(implicit request: RequestHeader, config: model.Config)

@import common.LinkTo
@import model.{FaciaDisplayElement, InlineVideo, VideoPlayer}
@import views.html.fragments.media.video
@import views.support.{GetClasses, RemoveOuterParaHtml, SnapData, Video640}

<div
    class="@GetClasses.forItem(trail, true) baguette u-faux-block-link"
    data-link-name="trail | @{index + 1}"
    @SnapData(trail)
>

    <div class="item__container">
        <div class="item__tonal-border tone-accent-border"></div>
        @FaciaDisplayElement.fromTrail(trail) match {
            case InlineVideo(videoElement, title, endSlatePath) => {
                <div class="item__media-wrapper item__media-wrapper--has-icon u-faux-block-link__promote">
                    <div class="item__video-container">
                        @video(VideoPlayer(
                            videoElement,
                            Video640,
                            title,
                            autoPlay = false,
                            showControlsAtStart = false,
                            endSlatePath
                        ))
                    </div>
                </div>
            }
            case _ => {
                @fragments.items.elements.image(trail, inlineImage = true, maxWidth = 940)
            }
        }
        @fragments.items.elements.title(trail, index, 0, showTag = false)

        @trail match { case content: model.Content => @fragments.items.elements.starRating(content) }

        @trail.trailText.map { text =>
            <div class="baguette__standfirst">@Html(text)</div>
        }
    </div>

    <div class="u-faux-block-link__promote">
        @fragments.items.elements.supporting(trail.supporting, trail, style = "fullwidth")
    </div>

    <a @LinkTo(trail).map{url=>href="@url"} class="u-faux-block-link__overlay" data-link-name="article" tabindex="-1">@RemoveOuterParaHtml(trail.headline)</a>
</div>
