@(videoElement: model.VideoElement, title: String, boost: Boolean, isFirst: Boolean, endSlatePath: Option[String])

@import views.html.fragments.media.video
@import views.support.{Item300, Item220, RenderClasses}

<div class="@RenderClasses(Map(
    "fromage__video-wrapper" -> true,
    "fromage__video-wrapper--boost" -> boost,
    "fromage__video-wrapper--first" -> isFirst,
    "fromage__video-wrapper--second" -> !isFirst,
    "u-faux-block-link__promote" -> true
))">
    <div class="fromage__video-container">
    @if(boost) {
        @video(videoElement, Item300, title, 300, 180, true, false, endSlatePath)
    } else {
        @video(videoElement, Item220, title, 220, 132, true, false, endSlatePath)
    }
    </div>
</div>
