@(trail: Trail, index: Int, imageAdjustOverride: Option[String] = None)(implicit request: RequestHeader)

@defining((VisualTone(trail), imageAdjustOverride.getOrElse(trail.imageAdjust))) { case (tone, imageAdjust) =>
    <div
        class="@GetClasses.forFromage(trail, imageAdjust)"
        @trail.discussionId.map{ id => data-discussion-id="@id" }
        data-discussion-closed="@trail.isClosedForComments"
        data-link-name="trail | @{index + 1}">

        <div class="fromage__container">
            <a href="@LinkTo{@trail.url}" class="fromage__link" data-link-name="article">
                @if(imageAdjust != Some("hide")) {
                    @trail.trailPicture(5,3).map{ imageContainer =>
                        @ImgSrc.imager(imageContainer, Item620).map { imgSrc =>
                            <div class="fromage__media-wrapper fromage__media-wrapper--first">
                                <div class="fromage__image-container u-responsive-ratio@if(imageAdjust == "highlight"){ js-image-upgrade inlined-image" data-src="@imgSrc}">
                                    @if(imageAdjust == "highlight") {
                                        @Item300.bestFor(imageContainer).map{ url => <img src="@url" class="responsive-img" alt="" /> }
                                    } else {
                                        @Item220.bestFor(imageContainer).map{ url => <img src="@url" alt="" /> }
                                    }
                                </div>
                            </div>
                        }
                    }
                }
                @fragments.items.elements.title(trail, index, 0)
            </a>
            @if(tone == "comment") {
                @trail.byline.map { byLine =>
                    <p class="fromage__byline tone-colour">@Html(byLine)</p>
                }
            }
            @if(imageAdjust == "default") {
                @trail.trailPicture(5,3).map{ imageContainer =>
                    @ImgSrc.imager(imageContainer, Item620).map { imgSrc =>
                        <a href="@LinkTo{@trail.url}" data-link-name="article">
                            <div class="fromage__media-wrapper fromage__media-wrapper--second">
                                <div class="fromage__image-container u-responsive-ratio">
                                    @Item220.bestFor(imageContainer).map{ url => <img src="@url" alt="" /> }
                                </div>
                            </div>
                        </a>
                    }
                }
            }
            @trail.trailText.map { text =>
                <div class="fromage__standfirst">@Html(text)</div>
            }

            @fragments.items.elements.meta(trail)
        </div>

        @fragments.items.elements.supporting(trail.supporting)

    </div>
}
