@(video: model.VideoElement, poster: Option[String], title: String, width: Int, height: Int, use16_9AspectRatio: Boolean = true)

@import conf.Static
@import views.support.RenderClasses

<div class="gu-media-wrapper gu-media-wrapper--video">
    <div class="@RenderClasses(Map(
        "u-responsive-ratio" -> true,
        "u-responsive-ratio--hd" -> use16_9AspectRatio
    ))">
        <video controls="controls" class="gu-media gu-media--video js-gu-media"
            @poster.map { img => poster="@img"} data-title="@title"
            data-duration="@video.duration.toString()" data-media-id="@video.id">

            @video.encodings.map { encoding =>
                <source src="@encoding.url" type="@encoding.format" />
            }

            @video.encodings.find(_.format == "video/mp4").map { encoding =>
                <object type="application/x-shockwave-flash" data="@Static("flash/flashmediaelement.swf")" width="@width" height="@height">
                    <param name="allowFullScreen" value="true" />
                    <param name="movie" value="@Static("flash/flashmediaelement.swf")" />
                    <param name="flashvars" value="controls=true&amp;file=@encoding.url" />
                    <img @poster.map { img => src="@Html(img)"} alt="" width="@width" height="@height" />
                    Sorry, your browser is unable to play this video.
                </object>
            }
        </video>
    </div>
</div>

