@(trail: Trail, index: Int, containerIndex: Int)(implicit request: RequestHeader)

@defining((VisualTone(trail), containerIndex == 0)) { case (tone, isFirstContainer) =>
    <li class="item item--has-@{if(trail.trailPicture(5,3).isEmpty){"no-"}}image tone-@tone @if(isFirstContainer){ item--force-image-upgrade}" data-link-name="trail | @{index + 1}"
        @trail.discussionId.map{ id => data-discussion-id="@id" }
        data-discussion-closed="@trail.isClosedForComments">
<a href="@LinkTo{@trail.url}" class="item__link tone-accent-border">
            @trail.trailPicture(5,3).map{ imageContainer =>
                @ImgSrc.imager(imageContainer).map { imgSrc =>
                    <div class="item__image-container" data-src="@imgSrc" @if(isFirstContainer){ data-force-upgrade="desktop wide"}>
                        @if(isFirstContainer){
                            <img src="@imgSrc" class="responsive-img"/>
                        }
                    </div>
                }
            }
            <h@if(isFirstContainer && index == 0){1}else{2} class="item__title">
                @if(trail.isLive){
                    <span class="item__live-indicator">Live</span>
                }
                @if(tone == "comment") {
                    <span class="i i-quote-light-grey"></span>
                }
                @RemoveOuterParaHtml(trail.headline)
            </h@if(isFirstContainer && index == 0){1}else{2}>
        </a>
        @if(tone == "comment") {
            @trail.byline.map { byLine =>
                <p class="item__byline tone-colour">@Html(byLine)</p>
            }
        }
        @trail.trailText.map { text =>
            <div class="item__standfirst">@Html(text)</div>
        }
        <div class="item__meta">
            <time class="item__timestamp js-item__timestamp"
                  itemprop="datePublished"
                  datetime="@trail.webPublicationDate.toString("yyyy-MM-dd'T'HH:mm:ssZ")"
                  data-timestamp="@trail.webPublicationDate.getMillis"
                  data-relativeformat="short">
                <i class="i i-clock-light-grey"></i>
                <span class="timestamp__text"><span class="u-h">Published: </span>@Format(trail.webPublicationDate, "d MMM y")</span>
            </time>
        </div>
    </li>
}
