@(video: model.Video, index: Int, containerIndex: Int, element: String = "li", forceTone: Option[String] = None, forcePlayable: Boolean = false)(implicit request: RequestHeader, config: model.Config)

@import common.LinkTo
@import model.{VideoPlayer, FaciaDisplayElement, InlineVideo}
@import views.support.{GetClasses, ImgSrc, Video640, Item620, Item300, RemoveOuterParaHtml}

@defining((
    video.visualTone,
    containerIndex == 0,
    containerIndex == 0 && index < 4,
    if (containerIndex == 0 && index == 0) { "1" } else { "2" })
) { case (tone, isFirstContainer, inlineImages, headingLevel) =>
    <@element
        class="@GetClasses.forItem(video, isFirstContainer, true, forceTone)"
        data-link-name="trail | @{index + 1}">

        <div class="item__container">
            <div class="item__tonal-border tone-accent-border"></div>
            @FaciaDisplayElement.fromTrail(video) match {
                case InlineVideo(videoElement, title, endSlatePath) if video.isBoosted || forcePlayable => {
                    <div class="item__media-wrapper item__media-wrapper--has-icon u-faux-block-link__promote">
                        <div class="item__video-container">
                            @views.html.fragments.media.video(VideoPlayer(
                                videoElement,
                                Video640,
                                title,
                                autoPlay = false,
                                showControlsAtStart = false,
                                endSlatePath,
                                overrideIsRatioHd = Some(false)
                            ))
                        </div>
                    </div>

                    <h@headingLevel class="item__title item__title--video-icon item__title--inline-video">
                        @fragments.items.elements.tagOrSection(video)
                        <a href="@LinkTo{@video.url}" class="item__link" data-link-name="article">
                            <span class="u-faux-block-link__cta">@RemoveOuterParaHtml(video.headline)</span>
                        </a>
                    </h@headingLevel>
                }

                case _ => {
                    <div class="item__media-wrapper item__media-wrapper--has-icon">
                        @video.trailPicture(5,3).map{ imageContainer =>
                            @ImgSrc.imager(imageContainer, Item620).map { imgSrc =>
                                <div class="item__image-container u-responsive-ratio js-image-upgrade@if(inlineImages){ inlined-image}" data-src="@imgSrc">
                                @if(inlineImages){
                                    @Item300.bestFor(imageContainer).map{ url => <img src="@url" class="responsive-img" alt="" /> }
                                }
                                </div>
                            }
                        }.getOrElse{
                            <div class="item__image-container u-responsive-ratio">
                                <img src="@Static("images/no-image.png")" class="responsive-img" alt="" />
                            </div>
                        }
                    </div>
                    <h@headingLevel class="item__title item__title--video-icon">
                        @fragments.items.elements.tagOrSection(video)
                        <a href="@LinkTo{@video.url}" class="item__link" data-link-name="article">
                            <span class="u-faux-block-link__cta">@RemoveOuterParaHtml(video.videoLinkText)</span>
                        </a>
                    </h@headingLevel>
                }
            }


            @video.trailText.map { text =>
                <div class="item__standfirst">@Html(text)</div>
            }
        </div>
        <a @LinkTo(video).map{url=>href="@url"} class="u-faux-block-link__overlay" data-link-name="article" tabindex="-1">@RemoveOuterParaHtml(video.headline)</a>
    </@element>
}
