@(trail: Trail, index: Int, containerIndex: Int, element: String = "li")(implicit request: RequestHeader)

@defining((VisualTone(trail), containerIndex == 0)) { case (tone, isFirstContainer) =>
    <@element
        class="@GetClasses.forItem(trail, isFirstContainer) item--thumbnail"
        data-link-name="trail | @{index + 1}"
        @trail.discussionId.map{ id => data-discussion-id="@id" }
        data-discussion-closed="@trail.isClosedForComments">

        <div class="item__container">

            <a href="@LinkTo{@trail.url}" class="item__link tone-accent-border" data-link-name="article">
                @fragments.items.elements.title(trail, index, containerIndex)
                @fragments.items.elements.image(trail, inlineImage = containerIndex == 0 && index < 4)
            </a>

            @trail.trailText.map { text =>
                <div class="item__standfirst">@Html(text)</div>
            }

            @fragments.items.elements.meta(trail)
        </div>
    </@element>
}
