@(page: model.PressedPage)(implicit request: RequestHeader)

@import implicits.ItemKickerImplicits._
@import implicits.Requests.RichRequestHeader
@import layout.{ContentCard, FaciaCard, ItemClasses}
@import model.EmailAddons.EmailContentType
@import model.pressed.{ExternalLink, Feature}
@import views.support.EmailHelpers._
@import views.support.RemoveOuterParaHtml
@import views.support.TrailCssClasses.toneClassFromStyle


@headline(card: ContentCard) = {
    <a @Html(card.header.url.hrefWithRel) class="facia-link">
        <h3 class="headline">
            @card.header.kicker.map { kicker =>
                <span class="fc-item__kicker">@Html(kicker.kickerHtml)</span>
                <span class="kicker-separator">/</span>
            }

            @defining(if(request.isEmailConnectedStyle) "-connected" else "") { suffix =>
                @if(card.header.isGallery) { @icon("gallery" + suffix) }
                @if(card.header.isAudio) { @icon("podcast" + suffix) }
                @if(card.header.isVideo) { @icon("video" + suffix) }
            }

            @if(card.header.quoted) {
                @card.cardStyle match {
                    case Feature => { @icon("quote-feature") }
                    case _ => { @icon("quote") }
                }
            }
            @RemoveOuterParaHtml(card.header.headline)
        </h3>
        @if(card.header.quoted) {
            @card.bylineText.map { byline => <h4 class="byline">@byline</h4> }
        }
    </a>
}

@trailText(card: ContentCard) = {
    @card.trailText.map { trailText =>
        <a @Html(card.header.url.hrefWithRel) class="facia-link">
            <h4 class="trail-text">@Html(trailText)</h4>
        </a>
    }
}

@headlineAndTrailWithCutout(card: ContentCard) = {
    @fullRow(Seq("facia-card__text")) {
        @headline(card)
    }
    @fullRow(Seq("facia-card__text", "facia-card__text--last")) {
        @trailText(card)
    }
}

@faciaCardLarge(card: ContentCard, withImage: Boolean) = {
    @paddedRow(Seq(toneClassFromStyle(card.cardStyle))) {
        <div class="facia-card @if(withImage){facia-card--large}">
            @if(withImage) { @imgFromCard(card) }
            @if(card.header.quoted) {
                @headlineAndTrailWithCutout(card)
            } else {
                @fullRow(Seq("facia-card__text", "facia-card__text--last")) {
                    @headline(card)
                    @trailText(card)
                }
            }
        </div>
    }
}

@faciaCardSmall(card: ContentCard, withImage: Boolean) = {
    @paddedRow(Seq(toneClassFromStyle(card.cardStyle))) {
        @if(withImage) {
            @fullRowWithSubColumns(Seq("facia-card")) {
                @subColumn(7, Seq("facia-card__text")) { @headline(card)}
                @subColumn(5, Seq(), last = true) { @imgFromCard(card) }
            }
        } else {
            @fullRow(Seq("facia-card", "facia-card__text", "facia-card__text--last")) {
                @headline(card)
            }
        }
    }
}

@firstCard(card: ContentCard, isFastLayout: Boolean) = {
    @* if fast layout: small card, with image *@
    @* if medium or slow layout: large card, with image *@
    @card.cardStyle match {
        case ExternalLink => { @faciaCardSmall(card, withImage = false) }
        case _ if isFastLayout => { @faciaCardSmall(card, withImage = true) }
        case _ => { @faciaCardLarge(card, withImage = true) }
    }
}

@otherCard(card: ContentCard, isSlowLayout: Boolean) = {
    @* if fast or medium layout: small card, no image *@
    @* if slow layout: large card, no image *@
    @if(isSlowLayout) {
        @faciaCardLarge(card, withImage = false)
    } else {
        @faciaCardSmall(card, withImage = false)
    }
}

@fullRow {
    @imgForFront(page.banner, page.email.map(_.name))
}

@page.frontProperties.onPageDescription.map { description =>
    @paddedRow {
        <p class="introduction">@description</p>
    }
}

@page.collections.filterNot(_.curatedPlusBackfillDeduplicated.isEmpty).zipWithIndex.map { case (collection, collectionIndex) =>
    @paddedRow {
        <h2 class="container-title @if(collectionIndex > 0) { container-title--not-first }">
            @collection.displayName
        </h2>
    }

    @collection.curatedPlusBackfillDeduplicated.take(6).zipWithIndex.map { case (pressedContent, cardIndex) =>
        @defining(FaciaCard.fromTrail(pressedContent, collection.config, ItemClasses.showMore, showSeriesAndBlogKickers = false)) { card =>
            @if(cardIndex == 0) {
                @firstCard(card, isFastLayout = collection.collectionType == "fast")
            } else {
                @otherCard(card, isSlowLayout = collection.collectionType == "slow")
            }
        }
    }
}
