@import layout.EmailCardStyle
@import layout.EmailLayouts
@(page: model.PressedPage)(implicit request: RequestHeader)

@import implicits.ItemKickerImplicits._
@import layout.ContentCard
@import model.EmailAddons.EmailContentType
@import model.pressed.{ExternalLink, Feature}
@import views.support.EmailHelpers._
@import views.support.RemoveOuterParaHtml
@import views.support.TrailCssClasses.toneClassFromStyle


@fcItem(classes: Seq[String])(contents: Html) = {
    <table class="fc-item"><tr><td class="fc-item__margin"><table class="fc-item__inner @classes.mkString(" ")">@contents</table></td></tr></table>
}

@row(classes: Seq[String])(contents: Html) = {
    <tr><td @if(classes.nonEmpty) { class="@classes.mkString(" ")" }>@contents</td></tr>
}

@headline(card: ContentCard, isLarge: Boolean = false) = {
    @row(Seq("headline")) {
        <a @Html(card.header.url.hrefWithRel) class="facia-link">
            @card.header.kicker.map { kicker =>
                <span class="fc-item__kicker">@Html(kicker.kickerHtml)</span>
                <span class="kicker-separator">/</span>
            }

            @if(card.header.isGallery) { @icon("gallery", isLarge) }
            @if(card.header.isAudio) { @icon("podcast", isLarge) }
            @if(card.header.isVideo) { @icon("video", isLarge) }

            @if(card.header.quoted) {
                @card.cardStyle match {
                    case Feature => { @icon("quote-feature", isLarge) }
                    case _ => { @icon("quote", isLarge) }
                }
            }
            @RemoveOuterParaHtml(card.header.headline)
        </a>
    }
    @if(card.header.quoted) {
        @card.bylineText.map { byline => @row(Seq("byline")){@byline} }
    }
    @card.starRating.map { numberOfStars =>
        @row(Seq("review-stars")) {
            @for(i <- 0 to 4) {
                @defining(if(i < numberOfStars) "golden" else "grey") { positiveOrNegative =>
                    @icon("star-" + positiveOrNegative, isLarge)
                }
            }
        }
    }
}

@trailText(card: ContentCard) = {
    @card.trailText.map { trailText =>
        @row(Seq("trail-text")) {
            <a @Html(card.header.url.hrefWithRel) class="facia-link">@Html(trailText)</a>
        }
    }
}

@headlineAndTrailWithCutout(card: ContentCard, withImage: Boolean) = {
    @headline(card, isLarge = withImage)
    @trailText(card)
}


@faciaCardWithTrailText(card: ContentCard, withImage: Boolean, largeHeadline: Boolean) = {
    @fcItem(Seq(toneClassFromStyle(card.cardStyle)) ++ (if (withImage) Seq("fc-item--large") else Seq())) {
        @if(withImage) {
            @row(Seq("no-pad")){@imgFromCard(card)}
        }
        @if(card.header.quoted) {
            @headlineAndTrailWithCutout(card, withImage)
        } else {
            @headline(card, isLarge = largeHeadline)
            @trailText(card)
        }
    }
}

@faciaCardWithoutTrailText(card: ContentCard, withImage: Boolean, largeHeadline: Boolean) = {
    @imgFromCard(card, 5).filter(i => withImage).fold {
        @fcItem(Seq(toneClassFromStyle(card.cardStyle))) {
            @headline(card, largeHeadline)
        }
    } { img =>
        @fcItem(Seq(toneClassFromStyle(card.cardStyle))) {
            <tr valign="top">
                <td class="left-col"><table>@headline(card)</table></td>
                <td class="right-col no-pad">@img</td>
            </tr>
        }
    }
}

@renderCard(card: ContentCard, cardStyle: EmailCardStyle) = {
    @card.cardStyle match {
        case ExternalLink => {
            @faciaCardWithoutTrailText(
                card = card,
                withImage = false,
                largeHeadline = false
            )
        }
        case _ => {
            @if(cardStyle.trailText) {
                @faciaCardWithTrailText(
                    card = card,
                    withImage = cardStyle.image,
                    largeHeadline = cardStyle.largeHeadline
                )
            } else {
                @faciaCardWithoutTrailText(
                    card = card,
                    withImage = cardStyle.image,
                    largeHeadline = cardStyle.largeHeadline
                )
            }
        }
    }
}

@fullRow {
    @imgForFront(page.banner, page.email.map(_.name))
}

@layout.CollectionEmail.fromPressedPage(page).collections.zipWithIndex.map { case (collection, collectionIndex) =>
    @fullRow {
        <h2 class="container-title @if(collectionIndex > 0) { has-top-border }">
            @collection.displayName
        </h2>
    }

    @collection.cards.zipWithIndex.map { case (card, cardIndex) =>
        @if(cardIndex == 0) {
            @renderCard(card, EmailLayouts.layoutByName(collection.collectionType).firstCard)
        } else {
            @renderCard(card, EmailLayouts.layoutByName(collection.collectionType).otherCards)
        }
    }
}

@page.frontProperties.onPageDescription.map { description =>
    @fullRow {
        <p class="message">@Html(description)</p>
    }
}
