@(front: FrontPage, faciaTrailblock: FaciaPage)(implicit request: RequestHeader, templateDeduping: TemplateDeduping)
@import conf.Switches._
@if(faciaTrailblock.collections.nonEmpty) {
    <div class="facia-container monocolumn-wrapper monocolumn-wrapper--no-limit" data-link-name="Front" role="main">
        @faciaTrailblock.collections.filter(_._2.items.nonEmpty).zipWithIndex.map{ case(block, index) =>
            @GetContainer(faciaTrailblock.id, block._1) match {
                case style: NewsContainer       => { @containers.news(block._1,  block._2, style, index) }
                case style: SportContainer      => { @containers.sport(front, block._1, block._2, style, index) }
                case style: CommentContainer    => { @containers.comment(block._1, block._2, style, index) }
                case style: FeaturesContainer   => { @containers.features(block._1, block._2, style, index) }
                case style: TopStoriesContainer => { @containers.topStories(block._1, block._2, style, index) }
                case style: PopularContainer    => { @containers.popular(block._1, block._2, style, index) }
                case style                      => { @containers.section(block._1, block._2, style, index) }
            }
        }
    </div>
}
