@(block: Trailblock, page: FrontPage, index: Int)(implicit request: RequestHeader)

@if(block.trails.nonEmpty){

    <section class="section--@block.description.style.map(_.className)"
             data-link-name="block | @block.description.name"
             data-section-id="@block.description.id"
             @defining(Edition(request).id.toLowerCase()) { edition =>
                 data-link-context="@if(block.description.section == "news"){@edition}else{@edition/@block.description.section}">
             }

        <h2 class="section__title">@block.description.name</h2>

        @block.description.style match {
            case Some(Thumbnail)                    => { @trailblocks.thumbnail(block.trails, block.description.numItemsVisible) }
            case Some(Headline) | Some(FastNews)    => { @trailblocks.headline(block.trails, block.description.numItemsVisible) }
            case Some(SectionFront)                 => { @trailblocks.section(block.trails, block.description.numItemsVisible, numWithImages = 3 ) }
            case Some(Masthead) | Some(SectionZone) => { @trailblocks.masthead(block.trails.take(block.description.numItemsVisible)) }
            case _                                  => { @trailblocks.featured(block.trails, block.description.numItemsVisible) }
        }

    </section>

}
