@(block: RunningOrderTrailblock)(implicit request: RequestHeader)

<section 
    class="front-section zone-@block.id"
    data-link-name="block | @block.name"
    data-link-context="front-trails/@block.name">

    @if(block.id != "") {
	    @if("/" + block.id == request.path) {
            @fragments.headers.sectionHead(block.name)
	    }
	}

    <div class="trailblock front-trailblock-block.id"
        data-section-id="@block.id">
            @trailblocks.thumbnail(block.trails, 5)
    </div>

</section>
