@(faciaPage: model.FaciaPage)(implicit request: RequestHeader)

@import views.support.RenderClasses

@if(faciaPage.collections.nonEmpty) {
    <div class="l-side-margins">
        <div class="@RenderClasses(Map(
                "fc-container--sponsored" -> faciaPage.isSponsored,
                "fc-container--advertisement-feature" -> faciaPage.isAdvertisementFeature,
                "js-sponsored-front" -> (faciaPage.isSponsored || faciaPage.isAdvertisementFeature || faciaPage.isFoundationSupported)))"
            data-link-name="Front | @request.path"
            @faciaPage.sponsor.map { sponsor =>
                data-sponsor="@sponsor"
            }
            @faciaPage.sponsorshipType.map { sponsorshipType =>
                data-sponsorship="@sponsorshipType"
            }
            role="main">

            @defining(faciaPage.front.containers) { collections =>
                @collections.map{ containerDefinition =>
                    @fragments.containers.facia_cards.container(containerDefinition, faciaPage.frontProperties)
                }
            }

            @fragments.trendingTopics(faciaPage.allItems, faciaPage.id, faciaPage.allPath)

        @if(!faciaPage.isAdvertisementFeature) {
            @fragments.commercial.commercialComponent()
        }
        </div>
    </div>
}
