@(webPublicationDate: org.joda.time.DateTime, isLive: Boolean = false, secondary: Boolean = false)(implicit request: RequestHeader)
<p class="article__dateline" @if(secondary) { aria-hidden="true"}>
    @if(isLive){ <i class="is-live-icon">LIVE</i> } else { <i class="i i-date relative-timestamp__icon"></i> }
    <time itemprop="datePublished" datetime='@webPublicationDate.toString("yyyy-MM-dd'T'HH:mm:ssZ")'
        data-timestamp="@webPublicationDate.getMillis">
        @Format(webPublicationDate, "EEEE d MMMM y") <span class="article__dateline-time">@Format(webPublicationDate, "HH.mm z")</span>
    </time>
    @if(!secondary){<span class="js-comment-count"></span>}
</p>