/* ==========================================================================
   Best Buys component
   ========================================================================== */
.commercial--bestbuys--v2 {

    // Colours
    $c-commercial-bestbuys-1: guss-colour(news-main-2, $pasteup-palette);
    $c-commercial-bestbuys-2: guss-colour(news-support-2, $pasteup-palette);

    .container__header {
        background-color: $c-commercial-bestbuys-1;
    }

    .lineitem__meta__highlight {
        color: $c-commercial-bestbuys-1;
    }

    .tabs__tab--selected {
        border-color: $c-commercial-bestbuys-2;

        a {
            color: $c-commercial-bestbuys-2;
        }
    }

    // Line items
    .lineitem__meta {
        @include fs-data(1);
        margin-top: $gs-baseline;
    }
}
