/* ==========================================================================
   Soulmates components
   ========================================================================== */
.commercial--soulmates-v2 {
    .container__title__wrapper {
        height: auto;
        padding: $gs-baseline*2 0 $gs-baseline/2;
        margin: 0 0 $gs-baseline*2.5;
        background-repeat: no-repeat;
        width: gs-span(2);
        
        .svg & {
            background-size: cover;
        }
    }
    .container__title {
        padding-bottom: 0;
        padding-left: 0;
    }
    .commercial__title {
        text-align: center;
        min-height: 0;
    }
    .commercial__explainer {
        color: $c-soulmates-high;
        position: absolute;
        bottom: 0;
        width: auto;
        padding: 0;
        @include fs-header(1);
        margin: $gs-baseline 0 0;
    }
    .i-soulmates-logo {
        width: 86px;
        height: 18px;
        
        .svg & {
            background-size: contain;
        }
    }
    .lineitems {
        @include mq(tablet) {
            float: left;
            width: gs-span(6) + $gs-gutter/2;
        }
        @include mq(desktop) {
            width: gs-span(9) + $gs-gutter/2;
        }
    }
    .lineitem {
        text-align: center;
        width: 50%;
        min-width: 96px;

        &:nth-child(n+3) {
            display: none;
        }
        @include mq(mobileLandscape) {
            width: 25%;

            &:nth-child(-n+4) {
                display: block;
            }
        }
        @include mq(tablet) {
            width: 25%;

            &:nth-child(-n+4) {
                display: block;
            }
        }
        @include mq(desktop) {
            width: percentage(1/6);

            &:nth-child(5),
            &:nth-child(6) {
                display: block;
            }
        }
    }
    .lineitem__title {
        @include fs-header(1);
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: pre;
        overflow: hidden;
        margin-bottom: 0;

        &:hover {
            text-decoration: underline;
        }
    }
    .lineitem__meta {
        font-size: 11px;
        line-height: 11px;
    }
    .commercial__search {
        position: static;
        @include box-sizing(border-box);
        width: auto;
        float: none;
        margin-top: $gs-baseline;
        
        @include mq(tablet) {
            margin-top: 0;
            float: right;
            width: gs-span(3) - $gs-gutter/2;
        }
    }
    .search__dropdown {
        display: block;
        border-top: 1px solid  $c-neutral4;
        overflow: hidden;
        @include fs-textSans(2);
        padding-top: $gs-baseline/2;
        margin-top: $gs-baseline/2;

        &:first-child {
            margin-top: 0;
        }
    }
    .search__dropdown__options {
        float: right;
        min-width: 50%;
    }
    .search__submit {
        float: right;
        margin-top: $gs-baseline;
        margin-right: 0;
    }
    @include mq($until: leftCol) {
        .commercial__cta {
            display: none;
        }
    }
    @include mq(leftCol) {
        .container__body {
            padding-left: 0;
        }
        .container__title {
            width: gs-span(2) + $gs-gutter*2.5 !important;
            margin-right: 0;
            float: left;
            padding-left: 0;
        }
        .container__title__wrapper {
            width: gs-span(2) + $gs-gutter*1.5;
            margin-bottom: 0;
            padding-top: $gs-baseline*3;
            padding-bottom: 0;
        }
        .commercial__explainer {
            position: static;
            color: #ffffff;
            width: gs-span(2)-$gs-gutter;
            padding: $gs-baseline $gs-gutter $gs-baseline/2 $gs-gutter*1.5;
            margin-top: $gs-baseline;
        }
        .i-soulmates-logo {
            .svg & {
                width: 100px;
                height: 21px;
                background-size: contain;
            }
        }
        .commercial__buy-now-button {
            display: inline-block;
            padding: $gs-baseline 25px $gs-baseline $gs-gutter*1.5;
            position: relative;
        }
        .commercial__cta {
            position: static;
            margin: $gs-baseline $gs-gutter*1.25 $gs-baseline $gs-gutter*1.5;
            @include button-colour(transparent, #ffffff, transparent, #ffffff, #767676);
            width: gs-span(2) - $gs-gutter;
        }   
    }
    @include mq(wide) {
        .container__title {
            width: gs-span(3) + $gs-gutter !important;
        }
        .container__title__wrapper {
            width: gs-span(3);
            
            .svg & {
                background-size: cover;
            }
        }
        .commercial__cta {
            width: gs-span(2) + $gs-gutter;
        }
    }
}