/* ==========================================================================
   Commercial component tones
   ========================================================================== */
/* Books */
.commercial--tone--books {
    $c-commercial-books-1: guss-colour(features-main-1, $pasteup-palette);
    $c-commercial-books-2: guss-colour(features-main-2, $pasteup-palette);

    .commercial--tone__highlight {
        color: $c-commercial-books-2;
    }

    .container__title {
        color: #ffffff;
    }

    .container__header {
        background-color: $c-commercial-books-1;
    }

    .button--primary {
        @include button-colour(
            $c-commercial-books-2,
            #ffffff,
            darken($c-commercial-books-2, 10%)
        )
    }

    .tabs__tab--selected {
        border-color: $c-commercial-books-2;

        a {
            color: $c-commercial-books-2;
        }
    }
}


/* Jobs */
.commercial--tone--jobs {
    $c-commercial-jobs-1: guss-colour(news-support-2, $pasteup-palette);
    $c-commercial-jobs-2: guss-colour(news-main-1, $pasteup-palette);

    .commercial--tone__highlight {
        color: $c-commercial-jobs-1;
    }

    .container__title {
        color: #ffffff;
    }

    .container__header {
        background-color: $c-commercial-jobs-1;
    }

    .button--primary {
        @include button-colour(
            $c-commercial-jobs-2,
            #ffffff,
            darken($c-commercial-jobs-2, 10%)
        )
    }

    .tabs__tab--selected {
        border-color: $c-commercial-jobs-2;

        a {
            color: $c-commercial-jobs-2;
        }
    }
}


/* Masterclasses */
.commercial--tone--masterclasses {
    $c-commercial-masterclasses-1: guss-colour(multimedia-main-1, $pasteup-palette);
    $c-commercial-masterclasses-2: guss-colour(multimedia-main-2, $pasteup-palette);

    .commercial--tone__highlight {
        color: $c-commercial-masterclasses-1;
    }

    .container__title {
        color: $c-commercial-masterclasses-2;
    }

    .container__header {
        background-color: $c-commercial-masterclasses-1;

        .commercial__cta.button {
            border-color: rgba($c-commercial-masterclasses-2, 0.3);

            &:hover {
                border-color: rgba($c-commercial-masterclasses-2, 1);
            }
        }
    }

    .button--primary {
        @include button-colour(
            $c-commercial-masterclasses-2,
            $c-commercial-masterclasses-1,
            darken($c-commercial-masterclasses-2, 3%)
        )
    }

    .tabs__tab--selected {
        border-color: $c-commercial-masterclasses-2;

        a {
            color: $c-commercial-masterclasses-1;
        }
    }
}


/* Money */
.commercial--tone--money {
    $c-commercial-money-1: guss-colour(news-main-2, $pasteup-palette);
    $c-commercial-money-2: guss-colour(news-support-2, $pasteup-palette);

    .commercial--tone__highlight {
        color: $c-commercial-money-1;
    }

    .container__title {
        color: #ffffff;
    }

    .container__header {
        background-color: $c-commercial-money-1;
    }

    .button--primary {
        @include button-colour(
            $c-commercial-money-2,
            #ffffff,
            darken($c-commercial-money-2, 3%)
        )
    }

    .tabs__tab--selected {
        border-color: $c-commercial-money-2;

        a {
            color: $c-commercial-money-2;
        }
    }
}


/* Travel */
.commercial--tone--travel {
    $c-commercial-travel-1: guss-colour(maps-support-3, $pasteup-palette);
    $c-commercial-travel-2: #72AF7E; // TODO: Add to paste-up palette

    .commercial--tone__highlight {
        color: $c-commercial-travel-1;
    }

    .container__title {
        color: #ffffff;
    }

    .container__header {
        background-color: $c-commercial-travel-1;
    }

    .button--primary {
        @include button-colour(
            $c-commercial-travel-2,
            #ffffff,
            darken($c-commercial-travel-2, 3%)
        )
    }

    .tabs__tab--selected {
        border-color: $c-commercial-travel-2;

        a {
            color: $c-commercial-travel-2;
        }
    }
}
