/* ==========================================================================
   Travel component
   ========================================================================== */
.commercial--travel--v2 {

    // Colours
    $c-commercial-travel-1: #5ebfba;
    $c-commercial-travel-2: #52a8a4;

    .container__header {
        background-color: $c-commercial-travel-1;
    }

    .lineitem__meta__highlight {
        color: $c-commercial-travel-1;
    }

    // Line items
    .lineitem {
        @include mq($until: tablet) {
            width: percentage(1/2);

            &:nth-child(n+3) {
                display: none;
            }
        }

        @include mq(tablet, rightCol) {
            width: percentage(1/3);

            &:nth-child(n+4) {
                display: none;
            }
        }

        @include mq(rightCol) {
            width: percentage(1/4);
        }
    }

    // Low relevance line items
    .commercial__relevance--low {
        @include mq(tablet) {
            padding-left: $gs-gutter/2;
            width: 50%;
            float: left;
        }

        @include mq($until: tablet) {
            .lineitem.lineitem--low {
                padding-left: 88px + $gs-gutter/2;
            }

            .lineitem__image-crop {
                float: left;
                width: 88px;
                padding-bottom: 53px;
                position: absolute;
                left: 0;
                top: $gs-baseline/2;
            }
        }
    }
}
