/* ==========================================================================
   Travel component
   ========================================================================== */
.commercial--v2.commercial--travel {
    $c-commercial-travel-1: #5ebfba;
    $c-commercial-travel-2: #52a8a4;

    .container__header {
        background-color: $c-commercial-travel-1;
    }
}
