.newsletters-heading {
    @include fs-header(5);
    padding: $gs-baseline 0;

    @include mq($from: tablet) {
        font-size: 36px;
        margin-top: 8px;
  }
}

.newsletter-card__signup {
    padding: .5rem;
}

.newsletter-card__example {

    .newsletter-card__lozenge {
        color: $news-main-1;
        border-color: $news-main-1;
        -webkit-border-radius: 62.5rem;
        border-radius: 100px;
        height: 2.8em;
        width: 6rem;
        margin: 0;

        &:hover,
        &:focus,
        &:active {
            border-color: lighten($news-main-1, 10%);
        }
    }
}

.newsletter-card__wrapper {
    position: relative;

    @include mq(desktop) {
        margin-left: 17%;
    }
}

.newsletter-card {
    color: $neutral-1;
    display: inline-block;
    float: left;
    height: 18rem;
    width: 90%;
    margin: $gs-baseline 5%;
    background-color: $neutral-6;
    border-top: $gs-baseline/4 solid $news-main-2;
    border-bottom: $gs-baseline/4 solid $neutral-3;

    @include mq(tablet) {
        height: 18rem;
        width: 20rem;
        margin: $gs-baseline;
    }

    @include mq(desktop) {
        height: 21rem;
        width: 30%;
        min-width: 15.5rem;
        margin: $gs-baseline;
    }
}

.newsletter-card__name {
    @include fs-header(4);
    text-align: right;
    color: #ffffff;
    background-color: $news-main-1;
    padding: .5rem;
    height: 3.5rem;
}

.newsletter-card__subheading {
    @include fs-header(4);
    text-align: right;
    color: #ffffff;
    background-color: $news-main-1;
    padding: 0 .5rem;
    height: 2rem;
}

.newsletter-card__content {
    padding: .5rem;
    height: 8.5rem;

    @include mq(tablet) {
        height: 8.5rem;
    }

    @include mq(desktop) {
        height: 11.5rem;
    }
}

.newsletter-card__preview {
    line-height: 2rem;
    width: 6rem;
    height: 2.2rem;
    margin-left: -1rem;

    .inline-arrow-right {
        fill: $news-main-1;
        position: absolute;
        height: 2rem;
        line-height: 2rem;
    }
}

.newsletter-card__frequency {
    @include fs-textSans(2);
    padding: 1rem 0;
    color: $neutral-2;

    .inline-icon {
        fill: $neutral-2;
    }
}

.newsletter-card__iframe {
    width: 100%;
}

.newsletters-category {
    border-top: $gs-baseline/4 solid $news-main-2;
    display: inline-block;
    clear: both;
    padding-top: $gs-baseline;
}

.newsletters-category__heading {
    @include fs-header(5);
    background: none;
    position: relative;
    margin: 0;
    padding: $gs-baseline 0;
    height: 1.5rem;

    @include mq(desktop) {
        position: absolute;
  }
}
