.newsletters-heading__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 16px;
}

.newsletters-heading__divider {
    margin-bottom: 16px;
    border-bottom: 1px solid $brightness-86;
}

.newsletters-privacy-notice__container {
    position: sticky;
    top: 0;
    background-color: $highlight-main;
    padding-top: 5px;
    padding-bottom: 8px;
    margin-bottom: 16px;
    z-index: 1;
    @include mq(leftCol) {
        padding-top: 10px;
    }
}

.newsletters-privacy-notice__heading {
    @include fs-header(2);
    color: $brightness-7;
    position: relative;
    margin: ($gs-baseline / 2) 0 $gs-baseline;
    padding-left: 8px;

    @include mq(leftCol) {
        position: absolute;
        width: gs-span(3);
        padding-left: 31px;
        margin: 0;
    }

    @include mq(wide) {
        width: gs-span(3);
    }
}

.newsletters-privacy-notice__content {
    @include fs-textSans(5);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: -8px;
    padding-left: 8px;
    padding-right: 24px;

    @include mq(tablet) {
        margin-right: -$gs-gutter;
    }

    @include mq(leftCol) {
        margin-left: gs-span(2) + $gs-gutter;
        padding-top: 6px;
    }

    @include mq(wide) {
        margin-left: gs-span(2) + $gs-gutter;
    }
}
.newsletters-privacy-notice__content a {
    text-decoration: underline;
    color: $brightness-7;
}

.newsletters-heading {
    @include fs-headline(8);
    font-weight: 700;
    color: $brightness-7;
    padding-top: $gs-baseline;
    margin-bottom: $gs-baseline;
    margin-right: $gs-baseline;

    @include mq($from: tablet) {
        @include fs-headline(9, true);
        padding-top: $gs-baseline * 2;
        width: 80%;
    }

    @include mq($until: tablet) {
        @include fs-headline(4);
    }
}

.newsletters-heading__manage-button {
    @include mq($from: desktop) {
        margin-top: 24px;
    }

    @include mq($from: tablet) {
        @include fs-textSans(5);
        height: auto;
    }

    @include fs-textSans(3);

    border-radius: 1000px;
    color: #ffffff;
    border: 1px solid $sport-dark;
    background-color: $sport-dark;
    text-align: center;
    text-decoration: none;
    height: auto;
    padding: 5px;

    &:hover,
    &:focus {
        border-color: darken($sport-dark, 10%);
        background-color: darken($sport-dark, 10%);
    }
}

.newsletter-card__signup {
    display: inline;
}

.newsletter-card__example {
    display: inline;
}

.newsletter-card__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    @include mq(tablet) {
        margin-right: -$gs-gutter;
    }

    @include mq(leftCol) {
        margin-left: gs-span(2) + $gs-gutter;
    }

    @include mq(wide) {
        margin-left: gs-span(3) + $gs-gutter;
    }
}

.newsletter-card {
    margin-bottom: $gs-baseline;
    border-top: 1px solid $brightness-86;
    background-color: $brightness-93;
    padding: $gs-baseline / 2 $gs-gutter / 2 $gs-baseline;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include mq(tablet) {
        width: (gs-span(4)) + ($gs-gutter * 2);
        margin-right: $gs-gutter;
    }

    @include mq(desktop) {
        width: gs-span(3);
    }

    @include mq(leftCol) {
        margin-top: $gs-baseline;
    }
}

.newsletter-card__name {
    @include fs-header(5);
    font-weight: 900;
    line-height: 24px;
    padding-bottom: $gs-baseline / 2;
}

.newsletter-card__content {
    @include fs-textSans(3);
    line-height: 18px;
}

.newsletter-card__meta {
    padding-top: $gs-baseline;
    margin-top: auto;
    width: 100%;

    * {
        box-sizing: border-box;
    }

    .newsletter-card__text-input {
        @include fs-textSans(2);
        border-radius: 1000px 0 0 1000px;
        border: 1px solid $brightness-86;
        border-right: 0;
        float: left;
        padding-left: $gs-baseline;
        width: 60%;
        height: 3em;
    }

    .newsletter-card__lozenge {
        @include fs-textSans(2);
        color: #ffffff;
        border: 1px solid $sport-dark;
        background-color: $sport-dark;
        border-radius: 1000px;
        height: 3em;
        width: 48%;
        margin: 0;
        padding: 0;

        &:hover,
        &:focus {
            border-color: darken($sport-dark, 10%);
            background-color: darken($sport-dark, 10%);
        }
    }

    .newsletter-card__lozenge--submit {
        border-radius: 0 1000px 1000px 0;
        border-left: 0;
        margin-right: 0;
        width: 40%;
    }

    .newsletter-card__lozenge--preview {
        display: inline;
        text-align: center;
        border-color: $brightness-7;
        color: $brightness-7;
        background-color: transparent;
        float: right;

        &:hover,
        &:focus,
        &:active {
            border-color: $brightness-7;
            background-color: rgba(0, 0, 0, .1)
        }
    }

    .inline-arrow-right {
        fill: $brightness-7;
        position: absolute;
        height: $gs-baseline;
        line-height: $gs-baseline;
    }
}

.newsletter-card__signup {
    .newsletter-card__lozenge {
        border-color: $brightness-7;
        background-color: $brightness-7;

        &:hover,
        &:focus {
            border-color: lighten($brightness-7, 30%);
            background-color: lighten($brightness-7, 30%);
        }
    }
}

.newsletter-card__preview {
    // when you must align a SVG with the text... magic numbers
    line-height: 2rem;
    width: 6rem;
    height: 2.2rem;
    margin-left: -1rem;
}

.newsletter-card__frequency {
    @include fs-textSans(1);
    color: $brightness-20;
    padding-bottom: $gs-baseline / 2;

    .inline-icon {
        fill: $brightness-20;
    }
}

.signup-confirmation {
    position: relative;
    padding: 0 $gs-gutter / 4;

    .signup-confirmation__message {
        position: relative;
        display: inline-block;
        vertical-align: text-bottom;
    }

    .signup-confirmation--success {
        @include fs-textSans(3);
        color: $brightness-7;
        display: inline;
    }

    .inline-icon {
        background-color: $brightness-86;
        border-radius: 1000px;
        fill: $brightness-7;
        height: $gs-baseline * 3;
        left: 0;
        width: $gs-baseline * 3;
        display: inline-block;

        svg {
            height: 50%;
            width: 50%;
            margin-left: 25%;
            margin-top: 25%;
        }
    }
}


.newsletter-card__iframe {
    width: 100%;
}

.newsletters-category {
    border-top: 1px solid $brightness-86;
    margin-bottom: $gs-baseline * 2;

    @include mq(tablet) {
        margin-left: -$gs-gutter;
        margin-right: -$gs-gutter;
        padding: 0 $gs-gutter;
    }
}

.newsletters-category__heading {
    @include fs-header(5);
    color: $brightness-7;
    position: relative;
    margin: ($gs-baseline / 2) 0 $gs-baseline;

    @include mq(leftCol) {
        position: absolute;
        width: gs-span(2);
    }

    @include mq(wide) {
        width: gs-span(3);
    }
}

.grecaptcha-badge {
    visibility: hidden;
}
