.illustration-container {
    min-height: 10rem;
    height: 200px;
    width: 100%;
    position: relative;
    z-index: 80;

    @include mq(tablet) {
        min-height: 20rem;
    }
}

.email-signup-main {
    background-color: $features-support-1;
}

.email-signup-main:before {
    height: $gs-baseline * 2;
    content: '';
    background-color: $features-support-1;
    display: block;

    @include mq(tablet) {
        height: $gs-baseline * 4;
    }

    @include mq(desktop) {
        height: $gs-baseline * 3;
    }
}

.email-signup {
    background-color: $features-support-1;
    min-width: 16em;
}

.main__column--horizontal-bar:before {
    content: '';
    display: block;
    border-bottom: 2px solid $features-support-3;
    margin: 0 .3rem;
}

.content {
    padding-bottom: $gs-baseline * 2;
}

.weekend-reading {
    margin-top: $gs-baseline;

    .email-signup {
        //No script tag
        a {
            color: #ffffff;
            padding: 0 .3rem;
        }
    }

    .email-sub__lozenge {
        border-color: $features-support-3;
        border-radius: 100px;
        float: left;
        width: 70%;
        height: 3em;
        margin-bottom: $gs-baseline;

        &:hover,
        &:focus,
        &:active {
            border-color: darken($features-support-3, 10%);
        }

        @include mq($until: tablet) {
            width: 100%;
        }
    }

    .email-sub__label {
        color: #ffffff;
        width: 100%;
        line-height: 3;
        pointer-events: none;
    }

    .email-signup__svg--envelope__svg {
        fill: #ffffff;
        width: 28px;
        height: 12px;
    }

    .email-sub__inline-label--enabled {
        // recolour the text and svg if JS is enabled
        // the label will move into the input field
        color: $neutral-2;

        svg {
            fill: $neutral-2;
        }
    }

    .email-sub__submit-input {
        width: 25%;
        margin: 0px 0px $gs-baseline 3%;
        background-color: inherit;

        @include mq($until: tablet) {
            width: 100%;
            margin-left: 0;
        }
    }

    .email-signup__aside-text {
        @include fs-textSans(2);
        color: $features-support-3;
        width: 65%;
        margin-left: 2%;

        @include mq($until: tablet) {
            width: 95%;
        }
    }

    .email-signup__aside-text__frequency {
        color: #ffffff;
        float: right;
    }
}

.email-signup-header {
    color: #ffffff;
}

.email-signup-header__heading {
    @include fs-header(5);
    padding: 0 .3rem;

    @include mq($from: tablet) {
        font-size: 36px;
        margin-top: 8px;
  }
}

.email-signup-header__text {
    @include fs-bodyCopy(2);
    padding: 0 .3rem;
    margin-top: $gs-baseline / 2;

    @include mq($from: tablet) {
        @include fs-bodyCopy(3);
        margin-top: $gs-baseline;
  }
}

.email-signup-header__terms {
    @include fs-textSans(2);
    padding: 0 .3rem $gs-baseline * 2 .3rem;
    color: $features-support-3;
}

.email-signup-sample {
    margin-top: $gs-baseline;
    background-color: #ffffff;
}

.email-signup-sample__button {
    @include fs-textSans(2);
    margin: $gs-baseline 0;
    position: relative;
    color: $neutral-1;
    border: thin solid $neutral-3;
    background-color: transparent;
    height: 32px;
    line-height: 28px;
    border-radius: 100px;
    padding-left: 12px;
    padding-right: 32px;

    &:hover,
    &:focus,
    &:active {
        border-color: $neutral-2;
    }

    .inline-arrow-right {
        fill: $neutral-2;
        position: absolute;
        right: 2px;
        top: 1px;
    }
}
