.illustration-container {
    background-color: #82c81e;
}

.inline-weekend-reading__svg {
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -162rem;
    height: 112%;
    z-index: 100;

    @include mq(tablet) {
        height: 115%;
    }
    @include mq(desktop) {
        height: 112%;
        margin-left: -166rem;
    }

}

.email-signup-main {
    background-color: $features-support-1;
}

.email-signup-main:before {
    height: $gs-baseline * 2;
    content: '';
    background-color: $features-support-1;
    display: block;

    @include mq(tablet) {
        height: $gs-baseline * 4;
    }

    @include mq(desktop) {
        height: $gs-baseline * 3;
    }
}

.email-signup {
    background-color: $features-support-1;
    min-width: 16em;
}

.main__column--horizontal-bar:before {
    content: '';
    display: block;
    border-bottom: 2px solid $features-support-3;
}

.content {
    padding-bottom: $gs-baseline * 2;
}

.weekend-reading {
    margin-top: $gs-baseline;

    .email-signup {
        //No script tag
        a {
            color: #ffffff;
            padding: 0 .3rem;
        }

        .email-sub__lozenge {
            border-color: $features-support-3;
            border-radius: 100px;
            float: left;
            width: 70%;
            height: 3em;
            margin-bottom: $gs-baseline;

            &:hover,
            &:focus,
            &:active {
                border-color: darken($features-support-3, 10%);
            }

            @include mq($until: tablet) {
                width: 100%;
            }
        }

        .email-sub__submit-input {
            width: 25%;
            margin: 0px 0px $gs-baseline 3%;
            background-color: inherit;

            @include mq($until: tablet) {
                width: 100%;
                margin-left: 0;
            }
        }
    }

    .email-signup__aside-text {
        @include fs-textSans(2);
        color: $features-support-3;
        width: 65%;
        margin-left: 2%;

        @include mq($until: tablet) {
            width: 95%;
        }
    }

    .email-signup__aside-text__frequency {
        color: #ffffff;
        float: right;
    }
}

.weekend-reading-pink {
    color: $features-support-3;
}
