.football-weekly-treat {
    font-weight: 700;

    @include mq(leftCol) {
        float: left;
        width: 140px;
    }

    svg {
        overflow: visible;
    }

    a {
        display: flex;

        @include mq(leftCol) {
            display: block;
        }
    }
}

.football-weekly-treat::after {
    @include mq(leftCol) {
        content: '';
        width: 58px;
        border-top: 1px solid $garnett-neutral-2;
        margin-top: 5px;
        display: block;
    }
}

.football-weekly-treat__container {
    background-color: $garnett-neutral-3;
    border-top: 0.0625rem solid #dfdfdf;
    border-bottom: 0.0625rem solid #dfdfdf;
    margin-bottom: 30px;

    .fc-container__inner {
        border-top: none;
        padding-top: 10px;
    }
}

.football-weekly-treat__logo {
    padding-right: 10px;

    @include mq(phablet) {
        padding-right: 30px;
    }

    @include mq(leftCol) {
        padding-right: 0;
    }
}

.football-weekly-treat__logo, .football-weekly-treat__overlay {
    @include mq(leftCol) {
        display: block;
    }
}

.football-weekly-treat__logo svg {
    width: 70px;
    height: 70px;

    @include mq(mobileMedium) {
        width: 100px;
        height: 100px;
    }

    @include mq(leftCol) {
        width: 120px;
        height: 120px;
    }

    @include mq(wide) {
        width: 140px;
        height: 140px;
    }
}

.football-weekly-treat__overlay {
    flex: 1;

    @include mq(leftCol) {
        margin-top: -35px;
    }

    @include mq(wide) {
        margin-top: -40px;
    }

    line-height: normal;
}

.football-weekly-treat__podcast {
    background: $news-garnett-highlight;

    color: $garnett-neutral-1;
    font-size: 14px;
    font-family: $f-serif-headline;
    line-height: 1.5;

    padding: 0 3px 3px;

    @include mq(wide) {
        padding: 0 3px 1px;
    }

    display: inline-block;
}

.football-weekly-treat__podcast-title {
    color: $garnett-neutral-5;
    font-family: $f-serif-headline;

    line-height: 1.3;
    padding-bottom: 5px;

    font-size: 16px;
    @include mq(mobileMedium) {
        font-size: 18px;
    }

    @include mq(wide) {
        line-height: 1.5;
        padding-bottom: 0;
    }
}
.football-weekly-treat__podcast-title span {
    background: $garnett-neutral-1;

    padding: 2px 3px 5px;

    box-decoration-break: clone;
}

.football-weekly-treat__player {
    background: #e9eff1;
    font-size: 13px;
    color: $garnett-neutral-1;

    padding: 3px 1px 0 2px;

    @include mq(leftCol) {
        padding: 1px 5px 0 1px;
    }

    @include mq(wide) {
        padding: 3px 5px 0 2px;
    }

    display: inline-flex;
    align-items: center;

    >:first-child {
        padding-right: 2px;
    }
    >:last-child {
        padding: 0 2px 3px 2px;

        @include mq(leftCol) {
            padding-left: 2px;
            padding-bottom: 1px;
        }

        @include mq(wide) {
            padding: 0 2px 3px 4px;
        }
    }
}

.football-weekly-treat__episode-title {
    font-size: 13px;
    font-family: $f-sans-serif-text;
    line-height: 16px;
    color: $garnett-neutral-1;
    padding-left: 2px;

    padding-top: 5px;

    @include mq(leftCol) {
        max-width: 170px;
        padding-top: 0;
    }

    @include mq(wide) {
        padding-top: 2px;
    }
}
.football-weekly-treat__episode-title:hover {
    text-decoration: underline;
}

.football-weekly-treat__player-wave-medium {
    display: inline;

    @include mq(mobileMedium) {
        display: none;
    }
}

.football-weekly-treat__player-wave-large {
    display: none;

    @include mq(mobileMedium) {
        display: inline;
    }

    @include mq(leftCol) {
        display: none;
    }
}
.football-weekly-treat__player-wave-small {
    display: none;

    @include mq(leftCol) {
        display: inline;
    }
}

.football-weekly-treat__player-button svg {
    width: 22px;

    @include mq(mobileMedium) {
        width: 24px;
    }

    @include mq(leftCol) {
        width: 22px;
    }

    @include mq(wide) {
        width: 24px;
    }
}
