#podcast .fc-container__inner {
    border-top: none;
}

.podcast-container-c {
    padding-bottom: 0;

    .fc-container__toggle {
        z-index: 1;
    }
}
.podcast-container-c .fc-container__body {
    padding-top: 0;
    padding-bottom: 0;
}
.podcast-container-c .fc-container__inner {
    padding-top: 0;

    @include mq($until: tablet) {
        margin-left: 0;
        margin-right: 0;
    }
}
.podcast-container-c .fc-slice-wrapper {
    @include mq($until: tablet) {
        margin: 0;
    }
}
.podcast-container-c .fc-container__header {
    padding-top: 6px;

    display: none;
    @include mq(leftCol) {
        display: block;
    }
}

.podcast-container-c .fc-container__header__title:after {
    display: none;
}

.podcast-container-c__yellow {
    color: #ffe900;
}

.podcast-container-c__thrasher {
    background-color: $brightness-20;

    .fc-container__header__title {
        color: $brightness-100;
    }
}

.podcast-container-c__main {
    display: grid;

    font-family: $f-serif-headline;

    grid-template-columns: max-content auto;

    grid-template-areas:
    'image kicker'
    'image headline'
    'previous subscribe';

    @include mq(mobileMedium) {
        grid-template-columns: max-content auto;

        grid-template-areas:
        'image kicker'
        'image headline'
        'previous subscribe';

        grid-template-rows: 30px auto auto;
    }
    @include mq(mobileLandscape) {
        grid-template-columns: max-content auto;

        grid-template-areas:
        'image kicker'
        'image headline'
        'image waveform'
        'previous subscribe';

        grid-template-rows: 30px auto auto;
    }
    @include mq(tablet) {
        grid-template-columns: max-content auto 24%;

        grid-template-areas:
        'image kicker empty'
        'image headline standfirst'
        'image waveform previous'
        'image waveform subscribe';

        grid-template-rows: max-content auto 25px 25px;
    }

    @include mq(desktop) {
        grid-template-rows: max-content auto 28px 28px;
    }

    @include mq(leftCol) {
        border-left: solid 1px #777777;
    }

    color: $brightness-100;

    div {
        padding: 5px 7px;
        @include mq($until: desktop) {
            padding-right: 0;
        }
    }

    @include mq(tablet) {
        margin-right: 10px;
    }


    /*&:hover,
    .u-faux-block-link--hover {
        background-color: darken($brightness-20, 5%);
    }*/
}

.podcast-container-c__main .podcast-container-c__episode-image {
    grid-area: image;
    padding: 10px 10px 5px;

    img {
        width: 90px;
        @include mq(mobileMedium) {
            width: 119px;
        }
        @include mq(tablet) {
            width: 172px;
        }
        @include mq(desktop) {
            width: 220px;
        }
    }

    @include mq($until: tablet) {
        padding-right: 10px;
        border-right: solid 1px #777777;
        border-bottom: solid 1px #777777;
    }
}

.podcast-container-c__main .podcast-container-c__episode-kicker {
    grid-area: kicker;
    color: #ffe900;
    font-weight: 700;

    font-size: 16px;
    line-height: 20px;

    padding-bottom: 0;

    @include mq(tablet) {
        font-size: 20px;
        line-height: 24px;
    }
    @include mq(desktop) {
        font-size: 28px;
        line-height: 33px;
    }
}

.podcast-container-c__episode-empty {
    @include mq($until: tablet) {
        display: none;
    }
}

.podcast-container-c__episode-kicker,
.podcast-container-c__episode-empty,
.podcast-container-c__episode-headline,
.podcast-container-c__episode-standfirst,
.podcast-container-c__episode-previous {
    border-bottom: solid 1px #777777;
    border-right: solid 1px #777777;
}

.podcast-container-c__episode-kicker,
.podcast-container-c__episode-headline,
.podcast-container-c__episode-waveform {
    @include mq($from:tablet) {
        border-left: solid 1px #777777;
    }
}

.podcast-container-c__episode-headline {
    grid-area: headline;
    font-weight: normal;

    font-size: 14px;
    line-height: 18px;

    @include mq(tablet) {
        font-size: 20px;
        line-height: 24px;
    }
    @include mq(desktop) {
        font-size: 28px;
        line-height: 32px;
    }
}

.podcast-container-c__episode-standfirst {
    grid-area: standfirst;
    font-style: italic;

    display: none;

    @include mq(tablet) {
        display: block;
        font-size: 12px;
        line-height: 16px;
    }
    @include mq(desktop) {
        font-size: 16px;
        line-height: 20px;
    }
}

.podcast-container-c__episode-waveform {
    grid-area: waveform;
    display: flex;

    border-right: solid 1px #777777;

    >* {
        margin-top: auto;
    }

    @include mq($until: mobileLandscape) {
        display: none;
    }
    @include mq($until: tablet) {
        border-bottom: solid 1px #777777;
    }
}

.podcast-container-c__wave-large,
.podcast-container-c__wave-tablet,
.podcast-container-c__wave-mobile {
    opacity: .6;
}

.podcast-container-c__wave-large {
    display: none;
    @include mq(desktop) {
        display: block;
    }
    svg {
        width: 415px;
    }
}
.podcast-container-c__wave-tablet {
    display: none;
    @include mq(mobileLandscape) {
        display: block;
    }
    @include mq(desktop) {
        display: none;
    }
    svg {
        width: 285px;
    }
}
.podcast-container-c__wave-mobile {
    display: none;
    @include mq(mobileMedium) {
        display: block;
    }
    @include mq(mobileLandscape) {
        display: none;
    }
}

.podcast-container-c__audio-icon {
    svg {
        @include mq(mobileMedium) {
            width: 30px;
            height: 30px;
        }
        @include mq(tablet) {
            width: 36px;
            height: 36px;
        }
        @include mq(desktop) {
            width: 38px;
            height: 38px;
        }
    }
    margin-right: 8px;
}
.podcast-container-c__main .podcast-container-c__episode-previous {
    grid-area: previous;
    border-right: solid 1px #777777;

    @include mq($until: tablet) {
        padding-left: 10px;
    }
}
.podcast-container-c__episode-subscribe {
    grid-area: subscribe;

    @include mq(tablet) {
        border-right: solid 1px #777777;
    }
}

.podcast-container-c__episode-previous, .podcast-container-c__episode-subscribe {
    font-family: $f-sans-serif-text;
    font-size: 10px;
    line-height: 16px;

    @include mq(tablet) {
        font-size: 9px;
    }

    @include mq(desktop) {
        font-size: 12px;
    }

    font-weight: bold;
    color: #ffe900;
}

.podcast-container-c__episode-subscribe {
    span:not(:first-child):not(:last-child) {
        border-right: solid 1px $brightness-100;
        padding-right: 4px;
    }
    span:not(:first-child) {
        padding-left: 3px;
    }
}

.podcast-container-c__episode-subscribe a,
.podcast-container-c__episode-previous a {
    color: $brightness-100;
    position: relative;
    z-index: 1;
}
