.politics-weekly-treat {
    font-weight: 700;

    @include mq(leftCol) {
        float: left;
        width: $left-column;
    }

    @include mq(wide) {
        width: $left-column-wide;
    }

    svg {
        overflow: visible;
    }
}

.politics-weekly-treat::after {
    content: '';
    width: 58px;
    border-top: 1px solid $garnett-neutral-2;
    margin-top: 5px;
    display: block;
}

.politics-weekly-treat__overlay {
    margin-top: -40px;
}

.politics-weekly-treat__podcast {
    background: $news-garnett-highlight;

    color: $garnett-neutral-1;
    font-size: 14px;
    font-family: $f-serif-text;

    padding: 4px 3px 6px;

    display: inline-block;
}

.politics-weekly-treat__podcast-details {
    display: flex;
    flex-direction: column;
    width: min-content;
}

.politics-weekly-treat__podcast-title {
    background: $garnett-neutral-1;
    color: $garnett-neutral-5;

    font-size: 18px;
    font-family: $f-sans-serif-text;

    padding: 4px 3px 5px;
}
.politics-weekly-treat__podcast-title span {
    width: 100%;
}

.politics-weekly-treat__player {
    background: #e9eff1;
    font-size: 13px;
    color: $garnett-neutral-1;

    padding: 2px 5px 2px 1px;

    display: inline-flex;
}
.politics-weekly-treat__player-variant-a {
    *:first-child {
        padding-right: 6px;
    }
    *:last-child {
        padding-left: 6px;
    }
}
.politics-weekly-treat__player-variant-b {
    *:first-child {
        padding-left: 3px;
        padding-right: 4px;
    }
}

.politics-weekly-treat__episode-title {
    font-size: 13px;
    font-family: $f-sans-serif-text;
    line-height: 16px;
    color: $garnett-neutral-1;
}

.politics-weekly-treat__episode-title span {
    width: 100%;
}
