.politics-weekly-treat {
    font-weight: 700;

    @include mq(leftCol) {
        float: left;
        width: $left-column;
    }

    @include mq(wide) {
        width: $left-column-wide;
    }

    svg {
        overflow: visible;
    }
}

.politics-weekly-treat::after {
    content: '';
    width: 58px;
    border-top: 1px solid $garnett-neutral-2;
    margin-top: 5px;
    display: block;
}

.politics-weekly-treat__logo svg {
    @include mq(leftCol) {
        width: 120px;
        height: 120px;
    }

    @include mq(wide) {
        width: 140px;
        height: 140px;
    }
}

.politics-weekly-treat__overlay {
    @include mq(leftCol) {
        margin-top: -35px;
    }

    @include mq(wide) {
        margin-top: -40px;
    }

    line-height: normal;
}

.politics-weekly-treat__podcast {
    background: $news-garnett-highlight;

    color: $garnett-neutral-1;
    font-size: 14px;
    font-family: $f-serif-headline;
    line-height: 1.5;

    @include mq(leftCol) {
        padding: 0 3px 3px;
    }
    @include mq(wide) {
        padding: 0 3px 1px;
    }

    display: inline-block;
}

.politics-weekly-treat__podcast-title {
    color: $garnett-neutral-5;
    font-size: 18px;
    font-family: $f-serif-headline;

    display: inline-block;

    @include mq(leftCol) {
        line-height: 1.3;
        padding-bottom: 5px;
    }
    @include mq(wide) {
        line-height: 1.5;
        padding-bottom: 0;
    }
}
.politics-weekly-treat__podcast-title span {
    background: $garnett-neutral-1;

    @include mq(leftCol) {
        padding: 2px 3px 5px;
    }
    @include mq(wide) {
        display: inline-block;
        padding: 1px 3px 4px;
    }

    box-decoration-break: clone;
}

.politics-weekly-treat__player {
    background: #e9eff1;
    font-size: 13px;
    color: $garnett-neutral-1;

    @include mq(leftCol) {
        padding: 2px 4px 2px 1px;
    }
    @include mq(wide) {
        padding: 3px 1px 4px 2px;
    }

    display: inline-flex;
    align-items: center;
}
.politics-weekly-treat__player-variant-a {
    *:first-child {
        padding-right: 2px;
    }
    *:last-child {
        @include mq(leftCol) {
            padding-left: 1px;
        }
        @include mq(wide) {
            padding-left: 2px;
        }
    }
}
.politics-weekly-treat__player-variant-b {
    *:first-child {
        @include mq(leftCol) {
            padding-left: 1px;
            padding-right: 1px;
        }
        @include mq(wide) {
            padding-left: 0;
            padding-right: 3px;
        }
    }
    .politics-weekly-treat__player-wave-large {
        padding-right: 1px;
    }
}

.politics-weekly-treat__episode-title {
    font-size: 13px;
    font-family: $f-sans-serif-text;
    line-height: 16px;
    color: $garnett-neutral-1;
    max-width: 170px;
    padding-left: 2px;

    @include mq(wide) {
        padding-top: 2px;
    }
}
.politics-weekly-treat__episode-title:hover {
    text-decoration: underline;
}

.politics-weekly-treat__timestamp {
    font-family: $f-sans-serif-text
}
.politics-weekly-treat__timestamp span {
    /* Disable link decoration on hover */
    display: inline-block;
}

.politics-weekly-treat__player-wave-large {
    @include mq(leftCol) {
        display: none;
    }
    @include mq(wide) {
        display: inline;
    }
}
.politics-weekly-treat__player-wave-small {
    @include mq(leftCol) {
        display: inline;
    }
    @include mq(wide) {
        display: none;
    }
}

.politics-weekly-treat__player-button {
    @include mq(leftCol) {
        width: 22px;
    }
    @include mq(wide) {
        width: 24px;
    }
}
