/* ==========================================================================
   Onward Right-Ear
   ========================================================================== */
.right-ear {
    position: fixed;
    top: 50%;
    right: 0;
    opacity: 0.7;
    padding: 6px 6px 6px gs-span(1) + $gs-gutter;
    min-height: gs-height(2) + $gs-baseline;
    width: gs-span(4);
    @include box-sizing(border-box);

    background: $c-neutral1;
    background:
      -webkit-linear-gradient(45deg,  transparent 5px, $c-neutral1 5px),
      -webkit-linear-gradient(135deg, transparent 5px, $c-neutral1 5px);
    background:
      -moz-linear-gradient(45deg,  transparent 5px, $c-neutral1 5px),
      -moz-linear-gradient(135deg, transparent 5px, $c-neutral1 5px);
    background:
      linear-gradient(45deg,  transparent 5px, $c-neutral1 5px),
      linear-gradient(135deg, transparent 5px, $c-neutral1 5px);

    background-position: bottom left, top left;
    background-repeat: no-repeat;
    @include background-size(100% 60%);

    $transition-timing: .2s ease-out, opacity .3s ease-out;

    -webkit-transition: -webkit-transform $transition-timing;
    -moz-transition: -moz-transform $transition-timing;
    transition: -ms-transform $transition-timing;
    transition: transform $transition-timing;

    @include transform(translateX(gs-span(3) + $gs-gutter));
}

.right-ear__arrow {
    margin: 8px 0 0 8px;
    position: absolute;
    left: 0;
    top: 0;
}

.right-ear__link {
    width: gs-span(3) - 6px;
    min-height: gs-height(2);
    display: block;
}

.right-ear__link {
    color: white;
}

.right-ear__section {
    @include fs-data(3);
    color: white;
    margin-bottom: $baseline;
}

.right-ear__headline {
    @include fs-headline(1);
    color: white;
}

.right-ear--expanded {
    @include transform(translateX(0));
    opacity: 1;
}
