@(books: Seq[model.commercial.books.Book])(implicit request: RequestHeader)

@import conf.Configuration

<style>
    .i--commercial { background-image: url(@Static("images/commercial/sprite.png")); }
</style>
<link rel="stylesheet" href="@Static("stylesheets/commercial.css")" />

@defining(("1_0", "2014-05-8")) { case (version, date) =>
    <div class="commercial commercial--high commercial--books" role="complementary">
        <div class="facia-container__inner">
            <div class="commercial__head container__title">
                <a href="@AdLink{http://www.guardianbookshop.co.uk/}" data-link-name="merchandising-bookshop-v@{version}_@{date}-high-visit-shop">
                    <h3 class="commercial__title">
                        <span class="i i--commercial i-bookshop-logo--guardian"></span><span class="i i--commercial i-bookshop-logo--bookshop"></span>
                        <span class="u-h">Guardian bookshop</span>
                    </h3>
                </a>
                <form action="@Configuration.commercial.books_url/BerteShopWeb/search.do" method="POST" class="commercial__search" name="QuickSearchForm">
                    <div>
                        <label for="bookshop" class="u-h">Search bookshop:</label>
                        <input id="bookshop" name="keyword" class="commercial__search__input" type="text" placeholder="Search books" />
                        <button type="submit" class="u-button-reset commercial__search__submit" data-link-name="merchandising-bookshop-v@{version}_@{date}-high-search">
                            <i class="i i-search"></i>
                            <span class="u-h">Search the Guardian bookshop</span>
                        </button>
                        <input value="%JustOmnitureToken%" name="INTCMP" type="hidden" />
                    </div>
                </form>
                <a href="@AdLink{@Configuration.commercial.books_url}"
                    class="commercial__home-link"
                    data-link-name="merchandising-bookshop-v@{version}_@{date}-high-visit-shop">
                    Visit shop
                    <span class="commercial__home-link__cta">
                        <span class="i i-filter-arrow-down"></span>
                    </span>
                </a>
            </div>
            <div class="commercial__body container__body">
                <div class="commercial__relevance commercial__relevance-high u-cf">
                    <div class="highitem">
                        <h4 class="commercial__relevance-title commercial__relevance-title-high">Featured book</h4>
                        @books.take(1).map { book =>
                        <a href="@AdLink{@book.buyUrl}" class="lineitem__link" data-link-name="merchandising-bookshop-v@{version}_@{date}-high-@{book.isbn}-@{book.author}-@{book.title}-image">
                            @book.jacketUrl.map { url =>
                            <img class="highitem__img" src="@url" alt="" />
                            }
                        </a>
                        <div class="highitem__details">
                            <a href="@AdLink{@book.buyUrl}" class="lineitem__link" data-link-name="merchandising-bookshop-v@{version}_@{date}-high-@{book.isbn}-@{book.author}-@{book.title}">
                                <h4 class="lineitem__title">@book.title</h4>
                                @if(book.author) {
                                    <p class="lineitem__meta">By @book.author</p>
                                }
                                <p class="commercial--books__description">@book.description</p>
                                <p class="commercial--books__price">
                                    @book.price.map { price =>
                                    <span class="commercial--books__price__rrp">RRP &pound;@("%.2f".format(price))</span>
                                    }
                                    @book.offerPrice.map { price =>
                                    <span class="commercial--books__price__our">Our price: &pound;@("%.2f".format(price))</span>
                                    }
                                </p>
                            </a>
                            <a href="@AdLink{@book.buyUrl}" class="commercial--books__buy-now-button" data-link-name="merchandising-bookshop-v@{version}_@{date}-high-@{book.isbn}-@{book.author}-@{book.title}-button">Buy now</a>
                        </div>
                        }
                    </div>
                </div>
                <div class="commercial__relevance commercial__relevance-low u-cf">
                    <h4 class="commercial__relevance-title commercial__relevance-title-low">You also might like</h4>
                    <ul class="u-unstyled lineitems">
                        @books.drop(1).take(2).map { book =>
                        <li class="lineitem u-cf">
                            <a href="@AdLink{@book.buyUrl}" data-link-name="merchandising-bookshop-v@{version}_@{date}-high-@{book.isbn}-@{book.author}-@{book.title}-cover">
                                @book.jacketUrl.map { url =>
                                <img class="lineitem__img" src="@url" alt="" />
                                }
                            </a>
                            <div class="lowitem__details">
                                <a href="@AdLink{@book.buyUrl}" data-link-name="merchandising-bookshop-v@{version}_@{date}-high-@{book.isbn}-@{book.author}-@{book.title}">
                                    <h4 class="lineitem__title">@book.title</h4>
                                    @if(book.author) {
                                    <p class="lineitem__meta">By @book.author</p>
                                    }
                                    <p class="commercial--books__price">
                                        @book.price.map { price =>
                                        <span class="commercial--books__price__rrp">RRP &pound;@("%.2f".format(price))</span>
                                        }
                                        @book.offerPrice.map { price =>
                                        <span class="commercial--books__price__our">Our price: &pound;@("%.2f".format(price))</span>
                                        }
                                    </p>
                                </a>
                                <a href="@AdLink{@book.buyUrl}" class="commercial--books__buy-now-button" data-link-name="merchandising-bookshop-v@{version}_@{date}-high-@{book.isbn}-@{book.author}-@{book.title}-button">Buy now</a>
                            </div>
                        </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="commercial__foot">
                <form action="@Configuration.commercial.books_url/BerteShopWeb/search.do" method="POST" class="commercial__search" name="QuickSearchForm">
                    <div>
                        <label for="bookshop" class="u-h">Search bookshop:</label>
                        <input id="bookshop" name="keyword" class="commercial__search__input" type="text" placeholder="Search bookshop" />
                        <button type="submit" class="u-button-reset commercial__search__submit" data-link-name="merchandising-bookshop-v@{version}_@{date}-high-search">
                            <i class="i i-search"></i>
                            <span class="u-h">Search the Guardian bookshop</span>
                        </button>
                        <input value="%JustOmnitureToken%" name="INTCMP" type="hidden" />
                    </div>
                </form>
            </div>
        </div>
    </div>
}
