@(books: Seq[model.commercial.books.Book])(implicit request: RequestHeader)

<link rel="stylesheet" href="@Static("stylesheets/head.default.css")" />
<link rel="stylesheet" href="@Static("stylesheets/global.css")" />
<link rel="stylesheet" href="@Static("stylesheets/commercial.css")" />

<div class="commercial books-component" role="complementary">
    <div class="facia-container facia-container--layout-article monocolumn-wrapper monocolumn-wrapper--no-limit">
        <div class="container container--row-pattern">
            <div class="container__border hide-on-mobile"></div>

            <div class="container__title u-cf">
                <div class="commercial__logo">
                    <span class="container__logo svg-i-bookshop-logo--guardian"></span>
                    <span class="container__logo svg-i-bookshop-logo--bookshop"></span>
                </div>
                <h3 class="commercial__title hide-on-mobile">This week's bestsellers</h3>

                <form action="http://www.guardianbookshop.co.uk/BerteShopWeb/search.do" method="POST" class="commercial__search hide-on-mobile" name="QuickSearchForm">
                    <div>
                        <label for="bookshop" class="u-h">Search bookshop:</label>
                        <input id="bookshop" name="keyword" class="commercial__search__input" type="text" placeholder="Search bookshop" />
                        <input class="commercial__search__submit svg-i-search" type="submit" name="go" value="" />
                        <input value="%JustOmnitureToken%" name="INTCMP" type="hidden" />
                    </div>
                </form>

                <a class="commercial__call-to-action">
                    <span class="commercial__call-to-action__label">Visit shop</span>
                    <span class="i i-chevron-right-white"></span>
                </a>
            </div>

            <div class="container__body">
                <div class="commercial__body">
                    <ul class="u-unstyled lineitems">
                    @books.map { book =>
                        <li class="lineitem u-cf">
                            <a href="@book.buyUrl" class="lineitem__link" data-link-name="merchandising-bookshop-v0_7_2014-03-12-low-@{book.isbn}-@{book.author}-@{book.title}">
                            @book.jacketUrl.map { url =>
                                <div class="lineitem__img js-image-upgrade" data-src="@url"></div>
                            }
                                <h4 class="lineitem__title">@book.title</h4>
                            @if(book.author) {
                                <p class="lineitem__meta">By @book.author</p>
                            }
                                <p class="books-component__price">
                                @book.price.map { price =>
                                    <span class="books-component__price__rrp">RRP &pound;@("%.2f".format(price))</span>
                                }
                                @book.offerPrice.map { price =>
                                    <span class="books-component__price__our">Our price: &pound;@("%.2f".format(price))</span>
                                }
                                </p>
                            </a>
                            <a href="@book.buyUrl" data-link-name="merchandising-bookshop-v0_7_2014-03-12-low-@{book.isbn}-@{book.author}-@{book.title}-button">
                                <button class="btn books-component__buy-now-button">Buy now</button>
                            </a>
                        </li>
                    }
                    </ul>
                </div>

                <div class="commercial__foot">
                    <form action="http://www.guardianbookshop.co.uk/BerteShopWeb/search.do" method="POST" class="commercial__search" name="QuickSearchForm">
                        <div>
                            <label for="bookshop" class="u-h">Search bookshop:</label>
                            <input id="bookshop" name="keyword" class="commercial__search__input" type="text" placeholder="Search bookshop" />
                            <input class="commercial__search__submit svg-i-search" type="submit" name="go" value="" />
                            <input value="%JustOmnitureToken%" name="INTCMP" type="hidden" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>document.body.classList.add('svg')</script>
