@(books: Seq[model.commercial.books.Book])(implicit request: RequestHeader)

<link rel="stylesheet" href="@Static("stylesheets/commercial.css")" />

<aside class="commercial books-component" role="complementary">
    <div class="facia-container facia-container--layout-article monocolumn-wrapper monocolumn-wrapper--no-limit">
        <div class="container container--row-pattern">
            <div class="container__border hide-on-mobile"></div>

            <h2 class="container__title">
                <span class="guardian svg-i-guardian"></span>
                <span class="bookshop svg-i-bookshop"></span>
            </h2>

            <div class="container__body">
                <div class="related__container" data-count="4" data-link-name="Related Related content" role="complementary" aria-labelledby="related-content-head">
                    <div class="commercial__body">
                        <h3>This week's bestsellers</h3>

                        <ul class="unstyled list">
                        @books.map { book =>
                            <li class="list__item">
                                <a href="@book.buyUrl" class="list__link" data-link-name="@book.position | text">
                                    <span class="list__count">@book.position</span>
                                    @book.jacketUrl.map { url => <img class="list__img" src="@url" alt="">}
                                    <h4 class="list__title">@book.title</h4>
                                @if(book.author) {
                                    <p class="list__author">by @book.author</p>
                                }
                                </a>
                            @book.offerPrice.map { price =>
                                <p class="list__price"><span>Our price: </span>&pound;@("%.2f".format(price))</p>
                            }
                            </li>
                        }
                        </ul>
                    </div>

                    <div class="commercial__foot">
                        <form action="http://www.guardianbookshop.co.uk/BerteShopWeb/search.do" method="POST" class="commercial__search" name="QuickSearchForm">
                            <input id="bookshop" name="keyword" class="commercial__search--input" type="text" placeholder="Search the Guardian bookshop" />
                            <input class="commercial__search--submit svg-i-search-white" type="submit" name="go" value="" />
                            <input value="%JustOmnitureToken%" name="INTCMP" type="hidden" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
