@(book: model.commercial.books.Book, clickMacro: Option[String])

<div class="advert-blended advert-blended--books">
    <div class="advert-blended__title">
        <a href="@{clickMacro}http://www.guardianbookshop.co.uk/"
            data-link-name="merchandising-hybrid-book-v2_0_2014-10-14-visit-shop">
            @fragments.inlineSvg("logo-bookshop-26", "commercial", Seq("logo--tone-books"))
            <span class="u-h">Bookshop</span>
        </a>
    </div>
    <div class="advert-blended__body">
        @bookLargeCard(book, clickMacro)
    </div>
</div>
