@(books: Seq[model.commercial.books.Book],
  omnitureId: Option[String],
  clickMacro: Option[String])(implicit request: RequestHeader)

@import conf.Configuration
@import views.html.books.{bookCard, searchFormV2}
@import views.html.commercial.containerWrapper

@containerWrapper(Seq("legacy", "books", "tone-books"),
                  omnitureId.map(id => s"merchandising | books standard | ${id}"),
                  optActions = Some(actions)){

    <a class="adverts__logo" href="@{clickMacro}http://www.guardianbookshop.co.uk/" data-link-name="merchandising-bookshop-v2_0_2014-10-15-medium-visit-shop">
        @fragments.inlineSvg("marque-54", "icon")
        @fragments.inlineSvg("logo-guardian", "logo")
        @fragments.inlineSvg("logo-bookshop", "commercial", List("inline-commercial-brand"))
        <span class="u-h">The Guardian Bookshop</span>
    </a>

}{
    
    <div class="adverts__row">
        @books.map { book => @bookCard(book, clickMacro) }
    </div>

}

@actions = {

    @searchFormV2()

    <a class="button button--tertiary button--large" href="@clickMacro@Configuration.commercial.books_url" data-link-name="merchandising-bookshop-v2_0_2014-10-15-medium-visit-shop">
        @fragments.inlineSvg("arrow-right", "icon", List("i-right"))
        Visit <span class="hide-on-mobile-inline">book</span>shop
    </a>

}
