@(books: Seq[model.commercial.books.Book], omnitureId: Option[String], clickMacro: Option[String])(implicit request: RequestHeader)

@import conf.Configuration

@defining(("2_0", "2014-10-15")) { case (version, date) =>
    <div class="commercial commercial--books commercial--tone-books commercial--prominent" role="complementary" data-link-name="merchandising | books prominent | @omnitureId">
        <div class="commercial__inner">
            <div class="commercial__header">
                <h3 class="commercial__title">
                    <a href="@{clickMacro}http://www.guardianbookshop.co.uk/" data-link-name="merchandising-bookshop-v@{version}_@{date}-high-visit-shop">
                        @fragments.inlineSvg("marque-54", "icon")
                        @fragments.inlineSvg("logo-guardian", "logo")
                        @fragments.inlineSvg("logo-bookshop", "commercial", List("inline-commercial-brand"))
                        <span class="u-h">The Guardian</span> <span class="u-h">Bookshop</span>
                    </a>
                </h3>
                @searchForm(version, date)
                <a class="commercial__cta button button--tertiary button--large" href="@clickMacro@Configuration.commercial.books_url" data-link-name="merchandising-bookshop-v@{version}_@{date}-high-visit-shop">
                    @fragments.inlineSvg("arrow-right", "icon", List("i-right"))
                    <span class="commercial__cta__label">Visit <span class="hide-on-mobile-inline">book</span>shop</span>
                </a>
            </div>
            <div class="commercial__body">
                <div class="commercial__relevance commercial__relevance--high u-cf">
                    <div class="lineitems" itemscope itemtype="http://schema.org/Book">
                        @books.take(1).map { book =>
                            <div class="lineitem lineitem--high">
                                <div class="lineitem--high__feature">
                                    <a class="lineitem__link" href="@clickMacro@book.buyUrl" data-link-name="merchandising-bookshop-v@{version}_@{date}-high-@{book.isbn}-@{book.author}-@{book.title}-image">
                                        @book.jacketUrl.map { url =>
                                            <img class="lineitem__image" itemprop="image" src="@url" alt="" />
                                        }
                                    </a>
                                </div>
                                <div class="lineitem--high__offer">
                                    <a class="lineitem__link" href="@clickMacro@book.buyUrl" data-link-name="merchandising-bookshop-v@{version}_@{date}-high-@{book.isbn}-@{book.author}-@{book.title}">
                                        <h4 itemprop="name" class="lineitem__title">@book.title</h4>
                                        @if(book.author) {
                                            <p class="lineitem__meta lineitem__author" itemprop="author">By @book.author</p>
                                        }
                                        <meta itemprop="isbn" content="@{book.isbn}" />
                                        <p class="lineitem__desc" itemprop="description">@book.description</p>
                                        <p class="lineitem__meta" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                        @book.price.map { price =>
                                            RRP &pound;@("%.2f".format(price))<br/>
                                        }
                                        @book.offerPrice.map { price =>
                                            <strong class="commercial--tone__highlight">Our price: <span itemprop="price">&pound;@("%.2f".format(price))</span></strong>
                                            <meta itemprop="priceCurrency" content="GBP"/>
                                        }
                                        </p>
                                    </a>
                                    <a class="lineitem__cta button button--primary button--small" href="@clickMacro@book.buyUrl" data-link-name="merchandising-bookshop-v@{version}_@{date}-high-@{book.isbn}-@{book.author}-@{book.title}-button">
                                        Buy now@fragments.inlineSvg("arrow-right", "icon", List("i-right"))
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="commercial__relevance commercial__relevance--low u-cf">
                    <ul class="lineitems">
                        @books.drop(1).take(2).map { book =>
                        <li class="lineitem lineitem--low" itemscope itemtype="http://schema.org/Book">
                            <a class="lineitem__link" href="@clickMacro@book.buyUrl" data-link-name="merchandising-bookshop-v@{version}_@{date}-high-@{book.isbn}-@{book.author}-@{book.title}">
                                @book.jacketUrl.map { url =>
                                <img class="lineitem__image" itemprop="image" src="@url" alt=""/>
                                }
                                <h4 class="lineitem__title" itemprop="name">@book.title</h4>
                                @if(book.author) {
                                <p class="lineitem__meta lineitem__author" itemprop="author">By @book.author</p>
                                }
                                <meta itemprop="isbn" content="@{book.isbn}"/>
                                <p class="lineitem__meta" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                @book.price.map { price =>
                                    RRP &pound;@("%.2f".format(price))<br/>
                                }
                                @book.offerPrice.map { price =>
                                    <strong class="commercial--tone__highlight">Our price: <span itemprop="price">&pound;@("%.2f".format(price))</span></strong>
                                    <meta itemprop="priceCurrency" content="GBP"/>
                                }
                                </p>
                            </a>
                            <a class="lineitem__cta button button--primary button--small" href="@clickMacro@book.buyUrl" data-link-name="merchandising-bookshop-v@{version}_@{date}-high-@{book.isbn}-@{book.author}-@{book.title}-button">
                                Buy now@fragments.inlineSvg("arrow-right", "icon", List("i-right"))
                            </a>
                        </li>
                        }
                    </ul>
                </div>
            </div>

        </div>
    </div>
}
