@(page: CricketMatchPage)(implicit request: RequestHeader)

@defining(page.theMatch){ theMatch =>

    @theMatch.lastInnings.map { innings =>

        @if(!innings.closed) {
            <div class="sport-miniscorecard sport-miniscorecard--cricket">

                <header>
                    <time class="sport-miniscorecard__date u-h" datetime="@theMatch.gameDate.toString("yyyy-MM-dd'T'HH:mm:ss'Z'")"
                        data-timestamp="@theMatch.gameDate.getMillis">@Format(theMatch.gameDate, "d MMM y")</time>

                    <h3 class="sport-miniscorecard__head">
                        @theMatch.lastInnings match {
                            case Some(innings) => { @innings.description }
                            case _ => { @theMatch.description }
                        }</h3>
                </header>
                <div class="sport-miniscorecard__body">
                    <table class="sport-miniscorecard__score">
                        <thead class="u-h">
                            <tr>
                                <td>Batsman</td>
                                <td>Runs</td>
                            </tr>
                        </thead>
                        <tbody>
                            @theMatch.firstInBatsman match {
                                case Some(batsman) => {
                                <tr>
                                    <td>
                                        @batsman.name
                                        @if(batsman.onStrike){*}
                                    </td>
                                    <td>
                                        @batsman.runs
                                    </td>
                                </tr> }
                                case _ => {}
                            }
                            @theMatch.secondInBatsman match {
                                case Some(batsman) => {
                                <tr>
                                    <td>
                                        @batsman.name
                                        @if(batsman.onStrike){*}
                                    </td>
                                    <td>
                                        @batsman.runs
                                    </td>
                                </tr> }
                                case _ => {}
                            }
                        </tbody>
                    </table>
                    <table class="sport-miniscorecard__detail">
                        <thead class="u-h">
                            <tr>
                                <td>Bowling / Last Out</td>
                                <td>Batsman</td>
                            </tr>
                        </thead>
                        <tbody>
                            @theMatch.bowlerOnStrike match {
                                case Some(bowler) => {
                                <tr>
                                    <td>
                                        Bowling:
                                    </td>
                                    <td>
                                        @bowler.name
                                    </td>
                                </tr> }
                                case _ => {}
                            }
                            @theMatch.lastOut match {
                                case Some(batsman) => {
                                <tr>
                                    <td>
                                        Last Out:
                                    </td>
                                    <td>
                                        @batsman.name @batsman.runs
                                    </td>
                                </tr> }
                            case _ => {}
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
}
