@(page: CommentPage)(implicit request: RequestHeader)


@main(page, Switches.all){ }{
    <div class="monocolumn-wrapper">
        <h2 class="page-head page-head--article">Comments</h2>

        <div class="article-body">
            <header class="article__head">
                <h1 class="article-headline">
                    <a href="@InBodyLink{@page.contentUrl}">@Html(page.title)</a>
                </h1>
            </header>
        
            @fragments.commentsBody(page)

            @if(page.currentPage + 1 <= page.pages){
              <a href="@InBodyLink{/@page.id?page=@(page.currentPage + 1)}">Next page</a>
            }
        </div>
    </div>
}
