<div class="save-for-later-delete-all" data-component="meta-save-for-later--delete-all">
    <button type="submit" class="submit-input button button--medium button--tertiary save-for-later__button--delete-all js-save-for-later__button save-for-later__button--delete-all--<%= state %>" data-link-name="<%= dataLinkName  %>" value="all" name="deleteArticle">
        <%= icon %>
        <span class="save-for-later__label save-for-later__label--delete-all">Remove all</span>
        <span class="save-for-later__label save-for-later__label--delete-all--confirm">Are you sure?</span>
    </button>
</div>
