<div class="save-for-later-delete-all" data-link-name="meta-save-for-later-delete--all" data-component="meta-save-for-later--delete-all">
    <button type="submit" class="submit-input button button--medium button--tertiary save-for-later__button--delete-all js-save-for-later__button save-for-later__button--delete-all--<%= state %>" data-link-name="meta-save-for-later--delete-all" value="all" name="deleteArticle">
        <%= icon %>
        <span class="save-for-later__label save-for-later__label--delete">Remove all</span>
        <span class="save-for-later__label save-for-later__label--confirm">Remove all stories?</span>
    </button>
</div>
