/* ==========================================================================
   Inline component positioning
   ========================================================================== */
.ad-slot--im {
    @include box-sizing(border-box);
    padding-right: $gs-gutter;
    width: 50%;
    max-width: $left-column-wide + $gs-gutter;
    float: left;
}
