////////////////////////////////////////////////
// Logic for opening and closing the reminder
////////////////////////////////////////////////
.epic-reminder__reveal-reminder {
    display: none;
}

.epic-reminder__reveal-reminder:checked ~ .epic-reminder .epic-reminder__signup {
    display: block;
}

.epic-reminder__reveal-reminder:checked ~ .contributions__buttons {
    display: none;
}

.epic-reminder {
    ////////////////////////////////////
    // Prompt to open reminder
    // Button to close reminder
    ////////////////////////////////////
    .epic-reminder__close-button {
        font-size: 30px;
        cursor: pointer;
        float: right;
        margin-top: $gs-baseline * 2;

        svg path {
            fill: $brightness-7;
        }
    }

    ////////////////////////////////////////////////
    // Reminder sign up form
    ////////////////////////////////////////////////
    .epic-reminder__signup {
        @include multiline(4, $brightness-86, top);
        display: none;
        line-height: initial;
        padding: 0 5px;
    }

    .epic-reminder__form-title, .epic-reminder__survey-request-title {
        @include fs-headline(3);
        padding-top: $gs-baseline * 2;
        font-weight: bold;
        margin-top: $gs-baseline;
    }

    .epic-reminder__email-label {
        @include fs-textSans(5);
        font-weight: bold;
        display: block;
        margin-top: $gs-baseline;
    }

    .epic-reminder__email-input-wrapper {
        display: flex;
        flex-flow: column nowrap;
        margin-top: $gs-baseline / 2;

        @include mq($from: tablet) {
            flex-flow: row nowrap;
        }
    }

    .epic-reminder__email-input {
        @include fs-textSans(5);
        font-size: 17px;
        flex: 1 1 100%;
        line-height: 37px;
        height: initial;

        @include mq($from: tablet) {
            flex: 1 1 auto;
        }
    }

    .epic-reminder__email-help-text {
        @include fs-textSans(5);
        display: block;
        color: $news-main;
        font-size: 17px;
        line-height: 21px;
    }

    .inline-error-triangle {
        display: inline-block;

        svg {
            vertical-align: bottom;
        }
    }

    .epic-reminder__email-help-text:empty {
        display: none;
    }

    .epic-reminder__submit-button-wrapper {
        flex: 1 1 100%;

        @include mq($from: tablet) {
            flex: 0 0 auto;
        }
    }

    .epic-reminder__submit-button {
        color: $brightness-97;
        background: $brand-main;
        width: 100%;
        margin-top: $gs-baseline / 2;

        @include mq($from: tablet) {
            width: initial;
            margin-top: 0;
            margin-left: 10px;
        }
    }

    .epic-reminder__email-terms-and-conditions {
        @include fs-textSans(3);
        margin-top: $gs-baseline / 2;
        font-style: italic;
        font-size: 15px;
        line-height: 18px;
    }

    .epic-reminder__thank-you {
        @include fs-bodyCopy(2);
        line-height: 21px;
        display: none;
        margin-top: $gs-baseline;
    }

    .epic-reminder__survey-request-wrapper {
        display: none;
    }

    .epic-reminder__survey-request {
        @include fs-bodyCopy(2);
        line-height: 21px;
        margin-top: $gs-baseline;
    }

    .epic-reminder__survey-request-button {
        text-decoration: none !important;
        margin-top: $gs-baseline !important;
        margin-bottom: $gs-baseline * 1.5 !important;
    }

    // Override link rules for the pillar
    a {
        color: $brightness-7 !important;
        text-decoration: underline;
    }
}
