// Zone helpers for adding zone colors in various places.
// Default zone color is blue.
.zone-border {
	border-color: #0061A6; // blue by default
	border-top-style: solid;
	border-top-width: 1px;
	padding-top: 2px;
}
.zone-border-medium {
	border-top-width: 3px;
}
.zone-border-large {
	border-top-width: 10px;
	padding-top: 5px;
}
.zone-color {
	color:#0061A6; // blue by default
}
.zone-background,
a.zone-background { // TODO: Not sure if this is the best way as we might have to do this for all
	background-color: #0061A6; // blue by default
	color: #fff; // white by default
}

// Show the current zone border color.
.zone-news .zone-border {
	border-color: #D61D00; // red
}
.zone-sport .zone-border {
	border-color: green; // green
}
.zone-comment .zone-border,
.zone-commentisfree .zone-border {
	border-color: #0061A6; // blue
}
.zone-culture .zone-border {
	border-color: #D1008B; // pink
}
.zone-business .zone-border {
	border-color: #3246AB; // navy blue
}
.zone-money .zone-border {
	border-color: #8F1AB6; // purple
}
.zone-life-and-style .zone-border {
	border-color: #AD532F; // lifestyle
}
.zone-lifeandstyle .zone-border {
	border-color: #AD532F; // lifestyle
}
.zone-travel .zone-border {
	border-color: #066EC9; // light blue
}
.zone-environment .zone-border {
	border-color: #4A7801; // eco green
}

/*
	Show the current zone background color.
*/
.zone-news .zone-color {
	color: #D61D00; // red
}
.zone-sport .zone-color {
	color: #008000; // green
}
.zone-comment .zone-color,
.zone-commentisfree .zone-color {
	color: #0061A6; // blue
}
.zone-culture .zone-color {
	color: #D1008B; // pink
}
.zone-business .zone-color {
	color: #3246AB; // navy blue
}
.zone-money .zone-color {
	color: #8F1AB6; // purple
}
.zone-life-and-style .zone-color {
	color: #AD532F; // lifestyle
}
.zone-lifeandstyle .zone-color {
	color: #AD532F; // lifestyle
}
.zone-travel .zone-color {
	color: #066EC9; // light blue
}
.zone-environment .zone-color {
	color: #4A7801; // eco green
}

/*
	Show the current zone background color.
*/
.zone-news .zone-background,
.zone-news .zone-background-hover:hover,
.zone-news .zone-background-hover:focus,
.zone-news .zone-background-hover:active {
	background-color: #D61D00; // red
}
.zone-sport .zone-background,
.zone-sport .zone-background-hover:hover,
.zone-sport .zone-background-hover:focus,
.zone-sport .zone-background-hover:active {
	background-color: #008000; // green
}
.zone-comment .zone-background,
.zone-comment .zone-background-hover:hover,
.zone-comment .zone-background-hover:focus,
.zone-comment .zone-background-hover:active {
	background-color: #0061A6; // blue
}
.zone-commentisfree .zone-background,
.zone-commentisfree .zone-background-hover:hover,
.zone-commentisfree .zone-background-hover:focus,
.zone-commentisfree .zone-background-hover:active {
	background-color: #0061A6; // blue
}
.zone-culture .zone-background,
.zone-culture .zone-background-hover:hover,
.zone-culture .zone-background-hover:focus,
.zone-culture .zone-background-hover:active {
	background-color: #D1008B; // pink
}
.zone-business .zone-background,
.zone-business .zone-background-hover:hover,
.zone-business .zone-background-hover:focus,
.zone-business .zone-background-hover:active {
	background-color: #3246AB; // navy blue
}
.zone-money .zone-background,
.zone-money .zone-background-hover:hover,
.zone-money .zone-background-hover:focus,
.zone-money .zone-background-hover:active {
	background-color: #8F1AB6; // purple
}
.zone-life-and-style .zone-background,
.zone-life-and-style .zone-background-hover:hover,
.zone-life-and-style .zone-background-hover:focus,
.zone-life-and-style .zone-background-hover:active {
	background-color: #AD532F; // lifestyle
}
.zone-lifeandstyle .zone-background,
.zone-lifeandstyle .zone-background-hover:hover,
.zone-lifeandstyle .zone-background-hover:focus,
.zone-lifeandstyle .zone-background-hover:active {
	background-color: #AD532F; // lifestyle
}
.zone-travel .zone-background,
.zone-travel .zone-background-hover:hover,
.zone-travel .zone-background-hover:focus,
.zone-travel .zone-background-hover:active {
	background-color: #066EC9; // light blue
}
.zone-environment .zone-background,
.zone-environment .zone-background-hover:hover,
.zone-environment .zone-background-hover:focus,
.zone-environment .zone-background-hover:active {
	background-color: #4A7801; // eco green
}