@(metaData: model.MetaData, projectName: Option[String] = Some(conf.Configuration.environment.projectName))(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <title>@Html(metaData.webTitle)</title>

    @* get the stylesheets downloading ASAP *@
    @fragments.stylesheets(projectName)

    @* start trying to use the stylesheets *@
    @fragments.stylesheetsEnable()
</head>
<body>
    <h2 class="formstack-heading formstack-heading--first">Entries are now closed</h2>
    <p>Thank you for your interest.</p>
</body>
</html>
