@(description: TrailblockDescription, isFront: Boolean, edition: Option[Edition] = None)(implicit request: RequestHeader)
<div class="@if(isFront){front-section-head zone-background} else {sub-section-head}">
    <h1 id="@SafeName(description)">
        <a @if(!isFront){class="zone-color"} data-link-name="section heading" href="@LinkTo{/@description.id}">
            @description.name
        </a>
    </h1>
    @edition.map(_.id).map{ ed =>
        <button class="js-visible js-toggle-trailblock toggle-trailblock js-trigger-@SafeName(description)"
            data-zone-name="@ed.toLowerCase()"
            data-block-name="@SafeName(description)"
            data-link-name="Hide">Hide</button>
    }
</div>
