// =============================================================================
// Global variables
// =============================================================================

// Be careful of Sass variable scope
// Note: Sass 3.3.0 adds Local and local vars
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables


// Browser support
// =============================================================================

$old-ie:      false !default;
$svg-support: true !default;
$browser-supports-columns: not $old-ie !default;
$browser-supports-flexbox: true !default;
$guss-rem-baseline: 16px;


// Layout dimensions
// =============================================================================

$inArticleInlineImgWidth: 114px;
$headerHeight: 36px;

@import 'components/guss-colours/_colours';
@import 'components/pasteup-palette/src/_palette';
@import 'components/guss-grid-system/_grid-system';

$right-column:     gs-span(4);
$left-column:      gs-span(2); // Grows to 3 columns on wide viewports
$left-column-wide: gs-span(3);


// Breakpoints
// =============================================================================

// Add breakpoints and tweakpoints here
// To add custom breakpoints directly inside of a component,
// see https://github.com/guardian/sass-mq#adding-custom-breakpoints

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.

// NB. If these change, please update:
//   javascripts/utils/detect.js
//   common/app/layout/Breakpoint.scala

$mq-breakpoints: (
    mobile:          gs-span(4)  + $gs-gutter,   // 320px
    mobileLandscape: gs-span(6)  + $gs-gutter,   // 480px
    phablet:         gs-span(8)  + $gs-gutter*2, // 660px
    tablet:          gs-span(9)  + $gs-gutter*2, // 740px
    desktop:         gs-span(12) + $gs-gutter*2, // 980px
    leftCol:         gs-span(14) + $gs-gutter*2, // 1140px
    wide:            gs-span(16) + $gs-gutter*2, // 1300px
);

// Show the current breakpoint in the top right corner of the viewport:
// see https://github.com/guardian/sass-mq#seeing-the-currently-active-breakpoint
// Uncomment to activate during development
// $mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, leftCol, wide);


// Guss defaults overrides
// =============================================================================

$guss-column-rule: none;
$f-serif-headline: 'Guardian Egyptian Web', 'Guardian Text Egyptian Web', Georgia, serif;


// Colours (access these through the colour($name) mixin)
// =============================================================================

$frontend-palette: (

    neutral-2-contrasted:   darken(guss-colour(neutral-2, $pasteup-palette), 3%),

// Tones
// =============================================================================

    news-default:           guss-colour(news-main-1, $pasteup-palette),
    news-accent:            guss-colour(news-main-2, $pasteup-palette),

    feature-default:        guss-colour(features-support-1, $pasteup-palette),
    feature-accent:         guss-colour(features-main-2, $pasteup-palette),
    feature-mute:           guss-colour(features-support-3, $pasteup-palette),

    analysis-default:       guss-colour(news-main-1, $pasteup-palette),
    analysis-accent:        guss-colour(news-main-2, $pasteup-palette),
    analysis-mute:          guss-colour(comment-support-2, $pasteup-palette),
    analysis-background:    guss-colour(neutral-7, $pasteup-palette),

    comment-default:        guss-colour(comment-support-4, $pasteup-palette),
    comment-accent:         guss-colour(comment-main-2, $pasteup-palette),
    comment-background:     guss-colour(comment-support-2, $pasteup-palette),

    live-default:           guss-colour(live-main-1, $pasteup-palette),
    live-accent:            guss-colour(live-main-2, $pasteup-palette),
    live-mute:              guss-colour(features-support-3, $pasteup-palette),

    media-default:          guss-colour(multimedia-main-2, $pasteup-palette),
    media-background:       guss-colour(multimedia-main-1, $pasteup-palette),
    media-mute:             guss-colour(multimedia-support-4, $pasteup-palette),

    review-accent:          guss-colour(comment-support-3, $pasteup-palette),
    review-background:      guss-colour(comment-support-1, $pasteup-palette),

    editorial-default:      guss-colour(news-main-1, $pasteup-palette),
    editorial-accent:       guss-colour(news-support-1, $pasteup-palette),

    crosswordAccent1:       guss-colour(news-main-1, $pasteup-palette),
    crosswordAccent2:       guss-colour(news-main-2, $pasteup-palette),

    sudoku-mute:            lighten(guss-colour(news-main-2, $pasteup-palette), 30%),
    sudoku-accent:          lighten(guss-colour(news-main-2, $pasteup-palette), 10%),

    story-package:          guss-colour(news-support-7, $pasteup-palette),

    // Football
    // =============================================================================

    sport-bright:           #70d2e6,
    sport-mid:              guss-colour(guardian-brand, $pasteup-palette),
    sport-dark:             #003f64,

    sport-home:             #70d2e6,
    sport-away:             #003f64,

    // Stati
    // =============================================================================

    status-positive:        guss-colour(success, $pasteup-palette),
    status-neutral:         guss-colour(neutral-2, $pasteup-palette),
    status-negative:        guss-colour(error, $pasteup-palette),

    // Social
    // =============================================================================

    social-email:           #767676,
    social-facebook:        #3067a3,
    social-twitter:         #03b3ee,
    social-gplus:           #e15440,
    social-whatsapp:        #59cb3f,
    social-linkedin:        #0071a1,
    social-pinterest:       #b9252c,

    // Membership
    // =============================================================================

    membership-default:     #bb3a7f,

    // Commercial content
    // =============================================================================

    paid-article:              #d9d9d9,
    paid-article-bg:           #d1d1d1,
    paid-article-header:       #bfbfbf,
    paid-article-header-bg:    #b8b8b8,
    paid-article-subheader:    #cccccc,
    paid-article-subheader-bg: #c4c4c4
);

$c-top-header-background: guss-colour(guardian-brand-dark, $pasteup-palette); // one-off colour for header bg

// MPU
// =============================================================================

$mpu-original-width: 300px;
$mpu-original-height: 250px;
$mpu-align-offset: 20px; // Align bottom of ad with text on desktop
$mpu-ad-label-height: $gs-baseline*2;

// COMMERCIAL GU STYLE
// =============================================================================
$gustyle-tone: #fedd79;

// Dimensions
// =============================================================================

$action-icon-width: 23px;
$action-icon-rightspace: 7px;
$content-top-padding: $gs-baseline / 1.5;


// Video.JS player
// =============================================================================

$vjs-small-button-size: 50px;
$vjs-large-button-size: 70px;

// Available image widths
// these should match the ones in common/modules/ui/images.js
// =============================================================================

$available-image-widths: 140px, 220px, 300px, 460px, 620px, 700px, 860px, 940px, 1430px, 1920px;

// Other variables common to many partials
// =============================================================================

$popup-toggle-arrow-size: 4px;
