.competition-date{
	text-indent: 10px;
	margin-bottom: 10px;
}

.competition-title{
  background-color:#8cc540;
  line-height:2em;
  text-indent:10px;
  margin-bottom:0;
  font-weight:normal;
}
.competition-title a{
  color:white;	
}

.fixtures{
  padding-left:0;
  margin-left:0;
  border-bottom:2px solid #e3e3e3;
}
.fixtures li{
	list-style:none;
	border-bottom:1px solid #e3e3e3;
	padding:5px 70px 5px 10px;
  position:relative;	
  overflow:hidden;
}
.fixtures .fixture-desc{
	position:relative;
	margin-bottom:0;
	background-color:white;
	border:none;
	padding:0;
	font-weight:normal;
	font-family:arial,sans-serif;
}
.fixtures .team{
	display:block;
	text-indent:20px;
	float:left;
	width:50%;
}
.fixtures .home{
	text-align:right;
	direction:rtl;
}
.fixtures .result{
	position:absolute;
	display:block;
	width:40px;
	top:0;
	left:50%;
	margin-left:-20px;
	text-align:center;
}
.fixtures .status{
	position:absolute;
	width:50px;
	top:5px;
	right:10px;
	color:#979797;
}
.fixtures .status .status-desc{
	position:absolute;
	left:-9999px;
}