.football-nav {
    ul {
        display: inline;
        padding-left: 0px;
        margin-left: 0px;
        list-style: none;
    }

    li {
        display: inline;
    }
}

#football-stats {
    ol {
        padding-left: 0px;
        margin-left: 0px;
        list-style: none;
    }

    li {
        display: inline;
    }
}