/* ==========================================================================
   Navigation controls
   ========================================================================== */
// TODO:
// use a proper icon size variabe when the icons are redrawn at mulptile sizes
$control-size: 36px;


/* Label next to the icon
   ========================================================================== */

.control__info {
    display: none;
    @include rem((
        height: 30px,
        line-height: $control-size,
        margin-left: $gs-gutter/2
    ));
    vertical-align: top;
    white-space: nowrap;

    @include mq(544px) {
        display: block;
        overflow: hidden;
        float: left;
        @include rem((
            max-width: 200px
        ));
        text-overflow: ellipsis;
        text-align: left;
    }
}


/* Control icon
   ========================================================================== */

.control__icon-wrapper {
    @extend %icon-holder-circle;
    border-color: #ffffff;
    float: left;
    @include rem((
        height: 34px,
        width: 34px
    ));
}

.control__icon {
    display: block;
    text-align: center;
    @include rem((
        height: 32px,
        padding-top: 7px
    ));

    .i {
        display: none;
        margin: 0 auto;

        &:first-child {
            display: block;
        }

        .control:active &,
        .control:focus &,
        .control.is-active & {
            display: block;

            &:first-child {
                display: none;
            }
        }
    }
}
