/* ==========================================================================
   Navigation controls
   ========================================================================== */

/* Control
   ========================================================================== */

.control {
    position: relative;
    float: left;
    width: 28px;
    height: 28px;
    margin-left: $gs-gutter/2;
    border: 1px solid $c-neutral1;
    padding: 0;
    @include rounded-corners(50%);
    text-align: center;
    background-color: transparent;
    vertical-align: top;
    font-family: $serif;
    @include rem((
        font-size: 13px
    ));

    @include mq(tablet) {
        margin-left: $gs-gutter;
    }

    &,
    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        color: #000000;
    }

    &.is-active {
        color: $c-brandBlue;
        border-color: $c-newsAccent;
    }
}

/* Sections control - (Hamburger icon)
   ========================================================================== */

.control--sections {
    @include mq(tablet) {
        position: absolute;
        z-index: 1;
        @include rem((
            right: $gs-gutter,
            margin-top: 2px
        ));
    }
}


/* Search control
   ========================================================================== */

.control--search {
}


/* Profile control
   ========================================================================== */


.control__info {
    display: none;
    height: 28px;
    vertical-align: top;
    line-height: 28px;

//    @include mq(544px) {
//        display: inline-block;
//        max-width: 110px;
//        overflow: hidden;
//        text-overflow: ellipsis;
//    }
    @include mq(tablet) {
        position: absolute;
        display: block;
        top: 2px;
        left: 36px;
        width: 200px;
        text-align: left;
    }
}


/* Active control icon
   ========================================================================== */

.control__icon {
    display: block;
    text-align: center;
    height: 24px;
    padding-top: 4px;

    .i {
        vertical-align: middle;
        display: none;

        &:first-child {
            display: inline-block;
        }

        .is-active & {
            display: inline-block;

            &:first-child {
                display: none;
            }
        }
    }
}
