/* Local navigation - Global container overrides
   ========================================================================== */

#preloads.has-localnav {
    .ad-slot-top-banner-ad {
        padding-top: 5px;
        background-color: #eee;

        @include mq(tablet) {
            padding-top: 10px;
            background-color: #ffffff;
        }
    }
    h2.article__zone:only-child,
    .parts__body > .article__zone,
    .hide-on-mobile-if-localnav,
    .section-head {
        display: none;

        @include mq(tablet) {
            display: block;
        }
    }
    .article__head {
        border-top: 0;
    }
}


/* Local navigation popup
   ========================================================================== */

.nav-popup--localnav {
    top: auto;
    border-color: $c-neutral4;
    @include rem((
        padding-bottom: $gs-baseline
    ));

    .is-active .nav__link {
        color: $c-brandLightBlue;
    }
}
