/* ==========================================================================
   Nav pop-up
   ========================================================================== */
$nav-popup-toggle-arrow-size: 4px;
$nav-popup-anchor-arrow-size: 6px;
$nav-popup-top: $headerHeight + $gs-baseline/2 + 3;
$c-nav-popup-bg: #ffffff;

// Popups align with the label, so if there's a control icon, we need to account
// for it. The number is derived from the icon size on the control.
// TODO:
// use a proper icon size variabe when the icons are redrawn at mulptile sizes
$control-offset: 36 + $gs-gutter/2;

.nav-popup {
    @include box-sizing(border-box);
    position: absolute;
    left: 0;
    background: $c-nav-popup-bg;
    margin: 0;
    padding: 0;
    list-style: none;
    @include box-shadow(0 rem(1px 1px) 0 rgba(0, 0, 0, .25));
    min-width: gs-span(2) + $gs-gutter * 3;
    top: $nav-popup-top - 2;

    @include mq(mobileLandscape) {
        right: auto;
        bottom: auto;
        top: $nav-popup-top;
    }

    .brand-bar__item--has-control & {
        @include mq(tablet) {
            left: $control-offset;
        };
    }

    .brand-bar__item--right & {
        @include mq(tablet) {
            left: auto;
            right: 0;
        }
    }
}

.nav-popup__group {
    margin: 0;
    padding: 0 $gs-gutter/2;
}

.nav-popup__group-header {
    @include fs-data(2);
    color: $c-neutral2;
    padding: $gs-baseline/2 $gs-gutter/2;
    border-top: 1px solid $c-neutral4;
    padding-bottom: 0;
    margin: 0;

    &:first-of-type {
        border-top: 0;
    }
}

.has-nav-popup {
    cursor: default;
    position: relative;
}

.nav-popup__toggle {
    position: relative;
    z-index: 11;

    // disclosure arrow
    @include mq(tablet) {
        &:after {
            content: '';
            display: inline-block;
            pointer-events: none;
            width: 0;
            height: 0;
            border-bottom: 0;
            margin-top: 2px;
            margin-bottom: 2px;
            margin-left: 4px;
            border-left: $nav-popup-toggle-arrow-size solid transparent;
            border-right: $nav-popup-toggle-arrow-size solid transparent;
            border-top: $nav-popup-toggle-arrow-size solid $c-nav-popup-bg;
        }
    };

    &.is-active,
    .is-active > & {
        @include mq(tablet) {
            &:after {
                border-top: 0;
                border-bottom: $nav-popup-toggle-arrow-size solid $c-nav-popup-bg;
            }
        };

        // This is the exposed menu arrow pointing up
        // to the link. It's placed on the link to center it.
        &:before {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 0;
            position: absolute;
            left: 50%;
            margin-left: 0 - $nav-popup-anchor-arrow-size;
            border-left: $nav-popup-anchor-arrow-size solid transparent;
            border-right: $nav-popup-anchor-arrow-size solid transparent;
            border-bottom: $nav-popup-anchor-arrow-size solid $c-nav-popup-bg;
            top: $nav-popup-top - $nav-popup-anchor-arrow-size - $gs-baseline/2;

            .brand-bar__item--has-control & {
                @include mq(tablet) {
                    margin-left: $control-offset * .5 - $nav-popup-anchor-arrow-size;
                };
            }

            .brand-bar__item--search & {
                @include mq($until: tablet) {
                    margin-left: 0 - $nav-popup-anchor-arrow-size;
                };
            }

            .brand-bar__item--right & {
                @include mq(tablet) {
                    margin-left: 0 - $nav-popup-anchor-arrow-size * 2;
                }
            }
        }
    }
}


.nav-popup__item {
    display: block;
    border-bottom: 1px solid $c-neutral7;

    &:last-child {
        border-bottom: 0;
    };
}

.nav-popup {
    .brand-bar__item--action,
    .brand-bar__item--action:hover {
        display: block;
        white-space: nowrap;
        color: $c-neutral1;
        line-height: $gs-baseline * 3;
    }

    .brand-bar__item--inline-action {
        display: inline-block !important;
        margin-right: $gs-gutter * .25;
    }
}


/* Profile Menu
   ========================================================================== */
.brand-bar__item--profile {
    // stupid having to reset this, but :not was :not available to all in 2009
    @if ($old-ie == true) {
        .nav-popup__toggle:before,
        .nav-popup__toggle:after {
            display: none;
        }
        &.is-signed-in .nav-popup__toggle {
            display: inline-block;
        }
    } @else {
        &:not(.is-signed-in) .nav-popup__toggle {
            &:before,
            &:after {
                display: none;
            }
        }
    }

    .nav-popup {
        @include mq(mobileLandscape) {
            left: $control-offset;
        };
    }

    .brand-bar__item--action:before {
        @include mq(mobileLandscape) {
            margin-left: $control-offset * .5 - $nav-popup-anchor-arrow-size;
        };
    }
}



/* Search Menu
   ========================================================================== */

.nav-popup--search {
    z-index: 10;
    padding: 0;
    right: 0;
    padding-top: 5px; // manual amount, determined by google, not guss-grid-system
    min-height: 51px; // manual amount, determined by google, not guss-grid-system
    top: $headerHeight -2 + $gs-baseline / 2;

    @include mq(mobileLandscape) {
        top: $nav-popup-top;
    }

    @include mq(tablet) {
        right: auto;
        min-height: auto;
        width: gs-span(8) + $gs-gutter;
        min-height: 68px;
        left: $gs-gutter/2;
        padding: $gs-gutter;
        padding-top: $gs-gutter + 5px; // manual amount, determined by google, not guss-grid-system
    }

    @include mq(leftCol) {
        left: 50%;
        margin-left: 0 - (gs-span(7) + $gs-gutter);
    }

    @include mq(wide) {
        margin-left: 0 - (gs-span(8) + $gs-gutter);
    }

    // account for google search sizes.
    .search-box {
        margin-bottom: -1px;
    }
}
