.navigation-aside {
    clear: both;
    @include font-size(14, 20);
    @include rem((
        margin-top: ($gs-baseline/3)*2
    ));
    border-top: 0;

    @include mq(tablet) {
        float: left;
        clear: none;
        @include rem((
            width: gs-span(4),
            margin-top: $gs-baseline/3
        ));
    }
}
