/* ==========================================================================
   Nav object
   ========================================================================== */

/**
 *
 * Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
 *
 * The root component nav and >li>a selectors should not be modified directly,
 * instead use modifier classes such as "nav--stacked"
 */

.nav {
    list-style: none;
    margin: 0;
    padding: $baseline *2 0 4px 0;
}

    .nav > li,
    .nav > li > a {
        display: inline-block;
        zoom: 1;
    }

    .nav li.is-active {
        font-weight: 500;
    }

/* ==========================================================================
   Nav Modifiers
   ========================================================================== */

/* Stacked
   ========================================================================== */

    .nav--stacked > li {
        display: list-item;
    }


/* Columns
   ========================================================================== */

    .nav--columns {
        padding: $baseline*2 $gutter $baseline $gutter;

        .nav__item {
            width: 46%;
            margin-right: 3%;
            display: inline-block; // doing this instead of float to prevent mixed item height float collision
            vertical-align: top;
        }

            .nav__item--full {
                width: 100%;
                margin: 0;
            }

        .nav__link {
            @extend %type-10;
            padding: $baseline*2 0;
            border-top: 1px solid $mushroom;
            display: block;
            height: auto;
            background-color: transparent;
            color: #333;
        }

        li:nth-child(even) {
            float: right; // this aligns right edge correctly
            margin-right: 0%;
            margin-left: 3%;
        }
    }

    .nav--columns-football {
        padding: $baseline*2 0 $baseline 0
    }



    .nav--columns.nav--top-border-off > li:nth-child(-n+2) a,
    .nav--stacked.nav--top-border-off > li:nth-child(1) a {
        border-top: none;
        padding-top: 0;
    }


/* Section divider
   ========================================================================== */

    .nav.nav--section-divider {
        padding: $baseline*2 $gutter;
        margin: 0;
        background-color: $mushroom;
    }

        .nav-popup--small .nav--section-divider {
            @media (min-width: $tablet) {
                margin-top: -5px !important;

                .nav__item { margin: 0; }
            }

            @media (min-width: 78em) {
                margin-top: -13px !important;
            }
        }

        .control--sections .i-nav-divider {
            @media (min-width: $tablet) {
                border-left: 0;
            }
        }


/* Footer navigation
   ========================================================================== */

.nav--footer,
.nav--footer.nav--section-divider {
    background-color: $blue;
}

    .nav--footer .nav__link {
            color: #fff;
            border-top: 1px solid #2B528B;
    }

    .nav--footer.nav--section-divider .nav__link {
        border-bottom: 1px solid #2B528B;
    }

    .nav--footer.nav--section-divider {
        color: #fff !important;
        border-top: 2px solid #2B528B;
    }


/* Global navigation
   ========================================================================== */

.nav-container {
    @include box-sizing(border-box);
    display: none;
    overflow: auto;
    width: 100%;
    padding: 0 $gutter;
    background-color: $mushroom;
    border-bottom: 2px solid $darkMushroom;

    @media (min-width: $tablet) { display: block; }
}

.nav--global {
    @include box-sizing(border-box);
    display: none;
    float: left;
    clear: left;
    width: 100%;
    height: 46px;
    overflow: hidden;
    padding: 0 90px 0 0;

    @media (min-width: $tablet) { display: block; }


    .nav__item {
        position: relative;
        float: left;

        &.is-active .nav__link {
            color: #009697;
        }

        &.is-active:after {
            content: " ";
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #333333;
            position: absolute;
            bottom: -6px;
            margin-left: -10px;
            left:50%;
        }
    }

    .nav__link,
    .nav__link:link,
    .nav__link:active,
    .nav__link:hover,
    .nav__link:visited {
        display: block;
        margin: 10px 0 $baseline*3 0;
        padding: 2px $baseline*3 0 $baseline*3;
        font-family: $serif !important;
        font-size: 14px;
        text-decoration: none;
        color: #444444;
    }

        .nav__item:first-child .nav__link { padding-left: 0; }
        .nav__item:last-child .nav__link { border-right: none; }
}

/* Local navigation
========================================================================== */
.localnav-container {
    @include box-sizing(border-box);
    display: none;
    overflow: auto;
    width: 100%;
    padding: 0 $gutter;
    background-color: #ffffff;
    border-bottom: 2px solid $darkMushroom;

    @media only screen and (min-width: $tablet) { display: block; }
}

.nav--local {
    @include box-sizing(border-box);
    display: none;
    float: left;
    clear: left;
    width: 100%;
    height: 46px;
    overflow: hidden;
    padding: 0 90px 0 0;
    background-color: #ffffff;


    @media only screen and (min-width: $tablet) { display: block; }


    .nav__item {
        float: left;

        &.is-active .nav__link {
            color: #009697;
        }
    }

    .nav__link,
    .nav__link:link,
    .nav__link:active,
    .nav__link:hover,
    .nav__link:visited {
        display: block;
        margin: 10px 0 $baseline*3 0;
        padding: 2px $baseline*3 0 $baseline*3;
        font-family: $serif !important;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        color: #333333;
    }


    .nav__item:first-child .nav__link { padding-left: 0; }
    .nav__item:last-child .nav__link { border-right: none; }
}


.localnav--small {
    background-color: #fff;
    margin-top: 58px;
    display: none;


    @media only screen and (max-width: $tablet) { display: block; }

    .localnav__cta {
        float: right;
        width: 50px;
        margin-right: -16px;
        border-left: 1px solid #EDEDE7;
        background-color: transparent;

        &.is-active i {
            @include rotate(180deg);
        }
    }

}

.localnav__wrapper {
    border-bottom: 1px solid #EDEDE7;
    margin: 0 $gutter;
}

.localnav__title {
    @extend .section-head;
    float: left;
    border: 0 !important;
    margin: 0 !important;
}




/* Toolbar navigation
   ========================================================================== */

.nav--toolbar {
    @extend %type-10;
    display: none;
    margin: 0 $baseline*2 0 $gutter;
    padding: $baseline*3 0 0;
    @media (min-width: $tablet) { display: block; }

    .nav__item {
        margin: $baseline 0 0 0;
        padding: $baseline $baseline*2;
        color: #fff;
        border-right: 1px solid #94B1CA;

        &:last-child { border-right: none; }
        &.is-active { text-decoration: underline; }
    }

    .nav__link,
    .nav__link:link,
    .nav__link:active,
    .nav__link:hover,
    .nav__link:visited {
        color: #fff;
        text-decoration: none;
    }
}
