/* ==========================================================================
   Navigation
   ========================================================================== */

/* Configuration
   ========================================================================== */

$c-navigation-background: mix(guss-colour(guardian-brand), #ffffff, 85%);
$c-navigation-action: guss-colour(neutral-1);

$c-local-navigation-background: guss-colour(neutral-7);
$c-local-navigation-action: guss-colour(neutral-1);

$c-local-navigation-parent-background: $c-navigation-background;

$c-local-navigation-current-background: $c-local-navigation-parent-background;
$c-local-navigation-child-current: #ffffff;

$c-global-navigation-background: mix(guss-colour(tone-news-2), guss-colour(tone-news-1));
$c-global-navigation-action: guss-colour(neutral-2);
$c-global-navigation-border: guss-colour(neutral-5);

$c-navigation-toggle-background: mix(guss-colour(tone-news-2), guss-colour(tone-news-1), 33%);
$c-navigation-toggle-icon: #ffffff;
$c-navigation-toggle-shadow: rgba(#000000, .3);

$new-navigation-h-space-between-items: get-font-size($fs-headers, 1);


/* Overrides (to be incorporated into the global CSS when killing the old nav)
   ========================================================================== */

.has-new-navigation {
    .l-header {
        border-bottom: 0;
    }
    .container--first {
        @include mq($to: tablet) {
            padding-top: 0;

            .container__border,
            .container__header {
                display: none;
            }
        }
    }
}


/* Styles common to all states
   ========================================================================== */

.new-navigation {
    position: relative;
    z-index: 1;
    clear: both;
    background: $c-navigation-background;
    @include fs-header(1);
    @include rem((
        height: gs-height(1),
        line-height: gs-height(1)
    ));
}
.new-navigation__inner {
    position: relative;
    @include rem((
        padding-left: $gs-gutter/2,
        padding-right: $gs-gutter/2
    ));

    @include mq(mobileLandscape) {
        @include rem((
            padding-left: $gs-gutter,
            padding-right: $gs-gutter
        ));
    }
}
.local-navigation,
.local-navigation__children,
.global-navigation,
.global-navigation__children {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.local-navigation {
    float: left;
}
.local-navigation__parent,
.local-navigation__action,
.global-navigation__action,
.global-navigation__title, {
    color: $c-navigation-action;
}
.local-navigation__parent {
    float: left;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    background: $c-local-navigation-parent-background;

    @include rem((
        padding-right: $new-navigation-h-space-between-items,
        padding-left: $gs-gutter/2,
        margin-left: -$gs-gutter/2
    ));

    @include mq(mobileLandscape) {
        @include rem((
            padding-left: $gs-gutter,
            margin-left: -$gs-gutter
        ));
    }
}
.local-navigation__children {
    background: $c-local-navigation-background;
}
.local-navigation__action {
    color: $c-local-navigation-action;
    text-decoration: none;

    .local-navigation__child--current & {
        background: $c-local-navigation-current-background;
        color: $c-local-navigation-child-current;
        @include rem((
            padding-right: $new-navigation-h-space-between-items
        ));

        &:before {
            content: '›';
            display: inline-block;
            font-size: 26px;
            @include rem((
                margin-right: $new-navigation-h-space-between-items
            ));
            line-height: 1;
            bottom: -2px;
            position: relative;
        }
    }
}
.local-navigation__parent,
.local-navigation__action,
.global-navigation__title,
.global-navigation__action {
    text-overflow: ellipsis;
    overflow: hidden;
}
.local-navigation__parent,
.local-navigation__action {
    display: table-cell;
}
.global-navigation {
    background: #ffffff;
}
.local-navigation__child,
.global-navigation__section {
    white-space: nowrap;
    display: table-cell;
}
.global-navigation__section--current {
    @include rem((
        margin-right: $gs-gutter/2
    ));
}
.global-navigation__title {
    float: left;
}
.global-navigation__children {
    display: none;
    @include rem((
        font-size: 14px,
    ));
    line-height: 2;
    font-weight: normal;
}
.global-navigation__action {
    float: left;
}


/* State: collapsed
   ========================================================================== */

.new-navigation--collapsed {
    overflow: hidden;

    &,
    .local-navigation,
    .local-navigation__children {
        @include rem((
            height: gs-height(1)
        ));
    }
    .local-navigation__children {
        overflow: hidden;
    }
    .local-navigation__child,
    .global-navigation__section {
        white-space: nowrap;
        display: table-cell;
        @include rem((
            padding-right: $new-navigation-h-space-between-items
        ));
    }
    .local-navigation__child:first-child,
    .global-navigation__section:first-child {
        @include rem((
            padding-left: $new-navigation-h-space-between-items,
        ));
    }
    .local-navigation__child--current {
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    .global-navigation {
        overflow: hidden;
        position: relative;
        background: $c-global-navigation-background;

        @include mq(desktop) {
            @include rem((
                border-right: $gs-gutter solid $c-navigation-background
            ));
        }
    }

    .global-navigation__title,
    .global-navigation__action {
        color: #ffffff;
    }
}


/* State: expanded
   ========================================================================== */

.new-navigation--expanded {
    z-index: 2;

    .new-navigation__inner {
        background: #ffffff;
    }
    .local-navigation__children {
        clear: both;
    }
    .local-navigation {
        overflow: hidden;
        background: $c-local-navigation-background;
        @include rem((
            margin-right: -$gs-gutter/2,
            margin-left: -$gs-gutter/2,
            padding-left: $gs-gutter/2,
            padding-right: $gs-gutter/2
        ));

        @include mq(mobileLandscape) {
            @include rem((
                margin-right: -$gs-gutter,
                margin-left: -$gs-gutter,
                padding-left: $gs-gutter,
                padding-right: $gs-gutter
            ));
        }
    }
    .local-navigation,
    .local-navigation__parent,
    .local-navigation__action {
        float: none;
        display: block;
    }
    .local-navigation__parent {
        @include mq(tablet) {
            @include rem((
                margin-right: -$gs-gutter
            ));
        }
    }
    .local-navigation__child--current .local-navigation__action {
        @include rem((
            padding-left: $gs-gutter/2,
            margin-left: -$gs-gutter/2
        ));
        @include mq(mobileLandscape) {
            @include rem((
                padding-left: $gs-gutter,
                margin-left: -$gs-gutter
            ));
        }

        &:before {
            display: none;
        }
    }
    .global-navigation {
        clear: both;
        @include clearfix;
        @include rem((
            padding-top: $gs-baseline
        ));
    }
    .local-navigation__children {
        @include rem((
            margin-left: -$gs-gutter,
            margin-right: -$gs-gutter,
            padding-left: $gs-gutter/2,
            padding-right: $gs-gutter/2
        ));
    }
    .local-navigation__child,
    .global-navigation__child {
        float: left;
        width: 50%;
        padding-right: 0;
        @include box-sizing(border-box);
        @include rem((
            padding-left: $gs-gutter/2,
            padding-right: $gs-gutter/2
        ));
        
        &:nth-child(2n+1) {
            clear: both;
        }
        
        @include mq(mobileLandscape) {
            width: 33.3333333333%;
            &:nth-child(n) {
                clear: none;
            }
            &:nth-child(3n+1) {
                clear: both;
            }
        }
    }
    .global-navigation__section {
        display: block;
        clear: both;
        float: none;
        margin-right: 0;
        @include rem((
            margin-bottom: $gs-baseline*2
        ));
        overflow: hidden;
    }
    .global-navigation__title {
        border-top: 1px solid $c-global-navigation-border;
    }
    .global-navigation__title,
    .global-navigation__action,
    .global-navigation__children {
        float: none;
        display: block;
    }
    .global-navigation__children {
        @include rem((
            margin-left: -$gs-gutter/2,
            margin-right: -$gs-gutter/2
        ));
    }

    @include mq(tablet) {
        .global-navigation {
            @include rem((
                margin-left: -$gs-gutter/2,
                margin-right: -$gs-gutter/2
            ));
        }
        .global-navigation__children {
            margin-left: 0;
            margin-right: 0;
        }
        .global-navigation__section {
            @include box-sizing(border-box);
            float: left;
            @include rem((
                padding-left: $gs-gutter/2,
                padding-right: $gs-gutter/2
            ));
        }
        .local-navigation__child,
        .global-navigation__section {
            width: 25%;

            &:nth-child(n) {
                clear: none;
            }
            &:nth-child(4n+1) {
                clear: both;
            }
        }
        .global-navigation__child {
            width: auto;
            display: block;
            float: none;
            padding-left: 0;
            padding-right: 0;
        }
    }
    @include mq(desktop) {
        .local-navigation__child,
        .global-navigation__section {
            width: 20%;

            &:nth-child(n) {
                clear: none;
            }
            &:nth-child(5n+1) {
                clear: both;
            }
        }
    }
    @include mq(wide) {
        .local-navigation__child,
        .global-navigation__section {
            width: 16.666666667%;

            &:nth-child(n) {
                clear: none;
            }
            &:nth-child(6n+1) {
                clear: both;
            }
        }
    }
}


/* Toggle button
   ========================================================================== */

.new-navigation__toggle {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 1em;
    @include box-sizing(border-box);
    @include rem((
        padding-left: $gs-gutter/4,
        padding-right: $gs-gutter/4
    ));
    background: $c-navigation-toggle-background;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    font-size: 36px;
    border-left: 2px solid $c-navigation-toggle-shadow;

    &,
    &:hover,
    &:focus,
    &:active {
        color: $c-navigation-toggle-icon;
        text-decoration: none;
    }

    @include mq(desktop) {
        @include rem((
            padding-left: $gs-gutter/2,
            padding-right: $gs-gutter/2
        ));
    }
    @include mq(desktop) {
        @include rem((
            right: $gs-gutter
        ));
    }
}
.new-navigation__toggle-label {
    position: relative;
    line-height: 1;
    @include rem((
        font-size: 16px,
        top: -5px
    ));
}
.new-navigation__toggle-label__extra {
    display: none;

    @include mq(tablet) {
        display: inline;
    }
}
.new-navigation__toggle-label--close {
    display: none;
}
.new-navigation--expanded {
    .new-navigation__toggle-label--open {
        display: none;
    }
    .new-navigation__toggle-label--close {
        display: inline;
    }
}
