/* ==========================================================================
   Nav pop-up
   ========================================================================== */

.nav-popup {
    position: absolute;
    top: 0;
    clear: both;
    z-index: 100;
    @include rem((
        padding: ($gs-baseline/3)*2 0
    ));
    list-style: none;
    margin-bottom: -4px;
    border-bottom: 2px solid $c-brandBlue;
    background: #ffffff;
    width: 100%;
}


/* Small
   ========================================================================== */

.nav-popup--small {
    @include rem((
        padding-top: $gs-baseline/3,
        padding-bottom: $gs-baseline,
        top: $headerHeight,
        min-height: 47px
    ));

    @include mq(tablet) {
        position: absolute;

        @include rem((
            top: 40px,
            right: $gs-gutter,
            padding-top: $gs-baseline/3,
            width: gs-span(4) + $gs-gutter
        ));
        @include box-sizing(border-box);
        background-color: #ffffff;
        border: 1px solid $c-neutral4;

        .nav--additional-sections > .nav__item {
            > .nav__link {
                border-top: 0;
                border-bottom: 1px solid lighten($c-neutral4, 8%);
            }
        }

        .nav__link {
            @include rem((
                padding: 10px 0
            ));
        }
    }
}
.nav-popup--sections {
    padding-bottom: 0;

    @include mq(tablet) {
        @include rem((
            top: 120px
        ));
    }
    @include mq(desktop) {
        @include rem((
            top: 120px - $gs-row-height
        ));
    }
}
.nav-popup--search {
    @include rem((
        padding-top: 10px
    ));

    @include mq(tablet) {
        right: auto;
        top: -1px;
        border: 1px solid $c-neutral4;

        @include rem((
            width: gs-span(8) + $gs-gutter,
            min-height: 68px,
            left: $gs-gutter/2,
            padding-bottom: $gs-baseline/2
        ));
    }
}


/* Local navigation popup
   ========================================================================== */

.nav-popup--localnav {
    top: auto;
    border-color: $c-neutral4;
    @include rem((
        padding-bottom: $gs-baseline
    ));

    .is-active .nav__link {
        color: map-get($c-brandLightBlueAccessible, c-neutral8);
    }
}


/* Identity Menu
   ========================================================================== */

.nav-popup--profile {
    @include mq(tablet) {
        right: auto;
        top: -1px;
        @include rem((
            left: 303px,
            width: gs-span(3)
        ));
    }

    .nav {
        padding-left: 0;
        padding-right: 0;

        @include mq(tablet) {
            @include rem((
                padding-left: 2px,
                padding-right: 2px
            ));
        }

        > .nav__item {
            float: none;
            width: auto;
            display: block;
            @include rem((
                padding-left: $gs-gutter/2,
                padding-right: $gs-gutter/2
            ));
            @include mq(mobileLandscape) {
                @include rem((
                    padding-left: $gs-gutter,
                    padding-right: $gs-gutter
                ));
            }

            &:first-child .nav__link {
                border-top: 0;
                padding-top: 0;
                @include mq(tablet) {
                    @include rem((
                        padding-top: 10px
                    ));
                }
            }
            &:last-child .nav__link {
                border-bottom: 0;
            }
            .nav__link {
                @include mq(tablet) {
                    @include rem((
                        padding: 10px 0
                    ));
                }
            }
        }
    }
}

/* Force left positioning in identity header */
.nav-popup--profile-docked-left {
    @include mq(tablet) {
        @include rem((
            left: $gs-gutter/2
        ));
    }
}
