/*

Third item. Looks a bit like this:

*********************************
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

x x x x x x x x x x x x x x x x x
x x x x x x x x x x x x x x x
x x x x x x x x







*********************************

*/


@mixin fc-item--third {
    @include fc-item--standard;

    .fc-item__standfirst {
        display: block;
    }

    &.fc-item--has-cutout {
        .fc-item__avatar {
            width: gs-height(3);
            height: gs-height(3);
        }

        .fc-item__avatar__media {
            right: -35%;
        }

        .fc-item__header {
            padding-bottom: gs-height(3);
        }

        .fc-item__standfirst-wrapper {
            padding-right: gs-height(3);
        }
    }
}
