/*

List item. Looks a bit like this:

***********************************************
x x x x x x x x x x x x x x x x x x x x x x x
x x x x x x x x x x x x x x x x x x x x x x x x

***********************************************

*/

@mixin fc-item--list {
    $item-vertical-padding: $gs-baseline * .25;

    .fc-item__header {
        @include fs-headline(2, true);
        @include headline-boost(3);
    }

    &.fc-item--has-cutout {
        .fc-item__avatar {
            display: none;
        }
    }

    .fc-item__media-wrapper {
        display: none;
    }
}
