@(code: String)

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>@code | Guardian News &amp; Media</title>
        <meta name="description" content="" />
        <meta name="author" content="the Guardian" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Include core base and module styles -->
        <link rel="stylesheet" type="text/css" href="https://pasteup.guim.co.uk/css/core.pasteup.min.css" />
            <!-- Add layout styles for browsers over 30em or less than IE9, but not IE mobile or IE6. -->
        <link rel="stylesheet" media="all and (min-width: 30em)" type="text/css" href="https://pasteup.guim.co.uk/css/layout.pasteup.min.css" />
            <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" type="text/css" href="/css/layout.pasteup.min.css" />
    <![endif]-->
        <style>
        .unstyled { list-style: none; }

        .unstyled  li {
        display: block;
        float:left;
        width: 40%;
        padding: 10px 2.5%;
        margin: 0 2.5%;
        border-bottom: 1px solid #F4F4EE;
        }
        </style>
    </head>
    <body>
        <div class="fluid-wrap">
            <div class="topbar">
                <div class="topbar-menu-container">
                    <ul class="topbar-menu pull-left">
                        <li><a href="/">Home</a></li>
                    </ul>
                </div>
            </div>
            <img src="https://static-secure.guim.co.uk/static/60ed206dbccc8b808a7792d47862f9cfb7cd3d67/common/images/logos/the-guardian/titlepiece.gif">
            <div class="fluid-row margin-top">
                <div class="col-12 start-col margin-bottom">
                    <h1>Sorry - we haven't been able to serve the page you asked for.</h1>
                </div>
            </div><!-- /.row -->

            <div class="fluid-row margin-top">
                <div class="col-12 start-col article-body">
                    <div class="hd zone-border zone-border-medium">
                        <h2 class="sub-heading">@code</h2>
                    </div>
                    <p>You may have followed a broken or outdated link, or there may be an error on our site.</p>
                    <p>Please follow one of the links below to continue exploring.</p>
                    <nav>
                        <ul role="navigation" class="unstyled">
                            <li><a href="/">Home</a></li>
                            <li class="zone-news"><a href="/uk" class="zone-color zone-background-hover">UK news</a></li>
                            <li class="zone-news"><a href="/world" class="zone-color zone-background-hover">World news</a></li>
                            <li class="zone-sport"><a href="/sport" class="zone-color zone-background-hover">Sport</a></li>
                            <li class="zone-sport"><a href="/football" class="zone-color zone-background-hover">Football</a></li>
                            <li class="zone-comment"><a href="/commentisfree" class="zone-color zone-background-hover">Comment is free</a></li>
                            <li class="zone-lifeandstyle"><a href="/lifeandstyle" class="zone-color zone-background-hover">Life &amp; style</a></li>
                            <li class="zone-culture"><a href="/culture" class="zone-color zone-background-hover">Culture</a></li>
                            <li class="zone-business"><a href="/business" class="zone-color zone-background-hover">Business</a></li>
                            <li><a href="/technology" class="zone-color zone-background-hover">Technology</a></li>
                            <li class="zone-environment"><a href="/environment" class="zone-color zone-background-hover">Environment</a></li>
                            <li><a href="https://soulmates.guardian.co.uk/" class="zone-color zone-background-hover">Soulmates</a></li>
                            <li><a href="http://m.jobs.guardian.co.uk/" class="zone-color zone-background-hover" target="_blank">Jobs</a></li>
                            <li><a href="/sections" class="zone-color zone-background-hover">All sections</a></li>
                        </ul>
                    </nav>
                </div><!-- /.col-12 -->

            </div><!-- /.row -->

            <div class="footer zone-border zone-border-medium margin-top">
                <ul class="inline with-separators">
                    <li><a href="/help">Help</a></li>
                    <li><a href="/help/contact-us">Contact us</a></li>
                    <li><a target="_blank" href="http://survey.omniture.com/d1/hosted/815f9cfba1">Feedback</a></li>
                    <li><a href="/help/terms-of-service">Terms &amp; conditions</a></li>
                    <li><a href="/help/privacy-policy">Privacy policy</a></li>
                </ul>
                <p><small>&copy; Guardian News and Media Limited or its affiliated companies. All rights reserved. Registered in England and Wales. No. 908396. Registered office: PO Box 68164, Kings Place, 90 York Way, London N1P 2AP</small></p>
            </div>
        </div><!-- /.fluid-wrap -->

        <script type="text/javascript">
        var s_account="guardiangu-frontend,guardiangu-network";
        </script>
        <script type="text/javascript" src="https://static-secure.guim.co.uk/omni/omniture-H.25.3.js"></script>
        <script type="text/javascript">
        s.pageName="@code Error:" + window.location.href;
        s.pageType="errorPage";
        s.prop19= "frontend";
        s.t();
        </script>
        <noscript>
            <img src="http://hits.guardian.co.uk/b/ss/guardiangu-frontend/1/H.24.2/?v19=frontend&v7=@code&ns=guardian&c19=frontend&c9=@code&c30=non-content&c6=&c13=&pageType=errorPage&pageName=@code&g=http%3A%2F%2Fm.guardian.co.uk%2F/@code&" />
        </noscript>
    </body>
</html>
