@()

@views.html.football.main("PA browser index") {
    <div class="jumbotron">
        <div class="container">
            <h1>Football stats, tables, player cards and a whole lot more</h1>
            <p>Let us help you find and publish stats within our rather extensive Press Association football API.</p>
            <p>Not sure where to start? Take a look at our <a href="/admin/football/browse">generic API browser</a> or perhaps see what you can do with <a href="/admin/football/team">teams</a> or <a href="/admin/football/player">players</a>.</p>
        </div>
    </div>
}
