@import common.LinkTo
@import views.support.DropdownMenus.accountDropdownMenu
@import com.gu.identity.model.User
@import conf.Configuration

@(hideNavigation: Boolean = false, showAutoSigninBanner: Boolean = false)(implicit page: model.Page, request: RequestHeader, user: Option[User] = None)


<header class="identity-header" data-component="identity-nav">
    <div class="gs-container identity-header__container">

        @if(!hideNavigation) {
            <div class="identity-header__links">
                <div class="identity-header__link">
                    <label for="identity-header-account-menu-fallback" tabindex="0">
                        <span
                        role="button"
                        class="identity-header__nav js_identity-header__nav-toggle"
                        aria-expanded="false"
                        aria-controls="my-account-dropdown"
                        data-link-name="identity-nav : menu : toggle"
                        >
                            <span>My account</span>
                        </span>
                    </label>
                    <input type="checkbox" value="open" id="identity-header-account-menu-fallback" class="identity-header__nav-fallback u-h" title="Open Menu" />
                    <ul class="identity-dropdown" id="my-account-dropdown" aria-hidden="true">
                    @for((item) <- accountDropdownMenu) {
                        <li
                            class="@{(List("identity-dropdown__item") ++ item.parentClassList).mkString(" ")}"
                        >
                            <a
                                class="@{(List("identity-dropdown__title") ++ item.classList).mkString(" ")}"
                                @if(item.href.isDefined) {
                                    href="@item.href"
                                }
                                @if(item.linkName.isDefined) {
                                    data-link-name="identity-nav : menu : @item.linkName"
                                }
                            >
                                @item.label
                            </a>
                        </li>
                    }
                    </ul>
                </div>
            </div>
        }

        <a href="@LinkTo {/}" data-link-name="site logo" id="logo" class="identity-header__logo" data-component="logo">
            <span class="u-h">The Guardian - Back to home</span>
            @fragments.inlineSvg("the-guardian-logo", "logo")
            @fragments.inlineSvg("the-guardian-roundel", "logo")
        </a>
    </div>
</header>
@if(showAutoSigninBanner) {
    <div class="identity-header-auto-signin">
        <div class="identity-wrapper monocolumn-wrapper">
            <div class="form__success">
                <p>
                    Thank you. We have signed you in automatically.
                </p>
                <p>
                    On a shared computer?
                    <a class="u-underline" href="@(Configuration.id.url)/signout">Log out</a>
                </p>
            </div>
        </div>
    </div>
}
