@import org.joda.time.DateTime
@import common.LinkTo

@()(implicit page: model.Page, request: RequestHeader)

<footer class="identity-footer">
    <div class="gs-container">
        <ul class="identity-footer-colophon__list">
            <li class="identity-footer-colophon__item"><a data-link-name="help" href="@LinkTo {/help/identity-faq}">
                Help</a>
            </li>
            <li class="identity-footer-colophon__item"><a data-link-name="contact us" href="@LinkTo {/help/contact-us}">
                Contact us</a>
            </li>
            <li class="identity-footer-colophon__item"><a data-link-name="tech feedback" class="js-tech-feedback-report" href="@LinkTo {/info/tech-feedback}">
                Report technical issue</a>
            </li>
            <li class="identity-footer-colophon__item"><a data-link-name="terms" href="@LinkTo {/help/terms-of-service}">
                Terms &amp; Conditions</a>
            </li>
            <li class="identity-footer-colophon__item"><a data-link-name="privacy" href="@LinkTo {/info/privacy}">
                Privacy policy</a>
            </li>
            <li class="identity-footer-colophon__item"><a data-link-name="cookie" href="@LinkTo {/info/cookies}">
                Cookie policy</a>
            </li>
        </ul>
        <div class="identity-footer-copy">
            © @(new DateTime().year.getAsText) Guardian News and Media Limited or its affiliated companies. All rights reserved.
        </div>
    </div>
</footer>
