@import views.support.Commercial.TrackingCodeBuilder.mkInteractionTrackingCode
@(frontId: String,
  containerIndex: Int,
  containerModel: common.commercial.ContainerModel)(implicit request: RequestHeader)

<div class="adverts__row adverts__row--2x1x1">
    @containerModel.content.initialCards.take(1).map(card => views.html.fragments.commercial.cards.itemCard(
                            card,
                            cardType = layout.cards.Half,
                            omnitureId = mkInteractionTrackingCode(frontId, containerIndex, containerModel, card),
                            optAdvertClassNames = Some(Seq("paidfor")),
                            useCardBranding = !containerModel.isSingleSponsorContainer))
    @containerModel.content.initialCards.slice(1, 3).map(card => views.html.fragments.commercial.cards.itemCard(
                            card,
                            omnitureId = mkInteractionTrackingCode(frontId, containerIndex, containerModel, card),
                            optAdvertClassNames = Some(Seq("paidfor")),
                            minimiseOnMobile = true,
                            useCardBranding = !containerModel.isSingleSponsorContainer))
</div>
