@(gallery: Gallery, related: List[Trail], storyPackage: List[Trail], index: Int, trail: Boolean)

<!DOCTYPE html>

<html>

<head>

    @fragments.commonJavaScriptSetup(Static)
    @fragments.metaData(gallery, conf.Configuration)

    <script>
        guardian.js.modules.swipe = 'http://6.gu-pasteup.appspot.com/js/libs/swipe.amd.js?v=2';
    </script>


    <title>@gallery.headline</title>

    @fragments.commonCssSetup(Static)
    <link rel="stylesheet" type="text/css" href="@Static("stylesheets/main.css")" />

    <style>

        /* todo: move this somewhere sensible */

        .gallery-container {
            width: 100%;
            min-height: 600px;
            overflow: hidden;
        }
        .gallery-swipe,
        .gallery-swipe li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .gallery-swipe li img {
            max-width: 100%;
        }

        .gallery-swipe li {
            float: left;
            width: 300px;
            min-height: 200px;
        }
    </style>

    <script>
        guardian.gallery = @JSON(gallery);
    </script>
</head>

<body>
    <div id="container">

        <div class="line">
            <div class="unit lastUnit">
                @fragments.placeholders("tier1", 5)
                @fragments.navigation(Static)
                @fragments.headline(gallery.headline)
                @fragments.standfirst(gallery.standfirst)
            </div>
        </div>

        <div class="line">

            <div class="unit size3of5">

                @fragments.byline(gallery.byline)
                @fragments.dateline(gallery.webPublicationDate)

                @if(trail) {
                    <p class="trail">Trail page here...</p>
                } else {
                    <p class="nav">

                        @*
                          TODO: Standard CS navigation indexing functions in views.support.
                        *@

                        @if(index > 1) {
                            <a id="js-gallery-prev" href="?index=@(index - 1)">Previous</a>
                        } else {
                            <a id="js-gallery-prev" class="initially-off" href="javascript://">Previous</a>
                        }

                        Image <span id="js-gallery-index">@index</span> of @gallery.size

                        @if(index < gallery.size) {
                            <a id="js-gallery-next" href="?index=@(index + 1)">Next</a>
                        } else {
                            <a id="js-gallery-next" data-next="trail" href="?trail=true">Next</a>
                        }
                    </p>

                    <div class="gallery-container" id="js-gallery">
                        <ul class="plain galleryx">
                            @gallery.images.zipWithRowInfo.map{ case(image, row) =>
                                @if(row.rowNum == index) {
                                    <li id="js-gallery-item-@row.rowNum" class="js-current-gallery-slide" data-image="true" data-index="@row.rowNum" data-total="@gallery.size">
                                        <img class="maxed" src="@image.url" data-width="@image.width" />
                                } else {
                                    <li id="js-gallery-item-@row.rowNum" class="initially-off" data-image="false" data-index="@row.rowNum" data-total="@gallery.size" data-src="@image.url" data-fullsrc='@image.url' data-width="@image.width">
                                }
                                        @fragments.caption(image.caption.getOrElse(""))
                                        <p class="caption-credit"><strong>@image.credit</strong></p>
                                    </li>
                                
                            }
                        </ul>
                    </div>

                }
            </div>

            <div class="unit lastUnit">

                @if(storyPackage nonEmpty) {
                    @fragments.relatedTrails(storyPackage, heading = "More on this story", visibleTrails = 4)
                } else {
                    @fragments.relatedTrails(related, heading = "Related content", visibleTrails = 4)
                }

                <h4>Related subjects</h4>
                <ul class="plain tags">
                    @gallery.keywords.map{ tag =>
                        @fragments.formatTags(tag)
                    }
                </ul>

            </div>

        </div>


    </div>

    @fragments.debugInfo()
    @fragments.analytics(gallery, conf.Configuration)
</body>
</html>