@(gallery: Gallery, storyPackage: List[Trail], index: Int, trail: Boolean)(implicit request: RequestHeader)

@main(gallery, Static, Configuration, Switches.all){ }{

    <h2 class="article-zone type-2">
        <a class="zone-color" data-link-name="article section" href="/@gallery.section">@Html(gallery.sectionName)</a>
    </h2>

    <article class="article" itemprop="mainContentOfPage" itemscope itemtype="@gallery.schemaType">

        <header>
            @fragments.dateline(gallery.webPublicationDate, gallery.isLive)
            @fragments.headline(gallery.headline)
            @fragments.standfirst(gallery)
        </header>

        @fragments.byline(gallery.byline, gallery)

        
        <p class="box-indent gallery-nav">
            @if(index > 1) {
                <a id="js-gallery-prev" data-link-name="Gallery Previous" data-is-ajax="true" href="?index=@(index - 1)" class="gallery-prev">Previous</a>
            } else {
                <a id="js-gallery-prev" data-link-name="Gallery Previous" data-is-ajax="true" class="initially-off" href="javascript://" class="gallery-prev">Previous</a>
            }

            Image <span id="js-gallery-index">@index</span> of @gallery.size

            @if(index < gallery.size) {
                <a id="js-gallery-next" data-link-name="Gallery Next" data-is-ajax="true" href="?index=@(index + 1)" class="gallery-next">Next</a>
            } else {
                <a id="js-gallery-next" data-link-name="Gallery Next" data-is-ajax="true" data-next="trail" href="?trail=true" class="gallery-next">Next</a>
            }
        </p>

        <div class="gallery-container" id="js-gallery">
            <ul class="unstyled">
                @gallery.images.zipWithRowInfo.map{ case(image, row) =>
                    @if(row.rowNum == index) {
                        <li id="js-gallery-item-@row.rowNum" class="js-current-gallery-slide" data-image="true" data-index="@row.rowNum" data-total="@gallery.size">
                            <img class="maxed" src="@image.url" data-width="@image.width" />
                    } else {
                        <li id="js-gallery-item-@row.rowNum" class="initially-off" data-image="false" data-index="@row.rowNum" data-total="@gallery.size" data-src="@image.url" data-fullsrc='@image.url' data-width="@image.width">
                    }
                    @fragments.caption(image.caption.getOrElse(""))
                    <p class="caption-credit box-indent"><strong>@image.credit</strong></p>
                    </li>
                }
            </ul>
        </div>


    </article>

    @if(storyPackage nonEmpty) {
        @fragments.relatedTrails(storyPackage, heading = "More on this story", visibleTrails = 5)
    } else {
        <div id="js-related"></div>
    }

    <div id="js-popular"></div>

}