@(env: String, timestamp: Option[String], groupedLineItems: Seq[(String, Seq[dfp.GuLineItem])])
    @import tools.DfpLink

    @admin_main("Ad Tests", env, isAuthed = true) {

        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/commercial.css")">
        <style>
        th, td {
            padding: 10px 60px 20px 10px;
        }
        .has_cookie {
            margin: 30px;
            font-size: 18px;
            color: chocolate;
        }
        .hasnt_cookie {
            margin: 30px ;
            font-size: 18px;
            color: blue;
        }
        .selected {
            color: chocolate;
        }
        </style>

        <h1>Current Ad Tests</h1>
        <p>Last updated: @timestamp</p>

        <p id="cookie_status"></p>
        <p><button id="clear_cookie">Clear browser test cookie</button></p>

        <table>
            <thead><tr><th>Cookie</th><th>Line items</th></tr></thead>
            @for((testValue, lineItems) <- groupedLineItems) {
                <tr id="cookie_@testValue" class="cookie_row">
                    <td align="right" valign="top"><button value="@testValue" class="cookie">@testValue</button></td>
                    <td>
                    @for(lineItem <- lineItems) {
                        @{lineItem.name} (<a href="@DfpLink.lineItem(lineItem.id)">@{lineItem.id}</a>
                        )<br />
                    }
                    </td>
                </tr>
            }
        </table>
    }
