@()(implicit request: RequestHeader, context: model.ApplicationContext)
@import conf.Configuration

@admin_main("Commercial Tools", isAuthed = true) {

    <p><a href="@controllers.admin.routes.AdminIndexController.admin()">Admin</a></p>

    <h2>Commercial Tools</h2>

    <div class="row">

        <div class="col-md-4">
            <h3>Performance</h3>
            <div class="panel panel-default well--front">
                <div class="panel-heading">Performance metrics.</div>
                <div class="panel-body">
                    <ul>
                        <li><a href="@controllers.admin.routes.CommercialController.renderCommercialRadiator()">Commercial Radiator</a></li>
                        <li><a href="@controllers.admin.routes.CommercialController.renderBrowserPerformanceDashboard()">Real-user advert performance</a></li>
                        <li><a href="http://dashboards.gu-web.net/s3?list=dotcom-commercial/health/queries">Commercial Health</a></li>
                     </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Targeting</h3>
            <div class="panel panel-default well--front">
                <div class="panel-heading">Troubleshoot targeting problems.</div>
                <div class="panel-body">
                    <ul>
                        <li><a href="@controllers.admin.routes.CommercialController.renderSpecialAdUnits()">Special Ad Units</a></li>
                        <li><a href="https://tagmanager.gutools.co.uk/sponsorship">Sponsorships</a></li>
                        <li><a href="@controllers.admin.routes.CommercialController.renderInlineMerchandisingTargetedTags()">Inline Merchandising Slot</a></li>
                        <li><a href="@controllers.admin.routes.CommercialController.renderHighMerchandisingTargetedTags()">High Merchandising Slot</a></li>
                        <li><a href="@controllers.admin.routes.CommercialController.renderPageskins()">Pageskins</a></li>
                        <li><a href="@controllers.admin.routes.CommercialController.renderSurgingContent()">Surging Content</a></li>
                        <li><a href="@controllers.admin.routes.CommercialController.renderAdTests()">Ad Tests</a></li>
                        <li><a href="@controllers.admin.routes.CommercialController.renderKeyValues()">Key Values</a></li>
                        <li><a href="@controllers.admin.commercial.routes.DfpDataController.renderCacheFlushPage()">Refresh all cached DFP data</a></li>
                        <li><a href="@controllers.admin.routes.CommercialController.renderInvalidItems()">Invalid Line Items</a></li>
                        <li><a href="@controllers.admin.routes.CommercialController.renderCustomFields()">Custom Fields</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3>404 AB tests</h3>
            <div class="panel panel-default well--front">
                <div class="panel-heading">In case 404 survey AB tests would be needed in the future</div>
                <div class="panel-body">
                    <ul>
                        <li><a href="https://github.com/guardian/frontend/pull/10512" target="_blank">404 survey framework PR</a></li>
                        <li><a href="https://github.com/guardian/frontend/pull/10937" target="_blank">Live streaming 404 PR</a></li>
                        <li><a href="https://github.com/guardian/frontend/pull/11110" target="_blank">404 AB test cleanup PR</a>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            <h3>Display</h3>
            <div class="panel panel-default well--front">
                <div class="panel-heading">Preview ad formats, merchandising components and paid-for content.</div>
                <div class="panel-body">
                    <ul>
                        <li><a href="@controllers.admin.routes.CommercialController.renderCreativeTemplates()">Creative templates</a></li>
                        <li><a href="@Configuration.commercial.testDomain/commercial/test-page">Merchandising components</a></li>
                        <li><a href="@Configuration.commercial.testDomain/commercial-containers">Commercial containers</a></li>
                        <li><a href="@controllers.admin.routes.CommercialController.renderFluidAds()">Responsive ads</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Layout</h3>
            <div class="panel panel-default well--front">
                <div class="panel-heading">Troubleshoot presence and size of ad slots.</div>
                <div class="panel-body">
                    <ul>
                        <li><a href="@controllers.admin.commercial.routes.SlotController.viewSlot("top")">Mobile Top Slot</a></li>
                        <li><a href="@controllers.admin.commercial.routes.SlotController.viewSlot("top-above-nav")">Desktop Top Above Nav Slot</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Ad Ops</h3>
            <div class="panel panel-default well--front">
                <div class="panel-heading">Tools for the Ad Ops team.</div>
                <div class="panel-body">
                    <ul>
                        <li><a href="@controllers.admin.commercial.routes.TakeoverWithEmptyMPUsController.viewList()">Takeovers with empty MPUs</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            <h3>Resources</h3>
            <div class="panel panel-default well--front">
                <div class="panel-heading">Links to useful resources.</div>
                <div class="panel-body">
                    <ul>
                        <li><a href="https://github.com/guardian/commercial-tools">Commercial tools repo</a></li>
                        <li><a href="https://dfp-playground.appspot.com/">DFP API playground</a></li>
                        <li><a href="https://dfpgpt.appspot.com/">DFP targeting playground</a></li>
                        <li><a href="@Configuration.Elk.kibanaUrl/goto/2d8984bcc7d3a4abf03b6f2b5e8acf6a">
                            Failing Commercial Feeds
                        </a></li>
                        <li><a href="https://docs.google.com/a/guardian.co.uk/document/d/1Imf0MN9Gx_tWMgQBk21LyDZsKz6DVLEyJyOPLveJ_Gk">
                            Troubleshooting Guide</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
}
