@(env: String)

@admin_main("Commercial", env, isAuthed = true, hasCharts = true) {

    <link rel="stylesheet" type="text/css" href="@controllers.admin.routes.UncachedAssets.at("css/commercial.css")">

    <h1>Commercial</h1>

    <h3>Ad Slots Render Times</h3>
    <div class="navbar navbar-default ad-render-filter">
        <div class="container-fluid">
            <div class="navbar-header navbar-brand">Filter by:</div>
            <ul class="nav navbar-nav">
                <li class="dropdown ad-render-filter__time">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Time
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        @Seq(1, 8, 24, 36, 48 ).map { hours =>
                            <li><a href="?hours=@hours">@hours hour@if(hours > 1){s}</a></li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="render-time render-time--ads">
        <div id="render-time--ads__graph"></div>
    </div>
    <div class="render-time render-time--ad">
        <div id="render-time--ad__graph"></div>
    </div>

    <h3>Other reports:</h3>
    <ul>
        <li><a href="@controllers.admin.routes.CommercialController.renderPaidForTags()">Sponsored Tags</a></li>
        <li><a href="@controllers.admin.routes.CommercialController.renderPageskins()">Pageskins</a></li>
    </ul>
}
