@(env: String, report: common.dfp.HighMerchandisingTargetedTagsReport)(implicit request: RequestHeader)
@import tools.DfpLink

@admin_main("Commercial High Slot", env, isAuthed = true, hasCharts = false) {

    <link rel="stylesheet" type="text/css" href="@controllers.admin.routes.UncachedAssets.at(" css/commercial.css")">

    <h1>High Merchandising Line Items</h1>

    <p>Article page will render a high-merchandising slot in the contentFooter when following conditions are met :</p>
    <ol>
        <li>There is an available Line item that is targeting the <em>merchandising-high</em> slot <b>AND</b> has:</li>
        <li>A keyword target that matches the page keyword tag (or no targeted tags)</li>
        <li>An edition target that matches the page Edition (or no edition target)</li>
        <li>An adUnit target that matches the page adUnit</li>
    </ol>

    <em style="float: right">Last updated: @report.updatedTimeStamp</em>

    @if(report.lineItems.items.isEmpty) {<p>None</p>} else {
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th class="col-md-3">Name</th>
                    <th class="col-md-1">DFP link</th>
                    <th class="col-md-4">Tags</th>
                    <th class="col-md-3">DFP adUnits</th>
                    <th class="col-md-1">Editions</th>
                </tr>
            </thead>
            <tbody>
                @for(lineItem <- report.lineItems.sortedItems) {
                    <tr>
                        <td>@{lineItem.name}</td>
                        <td><a href="@DfpLink.lineItem(lineItem.id)">@{lineItem.id}</a></td>
                        <td>@{lineItem.tags.mkString(", ")}</td>
                        <td>@for(adUnit <- lineItem.adUnits) {
                            <div>
                                <a href="@DfpLink.adUnit(adUnit.id)">@{adUnit.fullPath}</a>
                            </div>
                        }</td>
                        @if(lineItem.editions.isEmpty){
                        <td>none</td>} else {
                        <td>@{lineItem.editions}</td>}
                    </tr>
                }
            </tbody>
        </table>
    }

}
