@import common.dfp.LineItemReport
@(env: String, slotReport: LineItemReport)

@commercialMain(env, "Desktop Top-Above-Nav Slot") {
    <h4>Rules:</h4>
    <p>This slot will have a default height of 250px on network fronts unless:</p>
    <ul>
        <li>It has the CPD cost type</li>
        <li>It targets a network front ad unit</li>
        <li>It targets the countries UK, US or Australia</li>
        <li>It targets the responsive size (88x70) in which case it will be responsive height by default</li>
        <li>It targets the leaderboard size (728x90) in which case it will be leaderboard height by default</li>
    </ul>
    <p>The ad will also appear on the Code site if it targets a test cookie.</p>
    @commercial.fragments.slot(slotReport)
}
