@import common.dfp.LineItemReport
@(env: String, slotReport: LineItemReport)

@views.html.commercial.commercialMain(env, "Mobile Top Slot") {
    <h4>Rules:</h4>
    <p>This slot will only open if there is an ad that:</p>
    <ul>
        <li>Has the CPD cost type</li>
        <li>Has an end time</li>
        <li>Targets a network or section front ad unit directly</li>
        <li>Targets the responsive size (88x70)</li>
        <li>Targets the countries UK, US or Australia</li>
    </ul>
    <p>The ad will also appear on the Code site if it targets a test cookie.</p>
    @views.html.commercial.fragments.slot(slotReport)
}
