@(env: String, sponsoredTags: dfp.SponsorshipReport, advertisementTags: dfp.SponsorshipReport, foundationSupportedTags: dfp.SponsorshipReport)
@import tools.DfpLink

@listItem(sponsorship: dfp.Sponsorship, flagCountries: Boolean = false) = {
    <li class="lineItem">@{sponsorship.tags.mkString(", ")} (<a href="@DfpLink.lineItem(sponsorship.lineItemId)">@sponsorship.lineItemId</a>)
        @if(sponsorship.sponsor.isEmpty) {
            <br /><span class="flagged">No sponsor</span>
        } else {
            @{sponsorship.sponsor.map(sponsor => <br /><small>[sponsored by <b>{sponsor}</b>]</small>)}
        }
        @if(sponsorship.sections.nonEmpty){<br /><small>in section <em>@{sponsorship.sections.mkString(", ")}</em></small>}
        @if(sponsorship.countries.nonEmpty && flagCountries) {
            <br /><small><span class="flagged">
                geotargeted to @{sponsorship.countries.mkString(", ")}</span></small>
        } else {
            @if(sponsorship.countries.nonEmpty) {
                <br /><small> geotargeted to @{sponsorship.countries.mkString(", ")}</small>
            }
        }
    </li>
}

@admin_main("Commercial", env, isAuthed = true, hasCharts = true) {

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/commercial.css")">

<h1>Content Sponsorships:</h1>

<h4>Criteria</h4>
<p>Pages will be sponsored if you set up a LineItem in DFP with the following parameters:</p>
<ol>
  <li>Targets a <em>slot</em> of one of:
    <ul>
      <li>adbadge</li>
      <li>spbadge</li>
      <li>fobadge</li>
    </ul>
  </li>
  <li>Targets a <em>tag</em> of either:
    <ul>
      <li>keyword: <em>k</em></li>
      <li>series: <em>se</em></li>
    </ul>
  </li>
  <li>Optionally targets an <em>ad unit</em><br />
    Only do this when the target tag is ambiguous, (eg there are several keywords called <em>
      policy</em>).</li>
</ol>

<h3>Sponsored Tags</h3>
<p>Last updated: @sponsoredTags.updatedTimeStamp</p>
<ol>
    @for(sponsorship <- sponsoredTags.sponsorships){@listItem(sponsorship)}
</ol>

<h3>Advertisement Feature Tags</h3>
<p>Last updated: @advertisementTags.updatedTimeStamp</p>
<ol>
    @for(sponsorship <- advertisementTags.sponsorships) {@listItem(sponsorship, flagCountries=true)}
</ol>

<h3>Foundation Supported Tags</h3>
<p>Last updated: @foundationSupportedTags.updatedTimeStamp</p>
<ol>
    @for(sponsorship <- foundationSupportedTags.sponsorships) {@listItem(sponsorship)}
</ol>

}
