@(env: String, templates: Seq[dfp.GuCreativeTemplate])
@import tools.DfpLink

@admin_main("Commercial Templates", env, isAuthed = true) {

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/commercial.css")">

    <h1>Creative Templates</h1>

    <ol>
    @for(template <- templates) {
        <li style="margin-top:60px;margin-bottom:60px">
            <p style="font-size:large;font-weight:bold">@template.name (<a href="@DfpLink.creativeTemplate(template.id)">@template.id</a>)</p>
            <p>@{template.description}</p>
            @if(template.creatives.isEmpty){<p><b>This template is not in use.</b></p>}
            @if(template.creatives.nonEmpty){
                <p>Creatives built from this template:<ul>@for(creative <- template.creatives){
                    <li>@{creative.name} (<a href="@DfpLink.creative(creative.id)">@{creative.id}</a>)</li>
                }</ul></p>
            }
            <div>
                <p style="font-weight:bold">Parameters:</p>
                <table style="margin-bottom:20px">
                    @for(param <- template.parameters) {
                        <tr>
                            <td style="padding-right:10px;word-break:normal">@{param.label}</td>
                            <td style="padding-right:10px">@{param.parameterType}</td>
                            <td style="padding-right:10px"><span style="font-size:small">@if(param.isRequired){Required}else{Optional}</span></td>
                            <td style="padding-right:10px">@{param.description}</td>
                        </tr>
                    }
                </table>
            </div>
            <p style="font-weight:bold">Snippet</p>
            <p>@{template.snippet}</p>
            @for(example <- template.example) {
                <p style="font-weight : bold">Example</p>
                <p>@Html(example)</p>
            }
        </li>
    }
    </ol>

}
