.tone-comment--item,
%tone-comment--item {
    &.fc-item,
    &.flyer {
        background-color: colour(comment-background);
    }

    .u-faux-block-link--hover {
        background-color: darken(colour(comment-background), 5%);
    }

    .fc-item__container:before,
    .flyer__container:before {
        background-color: colour(comment-default);
    }

    .fc-item__kicker,
    .flyer__kicker,
    .fc-item__byline,
    .flyer__byline,
    .flyer__read-more-text {
        color: colour(comment-default);
    }

    .fc-item__kicker--dreamsnap {
        background-color: mix(#000000, colour(comment-background), 10%);
    }

    .flyer__arrow-icon {
        fill: colour(comment-default);
    }

    .fc-item__standfirst,
    .flyer__standfirst {
        ul > li:before {
            background: colour(neutral-3);
        }
    }

}

.tone-comment--sublink,
%tone-comment--sublink {
    .fc-sublink__kicker {
        color: colour(comment-default);
    }

    @include sublink-style(live, review, media) {
        .fc-sublink__kicker {
            color: colour(comment-background);
        }
    }
}

.tone-comment--most-popular,
%tone-comment--most-popular {
    .fc-item__kicker {
        color: colour(comment-default);
    }
}
