.tone-live--item {
    $c-headline: #ffffff;

    background-color: colour(live-default);

    &,
    .fc-sublink__title {
        color: $c-headline;
    }

    .u-faux-block-link--hover {
        &,
        & .fc-item__liveblog-block__more {
            background-color: darken(colour(live-default), 4%);
        }
    }

    .fc-item__link,
    .fc-sublink__link {
        &:visited {
            color: mix($c-headline, colour(live-default), 80%);
        }
    }

    .fc-item__container:before,
    .rich-link__container:before, {
        background-color: colour(live-mute);
    }

    .fc-item__kicker,
    .fc-item__byline,
    .fc-item__meta,
    .rich-link__read-more-text {
        color: colour(live-mute);
    }

    .rich-link__arrow-icon {
        fill: colour(live-mute);
    }

    .fc-item__kicker:after,
    .rich-link__kicker:after,
    .fc-sublink__kicker:after {
        color: mix($c-headline, colour(live-default), 20%);
    }

    .fc-item__kicker--dreamsnap {
        background-color: mix(#000000, colour(live-default), 10%);
    }

    .fc-item__standfirst {
        color: mix($c-headline, colour(live-default), 80%);
    }

    .fc-item__live-indicator,
    .fc-item__breaking-indicator {
        color: #ffffff;
        font-weight: 400;
    }

    .fc-sublink__title:before {
        border-color: mix($c-headline, colour(live-default), 20%);
    }
}

.tone-live--sublink {
    .fc-sublink__kicker {
        color: colour(live-accent);
    }

    .fc-sublink__live-indicator,
    .fc-sublink__breaking-indicator {
        color: colour(live-default);
    }

    @include sublink-style(editorial, feature, live, media, review) {
        .fc-sublink__kicker {
            color: #ffffff;
        }
    }
}

.tone-live--most-popular .fc-item__kicker {
    color: colour(live-accent);
}

.fc-item__liveblog-blocks {
    height: 82px;
    overflow: hidden;
}

.fc-item__liveblog-blocks__inner {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -moz-transition: -moz-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

.fc-item__liveblog-block {
    display: block;
    position: relative;
    @include fs-headline(1);
    color: #ffffff;
    overflow: hidden;
    height: $gs-baseline * 3 + 2;
    margin-bottom: $gs-baseline / 2;
}

.fc-item__liveblog-block__more {
    position: absolute;
    bottom: $gs-baseline / 6;
    right: 0;
    width: $gs-gutter * .75;
    padding-left: $gs-gutter / 10;
    background-color: colour(live-default);
}

.fc-item__liveblog-block__time {
    font-weight: bold;
}

.fc-item__liveblog-block--new .fc-item__liveblog-block__time:before {
    content: 'Updated';
    margin-right: $gs-gutter / 5;
}

.fc-item__liveblog-block--old .fc-item__liveblog-block__time {
    color: mix(#ffffff, colour(live-default), 50%);
}

.fc-item__liveblog-block__text {
    color: mix(#ffffff, colour(live-default), 80%);
}
