.tone-special-report--item {
    &.fc-item,
    &.rich-link {
        background-color: $news-support-6;
    }

    .u-faux-block-link--hover,
    .fc-item__image-container {
        background-color: darken($news-support-6, 5%);
    }

    .inline-quote {
        fill: $neutral-4;
    }

    .rich-link__container:before,
    .fc-item__container:before {
        background-color: $special-report-accent;
    }

    &,
    .fc-sublink__title,
    .fc-sublink__kicker {
        color: #ffffff;
    }

    .fc-item__link,
    .fc-sublink__link {
        &:visited {
            color: mix(#ffffff, $news-support-6, 80%);
        }
    }

    .fc-item__kicker,
    .rich-link__kicker,
    .fc-item__byline,
    .rich-link__byline,
    .rich-link__read-more-text {
        color: $special-report-accent;
    }

    .fc-item__kicker--dreamsnap {
        background-color: mix(#000000, $news-support-6, 10%);
    }

    .fc-item__kicker--breaking-news {
        color: lighten($live-default, 35%);
    }

    .fc-item__standfirst {
        color: mix(#ffffff, $news-support-6, 80%);
    }

    .rich-link__arrow-icon {
        fill: $special-report-accent;
    }

    .fc-item__kicker:after,
    .rich-link__kicker:after,
    .fc-sublink__kicker:after {
        color: mix(#ffffff, $news-support-6, 20%);
    }

    .fc-sublink__title:before {
        border-color: mix(#ffffff, $news-support-6, 80%);
    }

    .fc-item__meta {
        color: $neutral-4;
    }
}

.tone-news--sublink {
    .fc-sublink__kicker,
    .fc-sublink__byline {
        color: $news-default;
    }

    @include sublink-style(editorial, feature, live, media) {
        .fc-sublink__kicker {
            color: #ffffff;
        }
    }
}

.tone-news--most-popular .fc-item__kicker {
    color: $news-default;
}
