.tone-comment--item,
%tone-comment--item {
    &.fc-item,
    &.rich-link {
        background-color: $brightness-93;
    }

    .u-faux-block-link--hover,
    .fc-item__image-container {
        background-color: darken($brightness-93, 5%);
    }

    .fc-item__container:before,
    .rich-link__container:before {
        background-color: $opinion-bold;
    }

    .fc-item__kicker,
    .rich-link__kicker,
    .fc-item__byline,
    .rich-link__byline,
    .rich-link__read-more-text {
        color: $opinion-bold;
    }

    .fc-item__kicker--dreamsnap {
        background-color: mix(#000000, $brightness-93, 10%);
    }

    .rich-link__arrow-icon {
        fill: $opinion-bold;
    }

    .fc-item__standfirst,
    .rich-link__standfirst {
        ul > li:before {
            background: $brightness-86;
        }
    }
}

.tone-comment--sublink,
%tone-comment--sublink {
    .fc-sublink__kicker {
        color: $opinion-bold;
    }

    @include sublink-style(live, review, media) {
        .fc-sublink__kicker {
            color: $brightness-93;
        }
    }
}

.tone-comment--most-popular,
%tone-comment--most-popular {
    .fc-item__kicker {
        color: $opinion-bold;
    }
}
