.tone-review--item {
    $c-headline: #ffffff;

    background-color: $review-background;

    &,
    .fc-sublink__title {
        color: $c-headline;
    }

    .u-faux-block-link--hover,
    .fc-item__image-container {
        background-color: darken($review-background, 6%);
    }

    .fc-item__link,
    .fc-sublink__link {
        &:visited {
            color: mix($c-headline, $review-background, 80%);
        }
    }

    .inline-quote {
        fill: $review-accent;
    }

    .fc-item__container:before,
    .rich-link__container:before {
        background-color: $review-accent;
    }

    .fc-item__kicker,
    .fc-item__byline,
    .rich-link__read-more-text {
        color: $review-accent;
    }

    .fc-item__kicker--dreamsnap {
        background-color: mix(#000000, $review-background, 10%);
    }

    .rich-link__arrow-icon {
        fill: $review-accent;
    }

    .fc-item__kicker:after,
    .fc-sublink__kicker:after {
        color: mix($c-headline, $review-background, 20%);
    }

    .fc-item__standfirst {
        color: mix($c-headline, $review-background, 60%);
    }

    .fc-item__meta {
        color: $neutral-4;
    }

    .tone-news--sublink .fc-sublink__kicker {
        color: #ffffff;
    }
}

.tone-review--sublink {
    .fc-sublink__kicker {
        color: $review-accent;
    }

    @include sublink-style(analysis, comment, dead, letters, news) {
        .fc-sublink__kicker {
            color: $review-background;
        }
    }
}

.tone-review--most-popular .fc-item__kicker {
    color: $review-background;
}
