.tone-analysis--item {
    &.fc-item,
    &.rich-link {
        background-color: colour(analysis-background);
        color: colour(analysis-default);
    }

    .u-faux-block-link--hover,
    .fc-item__image-container {
        background-color: darken(colour(analysis-background), 5%);
    }

    .fc-item__container:before,
    .rich-link__container:before {
        background-color: colour(analysis-accent);
    }

    .rich-link__read-more-text {
        color: colour(analysis-default);
    }

    .rich-link__arrow-icon {
        fill: colour(analysis-default);
    }

    .fc-item__kicker,
    .rich-link__kicker,
    .fc-item__byline,
    .rich-link__standfirst,
    .fc-save-for-later--is-saved {
        color: colour(news-support-6);
    }

    .fc-save-for-later {
        border-color: mix(#000000, colour(analysis-background), 10%);
    }

    .fc-item__kicker--dreamsnap {
        background-color: mix(#000000, colour(analysis-background), 10%);
    }

    .fc-item__meta {
        color: colour(neutral-2);
    }

    .fc-save-for-later--is-saved .inline-tone-fill {
        fill: colour(news-support-6);
    }
}

.tone-analysis--sublink,
.tone-analysis--most-popular {
    .fc-item__kicker {
        color: colour(analysis-accent);
    }

    @include sublink-style(live) {
        .fc-sublink__kicker {
            color: #ffffff;
        }
    }
}
