@(title: String)
<div class="section-head section-head--blue js-collapsible" data-toggle-panel="js-football-league-list">
    <h1 class="section-head__title">
        <a class="section-head__link" href="#" data-link-name="Football | @title | filter">
            @title
        </a>
    </h1>

    <button class="cta__btn cta__btn--right cta--blue"
            data-link-name="Football | @title | filter">
        <span class="cta__label h"></span>
        <i class="i i-arrow-white-down cta__icn"></i>
    </button>
</div>


