@(filterMap: Map[String, Seq[CompetitionFilter]])

@renderFilter(name: String) = {
    @filterMap.get(name).map{ filters =>
        <li class="cf">
            <h2>@name</h2>
            <ul class="nav nav-stacked sections">
                @filters.map{ filter => <li><a href="@filter.url" data-link-name="@filter.name">@filter.name</a></li> }
            </ul>
        </li>
    }
}

@if(filterMap.nonEmpty){
    <ol data-link-name="competition filters" class="nav-multi unstyled cf js-hidden" id="js-football-league-list">
        @renderFilter("English")
        @renderFilter("European")
        @renderFilter("Scottish")
        @renderFilter("Internationals")
    </ol>
}
