@(urlBase: String)

<div class="sections zone-background cf football-nav" data-link-name="football bottom nav">
    <h3 class="box-indent type-2"><a href="/football" data-link-name"football index">Football</a> statistics</h3>
    <ul class="nav nav-stacked">
        <li><a href="@urlBase/live" data-link-name="livescores">Live scores</a></li>
        <li><a href="@urlBase/fixtures" data-link-name="fixtures">Fixtures</a></li>
        <li><a href="@urlBase/results" data-link-name="results">Results</a></li>
        <li><a href="@if(urlBase == "/football"){@urlBase/tables} else {@urlBase/table}" data-link-name="tables">Tables</a></li>
    </ul>
    <h3 class="box-indent type-2">Teams, leagues &amp; competitions</h3>
    <ul class="nav nav-selected">
        <li><a href="/football/competitions" data-link-name"leagues and competitions">Leagues &amp; competitions</a></li>
    </ul>
</div>