@(competition: Competition)
<li id="front-competition-fixtures" class="competition-table js-front-trailblock rolled-out" data-link-name="front scores" 
    data-count="@{competition.matches.length - 5}">
    <h3 class="type-2">Today's fixtures</h3>
    <a href="@competition.url" class="competition-title football-table-link box-indent zone-color type-4" data-link-name="all todays matches">
       @competition.fullName <i class="i-sport-arrow"></i>
    </a>

    <ol class="matches unstyled">
        @competition.matches.take(5).map{theMatch => @fragments.renderMatch(theMatch) }
    </ol>

    @if(competition.matches.length > 5) {
    <ol class="matches unstyled panel">
        @competition.matches.drop(5).map{theMatch => @fragments.renderMatch(theMatch) }
    </ol>
    }

    <a href="/football/live" class="cta-small type-6 zone-color">View all fixtures <i class="i-sport-arrow-small"></i></a>
</li>