@(live: pa.FootballMatch)
@import implicits.Football._

<li class="match live-match">
    <a href="@MatchUrl(live)" data-link-name="stats" data-match-id="@live.id">
        <p class="match-desc type-10">
            <span class="match-home match-team">@live.homeTeam.name</span>
            <span class="match-result">@live.homeTeam.score-@live.awayTeam.score</span>
            <span class="match-away match-team">@live.awayTeam.name</span>
        </p>

        <p class="match-status type-12">
            <abbr class="match-@MatchStatus(live.matchStatus)">@MatchStatus(live.matchStatus)</abbr>
        </p>

        @if(live.homeTeam.aggregateScore){
            <p class="match-aggregate type-10"><span>(agg. <span>@live.homeTeam.aggregateScore-@live.awayTeam.aggregateScore</span>)</span></p>
        } 

        @live.comments.map{ comment => <p class="match-comment type-10"><span>@comment</span></p> }
    </a>
</li>
