@(popular: Seq[model.MostPopular], visibleTrails: Int)

<div class="trailblock trailblock-shaded zone-border" id="popular-trails">
    <h3 class="zone-color">Most viewed</h3>
    
    <ol class="tabs">
        @popular.zipWithRowInfo.map{ case (section, info) =>
            <li@if(info.isFirst){ class="tabs-selected"}><a href="javascript://">@section.heading</a></li>
        }
    </ol>

    <div class="tabs-content">
        @popular.zipWithRowInfo.map{ case (section, info) =>
            <div id="most-popular-@info.rowNum" 
                class="tabs-panel@if(!info.isFirst){ initially-off}"
                data-count="@{section.trails.length - visibleTrails}">

                <ul class="unstyled">
                    @section.trails.zipWithRowInfo.map{ case (trail, info) =>
                        <li>@formatTrail(trail, info, related=true)</li>
                    }.slice( 0, visibleTrails )
                </ul>

                @if(section.trails.length > visibleTrails) {
                    <ul class="unstyled panel">
                        @section.trails.zipWithRowInfo.map{ case (trail, info) =>
                            <li>@formatTrail(trail, info, related=true)</li>
                        }.slice( visibleTrails, section.trails.length )
                    </ul>
                }

            </div>
        }
    </div>

</div>