@(popular: Seq[model.MostPopular], visibleTrails: Int)(implicit request: RequestHeader)

@defining(popular.size > 1){ isTabbed =>
    <div class="ab-expandable-trails--on" id="popular-trails" data-link-name="most popular">
        @popular.zipWithRowInfo.map{ case (section, info) =>
            <div data-link-name="@section.heading" data-link-context="most-read/@section.section">
                <h2 class="type-2 article-zone">Most read in @section.heading</h2>
                @fragments.trailblocks.thumbnail(section.trails.sortBy(-_.webPublicationDate.getMillis), numItemsVisible = 5, numThumbnails = 5, related = true, headingLevel = 3, expandable = true)
            </div>
        }
    </div>
}