<configuration>

    <contextName>frontend-dev-build</contextName>

    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/frontend-dev-build.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/frontend-dev-build.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>512MB</totalSizeCap>
            <maxFileSize>256MB</maxFileSize>
        </rollingPolicy>

        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <root level="INFO">
        <appender-ref ref="LOGFILE"/>
    </root>

    <if condition='!property("STAGE").contains("DEV")'>
        <then>
            <root level="INFO">
                <appender-ref ref="ASYNCSTDOUT"/>
            </root>
        </then>
    </if>

    <if condition='property("STAGE").contains("CODE")'>
        <then>
            <root level="DEBUG" />
        </then>
    </if>

</configuration>
