.fly-in-item {
    > * > section > h2 {
        background-color: transparent;
        border: 0;
        font-weight: normal;
        margin-left: -35px;
        padding-left: 30px;
    }
}

.fly-in-item__toggle {
    left: 5px;
}
