.stocks__stocks-container {
    @include clearfix;

    clear: left;
    margin-top: $gs-baseline * 1.5;
    margin-bottom: $gs-baseline;
}

.stocks__divider {
    width: 50%;

    @include mq(leftCol) {
        border-top: 1px dotted guss-colour(neutral-3, $pasteup-palette);
    }

    @include mq(wide) {
        .has-page-skin & {
            border-top: 0;
        }
    }
}

.stocks__stock-value--negative .stocks__change {
    color: colour(status-negative);

    &:before {
        @include icon(market-down, false);
    }
}

.stocks__stock-value--positive .stocks__change {
    color: colour(status-positive);

    &:before {
        @include icon(market-up, false);
    }
}

.stocks__stock-value--level .stocks__change {
    color: colour(status-neutral);

    &:before {
        @include icon(market-same, false);
    }
}

.stocks__stock-value {
    float: left;
    margin-right: $gs-gutter;

    @include mq(leftCol) {
        float: none;
        margin-bottom: $gs-baseline;
        margin-right: 0;
    }

    @include mq(wide) {
        .has-page-skin & {
            float: left;
            margin-bottom: 0;
            margin-right: $gs-gutter;
        }
    }
}

.stocks__value {
    @include clearfix;
}

.stocks__price {
    margin-right: 0.25em;
}

.stocks__price,
.stocks__change {
    float: left;

    @include mq(leftCol) {
        float: none;
    }

    @include mq(wide) {
        .has-page-skin & {
            float: left;
        }
    }
}

.stocks__name {
    font-weight: 600;
}

.stocks__name,
.stocks__price {
    margin-bottom: -4px;
}
