.stocks__stocks-container {
    @include clearfix;

    clear: left;
    margin-top: $gs-baseline * 1.5;
    margin-bottom: $gs-baseline;
}

.stocks__divider {
    width: 50%;

    @include mq(leftCol) {
        border-top: 1px dotted guss-colour(neutral-3, $pasteup-palette);
    }

    @include mq(wide) {
        .has-page-skin & {
            border-top: 0;
        }
    }
}

.stocks__change {
    .stocks__stock-value--negative & {
        color: colour(status-negative);
    }

    .stocks__stock-value--positive & {
        color: colour(status-positive);
    }

    .stocks__stock-value--level & {
        color: colour(status-neutral);
    }
}

.stocks__stock-value {
    float: left;
    width: 150px;

    @include mq(leftCol) {
        float: none;
        margin-bottom: $gs-baseline;
    }

    @include mq(wide) {
        .has-page-skin & {
            float: left;
            margin-bottom: 0;
        }
    }
}

.stocks__name {
    font-weight: 600;
}

.stocks__name,
.stocks__change {
    margin-bottom: -4px;
}
