@(title: String, env: String, priority: Option[String] = None, isAuthed: Boolean = false, identity: Option[com.gu.googleauth.UserIdentity] = None)(content: Html)

@import conf.Configuration

<!DOCTYPE html>

<html ng-app>
    <head>
        <title>@priority @title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>

        <link rel="shortcut icon" type="image/png" href="@routes.UncachedAssets.at("images/32x32.ico")" />

        <link rel="apple-touch-icon" sizes="144x144" href="@routes.UncachedAssets.at("images/144x144.png")" />
        <link rel="apple-touch-icon" sizes="114x114" href="@routes.UncachedAssets.at("images/114x114.png")" />
        <link rel="apple-touch-icon" sizes="72x72" href="@routes.UncachedAssets.at("images/72x72.png")" />
        <link rel="apple-touch-icon-precomposed" href="@routes.UncachedAssets.at("images/57x57.png")" />

        <meta name="apple-mobile-web-app-title" content="Facia Tool" />
        <meta name="application-name" content="Facia Tool" />
        <meta name="msapplication-TileColor" content="#005689" />
        <meta name="msapplication-TileImage" content="@routes.UncachedAssets.at("images/windows_tile_144_b.png")" />

        <link href="@routes.UncachedAssets.at("css/style.css?v2")" rel="stylesheet">

        <script src="@routes.UncachedAssets.at("jspm_packages/system.js")"></script>
        <script src="@routes.UncachedAssets.at("js/jspm-config.js")"></script>
    </head>
    <body class="@if(isAuthed){is-authed}">

    @if(Switches.ToolDisable.isSwitchedOn) {
        <span class="message message--important">Temporarily disabled. Please try again shortly.</span>
    } else {
        <header>
            <a href="/" target="_top">
                <img class="logo" src="@routes.UncachedAssets.at("images/plane.png")" />
                <h1>
                    <span data-bind="text: title()">fronts</span>
                    @if(Play.isDev && Configuration.facia.stage.toLowerCase != "dev") { : @Configuration.facia.stage }
                </h1>
            </a>
            @if(isAuthed) {
                <div class="log-in-out top-button"><a href="/logout">Logout</a></div>
                <div class="top-button-collections" data-bind="if: !!$data.layout">
                    <!-- ko if: layout.configVisible() -->
                    <div class="save-layout top-button"><a data-bind="click: saveLayout">Save</a></div>
                    <div class="cancel-layout top-button"><a data-bind="click: cancelLayout">Cancel</a></div>
                    <!-- /ko -->
                    <!-- ko ifnot: layout.configVisible() -->
                    <div class="choose-layout top-button"><a data-bind="click: chooseLayout">Workspace</a></div>
                    <!-- /ko -->
                </div>
            }
        </header>

        @if(isAuthed) {
            @content
        } else {
            <form action="@routes.OAuthLoginController.loginAction()" method="post" class="login-form tools">
                <input value="Log In" class="tool" type="submit" id="login-button">
            </form>
        }
    }

    </body>
</html>
