@(identity: Option[com.gu.pandomainauth.model.User] = None)

@import conf.Configuration

<!DOCTYPE html>

<html>
    <head>
        <title>Fronts Editor</title>
        @templates.meta()

        <script src="@controllers.faciatool.routes.UncachedAssets.at("jspm_packages/system.js")"></script>
        <script src="@controllers.faciatool.routes.UncachedAssets.at("js/jspm-config.js")"></script>

        <script>System.import('main');</script>
    </head>
    <body class="is-authed" data-bind="css: {pending: pending}">

    @if(Switches.ToolDisable.isSwitchedOn) {
        <span class="message message--important">Temporarily disabled. Please try again shortly.</span>
    } else {
        @templates.header(Configuration.facia.stage)
        @templates.vertical_layout()
        @templates.main()
    }
    </body>
</html>
