@(env: String, priority: String, identity: Option[com.gu.googleauth.UserIdentity])

@admin_main("fronts", env, Some(priority), isAuthed = true, identity) {

<div style="display: none;" data-bind="visible: true">

    <div class="alert" data-bind="visible: alert">
        <span data-bind="text: alert"></span>.
        <a data-bind="click: pressLiveFront">Retry it?</a>
        If this persists beyond a few minutes, <a href="https://sites.google.com/a/guardian.co.uk/digital-incident-management/">contact support</a>.
        <i class="fa fa-remove remove" data-bind="click: clearAlerts"></i>
    </div>

    <div data-bind="template: {
        name: 'vertical_layout',
        foreach: layout.columns,
        afterAdd: layout.addNewColumn
    }"></div>

    <div class="modalDialog" data-bind="fadeVisible: modalDialog.isOpen">
        <!-- ko if: modalDialog.templateName() && modalDialog.isOpen() -->
            <div class="modalDialog-content" data-bind="template: {
                name: modalDialog.templateName,
                data: modalDialog.templateData
            }"></div>
        <!-- /ko -->
    </div>

    @templates.vertical_layout()

    <script type="text/html" id="template_editor">
        <!-- ko if: displayEditor -->
            <!-- ko if: type === 'text' -->
                <div class="editor" data-bind="css: {'length--alert': lengthAlert}">
                    <textarea data-bind="
                        click: open,
                        clickBubble: false,
                        hasFocus: hasFocus,
                        attr: {
                            class: 'element__' + key + (hasFocus() ? ' active' : ''),
                            placeholder: field() || (label + '...'),
                            title: label
                        },
                        autoResize: true,
                        tabbableFormField: true,
                        textInput: overrideOrVal"></textarea>

                    <!-- ko if: hasFocus -->
                        <span class="editor__length" data-bind="text: length"></span>
                        <a class="editor__revert" data-bind="
                            visible: meta() && field(),
                            click: revert"><i class="fa fa-fast-backward"></i></a>
                        <span class="editor__alert__message">Text is too long.</span>
                    <!-- /ko -->
                </div>
            <!-- /ko -->

            <!-- ko if: type === 'boolean' -->
                <span data-bind="
                    click: toggle,
                    clickBubble: false,
                    attr: {class: 'editor--boolean editor--boolean--' + key},
                    css: {selected: meta}">
                    <a class="editor--boolean__label" data-bind="
                        text: label"></a>
                    <span class="editor--boolean__state"><span data-bind="visible: meta">&#10004;</span></span>
                </span>
            <!-- /ko -->
        <!-- /ko -->
    </script>

    <script type="text/html" id="template_editor_boolean_states">
        <span class="editor--boolean--display">
            <span class="editor--boolean__label" data-bind="text: $data"></span>
            <span class="editor--boolean__state">✔</span>
        </span>
    </script>

    <script type="text/html" id="template_groups">
        <!-- ko if: name && !front.flattenGroups() -->
            <div class="group-name" data-bind="text: name"></div>
        <!-- /ko -->
        <div class="droppable" data-bind="
            makeDroppable: true,
            click: pasteItem,
            css: {
                underDrag: underDrag() && !underControlDrag(),
                underControlDrag: underDrag() && underControlDrag()
            }">
                <div data-bind="template: {name: 'template_article', foreach: items}"></div>
                <div class="group-separator" data-bind="css: {'pasteOver': $root.isPasteActive}">
                    <span class="helptext">Click to paste</span>
                </div>
        </div>
    </script>

    <script type="text/html" id="template_article">
        <div class="article" data-bind="
            click: open,
            clickBubble: false,
            css: {
                open: state.isOpen,
                underDrag: state.underDrag() && !state.underControlDrag(),
                underControlDrag: state.underDrag() && state.underControlDrag(),
                imageHidden: meta.imageHide,
                slimEditor: slimEditor
            }">

            <a class="thumb" data-bind="
                style: {backgroundImage: thumbImage() ? 'url(' + thumbImage() + ')' : ''},
                attr: {href: id}"></a>

            <!-- ko if: state.imageCutoutSrcFromCapi() && !meta.imageCutoutReplace() -->
                <a class="thumb--cutout" data-bind="
                    style { backgroundImage: 'url(' + state.imageCutoutSrcFromCapi() + ')' }"></a>
            <!-- /ko -->

            <!-- ko if: state.hasMainVideo -->
                <div class="has-playable"><i class="fa fa-play"></i></div>
            <!-- /ko -->

            <div data-bind="if: state.isOpen">
                <div class="article__overrides"
                    data-bind="template: {name: 'template_editor', foreach: editors}"></div>

                <div data-bind="if: state.enableContentOverrides() && group.parentType !== 'Article'">
                    <div class="supporting" data-bind="with: meta.supporting">
                        <div class="droppable" data-bind="
                            makeDroppable: true,
                            click: pasteItem,
                            css: {
                                underDrag: underDrag() && !underControlDrag(),
                                underControlDrag: underDrag() && underControlDrag()
                            }">
                                <div data-bind="template: {name: 'template_article', foreach: items}"></div>
                                <div class="group-separator" data-bind="css: {'pasteOver': $root.isPasteActive}">
                                    <span class="helptext">Click to paste</span>
                                </div>
                        </div>
                    </div>
                    <span class="supporting-message">Drop content above, hold Ctrl key to replace item</span>
                </div>

                <div class="tools article-tools">
                    <a class="tool tool--done" data-bind="
                        clickBubble: false,
                        click: closeAndSave">Save edits</a>
                </div>
            </div>

            <div class="closed" data-bind="ifnot: state.isOpen">
                <img class="article__spark" data-bind="
                    visible: state.sparkUrl,
                    attr: {src: state.sparkUrl}" />

                <div class="article__tools">
                    <a class="tool tool--small tool--small--paste" data-bind="
                        visible: $root.isPasteActive,
                        clickBubble: false,
                        click: paste">paste</a>

                    <a class="tool tool--small tool--small--copy" data-bind="
                        css: {'large': !$root.isPasteActive()},
                        clickBubble: false,
                        click: copy">copy</a>

                    <a class="tool tool--small tool--small--remove" data-bind="
                        clickBubble: false,
                        click: $parent.omitItem">
                        <i class="fa fa-trash"></i></a>

                    <a class="tool tool--small tool--small--ophan" target="_blank" data-bind="
                        click: function() { return true; },
                        clickBubble: false,
                        attr: {href: state.ophanUrl}">
                        <i class="fa fa-signal"></i></a>

                    <a class="tool tool--small tool--small--href" target="_blank" data-bind="
                        click: function() { return true; },
                        clickBubble: false,
                        attr: {href: viewUrl}">
                        <i class="fa fa-share"></i></a>
                </div>

                <a class="article__content" data-bind="attr: {href: id}">
                    <!-- ko if: state.isEmpty -->
                        <div class="is-empty">
                            <span class="is-empty__url" data-bind="text: id"></span>
                            This content is currently unavailable
                        </div>
                    <!-- /ko -->

                    <!-- ko ifnot: state.isEmpty -->
                        <div class="element element__headline" data-bind="
                            html: headline,
                            css: {'is-empty': meta.snapType() && !meta.headline()}"></div>

                        <div class="article__ammends">
                            <span class="article__times">
                                <span class="time__scheduled" data-bind="text: scheduledPublicationTime"></span>
                                <span class="time__publication" data-bind="text: webPublicationTime"></span>
                                <span class="time__front" data-bind="text: frontPublicationTime"></span>
                            </span>

                            <!-- ko if: fields.isLive() === 'false' -->
                                <span class="label" data-bind="
                                    css: {
                                        'label--takedown': fields.firstPublicationDate(),
                                        'label--draft':   !fields.firstPublicationDate()
                                    },
                                    text: fields.firstPublicationDate() ? 'Taken down' : 'Draft'"></span>
                            <!-- /ko -->

                            <!-- ko if: meta.snapType -->
                                <span class="label label--snap">snap</span>
                                <span class="label label--snap" data-bind="text: meta.snapCss() || meta.snapType()"></span>
                                <span class="label label--snap-uri" data-bind="text: meta.snapUri"></span>
                            <!-- /ko -->

                            <!-- ko if: meta.href -->
                                <span class="label label--snap">url</span>
                                <span class="label label--snap-uri" data-bind="text: meta.href"></span>
                            <!-- /ko -->

                            <!-- ko if: meta.supporting && meta.supporting.items().length -->
                                <span class="has-sublinks">
                                    <span data-bind="text: meta.supporting.items().length"></span> sublink<span data-bind="visible: meta.supporting.items().length > 1">s</span>
                                </span>
                            <!-- /ko -->

                            <span class="editorsDisplay" data-bind="template: {name: 'template_editor_boolean_states', foreach: editorsDisplay}"></span>

                            <!-- ko if: state.tone -->
                                <span class="label" data-bind="text: state.tone"></span>
                            <!-- /ko -->

                            <span class="trailText" data-bind="
                                html: meta.trailText() || fields.trailText()"></span>
                        </div>
                    <!-- /ko -->
                </a>

            </div>
        </div>

    </script>

    <script type="text/html" id="confirm_breaking_changes">
        <div class="modalDialog-message">
            <h3>Confirm alert before sending</h3>
            <ul data-bind="foreach: articles">
                <li data-bind="html: headline"></li>
            </ul>
            <h4>Target</h4>
            <span class="target" data-bind="text: target"></span>
        </div>
        <hr>
        <div class="buttons modalDialog-confirm">
            <button data-bind="click: cancel">Cancel</button>
            <button class="draw-attention" data-bind="click: ok">
                <i class="fa fa-rss"></i>Send alert
            </button>
        </div>
    </script>

    <script type="text/html" id="text_alert">
        <div class="modalDialog-message">
            <h3><i class="fa fa-exclamation-circle"></i>Error:</h3>
            <span data-bind="text: message"></span>
        </div>
        <hr>
        <div class="buttons modalDialog-alert">
            <button class="button-action" data-bind="click: ok">Ok</button>
        </div>
    </script>

    <script type="text/html" id="select_snap_type">
        <div class="modalDialog-message">
            <h3>Link type</h3>
            <p>Click on <span class="button-description" data-bind="text: prefix"></span> to create the item</p>
            <ul>
                <li>{
                    <span data-bind="text: prefix"></span>
                    <span data-bind="text: resultsTitle"></span>
                }</li>
            </ul>
            <p>or click <span class="button-description">Link</span> to just create a link</p>
        </div>
        <hr>
        <div class="buttons modalDialog-confirm">
            <button class="button-action" data-bind="click: cancel">Link</button>
            <button class="draw-attention" data-bind="click: ok, text: prefix"></button>
        </div>
    </script>

</div>

<script>
    System.import('facia-tool/main').then(function (main) {
        main.load('collections');
    });
</script>
}
