@(env: String, identity: Option[Identity])

@admin_main("Fronts editor", env, isAuthed = true, identity) {

<div style="display: none;" data-bind="
    visible: true,
    css: {pending: pending}">

    <div class="toolbar" data-bind="visible: true"></div>

    <div class="updating">Updating</div>

    <div class="left-col">
        <div class="title">Clipboard</div>
        <div class="clipboard__wrapper" data-bind="with: clipboard">
            <div class="clipboard droppable" data-bind="
                makeDropabble: true,
                css: {underDrag: underDrag},
                template: {name: 'template_collection', foreach: items}"></div>
        </div>

        <div class="title">Orphaned containers</div>
        <div class="scrollable cnf-collections" data-bind="
            template: {name: 'template_collection', foreach: orphans}"></div>
    </div>

    <div class="right-col">
        <div class="title">Fronts</div>
        <div class="instructions">
            Create a <span data-bind="click: createFront" class="linky">front</span>
        </div>
        <div class="scrollable cnf-fronts" data-bind="
            template: {name: 'template_front', foreach: fronts}"></div>
    </div>

    <script type="text/html" id="template_collection">
        <div class="cnf-collection" data-bind="
            css: {
                underDrag: state.underDrag,
                open: state.open}">

            <span class="cnf-collection__index" data-bind="text: $index() + 1"></span>

            <a class="cnf-collection__name" data-bind="
                click: toggleOpen,
                attr: {href: id},
                text: meta.displayName() || '(no title)'"></a>

            <span class="cnf-collection__id" data-bind="text: id"></span>

            <span class="placements" data-bind="
                if: parents().length,
                css: {'is-single': parents().length === 1}">
                <span class="also">also</span> on
                <span data-bind="foreach: parents">
                    <!-- ko if: $parents[2] ? id !== $parents[2].id : true -->
                        <a class="cnf-collection__also-on" data-bind="
                            click: $root.openFront,
                            text: id"></a>
                    <!-- /ko -->
                </span>
            </span>

            <!-- ko if: state.open -->
            <div class="cnf-form">
                <label>Title</label>
                <input type="text" data-bind="
                    value: meta.displayName"/>

                <label>Link url</label>
                <input type="text" data-bind="
                    value: meta.href"/>

                <label>ContentApi</label>
                <input type="text" data-bind="
                    value: meta.apiQuery,
                    valueUpdate: 'afterkeydown'"/>
                <span class="linky api-query-status" data-bind="
                    click: checkApiQueryStatus,
                    visible: meta.apiQuery() && !state.apiQueryStatus()">check</span>
                <!-- ko if: state.apiQueryStatus -->
                    <div class="api-query-results">
                        <div data-bind="
                            attr: {class: 'api-query-status--' + state.apiQueryStatus()},
                            text: state.apiQueryStatus"></div>
                        <div data-bind="foreach: capiResults">
                            <a target="_article" class="api-query-result" data-bind="
                                    attr: {href: 'http://www.theguardian.com/' + id},
                                    text: fields.headline"></a>
                        </div>
                    </div>
                <!-- /ko -->

                <label>Type</label>
                <select data-bind="
                    options: $root.types,
                    value: meta.type"></select>

                <label>Groups</label>
                <select data-bind="
                    options: $root.groups,
                    value: meta.groups"></select>

                <label>No curation</label>
                <input type="checkbox" data-bind="
                    checked: meta.uneditable" />

                <div class="tools">
                    <button class="tool" data-bind="
                        click: save">Save</button>

                    <!-- ko if: $parents[1] -->
                        <button class="tool" data-bind="
                            click: $parents[1].depopulateCollection">Remove</button>
                    <!-- /ko -->

                    <!-- ko if: parents().length === 0 -->
                        <button class="tool" data-bind="
                            click: discard">Remove completely</button>
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->

        </div>
    </script>

    <script type="text/html" id="template_front">
        <div class="cnf-front" data-bind="
                css: {isProvisional: !id()}">

            <div class="title" data-bind="
                click: toggleOpen,
                text: id"></div>

            <!-- ko if: !id() -->
            <div class="cnf-form">
                <div class="title">New Front</div>
                <label>Path</label>
                <input type="text" data-bind="
                    value: id"/>

                <div class="tools">
                    <button class="tool">OK</button>
                </div>
            </div>
            <!-- /ko -->

            <div data-bind="if: id() && state.open()">
                <div class="cnf-front__inner">
                    <div data-bind="visible: state.openProps">
                        <div class="cnf-form" data-bind="">
                                <label>Title</label>
                                <input type="text" data-bind="
                                    value: props.webTitle"/>
                            <div class="tools"><span class="tool" data-bind="click: save">Save</span></div>
                        </div>
                    </div>
                    <div data-bind="visible: !state.openProps(), click: openProps">
                        <div class="cnf-form" data-bind="">
                            <div>
                                <label>Title</label>
                                <span data-bind="text: props.webTitle() || 'None!'"></span>
                            </div>
                        </div>
                    </div>


                    <div data-bind="with: collections">
                        <div class="droppable" data-bind="
                            makeDropabble: true,
                            css: {underDrag: underDrag},
                            template: {name: 'template_collection', foreach: items}"></div>
                    </div>
                    <div class="instructions">
                        Drop a container above, or <span data-bind="click: createCollection" class="linky">create</span> one.
                        <div data-bind="if: !collections.items().length">Note: empty fronts will be discarded</div>
                    </div>
                </div>
            </div>

        </div>
    </script>

</div>

<script src="@routes.Assets.at("javascripts/app-config.js")"></script>
}
