@(env: String, identity: Option[Identity])

@admin_main("Fronts editor", env, isAuthed = true, identity) {

<div style="display: none;" data-bind="
    visible: true,
    css: {pending: pending}">

    <div class="toolbar" data-bind="visible: true"></div>

    <div class="updating">Updating</div>

    <div class="left-col">
        <div class="title">Containers</div>
        <div class="scrollable cnf-collections" data-bind="
            template: {name: 'template_minimal_collection', foreach: collections}"></div>
    </div>

    <div class="right-col">
        <div class="title">
            Fronts
            <span data-bind="click: createFront" class="linky">+</span>
        </div>
        <div class="scrollable cnf-fronts" data-bind="
            template: {name: 'template_front', foreach: fronts}"></div>
    </div>

    <script type="text/html" id="template_minimal_collection">
        <div class="cnf-collection">
            <a class="cnf-collection__name" data-bind="
                click: toggleOpen,
                attr: {href: id, title: id},
                text: meta.displayName() || '(no title)'"></a>

            <span class="placements">
                on
                <span data-bind="foreach: parents">
                    <a class="cnf-collection__also-on" data-bind="
                        click: $root.openFront,
                        text: id"></a>
                </span>
            </span>
        </div>
    </script>

    <script type="text/html" id="template_collection">
        <div class="cnf-collection" data-bind="
            css: {
                underDrag: state.underDrag,
                open: state.isOpen}">

            <span class="cnf-collection__index" data-bind="text: $index() + 1"></span>

            <a class="cnf-collection__name" data-bind="
                click: toggleOpen,
                attr: {href: id, title: id},
                text: meta.displayName() || '(no title)'"></a>

            <span class="placements" data-bind="
                if: parents().length,
                css: {'is-single': parents().length === 1}">
                also on
                <span data-bind="foreach: parents">
                    <!-- ko if: $parents[2] ? id !== $parents[2].id : true -->
                        <a class="cnf-collection__also-on" data-bind="
                            click: $root.openFront,
                            text: id"></a>
                    <!-- /ko -->
                </span>
            </span>

            <!-- ko if: state.isOpen -->
            <div class="cnf-form">
                <label>Title</label>
                <input type="text" data-bind="
                    value: meta.displayName"/>

                <label>Link url</label>
                <input type="text" data-bind="
                    value: meta.href"/>

                <label>ContentApi</label>
                <input type="text" data-bind="
                    value: meta.apiQuery,
                    valueUpdate: 'afterkeydown'"/>
                <span class="linky api-query-status" data-bind="
                    click: checkApiQueryStatus,
                    visible: meta.apiQuery() && !state.apiQueryStatus()">check</span>
                <!-- ko if: state.apiQueryStatus -->
                    <div class="api-query-results">
                        <div data-bind="
                            attr: {class: 'api-query-status--' + state.apiQueryStatus()},
                            text: state.apiQueryStatus() === 'check' ? 'Checking...' : state.apiQueryStatus() === 'invalid' ? 'No matches found' : 'Found matches:'"></div>
                        <div data-bind="foreach: capiResults">
                            <a target="_article" class="api-query-result" data-bind="
                                    attr: {href: 'http://www.theguardian.com/' + id},
                                    text: fields.headline"></a>
                        </div>
                    </div>
                <!-- /ko -->

                <label>Type</label>
                <select data-bind="
                    optionsCaption: 'Choose...',
                    options: $root.types,
                    value: meta.type"></select>

                <!-- ko if: meta.groups -->
                    <label>Groups</label>
                    <span class="cnf-form__value" data-bind="text: meta.groups"></span>
                <!-- /ko -->

                <!-- ko if: $root.switches()['facia-tool-tags'] -->
                    <label for="showTags" >Show tags</label>
                    <input id="showTags" type="checkbox" data-bind="checked: meta.showTags" />

                    <label for="showSections" >Show sections</label>
                    <input id="showSections" type="checkbox" data-bind="checked: meta.showSections" />
                <!-- /ko -->

                <label>No curation</label>
                <input type="checkbox" data-bind="
                    checked: meta.uneditable" />

                <div class="tools">
                    <button class="tool" data-bind="
                        click: save">Save container</button>

                    <button class="tool tool--rhs" data-bind="
                        click: $parents[1].depopulateCollection">Remove</button>
                </div>
            </div>
            <!-- /ko -->

        </div>
    </script>

    <script type="text/html" id="template_front">
        <div class="cnf-front" data-bind="
            css: {open: state.isOpen}">

            <div class="title" data-bind="
                text: id,
                visible: id,
                click: toggleOpen"></div>

            <!-- ko if: !id() -->
                <div class="cnf-front__inner cnf-form">
                    <label>Type</label>
                    <input type="radio" name="group01" data-bind="checkedValue: undefined, checked: props.priority" />
                    <span class="radio-label">editorial</span>
                    <input type="radio" name="group01" value="commercial" data-bind="checked: props.priority" />
                    <span class="radio-label">commercial</span>

                    <label>URL path</label>
                    <input type="text" placeholder="eg. world/middleeast" data-bind="value: id"/>

                    <div class="tools">
                        <span class="tool">Create front</span>
                    </div>
                </div>
            <!-- /ko -->

            <div class="cnf-front__inner" data-bind="if: state.isOpen">
                <!-- ko if: state.isOpenProps() -->
                    <div class="cnf-form">
                        <label>Nav section</label>
                        <select data-bind="
                            css: {
                                'is-placeholder': !props.navSection()
                            },
                            optionsCaption: placeholders.navSection,
                            options: $root.navSections,
                            value: props.navSection"></select>

                        <label>Name</label>
                        <input type="text" data-bind="
                            attr: {placeholder: placeholders.webTitle},
                            value: props.webTitle"/>

                        <label>SEO title</label>
                        <textarea data-bind="
                            attr: {placeholder: placeholders.title},
                            value: props.title"></textarea>

                        <label>Description</label>
                        <textarea data-bind="
                            attr: {placeholder: placeholders.description},
                            value: props.description"></textarea>

                        <label>Type</label>
                        <input type="radio" name="group02" data-bind="checkedValue: undefined, checked: props.priority" />
                        <span class="radio-label">editorial</span>
                        <input type="radio" name="group02" value="commercial" data-bind="checked: props.priority" />
                        <span class="radio-label">commercial</span>

                        <div class="tools">
                            <span class="tool" data-bind="click: saveProps">Save metadata</span>
                        </div>
                    </div>
                <!-- /ko -->

                 <!-- ko if: id -->
                    <div class="instructions">
                        <!-- ko if: !state.isOpenProps() -->
                            <span class="linky" data-bind="click: openProps">Edit metadata</span>
                            &middot;
                            <a data-bind="attr: {href: '/?front=' + id()}">content</a>
                        <!-- /ko -->
                    </div>

                    <div data-bind="with: collections">
                        <div class="droppable" data-bind="
                            makeDropabble: true,
                            css: {underDrag: underDrag},
                            template: {name: 'template_collection', foreach: items}"></div>
                    </div>
                    <div class="instructions">
                        <span data-bind="click: createCollection" class="linky">Create a container</span> or drop one above.
                        <span data-bind="if: !collections.items().length">Empty fronts will be discarded!</span>
                    </div>
                <!-- /ko -->
           </div>

        </div>
    </script>

</div>

<script src="@routes.Assets.at("javascripts/app-config.js")"></script>
}
