@(env: String, identity: Option[Identity])

@admin_main("Fronts editor", env, isAuthed = true, identity) {

<div style="display: none;" data-bind="visible: true">

    <div class="toolbar" data-bind="visible: true" style=""></div>

    <div class="left-col">
        <div class="title">Collections</div>
        <div class="instructions">
            <span data-bind="click: createCollection" class="linky">create</span> a collection
        </div>
        <div class="scrollable" data-bind="
            template: {name: 'template_collection', foreach: collections}"></div>
    </div>

    <div class="right-col">
        <div class="scrollable" data-bind="
            template: {name: 'template_front', foreach: fronts}"></div>
    </div>

    <script type="text/html" id="template_collection">
        <div class="cnf-collection" data-bind="
            css: {
                underDrag: state.underDrag,
                open: state.open
            }">

            <a data-bind="
                click: toggleOpen,
                attr: {href: id},
                text: meta.roleName"></a>
            <span  class="id" data-bind="
                text: id"></span>

            <div class="tools" data-bind="if: state.open">
                <a class="tool" data-bind="click: save">Save</a>
            </div>
        </div>
    </script>

    <script type="text/html" id="template_front">
        <div class="cnf-front">
            <div class="title" data-bind="
                click: toggleOpen,
                text: id"></div>
            <!-- ko if: state.open -->
                <div class="cnf-front__inner">
                    <div data-bind="with: group">
                        <div class="droppable" data-bind="
                            makeDropabble: true,
                            css: {underDrag: underDrag},
                            template: {name: 'template_collection', foreach: items}"></div>
                    </div>
                    <div class="instructions">
                        drag in or <span data-bind="click: createCollection" class="linky">create</span> a collection
                    </div>
                </div>
            <!-- /ko -->
        </div>
    </script>

</div>

<script src="@routes.Assets.at("javascripts/app-config.js")"></script>
}
