@(env: String)

@admin_main("Fronts editor", env, isAuthed = true) {

<div class="tool-title">Fronts Editor <span data-bind="visible: false">loading...</span></div>

<div style="display: none;" data-bind="visible: true">

    <img class="ophan-legend" src="@routes.Assets.at("images/ophan-legend.png")" title="Pageview graph colours" />

    <div class="list-picker" data-bind="visible: true" style="display: none">
        <span>Editing front:</span>
        <select data-bind="options: configs, value: config, optionsCaption: 'choose...'"></select>
        
        Mode:<a class="tool pref-draft" data-bind="
            click: toggleModeDefault,
            css: {active: !liveMode, inactive: liveMode}">Draft</a
        
        ><a class="tool pref-live" data-bind="
            click: toggleModeDefault,
            css: {active: liveMode, inactive: !liveMode}">Live</a>

        <a class="tool logout" href="/logout">Logout</a>

        <a class="tool preview" target="preview" data-bind="
            attr: {href: previewUrl},
            visible: config">Previews</a>

    </div>

    <div class="finder">
        <div class="title clipboard__title">Clipboard</div>
        <div class="clipboard__wrapper" data-bind="with: clipboard">
            <div class="clipboard__overlay" data-bind="visible: articles().length === 0">
                Drag articles and drop them here. <br />Works from Guardian, Ophan, and Google.</div>
            <div class="clipboard droppable" data-bind="
                makeDropabble: true,
                css: {underDrag: underDrag},
                template: {name: 'template_article', foreach: articles}"></div>
        </div>

        <div data-bind="with: latestArticles">
            <div class="title">Latest Articles</div>

            <div class="search-form">
                <div class="search-term">
                    <input type="text" placeholder="Search for..." data-bind='
                        event: {keyup: search, afterpaste: search},
                        value: term,
                        valueUpdate: ["afterkeydown", "afterpaste"]'/>
                </div>

                <div class="autocompleter">
                    <select data-bind="
                        event: { change: clearFilter },
                        options: filterTypes,
                        optionsText: 'display',
                        value: filterType"></select>

                    <input type="text" placeholder="filter" data-bind='
                        attr: {placeholder: filterType().placeholder},
                        event: {keyup: autoComplete, afterpaste: autoComplete},
                        value: filter,
                        valueUpdate: ["afterkeydown", "afterpaste"]'/>

                    <div class="suggestions" data-bind="foreach: suggestions">
                        <!-- ko if: $data._alert -->
                        <div class="suggestion" data-bind="text: _alert"></div>
                        <!-- /ko -->
                        <!-- ko if: $data.id -->
                        <div class="suggestion linky"  data-bind="text: id, click: $parent.setFilter"></div>
                        <!-- /ko -->
                    </div>
                </div>

                <button class="search-submit"><i class="icon-refresh" data-bind="click: refresh"></i></button>
            </div>

            <div data-bind="template: {name: 'template_search_controls'}"></div>

            <div class="latest-articles scrollable" data-bind="template: {name: 'template_article', foreach: articles}">Searching...</div>
        </div>
    </div>

    <div class="collections">
        <div class="collections__inner scrollable" data-bind="template: {name: 'template_collection', foreach: collections}"></div>
    </div>

    <!-- templates -->

    <script type="text/html" id="template_collection">
        <div class="collection">
            <div class="list-header">
                <div class="title" data-bind="visible: !state.editingConfig()">
                    <span class="list-header__saving" data-bind="visible: state.loadIsPending">SAVING</span>

                    <a class="list-header__display" data-bind="
                        visible: typeof configMeta.displayName() === 'undefined',
                        text: collectionMeta.displayName() || 'Set title for ' + configMeta.roleName(),
                        click: toggleEditingConfig"></a>

                    <span class="list-header__display" data-bind="
                        visible: typeof configMeta.displayName() !== 'undefined',
                        text: configMeta.displayName"></span>

                    <span class="list-header__display" data-bind="
                        visible: configMeta.displayName() === '',
                        text: configMeta.roleName"></span>
                </div>

                <div class="collection-config" data-bind="visible: state.editingConfig">
                    <div>
                        <input type="text" data-bind="value: collectionMeta.displayName" placeholder="Title"/>
                    </div>
                    <input type="submit" class="btn" value="Save" data-bind="click: saveConfig"/>
                    <button class="btn" value="Cancel" data-bind="click: cancelEditingConfig">Cancel</button>
                </div>

                <div class="list-header__status">
                    <a class="list-header__status__live" data-bind="
                        click: setLiveMode,
                        css: {
                            active: state.liveMode()
                        }">LIVE
                    </a><a class="list-header__status__draft" data-bind="
                        click: setDraftMode,
                        css: {
                            'active':   !state.liveMode(),
                            'has-draft': state.hasDraft()
                        }">DRAFT

                    </a><a class="list-header__status__control" data-bind="
                        visible: state.hasDraft(),
                        click: publishDraft">publish

                    </a><a class="list-header__status__control" data-bind="
                        visible: state.hasDraft(),
                        click: discardDraft">discard

                    </a>

                    <span class="list-header__timings">
                        <!-- ko if: state.timeAgo -->
                            <span class="list-header__timings__last-updated" data-bind="text: state.timeAgo"></span>
                            by <span class="list-header__timings__user" data-bind="text: collectionMeta.updatedBy"></span>
                        <!-- /ko -->
                        <!-- ko ifnot: state.timeAgo -->
                            empty
                        <!-- /ko -->
                    </span>
                </div>
            </div>

            <div data-bind="css: {'pending': state.loadIsPending}">
                <div class="live-groups" data-bind="
                    visible: state.liveMode,
                    template: {name: 'template_zones', foreach: live}"></div>

                <div class="draft-groups" data-bind="
                    visible: !state.liveMode(),
                    template: {name: 'template_zones', foreach: draft}"></div>
            </div>
        </div>
    </script>

    <script type="text/html" id="template_zones">
        <!-- ko if: !_.isUndefined(name) -->
        <div class="group-name" data-bind="text: name"></div>
        <!-- /ko -->
        <div class="droppable" data-bind="
            makeDropabble: true,
            css: {underDrag: underDrag},
            template: {name: 'template_article', foreach: articles}"></div>
    </script>

    <script type="text/html" id="template_search_controls">
        <div class="finder__controls">
            Page <span data-bind="text: page"></span>
            <a data-bind="click: pageNext">next</a>
            <a data-bind="click: pagePrev, visible: page() > 1">prev</a>
            <a data-bind="click: refresh,  visible: page() > 2">top</a>
        </div>
    </script>

    <script type="text/html" id="template_article">
        <div class="trail u-cf" data-bind="
            attr: {'data-url': meta.id},
            css: {
                underDrag: state.underDrag,
                redundant: $parent.collectionMeta && $parent.collectionMeta.max ? (0 + $index()) >= (0 + $parent.collectionMeta.max()) : false
            }">

            <div class="trail_tweaks u-cf" data-bind="visible: state.editingConfig">
                <div>
                    Headline override:
                    <input type="text" data-bind="value: config.webTitle"/>
                </div>
                <input type="submit" class="btn" value="Save" data-bind="click: $parent.saveItemConfig"/>
                <button class="btn" value="Cancel" data-bind="click: $parent.forceRefresh">Cancel</button>
            </div>

            <a target="article" data-bind="attr: {href: 'http://www.theguardian.com/' + meta.id()}">
                <img data-bind="attr: {src: fields.thumbnail}" draggable="false" />
            </a>

            <div class="trail__remove" data-bind="click: $parent.dropItem">
                <i class="icon-trash icon-white"></i>
            </div>

            <a class="trail_stats u-cf" target="ophan" data-bind="attr: {href: 'http://dashboard.ophan.co.uk/graph/breakdown?path=/' + meta.id()}">
                <div class="pageviews" data-bind="if: totalHitsFormatted(), text: totalHitsFormatted"></div>
                <div class="pageviews-graph" data-bind="if: state.pageViewsSeries(), sparkline: state.pageViewsSeries"></div>
            </a>

            <!-- ko if: (config.webTitle() && (meta.webTitle() !== config.webTitle())) -->
            <span class="webTitle webTitle--override" data-bind="html: config.webTitle"></span>
            <!-- /ko -->

            <a class="webTitle" target="article" data-bind="
                html: meta.webTitle,
                attr: {href: 'http://www.theguardian.com/' + meta.id()}"></a>

            <div class="trail__meta">
                <span data-bind="html: humanDate"></span>
                <!--a class="trail__meta__tweak"  data-bind="click: toggleEditingConfig">tweak</a-->
            </div>

        </div>
    </script>

</div>

<script src="@routes.Assets.at("javascripts/fronts.js")"></script>
}
