@(env: String, identity: Option[Identity])

@admin_main("Fronts editor", env, isAuthed = true, identity) {

<div style="display: none;" data-bind="visible: true">

    <img class="ophan-legend" src="@routes.Assets.at("images/ophan-legend.png")" title="Pageview graph colours" />

    <div class="toolbar" data-bind="visible: true" style="display: none">

        <span class="tool-label">
            Editing front
        </span>
        <select class="tool-select" data-bind="options: fronts, value: front, optionsCaption: 'choose...'"></select>

        <span class="tool-label">
            Edit Mode
        </span>

        <a class="tool pref-draft" data-bind="
            click: setModeDraft,
            css: {active: !liveMode()}">Draft</a
        ><a class="tool pref-live" data-bind="
            click: setModeLive,
            css: {active: liveMode}">Live</a>

        <a class="tool logout" href="/logout">Logout</a>

        <a class="tool preview" target="preview" data-bind="
            attr: {href: previewUrl},
            visible: front">View Live</a>

    </div>

    <div class="finder">
        <div class="title">Clipboard</div>
        <div class="clipboard__wrapper" data-bind="with: clipboard">
            <div class="clipboard droppable" data-bind="
                makeDropabble: true,
                css: {underDrag: underDrag},
                template: {name: 'template_article', foreach: items}"></div>
        </div>

        <div data-bind="with: latestArticles">
            <div class="title">Latest Articles</div>

            <div class="search-form">
                <div class="search-term">
                    <input type="text" placeholder="Search for..." data-bind='
                        event: {keyup: search, afterpaste: search},
                        value: term,
                        valueUpdate: ["afterkeydown", "afterpaste"]'/>
                </div>

                <div class="autocompleter">
                    <select data-bind="
                        event: { change: clearFilter },
                        options: filterTypes,
                        optionsText: 'display',
                        value: filterType"></select>

                    <input type="text" placeholder="filter" data-bind='
                        attr: {placeholder: filterType().placeholder},
                        event: {keyup: autoComplete, afterpaste: autoComplete},
                        value: filter,
                        valueUpdate: ["afterkeydown", "afterpaste"]'/>

                    <div class="suggestions" data-bind="foreach: suggestions">
                        <!-- ko if: $data._alert -->
                        <div class="suggestion" data-bind="text: _alert"></div>
                        <!-- /ko -->
                        <!-- ko if: $data.id -->
                        <div class="suggestion linky"  data-bind="text: id, click: $parent.setFilter"></div>
                        <!-- /ko -->
                    </div>
                </div>

                <button class="search-submit"><i class="icon-refresh" data-bind="click: refresh"></i></button>
            </div>

            <div data-bind="template: {name: 'template_search_controls'}"></div>

            <div class="latest-articles scrollable" data-bind="template: {name: 'template_article', foreach: articles}">Searching...</div>
        </div>
    </div>

    <div class="collections" data-bind="css: {'live-mode': $root.liveMode}">
        <div class="collections__inner scrollable" data-bind="template: {name: 'template_collection', foreach: collections}"></div>
    </div>

    <!-- templates -->

    <script type="text/html" id="template_collection">
        <div class="collection">
            <div class="list-header" data-bind="
                css: {collapsed: state.collapsed() || configMeta.uneditable()}">

                <div data-bind="visible: !state.editingConfig()">
                    <span class="title" data-bind="
                        text: configMeta.displayName() || collectionMeta.displayName() || configMeta.roleName() || id"></span>

                    <a class="list-header__edit" data-bind="
                        click: toggleEditingConfig,
                        visible: typeof configMeta.displayName() === 'undefined' && !state.collapsed()">&laquo; edit title</a>

                    <span class="count" data-bind="if: !isPending() && !configMeta.uneditable()">
                        (<span data-bind="
                            text: state.count() ? state.count() : 'empty',
                            css: {'non-zero':  state.count}"></span>)
                    </span>

                    <span class="count" data-bind="if: isPending() && !configMeta.uneditable()">
                        (<span class="non-zero">updating...</span>)
                    </span>

                    <i class="list-header__collapser" data-bind="
                        click: toggleCollapsed,
                        visible: !configMeta.uneditable(),
                        css: {
                            'icon-chevron-down': !state.collapsed(),
                            'icon-chevron-up'  :  state.collapsed }"></i>

                    <span class="list-header__timings" data-bind="
                        css: {'has-concurrent-user': state.hasConcurrentEdits}">
                        <!-- ko if: state.timeAgo -->
                            Edited <span class="list-header__timings__last-updated" data-bind="text: state.timeAgo"></span>
                            by <span class="list-header__timings__user" data-bind="text: collectionMeta.updatedBy"></span>
                        <!-- /ko -->
                        <a data-bind="
                            click: reset,
                            visible: state.hasConcurrentEdits,
                            ">Show edits</a>
                    </span>
                </div>

                <div class="collection-overrides" data-bind="visible: state.editingConfig">
                    <input type="text" data-bind="
                        value: collectionMeta.displayName,
                        hasFocus: true" placeholder="Title"/>
                    <span>
                        <a class="tool" data-bind="click: saveMeta">Save</a>
                        <a class="tool" data-bind="click: reset">Cancel</a>
                    </span>
                </div>

            </div>

            <div data-bind="if: !state.collapsed()">
                <div class="tools" data-bind="visible: state.hasDraft">
                    <a class="draft-warning" data-bind="
                        click: $root.setModeDraft,
                        visible: $root.liveMode">
                        <span class="tool draft-publish draft-warning">!</span>Unpublished edits exist</a>

                    <div data-bind="visible: !$root.liveMode()">
                        <a class="tool draft-publish" data-bind="
                            click: publishDraft">Publish container</a>

                        <a class="tool draft-discard" data-bind="
                            click: discardDraft">Discard changes</a>
                    </div>
                </div>

                <div data-bind="
                    css: {'pending': isPending()},
                    template: {name: 'template_groups', foreach: groups}"></div>
            </div>
        </div>
    </script>

    <script type="text/html" id="template_groups">
        <!-- ko if: !_.isUndefined(name) -->
        <div class="group-name" data-bind="text: name"></div>
        <!-- /ko -->
        <div class="droppable" data-bind="
            makeDropabble: true,
            css: {underDrag: underDrag},
            template: {name: 'template_article', foreach: items}"></div>
    </script>

    <script type="text/html" id="template_search_controls">
        <div class="finder__controls">
            Page <span data-bind="text: page"></span>
            <a data-bind="click: pageNext">next</a>
            <a data-bind="click: pagePrev, visible: page() > 1">prev</a>
            <a data-bind="click: refresh,  visible: page() > 2">top</a>
        </div>
    </script>

    <script type="text/html" id="template_article">
        <div class="article u-cf" data-bind="
            css: {
                open: state.open,
                underDrag: state.underDrag
            }">

            <a target="article" data-bind="attr: {href: 'http://www.theguardian.com/' + props.id()}">
                <img draggable="false" data-bind="
                    attr: {src: fields.thumbnail, title: props.id}" />
            </a>
            <div class="article__date" data-bind="text: humanDate"></div>
            <div class="article__remove" data-bind="click: $parent.omitItem">
                <i class="icon-trash icon-white"></i>
            </div>

            <div data-bind="if: state.open">
                <div class="article__overrides u-cf">
                    <input class="headline-input" type="text" data-bind="
                        value: headlineInput,
                        event: {blur: save},
                        attr: {placeholder: fields.headline}"/>
                    <a class="revert revert--headline" data-bind="
                        click: headlineRevert,
                        attr: {title: fields.headline},
                        visible: meta.headline">Revert</a>

                    <textarea class="trailtext" type="text" data-bind="
                        value: trailTextInput,
                        event: {blur: save},
                        attr: {placeholder: fields.trailText}"/></textarea>
                    <a class="revert revert--trailtext" data-bind="
                        click: trailTextRevert,
                        attr: {title: 'Revert to: ' + fields.trailText},
                        visible: meta.trailText">Revert</a>

                    <div class="image__overrides">
                        <a data-bind="
                        click: toggleImageAdjustHide,
                        css: {selected: meta.imageAdjust() === 'hide'}">Hide image</a>
                        |
                        <a data-bind="
                        click: toggleImageAdjustHighlight,
                        css: {selected: meta.imageAdjust() === 'highlight'}">Highlight image</a>
                    </div>
                </div>

                <div data-bind="if: parentType === 'Collection' || parentType === 'Clipboard'">
                    <div class="supporting" data-bind="with: meta.supporting">
                        <div class="droppable" data-bind="
                            makeDropabble: true,
                            css: {underDrag: underDrag},
                            template: {name: 'template_article', foreach: items}"></div>

                    </div>
                    <div class="supporting-message">Add supporting content below</div>
                    <div class="tools">
                        <a class="tool" data-bind="click: close">Close</a>
                    </div>
                </div>
            </div>

            <div data-bind="if: !state.open()">
                <a class="article_stats u-cf" target="ophan" data-bind="attr: {href: 'http://dashboard.ophan.co.uk/graph/breakdown?path=/' + props.id()}">
                    <div class="pageviews" data-bind="if: totalHitsFormatted()"><span data-bind="text: totalHitsFormatted"></span></div>
                    <div class="pageviews-graph" data-bind="if: state.pageViewsSeries(), sparkline: state.pageViewsSeries"></div>
                </a>

                <div class="article_content is-empty" data-bind="if: state.isEmpty">
                    This content is unavailable, deleted, or has a new URL
                    <a target="article" class="is-empty__url" data-bind="
                        attr: {href: props.id},
                        text: props.id"></a>
                </div>

                <div class="article_content" data-bind="if: !state.isEmpty()">
                    <a class="headline" target="article" data-bind="
                        text: meta.headline() || fields.headline(),
                        attr: {href: props.id()},
                        click: open"></a>

                    <!-- ko if: meta.supporting && meta.supporting.items().length -->
                        <span class="count">(<span class="non-zero" data-bind="text: meta.supporting.items().length"></span>)</span>
                    <!-- /ko -->

                    <!-- ko if: meta.headline -->
                        <i class="icon-pencil"></i>
                    <!-- /ko -->

                    <div class="trailtext" data-bind="
                        attr: {href: props.id()},
                        html: meta.trailText() || fields.trailText()"></div>

                </div>
            </div>
        </div>

    </script>

</div>

<script src="@routes.Assets.at("javascripts/app.js")"></script>
}
