@(env: String, priority: String, identity: Option[com.gu.googleauth.UserIdentity])

@admin_main("Fronts Editor", env, Some(priority), isAuthed = true, identity=identity) {

<div class="front-priorities">
    <div class="front-priorities--priority">
        <a href="/editorial">Editorial Fronts</a>
    </div>
    <div class="front-priorities--priority">
        <a href="/commercial">Commercial Fronts</a>
    </div>
    <div class="front-priorities--priority">
        <a href="/training">Training Fronts</a>
    </div>
    <div class="front-priorities--extra">
        Bookmarklets:
        <a href="javascript:window.location.href='https://fronts.gutools.co.uk/editorial?layout=latest,front:'+window.location.pathname.replace(/^\/|\/$/g,'');">Edit PROD front</a> ·
        <a href="javascript:window.location.href='https://fronts.code.dev-gutools.co.uk/editorial?layout=latest,front:'+window.location.pathname.replace(/^\/|\/$/g,'');">Edit CODE front</a><br />
        Drag to bookmarks bar, then click when on a Guardian front
    </div>
</div>

}
