@(items: Seq[model.Trail], style: views.support.Container, containerIndex: Int)(implicit request: RequestHeader, config: com.gu.facia.client.models.CollectionConfig)

<div class="facia-slice-wrapper facia-slice-wrapper--position-1">
    <ul class="u-unstyled l-row l-row--items-3 facia-slice">
        @items.slice(0, 3).zipWithIndex.map{ case (trail, index) =>
            @fragments.collections.items.simplecomment(trail, index, containerIndex)
        }
    </ul>
</div>
@defining(items.slice(3, 7)) { items =>
    @if(items.nonEmpty) {
        <div class="facia-slice-wrapper facia-slice-wrapper--position-2">
            <ul class="u-unstyled l-row l-row--items-4 facia-slice">
                @items.zipWithIndex.map{ case (trail, index) =>
                    @fragments.collections.items.standard(trail, index + 3, containerIndex, forceTone = Some(style.tone))
                }
            </ul>
        </div>
    }
}
@defining(items.slice(7, 23)) { items =>
    @if(items.nonEmpty) {
        <div class="linkslist-container js-container--show-more tone-@{style.tone}" data-tone="@style.tone">
            <ul class="l-columns linkslist">
                @items.zipWithIndex.map{ case (trail, index) =>
                    @fragments.items.linksList.trail(trail, index + 7, None)
                }
            </ul>
        </div>
    }
}
