@(config: Config, collection: Collection, style: Container)(implicit request: RequestHeader)

<section class="collection collection--@style.className collection--@{config.section}-section @if(style.section != "news"){js-collection--display-toggle} section--@style.section"
         data-link-name="block | @collection.displayName.getOrElse(config.id)"
         data-collection-type="@config.section"
         data-section="@config.section">

    @Seq(config.displayName, collection.displayName).find(_.nonEmpty).map { title =>
        <h2 class="collection__title">
            <a data-link-name="section heading" href="@LinkTo{/@if(!config.section.equals("news")){@config.section}}">@title</a>
        </h2>
    }

    <ul class="unstyled items item-count-@collection.items.size @if(style.showMore){js-items--show-more} items--cards">
        @collection.items.zipWithIndex.map{ case (trail, index) =>
            @fragments.items.standard(trail, index)
        }
    </ul>

</section>
