@(items: Seq[model.Trail], containerIndex: Int)(implicit request: RequestHeader, config: com.gu.facia.client.models.CollectionConfig)

@defining(
    items.filter(item => item.group == Some("0") || item.group == None),
    items.filter(_.group == Some("1")),
    items.filter(_.group == Some("2"))
) { case (standardItems, bigItems, veryBigItems) =>

    @if(veryBigItems.nonEmpty){
        <div class="headline-item headline-item--very-big u-faux-block-link">
            @fragments.items.standard(veryBigItems.head, 1, containerIndex, "div")
        </div>

        <div class="story-list-columns story-list-columns--standard-2-col">
            @bigItems.lift(0).zipWithIndex.map { case (trail, index) =>
                <div class="story-list-columns__item headline-item headline-item--big u-faux-block-link">
                    @fragments.items.standard(trail, index, containerIndex, "div")
                </div>
                <div class="story-list-columns__item">
                    @standardItems.slice(0, 3).zipWithIndex.map{ case(trail, i) =>
                        <div class="headline-item headline-item--standard" data-link-name="trail | @{index + 1}">
                            <a @LinkTo(trail).map{url=>href="@url"} class="headline-item__body" data-link-name="article">
                                <div class="headline-item__title">@RemoveOuterParaHtml(trail.headline)</div>
                            </a>
                        </div>
                    }
                </div>
            }
            @bigItems.lift(1).zipWithIndex.map{ case (trail, index) =>
                <div class="story-list-columns__item headline-item headline-item--big headline-item--no-image u-faux-block-link">
                    @fragments.items.standard(trail, index, containerIndex, "div")
                </div>
            }
            @defining(standardItems.drop(if(bigItems.nonEmpty) 3 else 0).slice(0, if(bigItems.nonEmpty) 4 else 10)) { items =>
                @items.zipWithIndex.map{ case (trail, index) =>
                    <div class="story-list-columns__item headline-item @if(trail.group == Some("1")){headline-item--big}else{headline-item--standard}" data-link-name="trail | @{index + 1}">
                        <a @LinkTo(trail).map{url=>href="@url"} class="headline-item__body" data-link-name="article">
                            <div class="headline-item__title">@RemoveOuterParaHtml(trail.headline)</div>
                        </a>
                    </div>
                }
            }
        </div>

    }else{
        <div class="headline-list-container">
            @defining(16 - bigItems.length * 4) { standardItemCount =>
                <ul class="story-list-columns story-list-columns--big story-list-columns--@bigItems.length-big">
                    @bigItems.zipWithIndex.map { case (trail, index) =>
                        <li class="story-list-columns__item headline-item headline-item--big u-faux-block-link">
                            @fragments.items.standard(trail, index, containerIndex, "div")
                        </li>
                    }
                </ul>

                <ul class="story-list-columns story-list-columns--standard story-list-columns--standard-@{standardItemCount/4}-col">
                    @standardItems.slice(0, standardItemCount).zipWithIndex.map{ case (trail, index) =>
                        <li class="story-list-columns__item headline-item headline-item--standard" data-link-name="trail | @{index + 1}">
                            <a @LinkTo(trail).map{url=>href="@url"} class="headline-item__body" data-link-name="article">
                                <div class="headline-item__title">@RemoveOuterParaHtml(trail.headline)</div>
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
    }
}
