@(items: Seq[Trail], style: MultimediaContainer, containerIndex: Int)(implicit request: RequestHeader)

<div class="collection-wrapper collection-wrapper--position-1">
    <ul class="unstyled l-row l-row--items-2 collection">
        @items.slice(0, 2).zipWithIndex.map{ case (trail, index) =>
            @fragments.collections.items.standard(trail, index, containerIndex)
        }
    </ul>
</div>
@defining(items.slice(2, 5)) { items =>
    @if(items.nonEmpty) {
        <div class="linkslist-container tone-@{style.tone}" data-tone="@style.tone">
            <ul class="l-columns linkslist">
                @items.zipWithIndex.map{ case (trail, index) =>
                    @trail match {
                        case l: LiveBlog if l.isLive         => { @fragments.items.linksList.live(l, index + 2) }
                        case g: Gallery                      => { @fragments.items.linksList.gallery(g, index + 2) }
                        case v: Video                        => { @fragments.items.linksList.video(v, index + 2) }
                        case c if VisualTone(c) == "comment" => { @fragments.items.linksList.comment(c, index + 2) }
                        case t                               => { @fragments.items.linksList.standard(t, index + 2) }
                    }
                }
            </ul>
        </div>
    }
}
