@(config: Config, collection: Collection, style: Style)(implicit request: RequestHeader)

<section class="collection collection--@style.className collection--@{config.section}-section js-collection--display-toggle"
         data-link-name="block | @collection.displayName.getOrElse(config.id)"
         data-collection-type="@style.className"
         data-section="@config.section">

    @Seq(config.displayName, collection.displayName).find(_.nonEmpty).map { title =>
        <h2 class="collection__title">@title</h2>
    }

    <ul class="unstyled items item-count-@collection.items.size js-items--show-more">
        @collection.items.zipWithIndex.map{ case (trail, index) =>
            @fragments.items.standard(trail, index)
        }
    </ul>

</section>
