@(items: Seq[model.Trail], style: views.support.PeopleContainer, containerIndex: Int)(implicit request: RequestHeader, config: com.gu.facia.client.models.CollectionConfig)

<div class="facia-slice-wrapper facia-slice-wrapper--position-1">
    <ul class="u-unstyled l-row l-row--items-3 facia-slice">
        @items.slice(0, 3).zipWithIndex.map{ case (trail, index) =>
            @fragments.collections.items.standard(trail, index, containerIndex)
        }
    </ul>
</div>

@defining(items.slice(3, 11)) { items =>
    @if(items.nonEmpty) {
        <div class="linkslist-container tone-@{style.tone} js-slice--ad-candidate">
            <ul class="l-columns linkslist">
                @items.zipWithIndex.map{ case (trail, index) =>
                    @fragments.items.linksList.trail(trail, index + 3, Some("boost"))
                }
            </ul>
        </div>
    }
}
@defining(items.slice(11, 31)) { items =>
    @if(items.nonEmpty) {
        <div class="linkslist-container js-container--show-more tone-@{style.tone}" data-tone="@style.tone">
            <ul class="l-columns linkslist">
                @items.zipWithIndex.map{ case (trail, index) =>
                    @fragments.items.linksList.trail(trail, index + 11, None)
                }
            </ul>
        </div>
    }
}
