@(popular: Seq[model.MostPopular], mostCards: Map[String,Option[layout.ContentCard]] = Map.empty, containerDefinition: Option[layout.FaciaContainer] = None, isFront: Boolean = false)(implicit request: RequestHeader)

@import common.Localisation
@import layout.FaciaCardHeader
@import views.html.fragments.items.elements.facia_cards.title
@import views.html.fragments.items.facia_cards.contentCard
@import views.support._
@import TrailCssClasses.toneClass
@import views.support.MostPopular.{isAdFree, showMPU, tabsPaneCssClass}
@import views.support.GetClasses
@import model.Pillar.RichPillar

@defining(popular.size > 1){ isTabbed =>
<div>
    @if(isTabbed){
    <div class="@if(isAdFree(containerDefinition) && isFront){tabs--mostpop--without-mpu}">
        <ol>
            @popular.zipWithRowInfo.map{ case (section, rowInfo) =>
            <li class="@if(rowInfo.isFirst){ tabs__tab--selected tone-colour tone-accent-border}"
                id="tabs-popular-@rowInfo.rowNum-tab"
                @if(rowInfo.isFirst){ aria-selected="true"}
                aria-controls="tabs-popular-@rowInfo.rowNum">
                <a href="#tabs-popular-@rowInfo.rowNum"
                   data-link-name="tab @rowInfo.rowNum @section.heading"><span class="u-h">Most viewed </span>@Html(Localisation(section.heading.stripPrefix("popular ")))</a>
            </li>
            }
        </ol>
        <div>
            }

            @popular.zipWithRowInfo.map{ case (section, rowInfo) =>
            <div id="tabs-popular-@rowInfo.rowNum"
                 class="@if(isTabbed){js-tab-@rowInfo.rowNum @if(!rowInfo.isFirst){modern-hidden}} @tabsPaneCssClass(containerDefinition)"
                 @if(isTabbed){
                 aria-labelledby="tabs-popular-@rowInfo.rowNum-tab"
                 }
                 data-link-name="@section.heading"
                 data-link-context="most-read/@section.section">

                <ul>
                    @section.trails.zipWithRowInfo.map{ case (trail, rowInfo) =>
                    <li class="@toneClass(trail)--most-popular fc-item--pillar-@trail.maybePillar.nameOrDefault">
                        <div data-link-name="@rowInfo.rowNum | text">
                            <span class="most-popular__number-@rowInfo.rowNum">
                                @fragments.inlineSvg(s"number-${rowInfo.rowNum}", "numbers")
                            </span>
                            <div class="headline-list__text">
                                @title(FaciaCardHeader.fromTrail(trail, None), 2, 2, "headline-list__body")
                                @trail.properties.maybeContent.map { content =>
                                @if(content.tags.tags.exists(_.id == "tone/news")) {
                                @fragments.contentAgeNotice(ContentOldAgeDescriber(content))
                                }
                                }
                            </div>
                        </div>
                    </li>
                    }
                </ul>
            </div>
            }
            @if(showMPU(containerDefinition) && isFront) {
            <div>
                showMPU(containerDefinition) && isFront is true
            </div>
            }
            @if(isTabbed) {
        </div>
    </div>
    }


    @mostCards.getOrElse("most_commented", None).map { mostCommented =>
    <div>
        <h2>Most Commented</h2>
        <div>
            @contentCard(mostCommented, 0, 0, "", false, false)
        </div>
    </div>
    }

    @mostCards.getOrElse("most_shared", None).map { mostShared =>
    <div>
        <h2>Most Shared</h2>
        <div>
            @contentCard(mostShared, 0, 0, "", false, false)
        </div>
    </div>
    }


</div>
}

