@(popular: Seq[model.MostPopular], mostCards: Map[String,Option[layout.ContentCard]] = Map.empty, containerDefinition: Option[layout.FaciaContainer] = None, isFront: Boolean = false)(implicit request: RequestHeader)

@import common.Localisation
@import layout.FaciaCardHeader
@import views.html.fragments.items.elements.facia_cards.title
@import views.html.fragments.items.facia_cards.simpleContentCard
@import views.support._
@import views.support.TrailCssClasses.toneClass
@import views.support.MostPopular.{isAdFree, showMPU, tabsPaneCssClass}
@import views.support.{GetClasses, RemoveOuterParaHtml}
@import model.Pillar.RichPillar

@defining(popular.size > 1){ isTabbed =>
    <div id="popular-trails" class="fc-slice fc-slice--most-popular" data-link-name="most popular Test" data-test-id="popular-in">
        @if(isTabbed) {
            <div class="tabs tabs--mostpop u-cf @if(isAdFree(containerDefinition) && isFront){tabs--mostpop--without-mpu}">
                <ol class="tabs__container js-tabs" id="js-popular-tabs" role="tablist">
                @popular.zipWithRowInfo.map{ case (section, info) =>
                <li class="tabs__tab--most-popular@if(info.isFirst){ tabs__tab--selected}" role="tab" id="tabs-popular-@info.rowNum-tab"@if(info.isFirst){ aria-selected="true"} aria-controls="tabs-popular-@info.rowNum">
                    <a href="#tabs-popular-@info.rowNum" data-link-name="tab @info.rowNum @section.heading">
                        <span class="u-h">Most viewed </span>@Html(Localisation(section.heading.stripPrefix("popular ").stripPrefix("Most viewed ")))
                    </a>
                </li>
                }
                </ol>
                <div class="tabs__content js-tabs-content">
                }

        @popular.zipWithRowInfo.map{ case (section, info) =>
        <div id="tabs-popular-@info.rowNum"
        class="@if(isTabbed){js-tab-@info.rowNum @if(!info.isFirst){modern-hidden}} @tabsPaneCssClass(containerDefinition) u-cf"
            @if(isTabbed){
                role="tabpanel"
                aria-labelledby="tabs-popular-@info.rowNum-tab"
            }
        data-link-name="@section.heading"
        data-link-context="most-read/@section.section">

            <ul class="u-unstyled most-popular">
            @section.trails.zipWithRowInfo.map{ case (trail, info) =>
                @defining(FaciaCardHeader.fromTrail(trail, None)) { header =>
                    <li class="most-popular__item @toneClass(trail)--most-popular fc-item--pillar-@trail.maybePillar.nameOrDefault">
                        <div class="most-popular__link" data-link-name="@info.rowNum | text">
                            <span class="most-popular__number most-popular__number--@info.rowNum">
                            @fragments.inlineSvg(s"number-${info.rowNum}", "numbers")
                            </span>
                            <div class="most-popular__headline">
                                @title(header, 2, 2, "headline-list__body")
                                @trail.properties.maybeContent.map { content =>
                                    @if(content.tags.tags.exists(_.id == "tone/news") || content.tags.tags.exists(_.id == "tone/comment")) {
                                        @fragments.contentAgeNotice(ContentOldAgeDescriber(content))
                                    }
                                }
                            </div>
                        </div>
                        <a href="@header.url.get(request)" class="u-faux-block-link__overlay js-headline-text" data-link-name="article" tabindex="-1" aria-hidden="true">@RemoveOuterParaHtml(header.headline)</a>
                    </li>
                }
            }
        </ul>
        </div>
        }
        @if(showMPU(containerDefinition) && isFront) {
            <div class="fc-slice__popular-mpu fc-slice__item--mpu-candidate">
            </div>
        }
        @if(isTabbed) {
        </div>
        </div>
        }

    <div class="most-popular__second-tier">
        @mostCards.getOrElse("most_commented", None).map { mostCommented =>
        <div class="second-tier__item">
            @simpleContentCard(mostCommented, 0, 0, "", false, false)
        </div>
        }

        @mostCards.getOrElse("most_shared", None).map { mostShared =>
        <div class="second-tier__item">
            @simpleContentCard(mostShared, 0, 0, "", false, false)
        </div>
        }
    </div>


</div>
}
