@(items: Seq[model.Trail], style: views.support.Container)(implicit request: RequestHeader)

@defining(items.splitAt(6)) {
    case (visible, hidden) => {
        <div class="linkslist-container--without-top-border tone-@{style.tone}">
            <ul class="l-columns linkslist linkslist--with-images linkslist--without-top-borders">
            @visible.zipWithIndex.map { case (trail, index) =>
                @fragments.items.linksList.trail(trail, index, Some("boost"))
            }
            </ul>
        </div>
        @if(hidden.nonEmpty) {
            <div class="linkslist-container js-container--show-more tone-@{style.tone}" data-tone="@style.tone">
                <ul class="l-columns linkslist">
                @hidden.zipWithIndex.map { case (trail, index) =>
                    @fragments.items.linksList.trail(trail, index + 6, None)
                }
                </ul>
            </div>
        }
    }
}


