@(config: Config, collection: Collection, style: Container, containerIndex: Int, showSize: Int = 4)(implicit request: RequestHeader)

<ul class="unstyled l-row l-row--items-2 v3-collection">
    @collection.items.slice(0, 1).zipWithIndex.map{ case (trail, index) =>
        <li class="l-row__item v3-collection__item v3-collection__item--volume-2">
            @fragments.items.standard(trail, index, containerIndex, "div")
        </li>
    }
    @collection.items.slice(1, 2).zipWithIndex.map{ case (trail, index) =>
        <li class="l-row__item v3-collection__item">
            @fragments.items.standard(trail, index, containerIndex, "div")
        </li>
    }
</ul>
<ul class="unstyled l-row l-row--items-3 v3-collection">
    @collection.items.slice(2, 5).zipWithIndex.map{ case (trail, index) =>
        <li class="l-row__item v3-collection__item">
            @fragments.items.standard(trail, index, containerIndex, "div")
        </li>
    }
</ul>
<ul class="unstyled l-row l-row--items-4 v3-collection">
    @collection.items.slice(5, 9).zipWithIndex.map{ case (trail, index) =>
        <li class="l-row__item v3-collection__item">
            @fragments.items.standard(trail, index, containerIndex, "div")
        </li>
    }
</ul>
<ul class="l-columns linkslist">
    @collection.items.slice(9, 22).zipWithIndex.map{ case (trail, index) =>
        <li class="l-columns__item linkslist__item">
            <a href="@LinkTo{@trail.url}" class="linkslist__action">
                @RemoveOuterParaHtml(trail.headline)
            </a>
        </li>
    }
</ul>