$c-primary-footer-background: guss-colour(guardian-brand);
$c-primary-footer-background-side-bar: mix($c-primary-footer-background, #ffffff, 90%);

/* Elements modifiers specific to the footer
   ========================================================================== */

.guardian-logo-footer {
    margin-top: $gs-baseline * .75;
    float: right;
    line-height: 0;
}


/* Footer
   ========================================================================== */

.l-footer {
    margin-top: $gs-baseline*3;
    padding: 0 0 ($gs-baseline/3)*4;
    background: $c-neutral6;

    .hide-in-footer {
        display: none !important;
    }

    .global-navigation__section:nth-of-type(2) .global-navigation__title {
        border-top: 0;
    }

    .js-off & {
        .navigation--collapsed {
            height: auto;
        }

        .navigation__expandable {
            display: block;
        }

        .navigation__inner {
            display: none;
        }
    }
    .control__info {
        display: inline-block;
    }
}

.site-message--footer {
    position: relative;
    z-index: 1;
    background-color: $c-primary-footer-background-side-bar;
    border-bottom: 1px solid #ffffff;

    .site-message__inner {
        background-color: $c-brandBlue;
    }
}

.l-footer__primary {
    position: relative;
    overflow: hidden;
    background: $c-primary-footer-background-side-bar;
}


.l-footer__secondary {
    @include box-sizing(border-box);
    @include font($f-data, normal, 13, 19);
    color: lighten($c-neutral2, 15%);
    padding: ($gs-baseline/3)*5 $gs-gutter/2 ($gs-baseline/3);

    @include mq(mobileLandscape) {
        padding-left: $gs-gutter;
        padding-right: $gs-gutter;
    }
    @include mq(tablet) {
        padding-top: ($gs-baseline/3)*2;
    }

    a {
        color: darken($c-neutral2, 3%); // Enhance contrast on non-white background
    }
}
.colophon {
    list-style: none;
    margin: 0 0 $gs-baseline;

    @include mq(tablet) {
        float: right;
        width: gs-span(4);
        margin-left: gs-span(1);
    }
    @include mq(desktop) {
        width: gs-span(6);
    }
    @include mq(wide) {
        width: gs-span(8);
    }

    a {
        margin-bottom: .6em;
        display: block;
    }
}
.colophon__item {
    float: left;
    width: 50%;
    @include box-sizing(border-box);
    padding-right: $gs-gutter/2;

    @include mq($to: desktop) {
        &:nth-child(even) {
            padding-right: 0;
            padding-left: $gs-gutter/2;
        }
    }

    @include mq(desktop) {
        width: gs-span(2);
        padding-left: 0;
        margin-right: $gs-gutter;
    }
    @include mq(desktop, wide) {
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    @include mq(wide) {
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
}

.l-footer__misc {
    border-top: 1px solid lighten($c-neutral2, 40%);
    padding-top: $gs-baseline/3 - 1;

    @include mq(tablet) {
        padding-top: 0;
        border-top: 0;
    }
}

.really-serious-copyright {
    margin-bottom: $gs-baseline/3;
}
