/* Global header and navigation
   ========================================================================== */

$servicesToggleArrowSize: 5px;

.l-header {
    position: relative;
    z-index: 1051; // On top of Google "Adchoices" label which has z-index: 1050

    @include mq(tablet) {
        background: $c-neutral8;
        border-bottom: 2px solid $c-brandBlue;
    }
    @include mq(wide) {
        .has-page-skin & .gs-container {
            @include rem((
                width: gs-span(12) + ($gs-gutter*2)
            ));
        }
    }
}

.logo-wrapper {
    position: relative;
    float: right;
    @include rem((
        margin: $gs-baseline/4 $gs-gutter/2 $gs-baseline 0
    ));

    i {
        display: block;
    }

    @include mq(mobileLandscape) {
        @include rem((
            margin-right: $gs-gutter
        ));
    }
    @include mq(tablet) {
        @include rem((
            margin-top: 7px
        ));

        &:after {
            content: 'beta';
            position: absolute;
            top: 48px;
            left: 128px;
            font-size: 13px;
        }
    }
}

.logo-wrapper--observer {
    &:after {
        display: none;
    }
}


/* Pre-header
   ========================================================================== */

.l-header-pre {
    float: left;
    min-width: gs-span(2);
    z-index: 3;
    position: relative;

    @include mq(tablet) {
        float: none;
        background: $c-neutral8;
    }
}
.l-header-pre__inner {
    @include box-sizing(border-box);
    @include rem((
        padding-left: $gs-gutter/2,
        padding-right: $gs-gutter/2
    ));

    @include mq(mobileLandscape) {
        @include rem((
            padding-left: $gs-gutter,
            padding-right: $gs-gutter
        ));
    }
}
.l-preheader__editions {
    float: left;
    @include rem((
        width: gs-span(3)
    ));
}
.editions {
    @include fs-header(1);
}
.editions,
.editions__title,
.edition__item,
.edition {
    padding: 0;
    margin: 0;
    display: inline-block;
}
.editions__title {
    font-weight: normal;
}
.editions__title,
.edition {
    @include rem((
        padding: $gs-baseline/2 $gs-gutter/4
    ));
}
.edition__item {
    color: $c-brandLightBlue;

    & + .edition__item {
        @include rem((
            margin-left: $gs-gutter/4
        ));
    }
}
.edition {
    text-decoration: none;
    margin: 0;
}
a.edition {
    &:hover,
    &:focus {
        color: $c-brandLightBlue;
        text-decoration: none;
    }
}

.guardian-services {
    @include fs-header(1);
    @include rem((
        padding: $gs-baseline/2 0
    ));
}
.guardian-services__action {
    @include fs-headline(1);
    display: block;
    text-decoration: none;
    margin: 0;
    color: $c-neutral1;
    cursor: pointer;
    @include rem((
        line-height: $headerHeight
    ));
}
.guardian-services__action__arrow {
    display: inline-block;
    pointer-events: none;
    width: 0;
    height: 0;
    border-bottom: 0 solid transparent;
    @include rem((
        margin: 2px,
        border-left: $servicesToggleArrowSize solid transparent,
        border-right: $servicesToggleArrowSize solid transparent,
        border-top: $servicesToggleArrowSize solid $c-neutral1
    ));
}
.guardian-services__item-more--collapsed .guardian-services__item--more-menu {
    display: none;
}
.guardian-services__item-more--expanded {
    position: relative;
    background: $c-new-navigation-base;

    .guardian-services__action {
        color: $c-local-navigation-action;
    }
    .guardian-services__action__arrow {
        border-top: 0 solid transparent;
        @include rem((
            border-bottom: $servicesToggleArrowSize solid $c-local-navigation-action
        ));
    }
}
.guardian-services__item--more-menu {
    @include box-sizing(border-box);
    position: absolute;
    background: $c-new-navigation-base;
    margin: 0;
    padding: 0;
    right: 0;
    list-style: none;
    @include rem((
        top: $headerHeight,
        padding: 0 $gs-gutter/2,
        width: gs-span(2)
    ));
    @include mq(desktop) {
        @include rem((
            width: gs-span(3)
        ));
    }
}

/* Main header (logo, actions)
   ========================================================================== */

.l-header-main {
    position: relative;
    z-index: 2;
}
