$headerHeight: 58px;

/* Global wrapper
   ========================================================================== */

#preloads {
    @include gs-container;
    clear: both;
    margin-top: $headerHeight;

    @include mq(tablet) {
        margin-top: 104px;
    }
}


/* Global header and navigation
   ========================================================================== */

#header.js-site-message {
    @include mq(tablet) {
        top: auto
    }
}

#header {
    min-height: $headerHeight;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050; // On top of Google "Adchoices" label which has z-index: 1040…

    /* These styles extend the top bars to the screen edges */
    @include mq(tablet) {
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            z-index: -10;
        }

        &:before {
            top: 0;
            height: $headerHeight;
            background-color: $c-brandBlue;
        }

        &:after {
            top: $headerHeight;
            height: 40px;
            background-color: $c-neutral7;
            border-bottom: 1px solid $c-neutral5;
        }
    }
}
    .header__inner {
        background-color: $c-brandBlue;
        height: 60px;
    }

.guardian-logo-wrapper {
    float: left;
    margin: 20px 0 18px $gs-gutter/2;

    i {
        display: block;
    }

    @include mq(mobileLandscape) {
        margin-left: $gs-gutter;
    }
}


/* Columning
   ========================================================================== */

.monocolumn-wrapper {
    padding-left: $gs-gutter / 2;
    padding-right: $gs-gutter / 2;

    @include mq(mobileLandscape) {
        padding-left: $gs-gutter;
        padding-right: $gs-gutter;
    }

    .page-head,
    .page__sub-head {
        margin-left: 0;
        margin-right: 0;
    }
}

@include mq(tablet) {
    .monocolumn-wrapper {
        max-width: gs-span(8);
        margin-left: auto;
        margin-right: auto;
    }
    .monocolumn-wrapper--no-limit {
        max-width: none;
    }
}


/* Layout helpers
   ========================================================================== */

/**
 * @todo Should these be moved to helpers?
 */

.component {
    margin-bottom: 20px;
}

.box-indent {
    padding: 0 $gs-gutter/2 $baseline*1;

    @include mq(mobileLandscape) {
        padding-left: $gs-gutter;
        padding-right: $gs-gutter;
    }
}


.img--inline{
    width: $inArticleInlineImgWidth;
    float: left;
    clear: left;
    margin: 3px $gs-gutter 0 0;

    @include mq(mobileLandscape) {
        width: gs-span(2);
    }

    figcaption {
        word-wrap: break-word;
    }
}

.img-tiny.img--inline {
    width: auto;
    max-width: $inArticleInlineImgWidth;
}


/* Preloads (for swipe)
   ========================================================================== */

#preloads-inner {
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
}

.preload {
    @include transform(translateZ(0));
}

.has-swipe {
    .preload {
        position: absolute;
        width: 100%;
    }

    #preload-0 {left: -100%;}
    #preload-1 {left:     0;}
    #preload-2 {left:  100%;}
}


/* Ajax loading helpers
   ========================================================================== */

.preload-msg {
    padding: 50px 50px 250px 50px;
    text-align: center;
}

.preload-msg .is-updating {
    display: block;
    margin: 10px auto;
}
