/**
 * Position pseudo elements on left and right of the content
 * 
 * $container-width {Number} - width of the content
 * 
 * @output pseudo element with left/right offset
 */

@mixin side-margins-position($container-width) {
    $negative-offset: (($container-width + $gs-gutter * 2) / 2) * -1;

    &:before {
        @include rem((
            left: $negative-offset
        ));
    }
    &:after {
        @include rem((
            right: $negative-offset
        ));
    }
}


/* Site borders on left and right of the content
   ========================================================================== */

.l-side-margins {
    overflow: hidden;
    position: relative;

    @include mq(tablet) {
        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            z-index: 1;
            background: rgba($c-neutral4, .2);
            top: 0;
            height: 100%;
            width: 50%;
        }
        @include side-margins-position(gs-span(9));
    }
    @include mq(desktop) {
        @include side-margins-position(gs-span(12));
    }
    @include mq(wide) {
        @include side-margins-position(gs-span(16));

        .has-page-skin & {
            &:before,
            &:after {
                display: none;
            }
        }
    }
}
.l-side-margins--layout-front {
    @include mq(faciaLeftCol, wide) {
        @include side-margins-position(gs-span(14));
    }
}
.l-side-margins--layout-content {
    @include mq(tablet, desktop) {
        @include side-margins-position(gs-span(8));
    }
    @include mq(rightCol, leftCol) {
        &:before,
        &:after {
            display: none;
        }
    }
    @include mq(leftCol, wide) {
        @include side-margins-position(gs-span(14));
    }
}
