@inArticleInlineImgWidth: 114px;




/* end LESS vars/mixins */

#container {
    margin: 10px;
}

.component {
    margin-bottom: 20px;
}

.inline-image {
	width: @inArticleInlineImgWidth;
	float: left;
	margin: 0;
	margin-right: 10px;
	margin-bottom: 15px;
    margin-top: 3px;
}

.img-extended {
    padding-top: 3px; /* using padding not margin to avoid margin collapse bug */
    margin-bottom: 15px;
}