@(idUrlBuilder: services.IdentityUrlBuilder, idRequest: services.IdentityRequest, user: com.gu.identity.model.User, accountDetailsForm: Form[form.AccountFormData])(implicit request: RequestHeader, messages: play.api.i18n.Messages)

@import views.html.fragments.form.{inputField, textareaField}
@import form.IdFormHelpers._
@import form.Input
@import model.Countries
@import org.joda.time.DateTime.now
@import helper._

<form class="form js-account-details-form" novalidate action="@idUrlBuilder.buildUrl("/account/edit", idRequest)" role="main" method="post">
    @views.html.helper.CSRF.formField

    @if(accountDetailsForm.globalError.isDefined) {
        <div class="form__error">@accountDetailsForm.globalErrors.map(_.message).mkString(", ")</div>
    }

    <fieldset class="fieldset">
        <div class="form__note">These details will only be visible to you and the Guardian.</div>
    </fieldset>

    <fieldset class="fieldset">

        <div class="fieldset__heading">
            <h2 class="form__heading">Contact information</h2>
        </div>

        <div class="fieldset__fields">
            <ul class="u-unstyled">

                @inputField(Input(accountDetailsForm("primaryEmailAddress"), ('_label, "Email address"),
                    Symbol("data-test-id") -> "email-address"))

                <li class="form-field form-field--email-validation">
                    @if(user.statusFields.userEmailValidated.getOrElse(false)){
                        @fragments.inlineSvg("status-ok", "icon")
                        <p class="form__note">Your email address has been validated.</p>
                    }else{
                        @fragments.inlineSvg("status-alert", "icon")
                        <p class="form__note">
                            Please confirm your email address to post comments.<br />
                            <a class="js-id-send-validation-email" data-link-name="Resend verification email">Send validation email</a>
                        </p>
                    }
                </li>
            </ul>
        </div>

    </fieldset>

    <fieldset class="fieldset">

        <div class="fieldset__heading">
            <h2 class="form__heading">Personal information</h2>
        </div>

        <div class="fieldset__fields">
            <ul class="u-unstyled">

                @inputField(Input(accountDetailsForm("firstName"), ('_label, "First name"), Symbol("data-test-id") -> "first-name"))
                @inputField(Input(accountDetailsForm("secondName"), ('_label, "Last name"), Symbol("data-test-id") -> "last-name"))
                @select(
                    accountDetailsForm("gender"),
                    List(("Male", "Male"), ("Female", "Female"), ("Transgender", "Transgender"), ("unknown", "Prefer not to say")),
                    ('_label, "Gender"),
                    ('_default, "")
                )

                <li class="form-field form-fields__inline form-fields--date-of-birth">
                    <span class="form-fields__heading">Date of birth</span>
                    <ul class="u-unstyled">
                        @if(accountDetailsForm("birthDate").hasErrors) {
                            <div class="form__error">@accountDetailsForm("birthDate").errors.map(_.message).mkString(", ")</div>
                        }
                        @select(
                            accountDetailsForm("birthDate.day"),
                            options((1 to 31).toList map {_.toString}),
                            ('_label, "Day"),
                            ('_showConstraints, false),
                            ('_default, "")
                        )
                        @select(
                            accountDetailsForm("birthDate.month"),
                            options((1 to 12).toList map {_.toString}),
                            ('_label, "Month"),
                            ('_showConstraints, false),
                            ('_default, "")
                        )
                        @select(
                            accountDetailsForm("birthDate.year"),
                            options((1850 to now.getYear).reverse.toList map {_.toString}),
                            ('_label, "Year"),
                            ('_showConstraints, false),
                            ('_default, "")
                        )
                    </ul>
                </li>
            </ul>
        </div>
    </fieldset>

    <fieldset class="fieldset">
        <div class="fieldset__heading">
            <h2 class="form__heading">Delivery address</h2>
        </div>

        <div class="fieldset__fields">
            <ul class="u-unstyled">
                @inputField(Input(accountDetailsForm("address.line1"), ('_label, "Address line 1"), (Symbol("data-test-id"), "addr-line-1")))
                @inputField(Input(accountDetailsForm("address.line2"), ('_label, "Address line 2"), (Symbol("data-test-id"), "addr-line-2")))
                @inputField(Input(accountDetailsForm("address.line3"), ('_label, "Town"), (Symbol("data-test-id"), "addr-town")))
                @inputField(Input(accountDetailsForm("address.line4"), ('_label, "County or State"), (Symbol("data-test-id"), "addr-county")))
                @inputField(Input(accountDetailsForm("address.postcode"), ('_label, "Postcode/Zipcode"), (Symbol("data-test-id"), "addr-postcode")))
                @select(
                    accountDetailsForm("address.country"),
                    ("", "None") :: (Countries.all map {c => (c, c)}),
                    ('_label, "Country"),
                    ('_default, ""), (Symbol("data-test-id"), "addr-country")
                )
            </ul>
        </div>
    </fieldset>

    @if(user.privateFields.billingAddress1) {

        <fieldset class="fieldset">
            <div class="fieldset__heading">
                <h2 class="form__heading">Billing address</h2>
            </div>

            <div class="fieldset__fields">
                <ul class="u-unstyled">
                    @inputField(Input(accountDetailsForm("billingAddress.line1"), ('_label, "Address line 1"), (Symbol("data-test-id"), "addr-line-1")))
                    @inputField(Input(accountDetailsForm("billingAddress.line2"), ('_label, "Address line 2"), (Symbol("data-test-id"), "addr-line-2")))
                    @inputField(Input(accountDetailsForm("billingAddress.line3"), ('_label, "Town"), (Symbol("data-test-id"), "addr-town")))
                    @inputField(Input(accountDetailsForm("billingAddress.line4"), ('_label, "County or State"), (Symbol("data-test-id"), "addr-county")))
                    @inputField(Input(accountDetailsForm("billingAddress.postcode"), ('_label, "Postcode/Zipcode"), (Symbol("data-test-id"), "addr-postcode")))
                    @select(
                        accountDetailsForm("billingAddress.country"),
                        ("", "None") :: (Countries.all map {c => (c, c)}),
                        ('_label, "Country"),
                        ('_default, ""), (Symbol("data-test-id"), "addr-country")
                    )
                </ul>
            </div>
        </fieldset>
    }

    <fieldset class="fieldset">
        <div class="fieldset__heading"></div>
        <div class="fieldset__fields">
            <button type="submit" class="submit-input" data-link-name="Create account" data-test-id="save-changes">Save changes</button>
        </div>
    </fieldset>


</form>
