<div class="manage-account-tab js-mem-tab" data-sprite-url="@Static("stylesheets/membership-icons.css")">
    <div class="manage-account-loader js-mem-loader">
        <span class="is-updating show-updating"></span>
    </div>
    <div id="qa-success-message" class="form__success is-hidden js-mem-card-change-success-msg">Your card details have been updated</div>
    @fragments.profile.membershipForm.cancelled()
    @fragments.profile.membershipForm.changed()
    @fragments.profile.membershipForm.details()
    @fragments.profile.membershipForm.upsell()
</div>
