@(idUrlBuilder: services.IdentityUrlBuilder,
  idRequest: services.IdentityRequest,
  user: com.gu.identity.model.User,
  privacyForm: Form[form.PrivacyFormData])(implicit request: RequestHeader, messages: play.api.i18n.Messages)

@import views.html.fragments.form.checkboxField
@import views.html.fragments.registrationFooter
@import form.IdFormHelpers.{Checkbox, nonInputFields}
@import helper._
@import org.joda.time.DateTime
@import idapiclient.parser.JodaJsonSerializer
@import com.gu.identity.model.ConsentData

@*
    WARNING!!

    Make sure you are testing bounds

    [IndexOutOfBoundsException: 0]
    <input type="hidden" name=@(consent.name + ".consentIdentifier") value=@(user.consents.toList(consentIndex).consentIdentifier)>
*@

@v2ConsentCheckbox(index: Int, consentIdentifier: String, consentIdentifierVersion: Int) = {

    <input type="hidden" name=@("consents[" + index + "].actor") value='user'>
    <input type="hidden" name=@("consents[" + index + "].consentIdentifier") value=@consentIdentifier>
    <input type="hidden" name=@("consents[" + index + "].consentIdentifierVersion") value=@consentIdentifierVersion>
    <input type="hidden" name=@("consents[" + index + "].timestamp") value=@getCurrentTime>
    <input type="hidden" name=@("consents[" + index + "].privacyPolicy") value=@com.gu.identity.model.ConsentData.privacyPolicyVersion>

    @checkboxField(
        Checkbox(
            privacyForm("consents[" + index + "].hasConsented"),
            '_label -> ConsentData.allConsents(consentIdentifier)(consentIdentifierVersion)
        )
    )(nonInputFields, messages)
}

@getCurrentTime = {
    @JodaJsonSerializer.dateTimeFormatISO8601.print(new DateTime)
}

@* If the user has not yet set V2 consent *@
@v2consentCheckboxesOnboarding = {
    @v2ConsentCheckbox(0, "firstParty", ConsentData.allConsents("firstParty").indices.last)
    @v2ConsentCheckbox(1, "thirdParty", ConsentData.allConsents("thirdParty").indices.last)
    @v2ConsentCheckbox(2, "thirdPartyProfiling", ConsentData.allConsents("thirdPartyProfiling").indices.last)
}

@* If user has set V2 consent before *@
@v2consentCheckboxesFromApiUser = {
  @helper.repeatWithIndex(privacyForm("consents"), min=1) { (consent, consentIndex) =>
    @v2ConsentCheckbox(
        consentIndex,
        user.consents(consentIndex).consentIdentifier,
        user.consents(consentIndex).consentIdentifierVersion)
  }
}

<form class="form js-public-profile-form" novalidate action="@idUrlBuilder.buildUrl("/privacy/edit", idRequest)" role="main" method="post">
    @views.html.helper.CSRF.formField

    @* This also displays globalErrors *@
    @if(privacyForm.hasErrors) {
        <div class="form__error">
          Error processing the form. Your changes have not been saved:
          <p>@privacyForm.errors.map(formError => (formError.key, formError.message)).mkString(", ")</p>
        </div>
    }

    @* Newsletters *@
    <fieldset class="fieldset">
        <div class="fieldset__heading">
            <h2 class="form__heading">Newsletters</h2>
        </div>

        <div class="fieldset__fields">
            <ul class="u-unstyled">
                <li class="form-field">
                    <label class="label">Click <a href=@idUrlBuilder.buildUrl("/email-prefs")>here</a> to manage your email subscriptions to editorial newsletters.</label>
                </li>
            </ul>
        </div>
    </fieldset>

    @* Marketing Consent *@
    <fieldset class="fieldset">

        <div class="fieldset__heading">
            <h2 class="form__heading">Marketing</h2>
        </div>

        <div class="fieldset__fields">
            <ul class="u-unstyled">
                <li class="form-field">
                    <label class="label">Would you like to receive information from the Guardian and their partners?</label>
                    <div class="form-field__note">The Guardian and their partners would like to occasionally send you information about their products, services and events.</div>

                    <div class="form-fields-group">
                        @if(user.consents.isEmpty) {
                            @v2consentCheckboxesOnboarding
                        } else {
                            @v2consentCheckboxesFromApiUser
                        }
                    </div>
                </li>
            </ul>
        </div>
    </fieldset>

    @* Submit button *@
    <fieldset class="fieldset">
        <div class="fieldset__heading"></div>
        <div class="fieldset__fields">
            <ul class="u-unstyled">
                <li>
                    <button type="submit" class="submit-input" data-link-name="Save privacy preferences">Save changes</button>
                </li>
            </ul>
        </div>

    </fieldset>
</form>

@registrationFooter(idRequest, idUrlBuilder)
