@(idUrlBuilder: services.IdentityUrlBuilder,
  idRequest: services.IdentityRequest,
  user: com.gu.identity.model.User,
  privacyForm: Form[_root_.form.PrivacyFormData])(implicit request: RequestHeader, messages: play.api.i18n.Messages)

@import views.html.fragments.form.checkboxField
@import views.html.fragments.registrationFooter
@import _root_.form.IdFormHelpers.{Checkbox, nonInputFields}
@import com.gu.identity.model.ConsentData

@v2ConsentCheckbox(consentField: Field) = {

    @* hidden input fields *@
    @helper.inputText(consentField("actor"), 'type -> "hidden")(nonInputFields, messages)
    @helper.inputText(consentField("consentIdentifier"), 'type -> "hidden")(nonInputFields, messages)
    @helper.inputText(consentField("consentIdentifierVersion"), 'type -> "hidden")(nonInputFields, messages)
    @helper.inputText(consentField("timestamp"), 'type -> "hidden")(nonInputFields, messages)
    @helper.inputText(consentField("privacyPolicy"), 'type -> "hidden")(nonInputFields, messages)

    @checkboxField(
        Checkbox(
            consentField("hasConsented"),
            '_label -> getConsentText(consentField)
        )
    )(nonInputFields, messages)
}

@v2consentCheckboxes = {
  @helper.repeat(privacyForm("consents"), min=1) { consentField => @v2ConsentCheckbox(consentField) }
}

@getConsentText(consentField: Field) = {
    @ConsentData.getText(
        consentField("consentIdentifier").value.getOrElse("unknownConsent"), // OrElse will never execute as there is always a default
        consentField("consentIdentifierVersion").value.getOrElse("0").toInt)
}

<form class="form js-public-profile-form" novalidate action="@idUrlBuilder.buildUrl("/privacy/edit", idRequest)" role="main" method="post">
    @views.html.helper.CSRF.formField

    @* This displays both global and key-bound errors *@
    @if(privacyForm.hasErrors) {
        <div class="form__error">
          Error processing the form. Your changes have not been saved:
          <p>@privacyForm.errors.map(formError => (formError.key, formError.message)).mkString(", ")</p>
        </div>
    }

    @* Newsletters *@
    <fieldset class="fieldset">
        <div class="fieldset__heading">
            <h2 class="form__heading">Newsletters</h2>
        </div>

        <div class="fieldset__fields">
            <ul class="u-unstyled">
                <li class="form-field">
                    <label class="label">Click <a href=@idUrlBuilder.buildUrl("/email-prefs")>here</a> to manage your email subscriptions to editorial newsletters.</label>
                </li>
            </ul>
        </div>
    </fieldset>

    @* Marketing Consent *@
    <fieldset class="fieldset">

        <div class="fieldset__heading">
            <h2 class="form__heading">Marketing</h2>
        </div>

        <div class="fieldset__fields">
            <ul class="u-unstyled">
                <li class="form-field">
                    <label class="label">Would you like to receive information from the Guardian and their partners?</label>
                    <div class="form-field__note">The Guardian and their partners would like to occasionally send you information about their products, services and events.</div>

                    <div class="form-fields-group">
                        @v2consentCheckboxes
                    </div>
                </li>
            </ul>
        </div>
    </fieldset>

    @* Submit button *@
    <fieldset class="fieldset">
        <div class="fieldset__heading"></div>
        <div class="fieldset__fields">
            <ul class="u-unstyled">
                <li>
                    <button type="submit" class="submit-input" data-link-name="Save privacy preferences">Save changes</button>
                </li>
            </ul>
        </div>

    </fieldset>
</form>

@registrationFooter(idRequest, idUrlBuilder)
