<div class="social-fixed__container" data-component="static-social">
    <a href='{{fbUrl}}' class='social-fixed social-fixed--facebook' target='_blank' data-link-name='social facebook static'>
        <i class="i-share-facebook--white i"></i>
        <div class="share-text">Share</div>
    </a>
    <a href='{{twUrl}}' class='social-fixed social-fixed--twitter' target='_blank' data-link-name='social twitter static'>
        <i class="i-share-twitter--white i"></i>
        <div class="share-text">Tweet</div>
    </a>
</div>
