// these styles are scoped to flexbox support,
// becuase we don't want to apply the other non-flex
// changes if we cannot re-orient the card

@supports (display: flex) {
    .pc-card--media-top {
        flex-direction: column;
    }

    .pc-card--media-left {
        flex-direction: row;
    }

    .pc-card--media-right {
        flex-direction: row-reverse;
    }

    .pc-card--media-3-1 {
        .pc-media-container {
            flex-basis: 75%;
            padding-bottom: percentage($image-ratio * 0.75);
        }
    }

    .pc-card--media-1-1 {
        .pc-media-container {
            flex-basis: 50%;
            padding-bottom: percentage($image-ratio * 0.5);
        }
    }

    .pc-card--media-140 {
        .pc-media-container {
            flex-basis: 140px;
            padding-bottom: $image-ratio * 140px;
        }
    }
}

// we'll apply this regardless of flexbox support.
// should provide a sense of priority where support is lacking.
.pc-card--no-media {
    .pc-media-container {
        display: none;
    }
}
.pc-card--no-kicker {
    .pc-kicker {
        display: none;
    }
}

.pc-card--no-standfirst {
    .pc-headline {
        flex: 1;
        padding-bottom: 0;
    }

    .pc-standfirst {
        display: none;
    }
}

.pc-card--no-sublinks {
    .pc-sublinks {
        display: none;
    }
}
