/*
 * Temporary form for feedback on the desktop navigation
 */

.feedback-form {
    order: 5;
    font-size: 14px;
    line-height: 18px;
    color: $neutral-1;
    position: relative;
    bottom: $gs-baseline;
    margin-bottom: 0;
    padding: $gs-baseline / 2 $gs-gutter / 4 $gs-baseline / 2 35px;
    background-color: $multimedia-main-2;
    box-sizing: border-box;

    @include mq(wide) {
        width: gs-span(3);
        position: absolute;
        right: $gs-gutter;

        .has-page-skin & {
            width: auto;
            position: relative;
            right: auto;
        }
    }
}

.feedback-form__link {
    color: $neutral-1;
    font-weight: 600;
    text-decoration: underline;
}

.feedback-form__icon {
    fill: $neutral-1;
    margin-right: $gs-gutter / 4;
    position: absolute;
    top: $gs-baseline / 4;
    left: $gs-gutter / 4;

    @include mq(wide) {
        top: $gs-baseline / 2;
    }
}

.feedback-form__icon__svg {
    height: 24px;
    width: 24px;
}
