.logo {
    padding-top: $gs-baseline / 2;
    padding-bottom: $gs-baseline / 2;
    margin-left: auto;
}

.logo__svg {
    display: block;
    height: calc(3 / 16 * 170px);
    padding-right: $gs-gutter / 2;
    width: 170px;

    @include mq(mobileMedium) {
        height: calc(3 / 16 * 225px);
        width: 225px;
    }

    @include mq(mobileLandscape) {
        height: calc(3 / 16 * 260px);
        margin-right: $gs-gutter / 2;
        padding-top: ($gs-baseline / 2);
        width: 260px;
    }

    @include mq(tablet) {
        height: calc(3 / 16 * 400px);
        width: 400px;
    }
}
