.menu-group {
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 0 $gs-baseline;

    @include mq(desktop) {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    [aria-expanded='false'] ~ & {
        @include mq($until: desktop) {
            display: none;
        }
    }
}

.menu-group--primary {
    @include clearfix();
    color: $news-support-1;
    padding-top: 0;

    @include mq(desktop) {
        flex-direction: row;
        flex-wrap: nowrap;
        order: 1;
    }
}

.menu-group--secondary {
    background-color: darken($guardian-brand-dark, 4%);
    margin-top: 0;
    padding-top: 0;

    @include mq(desktop) {
        background-color: transparent;
        padding-bottom: 0;
        width: 100%;
    }
}

.menu-group--membership,
.menu-group--editions {
    @include mq($until: desktop) {
        color: $guardian-brand-dark;
        background-color: $news-main-2;
    }
}

.menu-group--membership {
    padding-bottom: 0;
    position: relative;

    @include mq($from: desktop, $until: leftCol) {
        border-top: 1px solid $guardian-brand;
        flex-wrap: nowrap;
        width: 100%;
    }

    @include mq(desktop) {
        flex-direction: row;
        order: 3;
        padding-bottom: 0;
        padding-top: $gs-baseline;
        width: 100%;
    }

    @include mq(leftCol) {
        border-left: 2px solid $guardian-brand;
        flex-direction: column;
        margin-left: 0;
        padding-left: $gs-gutter / 2 - 1;
        // substracting the border-width, otherwise it breaks in Safari
        width: gs-span(2) + $gs-gutter / 2 - 2;
        position: absolute;
        right: 0;
        top: 0;

        @supports(display: flex) {
            position: relative;
            right: auto;
            top: auto;
        }
    }

    @include mq(wide) {
        width: gs-span(3) + $gs-gutter / 2 - 2;

        .has-page-skin & {
            border-top: 1px solid $guardian-brand;
            border-left-width: 0;
            flex-wrap: nowrap;
            flex-direction: row;
            width: 100%;
            padding-left: 0;
        }
    }
}

.menu-group--editions {
    padding-bottom: 0;

    .menu-group {
        color: $guardian-brand-dark;
        background-color: darken($news-main-2, 10%);
    }
}

.menu-group--membership-actions {
    @include mq($until: desktop) {
        background-color: darken($news-main-2, 10%);
        color: $guardian-brand-dark;
    }

    @include mq(desktop) {
        color: #ffffff;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.menu-group--footer {
    @include mq(desktop) {
        color: $news-support-1;
        position: absolute;
        right: $gs-gutter;
        top: 0;
        width: gs-span(2);

        @supports(display: flex) {
            order: 2;
            position: relative;
            right: auto;
            top: auto;
        }
    }

    @include mq(leftCol) {
        margin-right: $gs-gutter / 2;
        right: gs-span(2) + $gs-gutter * 1.5;

        @supports(display: flex) {
            right: auto;
        }
    }

    @include mq(wide) {
        margin-right: gs-span(1) + $gs-gutter * 1.5;

        .has-page-skin & {
            margin-right: 0;
        }
    }
}

.menu-group--search {
    @include mq(desktop) {
        margin-right: $gs-gutter;
        order: 4;
        width: gs-span(8);
    }
}
