.menu-item {
    position: relative;
    width: 100%;

    > *[data-link-name='nav2 : the guardian app'],
    > *[data-link-name='nav2 : facebook'] {
        border-top: 1px solid darken($guardian-brand-dark, 4%);
        margin-top: $gs-baseline * 2;
    }

    // First level overwrites
    .menu-group--primary & {
        > *:not([open]) {
            border-bottom: 1px solid darken($guardian-brand-dark, 4%);
        }

        &:last-child > * {
            border-bottom: 0;
        }
    }
}

.menu-item__title {
    color: currentColor;
    cursor: pointer;
    display: block;
    font-size: 20px;
    outline: none;
    padding-bottom: 8px;
    padding-right: $veggie-burger-medium / 2 + $gs-gutter / 2;
    padding-top: 8px;
    user-select: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    // only for Chrome/ Safari - FF looses the marker via display: block
    &::-webkit-details-marker {
        display: none;
    }

    // only match the ones, which are not in --secondary
    .menu-group--primary > .menu-item > * > & {
        font-size: 24px;
        padding-bottom: 16px;
        padding-top: $gs-baseline / 2;
    }
}

.menu-item__icon,
.menu-item__toggle {
    color: $news-support-2;
    position: absolute;
}

.menu-item__toggle {
    left: -25px;
    margin-top: -4px;

    details[open] & {
        margin-top: 2px;
    }

    &:before {
        border: 2px solid currentColor;
        border-top: 0;
        border-left: 0;
        content: '';
        display: inline-block;
        height: 8px;
        transform: rotate(45deg);
        width: 8px;

        details[open] & {
            transform: rotate(-135deg);
        }
    }
}

.menu-item__icon {
    left: -28px;

    .inline-icon__svg {
        fill: currentColor;
    }

    .inline-home__svg {
        height: 16px;
        width: 16px;
    }

    .inline-share-facebook__svg,
    .inline-share-twitter__svg {
        margin-left: -6px;
        margin-top: -5px;
    }
}
