.pillars {
    color: $news-support-1;
    list-style: none;
    margin: 0;
    padding: 0 $gs-gutter / 2;
    width: 100%;

    @include mq(mobileLandscape) {
        padding-left: $gs-gutter;
        padding-right: $gs-gutter;
    }
}

.pillars__item {
    display: inline-block;

    > *:after {
        content: '/';
        color: $news-main-2;
        display: inline-block;
        line-height: 1;
        margin-left: -2px;
        margin-right: -2px;
        pointer-events: none;
    }

    &:last-child > *:after {
        display: none;
    }
}
