.subnav {
    background-color: #ffffff;
    border-bottom: 1px solid $neutral-5;
    color: $neutral-1;
    height: $veggie-burger-medium - $gs-baseline;
    overflow: hidden;
    padding: 0 $gs-gutter / 2;

    @include mq(mobileLandscape) {
        padding: 0;
    }

    @include mq(tablet) {
        height: 42px;
    }

    .l-footer & {
        border-top: 1px solid $neutral-5;
    }
}

// TODO: reset list-style mixin
.subnav__list {
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;

    @include mq(mobileLandscape) {
        padding-left: $gs-gutter;
        padding-right: $gs-gutter;
    }

    @include mq(desktop) {
        padding-right: $gs-column-width * 3;
    }
}

.subnav__item {
    display: block;
    float: left;

    @include mq($until: tablet) {
        // Hides all but the first 2 subnav items and doesn't hide the more button
        &:nth-child(1n+3):not(:last-child) {
            display: none;
        }

        // TODO: Update logic with a class on <ul> that will allow active subnav items to be shown
    }
}
