.subnav-link {
    @include fs-textSans(5);
    color: $neutral-1;
    display: block;
    font-size: 15px;
    height: $veggie-burger-medium - $gs-baseline;
    line-height: $veggie-burger-medium - $gs-baseline;
    padding: 0 7px;
    position: relative;

    @include mq($from: mobileMedium, $until: tablet) {
        font-size: 17px;
    }

    @include mq(tablet) {
        height: 42px;
        line-height: 42px;
        padding: 0 ($gs-gutter / 2 + $gs-gutter / 4) 0 ($gs-gutter / 4);
    }

    &:after {
        border-bottom: 1px solid $neutral-5;
        bottom: -1px;
        content: '';
        left: 7px;
        position: absolute;
        right: -9999px;
    }

    &:hover,
    &:focus {
        color: $guardian-brand;
        text-decoration: none;
    }
}

.subnav-link--toggle-more {
    background: transparent;
    border: 0;
    color: $neutral-2;
    padding-right: $gs-gutter / 3;

    &:hover,
    &:focus {
        color: $neutral-2;
        outline: 0;
    }
}

.subnav-link--current-section {
    font-weight: 700;
    color: $guardian-brand;
}
