// Specific values for veggie-burger and menu
$gutter-small: 29px;
$gutter-medium: 37px;
$gutter-large: 55px;
$gutter-xlarge: 80px;
$gutter-xxlarge: 103px;

$menu-spacing-left-small: $gs-gutter * 2 + $gs-gutter / 2;
$menu-spacing-left-medium: $gs-gutter * 2 + $gs-gutter;

$search-and-edition-height-desktop: 42px;
