.veggie-burger-fallback {
    display: none;

    &:checked {
        & ~ .menu {
            @include mq($until: desktop) {
                @include menu-animation(0%);
            }

            @include mq(desktop) {
                display: block;
            }
        }

        & ~ .menu__overlay {
            @include mq($until: desktop) {
                opacity: 1;
                width: 100%;
            }
        }
    }
}
