@(messageType: controllers.cache.ImageDecacheController.MessageType = controllers.cache.ImageDecacheController.DefaultMessage, image: String = "", originImage: Option[String] = None)
@import controllers.cache.ImageDecacheController

@admin_main("Clear image", "PROD", isAuthed = true) {

    <h1>Clear image</h1>

    <div>
    @messageType match {
        case ImageDecacheController.DefaultMessage => {
            <p>
                Paste the url of the image you want to clear below. Include the entire url with all it's parameters, e.g.
                <code>
                http://i.guim.co.uk/img/media/50b199773ec0da712975ca57d3d091b595c5b14d/0_381_5760_3457/5760.jpg?w=605&q=85&auto=format&sharp=10&s=4d5f3f8b08f7475e51161145293f0f19
                </code>
            </p>
            <p>
                Works with images on <code>i.guim.co.uk</code>, <code>static.guim.co.uk</code> and <code>media.guim.co.uk</code>
            </p>

            <p>
            <span class="label label-default">NOTE</span> The original image must <i>first</i> be deleted from the
                "docroot" before this tool will be effective (this tool simply clears caches). This tool will warn you
                if the image is still on the "docroot", but this tool cannot remove images from the "docroot"
                (talk to the tools team). If the image is still on the docroot then the caches will simply be
                repopulated.
            </p>

        }

        case ImageDecacheController.ImageStillOnOrigin => {
            <p>
                <span class="label label-danger">Warning</span> Clear cache messages have been issued, <i>but the
                image is still on the "docroot"</i> so the caches will simply be repopulated. You need to remove the original
                image from the "docroot" and then clear again.
            </p>

            @originImage.map { origin =>
                <p> The original image URL is
                    <code>
                        @origin
                    </code>
                </p>
            }

        }

        case ImageDecacheController.Cleared => {
            <p>
                <span class="label label-success">Done</span> Clear cache messages have been issued, <i>NOTE</i> that
                this can take a minute or two (there are a number of 3rd parties that need to clear caches). If it has
                not cleared in 5 minutes give it another try.
            </p>
        }

        case ImageDecacheController.Error => {
            <p>
                <span class="label label-danger">Warning</span> There was an unknown error, please try again. If this
                persists please contact the development team.
            </p>
        }
    }
    </div>



    <form method="POST">
        <input class="img-url" name="url" type="text" value="@image" placeholder="http://i.guim.co.uk/img/static/xxxxx"/>
        <button type="submit">Clear</button>
    </form>
}
