@(containerModel: common.commercial.ContainerModel)

<div data-id="@containerModel.id">
    <p>A <em>@containerModel.metaData.layoutName</em> container</p>
    <h1><a href="@containerModel.content.targetUrl">@containerModel.content.title</a></h1>
    @for(description <- containerModel.content.description) {
        <p>@description</p>
    }

    @for(card <- containerModel.content.initialCardContents) {
        <div
            @if(containerModel.metaData.sponsorData == None) {
                @for(sponsorData <- card.sponsorData) {
                    @for(sponsor <- sponsorData.sponsor) {
                        data-sponsor="@sponsor"
                    }
                    data-sponsorship="@sponsorData.sponsorshipType"
                    @for(keywords <- sponsorData.keywordId) {
                        data-keywords="@keywords" }
                }
            }
        >
            <p><a href="@card.targetUrl">@Html(card.headline)</a></p>
            @for(description <- card.description) {
                <p>@Html(description)</p>
            }
            <img src="@card.imageUrl" />
        </div>
    }

</div>
