@(containerModel: common.commercial.ContainerModel)

<div class="adverts__row">
    <div class="adverts__column">
        @containerModel.content.fixed.initialCards.take(2).map(card => views.html.commercial.cards.itemLargeCard(card, optAdvertClassNames = Some(Seq("large--inverse", "large--thumbnail"))))
        @containerModel.content.fixed.initialCards.drop(2).take(2).map(card => views.html.commercial.cards.itemLargeCard(card, optAdvertClassNames = Some(Seq("large--inverse", "large--thumbnail")), optClassNames = Some(Seq("hide-until-tablet"))))
    </div>
    @containerModel.content.fixed.initialCards.drop(4).take(1).map(card => views.html.commercial.cards.itemCard(card, optClassNames = Some(Seq("hide-until-tablet"))))
</div>
