@(containerModel: common.commercial.ContainerModel)

<div class="adverts__row adverts__row--3x1">
    @containerModel.content.fixed.initialCards.take(1).map(card => views.html.commercial.cards.itemLargeCard(card, Some(Seq("large--1x2"))))
    @containerModel.content.fixed.initialCards.drop(1).take(1).map(card => views.html.commercial.cards.itemCard(card))
</div>
<div class="adverts__row hide-until-tablet">
    @containerModel.content.fixed.initialCards.drop(2).take(4).map(card => views.html.commercial.cards.itemCard(card))
</div>
<div class="adverts__row hide-until-tablet">
    <div class="adverts__column">
        @containerModel.content.fixed.initialCards.drop(6).take(2).map(card => views.html.commercial.cards.itemSmallCard(card))
    </div>
    <div class="adverts__column">
        @containerModel.content.fixed.initialCards.drop(8).take(2).map(card => views.html.commercial.cards.itemSmallCard(card))
    </div>
    <div class="adverts__column">
        @containerModel.content.fixed.initialCards.drop(10).take(2).map(card => views.html.commercial.cards.itemSmallCard(card))
    </div>
    <div class="adverts__column">
        @containerModel.content.fixed.initialCards.drop(12).take(2).map(card => views.html.commercial.cards.itemSmallCard(card))
    </div>
</div>
