@(frontId: String,
  containerIndex: Int,
  containerModel: common.commercial.ContainerModel)(implicit request: RequestHeader)

@import common.{Edition, LinkTo}
@import views.html.commercial.containerWrapper
@import views.html.commercial.containers._
@import views.html.fragments.inlineSvg
@import views.support.commercial.TrackingCodeBuilder.mkInteractionTrackingCode

<div data-id="@containerModel.id" class="fc-container@if(containerModel.isSingleSponsorContainer){ js-sponsored-container}"
    @for(branding <- containerModel.branding){
        data-sponsorship="@branding.sponsorshipType"
        @for(sponsor <- branding.sponsor){ data-sponsor="@sponsor" }
        @for(keywordId <- branding.keywordId){ data-keywords="@keywordId" }
        @for(seriesId <- branding.seriesId){ data-series="@seriesId"}
    }
    >
    @containerWrapper(
        Seq("legacy", "capi", "tone-capi"),
        optKicker = Some(fragments.commercial.paidForMeta(Some(containerModel.id))),
        optStamp = Some(stamp),
        optBadge = if(containerModel.isSingleSponsorContainer){ Some(logoSlot) } else { None }
    ){

        <a class="adverts__logo u-text-hyphenate" href="@containerModel.content.targetUrl">@containerModel.content.title</a>

    }{

        @containerModel.layoutName match {
            case "fixed/small/slow-I"            => { @fixedSmallSlowI(frontId, containerIndex, containerModel) }
            case "fixed/small/slow-III"          => { @fixedSmallSlowIII(frontId, containerIndex, containerModel) }
            case "fixed/small/slow-IV"           => { @fixedSmallSlowIV(frontId, containerIndex, containerModel) }
            case "fixed/small/slow-V-half"       => { @fixedSmallSlowVHalf(frontId, containerIndex, containerModel) }
            case "fixed/small/slow-V-third"      => { @fixedSmallSlowVThird(frontId, containerIndex, containerModel) }
            case "fixed/small/fast-VIII"         => { @fixedSmallFastVIII(frontId, containerIndex, containerModel) }
            case "fixed/medium/slow-VI"          => { @fixedMediumSlowVI(frontId, containerIndex, containerModel) }
            case "fixed/medium/slow-VII"         => { @fixedMediumSlowVII(frontId, containerIndex, containerModel) }
            case "fixed/medium/fast-XI"          => { @fixedMediumFastXI(frontId, containerIndex, containerModel) }
            case "fixed/medium/fast-XII"         => { @fixedMediumFastXII(frontId, containerIndex, containerModel) }
            case "fixed/large/slow-XIV"          => { @fixedLargeSlowXIV(frontId, containerIndex, containerModel) }
            case "dynamic/fast"                  => { @dynamicFast(frontId, containerIndex, containerModel) }
            case "dynamic/slow"                  => { @dynamicSlow(frontId, containerIndex, containerModel) }
            case "dynamic/package"               => { @dynamicPackage(frontId, containerIndex, containerModel) }
            case _ => {
            }
        }

        @if(containerModel.content.showMoreCards != Nil && containerModel.content.showMoreCards.length > 0){
            <details class="adverts__more">
                <summary class="button button--medium button--primary button--show-more">
                    @fragments.inlineSvg("plus", "icon")
                    @fragments.inlineSvg("minus", "icon")
                    More @containerModel.content.title
                </summary>
                <div class="adverts__row adverts__row--wrap">
                    @containerModel.content.showMoreCards.map(card => views.html.commercial.cards.itemSmallCard(
                                            card,
                                            omnitureId = mkInteractionTrackingCode(frontId, containerIndex, containerModel, card),
                                            useCardBranding = !containerModel.isSingleSponsorContainer))
                </div>
            </details>
        }

    }
</div>

@stamp = {

    <a @if(Edition(request).id == "AU") {
            href="@LinkTo("/guardian-labs-australia")"
        } else {
            href="@LinkTo("/guardian-labs")"
        }
        >
        @inlineSvg("glabs-logo", "logo")
        <span class='u-h'>Guardian Labs</span>
    </a>

}

@logoSlot = {<div class="js-badge-placeholder"></div>}
