@(model: TablesPage)(implicit request: RequestHeader)
@import support._

@main(model.page, Static, Configuration, Switches.all){
}{

    <h2 class="article-zone type-2 sport-header">
        <a class="zone-color" data-link-name="article section" href="/football">Football</a>
    </h2>

    <h1 class="type-3 js-collapsible collapsible box-indent football-filter" data-toggle-panel="js-football-league-list">@model.page.webTitle <span><i class="icon-filter-arrow-down js-visible"></i></span></h1>

    @fragments.filters(model.filters, model.page, "tables")

    <ol class="competitions football-table-container unstyled box-indent" data-link-name="tables">
        @model.tables.map{ table =>

        <li class="league-table">

            <a class="competition-title football-table-header football-table-link type-3" href="@table.competition.url" data-link-name="competition">
                @table.competition.fullName
                <i class="icon-filter-arrow-right"></i>
            </a>

            <table class="table-football type-6a">
                <thead>
                    @fragments.tableColumnHeaders()
                </thead>

                @table.groups.map{ group =>
                <tbody>
                    @group.round.map { round =>
                        @round.name.map { name =>
                            <tr>
                                <th colspan="20" class="type-6a">@name</th>
                            </tr>
                            @* we repeat this nav for group tables *@
                            @fragments.tableColumnHeaders()
                        }
                    }

                    @group.entries.zipWithRowInfo.map{ case (entry, row) =>
                    <tr>
                        <td class="table-football-leftaligned">@row.rowNum</td>
                        <td class="table-football-leftaligned">@entry.team.name</td>
                        <td>@entry.team.total.played</td>

                        <td class="stats-3">@entry.team.home.won</td>
                        <td class="stats-3">@entry.team.home.drawn</td>
                        <td class="stats-3">@entry.team.home.lost</td>
                        <td class="stats-3">@entry.team.home.goalsFor</td>
                        <td class="stats-3">@entry.team.home.goalsAgainst</td>

                        <td class="stats-3">@entry.team.away.won</td>
                        <td class="stats-3">@entry.team.away.drawn</td>
                        <td class="stats-3">@entry.team.away.lost</td>
                        <td class="stats-3">@entry.team.away.goalsFor</td>
                        <td class="stats-3">@entry.team.away.goalsAgainst</td>

                        <td class="stats-1">@entry.team.total.won</td>
                        <td class="stats-1">@entry.team.total.drawn</td>
                        <td class="stats-1">@entry.team.total.lost</td>

                        <td class="stats-2">@entry.team.total.goalsFor</td>
                        <td class="stats-2">@entry.team.total.goalsAgainst</td>

                        <td>@entry.team.goalDifference</td>
                        <td>@entry.team.points</td>
                    </tr>
                    }
                </tbody>
                }
            </table>

            @if(!model.singleCompetition) {
                <a href='@{table.competition.url + "/table"}' data-link-name='full table' class="football-table-link cta type-6a">View full table <i class="icon-filter-arrow-right"></i></a>
            }
        
        </li>
        }
    </ol>
    
    @fragments.footballNav(model.urlBase, model.comp.map(c => c.fullName), model.comp.map(c => c.url))

    <div id="js-popular"></div> 

}