$fc-item-gutter: $gs-gutter / 4;

/* Garnett items
   ==========================================================================
*/

@mixin fc-item--horizontal($media-width, $media-align: right) {

    .fc-item__image-container {
        box-sizing: border-box;
        padding-left: $gs-gutter * .25;
    }

    // IE10/11 ignore boxsizing on flex-basis'd element.
    // Option is extra wrapping div or this slightly overblow selector.
    .fc-item__content {
        position: relative;

        > * {
            box-sizing: border-box;
            padding-right: $gs-gutter * .25;
        }
    }

    .fc-item__container {
        flex-wrap: wrap;
        @if $media-align == right {
            flex-direction: row-reverse;
        } @else {
            flex-direction: row;
        }
    }

    .fc-item__media-wrapper {
        flex-basis: $media-width;
    }

    .fc-item__content {
        flex-basis: (100% - $media-width);
        // DAMN YOU IE10/11 FLEXWRAP BOX SIZING BUG
        max-width: (100% - $media-width);
    }

    .fc-item__footer--horizontal {
        flex-basis: 100%;
    }

    &.fc-item--has-no-image .fc-item__content {
        flex-basis: 100%;
        max-width: 100%;
        padding-right: gs-span(3);
    }
}

.fc-item {
    @include mq($until: tablet) {
        width: 100%;
        padding-left: $fc-item-gutter * 2;
        padding-right: $fc-item-gutter * 2;
        box-sizing: border-box;
    }

    @include mq(tablet) {
        flex: 1 1 auto;
        display: flex;
        margin-left: $fc-item-gutter * 2;
        margin-right: $fc-item-gutter * 2;
    }

    a {
        color: inherit;
    }

    .u-faux-block-link & a,
    .u-faux-block-link & abbr[title],
    .u-faux-block-link__promote {
        &.fc-item__link {
            z-index: 0;
        }

        @include mq($until: desktop) {
            z-index: initial;
        }
    }

    .u-faux-block-link--hover,
    .fc-item__image-container {
        background-color: $neutral-6;

        .fc-slice--nav-list--media & {
            background-color: inherit;
        }
    }

    .u-faux-block-link--hover {
        .youtube-media-atom,
        .fc-item__image-container {
            background-color: #000000;
            opacity: .9;
        }

        .u-faux-block-link__cta {
            text-decoration: none;
        }
    }
}

.fc-item__container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        z-index: 2;
    }
}

// Wraps all media elements
.fc-item__media-wrapper {
    box-sizing: border-box;
}

// Wraps all non-media content
.fc-item__content {
    box-sizing: border-box;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding-left: $fc-item-gutter;
    padding-right: $fc-item-gutter;
}

.fc-item__header,
.item__title,
.rich-link__header {
    @include fs-headline(3);
    font-weight: 500;
    padding-bottom: .5em;

    .fc-item--has-boosted-title & {
        @include fs-headline(4, true);
    }
}

.fc-item__title,
.fc-item__byline,
.fc-item__kicker,
.rich-link__byline,
.rich-link__title,
.rich-link__kicker {
    font: inherit;
    line-height: inherit;
}

.fc-item__title {
    padding-top: $gs-gutter/4;
    padding-bottom: 0;
    word-wrap: break-word;
    overflow: hidden;
}

.fc-item__kicker,
.fc-sublink__kicker,
.rich-link__kicker {
    &:hover:after {
        text-decoration: none;
    }
}

.fc-item__header {
    flex: 1 1 auto;

    .inline-icon {
        display: none;
    }
}

.fc-item__kicker {
    position: relative;
    padding-right: $gs-gutter / 6;
    margin-right: $gs-gutter / 4;

    // hides kicker if it exceeds 1 line in height
    &:before {
        content: '';
        position: absolute;
        width: 1px;
        top: 0;
        right: 0 - $gs-gutter / 6;
        bottom: 1.3em;
        z-index: -1;
    }

    &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 2em;
        right: 0 - $gs-gutter / 6;
        bottom: $gs-gutter / 10;
        z-index: -2;
    }
}

.fc-item__byline {
    margin-bottom: 0;
}

.fc-item__standfirst-wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: $gs-gutter * .25;
}

.fc-item__standfirst {
    @include fs-headline(1);
    color: $neutral-2;
    display: none;
    flex: 1 1 auto;
    padding-right: $gs-gutter * .25;

    .fc-item--has-boosted-title & {
        display: none !important;
    }
}

.fc-item__link {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.fc-item__meta {
    @include fs-textSans(1);
    color: $neutral-2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .inline-icon {
        fill: $neutral-3;
    }

    a {
        // make sure meta links always clickable,
        // even on mobile/tablet
        z-index: 1 !important;
    }
}

.fc-trail__count {
    display: flex;
}

.fc-trail__count .inline-icon {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    float: left;
    margin-right: 1px;
}

.fc-item__footer--horizontal {
    display: none;
}

.fc-item--has-cutout .fc-item__media-wrapper {
    // We never want to show the media and the cutout at the same time, hence the important
    display: none !important;
}

.fc-item--has-cutout .fc-item__content {
    z-index: 1;
}

.fc-item__avatar {
    position: absolute;
    overflow: hidden;
    width: 100%;
    bottom: 0;
    right: 0;
}

.fc-item__avatar__media {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;

    .responsive-img {
        position: absolute;
        height: 100%;
        bottom: 0;
        right: 0;
    }

    &.image--portrait {
        top: 0;
        height: auto;
        width: 80%;

        .responsive-img {
            position: absolute;
            height: auto;
            width: 100%;
            bottom: auto;
        }
    }
}

.fc-item__kicker--dreamsnap {
    display: none;
}

.fc-item__timestamp {
    white-space: nowrap;
}

// Common media card styles
.fc-item--type-video,
.fc-item--type-audio,
.fc-item--type-gallery {
    background-color: $media-garnett-main-1;

    .fc-item__content {
        justify-content: space-between;
    }

    .fc-item__header,
    .fc-item__standfirst {
        flex: 0 1 auto;
    }

    .fc-item__kicker {
        background-color: $media-garnett-main-1;

        &::before {
            background-color: $media-garnett-main-1;
        }
    }

    .fc-item__headline {
        color: #ffffff;
    }

    .fc-item__meta-wrapper {
        flex: 0 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: $gs-baseline / 2;
        padding-bottom: $gs-baseline / 2;

    }

    .fc-item__media-meta,
    .fc-item__meta {
        flex: 0 0 auto;
    }

    .fc-item__standfirst {
        color: #ffffff;
    }

    .fc-item__media-meta,
    .fc-item__meta {
        @include fs-textSans(1);
        font-weight: 600;
    }

    .fc-trail__count--commentcount {
        color: #ffffff;

        svg {
            fill: #ffffff;
        }
    }

    // darken on hover
    &:hover,
    .u-faux-block-link--hover {
        background-color: darken($media-garnett-main-1, 5%);

        .fc-item__kicker,
        .fc-item__container::before {
            background-color: darken($media-garnett-main-1, 5%);
        }
    }

    .fc-sublink__link {
        color: #ffffff;
    }

}
