$pillars: (
    news: (
        cardBackground: $neutral-7,
        lines: $news-garnett-main-1,
        kicker: $news-garnett-main-1,
        headline: $garnett-neutral-1,
        featureHeadline: $news-garnett-feature,
        byline: $news-garnett-main-1,
        commentCount: $garnett-neutral-2,
        headlineIcon: $news-garnett-main-1,
        metaText: $garnett-neutral-3,
        cutoutBackground: $news-garnett-main-1
    ),
    opinion: (
        cardBackground: $neutral-7,
        lines: $opinion-garnett-main-1,
        kicker: $opinion-garnett-main-1,
        headline: $garnett-neutral-1,
        featureHeadline: $opinion-garnett-feature,
        byline: $opinion-garnett-main-1,
        commentCount: $garnett-neutral-2,
        headlineIcon: $opinion-garnett-main-1,
        metaText: $garnett-neutral-3,
        cutoutBackground: $opinion-garnett-main-1
    ),
    sport: (
        cardBackground: $neutral-7,
        lines: $sport-garnett-main-1,
        kicker: $sport-garnett-main-1,
        headline: $garnett-neutral-1,
        featureHeadline: $sport-garnett-feature,
        byline: $sport-garnett-main-1,
        commentCount: $garnett-neutral-2,
        headlineIcon: $sport-garnett-main-1,
        metaText: $garnett-neutral-3,
        cutoutBackground: $sport-garnett-feature
    ),
    arts: (
        cardBackground: $neutral-7,
        lines: $arts-garnett-main-1,
        kicker: $arts-garnett-main-1,
        headline: $garnett-neutral-1,
        featureHeadline: $arts-garnett-feature,
        byline: $arts-garnett-main-1,
        commentCount: $garnett-neutral-2,
        headlineIcon: $arts-garnett-main-1,
        metaText: $garnett-neutral-3,
        cutoutBackground: $arts-garnett-main-1
    ),
    lifestyle: (
        cardBackground: $neutral-7,
        lines: $lifestyle-garnett-main-1,
        kicker: $lifestyle-garnett-main-1,
        headline: $garnett-neutral-1,
        featureHeadline: $lifestyle-garnett-feature,
        byline: $lifestyle-garnett-main-1,
        commentCount: $garnett-neutral-2,
        headlineIcon: $lifestyle-garnett-main-1,
        metaText: $garnett-neutral-3,
        cutoutBackground: $lifestyle-garnett-feature
    )
);

@mixin colours($palette) {
    $cardBackground: map-get($palette, cardBackground);
    $darkerCardBackground: darken($cardBackground, 3%);
    $headline: map-get($palette, headline);
    $lines: map-get($palette, lines);

    background-color: $cardBackground;

    &:hover {
        background-color: $darkerCardBackground;

        .fc-item__kicker {
            &:before {
                background-color: $darkerCardBackground;
            }
        }
    }

    .fc-item__headline {
        color: $headline;
    }

    .fc-item__byline {
        color: map-get($palette, byline);
    }

    .fc-item__kicker {
        color: map-get($palette, kicker);;

        &:before {
            background-color: $cardBackground;
        }

        &:after {
            background-color: $lines;
        }
    }

    .fc-item__standfirst {
        color: $headline;
    }

    .fc-item__sublinks {
        color: $headline;
    }

    .inline-icon {
        color: map-get($palette, headlineIcon);
    }

    .fc-item__meta {
        color: map-get($palette, metaText);
    }

    .fc-item__container {
        &:before {
            background-color: $lines;
        }
    }

    & .fc-item--type-feature {
        .fc-item__headline {
            color: map-get($palette, featureHeadline);
        }
    }
}

@each $pillar, $palette in $pillars {    
    .fc-item--pillar-#{$pillar} {
        @include colours($palette);
    }
}
