@(page: model.MetaData)( implicit request:RequestHeader)
@import conf.Configuration
@import common.AnalyticsHost
@import views.support.OmnitureAnalyticsData
@import conf.{Static,Switches}

@defining(s"${request.host}${request.path}") { path =>

    @defining(
        s"${AnalyticsHost()}/b/ss/${Configuration.javascript.pageData("guardian.page.omnitureAccount")}/1/H.25.3/?${OmnitureAnalyticsData(page, "No Javascript", path)}"
    ){ omnitureCall =>
            <noscript id="omnitureNoScript">
                <div>
                    <img id="omnitureNoScriptImage" alt=""
                         src="@Html(omnitureCall)" width="1" height="1" class="u-h" />
                    @if(Switches.OmnitureConfidenceNoJsSwitch.isSwitchedOn) {
                        <img id="omnitureConfidenceNoScriptImage" alt=""
                             src="@{Configuration.debug.beaconUrl}/count/pva.gif" width="1" height="1" class="u-h" />
                    }
                </div>
            </noscript>
    }

    @defining(
        s"${AnalyticsHost()}/b/ss/${OmnitureAnalyticsAccount(page)}/1/H.25.3/?${OmnitureAnalyticsData(page, "Partial Javascript", path)}"
    ){ omnitureCall =>
        <script>
            @*
            //    we do not run our javascript on some browsers, hence analytics will not run.
            //    this does a minimal tracking for those devices
             *@
            if (!guardian.isModernBrowser) {
                var analyticsImage = document.createElement("img");
                analyticsImage.src = "@Html(omnitureCall)";
                analyticsImage.width = "1";
                analyticsImage.height = "1";
                document.body.appendChild(analyticsImage);

                @*
                // this is used to sanity check our analytics calls
                *@
                var img = new Image();
                img.src = "@{Configuration.debug.beaconUrl}/count/pva.gif";

                var s = document.createElement('script'),
                        sc = document.getElementsByTagName('script')[0];

                s.src = '@Static("javascripts/bootstraps/ophan.js")';
                s.aysnc = true;
                sc.parentNode.insertBefore(s, sc);
            }
        </script>
    }
}

@* google remarketing fallback *@
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/971225648/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<img src="@Configuration.debug.beaconUrl/count/pv.gif" alt="" style="display : none ;" rel="nofollow"/>
