@(page: model.MetaData)( implicit request:RequestHeader)
@import conf.Configuration
@import conf.Switches.OmnitureVerificationSwitch

@*<!-- TODO temporary till after dotcom switch -->*@
@defining("hits.theguardian.com"){ analyticsHost =>

    @defining(request.host + request.path) { path =>

        @defining(
        (s"http://$analyticsHost/b/ss/${Configuration.javascript.pageData("guardian.page.omnitureAccount")}/1/H.25.3/?${OmnitureAnalyticsData(page, "No Javascript", path)}",
        Configuration.javascript.pageData("guardian.page.omnitureAccount"))
        ){ case (omnitureCall, omnitureAccount) =>
                <noscript id="omnitureNoScript">
                    <div>
                        <img id="omnitureNoScriptImage" alt=""
                             src="@Html(omnitureCall)" width="1" height="1" class="u-h" />
                    </div>
                </noscript>
        }

        @defining(
            s"http://$analyticsHost/b/ss/${Configuration.javascript.pageData("guardian.page.omnitureAccount")}/1/H.25.3/?${OmnitureAnalyticsData(page, "Partial Javascript", path)}"
        ){ omnitureCall =>
                <script>
                    @*
                    //    we do not run our javascript on some browsers, hence analytics will not run.
                    //    this does a minimal tracking for those devices
                     *@
                    if (!guardian.isModernBrowser) {
                        var analyticsImage = document.createElement("img");
                        analyticsImage.src = "@Html(omnitureCall)";
                        analyticsImage.width = "1";
                        analyticsImage.height = "1";
                        document.body.appendChild(analyticsImage);

                        @* there is currently no SSL version of the beacon *@
                        @if(!Configuration.environment.secure){
                            @*
                            // this is used to sanity check our analytics calls
                            *@
                            var img = new Image();
                            img.src = "@{Configuration.debug.beaconUrl}/count/pva.gif";
                        }
                    }
                </script>
        }

        @if(OmnitureVerificationSwitch.isSwitchedOn) {
            @defining(
                s"http://$analyticsHost/b/ss/guardiangu-mobileverify/1/H.25.3/?${OmnitureAnalyticsData(page, "Partial Javascript", path)}"
            ){ omnitureCall =>
                <script>
                    var verificationImage = new Image(1, 1);
                    verificationImage.src = '@Html(omnitureCall)';
                </script>
            }
            @defining(
                s"http://$analyticsHost/b/ss/guardiangu-mobileverify/1/H.25.3/?${OmnitureAnalyticsData(page, "No Javascript", path)}"
            ){ omnitureCall =>
                <noscript id="omnitureVerificationNoScript">
                    <div>
                        <img id="omnitureVerificationNoScriptImage" alt=""
                        src="@Html(omnitureCall)" width="1" height="1" class="u-h" />
                    </div>
                </noscript>
            }
        }
    }
}

@* there is currently no SSL version of the beacon *@
@if(!Configuration.environment.secure){
    <img src="@Configuration.debug.beaconUrl/count/pv.gif" alt="" style="display: none;" rel="nofollow"/>
}
