@(page: model.MetaData)( implicit request:RequestHeader)
@import conf.Configuration
@import common.AnalyticsHost
@import views.support.{OmnitureAnalyticsData, OmnitureAnalyticsAccount}
@import conf.Static
@import conf.switches.Switches.NoBounceIndicator

@defining(s"${request.host}${request.path}") { path =>

    @defining(
        s"${AnalyticsHost()}/b/ss/${Configuration.javascript.pageData("guardian.page.omnitureAccount")}/1/H.25.3/?${OmnitureAnalyticsData(page, "No Javascript", path)}"
    ){ omnitureCall =>
            <noscript id="omnitureNoScript">
                <div>
                    <img id="omnitureNoScriptImage" alt=""
                         src="@Html(omnitureCall)" width="1" height="1" class="u-h" />
                    <img id="omnitureConfidenceNoScriptImage" alt=""
                         src="@{Configuration.debug.beaconUrl}/count/pva.gif" width="1" height="1" class="u-h" />
                </div>
            </noscript>
    }

        <script>
            @*
                Basic Omniture runs on both Core & 'Full experience'
                We just need to run Ophan here.
            *@

            if (!guardian.isModernBrowser) {
                var ophanScript = document.createElement('script'),
                        sc = document.getElementsByTagName('script')[0];

                ophanScript.src = '@Static("javascripts/bootstraps/ophan.js")';
                ophanScript.async = true;
                sc.parentNode.insertBefore(ophanScript, sc);
            }
        </script>
}

@* google remarketing fallback *@
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/971225648/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<img src="@Configuration.debug.beaconUrl/count/pv.gif" alt="" style="display : none ;" rel="nofollow"/>

@if(NoBounceIndicator.isSwitchedOn) {
    @* NOTE for removal - there is a corresponding entry in omniture.js *@
    <script type="text/javascript">

        @* Limit to "modern browsers" *@
        if (guardian.isModernBrowser) {
            try {
                @* sessionStorage is part of the isModernBrowser test *@
                var session = window.sessionStorage;

                @*
                    If this key is still present then the user went to a new page before Omniture ran
                    and we did not count the page view
                *@
                if (session.getItem('gu-bounce-test') === 'true') {
                    var img = new Image();
                    img.src = '@{Configuration.debug.beaconUrl}/count/user-navigated-early.gif';
                }

                session.setItem('gu-bounce-test', 'true');
            } catch (e) {};
        }
    </script>
}
