@(content: model.Article)(implicit request: RequestHeader)

@import conf.switches.Switches._

@if(ChapterHeadingsSwitch.isSwitchedOn && content.chapterHeadings.size > 2) {
    <div class="chapters">
        <h3 class="chapters__heading">Chapter guide</h3>
        <ol class="chapters__list">
            @content.chapterHeadings.map { case (linkId, linkText) =>
                <li class="chapters__list-item">
                    <a class="chapters__link tone-colour" href="#@linkId">
                        <span class="chapters__link-text">@linkText</span>
                    </a>
                </li>
            }
        </ol>
    </div>
}
