@()

<style type="text/css">
    @Html(Head.css)
    .i,.caption:before,figcaption:before { background-image: url(@Static("images/global/sprite.png")); }
</style>

<style class="initial" data-cache-name="WebEgyptial" data-cache-file-woff="@Static("fonts/WebEgyptian.woff.js")" data-cache-file-ttf="@Static("fonts/WebEgyptian.ttf.js")"></style>

<style class="initial" data-cache-name="WebEgyptianNav" data-cache-file-woff="@Static("fonts/WebEgyptianNav.woff.js")" data-cache-file-ttf="@Static("fonts/WebEgyptianNav.ttf.js")" data-min-width="600"></style>