@(projectName: Option[String])(implicit request: RequestHeader)
<!--[if (gt IE 8) | (IEMobile)]><!-->
@if(play.Play.isDev()) {
    <link rel="stylesheet" type="text/css" href="@Static("stylesheets/head" + projectName.map("." + _).getOrElse("") + ".css")" />
} else {
    <style type="text/css">
        @Html(Static.css.head(projectName))
    </style>
}
<!--<![endif]-->
<!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" type="text/css" href="@Static("stylesheets/webfonts.css")" />
    <link rel="stylesheet" type="text/css" href="@Static(Static.css.oldIePath)" />
<![endif]-->

@* any images in head need to go here (or they'll be relative to the page)} *@
<style type="text/css">
    .i,.caption:before,figcaption:before,blockquote.quoted:before { background-image: url(@Static("images/global/sprite.png")); }
    .is-updating { background-image: url(@Static("images/auto-update-activity.gif")); }
    .is-updating--dark { background-image: url(@Static("images/auto-update-activity-dark.gif")); }
    .tweet { background-image: url(@Static("images/twitter/bird.png")); }
    .svg .tweet { background-image: url(@Static("images/twitter/bird.svg")); }
</style>

<!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" type="text/css" href="@Static("stylesheets/old-ie.global.css")" />
<![endif]-->

<style class="initial" data-cache-name="WebEgyptian" data-cache-file-woff="@Static("fonts/WebEgyptian.woff.json")" data-cache-file-ttf="@Static("fonts/WebEgyptian.ttf.json")"></style>
<style class="initial" data-cache-name="WebAgateSans" data-min-width="980" data-cache-file-woff="@Static("fonts/WebAgateSans.woff.json")" data-cache-file-ttf="@Static("fonts/WebAgateSans.ttf.json")"></style>
