@(config: common.GuardianConfiguration, static: StaticAssets)

<script id="gu">

    var guardian = {};

    var require = {
        baseUrl: '@{config.static.path}javascripts',
        paths: {
            'common': '@static("javascripts/common.js")'
        }
    };

    // FIXME
    require.paths.common = require.paths.common.replace('.js', '');

    var script = document.createElement('script');
    script.async = 'async';
    script.src = '@static("javascripts/vendor/require-2.0.4.js")';
    script.onload = function() {

        define('config', function(app){
            return { 
                isModernBrowser: ('querySelector' in document && 'addEventListener' in window)
            };
        })

        require(['config', 'common'], function(config, common){
            console.log(common);
        });
    
    };
    
    document.getElementById('gu').parentNode.insertBefore(script);

</script>
