@(item: model.MetaData, curlPaths: Map[String, String] = Map())(implicit request: RequestHeader)

@import conf.Switches._
@import conf.Static
@import conf.Configuration

<!--[if lt IE 9]>
    <script src="@Static("javascripts/components/html5shiv/dist/html5shiv.js")"></script>
<![endif]-->

<style class="initial" data-cache-name="WebEgyptian" data-cache-file-woff="@Static("fonts/WebEgyptian.woff.json")" data-cache-file-ttf="@Static("fonts/WebEgyptian.ttf.json")"></style>
<style class="initial" data-cache-name="WebAgateSans" data-min-width="980" data-cache-file-woff="@Static("fonts/WebAgateSans.woff.json")" data-cache-file-ttf="@Static("fonts/WebAgateSans.ttf.json")"></style>
<style class="initial" data-cache-name="TextSans" data-min-width="980" data-cache-file-woff="@Static("fonts/WebTextSans.woff.json")" data-cache-file-ttf="@Static("fonts/WebTextSans.ttf.json")"></style>
<style class="initial" data-cache-name="WebHeadlineSans" data-min-width="980" data-advertisement-feature data-cache-file-woff="@Static("fonts/WebHeadlineSans.woff.json")" data-cache-file-ttf="@Static("fonts/WebHeadlineSans.ttf.json")"></style>

<script id="gu">
    if (!Function.prototype.bind) {
        Function.prototype.bind = function (oThis) {
            if (typeof this !== "function") {
                // closest thing possible to the ECMAScript 5
                // internal IsCallable function
                throw new TypeError("Function.prototype.bind - what is trying to be bound is not callable");
            }

            var aArgs = Array.prototype.slice.call(arguments, 1),
                    fToBind = this,
                    fNOP = function () {},
                    fBound = function () {
                        return fToBind.apply(this instanceof fNOP && oThis
                                        ? this
                                        : oThis,
                                aArgs.concat(Array.prototype.slice.call(arguments)));
                    };

            fNOP.prototype = this.prototype;
            fBound.prototype = new fNOP();

            return fBound;
        };
    }


    var modules = [],
        redefine = function(modules) {
            modules.forEach(function(module) {
                define.apply(null, module);
            });
        },
        define = function() {
            modules.push(arguments);
        };
    define.amd = true;

    var guardian = {
        isModernBrowser: (
            'querySelector' in document
            && 'addEventListener' in window
            && 'localStorage' in window
            && 'sessionStorage' in window
            && 'bind' in Function
            && (
                ('XMLHttpRequest' in window && 'withCredentials' in new XMLHttpRequest())
                || 'XDomainRequest' in window
            )
        ),
        css: {
            loaded: false
        },
        config: @fragments.javaScriptConfig(item)
    },
    curl = {
        baseUrl: '@{Configuration.assets.path}javascripts',
        apiName: 'require',
        overwriteApi: true,
        paths: {
            @curlPaths.map { case (module, path) =>
                '@module': '@Static(path)',
            }
            facebook: '//connect.facebook.net/en_US/all.js',
            swipe: '@Static("javascripts/components/swipe/swipe.js")',
            zxcvbn: '@Static("javascripts/components/zxcvbn/index.js")',
            gravity: '@Static("javascripts/vendor/gravity.js")',
            'ophan/ng': '@{Configuration.javascript.config("ophanJsUrl")}',
            outbrain: '@Static("javascripts/vendor/outbrain.js")',
            foresee: '@Static("javascripts/vendor/foresee/foresee-trigger.js")',
            googletag: '@{Configuration.javascript.config("googletagJsUrl")}',
            'bootstraps/video-player': '@Static("javascripts/bootstraps/video-player.js")'
        }
    };

    (function(isModern) {

        // must always be set before the Omniture file is parsed
        window.s_account = guardian.config.page.omnitureAccount;

        if (!isModern) { return false; }

        @if(CssFromStorageSwitch.isSwitchedOn && !play.Play.isDev()) {
            function loadCssFromStorage() {
                var c = localStorage.getItem('gu.css.@Static("stylesheets/global.css").md5Key'), s, head;
                if(c) {
                    s = document.createElement('style');
                    head = document.getElementsByTagName('head')[0];
                    s.innerHTML = c;
                    s.setAttribute('data-loaded-from', 'local');
                    head.appendChild(s);
                    guardian.css.loaded = true;
                }
            }
        }
        function loadFontsAsynchronously() {
            @if(FontSwitch.isSwitchedOff) {
                return;
            }
            var f, x;

            x = document.getElementById('gu');
            f = document.createElement('link');
            f.rel = 'stylesheet';
            f.href = '@Static("stylesheets/webfonts.css")';
            window.setTimeout(function() {
                x.parentNode.insertBefore(f, x);
            }, 0);
        }
        function loadFontsFromStorage(prefs, key) {

            var showFonts = false,
                fontPreference = localStorage['gu.prefs.switch.font-family'],
                fontSwitch = (fontPreference) ? JSON.parse(fontPreference).value : undefined;

            @if(FontSwitch.isSwitchedOn) {
                showFonts = true;
            }

            if (fontSwitch === true) {
                showFonts = true;
            } else if (fontSwitch === false && fontPreference) {
                showFonts = false;
            }

            if (showFonts) {
                var styleNodes = document.querySelectorAll('[data-cache-name]');
                for (var i = 0, j = styleNodes.length; i<j; ++i) {
                    var style = styleNodes[i],
                        nameAndCacheKey = style.getAttribute('data-cache-file-woff').match(/fonts\/(.*)\.woff(?:\.(.*))?\.json$/),
                        cachedCss = localStorage.getItem('gu.fonts.' + nameAndCacheKey[1] + '.' + nameAndCacheKey[2]);
                        @* try to parse it (should really use the storage module) *@
                        try {
                            cachedCss = JSON.parse(cachedCss).value;
                        } catch(e) {}
                    if (cachedCss) {
                        style.innerHTML = cachedCss;
                        style.setAttribute('data-cache-full', 'true');
                    }
                }
            }
        }

        @* we want to add/remove classes to HTML ASAP to avoid FOUC *@
        var htmlClassNames = "";

        @* http://modernizr.com/download/#-svg *@
        function hasSvgSupport() {
            var ns = {'svg': 'http://www.w3.org/2000/svg'};
            return !!document.createElementNS && !!document.createElementNS(ns.svg, 'svg').createSVGRect;
        }
        if (hasSvgSupport()) {
            htmlClassNames += " svg";
        }
        document.documentElement.className = document.documentElement.className.replace(/\bjs-off\b/g, '') + ' js-on ' + htmlClassNames;

        @* Display hinted fonts (loaded asynchronously) in these platforms: *@
        var loadsHintedFonts = /Windows/;
        @* But exclude these platforms (and load non-hinted fonts from localStorage): *@
        var loadsNonHintedFonts = /W(indows Phone|PDesktop)/;

        guardian.shouldLoadFontsAsynchronously = loadsHintedFonts.test(navigator.userAgent)
                                                 && !loadsNonHintedFonts.test(navigator.userAgent);

        if (guardian.shouldLoadFontsAsynchronously) {
            loadFontsAsynchronously();
        } else {
            loadFontsFromStorage();
        }

        @if(CssFromStorageSwitch.isSwitchedOn && !play.Play.isDev()) {
            loadCssFromStorage();
        }

    })(guardian.isModernBrowser);
</script>

<script async="async" src="@Static("javascripts/bootstraps/app.js")"></script>
