@(content: model.Content)(implicit request: RequestHeader)

@if(content.hasLargeContributorImage) {
    <div class="media article__meta-container article__meta-containe--has-image">
         <div class="media__img">
            @fragments.meta.bylineImage(content)
         </div>
        <div class="media__body">
            @fragments.byline(content.byline, content)
            @fragments.article.dateline(content.webPublicationDate, secondary=true)
            <div class="js-comment-count"></div>
        </div>
    </div>
} else {
    <div class="article__meta-containe">
        @fragments.byline(content.byline, content)
        @fragments.article.dateline(content.webPublicationDate, secondary=true)
        <div class="js-comment-count"></div>
    </div>
}