@(content: model.Content, storyPackage: List[Trail])(implicit request: RequestHeader)
@import conf.Switches._

<div class="content-footer">
    @if((content.isArticle || content.isLiveBlog || content.isImageContent ) &&
        DiscussionSwitch.isSwitchedOn && content.isCommentable) {
        <div class="gs-container js-comments">
            <div class="content__main-column" data-component="discussion">
            @fragments.discussionFooter(content.isClosedForComments, content.shortUrlId)
            </div>
        </div>
    }

    @if(content.isArticle && !content.shouldHideAdverts) {
        <div class="facia-container facia-container--layout-article facia-container--commercial">
            @fragments.commercial.commercialComponent("merchandising-high", Seq("commercial-component-high"))
        </div>
    }

    @fragments.storyPackagePlaceholder(storyPackage)
    @fragments.onwardPlaceholder(content.visualTone)

    <div class="js-repositioned-comments content__repositioned-comments"></div>

    <div class="facia-container facia-container--layout-article">
        @fragments.mostPopularPlaceholder(content.section, content.visualTone)
    </div>

    @if(content.isArticle && !content.shouldHideAdverts) {
        <div class="facia-container facia-container--layout-article facia-container--commercial">
            @fragments.commercial.commercialComponent("merchandising", Seq("commercial-component"))
        </div>
    }

    <div class="gs-container">
        <div class="content__main-column" data-link-name="content breadcrumbs">
            @fragments.breadcrumb(content)
        </div>
    </div>
</div>
