@(adSlot: AdSlot)
@import views.support.AdSlot
@import conf.Switches._

@if(AdvertSwitch.isSwitchedOn) {
    @if(OASAdvertSwitch.isSwitchedOn && (!DFPAdvertSwitch.isSwitchedOn || LoadOnlyCommercialComponents.isSwitchedOn)) {
        @*<!--
        although we do put a data-link-name attribute on here any ad that iframes itself will be untrackable via this, so
        take ad clicks with a pinch of salt.
        -->*@
        <div class="ad-slot__oas ad-slot--container-inline" data-link-name="ad slot container inline" data-base="@adSlot.baseName" data-median="@adSlot.medianName">
            <div class="ad-slot__label">Advertisement</div>
            <div class="ad-container"></div>
        </div>
    } else {
        @if(DFPAdvertSwitch.isSwitchedOn && !LoadOnlyCommercialComponents.isSwitchedOn) {

            <div class="ad-slot__dfp ad-slot--container-inline" data-link-name="ad slot container inline" data-name="@adSlot.dfpDataName" data-mobile="300,50" data-tabletportrait="300,250">
                 <div id="inline-ad-slot__@{adSlot.dfpDataName}" class="ad-container"></div>
            </div>
        }
    }
}
