@(imageContainer: model.ImageContainer, image: model.ImageAsset, widthsByBreakpoint: layout.WidthsByBreakpoint, figureClasses: String)(implicit request: RequestHeader)

@import views.support.ImgSrc

<figure itemprop="associatedMedia image" itemscope itemtype="http://schema.org/ImageObject"
        class="element element-image @figureClasses"
        @image.mediaId.map{ id => data-media-id="@id" }>

    <img srcset="@ImgSrc.srcset(imageContainer, widthsByBreakpoint)"
         sizes="@widthsByBreakpoint.sizes"
         src="@ImgSrc.getFallbackUrl(imageContainer)"
         alt="@image.altText.getOrElse("")"
         class="gu-image"
         itemprop="contentUrl">

    @image.caption.map { caption =>
        <figcaption itemprop="description" class="caption caption--img">
            @Html(caption) @if(image.displayCredit && !image.credit.exists(caption.endsWith)) { @image.credit.map(Html(_)) }
        </figcaption>
    }

</figure>
