@(item: model.ContentType, showBadge: Boolean = true)(implicit request: RequestHeader)
@import model._

@byline() = {
    @item match {
        case v: Video   => { @fragments.meta.byline(v.bylineWithSource, v.tags) }
        case c          => { @fragments.meta.byline(c.trail.byline, c.tags) }
    }
}

<div class="content__meta-container content__meta-container--immersive js-content-meta u-cf">
    @if(!item.trail.shouldHidePublicationDate) {
        @fragments.meta.dateline(item.trail.webPublicationDate, item.fields.lastModified, false, item.tags.isLiveBlog, item.fields.isLive)
    }

    <div class="meta__numbers">
        <div class="u-h meta__number meta__number--sharecount js-sharecount js-sharecount-immersive"></div>
        <div class="meta__number meta__number--commentcount">
            <a href="#comments" data-link-name="Comment count" class="commentcount2 tone-colour">
                @fragments.inlineSvg("comment-16", "icon", List("inline-tone-fill"))
                <comment-count class="commentcount__value" discussion="@item.content.discussionId" @{if (!item.trail.isCommentable) "closed"}></comment-count> Comments
            </a>
        </div>
    </div>

    <div class="meta__social" data-component="share">
        @fragments.social(item.sharelinks.pageShares, "top")
    </div>
</div>
