@(content: model.Content, storyPackage: Seq[Trail], cssClass: String = "")(implicit request: RequestHeader)
@import conf.Switches._

<div class="content-footer @if(cssClass){ content-footer--@cssClass }">
    @if(DiscussionSwitch.isSwitchedOn && content.isCommentable) {
        <div class="gs-container js-comments">
            <div class="content__main-column" data-component="discussion">
            @fragments.discussionFooter(content.isClosedForComments, content.shortUrlId)
            </div>
        </div>
    }

    @if(!content.shouldHideAdverts) {
        <div class="facia-container facia-container--layout-content facia-container--commercial">
            @fragments.commercial.commercialComponentHigh()
        </div>
    }


    @fragments.referredContentPlaceholder(content.visualTone)
    @fragments.storyPackagePlaceholder(storyPackage)
    @fragments.onwardPlaceholder(content.visualTone)

    <div class="js-repositioned-comments content__repositioned-comments"></div>

    <div class="facia-container facia-container--layout-content facia-container--default-heading">
        @fragments.mostPopularPlaceholder(content.section, content.visualTone)
    </div>

    <div class="facia-container facia-container--layout-content facia-container--outbrain">
        @fragments.outbrainPlaceholder()
    </div>

    @if(!content.shouldHideAdverts) {
        <div class="facia-container facia-container--layout-content facia-container--commercial">
            @fragments.commercial.commercialComponent()
        </div>
    }

    <div class="gs-container">
        <div class="content__main-column" data-link-name="content breadcrumbs">
            @fragments.breadcrumb(content)
        </div>
    </div>
</div>
