@(content: model.Content, showBadge: Boolean = true)(implicit request: RequestHeader)
@import conf.switches.Switches._
@import org.joda.time.DateTime
@import java.util.concurrent.TimeUnit

@byline(content: model.Content) = {
    @content match {
        case v: Video   => { @fragments.meta.byline(v.bylineWithSource, v) }
        case c          => { @fragments.meta.byline(c.byline, c) }
    }
}

@metaBody() = {
    @if(!content.hasTonalHeaderByline) {
        @byline(content)
    }

    @content.contributorBio.map { bio => <p class="meta__bio" data-link-name="byline" data-component="meta-byline">@bio</p> }

    @if(content.contributors.length == 1) {
        @if(content.hasTonalHeaderByline && (content.contributors.headOption.exists(_.twitterHandle.nonEmpty) || content.contributors.headOption.exists(_.emailAddress.nonEmpty))) { <p class="meta__contact-header hide-until-leftcol">Contact author</p> }
        @fragments.meta.contactAuthor(content)
    }

    @if(!content.shouldHidePublicationDate) {
        @fragments.meta.dateline(content.webPublicationDate, content.lastModified, content.hasBeenModified, content.isLiveBlog, content.isLive)
    }

    <div class="meta__extras">
        <div class="meta__social" data-component="share">
            @fragments.social(content, "top")
        </div>
        @defining({
            val warnLimitDays = 7   // config this!
            if(content.webPublicationDate.isBefore(DateTime.now().minusDays(warnLimitDays))) {
                val ageMillis = DateTime.now().getMillis - content.webPublicationDate.getMillis
                val years = TimeUnit.MILLISECONDS.toDays(ageMillis) / 365
                val months = TimeUnit.MILLISECONDS.toDays(ageMillis) / 28
                val weeks = TimeUnit.MILLISECONDS.toDays(ageMillis) / 7
                val days = TimeUnit.MILLISECONDS.toDays(ageMillis)

                true match {
                    case yrs if years >= 2 => s"$years years old"
                    case yr if years > 0 => s"$years year old"
                    case mnths if months >= 2 => s"$months months old"
                    case mnth if months > 0 => s"$months month old"
                    case wks if weeks >= 2 => s"$weeks weeks old"
                    case wk if weeks > 0 => s"$weeks week old"
                    case _ => s"$days days old"
                }
            } else {
                ""
            }
        }){ ageMessage =>
            @if(ageMessage.nonEmpty) {
                <div class="meta__date-warn">
                    <div class="meta__date-warn--message">
                        @fragments.inlineSvg("clock", "icon", List("meta__date-warn--clock"))
                        This article is <strong>@ageMessage</strong>
                    </div>
                </div>
            }
        }
        <div class="meta__numbers modern-visible">
            <div class="u-h meta__number js-sharecount">
            </div>
            <div class="u-h meta__number" data-discussion-id="@content.discussionId" data-commentcount-format="content" data-discussion-closed="@{!content.isCommentable}">
            </div>
        </div>
        @if(SaveForLaterSwitch.isSwitchedOn) {
            <div class="meta__save-for-later js-save-for-later" data-position="top"></div>
        }
    </div>
}

<div class="content__meta-container js-content-meta js-football-meta u-cf
    @if(content.byline.isEmpty){ content__meta-container--no-byline}
    @if(content.isLiveBlog) { content__meta-container--liveblog}
    @if(content.hasShowcaseMainElement){ content__meta-container--showcase}
    @if(content.hasTonalHeaderByline){ content__meta-container--tonal-header}
    @content.contributorBio.map { bio => content__meta-container--bio}
    @if(content.contributors.length == 1 && content.contributors.headOption.exists(_.twitterHandle.nonEmpty)) { content__meta-container--twitter}
    @if(content.contributors.length == 1 && content.contributors.headOption.exists(_.emailAddress.nonEmpty)) { content__meta-container--email}">

    @if(showBadge) {
        @fragments.commercial.badge(content)
    }

    @if(content.showCircularBylinePicAtSide) {
        <div class="media__body meta__body">
            <div class="media__img meta__image">
                @fragments.meta.bylineImage(content)
            </div>
            @metaBody()
        </div>
    } else {
        @metaBody()
    }
</div>
