@(discussionClosed: Boolean, discussionId: String)(implicit request: RequestHeader)

<div id="comments" class="discussion discussion--@if(discussionClosed){closed} else {open} u-cf"
    data-discussion-key="@discussionId"
    data-discussion-closed="@discussionClosed">


    <div class="discussion__top-border gs-container ">
        <div class="content__main-column">

            <h2 class="container__title modern-hidden">
                <a href="@LinkTo{/discussion@discussionId}" class="tone-news tone-colour"
                    data-link-name="View all comments">View all comments</a>
            </h2>

            <div class="discussion__comments--top-comments modern-visible">
                <h2 id="top-comments" class="js-top-comments container__title container__title discussion__heading">Comments</h2>
                <div class="discussion__comments__top"></div>
            </div>

        </div>
    </div>


    <div class="discussion__top-border gs-container ">
        <div class="content__main-column">

            <div class="preload-msg">Loading comments… <a href=@{s"/discussion/$discussionId"} class="accessible-link">Trouble loading?</a><div class="is-updating"></div></div>

            <div class="discussion__comments__container modern-hidden" data-test-id="comments-container">

                <div class="discussion__heading">

                    <div class="container__meta">

                        <h2 class="container__meta__title modern-visible">Comments</h2>

                        <div class="container__meta__item discussion__meta discussion__meta--open-signed-out">Open for comments. <a class="u-underline" href="@Configuration.id.url/signin">Sign in</a>
                            or <a class="u-underline" href="@Configuration.id.url/register">create your Guardian account</a> to join the discussion.
                        </div>

                        <div class="container__meta__item discussion__meta discussion__meta--closed">This discussion is closed for comments.</div>

                        <div class="container__meta__item discussion__meta discussion__meta--readonly">
                            We’re doing some maintenance right now. You can still read comments, but please come back later to add your own.
                        </div>

                        <div class="container__meta__item d-discussion__error discussion__meta discussion__meta--banned">
                            Commenting has been disabled for this account (<a href="/community-faqs#321a">why?</a>)
                        </div>

                    </div>

                </div>

                <button class="u-button-reset u-fauxlink modern-visible discussion__show-threaded js-show-threaded" data-test-id="comment-view-type">
                    View <span class="discussion__show-threaded-state">un</span>threaded
                </button>

                <div class="discussion-container js-discussion-container">
                    <div class="discussion__comment-box discussion__comment-box--top u-cf"></div>
                    <div class="discussion__comments"></div>
                    <div class="discussion__comment-box discussion__comment-box--bottom u-cf"></div>
                </div>
                <div class="discussion__non-threaded js-discussion__non-threaded u-h"></div>
            </div>

        </div>
    </div>
</div>
