@(discussionClosed: Boolean, discussionId: String)(implicit request: RequestHeader)

@sectionHeading = {


    <div class="discussion__heading">

        <div class="container__meta">
            <h2 class="container__meta__title">comments <span class="discussion__comment-count js-discussion-comment-count"></span></h2>

            <p class="container__meta__item discussion__meta discussion__meta--open-signed-out"><a class="u-underline" href="@Configuration.id.url/signin">Sign in</a>
                or <a class="u-underline" href="@Configuration.id.url/register">create your Guardian account</a> to join the discussion.
            </p>

            <p class="container__meta__item discussion__meta discussion__meta--closed">This discussion is closed for comments.</p>

            <p class="container__meta__item discussion__meta discussion__meta--readonly">
                We’re doing some maintenance right now. You can still read comments, but please come back later to add your own.
            </p>

            <p class="container__meta__item d-discussion__error discussion__meta discussion__meta--banned">
                Commenting has been disabled for this account (<a href="/community-faqs#321a">why?</a>)
            </p>
        </div>
    </div>
}

@toolbar = {
    <div class="discussion__toolbar js-discussion-toolbar u-cf">

        <div class="discussion__toolbar-dropdown js-comment-order-dropdown">

            <button class="u-button-reset popup__toggle" data-toggle="popup--comments-order">Order by <span></span></button>

            <ul class="popup popup__group popup--comments-order is-off">
                @List("newest", "oldest").map { value =>
                    <li class="popup__item">
                        <button class="u-button-reset popup__action" data-order="@value" data-link-name="comments-@value">@value</button>
                    </li>
                }
            </ul>

        </div>


        <div class="discussion__toolbar-dropdown js-comment-threading-dropdown">
            <button class="u-button-reset popup__toggle" data-toggle="popup--comments-threading">Threads <span></span></button>

            <ul class="popup popup__group popup--comments-threading is-off">
                @List("collapsed", "expanded", "unthreaded").map { value =>
                    <li class="popup__item">
                        <button class="u-button-reset popup__action" data-threading="@value" data-link-name="comments-threading-@value">@value</button>
                    </li>
                }
            </ul>
        </div>

        <div class="discussion__pagination discussion__pagination--top js-discussion-pagination"></div>

    </div>

}

<div id="comments" class="discussion discussion--not-staff discussion--loading discussion--@if(discussionClosed){closed} else {open} u-cf"
    data-discussion-key="@discussionId"
    data-discussion-closed="@discussionClosed">

    <div class="discussion__top-border gs-container">
        <div class="content__main-column">

            <div class="modern-hidden">
                <div class="discussion__heading">
                    <div class="container__meta modern-hidden">
                        <h2 class="container__meta__title">
                            <a href="@LinkTo{/discussion@discussionId}" data-link-name="View all comments">View all comments &gt;</a>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="modern-visible">
                @sectionHeading

                <div class="discussion__comment-box js-discussion-comment-box--top"></div>

                <div class="discussion__top-comments js-discussion-top-comments"></div>

                @toolbar

                <div class="preload-msg discussion__loader">Loading comments… <a href=@{s"/discussion/$discussionId"} class="accessible-link">Trouble loading?</a><div class="is-updating"></div></div>

                <div class="discussion__main-comments js-discussion-main-comments"></div>

                <div class="discussion__comment-box discussion__comment-box--bottom js-discussion-comment-box--bottom"></div>

                <button class="discussion__show-button button--show-more button button--large button--primary js-discussion-show-button">
                    <i class="i i-plus-white"></i>
                    View more comments
                </button>

                <script type="text/template" id="tmpl-comment-box">
                    @fragments.commentBox()
                </script>

            </div>

        </div>
    </div>
</div>
