@import com.gu.identity.model.EmailNewsletters
@()(implicit request: RequestHeader)
@import views.support.RenderClasses

<div>
    <article class="@RenderClasses(
        "content","tonal", s"tonal--"
    )"
    role="main">

        <div class="content__main">
            <div class="gs-container u-cf">
                @fragments.email.signup.emailSignUp(
                    "landing",
                    EmailNewsletters.guardianTodayUk.listId,
                    "Catch up when you wake up with <span class=\"email-sub__heading-emph\">The Guardian Today Email</span>",
                    "<span class=\"email-sub__description-emph\">Subscribe to The Guardian Today</span> We'll send you the biggest headlines each and every morning.",
                    "Your email address",
                    "Subscribe",
                    "http://placehold.it/350x150"
                )
            </div>
        </div>
    </article>
</div>
