@import common.LinkTo
@import layout.ContentWidths.MainMedia
@import model.ContentPage
@import views.support.RenderClasses
@import views.support.TrailCssClasses.toneClass
@(page: ContentPage)(implicit request: RequestHeader, context: model.ApplicationContext)

@defining((
    page.item.elements.hasMainEmbed,
    page.item.fields.main.nonEmpty,
    page.item.tags.isExploreSeries,
    page.item.elements.hasMainVideo
)) { case (hasEmbed, hasMainMedia, isExploreSeries, hasVideo) =>

  <style>
    @Html(common.Assets.css.inlineExplore)
  </style>

    <div class="@RenderClasses(Map(
            "content--explore-series-article" -> isExploreSeries,
            "immersive-main-media" -> hasMainMedia,
            "explore--video" -> hasVideo
        ),
        "content", "tonal", s"tonal--${toneClass(page.item)}")
    ">
        <div class="gs-container immersive-main-media__logo">
            <a href="@LinkTo{/}">
                <span class="u-h">The Guardian</span>
                @fragments.inlineSvg("guardian-logo-160", "logo", Seq("immersive-main-media__logo__svg"))
            </a>
        </div>
        <div class="immersive-main-media__media">
            @if(page.item.elements.hasMainPicture) {
                @page.item.elements.mainPicture.map(_.images).orElse(page.item.trail.trailPicture).map { picture =>
                    @fragments.image(
                        picture = picture,
                        classes = Seq("immersive-main-media__media"),
                        widths = MainMedia.immersive,
                        imageAltText = "",
                        isImmersiveMainMedia = true
                    )
                }
            } else {
                @if(page.item.elements.hasMainVideo) {
                  @fragments.immersiveVideo(page)
                }
                @if(hasMainMedia && !hasVideo) {
                    <div class="immersive-main-media__media__loading">
                        <div class="immersive-main-media__loading-animation is-updating"></div>
                        <span class="u-h">Loading header</span>
                    </div>
                    @Html(page.item.fields.main)
                }
            }
        </div>
        @if(!page.item.elements.hasMainVideo){
          <div class="immersive-main-media__image-overlay"></div>
        }
        <div class="series-identity-explore">
            <div class="gs-container">
                <div class="content__main-column">
                  <div class="series-identity-explore__container">
                      @fragments.meta.metaInline(page.item, page = page)
                      <div class="series-identity__byline">
                      <span class="byline-meta">with</span>  @fragments.meta.byline(page.item.trail.byline, page.item.tags)
                      </div>
                  </div>
                </div>
            </div>
          </div>
        @if(!page.item.elements.hasMainVideo){  
        <div class="explore-series-trail-wrapper">
          <div class="explore-series-headline">
              <div class="gs-container">
                  <div class="content__main-column">
                      <h1 class="explore-series-headline__content">
                          @Html(page.item.trail.headline)
                      </h1>
                  </div>
              </div>
          </div>
            <div class="explore-series-standfirst">
              <div class="gs-container">
                <div class="content__main-column">
                  <div class="explore-series-byline-image hide-on-mobile">
                    @fragments.meta.bylineImage(page.item.tags)
                  </div>
                  @fragments.standfirst(page.item)
                </div>
              </div>
            </div>
          }
      </div>

    </div>
}
