@(page: MetaData)(implicit request: RequestHeader)

<footer class="footer" data-link-name="footer">

    <ul class="sections nav nav-stacked nav-top-border-off cf">
    	<li>@fragments.mainSiteLink(page)</li>
    	<li><a data-link-name="about" href="/help/insideguardian/2012/nov/26/guardian-launches-new-mobile-site">About this new site</a></li>
        <li><a data-link-name="help" href="/help/2012/nov/26/guardian-mobile-site">Help</a></li>
    	<li><a data-link-name="contact" href="/help/contact-us">Contact us</a></li>
        <li><a data-link-name="feedback" target="_blank" href="http://survey.omniture.com/d1/hosted/815f9cfba1">Feedback</a></li>
    </ul>

    <p>© Guardian News and Media Limited or its affiliated companies. All rights reserved.</p>

    <p>
    	<a data-link-name="terms" href="/help/terms-of-service">Terms & conditions</a>
        <a data-link-name="privacy" href="/help/privacy-policy">Privacy policy</a>
        <a data-link-name="cookie" href="/info/cookies">Cookie policy</a>
    </p>

</footer>

<div id="footer-container" class="zone-@page.section">
    <div id="footer" class="zone-border">
        <ul id="footer-links">
            <li>
                <a href="http://syndication.guardian.co.uk/" class="link-text">License/buy our content</a>
            </li>
                |
            <li>
                <a href="http://www.guardian.co.uk/help/privacy-policy" class="link-text">Privacy policy</a>
            </li>
                |
            <li>
                <a href="http://www.guardian.co.uk/help/terms-of-service" class="link-text">Terms &amp; conditions</a>
            </li>
                |
            <li>
                <a href="http://www.guardian.co.uk/advertising" class="link-text">Advertising guide</a>
            </li>
                |
            <li>
                <a href="http://www.guardian.co.uk/help/accessibility" class="link-text">Accessibility</a>
            </li>
                |
            <li>
                <a href="http://www.guardian.co.uk/index/subjects/a" class="link-text">A-Z index</a>
            </li>
                |
            <li>
                <a href="http://www.guardian.co.uk/help/insideguardian" class="link-text">Inside the Guardian blog</a>
            </li>
                |
            <li>
                <a href="http://www.guardian.co.uk/info" class="link-text">About us</a>
            </li>
                |
            <li>
                <a href="http://www.guardian.co.uk/workforus" class="link-text">Work for us</a>
            </li>
                |
            <li>
                <a href="https://soulmates.guardian.co.uk/" class="link-text">Join our dating site today</a>
            </li>
        </ul>
        <ul id="copyright-links">
            <li>© 2013 Guardian News and Media Limited or its affiliated companies. All rights reserved.</li>
        </ul>
    </div>
</div>