@(page: model.MetaData)(implicit request: RequestHeader)
@import model.{FootballNavigation, Tag, Link}

@if(page.section == "football") {
    @defining({page match {
        case tag: Tag => Some(tag)
        case _ => None
    }}){ tag: Option[Tag] =>
        @defining(tag.map(FootballNavigation.navFor).getOrElse(FootballNavigation.defaultNav)){ links =>
            @defining(tag.filter(_.isFootballCompetition).map(_.name).getOrElse("Football")){ pageName =>
                @defining(tag.filter(_.isFootballCompetition).map(_.url).getOrElse("/football")){ pageLink =>
                    @html.fragments.footballNavLinks(Link(pageLink, pageName, pageName), links)
                }
            }
        }
    }
}
