@(urlBase: String, competitionName: Option[String] = None, competitionUrl: Option[String] = None,  navClassName: String = "")(implicit request: RequestHeader)
@import common._

<h3 class="article-zone type-2 @navClassName">
    <a class="zone-color" href="@competitionUrl.getOrElse("/football")" data-link-name="football index">@competitionName.getOrElse("Football")</a>
</h3>
<div class="box-indent football-nav @navClassName">
    <div class="sections cf" data-link-name="@navClassName.replace("-"," ")">
        <ul class="crumbtrail nav nav-columns no-columns-extended nav-top-border-off cf">
            <li><a data-link-name="sport" href="/sport" class="football-first-crumb">Sport</a></li>
            <li><a data-link-name="football" href="/football" class="football-second-crumb">Football</a></li>
        </ul>
        <ul class="nav nav-columns no-columns-extended nav-top-border-off cf">
            @defining({
                var linkList = List(
                    Link("/football/competitions", "leagues and competitions", "Leagues & competitions")
                )

                if (competitionName.nonEmpty) {
                    if (TeamCompetitions(competitionName.get)) {
	                    linkList ::= Link("/football/teams#" + urlBase.split("/")(2), "teams", "Teams")
                    }
                } else {
                    linkList ::=  Link("/football/teams", "teams", "Teams")
                }

                linkList :::= List(
                    Link(urlBase + "/live", "livescores", "Live scores"),
                    Link(urlBase + "/fixtures", "fixtures", "Fixtures"),
                    Link(urlBase + "/results", "results", "Results")
                )

                if(!competitionName.getOrElse("").contains("Cup")) {
                    if (urlBase == "/football") {
                      linkList ::= Link(urlBase + "/tables", "tables", "Tables")
                    } else {
                      linkList ::= Link(urlBase + "/table", "tables", "Tables")
                    }
                }

                linkList

            }) { links =>
                @links.map{ l =>
                    <li><a href="@l.url" data-link-name="@l.linkName" class="football-crumb-hover">@l.linkText</a></li>
                }
            }
        </ul>
    </div>
</div>