@(page: model.MetaData, showNav: Boolean=true)(implicit request: RequestHeader)

@import conf.Configuration
@import org.joda.time.DateTime
@import common.Edition
@import common.LinkTo
@import common.editions.{Au, Uk, Us, International}

<footer class="l-footer u-cf" data-link-name="footer" data-component="footer">
    <div class="l-footer__primary">
        <div id="footer-nav" class="gs-container">
            <div class="brand-bar modern-visible u-cf">
                <a href="@LinkTo{/}" data-link-name="site logo" class="guardian-logo-footer hide-on-mobile">
                    <span class="u-h">The Guardian</span>
                    <i class="i i-guardian-logo-160"></i>
                </a>
                <a class="brand-bar__item brand-bar__item--action" data-link-name="back to top" href="#top">
                    <span class="rounded-icon control__icon-wrapper">
                        @fragments.inlineSvg("arrow-up", "icon")
                    </span>
                    <span class="control__info">back to top</span>
                </a>
            </div>
            @if(showNav) {
                <div class="l-footer__navigation-wrapper u-cf">
                    @fragments.nav.navigationFooter(page)
                </div>
            }

            @page match {
                case content: model.Content => {
                    @fragments.breadcrumb(content)
                }

                case _ => {}
            }
        </div>
    </div>

    <div class="l-footer__secondary gs-container" role="contentinfo">
        <ul class="colophon u-cf">
        @defining(Edition(request)) { currentEdition =>
            @if(currentEdition == International) {
                <li class="colophon__item"><a data-link-name="int : footer : email sign-up" href="@LinkTo{/world/2013/oct/04/1}">
                    daily email sign up</a></li>
                <li class="colophon__item"><a data-link-name="int : footer : facebook" href="https://www.facebook.com/theguardian">
                    Facebook</a></li>
                <li class="colophon__item"><a data-link-name="int : footer : twitter" href="https://twitter.com/guardian">
                    Twitter</a></li>
            }
            @if(currentEdition == Uk) {
                <li class="colophon__item"><a data-link-name="uk : footer : email sign-up" href="@LinkTo{/world/2013/oct/04/1}">
                    daily email sign up</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : facebook" href="https://www.facebook.com/theguardian">
                    Facebook</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : twitter" href="https://twitter.com/guardian">
                    Twitter</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : membership" href="https://membership.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_MEMBERSHIP">
                    membership</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : jobs" href="http://jobs.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_JOBS">
                    jobs</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : soulmates" href="https://soulmates.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_SOULMATES">
                    dating</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : masterclasses" href="@LinkTo{/guardian-masterclasses?INTCMP=NGW_FOOTER_UK_GU_MASTERCLASSES}">
                    masterclasses</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : guardian labs" href="@LinkTo{/guardian-labs}">
                    guardian labs</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : subscribe" href="http://subscribe.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_SUBSCRIBE">
                    subscribe</a></li>
            }

            @if(currentEdition == Us) {
                <li class="colophon__item"><a data-link-name="us : footer : email sign-up" href="@LinkTo{/world/2013/oct/04/1}">
                    daily email sign up</a></li>
                <li class="colophon__item"><a data-link-name="us : footer : facebook" href="https://www.facebook.com/GuardianUs">
                    Facebook</a></li>
                <li class="colophon__item"><a data-link-name="us : footer : twitter" href="https://twitter.com/GuardianUs">
                    Twitter</a></li>
                <li class="colophon__item"><a data-link-name="us : footer : jobs" href="http://jobs.theguardian.com/?INTCMP=NGW_FOOTER_US_GU_JOBS">
                    jobs</a></li>
                <li class="colophon__item"><a data-link-name="us : footer : guardian labs" href="@LinkTo{/guardian-labs}">
                    guardian labs</a></li>
                <li class="colophon__item"><a data-link-name="us : footer : subscribe" href="http://subscribe.theguardian.com/us?INTCMP=NGW_FOOTER_US_GU_SUBSCRIBE">
                    subscribe</a></li>
            }

            @if(currentEdition == Au) {
                <li class="colophon__item"><a data-link-name="au : footer : email sign-up" href="@LinkTo{/info/2015/jan/30/guardian-australia-emails-delivered-to-your-inbox-subscribe-now}">
                    email sign-up</a></li>
                <li class="colophon__item"><a data-link-name="au : footer : facebook" href="https://www.facebook.com/theguardianaustralia">
                    Facebook</a></li>
                <li class="colophon__item"><a data-link-name="au : footer : twitter" href="https://twitter.com/GuardianAus">
                    Twitter</a></li>
                <li class="colophon__item"><a data-link-name="au : footer : advertising" href="@LinkTo{/advertising/guardian-australia-advertising}">
                    advertising</a></li>
                <li class="colophon__item"><a data-link-name="au : footer : masterclasses" href="@LinkTo{/guardian-masterclasses/guardian-masterclasses-australia}">
                    masterclasses</a></li>
                <li class="colophon__item"><a data-link-name="au : footer : guardian labs" href="@LinkTo{/guardian-labs}">
                    guardian labs</a></li>
                <li class="colophon__item"><a data-link-name="au : footer : subscribe" href="http://subscribe.theguardian.com/au?INTCMP=NGW_FOOTER_AU_GU_SUBSCRIBE">
                    subscribe</a></li>
                <li class="colophon__item"><a data-link-name="au : footer : uk-jobs" href="http://jobs.theguardian.com/?INTCMP=NGW_FOOTER_AU_GU_JOBS">
                    UK jobs</a></li>
            }
        <li class="colophon__item"><a data-link-name="all topics" href="@LinkTo{/index/subjects/a}">all topics</a></li>
        <li class="colophon__item"><a data-link-name="all contributors" href="@LinkTo{/index/contributors}">all contributors</a></li>

            @if(currentEdition == Uk) {
                <li class="colophon__item"><a data-link-name="uk : footer : about us" href="@LinkTo{/info}">
                    about us</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : contact us" href="@LinkTo{/help/contact-us}">
                    contact us</a></li>
            }

        <li class="colophon__item">
            <a data-link-name="tech feedback" href="@LinkTo{/info/tech-feedback}">
                report technical issue
            </a>
        </li>

            @if(currentEdition == Us) {
                <li class="colophon__item"><a data-link-name="us : footer : about us" href="@LinkTo{/info/about-guardian-us}">
                    about us</a></li>
                <li class="colophon__item"><a data-link-name="us : footer : contact us" href="@LinkTo{/info/about-guardian-us/contact}">
                    contact us</a></li>
            }
            @if(currentEdition == Au) {
                <li class="colophon__item"><a data-link-name="au : footer : about us" href="@LinkTo{/info/about-guardian-australia}">
                    about us</a></li>
                <li class="colophon__item"><a data-link-name="au : footer : vacancies" href="@LinkTo{/info/2014/aug/11/guardian-australia-vacancies}">
                    vacancies</a></li>
                <li class="colophon__item"><a data-link-name="au : footer : information" href="@LinkTo{/info}">
                    information</a></li>
                <li class="colophon__item"><a data-link-name="au : footer : contact us" href="@LinkTo{/info/2013/may/26/contact-guardian-australia}">
                    contact us</a></li>
            }
            @if(currentEdition != Au) {
                <li class="colophon__item"><a data-link-name="complaints" href="@LinkTo{/info/complaints-and-corrections}">
                    complaints &amp; corrections</a></li>
            }
            <li class="colophon__item"><a data-link-name="terms" href="@LinkTo{/help/terms-of-service}">terms &amp; conditions</a></li>
            <li class="colophon__item"><a data-link-name="privacy" href="@LinkTo{/info/privacy}">privacy policy</a></li>
            <li class="colophon__item"><a data-link-name="cookie" href="@LinkTo{/info/cookies}">cookie policy</a></li>
            <li class="colophon__item"><a data-link-name="securedrop" href="https://securedrop.theguardian.com/">securedrop</a></li>
        }
        </ul>
        <div class="l-footer__misc">
            <div class="really-serious-copyright">© @{new DateTime().year.getAsText} Guardian News and Media Limited or its affiliated companies. All rights reserved.</div>
        </div>
    </div>
</footer>
