@(trail: Trail, info: RowInfo, related: Boolean = false, numberOfImagesToEnlarge: Int = 0)

@fragments.relativeDate(trail.webPublicationDate, trail.isLive)

<div class="media">
    @*
        index: used to report where this is in the list of trails to analytics (starts at 1 for first item)
    *@
    @if(info.rowNum <= 3 && (trail.thumbnail)) {
        @trail.thumbnail.map{ imageUrl =>
            <a href="@trail.url" class="media-img @if(info.rowNum <= numberOfImagesToEnlarge) { img-large}" data-link-name="@info.rowNum:image">
                <img class="maxed" src="@imageUrl" alt='@Html(trail.linkText)' title="@Html(trail.linkText)" />
            </a>
        }
    } 
    <div class="media-body">
        <h3 class="trail-headline @if(info.rowNum > 3) {type-3}">
            <a href="@trail.url" @if(related){itemprop="relatedLink"} data-link-name="@info.rowNum:text">
                @RemoveOuterParaHtml(trail.linkText)
            </a>
        </h3>
    </div>

</div>

@if(info.rowNum <= 5) {
    @trail.trailText.map { text => <div class="trail-text type-4">@withJsoup(text)(InBodyLinkCleaner("in trail text link"))</div> }
}
