@(trail: Trail, info: RowInfo, related: Boolean = false, numItemsVisible: Int = 5)

@fragments.relativeDate(trail.webPublicationDate, trail.isLive, isFront=true)

@*
    index: used to report where this is in the list of trails to analytics (starts at 1 for first item)
*@

@if(info.rowNum == 1) {
    @fragments.trails.featured(trail, info.rowNum, related)
}

@if(info.rowNum > 1 && info.rowNum <= numItemsVisible) {
    @fragments.trails.thumbnail(trail, info.rowNum, related)
}

@if(info.rowNum > numItemsVisible) {
    @fragments.trails.headline(trail, info.rowNum, related)
}