@(trail: Trail, info: RowInfo, related: Boolean = false, numberOfImagesToEnlarge: Int = 0)

@fragments.relativeDate(trail.webPublicationDate, trail.isLive, isFront=true)

@*
    index: used to report where this is in the list of trails to analytics (starts at 1 for first item)
*@

@cleanTrailText(text: String) = {
    @withJsoup(RemoveOuterParaHtml(BulletCleaner(text)))(InBodyLinkCleaner("in trail text link"))
}

@if(info.rowNum == 1) {
    <h2 class="type-1 box-indent">
        <a href="@trail.url" @if(related){itemprop="relatedLink"} data-link-name="@info.rowNum | text">
            @RemoveOuterParaHtml(trail.linkText)
        </a>
    </h2>

    @trail.trailText.map { text => <div class="trail-text type-4 box-indent">@cleanTrailText(text)</div> }

     @if(trail.mainPicture) {
        @trail.mainPicture.map{ mainPicture =>
            @trail.mainPicture(width=220).map{ smallCrop =>
             <a href="@trail.url" @if(related){itemprop="relatedLink"} data-link-name="@info.rowNum | image">
                <img class="maxed" src="@smallCrop.url"
                     data-fullsrc="@mainPicture.url"
                     data-width="@mainPicture.width"
                     itemprop="contentURL"
                     alt="@Html(mainPicture.altText.getOrElse(""))" 
                     title="@Html(mainPicture.caption.getOrElse(""))"
                />
            </a>
            }
        }

    }
}

@if(info.rowNum > 1 && info.rowNum <= 5) {
    <div class="media">

        @if(trail.thumbnail) {
            @trail.thumbnail.map{ imageUrl =>
                <a href="@trail.url" class="media-img" data-link-name="@info.rowNum | image">
                    <img class="maxed" src="@imageUrl" alt='@Html(trail.linkText)' title="@Html(trail.linkText)" />
                </a>
            }
        }

        <h2 class="media-body trail-headline type-2">
            <a href="@trail.url" @if(related){itemprop="relatedLink"} data-link-name="@info.rowNum | text">
                @RemoveOuterParaHtml(trail.linkText)
            </a>
        </h2>

        @trail.trailText.map { text => <div class="trail-text type-4">@cleanTrailText(text)</div> }
    </div>

}

@if(info.rowNum > 5) {
    <h2 class="trail-headline type-3">
        <a href="@trail.url" @if(related){itemprop="relatedLink"} data-link-name="@info.rowNum | text">
            @cleanTrailText(trail.linkText)
        </a>
    </h2>
}