@(gallery: Gallery, showCta: Boolean = false)(implicit request: RequestHeader)


<div class="gallerythumbs js-visible u-cf gallerythumbs--@if(gallery.landscapes.length >= 3) {landscapes} else {portraits}" data-link-name="Gallery thumbnail sheet">
    @if(showCta) {
    <a class="gallery-launch-cta" data-link-name="Launch Gallery CTA" href="@LinkTo{@gallery.url}">
        Open gallery<i class="i i-double-arrow-right-blue"></i>
    </a>
    }
    <ul class="unstyled">
        @if(gallery.landscapes.length >= 3) {
            @gallery.landscapes.take(3).zipWithRowInfo.map{ case(image, info) => @thumbItem(image, info, "landscapes") }
        } else {
            @gallery.portraits.take(3).zipWithRowInfo.map{ case(image, info) => @thumbItem(image, info, "portraits") }
        }
    </ul>
</div>


@thumbItem(image: ImageAsset, info: RowInfo, orientation: String) = {
    <li class="gallerythumbs__item">
        <a href="@LinkTo{@gallery.url?index=@image.index}" data-link-name="@info.rowNum | gallery thumb">
            <img class="gallerythumbs__img"
                data-lowsrc="@image.url.map(ImgSrc(_, GalleryLargeTrail))"
                data-thumb-width="480"
                alt="@image.altText.getOrElse("")"
            />
        </a>
    </li>
}
