@()
<div class="overlay gallery-lightbox js-gallery-lightbox" style="display:none;">
    <div class="gallery-lightbox__loader"> 
        <div class="pamplemousse">
            <div class="pamplemousse__pip"><i></i></div>
            <div class="pamplemousse__pip"><i></i></div>
            <div class="pamplemousse__pip"><i></i></div>
        </div>
    </div> 
    <div class="gallery-lightbox__sidebar"> 
        <div class="gallery-lightbox__close"></div>
        <div class="gallery-lightbox__progress">
            <span class="gallery-lightbox__index js-gallery-index"></span>
            <span class="gallery-lightbox__count js-gallery-count"></span>
        </div>
        <div class="gallery-lightbox__next js-gallery-next"></div>
        <div class="gallery-lightbox__prev js-gallery-prev"></div>
        <div class="gallery-lightbox__info-button"></div>
    </div>
    <div class="gallery-lightbox__img-container js-gallery-img-container js-image-upgrade"></div>
    <div class="gallery-lightbox__info">
        <div class="gallery-lightbox__img-title js-gallery-img-title"></div>
        <div class="gallery-lightbox__img-caption js-gallery-img-caption"></div>
        <div class="gallery-lightbox__img-credit js-gallery-img-credit"></div>
    </div>
</div>;