@()(implicit request: RequestHeader)
@import common.{Edition, LinkTo}

<div class="paidfor-band">
    <div class="gs-container paidfor-band__inner">
        @fragments.commercial.paidForMeta()
        <a class="paidfor-branding"
            @Edition(request).id match {
                case "AU" => { href="@LinkTo("/guardian-labs-australia")" }
                case "US" => { href="@LinkTo("/guardian-labs-us")" }
                case _    => { href="@LinkTo("/guardian-labs")" }
            }>
            @fragments.inlineSvg("glabs-logo", "logo")
            <span class='u-h'>Guardian Labs</span>
        </a>
    </div>
</div>
