<div class="paidfor-band">
    <div class="gs-container paidfor-band__inner">
        <div class="paidfor-meta">
            <span class="paidfor-meta__label">Paid Content</span>
            <div class="paidfor-label paidfor-meta__more has-popup">
                <button class="u-button-reset paidfor-label__btn popup__toggle" data-toggle="paidfor-popup--sticky">
                    About
                    @fragments.inlineSvg("glabs-logo-small", "logo")
                </button>
                <div class="popup is-off paidfor-popup paidfor-popup--sticky">
                    <h3 class="paidfor-popup__title">Paid stories are paid for and controlled by an advertiser</h3>
                    <a class="paidfor-popup__link" href="https://www.theguardian.com/info/2014/sep/23/paid-for-content">
                        Learn more about the Guardian’s funding from outside parties
                        @fragments.inlineSvg("arrow-right", "icon")
                    </a>
                </div>
            </div>
        </div>
        <a class="paidfor-branding" href="http://www.theguardian.com/guardian-labs">
            @fragments.inlineSvg("glabs-logo", "logo")
        </a>
    </div>
</div>
