@(metaData: model.MetaData, projectName: Option[String] = None, head: Html)(implicit request: RequestHeader)
@import conf.Static
@import conf.Configuration
@import views.support.OmnitureAnalyticsData

<meta charset="utf-8" />
<title>@views.support.Title(metaData)</title>

@fragments.metaData(metaData)
@head

<!--[if lt IE 9]>
    <script src="@Static("javascripts/components/html5shiv/html5shiv.js")"></script>
<![endif]-->

@* stylesheet <link>s - get the stylesheets downloading ASAP *@
@fragments.stylesheets(projectName)

@* polyfill, feature detect etc before we try and use the stylesheets *@
@fragments.javaScriptPreFlight(metaData)

@* try and load fonts before we use the stylesheets *@
@fragments.fonts()

@* start trying to use the stylesheets *@
@fragments.stylesheetLinksEnable()

@* load the app *@
@fragments.javaScriptBootstraps(metaData)
