@(page: model.Page, projectName: Option[String] = None, head: Html)(implicit request: RequestHeader, context: model.ApplicationContext)

@import model.Page.getContent
@import conf.switches.Switches.{preflightServerSideAdCallSwitch, PolyfillIO}
@import conf.Static

<meta charset="utf-8" />
<!--
 __        __                      _     _      _
 \ \      / /__    __ _ _ __ ___  | |__ (_)_ __(_)_ __   __ _
  \ \ /\ / / _ \  / _` | '__/ _ \ | '_ \| | '__| | '_ \ / _` |
   \ V  V /  __/ | (_| | | |  __/ | | | | | |  | | | | | (_| |
    \_/\_/ \___|  \__,_|_|  \___| |_| |_|_|_|  |_|_| |_|\__, |
                                                        |___/
Ever thought about joining us?
http://developers.theguardian.com/join-the-team.html
-->
<title>@views.support.Title(page)</title>

@fragments.metaData(page)
@head

@* stylesheet <link>s - get the stylesheets downloading ASAP *@
@fragments.stylesheets(projectName, getContent(page).exists(_.tags.isCrossword))

@if(PolyfillIO.isSwitchedOn) {
    <link rel="preload" as="script" href="@common.Assets.js.polyfillioUrl">
} else {
    <link rel="preload" as="script" href="@Static("javascripts/vendor/polyfillio.fallback.js")">
}
<link rel="preload" as="script" href="@Static("javascripts/graun.commercial.js")">

@*
Protect against ReferenceErrors in IE:
`window.console` only exists when the dev tools are open. If you reference
something that doesn't exist, JavaScript will throw a `ReferenceError`. Here, we
ensure console always exists one can safely reference it.
Example: http://output.jsbin.com/jodureg/1
*@
<script>
    window.console = window.console || undefined;
</script>

@if(preflightServerSideAdCallSwitch.isSwitchedOn) {
    <!--esi <esi:include src="/esi/ad-call" /> -->
}

@* inline JS - blocking *@
@fragments.inlineJSBlocking(page)
