@(item: model.ContentType, page: model.Page, showBadge: Boolean = false, showMeta: Boolean = true, amp: Boolean = false)(implicit request: RequestHeader)

@import views.support.ContributorLinks
@import views.support.TrailCssClasses.toneClass
@import model.Badges.badgeFor

<header class="content__head tonal__head tonal__head--@toneClass(item)
    @if(item.content.hasTonalHeaderByline && item.tags.hasLargeContributorImage) { content__head--byline-pic}
    @badgeFor(item).map { badge => content__head--is-badged
        @badge.classModifier.map(modifier => s"content__head--$modifier")
    }">

    <div class="content__header tonal__header">
        <div class="gs-container">
            <div class="content__main-column u-cf">

                @if(showMeta) {
                    @fragments.meta.metaInline(item, amp)
                }

                <h1 class="content__headline js-score" itemprop="headline">
                    @if(item.tags.isMedia) {
                        @defining(
                            item match {
                                case video: model.Video => "video-icon"
                                case audio: model.Audio => "volume-high"
                                // The only other 2 media types: gallery and picture both use camera icon
                                case _ => "camera"
                            }
                        ) { mediaIcon =>
                            @fragments.inlineSvg(mediaIcon, "icon", List("inline-tone-fill", "inline-icon--media"))
                        }
                    }
                    @Html(item.trail.headline)
                </h1>

                @if(amp && item.tags.isMatchReport && item.metadata.sectionId == "football") {
                    @defining({
                        val date = item.trail.webPublicationDate.minusDays(1).toLocalDate.toString("yyyy/MM/dd")
                        val teams = item.content.paFootballTeams.mkString("/")
                        s"football-mf2/api/match-summary/$date/$teams.json"
                    }) { path =>
                        @fragments.amp.matchSummaryAmp(path)
                    }
                }

                @if(item.content.hasTonalHeaderByline && item.tags.hasLargeContributorImage) {
                    @fragments.meta.bylineImage(item.tags)
                }

                @if(item.content.hasTonalHeaderByline) {
                    @item.trail.byline.map { text =>
                        <span class="content__headline content__headline--byline">@ContributorLinks(text, item.tags.contributors)</span>
                    }
                }

                @if(item.content.hasTonalHeaderIllustration) {
                    <span class="content__head__illustration hide-on-mobile">@fragments.inlineSvg("illustration-letters", "icon")</span>
                }

                @item.content.starRating.map { rating =>
                    <span class="u-h" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                        <meta itemprop="worstRating" content="1" />
                        <span itemprop="ratingValue">@rating</span> /
                        <span itemprop="bestRating">5</span> stars
                    </span>
                    @fragments.items.elements.starRating(rating)
                }

                @item.content.imdb.map { imdbId =>
                    <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Movie">
                        <link itemprop="sameAs" href="http://www.imdb.com/title/@imdbId/">
                        @defining(item.content.primaryKeyWordTag.map(_.name).getOrElse(".")) { tag =>
                            @* we're not the authority on the film name, but just to keep google validator happy
                            *@<meta itemprop="name" content="@tag"/>
                        }
                    </div>
                }

                @item.content.isbn.map { isbn =>
                    <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Book">
                        <meta itemprop="isbn" content="@isbn">
                        <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <meta itemprop="sameAs" content="http://schema.org/Person@* we can't know *@">
                            <meta itemprop="name" content=".@* we can't know *@">
                        </div>
                        <meta itemprop="name" content=".@* we can't know *@">
                    </div>
                }

                @if(showBadge && !item.commercial.isAdvertisementFeature) {
                    @fragments.commercial.badge(item, page)
                }

            </div>
        </div>
    </div>

    <div class="tonal__standfirst u-cf">
        @if(item.fields.standfirst.isDefined) {
            <div class="gs-container">
                <div class="content__main-column">
                    @if(showBadge && item.commercial.isAdvertisementFeature) {
                        <div class="content__meta-container js-content-meta js-football-meta u-cf">
                            @fragments.commercial.badge(item, page)
                        </div>
                    }
                    @if(!item.tags.isVideo) {
                        @fragments.standfirst(item)
                    }
                </div>
            </div>
        }
    </div>
</header>
