@(content: model.Content, showBadge: Boolean = false)(implicit request: RequestHeader)

<header class="content__head u-cf">
    <div class="gs-container">
        <div class="content__main-column">

            @fragments.meta.metaInline(content)

            <h1 itemprop="headline" class="content__headline js-score">@Html(content.headline)</h1>

            @if(!content.delegate.isVideo && !content.delegate.isGallery) {
                @fragments.standfirst(content)
            }

            @if(showBadge) {
                @fragments.commercial.badge(content)
            }

            @if(content.isCommentable) {
                <div class="content__head__comment-count content__head__comment-count--standfirst js-comment-count"></div>
            }

        </div>
    </div>
</header>
