@(page: model.MetaData)(implicit request: RequestHeader)
@import conf.Switches._
@import common.{LinkTo, Navigation, Edition}
@import common.editions._

@*<!--
Identity pages use identityHeader.scala.html, be sure
to apply any necessary changes to non-shared code there too.
-->*@

<header id="header" class="l-header u-cf" role="banner" data-link-name="global navigation: header">
    <div class="l-header-pre gs-container u-cf">
        <div class="brand-bar">
            @if(IdentityProfileNavigationSwitch.isSwitchedOn) {
                <div class="brand-bar__item brand-bar__item--profile popup-container has-popup brand-bar__item--has-control js-profile-nav" data-component="identity-profile">
                    <a href="@Configuration.id.url/signin" data-link-name="User profile" data-toggle="popup--profile"
                       class="brand-bar__item--action popup__toggle" data-test-id="sign-in-link"
                       aria-haspopup="true">
                        <span class="control__icon-wrapper">
                            <span class="control__icon">
                                <i class="i i-profile-white-36"></i>
                            </span>
                        </span>
                        <span class="js-profile-info control__info" data-test-id="sign-in-name">sign in</span>
                    </a>
                    <div class="js-profile-popup"></div>
                </div>
            }

            @if(Edition(request) == Uk) {
                <div class="brand-bar__item has-popup brand-bar__item--has-control popup-container brand-bar__item--joinus desktop-only" data-component="joinus">
                    <a href="#guardian-join-us" class="brand-bar__item--action popup__toggle" data-link-name="topNav : join us"
                    class="brand-bar__item--action popup__toggle js-search-toggle" data-toggle="top-bar__popup--joinus"
                    aria-haspopup="true" aria-controls="guardian-join-us">
                        <span class="control__icon-wrapper">
                            <span class="control__icon flushp">
                                <i class="i i-marque-36"></i>
                            </span>
                        </span>
                        <span class="control__info">join us</span>
                    </a>
                    <div class="popup is-off top-bar__popup--joinus" id="guardian-join-us">
                        <ul class="popup__group">
                            <li class="popup__item">
                                <a class="brand-bar__item--action" data-link-name="uk : topNav : membership"
                                href="https://membership.theguardian.com/?INTCMP=NGW_TOPNAV_UK_GU_MEMBERSHIP">
                                    membership
                                </a>
                            </li>
                            <li class="popup__item">
                                <a class="brand-bar__item--action" data-link-name="uk : topNav : subscribe"
                                href="http://subscribe.theguardian.com/?INTCMP=NGW_TOPNAV_UK_GU_SUBSCRIBE">
                                    subscribe
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            } else {
                <div class="brand-bar__item has-popup brand-bar__item--has-control popup-container brand-bar__item--joinus desktop-only" data-component="joinus">
                    <a href="https://www.guardiansubscriptions.co.uk/digitalsubscriptions/?prom=DGA15&INTCMP=NGW_HEADER_@{Edition(request).id}_GU_SUBSCRIBE&CMP=dis_2311" class="brand-bar__item--action"
                    data-link-name="@Edition(request) : topNav : subscribe" class="brand-bar__item--action">
                        <span class="control__icon-wrapper">
                            <span class="control__icon flushp">
                                <i class="i i-marque-36"></i>
                            </span>
                        </span>
                        <span class="control__info">subscribe</span>
                    </a>
                </div>
            }

            @if(SearchSwitch.isSwitchedOn) {
                <div class="brand-bar__item has-popup popup-container brand-bar__item--has-control brand-bar__item--search" data-component="search">
                    <a href="https://www.google.co.uk/advanced_search?q=site:www.theguardian.com" data-is-ajax data-link-name="Search icon"
                       class="brand-bar__item--action popup__toggle js-search-toggle" data-toggle="popup--search"
                       aria-haspopup="true">
                        <span class="control__icon-wrapper">
                            <span class="control__icon">
                                <i class="i i-search-white-36"></i>
                            </span>
                        </span>
                        <span class="control__info">search</span>
                    </a>
                </div>
            }
            @fragments.topNav.servicesLinks(page)
        </div>
    </div>

    <div class="popup popup--search is-off"><div class="js-search-placeholder"></div></div>

    <div class="l-header-main">
        <div class="gs-container">
            <span itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="logo" content="https://static-secure.guim.co.uk/icons/social/og/gu-logo-fallback.png" />
                @if(page.section == "observer" && page.isFront) {
                    <a href="@LinkTo{@page.url}" data-link-name="site logo" id="logo" class="logo-wrapper logo-wrapper--observer" itemprop="url" data-component="logo">
                        <span class="u-h" itemprop="name">The Observer</span>
                        <i class="i i-observer-logo-160 mobile-only"></i>
                        <i class="i i-observer-logo-320 hide-on-mobile"></i>
                    </a>
                } else {
                    <a href="@LinkTo{/}" data-link-name="site logo" id="logo" class="logo-wrapper" itemprop="url" data-component="logo">
                        <span class="u-h" itemprop="name">The Guardian</span>
                        <i class="i i-guardian-logo-160 mobile-only"></i>
                        <i class="i i-guardian-logo-320 hide-on-mobile"></i>
                        <span class="logo__tagline hide-on-mobile">Winner of the Pulitzer prize</span>
                    </a>
                }
            </span>
        </div>
    </div>
    @fragments.nav.navigation(page)

</header>
