@(page: model.Page, projectName: Option[String] = None, head: Html)(implicit request: RequestHeader, context: model.ApplicationContext)

@import model.Page.getContent
@import conf.switches.Switches.{preflightServerSideAdCallSwitch}
@import conf.Static
@import implicits.Strings.String2Uri
@import views.support.JavaScriptPage.getMap

<meta charset="utf-8" />
<title>@views.support.Title(page)</title>

@fragments.metaData(page)
@head

@* stylesheet <link>s - get the stylesheets downloading ASAP *@
@defining(getContent(page)) { content =>
    @fragments.stylesheets(projectName, content.exists(_.tags.isCrossword), content.exists(_.tags.isInteractive))
}

@*
Protect against ReferenceErrors in IE:
`window.console` only exists when the dev tools are open. If you reference
something that doesn't exist, JavaScript will throw a `ReferenceError`. Here, we
ensure console always exists one can safely reference it.
Example: http://output.jsbin.com/jodureg/1
*@
<script>
    window.console = window.console || undefined;
</script>

@if(preflightServerSideAdCallSwitch.isSwitchedOn) {
    @defining(getMap(page)
        .filter( { case (key: String, _) => key == "sharedAdTargeting"} )
        .map( { case (key, value) => (key, value.toString)}) ) { (params: Map[String, String]) =>
        <!--esi <esi:include src="@{"/esi/ad-call".appendQueryParams(params)}" /> -->
    }
}

@* inline JS - blocking *@
@fragments.inlineJSBlocking(page)
