@(image: Option[model.ImageContainer])
@import views.support.ImgSrc
@import views.support.LargeThumbnail
@import views.support.ArticleMainPicture

@image.map{ picture =>

    <figure itemprop="associatedMedia primaryImageOfPage" itemscope itemtype="http://schema.org/ImageObject" class="media-primary media-content">
        <img class="maxed main-image" src="@LargeThumbnail.bestFor(picture)"
        data-force-upgrade="true"
        @LargeThumbnail.width.map{w => data-thumb-width="@w"}
        data-fullsrc="@ArticleMainPicture.bestFor(picture)"
        @ArticleMainPicture.width.map{w => data-full-width="@w"}
        itemprop="contentURL"
        @ArticleMainPicture.captionFor(picture).map{ caption =>
            alt="@Html(caption)"
            title="@StripHtmlTagsAndUnescapeEntities(caption)" />
        }

        @LargeThumbnail.captionFor(picture).map{ caption =>
            <figcaption class="main-caption" itemprop="description">@Html(caption)</figcaption>
        }

    </figure>
}
