@(mainPicture: ImageAsset, smallCrop: ImageAsset)

<figure itemprop="associatedMedia primaryImageOfPage" itemscope itemtype="http://schema.org/ImageObject" class="media-primary media-content">
    <img class="maxed main-image" src="@smallCrop.path"
        data-force-upgrade="true"
        data-thumb-width="@smallCrop.width"
        data-fullsrc="@mainPicture.url.map(ImgSrc(_, ArticleMainPicture))"
        data-full-width="640"
        itemprop="contentURL"
        alt="@Html(mainPicture.altText.getOrElse(""))"
        title="@StripHtmlTagsAndUnescapeEntities(mainPicture.caption.getOrElse(""))" />
    @if(smallCrop.caption.headOption.getOrElse("").trim != "") {
    <figcaption class="main-caption" itemprop="description">@Html(smallCrop.caption.getOrElse(""))</figcaption>
    }
</figure>
