@import layout.ContentWidths.MainMedia
@import model.ContentPage
@import views.support.Commercial.isPaidContent
@import views.support.{ContributorLinks, RenderClasses}
@import views.support.TrailCssClasses.toneClass

@()(implicit page: ContentPage, request: RequestHeader)

<div class="content content--immersive tonal tonal--@toneClass(page.item) immersive-main-media immersive-main-media__gallery">

    @if(isPaidContent(page)) {
        @fragments.guBand()
    }

    @page.item.elements.mainPicture.map(_.images).orElse(page.item.trail.trailPicture).map { picture =>
        @fragments.image(
            picture = picture,
            classes = Seq("immersive-main-media__media"),
            widths = MainMedia.immersive,
            imageAltText = "",
            isImmersiveMainMedia = true
        )
    }

</div>

<div class="@RenderClasses("immersive-main-media__headline-container--dark", "immersive-main-media__headline-container--gallery", "content--pillar-news", s"content--pillar-${page.metadata.pillar.nameOrDefault}")">
    <div class="gs-container">
        <div class="content__main-column">
            @fragments.meta.metaInline(page.item)

            <h1 class="@RenderClasses(
                Map("content__headline--paidgallery" -> isPaidContent(page)),
                "content__headline", "content__headline--immersive", "content__headline--gallery", "content__headline--immersive--with-main-media"
                )">
                @Html(page.item.trail.headline)
            </h1>

            @defining(page.item.elements.mainPicture.flatMap(_.images.masterImage)) {
                case Some(masterImage) => {
                    <figcaption class="caption caption--gallery hide-until-desktop">
                        @if(masterImage.caption.isDefined) {
                            @fragments.inlineSvg("triangle", "icon")
                            @masterImage.caption.map(Html(_))
                        }

                        @if(masterImage.displayCredit && !masterImage.creditEndsWithCaption) {
                            @masterImage.credit.map(Html(_))
                        }
                    </figcaption>
                }
                case None => { }
            }

            @if(page.item.content.hasTonalHeaderByline) {
                @page.item.trail.byline.map { text =>
                    <span class="content__headline content__headline--byline">@ContributorLinks(text, page.item.tags.contributors)</span>
                }
            }
        </div>
    </div>
</div>
