@(metaData: model.MetaData)(implicit request: RequestHeader)
@import conf.switches.Switches._
@import common.InlineJs
@import templates.inlineJS.blocking.js._

<!--[if lt IE 9]>
    <script src="@Static("javascripts/components/html5shiv/html5shiv.js")"></script>
<![endif]-->

@fragments.omnitureScript(Some(metaData))

@* NOTE the order of these includes is important  *@
<script id="gu">
    // render-critical blocking JS

    // polyfills
    @Html(polyfills().body)

    // determine whether to run enhanced JS
    @InlineJs(shouldEnhance(metaData).body, "shouldEnhance.js")

    // page config
    @Html(config(metaData).body)

    // analytics code
    @InlineJs(analytics().body, "analytics.js")

    // apply render conditions
    @InlineJs(applyRenderConditions().body, "applyRenderConditions.js")

    // try and load fonts before we use the stylesheets
    @if(FontSwitch.isSwitchedOn) {
        @InlineJs(loadFonts().body, "loadFonts.js")
    }

    @if(AsyncCss.isSwitchedOn) {
        // enable non-blocking stylesheets
        // borrows *heavily* from https://github.com/filamentgroup/loadCSS.
        @InlineJs(enableStylesheets().body, "enableStylesheets.js")
    }

    // cloudwatch beacons
    @InlineJs(cloudwatchBeacons(metaData).body, "cloudwatchBeacons.js")

    // curl
    @Html(curl(metaData).body)

    // load the enhanced JS
    @InlineJs(bootEnhanced(metaData).body, "bootEnhanced.js")
</script>
