@()(implicit request: RequestHeader)

@**
 * Use this fragment to add JavaScript that can improve the perceived rendering speed
 * but that is too blocking / risky to be put in the `head` of the document
 *@

@import conf.switches.Switches.IdentityProfileNavigationSwitch
@import conf.Configuration
@import templates.inlineJS.nonBlocking.js._

<script>
// non-blocking JS to improve the perceived rendering speed
@InlineJs(getUserData().body, "getUserData.js")
@InlineJs(detectAdblock().body, "detectAdblock.js")

@if(IdentityProfileNavigationSwitch.isSwitchedOn) {
    // Insert username in top bar on page load
    @InlineJs(showUserName().body, "showUserName.js")
}

// ************* ANALYTICS *************

// Ophan pageview ID and browser ID are needed by Google Analytics, which runs just after this script tag
@InlineJs(ophanConfig().body, "ophanConfig.js")

</script>
