@**
 * Use this fragment to add JavaScript that can improve the perceived rendering speed
 * but that is too blocking / risky to be put in the `head` of the document
 *@

@import conf.switches.Switches.IdentityProfileNavigationSwitch
@import conf.Configuration
<script>
// non-blocking JS to improve the perceived rendereding speed
@if(IdentityProfileNavigationSwitch.isSwitchedOn) {
    // Insert username in top bar on page load
    @InlineJs.withFileNameHint(templates.inlineJS.nonBlocking.js.getUsername().body, "getUsername.js")
}
</script>
