@import common.InlineJs
@import conf.switches.Switches.{AsyncCss, FontSwitch}
@import model.Page.getContent
@import templates.inlineJS.blocking.js.{applyRenderConditions, config, enableStylesheets, loadFonts, shouldEnhance}
@import templates.inlineJS.blocking.polyfills.js.{classlist, details, matches, raf, setTimeout}
@import views.support.Polyfillio

@(page: model.Page)(implicit request: RequestHeader, context: model.ApplicationContext)

@if(!mvt.PolyfillIO.isParticipating) {
<!--[if lt IE 9]>
    <script src="@Static("javascripts/html5.js")"></script>
<![endif]-->
}

@* NOTE the order of these includes is important  *@
<script id="gu">
    @if(!mvt.PolyfillIO.isParticipating) {
    // ************* POLYFILLS *************
    // Mostly handled by es5 shim above. Those which aren't are polyfilled ASAP.

    // It's faster to pass arguments in setTimeout than to use an anon function, but IE <10 can't do that.
    // Used by RAF polyfill.
    @Html(setTimeout().body)

    // Pollyfill requestAnimationFrame
    @InlineJs(raf().body, "raf.js")
        // Polyfill Element.matches

        @InlineJs(matches().body, "matches.js")
    }

    // Polyfill classList
    @InlineJs(classlist().body, "classlist.js")

    // Polyfill details
    @InlineJs(details().body, "details.js")


    // ************* RENDER-CRITICAL BLOCKING JS *************


    // determine whether to run enhanced JS
    @InlineJs(shouldEnhance(page.metadata).body, "shouldEnhance.js")

    // page config
    @Html(config(page).body)

    // apply render conditions
    @InlineJs(applyRenderConditions().body, "applyRenderConditions.js")

    // try and load fonts before we use the stylesheets
    @if(FontSwitch.isSwitchedOn) {
        @InlineJs(loadFonts().body, "loadFonts.js")
    }

    @if(AsyncCss.isSwitchedOn) {
        // enable non-blocking stylesheets
        // borrows *heavily* from https://github.com/filamentgroup/loadCSS.
        @InlineJs(enableStylesheets().body, "enableStylesheets.js")
    }

    // ************* LOAD THE MAIN APP ASYNC *************

    // Polyfill for async script
    (function (document, window) {
        function polyfilled() {
            try {
                window.guardian.loadPolyfillioFallback;
                window.guardian.polyfilled = true;
                window.guardian.onPolyfilled();
            } catch (e) {};
        }

        function loadFallback () {
            var polyfillioLoader = document.getElementById('polyfillio-loader');
            polyfillioLoader.parentNode.removeChild(polyfillioLoader);

            var script = document.createElement('script');
            var ref = document.getElementById('graun.standard');
            script.src = '@Static("javascripts/vendor/polyfillio.fallback.js")';
            ref.parentNode.insertBefore(script, ref);
        }

        function cancelFallback() {
            window.clearTimeout(window.guardian.loadPolyfillioFallback);
        }

        var polyfillScript = document.createElement('script');
        var polyfillRef = document.getElementsByTagName('script')[0];
        polyfillScript.id = "polyfillio-loader";
        polyfillScript.src = '@Polyfillio.url';
        polyfillScript.onerror = function () {
            cancelFallback();
            loadFallback();
        };
        polyfillScript.onload = cancelFallback;
        polyfillRef.parentNode.insertBefore(polyfillScript, polyfillRef);

        window.guardian.loadPolyfillioFallback = window.setTimeout(loadFallback, 1);

        var script = document.createElement('script');
        var ref = document.getElementsByTagName('script')[0];
        script.id = "graun.standard";
        script.src = '@Static("javascripts/graun.standard.js")';
        ref.parentNode.insertBefore(script, ref);
    })(document, window);
</script>
