@(item: model.MetaData)(implicit request: RequestHeader)
@import conf.Switches._
@import conf.Static
@import conf.Configuration

@* Critical scripts that should execute as soon as possible, preventing layout thrashing *@

<!--[if lt IE 9]>
    <script src="@Static("javascripts/components/html5shiv/html5shiv.js")"></script>
<![endif]-->

<style class="webfont"
    data-cache-name="GuardianEgyptianWeb"
    data-cache-file-woff2="@Static("fonts/GuardianEgyptianWeb.woff2.json")"
    data-cache-file-woff="@Static("fonts/GuardianEgyptianWeb.woff.json")"
    data-cache-file-ttf="@Static("fonts/GuardianEgyptianWeb.ttf.json")"></style>
<style class="webfont"
    data-cache-name="GuardianTextEgyptianWeb"
    data-cache-file-woff2="@Static("fonts/GuardianTextEgyptianWeb.woff2.json")"
    data-cache-file-woff="@Static("fonts/GuardianTextEgyptianWeb.woff.json")"
    data-cache-file-ttf="@Static("fonts/GuardianTextEgyptianWeb.ttf.json")"></style>
<style class="webfont"
    data-cache-name="GuardianSansWeb"
    data-min-breakpoint="desktop"
    data-cache-file-woff2="@Static("fonts/GuardianSansWeb.woff2.json")"
    data-cache-file-woff="@Static("fonts/GuardianSansWeb.woff.json")"
    data-cache-file-ttf="@Static("fonts/GuardianSansWeb.ttf.json")"></style>
<style class="webfont"
    data-cache-name="GuardianTextSansWeb"
    data-min-breakpoint="desktop"
    data-cache-file-woff2="@Static("fonts/GuardianTextSansWeb.woff2.json")"
    data-cache-file-woff="@Static("fonts/GuardianTextSansWeb.woff.json")"
    data-cache-file-ttf="@Static("fonts/GuardianTextSansWeb.ttf.json")"></style>

<script id="gu">

    if (!Function.prototype.bind) {
        Function.prototype.bind = function (oThis) {
            if (typeof this !== "function") {
                // closest thing possible to the ECMAScript 5
                // internal IsCallable function
                throw new TypeError("Function.prototype.bind - what is trying to be bound is not callable");
            }

            var aArgs = Array.prototype.slice.call(arguments, 1),
                    fToBind = this,
                    fNOP = function () {},
                    fBound = function () {
                        return fToBind.apply(this instanceof fNOP && oThis
                                        ? this
                                        : oThis,
                                aArgs.concat(Array.prototype.slice.call(arguments)));
                    };

            fNOP.prototype = this.prototype;
            fBound.prototype = new fNOP();

            return fBound;
        };
    }

    @* needed due to class manipulation in bonzo is not x-browser - https://github.com/ded/bonzo/pull/133 *@
    if (!String.prototype.trim) {
        String.prototype.trim = function () {
            return this.replace(/^\s+|\s+$/g, '');
        };
    }

    @* JSON support needed for raven *@
    if ("object" !== typeof JSON) {
        var s = document.createElement('script'),
            sc = document.getElementsByTagName('script')[0];
        s.src = '@Static("javascripts/components/JSON-js/json2.js")';
        sc.parentNode.insertBefore(s, sc);
    }

    var guardian = {
        isModernBrowser: (
            'querySelector' in document
            && 'addEventListener' in window
            && 'localStorage' in window
            && 'sessionStorage' in window
            && 'bind' in Function
            && (
                ('XMLHttpRequest' in window && 'withCredentials' in new XMLHttpRequest())
                || 'XDomainRequest' in window
            )
        ),
        css: {
            loaded: false
        },
        config: @fragments.javaScriptConfig(item)
    }, baseFontSize;

    // rems are calculated in the CSS assuming a 16px baseline.
    // if the user has changed theirs, account for it.
    if('getComputedStyle' in window) {
        baseFontSize = window.getComputedStyle(document.documentElement).getPropertyValue("font-size");
        if(parseInt(baseFontSize, 10) !== 16) {
            document.documentElement.style.fontSize = baseFontSize;
        }
    }

    (function(isModern) {
        function cssToDOM( name ) {
            return name.replace(/([a-z])-([a-z])/g, function(str, m1, m2) {
                return m1 + m2.toUpperCase();
            }).replace(/^-/, '');
        }

        function testCssSupport(prop, value) {
            var valueIsDefined = value !== undefined;
            if(valueIsDefined && ('CSS' in window && 'supports' in window.CSS)) {
                return window.CSS.supports(prop, value);
            } else {
                var elm = document.createElement('test');
                prop = cssToDOM(prop);
                if(elm.style[prop] !== undefined) {
                    if(valueIsDefined){
                        var before = elm.style[prop];
                        try { elm.style[prop] = value; } catch (e) {}
                        if(elm.style[prop] != before) {
                            delete elm;
                            return true;
                        } else {
                            delete elm;
                            return false;
                        }
                    }
                    delete elm;
                    return true;
                }
                return false;
            }
         }

        // must always be set before the Omniture file is parsed
        window.s_account = guardian.config.page.omnitureAccount;

        @* we want to add/remove classes to HTML ASAP to avoid FOUC *@
        if (isModern) {
            var docClass = document.documentElement.className;

            @* http://modernizr.com/download/#-svg *@
            function hasSvgSupport() {
                var ns = {'svg': 'http://www.w3.org/2000/svg'};
                return !!document.createElementNS && !!document.createElementNS(ns.svg, 'svg').createSVGRect;
            }
            if (hasSvgSupport()) {
                docClass += ' svg';
            }

            if(testCssSupport('flex') || testCssSupport('-ms-flex') || testCssSupport('-webkit-flex') || testCssSupport('-moz-box-flex') || testCssSupport('-webkit-box-flex')) {
                docClass += ' has-flex';
            } else {
                docClass += ' has-no-flex';
            }

            if(testCssSupport('flex-wrap') || testCssSupport('-ms-flex-wrap') || testCssSupport('-webkit-flex-wrap')) {
                docClass += ' has-flex-wrap';
            } else {
                docClass += ' has-no-flex-wrap';
            }
            document.documentElement.className = docClass.replace(/\bis-not-modern\b/g, 'is-modern');
        }
    })(guardian.isModernBrowser);

    document.documentElement.className = document.documentElement.className.replace(/\bjs-off\b/g, 'js-on');

</script>
