@(item: model.MetaData)(implicit request: RequestHeader)
@import conf.Switches._
@import conf.Static
@import conf.Configuration
@import views.support.OmnitureAnalyticsData

@* Critical scripts that should execute as soon as possible, preventing layout thrashing *@

<!--[if lt IE 9]>
    <script src="@Static("javascripts/components/html5shiv/html5shiv.js")"></script>
<![endif]-->

<script id="gu">
var last = (new Date()).getTime();
var framesLeft = 200;
var poll = function () {
var next = (new Date()).getTime();
console.log('frame time: ', next - last);
last = next;
if (framesLeft > 0) {
framesLeft--;
requestAnimationFrame(poll);
}
};
requestAnimationFrame(poll);
    @Html(templates.headerInlineJS.js.polyfills().body)
    @Html(templates.headerInlineJS.js.shouldEnhance(item).body)
    @Html(templates.headerInlineJS.js.config(item).body)
    @Html(templates.headerInlineJS.js.featureDetection().body)

    @* Not the usual type of thing we do, but I want this separate to our "normal" javascript. *@
    @* also delete iPhoneConfidenceCheck inside of facia.js *@
    @Html(templates.headerInlineJS.js.cloudwatchBeacons(item).body)

    @* must always be set before the Omniture file is parsed *@
    window.s_account = "@OmnitureAnalyticsAccount(item)"; //omniture
</script>

@*
    http://blogs.msdn.com/b/ieinternals/archive/2010/05/13/xdomainrequest-restrictions-limitations-and-workarounds.aspx
*@
<!--[if lte IE 9]>
    <script>
      guardian.config.page.ajaxUrl = guardian.config.page.ajaxUrl.replace(/^https:/, '');
    </script>
<![endif]-->
