@(item: model.MetaData, curlPaths: Map[String, String] = Map())(implicit request: RequestHeader)
@import conf.Switches._
@import conf.Static
@import conf.Configuration

@* Scripts that should be executed after CSS is loaded *@

<script>

    var modules = [],
        redefine = function(modules) {
            modules.forEach(function(module) {
                define.apply(null, module);
            });
        },
        define = function() {
            modules.push(arguments);
        };
    define.amd = true;

    var curl = {
        baseUrl: '@{Configuration.assets.path}javascripts',
        apiName: 'require',
        overwriteApi: true,
        paths: {
            @curlPaths.map { case (module, path) =>
                '@module': '@Static(path)',
            }
            facebook: '//connect.facebook.net/en_US/all.js',
            swipe: '@Static("javascripts/components/swipe/swipe.js")',
            zxcvbn: '@Static("javascripts/components/zxcvbn/index.js")',
            gravity: '@Static("javascripts/vendor/gravity.js")',
            'ophan/ng': '@{Configuration.javascript.config("ophanJsUrl")}',
            outbrain: '@Static("javascripts/vendor/outbrain.js")',
            foresee: '@Static("javascripts/vendor/foresee/foresee-trigger.js")',
            googletag: '@{Configuration.javascript.config("googletagJsUrl")}'
        }
    };

    (function(isModern) {

        if (!isModern) { return false; }

        function loadFontsAsynchronously() {
            @if(FontSwitch.isSwitchedOff) {
                return;
            }
            var f, x;

            x = document.getElementById('gu');
            f = document.createElement('link');
            f.rel = 'stylesheet';
            f.href = '@Static("stylesheets/webfonts.css")';
            window.setTimeout(function() {
                x.parentNode.insertBefore(f, x);
            }, 0);
        }

        function loadFontsFromStorage(prefs, key) {

            var showFonts = false,
                fontPreference = localStorage['gu.prefs.switch.font-family'],
                fontSwitch = (fontPreference) ? JSON.parse(fontPreference).value : undefined;

            @if(FontSwitch.isSwitchedOn) {
                showFonts = true;
            }

            if (fontSwitch === true) {
                showFonts = true;
            } else if (fontSwitch === false && fontPreference) {
                showFonts = false;
            }

            if (showFonts) {
                var styleNodes = document.querySelectorAll('[data-cache-name]');
                for (var i = 0, j = styleNodes.length; i<j; ++i) {
                    var style = styleNodes[i],
                        nameAndCacheKey = style.getAttribute('data-cache-file-woff').match(/fonts\/(.*)\.woff(?:\.(.*))?\.json$/),
                        cachedCss = localStorage.getItem('gu.fonts.' + nameAndCacheKey[1] + '.' + nameAndCacheKey[2]);
                        @* try to parse it (should really use the storage module) *@
                        try {
                            cachedCss = JSON.parse(cachedCss).value;
                        } catch(e) {}
                    if (cachedCss) {
                        style.innerHTML = cachedCss;
                        style.setAttribute('data-cache-full', 'true');
                    }
                }
            }
        }

        @* Display hinted fonts (loaded asynchronously) in these platforms: *@
        var loadsHintedFonts = /Windows/;
        @* But exclude these platforms (and load non-hinted fonts from localStorage): *@
        var loadsNonHintedFonts = /W(indows Phone|PDesktop)/;

        guardian.shouldLoadFontsAsynchronously = loadsHintedFonts.test(navigator.userAgent)
                                                 && !loadsNonHintedFonts.test(navigator.userAgent);

        if (guardian.shouldLoadFontsAsynchronously) {
            loadFontsAsynchronously();
        } else {
            loadFontsFromStorage();
        }

        @if(CssFromStorageSwitch.isSwitchedOn && !play.Play.isDev()) {
            function loadCssFromStorage() {
                var c = localStorage.getItem('gu.css.@Static("stylesheets/global.css").md5Key'), s, head;
                if(c) {
                    s = document.createElement('style');
                    head = document.getElementsByTagName('head')[0];
                    s.innerHTML = c;
                    s.setAttribute('data-loaded-from', 'local');
                    head.appendChild(s);
                    guardian.css.loaded = true;
                }
            }

            loadCssFromStorage();
        }

    })(guardian.isModernBrowser);

</script>

<script async="async" src="@Static("javascripts/bootstraps/app.js")"></script>
