@(item: model.MetaData, switches: Seq[com.gu.management.Switchable])(implicit request: RequestHeader)
@import conf.Configuration
@import views.support.MetadataJson
@import views.support.JavaScriptVariableName
@import common.Edition

{
    "page": {
        @{Html(item.metaData.map{ data => MetadataJson(data) }.mkString(","))},
        @{Html((Configuration.javascript.config ++ Configuration.javascript.pageData).map{ case (key, value) =>
            s""""${JavaScriptVariableName(key.split('.').last)}":"${value}""""}.mkString(",")
        )},
        "edition": "@Edition(request).id",
        "ajaxUrl": "@Configuration.ajax.url",
        "isDev": @play.Play.isDev(),
        "isFacia" : @IsFacia(request),
        "oasHost": "oas.theguardian.com",
        "oasUrl": "http://oas.theguardian.com/RealMedia/ads/",
        "oasSiteIdHost": "www.theguardian.com",
        "idUrl": "@Configuration.id.url",
        "beaconUrl": "@Configuration.debug.beaconUrl"
    },
    "switches" : { @{Html(switches.map{ switch =>
            s""""${JavaScriptVariableName(switch.name)}":${switch.isSwitchedOn}"""
        }.mkString(","))}
    },
    "modules": { }
}
