@(item: model.MetaData, switches: Seq[com.gu.management.Switchable])(implicit request: RequestHeader)
@import conf.Configuration
@import views.support.MetadataJson
@import views.support.JavaScriptVariableName
@import common.Edition
@import common.Site
@import common.SiteOr

{
    "page": {
        @{Html(item.metaData.map{ data => MetadataJson(data) }.mkString(","))},
        @{Html((Configuration.javascript.config ++ Configuration.javascript.pageData).map{ case (key, value) =>
            s""""${JavaScriptVariableName(key.split('.').last)}":"${value}""""}.mkString(",")
        )},
        "edition": "@Edition(request).id",
        "ajaxUrl": "@Configuration.ajax.url",
        "isDev": @play.Play.isDev(),
        "isDotcom": @{!Site(request).isDefined}, @* TODO temporary till after dotcom switch *@
        "oasHost": @SiteOr{site=>"oas.guardian.co.uk"}{"oas.theguardian.com"},
        "oasUrl": @SiteOr{site=>"http://oas.guardian.co.uk/RealMedia/ads/"}{"http://oas.theguardian.com/RealMedia/ads/"},
        "oasSiteIdHost": @SiteOr{site=>"@Configuration.oas.siteIdHost"}{"www.theguardian.com"},
        "idUrl": "@Configuration.id.url",
    },
    "switches" : { @{Html(switches.map{ switch =>
            s""""${JavaScriptVariableName(switch.name)}":${switch.isSwitchedOn}"""
        }.mkString(","))}
    },
    "modules": { }
}
