@(keywords: Seq[model.Tag], visibleKeywords: Int = 5, title: String = "Tags", tone: Option[String] = None, allPath: Option[String] = None)(implicit request: RequestHeader)

@import common.LinkTo
@import model.Tag
@import views.support.{RowInfo, Seq2zipWithRowInfo}

@renderItem(keyword: Tag, row: RowInfo, clazz: String = "", trailingComma: Boolean = false) = {
    <li class="inline-list__item @clazz">
        <a class="@if(keyword.isFootballTeam){js-football-team} @if(keyword.isFootballCompetition){ js-football-competition} button button--small button--tag @tone.map("button--tone-" + _).getOrElse("button--secondary")"
           href="@LinkTo(keyword.url)"
           data-link-name="keyword: @keyword.id"
           itemprop="keywords">
               @keyword.name
               @if(keywords.filter(_ != keyword).find(_.name == keyword.name)){ (@keyword.sectionName) }
        </a>
    </li>
}

@defining(keywords.filterNot(_.isSectionTag).take(if(keywords.filterNot(_.isSectionTag).length == (visibleKeywords + 1)){visibleKeywords + 1} else {visibleKeywords})) { shownKeywords =>
    @defining(keywords.filterNot(_.isSectionTag).drop(if(keywords.filterNot(_.isSectionTag).length == (visibleKeywords + 1)){visibleKeywords + 1} else {visibleKeywords})) { hiddenKeywords =>
        @if(shownKeywords.nonEmpty || allPath.nonEmpty) {
            <ul class="keyword-list inline-list">
                @allPath.map { path =>
                    <li class="inline-list__item">
                        <a href="@LinkTo(path)"
                           data-link-name="all"
                           class="button button--small button--tag button--secondary">All today's stories</a>
                    </li>
                }

                @shownKeywords.zipWithRowInfo.map{ case(keyword, row) =>
                    @renderItem(keyword, row, trailingComma = hiddenKeywords.nonEmpty)
                }

                @if(hiddenKeywords.nonEmpty) {

                    <li class="inline-list__item more-tags js-more-tags">
                        <button class="u-button-reset js-more-tags__link button button--small button--tag @tone.map("button--tone-" + _ + "-variant").getOrElse("button--tertiary") button--more"
                           data-link-name="more-tags">More…</button>
                    </li>

                    @hiddenKeywords.zipWithRowInfo.map{ case(keyword, row) =>
                        @renderItem(keyword, row, clazz = "modern-hidden modern-hidden-tag")
                    }
                }
            </ul>
        }
    }
}
