@(item: model.ContentType)(implicit request: RequestHeader)
@import views.support.{ImgSrc, Item140}
<div class="content__standfirst content__standfirst--labour-liverpool-article" data-link-name="standfirst" data-component="standfirst">
    @item.fields.trailText.map{ t =>

        @defining({
            val trailText = views.support.StripHtmlTags(t)
            // description has to end in a full stop in the metadata to match google linked data standards, but
            // editorial style doesn't allow it in trail text.
            s"$trailText${if (item.tags.isReview) "." else ""}"
        }){ trailText =>
            <meta itemprop="description" content="@trailText" />
        }
    }

    <img class="membership-cutout" src="@ImgSrc("https://static.guim.co.uk/sys-images/Guardian/Pix/contributor/2015/8/18/1439913873894/Ewen-MacAskill-R.png", Item140)">
    @fragments.inlineSvg("quote", "icon", List("labour-liverpool-quotes"))

    @item.fields.standfirst.map { standfirst =>
        @withJsoup(BulletCleaner(
            standfirst
        ))(InBodyLinkCleaner("in standfirst link"))
    }
</div>
