@(item: model.ContentType)(implicit request: RequestHeader)

<div class="content__standfirst content__standfirst--labour-liverpool-article" data-link-name="standfirst" data-component="standfirst">
    @item.fields.trailText.map{ t =>

        @defining({
            val trailText = views.support.StripHtmlTags(t)
            // description has to end in a full stop in the metadata to match google linked data standards, but
            // editorial style doesn't allow it in trail text.
            s"$trailText${if (item.tags.isReview) "." else ""}"
        }){ trailText =>
            <meta itemprop="description" content="@trailText" />
        }
    }
    
    <img class="membership-cutout" src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/contributor/2015/8/18/1439913873894/Ewen-MacAskill-R.png?w=300&q=55&auto=format&usm=12&fit=max&s=2c8dc813795a8c11dd98e28377a5893f">

    @item.fields.standfirst.map { standfirst =>
        @defining(Edition(request)) { edition =>
            @withJsoup(BulletCleaner(
                "<div class=\"membership-quote-marks\">" + fragments.inlineSvg("quote-marks", "membership") + "</div>" + standfirst
            ))(InBodyLinkCleaner("in standfirst link"))
        }
    }
</div>
