@()(implicit request: RequestHeader)
@import conf.Switches._

@if(CssFromStorageSwitch.isSwitchedOn && !play.Play.isDev()) {
    @*
      - Include any browser [<!-->]
      - Exclude IE < 10 [(gt IE 9)]
          - As a result, no IE mobile should parse this code
    *@
    <!--[if (gt IE 9)]><!-->
        <noscript>
            <link rel="stylesheet" id="global-css" type="text/css" href="@Static("stylesheets/global.css")" />
        </noscript>
        <script>
            (function() {

                if(!guardian.css.loaded) {

                    function injectElement(e) {
                        var head = document.getElementsByTagName('head')[0];
                        head.appendChild(e);
                    }

                    function inlineCss(c) {
                        var s = document.createElement('style');
                        s.innerHTML = c;
                        s.setAttribute('data-loaded-from', 'ajax');
                        injectElement(s);
                    }

                    function storeCss(c) {
                        Object.keys(localStorage).forEach(function(key) {
                            if(key.match(/^gu.css./g)) { localStorage.removeItem(key); }
                        });
                        try {
                            localStorage.setItem('gu.css.@Static("stylesheets/global.css").md5Key', c);
                        } catch(e) {

                        }
                    }

                    function loadCssWithLink() {
                        var l = document.createElement('link');

                        l.rel = "stylesheet"; l.type = 'text/css';
                        l.href = '@Static("stylesheets/global.css")';
                        injectElement(l);
                    }

                    function loadCssWithAjax() {
                        var xhr = new XMLHttpRequest();
                        xhr.open('GET', '@Static("stylesheets/global.css")?page=ajax', true);
                        xhr.onreadystatechange = function() {
                            if (xhr.readyState === 4) {
                                if(xhr.status === 200) {
                                    inlineCss(xhr.responseText);
                                    storeCss(xhr.responseText);
                                } else {
                                    loadCssWithLink();
                                };
                            }
                        }
                        xhr.timeout = 5000;
                        xhr.send();
                    }

                    if(guardian.isModernBrowser && 'withCredentials' in new XMLHttpRequest() && !/W(indows Phone|PDesktop)/.test(navigator.userAgent)) {
                        loadCssWithAjax();
                    } else {
                        loadCssWithLink();
                    }

                }
            })();
        </script>
    <!--<![endif]-->
} else {
    @*
      - Include any browser [<!-->]
      - Exclude IE < 10 [(gt IE 9)]
      - Exclude IE Mobile [&(!IEMobile)]
    *@
    <!--[if (gt IE 9)&(!IEMobile)]><!-->
        <link rel="stylesheet" id="global-css" type="text/css" href="@Static("stylesheets/global.css")" />
    <!--<![endif]-->
}
