@(item: MetaData)(implicit request: RequestHeader)
@import java.net.URI

@item.canonicalUrl.map(canonical => new URI(canonical).getPath()).map{ url =>

    @SiteOr{ site =>
        @if(item.id == ""){
            <a id="main-site" rel="nofollow" href="http://@{site.desktopHost}/fullsite" data-link-name="desktop version @Edition(request).id full site">Desktop version</a>
        } else {
            <a id="main-site" rel="nofollow" href="http://@{site.desktopHost}@url?mobile-redirect=false" data-link-name="desktop version @Edition(request).id">Desktop version</a>
        }
    }{
        <a id="main-site" rel="nofollow" href="/?mobile-redirect=false" data-link-name="desktop version @Edition(request).id">Desktop version</a>
    }
}


