@(page: model.MetaData)(implicit request: RequestHeader)
@import conf.Switches.{SearchSwitch, ReleaseMessageSwitch, IdentityProfileNavigationSwitch}
@import java.net.URLEncoder.encode
@import common.DesktopLink

@if(ReleaseMessageSwitch.isSwitchedOn) {
    <div class="site-message u-h" data-link-name="release message">
        <div class="site-message__inner">
            <div class="js-site-message-copy">
            </div>
            <button class="site-message__close js-site-message-close" data-link-name="hide release message">
                <i class="i i-message-close"></i>
                <span class="u-h">Hide this message</span>
            </button>
        </div>
    </div> 
}
