<style>
	.modes {
	    margin: 30px 10px;   
	    text-align: center;
	    border: 1px dotted #ccc;
	    padding: 20px 0;
	    border-left: 0;
	    border-right: 0;
	}

	.modes li {
	    display: inline-block;
	    margin-right: 5px;
	}
	.modes li a {
	    background: #eee;
	    border: 2px solid #ccc;
	    padding: 5px 10px;
	    font: bold 22px arial;
	    color: #999;
	}
</style>

<!-- these have to be all on one line. bloody inline-block... -->
<ul class="modes plain">
	<li><a href="?mode=1">1</a></li><li><a href="?mode=2">2</a></li><li><a href="?mode=3">3</a></li><li><a href="?mode=4">4</a></li><li><a href="?mode=5">5</a></li><li><a href="?mode=6">6</a></li>
</ul>