@(static: StaticAssets, config: GuardianConfiguration, page: MetaData)(implicit request: RequestHeader)

<header id="header" class="cf">

	<a href="/" data-link-name="site logo" id="logo">
        The Guardian
	</a>

    <div id="navigation-header" data-link-name="global navigation: header">
        <a href="#topstories-footer" data-is-ajax="1" data-link-name="top-stories" id="topstories-control-header" class="topstories-control initially-off">Top stories</a>

        <a href="#sections-footer" data-is-ajax="1" data-link-name="sections" id="sections-control-header" class="sections-control"><span>Sections</span></a>
    </div>

</header>

<div id="topstories-header" class="nav-popup top-stories initially-off"></div>

<div id="sections-header" class="nav-popup sections initially-off">
    @fragments.sections(config, page)
</div>
