@(static: StaticAssets, config: GuardianConfiguration, page: MetaData, isFooter: Boolean=false)(implicit request: RequestHeader)

@if(!isFooter){
<header id="header" class="cf">
} else {
<div id="navigation-footer">
    <a class="top type-6" data-link-name="back to top" href="#top">Back to top</a>
}

<a href="/" data-link-name="site logo" id="logo">
    The Guardian
</a>

@if(!isFooter){
    <div id="navigation-header" data-link-name="global navigation: header">
        <a href="#topstories-footer" data-is-ajax="1" data-link-name="Top stories" id="topstories-control-header" 
        class="topstories-control initially-off type-6"><span>Top stories <i class="i-arrow-down"></i></span></a>
        
        <a href="#sections-footer" data-is-ajax="1" data-link-name="Sections" id="sections-control-header" 
        class="sections-control"><span>Sections</span></a>
    </div>

</header>

<div id="topstories-header" class="nav-popup top-stories initially-off"></div>
}

<div id="@if(isFooter){sections-footer} else {sections-header}" class="nav-popup sections@if(!isFooter){ initially-off}">
    @fragments.sections(config, page)
</div>

@if(isFooter){
</div>
}
