@(page: model.Page)(implicit request: RequestHeader)

@import conf.Atomise
@import common.{LinkTo, NewNavigation, NavLink, Edition}
@import views.support.RenderClasses

<header class="@Atomise("New-header")" role="banner">
    @defining(
        NewNavigation.SectionLinks.getSectionLinks(page.metadata.sectionId, Edition(request))
    ) { case (currentTopLevelSection, sections) =>
        <div class="new-header__inner gs-container">
            <a href="@LinkTo{/}" class="new-header__logo-wrapper" tabindex="0" data-link-name="nav2 : logo">
                <h1 class="u-h">The Guardian</h1>
                @fragments.inlineSvg("guardian-logo-160", "logo", List("new-header__logo"))
            </a>

            @fragments.nav.editionPicker()

            <nav class="new-header__nav" data-component="nav2">
                @NewNavigation.PrimaryLinks.map { link =>
                    <a class="new-header__nav__link @if(link.title == currentTopLevelSection) {section-indicator}"
                        href="@LinkTo(link.url)"
                        data-link-name="nav2 : primary : @link.title">
                        @link.title
                    </a>
                }
                <label for="main-menu-toggle"
                    class="new-header__nav__menu-button js-change-link"
                    tabindex="0"
                    data-link-name="nav2 : veggie-burger : show">
                        <span class="new-header__veggie-burger-icon"></span>
                        <span class="u-h">Menu</span>
                </label>
                <input type="checkbox" id="main-menu-toggle" class="new-header__nav__button js-enhance-checkbox" aria-controls="main-menu">

                @fragments.nav.newHeaderMenu()
            </nav>
        </div>

        <div class="tertiary-container">
            <ul class="tertiary-navigation">

                @if(page.metadata.isFront) {
                    @defining(
                        if(page.metadata.sectionId.isEmpty || page.metadata.isFront) page.metadata.id else page.metadata.sectionId
                    ) { id =>

                        @NewNavigation.TertiaryNav.getTertiaryNavLinks(id).map { tertiaryLink =>

                            <li class="tertiary-navigation__item">
                                <a class="tertiary-navigation__link" href="@LinkTo(tertiaryLink.url)" data-link-name="nav2 : tertiary : @tertiaryLink.title">
                                    @Html(tertiaryLink.title)
                                </a>
                            </li>
                        }
                    }
                }
                @sections.map { link =>
                    <li class="tertiary-navigation__item">
                        <a class="tertiary-navigation__link" href="@LinkTo(link.url)" data-link-name="nav2 : tertiary : @link.title">
                        @Html(link.title)
                        </a>
                    </li>
                }
            </ul>
        </div>
    }

</header>
