@(page: model.Page)(implicit request: RequestHeader)

@import conf.Configuration
@import common.{LinkTo, Edition}
@import views.support.RenderClasses
@import navigation.{NewNavigation, NavigationHelpers}
@import navigation.UrlHelpers.{getReaderRevenueUrl, getJobUrl, getContributionOrSupporterUrl, NewHeader, Subscribe, getSupportOrSubscriptionUrl}

<header class="@RenderClasses(Map(
            "new-header--mvt-desktop" -> mvt.ABNewDesktopHeaderVariant.isParticipating,
            "new-header--slim" -> page.metadata.hasSlimHeader
        ), "new-header")"
        role="banner">
    @defining(NavigationHelpers.getSectionOrPageId(page)) { id =>
        @defining(
            NavigationHelpers.getPillarName(id)
        ) { case (currentTopLevelSection) =>
            <nav class="new-header__inner gs-container"
                 data-component="nav2"
                 aria-label="Guardian sections">

                 @if(!page.metadata.hasSlimHeader) {
                    <div class="new-header__edition-container hide-until-desktop">
                         <a class="top-bar__item top-bar__item--dropdown"
                             data-link-name=""
                             data-edition=""
                             href="">
                                UK edition
                         </a>
                    </div>
                }

                <a href="@LinkTo{/}"
                   class="new-header__logo"
                   data-link-name="nav2 : logo">
                    <span class="u-h">The Guardian - Back to home</span>
                    @fragments.inlineSvg("guardian-logo-160", "logo", List(
                        "new-header__logo"
                    ))
                </a>

                <div class="new-header__top-bar hide-until-mobile">
                    @defining(
                        Edition(request).id.toLowerCase()
                    ) { editionId =>
                      @if(!page.metadata.hasSlimHeader) {
                            <a class="top-bar__item top-bar__item--cta js-change-become-member-link"
                              data-link-name="nav2 : supporter-cta"
                              data-edition="@{editionId}"
                              href="@getContributionOrSupporterUrl(editionId)">
                              <span>
                                  @if(editionId == "us") {
                                     make a <br>contribution
                                  } else {
                                      become a <br>supporter
                                  }
                              </span>
                            </a>

                            <a class="top-bar__item hide-until-tablet js-change-subscribe-link"
                                data-link-name="nav2 : subscribe-cta"
                                data-edition="@{editionId}"
                                href="@getSupportOrSubscriptionUrl(NewHeader)">
                                subscribe
                            </a>

                            <a class="top-bar__item hide-until-tablet"
                                data-link-name="nav2 : job-cta"
                                data-edition="@{editionId}"
                                href="@getJobUrl(editionId)">
                                <span class="hide-until-tablet">find a job</span>
                                <span class="hide-from-tablet">jobs</span>
                            </a>

                            <a class="top-bar__item top-bar__item--dropdown hide-until-desktop"
                                data-link-name=""
                                data-edition=""
                                href="">
                                sign in
                            </a>
                        }
                    }
                </div>

                <input type="checkbox"
                       id="main-menu-toggle"
                       class="veggie-burger-fallback js-enhance-checkbox u-h"
                       aria-controls="main-menu">

                <ul class="pillars">
                    @NewNavigation.PrimaryLinks.map { link =>
                        <li class="pillars__item">
                            <a class="@RenderClasses(Map(
                                "pillar-link" -> true,
                                "pillar-link--current-section" -> ((link.title == currentTopLevelSection) && !page.metadata.hasSlimHeader)))"
                                href="@LinkTo(link.url)"
                                data-link-name="nav2 : primary : @link.title">
                                    @link.title
                            </a>
                        </li>
                    }
                </ul>

                <label for="main-menu-toggle"
                       class="veggie-burger js-change-link"
                       tabindex="0"
                       data-link-name="nav2 : veggie-burger : show">
                    <span class="veggie-burger__icon"></span>
                    <span class="@RenderClasses(Map(
                            "u-h" -> page.metadata.hasSlimHeader
                        ), "veggie-burger__label")">All sections</span>
                </label>

                @fragments.nav.newHeaderMenu()
            </nav>

            @if(!page.metadata.hasSlimHeader) {
                @fragments.nav.subNav(page)
            }
        }
    }
</header>
