@import common.{PagePaths, Pagination}
@import views.support.GuDateFormatLegacy

@(title: String,
  pagination: Pagination,
  pagePaths: PagePaths,
  actionClass: Option[String] = None,
  showFull: Boolean = true,
  ariaContext: Option[String] = None)(implicit request: RequestHeader)

@paginated(pageNum: Int) = {@common.LinkTo(pagePaths.pathFor(pageNum))}

@paginationPointer(pageNo: Option[Int], dir: String) = {
    @pageNo.map { p =>
        <a class="button button--small button--tertiary pagination__action--static @actionClass"
            data-page="@p"
            rel="@dir"
            href="@paginated(p)"
            data-link-name="Pagination view @dir"
            aria-label="@ariaContext @dir page">
            @fragments.inlineSvg("arrow-left", "icon", List("pagination__icon", s"pagination__icon--$dir"))<span class="u-h">@dir</span>
        </a>
    }
}

@paginationDivider = {
    <span class="pagination__text">…</span>
}

@paginationLink(pageNo: Int) = {
    <a class="button button--small button--tertiary pagination__action @actionClass @if(pageNo == 1){pagination__action--first}"
       href="@paginated(pageNo)"
       data-page="@pageNo"
       data-link-name="Pagination view page @pageNo"
       aria-label="@ariaContext @if(pageNo == 1){first} page">@pageNo</a>
}

@* don't show pagination if this is the only page *@
@if(pagination.lastPage > 1) {
    @if(showFull) {
    <div class="pagination pagination--full u-cf">
        <span class="pagination__legend hide-on-mobile-inline">About @GuDateFormatLegacy(pagination.totalContent) results for @Html(title)</span>
    } else {
    <div class="pagination u-cf">
    }
        <div class="pagination__list">
        @if(pagination.lastPage > 5) {
            @paginationPointer(pagination.previous, "prev")

            @if(pagination.currentPage - 2 > 1) {
                @paginationLink(1)
                @paginationDivider
            }
        }

        @pagination.pages.map{ pageNum =>
            @if(pageNum == pagination.currentPage) {
                <span class="button button--small button--tertiary pagination__action is-active" aria-label="Current page" tabindex="0">@pageNum</span>
            } else {
                @paginationLink(pageNum)
            }
        }

        @if(pagination.lastPage > 5) {
            @if(pagination.next.isDefined) {
                @paginationDivider
            }

            @paginationPointer(pagination.next, "next")
        }
        </div>
    </div>
}
