@import common.LinkTo
@import layout.ContentWidths.MainMedia
@import model.ContentPage
@import views.support.RenderClasses
@import views.support.TrailCssClasses.toneClass

@()(implicit page: ContentPage, request: RequestHeader, context: model.ApplicationContext)

@defining((
    page.item.elements.hasMainEmbed,
    page.item.fields.main.nonEmpty,
    page.item.elements.hasMainVideo,
    page.item.tags.isPaidContent
)) { case (hasEmbed, hasMainMedia, hasVideo, isPaidContent) =>
  <style>

      @Html(common.Assets.css.inlinePhotoEssayGarnett)

  </style>

    <div class="content--photo-essay @RenderClasses(Map(
            "immersive-main-media" -> hasMainMedia,
            "photo-essay--video" -> hasVideo
        ),
        "content", "tonal", s"tonal--${toneClass(page.item)}")
    ">
        @if(isPaidContent) {
            @fragments.guBand()
        }
        <div class="immersive-main-media__media">
            @if(page.item.elements.hasMainPicture) {
                @page.item.elements.mainPicture.map(_.images).orElse(page.item.trail.trailPicture).map { picture =>
                    @fragments.image(
                        picture = picture,
                        classes = Seq("immersive-main-media__media"),
                        widths = MainMedia.immersive,
                        imageAltText = "",
                        isImmersiveMainMedia = true
                    )
                }
            } else {
                @if(page.item.elements.hasMainVideo) {
                  @fragments.immersiveVideo(page)
                }
                @if(hasMainMedia && !hasVideo) {
                    <div class="immersive-main-media__media__loading">
                        <div class="immersive-main-media__loading-animation is-updating"></div>
                        <span class="u-h">Loading header</span>
                    </div>
                    @Html(page.item.fields.main)
                }
            }
        </div>
        @if(!page.item.elements.hasMainVideo){
          <div class="immersive-main-media__image-overlay"></div>
        }
    </div>

    @if(!page.item.elements.hasMainVideo){
      <div class="@RenderClasses("immersive-main-media__headline-container--dark", "immersive-main-media__headline-container--gallery", "content--pillar-news", s"content--pillar-${page.metadata.pillar.nameOrDefault}")">
          <div class="gs-container">
            <div class="content__main-column">
                @fragments.meta.metaInline(page.item)
                <h1 class="@if(hasMainMedia){content__headline--immersive--with-main-media} @if(isPaidContent){content__headline--advertisement} content__headline content__headline--immersive content__headline--immersive-article">
                    @Html(page.item.trail.headline)
                </h1>

                @defining(page.item.elements.mainPicture.flatMap(_.images.masterImage)) {
                    case Some(masterImage) => {
                        <figcaption class="caption caption--immersive hide-until-leftcol">
                            @fragments.inlineSvg("triangle", "icon")
                            @masterImage.caption.map(Html(_))
                            @if(masterImage.displayCredit && !masterImage.creditEndsWithCaption) {
                                @masterImage.credit.map(Html(_))
                            }
                        </figcaption>
                    }
                    case None => { }
                }
            </div>
          </div>
      </div>
    }
    @if(page.item.fields.standfirst.isDefined) {
        <div class="content__wrapper--standfirst">
            <div class="gs-container">
                <div class="content__main-column">
                    @fragments.standfirst(page.item)

                    @defining(page.item.elements.mainPicture.flatMap(_.images.masterImage)) {
                        case Some(masterImage) => {
                            <figcaption class="caption caption--immersive hide-from-leftcol">
                                Main image:
                                @masterImage.caption.map(Html(_))
                                @if(masterImage.displayCredit && !masterImage.creditEndsWithCaption) {
                                    @masterImage.credit.map(Html(_))
                                }
                            </figcaption>
                        }
                        case None => { }
                    }
                </div>
            </div>
        </div>
    }
}
