@import common.LinkTo
@import layout.ContentWidths.MainMedia
@import model.ContentPage
@import views.support.RenderClasses
@import views.support.TrailCssClasses.toneClass
@(page: ContentPage)(implicit request: RequestHeader, context: model.ApplicationContext)

@defining((
    page.item.elements.hasMainEmbed,
    page.item.fields.main.nonEmpty,
    page.item.elements.hasMainVideo
)) { case (hasEmbed, hasMainMedia, hasVideo) =>
  <style>
    @Html(common.Assets.css.inlinePhotoEssay)
  </style>

    <div class="content--photo-essay @RenderClasses(Map(
            "immersive-main-media" -> hasMainMedia,
            "photo-essay--video" -> hasVideo
        ),
        "content", "tonal", s"tonal--${toneClass(page.item)}")
    ">
        @if(!mvt.ABNewDesktopHeader.isParticipating) {
            <div class="gs-container immersive-main-media__logo">
                <a href="@LinkTo {/}">
                    <span class="u-h">The Guardian</span>
                    @fragments.inlineSvg("guardian-logo-160", "logo", Seq("immersive-main-media__logo__svg"))
                </a>
            </div>
        }
        <div class="immersive-main-media__media">
            @if(page.item.elements.hasMainPicture) {
                @page.item.elements.mainPicture.map(_.images).orElse(page.item.trail.trailPicture).map { picture =>
                    @fragments.image(
                        picture = picture,
                        classes = Seq("immersive-main-media__media"),
                        widths = MainMedia.immersive,
                        imageAltText = "",
                        isImmersiveMainMedia = true
                    )
                }
            } else {
                @if(page.item.elements.hasMainVideo) {
                  @fragments.immersiveVideo(page)
                }
                @if(hasMainMedia && !hasVideo) {
                    <div class="immersive-main-media__media__loading">
                        <div class="immersive-main-media__loading-animation is-updating"></div>
                        <span class="u-h">Loading header</span>
                    </div>
                    @Html(page.item.fields.main)
                }
            }
        </div>
        @if(!page.item.elements.hasMainVideo){
          <div class="immersive-main-media__image-overlay"></div>
        }
        @if(!page.item.elements.hasMainVideo){
          <div class="@if(hasMainMedia){immersive-main-media__headline-container immersive-main-media__headline-container--dark}">
              <div class="gs-container">
                <div class="content__main-column">
                    @fragments.meta.metaInline(page.item)
                    <h1 class="@if(hasMainMedia){content__headline--immersive--with-main-media} content__headline content__headline--immersive content__headline--immersive-article">
                        @Html(page.item.trail.headline)
                    </h1>
                    @if(page.item.fields.standfirst.isDefined) {
                        <div class="hide-on-mobile">
                            @fragments.standfirst(page.item)
                        </div>
                    }
                </div>
              </div>
          </div>
        }
    </div>
    @if(page.item.fields.standfirst.isDefined) {
        <div class="content__wrapper--standfirst mobile-only">
            @fragments.standfirst(page.item)
        </div>
    }
}
