@(trails: Seq[Trail], heading: String, visibleTrails: Int)

@defining(trails.length){ numTrails =>
	<!-- todo: make the id dynamic as this tool generates both the related and popular trailblocks -->
    <div class="zone-border trailblock trailblock-shaded show-@{visibleTrails}" id="related-trails" data-link-name="related : separate : @heading">
        <h3 class="zone-color">@Html(heading)</h3>
        
        <ul class="unstyled">
        @* extra trails are hidden by css, up to a maximum of 10 *@
        @trails.zipWithRowInfo.map{ case (trail, info) =>
            <li>@formatTrail(trail, info)</li>
        }
        </ul>

        @if( trails.length > visibleTrails) {
        	<a href="#" class="expander">Show @{trails.length - visibleTrails} more</a>
    	}
    </div>
}