@(trails: Seq[Trail], heading: String, visibleTrails: Int)

@defining(trails.length){ numTrails =>
    <div class="trailblock trailblock-shaded" id="js-expandable-related">
        <h3>@heading</h3>
        <ul class="plain">
        @* extra trails are hidden by css *@
        @trails.map{ trail =>
            <li>@formatTrail(trail)</li>
        }
        </ul>

        @if(numTrails > visibleTrails) {
            <h3 class="b1 b1b expander"><a class="js-expand-trailblock" href="javascript://">More related content</a> <span class="count">@(numTrails - visibleTrails)</span></h3>
        }
    </div>
}