@(config: common.GuardianConfiguration, page: MetaData)(implicit request: RequestHeader)

@defining(Edition(request, config)) { edition =>
<ul>
    <li><a data-link-name="UK News" href="/uk">UK News</a></li>
    <li><a data-link-name="World News" href="/world">World News</a></li>
    <li><a data-link-name="Sport" href="/sport">@if(edition == "US"){ Sports } else { Sport }</a></li>
    <li><a data-link-name="Football" href="/football">Football</a></li>
    <li><a data-link-name="Comment is free" href="/commentisfree">Comment is free</a></li>
    <li><a data-link-name="Life & Style" href="/lifeandstyle">Life &amp; Style</a></li>
    <li><a data-link-name="Culture" href="/culture">Culture</a></li>
    <li><a data-link-name="Business" href="/business">Business</a></li>
    <li><a data-link-name="Technology" href="/technology">Technology</a></li>
    <li><a data-link-name="Film" href="/film">Film</a></li>
    <li><a data-link-name="Music" href="/music">Music</a></li>
    <li><a data-link-name="Jobs" href="http://m.jobs.guardian.co.uk/">Jobs</a></li>
</ul>

<ul>
    @if(edition == "US"){
        <li><a data-link-name="uk-edition" href="http://@config.edition.ukHost/@page.id">UK Edition</a></li>
    }else {
        <li><a data-link-name="us-edition" href="http://@config.edition.usHost/@page.id">US Edition</a></li>
    }
</ul>
}