@(page: MetaData, isFooter: Boolean=false)(implicit request: RequestHeader)
@import model._
@import common._
@import common.Edition

<nav role="navigation" aria-label="Guardian sections"
    @if(isFooter){ data-link-name="global navigation: footer : sections"} else {
        data-link-name="global navigation: header : sections"}>
    <ul class="nav nav--columns nav--top-border-off @if(isFooter){nav--footer}">
        @* <!-- TODO delete site after switch to single domain --> *@
            @Edition(request).navigation(page).map{ section =>
                <li class="nav__item@if(section.name.newWindow && !isFooter){ mobile-only}">
                    <a href="@LinkTo{@section.name.href}"
                        data-link-name="@section.name.linkName"
                        class="nav__link@if("/" + page.id == section.name.href) { is-active}"
                        @if(section.name.newWindow){ target="_blank" }>
                            @HtmlFormat.raw(section.name.title)
                    </a>
                </li>
            }
        <li class="nav__item"><a class="nav__link" data-link-name="all sections" href="@LinkTo("/sections")">All sections</a></li>
    </ul>
    <ul class="nav nav--columns @if(isFooter){nav--footer}">
        <li class="nav__item"><a class="nav__link nav__link--faded@if(isFooter){-footer}" href="https://soulmates.theguardian.com/" target="_blank" data-link-name="Soulmates">Soulmates</a></li>
        <li class="nav__item"><a class="nav__link nav__link--faded@if(isFooter){-footer}" href="http://jobs.theguardian.com/" target="_blank" data-link-name="Jobs">Jobs</a></li>
    </ul>
</nav>
