@(content: model.Content, related: model.RelatedContent)(implicit request: RequestHeader)

@defining(Seq("related") ++ (if(content.isAdvertisementFeature) Seq("container--advertisement-feature") else Nil)) { classes =>

    @if(related.hasStoryPackage) {
        <aside class="@classes.mkString(" ") more-on-this-story@if(related.storyPackage.size == 1){ more-on-this-story--one-item}" role="complementary">
            @fragments.relatedTrails(related.storyPackage, heading = "More on this story", visibleTrails = 15, dataComponent = "story-package")
        </aside>
    } else {
        <aside class="@classes.mkString(" ") js-related hide-on-childrens-books-site" role="complementary" data-test-id="related-content">
            @fragments.relatedTrails(related.related, heading = "Related content", visibleTrails = 5, dataComponent = "related-content")
        </aside>
    }

}
