@(stylesheet: String, isCrossword: Boolean = false)
@import conf.switches.Switches._

@* temporarily disable async css on crossword pages so they're usable on safari 6 and below *@
@if(AsyncCss.isSwitchedOn && !isCrossword) {
    <link rel="stylesheet" type="text/css" href="@Static(stylesheet)" media="only x" />
    <noscript>
        <link rel="stylesheet" type="text/css" href="@Static(stylesheet)" />
    </noscript>
} else {
    <link rel="stylesheet" type="text/css" href="@Static(stylesheet)" />
}
