@(content: model.Content)(implicit request: RequestHeader)
@import views.support.ContentLayout.ContentLayout

@toneLink = {
    @if(content.isArticle && !content.isLiveBlog) {
        @content.tones.headOption.map { tone =>
            <a class="submeta__tone button button--small button--tag @content.tagTone.map("button--tone-" + _).getOrElse("button--secondary")"
            href="@LinkTo(tone.url)" data-link-name="tone: @tone.name" itemprop="keywords">More @tone.name.toLowerCase </a>
        }
    }
}

<div class="submeta">
    @if(content.keywords.filterNot(_.isSectionTag).nonEmpty) {
        <hr/>
        <div data-link-name="keywords" data-component="keywords">
            @toneLink
            <h2 class="submeta__head">Topics</h2>
            @fragments.keywordList(content.keywords, tone = content.tagTone)
        </div>
    }
    @if(content.showBottomSocialButtons) {
        <hr/>
        <div data-component="share">
            @fragments.social(content)
        </div>
    }
</div>
