@(content: model.ContentType, amp: Boolean = false)(implicit request: RequestHeader)

@import common.{LinkTo, Localisation}
@import conf.switches.Switches.{SaveForLaterSwitch, ArticleBadgesSwitch}
@import model.ShareLinkMeta
@import model.Badges.badgeFor
@import views.support.ContentLayout.ContentLayout
@import views.support.Seq2zipWithRowInfo

@if(amp) {
    <div class="submeta2">
        <div class="submeta2__section-labels">

            @if(ArticleBadgesSwitch.isSwitchedOn) {
                @badgeFor(content).map { badge =>
                    <div class="submeta2__badge">
                        <a href="@LinkTo {/@badge.seriesTag}">
                        @if(amp) {
                            <amp-img class="badge-slot__img" src="@badge.imageUrl" layout="fixed" height="33" width="33"></amp-img>
                        } else {
                            <img class="badge-slot__img" src="@badge.imageUrl"/>
                        }
                        </a>
                    </div>
                }
            }

            @if(!(content.content.isImmersive && content.content.tags.isArticle)) {
                <a class="submeta2__link submeta2__link--first"
                    data-link-name="article section"
                    href="@LinkTo {/@content.content.sectionLabelLink}">
                        @Html(Localisation(content.content.sectionLabelName))
                </a>
            }

            @content.content.blogOrSeriesTag.map { series =>
                <a class="submeta2__link" href="@LinkTo {/@series.id}">@series.name</a>
            }.getOrElse {
                @if(content.content.isFromTheObserver) {
                    <a class="submeta2__link" href="http://observer.theguardian.com">The Observer</a>
                }
            }
        </div>

        <div class="submeta2__keywords">
            @if(content.tags.keywords.filterNot(_.isSectionTag).nonEmpty) {
                @if(content.tags.isArticle && !content.tags.isLiveBlog) {
                    @content.tags.tones.headOption.map { tone =>
                        <a class="submeta2__link submeta2__link--first"
                            href="@LinkTo(tone.metadata.url)"
                            data-link-name="tone: @tone.name">
                                @tone.name.toLowerCase
                        </a>
                    }
                }

                @defining(content.tags.keywords.filterNot(_.isSectionTag).take(5)) { shownKeywords =>
                    @if(shownKeywords.nonEmpty) {
                        @shownKeywords.zipWithRowInfo.map{ case(keyword, row) =>
                            <a class="submeta2__link @if(content.tags.isLiveBlog && row.rowNum == 1){submeta2__link--first}"
                                href="@LinkTo(keyword.metadata.url)"
                                data-link-name="keyword: @keyword.id">
                                    @keyword.name
                                    @if(content.tags.keywords.filter(_ != keyword).find(_.name == keyword.name)){ (@keyword.properties.sectionName) }
                            </a>
                        }
                    }
                }
            }
        </div>
        @if(content.showBottomSocialButtons) {
            <div data-component="share" class="submeta__share">
                @Social(content.sharelinks.pageShares)
            </div>
        }
    </div>

} else {
    <div class="submeta">
        @if(content.tags.keywords.filterNot(_.isSectionTag).nonEmpty) {
            <hr/>
            <div data-link-name="keywords" data-component="keywords">
                @toneLink
                <h2 class="submeta__head">Topics</h2>
                @fragments.keywordList(content.tags.keywords, tone = content.tagTone)
            </div>
        }
        @if(content.showBottomSocialButtons) {
            <hr/>
            <div class="u-cf">
                <div data-component="share" class="submeta__share">
                @Social(content.sharelinks.pageShares)
                </div>
                @if(SaveForLaterSwitch.isSwitchedOn) {
                    <div class="js-save-for-later submeta__save-for-later" data-position="bottom"></div>
                }
                @fragments.syndication(content)

            </div>
        } else {
            @fragments.syndication(content)
        }
    </div>
}

@Social(shares: ShareLinkMeta) = {
    @fragments.social(ShareLinkMeta.noneHidden(shares))
}

@toneLink = {
    @if(content.tags.isArticle && !content.tags.isLiveBlog) {
        @content.tags.tones.headOption.map { tone =>
            <a class="submeta__tone button button--small button--tag @content.tagTone.map("button--tone-" + _).getOrElse("button--secondary")"
            href="@LinkTo(tone.metadata.url)" data-link-name="tone: @tone.name" itemprop="keywords">More @tone.name.toLowerCase </a>
        }
    }
}
