@(items: Seq[Content])

@import views.html.fragments.keywordList
@import views.support.MostPopularTags.topTags
@import com.gu.facia.client.models.CollectionConfig
@import common.{Edition, ExecutionContexts, Logging}

<section class="facia-container__inner" data-component="trending-topics">
@defining(topTags(items).take(20)) { tags =>
    @if(tags.nonEmpty) {
        <div class="submeta" data-link-name="keywords">
            <h2 class="submeta__head">Trending topics</h2>
            @keywordList(tags, 5, "See also")
        </div>
    }
}
</section>
