@(items: Seq[model.pressed.PressedContent], pageId: String, allPath: Option[String] = None)(implicit request: RequestHeader)

@import views.html.fragments.keywordList
@import views.support.MostPopularTags.topTags

<section class="fc-container__inner fc-trending-topics" data-component="trending-topics">
@defining(topTags(items).filterNot(_.id == pageId).take(20)) { tags =>
    @if(tags.nonEmpty) {
        <div class="submeta" data-link-name="keywords">
            <hr/>
            <h2 class="submeta__head">Topics</h2>
            @keywordList(tags, 5, "See also", allPath = allPath)
        </div>
    }
}
</section>
