@(content: model.Content)(implicit request: RequestHeader)

@import common.LinkTo

@if(content.allowUserGeneratedContent) {
    @content.witnessAssignment.map{ assignmentId =>
        @defining(s"https://witness.theguardian.com/assignment/$assignmentId#contribute"){ assignmentUrl =>
            <a href="@LinkTo{@assignmentUrl}" data-link-name="witness cta">
                <div class="witness-cta-wrapper">
                    <div class="witness-cta">
                        <div class="button button--large button--primary witness__button">
                            @fragments.inlineSvg("plus", "icon")
                            Contribute with
                            <span class="witness-logo">Guardian <span class="witness-logo__witness">Witness</span></span>
                        </div>
                    </div>
                </div>
            </a>
       }
    }
}
