@(trail: model.Trail, index: Int, containerIndex: Int, additionalClasses: String = "", forcePlayable: Boolean = false)(implicit request: RequestHeader, config: model.Config)

@import model.{Gallery, Video}
@import views.support.GetClasses

<li class="@GetClasses.forCollectionItem(trail, additionalClasses)">
    @trail match {
        case g: Gallery => { @fragments.items.standardGallery(g, index, containerIndex, "div") }
        case v: Video   => { @fragments.items.standardVideo(v, index, containerIndex, "div", forcePlayable) }
        case t          => { @fragments.items.standard(t, index, containerIndex, "div") }
    }
</li>
