@import '../_vars';
@import '../_mixins';
$labour-liverpool-header-element-opacity: .85;

.immersive-header-container--labour-liverpool {
    min-height: gs-height(8);

    .immersive-main-media__media {
        position: absolute;
        height: gs-height(8);

        @supports (object-fit: cover) and (height: 1vh) and (display: flex) {
            height: 100%;
        }
    }

    .content__wrapper--standfirst {
        background-color: #ffffff;
        padding: 0;

        // necessary for Safari
        &.l-side-margins {
            height: auto;
        }
    }
}

.content--labour-liverpool .content__article-body > p:first-of-type {
    @include fs-headline(3);
    color: darken($news-support-4, 25%);
    margin-top: $gs-baseline;
    font-size: 22px;
    font-weight: 200;
}

.labour-liverpool-cutout {
    float: left;
    width: 140px;
    margin: 0 $gs-gutter/-2;
}

.labour-liverpool-quotes__svg {
    float: left;
    fill: $news-support-4;
    width: 30px;
    height: 18px;
    padding-right: $gs-gutter/4;
}

.labour-liverpool-headline {
    position: relative;
    width: 100%;
    // make bottom left corner of headline flush with the bottom of the main media image
    top: 250px; // IE / Edge

    .gs-container {
        @include mq(mobile) {
            padding: 0;
        }
    }

    @supports (object-fit: cover) and (height: 1vh) and (display: flex) {
        top: 319px;

        @include mq($from: tablet) {
            top: 314px;
        }
    }
}

.labour-liverpool-headline__content {
    @include fs-headline(5);
    position: absolute;
    font-weight: 200;
    color: #ffffff;
    margin: $gs-baseline 0;
    padding-left: $gs-gutter;
    width: gs-span(4);

    @include mq($from: tablet) {
        @include fs-headline(8);
        font-weight: 200;
        width: gs-span(7);
        margin: $gs-baseline $gs-gutter*2;
    }
}

.labour-liverpool-headline__background {
    position: absolute;
    width: 100%;
}

.inline-labour-liverpool-header-bg__svg {
    fill: $news-main-2;
    opacity: $labour-liverpool-header-element-opacity;
    width: 100%;
}

.series-identity {
    position: relative;
    max-width: gs-span(3.5);
    top: $gs-baseline*3;

    @include mq($from: tablet) {
        top: 0;
    }
}

.series-identity__background {
    position: absolute;
    top: $gs-baseline/-2;
    width: gs-span(3.5);
}

.inline-labour-liverpool-identity-bg__svg {
    fill: $news-main-1;
    opacity: $labour-liverpool-header-element-opacity;
    width: 100%;
    height: 100%;
}

.series-identity__links {
    position: absolute;
    left: $gs-gutter;
    top: $gs-baseline/2;
    width: gs-span(3.5);

    &:hover {
        text-decoration: none;
    }
}

.series-identity__title, .series-identity__byline {
    @include fs-header(2);
    line-height: 19px;
    color: #ffffff;
}

.content--labour-liverpool-article__headline-background {
    position: absolute;
    width: 100%;
}

.inline-labour-liverpool-headline-bg__svg {
    fill: $news-main-2;
    opacity: $labour-liverpool-header-element-opacity;
    width: 100%;
}

.labour-liverpool-contact__top-border {
    border-top: 1px solid $news-main-2;
}

.labour-liverpool-contact__wrapper {
    text-align: center;

    @include mq($from: tablet) {
        text-align: left;
    }
}

.labour-liverpool-contact__sign-up {
    display: inline-block;
    width: 100%;
    @include mq($from: tablet) {
        width: calc(75% - 5em);
        padding-right: 5em;
    }
    @include mq($from: desktop) {
        left: -30%;
        padding-right: 0;
    }
}

.labour-liverpool-contact__sign-up__header {
    @include fs-header(3);
    margin-top: 12px;
}

.labour-liverpool-contact__sign-up__form {
    border: 0;
    width: 100%;
    @include mq(tablet) {
        height: 500px;
    }
    @include mq($from: desktop) {
        width: 75%;
    }
}

.labour-liverpool-contact__contact-ewen {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.labour-liverpool-contact__avatar-container {
    width: 100%;
    position: relative;
}

.labour-liverpool-contact__avatar {
    width: 100%;
    max-width: 140px;
}

.speech-bubble {
    @include fs-header(1);
    color: #ffffff;
    background-color: $news-main-1;
    opacity: .7;
    // padding within the speech bubble has to be specific values
    padding: 0 11px 17px;
    // this sets the width of the speech bubble in the Labour & Liverpool contact form
    max-width: 106px;

    @include mq($from: tablet) {
        @include fs-header(2);
        padding: $gs-baseline/3 12px 23px;
        max-width: 132px;
    }
}

.inline-speech-bubble-mask {
    position: absolute;
    display: block;
    //TODO: Need a designer to fix the SVG so that we don't need to position it in the CSS
    top: -161px;

    @include mq($from: tablet) {
        top: -150px;
    }
}

.inline-speech-bubble-mask__svg {
    fill: #ffffff;
    width: 128px;
    @include mq($from: tablet) {
        width: 156px;
    }
}

.labour-liverpool-contact__contact-ewen__buttons {
    width: 100%;
    margin: 0;
}

.labour-liverpool-contact__button {
    @include fs-textSans(2);
    // this colour matches the submit button on the Labour & Liverpool email form
    @include button-colour(#00b0ce, #ffffff);
    display: block;
    border-radius: 20px;
    margin-top: $gs-baseline;
    text-align: left;

    .social-icon--small__svg {
        width: 88%;
        height: 88%;
    }
}
