@import '../_vars';
@import '../_mixins';
@import '../components/pasteup-buttons/src/_mixins';

$c-background: colour(news-support-3);
$c-blue: darken(colour(news-support-2), 10%);
$c-dark-blue: colour(news-support-6);
$c-black: colour(neutral-1);
$c-accent: colour(multimedia-main-2);

.facia-basher {
    position: relative;
    width: 100%;
    background-color: $c-background;
    overflow: hidden;
    z-index: 20;
    padding: $gs-baseline 0;
}

.this-is-the-nhs {
    height: gs-height(8);

    .title {
        position: absolute;
        z-index: 8;
        @include f-headline;
        font-weight: 200;
        font-size: 72px;
        line-height: 1.5;
        margin-left: $gs-gutter;

        @include mq(desktop) {
            font-size: 77px;
            line-height: 1.5;
        }

        @include mq(leftCol) {
            font-size: 88px;
            line-height: 1.35;
        }
    }

    .title--first {
        color: #ffffff;
        top: gs-height(2);
    }

    .title--second {
        color: $c-black;
        top: gs-height(4);

        @include mq(leftCol) {
            left: 51px;
        }
    }

    .description {
        position: absolute;
        bottom: $gs-baseline * 3;
        width: gs-span(4);
        @include fs-header(1);
        color: #ffffff;
        margin-left: $gs-gutter;

        @include mq(tablet) {
            top: 0;
        }

        @include mq(leftCol) {
            width: gs-span(5);
            @include fs-header(3);
        }
    }

    .stripe {
        position: absolute;
        z-index: 5;
        top: 0;
        height: 72px;
        width: 100%;

        @include mq(tablet) {
            height: gs-height(2);
        }
    }

    .grid .stripe {
        z-index: 2;
    }

    .stripe--dark-blue {
        background-color: $c-dark-blue;
        display: none;
        width: gs-span(2);
        right: -(gs-span(2));

        @include mq(tablet) {
            display: block;
        }
    }

    .grid .stripe--dark-blue {
        right: $gs-gutter;
        width: gs-span(2);

        @include mq(wide) {
            width: gs-span(4);
        }
    }

    .stripe--blue {
        background-color: $c-blue;
        top: gs-height(2) + $gs-baseline;

        @include mq(tablet) {
            width: gs-span(8);
            margin-left: -(gs-span(2));
        }
    }

    .stripe--white {
        width: calc(100% - 20px);
        background-color: #ffffff;

        @include mq(tablet) {
            top: gs-height(4) + $gs-baseline;
        }

        @include mq(leftCol) {
            margin-left: $gs-gutter;
        }
    }

    .grid .stripe--white {
        width: gs-span(2);
        margin-left: $gs-gutter;
    }

    .line {
        position: relative;
        z-index: 10;
        left: 300px;
        bottom: -140px;

        @include mq(tablet) {
            bottom: -205px;
            left: 200px;
        }

        @include mq(leftCol) {
            left: 175px;
        }

        @include mq(wide) {
            left: 96px;
        }
    }

    .line__image {
        position: absolute;
        top: -99999px;
        left: -99999px;
        bottom: -99999px;
        right: -99999px;
        margin: auto;

        @include mq($until: tablet) {
            width: 1200px;
        }

        path {
            animation: drawInLine 5s ease-out;
            animation-fill-mode: forwards;
            animation-delay: 1s;
            stroke-dasharray: 4400;
            stroke-dashoffset: 4400;
            stroke: $c-accent;
        }
    }

    @keyframes drawInLine {
        to {
            stroke-dashoffset: 0;
        }
    }

    .grid {
        position: absolute;
        z-index: 7;
        top: 0;
        bottom: 0;
        right: 0;
        width: gs-span(8) + ($gs-gutter * 2);
        background-color: #9be2de;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: none;

        @include mq(desktop) {
            display: block;
        }

        @include mq(wide) {
            width: gs-span(10) + ($gs-gutter * 2);
        }
    }

    .hand {
        position: absolute;
        top: 0;
        bottom: 0;
        width: auto;
        animation: handFade 3s cubic-bezier(.35, .5, 0, 1);
        animation-fill-mode: forwards;
    }

    .hand--left {
        left: -60px;
        transform: translateY(-40px);

        @include mq(wide) {
            right: 0;
        }
    }

    .hand--right {
        right: -130px;
        transform: translateY(40px);

        @include mq(wide) {
            right: 0;
        }
    }

    @keyframes handFade {
        to {
            transform: translateY(0)
        }
    }

    .baseline {
        background-color: $c-background;
        position: absolute;
        z-index: 3;
        top: gs-height(2);
        height: $gs-baseline;
        width: 100%;

        @for $i from 1 through 4 {
            &.baseline--#{$i} {
                top: gs-height($i * 2);
            }
        }
    }

    .gutter {
        background-color: $c-background;
        position: absolute;
        z-index: 3;
        top: 0;
        bottom: 0;
        left: 0;
        width: $gs-gutter;

        @for $i from 2 through 6 {
            &.gutter--#{$i} {
                left: gs-span(($i * 2) - 2) + $gs-gutter;
            }
        }
    }

    .circle {
        position: absolute;
        z-index: 15;
        right: gs-span(4) + 8px;
        top: gs-height(4) + ($gs-baseline / 2) - 22px;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #ffffff;

        @include mq(wide) {
            right: gs-span(2) + 8px;
        }
    }

    .circle--lower {
        top: auto;
        bottom: -30px;
        right: gs-span(6) + 8px;
        background-color: $c-dark-blue;
    }
}
