@import '../_vars';
@import '../_mixins';

//specific vars for colours for dynamo
$story-package-container-colour: #e0e4e8;
$story-package-card-colour: #041f4a;
$container-title: $story-package-card-colour;
$story-package-dynamic-card-text: $story-package-card-colour;
$fc-item-gutter: $gs-gutter / 4;
$block-height: 58px; // Note: duplicated from _item.scss

@mixin pillar-override($tone, $colour, $dark-colour) {
    .fc-item--pillar-#{$tone} {
        .fc-item__kicker,
        .rich-link__kicker,
        .fc-item__byline {
            color: $colour;
        }

        .inline-garnett-quote {
            fill: $dark-colour;
        }

        &.fc-item--type-comment {
            .fc-item__meta {
                background-image: none;
            }

            .fc-item__standfirst-wrapper .fc-item__meta {
                background-image: none;
            }

            &.fc-item--type-comment:not(.fc-item--pillar-special-report) .fc-item__container.u-faux-block-link--hover {
                background-color: darken($story-package-card-colour, 5%);
            }
        }

        &.fc-item--dynamic-layout {
            .fc-item__kicker,
            .rich-link__kicker,
            .fc-item__byline {
                color: $dark-colour;
            }

            .inline-garnett-quote {
                fill: $dark-colour;
            }

            .fc-item__container.u-faux-block-link--hover {
                background-color: darken($story-package-container-colour, 5%);
            }

            &.fc-item:not(.fc-item--pillar-special-report) {
                .fc-sublink--pillar-#{$tone} {
                    .fc-sublink__kicker {
                        @include fs-textSans(3);
                        color: #ffffff;
                        display: block;
                        width: 100%;
                        margin-bottom: $gs-baseline / 2;
                    }
                }
            }
        }

        .fc-item__container:before {
            background-color: #ffffff;
        }

        &.fc-item.fc-item--full-media-100-tablet .fc-item__title {
            background-image: none;
        }
    }

    .fc-sublink--pillar-#{$tone} .fc-sublink__kicker {
        color: $colour;
    }
}

.fc-container--story-package {
    
    background-color: $story-package-container-colour;

    .fc-container__body {
        position: relative;
        @include mq($from: leftCol) {
            &:before {
                position: absolute;
                content: '';
                display: block;
                top: 0;
                bottom: -12px;
                width: 1px;
                background-color: #929698;
                left: -10px;
            }
        }
    }

    &.fc-container--first {
        .fc-container__body:before {
            top: -6px;
        }

        .fc-container__inner {
            border-top: 0;
        }
    }

    .fc-slice__item + .fc-slice__item:before {
        border-left-color: #929698; // This colour does not exist (in the palette)
    }

    .fc-container__toggle {
        display: none;
    }

    .fc-container__header__title {
        padding-left: calc((#{$gs-baseline} / 2) - 2px);
        margin-bottom: $gs-baseline / 2;

        &:after {
            display: none;
        }

        @include mq($from: desktop) {
            padding-left: 0px;
        }

        & > span,
        h2.fc-container__title__text {
            color: $container-title;
            display: inline-block;
            line-height: 24px;
            top: 6px;
            position: relative;
            padding-right: 4px;

            @include mq($from: tablet) {
                top: 0px;
            }

            @include mq($from: desktop) {
                line-height: 25px;
            }

            @include mq($from: wide) {
                line-height: 30px;
            }
        }

        a:hover {
            text-decoration: none;
            border-bottom: #ffffff;
        }
    }

    .fc-item__title {
        font-weight: 800;
    }

    .fc-item__standfirst-wrapper {
        display: none;

        @include mq($from: desktop) {
            display: block;
        }
    }

    .fc-container__header__description {
        color: $story-package-dynamic-card-text;
    }

    .fc-container__inner {
        border-top: 1px solid #929698;

        @include mq($from: tablet) {
            overflow: visible;
        }
    }

    .fc-item--pillar-news.fc-item--type-analysis.fc-item--full-media-75-tablet .fc-item__title {
        background-image: none;
    }

    //These need to be this specific as elsewhere in pillars.scss these are targeted using 3 selectors
    .fc-item,
    .fc-item.fc-item--pillar-opinion,
    .fc-item.fc-item--pillar-news.fc-item--type-comment,
    .fc-item.fc-item--pillar-opinion.fc-item--type-comment,
    .fc-item.fc-item--pillar-sport.fc-item--type-comment,
    .fc-item.fc-item--pillar-lifestyle.fc-item--type-comment,
    .fc-item.fc-item--pillar-arts.fc-item--type-comment,
    .fc-item.fc-item--type-feature {
        &:not(.fc-item--dynamic-layout) {
            background-color: $story-package-card-colour;

            .fc-item__headline {
                color: #ffffff;
            }
        }

        &:hover {
            background-color: darken($story-package-card-colour, 5%);

            .fc-trail__count--commentcount {
                background-color: darken($story-package-card-colour, 5%);
            }
        }

        .fc-trail__count--commentcount {
            background-color: $story-package-card-colour;
        }
    }

    .fc-item--pillar-news.fc-item--type-comment,
    .fc-item--pillar-opinion.fc-item--type-comment,
    .fc-item--pillar-sport.fc-item--type-comment,
    .fc-item--pillar-arts.fc-item--type-comment,
    .fc-item--pillar-lifestyle.fc-item--type-comment {
        .fc-item__meta {
            background-image: none;
        }

        .fc-item__standfirst-wrapper .fc-item__meta {
            background-image: none;
        }
    }

    // I'm not sure this is at all reliable, or a good idea, but until I figure
    // out what classes I want to add in Scala this gets things moving:
    .l-row__item--span-3 + .l-row__item--span-1 {
        .fc-item--live-updates {
            &.fc-item--standard-tablet {
                .fc-item__media-wrapper {
                    display: block;
                }
            }
        }
    }

    .fc-item--live-updates {
        $border-bottom-width: 5px;
        $circle-diameter: 13px;
        $circle-top-position: 5px;
        $thin-border: 1px;

        @include mq($from: desktop) {
            &.fc-item--standard-tablet {
                .fc-item__media-wrapper {
                    display: none;
                }
            }

            .fc-item__liveblog-blocks {
                height: 100%;
            }
        }

        .fc-item__liveblog-block__text {
            @include f-textSans;
            background-color: transparent;
            border-top: 0;
            border-bottom: $border-bottom-width solid $story-package-card-colour;
            padding-left: 20px;
            position: relative;
        }

        .fc-item__liveblog-block__time {
            .block-time-prefix {
                display: none;
            }
        }

        .fc-item__liveblog-block__text:after {
            color: mix(#ffffff, $story-package-card-colour, 92%);
            background-color: $story-package-card-colour;
            box-shadow: -5px 0 5px -.04px $story-package-card-colour;
            bottom: 1.2px;
            font-size: 20px;
            line-height: 13px;
            padding-right: 24px;
        }

        &:hover {
            .fc-item__liveblog-block__text:after {
                color: mix(#ffffff, $story-package-card-colour, 92%);
                background-color: darken($story-package-card-colour, 5%);
                box-shadow: -5px 0 5px -2px darken($story-package-card-colour, 5%);
            }

            .fc-item__liveblog-block__text {
                border-bottom: $border-bottom-width solid darken($story-package-card-colour, 5%);
            }
        }

        .fc-item__liveblog-blocks--visible {
            visibility: visible;
            opacity: 1;
            transition: opacity .1s linear;
        }

        .fc-item__liveblog-blocks--hidden {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s .1s, opacity .1s linear;
        }

        .fc-item__liveblog-blocks__inner {
            transition: none;
            transform: none;
        }

        // This is overridden below for the fc-item--full-media-100-tablet and
        // fc-item--three-quarters-tall-tablet cards (where we show all blocks)
        .fc-item__liveblog-block:nth-child(n+3) {
            display: none;
        }

        // Live update circle
        .fc-item__liveblog-block__time:before {
            content: '';
            border: $thin-border solid #ffffff;
            border-radius: 50%;
            height: $circle-diameter;
            width: $circle-diameter;
            display: block;
            position: absolute;
            left: 0;
            top: $circle-top-position;
        }

        // Live update circle connector/line
        .fc-item__liveblog-block:first-of-type:not(:only-child) {
            &:before {
                content: '';
                border: 0;
                border-left: $thin-border solid #ffffff;
                border-radius: 0;
                height: calc(100% - #{$circle-diameter} - #{$thin-border * 2});
                width: $thin-border;
                display: block;
                position: absolute;
                left: calc((#{$circle-diameter} / 2) + #{$thin-border});
                top: calc(#{$circle-top-position} + #{$circle-diameter} + #{$thin-border * 2});
                z-index: 2;
            }
        }

        &.fc-item--full-media-75-tablet {
            .fc-item__container.u-faux-block-link--hover .fc-item__liveblog-blocks__inner {
                background-color: darken($story-package-card-colour, 5%);
            }

            .fc-item__liveblog-blocks__inner {
                background-color: $story-package-card-colour;
                margin-left: -5px;
                margin-right: 5px;
                padding-left: 5px;
                position: absolute;
                bottom: 0;

                &:hover {
                    background-color: darken($story-package-card-colour, 5%);
                }
            }

            .fc-item__standfirst-wrapper {
                display: none;
            }
        }

        // Invert the live update colours for these cards
        &.fc-item--full-media-100-tablet,
        &.fc-item--three-quarters-tall-tablet {
            .fc-item__liveblog-blocks {
                height: $block-height;
            }

            .fc-item__liveblog-blocks__inner {
                display: flex;
                flex-direction: row;
            }

            .fc-item__liveblog-block {
                display: flex;
                flex: 1;
                max-width: 33.3%;
                padding-right: $gs-gutter;
            }

            .fc-item__liveblog-block__time {
                color: $story-package-card-colour;
                display: inline;
            }

            .fc-item__liveblog-block__text {
                color: $story-package-card-colour;
                padding-right: 0; // Remove padding in this layout so that we only use the gutter padding from the block
            }

            .fc-item__liveblog-block__text {
                border-bottom-color: $story-package-container-colour;

                // Ellipses
                &:after {
                    color: $story-package-card-colour;
                    background-color: $story-package-container-colour;
                    box-shadow: -5px 0 5px -2px $story-package-container-colour;
                }
            }

            &:hover {
                .fc-item__liveblog-block__text {
                    border-bottom-color: darken($story-package-container-colour, 5%);

                    // Ellipses
                    &:after {
                        background-color: darken($story-package-container-colour, 5%);
                        box-shadow: -5px 0 5px -2px darken($story-package-container-colour, 5%);
                    }
                }
            }

            .u-faux-block-link--hover {
                .fc-item__liveblog-block__text {
                    border-bottom-color: darken($story-package-container-colour, 5%);

                    // Ellipses
                    &:after {
                        background-color: darken($story-package-container-colour, 5%);
                        box-shadow: -5px 0 5px -2px darken($story-package-container-colour, 5%);
                    }
                }
            }

            // Circle
            .fc-item__liveblog-block__time:before {
                border: $thin-border solid $news-bright;
            }

            // Connector line
            .fc-item__liveblog-block:first-of-type:not(:only-child):before {
                display: none;
            }
        }
    }

    .fc-item__container.u-faux-block-link--hover {
        background-color: darken($story-package-card-colour, 5%);
    }

    .fc-item__standfirst {
        color: #ffffff;
    }

    .fc-sublink__title {
        color: #ffffff;
    }

    &.fc-item--dynamic-layout {
        .fc-item__standfirst {
            color: $story-package-dynamic-card-text;
        }

        .fc-sublink__title {
            color: $story-package-dynamic-card-text;
        }
    }

    .treats__list-item {
        .treats__treat {
            background-color: $brightness-86;
            border-color: $special-report-dark;
            color: $special-report-dark;
        }
    }

    .fc-container__header__title>h2 {
        color: $story-package-dynamic-card-text;
    }

    // 'Dynamic Layout'
    .fc-item__content--above {
        display: none;
    }

    .fc-item--dynamic-layout {
        background-color: $story-package-container-colour;
        &.fc-item--type-feature {
            background-color: $story-package-container-colour;
        }

        // The white line above the story
        .fc-item__container:before {
            display: none; // Remove existing on container
        }

        .fc-item__container.u-faux-block-link--hover {
            background-color: darken($story-package-container-colour, 5%);
        }

        .fc-item__content:before {
            content: '';
            background-color: $story-package-dynamic-card-text;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
            height: $gs-baseline / 3;
            width: calc(100% - 10px);
        }

        .fc-item__content {
            padding-top: $gs-baseline / 2;
        }

        .youtube-media-atom__play-button {
            bottom: 43%;
        }

        &.fc-item--is-boosted {
            .fc-item__header {
                @include fs-headline(6);
            }

            @include mq($from: tablet) {
                .fc-item__content:before {
                    display: none;
                }

                .fc-item__header {
                    @include fs-headline(9);
                }
            }
        }

        &:hover {
            background-color: darken($story-package-container-colour, 5%);

            .fc-trail__count--commentcount {
                background-color: darken($story-package-container-colour, 5%);
            }
        }

        .fc-trail__count--commentcount {
            background-color: $story-package-container-colour;
        }

        .fc-item__kicker:after {
            display: none;
        }

        .fc-item__headline,
        .fc-item__standfirst,
        .fc-sublink__title {
            color: $story-package-dynamic-card-text;
        }

        // Flip the headline and image!
        &.fc-item--three-quarters-tall-tablet,
        &.fc-item--full-media-100-tablet {
            .fc-item__content--below {
                display: none;
            }

            .fc-item__content--above {
                display: block;
                padding-top: $gs-baseline;

                &:before {
                    width: 33%;
                }
            }
        }

        @include mq($until: tablet) {
            &.fc-item--three-quarters-tall-tablet,
            &.fc-item--full-media-100-tablet {
                // Show the sublinks
                .fc-item__content--below {
                    display: block;
                }
            }

            .fc-item__content--below .fc-item__header {
                display: none;
            }

            .fc-item__content--above {
                display: block;
            }

            &.fc-item--three-quarters-tall-tablet .fc-item__content--above:before {
                width: 100%;
            }
        }

        .fc-item__kicker:after {
            display: none;
        }

        &.fc-item--type-live.fc-item--pillar-news .fc-sublink__link {
            color: $story-package-dynamic-card-text;
        }

        // Sublinks

        @mixin fc-sublinks--horizontal {
            .fc-sublinks {
                display: flex;
                margin-left: $fc-item-gutter;
                margin-right: $fc-item-gutter;
            }

            .fc-sublink {
                flex: 1 1 100%;

                &+* {
                    margin-left: $gs-gutter / 2;
                }
            }
        }

        &.fc-item--full-media-75-tablet.fc-item--has-sublinks-3,
        &.fc-item--full-media-100-tablet,
        &.fc-item--full-media-100-tablet,
        &.fc-item--three-quarters-tablet,
        &.fc-item--three-quarters-tall-tablet {
            &:not(.fc-item--has-video-main-media) .fc-item__footer--vertical {
                margin-top: -35px;
            }

            .fc-sublink {
                padding: $gs-gutter / 4 $gs-gutter / 4 $gs-gutter / 2;
                background-color: $story-package-card-colour;
                @include mq($from: tablet) {
                    background-color: rgba(4, 31, 74, .8);
                }
                margin-bottom: 0;
            }

            .fc-sublink__title,
            &.fc-item--type-live.fc-item--pillar-news .fc-sublink__link {
                color: #ffffff;

                &:before {
                    width: 100%;
                }
            }
        }

        @include mq($from: tablet) {

            &.fc-item--has-video-main-media__ready:not(.fc-item--has-video-main-media__ended),
            &.fc-item--has-video-main-media__paused {
                .fc-sublinks {
                    display: none;
                }
            }
        }

        // Sublink desktop widths
        @include mq($from: tablet) {
            &.fc-item--full-media-75-tablet.fc-item--has-sublinks-3,
            &.fc-item--full-media-100-tablet,
            &.fc-item--full-media-100-tablet,
            &.fc-item--three-quarters-tablet,
            &.fc-item--three-quarters-tall-tablet {
                .fc-sublink {
                    margin-bottom: $gs-baseline;
                }

                .fc-item__footer--vertical {
                    margin-top: 0;
                }

                // In the dynamo container we don't have vertical sublinks in 75, three quarter and 100 cards.
                .fc-item__footer--vertical {
                    display: none;
                }

                .fc-item__footer--horizontal {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }

            // FullMedia75
            &.fc-item--full-media-75-tablet.fc-item--has-sublinks-3,
            &.fc-item--full-media-75-tablet.fc-item--has-sublinks-4 {
                .fc-item__footer--horizontal {
                    @include fc-sublinks--horizontal;
                    width: calc(75% - 2px);
                }

                @include mq($from: tablet) {
                    &.fc-item--has-video-main-media__playing,
                    &.fc-item--has-video-main-media__paused {
                        .fc-sublinks {
                            display: none;
                        }
                    }
                }
            }

            // FullMedia100 & ThreeQuarterTall
            &.fc-item--full-media-100-tablet,
            &.fc-item--full-media-100-tablet,
            &.fc-item--three-quarters-tall-tablet {
                .fc-item__footer--horizontal {
                    width: 100%;
                }
            }

            // ThreeQuarters
            &.fc-item--three-quarters-tablet {
                .fc-item__footer--horizontal {
                    width: 66%;
                }
            }
        }
    }

    //These need to exist for all kickers because of tone on tone action
    @include pillar-override(lifestyle, $lifestyle-bright, $lifestyle-bright);
    @include pillar-override(arts, $culture-bright, $culture-bright);
    @include pillar-override(sport, $sport-bright, $sport-bright);
    @include pillar-override(opinion, $opinion-bright, $opinion-bright);
    @include pillar-override(news, $news-bright, $news-bright);
    @include pillar-override(special-report, $highlight-main, $highlight-main);
}
