@import '../_vars';
@import '../_mixins';

//specific vars for dynamo
$fc-item-gutter: $gs-gutter / 4;
$block-height: 58px; // Note: duplicated from _item.scss

// Defaults Styles
.fc-item {
    &.fc-item--is-dynamic-card {
        background-color: #ffffff;
    }

    &.fc-item--is-dynamic-card .fc-item__title,
    &.fc-item--is-dynamic-card.fc-item--live .fc-item__headline {
        color: #121212;
    }

    &.fc-item--is-dynamic-card .fc-item__kicker,
    &.fc-item--is-dynamic-card.fc-item--live .fc-item__kicker {
        color: #c70000;
    }

    &.fc-item--is-dynamic-card .live-pulse-icon::before,
    &.fc-item--is-dynamic-card.fc-item--live .live-pulse-icon::before {
        background-color: #c70000;
    }

    &.fc-item--is-dynamic-card.fc-item--has-floating-sublinks .fc-sublink {
        background-color: #ffffff;
        color: #000000;
    }
}

@mixin pillar-override($tone, $colour, $dark-colour) {
    .fc-item--pillar-#{$tone} {

        &.fc-item--type-comment {
            .fc-item__meta {
                background-image: none;
            }

            .fc-item__standfirst-wrapper .fc-item__meta {
                background-image: none;
            }
        }

        &.fc-item--is-dynamic-card {

            &.fc-item:not(.fc-item--pillar-special-report) {
                .fc-sublink--pillar-#{$tone} {
                    .fc-sublink__kicker {
                        display: block;
                        width: 100%;
                    }
                }
            }

            .fc-item__content--above {
                padding: 6px 0;
            }

            .fc-item__content--below {
                @include mq($until: tablet) {
                    padding: 0;
                }
            }
        }

        &.fc-item.fc-item--full-media-100-tablet .fc-item__title {
            background-image: none;
        }
    }
}

.fc-container--story-package {
    
    .fc-container__header {
        z-index: 1;   
    }

    .fc-container__body {
        position: relative;
        @include mq($from: leftCol) {
            &:before {
                position: absolute;
                content: '';
                display: block;
                top: 0;
                bottom: -12px;
                width: 1px;
                background-color: #929698;
                left: -10px;
            }
        }
    }

    &.fc-container--first {
        .fc-container__body:before {
            top: -6px;
        }

        .fc-container__inner {
            border-top: 0;
        }
    }

    .fc-container__header__title {
        padding-left: calc((#{$gs-baseline} / 2) - 2px);
        margin-bottom: $gs-baseline / 2;
        width: 100%;

        @include mq($from: leftCol) {
            border-bottom: 0;
        }

        &:after {
            display: none;
        }

        @include mq($from: desktop) {
            padding-left: 0px;
        }

        & > span,
        h2.fc-container__title__text {
            //color: $container-title;
            display: inline-block;
            line-height: 24px;
            top: 0;
            position: relative;
            padding-right: 4px;

            @include mq($from: tablet) {
                top: 0px;
            }
        }

        a:hover {
            text-decoration: none;
            border-bottom: #ffffff;
        }
    }

    .fc-item__title {
        font-weight: 800;
    }

    .fc-item__standfirst-wrapper {
        display: none;

        @include mq($from: desktop) {
            display: block;
        }
    }

    .fc-container__inner {
        border-top: 1px solid #929698;

        @include mq($from: tablet) {
            overflow: visible;
        }
    }


    // I'm not sure this is at all reliable, or a good idea, but until I figure
    // out what classes I want to add in Scala this gets things moving:
    @include mq($from: desktop) {
        .l-row__item--span-3 + .l-row__item--span-1 {
            .fc-item--live-updates {
                &.fc-item--standard-tablet {
                    .fc-item__media-wrapper {
                        display: block;
                    }
                }
            }
        }
    }

    .fc-item--live-updates {
        $border-bottom-width: 5px;
        $circle-diameter: 13px;
        $circle-top-position: 5px;
        $thin-border: 1px;

        @include mq($from: desktop) {
            &.fc-item--standard-tablet {
                .fc-item__media-wrapper {
                    display: none;
                }
            }

            .fc-item__liveblog-blocks {
                height: 100%;
            }
        }

        .fc-item__liveblog-block__text {
            @include f-textSans;
            background-color: transparent;
            border-top: 0;
            padding-left: 20px;
            position: relative;
        }

        .fc-item__liveblog-block__time {
            .block-time-prefix {
                display: none;
            }
        }

        .fc-item__liveblog-block__text:after {
            bottom: 1.2px;
            font-size: 20px;
            line-height: 13px;
            padding-right: 24px;
        }

        .fc-item__liveblog-blocks--visible {
            visibility: visible;
            opacity: 1;
            transition: opacity .1s linear;
        }

        .fc-item__liveblog-blocks--hidden {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s .1s, opacity .1s linear;
        }

        .fc-item__liveblog-blocks__inner {
            transition: none;
            transform: none;
        }

        // This is overridden below for the fc-item--full-media-100-tablet and
        // fc-item--three-quarters-tall-tablet cards (where we show all blocks)
        .fc-item__liveblog-block:nth-child(n+3) {
            display: none;
        }

        // Live update circle
        .fc-item__liveblog-block__time:before {
            content: '';
            border: $thin-border solid #ffffff;
            border-radius: 50%;
            height: $circle-diameter;
            width: $circle-diameter;
            display: block;
            position: absolute;
            left: 0;
            top: $circle-top-position;
        }

        // Live update circle connector/line
        .fc-item__liveblog-block:first-of-type:not(:only-child) {
            &:before {
                content: '';
                border: 0;
                border-left: $thin-border solid #ffffff;
                border-radius: 0;
                height: calc(100% - #{$circle-diameter} - #{$thin-border * 2});
                width: $thin-border;
                display: block;
                position: absolute;
                left: calc((#{$circle-diameter} / 2) + #{$thin-border});
                top: calc(#{$circle-top-position} + #{$circle-diameter} + #{$thin-border * 2});
                z-index: 2;
            }
        }

        // fc-item--full-media-75-tablet and fc-item--three-quarters-tablet have the light grey background
        // and the live update blocks with a dark blue background. There's a little extra styling here to
        // ensure hover states are correct.
        &.fc-item--full-media-75-tablet {

            .fc-item__liveblog-blocks__inner {
                margin-left: -5px;
                margin-right: 5px;
                padding-left: 5px;
                position: absolute;
                bottom: 0;
            }

            .fc-item__standfirst-wrapper {
                display: none;
            }
        }

        &.fc-item--three-quarters-tablet {
            .fc-item__liveblog-blocks__inner {
                padding-left: 5px;
            }
        }

        // Invert the live update colours for these cards
        &.fc-item--full-media-100-tablet,
        &.fc-item--three-quarters-tall-tablet {
            .fc-item__liveblog-blocks {
                height: $block-height;
            }

            .fc-item__liveblog-blocks__inner {
                display: flex;
                flex-direction: row;
            }

            .fc-item__liveblog-block {
                display: flex;
                flex: 1;
                max-width: 33.3%;
                padding-right: $gs-gutter;
            }

            .fc-item__liveblog-block__time {
                display: inline;
            }

            .fc-item__liveblog-block__text {
                padding-right: 0; // Remove padding in this layout so that we only use the gutter padding from the block
            }

            // Connector line
            .fc-item__liveblog-block:first-of-type:not(:only-child):before {
                display: none;
            }
        }
    }


    // 'Dynamic Layout'
    .fc-item__content--above {
        display: none;
    }

    .fc-item--is-dynamic-card {

        // The white line above the story
        .fc-item__container:before {
            display: none; // Remove existing on container
        }

        .fc-item__content:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
            height: $gs-baseline / 3;
            width: calc(100% - 10px);
        }

        .fc-item__content {
            padding-top: $gs-baseline / 2;
        }

        @include mq($from: tablet) {
            .youtube-media-atom__play-button {
                bottom: 43%;
            }
        }

        .fc-item__header {
            @include mq($until: tablet) {
                @include fs-headline(4);
            }
        }

        &.fc-item--is-boosted {
            .fc-item__header {
                @include fs-headline(6);
            }

            @include mq($from: tablet) {
                .fc-item__content:before {
                    display: none;
                }

                .fc-item__header {
                    @include fs-headline(9);
                }
            }
        }

        // Flip the headline and image!
        &.fc-item--three-quarters-tall-tablet,
        &.fc-item--full-media-100-tablet {
            .fc-item__content--below {
                display: none;
            }

            .fc-item__content--above {
                display: block;
                padding-top: $gs-baseline;

                &:before {
                    width: 24.5%;
                }
            }
        }

        @include mq($until: tablet) {
            &.fc-item--three-quarters-tall-tablet,
            &.fc-item--full-media-100-tablet {
                // Show the sublinks
                .fc-item__content--below {
                    display: block;
                }
            }

            .fc-item__content--below .fc-item__header {
                display: none;
            }

            .fc-item__content--above {
                display: block;
            }

            &.fc-item--three-quarters-tall-tablet .fc-item__content--above:before {
                width: 100%;
            }
        }

        // Sublinks

        @mixin fc-sublinks--horizontal {
            .fc-sublinks {
                display: flex;
                margin-left: $fc-item-gutter;
                margin-right: $fc-item-gutter;
            }

            .fc-sublink {
                flex: 1 1 100%;

                & + * {
                    margin-left: $gs-gutter / 2;
                }
            }
        }

        &.fc-item--has-floating-sublinks {

            .fc-sublink {
                padding: $gs-gutter / 4 $gs-gutter / 4 $gs-gutter / 2;
                margin-bottom: 0;

                @include mq($from: tablet) {
                    border-left: 0;
                    border-bottom: 0;
                    max-width: 33%;
                }
            }

            .fc-sublink__title,
            &.fc-item--type-live.fc-item--pillar-news .fc-sublink__link {
                font-weight: 800;

                &:before {
                    width: 100%;
                }
            }
        }

        @include mq($from: tablet) {

            &.fc-item--has-video-main-media__ready:not(.fc-item--has-video-main-media__ended),
            &.fc-item--has-video-main-media__paused {
                .fc-sublinks {
                    display: none;
                }
            }
        }

        // Sublink desktop widths
        @include mq($from: tablet) {
            &.fc-item--has-floating-sublinks {
                .fc-sublink {
                    margin-bottom: $gs-baseline;
                }

                .fc-item__footer--vertical {
                    margin-top: 0;
                }

                // In the dynamo container we don't have vertical sublinks in 75, three quarter and 100 cards.
                .fc-item__footer--vertical {
                    display: none;
                }

                .fc-item__footer--horizontal {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }

            // FullMedia75
            &.fc-item--three-quarters-tablet.fc-item--has-sublinks-2,
            &.fc-item--full-media-75-tablet.fc-item--has-sublinks-3,
            &.fc-item--full-media-75-tablet.fc-item--has-sublinks-4 {
                .fc-item__footer--horizontal {
                    @include fc-sublinks--horizontal;
                    width: calc(75% - 2px);
                }

                @include mq($from: tablet) {
                    &.fc-item--has-video-main-media__playing,
                    &.fc-item--has-video-main-media__paused {
                        .fc-sublinks {
                            display: none;
                        }
                    }
                }
            }

            // FullMedia100 & ThreeQuarterTall
            &.fc-item--full-media-100-tablet,
            &.fc-item--full-media-100-tablet,
            &.fc-item--three-quarters-tall-tablet {
                .fc-item__footer--horizontal {
                    width: 100%;
                }
            }

            // ThreeQuarters
            &.fc-item--three-quarters-tablet.fc-item--has-sublinks-2 {
                .fc-item__footer--horizontal {
                    width: 66%;
                }

                .fc-sublink {
                    max-width: 50%;
                }
            }
        }
    }

    //These need to exist for all kickers because of tone on tone action
    @include pillar-override(lifestyle, $lifestyle-bright, $lifestyle-dark);
    @include pillar-override(arts, $culture-bright, $culture-dark);
    @include pillar-override(sport, $sport-bright, $sport-bright);
    @include pillar-override(opinion, $opinion-bright, $opinion-bright);
    @include pillar-override(news, $news-bright, $news-bright);
    @include pillar-override(special-report, $highlight-main, $highlight-dark);
}
