@(  componentClass: String,
    formHeading: String = "",
    formDescription: String = "",
    labelText: String = "Your email address",
    submitText: String = "Subscribe",
    smallText: String = "No spam ever. Unsubscribe in one click.",
    formImage: String = "")(implicit request: RequestHeader)

@import common.LinkTo

@formId = @{ componentClass + "-email-sub-form" }
@inputId = @{ componentClass + "-email-sub-input" }

@wrapperClass = @{"email-sub js-email-sub" + " email-sub--" + componentClass }
@formClass = @{ "email-sub__form js-email-sub__form" + " email-sub__form--" + componentClass }

<div class="@wrapperClass">
    @if(formHeading) {
        @fragments.email.emailSignUpHeader(componentClass, formHeading, formDescription, formImage)
    }

    <form action="@LinkTo("/email")" method="post" id="@formId" class="@formClass">
        <div class="email-sub__form-wrapper">
            <div class="email-sub__inline-label js-email-sub__inline-label">
                <label class="email-sub__label js-email-sub__label" for="@inputId">@fragments.inlineSvg("envelope", "icon", Seq("email-sub__label__icon"))@labelText</label>
                <input class="email-sub__text-input js-email-sub__text-input" type="email" name="email" id="@inputId" required />
            </div>
            <button type="submit" class="email-sub__submit-input button button--tertiary button--large">@submitText</button>
            <small class="email-sub__small js-email-sub__small">@smallText</small>
        </div>
    </form>
</div>
