@(crosswordPage: crosswords.CrosswordPage)(implicit requestHeader: RequestHeader)
@import views.support.AuFriendlyFormat

<div class="crossword__meta">
    @crosswordPage.crossword.creator.map { creator =>

        <div class="crossword__meta-setter">
            <p class="byline" data-link-name="byline" data-component="meta-byline">
            Set by: <span itemscope="" itemtype="http://schema.org/Person" itemprop="author">
                <a rel="author" class="tone-colour" itemprop="sameAs" data-link-name="crossword-creator" href="@creator.webUrl"><span itemprop="name">@creator.name</span></a>
            </span>
            </p>
        </div>
    }
    <div class="content__dateline content__dateline-crossword">
        <time itemprop="datePublished" datetime="@crosswordPage.crossword.date.toString("yyyy-MM-dd'T'HH:mm:ssZ"))"
        data-timestamp="@crosswordPage.crossword.date.getMillis" class="content__dateline-wpd js-wpd">
            @crosswordPage.crossword.date.toString("EEEE d MMMM y") <span class="content__dateline-time">@AuFriendlyFormat(crosswordPage.crossword.date)</span>
        </time>
    </div>
</div>
