/* line 30, ../../app/styles/wizardry.scss */
.grid {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  letter-spacing: -0.31em;
  /* [4] */
  word-spacing: -0.43em;
  /* [4] */
}

/* line 42, ../../app/styles/wizardry.scss */
.grid-item {
  display: inline-block;
  /* [1] */
  vertical-align: top;
  /* [3] */
  letter-spacing: normal;
  /* [4] */
  word-spacing: normal;
  /* [4] */
  -webkit-box-sizing: border-box;
  /* [5] */
  -moz-box-sizing: border-box;
  /* [5] */
  box-sizing: border-box;
  /* [5] */
}

/* line 53, ../../app/styles/wizardry.scss */
.grid {
  margin-left: -3%;
}

/* line 56, ../../app/styles/wizardry.scss */
.grid-item {
  padding-left: 3%;
}

@media only screen and (min-width: 600px) {
  /* line 61, ../../app/styles/wizardry.scss */
  .grid {
    margin-left: -2%;
  }

  /* line 64, ../../app/styles/wizardry.scss */
  .grid-item {
    padding-left: 2%;
  }
}
/* line 72, ../../app/styles/wizardry.scss */
.grid-1of1 {
  width: 100%;
}

/* line 74, ../../app/styles/wizardry.scss */
.grid-1of2, .grid-3of6, .grid-4of8, .grid-5of10, .grid-6of12 {
  width: 50%;
}

/* line 76, ../../app/styles/wizardry.scss */
.grid-1of3, .grid-2of6, .grid-4of12 {
  width: 33.333%;
}

/* line 77, ../../app/styles/wizardry.scss */
.grid-2of3, .grid-4of6, .grid-8of12 {
  width: 66.666%;
}

/* line 79, ../../app/styles/wizardry.scss */
.grid-1of4, .grid-2of8, .grid-3of12 {
  width: 25%;
}

/* line 81, ../../app/styles/wizardry.scss */
.grid-3of4, .grid-6of8, .grid-9of12 {
  width: 75%;
}

/* line 83, ../../app/styles/wizardry.scss */
.grid-1of5, .grid-2of10 {
  width: 20%;
}

/* line 84, ../../app/styles/wizardry.scss */
.grid-2of5, .grid-4of10 {
  width: 40%;
}

/* line 85, ../../app/styles/wizardry.scss */
.grid-3of5, .grid-6of10 {
  width: 60%;
}

/* line 86, ../../app/styles/wizardry.scss */
.grid-4of5, .grid-8of10 {
  width: 80%;
}

/* line 88, ../../app/styles/wizardry.scss */
.grid-1of6, .grid-2of12 {
  width: 16.666%;
}

/* line 92, ../../app/styles/wizardry.scss */
.grid-5of6, .grid-10of12 {
  width: 83.333%;
}

/* line 94, ../../app/styles/wizardry.scss */
.grid-1of8 {
  width: 12.5%;
}

/* line 96, ../../app/styles/wizardry.scss */
.grid-3of8 {
  width: 37.5%;
}

/* line 98, ../../app/styles/wizardry.scss */
.grid-5of8 {
  width: 62.5%;
}

/* line 100, ../../app/styles/wizardry.scss */
.grid-7of8 {
  width: 87.5%;
}

/* line 102, ../../app/styles/wizardry.scss */
.grid-1of10 {
  width: 10%;
}

/* line 104, ../../app/styles/wizardry.scss */
.grid-3of10 {
  width: 30%;
}

/* line 108, ../../app/styles/wizardry.scss */
.grid-7of10 {
  width: 70%;
}

/* line 110, ../../app/styles/wizardry.scss */
.grid-9of10 {
  width: 90%;
}

/* line 112, ../../app/styles/wizardry.scss */
.grid-1of12 {
  width: 8.333%;
}

/* line 116, ../../app/styles/wizardry.scss */
.grid-5of12 {
  width: 41.666%;
}

/* line 118, ../../app/styles/wizardry.scss */
.grid-7of12 {
  width: 58.333%;
}

/* line 122, ../../app/styles/wizardry.scss */
.grid-11of12 {
  width: 91.666%;
}

@media only screen and (min-width: 600px) {
  /* line 72, ../../app/styles/wizardry.scss */
  .grid-medium-1of1 {
    width: 100%;
  }

  /* line 74, ../../app/styles/wizardry.scss */
  .grid-medium-1of2, .grid-medium-3of6, .grid-medium-4of8, .grid-medium-5of10, .grid-medium-6of12 {
    width: 50%;
  }

  /* line 76, ../../app/styles/wizardry.scss */
  .grid-medium-1of3, .grid-medium-2of6, .grid-medium-4of12 {
    width: 33.333%;
  }

  /* line 77, ../../app/styles/wizardry.scss */
  .grid-medium-2of3, .grid-medium-4of6, .grid-medium-8of12 {
    width: 66.666%;
  }

  /* line 79, ../../app/styles/wizardry.scss */
  .grid-medium-1of4, .grid-medium-2of8, .grid-medium-3of12 {
    width: 25%;
  }

  /* line 81, ../../app/styles/wizardry.scss */
  .grid-medium-3of4, .grid-medium-6of8, .grid-medium-9of12 {
    width: 75%;
  }

  /* line 83, ../../app/styles/wizardry.scss */
  .grid-medium-1of5, .grid-medium-2of10 {
    width: 20%;
  }

  /* line 84, ../../app/styles/wizardry.scss */
  .grid-medium-2of5, .grid-medium-4of10 {
    width: 40%;
  }

  /* line 85, ../../app/styles/wizardry.scss */
  .grid-medium-3of5, .grid-medium-6of10 {
    width: 60%;
  }

  /* line 86, ../../app/styles/wizardry.scss */
  .grid-medium-4of5, .grid-medium-8of10 {
    width: 80%;
  }

  /* line 88, ../../app/styles/wizardry.scss */
  .grid-medium-1of6, .grid-medium-2of12 {
    width: 16.666%;
  }

  /* line 92, ../../app/styles/wizardry.scss */
  .grid-medium-5of6, .grid-medium-10of12 {
    width: 83.333%;
  }

  /* line 94, ../../app/styles/wizardry.scss */
  .grid-medium-1of8 {
    width: 12.5%;
  }

  /* line 96, ../../app/styles/wizardry.scss */
  .grid-medium-3of8 {
    width: 37.5%;
  }

  /* line 98, ../../app/styles/wizardry.scss */
  .grid-medium-5of8 {
    width: 62.5%;
  }

  /* line 100, ../../app/styles/wizardry.scss */
  .grid-medium-7of8 {
    width: 87.5%;
  }

  /* line 102, ../../app/styles/wizardry.scss */
  .grid-medium-1of10 {
    width: 10%;
  }

  /* line 104, ../../app/styles/wizardry.scss */
  .grid-medium-3of10 {
    width: 30%;
  }

  /* line 108, ../../app/styles/wizardry.scss */
  .grid-medium-7of10 {
    width: 70%;
  }

  /* line 110, ../../app/styles/wizardry.scss */
  .grid-medium-9of10 {
    width: 90%;
  }

  /* line 112, ../../app/styles/wizardry.scss */
  .grid-medium-1of12 {
    width: 8.333%;
  }

  /* line 116, ../../app/styles/wizardry.scss */
  .grid-medium-5of12 {
    width: 41.666%;
  }

  /* line 118, ../../app/styles/wizardry.scss */
  .grid-medium-7of12 {
    width: 58.333%;
  }

  /* line 122, ../../app/styles/wizardry.scss */
  .grid-medium-11of12 {
    width: 91.666%;
  }
}
@media only screen and (min-width: 1000px) {
  /* line 72, ../../app/styles/wizardry.scss */
  .grid-large-1of1 {
    width: 100%;
  }

  /* line 74, ../../app/styles/wizardry.scss */
  .grid-large-1of2, .grid-large-3of6, .grid-large-4of8, .grid-large-5of10, .grid-large-6of12 {
    width: 50%;
  }

  /* line 76, ../../app/styles/wizardry.scss */
  .grid-large-1of3, .grid-large-2of6, .grid-large-4of12 {
    width: 33.333%;
  }

  /* line 77, ../../app/styles/wizardry.scss */
  .grid-large-2of3, .grid-large-4of6, .grid-large-8of12 {
    width: 66.666%;
  }

  /* line 79, ../../app/styles/wizardry.scss */
  .grid-large-1of4, .grid-large-2of8, .grid-large-3of12 {
    width: 25%;
  }

  /* line 81, ../../app/styles/wizardry.scss */
  .grid-large-3of4, .grid-large-6of8, .grid-large-9of12 {
    width: 75%;
  }

  /* line 83, ../../app/styles/wizardry.scss */
  .grid-large-1of5, .grid-large-2of10 {
    width: 20%;
  }

  /* line 84, ../../app/styles/wizardry.scss */
  .grid-large-2of5, .grid-large-4of10 {
    width: 40%;
  }

  /* line 85, ../../app/styles/wizardry.scss */
  .grid-large-3of5, .grid-large-6of10 {
    width: 60%;
  }

  /* line 86, ../../app/styles/wizardry.scss */
  .grid-large-4of5, .grid-large-8of10 {
    width: 80%;
  }

  /* line 88, ../../app/styles/wizardry.scss */
  .grid-large-1of6, .grid-large-2of12 {
    width: 16.666%;
  }

  /* line 92, ../../app/styles/wizardry.scss */
  .grid-large-5of6, .grid-large-10of12 {
    width: 83.333%;
  }

  /* line 94, ../../app/styles/wizardry.scss */
  .grid-large-1of8 {
    width: 12.5%;
  }

  /* line 96, ../../app/styles/wizardry.scss */
  .grid-large-3of8 {
    width: 37.5%;
  }

  /* line 98, ../../app/styles/wizardry.scss */
  .grid-large-5of8 {
    width: 62.5%;
  }

  /* line 100, ../../app/styles/wizardry.scss */
  .grid-large-7of8 {
    width: 87.5%;
  }

  /* line 102, ../../app/styles/wizardry.scss */
  .grid-large-1of10 {
    width: 10%;
  }

  /* line 104, ../../app/styles/wizardry.scss */
  .grid-large-3of10 {
    width: 30%;
  }

  /* line 108, ../../app/styles/wizardry.scss */
  .grid-large-7of10 {
    width: 70%;
  }

  /* line 110, ../../app/styles/wizardry.scss */
  .grid-large-9of10 {
    width: 90%;
  }

  /* line 112, ../../app/styles/wizardry.scss */
  .grid-large-1of12 {
    width: 8.333%;
  }

  /* line 116, ../../app/styles/wizardry.scss */
  .grid-large-5of12 {
    width: 41.666%;
  }

  /* line 118, ../../app/styles/wizardry.scss */
  .grid-large-7of12 {
    width: 58.333%;
  }

  /* line 122, ../../app/styles/wizardry.scss */
  .grid-large-11of12 {
    width: 91.666%;
  }
}