@(comment: Comment, canRecommend: Boolean = false)(implicit request: RequestHeader)
<div class="disc-comment u-cf">
    <div class="disc-comment__meta u-cf">
        <button
            class="disc-comment__recommend u-button-reset @if(canRecommend){js-disc-recommend-comment}"
            data-comment-id="@comment.id">
            <div class="disc-comment__recommend-count js-disc-recommend-count">
                @comment.numRecommends
            </div>
            <div class="disc-comment__recommend-button js-disc-recommend-button">
                <i class="i i-recommend"></i>
                <span class="u-h">Recommend</span>
            </div>
        </button>
    </div>

    <div class="disc-comment__body" itemprop="text">
        <p>Maybe it was a little easier observing politics from a distance, but Tony Blair was never too difficult to figure out. You only had to look at his closest friends and cronies to wonder. With the exception of his Sedgefield constituency agent, all his friends were either aristos or the super rich. For a Labour Party leader, he seemed very ill at ease around working class people. Both he and the queen took a picture with a working class person in their home around the turn of the century. The queen for more at ease than the Labour prime minister. Remember, he lied about being a Newcastle United fan and standing on the terraces to watch Jackie Milburn. Even from these little vignettes you suspected he was a fraud. It isn't much of a stretch to see where his life is now. He was born into a Scottish Tory Family ( a fact he tried desperately to hide ) and he was a Tory himself right from the off.</p>
        @withJsoup(BulletCleaner(comment.body))(
            InBodyLinkCleaner("in body link")(Edition(request))
        )
    </div>
</div>
