@(activity: List[discussion.model.WitnessActivity])(implicit request: RequestHeader)

<div class="activity-stream__witness-contributions" data-link-name="User activity contributions">
@if(activity.isEmpty){
	<p class="activity-stream__empty">No contributions found.<br/><br/>
    Want to contribute to GuardianWitness? <a href="https://witness.theguardian.com/" data-link-name="Find out about GuardianWitness">Find out how and take part.</a></p>
} else {
	@activity.map{ w =>
        @if(!w.image.isEmpty){
        <a href="@w.webUrl" data-link-name="View item">
            <div class="activity-stream__witness-item">
                <div class="activity-stream__witness-content">
                    <div class="activity-stream__witness-img" style="background-image: url('@w.image');"></div>
                    <div class="activity-stream__witness-text">
                        <div class="activity-stream__witness-title">@w.headline</div>
                        <div class="activity-stream__witness-description">@w.bodyShort</div>
                    </div>
                </div>
                <div class="activity-stream__witness-meta">
                    <span class="activity-stream__witness-meta-inner">@w.daysAgo</span>
                </div>
            </div>
        </a>
        }
	}
}
</div>
