@(stage: String)

<header>
    <a href="/" target="_top">
        <img class="logo" src="@controllers.faciatool.routes.UncachedAssets.at("images/edit-pen.png")" />
        <h1>
            <span data-bind="text: title()">fronts</span>
            @if(Play.isDev && stage.toLowerCase != "dev") { : @stage }
        </h1>
    </a>
    <div class="log-in-out top-button"><a href="/logout">Logout</a></div>
    <div class="top-button-collections" style="display:none" data-bind="visible: true">
        <!-- ko if: layout.configVisible() -->
            <div class="save-layout top-button"><a data-bind="click: saveLayout">Save</a></div>
            <div class="cancel-layout top-button"><a data-bind="click: cancelLayout">Cancel</a></div>
        <!-- /ko -->
        <!-- ko ifnot: layout.configVisible() -->
            <div class="choose-layout top-button"><a data-bind="click: chooseLayout">Workspace</a></div>
        <!-- /ko -->
    </div>
</header>
