$color-sign-in-eb-main: $garnett-nav-background;
$color-sign-in-eb-alt: $garnett-neutral-1;
$color-sign-in-eb-callout: $news-garnett-highlight;

$sign-in-eb-padding: $gs-baseline * 1.5;
$sign-in-eb-padding-vertical: $gs-baseline * .75;
$sign-in-eb-logo: $gs-baseline * 3.5;

.site-message.site-message--sign-in-message {
    background: transparent;
    top: 0;
    display: flex;
    align-content: center;
    align-items: center;
    overflow-y: auto;
    .gs-container {
        margin: auto;
        padding: 0 $gs-gutter;
    }
    .site-message__inner {
        background: $color-sign-in-eb-main;
        color: $garnett-neutral-1;
        max-width: 310px;
        padding: 0;
        position: relative;
        margin: $gs-baseline auto;
        body:not(.disable-flashing-elements) & {
            animation: sign-in-eb-pop-in .5s cubic-bezier(.175, .885, .32, 1.275);
        }
    }
    .site-message__message {
        max-width: 100%;
        padding: 0;
    }
    .site-message__media {
        display: none;
    }
    .site-message__copy {
        padding: 0;
    }
}

.site-message--sign-in-container {
    padding: $sign-in-eb-padding-vertical 0;
    .site-message--sign-in__header,
    .site-message--sign-in__body,
    .site-message--sign-in__buttons {
        padding: 0 $sign-in-eb-padding;
    }
}

.site-message--sign-in__header {
    position: relative;
    &:after {
        content: '';
        background: darken($garnett-neutral-4, 10%);
        position: absolute;
        height: 1px;
        bottom: 0;
        right: 0;
        left: $sign-in-eb-padding;
    }

    .site-message--sign-in__header-msg {
        &.site-message--sign-in__header-msg--main {
            @include fs-headline(5);
            @media all and(min-height: 36em) {
                @include fs-headline(6, true);
                line-height: .9;
            }
            font-weight: 600;
            display: inline;
            margin-right: $sign-in-eb-logo;
            line-height: .9;
            > .site-message--sign-in__header-msg-line {
                white-space: nowrap;
            }
        }
        &.site-message--sign-in__header-msg--sub {
            @include fs-headline(3, true);
            line-height: 1;
            font-weight: 100;
            padding: ($gs-gutter * .9) 0 $gs-gutter;
        }
    }
}

.site-message--sign-in-cta,
a.site-message--sign-in-cta {
    @include circular;
    @include fs-textSans(3)
    display: inline-flex;
    white-space: nowrap;
    color: $garnett-neutral-1;
    text-decoration: none;
    background: $color-sign-in-eb-callout;
    font-weight: 800;
    height: $gs-baseline*3;
    padding: 0 $gs-gutter/1.5;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    transition: .25s;
    .inline-icon svg {
        position: absolute;
        top: 0;
        right: $gs-gutter/4;
        bottom: 0;
        margin: auto;
        transition: .25s;
        * {
            fill: $garnett-neutral-1;
        }
    }
    &:hover {
        background-color: darken($color-sign-in-eb-callout, 1%);
        .inline-icon svg {
            transform: translateX(5%);
        }
    }
}

.site-message--sign-in__buttons {
    .site-message--sign-in-cta {
        margin-bottom: $gs-gutter/4;
    }
    display: grid;
    grid-gap: $gs-gutter/4;
    grid-template-columns: 1fr 1fr;
}

a.site-message--sign-in__why {
    @include fs-textSans(3);
    display: block;
    background: $color-sign-in-eb-alt;
    color: #ffffff;
    text-decoration: none;
    padding: $gs-baseline/3 $sign-in-eb-padding;
    .inline-icon {
        @include circular;
        vertical-align: sub;
        display: inline-block;
        width: $gs-baseline * 1.25;
        height: $gs-baseline * 1.25;
        background: #ffffff;
        svg {
            width: 100%;
            height: 100%;
            display: block;
        }
        svg * {
            fill: $color-sign-in-eb-alt;
        }
    }
}

.site-message--sign-in__dismiss {
    @include fs-textSans(3);
    @include circular;
    color: $garnett-neutral-1;
    position: absolute;
    height: $gs-baseline * 3;
    width: $gs-baseline * 3;
    top: $sign-in-eb-padding-vertical;
    right: $sign-in-eb-padding * .9;
    border: 1px solid darken($garnett-neutral-4, 10%);
    background: transparent;
    &:hover {
        border-color: darken($garnett-neutral-4, 20%);
    }
    svg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transform: scale(.8);
        path {
            fill: $garnett-neutral-1;
        }
    }
}

.site-message--sign-in-container .site-message--sign-in__body {
    @include fs-bodyCopy(2);
    line-height: 1.2;
    list-style: none;
    margin: 0 0 ($sign-in-eb-padding-vertical * 2);
    .site-message--sign-in__feature {
        position: relative;
        margin: 0 0 $gs-baseline;
        padding-left: $gs-baseline * 2.5;
        strong {
            display: block;
        }
    }
    .site-message--sign-in__feature-icon {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@keyframes sign-in-eb-pop-in {
    from {
        transform: scaleY(.9) translateY(10em);
    }
    to {
        transform: scaleY(1) translateY(0);
    }
}
