@import com.gu.identity.model.ConsentText
@import _root_.form.IdFormHelpers.nonInputFields

@(consentField: Field)(messages: play.api.i18n.Messages)

@getConsentText(consentField: Field) = {
    @ConsentText.getText(
        consentField("consentIdentifier").value.getOrElse("unknownConsent"), // OrElse will never execute as there is always a default
        consentField("consentIdentifierVersion").value.getOrElse("0").toInt)
}

@fragments.form.switch(
    title = getConsentText(consentField).toString(),
    subheading = None,
    description = None,
    behaviour = Some("consent"),
    field = consentField("hasConsented"),
    extraFields = Some(
        List("actor","consentIdentifier","consentIdentifierVersion","timestamp","privacyPolicy").map(field =>
            fragments.form.hidden(consentField(field))
        )
    )
)(nonInputFields, messages)
