@import com.gu.identity.model.Consent
@import com.gu.identity.model.ConsentWording
@import _root_.form.IdFormHelpers.nonInputFields
@import views.support.fragment.Switch._

@* Product consent switch/checkbox *@

@(
    consentField: Field,
    highlighted: Boolean = false,
    skin: Option[String] = None,
    boldTitle: Boolean = true,
    titleProvider: ConsentWording => String = w => w.wording,
    descriptionProvider: ConsentWording => Option[String] = w => w.description
)(messages: play.api.i18n.Messages)

@getConsentText(consentField: Field) = @{
    Consent.wording(
        consentField("id").value.getOrElse("unknownConsent"), // OrElse will never execute as there is always a default
        consentField("version").value.getOrElse("0").toInt)
}

@consentHiddenFormFields = @{
    List("actor","id","version","timestamp","privacyPolicyVersion").map { field =>
        fragments.form.hidden(consentField(field))
    }
}

@fragments.form.switch(
    title = titleProvider(getConsentText(consentField)),
    description = descriptionProvider(getConsentText(consentField)),
    behaviour = ConsentSwitch,
    field = consentField("consented"),
    extraFields = consentHiddenFormFields,
    highlighted = highlighted,
    skin = skin,
    boldTitle = boldTitle
)(nonInputFields, messages)
