<div class="membership-tab js-membership-tab" data-sprite-url="@Static("stylesheets/membership-icons.css")">

    <ul class="u-unstyled membership-tab__details-list">

        <li>
            <div class="fieldset__heading">
                <h2 class="form__heading">
                    Membership Tier
                </h2>
                <p class="form-field__note">Your membership tier plan</p>
            </div>

            <div class="fieldset__fields">
                <ul class="u-unstyled">
                    <li class="form-field"><span class="js-membership-tier"></span></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="fieldset__heading">
                <h2 class="form__heading">
                    Start date
                </h2>
                <p class="form-field__note">The date you joined</p>
            </div>

            <div class="fieldset__fields">
                <span class="js-membership-start-date"></span>
            </div>
        </li>
        <li>
            <div class="fieldset__heading">
                <h2 class="form__heading">
                    Monthly payment
                </h2>
                <p class="form-field__note">The monthly cost of your membership</p>
            </div>

            <div class="fieldset__fields">
                <span class="membership-tab__currency">£</span><span class="js-membership-payment-cost"></span>
            </div>
        </li>
        <li>
            <div class="fieldset__heading">
                <h2 class="form__heading">
                    Next payment
                </h2>
                <p class="form-field__note">The date of your next payment</p>
            </div>

            <div class="fieldset__fields">
                <span class="js-membership-payment-next"></span>
            </div>
        </li>
        <li>
            <div class="fieldset__heading">
                <h2 class="form__heading">
                    Card details
                </h2>
                <p class="form-field__note">The card that will be used for your next payment</p>
            </div>

            <div class="fieldset__fields">
                <span class="js-membership-card-type membership-tab__card-types"><span class="js-membership-card-text u-h"></span></span>
                <span class="membership-tab__card-details">&#8226;&#8226;&#8226;&#8226;&nbsp;&#8226;&#8226;&#8226;&#8226;&nbsp;&#8226;&#8226;&#8226;&#8226;&nbsp;<span class="js-membership-card-lastfour"></span></span>
            </div>
        </li>

    </ul>

</div>
