@import model.IdentityUserhelp

@(
    idRequest: services.IdentityRequest,
    idUrlBuilder: services.IdentityUrlBuilder,
    userhelp: model.Userhelp = IdentityUserhelp)(implicit request: RequestHeader)

@import views.html.fragments.userhelpFooter

<ul class="nav nav--registration identity-section" data-link-name="Registration footer">
    @userhelpFooter(userhelp)
    <li class="nav__item"><a class="nav__link" href="@idUrlBuilder.buildUrl("/reset", idRequest)" data-link-name="Reset password" data-test-id="reset-password">Reset password</a></li>
    <li class="nav__item"><a class="nav__link" href="@idUrlBuilder.buildUrl("/delete", idRequest)" data-link-name="Delete account" data-test-id="delete-account">Delete account</a></li>
    <li class="nav__item"><a class="nav__link" href="@idUrlBuilder.buildUrl("/signout", idRequest)" data-link-name="Sign out" data-test-id="sign-out">Sign out</a></li>
</ul>
