@(route: views.SocialSigninRoutes, idRequest: services.IdentityRequest, idUrlBuilder: services.IdentityUrlBuilder)(implicit request: RequestHeader)

@import conf.Switches.IdentitySocialOAuthSwitch
@import utils.ThirdPartyConditions

<ul class="social-signin">
    <li class="social-signin__item">
        <a class="social-signin__action social-signin__action--fb"
            data-link-name="Register/Sign in with Facebook" data-test-id="facebook-sign-in"
            href="@if(IdentitySocialOAuthSwitch.isSwitchedOn) {
                    @idUrlBuilder.buildOAuthUrl("/facebook/" + route.facebook.path, idRequest, ThirdPartyConditions.agreeUrlParamOpt(idRequest, idUrlBuilder))
            } else {
                    @idUrlBuilder.buildWebappUrl("/facebook/" + route.facebook.path, idRequest)
                }
            ">
            <span>@route.facebook.name with Facebook</span>
            @fragments.inlineSvg("share-facebook", "icon", List("social-signin__icon", "social-signin__icon--fb"))
        </a>
    </li>
    <li class="social-signin__item">
        <a class="social-signin__action social-signin__action--gplus"
            data-link-name="Register/Sign in with Google" data-test-id="google-sign-in"
            href="@if(IdentitySocialOAuthSwitch.isSwitchedOn) {
                    @idUrlBuilder.buildOAuthUrl("/google/" + route.google.path, idRequest, ThirdPartyConditions.agreeUrlParamOpt(idRequest, idUrlBuilder))
                } else {
                    @idUrlBuilder.buildWebappUrl("/google/" + route.google.path, idRequest)
                }
            ">
            <span>@route.google.name with Google</span>
            @fragments.inlineSvg("share-gplus", "icon", List("social-signin__icon", "social-signin__icon--gplus"))
        </a>
    </li>
</ul>
