@(metaData: model.NotificationPreferencesMetaData)(implicit request: RequestHeader)

@main(metaData, projectName = Some("index")) { } {
    <div class="l-side-margins" data-link-name="notification preferences">
        <div class="fc-container">
            <div class="fc-container__inner">
                <div class="fc-container__header">
                    <div class="fc-container__header__title">
                        <span tabindex="0">notifications</span>
                    </div>
                </div>

                <div class="fc-container__body">
                    <button class="js-push-button button button--primary" disabled>
                        Enable
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="notifications-preferences-overlay js-notifications-preferences-overlay">
        <div class="notifications-preferences-overlay__body">
            @fragments.inlineSvg("marque-36", "icon")
            <p class="notifications-preferences-overlay__cta">Press <span class="notifications-preferences-overlay__button">Allow</span> on the security message to allow the
            Guardian to send you browser notifications.</p>
            <p>After, we will return you to your previous article.</p>
            <aside class="notifications-preferences-overlay__aside">You can manage all your notification preferences in the
            <a href="/preferences">site settings</a>.</aside>
        </div>
    </div>
}
