@(page: discussion.CommentPage, renderPagination: Boolean)(implicit request: RequestHeader)

<div class="d-discussion @if(!page.isClosedForRecommendation){d-discussion--recommendations-open} u-cf"
    @page.switches.map{ switch => data-@switch.name="@switch.state" }>

    @userMessageForLargeDiscussion

    <ul class="d-thread d-thread--comments js-new-comments">

        @page.comments.map { comment =>
            @fragments.comment(comment, page.isClosedForRecommendation, false)
        }

    </ul>

    <div class="discussion__pagination discussion__pagination--bottom">
        @fragments.commentPagination(page)
    </div>

    @fragments.reportComment()
</div>

@userMessageForLargeDiscussion = {
    @if(page.isLargeDiscussion){
        <div class="d-discussion__size-message">
            Due to the large number of comments, they are being shown 100 per page.
        </div>
    }
}
