@(page: CommentPage)(implicit request: RequestHeader)
@main(page){
} {
<div class="content content--comments">
    <header class="content__head">
        <div class="gs-container">
            <div class="content__main-column">
                <h1 itemprop="headline" class="content__headline">
                    <a href="@LinkTo{@page.contentUrl}">@Html(page.commentPageTitle)</a>
                </h1>
            </div>
        </div>
    </header>
    <div class="gs-container">
        <div class="content__main-column">
            <h2 class="page-sub-header tone-colour">Comments</h2>
            <div class="discussion__warning modern-hidden">
                This is our basic discussion experience, designed to perform well in most browsers.  You can read and report comments, and view
                them in date order.
                The full range of features are available if you use one of our <a href='@LinkTo{"/help/recommended-browsers"}'>recommended browsers</a>.
                We review our list of recommended browsers from time to time, to make sure you get the best overall experience.
            </div>
            @commentsList(page, true)
        </div>
    </div>
</div>
}
