@(page: CommentPage)(implicit request: RequestHeader)
@main(page){
} {
<div class="content content--comments">
    <header class="content__head">
        <div class="gs-container">
            <div class="content__main-column">
                <h1 itemprop="headline" class="content__headline">
                    <a href="@LinkTo{@page.contentUrl}">@Html(page.commentPageTitle)</a>
                </h1>
            </div>
        </div>
    </header>
    <div class="gs-container">
        <div class="content__main-column">
            <h2 class="page-sub-header tone-colour">Comments</h2>
            <div class="discussion__warning modern-hidden">
                This is our basic commenting system.  For the full range of features, use one of our
                    <a href="@LinkTo{/help/recommended-browsers}">recommended browsers</a>.
            </div>
            @commentsList(page, true)
        </div>
    </div>
</div>
}
