@import com.gu.identity.model.EmailNewsletters._
@(  componentClass: String,
    listId: Int,
    formHeading: String = "",
    formDescription: String = "",
    labelText: String = "Email address",
    submitText: String = "Sign up",
    formImage: String = "")(implicit request: RequestHeader)

@import common.LinkTo

@listIdTones = @{  List(
    bestOfOpinionUK.allIds.map(_ -> "comment"),
    bestOfOpinionAUS.allIds.map(_ -> "comment"),
    bestOfOpinionUS.allIds.map(_ -> "comment"),
    bookmarks.allIds.map(_ -> "review"),
    theFiver.allIds.map(_ -> "feature"),
    mediaBriefing.allIds.map(_ -> "media"),
    theLongRead.allIds.map(_ -> "feature"),
    weekendReading.allIds.map(_ -> "feature"),
    documentaries.allIds.map(_ -> "plaindark"),
    theFlyer.allIds.map(_ -> "feature"),
    theBreakdown.allIds.map(_ -> "feature"),
    theSpin.allIds.map(_ -> "feature"),
    closeUp.allIds.map(_ -> "review"),
    filmToday.allIds.map(_ -> "media"),
    sleeveNotes.allIds.map(_ -> "review"),
    theObserverFoodMonthly.allIds.map(_ -> "feature"),
    firstDogOnTheMoon.allIds.map(_ -> "media"),
    fashionStatement.allIds.map(_ -> "media")
).flatten.toMap: Map[Int, String] }

@formId = @{ componentClass + "-email-sub-form" }
@inputId = @{ componentClass + "-email-sub-input" }

@wrapperClass = @{ "email-sub js-email-sub" + " email-sub--" + componentClass + " js-email-sub--" + componentClass }
@wrapperToneClass = @{ if (componentClass == "article" || componentClass == "plaintone") "email-sub--tone-" + listIdTones.getOrElse(listId, "news") }
@formClass = @{ "email-sub__form js-email-sub__form" + " email-sub__form--" + componentClass }
@headerClass = @{"email-sub__header" + " email-sub__header--" + componentClass }


@form = {
    <form action="@LinkTo("/email")" method="post" id="@formId" class="@formClass" data-email-form-type="@componentClass" data-email-list-id="@listId">
        <div class="email-sub__form-wrapper">
            <div class="email-sub__inline-label js-email-sub__inline-label">
                @if(componentClass == "plaintone") {
                    <input class="email-sub__text-input js-email-sub__text-input" type="email" name="email" id="@inputId" placeholder="Email address" required />
                } else {
                    <label class="email-sub__label js-email-sub__label" for="@inputId">@fragments.inlineSvg("envelope", "icon", Seq("label__icon"))@labelText</label>
                    <input class="email-sub__text-input js-email-sub__text-input" type="email" name="email" id="@inputId" required />
                }
                <input class="js-email-sub__listid-input" type="hidden" name="listId" value="@listId" />
            </div>
            <button type="submit" class="email-sub__submit-button js-email-sub__submit-button button button--tertiary button--large">@fragments.inlineSvg("envelope", "icon", Seq("submit-input__icon"))@submitText</button>
        </div>
    </form>
}

@if(componentClass == "article") {
    <div class="fc-container">
        <div class="fc-container__inner @wrapperClass @wrapperToneClass">
            <div class="fc-container__header">
                <div class="@headerClass">
                    <h2 class="email-sub__heading js-email-sub__heading">
                        <span class="js-email-sub__display-name-normal-text">@Html(formHeading)</span>&shy;<span class="js-email-sub__display-name-accented-text email-sub__display-name-accented-text"></span>
                    </h2>
                </div>
            </div>

            <div class="fc-container__body">
                <div class="email-sub__description js-email-sub__description">@Html(formDescription)</div>
                @form
            </div>
        </div>
    </div>
} else {
    <div class="@wrapperClass @wrapperToneClass">
        @if(formHeading) {
            <div class="@headerClass">
                <h2 class="email-sub__heading js-email-sub__heading">@Html(formHeading)</h2>

                @if(formDescription) {
                    <div class="email-sub__description js-email-sub__description">@Html(formDescription)</div>
                }
            </div>
        }

        @form
    </div>
}
