
@(privacyNoticeId: String = "privacy-notice", privacyNoticeClass: String  = "terms", plural: Boolean = true)(implicit request: RequestHeader)

<span id="@privacyNoticeId" class="@privacyNoticeClass">
    We thought you should know @if(plural){ these newsletters } else { this newsletter } may also contain information about Guardian products,
    services and chosen charities or online advertisements.
    Newsletters may also contain content funded by outside parties.
    You can read more about <a href="/help/privacy-policy" data-link-name="privacy-policy" target="_blank">our privacy policy here</a>.
</span>
