.facia-snap--football {
    $slice-innerHeight: gs-height(5) - $gs-baseline / 3;

    // Dealing with the double embedding of snaps
    overflow: hidden;
    position: relative;
    padding: 0;

    // Generic
    &.facia-snap-embed {
        height: $slice-innerHeight;
        margin: 0 $gs-gutter/2;
        position: relative;
        background: #ffffff;
    }

    // Matches and tables
    // =============================================================================
    .c-football-table {
        // this works as a min-height
        height: $gs-baseline*14;
        overflow: visible;
    }

    .c-football-matches {
        overflow: hidden;
        background: colour(neutral-8);
        width: 100%;
    }

    .table,
    .table__caption {
        border-top: 0;
    }

    .table__caption--top {
        $title-padding: $gs-baseline*(2/3);
        padding: 0;

        .football-matches__heading {
            display: block;
            padding: $title-padding;
        }

        .football-matches__date {
            margin: 0;
            padding: $title-padding;
            border-top: 1px solid darken(colour(neutral-8), 4%);
        }
    }

    .table__caption--bottom {
        box-sizing: border-box;
        background: colour(neutral-8);
        border-width: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        position: absolute;
        margin: 0;
        padding: 10px 0;

        .full-table-link {
            margin-left: $gs-gutter/2;
            display: inline-block;
        }

        &:after {
            @include simple-gradient(transparent, #f6f6f6);
            height: $gs-baseline*1.5;
            border-bottom: 1px solid colour(neutral-3);
            bottom: $gs-baseline*2.75-2;
            content: ' ';
            left: 0;
            position: absolute;
            width: 100%;
        }
    }

    .football-match__crest,
    .football-team__form {
        display: none;
    }

    .football-team__name {
        text-overflow: ellipsis;
    }

    .football-matches__day:last-child {
        .table__caption--bottom {
            display: table-caption;
        }
    }

    // Big match special
    // =============================================================================
    .match-summary {
        padding-left: $gs-gutter/2;
        padding-right: $gs-gutter/2;
        background: colour(neutral-8);
        height: 100%;
        &:hover,
        &:active {
            background: colour(neutral-6);
            color: colour(neutral-1);
            text-decoration: none;
        }
    }

    .team__info {
        @include fs-headline(3, true);
    }

    .status__time {
        top: $gs-baseline/2;
    }

    .team__scorers {
        @include fs-textSans(4, true);

        dd:nth-child(3) {
            &:after {
                content: '…';
                display: block;
            }
        }
        dd:nth-of-type(n+3) {
            display: none;
        }
    }

    // Different snap sizes
    // See javascripts/modules/ui/snaps.js
    &.facia-snap-point--large {
        @include table--hide-none;
        .table,
        .table__caption {
            border-top: 0;
        }
        .team__info {
            @include fs-headline(6, true)
        }
        .football-match__crest {
            display: block;
        }
    }

    &.facia-snap-point--large,
    &.facia-snap-point--medium {
        @include match-summary--responsive;
        .team__crest {
            line-height: $gs-gutter*2;
        }
    }

    &.facia-snap-point--medium {
        .team__info {
            @include fs-headline(3, true)
        }
    }


    &.facia-snap-point--small {
        @include table--hide-from-importance-2;

        .team__info {
            @include fs-headline(2, true)
        }
    }

    &.facia-snap-point--mini,
    &.facia-snap-point--tiny {
        @include table--hide-from-importance-3;

        .competition-name {
            display: none;
        }

        .team-name:after,
        .team__name:after {
            content: attr(data-abbr);
        }
        .team-name__long,
        .team__name-long {
            @include u-h;
        }

        .match-info__venue {
            display: none;
        }

        .football-match__status {
            padding-right: $gs-gutter/5;
        }
        .football-match__team--home {
            padding-right: $gs-gutter*.5;
        }
        .football-match__team--away {
            padding-left: $gs-gutter*.5;
        }

        .football-match--live,
        .football-match--result {

            .football-match__team {
                display: block;
                text-align: left;
                padding: 0;
                width: 100%;

                .football-team__name {
                    text-align: left;
                    display: inline;
                }
                .team-name__long {
                    display: none;
                }
                .football-team__score {
                    display: inline;
                    position: relative;
                    right: 0;
                    left: 30%;
                }
            }

            .football-teams__battleline {
                display: none;
            }
        }
    }
}

$footballBadgeSizeMobile: 80px;
$footballBadgeSizeDesktop: 120px;

.football-badge {
    background-size: contain;
    background-repeat: no-repeat;

    width: $footballBadgeSizeMobile;
    height: $footballBadgeSizeMobile;

    @include mq(desktop) {
        width: $footballBadgeSizeDesktop;
        height: $footballBadgeSizeDesktop;
    }
}

.after-article .football-extras {
    margin-top: $gs-baseline*2;
}

.football-component-missing {
    @include fs-textSans(2);

    background: colour(neutral-8);
    width: 100%;
    padding: $gs-baseline/1.5;
}
