.cta,
.element-interactive a{
    display: inline-block;
    vertical-align: top;
    width: auto;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.8125rem;
    line-height: 1.125rem;
}

.cta--medium,
.element-interactive a{
    height: 1.875rem;
    padding: 0 0.625rem;
    margin-right: 0.625rem;
    line-height: 30px;
}

.cta--show-more {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    color: #333;
    background-color: #fff;
    margin: 0 20px 0;
}

.cta--show-more.cta--show-more__unindent {
    margin: 0
}

@@media (max-width: 480px) {
    .cta--show-more {
        margin: 0 10px 0;
    }

    .cta--show-more.cta--show-more__unindent {
        margin: 0
    }
}

.cta--show-more svg {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin: -2px auto auto;
    fill: #767676;
}

.cta--show-more::after {
    content: "";
    background-color: #eaeaea;
    border-radius: 1.125rem;
    -webkit-border-radius: 1.125rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 130px;
    z-index: -1;
    color: #fff;
}

.cta--comments {
    background-color: #005689;
    color: #fff;
    border-radius: 1.125rem;
    -webkit-border-radius: 1.125rem;
    display: inline-block;
}

.cta--comments svg {
    margin-bottom: -7px;
}

.main-site-link {
    margin: 0;
    padding: 0;
    float: right;
}

.no-comments .main-site-link {
    float: none;
}

@@media (max-width: 350px) {
    .main-site-link {
        float: none;
        display: block;
        margin-top: 12px;
    }
}

.witness-cta-wrapper {
    overflow: hidden;
    padding: 0.25rem 0;
    border-top: 0.0625rem dotted #dcdcdc;
}

.witness__button {
    position: relative;
    float: left;
    margin-right: 0;
    height: 2.25rem;
    padding-left: 2.375rem;
    padding-right: 0.75rem;
    background-color: #005689;
    border-color: #005689;
    color: #aad8f1;
    line-height: 2.125rem;
    border-radius: 62.5rem;
    border-width: 0.0625rem;
    border-style: solid;
}

.witness__button:hover {
    background-color: #003656;
    border-color: #003656;
}

.witness__button .inline-plus__svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.625rem;
    margin: auto;
}

.witness__button .witness-logo {
    color: #ffffff;
    font-weight: 700;
}

.witness__button .witness-logo__witness {
    color: #aad8f1;
}

.witness-logo__witness {
    margin-left: -0.1875rem;
}

.witness-logo {
    display: inline-block;
    letter-spacing: -.04em;
    text-transform: lowercase;
}
