@(mainPicture: String, ctaImage: Option[String], brandColour: String)

.hosted-page {
    font-family: Helvetica, Arial sans-serif;
}

.hosted-tone {
    color: @brandColour;
}

.hosted-tone-bg {
    background-color: @brandColour;
}

.hosted-tone-btn {
    color: @brandColour;
    border: 1px solid @brandColour;
}

.hosted-gallery-page .hosted-tone-btn,
.hosted__banner .hosted-tone-btn,
.hosted-tone-btn:focus {
    background-color: @brandColour;
}

.hosted-page .hosted__link {
    color: @brandColour;
}

.survey-container .survey-text__header {
    background-color: @brandColour;
}

.hosted__header .survey-container::before {
    border-bottom-color: @brandColour;
}

.hosted-article-page p.intro + p::first-letter {
    background-color: @brandColour;
}

.from-content-api ul > li:before {
    background-color: @brandColour;
}

.content--article {
    background: #f6f6f6;
}

.content-article-body {
    margin: 0;
}

.hosted__side:before,
.hosted__side:after {
    display: none;
}

.hosted-page + footer {
    display: none;
}

.hosted-page--bright.hosted-gallery-page .hosted-tone-btn,
.hosted-page--bright .hosted__banner .hosted-tone-btn,
.hosted-page--bright .hosted-tone-btn:focus {
    color: #ffffff;
}

.hosted-page--bright.hosted-gallery-page .hosted-tone-btn svg,
.hosted-page--bright .hosted__banner .hosted-tone-btn svg,
.hosted-page--bright .hosted-tone-btn:focus svg {
    fill: #ffffff;
}

.hosted-page--bright .hostedbadge.hosted-tone-bg .hostedbadge__info {
    color: #ffffff;
}

.hosted-page--bright .survey-text__header {
    color: #ffffff;
}

.hosted-page--bright .survey-text__header .site-message__close-btn {
    border-color: #ffffff;
}

.hosted-page--bright .survey-text__header .inline-cross {
    fill: #ffffff;
}

.hosted-page--bright.hosted-article-page .content__article-body p.intro + p::first-letter {
    color: #ffffff;
}

.hosted__glogo {
    display: inline-block;
    padding: 4px 10px;
    background-color: #005689;
    text-align: right;
}

.hosted__glogo svg {
    fill: #ffffff;
    width: 115px;
    height: 40px;
}

.hosted__glogo .inline-logo {
    display: inline-block;
    margin-top: -5px;
}

.hosted__glogotext {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 16px;
    margin: 0;
    text-align: left;
    color: rgba(255, 255, 255, .5);
}

.hostedbadge {
    position: absolute;
}

.hostedbadge__logo.hostedbadge__logo {
    position: relative;
}

.hosted__heading {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
}

.survey-container {
    display: none;
    z-index: 1050;
    position: absolute;
    top: 36px;
    left: -100px;
    right: -158px;
    max-height: 500px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.survey-container::before {
    content: '';
    border: solid transparent;
    border-bottom-color: #ffffff;
    border-width: 15px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: 100%;
    left: 40%;
    transform: translate(-50%, 0);
}

.survey-container .survey-logo {
    position: absolute;
    bottom: 25px;
    right: 20px;
}

.survey-container .survey-logo svg {
    fill: #333333;
    width: 26px;
}

.survey-container .survey-icon {
    text-align: center;
    padding-top: 16px;
    background-color: #e3e3e3;
    line-height: 10px;
}

.survey-container .survey-icon svg {
    width: 240px;
    height: 154px;
}

.survey-container .survey-text__header {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 6px 0 0 10px;
    height: 44px;
    text-align: left;
}

.survey-container .survey-text__strong {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 6px 0 0 10px;
    background-color: #f8b600;
    height: 44px;
}

.survey-container .survey-text {
    padding: 4px 10px 0;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    background-color: #ffffff;
}

.survey-container .survey-text__paragraph {
    font-size: 16px;
    text-align: left;
    margin: 0;
    padding-bottom: 10px;
}

.hosted__banner {
    height: 200px;
    position: relative;
    background-size: cover;
    background-position: left;
    background-image: url(@ctaImage);
}

.hosted__banner:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background: linear-gradient(transparent 100px, rgba(0, 0, 0, .5));
}

.hosted__cta-wrapper {
    padding-top: 140px;
    position: relative;
    z-index: 1;
    margin-left: 20px;
}

.hosted__cta-btn-wrapper {
    padding-top: 90px;
}

.hosted__cta.button,
.hosted__cta.button:focus {
    color: #333333;
}

.hosted__cta.button {
    padding: 4px;
    height: 26px;
    width: 26px;
    margin: 6px;
    font-size: 14px;
    line-height: 26px;
}

.hosted__cta.button svg {
    fill: #333333;
    width: 16px;
    height: 16px;
}

.hosted__cta-text,
.hosted__cta-label {
    font-size: 25px;
    font-weight: bold;
}

.hosted__cta-label {
    display: block;
    color: #ffffff;
    line-height: 30px;
}

.hosted__cta-btn-text {
    border-radius: 1000px;
    position: relative;
    display: inline-block;
    padding: 6px 45px 6px 14px;
    color: #000000;
    font-weight: bold;
    background-color: #ffffff;
}

.hosted__cta-btn-text .inline-icon {
    fill: #000000;
    position: absolute;
    top: 6px;
    right: 16px;
}

.hosted__cta-btn-text .inline-icon svg {
    width: 20px;
    height: 20px;
}

.hosted-page:not(.hosted-page--bright) .hosted__cta-btn-text  {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #333333;
}

.hosted__cta-link {
    display: block;
    width: 100%;
    height: 100%;
    color: transparent;
    outline: none;
}

.hosted__cta-link:active,
.hosted__cta-link:visited {
    text-decoration: none;
}

.hosted__cta-link .hostedbadge {
    z-index: 1010;
}

.hosted__cta-link:active,
.hosted__next-page--tile:active {
    text-decoration: none;
}

.hosted__text {
    line-height: 1.2;
    color: #767676;
    font-size: 14px;
}

.hosted__terms {
    display: inline-block;
    margin-top: 18px;
    font-size: 12px;
    line-height: 1.2;
    color: #767676;
}

.hosted__standfirst {
    width: auto;
    padding: 12px 20px 0;
}

.hosted__meta {
    position: relative;
    width: auto;
    padding: 12px 20px 0;
    bottom: auto;
    left: auto;
    right: auto;
}

.hosted__container--content {
    display: flex;
    flex-direction: column;
}

.hosted__container--content .host__header {
    padding-top: 0;
    padding-bottom: 0;
}

.hosted__social.host__header {
    padding: 12px 20px 0;
    margin-top: 10px;
    order: 2;
}

.hosted__social-wrapper {
    border: 0;
    padding: 10px 0;
    border-top: 1px solid #eeeeee;
    width: 100%;
}

.paidfor-label {
    position: relative;
    cursor: pointer;
    align-items: center;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    border: 0;
    display: flex;
}

.hosted__label-btn.paidfor-label__btn {
    font-size: 16px;
    color: #ffffff;
    background: none;
}

.hosted__label-btn.paidfor-label__btn.popup__toggle {
    border: 0;
    padding: 0;
}

.hosted__label-btn.hosted__label-btn--small {
    font-size: 12px;
}

.paidfor-label .tooltip-label {
    color: #ffffff;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1051;
}

.paidfor-input {
    display: none;
}

.paidfor-input:checked ~ .survey-container {
    display: block;
}

.paidfor-input:not(:checked) ~ .survey-container {
    display: none;
}

.hosted__popup.popup {
    top: 110%;
    left: 299%;
    width: 350px;
    padding: 10px 10px 20px 10px;
    background: #ffffff;
    color: #333333;
    text-align: left;
    border-radius: 0;
}

.hosted__popup.popup:before {
    width: 250px;
    left: 29%;
    border-bottom-color: #ffffff;
}

.hosted__popup-text {
    font-weight: 200;
}

.hosted__next-page--header {
    padding-bottom: 10px;
    margin: 12px 0 10px;
    border-bottom: 1px solid #eeeeee;
}

.hosted__next-page {
    margin: 0 20px 20px;
    position: relative;
}

.hosted__next-page--more-from {
    font-weight: bolder;
    margin: 0;
}

.hosted__next-page--client-name {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}

.hosted__next-page .hosted__next-page--tile {
    display: block;
    color: #333333;
    text-decoration: none;
    position: relative;
    min-height: 56px;
}

.hosted__next-page .hosted__next-page--tile:active {
    color: #333333;
}

.hosted-next-page__wrapper {
    background: #ffffff;
}

.hosted__next-page-thumb {
    height: 54px;
    width: 90px;
    object-fit: cover;
    position: absolute;
    margin-right: 6px;
}

.hosted__next-page-title {
    margin: 0 0 0 90px;
}

.hosted__header {
    font-family: Helvetica, Arial sans-serif;
    width: 100%;
    height: 48px;
    background-color: #333333;
    position: relative;
}

.has-no-flex .hosted__header .hostedbadge {
    position: absolute;
    top: 0;
    margin-top: 30px;
}

.hosted__headerwrap {
    margin: 0 auto;
    text-align: right;
    height: 100%;
    position: relative;
    display: flex;
}

.hostedbadge {
    align-self: flex-end;
    position: relative;
    margin-left: 20px;
    width: 80px;
    z-index: 1015;
}

.hostedbadge:focus {
    text-decoration: none;
}

.hostedbadge--pushdown {
    top: 0;
}

.hostedbadge__info {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 16px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 8px;
    color: #333333;
    margin: 0;
    text-align: center;
}

.hostedbadge .hostedbadge__logo {
    position: absolute;
    display: block;
    width: 100%;
    top: 100%;
    background-color: #ffffff;
}

.hosted-header__spacer {
    flex: 1;
}

.hosted-article-page .media-primary.media-primary--showcase {
    position: relative;
    height: 378px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center center;
    background-image: url(@mainPicture);
}

.hosted-article-page .media-primary.media-primary--showcase:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to top, rgba(51, 51, 51, .4) 0%, rgba(51, 51, 51, .4) 2%, transparent 100%);
}

.hosted__video video {
    width: 100%;
}

.content__article-body {
    margin: 0;
}

.content__article-body .media-primary {
    margin-left: -10px;
}

.u-responsive-ratio img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content .gs-container {
    padding: 0 10px;
}

.hosted-article-page .gs-container {
    height: 100%;
}

.hosted-article-page .title {
    position: absolute;
    margin: auto;
    z-index: 3;
    bottom: 20px;
    color: #ffffff;
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
}

.hosted-article-page .caption {
    position: absolute;
    left: 10px;
    top: 390px;
    right: unset;
    padding: 0;
}

.hosted-article-page figure {
    margin-left: 0;
    margin-right: 0;
}

figcaption {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #767676;
}

.hosted-article-page .content__meta-container {
    margin: 48px 0 12px 0;
}

.hosted-article-page .meta__extras {
    border-top: none;
}

.hosted-article-page .social__item--pinterest {
    display: inline-block;
}

.hosted-article-page .content__article-body p {
    font-size: 18px;
    line-height: 24px;
}

.hosted-article-page .content__article-body p.intro + p::first-letter {
    display: inline-block;
    float: left;
    color: #000000;
    padding: 12px 16px 4px;
    font-size: 480%;
    line-height: 4.25rem;
    width: 4.8125rem;
    height: 4.8125rem;
    margin-right: .5rem;
    margin-top: 4px;
    text-align: center;
}

.hosted-article-page .content__article-body .intro {
    font-size: 20px;
    line-height: 24px;
    font-weight: 100;
}

.hosted-article-page h1 {
    line-height: 28px;
}

.hosted-article-page .hosted__standfirst {
    padding: 0;
}

.hosted-article-page .hosted__terms {
    margin-top: 0;
    padding: 10px 0;
    border-top: 2px solid #eeeeee;
}

.hosted__ab-test-variant-carousel,
.hosted__ab-test-variant-popup {
    display: none;
}

.hosted__next-page {
    margin: 30px 0 20px;
    position: relative;
}

.hosted__next-page--header {
    margin: 0;
}

.hosted__next-page--tile {
    margin: 10px 0;
}

.hosted-article-page .content__secondary-column {
    display: none;
}

.hosted-article-page .from-content-api ul > li:before {
    border-radius: 0;
    width: 8px;
    height: 8px;
    margin: 1px 8px;
}

.hosted-article-page .from-content-api > ul li {
    margin-bottom: 0;
}

.hosted-article-page .gu-image {
    height: auto;
}

.hosted__next-page-header--border {
    width: 100%;
    height: 10px;
    margin-bottom: 4px;
}

.hosted__next-page-title {
    font-size: 14px;
    line-height: 16px;
    padding: 6px;
    min-height: 42px;
}

.hosted__next-page .hosted__next-page--tile {
    border-top: 2px solid #e0e0e0;
    margin-bottom: 10px;
}

.hosted__next-page .hosted__next-page--header {
    border: 0;
    padding: 0;
}

.hosted-gallery-page__main-body {
    position: absolute;
    max-width: 800px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hosted-page.hosted-gallery-page {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3e3e3e;
    display: flex;
}

.hosted__header.hosted-gallery-page {
    position: absolute;
    left: 0;
}


.hosted-gallery-page .hosted__headerwrap {
    width: 100%;
}

.hosted-gallery-page amp-carousel {
    flex: 1;
}

.hosted-gallery__meta {
    color: white;
    padding: 0 20px;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
}

.hosted-gallery__meta-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 20px 50px;
    background: linear-gradient(to top, rgba(51,51,51,0.9) 0%, rgba(51,51,51,0.7) 70%, transparent 100%);
}

@@media (orientation: portrait) {
    .hosted-gallery__meta {
        top: 50%;
        padding-top: 60%;
        transform: translate(0, -50%);
    }

    .hosted-gallery__meta-text {
        padding-bottom: 12px
    }
}

.hosted-gallery__heading {
    margin-bottom: 5px;
    font-size: 26px;
    line-height: 28px;
}

.hosted-gallery__sub-heading {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
}


.hosted-gallery-page .hosted-gallery__caption {
    position: absolute;
    z-index: 1;
    color: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(51,51,51,0.9) 0%, rgba(51,51,51,0.7) 70%, transparent 100%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hosted-gallery__caption-text a {
    color: #ffffff;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.hosted-gallery__caption-text a:not(.social__action)::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #ffffff;
    opacity: .5;
    bottom: 1px;
    left: 0;
    position: absolute;
}

.hosted-gallery__info-button {
    margin: 0 10px 5px 5px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 9px;
    cursor: pointer;
    order: 1;
    height: 16px;
}

.hosted-gallery__info-button .icon-i {
    font-weight: bold;
    display: block;
    height: 15px;
    width: 15px;
    line-height: 16px;
    text-align: center;
}

.hosted-gallery__info-button .inline-cross {
    display: none;
    width: 15px;
    height: 15px;
}

.hosted-gallery__caption-text,
.hosted-gallery__image-title {
    text-align: right;
    flex: 1;
    align-self: center;
    padding: 5px;
}

.hosted-gallery__caption-text {
    padding-top: 20px;
    background: linear-gradient(to top, rgba(51,51,51,0.5) 0%, rgba(51,51,51,0.5) 70%, transparent 100%)
}

.hosted-gallery__caption-text .social {
    text-align: left;
}

.info-button-checkbox,
.hosted-gallery__info-button .inline-cross,
.hosted-gallery__caption-text,
.info-button-checkbox:checked ~ .hosted-gallery__info-button .icon-i,
.info-button-checkbox:checked ~ .hosted-gallery__image-title {
    display:none
}

.info-button-checkbox:checked ~ .hosted-gallery__info-button .inline-cross,
.info-button-checkbox:checked ~ .hosted-gallery__caption-text {
    display: block;
}

.hosted-gallery-page .hosted__cta-btn-text {
    margin-top: 12px;
}
