.block {
    margin-bottom: 0.75rem;
    position: relative;
}

.block:after {
    clear: both;
    content: '';
    display: table;
}

.block.is-key-event, .block.is-summary {
    border-top: 0.0625rem solid #cc2b12;
}

.block--content {
    padding-top: 0.375rem;
    padding-bottom: 0.75rem;
    background-color: #ffffff;
    border-top: 0.0625rem solid #bdbdbd;
    border-bottom: 0.0625rem solid #eaeaea;
}

.block-time {
    line-height: 0.9375rem;
    padding: 0.1875rem 0 0.75rem 0;
    position: relative;
}

.block-time.published-time {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin: 0;
    font-weight: bold;
}

.block-time .block-time__absolute {
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    display: inline-block;
    margin-left: 0.3125rem;
    color: #767676;
    font-weight: normal;
}

.block-time__link {
    color: #333;
}

.timestamp time, .published-time time {
    display: inline-block;
    margin-bottom: 0.375rem;
}

.rounded-icon {
    border-radius: 62.5rem;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.u-h {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 0.0625rem !important;
    margin: -0.0625rem !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 0.0625rem !important;
}

/* Social
 ========================================= */

.block-share--liveblog {
    margin-top: 0.75rem;
    clear: both;
}

.block-share__item {
    display: block;
    float: left;
    cursor: pointer;
    border: 0.0625rem solid #bdbdbd;
    margin-right: 0.3125rem;
    width: 1.5rem;
    height: 1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.block-share__item--facebook {
    border-color: #3067a3;
    color: #3067a3;
}

.block-share__item .inline-icon svg {
    width: 1.4375rem;
    height: 1.4375rem;
}

.block-share__item--facebook .inline-icon {
    fill: #3067a3;
}

.block-share__item--twitter {
    border-color: #03b3ee;
    color: #03b3ee;
}

.block-share__item--twitter .inline-icon {
    fill: #03b3ee;
}

.block-share__item--gplus {
    border-color: #e15440;
    color: #e15440;
}

.block-share__item--gplus .inline-icon {
    fill: #e15440;
}
