<style amp-custom>
    body {
        font-family: Georgia,serif;
        font-size: 100%;
        line-height: 1.5rem;
        color: #333;
        background: rgba(51,51,51,0.05);
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }

    .main-body {
        background: #fff;
        max-width: 600px;
        margin: 0 auto;
    }

    a {
        text-decoration: none;
        cursor: pointer;
        color: #005689;
    }

    p {
        font-size: 1rem;
        line-height: 1.35rem;
        font-weight: 300;
        margin: 12px 0px;
    }

    figcaption {
        margin: 0px;
    }

    .from-content-api h2, .from-content-api .block-elements h2 {
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: 900;
    }

    .meta__contact-header {
        display: none;
    }

    .content__head .gs-container, .content__article-body, .caption, .content__meta-container, .media-primary .caption--main {
        margin: 0 0.625rem;
    }

    @@media (min-width: 30rem) {
    .content__head .gs-container, .content__article-body, .caption, .content__meta-container, .media-primary .caption--main {
        margin: 0 20px;
        }
    }

    .content__section-label, .content__series-label {
        display: inline-block;
    }

    .content__section-label__link {
        color: #005689;
        text-decoration: none;
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 900;
    }

    .content__labels {
        padding: 0.375rem 0;
        border-bottom: 0.0625rem dotted #dfdfdf;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

    .content__headline {
        color: #333;
        font-size: 1.75rem;
        font-weight: 400;
        line-height: 2rem;
        padding-top: 0.125rem;
        padding-bottom: 1.5rem;
        margin: 0;
    }

    .content__standfirst {
        font-size: 1rem;
        line-height: 1.25rem;
        margin-top: 0;
        margin-bottom: 0.375rem;
    }

    .contact {
        height: 1.3125rem;
        display: inline-block;
        vertical-align: top;
        font-size: 0.75rem;
        font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    }

    .inline-twitter-bird {
        margin: 0 -6px 0 -0.3rem;
    }

    .byline {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 600;
        padding-top: 0.25rem;
        margin: 0;
    }

    .caption, .content__standfirst, .byline, .content__dateline, .element-rich-link--not-upgraded a:before, .content__series-label__link, blockquote.quoted {
        color: #767676;
    }

    .quoted__contents {
        font-style: italic;
    }

    .u-cf:after {
        clear: both;
    }

    .u-cf:after, .u-cf:before {
        content: '';
        display: table;
    }

    @* temporarily hiding these for demo *@
    .inline-expand-image, .meta__extras, .submeta, .content__dateline-lm , .block-share, .witness-cta-wrapper {
        display: none;
    }

    .caption {
        padding: 0.5rem 0 1.5rem 0;
    }

    .content__dateline {
        padding: 0.125rem 0 0.5rem;
        margin: 0;
    }

    .caption, .content__dateline {
        font-size: 0.75rem;
        line-height: 1rem;
        font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    }

    .caption, .content__meta-container {
        border-bottom: 0.0625rem dotted #dfdfdf;
    }

    .u-underline {
        text-decoration: none;
        border-bottom: 0.0625rem solid #dcdcdc;
        color: #005689;
    }

    .main-header {
        background: #005689;
        min-height: 45px;
    }

    .logo-wrapper {
        float: right;
        margin: 0.1875rem 0.625rem 0.75rem 0;
    }

    @* Bullet Points related styling below *@
    .bullet {
        font-size: 0.00625rem;
        color: transparent;
    }

    .bullet:before {
        display: inline-block;
        content: '';
        -webkit-border-radius: 0.375rem;
        border-radius: 0.375rem;
        height: 0.75rem;
        width: 0.75rem;
        margin-right: 0.125rem;
        background-color: #bdbdbd;
    }

    @fragments.amp.stylesheets.tones()
    @fragments.amp.stylesheets.embeds()
    @fragments.amp.stylesheets.quotes()
    @fragments.amp.stylesheets.richLinks()
    @fragments.amp.stylesheets.ads()
    @fragments.amp.stylesheets.tables()
</style>
