.fc-container__inner {
    border-top: 0.0625rem solid #4bc6df;
    padding-top: 0.1875rem;
    overflow: hidden;
    position: relative;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

.fc-container__header__title {
    position: relative;
    padding-bottom: 1rem;
    font-size: 1.375rem;
    line-height: 1.75rem;
    font-weight: 900;
    line-height: 1.5rem;
    color: #00456e;
}

.fc-item {
    background-color: #f6f6f6;
    border-top: 0.0625rem solid #4bc6df;
    padding-left: 8.166666875rem;
    position: relative;
    min-height: 84px;
    margin-bottom: 10px;
}

.fc-item__image-container {
    position: absolute;
    margin-left: -7.916666875rem;
    width: 7.916666875rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.fc-item__content {
    display: inline-block;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    position: relative;
}

.fc-item__title {
    padding: 0;
    margin: 0;
    font: inherit;
    word-wrap: break-word;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #333333;
}
