.element-rich-link--not-upgraded {
    float: left;
    width: 50%;
    max-width: 13.75rem;
    margin: 0.25rem 1.25rem 0.375rem 0;
    border-top: 0.0625rem dotted #bdbdbd;
    border-bottom: 0.0625rem dotted #bdbdbd;
}

.element-rich-link--not-upgraded span {
    display: none;
}

.element-rich-link--not-upgraded p {
    margin: 0;
}

.element-rich-link--not-upgraded a {
    display: block;
    padding: 0;
    color: #333;
    border: 0;
    padding-bottom: 1.125rem;
}

.element-rich-link--not-upgraded a:before {
    content: 'More on this topic';
    display: block;
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 0.1875rem 0;
}
