.element-rich-link--not-upgraded {
    float: left;
    width: 292px;
    margin: 0.25rem 0.625rem 0.75rem 0;
    padding: 4px;
    background-color: #f6f6f6;
    border-top: 1px solid #bdbdbd;
    margin-right: 1.25rem;
    font-size: 1.25rem;
}

.element-rich-link--not-upgraded p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

@@media (max-width: 550px) {
    .element-rich-link--not-upgraded {
    width: 8.125rem;
    font-size: 0.875rem;
    }
    .element-rich-link--not-upgraded p {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
}

.element-rich-link--not-upgraded span {
    display: none;
}

.element-rich-link--not-upgraded a {
    display: block;
    padding: 0;
    color: #333;
    border: 0;
    padding-bottom: 1.125rem;
}

.element-rich-link--not-upgraded a:before {
    content: 'More on this topic';
    display: block;
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
