@* Section Tones *@
.tonal__standfirst {
    padding-top: 0.375rem;
}

.tonal__standfirst p {
    line-height: 1.3rem;
    margin-top: 0;
}

.tonal--tone-comment .content__standfirst,
.tonal--tone-feature .content__standfirst,
.tonal--tone-review .content__standfirst,
.tonal--tone-editorial .content__standfirst,
.tonal--tone-analysis .content__standfirst,
.tonal--tone-live .content__standfirst,
.tonal--tone-media .content__standfirst,
.tonal--tone-special-report .content__standfirst {
    margin-bottom: 1.5rem;
    color: #fff;
}

.tonal--tone-comment .tonal__standfirst,
.tonal--tone-letters .tonal__standfirst {
    background-color: #e6711b;
}

.tonal--tone-feature .tonal__header {
    background-color: #951c55;
}

.tonal--tone-feature .tonal__standfirst {
    background-color: #b82266;
}

.tonal--tone-dead .tonal__standfirst {
    color: #484848;
    background-color: #eaeaea;
}

.tonal__head--tone-review .tonal__header {
    background-color: #615b52;
}

.tonal--tone-review .tonal__standfirst {
    background-color: #7d7569;
}

.tonal--tone-editorial .tonal__standfirst {
    background-color: #005689;
}

.tonal--tone-analysis .tonal__standfirst {
    background-color: #f6f6f6;
}

.tonal--tone-analysis .tonal__header {
    background-color: #f1f1f1;
}

.tonal--tone-analysis .content__standfirst {
    color: #767676;
}

.tonal--tone-live .tonal__standfirst {
    background-color: #cc2b12;
}

.tonal--tone-special-report .tonal__standfirst {
    background-color: #6e7e88;
}

.tonal--tone-live .tonal__header {
    background-color: #b51800;
}

.tonal--tone-media .tonal__standfirst {
    background-color: #ffbb00;
}

.tonal--tone-special-report .tonal__header {
    background-color: #63717a;
}

.tonal--tone-news .tone-colour, .tonal--tone-analysis .tonal__header .content__headline {
    color: #005689;
}

.tonal--tone-news .tonal__standfirst {
    padding-top: 0;
}

.tonal--tone-comment .tonal__header,
.tonal--tone-editorial .tonal__header,
.tonal--tone-letters .tonal__header {
    background-color: #efefec;
}

.tonal--tone-comment .tonal__header .content__labels,
.tonal--tone-analysis .tonal__header .content__labels,
.tonal--tone-editorial .tonal__header .content__labels,
.tonal--tone-letters .tonal__header .content__labels {
    border-bottom-color: rgba(118,118,118,0.3);
}

.content__headline--byline {
    display: block;
    padding-top: 0;
    margin-top: -1.5rem;
    padding-bottom: 1.5rem;
}

.tonal--tone-comment .tonal__header .content__section-label__link,
.tonal--tone-comment .tone-colour,
.tonal--tone-letters .tonal__header .content__section-label__link,
.tonal--tone-comment .tonal__main .element-pullquote cite,
.tonal--tone-letters .tonal__main .element-pullquote cite {
    color: #e6711b;
}

.tonal--tone-feature .tone-colour, 
.tonal--tone-feature .tonal__main .element-pullquote cite {
    color: #951c55;
}

.tonal--tone-review .tonal__main .element-pullquote cite {
    color: #615b52;
}

.tonal--tone-special-report .tonal__header .content__section-label__link {
    color: #aad8f1;
}

.tonal--tone-feature .tonal__header .content__labels,
.tonal--tone-review .tonal__header .content__labels,
.tonal--tone-live .tonal__header .content__labels {
    border-bottom-color: rgba(234,234,234,0.3);
}

.tonal--tone-feature .tonal__header .content__section-label__link {
    color: #fdadba;
}

.tonal--tone-feature .tonal__standfirst ul>li:before,
.tonal--tone-feature .tonal__standfirst .bullet:before,
.tonal--tone-comment .tonal__standfirst ul>li:before,
.tonal--tone-comment .tonal__standfirst .bullet:before,
.tonal--tone-review .tonal__standfirst ul>li:before,
.tonal--tone-review .tonal__standfirst .bullet:before,
.tonal--tone-editorial .tonal__standfirst ul>li:before,
.tonal--tone-editorial .tonal__standfirst .bullet:before,
.tonal--tone-live .tonal__standfirst ul>li:before,
.tonal--tone-live .tonal__standfirst .bullet:before,
.tonal--tone-special-report .tonal__standfirst ul>li:before,
.tonal--tone-special-report .tonal__standfirst .bullet:before,
.tonal--tone-letters .tonal__standfirst ul>li:before,
.tonal--tone-letters .tonal__standfirst .bullet:before {
    background-color: rgba(255,255,255,0.4);
}

.tonal--tone-review .tone-colour {
    color: #7d7569;
}

.tonal--tone-review .tonal__header .content__section-label__link {
    color: #ffce4b;
}

.u-h {
    display: none;
}

.tonal--tone-review .stars {
    margin-top: -1.125rem;
    margin-bottom: 1.125rem;
}

.tonal--tone-review .stars .star__item--golden {
    fill: #ffce4b;
}

.tonal--tone-review .stars .star__item--grey {
    fill: #000000;
    opacity: .15;
}

.tonal--tone-review .tonal__header .content__headline,
.tonal--tone-feature .tonal__header .content__headline,
.tonal--tone-live .tonal__header .content__headline,
.tonal--tone-special-report .tonal__header .content__headline,
.tonal--tone-special-report .tonal__header .content__series-label__link,
.tonal--tone-live .tonal__header .content__section-label__link,
.tonal--tone-letters .tonal__standfirst,
.tonal--tone-letters .tonal__standfirst .content__standfirst {
    color: #fff;
}

.tonal--tone-review .tonal__header .content__series-label__link,
.tonal--tone-feature .tonal__header .content__series-label__link,
.tonal--tone-live .tonal__header .content__series-label__link {
    color: #eaeaea;
}

.tonal--tone-editorial .tonal__header .content__section-label__link,
.tonal--tone-editorial .tone-colour,
.tonal--tone-editorial .tonal__main .element-pullquote cite {
    color: #005689;
}

.tonal--tone-analysis .tonal__main .element-pullquote cite {
color: #21a2bc;
}

.tonal--tone-analysis .tone-colour {
    color: #4bc6df;
}

.tonal--tone-dead .tonal__header .content__section-label__link,
.tonal--tone-live .tone-colour,
.tonal--tone-dead .tone-colour {
    color: #b51800;
}

.tonal--tone-dead .tonal__standfirst .u-underline {
    color: #b51800; 
    border-bottom-color: rgba(72,72,72,0.3);
}

.tonal--tone-media .tonal__header .content__section-label__link,
.tonal--tone-media .tone-colour {
    color: #ffbb00;
}

.tonal--tone-special-report .tone-colour,
.tonal--tone-special-report .tonal__main .element-pullquote cite {
    color: #63717a;
}

.inline-tone-fill {
    /* news-default */
    fill: #005689;
}

.tonal--tone-comment .inline-tone-fill,
.tonal--tone-letters .inline-tone-fill {
    fill: #e6711b;
}

.tonal--tone-feature .inline-tone-fill {
    /* feature-default */
    fill: #951c55;
}

.tonal--tone-review .inline-tone-fill {
    /* review-background */
    fill: #7d7569;
}

.tonal--tone-editorial .inline-tone-fill {
    /* editorial-default */
    fill: #005689;
}

.tonal--tone-analysis .inline-tone-fill {
    /* analysis-accent */
    fill: #4bc6df;
}

.tonal--tone-live .inline-tone-fill,
.tonal--tone-dead .inline-tone-fill {
    /* live-default */
    fill: #b51800;
}

.tonal--tone-media .inline-tone-fill {
    /* media-default */
    fill: #ffbb00;
}

.tonal--tone-special-report .inline-tone-fill {
    /* news-support-6 */
    fill: #63717a;
}

.tonal--tone-comment .tonal__standfirst .u-underline,
.tonal--tone-feature .tonal__standfirst .u-underline,
.tonal--tone-review .tonal__standfirst .u-underline,
.tonal--tone-editorial .tonal__standfirst .u-underline,
.tonal--tone-live .tonal__standfirst .u-underline,
.tonal--tone-media .tonal__standfirst .u-underline,
.tonal--tone-special-report .tonal__standfirst .u-underline,
.tonal--tone-special-report .tonal__header .content__labels,
.tonal--tone-letters .tonal__standfirst .u-underline {
    color: #fff;
    border-bottom-color: rgba(255,255,255,0.3);
}

