<div class="js-live-notifications__container">
    <button class="button button--large button--tertiary js-notifications__button notifications__button notifications-follow-input--solo notifications__button--<%= subscribed ? 'subscribed' : 'unsubscribed' %>">
        <%= icon %>
        <span class="notifications__label notifications__label--unsubscribed">Get alerts for this story</span>
        <span class="notifications__label notifications__label--subscribed">Alerts on this story</span>
    </button>
</div>


