<div class="js-notifications-permission-denied notifications-permission-denied">
    <div class="notifications-explainer-permissions-denied__content">
        <div class="notifications-explainer-permissions-denied__header">If you change your mind, click the lock to control your notifications</div>
        <div class="notifications-permission-denied__item-options">
            <button class="js-notifications-permission-denied_item__close button button--tertiary u-faux-block-link__promote"
                    aria-label="Dismiss"
                    data-link-name="close button"><%=closeIcon%></button>
        </div>
    </div>
</div>
