<div class="selection-sharing">
    <ul class="social u-unstyled u-cf" data-component="social-selection">
        <li class="social__item" data-link-name="edit">
            <a  class="rounded-icon social-icon social-icon--edit js-selection-edit"
                data-link-name="social-selection"
                target="_blank"
                href="#">
                <span class="u-h">Edit</span>
                <%= editIcon %>
            </a>
        </li>
        <li class="social__item" data-link-name="wrong">
            <a  class="rounded-icon social-icon social-icon--wrong js-selection-wrong"
                data-link-name="social-selection"
                target="_blank"
                href="#">
                <span class="u-h">This is wrong!</span>
                <%= wrongIcon %>
            </a>
        </li>
        <li class="social__item" data-link-name="">
            <a  class="rounded-icon social-icon social-icon--comment js-selection-comment"
                data-link-name="social-selection"
                target="_blank"
                href="#">
                <span class="u-h">Comment</span>
                <%= commentIcon %>
            </a>
        </li>
        <li class="social__item" data-link-name="explore">
            <a  class="rounded-icon social-icon social-icon--explore js-selection-explore"
                data-link-name="social-selection"
                target="_blank"
                href="#">
                <span class="u-h">Explore</span>
                <%= exploreIcon %>
            </a>
        </li>
    </ul>
</div>
