.brand-bar {
    background-color: $guardian-brand;
    line-height: 0;
    box-sizing: border-box;
    padding-left: $gs-gutter / 2;
    padding-right: $gs-gutter / 2;
}

// Items

// We alter the brand bar items and popups based on two contexts: the edition
// and whether the header is in slim mode. Beware of increased specifcity (due
// to context matching).

.brand-bar__item {
    @include fs-textSans(3);
    user-select: none;
    float: left;
    color: $c-guardian-services-action;
    height: $headerHeight;
    padding-top: $gs-baseline/2;
    padding-bottom: $gs-baseline/2;

    &,
    // Override breakpoint
    .l-header--is-slim & {
        margin-right: $gs-baseline * .25;
        margin-left: $gs-baseline * .25;
    }

    @include mq(tablet) {
        margin-right: $gs-gutter / 2;
        margin-left: $gs-gutter / 2;
    }
}

.brand-bar__item .brand-bar__item--split--first {
    margin-left: $gs-gutter/4;
    height: 36px; //36px = svg button size
}

.brand-bar__item--split--first::after {
    content: '\200B'; //zero width space
    border-right: 1px solid rgba(255, 255, 255, .2);
    left: $gs-gutter/2;
    position: relative;
    height:  $gs-baseline * 2;
    bottom: -(36px - ($gs-baseline *2))/2; //36px = svg button size
    display: block;
}

.brand-bar__item--split--last {
    padding-left: $gs-gutter / 2;
    height: 36px;
}

.brand-bar__item--action {
    &:active,
    &:focus,
    &.is-active {
        .control__icon-wrapper {
            border-color: #ffffff;
        }
    }

    &:hover {
        // stops controls icons staying highlighted
        // after closing a popup on mobile
        .control__icon-wrapper {
            border-color: #ffffff;
        }
        .control__icon-wrapper--text {
            border-color: rgba(#ffffff, .3);
        }
    }
}

.brand-bar__item--action,
.brand-bar__item--action:focus {
    cursor: pointer;
    color: $c-guardian-services-action;
    display: inline-block;
    // For badges
    vertical-align: middle;
    text-decoration: none;
    line-height: $headerHeight;
}

.brand-bar__item--action {
    &:focus,
    &:active {
        &,
        .control__info {
            text-decoration: underline;
        }
    }

    &:hover {
        &,
        .control__info {
            // stops links staying underlined
            // after closing a popup on mobile
            text-decoration: underline;
        }
    }
}

.brand-bar__item--right {
    box-sizing: border-box;
    float: right;

    .l-header--is-slim & {
        // Unset override
        float: left;
    }
}

.brand-bar__item--search {
    padding-left: 0;

    .popup__toggle:after {
        display: none;
    }
}

.brand-bar__item--edition {
    cursor: pointer;
}

.brand-bar__item--subscribe {
    .control__icon-wrapper {
        border: 0;
    }
}

// Popups

.is-not-modern .brand-bar__item--has-control,
.is-not-modern .is-signed-in.brand-bar__item--profile {
    &:hover,
    &:focus {
        .popup {
            display: block;
        }
    }
}

.brand-bar__item__badge {
    background-color: rgba($news-accent, .4);
    color: #ffffff;
    margin-left: -4px;
    float: left;
    z-index: -1;
    display: inline-block;

    // Unset breakpoint
    .l-header--is-slim & {
        display: none;
    }
}
