.brand-bar {
    background-color: colour(guardian-brand);
    line-height: 0;
    box-sizing: border-box;
    padding-left: $gs-gutter * .25;
    padding-right: $gs-gutter * .25;

    @include mq(mobileLandscape) {
        padding-left: $gs-gutter / 2;
        padding-right: $gs-gutter / 2;
    }
}

// Items

// We alter the brand bar items and popups based on two contexts: the edition
// and whether the header is in slim mode. Beware of increased specifcity (due
// to context matching).

.brand-bar__item {
    user-select: none;
    @include fs-bodyHeading(1);
    float: left;
    color: $c-guardian-services-action;
    height: $headerHeight;
    padding-top: $gs-baseline /3;
    padding-bottom: $gs-baseline /3;

    &,
    // Override breakpoint
    .l-header--is-slim & {
        margin-right: $gs-baseline * .25;
        margin-left: $gs-baseline * .25;
    }

    @include mq(mobileLandscape) {
        padding-top: $gs-baseline/2;
        padding-bottom: $gs-baseline/2;
    }

    @include mq(tablet) {
        margin-right: $gs-gutter / 2;
        margin-left: $gs-gutter / 2;
    }
}

.brand-bar__item--action {
    &:active,
    &:focus,
    &.is-active {
        .control__icon-wrapper {
            border-color: #ffffff;
        }
    }

    &:hover {
        // stops controls icons staying highlighted
        // after closing a popup on mobile
        @include mq(tablet) {
            .control__icon-wrapper {
                border-color: #ffffff;
            }
            .control__icon-wrapper--text {
                border-color: rgba(#ffffff, .3);
            }
        }
    }
}

.brand-bar__item--action,
.brand-bar__item--action:focus {
    margin: 0;
    cursor: pointer;
    color: $c-guardian-services-action;
    display: inline-block;
    // For badges
    vertical-align: middle;
    text-decoration: none;
    line-height: $headerHeight;
}

.brand-bar__item--action {
    &:focus,
    &:active {
        &,
        .control__info {
            text-decoration: underline;
        }
    }

    &:hover {
        &,
        .control__info {
            // stops links staying underlined
            // after closing a popup on mobile
            @include mq(tablet) {
                text-decoration: underline;
            }
        }
    }
}

.brand-bar__item--right {
    box-sizing: border-box;
    float: left;

    @include mq(tablet) {
        float: right;

        .l-header--is-slim & {
            // Unset override
            float: left;
        }
    }
}

// Context overrides: hide brand bar items: slim header, edition, and various
// breakpoints

.brand-bar__item--search {
    padding-left: 0;

    .popup__toggle:after {
        display: none;
    }
}

.brand-bar__item--subscribe {
    // Desktop only
    @include mq($until: desktop) {
        display: none;
    }

    .l-header--is-slim & {
        display: none;
    }
}

.brand-bar__item--edition {
    .l-header--is-slim & {
        display: none;
    }
}

.brand-bar__item--jobs {
    .brand-bar__item--right--uk-edition &,
    .brand-bar__item--right--us-edition & {
        .l-header--is-slim & {
            display: none;
        }
    }
}

.brand-bar__item--soulmates {
    // Desktop only
    @include mq($until: desktop) {
        display: none;
    }

    .brand-bar__item--right--uk-edition & {
        .l-header--is-slim & {
            display: none;
        }
    }
}

.brand-bar__item--edition {
    cursor: pointer;
}

.brand-bar__item--subscribe {
    .control__icon-wrapper {
        border: 0;
    }
}

.brand-bar__item--jobs,
.brand-bar__item--edition {
    // Hide on mobile
    @include mq($until: tablet) {
        display: none;
    }
}

.brand-bar__item--masterclasses {
    .brand-bar__item--right--au-edition & {
        // Hide on mobile
        @include mq($until: tablet) {
            display: none;
        }

        .l-header--is-slim & {
            display: none;
        }
    }
}

.brand-bar__item--more {
    .brand-bar__item--right--us-edition &,
    .brand-bar__item--right--au-edition & {
        // Mobile only
        @include mq(tablet) {
            display: none;

            .l-header--is-slim & {
                display: block;
            }
        }
    }
}

// Popups

// Mobile only
.brand-bar__popup--jobs {
    .brand-bar__item--right--uk-edition &,
    .brand-bar__item--right--us-edition & {
        @include mq(tablet) {
            display: none;

            .l-header--is-slim & {
                display: block;
            }
        }
    }
}

.is-not-modern .brand-bar__item--has-control,
.is-not-modern .is-signed-in.brand-bar__item--profile {
    &:hover,
    &:focus {
        .popup {
            display: block;
        }
    }
}

.brand-bar__popup--edition {
    .brand-bar__item--right--uk-edition & {
        // Mobile only
        @include mq(tablet) {
            display: none;

            .l-header--is-slim & {
                display: block;
            }
        }
    }
}

.brand-bar__popup--soulmates {
    .brand-bar__item--right--uk-edition & {
        // Hide on desktop
        @include mq(desktop) {
            display: none;

            .l-header--is-slim & {
                display: block;
            }
        }
    }
}

.brand-bar__popup--membership {
    .brand-bar__item--right--uk-edition & {
        // Hide on desktop
        @include mq(desktop) {
            display: none;

            .l-header--is-slim & {
                display: block;
            }
        }
    }
}

.brand-bar__item--register {
    @include mq($until: mobileLandscape) {
        display: none;
    }
}

.brand-bar__item__badge {
    background-color: rgba(colour(news-accent), .4);
    color: #ffffff;
    margin-left: -4px;
    display: none;
    float: left;
    z-index: -1;

    @include mq(tablet) {
        display: inline-block;

        // Unset breakpoint
        .l-header--is-slim & {
            display: none;
        }
    }
}
