/* ==========================================================================
   Navigation controls
   ========================================================================== */
// TODO:
// use a proper icon size variabe when the icons are redrawn at mulptile sizes
$control-size: 36px;


/* Label next to the icon
   ========================================================================== */

.control__info {
    display: none;
    height: 30px;
    line-height: $control-size;
    margin-left: $gs-gutter/2;
    max-width: 140px;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    text-overflow: ellipsis;
    text-align: left;

    @include mq($from: 540px) {
        max-width: 200px;
    }

    .brand-bar__item--right & {
        @include mq(tablet) {
            margin: 0;
        }
    }

    // TODO: @extend .hide-on-mobile;
    @include mq(tablet) {
        display: block;
    }

    .is-interactive & {
        display: none;
    }

    .brand-bar__item--profile & {
        @include mq(mobileLandscape) {
            display: block;
        }
    }
}


/* Control icon
   ========================================================================== */

.control__icon-wrapper {
    @extend %icon-holder-circle;
    border: 1px solid rgba(#ffffff, .3);
    float: left;
    height: 34px;
    width: 34px;
    text-align: center;
    line-height: 3; // 3 x 14px = 42px

    .brand-bar__item--right & {
        @include mq(tablet) {
            display: none;
        }

        .is-interactive & {
            // Fallback
            // TODO: Mixin
            display: initial;
            display: unset;
        }
    }
}
