.history-nav {
    @include gs-container;
    background: #FFFFFF;
    margin: 8px auto;

    @include mq(wide) {
        .has-page-skin & {
            width: gs-span(12) + ($gs-gutter*2);
        }
    }
}
