@(page: CricketMatchPage)(implicit request: RequestHeader)

@main(page, "football"){ } {
    <div class="l-side-margins">
        <article id="article" class="content content--article  tonal tonal--tone-news" itemprop="mainContentOfPage" role="main">
            <div class="content__main tonal__main tonal__main--tone-news">
                <div class="gs-container">
                    <div class="content__main-column">
                        <h1 class="hide-on-mobile-if-localnav content__inline-section page-heading--football">
                            <a href="@LinkTo{/sport/cricket}">Cricket</a>
                        </h1>
                        @cricket.views.html.fragments.cricketMatchBody(page)
                    </div>
                </div>
            </div>
        </article>
    </div>
}
