<div class="meta__save-for-later" data-link-name="meta-save-for-later" data-component="meta-save-for-later">
    <a class="button button--medium button--tertiary save-for-later__button js-save-for-later-button save-for-later--{{state}}">
        {{icon}}
        <span class="save-for-later__label save-for-later__label--save">Save for later</span>
        <span class="save-for-later__label save-for-later__label--saved">Article saved</span>
        <span class="save-for-later__label save-for-later__label--remove">Remove?</span>
    </a>
</div>
