.tone-media--item {
    @extend %tone-has-background;

    &.fc-item {
        background-color: $c-neutral1;
        color: #ffffff;
    }

    .fc-item__content,
    &.fc-item--has-cutout .fc-item__container,
    &.fc-item--list-media-mobile {
        @include box-shadow(inset 0 1px $c-mediaDefault);
    }

    .fc-item__kicker,
    .fc-item__byline {
        color: $c-mediaDefault;
    }

    .fc-item__kicker:after {
        color: fade-out(#ffffff, .8);
    }

    .fc-item__standfirst,
    .fc-item__meta {
        color: $c-neutral3;
    }
}

.tone-media--sublink {
    .fc-sublink__kicker {
        color: $c-mediaDefault;
    }
}
