.tone-analysis--item {
    &.fc-item {
        background-color: $c-analysisBackground;
        color: $c-analysisDefault;
    }

    .fc-item__container:before {
        background-color: $c-analysisAccent;
    }

    .fc-item__kicker,
    .fc-item__byline {
        color: $c-analysisAccent;
    }

    .fc-item__meta {
        color: $c-neutral2;
    }
}

.tone-analysis--sublink {
    .fc-sublink__kicker {
        color: $c-analysisAccent;
    }
}
