.tone-analysis {
    @extend %tone-has-background;

    &.fc-item {
       background-color: $c-analysisBackground;

        &,
        & a {
            color: $c-newsDefault;
        }
    }


    .fc-item__content {
        @include box-shadow(inset 0 1px $c-analysisAccent);
    }

    .fc-item__kicker,
    .fc-item__byline {
        &,
        & a {
            color: $c-analysisAccent;
        }
    }
}
