@(page: model.Page)(body: Html)(implicit request: RequestHeader, context: model.ApplicationContext)

@import conf.switches.Switches._
@import common.InlineJs
@import templates.inlineJS.blocking.js._
@import templates.inlineJS.nonBlocking.js.emailIframeTracking
@import play.api.Mode.Dev
@import conf.Static
@import views.support.RenderClasses

<!doctype html>
<html>
<head>
    @if(FontSwitch.isSwitchedOn) {
        @fragments.fontFaces()
    }

    @if(context.environment.mode == Dev || !InlineCriticalCss.isSwitchedOn) {
        <link rel="stylesheet" type="text/css" href="@Static("stylesheets/head.email-signup.css")" />
    } else {
        <style class="js-loggable">
        @Html(common.Assets.css.head(Some("email-signup")))
        </style>
    }

    <script>
        @Html(config(page).body)
        @InlineJs(emailIframeTracking().body, "emailIframeTracking.js")
    </script>

</head>
    <body>
        @body
    </body>
    <script src="https://interactive.guim.co.uk/libs/iframe-messenger/iframeMessenger.js"></script>
    <script>
        iframeMessenger.enableAutoResize();
    </script>
    @if(EmailSignupRecaptcha.isSwitchedOn) {
        <script>
            const submitButton = document.querySelector('.email-sub__submit-button')

            const resizeToOriginalHeight = (() => {
                const originalHeight = document.body.clientHeight
                return () => iframeMessenger.resize(`${originalHeight}px`)
            })()

            function resizeToFitCaptcha() {
                iframeMessenger.resize('500px')
            }

            function setupSubmitListener() {
                submitButton.addEventListener('click', (e) => onSubmit(e))
            }

            function onSubmit(e) {
                e.preventDefault()
                resizeToFitCaptcha()
                grecaptcha.execute()
            }

            function onRecaptchaScriptLoaded() {
                submitButton.removeAttribute('disabled')
                setupSubmitListener()
                grecaptcha.render('grecaptcha_container', {
                    sitekey: window.guardian.config.page.googleRecaptchaSiteKey,
                    callback: onCaptchaCompleted,
                    'error-callback': onCaptchaError,
                    'expired-callback': onCaptchaExpired,
                    size: 'invisible'
                })
            }

            function onCaptchaCompleted(token) {
                resizeToOriginalHeight()
                document.querySelector('.email-sub__form').submit()
            }

            function onCaptchaError() {
                resizeToOriginalHeight()
            }

            function onCaptchaExpired() {
                resizeToOriginalHeight()
            }
        </script>
        <script src="https://www.google.com/recaptcha/api.js?onload=onRecaptchaScriptLoaded&render=explicit"
        async defer></script>
    }
</html>
