@import model.{InvalidEmail, OtherError, NonsuccessResult}

@(page: model.Page, result: NonsuccessResult)(implicit request: RequestHeader, context: model.ApplicationContext)

@emailEmbed(page){
    <div class="email-sub email-sub--article">
        <div class="email-sub__message">
        @result match {
            case InvalidEmail => {
                @fragments.inlineSvg("cross", "icon")
                <h2 class="email-sub__message__headline">Invalid email address</h2>
                <p class="email-sub__message__description">Sorry, we couldn't verify that email address. Please try again or <a target="_blank" href="https://www.theguardian.com/info/tech-feedback">contact user help</a>.</p>
            }

            case OtherError => {
                @fragments.inlineSvg("cross", "icon")
                <h2 class="email-sub__message__headline">Subscription error</h2>
                <p class="email-sub__message__description">Sorry, there was a problem with your subscription request. Please try again or <a target="_blank" href="https://www.theguardian.com/info/tech-feedback">contact user help</a>.</p>
            }
        }
        </div>
    </div>
}
