@(page: model.Page)(body: Html)(implicit request: RequestHeader, context: model.ApplicationContext)

@import conf.switches.Switches._
@import common.InlineJs
@import templates.inlineJS.blocking.js._
@import templates.inlineJS.nonBlocking.js.emailIframeTracking
@import templates.inlineJS.nonBlocking.js.signUpIframeCaptcha
@import play.api.Mode.Dev
@import conf.Static
@import views.support.RenderClasses
@import conf.switches.Switches.ShowNewPrivacyWordingOnEmailSignupEmbeds

<!doctype html>
<html>
<head>
    @if(FontSwitch.isSwitchedOn) {
        @fragments.fontFaces()
    }

    @if(context.environment.mode == Dev || !InlineCriticalCss.isSwitchedOn) {
        <link rel="stylesheet" type="text/css" href="@Static("stylesheets/head.email-signup.css")" />
    } else {
        <style class="js-loggable">
        @Html(common.Assets.css.head(Some("email-signup")))
        </style>
    }

    <script>
        @Html(config(page).body)
        @InlineJs(emailIframeTracking().body, "emailIframeTracking.js")
    </script>

</head>
    <body>
        @body
    </body>
    <script src="https://interactive.guim.co.uk/libs/iframe-messenger/iframeMessenger.js"></script>
    @if(ShowNewPrivacyWordingOnEmailSignupEmbeds.isSwitchedOn) {
        <script>
            document.querySelector('.email-sub__text-input')
                .addEventListener('focusin', () => {
                    document.querySelector('.newsletters-terms').setAttribute('data-privacy-visible', "true")
                    iframeMessenger?.resize()
                });
        </script>
    }
    @if(EmailSignupRecaptcha.isSwitchedOn) {
        <script>
            @InlineJs(emailIframeTracking().body, "emailIframeTracking.js")
            @InlineJs(signUpIframeCaptcha().body, "signUpIframeCaptcha.js")
        </script>
    }
</html>
