@(page: model.Page)(implicit request: RequestHeader)

@main(page){ }{
<div class="l-side-margins">
    <div class="content content--expired">
        <header class="content__head">
            <div class="gs-container">
                <div class="content__main-column">
                    <h1 itemprop="headline" class="content__headline">Sorry - this page has been removed.</h1>
                </div>
            </div>
        </header>
        <div class="content__main">
            <div class="gs-container">
                <div class="content__main-column content__main-column--expired">
                    <div class="js-article__container u-cf">
                        <div class="from-content-api" itemprop="articleBody">
                            <div class="from-content-api">
                                <p>This could be because it launched early, our rights have expired, there was a legal issue, or for another reason.<p>
                                <p>For further information, please contact:</p>
                                <ul>
                                    <li>The Readers&apos; editor: <a  href="mailto:guardian.readers@@theguardian.com">guardian.readers@@theguardian.com</a> </li>
                                    <li>Userhelp: <a  href="mailto:userhelp@@theguardian.com">userhelp@@theguardian.com</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="facia-container facia-container--layout-content">
        @fragments.mostPopularPlaceholder("/")
    </div>
</div>
}
