@(page: model.Page)(body: Html)(implicit request: RequestHeader)

@import common.{LinkTo, CanonicalLink}

<!doctype html>
<html>
    <head>
        <meta name="robots" content="noindex">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <link rel="canonical" href="@LinkTo(page.metadata.canonicalUrl.map(LinkTo(_)).getOrElse(CanonicalLink(request, page.metadata.webUrl)))" />
        <title>@views.support.Title(page)</title>

        @fragments.email.stylesheets.main()
    </head>

    <body>
        <table class="outer" width="600px" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td>
                        @body
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
