@(page: model.Page, related: model.RelatedContent, content: model.Content)(body: Html)(implicit request: RequestHeader, context: model.ApplicationContext)

@import common.{CanonicalLink, LinkTo}
@import conf.Configuration
@import views.support.FBPixel

<!doctype html>
<html AMP>

    @fragments.amp.headAmp(page, content)

    <body class="guardian-egyptian-loading">
        @*
        Baseline pageview confidence pixel.
        This, along with the corresponding pixels for GA/Ophan,
        are used to generate the confidence graphs on the frontend dashboard.
        *@
        <amp-pixel src="@{Configuration.debug.beaconUrl}/count/pv.gif"></amp-pixel>

        <amp-pixel src="//www.facebook.com/tr?id=@FBPixel.account&ev=PageView&noscript=1"></amp-pixel>
        <amp-analytics config="https://ophan.theguardian.com/amp.json"></amp-analytics>

        @fragments.amp.googleAnalytics(content)

        <amp-analytics id="comscore" type="comscore">
          <script type="application/json">{ "vars": { "c2": "6035250" } }</script>
        </amp-analytics>

        @fragments.amp.header()

        <div class="main-body">

            @body

            <div class="gs-container">

                @if(content.trail.isCommentable) {
                    <div class="submeta">
                        <a href="@LinkTo(page.metadata.canonicalUrl.map(LinkTo(_)).getOrElse(CanonicalLink(request, page.metadata.webUrl)))#comments" class="cta cta--medium cta--comments">
                            @fragments.inlineSvg("comment-16", "icon") View comments
                        </a>
                } else {
                    <div class="submeta no-comments">
                }
                        <a href="@LinkTo(page.metadata.canonicalUrl.map(LinkTo(_)).getOrElse(CanonicalLink(request, page.metadata.webUrl)))" class="cta cta--medium main-site-link">
                            View on theguardian.com
                        </a>
                    </div>

                @if(content.metadata.sectionId != "childrens-books-site") {
                    @if(related.hasStoryPackage) {
                        @fragments.amp.storyPackageAmp(related)
                    }
                    @if(content.tags.series.nonEmpty) {
                        @content.tags.series.map { tag =>
                            @fragments.amp.onwardTemplateAmp("series-mf2/" + tag.id + ".json")
                        }
                    }
                    @if(content.showInRelated
                        && !related.hasStoryPackage
                        && content.tags.series.isEmpty) {
                        @fragments.amp.onwardTemplateAmp("related-mf2/" + page.metadata.id + ".json")
                    }

                    @if(!content.shouldHideAdverts) {
                        @fragments.amp.outbrain(page)
                    }

                    @* Show top container for section front only if current page belongs to one of the following sections *@
                    @* Otherwise show top container for network front *@
                    @* TODO: This list also exists in the JS for fronts on articles a/b test. Pending a decision on that, this should go in the jsconfig, or be removed*@

                    @defining({
                        val whitelistedSections = List("commentisfree", "sport", "football", "fashion", "lifeandstyle",
                                        "education", "culture", "business", "technology", "politics", "environment", "travel",
                                        "film", "media", "money", "society", "science", "music", "books", "stage", "cities",
                                        "tv-and-radio", "artanddesign", "global-development")
                        whitelistedSections.contains(page.metadata.sectionId)
                    }) { isWhitelistedSection =>
                        @if(isWhitelistedSection) {
                            @fragments.amp.onwardTemplateAmp(s"container/count/1/offset/0/section/${page.metadata.sectionId}/mf2.json")
                        } else {
                            @fragments.amp.onwardTemplateAmp(s"container/count/1/offset/0/mf2.json")
                        }
                        @fragments.amp.onwardTemplateAmp("most-read-mf2.json")
                        @fragments.amp.onwardTemplateAmp(s"container/count/3/offset/${if(isWhitelistedSection) 0 else 1}/mf2.json")
                    }
                }
            </div>

            <amp-font
                layout="nodisplay"
                font-family="Guardian Egyptian Web"
                timeout="3000"
                on-error-remove-class="guardian-egyptian-loading"
                on-error-add-class="guardian-egyptian-missing"
                on-load-remove-class="guardian-egyptian-loading"
                on-load-add-class="guardian-egyptian-loaded">
            </amp-font>

            <amp-font
                layout="nodisplay"
                font-family="Guardian Text Sans Web"
                timeout="3000"
                on-error-remove-class="guardian-text-sans-loading"
                on-error-add-class="guardian-text-sans-missing"
                on-load-remove-class="guardian-text-sans-loading"
                on-load-add-class="guardian-text-sans-loaded">
            </amp-font>

            @fragments.amp.footerAMP(page)
        </div>
    </body>
</html>
