@(page: model.Page, related: model.RelatedContent, content: model.Content)(body: Html)(implicit request: RequestHeader, context: model.ApplicationContext)

@import common.{CanonicalLink, LinkTo}

<!doctype html>
<html AMP>

    @fragments.amp.headAmp(page, content)

    <body class="guardian-egyptian-loading">

        @fragments.amp.analytics(content)

        @fragments.amp.header()

        <div class="main-body">

            @body

            <div class="gs-container">

                @if(content.trail.isCommentable) {
                    <div class="submeta">
                        <a href="@LinkTo(page.metadata.canonicalUrl.map(LinkTo(_)).getOrElse(CanonicalLink(request, page.metadata.webUrl)))#comments" class="cta cta--medium cta--comments">
                            @fragments.inlineSvg("comment-16", "icon") View comments
                        </a>
                } else {
                    <div class="submeta no-comments">
                }
                        <a href="@LinkTo(page.metadata.canonicalUrl.map(LinkTo(_)).getOrElse(CanonicalLink(request, page.metadata.webUrl)))" class="cta cta--medium main-site-link">
                            View on theguardian.com
                        </a>
                    </div>

                @fragments.amp.onwardJourneys(page, related, content)

            </div>

            <amp-font
                layout="nodisplay"
                font-family="Guardian Egyptian Web"
                timeout="3000"
                on-error-remove-class="guardian-egyptian-loading"
                on-error-add-class="guardian-egyptian-missing"
                on-load-remove-class="guardian-egyptian-loading"
                on-load-add-class="guardian-egyptian-loaded">
            </amp-font>

            <amp-font
                layout="nodisplay"
                font-family="Guardian Text Sans Web"
                timeout="3000"
                on-error-remove-class="guardian-text-sans-loading"
                on-error-add-class="guardian-text-sans-missing"
                on-load-remove-class="guardian-text-sans-loading"
                on-load-add-class="guardian-text-sans-loaded">
            </amp-font>

            @fragments.footer(page, isAmp = true)
        </div>
    </body>
</html>
