@(metaData: model.MetaData)(body: Html)(implicit request: RequestHeader)
@import common.{AnalyticsHost, LinkTo}
@import conf.Configuration
@import views.support.OmnitureAnalyticsData
@import org.joda.time.DateTime

<!doctype html>
<html AMP>
    <head>
        @* "utf-8" meta tag needs to be first according to AMP spec *@
        <meta charset="utf-8">
        @fragments.metaData(metaData, true)
        <title>@views.support.Title(metaData)</title>
        @fragments.amp.stylesheets.main(metaData)
        <script custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js" async></script>
        <script custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js" async></script>
        <script custom-element="amp-instagram" src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js" async></script>
        <script custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js" async ></script>
        <script custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js" async ></script>
        <style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>
        <script src="https://cdn.ampproject.org/v0.js" async></script>
    </head>
    <body>
        @defining(s"${request.host}${request.path}") { path =>
            @defining({
                val params = OmnitureAnalyticsData(metaData, "No Javascript", path, "GoogleAMP", Map(("r", "DOCUMENT_REFERRER")))
                val omnitureAccount = Configuration.javascript.pageData("guardian.page.omnitureAccount")
                s"${AnalyticsHost()}/b/ss/$omnitureAccount/1/H.25.3/?$params"
            }) { omnitureCall =>
                <amp-pixel src="@Html(omnitureCall)"></amp-pixel>
                <amp-pixel src="//beacon.guim.co.uk/count/pva.gif"></amp-pixel>
            }
        }

        <div class="main-body">

            <header class="main-header">
                <a href="@LinkTo{/}" class="logo-wrapper" name="top">
                    @fragments.inlineSvg("guardian-logo-160", "logo")
                </a>
            </header>

            @body

            <div class="fc-container__inner">
                <div class="fc-container__header__title">
                    <span>popular</span>
                </div>
                <amp-list width="600" height="1000" layout="responsive" src="@Configuration.ajax.url/most-read-amp.json">
                    <template type="amp-mustache">
                        <div class="headline-list__item">
                            <p class="headline-list__count">{{index}}</p>
                            <h2 class="fc-item__title">
                                <a href="{{url}}" class="fc-item__link">{{headline}}</a>
                            </h2>
                        </div>
                    </template>
                </amp-list>
            </div>

            @fragments.footerAMP(metaData)
        </div>
    </body>
</html>
