@(metaData: model.MetaData, projectName: Option[String] = None, curlPaths: Map[String, String] = Map())(head: Html)(body: Html)(implicit request: RequestHeader)
@import conf.Switches._

@* Identity pages use identityMain.scala.html, most of which is shared fragments,
   be sure to apply any necessary changes to non-shared code there too. *@

<!DOCTYPE html>
<html class="js-off id--signed-out" lang="en-GB">
<head>
    @fragments.head(metaData, projectName, head, curlPaths)
</head>
<body
    @Navigation.topLevelItem(Edition(request).navigation, metaData).filter(_.links.nonEmpty).map{ localNav => class="has-localnav" }
    id="top"
    itemscope itemtype="http://schema.org/WebPage">

    <div class="top-banner-ad-container top-banner-ad-container--desktop">
        @fragments.commercial.standardAd(name="top", adType="top-banner-ad", sizeMapping=Map("tabletportrait" -> Seq("728,90"), "tabletlandscape" -> Seq("728,90", "900,250"), "desktop" -> Seq("728,90", "900,250", "970,250")))
    </div>

    @fragments.message(metaData)

    @fragments.header(metaData)

    <div id="js-context">
        <div class="top-banner-ad-container top-banner-ad-container--mobile">
            @fragments.commercial.standardAd(name="top-mobile", adType="top-banner-ad", sizeMapping=Map("mobile" -> Seq("300,50", "320,50")), showLabel=false)
        </div>

        @fragments.localNav(metaData)

        @body
    </div>

    @fragments.footer(metaData)

    @fragments.loadCss()

    @fragments.analytics(metaData)
</body>
</html>
