@(item: model.ContentType, brandLogo: Option[String], brand: Option[String], optClickMacro: Option[String], optOmnitureId: Option[String])(implicit request: RequestHeader)

@import views.html.fragments.inlineSvg

@defining(("1_0", "2014-08-14")) { case (version, date) =>
    <div class="paidfor-content" data-link-name="creative | gu style commercial content">
        <div class="u-responsive-ratio inlined-image">
            <a href="@optClickMacro@item.metadata.webUrl" data-link-name="article image">
                @item.trail.trailPicture.map { trailPictureContainer =>
                    @Item300.bestFor(trailPictureContainer).map{ url => <img src="@url" alt="" class="lineitem__image" /> }
                }
            </a>
            <a @if(Edition(request).id == "AU") {
                    href="@LinkTo("/guardian-labs-australia")"
                } else {
                    href="@LinkTo("/guardian-labs")"
                } class="paidfor-content__glabs-logo" title="glabs" data-link-name="glabs logo">
                @fragments.inlineSvg("glabs-logo-small", "logo")
            </a>
        </div>
        @fragments.commercial.paidForMeta()
        <a href="@optClickMacro@item.metadata.webUrl" class="paidfor-box" data-link-name="advertisers logo">
            <h2 class="gu-title">@item.metadata.webTitle</h2>
            @item.fields.trailText.map { trailText =>
                <p class="gu-text">@Html(trailText)</p>
            }
            <div class="paidfor-brand">
                <span class="paidfor-note">Paid for by:</span>
                @for(logoUrl <- brandLogo) {<img src="@logoUrl" alt="@brand" class="paidfor-logo"/>}
            </div>
        </a>
    </div>
}
