.facia-snap--football {
    // Dealing with the double embedding of snaps
    overflow: hidden;
    .facia-snap--football {
        overflow: visible;
    }

    // Generic
    &.facia-snap-embed {
        @include rem((
            border-left-width: $gs-gutter/2,
            border-right-width: $gs-gutter/2
        ));
        background: #ffffff;
    }

    // Matches and tables
    // =============================================================================
    .c-football-matches,
    .c-football-table {
        // this works as a min-height
        height: $gs-baseline*14;
        overflow: visible;
    }

    .table,
    .table__caption {
        border-top: 0 none;
    }

    .table__caption--bottom {
        @include box-sizing(border-box);
        background: $c-neutral8;
        border-left: $gs-gutter/2 solid #ffffff;
        border-right: $gs-gutter/2 solid #ffffff;
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 2;

        .full-table-link {
            @include rem((
                margin-left: $gs-gutter/2
            ));
            display: inline-block;
        }

        &:after {
            @include simple-gradient(transparent, #f6f6f6);
            height: $gs-baseline*1.5;
            border-bottom: 1px solid $c-neutral3;
            bottom: $gs-baseline*2.75-2;
            content: " ";
            left: 0;
            position: absolute;
            width: 100%;
        }
    }

    .football-team__form,
    .football-matches__date {
        display: none;
    }

    .football-matches__day:last-child {
        .table__caption--bottom {
            display: table-caption;
        }
    }

    // Big match special
    // =============================================================================
    .match-summary {
        @include rem((
            padding-left: $gs-gutter/2,
            padding-right: $gs-gutter/2
        ));
        background: $c-neutral8;

        &:hover,
        &:active {
            background: $c-neutral6;
            color: $c-neutral1;
            text-decoration: none;
        }
    }

    .team__heading,
    .team__battle-line {
        @include fs-headline(2, true);
    }

    .status__time {
        @include rem((
            top: $gs-baseline/2
        ));
    }

    .team__scorers {
        @include fs-data(2, true);

        dd:nth-child(3) {
            &:after {
                content: "…";
                display: block;
            }
        }
        dd:nth-of-type(n+3) {
            display: none;
        }
    }

    // Different snap sizes
    // See javascripts/modules/ui/snaps.js
    &.facia-snap-point--large {
        @include table--hide-none;
        .table,
        .table__caption {
            border-top: 0 none;
        }
        .team__heading,
        .team__battle-line {
            @include fs-headline(5, true)
        }
    }

    &.facia-snap-point--large,
    &.facia-snap-point--medium {
        @include match-summary--responsive;
        .team__crest {
            @include rem((
                line-height: $gs-gutter*2
            ));
        }
    }

    &.facia-snap-point--medium {
        .team__heading,
        .team__battle-line {
            @include fs-headline(2, true)
        }
        .team__battle-line {
            @include rem((
                top: $gs-baseline*7
            ));
        }
    }


    &.facia-snap-point--small {
        @include table--hide-from-importance-2;
    }

    &.facia-snap-point--mini,
    &.facia-snap-point--tiny {
        @include table--hide-from-importance-3;

        .competition-name {
            display: none;
        }

        .team-name:after,
        .team__name:after {
            content: attr(data-abbr);
        }
        .team-name__long,
        .team__name-long {
            @include u-h;
        }

        .match-info__venue {
            display: none;
        }
    }
}
