@(surveyPage: Page)(implicit request: RequestHeader)

@import model.Page
@import conf.Configuration.Survey.formStackAccountName


    @surveyMain(surveyPage) {
        <div class="illustration-container">

            <div class="gs-container">

                @fragments.inlineSvg("mobile-lab", "illustration", Seq("illustration-mobile") )
                @fragments.inlineSvg("tablet-lab", "illustration", Seq("illustration-tablet") )
                @fragments.inlineSvg("desktop-lab", "illustration", Seq("illustration-desktop") )
                @fragments.inlineSvg("wide-lab", "illustration", Seq("illustration-wide") )

            </div>

            <div class="table-top"></div>
            <div class="table-base"></div>

        </div>



        <div class="content">

            <div class="wrapper">

                <div class="wrapper-inner">

                    <h1>Thank you for your interest in personalised email</h1>

                    <p>This feature is not yet available as we are still testing demand for it. Tell us your email address and we'll let you know when it is available (we won't use it for any other purposes).</p>

                    <div class="inline-email-form">
                        <script type="text/javascript" src="https://@{formStackAccountName}.formstack.com/forms/js.php/email_digest_email?no_style_strict=1"></script><noscript><a href="https://@{formStackAccountName}.formstack.com/forms/email_digest_email" title="Online Form">Online Form - Email digest email</a></noscript>
                    </div>

                </div>

            </div>

        </div>
    }
