@(surveyPage: Page)(implicit request: RequestHeader)

@import common.InlineJs
@import templates.inlineJS.blocking.js._
@import model.Page

<!DOCTYPE html>
<html id="js-context" class="js-off is-not-modern id--signed-out" data-page-path="@request.path">

<head>
    <meta charset="utf-8" />
    <title>@views.support.Title(surveyPage)</title>

    @fragments.metaData(surveyPage)

    @* get the stylesheets downloading ASAP *@
    @fragments.stylesheets(None)

    @* polyfill, feature detect etc before we try and use the stylesheets *@
    @fragments.inlineJSBlocking(surveyPage)

    @* start trying to use the stylesheets *@
    <script>
        @InlineJs(enableStylesheets().body, "enableStylesheets.js")
    </script>

</head>
    <body
        id="survey-laboratory"
        itemscope itemtype="http://schema.org/WebPage">

        @fragments.header(surveyPage)

        <div class="illustration-container">

            @fragments.inlineSvg("mobile-lab", "illustration", Seq("illustration-mobile") )
            @fragments.inlineSvg("tablet-lab", "illustration", Seq("illustration-tablet") )


        </div>

        <div class="content">

            <div class="wrapper">

                <div class="wrapper-inner">

                    <h1>Thank you for your interest in personalised email</h1>

                   <!-- @fragments.inlineSvg("email_register", "illustration") -->

                    <!-- <h1><em>Register interest</em></h1> -->

                    <p>This feature is not yet available as we are still testing demand for it. Tell us your email address and we'll let you know when it is (we won't use it for any other purposes).</p>

                    <div class="inline-email-form">
                        <script type="text/javascript" src="https://guardiannewsampampmedia.formstack.com/forms/js.php/email_digest_email?no_style_strict=1"></script><noscript><a href="https://guardiannewsampampmedia.formstack.com/forms/email_digest_email" title="Online Form">Online Form - Email digest email</a></noscript>
                    </div>

                </div>

            </div>

        </div>

        @fragments.footer(surveyPage)

        @fragments.inlineJSNonBlocking()

    </body>
</html>
