@import common.InlineJs
@import model.Page
@import templates.inlineJS.blocking.js.enableStylesheets

@(surveyPage: Page)(body: Html)(implicit request: RequestHeader, context: model.ApplicationContext)

<!DOCTYPE html>
<html id="js-context" class="js-off is-not-modern id--signed-out" data-page-path="@request.path">

    <head>
        <title>@views.support.Title(surveyPage)</title>

        @fragments.metaData()(surveyPage, request, context)

        @* get the stylesheets downloading ASAP *@
        @fragments.stylesheets(projectName=Option("survey"))

        @fragments.page.head.fixIEReferenceErrors();
        @fragments.page.head.checkModuleSupport();

        @* polyfill, feature detect etc before we try and use the stylesheets *@
        @fragments.inlineJSBlocking()(surveyPage, request, context)

        @* start trying to use the stylesheets *@
        <script>
            @InlineJs(enableStylesheets().body, "enableStylesheets.js")
        </script>

    </head>
    <body
    id="survey-laboratory"
    itemscope itemtype="http://schema.org/WebPage">

        @fragments.header()(surveyPage, request)

        @body

        @fragments.footer()(surveyPage, request)

        @fragments.inlineJSNonBlocking()(surveyPage, request, context)

    </body>
</html>
