.participation-low-fric {
    padding-top: 6px;
    border-top: 1px dotted #dcdcdc;
}

// When we hover our content, we tell the browser
// that a change may happen soon so it can optimise
// the paint area
.participation-low-friction__contents:hover,
.participation-low-friction__contents:focus {
    will-change: transform;
}

.participation-low-fric__desc,
.participation-low-fric__after {
    @include fs-textSans(1);
    color: $neutral-2;
}

/* The Rating Buttons */

.participation-low-fric--button {
    border: 0;
    background: none;
    padding: 0;
}

/* Confirm Button */

.participation-low-fric__confirm {
    @include button-colour($neutral-1, #ffffff, $neutral-1);
    margin-top: 10px;
}

/* Star Ratings */

.participation-low-fric--button__star svg {
    height: 40px;
    width: 40px;
}

.participation-low-fric--button__is-active:hover .inline-star,

.participation-low-fric--button__is-active:focus .inline-star,
.participation-low-fric--button__is-active:active .inline-star,
.participation-low-fric--button__is-highlighted .inline-star {
    fill: #ffce4b;
    opacity: 1;
}
