.contributions__epic {
    &.contributions__epic--visual {
        background: $neutral-8;
    }

    &.contributions__epic--visual--love {
        border-top-color: $features-support-3;
    }

    &.contributions__epic--visual--boat {
        border-top-color: $news-main-2;
    }
}

.contributions__title--visual-epic {
    @include fs-headline(7);
    font-weight: bold;
    margin-bottom: $gs-baseline * 3;
}

.contributions__title--visual-epic--boat {
    color: $news-support-2;
}

.contributions__title--visual-epic {
    @include fs-headline(7);
    font-weight: bold;
    margin-bottom: $gs-baseline * 3;
}

.contributions__title--visual-epic__step-2--love {
    @include f-headline;
    @include font-size(48px);
    font-weight: bold;
    color: $error;
    margin-bottom: $gs-baseline;

    & .emoji {
        @include font-size(38px);
    }
}

.contributions__subtitle--visual-epic {
    @include fs-header(4);
}

.contributions__subtitle--visual-epic--love {
    color: $error;
}

.contributions__epic--visual__image,
.contributions__option-button--visual {
    display: block;
    margin: auto;
}

.contributions__epic--visual__image {
    width: 100%;
    margin-bottom: $gs-baseline * 2;
}

.contributions__epic--visual__image--love {
    .contributions-wrapper__step-1 & {
        width: 168px;
    }

    .contributions-wrapper__step-2 & {
        width: 50%;
    }
}

.contributions__option-button--visual {
    color: white;
    width: auto;
    height: 50px;
    padding: 0 $gs-gutter;
    @include fs-textSans(5);

    // couple of magic numbers here, necessary for the design
    .heart {
        font-size: 28px;
        position: relative;
        top: 3px;
        margin-right: 2px;
    }

    &.contributions__option-button--visual--love {
        position: relative;
        top: -102px;
        background-color: $error;

        &:hover {
            background-color: darken($error, 5%);
        }
    }

    &.contributions__option-button--visual--boat {
        background-color: $news-support-2;
        padding-left: 10px;

        svg {
            height: 16px;
        }

        &:hover {
            background-color: darken($news-support-2, 5%);
        }
    }
}

.contributions__option-button--visual__cta {
    @include font($f-sans-serif-text, normal, 16, 18);
    background: $guardian-brand;
    color: white;
    text-align: left;
    width: auto;
    height: 35px;
    margin-left: 0;
    padding: $gs-baseline $gs-baseline * 2;

    @include mq(tablet) {
        margin-left: $gs-baseline * 2;
    }

    .text {
        float: left;
        width: 150px;
    }

    .icon {
        float: right;
        position: relative;
        left: 15px;
        margin-left: $gs-gutter / 2;
        width: 32px;
        height: 32px;
        border: 1px solid white;
        border-radius: 32px;
    }

    &:hover {
        background: darken($guardian-brand, 10%);
    }
}

.contributions__epic--visual--copy {
    @include fs-bodyCopy(2);
}


.contributions__epic--visual__cta {
    @include font($f-serif-headline, normal, 16, 20);
    padding: $gs-baseline;
    padding-top: 0;
    background: $news-main-2;
    color: $guardian-brand-dark;
    font-weight: bold;

    @include mq(tablet) {
        display: flex;
    }

    & .brand {
        color: white;
    }
}

.contributions__epic--visual__cta--copy {
    @include mq(tablet) {
        flex: 1;
    }
}

.step-1--love {
    margin-bottom: -36px;
}

.contributions-wrapper {
    &[data-step='1'] {
        .contributions-wrapper__step-1 {
            display: block;
        }

        .contributions-wrapper__step-2 {
            display: none;
        }
    }

    &[data-step='2'] {
        .contributions-wrapper__step-1 {
            display: none;
        }

        .contributions-wrapper__step-2 {
            display: block;
        }

        .contributions__epic--visual {
            padding-bottom: 34px;
            background-image: linear-gradient(-2deg, $news-main-2 7%, $neutral-8 7.1%);
        }
    }
}
