// CSS used for the Epic testimonials test

// Common classes

.epic__testimonial-container {
    margin-top: $gs-gutter;
    margin-bottom: $gs-gutter;
}

.epic__testimonial-quote {
    position: relative;
}

.epic__testimonial-quote span {
    position: absolute;
}

.epic__testimonial-quote svg {
    fill: $multimedia-main-2;
    width: 1.5 * $gs-gutter;
    height: 1.5 * $gs-gutter;
}

.epic__testimonial-text {
    margin-bottom: 0;
    font-family: $f-sans-serif-text;
    font-style: italic;
    padding-left: 2 * $gs-gutter;
}

.epic__testimonial-name {
    display: block;
    margin-top: 5px;
    font-family: $f-sans-serif-text;
    font-style: normal;
}


// Variant 1 - control

// Variant 2 - prominent

// Variant 3 - subtle

.epic__testimonial-quote--subtle svg {
    fill: $neutral-3;
}



// Remaining classes taken from previous pull request

.contributions__epic--subtle {
    // Unset border top as it will be set for the inline header element
    border-top: 0;
    background-color: #ffffff;
    margin-top: $gs-baseline * 4;
    margin-bottom: $gs-baseline * 4;
}

.contributions__title--epic--subtle {
    @include fs-header(3);
    display: inline;
    border-top: 1px solid $multimedia-main-2;
    padding-top: $gs-baseline / 3;
}

.contributions__paragraph--subtle {
    margin-top: 0;
}

.contributions__epic--testimonial-usa {
    .inline-quote svg {
        fill: #ffbb00;
    }
}

.epic__testimonial__icon {
    height: 24px;
    width: 24px;
    float: left;
    margin-right: 5px;
}
