.contributions__epic--circles {
  background-image: svg-url('<svg width="620" height="113" xmlns="http://www.w3.org/2000/svg"><g fill="#FB0" fill-rule="evenodd"><g transform="translate(-30)"><circle fill-opacity=".45" cx="230" cy="86" r="26"/><circle fill-opacity=".45" cx="128" cy="86" r="26"/><circle fill-opacity=".45" cx="282" cy="116" r="26"/><circle fill-opacity=".45" cx="180" cy="116" r="26"/><circle fill-opacity=".25" cx="384" cy="56" r="26"/><circle fill-opacity=".25" cx="332" cy="26" r="26"/><circle fill-opacity=".25" cx="230" cy="26" r="26"/><circle fill-opacity=".25" cx="128" cy="26" r="26"/><circle fill-opacity=".25" cx="26" cy="26" r="26"/><circle fill-opacity=".25" cx="282" cy="56" r="26"/><circle fill-opacity=".25" cx="180" cy="56" r="26"/><circle fill-opacity=".25" cx="78" cy="56" r="26"/><circle fill-opacity=".45" cx="384" cy="116" r="26"/><circle fill-opacity=".45" cx="332" cy="86" r="26"/><circle fill-opacity=".45" cx="26" cy="86" r="26"/><circle fill-opacity=".45" cx="78" cy="116" r="26"/></g><g transform="translate(380)"><circle fill-opacity=".45" cx="230" cy="86" r="26"/><circle fill-opacity=".45" cx="128" cy="86" r="26"/><circle fill-opacity=".45" cx="180" cy="116" r="26"/><circle fill-opacity=".25" cx="230" cy="26" r="26"/><circle fill-opacity=".25" cx="128" cy="26" r="26"/><circle fill-opacity=".25" cx="26" cy="26" r="26"/><circle fill-opacity=".25" cx="180" cy="56" r="26"/><circle fill-opacity=".25" cx="78" cy="56" r="26"/><circle fill-opacity=".45" cx="26" cy="86" r="26"/><circle fill-opacity=".45" cx="78" cy="116" r="26"/></g></g></svg>');
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 23%;
  background-position: bottom;
}

.contributions__epic--circles .contributions__contribute--epic {
  background-color: transparent;
  position: relative;
  padding-left: 60px;
  padding-top: 16px;
  font-size: 18px;
  font-weight: bold;
  font-family: $f-sans-serif-headline;
  margin-top: $gs-baseline * 2;

  &::after {
    display: none;
  }

  &::before {
    content: ' ';
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path fill="$neutral-1" stroke="$neutral-1" d="M22.8 14.6L15.2 7l-.7.7 5.5 6.6H6v1.5h14l-5.5 6.6.7.7 7.6-7.6v-.9"/></svg>');
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 600px;
    background-repeat: no-repeat;
    background-size: 110%;
    background-color: $multimedia-main-2;
    background-position: 5px 5px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
