@import 'svg';

.contributions__paragraph--highlight {
    background-color: #ffe399;
    padding: 4px 2px;
    margin-left: -2px;
    margin-right: -2px;
}

// Bigger buttons
// ==============


.contributions__epic--button-bigger {
    padding-bottom: ($gs-baseline * 1.5);
}

.contributions__button--bigger {
    font-size: 18px;
    padding-top: .75em;
    padding-bottom: .75em;
    width: 200px;

    &:after {
        position: relative;
        left: -6px;
        top: 2px;

        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path fill="$neutral-1" stroke="$neutral-1" d="M22.8 14.6L15.2 7l-.7.7 5.5 6.6H6v1.5h14l-5.5 6.6.7.7 7.6-7.6v-.9"/></svg>');
        background-size: 40px;
        background-position-y: -5px;
    }
}

// Colour change
// =============

.contributions__button--colour-change {
    color: #ffffff;
    background-color: $guardian-brand;

    &:after {
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path fill="white" stroke="white" d="M22.8 14.6L15.2 7l-.7.7 5.5 6.6H6v1.5h14l-5.5 6.6.7.7 7.6-7.6v-.9"/></svg>');
    }

    &:hover {
        color: #ffffff;
        background-color: $multimedia-support-3;
    }
}

.contributions__epic--colour-change {
    border-top: 1px solid $news-support-1;
    padding-top: $gs-baseline / 3;
}

// Paypal and credit card
// ======================

.contributions__image--paypal-and-credit-card {
    padding-left: ($gs-baseline / 6);
    padding-top: $gs-gutter;
    width: ($gs-column-width * 4.5);
    height:  ($gs-column-width * .45);
}
