.contributions__epic--holdback {
    background-color: $comment-support-2;
    border-color: $multimedia-main-2;

    .contributions__highlight {
        background-color: #ffe399;
    }

    a[href].contributions__contribute--epic {
        background-color: $multimedia-main-2;

        &:hover {
            background-color: darken($multimedia-main-2, 5%);
        }
    }
}

.circles-banner-holdback {
    .message-button-rounded__cta.yellow {
        svg path {
            fill: #000333;
        }

        background-color: #ff9b0b;
        color: $neutral-1;
    }

    &.site-message--membership-prominent.yellow {
        background-color: #ffce4b;
    }
}
