@import 'svg';

.contributions__embed  {
    border-top: 1px solid $news-main-2;
    background-color: $comment-support-2;
    padding: 0 ($gs-gutter / 4) $gs-baseline;
}

.contributions__epic {
    border-top: 1px solid $multimedia-main-2;
    background-color: $comment-support-2;
    margin-top: $gs-baseline * 2;
    padding: ($gs-baseline / 3) ($gs-gutter / 4) $gs-baseline;

    &.contributions__epic--liveblog {
        margin-top: 0;

        // makes it override the block styles
        border-top: 1px solid $multimedia-main-2;

        padding: ($gs-baseline / 3) ($gs-gutter / 2) $gs-baseline;

        @include mq(tablet) {
            padding: ($gs-baseline / 3) ($gs-gutter / 2) $gs-baseline ($gs-gutter * 4);
        }
    }
}


.contributions__title {
    @include fs-header(2);
    margin: 0;
 }

.contributions__title--epic {
    margin-bottom: 0;
}

.contributions__paragraph  {
    font-size: 1em;
    line-height: 20px;
    font-family: $f-serif-headline;
    margin-bottom: $gs-baseline;
    margin-top: $gs-baseline;
}

.contributions__paragraph--extra-copy {
    margin-bottom: 0;
}

.contributions__highlight {
    background-color: #ffe399;
    padding: 4px 2px;
    margin-left: -2px;
    margin-right: -2px;
}

.contributions__hidden {
    display: none;
}

.contributions__paragraph--epic {
    @include fs-bodyCopy(2);
}

.contributions__epic-link {
    text-decoration: underline;
}

.contributions__option-button {
    @include fs-textSans(4);

    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    outline: none;
    border: 0;
    background-color: #ffffff;
    border-radius: 1000px;

    width: calc((100% - 26px) /4);
    text-align: center;
    margin-left: $gs-gutter / 4;
    margin-right: 0;
    //This combines with the default height of the button to result in a
    //total button height of gs-gutter * 3
    padding-top: .5em;
    padding-bottom: .5em;

    &:hover {
        background-color: $comment-support-1;
        color: $neutral-6;
    }

    &.active {
        background-color: $multimedia-main-2;
        color: $neutral-1;
    }
}

.contributions__button-group {
    margin-left: $gs-gutter / -4;
}

.contributions__flex-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}

.contributions__amount-field {
    display: flex;
    flex-direction: column;

    @include mq($from: mobileLandscape) {
        flex-direction: row;
    }
}

.contributions__contribute {
    width: 130px;
    background-color: $news-main-1;
    color: #ffffff;
    font-weight: bold;
    margin-top: $gs-baseline;
    text-align: left;
    padding-left: $gs-gutter * (3 / 4);;
    padding-right: 0;
    margin-left: 0;
    &:hover {
        background-color: darken($news-main-1, 5%);
        text-decoration: none;
    }

    &:after {
        content: '';

        display: inline-block;
        background-repeat: no-repeat;
        width: 30px;
        height: 20px;
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path fill="white" stroke="white" d="M22.8 14.6L15.2 7l-.7.7 5.5 6.6H6v1.5h14l-5.5 6.6.7.7 7.6-7.6v-.9"/></svg>');
        background-size: 100%;
        float: right;
    }
}

.contributions__contribute--epic {
    margin-top: 0;
    width: 100px;
    background-color: $multimedia-main-2;
    color: $neutral-1;
    &:hover {
        color: $neutral-1;
        background-color: darken($multimedia-main-2, 5%);
    }

    &:after {
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path fill="$neutral-1" stroke="$neutral-1" d="M22.8 14.6L15.2 7l-.7.7 5.5 6.6H6v1.5h14l-5.5 6.6.7.7 7.6-7.6v-.9"/></svg>');
    }
}

.contributions__contribute--epic-member {
    width: 160px;
}

.contributions__contribute--epic-member-top {
    margin-bottom: $gs-baseline/2;
    margin-right: $gs-gutter/2;
}

.contributions__option-button--epic {
    &:hover {
        background-color: $comment-support-1;
        color: $neutral-6;
    }

    &.active {
        background-color: $neutral-1;
        color: $neutral-6;
    }
}

.contributions__button-group--epic-no-buttons {
    display: none;
}

.contributions__button-group--epic {
    margin-bottom: $gs-baseline;
}

@include mq($from: mobileLandscape) {
    .contributions__option-button--bottom {
        width: 70px;
    }

    .contributions__contribute--bottom {
        margin-top: 0;
    }

    .contributions__amount-field--bottom {
        flex-direction: row;
    }

    .contributions__contribute-embed--bottom {
        margin-top: 0;
    }

    .contributions__contribute--epic-member-top {
        margin-bottom: 0;
    }

}

.contributions__button-group {
    margin-right: $gs-gutter / 2;
}

.contributions__title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contributions__epic--story {
    padding: 0 $gs-gutter / 4 $gs-baseline $gs-gutter / 4;
}

.contributions__story--icon {
    margin-right: $gs-gutter / -4;
    line-height: 0;
}

.contributions__main_image {
    width: 100%;
    vertical-align: middle;
}

.acquisitions-epic-iframe {
    border: 0;
    width: 100%;
    max-width: 620px;
}
