  .fc-container--thrasher {
    background: $guardian-brand-dark;
    .fc-item {
        background: $guardian-brand;
    }
}

.reading-time__time-selection {
    @include button-colour(
            $news-main-1, // fill
            #ffffff, // text
            $news-main-2 //border
    );
    @include button-hover-colour(
            darken($news-main-1, 5%),
            $news-main-2
    );
    font-weight: normal;
    margin-bottom: 5px;
    width: gs-span(1.5);
}
.reading-time__wrapper {
    position: relative;
    width: 100%;

    .text-selection-block {
        .js-feedback-text-reading-time__cta {
            line-height: 1.3em;
            font-weight: bold;
            vertical-align: top;
            padding-top: 5px;
        }

        .js-feedback-text-reading-time__cta, .reading-time__selections {
            @include mq(desktop) {
                width: 45%;
            }
            width: 90%;
            display: inline-block;
            padding-bottom: 15px;
        }

        .reading-time__arrow {
            display: inline-block;
            vertical-align: top;
            position: relative;
            top: 1px;
            line-height: 30px;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            border: 1px solid #ececec;
            svg {
                height: 100%;
                width: 100%;
                display: block;
                path {
                    fill: #ececec;
                }
            }
            @include button-hover-colour(
                    darken($news-main-1, 5%),
                    $neutral-8
            );
        }

        .reading-time__selections {
            padding-top: 10px;

            .reading-time__clock {
                svg {
                    margin-left: -2px;
                    margin-right: 5px;
                    width: 15%;
                    vertical-align: middle;
                }
            }
        }
    }

    .reading-time {
        color: $neutral-8;
        max-width: 620px;
        margin: 0 auto;

        @include mq(mobileLandscape) {
            padding: 0 10px;
        }
        @include mq(tablet) {
            padding: 0 20px;
            max-width: none;
        }
        @include mq(leftCol) {
            margin-left: 160px;
        }
        @include mq(wide) {
            margin-left: 240px;
        }
        &__title {
            display: inline-block;
            padding-top: 2px;
            color: #4BC6DF;
            float: none;
            width: auto;
            @include mq(leftCol) {
                position: absolute;
                top: 0;
                left: 20px;
            }
        }
        &__roundel {
            float: right;
            margin-top: -5px;
            svg {
                width: 60%;
            }
        }
        &__main {
            display: block;
            font-size: 24px;
            line-height: 26px;
            font-weight: 600;
            padding-top: 1px;
            padding-bottom: 18px;
            margin-top: -3px;
            @include mq(tablet) {
                font-size: 26px;
                line-height: 28px;
            }
            @include mq(leftCol) {
                margin-top: 3px;
            }
        }

    }
}
