.badge-slot-meta-ge15badge {
    float: left;
    width: 45px;
    margin-right: $gs-gutter / 2;

    @include mq(desktop) {
        width: 90px;
        float: none;
    }

    .badge-slot__img {
        width: 100%;
    }
}

.content__section-label--election,
.content__series-label--election {
    margin-top: 0;

    @include mq(mobileLandscape, desktop) {
        margin-top: $gs-baseline;
    }
}
