@( classNames: Seq[String]
 , rowLayout: Option[String] = None
 , optBadge: Option[Html] = None
 )(headerTitle: Html)(blurb: Html)(ctas: Html)(stamp: Html)(innards: Html)

<aside class="adverts @classNames.map(c => s"adverts--$c").mkString(" ")" data-link-name="">
    <header class="adverts__header">
        <h1 class="adverts__title">@headerTitle</h1>
        @if(blurb.body.nonEmpty) {
            <div class="adverts__blurb">@blurb</div>
        }
        @if(ctas.body.nonEmpty) {
            <div class="adverts__ctas">@ctas</div>
        }
        @if(stamp.body.nonEmpty) {
            <div class="adverts__stamp">@stamp</div>
        }
    </header>
    @optBadge.map { badge =>
        <div class="adverts__body">
            <div class="adverts__row @rowLayout.map(l => s"adverts__row--$l").getOrElse("")">
                @innards
            </div>
            <div class="adverts__badge">@badge</div>
        </div>
    }.getOrElse {
        <div class="adverts__body adverts__row @rowLayout.map(l => s"adverts__row--$l").getOrElse("")">
            @innards
        </div>
    }

</aside>
