@(contributorEmailSubmitted: Page)(implicit request: RequestHeader)

@import model.Page

    @main(contributorEmailSubmitted) { } {
        <div class="l-side-margins">
            <div class="live-events-survey-wrapper" data-link-name="adblock contributor email submitted page">
                <div class="live-events-survey-wrapper-inner">
                    <div class="adblock-contributor-email-address-result">
                        <p class="contributor-email-accepted standfirst js-contributor-email-correct">
                            Thank you for submitting your contributor email address.
                        </p>
                        <p class="contributor-email-accepted standfirst">
                            Please click any link to continue your visit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
