@(jobs: Seq[model.commercial.jobs.Job])(implicit request: RequestHeader)

@main(Page(
  "Jobs",
  "Jobs",
  "Jobs",
  "Jobs")){
  }{

<link rel="stylesheet" href="@Static("stylesheets/commercial.css")" />

<div class="commercial jobs-component commercial--w600">
    <div class="commercial__head">
        <h3 class="commercial__title">
            <a href="http://jobs.theguardian.com/">
                <span class="u-h">Guardian Jobs</span>
                <i class="i i-guardian-jobs-logo"></i>
            </a>
        </h3>
        @jobs.take(1).map { job =>
            <a class="commercial__link" href="#">View all @job.mainIndustry jobs <i class="i i-double-arrow-right-white"></i></a>
        }
    </div>
    <div class="commercial__body">
        <div class="commercial__item">
            <ul class="lineitems">
                @jobs.take(1).map { job =>
                    <li class="lineitem">
                        <h4 class="lineitem__title"><a href="@job.listingUrl">@job.title</a></h4>
                        <p class="lineitem__description">@job.recruiterLogoUrl.map{ url => <img class="lineitem__image lineitem__image-logo" src="@url" />} @job.shortDescription</p>
                    </li>
                }
            </ul>
        </div>
        <div class="commercial__item">
            <img class="lineitem__image" src="http://dummyimage.com/220x132/ccc/fff.png" />
            <h4 class="lineitem__title"><a href="#">[How to switch careers - live chat]</a></h4>
            <p class="lineitem__description">[Whether you&#8217;re mid-career change and need some help, or you&#8217;re just considering a move, get advice from our experts on <strong>Thursday 21 November</strong> from 1pm-3pm]</p>
        </div>
        <div class="commercial__item">
            <h4 class="lineitem__title">Find the latest job in your sector:</h4>
            <ul class="lineitem__list unstyled">
                <li><a class="lineitem__link" href="#">Arts &#38; heritage</a></li>
                <li><a class="lineitem__link" href="#">Charities</a></li>
                <li><a class="lineitem__link" href="#">Education</a></li>
                <li><a class="lineitem__link" href="#">Environment</a></li>
                <li><a class="lineitem__link" href="#">Government</a></li>
                <li><a class="lineitem__link" href="#">Graduate</a></li>
                <li><a class="lineitem__link" href="#">Health</a></li>
                <li><a class="lineitem__link" href="#">Marketing &#38; PR</a></li>
                <li><a class="lineitem__link" href="#">Media</a></li>
                <li><a class="lineitem__link" href="#">Sales</a></li>
                <li><a class="lineitem__link" href="#">Senior executive</a></li>
                <li><a class="lineitem__link" href="#">Social care</a></li>
            </ul>
        </div>
    </div>
</div>

}