@(fragments: Seq[Html])(implicit request: RequestHeader)

@defining(("1_0", "2014-08-07")) { case (version, date) =>
    <div class="commercial--v2 commercial--multi commercial--high">
        <div class="facia-container__inner--commercial">
            <div class="container__header">
                <div class="container__header__inner">
                    <h3 class="commercial__title">
                        From across the guardian
                    </h3>
                </div>
            </div>
            <div class="container__body">
                <ul class="lineitems">@fragments</ul>
            </div>
        </div>
    </div>
}
