@(fragments: Seq[Html])(implicit request: RequestHeader)

@defining(("1_0", "2014-08-07")) { case (version, date) =>
    <div class="fc-container fc-container--commercial-multi">
        <div class="fc-container__inner">
            <div class="fc-container__header">
                <h2 class="fc-container__header__title">From across the guardian</h2>
            </div>
            <div class="fc-container__body">
                <div class="commercial commercial--multi">
                    <ul class="lineitems">@fragments</ul>
                </div>
            </div>
        </div>
    </div>
}
