@(ads: Seq[model.commercial.Ad])(implicit request: RequestHeader)
@import model.commercial

<div class="commercial commercial--low">
    <div class="facia-container__inner">
        <div class="container__body commercial__body">

            @ads.map { ad =>
                @ad match {
                    case job: model.commercial.jobs.Job => {
                        @views.html.jobFragments.job(job)
                    }
                    case book: model.commercial.books.Book => {
                        @views.html.books.book(book)
                    }
                    case travelOffer: model.commercial.travel.TravelOffer => {
                        @views.html.travelOfferFragments.travelOffer(travelOffer)
                    }
                    case masterClass: model.commercial.masterclasses.MasterClass => {
                        @views.html.masterClasses.masterClass(masterClass)
                    }
                }
            }

        </div>
    </div>
</div>
