@(offers: Seq[model.commercial.travel.Offer])(implicit request: RequestHeader)

@import conf.Configuration

<link rel="stylesheet" href="@Static("stylesheets/commercial.css")" />

<div class="commercial travel-component">
    <div class="container__title commercial__head">
        <h3 class="commercial__title">
            <a href="@AdLink{@Configuration.commercial.travel_url/}">
                <span class="u-h">Guardian Holiday Offers</span>
                <i class="i i-guardian-holidayoffers-logo"></i>
            </a>
        </h3>
        <form action="@Configuration.commercial.soulmates_url/Search" class="commercial__search hide-on-mobile">
            <div class="commercial__search__travel">
                <i class="i i-search-grey"></i>
                <label for="traveloffer" class="u-h">Find hand picked holidays for hundreds of destinations</label>
                <input id="traveloffer" name="search" class="commercial__search__input" type="text" placeholder="Find your perfect holiday" />
                <button type="submit" class="u-button-reset commercial__search__submit" data-link-name="merchandising-travel-low-search">
                    <i class="i i-search"></i>
                </button>
                <input value="%JustOmnitureToken%" name="INTCMP" type="hidden" />
            </div>
        </form>
        <a class="commercial__home-link" href="@AdLink{@Configuration.commercial.soulmates_url}" data-link-name="merchandising-travel-low-visit-shop">View more great deals
            <span class="commercial__home-link__cta">
                <span class="i i-filter-arrow-down"></span>
            </span>
        </a>
    </div>

    <div class="container__body commercial__body">
        <ul class="lineitems">
            @offers.take(4).map { offer =>
                <li class="lineitem">
                    <a class="lineitem__link" href="@AdLink{@offer.offerUrl}">
                        <img class="lineitem__image" src="@offer.imageUrl" alt="" />
                        <div class="lineitem__offer">
                            <h4 class="lineitem__title">@offer.title</h4>
                            <p class="lineitem__meta">@offer.durationInWords from <span class="lineitem__price">£@offer.fromPrice</span></p>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>

</div>

