@(offers: Seq[model.commercial.travel.Offer])(implicit request: RequestHeader)

@main(Page(
  "Holiday Offers",
  "Travel",
  "Travel offers",
  "Travel offers")){
  }{

<link rel="stylesheet" href="@Static("stylesheets/commercial.css")" />

<div class="commercial travel-component">
    <div class="commercial__head">
        <h3 class="commercial__title">
            <a href="http://www.guardianholidayoffers.co.uk">
                <span class="u-h">Guardian Holiday Offers</span>
                <i class="i i-guardian-holidayoffers-logo"></i>
            </a>
        </h3>
    </div>

    <div class="commercial__body">
        <ul class="lineitems">
            @offers.take(1).map { offer =>
                <li class="lineitem">
                    <a class="lineitem__link" href="@offer.offerUrl?INTCMP=ILCTOFFTXT5263I">
                        <img class="lineitem__image" src="@offer.imageUrl&amp;INTCMP=ILCTOFFTXT5263I" alt="@offer.title" />
                        <div class="lineitem__offer">
                            <h4 class="lineitem__title">@offer.title</h4>
                            <p class="lineitem__meta">@offer.durationInWords from <span class="lineitem__price">£@offer.fromPrice</span></p>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="commercial__foot">
        <form action="http://www.guardianholidayoffers.co.uk/Search" class="commercial__search">
            <i class="i i-search-grey"></i>
            <label for="traveloffer" class="u-h">Find hand picked holidays for hundreds of destinations</label>
            <input id="traveloffer" name="search" class="text-input" type="text" placeholder="Find your perfect holiday" />
            <input value="Search" name="go" class="submit-input" type="submit" />
            <input value="ILCTOFFTXT5263I" name="INTCMP" type="hidden" />
        </form>
    </div>
</div>

<br/>
<br/>
<br/>

<div class="commercial travel-component commercial--w600">
    <div class="commercial__head">
        <h3 class="commercial__title">
            <a href="http://www.guardianholidayoffers.co.uk">
                <span class="u-h">Guardian Holiday Offers</span>
                <i class="i i-guardian-holidayoffers-logo"></i>
            </a>
        </h3>
    </div>

    <div class="commercial__body">
        <ul class="lineitems">
            @offers.take(1).map { offer =>
                <li class="lineitem">
                    <a class="lineitem__link" href="@offer.offerUrl?INTCMP=ILCTOFFTXT5263I">
                        <img class="lineitem__image" src="@offer.imageUrl&amp;INTCMP=ILCTOFFTXT5263I" alt="@offer.title" />
                        <div class="lineitem__offer">
                            <h4 class="lineitem__title">@offer.title</h4>
                            <p class="lineitem__meta">@offer.durationInWords from <span class="lineitem__price">£@offer.fromPrice</span></p>
                        </div>
                    </a>
                </li>
            }
            @offers.take(4).map { offer =>
                <li class="lineitem lineitem-reduced">
                    <a class="lineitem__link" href="@offer.offerUrl?INTCMP=ILCTOFFTXT5263I">
                        <img class="lineitem__image" src="@offer.imageUrl&amp;INTCMP=ILCTOFFTXT5263I" alt="@offer.title" />
                        <div class="lineitem__offer">
                            <h4 class="lineitem__title">@offer.title</h4>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="commercial__foot">
        <form action="http://www.guardianholidayoffers.co.uk/Search" class="commercial__search">
            <i class="i i-search-grey"></i>
            <label for="traveloffer" class="u-h">Find hand picked holidays for hundreds of destinations</label>
            <input id="traveloffer" name="search" class="text-input" type="text" placeholder="Find your perfect holiday" />
            <input value="Search" name="go" class="submit-input" type="submit" />
            <input value="ILCTOFFTXT5263I" name="INTCMP" type="hidden" />
        </form>
    </div>
</div>

}