@mixin immersiveBottom() {
    .fc-item__container {
        overflow: hidden;
    }

    .fc-item__content {
        background-color: $immersive-garnett-main-1;
        z-index: 1;
    }

    .fc-item__headline {
        color: #ffffff;
    }

    .fc-item__media-wrapper {
        img {
            object-fit: cover;
        }
    }

    // ensures image is positioned relative to fc-item__container
    .u-responsive-ratio {
        position: static;
    }
}

@mixin immersiveLeft() {
    .fc-item__container {
        overflow: hidden;
    }

    .fc-item__media-wrapper {
        position: absolute;
        width: 100%;
        flex: none;
    }

    .fc-item__content {
        flex: none;
        position: absolute;
        left: 0;
        height: 100%;
        background-color: $immersive-garnett-main-1;
    }

    .fc-item__headline {
        color: #ffffff;
    }
}

.fc-item--type-immersive {
    .fc-item__kicker:before,
    .fc-item__kicker:after {
        content: none;
    }

    &.fc-item--standard-mobile {
        @include mq($from: mobile, $until: tablet) {
            // @include immersiveBottom();
        }
    }

    &.fc-item--standard-tablet,
    &.fc-item--third-tablet,
    &.fc-item--half-tablet {
        @include mq($from: tablet) {
            @include immersiveBottom();
        }
    }

    &.fc-item--three-quarters-tablet,
    &.fc-item--three-quarters-right-tablet,
    &.fc-item--three-quarters-tall-tablet {
        @include mq($from: tablet) {
            @include immersiveLeft();
        }
    }
}
