@mixin immersiveCommon() {
    .fc-item__kicker {
        display: block;
    }

    .fc-item__container {
        overflow: hidden;
    }

    .fc-item__content {
        background-color: $immersive-garnett-main-1;
    }

    //Todo better way to get this immersive card type to set the height when sublinks. This is fixed height enough to fit two lines of sublink
    &.fc-item--has-sublinks-3 .fc-item__content,
    &.fc-item--has-sublinks-2 .fc-item__content {
        @include mq($from: tablet) {
            padding-bottom: $gs-gutter * 3.6;
        }
    }

    .fc-item__content {
        position: absolute;
        left: 0;

        @include mq($from: tablet) {
            position: relative;
        }
    }

    &.fc-item--standard-tablet .fc-item__content {
        position: absolute;
    }

    .fc-item__headline {
        color: #ffffff;
    }

    .fc-item__media-wrapper {
        position: static;

        img {
            object-fit: cover;
        }
    }

    .fc-slice--h-q-q & .fc-item__standfirst,
    &.fc-item--three-quarters-tablet .fc-item__standfirst,
    &.fc-item--three-quarters-tall-tablet .fc-item__standfirst {
        display: block;
        @include mq($from: tablet) {
            margin-top: $gs-baseline * 2;
        }
    }

    &.fc-item--standard-tablet .fc-item__standfirst {
        display: none;
    }

    .fc-sublink__title {
        color: #ffffff;
    }

    // ensures image is positioned relative to fc-item__container
    .u-responsive-ratio {
        position: static;
    }

    .fc-item__footer--horizontal {
        position: absolute;
        bottom: 0;
    }

}

@mixin immersiveBottom() {
    @include immersiveCommon();

    .fc-item__content {
        bottom: 0;
        right: 0;
    }

    &.fc-item--three-quarters-tall-tablet {
        @include mq($from: tablet) {
            .u-responsive-ratio {
                padding-bottom: 80%;
            }
        }
    }

    &.fc-item--standard-mobile {
        @include mq($from: mobile, $until: tablet) {
            .u-responsive-ratio {
                padding-bottom: 100%;
            }
        }
    }
}

@mixin immersiveLeft() {
    @include immersiveCommon();

    .fc-item__content {
        bottom: 0;
        top: 0;
    }


    .u-responsive-ratio {
        padding-bottom: 45%;
    }
}

@mixin immersiveRight() {
    @include immersiveCommon();

    .fc-item__content {
        left: auto;
        right: 0;
        bottom: 0;
        top: 0;
    }


    .u-responsive-ratio {
        padding-bottom: 45%;
    }
}

.fc-item--type-immersive {

    // ?# It is very easy to opt out as the below, but
    // it increases the cyclomatic complexity of all selectors.
    // Find a better solution!
    &:not(.fc-item--paid-content) {

        .fc-item__kicker:before,
        .fc-item__kicker:after {
            content: none;
        }

        &.fc-item--list-media-mobile .fc-item__kicker:after,
        &.fc-item--list-mobile .fc-item__kicker:after
        {
            content: '/';

            @include mq($from: tablet) {
                content: none;
            }
        }

        &.fc-item--list-media-tablet .fc-item__kicker:after,
        &.fc-item--list-tablet .fc-item__kicker:after
        {
            content: '/';
        }
        
        .fc-item__meta {
            margin-left: auto;
        }

        &.fc-item--standard-tablet,
        &.fc-item--third-tablet,
        &.fc-item--half-tablet,
        &.fc-item--full-media-100-tablet,
        &.fc-item--three-quarters-tall-tablet,
        &.fc-item--full-media-75-tablet,
        &.fc-item--full-media-50-tablet,
        &.fc-item--three-quarters-tablet {
            @include mq($from: tablet) {
                .inline-icon {
                    fill: #ffffff;
                }

                .fc-item__standfirst {
                    color: #ffffff;
                }

                .fc-item__meta {
                    color: #ffffff;
                }
            }
        }

        &.fc-item--standard-mobile {
            @include mq($from: mobile, $until: tablet) {
                @include immersiveBottom();
            }
        }

        &.fc-item--standard-tablet,
        &.fc-item--third-tablet,
        &.fc-item--half-tablet,
        &.fc-item--full-media-100-tablet,
        &.fc-item--three-quarters-tall-tablet {
            @include mq($from: tablet) {
                @include immersiveBottom();
            }
        }

        @mixin immersiveSublinks() {
            &[class*='fc-item--has-sublinks'] {
                .fc-item__footer--horizontal {
                    display: none;
                }
                .fc-sublinks,
                .fc-sublink,
                .fc-item__footer--vertical {
                    display: block;
                }
                .fc-sublinks,
                .fc-sublink {
                    margin-left: 0;
                }
            }
        }

        &.fc-item--full-media-75-tablet,
        &.fc-item--full-media-50-tablet,
        &.fc-item--three-quarters-tablet {
            @include mq($from: tablet) {
                @include immersiveLeft();
                @include immersiveSublinks();
            }
        }

        &.fc-item--three-quarters-right-tablet {
            @include mq($from: tablet) {
                @include immersiveRight();
                @include immersiveSublinks();
            }
        }
    }
}
