.fc-item--type-audio {
    background-color: $audio-garnett-main-1;

    .fc-item__content {
        justify-content: space-between;
    }

    .fc-item__header,
    .fc-item__standfirst {
        flex: 0 1 auto;
    }

    .fc-item__kicker {
        background-color: $audio-garnett-main-1;

        &::before {
            background-color: $audio-garnett-main-1;
        }
    }

    .fc-item__headline {
        color: #ffffff;
    }

    .fc-item__meta-wrapper {
        flex: 0 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: $gs-baseline / 2;
    }

    .fc-item__media-meta,
    .fc-item__meta {
        flex: 0 0 auto;
    }

    .inline-volume-high {
        position: relative;
        top: 2px;

        > svg {
            width: 18px;
        }

        &::after {
            display: inline-block;
            content: '';
            height: 10px;
            margin: 0 6px;
            border: 1px solid;
        }
    }

    .fc-item__standfirst {
        color: #ffffff;
    }

    .fc-item__media-meta,
    .fc-item__meta {
        @include fs-textSans(1);
        font-weight: 600;
    }

    .fc-trail__count--commentcount {
        color: #ffffff;

        svg {
            fill: #ffffff;
        }
    }

    // darken on hover
    &:hover,
    .u-faux-block-link--hover {
        background-color: darken($audio-garnett-main-1, 5%);

        .fc-item__kicker,
        .fc-item__container::before {
            background-color: darken($audio-garnett-main-1, 5%);
        }
    }
}
