$icon-collection-size: 80%;

.collection__show-more,
.collection__show-more:focus,
.collection__show-more:active {
    margin-top: $gs-baseline;
    border: 1px solid colour(guardian-brand-light);
    color: colour(guardian-brand);

    &:hover {
        border-color: colour(guardian-brand-dark);
    }

    .i {
        width: $icon-collection-size;
        height: $icon-collection-size;
    }

    .fc-show-more--hidden & {
        margin-top: 0;
        border: 0;
        color: #ffffff;
    }

}
