$icon-collection-size: 20px;

.button.collection__show-more {
    margin-top: 0;
    background: transparent;

    i {
        width: $icon-collection-size;
        height: $icon-collection-size;
    }
}
