/**
 *  Everything below is pure magic. Trying to even out the different baseline of Guardian font.
 */
.collection__show-more {
    line-height: 2.4;
}

.show-more__text {
    line-height: 0;
}

// Removing the default margin for form elements in FF
.collection__show-more::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}
