/**
 * Fromage object
 *
 * Single full width story, featuring:
 * - volume
 * - image adjustment (hide/default/boost)
 * - supporting links
 */


/* Wrapper
   ========================================================================== */

.fromage {
    margin: 0 $gs-gutter/2 $gs-baseline;
    border-top-width: 1px;
    border-top-style: solid;

    @include mq(tablet) {
        margin-bottom: $gs-baseline*1.75;
    }

    .item__title {
        @include fs-headline(3, $size-only: true);
        padding-top: 0;
        margin-bottom: $gs-baseline;

        @include mq(tablet) {
            @include fs-headline(6, true);
            margin-bottom: $gs-baseline*1.25;
        }
    }

    .stars {
        margin-top: 0 - $gs-baseline * .75;
        margin-bottom: $gs-baseline * 1.25;

        @include mq(tablet) {
            margin-bottom: $gs-baseline * 1.5;
        }
    }


    /* Meta
       ====================================================================== */

    .item__meta {
        overflow: hidden;
        bottom: -1px;
        margin-bottom: $gs-baseline/2;

        @include mq(tablet) {
            bottom: auto;
            right: 0;
            top: 2px;
            min-height: 16px // Prevent jump when timestamp is removed;
        }
    }
    .item__timestamp {
        display: none;
    }
}
.fromage,
.fromage__container {
    @include clearfix;
}
.fromage__container {
    // used for spacing, width set if needed
    border-top: 0 solid transparent;
    position: relative;
    padding-bottom: $gs-row-height - $gs-baseline/3;

    @include mq(tablet) {
        padding-bottom: 0;

        padding-left: gs-span(5) + $gs-gutter;
    }
}


/* Main elements
   ========================================================================== */

.fromage__video-wrapper {
    @include mq(tablet) {
        float: left;
        position: relative;
        width: gs-span(3);
        margin-left: (gs-span(3) + $gs-gutter) * -1;
    }
}

.fromage__video-wrapper--boost {
    @include mq(tablet) {
        width: gs-span(4);
        margin-left: (gs-span(4) + $gs-gutter) * -1;
    }
    @include mq(desktop) {
        width: gs-span(6);
        margin-left: (gs-span(6) + $gs-gutter) * -1;
    }
}

.fromage__video-container .vjs-big-play-button > span {
    @include mq(tablet) {
        @include video-play-button-size($vjs-small-button-size);
    }

    @include mq(desktop) {
        @include video-play-button-size($vjs-large-button-size);
    }
}

.fromage__media-wrapper {
    @include mq(tablet) {
        float: left;
        position: relative;

        width: $left-column-wide;

        margin-left: ($left-column-wide + $gs-gutter) * -1;
    }
}
.fromage__image-container {}

.fromage__standfirst {
    @include fs-headline(1);
    color: $c-neutral2;

    p {
        margin-bottom: 0; // Some trail texts are wrapped in a paragraph
    }

    @include mq(tablet) {
        margin-bottom: $gs-baseline + 2;
        max-width: gs-span(5);
    }
}


/* Modifier: image hide/default/boost
   ========================================================================== */

.fromage__media-wrapper--first {
    &,
    .fromage__image-container {
        display: none;
    }
}
.fromage__media-wrapper--second {
    float: left;
    clear: both;
    width: 50%;
    @include box-sizing(border-box);

    margin-top: 3px;

    padding-right: $gs-gutter/2;
}
@include mq(tablet) {
    .fromage__media-wrapper--first {
        &,
        .fromage__image-container {
            display: block;
        }
    }
    .fromage__media-wrapper--second {
        &,
        .fromage__image-container {
            display: none;
        }
    }
}

.fromage--has-no-image {
    .fromage__container {
        border-top-width: 0;

        @include mq(desktop) {
            padding-left: gs-span(6) + $gs-gutter;
        }
    }
    .fromage__media-wrapper,
    .fromage__image-container {
        display: none !important;
    }
    .item__title {
        @include fs-headline(4, true);
        @include mq(tablet) {
            float: left;
            padding-left: 0;
            width: gs-span(5);
            margin-left: gs-span(5) * -1 - $gs-gutter;
            @include fs-headline(6, true);
        }
        @include mq(desktop) {
            width: gs-span(6);
            margin-left: gs-span(6) * -1 - $gs-gutter;
        }
    }
    .fromage__byline,
    .fromage__standfirst {
        @include mq(tablet) {
            padding-top: $gs-baseline/3;
        }
    }
    @include mq(tablet) {
        .fromage__standfirst,
        .fromage__byline {
            padding-right: $gs-gutter/4;
        }
        .is-modern &.fromage--has-discussion .fromage__standfirst,
        .is-modern &.fromage--has-discussion .fromage__byline {
            // If the story has a discussion, make room for the comment count
            // in the top right of the component
            padding-right: gs-span(1);
        }
    }
}
.fromage--has-image {
    @include mq(tablet) {
        .js-on &.fromage--has-discussion .item__title {
            // If the story has a discussion, make room for the comment count
            // in the top right of the component
            margin-right: gs-span(1);
        }
    }
    .item__title,
    .fromage__standfirst {
        @include mq(desktop) {
            max-width: gs-span(7);
        }
    }
    .fromage__container {
        border-top-width: $gs-baseline/3;

        @include mq(tablet) {
            padding-left: $left-column-wide + $gs-gutter;
        }
    }
    .fromage__media-wrapper {
        @include mq(tablet) {
            width: $left-column-wide;
            margin-left: ($left-column-wide + $gs-gutter) * -1;
        }
    }
}
.fromage--imageadjust-boost {
    .item__title {
        padding-top: $gs-baseline/3;
        @include mq(tablet) {
            padding-top: 0;
            margin-left: 0;
            padding-left: 0;
        }
    }
    .fromage__container {
        @include mq(tablet) {
            padding-left: gs-span(4) + $gs-gutter;
        }
        @include mq(desktop) {
            padding-left: gs-span(6) + $gs-gutter;
        }
    }
    .fromage__media-wrapper {
        @include mq(tablet) {
            width: gs-span(4);
            margin-left: (gs-span(4) + $gs-gutter) * -1;
        }
        @include mq(desktop) {
            width: gs-span(6);
            margin-left: (gs-span(6) + $gs-gutter) * -1;
        }
    }
    .fromage__media-wrapper--first {
        &,
        .fromage__image-container {
            display: block;
        }
    }
    .fromage__media-wrapper--second {
        &,
        .fromage__image-container {
            display: none;
        }
    }
    .supporting {
        @include mq(tablet) {
            -webkit-column-width: rem(gs-span(2) + $gs-gutter*2);
            -moz-column-width: rem(gs-span(2) + $gs-gutter*2);
            column-width: rem(gs-span(2) + $gs-gutter*2);
        }
    }
}
