// Container Icons
// =============================================================================

.fc-container__header__title a {
    .inline-icon {
        fill: colour(news);
        position: relative;
        height: .7em;
        width: 1em;
    }

    &:hover .inline-icon {
        fill: colour(news-accent);
    }
}

// Item Icons
// =============================================================================

.fc-item__timestamp {
    padding-left: 0;

    .inline-icon {
        margin: 0;
        top: 1px;
        position: relative;
        height: 11px;
        width: 11px;
        margin-right: 2px;
        fill: colour(neutral-3);
    }
}

.fc-trail__count .inline-icon {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    float: left;
    margin-right: 1px;
    fill: colour(neutral-3);
}

.fc-item__title--quoted {

    svg {
        width: 1.2em;
        height: .75em;
    }

    .tone-comment--item & .inline-quote,
    .tone-letters--item & .inline-quote,
    .tone-news--item & .inline-quote {
        fill: colour(neutral-2);
    }

    .tone-feature--item & .inline-quote {
        fill: colour(feature-mute);
    }
}

.tone-external--item .fc-item__title {
    .inline-icon {
        fill: colour(external-main-1);
    }

    svg {
        width: 1.2em;
        height: .75em;
        margin-right: .2em;
    }
}

// Media Icons
// =============================================================================

.fc-item--video .fc-item__title,
.rich-link--video .rich-link__title,
.fc-sublink--video .fc-sublink__link {
    svg {
        height: .75em;
        width: 1.1em;
        margin-right: .3em;
    }

    .inline-icon {
        fill: colour(media-default);
    }
}

.fc-item--gallery .fc-item__title,
.rich-link--gallery .rich-link__title,
.fc-sublink--gallery .fc-sublink__link {
    svg {
        height: .72em;
        width: 1.2em;
        margin-right: .1em;
    }

    .inline-icon {
        fill: colour(media-default);
    }
}

.fc-item--audio .fc-item__title,
.rich-link--audio .rich-link__title,
.fc-sublink--audio .fc-sublink__link {
    svg {
        height: .72em;
        width: 1.2em;
        margin-right: .1em;
    }

    .inline-icon {
        fill: colour(media-default);
    }
}


// Item Tonal Overrides
// =============================================================================

.tone-analysis--item,
.tone-comment--item,
.tone-dead--item,
.tone-news--item {
    .fc-sublink--video .inline-icon {
        fill: #000000;
    }

    .fc-sublink--gallery .inline-icon {
        fill: #000000;
    }

    .fc-sublink--audio .inline-icon {
        fill: #000000;
    }
}

.tone-media--item {
    .inline-icon {
        fill: colour(neutral-3);
    }
}

.tone-live--item,
.tone-feature--item {
    .inline-icon {
        fill: colour(feature-mute);
    }
}

.tone-editorial--item {
    .inline-icon {
        fill: colour(editorial-accent);
    }
}
