@mixin headline-boost($size) {
    .fc-item--has-boosted-title & {
        @include fs-headline($size, true);
    }
}

@import 'item-layouts/fc-item--standard';
@import 'item-layouts/fc-item--third';
@import 'item-layouts/fc-item--half';
@import 'item-layouts/fc-item--three-quarters';
@import 'item-layouts/fc-item--three-quarters-right';
@import 'item-layouts/fc-item--three-quarters-tall';
@import 'item-layouts/fc-item--list';
@import 'item-layouts/fc-item--list-compact';
@import 'item-layouts/fc-item--list-compact--media';
@import 'item-layouts/fc-item--list-media';
@import 'item-layouts/fc-item--full-media-50';
@import 'item-layouts/fc-item--full-media-75';
@import 'item-layouts/fc-item--full-media-100';
@import 'item-layouts/fc-item--fluid';
@import 'item-layouts/fc-item--saved-for-later';


// overrides of current slices

.fc-slice__item {
    width: 100%;
    position: relative;
    padding-bottom: 0;
    margin-bottom: $gs-baseline;

    @include mq(tablet) {
        .has-flex & {
            display: flex;
        }
    }

    + .fc-slice__item {
        @include vertical-item-separator;
    }
    + .fc-slice__item--no-mpu:before {
        border-left: 0 !important;
    }

    &.l-list__item {
        margin-bottom: 0;
        padding-bottom: $gs-baseline;
    }
}

.fc-slice__item--mpu-candidate {
    @include mq(tablet) {
        min-height: 250 + $mpu-ad-label-height;
    }
}
.fc-slice__item--no-mpu {
    flex: 0 !important;
}

// new Facia Cards styles
.fc-item--list-mobile {
    @include mq($until: tablet) {
        @include fc-item--list;
    }
}

.fc-item--list-tablet {
    @include mq(tablet) {
        @include fc-item--list;
    }
}

.fc-item--list-compact-tablet {
    @include mq(tablet) {
        @include fc-item--list;

        .fc-item__header {
            padding-bottom: 0;
        }
    }
}

.fc-item--list-media-mobile {
    @include mq($until: tablet) {
        @include fc-item--list-media(3.5, 2);
    }
}

.fc-item--list-media-tablet {
    @include mq(tablet) {
        @include fc-item--list-media;
    }
}

.fc-item--standard-mobile {
    @include mq($until: tablet) {
        @include fc-item--standard;

        &.fc-item--has-cutout {
            .fc-item__header,
            .fc-sublinks {
                padding-right: 25%;
            }
        }

        &[class*="fc-item--has-sublinks"] {
            .has-flex-wrap &.fc-item--has-cutout {
                .fc-item__header {
                    padding-right: 0;
                }

                .fc-sublinks {
                    min-height: gs-height(3) + $gs-baseline;
                }
            }
        }

        .fc-item__avatar {
            height: gs-height(2) + $gs-baseline  * 2;
        }

        .fc-item__avatar__media {
            right: - $gs-gutter;
        }

        .vjs-big-play-button > span {
            @include video-play-button-size($vjs-small-button-size);

            @include mq(mobileLandscape) {
                @include video-play-button-size($vjs-large-button-size);
            }
        }
    }
}

.fc-item--standard-tablet {
    @include mq(tablet) {
        @include fc-item--standard;

        .fc-item__header {
            @include mq($until: desktop) {
                @include fs-headline(2, true);
                @include headline-boost(3);
            }
        }

        &[class*="fc-item--has-sublinks"] {
            .fc-item__standfirst,
            .fc-item__media-wrapper {
                display: none;
            }
        }

        &.fc-item--has-sublinks-1 .fc-item__media-wrapper {
            display: block;
        }

        &.fc-item--has-cutout {
            .fc-item__container {
                padding-bottom: gs-height(3) + $gs-baseline * 3;
            }
        }

        .fc-item__avatar {
            height: gs-height(4);
        }

        .fc-item__avatar__media {
            right: -40%;
        }
    }

    &.fc-item--video {
        @include mq($until: desktop) {

            .fc-item__video-play {
                display: none;
            }
            .fc-item__video-fallback {
                display: block;
            }

        }
    }

    @include mq(desktop) {
        &.fc-item--has-cutout .fc-item__container {
            padding-bottom: gs-height(3) + $gs-baseline  * 2;
        }

        .fc-item__avatar__media {
            right: -20%;
        }
    }
}

.fc-item--third-tablet {
    @include mq(tablet) {
        @include fc-item--third;
    }
}

.fc-item--half-tablet {
    @include mq(tablet) {
        @include fc-item--half;
    }
}

.fc-item--three-quarters-tablet {
    @include mq(tablet) {
        @include fc-item--three-quarters;
    }
}

.fc-item--three-quarters-right-tablet {
    @include mq(tablet) {
        @include fc-item--three-quarters-right;
    }
}

.fc-item--three-quarters-tall-tablet {
    @include mq(tablet) {
        @include fc-item--three-quarters-tall;
    }
}

.fc-item--full-media-50-tablet {
    @include mq(tablet) {
        @include fc-item--full-media-50;

        .fc-sublink:nth-child(n+5) {
            display: none;
        }
    }
}

.fc-item--full-media-75-tablet {
    @include mq(tablet) {
        @include fc-item--full-media-75;

        .fc-sublink:nth-child(n+5) {
            display: none;
        }
    }
}

.fc-item--full-media-100-tablet {
    @include mq(tablet) {
        @include fc-item--full-media-100;
    }
}

.fc-item--fluid-mobile {
    @include mq($until: tablet) {
        @include fc-item--fluid;
    }

    @include mq(mobileLandscape, tablet) {
        .fc-item__image-container {
            display: none;
        }

        .fc-item__header {
            @include fs-headline(5, true);
        }
    }
}

.fc-item--fluid-tablet {
    @include mq(tablet) {
        @include fc-item--fluid;
        @include fc-item--horizontal(20%);

        .has-flex-wrap & {
            .fc-item__container {
                flex-direction: row;
            }
        }

        .fc-item__header {
            @include fs-headline(3, true);
        }
    }

    @include mq(desktop) {
        .fc-item__header {
            @include fs-headline(6, true);
        }

        .fc-item__header,
        .fc-item__standfirst {
            padding-right: 30%;
        }
    }
}

//--
.fc-item--saved-for-later-mobile {
    @include mq($until: tablet) {
        @include fc-item--saved-for-later;
        padding-left: 0;
        padding-right: 0;

        .fc-item__image-container {
            display: none;
        }
    }
}

.fc-item--saved-for-later-tablet {
    @include mq(tablet) {
        @include fc-item--saved-for-later;
        @include fc-item--horizontal(20%);

        .has-flex-wrap & {
            .fc-item__container {
                flex-direction: row;
            }
        }
    }

    @include mq(desktop) {
        .fc-item__header,
        .fc-item__standfirst {
            padding-right: 30%;
        }
    }
}


// Commercial items
.fc-item--list-compact {
    @include fc-item--list-compact;
}

.fc-item--list-compact--media {
    @include fc-item--list-compact--media;
}

.omitted-mpus .l-row--cols-3 .l-row__item--span-1 .fc-item__avatar__media {
    @include mq(tablet) {
        right: -5%;
    }
}

//Live blog items
.fc-slice--single-col {

    .fc-slice__item {
        padding-bottom: 0;

        &:before {
            display: none;
        }
    }

    .fc-item {
        margin-left: 0;
        margin-right: 0;
    }
}
