.fc-slice {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

    @include mq(tablet) {
        overflow: visible; // Prevents height issue in Firefox < 22
    }
}

/*

This file is to be used only for manual overrides of item defaults at a slice level.
Hence why a greater depth of selector specificity is needed.

*/
.fc-slice--hl4-h {
    .has-flex & {
        flex-direction: row-reverse;

        .fc-slice__item:before {
            display: none;
        }

        .fc-item--half-tablet {
            @include vertical-item-separator;

            .fc-item__standfirst {
                @include mq(desktop) {
                    display: none;
                }
            }
        }
    }
}

.fc-slice--h-ql4-ql4 {
    .fc-item--half-tablet {
        .fc-item__standfirst {
            @include mq(tablet, desktop) {
                display: block;
            }
        }
    }
}

.fc-slice--h-q-q {
    .fc-item--half-tablet {
        .fc-item__standfirst {
            @include mq(tablet) {
                display: none;
            }
        }
    }

    .fc-item--standard-tablet {
        .fc-item__standfirst {
            @include mq(desktop) {
                display: block;
            }
        }
    }
}

.fc-slice--h-q_ql2-ql4 {
    .fc-item--half-tablet {
        .fc-item__standfirst {
            @include mq(tablet) {
                display: block !important;
            }
        }
    }
}

.fc-slice--q-qqq {
    .fc-item--list-mobile {
        @include mq($until: tablet) {
            .fc-item__header {
                @include fs-headline(3, true);
            }
        }
    }
}

.facia-slice--q-q-ql-ql,
.facia-slice--q-q-q-ql {
    .fc-item--standard-tablet {
        @include mq(tablet, desktop) {
            .fc-item__standfirst {
                display: block;
            }
        }
    }
}

// reduce type size on q-q-q-q slice if it follows another slice in the same container
.fc-slice-wrapper + .fc-slice-wrapper {
    .fc-slice--q-q-q-q {
        .fc-item--standard-tablet {
            .fc-item__header {
                @include mq(tablet) {
                    @include fs-headline(2, true);
                }
            }
        }
    }
}

.fc-slice--h14-q-q {
    .has-flex & {
        flex-direction: row-reverse;

        .fc-slice__item:before {
            display: none;
        }

        .fc-item--standard-tablet {
            @include mq(tablet) {
                @include vertical-item-separator;
            }
        }
    }

    .fc-item--standard-tablet {
        .fc-item__standfirst {
            @include mq(tablet) {
                display: block;
            }
        }
    }
}

/**
 * Bespoke MPU slice stylings
 */

.fc-slice--tl-tl-mpu {
    @include mq(tablet, $until: desktop) {
        > .fc-slice__item {
            .fc-slice__item:before {
                border: 0;
            }

            &:first-child {
                flex: 1 1 auto;
                width: 50%;

                .fc-slice__item {
                    flex-basis: 100%;
                }
                .fc-slice__item:nth-child(5) {
                    padding-bottom: $gs-baseline;
                }
            }
            &:last-child {
                width: 50%;
            }
        }
    }
}

.fc-slice--t-t-mpu {
    @include mq(tablet, desktop) {
        .fc-slice__item {
            width: 25%;

            .fc-item__title {
                @include fs-headline(2, true);
            }
        }

        .fc-slice__item--mpu-candidate {
            width: 50%;
        }
    }
}

.fc-slice--t-tl-mpu {
    @include mq(tablet, $until: desktop) {
        > .fc-slice__item {
            width: 25% !important;

            &:last-child {
                flex: 2 1 auto;
                width: 50% !important;
            }
        }
    }
}

.fc-slice--popular {
    .fc-slice__item:before {
        display: none;
    }

    .live-pulse-icon:before {
        content: none;
    }

    @include mq(tablet) {
        .fc-slice__popular-mpu {
            position: absolute;
            width: 320px;

            .ad-slot {
                min-height: 274px;
            }
        }
    }

    @include mq(tablet, desktop) {
        .fc-slice__popular-mpu {
            bottom: 0;
            right: 0;
            width: gs-span(4.5);

            .ad-slot--container-inline {
                margin: 0;
                height: 286px;
            }
        }
    }

    @include mq(desktop) {
        .fc-slice__popular-mpu {
            top: $gs-baseline;
            right: -($gs-gutter / 2);
        }

        .tabs__pane {
            width: (100% / 3) * 2;
            min-height: 300px;
        }
    }
}

#dynamic-mpu-1, #dynamic-mpu-2, #dynamic-mpu-3, #dynamic-mpu-4, #dynamic-mpu-5 {
    .ad-slot--container-inline {
        width: gs-span(9);
        background: colour(neutral-8);
        border-bottom: $gs-baseline / 2 solid colour(neutral-8);
    }
    .ad-slot__label {
        text-align: left;
    }
}

/**
 * Commercial Nav lists
 */

.fc-slice--nav-list {
    $alley: $gs-gutter * .5;

    @include mq($until: tablet) {
        @include columns($rule: true);
    }

    @include mq(tablet, desktop) {
        @include columns($cols: 3, $gap: $alley, $rule: true);
    }

    @include mq(desktop) {
        @include columns($cols: 4, $gap: $alley, $rule: true);
    }
}

.fc-slice__item--nav-list {
    display: inline-block;
    width: 100%;
}

.fc-slice--nav-list--media {
    $alley: $gs-gutter * .5;

    @include mq($until: tablet) {
        @include columns($rule: true);
    }

    @include mq(tablet) {
        @include columns($cols: 3, $gap: $alley, $rule: true);
    }
}
