.fc-sublink {
    position: relative;
    padding-top: $gs-baseline * .25;
    margin: $gs-baseline * .75 0;

    a {
        display: block;
        // make sure sublink always clickable, even on mobile/tablet
        z-index: 1 !important;
    }
}

.fc-sublink__title {
    @include fs-headline(1);
    padding-top: 0;
    margin: 0;
    color: $brightness-7;

    &:before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 40%;
        border-top: 1px dotted $brightness-86;
    }

    .fc-sublink__kicker {
        font-weight: 500;
        float: left;
        margin-right: .2em;
    }
}

@mixin fc-sublinks--horizontal {
    @supports (display: flex) {
        & {
            .fc-sublinks {
                display: flex;
            }
            .fc-sublink {
                flex: 1 1 100%;

                & + * {
                    margin-left: $gs-gutter;
                }
            }
        }
    }

    .has-no-flex-wrap & {
        .fc-sublinks {
            display: table;
            table-layout: fixed;
            width: 100%;
        }
        .fc-sublink {
            display: table-cell;
            padding-right: $gs-gutter;

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

@mixin fc-sublinks--below {
    .fc-item__footer--vertical {
        display: none;
    }

    .fc-item__footer--horizontal {
        display: block;
        clear: both;
    }

    @include fc-sublinks--horizontal;
}
