@(page: controllers.commercial.MoneyPage, currentAccounts: Seq[model.commercial.money.CurrentAccount])(implicit request: RequestHeader)
@import controllers.commercial._

@main(page.meta, projectName = Option("commercial")){
}{
    <div class="article-wrapper monocolumn-wrapper">
        <article id="article" class="article" itemprop="mainContentOfPage" itemscope role="main">
            <div class="article__columning-wrapper">
                <div class="article__main-column">
                    <h2>The best current accounts available at moneysupermarket.com</h2>
                    <p>@page.description</p>
                    <ul>
                        @CurrentAccountsPages.all.map { currentAccountsPage =>
                            <li><a href="/commercial/money/current-accounts/@currentAccountsPage.id">@currentAccountsPage.webTitle</a></li>
                        }
                    </ul>
                    @page.id match {
                       case "reward-incentive" => { @moneysupermarket.currentAccounts.tables.rewards(currentAccounts) }
                       case "with-benefits"    => { @moneysupermarket.currentAccounts.tables.withBenefits(currentAccounts) }
                       case "basic-accounts"   => { @moneysupermarket.currentAccounts.tables.basicAccounts(currentAccounts) }
                       case _                  => { @moneysupermarket.currentAccounts.tables.default(currentAccounts) }
                    }
                </div>
            </div>
        </article>
    </div>
}
