.codeExample {
    margin: $gs-baseline 0 $gs-baseline * 4;
}

.exampleOutput,
.codeBlock {
    padding: $gs-baseline;

    &:before {
        color: $c-neutral2;
        @include fs-data(4);
        text-transform: uppercase;
        padding: 0 0 $gs-baseline 0;
        display: block;
        position: relative;
    }
}

.exampleOutput {
    background-image:
        linear-gradient(45deg, fade-out($c-neutral8, 0.25) 25%, transparent 25%, transparent 75%, fade-out($c-neutral8, 0.25) 75%, fade-out($c-neutral8, 0.25)),
        linear-gradient(45deg, fade-out($c-neutral8, 0.25) 25%, transparent 25%, transparent 75%, fade-out($c-neutral8, 0.25) 75%, fade-out($c-neutral8, 0.25));
    background-size: 44px 44px;
    background-position: 0 0, 22px 22px;

    &:before {
        content: 'Example:';
        padding: 0 0 $gs-baseline 0;
    }

    &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

.codeBlock {
    background-color: fade-out($c-neutral7, 0.25);
    overflow: auto;

    &:before {
        content: 'Markup:';
    }

    .highlight pre {
        font-size: 0.875em;
        line-height: 1.4286;
        overflow: visible;
        margin: 0;
    }
} 