.content-card__byline {
    @include fs-header(3);
    padding-left: $gs-gutter / 2;
    padding-right: $gs-gutter;
}

.item.item--content-card {
    margin: 0;
    position: relative;
    overflow: hidden;

    .item__title {
        padding: 0;
    }

    .item__header {
        padding: $gs-baseline / 4 $gs-gutter / 4;
        padding-bottom: $gs-baseline;
    }

    .item__standfirst {
        @include fs-headline(1);
        padding: $gs-baseline / 4 $gs-gutter / 4;
    }

    .item__link {
        text-decoration: none;
    }

    .stars {
        padding-top: $gs-baseline / 4;
    }

    .item__live {
        font-weight: normal;
    }

    .item__gallery-img {
        width: 100%;
    }

    &.content-card--byline-pic {
        .content-card__byline-img {
            height: $gs-baseline * 9.5;
            z-index: 2;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .content-card__byline-img__img {
            height: 100%;
        }

        .item__standfirst {
            padding-right: $gs-gutter * 6;
        }
    }
}

