.i,
.caption:before,
figcaption:before,
blockquote.quoted:before {
    display: inline-block;
    background-repeat: no-repeat;
}
.svg .i {
    @include background-size(contain);
}
.i-date {
    @if ($svg-support) {
        .svg & {
            background-size: 100%;
            width: 10px;
            height: 10px;
        }
    }
}

.caption--img:before {
    content: '';
    vertical-align: top;
    margin-top: 1px;
    @include icon(image);

    .element-video & {
        @include icon(video-icon-grey);
        width: 16px !important;
        height: 12px !important;
        margin-top: $gs-baseline/6;
    }
}

// Quotes
.from-content-api blockquote.quoted:before {
    content: '';
    position: absolute;
    left: 0;
    @include transform(scale(.8));
    @include transform-origin(0);
    @include icon(quote-grey);
}

.item--dark .i-comment-light-grey {
    @extend %i-comment-light-grey;

    @if ($svg-support) {
        .svg & {
            @extend %svg-i-comment-light-grey;
        }
    }
}

@if ($svg-support) {
    .pseudo-icon {
        .svg &:before {
            content: '';
            height: 1em;
            padding-right: .3em;
            vertical-align: -10%;
            display: inline-block;
            background-repeat: no-repeat;
            @include background-size(contain);
        }
    }
    .pseudo-icon--audio--white {
        &:before {
            @extend %svg-i-volume-high-white;
            width: 1.23em;
        }
    }
    .pseudo-icon--download--white {
        &:before {
            @extend %svg-i-download-white;
            width: 1em;
        }
    }
    .pseudo-icon--rss--white {
        &:before {
            @extend %svg-i-rss-white;
            width: 1em;
        }
    }
}
