/* ==========================================================================
   Pop-up
   ========================================================================== */
$popup-anchor-arrow-size: 6px;
$popup-top: $headerHeight + $gs-baseline/2 + 3;
$c-popup-bg: colour(neutral-8);

// Popups align with the label, so if there's a control icon, we need to account
// for it. The number is derived from the icon size on the control.
// TODO:
// use a proper icon size variabe when the icons are redrawn at mulptile sizes
$control-offset: 36 + $gs-gutter/2;

.popup {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    background: $c-popup-bg;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0 rem(1px 1px) 0 rgba(0, 0, 0, .25);
    min-width: gs-span(2);
    top: $popup-top - 2;

    @include mq(mobileLandscape) {
        right: auto;
        bottom: auto;
        top: $popup-top;
    }

    .brand-bar__item--has-control & {
        @include mq(tablet) {
            left: $control-offset;
        };

        .l-header--is-slim & {
            left: 0;
        }
    }

    .brand-bar__item--right & {
        @include mq(tablet) {
            left: auto;
            right: 0;
        }
    }
}

.popup__group {
    z-index: 3;
    margin: 0;
    padding: 0 $gs-gutter/2;
}

.popup__group-header {
    @include fs-textSans(2);
    color: colour(neutral-2);
    padding: $gs-baseline/2 $gs-gutter/2;
    border-top: 1px solid colour(neutral-4);
    padding-bottom: 0;
    margin: 0;

    &:first-of-type {
        border-top: 0;
    }
}

.has-popup {
    cursor: default;
    position: relative;
}

.popup-container {
    position: relative;
    z-index: 11;
}

.popup__toggle {
    // disclosure arrow
    &:after {
        content: '';
        display: inline-block;
        pointer-events: none;
        width: 0;
        height: 0;
        border-bottom: 0;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 4px;
        border-left: $popup-toggle-arrow-size solid transparent;
        border-right: $popup-toggle-arrow-size solid transparent;
        border-top: $popup-toggle-arrow-size solid $c-popup-bg;
    }

    &.is-active,
    .is-active > &,
    .is-not-modern .brand-bar__item--has-control:hover & {
        @include mq(tablet) {
            &:after {
                border-top: 0;
                border-bottom: $popup-toggle-arrow-size solid $c-popup-bg;
            }
        };

        // This is the exposed menu arrow pointing up
        // to the link. It's placed on the link to center it.
        &:before {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 0;
            position: absolute;
            left: 50%;
            border-left: $popup-anchor-arrow-size solid transparent;
            border-right: $popup-anchor-arrow-size solid transparent;
            border-bottom: $popup-anchor-arrow-size solid $c-popup-bg;
            top: $popup-top - $popup-anchor-arrow-size;
        }
    }
}

.popup__toggle {
    &.is-active,
    .is-active > & {
        &:before {
            .has-popup & {
                @include mq(tablet) {
                    margin-left: $control-offset * .5 - $popup-anchor-arrow-size;
                };
            }

            .brand-bar__item--search & {
                @include mq($until: tablet) {
                    margin-left: 0 - $popup-anchor-arrow-size;
                };
            }

            .brand-bar__item--right & {
                @include mq(tablet) {
                    margin-left: 0 - $popup-anchor-arrow-size * 2;
                }
            }

            // This margin must come last in the cascade
            &,
            .l-header--is-slim & {
                margin-left: 0 - $popup-anchor-arrow-size;
            }
        }
    }
}

.l-header .popup__toggle {
    &:after {
        @include mq($until: tablet) {
            display: none;
        };
    }
}

// TODO: Combine parent selector (@at-root) or move context class
.l-header--is-slim.l-header .popup__toggle {
    &:after {
        display: none;
    }
}

.popup__item {
    display: block;
    line-height: 36px;

    a {
        border-bottom: 1px solid colour(neutral-5);
    }

    &:last-child {
        border-bottom: 0;
    };
}

.popup__item,
.popup__action {
    text-align: left;
}

.popup {
    .brand-bar__item--action,
    .brand-bar__item--action:hover {
        display: block;
        white-space: nowrap;
        color: colour(neutral-1);
        line-height: $gs-baseline * 3;
    }

    .brand-bar__item--inline-action {
        display: inline-block !important;
        margin-right: $gs-gutter * .25;
    }
}


/* Profile Menu
   ========================================================================== */
.brand-bar__item--profile {
    // stupid having to reset this, but :not was :not available to all in 2009
    @if ($old-ie == true) {
        .popup__toggle:hover:before,
        .popup__toggle:after {
            display: none !important;
        }
        &.is-signed-in .popup__toggle {
            display: inline-block;
        }
    } @else {
        &:not(.is-signed-in) .popup__toggle {
            &:before,
            &:after {
                display: none !important;
            }
        }
    }
}

.brand-bar__item--profile .save-for-later__icon {
    position: absolute;
    top: 20px;
    left: 30px;
    display: none;
    fill: colour(news-main-2);

    &[data-saved-content-count] {
        display: inline;
    }
}

.js-on.is-modern .brand-bar__item--saved-for-later:after {
    display: inline-block;
    content: attr(data-saved-content-count);
    position: relative;
    top: -1px;
    line-height: $gs-baseline;
    font-size: 11px;
    margin-left: $gs-gutter / 2;
    padding: 0 $gs-gutter / 3;
    border-radius: 30px;
    text-align: center;
    background: colour(news-main-2);
    color: #ffffff;
}

/* Search Menu
   ========================================================================== */

.popup--search {
    z-index: $zindex-modal;
    padding: 0;
    right: 0;
    padding-top: 5px; // manual amount, determined by google, not guss-grid-system
    min-height: 51px; // manual amount, determined by google, not guss-grid-system
    top: $headerHeight -2 + $gs-baseline / 2;

    @include mq(mobileLandscape) {
        top: $popup-top;
    }

    @include mq(tablet) {
        right: auto;
        min-height: auto;
        width: gs-span(8) + $gs-gutter;
        min-height: 68px;
        left: $gs-gutter/2;
        padding: $gs-gutter;
        padding-top: $gs-gutter + 5px; // manual amount, determined by google, not guss-grid-system
    }

    @include mq(leftCol) {
        left: 50%;
        margin-left: 0 - (gs-span(7) + $gs-gutter);
    }

    // account for google search sizes.
    .search-box {
        margin-bottom: -1px;
    }
}
