.progress-bar {
    // Magic number
    width: 400px;
}

// Set percentage width of complete and incomplete with JS
.progress-bar__complete {
    background-color: colour(guardian-brand-dark);
    // TODO: One day…
    /*width: attr(data-percentage length);*/
    display: inline-block;
}

.progress-bar__incomplete {
    display: inline-block;
    background-color: colour(neutral-3);
}
