.element-replicated-links--not-in-test {
    display: none;
}

.element-replicated-links {
    @include fs-textSans(1);
    border-left: $gs-gutter/3 solid colour(neutral-4);
    padding: 0 0 $gs-baseline/4 $gs-gutter;
    margin-bottom: $gs-baseline;
    overflow: auto;

    @include mq($until: mobileLandscape) {
        margin-left: -$gs-gutter/2;
    }
}

.element-replicated-links__links--contracted {
    max-height: 150px;
    overflow-y: hidden;
}

.element-replicated-links__title {
    @include fs-header(1);
    color: colour(neutral-1);
    margin-bottom: $gs-baseline;
}

.element-replicated-link {
    font-size: 15px;
    position: relative;
    margin-bottom: $gs-baseline/2;

    a {
        padding: $gs-baseline/2 0;

        &:hover,
        &:focus {
            text-decoration: none;

            .element-replicated-link__domain,
            .element-replicated-link__headline {
                text-decoration: underline;
            }
        }

        &.element-replicated-link--upgraded:hover {
            text-decoration: underline;
        }
    }
}

.element-replicated-link__number {
    position: absolute;
    top: $gs-baseline/3;
    left: -$gs-gutter - 3px;
    width: $gs-gutter;
    text-align: right;
    color: colour(neutral-2);
}

.element-replicated-link__text {
    @include fs-bodyCopy(1);
    color: colour(neutral-2);
    font-style: italic;
}

.element-replicated-link__pointer {
    @include fs-textSans(1);
    color: colour(neutral-2);
    margin-left: $gs-gutter/10;
}

.element-replicated-links__more--hidden {
    display: none;
}
