.element-replicated-links--not-in-test {
    display: none;
}

.element-replicated-links {
    @include fs-textSans(1);
    border-left: $gs-gutter/3 solid colour(neutral-4);
    padding: 0 0 $gs-baseline/2 $gs-gutter/2;
    margin-bottom: $gs-baseline;
    position: relative;
    overflow: auto;

    @include mq($until: mobileLandscape) {
        margin-left: -$gs-gutter/2;
    }
}

.element-replicated-links__links {
    margin-bottom: $gs-baseline;
    font-size: 15px;
}

.element-replicated-links__links--contracted {
    max-height: 150px;
    overflow: hidden;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: $gs-baseline * 3;
        pointer-events: none;
        z-index: 1;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    }   
}

.element-replicated-links__title {
    @include fs-header(1);
    color: colour(neutral-1);
    margin-bottom: $gs-baseline;
}

.element-replicated-link__internal {
    margin-bottom: $gs-baseline/1.5;

    a {
        padding: $gs-baseline/2 0;
    }
}

.element-replicated-links__sources {
    margin: $gs-baseline 0 0;
    display: inline-block;
}

.element-replicated-link__external {
    display: inline-block;    

    &:nth-last-child(n+2) {
        &:after {
            content: ',';
        }
    }

    a {
        font-size: 0;

        span {
            font-size: 15px;
        }
    }
}

.element-replicated-links__more {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.element-replicated-links__more--hidden {
    display: none;
}
