$sfl-button-height: 30px;

@mixin sfl-button-style($foreground: $neutral-2, $background: #ffffff) {
    .save-for-later__button {
        color: $foreground;

        .inline-icon {
            border-color: $foreground;
        }
    }

    .save-for-later__button--save,
    .save-for-later__button--saved:hover {
        .inline-icon {
            fill: $foreground;
            background-color: $background;
        }
    }

    .save-for-later__button--saved,
    .save-for-later__button--save:hover {
        .inline-icon {
            fill: $background;
            background-color: $foreground;
        }
    }
}

@mixin sfl-button-toned($tone, $foreground: $news-main-1, $background: #ffffff) {
    .tonal--tone-#{$tone} {
        @include sfl-button-style($foreground, $background);
    }
}

// size etc
.save-for-later__button {
    @include button-height($sfl-button-height);
    font-size: get-font-size(textSans, 1);
    border: 0;
    background-color: transparent;
    padding: 0;

    .inline-icon {
        text-align: center;
        margin: 0;
        margin-right: .5em;
        width: $sfl-button-height;
        height: $sfl-button-height;
        border-width: 1px;
        border-style: solid;

        svg {
            width: 8px;
        }
    }
}

// colours per state
@include sfl-button-style();
@include sfl-button-toned(analysis, $analysis-accent);
@include sfl-button-toned(comment, $comment-default);
@include sfl-button-toned(dead, $live-default, $neutral-7);
@include sfl-button-toned(editorial, $editorial-default);
@include sfl-button-toned(feature, $feature-default);
@include sfl-button-toned(letters, $comment-default);
@include sfl-button-toned(live, $live-default, $neutral-8);
@include sfl-button-toned(media, $media-default, $media-background);
@include sfl-button-toned(news);
@include sfl-button-toned(review, $review-background);

// Specific fix for pages that are special-report & media
.content--media.tonal--tone-special-report {
    .save-for-later__button {
        color: $news-support-1;
        .inline-icon {
            fill: $news-support-1;
            border-color: $news-support-1;
            background-color: $news-support-6;
        }
        &:hover {
            .inline-icon {
                fill: $news-support-6;
                background-color: $news-support-1;
            }
        }
    }
}

// button labels per state
.save-for-later__label {
    display: none;
}

@each $state in (save, saved, remove) {
    .save-for-later__button--#{$state} {
        .save-for-later__label--#{$state} {
            display: inline;
            .meta__extras--crossword & {
                display: none;
            }

        }
    }
}
