.social-icon--facebook {
    background-color: $social-facebook;
    &:hover {
        background-color: darken($social-facebook, 10%);
    }
}

.social-icon--gplus {
    background-color: $social-gplus;
    &:hover {
        background-color: darken($social-gplus, 10%);
    }

    .content--media & {
        display: block;
    }
}

.social-icon--whatsapp {
    background-color: $social-whatsapp;
    &:hover {
        background-color: darken($social-whatsapp, 10%);
    }
}

.social-icon--messenger {
    background-color: $social-messenger;
    &:hover {
        background-color: darken($social-messenger, 10%);
    }
}

.social-icon--twitter {
    background-color: $social-twitter;
    &:hover {
        background-color: darken($social-twitter, 10%);
    }
}

.social-icon--linkedin {
    background-color: $social-linkedin;

    &:hover {
        background-color: darken($social-linkedin, 10%);
    }
}

.social-icon--pinterest {
    background-color: $social-pinterest;

    &:hover {
        background-color: darken($social-pinterest, 10%);
    }
}

.social-icon--email {
    background-color: $social-email;
    &:hover {
        background-color: darken($social-email, 10%);
    }
}
