/*doc
---
title: Social
name: social
category: Common
---

```html_example
<ul class="social u-unstyled u-cf">
    <li class="social__item">
        <a class="social__action social-icon-wrapper" href="#">
            <span class="u-h">Share via Email</span>
            <span class="social-icon"><i class="i-share-email--white i"></i></span>
        </a>
    </li>
    <li class="social__item">
        <a class="social__action social-icon-wrapper" href="#">
            <span class="u-h">Share on Facebook</span>
            <span class="social-icon"><i class="i-share-facebook--white i"></i></span>
        </a>
    </li>
    <li class="social__item">
        <a class="social__action social-icon-wrapper" href="#">
            <span class="u-h">Share on Twitter</span>
            <span class="social-icon"><i class="i-share-twitter--white i"></i></span>
        </a>
    </li>
    <li class="social__item">
        <a class="social__action social-icon-wrapper" href="#">
            <span class="social-icon">
                <i class="i-share-gplus--white i"></i>
                <span class="social-icon__label">Share on Google+</span>
            </span>
        </a>
    </li>
</ul>
```
*/

.social {
    overflow-y: hidden;
    height: 32px;
}

.social__item {
    float: left;
    min-width: 36px;
    padding: 0 3px $gs-baseline/2 0;

    @include mq(leftCol) {
        min-width: 32px;
    }
}

.social__item--whatsapp {
    @include mq(tablet) {
        display: none;
    }
}

.social__action {
    display: inline-block;
}


/**
 * Social icons
 * Usage:
 * <element class="social-icon-wrapper">
 *     <span class="social-icon">
 *         <i class="i share-icon-xxx"></i>
 *     </span>
 * </element>
 * <element class="social-icon-wrapper">
 *     <span class="social-icon social-icon--small">
 *         <i class="i share-icon-xxx"></i>
 *         <span class="social-icon__label">Share on xxx</span>
 *     </span>
 * </element>
 */

.social-icon {
    @extend %icon-holder-circle;
    border: 0;
    min-width: 32px;
    max-width: 100%;
    width: auto;
    height: 32px;
    @include ellipsis();

    &,
    &:hover,
    &:active,
    &:focus {
        color: #ffffff;
        text-decoration: none;
    }

    svg {
        height: 88%;
        width: 88%;
        vertical-align: middle;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    .social-icon__label {
        @include fs-textSans(2);
        margin: 0 .8em 0 -.5em;
    }
}

.social-icon--small {
    min-width: 24px;
    height: 24px;

    i {
        width: 24px;
        background-size: 100% !important;
    }

    .social-icon__label {
        @include fs-textSans(1);
        margin: 0 .7em 0 -.3em;
    }
}

.social-icon__label {
    white-space: nowrap;
    font-weight: bold;
}

.social-icon--facebook {
    background-color: colour(social-facebook);
    &:hover {
        background-color: darken(colour(social-facebook), 10%);
    }
}

.social-icon--gplus {
    background-color: colour(social-gplus);
    &:hover {
        background-color: darken(colour(social-gplus), 10%);
    }

    .content--media & {
        display: block;
    }
}

.social-icon--whatsapp {
    background-color: colour(social-whatsapp);
    &:hover {
        background-color: darken(colour(social-whatsapp), 10%);
    }
}

.social-icon--twitter {
    background-color: colour(social-twitter);
    &:hover {
        background-color: darken(colour(social-twitter), 10%);
    }
}

.social-icon--linkedin {
    background-color: colour(social-linkedin);

    &:hover {
        background-color: darken(colour(social-linkedin), 10%);
    }
}

.social-icon--pinterest {
    background-color: colour(social-pinterest);

    &:hover {
        background-color: darken(colour(social-pinterest), 10%);
    }
}

.social-icon--email {
    background-color: colour(social-email);
    &:hover {
        background-color: darken(colour(social-email), 10%);
    }
}

.selection-sharing {
    position: absolute;
    margin-top: -$gs-baseline * 3;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s ease;
    z-index: $zindex-content;

    .social__item {
        padding: 0 $gs-gutter / 10;
        width: 32px;
    }

    .inline-icon svg {
        width: 80%;
        display: block;
    }
}

.selection-sharing.selection-sharing--active {
    visibility: visible;
    opacity: 1;
}

// Testing static social on mobile
.social-fixed {
    height: 40px;
    position: fixed;
    left: 0;
    bottom: -40px;
    width: 100%;
    opacity: 0;
    z-index: 10;
    transition: bottom .4s ease;
}

.social-fixed__item {
    color: #ffffff;
    float: left;
    border-radius: 20px;

    .i {
        height: 40px;
        width: 40px;
        float: left;
        margin: 0 (-$gs-gutter/2) 0 (-$gs-gutter*.6) !important;
    }
}

.social-fixed__item--facebook {
    background-color: colour(social-facebook);
    margin: 0 $gs-gutter/4 0 $gs-gutter/2 !important;
}

.social-fixed__item--twitter {
    background-color: colour(social-twitter);
}

.social-fixed--show {
    bottom: $gs-baseline/2;
    opacity: 1;
}

.share-text {
    float: left;
    @include fs-textSans(3);
    font-weight: 700;
    padding: ($gs-baseline/3*2) ($gs-gutter/10) 0 ($gs-gutter/2);
}

.social--referred-only {
    &.social--bottom .social__item {
        display: none;
    }

    &.social--top .social__item--referred,
    &.social--bottom .social__item--referred {
        display: list-item;
    }
}

.social__item--referred {
    @include mq($until: desktop) {
        margin-right: $gs-baseline / 3;
    }

    .social-icon:after {
        @include fs-textSans(1);
        margin-right: $gs-baseline;
        margin-left: $gs-baseline * -1/2;

        .svg & i {
            width: none;
        }
    }

    .social-icon:after {
        @include fs-textSans(1);
        margin-right: $gs-baseline;
        margin-left: $gs-baseline * -1/2;

        .svg & i {
            width: none;
        }
    }

    .svg & .social-icon i {
        width: 32px;
    }

    &.social__item--facebook .social-icon:after {
        content: 'Share on Facebook';
    }

    &.social__item--twitter .social-icon:after {
        content: 'Share on Twitter';
    }

    &.social__item--facebook .social-icon:after,
    &.social__item--twitter .social-icon:after {
        @include mq(leftCol, $until: wide) {
            & {
                content: 'share';
            }
        }
    }
}

// Pintrest is inappropriate in certain sections

.social__item--pinterest {
    .content[class*="-network"] &,
    .content[class*="-leadership"] &,
    .content[class*="-careers"] &,
    .content[class*="-advertisement-feature"] &,
    .content[class*="-partner-zone"] & {
        display: none;
    }
}
