.submeta {
    margin-top: $gs-baseline;
}

.submeta__section-labels {
    @include fs-textSans(5);
    min-height: $gs-row-height;
    border-top: 1px dotted $neutral-5;
    padding-top: $gs-baseline / 2;

    &:before {
        @include fs-textSans(1);
        content: 'More';
        color: $neutral-2;
        display: block;
        margin-bottom: -($gs-baseline / 4);
    }
}

.submeta__keywords {
    @include fs-textSans(4);
    padding-bottom: $gs-baseline;
    min-height: $gs-baseline * 2;
    border-bottom: 1px dotted $neutral-5;
    margin-bottom: $gs-baseline / 2;
}

.submeta__keywords--borderless {
    border-bottom: none;
}

.submeta__links {
    list-style: none;
    overflow: hidden;
    margin-bottom: 0;
    margin-left: -.3em;
    margin-top: 0;
}

.submeta__link-item {
    @include nav-links;

    &:after {
        @include trailing-slash;
        color: $neutral-5;
    }

    &:last-of-type:after,
    &.more-tags:after {
        content: none;
    }
}

.submeta__link {
    font-weight: bold;

    .submeta__keywords & {
        color: $neutral-2;
    }
}

.submeta__badge {
    width: 33px;
    float: right;
    margin-top: -$gs-baseline;
    margin-left: $gs-gutter / 2;
}

.submeta__share {
    margin-bottom: $gs-baseline / 2;

    @include mq(tablet) {
        float: left;
        margin-right: $gs-gutter / 2;
        margin-bottom: 0;
    }
}

.submeta__syndication {
    display: none;
    @include mq(desktop) {
        @include fs-textSans(1);
        padding-top: $gs-baseline/2;
        display: inline-block;
        height: 32px;
        float: right;
        line-height: 15px;
        margin-bottom: 0;
    }
}
