.submeta-container {

    .content--liveblog & {
        padding-top: $gs-baseline;
        border-top: 1px dotted $c-neutral3;
    }

    @include mq(leftCol) {
        margin-top: $gs-baseline*2;
    }

    .content--article & {
        margin-top: $gs-baseline*1.5;
    }

    .content__main-column--gallery & {
        @include mq(leftCol) {
            padding-bottom: $gs-baseline*4;
        }
    }

    .gallery-lightbox__item--endslate & {
        display: none;
    }

    .submeta {
        border-top: 0;
    }

    .submeta__head {
        display: none;
    }

    .container--rolled-up-hide & {
        left: $gs-gutter;
        margin-bottom: -$gs-baseline/1.5;
    }
}

.submeta-container--break-at-leftcol {
    @include mq(leftCol) {
        margin-top: 0;
        width: $left-column;
        position: absolute;
        bottom: 0;
        left: -1 * ($left-column + $gs-gutter);

        .content--media & {
            border-top: 0;
        }

        .content__main-column--media & {
            bottom: -($gs-baseline/4);
        }

        .submeta {
            padding-top: 0;
            border-top: 1px dotted $c-neutral4;
        }
        .submeta__head {
            display: block;
        }
    }

    @include mq(wide) {
        width: $left-column-wide;
        left: -$left-column-wide - $gs-gutter;
    }
}

.submeta-container--break-at-wide {
    @include mq(wide) {
        margin-top: 0;
        width: $left-column-wide;
        position: absolute;
        bottom: 0;
        left: -$left-column-wide - $gs-gutter;

        .content--media & {
            border-top: 0;
        }

        .submeta {
            padding-top: 0;
            border-top: 1px dotted $c-neutral4;
        }

        .submeta__head {
            display: block;
        }

        .content__main-column--media & {
            bottom: -($gs-baseline/4);
        }
    }
}

.submeta {
    border-top: 1px dotted $c-neutral4;
}

.content--article,
.content--liveblog,
.content--gallery,
.content--media,
.content--image,
.content--interactive {
    .submeta__head {
        @include mq($until: leftCol) {
            display: none;
        }
    }
    .social {
        padding-top: $gs-baseline / 2;
        padding-bottom: $gs-baseline / 2;
    }
}

.content--interactive {
    .submeta--top {
        overflow: hidden;
        padding-top: $gs-baseline / 2;
        margin-bottom: $gs-baseline / 2;

        .submeta__head {
            display: none;
        }

        @include mq(desktop) {
            position: absolute;
            top: 0;
            right: 0;
            border-top: 0;
        }
    }
}

.submeta + .submeta {
    margin-top: $gs-baseline;
}

.submeta__head {
    @include fs-textSans(1);
    color: $c-neutral2;
    padding: $gs-baseline/3 0 $gs-baseline;
}
