.sudoku__container {
    max-width: 374px;
}

.sudoku__grid {
    outline: none;
    width: 100%;
}

.sudoku__cell rect {
    fill: #ffffff;
    cursor: pointer;
}

.sudoku__cell--not-editable .sudoku__cell-text {
    font-weight: bold;
}

.sudoku__cell--highlighted rect {
    fill: lighten(colour(crosswordAccent2), 30%);
}

.sudoku__cell--focussed rect {
    fill: lighten(colour(crosswordAccent2), 10%);
}

.sudoku__cell--error .sudoku__cell-text {
    fill: colour(error);
}

.sudoku__cell-text {
    cursor: pointer;
    font-size: 38px;
    text-anchor: middle;
    font-family: $f-sans-serif-text;
}

.sudoku__cell-jotting {
    font-weight: 600;
    cursor: pointer;
    font-size: 10px;
    text-anchor: middle;
    font-family: $f-sans-serif-text;
}

.sudoku__button-background {
    cursor: pointer;
    fill: #d7d7d7;

    .sudoku__button:hover & {
        fill: lighten(colour(crosswordAccent2), 30%);
    }
}

.sudoku__button-text {
    cursor: pointer;
    text-anchor: middle;
    font-family: $f-sans-serif-text;
    font-size: 42px;
}
