.inline-icon {
    fill: #ffffff;

    svg {
        overflow: visible;
    }
}

.inline-icon--light-grey {
    fill: colour(neutral-3);
}

.inline-close--small svg {
    height: 45%;
    width: 45%;
}

.inline-icon__fallback {
    display: none !important;
}

.inline-tone-fill {
    fill: colour(news-default);

    .tonal--tone-comment & {
        fill: colour(comment-default);
    }

    .tonal--tone-feature & {
        fill: colour(feature-default);
    }

    .tonal--tone-review & {
        fill: colour(review-background);
    }

    .tonal--tone-editorial & {
        fill: colour(editorial-default);
    }

    .tonal--tone-analysis & {
        fill: colour(analysis-accent);
    }

    .tonal--tone-live &,
    .tonal--tone-dead & {
        fill: colour(live-default);
    }

    .tonal--tone-media & {
        fill: colour(media-default);
    }

    .tonal--tone-special-report & {
        fill: colour(news-support-6);
    }
}

.no-svg {
    .inline-icon {
        display: none !important;
    }

    .inline-icon__fallback {
        display: block !important;
    }
}
