a,
.u-fauxlink {
    color: colour(news-default);
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
    &:active {
        color: colour(news-accent);
        text-decoration: none;
    }
}
