/**
 * This will stop the z-index chaos in the entire universe once for all.
 *
 *
 * How to:
 *
 * 1. Choose the importance of the parent. 
 * Example: Using $beta
 *
 *    Parent { z-index: $beta; }
 * 
 * 2. Parent is probably creating z-index context thus inside parent you should increment importance
 *    by incrementing the base. 
 * Example:
 *
 * 	  Child__1 { z-index: $beta + 1; }
 * 	  Child__2 { z-index: $beta + 2; }
 *
 * 3. This will produce
 * Example:
 *
 * 	  Parent   { z-index: 100; }
 * 	  Child__1 { z-index: 101; }
 * 	  Child__2 { z-index: 102; } 
 */

$alpha: 0;    // 0 to 99 - for less important things
$beta: 100;   // 100 to 199 - importance is higher
$gamma: 200;  // 200 to 299 - importance is higher
 
// Open space for other possible additions

$zeta: 800;   // 800 to 899 - Ads
$omega: 1000; // 1000+ - the highest importance (sticky navigation, breaking news...)