@(popular: model.MostPopular, country: Option[String], countryCode: String)(implicit request: RequestHeader)

<div class="right-most-popular right-most-popular--image component--rhc" data-component="geo-most-popular" data-importance="-1">
    <h3 class="article__meta-heading">Most popular @{country.map{ name => s"in ${name}"}}</h3>
    <ul class="right-most-popular__items u-unstyled" data-link-name="Right hand most popular geo @countryCode">
        @popular.trails.take(5).zipWithRowInfo.map{ case(trail, row) =>
            <li class="right-most-popular-item" data-link-name="trail | @row.rowNum">
                <a class="right-most-popular-item__url media u-cf" href="@LinkTo{@trail.url}">
                    @trail.trailPicture(5, 3).map{ image =>
                        <div class="right-most-popular-item__img media__img">
                            <img class="responsiveimg" src="@Item120.bestFor(image)" alt="" />
                        </div>
                    }
                    <h4 class="right-most-popular-item__headline media__body">@trail.linkText</h4>
                </a>
            </li>
        }
    </ul>
</div>
