@(videos: Seq[model.Video])(implicit request: RequestHeader)

<div class="video-end-slate" data-component="video-end-slate">

    <div class="video-end-slate__header">
        <h3 class="video-end-slate__heading">You may also like</h3>
    </div>
    <ul class="video-end-slate u-unstyled" data-link-name="Video end slate">
        @videos.map(item(_))
    </ul>

</div>

    @item(content: model.Video) = {
        <li class="video-end-slate__item">
            <a class="video-end-slate__item" href="@LinkTo{@content.url}">
                @content.trailPicture(5, 3).map{ image =>
                    <div class="video-end-slate__item__img">
                        <img class="responsiveimg" src="@Item140.bestFor(image)"/>
                    </div>
                }
                <h4 class="video-end-slate__item__headline">@content.videoLinkText</h4>
            </a>
        </li>
    }
