@(page: MetaData, editorsPicks: Seq[Trail])

<!DOCTYPE html>

<html>

<head>
    <title>beta.guardian.co.uk</title>
    @fragments.commonJavaScriptSetup(Static)
    @fragments.metaData(page, conf.Configuration)

    @fragments.commonCssSetup(Static)
    <link rel="stylesheet" type="text/css" href="@Static("stylesheets/main.css")" />

</head>

<body>
    <div id="container">
        <div class="line">
            <div class="unit lastUnit">
                @fragments.placeholders("tier1", 5)

                <img src="@Static("images/logo-mobile.gif")" alt="The Guardian" class="component" />
                @fragments.navigation()
                @fragments.headline("Top stories")
            </div>
        </div>

        <div class="line trailblock">
            @defining(editorsPicks.length){ numEditorsPicks =>
            
                <ul class="plain">
                    @editorsPicks.zipWithRowInfo.map{ case(trail, row) =>
                        <li>
                            <div class="trail unit @if(row.isOdd) { size1of2 } else { lastUnit }">@fragments.formatTrail(trail)</div>
                        </li>
                    }
                </ul>

                @if(numEditorsPicks > 4) {
                    <h3 class="b1 b1b expander"><a class="js-expand-trailblock" href="javascript://">More top stories</a> <span class="count">@(numEditorsPicks - 4)</span></h3>
                }

            }

        </div>
    </div>

    @fragments.debugInfo()
    @fragments.analytics(page, conf.Configuration)
</body>
</html>