@(page: MetaData, editorsPicks: Seq[Trail])

<!DOCTYPE html>

<html>

<head>
    <title>beta.guardian.co.uk</title>
    @fragments.commonJavaScriptSetup(Static)
    @fragments.metaData(page, conf.Configuration)

    @fragments.commonCssSetup(Static)
    <link rel="stylesheet" type="text/css" href="@Static("stylesheets/main.css")" />

</head>

<body>
    <div id="container">
        <div class="line">
            <div class="unit size1of1">
                @fragments.placeholders("tier1", 5)
                <h2>Top stories</h2>
            </div>
        </div>

        <div class="line">
            @editorsPicks.map{trail => <div class="unit size1of2">@fragments.formatTrail(trail)</div>}
        </div>
    </div>

    @fragments.debugInfo()
    @fragments.analytics(page, conf.Configuration)
</body>
</html>