@(front: Front)(implicit request: RequestHeader)

@main(front, Static, Configuration){
    @if(Edition(request, Configuration) == "UK"){
        <meta name="google-site-verification" content="W1mbAtOtyQWbkB1xyLqj_oE6gkorVHc63aolsCmeJKM" />
    }
    @if(Edition(request, Configuration) == "US"){
        <meta name="google-site-verification" content="oV0bsb2xop5v-Q8rFDlLdGza5uFgSwT_x783bMxh4S8" />
    }
    <link rel="stylesheet" type="text/css" href="@Static("stylesheets/front.min.css")" />
}{
    <div id="container">
        <div class="line">
            <div class="unit lastUnit">
                @fragments.adSlot(id="top-banner-ad", baseSlot="x50", medianSlot="x52", extendedSlot="x54")
                @fragments.navigation(Static, Configuration, front)
            </div>
        </div>
        @front.trailblocks.map{ block =>
            @fragments.frontBlock(block)
        }
        <div id="most-popular"></div>
    </div>

    @fragments.debugInfo(Configuration)
    @fragments.analytics(front, Configuration)
}