
.feedback__form {
    border: 0;
    outline: none;
    display: none;
}

.feedback__form--selected {
    display: block;
}

.feedback__element {
    margin-top: $gs-baseline * 2;
    margin-bottom: $gs-baseline * 2;
}

.feedback__entry {
    border: 1px solid $neutral-4;
    padding: .75rem;
    outline: none;
    appearance: none;
    border-radius: .5rem;
    display: block;
    width: 80%;
}

.feedback__textarea {
    height: 13em;
}

.feedback__select {
    border: 1px solid $neutral-4;
    padding: .5rem;
    margin-top: $gs-baseline * 2;
    outline: none;
    appearance: none;
    border-radius: 1.2rem;
    display: block;
    cursor: pointer;
    background: #ffffff url(//jobs.theguardian.com/assets/dist/images/down-arrow.png) no-repeat 93% 50%;
    background-size: 16px auto;
    width: 80%;
}

.feedback__entry--mandatory-failed {
    border-color: $error;
}

#feedback__explainer {
    color: $error;
}
