/*

Third item. Looks a bit like this:

*********************************
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

x x x x x x x x x x x x x x x x x
x x x x x x x x x x x x x x x
x x x x x x x x







*********************************

*/


@mixin fc-item--third {
    @include fc-item--standard;

    &.fc-item--has-cutout {
        .fc-item__container {
            padding-bottom: gs-height(3);
        }

        &[class*='fc-item--has-sublinks'] {
            .fc-item__container {
                @include mq(desktop) {
                    padding-bottom: 0;
                }
            }
        }

        .fc-sublinks {
            @include mq(desktop) {
                padding-right: gs-span(2);
            }
        }
    }

    .fc-item__avatar {
        height: gs-height(3) + $gs-baseline * 2;

        @include mq(desktop) {
            height: gs-height(4);
        }
    }

    .fc-item__avatar__media {
        right: -20%;
    }
}
