@()
<div class="abtest-item">
    <div class="abtest-item__titlebar">
        <h3 class="abtest-item__name"></h3>
        <span class="label label-success abtest-item__active-label">active</span>
        <span class="label label-danger abtest-item__expired-label">expired</span>
        <span class="label label-success abtest-item__switched-on-label">on</span>
        <span class="label label-danger abtest-item__switched-off-label">off</span>
        <span class="abtest-item__description"></span>
    </div>
    <div class="abtest-item__participation"></div>
    <div class="row">
        <div class="col-md-3 abtest__details">
            <table class="abtest__table table table-r table-bordered table-hover">
                <thead>
                <th colspan="2">Details</th>
                </thead>
                <tbody>
                <tr>
                    <th class="abtest-item__expiry-title">Expires</th>
                    <td class="abtest-item__expiry"></td>
                </tr>
                <tr>
                    <th class="abtest-item__audience-title">Audience</th>
                    <td class="abtest-item__audience"></td>
                </tr>
                <tr>
                    <th class="abtest-teim__audience-offset-title">Offset</th>
                    <td class="abtest-item__audience-offset"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
