@(chart: tools.Chart)

@* placeholder for chart *@
<div id="@chart.id" class="chart @chart.format.cssClass"></div>

<script type="text/javascript">
    new google.visualization.LineChart(document.getElementById('@chart.id'))
        .draw(google.visualization.arrayToDataTable(@Html(chart.asDataset)), {
            title: '@chart.name',
            colors: [@Html(chart.format.colours.map(c => s"'$c'").mkString(","))],
            @if(chart.labels.size == 2){
                legend: "none",
                vAxis: {title: '@chart.labels(1)'},
            } else {
                legend: { position: "in" },
            }
            chartArea: { width: "85%" },
            titleTextStyle: {color: '#999'},
            axisTitlesPosition: 'in',
            fontName : 'Georgia',
            smoothLine: true
    });
</script>
