@(page: controllers.commercial.MoneyPage, savings: Seq[model.commercial.money.SavingsAccount])(implicit request: RequestHeader)

@main(page.meta){
}{
    <div class="article-wrapper monocolumn-wrapper">
        <article id="article" class="article" itemprop="mainContentOfPage" itemscope role="main">
            <div class="article__columning-wrapper">
                <div class="article__main-column">
                    <h2>The best savings accounts available at moneysupermarket.com</h2>
                    <p>@page.description</p>
                    <ul>
                        <li><a href="/commercial/money/savings/cash-isas">Cash ISAs</a></li>
                        <li><a href="/commercial/money/savings/easy-access">Easy access</a></li>
                        <li><a href="/commercial/money/savings/fixed-rate-bonds">Fixed rate bonds</a></li>
                        <li><a href="/commercial/money/savings/regular-savers">Regular savers</a></li>
                        <li><a href="/commercial/money/savings/childrens-accounts">Children's accounts</a></li>
                        <li><a href="/commercial/money/savings/notice-accounts">Notice accounts</a></li>
                        <li><a href="/commercial/money/savings/offshore-accounts">Offshore accounts</a></li>
                    </ul>
                    @page.id match {
                        case "cash-isas" => { @moneysupermarket.savings.tables.cashIsas(savings) }
                        case _           => { @moneysupermarket.savings.tables.default(savings) }
                    }
                </div>
            </div>
        </article>
    </div>
}
