<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="charset" content="utf-8" />
    <title>Guardian Colours</title>
    <link href="demo.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Colours</h1>

    <div class="b-rainbow-red"></div>
    <div class="b-rainbow-orange"></div>
    <div class="b-rainbow-yellow"></div>
    <div class="b-rainbow-green"></div>
    <div class="b-rainbow-blue"></div>
    <div class="b-rainbow-indigo"></div>
    <div class="b-rainbow-violet"></div>

    <p>Double rainbow, all the way</p>
    <p><a href="https://github.com/guardian/guss-colours">Guss Colours GitHub Project</a></p>

    <script>
        // Enable iteration through querySelectorAll
        // https://gist.github.com/DavidBruant/1016007
        NodeList.prototype.forEach = Array.prototype.forEach;
        HTMLCollection.prototype.forEach = Array.prototype.forEach; // Because of https://bugzilla.mozilla.org/show_bug.cgi?id=14869

        (function() {
            function componentToHex(c) {
                var hex = c.toString(16);
                return hex.length == 1 ? "0" + hex : hex;
            }

            function rgbToHex(r, g, b) {
                return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
            }

            document.querySelectorAll('[class^="b-"]').forEach(function (colour) {
                var colourName  = window.getComputedStyle(colour, ':before').getPropertyValue('content');
                 // Firefox returns a quoted string. We only need the text
                colourName = colourName.replace(/"/g, '');

                var colourValueRGB = getComputedStyle(colour).backgroundColor.match(/\d+/g);
                var r = parseInt(colourValueRGB[0]).toString(16);
                var g = parseInt(colourValueRGB[1]).toString(16);
                var b = parseInt(colourValueRGB[2]).toString(16);
                var hexColourValue = rgbToHex(r, g, b);

                colour.innerHTML = '<span class="colour-name">' + colourName + '</span>'
                                 + '<span class="colour-value">' + hexColourValue + '</span>';
            })
        })();
    </script>
</body>
</html>
