# Folder specific config all lives in here because you can't currently
# extend these files:
# https://github.com/eslint/eslint/issues/2824

**/stylesheets
**/javascripts/bower_components
**/javascripts/components
**/javascripts/vendor
**/javascripts/projects/common/utils/atob.js
**/javascripts/projects/common/utils/picturefill.js

**/deploys-radiator/node_modules
**/deploys-radiator/jspm_packages
**/deploys-radiator/target
**/deploys-radiator/config.js
