**/stylesheets/**/*.js
**/javascripts/bower_components/**/*.js
**/javascripts/components/**/*.js
**/javascripts/vendor/**/*.js
**/javascripts/projects/common/utils/atob.js
**/javascripts/projects/common/utils/picturefill.js

**/deploys-radiator/node_modules
**/deploys-radiator/jspm_packages
**/deploys-radiator/target
**/deploys-radiator/config.js
