{
    "env": {
        "node": false,
        "browser": true,
        "amd": true
    },
    "rules": {
        "camelcase": "off",
        // We should reset these to errors, but will require lots of changes
        "no-shadow": "off",
        "strict": "off",
        "no-alert": "off",
        "no-all-lodash-import": "error"
    }
}
