.ad-slot--remove {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 1;
    cursor: pointer;
    color: #6e6e6e;
    font-family: $f-sans-serif-text;
    @include font-size(12, 20);

    .inline-icon {
        fill: #6e6e6e;

        svg {
            width: 10px;
            height: 10px;
        }
    }

    .ad-slot--hide-ads {
        display: inline-block;
        padding-right: 4px;
        color: #6e6e6e;
    }

    .ad-slot--top-above-nav &,
    .ad-slot--merchandising-high &,
    .ad-slot--merchandising & {
        top: 0;
        right: percentage(1/2);
    }

    .ad-slot--merchandising-high &,
    .ad-slot--merchandising & {
        top: 4px;
    }

    .ad-slot--gallery-inline & {
        color: colour(neutral-3);

        .inline-icon {
            fill: colour(neutral-3);
        }

        .ad-slot--hide-ads {
            color: colour(neutral-3);
        }
    }
}

.survey-close {
    position: absolute;
    cursor: pointer;
    width: 32px;
    height: 32px;
    top: 20px;
    right: 20px;

    svg {
        margin-top: 5px;
        width: 14px;
        height: 14px;
    }
}

.survey-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: $zindex-overlay;
    width: 100%;
    height: 100%;


    .site-message__close-btn {
        border: 1px solid rgba(#333333, .3);
        color: #333333;

        &:hover,
        &:focus,
        &:active {
            border-color: #333333;
        }

        svg {
            fill: #333333;
        }

        @include mq($until: tablet) {
            position: static;
        }

    }

    .survey-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: $gs-row-height $gs-column-width*.5;
        background-color: #aad7f0;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMjEyLjAxMnB4IiBoZWlnaHQ9IjExOC45MnB4IiB2aWV3Qm94PSIwIDAgMjEyLjAxMiAxMTguOTIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIxMi4wMTIgMTE4LjkyIgoJIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxwb2x5Z29uIGZpbGw9IiNCQzQwN0YiIHBvaW50cz0iMCwxMTguOTIgMCwxNS4xMTYgMTkwLjYyNywtMC4wMDEgMjAxLjkwOCwxMTguOTIgCSIvPgoJPHBvbHlnb24gZmlsbD0iIzc3OTZBOCIgcG9pbnRzPSIxODkuNTkyLDExOC45MiAxMDkuMDgyLDEwMi41OTQgMTA1LjUwMSwxMTguOTIgCSIvPgoJPHBvbHlnb24gZmlsbD0iI0ZDRUI0MCIgcG9pbnRzPSI5MC4zOCwxMTguOTIgMjA4LjQ0OSw5NS40MTQgMjEyLjAxMSwxMTguOTIgCSIvPgo8L2c+Cjwvc3ZnPg==);
        background-repeat: no-repeat;
        background-position: 80% 100%;
        background-size: 130%;
        color: #ffffff;
        box-sizing: border-box;

        @include mq(tablet) {
            left: 50%;
            top: percentage(1/5);
            width: $gs-column-width*6;
            height: auto;
            margin-left: -180px;
            background-size: 100%;
            background-position: -2px 100%;
        }

    }

    .survey-logo {
        position: absolute;
        bottom: -7px;
        right: 20px;

        svg {
            fill: #000000;
            width: 26px;
        }
    }

    .survey-icon {
        text-align: center;
        display: none;

        @include mq(tablet) {
            display: block;
        }
    }

    .survey-new {
        svg {
            fill: #c4488a;
            width: 40px;
            height: 20px;
        }
    }

    .survey-text__header {
        @include fs-headline(4);
        color: #000000;
        font-weight: bold;
        margin-bottom: $gs-baseline*4;

        @include mq(mobileLandscape) {
            @include fs-headline(5);
            font-weight: bold;
        }
    }

    .survey-content {
        position: absolute;
        bottom: 50px;
        padding-right: 30px;

        @include mq(tablet) {
            position: static;
            padding: 0;
        }
    }

    .survey-text__info {
        @include fs-bodyCopy(1);
        font-size: 12px;
        line-height: 120%;
        margin: 0 $gs-gutter $gs-gutter/2 0;
    }

    .inline-membership-logo {
        svg {
            width: 100px;
            height: 34px;
        }
    }

    .survey-link {
        @include clearfix;
        border: 1px solid rgba(#ffffff, .3);
        @include circular;
        float: left;
    }

    .survey-link__takepart {
        color: #ffffff;
        @include fs-textSans(2);
        display: block;
        float: left;
        padding: 0 8px;
        line-height: 30px;
    }

    .inline-arrow-white-right {
        display: block;
        float: right;
        height: 30px;
    }
}

.survey-overlay-simple {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: $zindex-overlay;
    width: 100%;
    height: 100%;


    .site-message__close-btn {
        @include mq($until: tablet) {
            position: static;
        }

    }

    .survey-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: $gs-row-height $gs-column-width*.5;
        background-color: #01558b;
        color: #ffffff;
        box-sizing: border-box;

        @include mq(tablet) {
            left: 50%;
            top: percentage(1/5);
            width: $gs-column-width*6;
            height: auto;
            margin-left: -180px;
        }

    }

    .survey-logo {
        position: absolute;
        bottom: 25px;
        right: 20px;

        svg {
            fill: #ffffff;
            width: 26px;
        }
    }

    .survey-icon {
        text-align: center;
        margin-bottom: $gs-baseline;

        svg {
            width: 100px;
            height: 100px;
            margin-top: -20px;

            @include mq(mobileLandscape) {
                display: none;
            }

            @include mq(tablet) {
                display: inline;
                width: 150px;
                height: 150px;
            }

        }
    }

    .survey-text__header {
        @include fs-headline(4);
        color: #ffffff;
        font-weight: bold;
        margin-bottom: $gs-column-width/2;

        @include mq(mobileLandscape) {
            @include fs-headline(5);
            font-weight: bold;
            margin: -27px 50px 0 0;
        }

        @include mq(tablet) {
            margin: 0 0 $gs-column-width/2;
        }
    }

    .survey-content {
        position: absolute;
        bottom: 35px;
        padding-right: 30px;

        @include mq(tablet) {
            position: static;
            padding: 0;
        }
    }

    .survey-text__info {
        @include fs-bodyCopy(1);
        font-size: 12px;
        line-height: 120%;
        margin: 0 $gs-gutter $gs-column-width/2 0;
    }

    .survey-link {
        @include clearfix;
        border: 1px solid rgba(#ffffff, .3);
        @include circular;
        float: left;
    }

    .survey-link__takepart {
        color: #ffffff;
        @include fs-textSans(2);
        display: block;
        float: left;
        padding: 0 8px;
        line-height: $gs-column-width/2;
    }

    .inline-arrow-white-right {
        display: block;
        float: right;
        height: $gs-column-width/2;
    }
}

.live-events-thrasher {
    position: relative;
    width: 100%;
    background-color: #aad7f0;
    color: #ffffff;
    margin-bottom: $gs-baseline;

    .fc-container__inner {
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI5ODBweCIgaGVpZ2h0PSIxNzBweCIgdmlld0JveD0iMCAwIDU1NS42IDk2Ljg1NiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTU1LjYgOTYuODU2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjQkM0MDdGIiBwb2ludHM9IjQuMTQzLDk2Ljc5OSAwLDM1LjA5IDU0NS42NDEsMCA1NTUuNiw5Ni44NTYgIi8+PHBvbHlnb24gZmlsbD0iI0ZDRUI0MCIgcG9pbnRzPSIzODcuODIsOTYuODU2IDUxOS44OTMsNzUuOTA3IDUyMy44ODEsOTYuODU2ICIvPjwvc3ZnPg==);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        //background-size: 150% 55%;

        @include mq(tablet) {
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI5ODBweCIgaGVpZ2h0PSIxNzBweCIgdmlld0JveD0iMCAwIDU1NS42IDk2Ljg1NiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTU1LjYgOTYuODU2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjQkM0MDdGIiBwb2ludHM9IjQuMTQzLDk2Ljc5OSAwLDM1LjA5IDU0NS42NDEsMCA1NTUuNiw5Ni44NTYgIi8+PHBvbHlnb24gZmlsbD0iI0ZDRUI0MCIgcG9pbnRzPSIzODcuODIsOTYuODU2IDUxOS44OTMsNzUuOTA3IDUyMy44ODEsOTYuODU2ICIvPjwvc3ZnPg==);
        }

        @include mq(desktop) {
            background-size: 100% 90%;
        }

        @include mq(wide) {
            background-size: auto auto;
        }
    }

    .thrasher-glogo {
        position: absolute;
        bottom: 10px;
        right: 2%;

        @include mq(tablet) {
            right: 4%;
        }

        @include mq(desktop) {
            bottom: 0;
        }

        @include mq(wide) {
            right: 10%;
        }

        svg {
            width: 26px;
            height: 26px;
        }
    }

    .inline-icon {
        fill: #000000;
    }

    .thrasher-content {
        @include clearfix;
        margin-top: 20px;
    }

    .thrasher-content-new {
        height: 30px;
        svg {
            fill: #fceb40;
            width: 40px;
            height: 20px;
        }
    }

    .thrasher-link {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
    }

    .thrasher-content__logo {
        margin: 0 0 0 20px;
        position: absolute;
        top: 10px;

        @include mq(tablet) {
            top: auto;
            bottom: 5px;
        }

        @include mq(desktop) {
            margin-left: 0;
        }

        @include mq(wide) {
            margin-left: 30px;
        }

        svg {
            width: 100px;
            height: 34px;
        }
    }

    .thrasher-content__header {
        margin: 20px 0 0 20px;

        @include mq(tablet) {
            margin-bottom: 65px;
        }
        @include mq(desktop) {
            float: right;
            @include clearfix;
            margin-bottom: 0;
        }
        @include mq(leftCol) {
            margin-right: 110px;
        }
        @include mq(wide) {
            margin-right: 187px;
        }
    }

    .thrasher-content__header--logo {
        text-align: center;
        line-height: 0.6;

        @include mq(desktop) {
            float: left;
            margin: 0 $gs-gutter 0 $gs-gutter*2;
            text-align: left;
        }
    }

    .inline-thrasher-benefit-icon {
        svg {
            width: 250px;
            height: 120px;
        }
    }

    .thrasher-content__header--text {
        @include fs-headline(5);
        font-weight: bold;
        padding-right: 20px;

        @include mq(tablet) {
            margin-bottom: $gs-baseline*3;
        }

        @include mq(desktop) {
            float: left;
            width: $gs-column-width*9;
            margin: 5px $gs-gutter 0 0;
            @include fs-headline(6);
            font-weight: bold;
            padding-right: 0;
        }

        @include mq(wide) {
            margin: 5px 0 0 $gs-gutter;
        }

    }
}

.has-page-skin {
    .live-events-thrasher {
        @include mq(wide) {
            .thrasher-content__header {
                margin-right: 0;
            }
            .thrasher-glogo {
                right: 4%;
            }
            .thrasher-content__logo {
                margin-left: 10px;
            }
        }

    }
}

.adfreesurvey-wrapper {
    .adfreesurvey-wrapper-inner {
        margin: 0 auto;
        width: auto;
        padding: 0 $gs-gutter $gs-gutter;

        @include mq(tablet) {
            margin: 0 auto;
            width: $gs-column-width*8;
            padding: $gs-gutter 0;
        }
    }

    .inline-survey-thumbsup {
        margin-bottom: $gs-gutter/2;
        display: block;
        padding-top: $gs-gutter;
    }

    .inline-survey-loudspeaker,
    .inline-thankyou-email {
        display: block;
        text-align: center;
        margin-top: $gs-gutter;

        svg {
            width: 100px;
            height: 100px;
        }
    }

    .inline-arrow-right {
        float: right;
        fill: #7d7d7d;

    }

    .inline-membership-logo {
        margin: $gs-gutter 0;
        display: block;
        svg {
            width: 100px;
            height: 40px;

            g {
                fill: #bf4181;
            }
        }
        @include mq(tablet) {
            margin: $gs-gutter*2 0 30px;
        }
    }

    h1 {
        @include fs-headline(4);
        color: guss-colour(guardian-brand, $pasteup-palette);
        font-weight: bold;
        margin-bottom: $gs-gutter;

        @include mq(tablet) {
            @include fs-headline(6);
            font-weight: bold;
        }
    }

    h2 {
        @include fs-header(4);
        color: guss-colour(guardian-brand, $pasteup-palette);
        margin-bottom: $gs-baseline/2;
    }

    p {
        margin-bottom: $gs-baseline;
        @include fs-bodyCopy(1);
    }

    .standfirst {
        @include fs-bodyCopy(2);
    }

    .button--secondary {
        border-color: #7d7d7d;
        background-color: transparent;

        &:hover {
            background-color: guss-colour(neutral-7, $pasteup-palette);
        }
    }

    .button--medium {
        line-height: 32px;
    }

    .footer-area {
        background-color: colour(neutral-5);

        .adfreesurvey-wrapper-inner {
            width: auto;
            padding: $gs-gutter;
            margin: 0 auto;

            @include mq(tablet) {
                width: $gs-column-width*10;
                padding: $gs-gutter*2 0;
            }
        }

        img {
            display: block;
        }

        .l-row__item:last-child {
            margin-top: $gs-gutter;

            @include mq(tablet) {
                margin-top: 0;
            }
        }

    }

    &.adfreesurvey-simple-wrapper {
        .adfreesurvey-wrapper-inner--footer {
            @include mq(tablet) {
                width: $gs-column-width*8;
            }
        }
    }

}
