@mixin separator($colour, $left, $margin-left: 0) {
    content: '';
    position: absolute;
    left: $left;
    top: 0;
    bottom: 0;
    margin-left: $margin-left;
    width: 1px;
    background: $colour;
}

.adverts {
    padding: 0 $gs-gutter / 2;
    position: relative;

    @include mq(tablet) {
        padding: 0 calc(50% - 370px);
    }

    @include mq(desktop) {
        padding: 0 calc(50% - 490px);
    }

    @include mq(leftCol) {
        padding: 0 calc(50% - 570px);
    }

    @include mq(wide) {
        padding: 0 calc(50% - 650px);
    }

    .inline-commercial {
        display: block;
    }
}

.adverts--legacy {
    @include mq($until: tablet) {
        padding: 0;
    }

    @include mq(leftCol) {
        display: flex;

        > .adverts__header {
            box-sizing: border-box;
            padding-bottom: $gs-baseline;
            padding-top: $gs-baseline;
            width: 240px;
        }

        > .adverts__body {
            flex: 1;
        }

        .adverts__ctas {
            margin-left: (-1 * $gs-gutter / 2);
            margin-right: (-1 * $gs-gutter / 2);
        }
    }

    > .adverts__header {
        .inline-logo-guardian {
            @include mq(leftCol) {
                display: none;
            }
        }

        @include mq($until: mobileLandscape) {
            padding: $gs-baseline / 2 $gs-gutter / 2;
        }

        @include mq(mobileLandscape, leftCol) {
            padding: $gs-baseline / 2 $gs-gutter;
        }
    }

    > .adverts__body {
        @include mq(mobileLandscape) {
            box-sizing: border-box;
            max-width: gs-span(8) + ($gs-gutter * 2);
        }
        @include mq(tablet) {
            max-width: gs-span(9) + ($gs-gutter * 2);
        }
        @include mq(desktop) {
            max-width: gs-span(12) + ($gs-gutter * 2);
        }
    }

    .adverts__title {
        color: #ffffff;
        @include fs-header(2);
    }

    .adverts__logo {
        color: #ffffff;
        display: flex;
        flex-direction: column;

        /* http://alistapart.com/article/axiomatic-css-and-lobotomized-owls */
        > * + * {
            margin-top: $gs-baseline / 2;
        }

        svg {
            display: block;
            fill: #ffffff;
            max-width: 100%;
        }
    }

    .advert {
        position: relative;
    }

    .adverts__row {
        padding: $gs-baseline $gs-gutter / 2;

        @include mq(mobileLandscape) {
            display: flex;

            > * {
                margin: 0 $gs-gutter / 2;

                /* In Firefox, flex items have a min-width: auto, which prevents
                   them from shrinking when they have an image larger than the
                   size the item would normally fill. The only workaround to
                   solve this is to overwrite min-width on the flex item.
                   Additionnally, we put a max-width constraint on the container
                   otherwise it will overflow.
                   See https://bugzilla.mozilla.org/show_bug.cgi?id=1139931 */
                min-width: 0;
                > .advert__image-container {
                    max-width: 100%;
                }
            }
        }

        @include mq(mobileLandscape, $until: tablet) {
            flex-flow: row wrap;

            > * {
                flex-basis: calc(50% - #{$gs-gutter});
            }

            > :nth-child(2) ~ * {
                margin-top: $gs-baseline;
            }

            > * + * {
                position: relative;

                &:nth-child(even)::before {
                    @include separator($neutral-4, $gs-gutter / -2);
                }
            }
        }

        @include mq(tablet) {
            > * + * {
                position: relative;

                &::before {
                    @include separator($neutral-4, $gs-gutter / -2);
                }
            }
        }

        @include mq(desktop) {
            padding-bottom: 0;
        }
    }

    .adverts__row--wrap {
        position: relative;
        padding-top: 0;

        @include mq(mobileLandscape) {
            > *::before {
                content: none;
            }
        }
    }

    .adverts__2cols {
        @include mq(tablet) {
            > * {
                position: relative;
                z-index: 1;
            }

            &::after {
                @include separator($neutral-4, calc((100% - #{$gs-gutter}) / 2), $gs-gutter / 2);
            }
        }
    }

    .adverts__3cols {
        @include mq(tablet) {
            > * {
                position: relative;
                z-index: 1;
            }

            &::before {
                @include separator($neutral-4, calc((100% - #{$gs-gutter}) / 3), $gs-gutter / 2);
            }

            &::after {
                @include separator($neutral-4, calc((100% - #{$gs-gutter}) / 3 * 2), $gs-gutter / 2);
            }
        }
    }
}

.adverts--legacy-single {
    .advert {
        flex-basis: calc(75% - #{$gs-gutter});
        flex-grow: 0;
    }

    .advert--inverse > .advert__image-container {
        flex-basis: calc(33.33% - #{$gs-gutter / 2});
        margin-right: 0;
    }

    .adverts__row > .advert::after {
        @include separator($neutral-4, 100%, $gs-gutter / 2);
    }

    .adverts__row > .button::before {
        content: none;
    }
}

.adverts__header {
    display: flex;
    flex-direction: column;

    @include mq(tablet) {
        padding: 0 $gs-gutter;
    }
}

.adverts__kicker {
    .paidfor-meta__label {
        padding-left: 0;
    }
    .paidfor-label .popup__toggle {
        border: 0;
    }
}

.adverts__title {
    @include fs-headline(4, true);
}

.adverts__ctas,
.adverts__stamp {
    margin-top: auto;
}

.adverts__ctas {
    display: flex;
    flex-direction: column;

    /* http://alistapart.com/article/axiomatic-css-and-lobotomized-owls */
    > * + * {
        margin-top: $gs-baseline / 2;
    }
}

.adverts__ctas + .adverts__stamp {
    margin-top: 0;
}

.adverts__body {
    position: relative;
    padding-bottom: $gs-baseline;
}

.adverts__row {
    @include mq($until: tablet) {
        /* http://alistapart.com/article/axiomatic-css-and-lobotomized-owls */
        > * + * {
            margin-top: $gs-baseline;
        }
    }

    @include mq(tablet) {
        display: flex;
        padding: $gs-baseline $gs-gutter / 2 0;

        > * {
            flex: 1;
        }
    }

}

.adverts__row--wrap {
    @include mq(tablet) {
        flex-wrap: wrap;
    }
}

.adverts__2cols {
    > * {
        flex-basis: calc(50% - #{$gs-gutter / 2});
    }

    > :nth-child(even) {
        margin-left: $gs-gutter;
    }

    > :nth-child(2) ~ * {
        margin-top: $gs-baseline;
    }
}

.adverts__3cols {
    > * {
        flex-basis: calc(33.33% - #{$gs-gutter});
    }

    > :nth-child(3) ~ * {
        margin-top: $gs-baseline;
    }
}

@include mq(tablet) {
    .adverts__row--2x1x1 > :nth-child(1),
    .adverts__row--1x2x1 > :nth-child(2),
    .adverts__row--1x1x2 > :nth-child(3) {
        flex-basis: calc(50% - #{$gs-gutter} - 1px);
        flex-grow: 0;
    }

    .adverts__row--3x1 > :nth-child(1),
    .adverts__row--1x3 > :nth-child(2) {
        flex-basis: calc(75% - #{$gs-gutter});
        flex-grow: 0;
    }
}

.adverts__column {
    display: flex;
    flex-wrap: wrap;

    &:not(.adverts__2cols) {
        > * + * {
            margin-top: $gs-baseline;
        }
    }
}

.adverts__badge {
    @include fs-textSans(1);
    color: $neutral-2;
    font-weight: bold;
    padding-right: $gs-gutter;
    text-align: right;
}

.adverts__badge__logo {
    max-height: $gs-baseline * 5;
    margin-left: $gs-gutter / 2;
    vertical-align: middle;
}

.adverts__more {
    @include mq(tablet) {
        margin: $gs-baseline 0;
    }

    > summary {
        cursor: pointer;
        display: block;
        margin: 0 $gs-gutter / 2;
        outline: none;
        width: max-content;
        border-radius: 1000px;

        &::-webkit-details-marker {
            display: none;
        }

        @include mq(mobileLandscape) {
            margin: 0 $gs-gutter;
        }
    }

    &:not([open]) .inline-minus,
    &[open] .inline-plus {
        display: none;
    }

    &:not([open]) > *:not(summary) {
        display: none;
    }
}


/* Theming */
.adverts--legacy {
    background: #eaeaea;

    > .adverts__header .button {
        color: #ffffff;
    }

    .adverts__blurb {
        @include fs-headline(1);
        color: #ffffff;

        @include mq(leftCol) {
            @include fs-headline(2);
        }
    }

    .button {
        margin-right: 0;
    }
}

.adverts--framed {
    @include mq(tablet) {
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: calc(50% - 370px);
            background: rgba(51, 51, 51, .06);
        }

        &::before { left: 0; }
        &::after { right: 0; }
    }

    @include mq(desktop) {
        &::before,
        &::after {
            width: calc(50% - 490px);
        }
    }

    @include mq(leftCol) {
        &::before,
        &::after {
            width: calc(50% - 570px);
        }
    }

    @include mq(wide) {
        &::before,
        &::after {
            width: calc(50% - 650px);
        }
    }
}

/* Let's remove this shit when we revamp badges: */
.adverts {
    .ad-slot--paid-for-badge--front {
        border: 0;
        clear: none;
        float: none;
        min-height: 0;
        overflow: visible;
        margin: auto $gs-gutter / 4 0;
        padding: 0;
        position: static;
        width: auto;

        &::before,
        &::after {
            content: none;
        }
    }

    .ad-slot--paid-for-badge--front .ad-slot--paid-for-badge__link {
        margin-top: 0;
    }

    .ad-slot--paid-for-badge .ad-slot--paid-for-badge__inner {
        overflow: visible;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .ad-slot--paid-for-badge .ad-slot--paid-for-badge__header {
        clear: none;
        display: inline;
        overflow: visible;
    }

    .ad-slot--paid-for-badge .ad-slot--paid-for-badge__link {
        display: inline-block;
        float: none;
        clear: none;
    }

    .ad-slot--paid-for-badge .ad-slot--paid-for-badge__logo {
        display: inline-block;
        margin-left: $gs-gutter / 2;
        vertical-align: middle;
        max-height: 5 * $gs-baseline;
    }

    .ad-slot--paid-for-badge--front .ad-slot--paid-for-badge__link:after {
        content: none;
    }
}
/* /remove */

@import '_adverts-books';
@import '_adverts-masterclasses';
@import '_adverts-jobs';
@import '_adverts-soulmates';
@import '_adverts-capi';
@import '_adverts-brand';
@import '_adverts-membership';
