.adverts--shop {
}

.adverts--tone-shop {
    > .adverts__header {
        background: $features-main-1;
    }
}

.adverts--tone-shop .button--legacy-single,
.advert--shop .button {
    @include button-colour(
        $features-support-4,
        null
    );
}

.advert--shop {
    &:hover,
    &:focus,
    &:active {
        .button {
            @include button-colour(
                darken($features-support-4, 5%),
                null
            );
        }
    }

    .advert__image-container {
        height: auto;
        min-height: 11 * $gs-baseline;
    }
}

.adverts--tone-shop .button--legacy-single {
    &:hover,
    &:focus,
    &:active {
        @include button-colour(
            darken($features-support-4, 5%),
            null
        );
    }
}
