.adverts--soulmates {
    .inline-logo-soulmates svg {
        width: 100px;
        height: 21px;

        @include mq(mobileLandscape) {
            width: 120px;
            height: 28px;
            padding: 0;
        }

        @include mq(leftCol, $until: wide) {
            width: 100px;
            height: 21px;
        }
    }

    .adverts__ctas {
        margin-top: $gs-baseline * 2;

        .button {
            background: none;
            border: 0;
            display: flex;
            align-items: center;
        }

        svg {
            width: initial;
            height: initial;
            margin-right: $gs-gutter / 2;
        }
    }

    .search {
        margin: $gs-baseline 0;

        @include mq(tablet) {
            flex-basis: gs-span(3);
            flex-grow: 0;
        }
    }

    .search__field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e6e1c3;
        padding-bottom: $gs-baseline / 2;
        margin-bottom: $gs-baseline / 2;
    }

    .search__label {
        line-height: 1;
    }

    .search__submit {
        float: right;
    }
}

.adverts--tone-soulmates {
    background: #f5f3e7;

    > .adverts__header {
        background: guss-colour(soulmates-colour, $frontend-palette);
    }

    .adverts__blurb {
        @include fs-headline(2);
        font-weight: bold;

        &::before {
            content: '';
            display: block;
            margin: $gs-baseline * 2 0 $gs-baseline;
            width: 20px;
            height: 1px;
            background: #666666;
        }
    }

    .search {
        @include fs-textSans(2);
    }
}

.advert--soulmate {
    .advert__image {
        max-height: 7 * $gs-baseline;
    }
}
