.advert {
    box-sizing: border-box;
    color: inherit;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: .75rem;
    line-height: 1rem;
    padding-bottom: $gs-baseline / 2;

    &:hover,
    &:focus {
        text-decoration: none;

        .advert__title {
            text-decoration: underline;
        }
    }
}

.advert__title {
    font-size: 1rem;
    line-height: 1.25;
}

.advert__image-container {
    order: -1;
    margin-bottom: $gs-baseline / 2;
}

.advert__image {
    display: block;
    max-width: 100%;
    height: auto;
}

.advert__meta {
    @include f-textSans;
    color: colour(neutral-2);
}

.advert__more {
    margin-top: $gs-baseline / 2;
}

.advert--small > .advert__title {
    padding-top: $gs-baseline / 2;
}

.advert--large {
    flex-direction: row;
    align-items: stretch;
    padding-bottom: 0;

    > .advert__text {
        flex: 1;
        padding: $gs-baseline / 2 $gs-gutter / 2 $gs-baseline / 2 0;
    }

    > .advert__image-container {
        order: 0;
        margin-bottom: 0;
        margin-left: $gs-gutter / 2;
    }

    .advert__image {
        width: 100%;
    }
}

.advert--large--inverse {
    flex-direction: row-reverse;

    > .advert__text {
        padding: $gs-baseline / 2 0 $gs-baseline / 2 $gs-gutter / 2;
    }

    > .advert__image-container {
        margin-left: 0;
        margin-right: $gs-gutter / 2;
    }
}

.advert--large--thumbnail {
    .advert__image-container {
        $line-height: 20px;
        $image-height: $line-height * 4 + $gs-baseline;
        $ratio: 5 / 3;
        width: $image-height * $ratio;
    }

    .advert__text {
        padding-left: 0;
    }
}

.advert--large--1x3 > .advert__image-container {
    flex-basis: calc(75% - #{$gs-gutter / 2});
}

.advert--large--1x2 > .advert__image-container {
    flex-basis: calc(66.67% - #{$gs-gutter / 2});
}
