/* ==========================================================================
   Content API component
   ========================================================================== */

@mixin c-capi-leftCol {
    .commercial__body {
        padding-top: $gs-baseline;
    }
}

.commercial-dfp-multi {
    .fc-item__image-container {
        display: block;
    }
}

.fc-container--advertisement-feature {
    .linkslist__action:visited,
    .fc-item__link:visited,
    .fc-item__standfirst,
    .item__link:visited,
    .item__link:visited .item__title {
        color: colour(neutral-2-contrasted);
    }

    .tone-media--item {
        .linkslist__action:visited,
        .fc-item__link:visited,
        .fc-item__standfirst,
        .item__link:visited,
        .item__link:visited .item__title {
            color: #ffffff;
        }
    }

    .fc-item__header,
    .fc-item__title,
    .fc-item__standfirst,
    .fc-item--list-compact,
    .item__title,
    .linkslist__action {
        @include f-headlineSans;
    }

    &.commercial-dfp-multi {
        .fc-item__header {
            @include fs-bodyHeading(2, $size-only: true);
        }

        .fc-item__title {
            padding-top: 0;
        }
    }
}

.fc-container--advertisement-feature {
    background-color: colour(neutral-8);

    .fc-container__inner {

        padding-top: $gs-baseline/2;
    }

    .fc-container__header__title {
        color: colour(neutral-1);

        .fc-container__header__link {
            color: colour(guardian-brand);

            &:hover {
                color: colour(news-accent);
            }
        }
    }

    .tone-news--item.fc-item {
        background: transparent;
    }

    .fc-item__container {
        &:before {
            display: none;
        }
    }
}

.paid-content--advertisement-feature {
    background-color: colour(paid-article);

    .ad-slot--paid-for-badge--front {
        border-top-color: colour(paid-article-bg);
    }

    .fc-container--first .fc-container__header__title,
    .fc-container .fc-container__inner,
    .fc-container .facia-container__inner {
        border-top-color: colour(paid-article-header-bg);
    }

    .fc-container__header__title {
        @include f-headlineSans;
        font-weight: 400;
    }

    .tone-news--item.fc-item {
        background-color: colour(paid-article-subheader);
    }

    .fc-slice__item+.fc-slice__item:before {
        border-left-color: colour(paid-article-subheader-bg);
    }

    .fc-item__container {
        &:before {
            display: block;
            background: colour(paid-article-brand);
        }
    }

    .fc-item__title {
        color: guss-colour(news-support-7, $pasteup-palette);
    }

    .tone-news--item .fc-item__kicker {
        color: guss-colour(neutral-1, $pasteup-palette);
    }

    .fc-item__kicker:after {
        color: #a0a1a2;
    }
}
