.creative--scrollable-mpu {
    display: block;
    height: 250px;
    @include box-sizing(border-box);
    border: 1px solid colour(neutral-5);
    background: none 0 0 repeat;
}

.creative--branded-component {
    padding-left: $gs-gutter/2;
    border-left: 1px solid colour(neutral-5);
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    width: gs-span(3)+$gs-gutter/2;

    @include mq($from: wide) {
        left: -$gs-gutter/2;
    }

    .creative__inner {
        padding-top: $gs-baseline/2;
        border-top: 2px solid colour(guardian-brand-dark);
    }
    .creative__marque {
        display: block;
    }
    .creative__marque-title {
        margin-left: 2px;
        text-transform: lowercase;
        color: colour(maps-support-3);
        @include fs-header(2);
    }
    .creative__title {
        @include fs-headline(4);
    }
    .creative__text {
        @include fs-textSans(3);
        color: colour(neutral-2);
    }
}

.creative--jobs {
    .creative__inner {
        border-color: colour(news-support-2);
    }
    .creative__marque-title {
        color: colour(news-support-2);
    }
}

.creative--membership {
    .creative__inner {
        border-color: colour(news-accent);
    }
    .creative__marque-title {
        color: colour(news-accent);
    }
}

.creative--branded-component-soulmates {
    // Initialize colour variables
    $bg-colour: #f5f3e7;
    $rotated-bg-colour: #70bacf;

    border-left: 0;
    padding-left: 0;

    @include mq(wide) {
        right: auto;
    }

    .creative__inner {
        border-top: 0;
        margin-left: $gs-gutter/2;
        padding: $gs-baseline/2 $gs-gutter/2 0;
        background-color: $bg-colour;
        width: gs-span(3);
        position: relative;
        z-index: 1;

        @include box-sizing(border-box);

        @include mq($from: desktop, $until: wide) {
            width: gs-span(3)-$gs-gutter;
            margin-right: $gs-gutter/2;
        }

        &:before {
            @extend %i-soulmates-trill;
            @extend %svg-i-soulmates-trill !optional;
            content: '';
            display: block;
            margin: $gs-baseline auto 0;
        }
    }
    .creative__title,
    .creative__text {
        &:before {
            content: '';
            display: block;
            height: 1px;
            width: gs-span(1);
            margin: 0 auto $gs-baseline;
            background-color: #000000;
        }
    }
    .creative__title {
        margin: $gs-baseline 0 0;
        @include fs-header(5);
        text-align: center;
    }
    .creative__text {
        margin: $gs-baseline 0 0;
    }
    .creative__link-wrapper {
        margin-top: $gs-baseline;
        text-align: center;
    }
    .creative__link {
        @include fs-header(3);
        color: #000000;
    }
    .creative__link__button {
        margin-left: $gs-gutter/3;
        background-color: #000000;
        border: 0;
    }
    .soulmates-logo {
        height: gs-height(1);
        margin: gs-height(2) auto 0;
        padding-top: $gs-baseline*3;
        background-size: 100%;
        width: auto;

    }
    .soulmates-logo__title {
        text-align: center;
    }

    &:after {
        content: '';
        display: block;
        width: gs-span(3);
        height: 100%;
        position: absolute;
        top: 0;
        left: $gs-gutter/2;
        background-color: $rotated-bg-colour;
        transform: rotate(-2deg);

        @include mq($from: desktop, $until: wide) {
            width: gs-span(3)-$gs-gutter;
        }

        @include mq(wide) {
            right: auto;
        }
    }
}

.creative--expandable {
    $expandable-colour: #f3f3f3;

    margin-bottom: $gs-baseline;

    .ad-slot__label--wrapper {
        @include mq($until: tablet) {
            width: auto;
        }
    }
    .ad-slot__label {
        text-align: left;
    }
    .ad-exp--expand {
        height: 0;
        position: relative;
        background-color: $expandable-colour;
        overflow: hidden;
        @include transition(height 1s);
    }
    .ad-exp--expand .facia-container__inner {
        height: 100%;
        position: relative;

        @include mq($until: tablet) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
    .ad-exp__close-button {
        position: absolute;
        top: 0;
        right: 0;
        @include border-radius(100px);
        border: 1px solid #ffffff;
        background-color: #000000;
        margin: 5px;
        padding: 0;
        z-index: 3;
        height: 32px;
        width: 32px;
        @include transform(rotate(45deg));
        @include transition(all 1s ease);

        @include mq(tablet) {
            right: $gs-gutter;
        }

        &:focus {
            outline-color: transparent;
            outline-style: none;
        }
        &.button-spin {
            @include transform(rotate(360deg));
        }
    }
    .ad-exp-collapse__slide {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }
    .ad-exp-collapse__slide.slide-1 .ad-exp__logo {
        position: absolute;
        right: 0;
        width: 35%;
        height: 100%;
        background: 100% 90% no-repeat;
        background-size: contain;
    }
    .ad-exp-collapse__slide.slide-1 .ad-exp__cta {
        position: absolute;
        left: 5%;
        width: 90%;
        height: 100%;
        background: 0 10% no-repeat;
        background-size: contain;
    }
    .ad-exp-collapse__slide.slide-1 {
        background: $expandable-colour 0 100% repeat-x;
        background-size: contain;
    }
    .ad-exp-collapse__slide.slide-2 {
        top: auto;
        bottom: 0;
        z-index: 1;
        background: 50% 100% repeat-x;
        background-size: contain;
    }
    .ad-exp-collapse__slide.slide-2 .ad-exp__text-1 {
        position: absolute;
        top: 0;
        left: 0;
        @include box-sizing(border-box);
        padding: 0 20px;
        width: 100%;
        height: 100%;
        background: 50% 100% no-repeat;
        background-size: contain;
    }

    @include mq(mobileLandscape) {
        .ad-exp-collapse__slide.slide-1 .ad-exp__logo {
            width: 25%;
        }
        .ad-exp-collapse__slide.slide-1 .ad-exp__cta {
            width: 75%;
            left: 12.5%;
        }
        .ad-exp-collapse__slide.slide-2 .ad-exp__text-1 {
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
    @include mq(desktop) {
        .ad-exp-collapse__slide.slide-1 .ad-exp__logo {
            width: 22%;
        }
    }
}

.creative--ad-feature-mpu-large {
    background-color: colour(neutral-8);
    padding: $gs-baseline / 2 0;
    overflow: hidden;

    .creative__article {
        display: block;
        padding: 0 $gs-gutter $gs-baseline / 2;
        border-bottom: 1px solid colour(neutral-5);
        color: colour(neutral-2-contrasted);
    }
    .creative__article__image {
        width: 100%;
    }
    .creative__article__title {
        @include f-headlineSans;
        @include font-size(14, 18);
    }
    .creative__logo-text,
    .creative__logo-info {
        margin-left: $gs-gutter;
        @include fs-textSans(1);
        float: left;
        color: colour(neutral-2-contrasted);
    }
    .creative__logo-text,
    .creative__logo {
        margin-top: $gs-baseline/ 2;
    }
    .creative__logo-text {
        margin-bottom: 0;
        font-weight: bold;
    }
    .creative__logo {
        margin-right: $gs-gutter;
        float: right;
    }
    .creative__logo-info {
        display: block;
        clear: left;
    }
}
