.creative--scrollable-mpu {
    display: block;
    height: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    background: none 0 0 repeat-y;
}
