.gu-comcontent {
    background-color: colour(neutral-8);
    border-top: 1px solid $gustyle-tone;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.gu-comcontent__box {
    padding: $gs-baseline / 2;
}

.gu-comcontent__title {
    @include f-headlineSans;
    @include font-size(18, 20);

    padding-bottom: $gs-baseline;
    text-align: left;
    
    a {
        color: colour(neutral-1);
    }
}

.gu-comcontent__text {
    @include f-textSans;
    @include font-size(14, 18);
    
    color: colour(neutral-2);
    text-align: left;
    margin-bottom: $gs-row-height;
}

.gu-comcontent__kicker {
    color: colour(neutral-2);
}

.gu-comcontent__divider {
    color: colour(neutral-3);   
}

.gu-comcontent__brand {
    text-align: right;
}

.gu-comcontent__note {
    @include f-textSans;
    @include font-size(13, 18);

    color: colour(neutral-2);   
}

.gu-comcontent__logo {
    width: 40%;
    vertical-align: bottom;
}

.gu-comcontent__image {
    width: 100%;
}

.gu-comcontent__image-container {
    max-height: 180px;
    overflow: hidden;
}

.gu-comlabel {
    @include f-textSans;
    @include font-size(13, 18);

    position: absolute;
    top: $gs-baseline / 2;
    right: $gs-baseline / 2;
    padding: 5px 5px 1px 5px;
    z-index: $zindex-modal;
    background-color: $gustyle-tone;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
}

.gu-comlabel__icon {
    svg {
        width: 13px;
        height: 13px;
        fill: colour(neutral-1);
        vertical-align: middle;
    }
}

.gu-style {
    width: auto;
    margin-left: $gs-gutter / 2;
    margin-right: $gs-gutter / 2;
}