/* ==========================================================================
   Jobs component
   ========================================================================== */
.commercial--jobs {
    /* Logo adjustment */
    .i-jobs-logo,
    .inline-logo-jobs {
        @include mq(leftCol) {
            margin-left: 7px;
        }
    }

    /* Line items */
    .lineitem__image {
        background-color: #ffffff;
        border: $gs-gutter/4 solid #ffffff;
        width: 100px;

        @include mq(desktop) {
            width: auto;
            height: 60px;
        }
    }

    /* Line items - low relevance */
    .commercial__relevance--low {
        @include mq($until: tablet) {
            .lineitem {
                padding-left: 100px + $gs-gutter*1;

                &:nth-child(2) {
                    display: none;
                }

                .lineitem__image {
                    position: absolute;
                    left: 0;
                    top: $gs-baseline/2;
                }

                .lineitem__title {
                    padding-right: 0;
                }
            }
        }

        @include mq(tablet) {
            .lineitem {
                min-height: $gs-baseline*18.5;
            }
        }
    }
}

/* Sector navigation */
.commercial--jobs__sectors {
    margin: 0;
    overflow: hidden;

    @include mq(tablet) {
        padding-right: $gs-gutter/2;
    }
}

.commercial--jobs__sector {
    list-style: none;
    width: 50%;
    float: left;

    &:last-child .commercial--jobs__sector__link {
        font-weight: bold;
    }

    &:nth-child(2n+1) .commercial--jobs__sector__link {
        margin-right: $gs-gutter/2;
    }
}

.commercial--jobs__sector__link {
    @include fs-headline(2);
    color: $neutral-1;
    border-top: 1px solid $neutral-4;
    padding: $gs-baseline/1.5 0;
    display: block;
}
