/* ==========================================================================
   Masterclass component
   ========================================================================== */

.commercial--masterclasses {
    .commercial__head {
        border-top: 0;
        background-color: transparent;
        height: auto;
        margin-bottom: 0;
        margin-top: $comercial-comp-baseline;
        position: static;
    }
    .commercial__title {
        padding: 0;
        margin: 0;
        text-transform: lowercase;
        color: $c-newsDefault;
        @include fs-headline(3);
        float: none;
    }
    .commercial__title__last-word {
        font-style: italic;
        margin-left: -5px;
    }
    .commercial__explainer {
        color: $c-neutral1;
        @include f-headline;
        @include font-size(14.5, 19);
        margin: 0;
    }
    .commercial__body {
        padding-left: 0;
        padding-right: 0;
    }
    .commercial--masterclasses__class,
    .commercial__relevance-high {
        list-style-type: none;
        @include box-sizing(border-box);
        
        &:nth-child(n+3) {
            display: none;
        }
        .commercial--masterclasses__class__title {
            @include fs-bodyHeading(1);
        }
        .commercial--masterclasses__class__date,
        .commercial--masterclasses__class__meta {
            @include fs-textSans(2);
            color: $c-neutral2;
        }
        .commercial--masterclasses__class__date {
            color: $c-neutral1;
            font-weight: bold;
            margin-bottom: 2px;
        }
        .commercial--masterclasses__class__description__link {
            @include fs-bodyHeading(1);
            color: $c-newsDefault;
        }
        .commercial--masterclasses__class__link__sub {
            color: $c-neutral2;
        }
    }
    .commercial__relevance-high {
        .lineitem__image {
            float: left;
            margin-right: $gs-gutter/2;
        }
        .lineitem__offer {
            padding-left: $gs-gutter/2;
            margin-left: 50%;
        }
        .commercial--masterclasses__class__link {
            float: left;
        }
    }
    &.commercial--low {
        .commercial--masterclasses__class {
            border-top: 0;
            float: left;
            width: 50%;
            padding-left: $gs-gutter/2;
        }
        .lineitems {
            margin: 0 (-$gs-gutter/2);
        }
        @include mq(tablet) {
            .commercial--masterclasses__class {
                width: percentage(1/3);
            }
        }
    }
    &.commercial--high {
        @include mq($until: tablet) {
            .commercial__relevance-low .lineitem__image,
            .commercial__relevance-title-low {
                display: none;
            }
        }
        .lineitem__image {
            margin-right: $gs-gutter/5;
            outline: 1px solid $c-neutral7;
            }    
        .highitem .commercial--masterclasses__class__link {
            width: 50%;
            margin: 0 $gs-gutter/2 $gs-baseline 0;
        }
    }
    @include mq(tablet) {
        .commercial--masterclasses__class {
            width: percentage(1/3);
            
            &:nth-child(3) {
                display: block;
            }
        }
        .commercial__home-link {
            position: absolute;
            top: $gs-baseline;
            right: $gs-gutter/2;
        }
    }
    @include mq(leftCol) {
        .commercial__title__last-word {
            margin-left: 0;
        }
    }
    @include mq(wide) {
        .commercial__title__last-word {
            margin-left: -5px;
        }
    }
    .lineitem__image {
        width: 100%;
    }
    .lineitem__link {
        display: block;
        float: none;
    }
    .lineitem__description {
        margin-top: $gs-baseline/3;
    } 
}

/* fronts */
.facia-container--layout-front .commercial--masterclasses {
    .commercial__body.container__body {
        padding-left: 0;
    }
    @include mq(desktop) {
        .commercial--masterclasses__class {
            padding-left: $gs-gutter/2;
            width: 25%;
        
            &:nth-child(n+4) {
                display: block;
            }
        }
        .commercial__home-link {
            right: $gs-gutter;
        }
    }
    @include mq(leftCol) {
        .commercial__title__last-word {
            margin-left: -5px;
        }
        .commercial__head {
            width: gs-span(2) + $gs-gutter;
        }
        .commercial__home-link {
            top: auto;
            right: auto;
            bottom: $gs-baseline;
            left: $gs-gutter/2;
        }
    }
    @include mq(leftCol, wide) {
        .commercial__title__last-word {
            margin-left: 0;
        }
        .commercial__home-link {
            width: gs-span(2);
            line-height: 1.2;
        }
    }
    @include mq(wide) {
        .has-page-skin & {
            .commercial__home-link {
                width: auto;
                top: $gs-baseline;
                right: 0;
                left: auto;
                bottom: auto;
            }
        }
    }
    
    &.commercial--high {
        @include mq(desktop) {
            .commercial__relevance-high,
            .commercial__relevance-low,
            .lineitem {
                width: 50%;
            }
            .lineitem {
                &:nth-child(n+2) {
                    display: block;
                }
            }
            .commercial__relevance-title-low {
                padding-left: $gs-gutter/2;
            }
        }
        @include mq(leftCol) {
            .commercial__head {
                padding-left: 0;
            }
            .commercial--masterclasses__class {
                width: 50%;
            }
            .lineitems {
                padding-left: $gs-gutter/2;
                margin: 0 (-$gs-gutter/2);
            }
        }
    }
}
/* article */
.facia-container--layout-content .commercial--masterclasses {
    @include mq(rightCol) {
        .commercial--masterclasses__class {
            padding-left: $gs-gutter/2;
            width: 25%;

            &:nth-child(n+4) {
                display: block;
            }
        }
    }
    @include mq(desktop) {
        .commercial__home-link {
            right: $gs-gutter;
        }
    }
    @include mq(leftCol) {
        .commercial__body {
            padding-top: $gs-baseline;
        }
        .commercial__home-link {
            top: auto;
            right: auto;
            bottom: $gs-baseline;
            left: $gs-gutter;
        }
    }
    @include mq(leftCol, wide) {
        .commercial__home-link {
            width: gs-span(2);
            line-height: 1.2;
        }
    }
    &.commercial--high {
        @include mq(rightCol) {
            .commercial__head {
                width: 25%;
            }
            .commercial__home-link {
                top: auto;
                right: auto;
                bottom: $gs-baseline;
                left: $gs-gutter;
            }
            .commercial__relevance-title-low {
                padding-left: $gs-gutter/2;
            }
        }
        @include mq(leftCol) {
            .commercial--masterclasses__class {
                width: 50%;
            }
            .lineitems {
                padding-left: $gs-gutter/2;
                margin: 0 -($gs-gutter/2);
            }
        }
    }
}
