/* ==========================================================================
   Best Buys component
   ========================================================================== */
.commercial--money {
    .tabs__container {
        margin-bottom: 0;
    }

    .table--commercial {
        @include fs-textSans(1);

        .table--commercial__head .table--commercial__row {
            border-top: 0;
        }

        .table--commercial__cell {
            padding-bottom: $gs-baseline / 2;
        }
    }

    .commercial__body .button--tertiary .inline-arrow-right {
        fill: $neutral-2;
    }

    .commercial__money-buttons {
        .lineitem__cta {
            margin-top: $gs-baseline / 2;
        }
    }

    @include mq(tablet) {
        .commercial__money-buttons {
            float: right;
            .lineitem__cta {
                margin-top: 0;
            }
        }
    }

    .lineitem__meta {
        @include fs-textSans(1);
        margin-top: $gs-baseline;
    }
}
