/* ==========================================================================
   Soulmates components
   ========================================================================== */
$c-soulmatesBackground: #f5f3e7;
$c-soulmatesBorder: #e6e1c3;
$c-soulmates-high: colour(neutral-1);

.commercial--soulmates {
    background-color: $c-soulmatesBackground;

    .commercial__inner {
        background-repeat: no-repeat;
        background-position: bottom 68px right 0px;
        min-height: 10px;

        @include mq(desktop) {
            min-height: 200px;
            background-position: bottom 52px right 0px;
        }

        @include mq(wide) {
            min-height: 260px;
            background-position: bottom 69px right 0px;

            .has-page-skin & {
                min-height: 248px;
                background-position: bottom 52px left 0px;
            }
        }

        @include mq($until: leftCol) {
            background-image: none;
        }
    }

    .commercial--multi__header {
        background-color: $c-soulmates-high;
        margin-bottom: $gs-baseline/3;
    }

    .commercial__body {
        @include mq(wide) {
            padding-bottom: $gs-baseline*2.5;
        }
    }

    /* Line items */
    .lineitems {
        @include mq(tablet) {
            float: left;
            width: gs-span(6) + $gs-gutter;
        }

        @include mq(desktop) {
            width: gs-span(9) + $gs-gutter;
        }
    }

    .lineitem {
        width: percentage(1/2);
        min-width: 96px;
        border-color: $c-soulmatesBorder;

        &:nth-child(n+3) {
            display: none;
        }

        @include mq(mobileLandscape) {
            width: percentage(1/3);

            &:nth-child(3) {
                display: block;
            }
        }

        @include mq(phablet) {
            width: percentage(1/4);

            &:nth-child(4) {
                display: block;
            }
        }

        @include mq(desktop) {
            width: percentage(1/6);

            &:nth-child(5),
            &:nth-child(6) {
                display: block;
            }
        }
    }

    .lineitem__title {
        @include fs-header(1);
        font-size: 14px;
        @include ellipsis();
        white-space: pre;
        margin-bottom: 0;
    }

    .lineitem__meta {
        line-height: 1;
    }

    /* Search form */
    .commercial__search {
        position: static;
        box-sizing: border-box;
        width: auto;
        float: none;
        border-top: 1px solid $c-soulmatesBorder;
        padding-top: $gs-baseline/2;

        @include mq($until: tablet) {
            margin-top: $gs-baseline/2;
            clear: both;
        }

        @include mq(tablet) {
            width: gs-span(3);
            float: right;
            border-top: 0;
            padding-top: 0;
        }
    }

    .search__dropdown {
        display: block;
        border-bottom: 1px solid $c-soulmatesBorder;
        overflow: hidden;
        @include fs-textSans(2);
        padding-bottom: $gs-baseline/2;
        margin-bottom: $gs-baseline/2;
    }

    .search__dropdown__options {
        float: right;
        min-width: 50%;
    }

    .search__submit {
        float: right;
        margin-right: 0;
    }
}

.commercial__header--soulmates {
    background-color: #332e2e;

    .has-page-skin & {
        padding-bottom: $gs-baseline/2;
    }

    .inline-marque-54 {
        @include mq($until: leftCol) {
            display: none;
        }

        @include mq(wide) {
            .has-page-skin & {
                display: none;
            }
        }
    }

    .i-soulmates-title-background {
        padding-top: 0;
        background-repeat: no-repeat;
        background: none;
        height: auto;
        width: auto;
        float: left;

        @include mq(leftCol) {
            overflow: hidden;
        }

        .svg & {
            background-size: cover;
        }
    }

    .commercial__title {
        min-height: 0;
        width: 120px;

        .commercial--multi & {
            text-align: center;
            width: 100%;
        }
    }

    .logo--soulmates_large {

        svg {
            width: 100px;
            height: 21px;
            padding-top: 4px;

            @include mq(mobileLandscape) {
                width: 120px;
                height: 28px;
                padding: 0;
            }

            @include mq(leftCol, $until: wide) {
                width: 100px;
                height: 21px;
            }

        }
    }

    .commercial__explainer {
        @include fs-headline(2);
        font-weight: bold;
        color: #ffffff;
        width: auto;
        padding: 0;
        margin: 0;
        position: static;
        display: none;

        @include mq(leftCol) {
            margin-bottom: $gs-baseline;
            display: block;

            .has-page-skin & {
                display: none;
            }

            span {
                display: block;
            }
        }

        @include mq(desktop) {
            @include fs-headline(1);
            font-weight: bold;
        }

        @include mq(wide) {
            @include fs-headline(2);
            font-weight: bold;

            .has-page-skin & {
                position: static;
                margin: 0;
                color: #ffffff;

                span {
                    display: inline;
                }
            }
        }

    }

    .commercial__ctas {
        position: absolute;
        bottom: $gs-gutter;
        left: $gs-gutter;

        @include mq($until: leftCol) {
            position: static;
            float: right;
            border-left: 1px solid #666666;
            margin: $gs-baseline/2 0;
            padding-left: $gs-baseline;
            width: 50%;

            @include mq(mobileLandscape) {
                width: 33.33%;
                height: auto;
            }

            @include mq(tablet) {
                width: 15%;
            }

        }

        @include mq(desktop) {
            bottom: $gs-baseline;
        }

        @include mq(wide) {
            bottom: $gs-gutter;

            .has-page-skin & {
                width: 15%;
                position: static;
                float: right;
                border-left: 1px solid #666666;
                margin: $gs-baseline/2 0;
                padding-left: $gs-baseline;
            }
        }

    }

    .commercial__cta {
        display: none;
        width: $gs-gutter * 6;
        display: block;
        position: static;
    }

    .icon__cta {
        width: auto;
        display: block;
        clear: both;
        overflow: hidden;

        .commercial__cta__label {
            @include fs-data(1);
            float: left;
            line-height: 20px;
            width: auto;
            display: block;

            @include mq(wide) {
                @include fs-data(2);
                line-height: 20px;

                .has-page-skin & {
                    @include fs-data(1);
                    line-height: 20px;
                }
            }
        }
        .commercial__cta__icon {
            width: 28px;
            height: 20px;
            float: left;
        }

    }

    .commercial__hline {
        display: block;
        width: 20px;
        height: 1px;
        border: 0;
        border-top: 1px solid #666666;
        margin: 18px 0 7px;
        padding: 0;

        @include mq($until: leftCol) {
            display: none;
        }
    }
}

/* soulmates test */

.commercial--soulmates-test {
    .commercial__body {
        padding-top: $gs-baseline;

        @include mq(tablet) {
            background-position: bottom 52px right 0px;
            background-repeat: no-repeat;
            padding-bottom: 0;
        }

        @include mq(leftCol) {
            background-image: none;
        }
    }

    .i-soulmates-title-background {
        padding-top: 0;
        background-repeat: no-repeat;
        background: none;
        height: auto;
        width: auto;
        float: left;

        @include mq(leftCol) {
            overflow: hidden;
        }

        .svg & {
            background-size: cover;
        }

    }

    .icon__cta {
        width: auto;
        display: block;
        clear: both;
        overflow: hidden;

        .commercial__cta__label {
            @include fs-data(1);
            float: left;
            line-height: 20px;
            width: auto;
            display: block;

            @include mq(320px, $until: 479px) {
                width: 90px;
            }

            @include mq(leftCol, $until: wide) {
                width: 90px;
            }

            @include mq(wide) {
                @include fs-data(2);
                line-height: 20px;

                .has-page-skin & {
                    @include fs-data(1);
                    line-height: 20px;
                }
            }
        }
        .commercial__cta__icon {
            width: 28px;
            height: 20px;
            float: left;
        }

    }

    .inline-soulmates-h-line {
        display: none;

        @include mq($from: leftCol) {
            display: block;

            .has-page-skin & {
                display: none;
            }
        }
    }

    .inline-soulmates-border-topleft {
        position: absolute;
        top: -12px;
        left: 10px;
        line-height: 1;
        height: 8px;
    }

    .inline-soulmates-border-topright {
        position: absolute;
        top: -112px;
        right: -65px;
        z-index: 0;
        line-height: .9;
    }

    .commercial__search__box .inline-soulmates-border-topleft, .commercial__search__box .inline-soulmates-border-topright {
        opacity: 0;
        
        @include mq(tablet) {
            opacity: 1;
        }
    }

    .inline-soulmates-arrow {
        float: right;
        border-left: 1px solid #666666;
        padding: $gs-baseline/3 $gs-baseline;

        @include mq(wide) {
            padding: $gs-baseline/3 $gs-baseline 0;
        }

        svg {
            width: 16px;
            height: 16px;
            padding: 2px 0 0;

            @include mq(wide) {
                width: 20px;
                height: 20px;
                padding: 0;

                .has-page-skin & {
                    width: 16px;
                    height: 16px;
                    padding: 2px 0 0;
                }
            }

        }
    }

    .inline-soulmates-person {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    h4.feed__title {
        @include fs-header(1);
        font-size: 15px;
        text-align: center;
        margin: 0 auto $gs-baseline;
        position: relative;
        font-weight: bold;
        display: none;

        &.feed__title-mobile {
            display: block;
            @include mq(leftCol) {
                display: none;
            }
        }

        &.feed__title-desktop {
            @include mq(leftCol) {
                display: block;
            }
        }

        &:before, &:after {
            content: '';
            background-color: #dfded7;
            height: 1px;
            width: 20px;
            position: absolute;
            display: block;
            top: 50%;
        }

        &:before {
            left: 0%;
        }

        &:after {
            right: 0%;
        }

        @include mq(tablet) {

            &:before {
                left: 5%;
            }

            &:after {
                right: 5%;
            }
        }

        @include mq(desktop) {
            &:before {
                left: 15%;
            }

            &:after {
                right: 15%;
            }

        }

        @include mq(wide) {
            font-size: 16px; 
            margin: 0 auto $gs-gutter;

            .has-page-skin & {
                font-size: 15px;
                margin: 0 auto $gs-baseline;
            }  
        }
    }

    /* Line items */

    .lineitems__box {
        background-color: #ffffff;
        height: 100%;
        position: relative;
        padding: $gs-baseline 18px;
        box-sizing: content-box;

        @include mq(tablet) {
            float: left;
            overflow: visible;
            width: gs-span(6) - $gs-baseline*4;
        }

        @include mq(desktop) {
            width: gs-span(8) - $gs-baseline*8;
        }

        @include mq(wide) {
            width: gs-span(8) - $gs-baseline*4;
            padding: $gs-baseline*2;

            .has-page-skin & {
                padding: $gs-baseline 18px;
            }  
        }

    }

    .lineitems {
        margin: 0;
        overflow: hidden;

        @include mq(tablet) {
            margin-bottom: 1px;
        }

        @include mq(wide) {
            margin-bottom: 0;

            .has-page-skin & {
                margin-bottom: 1px;
            }
        }
    }

    .lineitem {
        width: percentage(1/3);
        min-width: 70px;
        border-color: #ffffff;
        padding: 0;

        &:nth-child(n+4) {
            display: none;
        }

        @include mq(mobileLandscape) {
            width: percentage(1/4);

            &:nth-child(4) {
                display: block;
            }
        }

        @include mq(phablet) {
            width: percentage(1/5);

            &:nth-child(5) {
                display: block;
            }

            &:nth-child(6) {
                display: none;
            }
        }

        @include mq(tablet) {
            width: percentage(1/4);

            &:nth-child(5) {
                display: none;
            }
        }

        @include mq(desktop) {
            width: percentage(1/5);

            &:nth-child(5) {
                display: block;
            }

        }
    }

    .lineitem__link {
        display: block;
        background-color: $c-soulmatesBackground;

        &:hover .inline-soulmates-person circle {
            fill: #995490;
        }

    }

    .lineitem__image__container {
        max-height: 95px;
        overflow: hidden;

        @include mq($from: tablet) {
            max-height: 100px;
        }

        @include mq($from: wide) {
            max-height: 116px;

            .has-page-skin & {
                max-height: 100px;
            }
        }

    }

    .lineitem__image {
        width: 100%;
    }

    .lineitem__text {
        padding: 3px 8px 1px;
        position: relative;

        @include mq($from: wide) {
            padding: $gs-gutter/4 $gs-gutter/2 $gs-gutter/5;

            .has-page-skin & {
                padding: 2px 8px 1px;
            }
        }

    }

    .lineitem__title {
        @include fs-data(1);
        @include ellipsis();
        padding: $gs-gutter/10 0 0;
        white-space: pre;
        margin-bottom: 0;

        @include mq($from: wide) {
            @include fs-data(2);

            .has-page-skin & {
                @include fs-data(1);
            }
        }
    }

    .lineitem__meta {
        @include fs-data(1);
        line-height: 1.2;
        @include ellipsis();
        white-space: pre;

        @include mq($from: wide) {
            @include fs-data(2);

            .has-page-skin & {
                @include fs-data(1);
            }
        }
    }

    /* Search form */

    .commercial__search__box {
        position: relative;
        width: 100%;

        @include mq(tablet) {
            width: gs-span(3);
            float: right;
        }

        @include mq($from: desktop) {
            width: gs-span(4);
            margin-right: $gs-baseline*4;
        }

        @include mq(leftCol) {
            margin-right: $gs-baseline*5;
        }

        @include mq($from: wide) {
            margin-right: 0;
        }


    }

    .commercial__search {
        position: static;
        box-sizing: border-box;
        width: auto;
        float: none;
        padding: 0 $gs-baseline*2 $gs-baseline;
        background-color: #ffffff;
        width: 100%;

        @include mq(tablet) {
            float: left;
            border-top: 0;
            width: gs-span(3);
            padding: $gs-baseline 18px;
            clear: both;
        }

        @include mq(wide) {
            padding: $gs-baseline*2;

            .has-page-skin & {
                padding: $gs-baseline 18px;
            }  
        }

        @include mq($from: desktop) {
            width: gs-span(4);
        }

    }

    .form-row {
        border-top: 2px solid #dfded7;
        height: 30px;
        overflow: hidden;
        box-sizing: border-box;
        width: 46%;
        float: left;
        margin: 0 2%;

        &:first-of-type, &:nth-of-type(2) {
            border-top: 0;
        }

        @include mq(tablet) {
            width: 100%;
            margin: 0;

            &:nth-of-type(2) {
                border-top: 2px solid #dfded7;
            }
        }

        @include mq(wide) {
            height: $gs-row-height;

            .has-page-skin & {
                height: 30px;
            }
        }
    }

    .search__dropdown {
        display: inline;
        overflow: hidden;
        @include fs-data(3, $size-only: true);
        padding-bottom: $gs-baseline/2;
        margin-bottom: $gs-baseline/2;

        &:focus {
            outline: 0;
        }

        &::-ms-expand {
            display: none;
        }

    }

    select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000000;
    }

    .search__dropdown__options {
        width: 120%;
        @include fs-data(1, $size-only: true);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-position: center 100%;
        background-position: center right 20%;
        background-repeat: no-repeat;
        background-color: #ffffff;
        height: $gs-row-height;
        border: 0;
        outline: 0;
        outline-color: #ffffff;
        position: relative;
        text-indent: .01px;
        text-overflow: '';
        z-index: 1;
        background-size: 16px 16px;
        height: 30px;
        padding-right: 32%;

        @include mq(tablet) {
            @include fs-data(3, $size-only: true);
            padding-right: 0;
        }

        @include mq(wide) {
            @include fs-data(4, $size-only: true);
            background-size: 20px 20px;
            height: $gs-row-height;

            .has-page-skin & {
                @include fs-data(3, $size-only: true);
                background-size: 16px 16px;
                height: 30px;
            }  
        }

    }

    .search__submit {
        background-color: #332e2e;
        color: #ffffff;
        font-size: 12px;
        font-weight: 900;
        line-height: 1;
        width: 100%;
        text-align: left;
        padding: 5px 0 5px $gs-baseline;
        border: 0;
        margin: 8px 0 0;

        @include mq(tablet) {
            margin: 11px 0 0;
        }

        @include mq(wide) {
            font-size: 15px;
            padding: 8px 0 8px $gs-baseline;
            margin: 11px 0 1px;

            .has-page-skin & {
                font-size: 12px;
                padding: 5px 0 5px $gs-baseline;
            }
        }

        .search__submit__text {
            line-height: 29px;
            float: left;
        }

    }

}

