/* ==========================================================================
   Commercial Tables
   ========================================================================== */
.commercial {
    .table--commercial {
        @include fs-textSans(4);
        margin-bottom: $gs-baseline;
    }

    .table--commercial__cell {
        vertical-align: top;
        line-height: 1;
        padding: $gs-baseline/3 0 $gs-baseline;
    }

    .table--commercial__cell-example {
        border-bottom: 1px solid $neutral-5;
    }

    .table--commercial__head {
        color: $neutral-2;

        .table--commercial__row {
            border-top: 1px solid $neutral-3;
        }
    }

    .table--commercial__body {
        .table--commercial__row {
            border-top: 1px solid $neutral-5;
        }

        .table--commercial__row-example {
            font-weight: bold;
            border-top: 0;
        }

        th.table--commercial__cell {
            font-weight: bold;
        }
    }

    @include mq($until: tablet) {
        .hide-cell-on-mobile {
            display: none;
        }
    }
}
