.match-summary {
    padding-top: 5px;
    padding-bottom: $baseline*3;
}

.match-summary__team {
    @include fs-headline(3);
    margin-bottom: $baseline;
}

.match-summary__score {
    display:inline-block;
    margin-left: $gs-gutter;
}

.match-summary__team--away {
    border-top: 1px solid $c-neutral7;
    padding-top: $baseline;
    margin-top: $baseline*5;
}

.match-summary__scorers {
    @include fs-data(3);
    margin-bottom: $baseline*2;
}

.match-summary__comment {
    text-align: left;
    border-top: 1px solid #F4F4EE;
    margin-top: $baseline*2;
    padding-top: 5px;
}

.match-summary__aggregate {
    margin-bottom: $baseline*2;
}