.match-stat {
    padding-bottom: $baseline * 3;
    margin-bottom: 0;

    h5 {
        font-weight: 500;
        line-height: 20px;
    }

    li {
        display: inline-block;
        width: 49%;

        &:nth-child(2) {
            text-align: right;
        }
    }

    span {
        display: inline-block;
    }
}
