.football-table__heading {
    @include rem((margin: $gs-baseline 0 $gs-baseline));
    border-top: 1px solid $c-neutral5;
    display: block;
}

.football-matches__day {
    .table--football-match {
        @include rem((margin-bottom: $gs-baseline*2));
    }
}

.js-on .table--football-match {
    cursor: pointer;
}

.table--football-match {
    a,
    a:hover{
        color: $c-neutral1;
        text-decoration: none;
    }

    tr:hover {
        background-color: darken($c-neutral8, 4%);

        a {
            visibility: visible;
        }
    }
}

.football-match--live {
    td {
        font-weight: bold;
    }

    .football-match__status {
        color: $c-newsAccent;
    }
}

.football-match__status {
    width: 15%;
}

.football-match__details {
    width: 70%;
    text-align: center;
}

.football-match__report {
    text-align: right;
    width: 15%;
    white-space: nowrap;

    a {
        @include fs-data(2);
        visibility: hidden;
    }
}

.article__secondary-column {
    .table__container {
        @include rem((margin-bottom: $gs-baseline));
    }
}

.details__team {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40%;
}

.details__team--home {
    text-align: right;
}

.details__team--away {
    text-align: left;
}

.details__versus,
.details__score {
    display: inline-block;
    overflow: hidden;
    width: 15%;
}

.details__meta {
    @include fs-data(2);
    @include rem((margin-top: $gs-baseline/2));
}

.matches-nav {
    text-align: center;
}
