.match-stat {
    padding-bottom: $baseline*2;
    margin-bottom: 0;

    span {
        display: inline-block;
    }
}

.match-stat__item {
    float: left;
    width: 49%;

    & + & {
        float: right;
        text-align: right;
    }
}
