.match-summary {
    @include rem((
    margin-bottom: $gs-baseline*3,
    padding-bottom: $gs-baseline
    ));
    border-bottom: 1px dotted $c-neutral3;
}

.match-summary__teams {
    font-size: 0;
    position: relative;
    width: 100%;
}

.match-summary__team {
    @include box-sizing(border-box);
    @include fs-headline(8);

    display: inline-block;
    position: relative;
    width: 50%; /* TODO (jamesgorrie): make this 50% */

    .team__score {
        position: absolute;
        top: 0;
    }
}

.match-summary__team--home {
    .team__score {
        right: $gs-gutter;
    }
}

.match-summary__team--away {
    text-align: right;

    .team__score {
        left: $gs-gutter;
    }
}

.teams__divider {
    @include fs-headline(8);

    height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    &:after{
        content: "\2013";
    }
}

.match-summary__scorers {
    font-size: 0;
}

.team__scorers {
    @include box-sizing(border-box);
    @include fs-data(5);

    display: inline-block;
    font-weight: 400;
    vertical-align: top;
    width: 50%;

    dd {
        margin: 0;
    }
}

.team__scorers--home {
    @include rem((
    padding-right: $gs-gutter
    ));
}

.team__scorers--away {
    text-align: right;
    @include rem((
    padding-left: $gs-gutter
    ));
}

.match-summary__scorers--home {
    text-align: left;
}

.match-summary__scorers--away {
    text-align: right;
}
