.match-stat {
    padding-bottom: $baseline*2;
    margin-bottom: 0;

    span {
        display: inline-block;
    }
}

.match-stat__item {
    float: left;
    width: 49%;

    & + & {
        float: right;
        text-align: right;
    }
}

.match-result {
    border-radius: 4px;
    display: inline-block;
    height: 8px;
    margin-left: $gs-gutter/4;
    width: 8px;

    &:first-child {
        margin-left: 0;
    }
}

.match-result--won {
    background-color: $c-statusPositive;
}

.match-result--drew {
    background-color: $c-statusNeutral;
}

.match-result--lost {
    background-color: $c-statusNegative;
}