.match-stats {
    margin-bottom: $baseline*4;
}

.match-aggregate,
.match-comment {
    text-align: center;
    display: block;
    width: 90%;
}

.match-summary .match-aggregate,
.match-summary .match-aggregate {
    text-align: left;
}

.match-aggregate span span {
    letter-spacing: 2px;
}

.home-stat {
    background-color: $homeColour;
    height: 15px;
    width: 100%;
}

.away-stat {
    background-color: $awayColour;
    height: 15px;
}

.home-num {
    width: 100%;
}

.away-num {
    width: 100%;
}

.home-stat-background,
.away-stat-background {
    background-color: #EDEDED;
    width: 100%;
}

.team-list {
    list-style: none
}

.team-list-name {
    float: left;
    width: 49.5%;

    & + & {
        float: right;
    }
}

.m-status {
    padding: 0 5px;
}

.home-header {
    float: left;
    width: 49.5%;
    margin-bottom: $baseline * 3;
    border-bottom: 5px solid $homeColour;
    padding-bottom: $baseline;
}

.away-header {
    float: right;
    width: 49.5%;
    text-align: right;
    margin-bottom: $baseline * 3;
    border-bottom: 5px solid $awayColour;
    padding-bottom: $baseline;
}

.lineup {
    float: left;
    width: 49.5%;
    vertical-align: top;
    padding-bottom: $baseline * 2;

    & + & {
        float: right;
    }
}

.i-status {
    padding: 5px;
    margin-right: 5px;
    font-size: 10px;
    font-style: normal;
    line-height: 1;
    color: #fff;
    background-color: $sportBright;

    abbr {
        border-bottom: none !important;
    }
}

.item-divider {
    border-top: 1px solid $mushroom;
    padding-top: $baseline;
}

.section-divider {
    @include fs-header(1);
    border-bottom: 1px solid $mushroom;
    padding-top: $baseline * 2;
    padding-bottom: $baseline * 3;
}

.place-holder {
    padding-bottom: 10px;
}
