.football-table-container a.cta {
    background-color: #f4f4ee;
    color: #064951;
}

.table-football {
    background-color: #f4f4ee;
}

.table-football-header {
    border-bottom: 1px solid #DEDEDD;
}

.table-football-header th,
.table-football-body .table-football-legend th { // can't get this less specific, sorry (MA)
    background-color: #f4f4ee;
    color: #777;
    font-weight: normal;
}

.table-football th {
    border-bottom: none;
}

.table-football-body th {
    background: #f4f4ee;
    font-weight: bold;
    color: $sportMid;
    border-top: 1px solid #DEDEDD;

    &:first-child {
        border-top: none;
        padding-left: $gutter/2;
    }
}

.table-football th,
.table-football td {
    border-right: none;
    text-align: right;
    padding: $baseline*2 3% $baseline*2 3%;
}

.table-football-header th:first-child,
.table-football td:first-child {
    padding: $baseline*2 3% $baseline*2 $gutter/2;
}

.table-football-header th:last-child,
.table-football td:last-child {
    padding: $baseline*2 $gutter/2 $baseline*2 3%;
}

.table-football td:last-child {
    font-weight: bold;
}

.table-football-body tr {
    border-bottom: 1px solid #DEDEDD;
    background-color: transparent;

    &:last-child {
        border-bottom: none;
    }
}

.table-football-body a {
    color: #000;
    font-weight: bold;
}

@include mq(641px) {

    .table-football th,
    .table-football td {
        padding: $baseline*2 3px;
    }

    .table-football-header th:first-child,
    .table-football-body th:first-child,
    .table-football td:first-child {
        padding-left: 12px;
    }

    .table-football-header th:last-child,
    .table-football td:last-child {
        padding-right: 12px;
    }
}

.table-football-leftaligned {
    text-align: left !important;
}

.table-football-body {
    border-bottom: 3px solid #fff; // this is a border because margins don't appear
}

// overriding pasteup :(
.table-football-body:hover tr,
.table-football-body:hover tr:nth-child(even),
.table-football-body tr:nth-child(even),
.table-football-body:hover tr:hover,
.table-football-body tr:last-child {
    background-color: transparent !important;
}

.table-football-body tr.highlight,
.table-football-body:hover tr.highlight,
.table-football-body tr.highlight:nth-child(even),
.table-football-body:hover tr.highlight:nth-child(even) {
    background-color: #f9c83f !important;
    border-bottom: none;
    margin-top: -1px;
}


/* These are used to hide columns that we don't display on smaller screens. */

.stats-1,
.stats-2,
.stats-3 {
    display: none;
}
@include mq(400px) {
    .stats-1 {
        display: table-cell;
    }
}
@include mq(641px) {
    .stats-2 {
        display: table-cell;
    }
}
@include mq(850px) {
    .stats-3 {
        display: table-cell;
    }
}
