@mixin table-football--medium {
    th,
    td {
        min-width: 0;
    }

    .football-stat--form {
        min-width: 0;
    }
}

/* ==========================================================================
   League tables
   ========================================================================== */
.table--football {
    .table-column--main {
        .team-name {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
        }
    }

    .table-column--main {
        max-width: 50px;

        a {
            color: inherit;
        }
    }

    // This makes sure that all table columns are equally spaced
    td {
        min-width: 12px;
    }

    // remove battle line from last row
    // (only happens in truncated tables)
    tr:last-child td {
        border-bottom: 0;
    }

    .football-stat--form {
        @include rem((
            min-width: 15*5 // width of status
        ));
    }

    @include mq($to: $table-breakpoint-importance-1) { @include table-football--medium; }
    @include mq($to: $table-breakpoint-importance-2) {
        .team-name:after {
            content: attr(data-abbr);
        }
        .team-name__long {
            @include u-h;
        }
    }
}

// This is everything on the standalone pages
// i.e. /football/tables or /football/results
.football-table__container {
    @include rem((
        margin-bottom: $gs-baseline*3
    ));
    position: relative;

    .football-matches__date {
        display: none;
    }

    @include mq(leftCol) {
        .table__caption--top {
            @include fs-header(1);
            @include rem((
                margin-bottom: ($gs-baseline/3)*4,
                margin-left: ($a-leftCol-width + $gs-gutter)*-1,
                padding-bottom: ($gs-baseline/3)*4,
                padding-top: ($gs-baseline/3),
                width: $a-leftCol-width
            ));
            background: none;
            border-bottom: 0 none;
            border-top: 1px dotted $c-neutral5;
            padding-left: 0;
            padding-right: 0;
            position: absolute;
            top: 0;
        }
    }

    @include mq(wide) {
        .table__caption--top {
            @include rem((
                margin-left: (gs-span(3) + $gs-gutter)*-1,
                width: gs-span(3)
            ));
        }
    }
}

.c-football-table {
    @include table-football--medium;
}

.football__group {
    @include rem((
        margin-top: $gs-baseline*2
    ));

    &:first-child {
        margin-top: 0;
    }
}

.table__caption {
    .item__live-indicator {
        @include rem((
            top: 2px
        ));
        float: right;
    }
}

/* ==========================================================================
   Football groups / lists
   ========================================================================== */
.football-groups {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;

    .football-group {
        @include box-sizing(border-box);
        @include rem((
            margin: $gs-baseline 0
        ));
        vertical-align: top;

        @include mq(tablet) {
            @include rem((
                padding-left: $gs-gutter/2
            ));
            display: inline-block;
            display: flex;
            width: 49.5%;
        }

        @include mq(desktop) {
            width: 24.5%;
        }

        @include mq(leftCol) {
            &:nth-of-type(-n+4) {
                .table--league-table {
                    border: 0 none;
                    .table__caption--top {
                        border: 0 none;
                    }
                }
            }
        }
    }
}
.football-group__container {
    background: $c-neutral8;
    flex: 1 1 auto;
}
.football-group__fixtures {
    border-top: solid #ffffff $gs-baseline;

    .table__caption--top {
        border-top: 0;
    }

    .football-matches__date {
        color: $c-neutral1;
        font-weight: bold;
        float: none;
    }

    .football-matches {
        .table__caption--top {
            border-top: 1px solid darken($c-neutral8, 4%);
        }
    }

    .football-matches:first-child {
        .table__caption--top {
            border-top: 2px solid $c-newsAccent;
        }

        .football-matches__date {
            border-top: 1px solid darken($c-neutral8, 4%);
            display: block;
            @include rem((
                margin-top: $gs-baseline/2,
                padding-top: $gs-baseline/2
            ));
        }
    }
}


/* ==========================================================================
   Knockout chart (Desktop only)
   ========================================================================== */
.football-knockout-chart {
    @include rem((
        padding: 0 $gs-gutter
    ));
    background: $c-neutral8;
    display: none;
    position: relative;

    .football-match {
        display: table;
        text-align: center;
        width: 100%;
    }
    .football-match__container {
        display: table-cell;
        height: 100%;
        position: relative;
        vertical-align: middle;
    }
    .football-match__team {
        @include rem((
            height: $gs-baseline*1.5
        ));
        border: 1px solid $c-neutral2;
        border-top: 0;
        display: block;
        float: none;
        padding: 0;
        position: absolute;
        text-align: center;
        width: 100%;
    }
    .football-match__team--home {
        @include rem((
            margin-top: -(($gs-baseline*1.5)/2)
        ));
        top: 25%;
    }
    .football-match__team--away {
        @include rem((
            margin-bottom: -(($gs-baseline*1.5)/2)
        ));
        bottom: 25%;
        top: auto;
    }
    .football-match__victory-line {
        border-left: 1px dotted $c-neutral2;
        height: 50%;
        position: absolute;
        right: 0;
        top: 25%;

        &:after {
            border-top: 1px dotted $c-neutral2;
            content: " ";
            display: block;
            position: absolute;
            top: 50%;
            width: $gs-gutter/2;
        }
    }

    @include mq(desktop) {
        display: block;
    }
}
.football-knockout-chart--4-rounds,
.football-knockout-chart--5-rounds {
    .football-round {
        width: 14.285714286%;
    }
}

.football-rounds--second-half {
    .football-round {
        float: right;
    }
    .football-match__victory-line {
        left: 0;

        &:after {
            left: -$gs-gutter/2;
        }
    }
    .football-round__matches {
        @include rem((
            padding-left: $gs-gutter/2
        ));
        padding-right: 0;
    }
}

.football-round {
    @include fs-data(4);
    float: left;
}
.football-round--8-matches {
    .football-match {
        height: 25%;
    }
}
.football-round--4-matches {
    .football-match {
        height: 50%;
    }
}
.football-round--2-matches {
    .football-match {
        height: 100%;
    }
}
.football-round--1-matches {
    .football-match {
        height: 70%;
        top: 15%;
    }
    .football-round__matches {
        padding: 0;
    }
    .football-match__victory-line {
        @include box-sizing(border-box);
        border-right: 1px dotted $c-neutral2;
        width: 100%;

        &:after {
            display: none;
        }
    }
}
.football-round__name {
    @include rem((
        padding: $gs-baseline/2 0
    ));
    border-bottom: 1px solid $c-neutral3;
    font-weight: bold;
    text-align: center;
}
.football-round__matches {
    @include box-sizing(border-box);
    @include rem((
        padding-right: $gs-gutter/2
    ));
    height: 530px;
}

.football-round--playoff {
    bottom: 0;
    display: none;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}