@(table: Table, highlightTeamId: Option[String] = None)(implicit request: RequestHeader)
<li id="front-competition-table" class="competition-table front-competition-table" data-link-name="front table">
    <h3 class="type-5">@table.competition.fullName table</h3>

    <p class="dateline"><i class="i i-date"></i> <span>Last updated: a minute ago</span></p>

    @if(table.multiGroup){
        @table.groups.map{ group =>
            @group.round.map { round =>
                @round.name.map { name =>
                    <div class="football__group">
                        <div class="table__headline">@name</div>
                        @tableView(table.competition, group, highlightTeamId)
                    </div>
                }
            }
        }
    }else{
        @table.groups.map{ group =>
            @tableView(table.competition, group, highlightTeamId)
        }
    }

    <a href="@LinkTo{@{table.competition.url + "/table"}}" data-link-name="full table" class="cta-small cta-small-border front-competition-link">View full table<i class="i i-sport-arrow i-sport-arrow--small"></i></a>
</li>
