@(table: Table, highlightTeamId: Option[String] = None)(implicit request: RequestHeader)

<li id="front-competition-table" class="competition-table" data-link-name="front table">
    <h3 class="type-5">@table.competition.fullName table</h3>

    <p class="dateline type-11"><i class="i i-date"></i> <span>Last updated: a minute ago</span></p>

    <table class="table-football type-6a" data-link-name="Table component">
        @if(!table.multiGroup) {
            <thead class="table-football-header">
                @tableColumnHeaders()
            </thead>
        }

        @table.groups.map{ group =>
        <tbody class="table-football-body">
            @if(table.multiGroup) {
                @group.round.map { round =>
                    @round.name.map { name =>
                        <tr>
                            <th colspan="20" class="type-6a table-football-leftaligned">@name</th>
                        </tr>
                        @* we repeat this nav for group tables *@
                        @tableColumnHeaders()
                    }
                }
            }
            @group.entries.zipWithRowInfo.map{ case (entry, row) => @tableRow(entry, row, highlightTeamId.map(_ == entry.team.id).getOrElse(false)) }
        </tbody>
        }
    </table>

    <a href="@LinkTo{@{table.competition.url + "/table"}}" data-link-name="full table" class="cta-small cta-small-border type-8 zone-color">View full table<i class="i i-sport-arrow-small"></i></a>
</li>
