@(model: MatchesPage)(implicit request: RequestHeader)
@import org.joda.time.DateTime
@import implicits.Football._

@model.comp.map{ competition =>
    <div class="article__meta-container">
        <h3 class="article__meta-heading"><a href="@LinkTo{@competition.url}" data-link-name="view competition">@competition.fullName</a></h3>
    </div>
}

@model.days.map { day =>
    <div class="football-matches__day">
        <div class="date-divider">@day.date.toString("EEEE d MMMM yyyy")</div>
        @day.competitions.zipWithRowInfo.map{ case (comp, row) =>
            <div class="football-table__container">
                @if(model.comp.isEmpty) {
                    <div class="article__meta-container">
                        <h3 class="article__meta-heading"><a href="@LinkTo{@comp.url}" data-link-name="view competition">@comp.fullName</a></h3>
                    </div>
                }

                <div class="article__container u-cf">
                    @football.views.html.matchList.matchesComponent(comp.matches)
                </div>
            </div>
        }
    </div>
}

@if(model.previousPage.isDefined || model.nextPage.isDefined) {
    <div class="js-matches-nav matches-nav u-cf js-not-ajax" data-link-name="@model.pageType nav">
        @model.previousPage.map{url => <a href="@LinkTo{@url}" data-link-name="previous"><span class="i i-toggle-collapse-neutral" title="Previous day"></span></a>}
        @model.nextPage.map{url => <a href="@LinkTo{@url}" data-link-name="next"><span class="i i-toggle-expand-neutral" title="Next few days"></span></a>}
    </div>
}