@import common.LinkTo
@import implicits.Football._
@import model.Competition
@import pa.FootballMatch
@import views.support.RenderClasses
@import conf.Configuration

@(theMatch: FootballMatch, competition: Option[Competition] = None, responsive: Boolean = false, link: Boolean = false)(implicit request: RequestHeader)


@defining((theMatch.homeTeam, theMatch.awayTeam)){ case (homeTeam, awayTeam) =>
<@if(link){a href="@LinkTo("/football/match-redirect/"+theMatch.id)"}else{div}
    data-component="big-match-special"
    class="@RenderClasses(Map(
        "match-summary" -> true,
        "match-summary--fixture" -> theMatch.isFixture,
        "match-summary--responsive" -> responsive
    ))" data-match-id="@theMatch.id">
    @if(theMatch.isLive || theMatch.isResult){
        <h1 class="u-h">@homeTeam.name @homeTeam.score - @awayTeam.score @awayTeam.name</h1>
    }else{
        <h1 class="u-h">@homeTeam.name v @awayTeam.name</h1>
    }

    <div class="@RenderClasses(Map(
        "match-summary__status" -> true,
        "match-summary__status--live" -> theMatch.isLive))">
        <div class="status__time">
            @if(theMatch.isFixture){
                @theMatch.date.toString("HH:mm")
            }else{
                @status(theMatch)
            }
        </div>
    </div>

    <div class="match-info">
        @competition.map{ competition => <div class="match-info__competition">@competition.fullName</div>}
        @theMatch.venue.map{ venue => <div class="match-info__venue">@venue.name</div> }
    </div>

    <div class="match-summary__teams">
        <div class="match-summary__team match-summary__team--home u-cf">
            <div class="team__crest team__crest--home">
                <div class="team__crest__img-container">
                    <span class="team__crest__img" style="background-image: url(@Configuration.staticSport.path/football/crests/120/@{homeTeam.id}.png)"></span>
                </div>
            </div>
            <div class="team__info">
                <h2 class="team__heading">
                    <span class="team__name" data-abbr="@pa.TeamCodes.codeFor(homeTeam)">
                        <span class="team__name-long">@homeTeam.name</span>
                    </span>
                    @if(theMatch.isLive || theMatch.isResult){<span class="team__score">@homeTeam.score</span>}
                </h2>

                @if(theMatch.isFixture){
                    @competition.map{ competition =>
                        <div class="team__results-container">
                            @teamForm(homeTeam.id, competition)
                        </div>
                    }
                }else{
                    <dl class="team__scorers u-unstyled">
                        <dt class="u-h">Home team scorers</dt>
                        @homeTeam.scorers.map{scorers => @scorers.split(",").map{ scorer => <dd>@scorer.replace("(", "").replace(")", "")</dd>}}
                    </dl>
                }
                <div class="team__battle-line"></div>
            </div>
        </div>

        <div class="match-summary__team match-summary__team--away u-cf">
            <div class="team__crest team__crest--away">
                <div class="team__crest__img-container">
                    <span class="team__crest__img" style="background-image: url(@Configuration.staticSport.path/football/crests/120/@{awayTeam.id}.png)"></span>
                </div>
            </div>
            <div class="team__info">
                <h2 class="team__heading">
                    <span class="team__name" data-abbr="@pa.TeamCodes.codeFor(awayTeam)">
                        <span class="team__name-long">@awayTeam.name</span>
                    </span>
                    @if(theMatch.isLive || theMatch.isResult){<span class="team__score">@awayTeam.score</span>}
                </h2>
                @if(theMatch.isFixture){
                    @competition.map{ competition =>
                        <div class="team__results-container">
                            @teamForm(awayTeam.id, competition)
                        </div>
                    }
                }else{
                    <dl class="team__scorers u-unstyled">
                        <dt class="u-h">Away team scorers</dt>
                        @awayTeam.scorers.map{scorers => @scorers.split(",").map{ scorer => <dd>@scorer.replace("(", "").replace(")", "")</dd>}}
                    </dl>
                }
            </div>
        </div>
    </div>

    @theMatch.comments.map{ comments => <div class="match-summary__comment">@comments.replace("(", "").replace(")", "")</div>}
    @theMatch.homeTeam.aggregateScore.map{ score => <div class="match-summary__aggregate">agg. @score-@theMatch.awayTeam.aggregateScore</div>}
</@if(link){a}else{div}>
}
