@(entry: pa.LeagueTableEntry, row: RowInfo, highlight: Boolean = false)
<tr@if(highlight){ class="highlight"}>
    <td class="table-column--sub">@entry.team.rank</td>
    <td class="table-column--main"><a href="@TeamUrl(entry.team)" data-link-name="View team">@entry.team.name</a></td>
    <td>@entry.team.total.played</td>
    <td>@entry.team.total.won</td>
    <td>@entry.team.total.drawn</td>
    <td>@entry.team.total.lost</td>
    <td>@entry.team.total.goalsFor</td>
    <td>@entry.team.total.goalsAgainst</td>
    <td>@entry.team.goalDifference</td>
    <td>@entry.team.points</td>
</tr>