<tr>
    <th class="football-stat--postition table-column--sub"><abbr title="Position">Pos</abbr></th>
    <th class="football-stat--team table-column--main">Team</th>
    <th class="football-stat--played"><abbr title="Played">P</abbr></th>
    <th class="football-stat--won"><abbr title="Won">W</abbr></th>
    <th class="football-stat--drawn"><abbr title="Drawn">D</abbr></th>
    <th class="football-stat--lost"><abbr title="Lost">L</abbr></th>
    <th class="football-stat--for"><abbr title="Goals for">F</abbr></th>
    <th class="football-stat--against"><abbr title="Goals against">A</abbr></th>
    <th class="football-stat--difference"><abbr title="Goal difference">GD</abbr></th>
    <th class="football-stat--points"><abbr title="Points">Pts</abbr></th>
    <th class="football-stat--previous"><abbr title="Results of previous games">Form</abbr></th>
</tr>