@(competition: model.Competition, group: Group, highlightTeamId: Option[String] = None, showMeta: Boolean = false, isSmall: Boolean = false, multiGroup: Boolean = false)(implicit request: RequestHeader)
@* TODO (jamesgorrie): Support multigroups, remove hack of empty div *@
@if(!multiGroup) {
<div class="table__container">
    <table class="table table--football@if(isSmall){ table--small}else{ table--striped}">
        @if(showMeta){<caption><a href="@competition.url">@competition.fullName</a></caption>}
        <thead>
            <tr>
                <th class="football-stat--postition table-column--priority table-column--sub"><abbr title="Position">Pos</abbr></th>
                <th class="football-stat--team table-column--priority table-column--main">Team</th>
                <th class="football-stat--played table-column--priority"><abbr title="Played">P</abbr></th>
                <th class="football-stat--won"><abbr title="Won">W</abbr></th>
                <th class="football-stat--drawn"><abbr title="Drawn">D</abbr></th>
                <th class="football-stat--lost"><abbr title="Lost">L</abbr></th>
                <th class="football-stat--for"><abbr title="Goals for">F</abbr></th>
                <th class="football-stat--against"><abbr title="Goals against">A</abbr></th>
                <th class="football-stat--difference table-column--priority"><abbr title="Goal difference">GD</abbr></th>
                <th class="football-stat--points table-column--priority"><abbr title="Points">Pts</abbr></th>
                <th class="football-stat--form table-column--priority"><abbr title="Results of previous games">Form</abbr></th>
            </tr>
        </thead>

        <tbody class="table-football-body">
            @group.entries.zipWithRowInfo.map{ case (entry, row) =>
                <tr class="@RenderClasses(Map(
                        "table-row--highlight" -> highlightTeamId.map(_ == entry.team.id).getOrElse(false),
                        "table-row--divider" -> competition.tableDividers.contains(entry.team.rank)))">
                    <td class="football-stat--postition table-column--priority table-column--sub">@entry.team.rank</td>
                    <td class="football-stat--team table-column--priority table-column--main">
                        @TeamUrl(entry.team).map{ url =>
                            <a href="@TeamUrl(entry.team)" data-link-name="View team">
                                @entry.team.name
                            </a>
                        }.getOrElse(entry.team.name)
                    </td>
                    <td class="football-stat--played table-column--priority">@entry.team.total.played</td>
                    <td class="football-stat--won">@entry.team.total.won</td>
                    <td class="football-stat--drawn">@entry.team.total.drawn</td>
                    <td class="football-stat--lost">@entry.team.total.lost</td>
                    <td class="football-stat--for">@entry.team.total.goalsFor</td>
                    <td class="football-stat--against">@entry.team.total.goalsAgainst</td>
                    <td class="football-stat--difference table-column--priority">@entry.team.goalDifference</td>
                    <td class="football-stat--points table-column--priority">@entry.team.points</td>
                    <td class="football-stat--form table-column--priority">
                        @entry.prevResults.takeRight(5).map { result =>
                            @if(result.won) {
                              <span class="match-result match-result--won" data-foe="@result.foe.name" data-score="@result.self.score.get" data-score-foe="@result.foe.score.get">
                                  <span class="u-h">Won against @result.foe.name</span>
                              </span>
                            }
                            @if(result.drew) {
                                <span class="match-result match-result--drew" data-foe="@result.foe.name" data-score="@result.self.score.get" data-score-foe="@result.foe.score.get">
                                    <span class="u-h">Drew against @result.foe.name</span>
                                </span>
                            }
                            @if(result.lost) {
                                <span class="match-result match-result--lost" data-foe="@result.foe.name" data-score="@result.self.score.get" data-score-foe="@result.foe.score.get">
                                    <span class="u-h">Lost against @result.foe.name</span>
                                </span>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if(showMeta){<a href='@{competition.url + "/table"}' data-link-name="full table" class="cta-small type-8">View full @competition.fullName table<i class="i i-sport-arrow i-sport-arrow--small"></i></a>}
</div>
}else{
<div></div>
}
