@(metaData:Page)(implicit request: RequestHeader)

@main(metaData, Switches.all){  }{

    <article>

        <header>
            <h2 class="article-zone type-1">@metaData.webTitle</h2>
        </header>

        <div class="article-body">

            <p class="type-7">We use a number of CSS classes as "helpers" to aid us with repetitive tasks or commonly-encountered problems. Have a look at the table below for examples of where this happens.</p>

            <table class="styleguide-table styleguide-table-two-col-wide">
                <thead>
                    <tr>
                        <th class="type-11">CSS selector</th>
                        <th class="type-11">Explanation / usage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>.js-hidden</code></td>
                        <td>Used on things which should be hidden for JavaScript-enabled browsers. For example, we have a dropdown list of sections which is triggered via JS - we make this list <code>.js-hidden</code> so that users without JS can see it, but users with JS only see it when it's activated (and the class is removed).</td>
                    </tr>
                    <tr>
                        <td><code>.js-visible</code></td>
                        <td>Used to mark things which should only appear for JavaScript-enabled browsers. For example, we set the autorefresh controls for liveblogs as <code>.js-visible</code> as these tools require JS to work.</td>
                    </tr>
                    <tr>
                        <td><code>.is-off</code></td>
                        <td>Similar to <code>.js-hidden</code>, but indicates content which will be hidden for <strong>all browsers</strong> on pageload (via CSS) and later shown via JS. In other cases, consider using <code>.js-hidden</code>, which means elements will be shown by default to non-JS users (whereas <code>.is-off</code> content will never be seen by non-JS users).</td>
                    </tr>
                    <tr>
                        <td><code>.is-on</code></td>
                        <td>Sets <code>display: block</code> on an element. Used for JS toggles.</td>
                    </tr>
                    <tr>
                        <td><code>.maxed</code></td>
                        <td>Gives an element <code>width: 100%</code>. Useful for images.</td>
                    </tr>
                    <tr>
                        <td><code>.pull-left</code> / <code>.pull-right</code></td>
                        <td>Floats elements to the left/right respectively. Doesn't add margins or similar.</td>
                    </tr>
                    <tr>
                        <td><code>.margin-top</code> / <code>.margin-bottom</code></td>
                        <td>Adds margin properties for generic baseline-based vertical spacing. We try to use <code>margin-bottom</code> everywhere, where possible, to avoid confusion.</td>
                    </tr>
                    <tr>
                        <td><code>.border-top</code> / <code>.border-bottom</code></td>
                        <td>Add a standard border below/above the element. Doesn't add padding/margin.</td>
                    </tr>
                    <tr>
                        <td><code>.h</code></td>
                        <td>An accessible way to hide content (eg, image replacement, rather than using <code>text-indent: -1000em</code>).</td>
                    </tr>
                    <tr>
                        <td><code>.u-cf</code></td>
                        <td>Clearfix (as written by Nicolas Gallagher).</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </article>

}