@(metaData:Page)(implicit request: RequestHeader)

@main(metaData, Switches.all){  }{

    <article>

        <header>
            <h1 class="article-zone type-1">@metaData.webTitle</h1>
        </header>

        <h2 class="article-zone type-2 margin-bottom">Headlines</h2>

        <table class="styleguide-table styleguide-table-two-col">
            <thead>
                <tr>
                    <th class="type-11">CSS selector</th>
                    <th class="type-11">Output</th>
                </tr>
            </thead>
            <tbody>
                @fragments.typeRow("type-0", "DE5 semi bold 22px", "32px line-height (2.2 / 3.2 rem)")
                @fragments.typeRow("type-1", "DE5 semi bold 20px", "28px line-height (2 / 2.8 rem)")
                @fragments.typeRow("type-2", "DE5 semi bold 18px", "28px line-height (1.8 / 2.8 rem)")
            </tbody>
        </table>

        <h2 class="article-zone type-2 margin-bottom">Body copy</h2>

        <table class="styleguide-table styleguide-table-two-col">
            <thead>
                <tr>
                    <th class="type-11">CSS selector</th>
                    <th class="type-11">Output</th>
                </tr>
            </thead>
            <tbody>
                @fragments.typeRow("type-3", "Webtext bold 20px", "28px line-height (2 / 2.8 rem)")
                @fragments.typeRow("type-4", "Webtext bold 18px", "24px line-height (1.8 / 2.4 rem)")
                @fragments.typeRow("type-5", "Webtext bold 16px", "22px line-height (1.6 / 2.2 rem)")
                @fragments.typeRow("type-6", "Webtext regular 16px", "24px line-height (1.6 / 2.4 rem)")
                @fragments.typeRow("type-7", "Webtext regular 14px", "20px line-height (1.4 / 2.0 rem)")
            </tbody>
        </table>

        <h2 class="article-zone type-2 margin-bottom">Sub copy &amp; meta data</h2>

        <table class="styleguide-table styleguide-table-two-col">
            <thead>
                <tr>
                    <th class="type-11">CSS selector</th
>                    <th class="type-11">Output</th>
                </tr>
            </thead>
            <tbody>
                @fragments.typeRow("type-8",  "Helvetica regular 14px", "20px line-height (1.4 / 2 rem)")
                @fragments.typeRow("type-9",  "Helvetica bold 13px", "20px line-height (1.3 / 2 rem)")
                @fragments.typeRow("type-10", "Helvetica regular 13px", "20px line-height (1.3 / 2 rem)")
                @fragments.typeRow("type-11", "Helvetica regular 12px", "16px line-height (1.2 / 1.6 rem)")
                @fragments.typeRow("type-12", "Helvetica regular 11px", "16px line-height (1.1 / 1.6 rem)")
            </tbody>
        </table>

    </article>

}