@(metaData:Page, zoneList: Seq[ZoneColour])(implicit request: RequestHeader)

@main(metaData, Switches.all){  }{

    <article>

        <header>
            <h1 class="article-zone type-1 margin-bottom">@metaData.webTitle</h1>
        </header>

        <div class="box-indent">
            <p class="type-7">Zones are areas of the site that are identified by a particular colour. These can be used by applying the class value shown below to a containing element of the area of the page you want to styled as a particular zone. This is typically on the <code>&lt;body&gt;</code> element of the page, eg. <code>&lt;body class="zone-culture"&gt;</code></p>
        </div>


        <div class="module-container u-cf">

            <h2 class="type-5 zone-color box-indent">Zone colours</h2>

            <p class="box-indent type-7">Change the text colour of the text in any element to the appropriate zone colour, by adding a class value of <code>.zone-color</code>.</p>

            <div class="tabs-container">
                <ol class="tabs js-tabs">
                    <li class="tabs-selected"><a href="#zone-colour-output">Output</a></li>
                    <li><a href="#zone-colour-code">Source code</a></li>
                </ol>

                <div class="tabs-content">
                     <div class="tabs-pane" id="zone-colour-output">
                        <div class="zone-environment">
                            <p class="zone-color">I'm an environmental paragraph</p>
                        </div>
                     </div>
                     <div class="tabs-pane js-hidden" id="zone-colour-code">
                        <pre class="prettyprint">
    &lt;div class="zone-environment"&gt;
        &lt;p class="zone-color"&gt;I'm an environmental paragraph&lt;/p&gt;
    &lt;/div&gt;
                        </pre>
                     </div>
                </div>
            </div>
        </div>


        <div class="module-container u-cf">

            <h2 class="type-5 zone-color box-indent">Zone backgrounds</h2>

            <p class="box-indent type-7">Change the background colour of any element to the appropriate zone colour, by adding a class value of <code>.zone-background</code>.</p>

            <ol class="tabs js-tabs">
                <li class="tabs-selected"><a href="#zone-bg-output">Output</a></li>
                <li><a href="#zone-bg-code">Source code</a></li>
            </ol>

            <div class="tabs-content">
                 <div class="tabs-pane" id="zone-bg-output">
                    <div class="zone-lifeandstyle">
                        <p class="zone-background">I have a life and style background</p>
                    </div>
                 </div>
                 <div class="tabs-pane js-hidden" id="zone-bg-code">
                    <pre class="prettyprint">
&lt;div class="zone-lifeandstyle"&gt;
    &lt;p class="zone-background"&gt;I have a life and style background&lt;/p&gt;
&lt;/div&gt;
                    </pre>
                 </div>
            </div>
        </div>

        <h2 class="type-4 zone-color box-indent">Zone choices</h2>
        <p class="box-indent type-7">Below are all of the current zone colours, plus their CSS aliases. Many sections and tags of the site are grouped into related zones (eg. Music, Art and Film are all part of the Culture zone). These zones aren't linked in any technical sense (no API representation etc) so we alias them together using CSS to group related sections.</p>

        <table class="styleguide-table">
            <thead>
                <tr>
                    <th class="type-11 zone-hue">Hue</th>
                    <th class="type-11 zone-name">Zone name</th>
                    <th class="type-11 zone-selector">CSS selector(s)</th>
                    <th class="type-11 zone-hex">Hex code</th>
                </tr>
            </thead>
            <tbody>
                @zoneList.map{ zone =>
                    <tr>
                        <td class="@zone.className zone-hue"><span class="hue zone-background" title="@zone.hexCode"></span></td>
                        <td class="zone-name">@zone.zoneName</td>
                        <td class="zone-selector"><code>@Html(zone.selectors.mkString("</code>, <code>"))</code></td>
                        <td class="zone-hex">@zone.hexCode</td>
                    </tr>
                }
            </tbody>
        </table>

    </article>

}