@(model: ArticlePage)(implicit request: RequestHeader)
@import conf.Switches._

@defining((model.article, model.storyPackage)) { case (article, storyPackage) =>
    <h2 class="article-zone left-col-deport tone-@VisualTone(article) tone-accent-border">
        <span class="left-col-deport__body">
            <a class="tone-colour" data-link-name="article section" href="@LinkTo{/@article.section}">@Html(article.sectionName.toLowerCase)</a>
        </span>
    </h2>
    <div class="article-wrapper monocolumn-wrapper tone-@VisualTone(article) paragraph-spacing--indents">
        <article id="article" class="article @if(article.isLive){is-live}"
                 itemprop="mainContentOfPage" itemscope itemtype="@article.schemaType" role="main">
            <div class="article__inner article__inner--head">
                <header class="article__head">

                    @fragments.headline(article.headline)

                    @fragments.standfirst(article)

                    @fragments.article.dateline(article.webPublicationDate)

                </header>

                @fragments.witnessCallToAction(article)

                <div class="after-header"></div>
            </div>
            <div class="article__columning-wrapper">
                <div class="article__main-column">

                    @if(!article.hasVideoAtTop) {
                        @if(article.hasMainVideo) {
                            @article.mainVideo.map{ mainVideo =>
                                <div class="media-proportional-container">
                                    <video data-media-id="@mainVideo.id" class="gu-video" controls="controls">
                                        @for(url <- mainVideo.videoAssets.flatMap(_.url)) {
                                            <source src="@url"></source>
                                        }
                                        @mainVideo.videoAssets.find(_.mimeType == "video/mp4").map{ encoding =>
                                            <object type="application/x-shockwave-flash" data="@Static("flash/flashmediaelement.swf")" width="620" height="350">
                                                <param name="allowFullScreen" value="true" />
                                                <param name="movie" value="@Static("flash/flashmediaelement.swf")" />
                                                <param name="flashvars" value="file=@encoding.url&amp;controls=true" />
                                                Sorry, your browser is unable to play this video.
                                            </object>
                                        }
                                    </video>
                                </div>
                            }
                        } else {
                            @fragments.img(article.mainPicture)
                        }
                    }

                    <div class="article__meta-container">
                        @fragments.byline(article.byline, article)

                        @fragments.article.dateline(article.webPublicationDate, secondary=true)
                        <div class="js-comment-count"></div>
                    </div>

                    <div class="js-article__container article__container u-cf">
                        <div class="article-body u-cf from-content-api"
                        itemprop="@if(article.isReview){reviewBody} else {articleBody}">
                            @BodyCleaner(article, article.body)
                        </div>

                        @if(ArticleKeywordsSwitch.isSwitchedOn){
                            <div class="article__keywords" data-link-name="article keywords">
                                @fragments.keywordList(article.keywords)
                            </div>
                        }
                    </div>

                    <div class="social-wrapper">
                        @fragments.social(article)
                    </div>
                </div>
                <div class="article__secondary-column" aria-hidden="true">
                    <div class="article__secondary-column__inner">
                        <div class="js-sticky-upper" data-id="mpu-ad-slot"></div>
                        <div class="u-table">
                            <div class="u-table__row">
                                <div class="u-table__cell u-table__cell--top">
                                    <div class="mpu-context">
                                        <div class="mpu-container js-mpu-ad-slot">
                                            <h2 class="article__meta-heading tone-colour">Share this article</h2>
                                            @fragments.social(article, "next to content")

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="u-table__row">
                                <div class="u-table__cell u-table__cell--collapse u-table__cell--bottom">
                                    <div class="js-sticky-lower" data-id="mpu-ad-slot"></div>
                                    @if(storyPackage.nonEmpty) {
                                        @fragments.cards.card(storyPackage.head, "right", "More on this story", "Story package card", "visible")
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </article>

        <div class="article__inner">
            @if(DiscussionSwitch.isSwitchedOn && article.isCommentable) {
                @fragments.discussion(article.isClosedForComments, article.shortUrlId)
            }
            @if(storyPackage.nonEmpty) {
                <aside role="complementary" class="more-on-this-story@if(storyPackage.size == 1){ more-on-this-story--one-item}" data-link-context="@article.section">
                    @fragments.relatedTrails(storyPackage, heading = "More on this story", visibleTrails = 5)
                </aside>
            } else {
                <aside class="js-related" role="complementary" data-link-context="related@article.url"></aside>
            }

            @fragments.mostPopularPlaceholder(article.section)
        </div>
    </div>
}
