
@(page: PageWithStoryPackage)(implicit request: RequestHeader)

@import model.liveblog._
@import views.support.EmailArticleImage

@defining(page.article) { article =>
    <div class="container">
        <h1>@article.trail.headline</h1>
    </div>

    @fragments.emailMainMedia(article)

    <div class="container">
        @fragments.contentMeta(article, showExtras = false)
    </div>

    @page.article.fields.blocks.map { block =>
        <div class="article-body">
            @block.elements.map { element =>
                @element match {
                    case TextBlockElement(Some(html)) => {
                        <div class="container">
                            @Html(html)
                        </div>
                    }

                    case EmbedBlockElement(Some(html), _, _) => { @Html(html) }

                    case ImageBlockElement(media, data, showCredit) => {
                        @EmailArticleImage.bestFor(media).map { url =>
                            <img class="article-image" src="@url" @data.get("alt").map { alt => alt="@alt" }>

                            @data.get("caption").map { caption =>
                                <div class="container">
                                    <small class="article-image-caption">
                                        @Html(caption)

                                        @if(showCredit) {
                                            @data.get("credit").map(Html(_))
                                        }
                                    </small>
                                </div>
                            }

                        }
                    }

                    case _ => { }
                }
            }
        </div>
    }
}
