@(page: PageWithStoryPackage)(implicit request: RequestHeader)

@import views.support.{ImgSrc, EmailArticleImage}
@import views.support.Zurb._
@import model.liveblog._

@defining(page.article) { article =>
    <table class="container">
        <tr>
            <td>
                @fullRow {
                    <h1>@article.trail.headline</h1>
                }

                @if(!article.elements.hasMainEmbed) {
                    @article.elements.mainPicture.map { picture =>
                        @fullRow {
                            @EmailArticleImage.bestFor(picture.images).map { url =>
                                <img src="@url" alt="@ImgSrc.getFallbackAsset(picture.images).flatMap(_.altText).getOrElse("")" />

                                @picture.images.largestImage.map { img =>
                                    @if(img.showCaption) {
                                        <small>
                                            @img.caption.map(Html(_))
                                            @if(img.displayCredit && !img.creditEndsWithCaption) {
                                                @img.credit.map(Html(_))
                                            }
                                        </small>
                                    }
                                }
                            }
                        }
                    }
                }

                @fullRow {
                    @article.trail.byline.map { byline =>
                        <h2 class="byline">@byline</h2>

                        @if(article.content.tags.contributors.length == 1) {
                            @fragments.meta.contactAuthor(article.tags)
                        }
                    }
                }

                @page.article.fields.blocks.map { block =>
                    @block.elements.map { element =>
                        @fullRow {
                            @element match {
                                case TextBlockElement(Some(html)) => { @Html(html) }
                                case EmbedBlockElement(Some(html), _, _) => { @Html(html) }
                                case ImageBlockElement(media, data, showCredit) => {
                                    @EmailArticleImage.bestFor(media).map { url =>
                                        <img class="article-image" src="@url" @data.get("alt").map { alt => alt="@alt" }>

                                        @data.get("caption").map { caption =>
                                            <small>@Html(caption)</small>
                                        }

                                        @if(showCredit) {
                                            @data.get("credit").map(Html(_))
                                        }
                                    }
                                }
                                case _ => {}
                            }
                        }
                    }
                }
            </td>
        </tr>
    </table>
}
