@()(implicit page: model.ContentPage, request: RequestHeader, applicationContext: model.ApplicationContext)

@import views.support.RenderClasses
@import _root_.html.HtmlPageHelpers.guardianHeaderHtml

<div class="@RenderClasses(Map(
    ("immersive-header-container", page.item.fields.main.nonEmpty),
    ("immersive-header-container--explore-series", page.item.content.tags.isExploreSeries),
    ("explore-video-container", page.item.content.elements.hasMainVideo)))">

    @guardianHeaderHtml()

    @fragments.exploreSeries()
</div>
