@(content: model.Content)(implicit request: RequestHeader)

<header class="content__head
    @if(content.hasTonalHeaderByline && content.hasLargeContributorImage) { content__head--byline-pic}">

    <div class="tonal__header">
        <div class="gs-container">
            <div class="content__main-column">

                @fragments.meta.metaInline(content)

                <h1 itemprop="headline" class="content__headline js-score">@Html(content.headline)</h1>

                @if(content.hasTonalHeaderByline && content.hasLargeContributorImage) {
                    @fragments.meta.bylineImage(content)
                }

                @if(content.hasTonalHeaderByline) {
                    @content.byline.map { text =>
                        <span class="content__headline content__headline--byline tonal__headline__accent">@ContributorLinks(text, content.contributors)</span>
                    }
                }

                @if(content.isCommentable) {
                    <div class="content__head__comment-count content__head__comment-count--standfirst js-comment-count"></div>
                }

                @content.starRating.map { s =>
                    @fragments.items.elements.starRating(content)
                }
            </div>
        </div>
    </div>

    <div class="tonal__standfirst">
        <div class="gs-container">
            <div class="content__main-column">
                @fragments.standfirst(content)
            </div>
        </div>
    </div>
</header>