@import model.ArticlePage
@()(implicit model: ArticlePage, request: RequestHeader, context: _root_.model.ApplicationContext)

@import views.html.fragments.langAttributes
@import common.LinkTo
@import views.BodyProcessor
@import views.support.RenderClasses
@import views.support.Commercial.{isPaidContent, articleAsideOptionalSizes, shouldShowAds}
@import views.support.TrailCssClasses.toneClass
@import _root_.model.ContentDesignType.RichContentDesignType

@defining((model.article, isPaidContent(model))) { case (article, isPaidContent) =>

        <article id="article" data-test-id="article-root"

            class="@RenderClasses(Map(
                "paid-content" -> isPaidContent,
                "content--pillar-special-report" -> (toneClass(article) == "tone-special-report")
            ),
                "content",
                "content--article",
                s"content--pillar-${article.metadata.pillar.nameOrDefault}",
                s"content--type-${article.metadata.designType.nameOrDefault}",
                "tonal",
                s"tonal--${toneClass(article)}",
                s"section-${article.trail.sectionName.trim.toLowerCase.replaceAll("""[\s-]+""", "-")}"
            ), content content--type-immersive content--article content--immersive content--immersive-article content--immersive-garnett tonal"

            itemscope itemtype="@article.metadata.schemaType" role="main">
            <meta itemprop="mainEntityOfPage" content="@LinkTo(article.metadata.url)">
            <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <meta itemprop="name" content="The Guardian">
                <link itemprop="sameAs" href="http://www.theguardian.com">
            </div>
            @if(isPaidContent) {
                @fragments.guBand()
            }
            @fragments.headerImmersive(article)
            @fragments.immersiveGarnettHeadline()
            <div class="content__standfirst--wrapper">
                <div class="gs-container">
                    <div class="content__main-column">
                        @fragments.standfirst(article)
                    </div>
                </div>
            </div>
            <div class="content__main tonal__main tonal__main--@toneClass(article)">
                <div class="gs-container">
                    <div class="content__main-column content__main-column--article js-content-main-column @if(article.tags.isSudoku) {sudoku}">
                        @defining(model.article.elements.mainPicture.flatMap(_.images.masterImage)) {
                            case Some(masterImage) => {
                                <figcaption class="caption caption--immersive hide-from-leftcol">
                                    Main image:
                                    @masterImage.caption.map(Html(_))
                                    @if(masterImage.displayCredit && !masterImage.creditEndsWithCaption) {
                                        @masterImage.credit.map(Html(_))
                                    }
                                </figcaption>
                            }
                            case None => { }
                        }

                        @fragments.contentMeta(article, model)

                        @if(article.tags.isNews && !article.elements.hasMainEmbed && article.elements.elements("main").isEmpty) {
                            <hr class="content__hr hide-until-leftcol" />
                        }

                        <div class="content__article-body from-content-api js-article__body"
                             itemprop="@if(article.tags.isReview){reviewBody} else {articleBody}"
                             data-test-id="article-review-body" @langAttributes(article.content)>
                            @BodyProcessor(article)
                            @fragments.submeta(article)

                        </div>

                        <div class="after-article js-after-article"></div>
                    </div>

                    <div class="content__secondary-column js-secondary-column" aria-hidden="true">

                        @if(!article.tags.isPrintSalesSeries){
                            @fragments.articleAsideSlot(
                                shouldShowAds(model),
                                articleAsideOptionalSizes(article.elements.hasShowcaseMainElement),
                                false
                            )
                        }

                    </div>
                </div>
            </div>
        </article>

        @fragments.contentFooter(article, model.related, isPaidContent = isPaidContent)

    </div>
}
