@(storyPackage: Seq[Trail])(implicit request: RequestHeader)

@if(storyPackage.nonEmpty && ABTest(request).isB){
    <div class="trailblock more-on-story zone-border more-inline" id="inline-more-on" data-link-name="related : inline : More on this story">
        <h3>More on this story</h3>
        <ul class="plain show-3">
            @storyPackage.take(3).map{ trail =>
                <li>
                    <div class="media b1">
                        <div class="bd">
                            <p class="type-tone">Document</p>
                            <p>
                                <a href="@trail.url" data-link-name="link text">@Html(trail.linkText)</a>
                            </p>
                            @trail.trailText.map{ text =>  <p class="gt-base trailtext">@Html(text)</p> }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
}
