@(model: LiveBlogPage)(implicit request: RequestHeader)

@import common.LinkTo
@import views.support.TrailCssClasses.toneClass
@import views.BodyCleaner
@import layout.{FaciaCardAndIndex, ItemClasses}
@import org.jsoup.Jsoup
@import views.html.fragments.items.facia_cards.item

@defining(model.article) {  article =>
<div class="l-side-margins">
    <article id="live-blog" data-test-id="live-blog"
        class="content content--liveblog tonal tonal--@toneClass(article) blog @if(article.fields.isLive){is-live} section-@article.trail.sectionName.toLowerCase"
        itemscope itemtype="@article.metadata.schemaType" role="main">

        <meta itemprop="url" content="@LinkTo(article.metadata.url)">

        <header class="content__head tonal__head tonal__head--@toneClass(article)">
            @* UPPER HEADER *@
            <div class="content__header tonal__header u-cf">
                <div class="gs-container">
                    <div class="content__main-column content__main-column--liveblog">
                        @fragments.meta.metaInline(article)
                        <h1 itemprop="headline" class="content__headline js-score">@Html(article.trail.headline)</h1>
                    </div>
                </div>
            </div>
            @* LOWER HEADER *@
            <div class="tonal__standfirst u-cf">
                <div class="gs-container">
                    <div class="content__main-column content__main-column--liveblog">
                        @fragments.standfirst(article)

                        <div class="content__updated-container content__updated-container--liveblog">
                            @if(article.fields.isLive) {<span class="blog__live live-pulse-icon js-flashing-image">LIVE</span> }Updated <time class="js-timestamp" datetime="@article.fields.lastModified" data-relativeformat="med"></time>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="content__main tonal__main tonal__main--@toneClass(article)">
            <div class="gs-container">
                <div class="content__main-column content__main-column--liveblog">
                    <div class="js-sport-tabs js-football-meta football-tabs content__mobile-full-width"></div>
                    <div class="js-cricket-score"></div>

                    @fragments.mainMedia(article)

                    @fragments.witnessCallToAction(article.content)

                    <div class="blog__left-col">

                        @fragments.contentMeta(article)

                        <div class="js-top-marker"></div>
                        @if(article.hasKeyEvents) {
                            <div class="blog__timeline blog__dropdown js-live-blog__key-events modern-visible js-updates-desktop">
                                <div class="blog__timeline-container js-live-blog__timeline-container" data-component="timeline">
                                    @fragments.dropdown("Key events", Some("key-events"), false) {
                                        <ul class="timeline js-live-blog__timeline u-unstyled"></ul>
                                    }
                                </div>
                            </div>
                        }
                        <div class="js-components-container"></div>
                    </div>

                    @fragments.dropdown("Live feed", Some("live-feed"), true) {
                        <div class="js-article__container" data-component="body">
                            <div class="js-liveblog-body u-cf from-content-api js-blog-blocks @if(article.fields.isLive) {live-blog}" data-most-recent-block="@article.mostRecentBlock" data-test-id="live-blog-blocks"
                                itemprop="@if(article.tags.isReview) {reviewBody} else {articleBody}">
                                <div class="blog__updates-box-container">
                                    <div id="liveblog-updates-button" class="blog__updates-box-tofix">
                                        <a class="blog__updates-box blog__updates-box--closed js-updates-button button button--large">
                                            <span class="blog__updates-box-text"></span>
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                                <g>
                                                    <path fill="#FFFFFF" d="M12,0.5c6.4,0,11.5,5.1,11.5,11.5c0,6.3-5.2,11.5-11.5,11.5c-3.5,0-6.6-1.5-8.7-4l-0.7,4H1.3v-6.9l0.5-0.5
		h6.7v1.3L4.7,18c1.8,2.1,4.3,3.4,7.3,3.4c5.2,0,9.4-4.2,9.4-9.4c0-5.2-4.2-9.5-9.4-9.5c-3.2,0-6,1.6-7.7,4L3.6,6.8L2.7,6.2L2.5,5.5
		C4.6,2.5,8.1,0.5,12,0.5L12,0.5z"/>
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                @BodyCleaner(article, article.fields.body, amp = false)
                            </div>
                        </div>

                        @fragments.submeta(article)

                        <div class="after-article js-after-article"></div>

                        <div class="js-bottom-marker"></div>
                    }
                </div>

                <div class="content__secondary-column" aria-hidden="true">
                    <div class="ad-slot-container js-ad-slot-container"></div>
                    @if(model.related.hasStoryPackage) {
                        <aside role="complementary" class="blog__related">
                            <h3 class="blog__related__head">More on this story</h3>
                            <ul class="u-unstyled fc-slice fc-slice--single-col">
                                @model.related.faciaItems.take(3).zipWithIndex.map { case (trail, index) =>
                                    @item(
                                        FaciaCardAndIndex.fromTrail(
                                            trail,
                                            ItemClasses.liveBlogMore,
                                            index
                                        ).transformCard(_.withTimeStamp),
                                        0,
                                        isRow = false,
                                        isList = false
                                    )(request)
                                }
                            </ul>
                        </aside>
                    }
                </div>

            </div>
        </div>
    </article>

    @fragments.contentFooter(article, model.related)

    }
</div>
