@import _root_.liveblog.LiveBlogPageModel
@import model.liveblog.BodyBlock
@import model.Article
@(isLive: Boolean, article: Article, pageModel: LiveBlogPageModel[BodyBlock])

<div class="live-toolbar js-live-toolbar modern-visible">
    @if(pageModel.pagesLength > 1) {
        <div class="liveblog-navigation">
            <div class="liveblog-navigation__detail">
                <!-- div necessary for flexbox -->
                <div><span class="liveblog-navigation__page-number">@pageModel.pageNumber</span> of <span class="liveblog-navigation__pages-length">@pageModel.pagesLength</span></div>
            </div>

            <div class="liveblog-navigation__newer">
                @defining(pageModel.newest.equals(pageModel.canonical)) { isNewestPage =>
                    @pageModel.newest.suffix.map { suffix =>
                        <a @if(!isNewestPage) {
                            href="/@{article.content.metadata.id}@suffix"
                            title="Go to page 1"
                        }
                        class="liveblog-navigation__link link-navigation__link--secondary link-navigation__link--secondary--newer @if(isNewestPage) { liveblog-navigation__link--disabled }"
                        data-link-name="newest page">
                            @fragments.inlineSvg("arrow-left-double", "icon", List("link-navigation__link--secondary--newer__icon"))
                            Newest
                        </a>
                    }
                }

                @defining(pageModel.newer.suffix.map(x => true).getOrElse(false)) { hasNewerPage =>
                    <a @pageModel.newer.suffix.map { suffix =>
                        href="/@{article.content.metadata.id}@suffix"
                        title="Go to page @{pageModel.pageNumber - 1}"
                    }
                    class="liveblog-navigation__link liveblog-navigation__link--primary @if(!hasNewerPage) { liveblog-navigation__link--disabled liveblog-navigation__link--primary--disabled }"
                    data-link-name="newer page">
                        @fragments.inlineSvg("arrow-left", "icon")<span class="u-h">Newer</span>
                    </a>
                }
            </div>

            <div class="liveblog-navigation__older">
                @defining(pageModel.older.suffix.map(x => true).getOrElse(false)) { hasOlderPage =>
                    <a @pageModel.older.suffix.map { suffix =>
                        href="/@{article.content.metadata.id}@suffix"
                        title="Go to page @{pageModel.pageNumber + 1}"
                    }
                    class="liveblog-navigation__link liveblog-navigation__link--primary @if(!hasOlderPage) { liveblog-navigation__link--disabled liveblog-navigation__link--primary--disabled }"
                    data-link-name="older page">
                        @fragments.inlineSvg("chevron-right", "icon")<span class="u-h">Older</span>
                    </a>
                }

                @defining(pageModel.oldest.equals(pageModel.canonical)) { isOldestPage =>
                    @pageModel.oldest.suffix.map { suffix =>
                        <a @if(!isOldestPage) {
                            href="/@{article.content.metadata.id}@suffix"
                            title="Go to page @pageModel.pagesLength"
                        }
                        class="liveblog-navigation__link link-navigation__link--secondary liveblog-navigation__link--secondary--older @if(isOldestPage) { liveblog-navigation__link--disabled }"
                        data-link-name="oldest page">
                            Oldest
                            @fragments.inlineSvg("arrow-right-double", "icon", List("link-navigation__link--secondary--older__icon"))
                        </a>
                    }
                }
            </div>
        </div>
    }
    @if(isLive) {
        <div class="update u-h" data-link-name="autoupdate"></div>
    }
</div>
@if(isLive) {
    <div class="js-update-notification notify-wrapper" data-component="live-notification"></div>
}
