@()(implicit model: ArticlePage, request: RequestHeader, context: _root_.model.ApplicationContext)

@import views.html.fragments.langAttributes
@import common.LinkTo
@import views.BodyProcessor
@import views.support.Commercial.{isPaidContent, articleAsideOptionalSizes, shouldShowAds}
@import views.support.TrailCssClasses.toneClass

@defining(model.article) { article =>
  @defining(isPaidContent(model)) { isPaidContent =>
        <article id="article" data-test-id="article-root"
            class="content content--article content--immersive content--immersive-article tonal tonal--@toneClass(article) section-@article.trail.sectionName.trim.toLowerCase.replaceAll("""[\s-]+""", "-")
            @if(isPaidContent){content--paid-content}
            @if(article.tags.isFeature && article.elements.hasShowcaseMainElement){has-feature-showcase-element}"
            itemscope itemtype="@article.metadata.schemaType" role="main">
            <meta itemprop="mainEntityOfPage" content="@LinkTo(article.metadata.url)">
            <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <meta itemprop="name" content="The Guardian">
                <link itemprop="sameAs" href="http://www.theguardian.com">
            </div>
            @fragments.headerImmersive(article)
            <div class="content__main tonal__main tonal__main--@toneClass(article)">
                <div class="gs-container">
                    <div class="content__main-column content__main-column--article js-content-main-column">

                        @fragments.contentMeta(article, model)

                        @if(article.tags.isNews && !article.elements.hasMainEmbed && article.elements.elements("main").isEmpty) {
                            <hr class="content__hr hide-until-leftcol" />
                        }

                        <div class="content__article-body from-content-api js-article__body"
                             itemprop="articleBody"
                             data-test-id="article-review-body" @langAttributes(article.content)>
                            @BodyProcessor(article)
                        </div>

                        @fragments.submeta(article)

                        <div class="after-article js-after-article"></div>
                    </div>

                    <div class="content__secondary-column js-secondary-column" aria-hidden="true">

                        @fragments.articleAsideSlot(shouldShowAds(model), articleAsideOptionalSizes(false), false)

                    </div>
                </div>
            </div>
        </article>

        @fragments.contentFooter(article, model.related, isPaidContent = isPaidContent)

  }
}
