@import layout.ContentWidths.MainMedia
@import model.ImageMedia
@import model.ArticleSchemas
@import model.content.RecipeAtom
@import common.LinkTo
@import views.support.Commercial.isPaidContent
@import views.BodyCleaner
@import views.support.ContributorLinks


@(articleModel: ArticlePage, recipes: Seq[model.content.RecipeAtom], maybeMainImage: Option[ImageMedia], amp: Boolean = false)(implicit request: RequestHeader, context: _root_.model.ApplicationContext)


@schemaType(page: ArticlePage) = @{ ArticleSchemas.NewsArticle }
@bodyType(page: ArticlePage) = @{ "articleBody" }

@defining(articleModel.article) { article =>
<article id="article" data-test-id="article-root"
        class="content content--recipes"
        itemscope itemtype="@schemaType(articleModel)" role="main" >
    <meta itemprop="mainEntityOfPage" content="@LinkTo(article.metadata.url)">
    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="name" content="The Guardian">
        @fragments.logo(amp)
    </div>

    <div class="recipes__main">
        <div class="recipe__images-wrapper js-recipes__images-wrapper">
            <a href=@LinkTo("/tone/recipes?CMP=recipearticle")>
                <div class="recipe__label"><h2>recipes</h2></div>
            </a>
            <div class="js-recipe__image__wrapper recipe__image__wrapper recipe__image__wrapper--is-displayed">
                @maybeMainImage.map{ image =>
                    @fragments.image(
                        picture = image,
                        classes = Seq("recipe__image"),
                        imageAltText = image.allImages.headOption.flatMap( _.altText).getOrElse(""),
                        widths = MainMedia.immersive,
                        isImmersiveMainMedia = true
                    )
                }
            </div>

            @for((recipe, i) <- recipes.zipWithIndex){
                <div class="recipe__image__wrapper recipe recipe__@i">
                    @RecipeAtom.picture(recipe).orElse(maybeMainImage).map { image =>
                        @fragments.image(
                            picture = image,
                            classes = Seq("recipe__image"),
                            imageAltText = "",
                            widths = MainMedia.immersive,
                            isImmersiveMainMedia = true
                        )
                    }
                </div>
            }
        </div>
        <div class="flex-filler"></div>
        <div class="js-recipe__gutter-wrapper recipe__gutter-wrapper">
            @defining(articleModel.item.content.tags) { tags =>
                @if(tags.hasLargeContributorImage && tags.contributors.length == 1) {
                    <a href=@LinkTo{/@tags.contributors.map(_.id)}><div class="recipe__article--byline-image">@fragments.meta.bylineImage(tags)</div></a>
                }
            }
            <div class="recipe__article--next-button js-recipe__article--next-button js-recipe__article--next-recipe desktop-only">@fragments.inlineSvg("arrow-right", "icon")</div>
        </div>

        <div class="recipe__article-wrapper">
            <div class="recipe__article">
                <div class="recipe__article--meta">
                        @articleModel.item.content.blogOrSeriesTag.map { series =>
                        <div class="content__series-label">
                            <a class="content__series-label__link" href="@LinkTo {/@series.id}">@series.name</a>
                        </div>
                        }.getOrElse {
                            @if(articleModel.item.content.isFromTheObserver) {
                                <div class="content__series-label">
                                    <a class="content__series-label__link" href="http://observer.theguardian.com">The Observer</a>
                                </div>
                            }
                        }
                    <div class="recipe__article--headline">
                        <h1>@article.trail.headline</h1>
                    </div>
                    @if(articleModel.item.tags.contributors.length > 1) {
                        <p class="recipe__article--byline">by @ContributorLinks(articleModel.item.trail.byline.get, articleModel.item.tags.contributors)</p>
                    }
                </div>
                <div class="recipe__standfirst">
                  @fragments.standfirst(articleModel.item)
                </div>
                <div class="recipe__content js-recipe__content">
                </div>
                <div class="recipe__article--buttons">
                  <div class="js-read-more--wrapper" data-link-name="read-more-recipe">
                      <a href="#recipe__content" class="js-read-more--no-js" data-link-name="read-more-recipe-no-js">
                          <div class="recipe__article--read-more js-recipe__article--read-more">
                          @fragments.inlineSvg("plus", "icon", List("control__icon-wrapper, rounded-icon, circle-button"))
                          </div>
                      </a>
                  </div>
                  <div class="recipe__article--social">
                    @fragments.social(articleModel.item.sharelinks.pageShares, "top")
                  </div>
                </div>
                @for((recipe, i) <- recipes.zipWithIndex){ @recipePage(recipe, i) }
                <div id="recipe__content" class="recipe__content--no-js js-recipe__content--no-js">
                    @BodyCleaner(article, article.fields.body, amp)
                </div>
            </div>
            <div class="js-recipe__article--next-recipe recipe__article--next-recipe">
                <div class="recipe__article--next-button js-recipe__article--next-button hide-on-desktop">@fragments.inlineSvg("arrow-right", "icon")</div>
                <div class="js-recipe__article--next-text recipe__article--next-text">
                    <h2><span class="kicker js-kicker">Next recipe</span> <span class="js-recipe__article--next-title recipe__article--next-title"></span></h2>
                </div>
            </div>
        </div>
    </div>
</article>
@fragments.contentFooter(articleModel.article, articleModel.related, isPaidContent = false)
}

@recipePage(recipe: model.content.RecipeAtom, i: Int) = {
    <div data-recipe-index="recipe__@i" id="@recipe.atom.id" class="js-recipe__article--structured recipe__article--structured" itemtype="http://schema.org/Recipe">
        <div class="recipe__article--structured-image mobile-only">
        @RecipeAtom.picture(recipe).orElse(maybeMainImage).map { image =>
            @fragments.image(
                picture = image,
                classes = Seq("recipe__image-inline mobile-only"),
                imageAltText = "",
                widths = MainMedia.inline,
                isImmersiveMainMedia = true
            )
        }
        </div>
        @for(credit <- recipe.data.credits){<h2 class="recipe__article--structured-byline">@recipe.data.credits</h2>}
        <div class="js-recipe__article--structured-headline recipe__article--structured-headline">
            <h1 itemprop="name">@recipe.data.title</h1>
        </div>

        <div class="recipe__article--structured-meta">
            <div class="structured-meta">
                @defining(recipe.data.serves){ maybeServes =>
                    @for(serves <- maybeServes) {
                        <span class="rounded-icon structured-meta__circle">@serves.from</span>
                        @if(serves.from != serves.to) {to<span class="rounded-icon structured-meta__circle">@serves.to</span> }
                        @RecipeAtom.yieldServingType(serves)
                    }
                }
                @if(RecipeAtom.totalTime(recipe)) {<span class="rounded-icon structured-meta__circle">@RecipeAtom.totalTime(recipe)</span>mins }
            </div>
        </div>

        <div class="recipe__article--structured-ingredients">
        @for(list <- recipe.data.ingredientsLists) {
            <ul class="ingredients-list">
                <li class="recipe__article--list-title">@if(list.title) {@list.title} else {Ingredients}</li>
                @for(ingredient <- list.ingredients) {
                    <li itemprop="recipeIngredient">@RecipeAtom.formatIngredientValue(ingredient)</li>
                }
            </ul>
        }
        </div>

        <div class="recipe__article--structured-method">
            <ul class="method-list">
                <li class="recipe__article--list-title">Method</li>
                @recipe.data.steps.zipWithIndex.map{case(step, i) => <li><span class="number">@{i + 1}</span>@step</li> }
            </ul>
            <div class="recipe__content--feedback">
              <p class="recipe__content--feedback-text">You’re seeing a new design for our recipes and we would really appreciate your feedback. <a target="_blank" class="recipe__content--feedback-link" data-link-name="new recipe: form" href="https://docs.google.com/a/guardian.co.uk/forms/d/e/1FAIpQLSdMmHTu5RlS9oI-6CZctYxXjMwVGnzfV1SfYd-OYDsJvc2bJw/viewform?usp=pp_url&entry.1145678620=@articleModel.item.trail.headline">Leave feedback</a></p>
            </div>
        </div>

        <div class="ad-wrapper">
                <div id="dfp-ad--inline@{i + 1}" class="hide-until-tablet js-ad-slot ad-slot ad-slot--mpu-banner-ad ad-slot--right" data-link-name="ad slot inline@{i + 1}" data-test-id="ad-slot-inline@{i + 1}" data-name="inline@{i + 1}" data-desktop="1,1|2,2|300,250|fluid"></div>
                <div id="dfp-ad--inline1@{i + 1}" class="mobile-only js-ad-slot ad-slot ad-slot--inline ad-slot-inline1@{i + 1}" data-link-name="ad slot inline1@{i + 1}" data-test-id="ad-slot-inline1@{i + 1}" data-name="inline1@{i + 1}" data-mobile="1,1|2,2|300,250|fluid"></div>
        </div>
    </div>
}
