@(article: model.Article)(implicit request: RequestHeader)

<div class="article__inner article__inner--head">

    <header>

        <div class="tone-background--@VisualTone(article)">

            @fragments.meta.metaInline(article)
            @if(article.isAdvertisementFeature){
                <div class="article-hat-label">Advertisement feature</div>
            }

            @fragments.headline(article.headline, List("js-score"))

            @if(article.isCommentable) {
                <div class="article__head__comment-count js-comment-count"></div>
            }

        </div>


        <div class="tone-head--accent">
            @fragments.standfirst(article)
        </div>
    </header>

    @fragments.witnessCallToAction(article)

    <div class="after-header"></div>
</div>