@(content: model.Content)(implicit request: RequestHeader)

@if(content.allowUserGeneratedContent) {
    @content.witnessAssignment.map{ assignmentId =>
        @defining(s"https://witness.theguardian.com/assignment/$assignmentId#contribute"){ assignmentUrl =>
            <a href="@LinkTo{@assignmentUrl}" data-link-name="witness cta">
                <div class="witness-cta-wrapper">
                    <i class="i i-ee-add-button witness-cta__icon"></i>
                    <div class="witness-cta">
                        <div class="witness-cta__body">
                            Contribute with
                            <span class="witness-logo witness-cta__logo">Guardian <span class="witness-logo__witness">Witness</span></span>
                        </div>
                        <div class="witness-cta__sponsor">
                            <i class="i i-powered-by-ee"></i>
                        </div>
                    </div>
                </div>
            </a>
       }
    }
}