@()(implicit request: RequestHeader)

<div class="gs-container">
    <div class="this-is-the-nhs">
        <h1 class="this-is-the-nhs__title">
            <span class="this-is-the-nhs__title-line this-is-the-nhs__title-line--first">this is</span>
            <span class="this-is-the-nhs__title-line this-is-the-nhs__title-line--second">the NHS</span>
        </h1>
        <p class="this-is-the-nhs__description">The story of one of the most complex organisations in the world, told through the voices of those on the frontline.</p>

        <div class="this-is-the-nhs__stripe this-is-the-nhs__stripe--dark-blue"></div>
        <div class="this-is-the-nhs__stripe this-is-the-nhs__stripe--blue"></div>
        <div class="this-is-the-nhs__stripe this-is-the-nhs__stripe--white"></div>

        <div class="this-is-the-nhs__line">
            <svg class="this-is-the-nhs__line__image" width="2200" height="419.084" viewBox="0 0 2200 419.084"><path clip-rule="evenodd" stroke="#FDBA12" stroke-width="12" stroke-miterlimit="10" d="M0 287.004h778l14.2-47.5 25.2 108 27.2-161 22.2 197 18.2-96.5h433l20.4-84.5 20.4 142.447 20.4-190.446 20.4 216 20.4-83.5h312l27.4-140.5 26.6 195.5 28-288 34 269 21-36h327" fill="none"/></svg>
        </div>

        <div class="this-is-the-nhs__circle"></div>
        <div class="this-is-the-nhs__circle this-is-the-nhs__circle--lower"></div>

        <img class="this-is-the-nhs__hand this-is-the-nhs__hand--left" src="@Configuration.static.path/sys-images/Guardian/Pix/pictures/2016/1/7/1452167267487/handleftcompressor.png" />
        <img class="this-is-the-nhs__hand this-is-the-nhs__hand--right" src="@Configuration.static.path/sys-images/Guardian/Pix/pictures/2016/1/7/1452167266294/handrightcompressor.png" />

        <div class="this-is-the-nhs__grid">
            <div class="this-is-the-nhs__gutter this-is-the-nhs__gutter--1"></div>
            <div class="this-is-the-nhs__gutter this-is-the-nhs__gutter--2"></div>
            <div class="this-is-the-nhs__gutter this-is-the-nhs__gutter--3"></div>
            <div class="this-is-the-nhs__gutter this-is-the-nhs__gutter--4"></div>
            <div class="this-is-the-nhs__gutter this-is-the-nhs__gutter--5"></div>
            <div class="this-is-the-nhs__gutter this-is-the-nhs__gutter--6"></div>
            <div class="this-is-the-nhs__baseline this-is-the-nhs__baseline--1"></div>
            <div class="this-is-the-nhs__baseline this-is-the-nhs__baseline--2"></div>
            <div class="this-is-the-nhs__baseline this-is-the-nhs__baseline--3"></div>
            <div class="this-is-the-nhs__baseline this-is-the-nhs__baseline--4"></div>
            <div class="this-is-the-nhs__baseline this-is-the-nhs__baseline--5"></div>
            <div class="this-is-the-nhs__stripe this-is-the-nhs__stripe--dark-blue"></div>
            <div class="this-is-the-nhs__stripe this-is-the-nhs__stripe--white"></div>
        </div>

        <div class="this-is-the-nhs__grid-background"></div>
    </div>
</div>