@(tags: model.Tags)(implicit request: RequestHeader)

@import views.support.{ImgSrc, Item300}
@import common.RichRequestHeader

@if(tags.contributors.length == 1) { @* Do not show byline if more than 1 contributor (or zero) *@
    @tags.contributors.headOption.map { profile =>
        @profile.properties.contributorLargeImagePath.map{ src =>
            <div class="media__img meta__image">
                <div class="byline-img">
                    <img class="byline-img__img" src="@ImgSrc(src, Item300)" alt="@profile.name" />
                </div>
            </div>
        }
    }

}
