@(webPublicationDate: org.joda.time.DateTime, lastModified: org.joda.time.DateTime, hasBeenModified: Boolean, isLiveBlog: Boolean = false, isLive: Boolean = false, isMinute: Boolean = false)(implicit request: RequestHeader)
@import views.support.AuFriendlyFormat
@import conf.switches.Switches.AmpLiveBlogNewsArticleSwitch

@* Aug 2016: Google only supports NewsArticle in their amp carousel. To remove once Google starts supporting other schemas like schema.org/LiveBlogPosting *@
@isAmpAndStructuredAsNewsArticle() = @{
    request.isAmp && AmpLiveBlogNewsArticleSwitch.isSwitchedOn
}

<p class="@if(!isMinute){content__dateline}@if(isMinute){content__dateline--minute-article}" aria-hidden="true">
    <time itemprop="datePublished" datetime='@Format(webPublicationDate, "yyyy-MM-dd'T'HH:mm:ssZ")'
        data-timestamp="@webPublicationDate.getMillis" class="content__dateline-wpd js-wpd">
        @if(isMinute) {
            <span class="content__dateline-time">@Format(webPublicationDate, "EEEE dd MMM, yyyy")</span>
        } else {
            @Format(webPublicationDate, "EEEE d MMMM y") <span class="content__dateline-time">@AuFriendlyFormat(webPublicationDate)</span>
        }
    </time>
    @* Aug 2016: disable coverage start time for AMP Live Blogs, which currently have an article type of NewsArticle *@
    @if(isLiveBlog && !isAmpAndStructuredAsNewsArticle()) {
        <meta itemprop="coverageStartTime" content="@Format(webPublicationDate, "yyyy-MM-dd'T'HH:mm:ssZ")">
    }
    @if(hasBeenModified && !isMinute) {
        <time itemprop="dateModified" datetime='@Format(lastModified, "yyyy-MM-dd'T'HH:mm:ssZ")'
        data-timestamp="@lastModified.getMillis" class="content__dateline-lm js-lm u-h">
            Last modified on @Format(lastModified, "EEEE d MMMM y") <span class="content__dateline-time">@AuFriendlyFormat(lastModified)</span>
        </time>
    }
    @* Aug 2016: disable coverage end time for AMP Live Blogs, which currently have an article type of NewsArticle *@
    @if(isLiveBlog && !isLive && !isAmpAndStructuredAsNewsArticle()) {
        <meta itemprop="coverageEndTime" content="@Format(lastModified, "yyyy-MM-dd'T'HH:mm:ssZ")">
    }
</p>
