@import common.RichRequestHeader
@import org.joda.time.DateTime
@import views.support.{AuFriendlyFormat, Format}

@(webPublicationDate: DateTime, lastModified: DateTime, hasBeenModified: Boolean, firstPublicationDate: Option[DateTime], isLiveBlog: Boolean = false, isLive: Boolean = false, isMinute: Boolean = false)(implicit request: RequestHeader)

<p class="@if(!isMinute){content__dateline}@if(isMinute){content__dateline--minute-article}" aria-hidden="true">
    <time itemprop="datePublished" datetime='@Format(webPublicationDate, "yyyy-MM-dd'T'HH:mm:ssZ")'
        data-timestamp="@webPublicationDate.getMillis" class="content__dateline-wpd js-wpd">
        @if(isMinute) {
            <span class="content__dateline-time">@Format(webPublicationDate, "EEEE dd MMM, yyyy")</span>
        } else {
            @Format(webPublicationDate, "EEEE d MMMM y") <span class="content__dateline-time">@AuFriendlyFormat(webPublicationDate)</span>
        }
    </time>
    @if(isLiveBlog) {
        <meta itemprop="coverageStartTime" content="@Format(webPublicationDate, "yyyy-MM-dd'T'HH:mm:ssZ")">
    }

    @if(hasBeenModified && firstPublicationDate.getOrElse("") != webPublicationDate && !isMinute) {
        @defining(firstPublicationDate.getOrElse(webPublicationDate)) { firstPublicationDate =>
            <time datetime='@Format(firstPublicationDate, "yyyy-MM-dd'T'HH:mm:ssZ")'
            data-timestamp="@firstPublicationDate.getMillis" class="content__dateline-lm js-lm u-h">
                First published on @Format(firstPublicationDate, "EEEE d MMMM y") <span class="content__dateline-time">@AuFriendlyFormat(firstPublicationDate)</span>
            </time>
        }
    }

    @if(isLiveBlog && !isLive) {
        <meta itemprop="coverageEndTime" content="@Format(lastModified, "yyyy-MM-dd'T'HH:mm:ssZ")">
    }
</p>
