@(webPublicationDate: org.joda.time.DateTime, lastModified: org.joda.time.DateTime, hasBeenModified: Boolean, isLiveBlog: Boolean = false, isLive: Boolean = false)(implicit request: RequestHeader)
@import views.support.AuFriendlyFormat

<p class="content__dateline" aria-hidden="true">
    <time itemprop="datePublished" datetime='@Format(webPublicationDate, "yyyy-MM-dd'T'HH:mm:ssZ")'
        data-timestamp="@webPublicationDate.getMillis" class="content__dateline-wpd js-wpd">
        @Format(webPublicationDate, "EEEE d MMMM y") <span class="content__dateline-time">@AuFriendlyFormat(webPublicationDate)</span>
    </time>
    @if(isLiveBlog) {
        <meta itemprop="coverageStartTime" content="@Format(webPublicationDate, "yyyy-MM-dd'T'HH:mm:ssZ")">
    }
    @if(hasBeenModified) {
        <time itemprop="dateModified" datetime='@Format(lastModified, "yyyy-MM-dd'T'HH:mm:ssZ")'
        data-timestamp="@lastModified.getMillis" class="content__dateline-lm js-lm u-h">
            Last modified on @Format(lastModified, "EEEE d MMMM y") <span class="content__dateline-time">@AuFriendlyFormat(lastModified)</span>
        </time>
    }
    @if(isLiveBlog && !isLive) {
        <meta itemprop="coverageEndTime" content="@Format(lastModified, "yyyy-MM-dd'T'HH:mm:ssZ")">
    }
</p>
