@(item: model.ContentType, amp: Boolean = false)(implicit request: RequestHeader)

@import common.{LinkTo, Localisation}
@import model.Badges.badgeFor
@import views.support.RenderClasses


<div class="@RenderClasses(Map(
        "content__labels--gallery" -> item.content.isGallery,
        "content__labels--paidgallery" -> (item.content.isGallery && item.content.isPaidContent),
        "content__labels--not-immersive" -> !item.content.isImmersive,
        "content__labels--column" -> item.content.isColumn,
        "content__labels--immersive" -> (item.content.isImmersive && item.content.blogOrSeriesTag.isDefined) 
    ), "content__labels")
">
    @if(!amp) {
        @badgeFor(item).map { badge =>
            <div class="badge-slot">
                <a href="@LinkTo {/@badge.seriesTag}">
                    <img class="badge-slot__img" src="@badge.imageUrl" alt="@item.content.blogOrSeriesTag.map(_.name)"/>
                </a>
            </div>
        }

        @if(item.content.isPaidContent && item.content.isImmersive) {
          <div class="content__section-label--advertisement">
              <a class="content__section-label__link content__section-label__link--advertisement" href="@LinkTo {/@item.content.sectionLabelLink}">
                  @Html(Localisation(item.content.sectionLabelName))
              </a>
          </div>
        } else {
            @if(!(item.content.isImmersive && item.content.tags.isArticle || item.content.isColumn)) {
              <div class="content__section-label @if(item.content.tags.isGallery) { content__section-label--gallery }">
                  <a class="content__section-label__link"
                      data-link-name="article section"
                      href="@LinkTo {/@item.content.sectionLabelLink}">
                      <span class="label__link-wrapper">
                          @Html(Localisation(item.content.sectionLabelName))
                      </span>
                  </a>
              </div>
          }
        }
    }

    @item.content.blogOrSeriesTag.map { series =>
        <div class="@RenderClasses(Map(
                "content__series-label--immersive-article" -> (item.content.isImmersive && item.content.tags.isArticle),
                "content__series-label--photo-essay" -> item.content.isPhotoEssay,
                "content__series-label--column" -> item.content.isColumn
            ), "content__series-label")
          ">
            <a class="content__series-label__link" href="@LinkTo {/@series.id}">
                <span class="label__link-wrapper">
                    @series.name
                </span>
            </a>
        </div>

        @if(item.content.isColumn && !amp) {
            <div class="content__series-cta">
                    @fragments.inlineSvg("arrow-right", "icon", List("content__series-cta__icon", "rounded-icon centered-icon"))
                    <span class="content__series-cta__text hide-until-leftcol">
                        More <span class="hide-until-wide">from this series</span>
                    </span>
            </div>

            <a class="content__series-cta__link u-faux-block-link__overlay" href="@LinkTo {/@series.id}">
                More from this series
            </a>
        }
    }.getOrElse {
        @if(item.content.isFromTheObserver && !item.content.isImmersive) {
            <div class="content__series-label">
                <a class="content__series-label__link" href="https://www.theguardian.com/observer">The Observer</a>
            </div>
        }
    }
</div>
