@(content: model.Content)(implicit request: RequestHeader)

@if(content.isSeries) {
    @content.series.headOption.map { series =>
        <!--dl class="content-meta content-meta--inline">
            <dt class="content-meta__label">Series</dt>
            <dd class="content-meta__item">
                <a href="@LinkTo{/@series.id}" class="tone-colour">@series.name</a>
            </dd>
        </dl-->
        <div class="content__series">
            <a href="@LinkTo{/@series.id}" class="tone-colour">@series.name</a>
        </div>
    }
} else {
    @if(content.isFromTheObserver ) {
        <!--dl class="content-meta content-meta--inline">
            <dd class="content-meta__item">
                <a href="http://observer.theguardian.com" class="tone-colour">The Observer</a>
            </dd>
        </dl-->
        <div class="content__series">
            <a href="http://observer.theguardian.com" class="tone-colour">The Observer</a>
        </div>
    }
}
