@(content: model.Content)(implicit request: RequestHeader)
@import common.Edition
@import conf.Switches.ElectionLiveBadgeSwitch

@defining(ElectionLiveBadgeSwitch.isSwitchedOn,
            content.tags.indexWhere(_.id == "politics/general-election-2015") == 0 ||
            content.tags.indexWhere(_.id == "politics/series/election-live-2015") == 0,
            content.isSponsored(Some(Edition(request))) ||
            content.isAdvertisementFeature ||
            content.isFoundationSupported) { case (electionBadgingEnabled, isElectionTopTag, isCommercialContent) =>
@if(electionBadgingEnabled && isElectionTopTag && !isCommercialContent) {
        @defining("ge15badge", "TODO-path-to-badge-image.png") { case (name, badgePath) =>
            @fragments.meta.pseudoBadgeSlot(name) {
                <div class="badge-slot--meta-badge__inner badge-slot__content--placeholder">
                    <img src="@badgePath" />
                </div>
            }
        }
    }
}
