@(travelOffer: model.commercial.travel.TravelOffer)(implicit request: RequestHeader)

<li class="lineitem">
	<h4>Guardian Travel</h4>
    <a class="lineitem__link" href="@AdLink{@travelOffer.offerUrl}">
        <img class="lineitem__image" src="@travelOffer.imageUrl" alt="" />
        <div class="lineitem__offer">
            <h4 class="lineitem__title">@travelOffer.title</h4>
            <p class="lineitem__meta">@travelOffer.durationInWords from <span class="lineitem__price">£@travelOffer.fromPrice</span></p>
        </div>
    </a>
    <p class="lineitem__description commercial--travel__item__description">
        <a class="lineitem__link commercial--travel__description__link" href="@AdLink{@travelOffer.offerUrl}">
            <i class="i i-arrow-white-down"></i>Book now
        </a>
    </p>
</li>
