.page-heading--football {
    border-top: 0 !important;

    @include mq(leftCol) {
        float: left;
        margin-left: -1 * (gs-span(2) + $gs-gutter);
        margin-top: $gs-baseline/-4;
    }
    @include mq(wide) {
        margin-left: -1 * (gs-span(3) + $gs-gutter);
    }
}

.football-filters {
    @include mq(leftCol) {
        margin-top: -$gs-baseline*2;
    }
}

.date-divider {
    @include fs-textSans(2);
    margin-bottom: $gs-baseline*2;
    padding-top: $gs-baseline/2;
    border-top: 1px solid colour(neutral-5);
    color: colour(neutral-1);
    font-weight: 900;

    @include mq(leftCol) {
        margin-left: -160px;
    }

    @include mq(wide) {
        margin-left: -240px;
    }
}
