$background: #f6f6f6;
$background-dark: #041f4a;

.site-message--europe-moment {
    border-top: 2px solid $brightness-7;
    color: $brightness-7;
    background-color: $background;
    position: relative;
    overflow: hidden;
}

.engagement-banner__roundel  .inline-marque-36 {
    path:nth-child(1) {
        fill: $brightness-97;
    }

    path:nth-child(2) {
        fill: $brightness-7;
    }
}

.engagement-banner__container {
    @include mq($from: tablet) {
        display: flex;
    }
}

.engagement-banner__text-container {
    position: relative;
}

.engagement-banner__header  {
    margin-top: 100px;
    border-bottom: 0;
}

.engagement-banner__body {
    line-height: 1.35;
    font-size: 15px;

    @include mq($from: phablet) {
        font-size: 17px;
    }

    @include mq($from: tablet) {
        padding: $gs-baseline $gs-gutter $gs-baseline 0;
    }
}

.engagement-banner__cta {
    position: relative;
    z-index: 1;
    padding-top: $gs-baseline / 2;

    @include mq($from: desktop) {
        padding-top: $gs-baseline
    }
}

.engagement-banner__cta--editorial {
    display: none;

    @include mq($from: phablet) {
        display: block;
    }

    @include mq($from: desktop) {
        display: inline-block;
        margin-left: $gs-gutter;
    }
}
