@(page: model.Page, path: String)(implicit request: RequestHeader, context: model.ApplicationContext)

@import common.LinkTo

@main(page){ } {
    <div class="l-side-margins">
            <div class="content content--expired">
                <header class="content__head">
                    <div class="gs-container">
                        <div class="content__main-column">
                            <h1 itemprop="headline" class="content__headline">Report a technical issue</h1>
                        </div>
                    </div>
                </header>
                <div class="content__main">
                    <div class="gs-container">
                        <div class="content__main-column content__main-column--expired">
                            <div class="js-article__container u-cf">
                                <div class="from-content-api" itemprop="articleBody">
                                    <div class="from-content-api">

                                        <h2>Contact us</h2>

                                        <form action="#" method="post">
                                            <fieldset class="feedback__form">
                                                <div class="feedback__element">
                                                    <label class="" for="test">Problem</label>
                                                    <select class="feedback__select feedback__input--wide" name="category">
                                                        <option>Choose a selection</option>
                                                        <option>I don't know how to into computer!</option>
                                                        <option>I can't even</option>
                                                    </select>
                                                </div>
                                                <div class="feedback__element">
                                                    <label class="" for="test">Description</label>
                                                    <textarea name="body" class="feedback__textarea feedback__input--wide" placeholder="Help us out with a friendly message"></textarea>
                                                </div>
                                                <div class="feedback__element">
                                                    <label class="" for="test">Email</label>
                                                    <input name="user" class="feedback__input feedback__input--wide" id="test" type="email" name="test" value="" placeholder="E.g. alexsmith@@example.com">
                                                </div>
                                                <div class="feedback__element">
                                                    <button class="button button--large button--primary" id="" type="submit">Submit Feedback</button>
                                                </div>
                                            </fieldset>
                                        </form>

                                        <p id="oingoboingo">oingoboingo</p>

                                        <small>
                                            Or email us directly at <a data-link-name="tech feedback : mailto : userhelp" href="mailto:userhelp@@theguardian.com">userhelp@@theguardian.com</a> and someone should get back to you.
                                        </small>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="facia-container facia-container--layout-content">
        @fragments.mostPopularPlaceholder("/")
        </div>
    </div>
}
