@(page: model.Page, path: String)(implicit request: RequestHeader, context: model.ApplicationContext)

@import common.LinkTo

@main(page){ } {
    <div class="l-side-margins">
            <div class="content content--expired">
                <header class="content__head">
                    <div class="gs-container">
                        <div class="content__main-column">
                            <h1 itemprop="headline" class="content__headline">Report a technical issue</h1>
                        </div>
                    </div>
                </header>
                <div class="content__main">
                    <div class="gs-container">
                        <div class="content__main-column content__main-column--expired">
                            <div class="js-article__container u-cf">
                                <div class="from-content-api" itemprop="articleBody">
                                    <div class="from-content-api">

                                        <h2>Contact us</h2>

                                        <div class="feedback__element">
                                            <label class="" for="test">Problem</label>
                                            <select id="feedback-category" class="feedback__select feedback__input--wide" onChange="flipflop()">
                                                <option>Choose a selection</option>
                                                <option>Account problems</option>
                                                <option>Accessibility</option>
                                                <option>Site Crashing/Reloding/Slowness</option>
                                            </select>
                                        </div>


                                        <fieldset class="feedback__form">

                                            <div id="feedback-form-accessibility">
                                                If you have an issue related to the accessibility of this website, please see our <a href="https://www.theguardian.com/help/accessibility-help">accessibility help page</a>
                                            </div>


                                            <div id="feedback-form-account">

                                                <form action="#" method="post">

                                                    <input type="hidden" name="category" value="account" />

                                                    <input name="extra" type="hidden" value="browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36
                                                        width: 1440
                                                        adBlock: true
                                                        devicePixelRatio: 2
                                                        ophanId: j17riri44875b2yiv2y9
                                                        gu_u: WyIxNzU5MjIzOCIsIiIsIk1hdHRoZXcgV2FsbHMiLCIyIiwxNDk4MTQ0NzkwNzQ1LDEsMTQ5MDM2NzEzMDAwMCx0cnVlXQ.MC0CFQCHPR17CxNZEUdRP1442ddwPp4KCwIUFwhIIB3NtnzRUGIQH4a0yv3pOJM
                                                        payingMember: false
                                                        abTests: TailorSurvey=variant, MembershipEngagementBannerUkRemindMeLater=notintest, PaidCommentingInternal=notintest"
                                                    />

                                                    <div class="feedback__element">
                                                        <label class="" for="test">Description</label>
                                                        <textarea name="body" class="feedback__textarea feedback__input--wide" placeholder="Help us out with a friendly message"></textarea>
                                                    </div>
                                                    <div class="feedback__element">
                                                        <label class="" for="test">Email</label>
                                                        <input name="user" class="feedback__input feedback__input--wide" id="test" type="email" value="" placeholder="E.g. alexsmith@@example.com">
                                                    </div>
                                                    <div class="feedback__element">
                                                        <label class="" for="file">Attach File</label>
                                                        <input name="user" class="feedback__input feedback__input--wide" id="test" type="file">
                                                    </div>
                                                    <div class="feedback__element">
                                                        <button class="button button--large button--primary" id="" type="submit">Submit Feedback</button>
                                                    </div>

                                                </form>

                                            </div>


                                            <div id="feedback-form-crashes">

                                                <p>Note that many crash and slowness problems can be solved by <a href="https://www.theguardian.com/info/2015/sep/22/making-theguardiancom-work-best-for-you">disabling optional features on our site</a></p>

                                                <p>If this does not solve your problem, please contact us below</p>
                                                <br/>

                                                <form action="#" method="post">

                                                    <input type="hidden" name="category" value="crashes" />

                                                    <input name="extra" type="hidden" value="browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36
                                                        width: 1440
                                                        adBlock: true
                                                        devicePixelRatio: 2
                                                        ophanId: j17riri44875b2yiv2y9
                                                        gu_u: WyIxNzU5MjIzOCIsIiIsIk1hdHRoZXcgV2FsbHMiLCIyIiwxNDk4MTQ0NzkwNzQ1LDEsMTQ5MDM2NzEzMDAwMCx0cnVlXQ.MC0CFQCHPR17CxNZEUdRP1442ddwPp4KCwIUFwhIIB3NtnzRUGIQH4a0yv3pOJM
                                                        payingMember: false
                                                        abTests: TailorSurvey=variant, MembershipEngagementBannerUkRemindMeLater=notintest, PaidCommentingInternal=notintest"
                                                    />

                                                    <div class="feedback__element">
                                                        <label class="" for="test">Description</label>
                                                        <textarea name="body" class="feedback__textarea feedback__input--wide" placeholder="Help us out with a friendly message"></textarea>
                                                    </div>
                                                    <div class="feedback__element">
                                                        <label class="" for="test">Email</label>
                                                        <input name="user" class="feedback__input feedback__input--wide" id="test" type="email" placeholder="E.g. alexsmith@@example.com">
                                                    </div>
                                                    <div class="feedback__element">
                                                        <label class="" for="file">Attach File</label>
                                                        <input name="file" class="feedback__input feedback__input--wide" id="test" type="file">
                                                    </div>
                                                    <div class="feedback__element">
                                                        <button class="button button--large button--primary" id="" type="submit">Submit Feedback</button>
                                                    </div>

                                                </form>

                                            </div>


                                        </fieldset>


                                        <small>
                                            Or email us directly at <a data-link-name="tech feedback : mailto : userhelp" href="mailto:userhelp@@theguardian.com">userhelp@@theguardian.com</a> and someone should get back to you.
                                        </small>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="facia-container facia-container--layout-content">
        @fragments.mostPopularPlaceholder("/")
        </div>
    </div>
}

    <script>

        var fieldmap = {
            "Account problems": "feedback-form-account",
            "Accessibility": "feedback-form-accessibility",
            "Site Crashing/Reloding/Slowness": "feedback-form-crashes"
        };

        for(choice in fieldmap){
            console.log("Hiding " + fieldmap[choice])
            document.getElementById(fieldmap[choice]).style.display = "none";
        }

        function flipflop(evt) {

            console.log("Flipping and flopping");

            var cat = document.getElementById("feedback-category").value

            for(choice in fieldmap){
                if(choice === cat){
                    // show
                    document.getElementById(fieldmap[choice]).style.display = "block";
                } else {
                    // hide
                    document.getElementById(fieldmap[choice]).style.display = "none";
                }
            }

        }


    </script>
