@(page: model.Page, popular: Seq[model.MostPopular])(implicit request: RequestHeader, env: play.api.Environment)

@import views.support.`package`._

@main(page){
}{
    <main itemprop="mainContentOfPage" role="main" class="monocolumn-wrapper content">
        <h1 class="u-h">Most viewed</h1>
    @popular.zipWithRowInfo.map{ case (section, info) =>
        <section class="zone-@section.section">
            <h2 class="content__inline-section">Most viewed @Html(section.heading)</h2>
            <div class="headline-list"
                 data-link-name="@section.heading">
                <ul class="u-unstyled">
                    @section.trails.zipWithRowInfo.map{ case (trail, info) =>
                    <li class="headline-list__item">
                        <span class="headline-list__count">@info.rowNum</span>
                        <div class="headline-list__body">@fragments.linkText(trail, info)</div>
                    </li>
                    }
                </ul>
            </div>
        </section>
    }
    </main>
}
