@(id: String, title: String, html: String, notes: String = "")
<div class="module-container u-cf">

    <h2 class="type-5 zone-color box-indent">@title</h2>
    @if(notes != "") {
        <p class="box-indent type-7">@Html(notes)</p>
    }

    <div class="tabs-container">
        <ol class="tabs js-tabs">
            <li class="tabs-selected"><a href="#modules-@id-output">Output</a></li>
            <li><a href="#modules-@id-code">Source code</a></li>
        </ol>

        <div class="tabs-content">
             <div class="tabs-pane" id="modules-@id-output">
                @Html(html)
             </div>
             <div class="tabs-pane js-hidden" id="modules-@id-code">
                <pre class="prettyprint">@html.toString().trim()</pre>
             </div>
        </div>
    </div>
</div>