@(video: Option[VideoElement], title: String)

@video.map { video =>
    @defining(Item620.bestFor(video).getOrElse(Static("images/media-holding.jpg"))) { poster =>
        <div class="gu-media-wrapper gu-media-wrapper--video">
            <div class="u-responsive-ratio u-responsive-ratio--hd">
                <video controls="controls" class="gu-media gu-media--video js-gu-media" data-title="@title"
                    poster="@poster" data-duration="@video.duration.toString()" data-media-id="@video.id">

                    @video.encodings.map { encoding =>
                        <source src="@encoding.url" type="@encoding.format" />
                    }

                    @video.encodings.find(_.format == "video/mp4").map { encoding =>
                        <object class="gu-media__flash-fallback" type="application/x-shockwave-flash" data="@Static("flash/flashmediaelement.swf")" width="620" height="350">
                            <param name="allowFullScreen" value="true" />
                            <param name="movie" value="@Static("flash/flashmediaelement.swf")" />
                            <param name="flashvars" value="controls=true&amp;file=@encoding.url" />
                            <img src="@poster" alt="" width="620" height="350" />
                            <div class="vjs-error-display">
                                <div>Sorry, your browser is unable to play this video.<br/>
                                    Please install <a href="http://get.adobe.com/flashplayer/">Adobe Flash</a>™ and try again.
                                    Alternatively <a href="http://whatbrowser.org/">upgrade</a> to a modern browser.</div>
                            </div>
                        </object>
                    }
                </video>
            </div>
        </div>
    }
}
