@(metaData:Page, article: Article, edition: String)(implicit request: RequestHeader)

@main(metaData, Switches.all){  }{

    <article>

        <header>
            <h1 class="article-zone type-1">@metaData.webTitle</h1>
        </header>

        @{
            val datelineHTML = fragments.dateline(article.webPublicationDate, article.isLive, edition).toString()
            fragments.module("dateline", "Dateline", datelineHTML)
        }

        @{
            val headlineHTML = fragments.headline(article.headline).toString()
            fragments.module("headline", "Headline", headlineHTML)
        }

        @{
            val standfirstHTML = fragments.standfirst(article).toString()
            fragments.module("standfirst", "Standfirst", standfirstHTML)
        }

        @article.mainPicture.map{ mainPicture =>
            @article.mainPicture(width=220).map{ smallCrop =>
                <figure itemprop="associatedMedia primaryImageOfPage" itemscope itemtype="http://schema.org/ImageObject">
                    <img class="maxed main-image" src="@smallCrop.url"
                        data-force-upgrade="true"
                        data-thumb-width="@smallCrop.width"
                        data-fullsrc="@mainPicture.url"
                        data-full-width="@mainPicture.width"
                        itemprop="contentURL" />
                    @if(smallCrop.caption.headOption.getOrElse("").trim != "") {
                    <figcaption class="main-caption" itemprop="description">@Html(smallCrop.caption.getOrElse(""))</figcaption>
                    }
                </figure>
            }
        }

    </article>

}