@(metaData:Page, article: Article, edition: String)(implicit request: RequestHeader)

@main(metaData, Switches.all){  }{

    <style>
        .module-container {
            margin-bottom: 20px;
        }

        .module-container .tabs-pane {
            padding: 20px;
        }

        pre {
            font-size: 15px;
            line-height: 1.4em;
            color: #444444;
        }
    </style>

    <article>

        <header>
            <h1 class="article-zone type-1">@metaData.webTitle</h1>
        </header>

        <div class="module-container">

            <h2 class="type-2 zone-color box-indent">Headlines</h2>

            <ol class="tabs">
                <li class="tabs-selected"><a href="#modules-headline-output">Output</a></li>
                <li><a href="#modules-headline-code">Source code</a></li>
            </ol>

            <div class="tabs-content">
                 <div class="tabs-pane" id="modules-headline-output">
                    @fragments.headline(article.headline)
                 </div>
                 <div class="tabs-pane initially-off" id="modules-headline-code">
                    <pre class="prettyprint">@fragments.headline(article.headline).toString()</pre>
                 </div>
            </div>
        </div>

    </article>

}