
#container {
    margin: 10px;
}

.b1 {
    border-top: 1px solid #ccc;
    padding: 8px 0;
}

.b1b {
    border-bottom: 1px solid #ccc;
}

p {
    font: 16px/20px georgia;
    color: #333;
}

h1 {
    font: 24px/26px georgia;
    margin: 20px 0 22px 0;
}

h2 {
    font: 18px/20px georgia;
    color: #666;
    margin: 0 0 24px 0;
}

h3 {
    margin: 0 0 7px 0;
    font-size: 14px;
    line-height: 16px;
}

h4 {
    margin: 0;
    padding: 8px 10px 7px 10px;
    background-color: #ededed;
    border-top: 1px solid #ccc;
    font-size: 14px;
    line-height: 16px;
}

.caption {
    font: 12px/15px arial;
    color: #666;
    margin: 5px 0 14px 0;
}

.byline,
.dateline {
    font: bold 14px/16px arial;
    margin: 0px;
}

.dateline {
    color: #666;
}

article {
    margin: 10px 0;
    padding-top: 10px;
}

article p {
    margin: 0px;
    margin-bottom: 10px;
}

/* nicole sullivan's media object */

/* ====== media ====== */
.media { 
    margin: 10px 0;
}

.media, .bd {
    overflow: hidden; 
    _overflow: visible; 
    zoom: 1;
}

.media .img {
    float: left; 
    margin-right: 10px;
}

.media .img img {
    display: block;
}

.media .imgExt {
    float: right; 
    margin-left: 10px;
}

/* ====== /media ====== */

.trailblock {
    background-color: #ededed;
}

.plain,
.plain li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tags li {
    padding: 8px 10px;
    font-size: 14px;
    line-height: 16px;
}

.tags li a {
    display: block;
}

.tags li:first-child {
    margin-top: 0;
}

.trailblock li {
    margin: 0 10px;
}

.trailblock li:nth-child(n+5) {
    display: none;
}

.trailblock h3 {
    text-align: center;
    color: #932B6C;
    padding: 8px;
}

.count {
    background-color: #a5bedc;
    float: right;
    margin-top: -1px;
    padding: 2px 6px;
    color: #ffffff;
    font-size: 11px;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    text-align: center;
}

.trailblock p {
    font-weight: bold;
    color: #932B6C;
}

.trailblock p {
    font-size: 14px;
    line-height: 16px;
    font-family: arial;
}

.trailblock .img img {
    width: 60px;
}

.gt-base {
    display: none;
}

.trailblock .trailtext {
    color: #333;
    font-weight: normal;
}

.comments p {
    font-family: arial;
    font-size: 15px;
    line-height: 19px;
}

.comments blockquote {
    margin: 10px;
    padding-left: 10px;
    border-left: 1px dotted #666;
    font-family: arial;
    font-size: 15px;
    line-height: 19px;
    color: #666;
}

.comments .datestamp {
    color: #666;
}

img.badge {
    vertical-align: text-top;
}

.img-extended img {
    width: 100%;
    height: auto;
}

.img-base {
    margin: 10px auto;
    text-align: center;
}

.maxed {
    max-width: 100%;
}

@media screen and (min-width: 850px) {
    .trailblock .img img {
        width: auto;
    }
}

@media screen and (min-width: 600px) {
    .lt-extended {
        display: none;
    }
}

@media screen and (min-width: 400px) {

    .img-base {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 28px;
        line-height: 30px;
    }

    h2 {
        font-size: 20px;
        line-height: 22px;
    }

    .caption {
        font-size: 15px;
        line-height: 18px;
    }

    .byline,
    .dateline {
        font-size: 15px;
        line-height: 17px;
    }

    p {
        font-size: 18px;
        line-height: 22px;
    }

    .gt-base {
        display: block;
    }

    .comments .datestamp {
        text-align: right;
    }
}