@()

<style>
    .footer {
        background: #484848;
        padding: 25px 0;
    }

    .social__links, .email__links, .disclaimer p {
        font-family: "Helvetica", "Arial", sans-serif !important;
        text-align: center;
    }

    .email__links {
        color: white;
    }

    .social__links {
        height: 50px;
    }

    .social__link, .email__links {
        font-size: 18px;
        font-weight: lighter;
        line-height: 22px;
    }

    .social__link {
        padding: 10px;
        text-decoration: none;
        color: white !important;
        border: 1px solid #bdbdbd;
        margin-right: 20px;
        border-radius: 25px;
    }

    .social__link:last-of-type {
        margin-right: 0 !important;
    }

    .social__link svg {
        fill: white;
    }

    .email__link {
        text-decoration: none;
        color: white !important;
    }

    .disclaimer {
        padding: 25px !important;
    }

    .disclaimer p {
        color: #dfdfdf;
        font-size: 12px;
        line-height: 16px;
    }
</style>
