@()

<style>
    body, .body {
        background: #e5e5e5;
    }

    .full-width {
        width: 100%;
    }

    .container,
    .panel {
        background: #eaeaea;
    }

    .panel {
        padding: 5px 10px !important;
        border: none;
    }

    .container-title {
        color: #005689;
        padding-top: 4px;
    }
    .container-title--not-first {
        border-top: 3px solid #4bc6df;
    }

    .facia-card {
        display: block;
        text-decoration: none;
    }

    .headline, .trail-text {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        color: inherit;
    }

    .facia-card .headline {
        padding: 5px 10px;
    }

    .facia-card--large .headline {
        font-size: 20px;
        line-height: 24px;
        color: inherit;
        padding: 5px 10px;
    }

    .facia-card--large .trail-text {
        padding: 5px 10px 20px;
    }

    .kicker-separator {
        font-weight: normal;
    }
</style>
