@()

<style>
    body {
        font-family: Georgia,serif;
        font-size: 100%;
        background: #eaeaea;
        color: #333;
        margin: 0;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }

    .outer {
        margin: 0 auto;
        padding: 0 1em;
        background: white;
    }

    h1 {
        font-size: 26px;
        font-weight: normal;
        line-height: 30px;
        margin: 0 0 20px 0;
    }

    a {
        text-decoration: none;
        cursor: pointer;
        color: #005689;
    }

    p {
        font-size: 1rem;
        line-height: 1.35rem;
        font-weight: 300;
        margin: 0px 0px 12px;
    }

    cite {
        font-style: normal;
    }

    .caption--img {
        display: block;
    }

    .content__meta-container {
        border-top: 0.0625rem dotted #dfdfdf;
        border-bottom: 0.0625rem dotted #dfdfdf;
        margin-top: 16px;
        margin-bottom: 0.75rem;
    }

    .content__dateline {
        font-size: 14px;
    }

    .content__dateline-lm {
        display: none;
    }
</style>
