@(trail: Trail, column: String, title: String, linkName: String, state: String = "visible")(implicit request: RequestHeader)
<a href="@trail.url" class="card-wrapper card-wrapper--@column is-@state" data-link-name="@linkName" aria-hidden="true">
    <div class="furniture furniture--@column card card--@column">
        <h2 class="card__title">@title</h2>
        @trail.thumbnailPath.map{ thumbnailPath =>
            @trail.mainPicture(width=220).map { largeCrop =>
                <img class="card__media" src="@thumbnailPath"
                    data-thumb-width="140"
                    data-fullsrc="@largeCrop.path"
                    data-full-width="@largeCrop.width"
                    alt=""
                    itemprop="contentURL"
                />
            }
        }
        <div class="card__body u-text-hyphenate zone-@trail.section">
            <h3 class="card__zone zone-color">@trail.sectionName</h3>
            <h3 class="card__headline">@trail.headline</h3>
            @fragments.relativeDate(trail.webPublicationDate, trail.isLive)
        </div>
    </div>
</a>
