@(trail: Trail, column: String, title: String, linkName: String, state: String = "visible")(implicit request: RequestHeader)
<div class="card-wrapper card-wrapper--@column is-@state"
   @trail.discussionId.map{ id => data-discussion-id="@id" }
>
    <div class="furniture furniture--@column card card--@column">
        <h2 class="card__title">@title</h2>

        @trail.trailPicture.map { imgContainer =>
            @ImgSrc.imager(imgContainer).map{ imgSrc =>
                <a href="@trail.url" class="item__image-container" data-link-name="@linkName" data-img-class="card__media" data-src="@imgSrc">
                    <img src="@LargeThumbnail.bestFor(imgContainer)" class="card__media" />
                </a>
            }
        }

        <div class="card__body u-text-hyphenate">
            <h3 class="card__headline">
                <a href="@trail.url" data-link-name="@linkName">@Html(trail.headline)</a>
            </h3>
        </div>

        <div class="card__meta dateline">
            <div class="dateline">
                <i class="i i-clock-light-grey relative-timestamp__icon"></i>
                <time datetime="@trail.webPublicationDate" class="js-timestamp">@Format(trail.webPublicationDate, "d MMM y")</time>
            </div>
        </div>

    </div>
</div>

