/* ==========================================================================
   Best Buys component
   ========================================================================== */

$c-money-high: #63007f;

.commercial--bestbuys {
    .tabs .commercial__head {
        height: auto;
        border: 0;
        padding-left: $gs-gutter/2;
        margin-top: 0;
        padding-top: 0;
    }
    .commercial__title {
        height: 26px;
        width: auto;
        display: block;
        float: none;
        padding: $comercial-comp-baseline 0 0;
        margin-bottom: $comercial-comp-baseline;
        @include mq(tablet) {
            float: left;
        }
    }
    .commercial__explainer {
        @include fs-header(2);
        line-height: 1;
    }
    .tools__calculators {
        position: absolute;
        right: 0;
        top: $gs-baseline;
        color: $c-money-high;
        width: auto;
        @include fs-textSans(2);
        font-weight: bold;
        
        .i.i-arrow-white-right-18 {
            float: right;
            background-color: $c-money-high;
            margin-top: 0;
            margin-left: 4px;
        }
    }
    .tabs__container {
        background-color: $c-commercial-comp-neutral;
        padding-top: 0;
        padding-left: 0;
    }
    .tabs__content {
        padding: 0;
        border: 0;

        .commercial__head,
        .commercial__body {
            padding: $comercial-comp-baseline 0;
        }
    }
    .tabs__tab {
        width: auto;
        border-bottom: 0;
        border-color: $c-commercial-comp-neutral;

        + .tabs__tab a {
            border-left: 0;
        }

        a {
            background-color: transparent;
            @include fs-textSans(2);
        }
    }
    .tabs__tab--selected {
        border-color: $c-money-high;

        a {
            background-color: transparent;
            color: $c-money-high;
            font-weight: bold;
        }
    }
    .table--commercial {
        border-bottom: 1px solid $c-neutral5;
        margin-bottom: $comercial-comp-baseline;
        @include fs-textSans(4);
    }
    .table--commercial__head {
        color: $c-neutral2;

        .table--commercial__table--cell {
            span:last-child {
                display: none;
            }
        }
    }
    .table--commercial__body {
        .table--commercial__row {
            border-top: 1px solid $c-neutral5;
        }
    }
    .table--commercial__table--cell {
        padding: $gs-baseline/3 $gs-gutter/5 $gs-baseline;
        vertical-align: top;
        line-height: 1;
    }
    .apply-to-link {
        font-weight: bold;
    }
    .commercial__link {
        margin-bottom: $comercial-comp-baseline;
        display: block;
        font-weight: bold;
        @include fs-bodyHeading(1);

        .i-double-arrow-right-blue {
            margin-left: $gs-gutter/4;
            margin-bottom: -2px;
            height: 12px;
            background-size: contain;
        }
    }
    .lineitem__meta {
        color: #a3a3a3;
        @include fs-textSans(1);
    }
    .commercial__home-link {
        color: $c-money-high;

        .commercial__home-link__cta {
            background-color: $c-money-high;
        }
    }
    @include mq($until: tablet) {
        .hide-cell-on-mobile {
            display: none;
        }
    }
    @include mq(tablet) {
        .tabs__container {
            padding-left: $gs-gutter;
        }
        .tabs__tab a,
        .tabs__tab .tab__link {
            padding-top: 8px;
        }
    }
}

/* fronts */
.facia-container--layout-front .commercial--bestbuys {
    @include mq(tablet) {
        .commercial__home-link {
            bottom: $comercial-comp-baseline;
        }
        .tabs__content {
            margin-bottom: $comercial-comp-baseline;
        }
    }
    @include mq(desktop) {
        .tabs__container {
            padding-left: 0;
        }
        .tabs__content {
            margin-bottom: 0;
        }
        .commercial__title {
            position: absolute;
        }
        .commercial__explainer {
            @include fs-header(3);
            line-height: 1;
        }
        .commercial__head {
            width: 25%;
            
            &.container__title {
                float: left;
            }
        }
        .commercial__body {
            margin-left: 25%;
            padding-left: 0;
        }
        .commercial__home-link {
            position: absolute;
            margin-left: 0;
            bottom: $comercial-comp-baseline;
        }
    }
    @include mq(leftCol) {
        .commercial__head {
            width: $left-column + $gs-gutter;
        }
        .tabs__container,
        .commercial__body {
            margin-left: $left-column + $gs-gutter;
            padding-left: 0;
        }
        .has-page-skin & {
            .tools__calculators {
                right: $gs-gutter*1.5;
            }
            .facia-container__inner {
                width: 100%;
                padding: 0 $gs-gutter/2;
            }
            .container__body {
                width: 100%;
                margin-left: 0;
                
                &.tabs__container {
                    width: auto;
                    margin-left: gs-span(3) + $gs-gutter;
                }
            }
            .container__title {
                float: none;
            }
            .commercial__home-link {
                right: $gs-gutter*2;
            }
        }
    }
    @include mq(leftCol, wide) {
        .commercial__home-link {
            line-height: 1;
            width: gs-span(1) + $gs-gutter*2;
        }
    }
    @include mq(wide) {
        .tools__calculators {
            right: gs-span(1) + $gs-gutter;
        }
        .tabs__container,
        .commercial__body {
            margin-left: $left-column-wide + $gs-gutter;
            padding-left: 0;
        }
        .commercial__head {
            margin-right: 0;
        }
    }
}
/* article */
.facia-container--layout-content .commercial--bestbuys {
    @include mq(tablet) {
        .tools__calculators {
            right: $gs-gutter;
        }
    }
    @include mq(tablet, rightCol) {
        .tabs__content {
            padding-bottom: $comercial-comp-baseline;
        }
        .commercial__home-link {
            bottom: $comercial-comp-baseline;
        }
    }
    @include mq(rightCol) {
        .tabs__container {
            padding-left: 0;
        }
        .commercial__title {
            position: absolute;
        }
        .tabs .commercial__head {
            margin-top: 4px;
            padding-top: 4px;
            padding-right: $gs-gutter/2;
            width: 25%;
            float: left;
        }
        .commercial__explainer {
            @include fs-header(3);
            line-height: 1;
        }
        .commercial__body {
            margin-left: 25%;
        }
        .commercial__home-link {
            position: absolute;
            left: $gs-gutter;
            bottom: $comercial-comp-baseline;
        }
    }
    @include mq(rightCol, leftCol) {
        .tabs__container {
            margin-left: 25%;
        }
        .commercial__body {
            padding-left: 0;
        }
    }
    @include mq(leftCol) {
        .tabs__container,
        .commercial__body {
            margin-left: gs-span(2) + $gs-gutter;
            padding-left: 0;
        }
    }
    @include mq(leftCol, wide) {
        .commercial__home-link {
            line-height: 1;
            width: gs-span(1) + $gs-gutter*2;
        }
    }
    @include mq(wide) {
        .tabs__container,
        .commercial__body {
            margin-left: 20%;
            padding-left: 0;
        }
        .tools__calculators {
            right: gs-span(1) + $gs-gutter*2;
        }
    }
}
