/* ==========================================================================
   Books component
   ========================================================================== */

.commercial--books {
    @include rem((
        padding: $gs-gutter/2
    ));
    .commercial__branding,
    .commercial__head {
        overflow: hidden;
        position: static;
        border: 0;
        height: auto;
        padding: 0;
    }
    .commercial__branding {
        float: left;
    }
    .commercial__logo {
        margin: 0;
        @include rem((
            height: 24px
        ));

        .i:nth-child(2) {
            @include rem((
                margin-left: -4px
            ));
        }
    }
    .commercial__title {
        margin: 0;
    }
    .i-bookshop-logo--bookshop {
        @include rem((
            margin-left: -5px
        ));
    }
    .commercial__explainer {
        clear: both;
    }
    .commercial__home-link {
        float: right;
        clear: right;
    }
    .commercial__body {
        padding: 0;
        @include rem((
            margin-top: $gs-baseline
        ));
    }
    .lineitem {
        @include box-sizing(border-box);
        @include rem((
            padding: $gs-baseline/2 0
        ));
    }
    .lineitem:first-child {
        padding-top: 0;
    }
    .lineitem:first-child .lineitem__img {
        display: block;
    }
    .lineitem__link {
        width: 68%;
    }
    .lineitem__meta {
        color: $c-neutral1;
        @include fs-textsans(1);
    }
    .commercial--books__price {
        @include rem((
            margin-top: $gs-baseline/2,
            margin-bottom: 0
        ));
    }
    .commercial--books__price__rrp,
    .commercial--books__price__our {
        display: block;
        color: $c-neutral1;
        @include fs-data(3);
    }
    .commercial--books__price__our {
        font-weight: bold;
    }
    .commercial--books__buy-now-button {
        background-color: #e657af;
        border: 0;
        float: right;
        color: #ffffff;
        text-align: center;
        @include f-header;
        @include font-size(12, 20);
        @include rem((
            padding: 0 $gs-gutter/2,
            min-width: 60px
        ));
    }

    .commercial__foot {
        padding: 0;
    }

    @include mq(tablet) {
        .commercial__branding {
            float: none;
        }
        .commercial__head {
            float: left;
            width: gs-span(3);
        }
        .commercial__search {
            position: relative;
            float: none;
            width: 100%;
            @include rem((
                margin-top: $gs-baseline*4
            ));
        }
        .commercial__home-link {
            position: absolute;
            @include rem((
                bottom: $gs-baseline
            ));
        }
        .commercial__body {
            margin-top: 0;
        }
        .lineitem {
            position: relative;
            width: 33%;
            @include rem((
                min-height: 250px,
                padding: 0 $gs-gutter/2 $gs-baseline*2.5
            ));

            &:nth-child(n+4) {
                display: none;
            }
        }
        .lineitem__link,
        .commercial--books__price {
            width: 100%;
        }
        .commercial--books__price {
            text-align: left;
            @include rem((
                margin-top: $gs-baseline/2
            ));
        }
        .commercial--books__price__label {
            display: inline;
        }
        .commercial--books__buy-now-button {
            position: absolute;
            bottom: 0;
            left: 8px;
        }
        .commercial__foot {
            display: none;
        }
    }
    @include mq(desktop) {
        .lineitem {
            width: 20%;

            &:nth-child(n+4) {
                display: block;
            }
        }
    }
    @include mq(wide) {
        .commercial__head {
            @include rem((
                width: gs-span(4)
            ));
        }
    }
}

/* fronts */
.facia-container--layout-front .commercial--books {
    @include rem((
        padding: $gs-gutter/2
    ));
    @include mq(leftCol) {
        .commercial__head {
            float: left;
        }
    }
    @include mq(faciaLeftCol) {
        .commercial__head {
            @include rem((
                width: gs-span(2)
            ));
            background: #ff0000;
        }
    }
    @include mq(wide) {
        .commercial__head {
            @include rem((
                width: gs-span(2) + $gs-gutter
            ));
            margin-right: 0;
        }
    }
    @include mq(faciaLeftCol, $to: wide) {
        .commercial__title {
            line-height: 1;
            @include rem((
                margin-bottom: 10px
            ));
        }
        .i-bookshop-logo--bookshop {
            margin-left: 0;
        }
        .commercial__search {
            @include rem((
                margin-top: 40px
            ));
        }
    }
}

/* article */
.facia-container--layout-article .commercial--books {
    .commercial__head {
        @include mq(rightCol) {
            width: 25%;
            @include rem((
                padding-right: 8px
            ));
        }
    }
    @include mq(leftCol, $to: wide) {
        .commercial__title {
            line-height: 0;
            @include rem((
                margin-bottom: 10px
            ));
        }
        .i-bookshop-logo--bookshop {
            margin-left: 0;
        }
        .commercial__search {
            background: #ff0000;
            @include rem((
                margin-top: 40px
            ));
        }
    }
}
