/* ==========================================================================
   Books components
   ========================================================================== */

$c-commercial-books-dark: #630d4c;

.commercial--books {
    padding: $comercial-comp-baseline 0;
    .commercial__branding,
    .commercial__head {
        overflow: hidden;
        position: static;
        border: 0;
        height: auto;
        padding: 0;
        margin-top: 0;
    }
    .commercial__branding {
        float: left;
    }
    .commercial__logo {
        margin: 0;
        height: 24px;

        .i:nth-child(2) {
            margin-left: -4px;
        }
    }
    .commercial__title {
        margin: 0;
    }
    .i-bookshop-logo--bookshop {
        margin-left: -5px;
    }
    .commercial__explainer {
        clear: both;
    }
    .commercial__home-link {
        float: right;
        clear: right;
        color: $c-commercial-books-dark;
        bottom: 0;
    }
    .commercial__home-link__cta,
    .commercial__home-link__pill {
        background-color: $c-commercial-books-dark;
    }
    .commercial__body {
        padding: 0;
        margin-top: $gs-baseline;
    }
    .lineitem,
    .highitem {
        @include box-sizing(border-box);
        padding: 0 0 $comercial-comp-baseline;
    }
    .lineitem {
        padding: $comercial-comp-baseline 0;        
    }
    .lineitem:first-child {
        padding-top: 0;
    }
    .lineitem__meta {
        color: $c-neutral1;
        @include fs-textSans(1);
    }
    .highitem .commercial--books__buy-now-button {
        margin-right: -($gs-gutter/2);
    }
    .commercial--books__price {
        margin-top: $gs-baseline/2;
        margin-bottom: 0;
    }
    .commercial--books__price__rrp,
    .commercial--books__price__our {
        display: block;
        color: $c-neutral1;
        @include fs-data(3);
    }
    .commercial--books__price__our {
        font-weight: bold;
    }
    .commercial--books__buy-now-button {
        display: inline-block;
        background-color: #e657af;
        border: 0;
        color: #ffffff;
        text-align: center;
        float: right;
        @include f-header;
        @include font-size(12, 20);
        padding: 0 $gs-gutter/2;
        min-width: gs-span(1);
    }

    .commercial__foot {
        padding: 0;
    }

    @include mq(tablet) {
        .commercial__body {
            margin-top: 0;
        }
        .commercial__search {
            position: relative;
            float: none;
            width: 100%;
            margin-top: $gs-baseline*4;
        }        
        .lineitem {
            position: relative;
            width: percentage(1/3);
            padding: 0 $gs-gutter/2;

            &:nth-child(n+4) {
                display: none;
            }
        }
        .commercial--books__price {
            width: 100%;
        }
        .commercial--books__price {
            text-align: left;
            margin-top: $gs-baseline/2;
        }
        .commercial--books__price__label {
            display: inline;
        }
        .commercial--books__buy-now-button {
            float: none;
            margin-top: $comercial-comp-baseline;
        }
    }
    @include mq(desktop) {
        .lineitem {
            width: 20%;

            &:nth-child(n+4) {
                display: block;
            }
        }
        .commercial__head {
            float: left;
        }
    }
    @include mq(wide) {
        .commercial__head {
            width: gs-span(4);
        }
    }
    &.commercial--low {
        .lineitem__link {
            float: none;
        }
        .lineitem:first-child .lineitem__img {
            display: block;
        }
        
        @include mq(tablet) {
            .commercial__body {
                padding-left: $gs-gutter/2;
            }
            .commercial__home-link {
                position: absolute;
            }
            .commercial__branding {
                float: none;
            }
            .commercial__head {
                float: left;
                width: gs-span(3);
            }
            .commercial__foot {
                display: none;
            }
        }
    }
    &.commercial--high {
        .highitem__details {
            .lineitem__link {
                width: 100%;
            }
        }
        .commercial__relevance-low {
            .lineitem__img {
                width: 66px;
            }
        }
        @include mq(tablet) {
            .lowitem__details {
                margin-left: 76px;
            }
        }
    }
}

/* fronts */
.facia-container--layout-front .commercial--books {
    padding: $gs-gutter/2;
    @include mq(leftCol) {
        .commercial__head {
            float: left;
        }
    }
    @include mq(faciaLeftCol) {
        .commercial__head {
            width: gs-span(2);
        }
    }
    @include mq(faciaLeftCol, wide) {
        .commercial__title {
            line-height: 1;
            margin-bottom: $comercial-comp-baseline;
        }
        .i-bookshop-logo--bookshop {
            margin-left: 0;
        }
        .commercial__search {
            margin-top: 40px;
        }
    }
    @include mq(wide) {
        .commercial__head {
            width: gs-span(2) + $gs-gutter;
            margin-right: 0;
        }
        &.commercial--high {
            .has-page-skin & {
                .container__title {
                    margin-bottom: $gs-baseline;
                }
                .commercial__home-link {
                    width: auto;
                    right: 0;
                    left: auto;
                    bottom: auto;
                    top: $gs-baseline;
                }
            }
        }
    }
}

/* article */
.facia-container--layout-content .commercial--books {
    @include mq(rightCol) {
        .commercial__head {
            float: left;
            width: 25%;
            padding-right: $gs-gutter/2;
        }
        .commercial__body {
            padding-left: 0;
        }
    }
    @include mq(rightCol, leftCol) {
        &.commercial--high .commercial__head {
            padding-right: 16px;
        }
    }
    @include mq(leftCol) {
        .commercial__head {
            padding-right: 0;
        }
        .commercial__relevance-low .lineitem {
            width: 50%;
        }
    }
    @include mq(leftCol, $to: wide) {
        .commercial__title {
            line-height: 1;
            margin-bottom: $comercial-comp-baseline;
        }
        .i-bookshop-logo--bookshop {
            margin-left: 0;
        }
        .commercial__search {
            margin-top: 40px;
        }
    }    
}
