.commercial {
    @include box-sizing(border-box);
    text-align: left;
    color: $c-neutral1;
    margin-top: $gs-baseline;
    padding: $gs-baseline/2 $gs-gutter/2;
    overflow: hidden;
    min-height: 250px;
    width: 100%;
    position: relative;
}

.commercial__title {
    @include fs-headline(2);
    color: #FFFFFF;

    span {
        color: #64C5F8;
    }
}


.commercial__body {
    overflow: hidden;
    margin-bottom: $gs-baseline/2;
}

.commercial__foot {
    clear: both;
}


.commercial__label {
    display: block;
}

input.commercial__search {
    width: 70%;
    float: left;
}

input.commercial__submit {
    min-width: 0;
    width: 30%;
    margin: 0;
    float: left;
}


/* ==========================================================================
   Promo
   ========================================================================== */


.commercial__promo {
    display: none;

    .commercial--w600 & {
        display: block;
        width: 50%;
        float: right;
    }
}



/* ==========================================================================
   Products
   ========================================================================== */
.product {
    float: left;
    width: 100%;
    @include box-sizing(border-box);

    &:not(:first-child) {
        display: none;
    }

    .commercial--w600 & {
        width: 25%;
        display: block;
    }
}

.product__title {
    @include fs-bodyHeading(1);
    margin-bottom: 0;

    a {
        color: #FFFFFF;
    }
}

.product__image img {
    width: 100%;
    display: block;
}

.product__description {
    @include fs-bodyCopy(1);
}



/* ==========================================================================
   Background
   ========================================================================== */


.commercial__background {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    z-index: -10;
    -webkit-filter: blur(10px);
    -webkit-transform: scale(3);
}