.commercial {
    @include box-sizing(border-box);
    text-align: left;
    color: $c-neutral1;
    background-color: lighten($c-neutral7, 2%);
    width: 100%;
    position: relative;
}
.commercial__head {
    background-color: $c-neutral6;
    overflow: hidden;
    @include rem((
        height: 40px
    ));
}
.commercial__title {
    padding: ($gs-baseline/3)*2;
    margin: 0;
    float: left;
    color: $c-brandBlue;
    text-transform: lowercase;
    word-spacing: -0.25em;
    @include fs-headline(2);

    .em {
        font-style: italic;
    }
}
.commercial__subtitle {
    color: #ffffff;
    @include f-headline;
    @include font-size(12, 12);
    margin: 0;
    position: absolute;
    bottom: $gs-baseline/3;
    padding: $gs-baseline/3 ($gs-gutter/5)*2;
}
.commercial__body {
    padding: ($gs-baseline/3)*2;
    overflow: hidden;
}
.commercial__foot {
    border-top: 1px dotted $c-neutral5;
    padding: $gs-baseline/3 $gs-gutter/5;
    margin: 0 $gs-gutter/5;
    clear: both;
}
.commercial__link {
    @include fs-data(4);

    .i {
        position: relative;
        top: 2px;
        margin-left: 4px;
    }
    .commercial__head & {
        @include rem((
            line-height: 32px
        ));
        padding: $gs-baseline/3 $gs-gutter/5;
        display: block;
        float: right;

        .i {
            background-color: $c-newsDefault;
            background-position: 9px 9px;
            border-radius: 100%;
            margin-left: $gs-gutter/5;
            top: 0;
            width: 32px;
            height: 32px;
            float: right;
        }
    }
}
.commercial__label {
    display: block;
}


/* ==========================================================================
   Entries
   ========================================================================== */

.lineitems {
    list-style-type: none;
    margin: 0;
}
.lineitem__title {
    @include f-headline;
    @include font-size(18, 20);

    a {
        color: $c-neutral1;
    }
}
.lineitem__description,
.lineitem__link {
    @include fs-data(4);

    strong {
        color: #000000;
        font-weight: normal;
    }
}
.lineitem__link {
    margin-top: $gs-baseline/3;

    .i.i-single-arrow-right-blue {
        background-position: 6px 4px;
        border: 1px solid $c-newsDefault;
        border-radius: 100%;
        margin-right: $gs-gutter/5;
        padding: $gs-baseline/3 $gs-gutter/5;
        width: 8px;
        height: 8px;
        float: left;
    }
}
.lineitem__blocklink:hover {
    text-decoration: none;

    .lineitem__title {
        text-decoration: underline;
    }
}
.lineitem__meta {
    color: $c-neutral2;
    @include fs-data(2);
    margin: 0;
}
.lineitem__image {
    max-width: 100%;
    outline: 1px solid $c-neutral7;
}


/* ==========================================================================
   300x50 varient
   ========================================================================== */

@include mq($to: tablet) {
    .commercial__head {
        padding-left: $gs-baseline/2;
        padding-right: $gs-baseline/2;
        height: rem(50px);
        overflow: hidden;
    }
    .commercial__title {
        padding: $gs-baseline/3 $gs-gutter/5;

        .i {
            margin-top: $gs-baseline/3;
        }
    }
    .commercial__subtitle {
        padding: $gs-baseline/3 $gs-gutter/5;
    }
    .commercial__title a {
        color: #ffffff;
    }
    .commercial__body,
    .commercial__foot {
        display: none; // this is not a very good idea
    }
}

@include mq($from: tablet) {
    .commercial__subtitle {
        display: none; // this is not a very good idea
    }
}
