/* ==========================================================================
   Jobs component
   ========================================================================== */

.jobs-component {

    background-color: #E10686;
    color: #ffffff;

    .product {
        width: 100%;
        display: none;
    }

    .product:first-child {
        display: block;
    }

    &.commercial--w500 {
        .product {
            width: 33%;
            float: left;
            padding-right: $gutter;
        }

        .product:nth-child(2),
        .product:nth-child(3) {
            display: block;
        }
    }

    &.commercial--w600 {
        .product {
            width: 25%;
        }

        .product:nth-child(4) {
            display: block;
        }
    }
}