/* ==========================================================================
   Masterclass component
   ========================================================================== */

.masterclasses-component {

    background-color: #A7006F;
    color: #ffffff;

    .commercial__title span {
        color: #FF97DC;
    }

    .product__title {
        @include fs-header(1);

        a {
            color: #ffffff;
        }
    }

    &.commercial--w600 {

        .products {
            width: 100%;
        }

        .product {
            width: 25%;
            padding-right: $gs-gutter/2;
            padding-bottom: $gs-baseline/2;
        }

        .commercial__promo {
            display: none;
        }
    }
}