/* ==========================================================================
   Travel component
   ========================================================================== */

$c-commercial-travel-light: #2cace7;
$c-commercial-travel-dark: #002b6c;

.l-footer {
    margin-top: 0 !important;
}
.commercial--travel {
    .lineitems {
        @include rem((
            margin-left: -8px
        ));
    }
    .lineitem {
        list-style-type: none;
        border-top: 0;
        @include box-sizing(border-box);
        float: left;
        width: 50%;
        @include rem((
            padding-left: 8px
        ));

        &:nth-child(n+3) {
            display: none;
        }
    }
    .lineitem__link {
        float: none;
            
        .i.i-arrow-white-down {
            background-color: $c-commercial-travel-light;
        }
    }
    .lineitem__offer {
        @include rem((
            padding-top: $comercial-comp-padding
        ));
    }
    .lineitem__meta {
        color: $travelBlue;
    }
    .lineitem__image {
        width: 100%;
        display: block;
    }
    .commercial__head {
        position: static;
        border-top: 0;
        height: auto;
        overflow: auto;
        margin-top: 0;
        @include rem((
            padding: $comercial-comp-padding 0
        ));
    }
    .commercial__title {
        margin-bottom: 0;
        @include fs-bodyHeading(3);
        text-transform: lowercase;
        color: $c-brandBlue;
        
        .commercial__title__middle-word {
            color: $c-commercial-travel-light;
            @include rem((
               margin-left: -5px
            ));
        }
        .commercial__title__last-word {
            color: $travelBlue;
            @include rem((
               margin-left: -5px
            ));
        }
    }
    .commercial__home-link {
        float: right;
        color: $c-commercial-travel-light;
        
        .commercial__home-link__cta {
            background-color: $c-commercial-travel-light;
        }
    }
    .commercial__body {
        padding: 0;
    }
    .commercial__search {
        position: absolute;
        @include rem((
            bottom: $comercial-comp-padding,
            margin-top: $gs-baseline*4
        ));
        float: none;
        width: 100%;
    }
    @include mq(tablet) {
        .commercial__body {
            padding: 0;
        }
        .lineitems {
            @include rem((
                margin-right: -16px
            ));
        }
        .lineitem {
            width: 33%;
            
            &:nth-child(3) {
                display: block;
            }
        }
        .commercial__home-link {
            position: absolute;
            right: 0;
            @include rem((
                top: $comercial-comp-padding
            ));
        }
    }
    @include mq(leftCol) {
        .commercial__title__last-word {
            margin-left: 0;
        }
    }
}

/* fronts */
.facia-container--layout-front .commercial--travel {
    @include mq($to: desktop) {
        .facia-container__inner {
            @include rem((
                padding-bottom: $gs-baseline*4.5
            ));
        }
    }
    @include mq(desktop) {
        .commercial__head {
            float: left;
            width: 25%;
        }
        .commercial__search {
            position: relative;
        }        
        .commercial__home-link {
            @include rem((
                bottom: $comercial-comp-padding,
                left: $gs-gutter/2
            ));
            left: 0;
            top: auto;
            right: auto;
        }
        .commercial__body {
            @include rem((
                padding-top: $comercial-comp-padding
            ));            
        }
        .lineitem {
            width: 33%;
        }
    }
    @include mq($from: desktop, $to: faciaLeftCol) {
        .commercial__head {
            @include rem((
                padding-right: $gs-gutter
            ));
        }
    }
    @include mq(leftCol) {
        .commercial__title__last-word {
            @include rem((
               margin-left: -5px
            ));
        }
    }
    @include mq(faciaLeftCol) {
        .commercial__head {
            @include rem((
               width: gs-span(2) + $gs-gutter
            ));
        }
        .lineitems {
            @include rem((
                margin-right: -8px
            ));
        }
        .lineitem {
            width: 25%;

            &:nth-child(n+4) {
                display: block;
            }
        }
    }
    @include mq($from: faciaLeftCol, $to: wide) {
        .facia-container__inner {
            @include rem((
                padding-bottom: $gs-baseline*4
            ));
        }
        .commercial__home-link {
            @include box-sizing(border-box);
            @include rem((
               width: gs-span(2),
               line-height: 18px,
               bottom: $gs-baseline*4.5
            ));
        }
        .commercial__title__last-word {
            margin-left: 0;
        }
        .commercial__search {
            position: absolute;
            @include box-sizing(border-box);
            @include rem((
                width: gs-span(5),
                bottom: $comercial-comp-padding
            ));
        }
    }
    @include mq(wide) {
        .commercial__head {
            @include rem((
                width: gs-span(2) + $gs-gutter
            ));
        }
    }
}

/* article */
.facia-container--layout-article .commercial--travel {
    @include mq(tablet) {
        .commercial__search {
            width: 94%;
        }
        .commercial__home-link {
            @include rem((
                right: 24px
            ));
        }
    }
    @include mq($to: rightCol) {
        .facia-container__inner {
            @include rem((
                padding-bottom: $gs-baseline*4.5
            ));
        }
    }
    @include mq(rightCol) {
        .commercial__head {
            width: 25%;
            float: left;
        }
        .commercial__search {
            position: relative;
        }
        .commercial__home-link {
            @include rem((
                bottom: $comercial-comp-padding,
                left: $gs-gutter
            ));
            top: auto;
            right: auto;
        }
        .commercial__body {
            @include rem((
                padding-top: $comercial-comp-padding
            ));
        }
    }
    @include mq(desktop) {
        .commercial__search {
            position: relative;
        }
    }
    @include mq(leftCol) {
        .lineitem {
            width: 25%;

            &:nth-child(n+4) {
                display: block;
            }
        }
    }
    @include mq($from: leftCol, $to: wide) {
        .facia-container__inner {
            @include rem((
                padding-bottom: $gs-baseline*4
            ));
        }
        .commercial__home-link {
            @include box-sizing(border-box);
            @include rem((
                width: gs-span(2),
                line-height: 18px,
                bottom: $gs-baseline*4.5
            ));
        }
        .commercial__title {
            @include rem((
                margin-bottom: $comercial-comp-padding
            ));
            
            .commercial__title__middle-word {
                margin-left: 0;
            }
        }
        .commercial__search {
            position: absolute;
            @include box-sizing(border-box);
            @include rem((
                width: gs-span(5)+$gs-gutter,
                bottom: $comercial-comp-padding
            ));
        }
    }
}
