/* ==========================================================================
   Travel component
   ========================================================================== */

.footer {
    margin-top: 0 !important;
}

.commercial--travel {
    .lineitem {
        list-style-type: none;
        border-top: 0;
        @include box-sizing(border-box);
        float: left;
        width: 50%;
        @include rem ((
            padding-left: 8px
        ));

        &:nth-child(n+3) {
            display: none;
        }
    }
    .lineitem__link {
        float: none;
    }
    .lineitem__image {
        width: 100%;
        display: block;
    }
    .lineitem__title {
        font-weight: bold;
    }
    .commercial__head {
        position: static;
        border-top: none;
        height: auto;
        overflow: auto;
        @include rem ((
            padding: $gs-gutter/2
        ));
    }
    .commercial__title {
        padding: 0;
        margin-bottom: 0;
        @include fs-bodyHeading(3);
        text-transform: lowercase;
        color: $c-brandBlue;
        
        .commercial__title__middle-word {
            color: #52aee9;
            @include rem((
               margin-left: -5px
            ));
        }
        .commercial__title__last-word {
           color: #006ec9;
           @include rem((
               margin-left: -5px
           ));
        }
    }
    .commercial__home-link {
        float: right;
    }
    .commercial__body {
        @include rem ((
            padding: 0 $gs-gutter/2 0 0
        ));
    }
    @include mq(tablet) {
        .commercial__body {
            padding: 0;
        }
        .lineitem {
            width: 33%;
            
            &:nth-child(3) {
                display: block;
            }
        }
        .commercial__search {
            position: relative;
            float: none;
            width: 100%;
            @include rem((
                margin-top: $gs-baseline*4
            ));
        }
        .commercial__home-link {
            position: absolute;
            @include rem((
                right: 10px,
                top: 10px
            ));
        }
    }
    @include mq(leftCol) {
        .commercial__title__last-word {
            margin-left: 0;
        }
    }
}

/* fronts */
.facia-container--layout-front .commercial--travel {
    @include mq(tablet, $to: desktop) {
        .commercial__head {
            @include rem ((
                padding-right: 14px
            ));
        }
        .commercial__home-link {
            @include rem ((
                right: 14px
            ));
        }
    }
    @include mq(desktop) {
        .commercial__head {
            float: left;
            width: 25%;
        }
        .commercial__home-link {
            @include rem((
                bottom: 10px,
                left: 10px
            ));
            top: auto;
            right: auto;
        }
        .commercial__body {
            @include rem((
                padding-top: 10px
            ));            
        }
        .lineitem {
           width: 33%;
       }
   }
   @include mq(leftCol) {
       .commercial__title__last-word {
           @include rem((
               margin-left: -5px
           ));
       }
   }
   @include mq(faciaLeftCol) {
       .commercial__head {
           @include rem((
               width: gs-span(2) + $gs-gutter
           ));
       }
       .lineitem {
           width: 25%;
           
           &:nth-child(n+4) {
               display: block;
           }
       }
   }
   @include mq(faciaLeftCol, $to: wide) {
       .commercial__home-link {
           @include box-sizing(border-box);
           @include rem ((
               width: gs-span(2),
               line-height: 18px
           ));
       }
       .commercial__title__last-word {
           margin-left: 0;
        }
   }
   @include mq(wide) {
       .commercial__head {
           @include rem((
               width: gs-span(2) + $gs-gutter
           ));
       }
   }
}

/* article */
.facia-container--layout-article .commercial--travel {
    @include mq(tablet, $to: rightCol) {
        .commercial__head {
            @include rem ((
                padding-right: 14px
            ));
        }
        .commercial__home-link {
            @include rem ((
                right: 24px
            ));
        }
    }
    @include mq(rightCol) {
        .commercial__head {
            width: 25%;
            @include rem((
                padding-right: 8px
            ));
            float: left;
        }
        .commercial__home-link {
            @include rem((
                bottom: 10px,
                left: 20px
            ));
            top: auto;
            right: auto;
        }
        .commercial__body {
            @include rem ((
                padding-top: 10px
            ));
        }
    }
    @include mq(leftCol) {
        .lineitem {
            width: 25%;

            &:nth-child(n+4) {
                display: block;
            }
        }
    }
    @include mq(leftCol, $to: wide) {
        .commercial__home-link {
            @include box-sizing(border-box);
            @include rem ((
                width: gs-span(2),
                line-height: 18px
            ));
        }
        .commercial__title {
            @include rem((
                margin-bottom: 10px
            ));
            
            .commercial__title__middle-word {
                margin-left: 0;
            }
        }
        .commercial__search {
            @include rem((
                margin-top: 40px
            ));
        }
    }
}
