@(content: model.Content)(implicit request: RequestHeader, config: com.gu.facia.client.models.CollectionConfig)

@if(config.showTags.exists(identity)) {
    @content.tags.take(1).map { s =>
        <a href="@LinkTo{@s.webUrl}" class="item__tag tone-colour">@s.name</a>
    }
}
@if(config.showSections.exists(identity)) {
    <a href="@LinkTo{/@content.section}" class="item__tag tone-colour">@content.section.capitalize</a>
}
@if(config.showTags.exists(identity) || config.showSections.exists(identity)) {
    <span class="item__tag-separator" role="presentation"></span>
}
