html {
    overflow-y: scroll;
}

body {
    overflow-y: hidden;
    margin: 0;
    padding: 10px  10px 0 10px;
    color: #000000;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
              user-select: none;
}

fieldset,
input[type=text] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: inherit;
}

#environment {
    line-height: 40px;
    position: absolute;
}

.scrollable {
    overflow-y: scroll;
}

.u-cf:before,
.u-cf:after{content:"";display:table}
.u-cf:after{clear:both}
.u-cf{zoom:1}

.finder {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: left;
    width: 50%;
    padding: 0 15px 0 0;
    margin-top: 10px;
    color: #666666;
    border-right: 1px solid #cccccc;
}

.finder__controls {
    font-size: 10px;
    color: #666666;
    text-transform: uppercase;
}

h1 {
    float: left;
    font-size: 26px;
    height: 30px;
    color: #999999;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0;
    line-height: 30px;
}

h1 span {
    color: #CCCCCC;
    font-weight: normal;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    padding: 6px 0 0 0;
}

.collections .title {
    padding-left: 4px;
}

.droppable {
    padding: 0 0 20px 0;
    -webkit-transition: background-color 50ms;
       -moz-transition: background-color 50ms;
            transition: background-color 50ms;
}

.pending {
    opacity: 0.5;
    pointer-events: none;
}

.list-header {
    color: #999999;
    overflow: hidden;
}

.list-header__saving  {
    float: right;
    color: #d61d00;
    font-size: 12px;
}

.list-header__timings {
    font-weight: normal;
    font-size: 10px;
    color: #999999;
    padding: 0 0 0 4px;
}

.collections {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 15px;
    width: 50%;
    float: right;
    margin-top: 10px;
}

.collections__inner {
    padding: 0 10px 0 0;
    border-top: 2px solid #CCCCCC;
}

.collection {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    position: relative;
    border-bottom: 2px solid #CCCCCC;
}

.trail {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding: 1px 3px 4px 4px;
    position: relative;
    background-color: #FFFFFF;
    -webkit-transition: background-color 100ms;
       -moz-transition: background-color 100ms;
            transition: background-color 100ms;
    border-bottom: 1px dotted #cccccc;
}

.trail:last-child {
    border-bottom: 0;
}

.trail.redundant {
    opacity: 0.2;
}

.trail.ui-sortable-placeholder {
    height: 5px !important;
    background-color: #47ae38 !important;
    visibility: visible !important;
}

.trail img {
    float: left;
    width: 75px;
    height: 45px;
    margin: 3px 0 0 0;
    background-color: #EEEEEE;
}

.trail p {
    margin: 0;
    padding: 0;
}

.trail .webTitle {
    margin: 0 190px 0 80px;
    display: block;
    text-decoration: none;
    font-size: 15px;
    line-height: 16px;
    color: #000000;
    cursor: move;
}

.trail .webTitle:hover {
    color: #438835;
}

.trail .webTitle--override {
    color: #f89406;
}

.trail .trailText {
    color: #666666;
    font-family: EgyptianText, georgia, serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
}

.trail .trail__meta {
    position: absolute;
    top: 36px;
    right: 135px;
    color: #999999;
    font-size: 10px;
    line-height: 14px;
    margin: 0 0 0 80px;
}

.trail .trail__meta a {
    display: none;
}

.trail:hover .trail__meta a {
    display: inline-block;
    color: #666666;
    border-left: 1px #dddddd solid;
    padding-left: 4px;
    cursor: pointer;
}

.trail .trail__remove {
    display: none;
    position: absolute;
    top: 4px;
    right: 3px;
    background: #CCCCCC;
    width: 14px;
    height: 20px;
    padding: 0px 3px;
    cursor: pointer;
    z-index: 99;
    border-radius: 2px;
}

.droppable .trail:hover .trail__remove {
    display: block;
}

.droppable .trail .trail__remove:hover {
    background: #999999;
}

.trail_tweaks {
    clear: both;
    margin: 0 0 10px 0;
}

input[type="text"] {
    margin: 2px 0;
    background: #ffffff;
}

select {
    margin: 0;
}

button {
    height: 30px;
    padding: 0 10px;
}

.strong {
    font-weight: bold;
}

.clipboard,
.clipboard__overlay {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 53px;
}

.clipboard__title {
    border-top: 2px solid #CCCCCC;
}

.clipboard__wrapper {
    position: relative;
    margin: 5px 0 27px 0;
}

.clipboard__overlay {
    position: absolute;
    z-index: -1;
    border: 1px dashed #cccccc;
    width: 100%;
    padding: 4px 5px;
    color: #999999;
    font-size: 12px;
    text-align: center;
}

.collection-config {
    padding: 5px 7px 7px 7px;
    font-size: 10px;
    background: #CCCCCC;
    color: #000000;
}

.collection-config.editable {
    background-color: #eee;
}

.collection-config a {
    color: #666666;
    cursor: pointer;
}

.collection-config input {
}

.collection-config input.tiny {
    width: 40px;
    text-align: right;
}

.trail_stats {
    position: absolute;
    top: 6px;
    right: 0;
    width: 130px;
    height: 40px;
    font-size: 9px;
    line-height: 12px;
}

.pageviews {
    color: #666666;
    font-weight: bold;
    position: absolute;
    bottom: -2px;
    left: 100px;
}

.pageviews-graph canvas {
    max-width: 140px;
    float: right;
    position: absolute;
    bottom: -2px;
    right: 33px;
}

.group-name {
    padding: 4px 0 0px 4px;
    font-size: 10px;
    line-height: 12px;
    color: #999999;
    text-transform: uppercase;
}

.frames {
    position: relative;
    float: left;
    clear: both;
    display: block;
    width: 100%;
    padding: 5px 0 0 0;
}

.frame {
    padding: 0 0 20px 0;
    position: absolute;
    -webkit-transition:left 0.4s;
       -moz-transition:left 0.4s;
            transition:left 0.4s;
}

iframe {
    margin: 10px 0 0 0;
    border: 1px solid #999999;
    border-radius: 5px;
    box-shadow: 1px 1px 7px #666666;
}

.underDrag {
    background: #a7d9a0 !important;
}

.search-form {
    position: relative;
    height: 35px;
}

.search-term {
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 35%;
    padding: 0 15px 0 0;
}

.search-term input {
    width: 100%;
}

.autocompleter {
    position: absolute;
    left: 40%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
}

.autocompleter select {
    width: 40%;
}

.autocompleter input {
    width: 55%;
}

.autocompleter .suggestions {
    position: absolute;
    z-index: 1;
}

.autocompleter .suggestion {
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    background: #ffffff;
    color: #666666;
    border-left: 1px solid #cccccc;
    padding: 0 10px;
}

.search-submit {
    position: absolute;
    right: 0;
    top: 2px;
    width: 40px;
}

.linky {
    cursor: pointer !important;
    color: #0088cc !important;
}

.linky:hover {
    color: #005580;
    text-decoration: underline;
}

.toolbar {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    width: 50%;
    padding: 0 0 0 18px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
}

.tool-select {
    float: left;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    margin-right: 15px;
    width: 150px;
}

.tool {
    float: left;
    display: inline-block;
    padding: 4px 8px;
    background: #DDDDDD;
    color: #FFFFFF;
    margin: 1px 0;
    border-radius: 4px;
    cursor: pointer;
}

.tool-label {
    float: left;
    display: inline-block;
    padding: 5px 5px 0 2px;
    color: #999999;
}

.tool-label.active {
    color: #46c430;
}

.draft-toolbar {
    color: #46c430;
    margin-left: 4px;
    height: 22px;
}

.tool.draft-publish {
    background: #46c430;
    padding: 0 6px;
    font-size: 12px;
}

.tool.draft-publish:hover {
    background: #47AE38;
}

.tool.draft-discard {
    padding: 0 6px;
    font-size: 12px;
    margin-left: 2px;
}

.draft-warning {
    color: #46c430;
}

.tool:hover {
    text-decoration: none;
    color: #ffffff;
    background: #CCCCCC;
}

.logout,
.preview {
    float: right;
    margin-left: 2px;
}

.pref-live {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pref-draft {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pref-live.active {
    cursor: default;
    background: #46c430;
}

.pref-draft.active {
    cursor: default;
    background: #999999;
}

.ophan-legend {
    position: absolute;
    right: 51%;
}
