html {
    overflow-y: scroll;
}

body {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    min-width: 320px;
    color: #000000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#environment {
    line-height: 40px;
    position: absolute;
}

.scrollable {
    overflow-y: scroll;
}

.u-cf:before,
.u-cf:after{content:"";display:table}
.u-cf:after{clear:both}
.u-cf{zoom:1}

.logo {
    position: fixed;
    top: 8px;
    left: 15px;
    z-index: 2;
}

.tool-title {
    float: left;
    margin: 8px 10px 0 46px;
    font-size: 26px;
    line-height: 30px;
    color: #000;
    text-transform: lowercase;
    font-weight: normal;
}

.tool-title .message {
    color: #CCCCCC;
    font-size: 26px;
    font-style: italic;
    font-weight: normal;
}

.tool-title .message--important {
    color: #d61d00;
}

.tool-title .message--loading {
    display: none;
}

.is-authed .tool-title .message--loading {
    display: inline;
}

.login-form {
    float: left;
    margin: 10px 10px 0 0;
}

.finder {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 49px;
    width: 50%;
    padding: 10px 15px 0 12px;
    color: #666666;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}

.finder__controls {
    font-size: 10px;
    color: #666666;
    text-transform: uppercase;
    padding: 0 0 0 4px;
}

.finder .latest-articles {
    padding: 0 10px 0 0;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    padding: 0 0 0 4px;
}

.collections .title {
    padding-left: 4px;
}

.droppable {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 10px 0;
    -webkit-transition: background-color 50ms;
    -moz-transition: background-color 50ms;
    transition: background-color 50ms;
}

.supporting .droppable {
    padding: 0 0 25px 0;
}

.droppable.underDrag {
    background-color: #f89406;
}

.editingMeta .droppable.underDrag {
    background-color: #999999;
}

.pending {
    opacity: 0.5;
    pointer-events: none;
}

.list-header {
    color: #999999;
    overflow: hidden;
    padding: 5px 0 1px 0;
    min-width: 300px;
}

.list-header__saving  {
    color: #999999;
    float: right;
    font-size: 12px;
}

.list-header__timings {
    font-weight: normal;
    font-size: 10px;
    color: #999999;
    padding: 0 0 0 4px;
}

.collections {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50px;
    width: 50%;
    padding: 10px 15px 0 15px;
}

.collections.live-mode {
    background: #EEFFEE;
}

.collections__inner {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px 0 0;
}

.collection {
    padding: 0 0 3px 0;
    border-bottom: 1px solid #CCCCCC;
}

.trail {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 2px 3px 4px;
    position: relative;
    background: #FFFFFF;
    border-top: 5px solid #FFFFFF;
    -webkit-transition: border-color 150ms;
       -moz-transition: border-color 150ms;
            transition: border-color 150ms;
}

.live-mode .trail {
    border-color: #EEFFEE;
    background: #EEFFEE;        
}

.supporting .trail {
    border-color: #CCCCCC;
    background: #CCCCCC;
}

.trail.editingMeta {
    background: #CCCCCC;
}

.trail.underDrag {
    border-top-color: #f89406; 
}

.editingMeta .trail.underDrag {
    border-top-color: #999999; 
}

.trail:last-child {
    border-bottom: 0;
}

.trail.redundant {
    opacity: 0.2;
}

.trail-count {
    position: absolute;
    top: 16px;
    left: 7px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
}

.trail img {
    float: left;
    width: 75px;
    height: 45px;
    margin: 3px 0 0 0;
    background-color: #EEEEEE;
    border-radius: 3px;
}

.content {
    margin: -1px 100px 0 80px;
    line-height: 0;
}

.content .icon-pencil {
    cursor: pointer;
    opacity: 0.5;
}

.headline {
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    cursor: move;
}

.headline:hover {
    color: #f89406;
    text-decoration: none;
}

.trail .trail__meta {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 35px;
    left: 4px;
    width: 75px;
    padding: 0 0 0 3px;
    color: #FFFFFF;
    font-size: 9px;
    line-height: 13px;
    background: rgba(0,0,0,0.2);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.trail .trail__remove {
    display: none;
    position: absolute;
    top: 3px;
    left: 59px;
    background: #0088cc;
    width: 14px;
    height: 20px;
    padding: 0px 3px;
    cursor: pointer;
    z-index: 99;
    border-radius: 2px;
}

.droppable .trail:hover > .trail__remove {
    display: block;
}

.droppable .trail .trail__remove:hover {
    background: #0077BB;
}

.trail_tweaks {
    margin: 1px 0 0 80px;;
    color: #CCCCCC;
}

.trail_tweaks input {
    z-index: 99;
    background: #eeeeee;
    width: 100%;

}

.trail_tweaks a {
    display: inline-block;
    font-size: 12px;
    line-height: 13px;
}

.trail_tweaks a:first-child {
    font-weight: bold;
    border-left: none;
}

select,
input[type="text"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 26px;
    padding: 1px 5px;
    margin: 1px 0 0 0;
    color: #000000;
}

button {
    height: 30px;
    padding: 0 10px;
}

.strong {
    font-weight: bold;
}

.clipboard__wrapper {
    position: relative;
    margin: 0px 0 5px 0;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #CCCCCC;
}

.collection-config {
    padding: 5px 7px 7px 7px;
    font-size: 10px;
    background: #CCCCCC;
    color: #000000;
}

.collection-config.editable {
    background-color: #eee;
}

.trail_stats {
    position: absolute;
    right: 4px;
    height: 30px;
    font-size: 9px;
    line-height: 12px;
}

.pageviews {
    color: #999999;
    font-weight: bold;
    position: absolute;
    bottom: -14px;
}

.pageviews-graph canvas {
    max-width: 140px;
    float: right;
    position: absolute;
    bottom: -2px;
    right: 0;
}

.group-name {
    padding: 5px 0 0px 4px;
    font-size: 10px;
    line-height: 12px;
    color: #666666;
    text-transform: capitalize;
}

.search-form {
    position: relative;
    height: 35px;
    padding: 5px 0 0 4px;
}

.search-term {
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 35%;
    padding: 0 15px 0 0;
}

.search-term input {
    width: 100%;
}

.autocompleter {
    position: absolute;
    left: 37%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
}

.autocompleter select {
    width: 40%;
}

.autocompleter input {
    width: 55%;
}

.autocompleter .suggestions {
    position: absolute;
    z-index: 1;
}

.autocompleter .suggestion {
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    background: #ffffff;
    color: #666666;
    border-left: 1px solid #cccccc;
    padding: 0 10px;
}

.search-submit {
    position: absolute;
    right: 0;
    top: 2px;
    width: 40px;
}

.linky {
    cursor: pointer !important;
    color: #0088cc !important;
}

.linky:hover {
    color: #005580;
    text-decoration: underline;
}

.toolbar {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    position: absolute;
    left: 50%;
    width: 50%;
    min-width: 350px;
    padding: 10px 15px 10px 18px;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    margin-left: -1px;
    z-index: 1;
    background: #ffffff;
}

.toolbar > * {
    margin-bottom: 20px;
}

.tool-select {
    float: left;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    margin-right: 15px;
    width: 150px;
}

.tool {
    display: inline-block;
    padding: 0 10px;
    background: #CCCCCC;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 5px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
}

.tool:hover {
    text-decoration: none;
    color: #ffffff;
    background: #AAAAAA;
}

.tool-label {
    float: left;
    display: inline-block;
    padding: 5px 5px 0 2px;
    color: #999999;
}

.list-header .tools {
    margin: 0 0 2px 4px;
}

.tools .tool.draft-warning {
    font-weight: bold;
    margin-right: 4px;
}

.tools .tool:first-child {
    background: #0088cc;
}

.tools .tool:first-child:hover {
    background: #0077BB;
}

.logout,
.preview {
    float: right;
    margin-left: 10px;
}

.pref-draft {
    font-weight: bold;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pref-live {
    font-weight: bold;
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pref-draft.active {
    cursor: default;
    background: #0088cc;
}

.pref-live.active {
    cursor: default;
    background: #46c430;
}

.ophan-legend {
    position: absolute;
    right: 51%;
    top: 10px;
}

.supporting {
    margin: 4px -2px -4px -4px;
}

.supporting-message {
    position: absolute;
    bottom: 2px;
    z-index: 2;
    left: 4px;
    font-size: 11px;
    color: #FFFFFF;
}

.supporting-count {
    width: 125px;
    margin: 3px 0 -2px 0;
    font-size: 10px;
    line-height: 12px;
    color: #999999;
    cursor: pointer;
}

.supporting-count strong {
    font-size: 12px;
    font-weight: bold;
}

.trail .tools {
    position: absolute;
    bottom: 2px;
    right: 3px;
}

@media (max-width: 1100px) {
    .toolbar,
    .collections {
        left: 40%;
        width: 60%;
    }
    .finder {
        width: 40%;
    }
    .finder .trail .content {
        margin: 0 0 0 80px;
    }
    .finder .trail .trail_stats,
    .finder .trail .trail__meta {
        display: none;
    }
}

@media (max-width: 875px) {
    .is-authed .tool-title,
    .finder,
    .ophan-legend {
        display: none;
    }
    .toolbar {
        position: fixed;
        left: 0;
        width: 100%;
        height: 50px;
        padding: 10px 15px 10px 45px;
    }
    .collections {
        left: 0;
        width: 100%;
        padding-left: 10px;
    }
    .scrollable {
        overflow-y: inherit
    }
}

@media (max-width: 675px) {
    .toolbar .tool-label {
        display: none;
    }
}

@media (max-width: 525px) {
    .trail .content {
        margin: 0 0 0 80px;
    }
    .trail .trail_stats {
        display: none;
    }
}

@media (max-width: 350px) {
    .trail .content {
        margin: 5px 0 0 0;
    }
    .trail img,
    .trail .trail__meta {
        display: none;
    }
    .trail_tweaks {
        margin: 0;
    }
}
