body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    color: #000000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

p {
    margin: 0;
}

a, a:hover {
    color: #3279F1;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #376ABF;
}

.status {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    background: #999999;
    color: #FFFFFF;
    padding: 15px 40px 15px 40px;
    z-index: 2;
    text-align: center;
}

.status-warning {
    background: #FBCC43;
}

.status-danger {
    background: #DD4B39;
}

.status .icon-remove {
    position: absolute;
    right: 10px;
    top: 15px;
}

.scrollable {
    overflow-y: scroll;
}

.u-cf:before,
.u-cf:after{content:"";display:table}
.u-cf:after{clear:both}
.u-cf{zoom:1}

.logo {
    position: fixed;
    top: 8px;
    left: 15px;
    z-index: 3;
}

.tool-title {
    float: left;
    margin: 8px 10px 0 46px;
    font-size: 26px;
    line-height: 30px;
    color: #000;
    font-weight: normal;
}

.message {
    float: left;
    margin: 8px 10px 0 0;
    color: #dbd8c9;
    font-size: 26px;
    line-height: 30px;
    font-weight: normal;
}

.message--important {
    color: #DD4B39;
}

.message--loading {
    display: none;
}

.is-authed .message--loading {
    display: block;
}

.login-form {
    float: left;
    margin: 13px 10px 0 0;
}

.left-col {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 49px;
    width: 50%;
    padding: 10px 15px 0 12px;
    border-right: 1px solid #dbd8c9;
    border-top: 1px solid #dbd8c9;
}

.finder__controls {
    font-size: 10px;
    color: #666666;
    text-transform: uppercase;
    padding: 0 0 0 4px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    padding: 0 0 0 4px;
}

.count {
    color: #dbd8c9;
    font-weight: normal;
}

.count span {
    margin: 0 2px;
}

.count span.non-zero {
    color: #333333;
}

.droppable {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 25px 0;
    -webkit-transition: background-color 50ms;
    -moz-transition: background-color 50ms;
    transition: background-color 50ms;
}

.supporting .droppable {
    padding: 0 0 15px 0;
    border-top: 1px dashed #dddddd;
}

.droppable.underDrag {
    background-color: #FBCC43;
}

.open .droppable.underDrag {
    background-color: #999999;
}

.pending {
    pointer-events: none;
}

.updating {
    display: none;
    color: #46c430;
    position: absolute;
    top: 13px;
    right: 15px;
    z-index: 1;
    font-weight: bold;
}

.pending .updating {
    display: block;
}

.list-header {
    color: #999999;
    overflow: hidden;
    padding: 5px 0 1px 0;
    height: 23px;
}

.list-header.collapsed {
    opacity: 0.5;
}

.list-header__collapser {
    float: right;
    margin: 2px 6px 0 8px;
    opacity: 0.75;
}

.list-header__timings {
    float: right;
    font-weight: normal;
    font-size: 10px;
    color: #666666;
}

.list-header__timings.has-concurrent-user {
    color: #DD4B39;
}

.right-col {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50px;
    width: 50%;
    padding: 10px 15px 0 15px;
}

.right-col.live-mode {
    background: #EEFFEE;
}

.collections__inner {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 5px 0 0;
}

.collection {
    padding: 0 0 3px 0;
    border-bottom: 1px solid #dbd8c9;
}

.article {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 56px;
    overflow: hidden;
    padding: 0 2px 3px 4px;
    position: relative;
    background: #FFFFFF;
    border-top: 5px solid #FFFFFF;
    -webkit-transition: border-color 150ms;
       -moz-transition: border-color 150ms;
            transition: border-color 150ms;
}

.live-mode .article {
    border-color: #EEFFEE;
    background: #EEFFEE;
}

.article:hover,
.live-mode .article:hover {
    background-color: #f4f3e8;
}

.supporting .article {
    border-color: #dbd8c9;
    background: #dbd8c9;
}

.article.open {
    background: #dbd8c9 !important;
    min-height: 75px;
}

.article.underDrag {
    border-top-color: #FBCC43;
}

.open .article.underDrag {
    border-top-color: #999999;
}

.article:last-child {
    border-bottom: 0;
}

.article .thumb {
    float: left;
    width: 75px;
    height: 45px;
    margin: 3px 0 0 0;
    background-color: #f4f3e8;
    border-radius: 2px;
}

.article_content {
    margin: 1px 130px 0 85px;
    line-height: 0;
}

.article_content .icon-pencil {
    cursor: pointer;
    opacity: 0.5;
}

.headline {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    cursor: move;
    margin: 1px 0 0 0;
    text-decoration: none;
}

.headline:hover {
    color: #000000;
}

.is {
    color: #FBCC43;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.is--football {
    color: #65b045;
}

.is--breaking {
    color: #DD4B39;
}

.is-empty {
    font-size: 14px;
    line-height: 16px;
    color: #DD4B39;
}

.is-empty__url {
    display: block;
    font-size: 12px;
}

.secondary {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    height: 15px;
    line-height: 16px;
    padding-right: 50px;
    font-size: 12px;
    color: #999999;
}

.supporting .trailtext {
    display: none;
}

.article__time {
    position: absolute;
    right: 28px;
    top: 1px;
    font-size: 9px;
    line-height: 12px;
    color: #999;
}

.article__time__publication {
    color: #999;
}

.article__time__front {
    color: #e8bd39;
}

.article__overrides {
    position: relative;
    margin: 1px 0 0 80px;
    padding: 0 0 3px 0;
    color: #666666;
    font-size: 12px;
    line-height: 19px;
}

.article__overrides input {
    padding-right: 10px;
    background: #f4f3e8;
    width: 100%;
}

.article__overrides a {
}

.article__overrides .tools {
    float: right;
}

.article__overrides__fields {
    padding: 0 25px 0 0;
}

.misc__overrides {
    margin: 0 0 0 6px;
}

.misc__overrides .selected {
    color: #DD4B39;
    font-weight: bold;
}

.image__overrides {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    height: 34px;
    font-size: 12px;
    line-height: 14px;
    color: #666666;
    padding: 16px 0 0 4px;
}

.supporting .image__overrides {
    display: none;
}

.image__overrides a,
.image__overrides span {
    display: block;
    color: #FFFFFF;
    text-shadow: 0px 0px 2px #666666;
}

.image__overrides .selected {
    font-weight: bold;
}

.supporting-message {
    font-size: 10px;
    line-height: 6px;
    color: #999999;
    padding: 0 0 0 6px;
}

.supporting .tool--done,
.supporting .supporting-message,
.supporting .image__overrides,
.supporting .misc__overrides {
    display: none;
}

.revert {
    position: absolute;
    right: 5px;
    opacity: 0.5;
}

.revert:hover {
    opacity: 0.9;
}

.revert--headline {
    top: 2px;
}

.revert--trailtext {
    top: 30px;
}

select,
input[type="text"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 23px;
    padding: 1px 5px;
    margin: 1px 0 0 0;
    color: #000000;
    border-radius: 2px;
}

.radio-label {
    color: #666666;
    float: left;
    font-size: 12px;
    padding: 0 10px 0 2px;
}

textarea.trailtext {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 5px 0px 5px;
    min-height: 35px;
    margin: 0;
    color: #333333;
    background: #f4f3e8;
}

button {
    padding: 0 10px;
}

.strong {
    font-weight: bold;
}

.clipboard__wrapper {
    position: relative;
    margin: 0px 0 5px 0;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #dbd8c9;
}

.collection-overrides {
    margin: -6px 0 0 3px;
}

.article .spark {
    position: absolute;
    top: 13px;
    right: 28px;
}

.group-name {
    padding: 5px 0 0px 4px;
    font-size: 10px;
    line-height: 12px;
    color: #666666;
    text-transform: uppercase;
}

.search-form {
    position: relative;
    height: 35px;
    padding: 5px 0 0 4px;
}

.search-term {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    width: 35%;
    padding: 0 15px 0 0;
}

.search-term input {
    width: 100%;
}

.autocompleter {
    position: absolute;
    left: 37%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
}

.autocompleter select {
    width: 40%;
}

.autocompleter input {
    width: 55%;
}

.autocompleter .suggestions {
    position: absolute;
    z-index: 1;
}

.autocompleter .suggestion {
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    background: #ffffff;
    color: #666666;
    border-left: 1px solid #dbd8c9;
    padding: 0 10px;
}

.search-submit {
    position: absolute;
    right: 0;
    top: 2px;
    width: 40px;
}

.linky {
    cursor: pointer !important;
    color: #3279F1 !important;
}

.linky:hover {
    color: #005580;
}

.toolbar {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    position: absolute;
    left: 50%;
    width: 50%;
    min-width: 350px;
    padding: 10px 15px 10px 18px;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #dbd8c9;
    border-left: 1px solid #dbd8c9;
    margin-left: -1px;
    z-index: 1;
    background: #ffffff;
}

.toolbar > * {
    margin-bottom: 20px;
}

.toolbar .spark {
    display: inline-block;
    margin: -2px 15px 0 0;
    float: left;
    width: 100px;
}

.toolbar .tool,
.article__overrides .tool,
.collection-overrides .tool {
    margin-top: 5px;
}

.tool-select {
    float: left;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    margin: 4px 15px 0 0;
    width: 150px;
}

.tool {
    display: inline-block;
    padding: 0 10px;
    background: #dbd8c9;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}

.tool--rhs {
    float: right;
    margin: 0 10px 0 0;
}

.tool:hover {
    text-decoration: none;
    color: #ffffff;
    background: #AAAAAA;
}

.tool-label {
    float: left;
    display: inline-block;
    padding: 5px 5px 0 2px;
    color: #999999;
}

.collection .tools {
    margin: 0 0 2px 4px;
}

.tool.draft-warning {
    font-weight: bold;
    margin-right: 4px;
}

.tools .tool:first-child {
    background: #3279F1;
}

.tools .tool:first-child:hover {
    background: #376ABF;
}

.log-in-out {
    margin: 19px 0 0 0px;
    font-size: 10px;
    text-transform: uppercase;
    float: left;
}

.tool--small {
    background: inherit;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 4px;
    margin: 0 1px 0 3px;
}

.tool--small i {
    margin: 0;
}

.article > .closed .tool--small {
    display: none;
    position: absolute;
    right: 2px;
    background: #dddddd;
}

.article > .closed .tool--small--href {
    top: 4px;
}

.article > .closed .tool--small--remove {
    top: 27px;
}

.article:hover > .closed .tool--small {
    display: block;
    opacity: 0.8;
}

.article > .closed .tool--small:hover {
    opacity: 1;
}

.latest-articles .tool--small--remove {
    display: none !important;
}

.preview {
    margin-left: 10px;
}

.pref-draft {
    font-weight: bold;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pref-live {
    font-weight: bold;
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pref-draft.active {
    cursor: default;
    background: #3279F1;
}

.pref-live.active {
    cursor: default;
    background: #46c430;
}

.supporting {
    margin: 0 -2px -4px -4px;
}

.instructions {
    font-size: 12px;
    color: #999999;
}

/*****************************************/
/* CONFIG EDITOR */
/*****************************************/

.cnf-fronts {
    margin-top: 10px;
    padding: 0 15px 0 0;
}

.cnf-front {
    padding-top: 2px;
}

.cnf-front.open {
    background: #f4f3e8;
    padding-bottom: 5px;
    margin: 0 0 10px 0;
}

.cnf-front .title {
    cursor: pointer;
    height: 24px;
    font-weight: normal;
}

.cnf-front.open .title {
    font-weight: bold;
}

.cnf-front__inner {
    padding: 0 10px 0 10px;
}

.cnf-collections {
    margin: 10px 0 0 0;
}

.cnf-collection {
    position: relative;
    padding: 1px 0 1px 5px;
}

.cnf-front .cnf-collection {
    border-top: 3px solid #f4f3e8;
}

.cnf-front .cnf-collection:nth-child(odd) {
    background: #ffffff;
}

.cnf-front .cnf-collection:nth-child(even) {
    background: #f4f3e8;
}

.cnf-collection.open {
    padding-bottom: 5px;
}

.cnf-collection.underDrag {
    border-top-color: #FBCC43;
}

.cnf-collection__index {
    color: #dbd8c9;
    display: inline-block;
    width: 15px;
}

.cnf-collection__name {
    color: #000000;
}

.cnf-collection__also-on {
    font-weight: bold;
}

.cnf-collection .placements {
    color: #999999;
}

.is-parent {
    display: none;
}

.cnf-front .cnf-collection .placements.is-single {
    display: none;
}

.cnf-collection .placements a {
    color: #999999;
    border-left: 1px solid #dbd8c9;
    padding-left: 5px;
}

.cnf-collection .placements a:first-child {
    border-left: inherit;
    padding-left: inherit;
}

.left-col .also {
    display: none;
}

.cnf-collection .cnf-form {
    margin-left: 20px;
}

.cnf-form label {
    font-size: 12px;
    color: #666666;
    width: 85px;
    float: left;
    clear: left;
    margin: 1px 0 0 0;
}

.cnf-form input,
.cnf-form textarea,
.cnf-form select{
    float: left;
    clear: right;
    color: #000000;
}

.cnf-form input[type="text"],
.cnf-form textarea,
.cnf-form select{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 14px;
    width: 300px;
    margin: 0 0 2px 0;
}

.cnf-form .tools {
    padding: 10px 0;
    clear: left;
}

.cnf-form .api-query-status {
    float: left;
    display: inline-block;
    margin: 2px 0 0 5px;
    color: #999999;
}

.cnf-form .api-query-status--valid {
    color: #46c430;
}

.cnf-form .api-query-status--invalid {
    color: #d61d00;
}

.cnf-form .api-query-results {
    clear: both;
    margin: 0 10px 0 91px;
    font-size: 12px;
    line-height: 16px;
    color: #666666;
    height: 64px;
    overflow-y: auto;
}

.cnf-form .api-query-result {
    height: 15px;
    overflow: hidden;
    display: block;
}

/*****************************************/
/* MEDIA QUERIES */
/*****************************************/


@media (max-width: 1100px) {
    .toolbar,
    .right-col {
        left: 40%;
        width: 60%;
    }
    .left-col {
        width: 40%;
    }
    .left-col .article .article_content {
        margin-right: 40px;
    }
    .left-col .article .spark {
        display: none;
    }
    .left-col .article__time {
        top: 2px;
        right: 3px;
    }
}

@media (max-width: 875px) {
    .is-authed .tool-title,
    .left-col {
        display: none;
    }
    .toolbar {
        position: fixed;
        left: 0;
        width: 100%;
        height: 50px;
        padding: 10px 15px 10px 45px;
    }
    .right-col {
        left: 0;
        width: 100%;
        padding: 10px 0 0 10px;
    }
    .scrollable {
        overflow-y: inherit
    }
}

@media (max-width: 675px) {
    .toolbar .tool-label {
        display: none;
    }
}

@media (max-width: 525px) {
    .article .article_content {
        margin-right: 25px;
    }
    .article > .closed .tool--remove {
        top: 0;
    }
    .toolbar .spark,
    .article .spark {
        display: none;
    }
    .article__time {
        position: inherit;
        right: 0;
        top: 2px;
    }
}

@media (max-width: 350px) {
    .article .article_content {
        margin-left: 0;
    }
    .article .thumb,
    .image__overrides {
        display: none;
    }
    .article__overrides {
        margin: 0;
    }
}
