.container--features {
    .ad-slot--inline {
        @include rem((
            margin-top: $gs-baseline,
            margin-bottom: $gs-baseline/2
        ));
    }
    .facia-slice-wrapper--position-1 {
        .item__title {
            @include fs-headline(2, true);
            @include box-sizing(border-box);
            @include rem((
                padding-bottom: $gs-baseline,
                min-height: 86px
            ));
        }
        @include mq($to: tablet) {
            .facia-slice__item {
                border-bottom: 1px solid #ffffff;
            }

            .facia-slice__item + .facia-slice__item {
                border-bottom: 0;

                .item__title {
                    @include fs-headline(1, true);
                }
            }
            .item--has-image .item__media-wrapper,
            .item--has-image .item__image-container {
                display: block;
            }
        }
    }
}


/* Remove spacing between items */
.facia-slice-wrapper--spacing-thin {
    margin-left: 0;
    margin-right: 0;

    .item {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 1px;
    }
    .facia-slice__item {
        margin-bottom: 0;
        padding-bottom: 0;

        &:after {
            content: '';
            position: absolute;
            right: 100%;
            top: 0;
            height: 100%;
            width: 1px;
            background: #ffffff;
            z-index: 1;
        }
    }
}

/* Items in this row have a background */
.l-row--background-features {
    .item {
        @include rem((
            padding-left: 7px,
            padding-right: 7px
        ));
    }
    .item__media-wrapper {
        @include rem((
            margin-left: -7px,
            margin-right: -7px
        ));
    }
    .item__byline,
    .item__meta {
        display: none;
    }
    .item--has-no-image {
        .item__title {
            @include rem((
                padding-top: 3px
            ));
        }
    }
    .facia-slice__item {
        background-color: $c-featuresVariant;

        + .facia-slice__item {
            &:before {
                border-left-width: 0;
            }
        }
    }
    .item__link,
    .item__title,
    .item__standfirst {
        color: #ffffff;
    }
    .item__standfirst {
        color: rgba(#ffffff, .8);
    }
    .item__link:visited,
    .item__link:visited .item__title {
        color: mix(#ffffff, $c-featuresVariant, 80%);
    }
    @include item--hide-tone-border;
    .item__title {
        background-color: $c-featuresVariant;
    }
    .item__link:hover,
    .item__link:focus {
        .item__title {
            // Restore lost underline because of the absolute positioning
            text-decoration: underline;
        }
    }
    .item__link:active .item__title {
        text-decoration: none;
    }
}

.facia-container--layout-article {
    .container--features {
        .facia-slice-wrapper--position-2,
        .linkslist-container {
            display: none;
        }
    }
}
