.container--featuresauto {
    .linkslist-container {
        @include mq($until: desktop) {
            margin-top: 0;
        }
    }
    .ad-slot--inline {
        margin-top: $gs-baseline;
        margin-bottom: $gs-baseline/2;
    }
    .container__banding:first-child .saucisson {
        border-top-width: 0;
    }
}

.facia-slice__item--floated-m {
    @include mq($until: tablet) {
        .item__media-wrapper {
            float: left;
            @include box-sizing(border-box);
            width: 50%;
            padding-right: $gs-gutter/2;
        }
    }
}

.item__media-wrapper--video {
    // so that it appears above the fake overlay link, and the user is able to play the video without opening the
    // article
    z-index: 1;
}
