.facia-snap--football {
    .table,
    .table__caption,
    caption {
        border-top: 0 none;
    }
}

// Matches
.facia-snap--football {
    .football-team__form {
        display: none;
    }

    &.facia-snap--tiny {
        padding-left: 0 !important;
    }
}

.facia-snap--mini {
    .table--football {
        @include table-football--mini;
    }

    .football-matches {
        @include football-match--mini;
    }
}

.facia-snap--small {
    .table--football {
        @include table-football--small;
    }
}

.facia-snap--medium {
    .table--football {
        @include table-football--medium;
    }
}

.facia-snap--large {}
.facia-snap--full {}
