.facia-snap--football {
    .table,
    .table__caption,
    caption {
        border-top: 0 none;
    }
}

/* Matches */
.facia-snap--football {
    .football-team__form {
        display: none;
    }

    &.facia-snap--tiny {
        padding-left: 0 !important;
    }
}

.facia-snap--tiny {
    .football-matches {
        @include football-match--tiny;
    }
}

.facia-snap--small {
    .football-matches {}
}

.facia-snap--medium {
    .football-matches {}
}

.facia-snap--large {
    .football-matches {}
}
.facia-snap--full {
    .football-matches {}
}
