.container--headline {
    @include guss-columns(
        $base-class: '.headline-list',
        $css3-columns-support: false,
        $columns-fallback-width: (
            desktop: gs-span(12)
        ),
        $columns-fallback-columns: (
            desktop: 4
        )
    );

    .headline-list {
        @include mq(desktop) {
            float: left;
            @include rem((
                margin-top: $gs-baseline/3
            ));
        }
    }
    .headline-list__item {
        @include fs-headline(2);
        @include box-sizing(border-box);
        float: none;

        @include mq(desktop) {
            float: left;
        }
    }
    .headline-list--standard {
        .headline-list__item {
            @include rem((
                padding-bottom: $gs-baseline
            ));
            border-top: 0 none;

            &:nth-child(-n+4) {
                padding-top: 0;
            }

            &:nth-child(n+5) {
                border-top: 1px solid $c-neutral6;
            }
        }
    }
    .headline-list--big {
        .headline-list__item {
            border-top: 2px solid $c-newsAccent;
            padding-bottom: 0;

            @include mq(desktop) {
                border-top: 0 none;
                padding-top: 0;
            }
        }

        .headline-item__title {
            @include rem((
                margin-top: -$gs-baseline/3
            ));

            @include mq(desktop) {
                @include fs-headline(4, true);
            }
        }

        .item__media-wrapper,
        .item__image-container {
            display: block;
        }

        .item__image-container {
            @include box-sizing(border-box);
            @include rem((
                margin-right: $gs-gutter/2
            ));
            float: left;
            margin-top: 0;
            width: 50%;

            .responsive-img {
                width: 100%;
            }

            @include mq(desktop) {
                float: none;
                margin-top: 0;
                width: 100%;
            }
        }
    }

    .headline-list--big + .headline-list--standard {
        .headline-list__item {
            @include rem((
                min-height: $gs-baseline*5
            ));
        }
    }

    @for $i from 1 through 3 {
        $inverse-i: 4 - $i;
        .headline-list--#{$i}-big {
            @include mq(desktop) {
                @include rem((
                    width: gs-span($i*3)+($gs-gutter*2)
                ));
            }
        }
        .headline-list--#{$i}-big + .headline-list--standard {
            @include mq(desktop) {
                @include rem((
                    width: gs-span(3*$inverse-i)+$gs-gutter
                ));

                .headline-list__item {
                    clear: none;
                    border-top: 0 none;
                    padding-top: 0;

                    &:nth-child(#{$inverse-i}n+1) {
                        clear: both;
                    }

                    &:nth-child(n+#{$inverse-i+1}) {
                        border-top: 1px solid $c-neutral6;
                    }

                    &:nth-child(-n+#{$inverse-i}) {
                        padding-top: 0;
                    }
                }
            }
        }
    }

    .headline-item__body {
        color: $c-neutral1;
    }
}
