.slice--has-ad {
    &:before {
        display: none;
    }
    @include mq(tablet) {
        min-height: 250 + $mpu-ad-label-height;
    }
    .linkslist {
        @include mq(tablet) {
            width: gs-span(5);
        }
        @include mq(desktop) {
            width: gs-span(8) + $gs-gutter;

            &__item {
                width: gs-span(4);

                &:nth-child(n) {
                    clear: none;
                }
                &:nth-child(2n+1) {
                    clear: both;
                }
            }
        }
    }
}
