.container--rolled-up .container--rolled-up-hide {
    display: none;
}

.container--row-pattern {
    .item {
        display: block;
        margin-top: 0;
        position: static; // Children should be relative to the row__item
        padding-bottom: 0;
        @include clearfix;

        @include rem((
            margin-bottom: $gs-baseline/2
        ));

        &:before {
            // Remove inter-item separator
            // (restored on collection__item)
            display: none;
        }
        // Restore top tone border on first item of each row
        &:first-child .item__link {
            border-top-style: solid;
        }
    }
    .item__media-wrapper,
    .item__image-container {
        display: none;
    }
    .item__media-wrapper {
        position: relative;
    }
    .item--has-image {
        .item__media-wrapper,
        .item__image-container {
            display: block;

            .js-off & {
                display: none !important;
            }
        }
    }
    .collection {
        margin-left: auto;
        margin-right: auto;

        @include mq(tablet) {
            overflow: visible; // Prevents height issue in Firefox < 22
        }
    }
    .collection-wrapper {
        @include rem((
            margin-left: $gs-gutter/2 * -1,
            margin-right: $gs-gutter/2 * -1
        ));

        + .collection-wrapper {
            @include rem((
                margin-top: ($gs-baseline/3)*2
            ));
        }
    }
    .collection__item {
        position: relative; // Replace .item as a relative context

        @include rem((
            padding-bottom: 20px,
            margin-bottom: $gs-baseline
        ));

        &.collection__item--content-type-gallery,
        &.collection__item--content-type-video {
            padding-bottom: 0;
        }
        & + .collection__item {
            @include vertical-item-separator; // Restore inter-item separator
        }
    }
    .item__title {
        @include fs-headline(1, true);
    }
    .l-row--items-4 {
        .item__byline {
            @include fs-headline(1, true);
        }
        .item__standfirst,
        .item__media-wrapper,
        .item__image-container {
            display: none;
        }
        .item--imageadjust-highlight {
            .item__media-wrapper,
            .item__image-container {
                display: block;
            }
        }
        @include mq(tablet) {
            .item--has-image .item__media-wrapper,
            .item--has-image .item__image-container,
            .item--has-no-image .item__standfirst {
                display: block;
            }
        }
        .item--has-no-image {
            .item__title {
                @include mq(desktop) {
                    @include fs-headline(2, true);
                }
            }
        }
    }
}
.container--news {
    .container__border {
        display: none;

        @include mq(faciaLeftCol) {
            display: block;
        }
    }
    .collection-wrapper:first-child .fromage {
        border-top-width: 0;

        @include mq(tablet, faciaLeftCol) {
            border-top-width: 2px;
        }
    }
    .container__title {
        display: none;
        color: $c-neutral1;
        margin-bottom: 0;
    }
    .l-row--items-2 {
        .item__title {
            @include rem((
                margin-bottom: 14px
            ));
            @include mq(tablet) {
                @include fs-headline(3, true);
            }
        }
        @include mq(mobile, tablet) {
            display: -webkit-flex;
            display: flex;

            .collection__item {
                flex-basis: 50%;
                -webkit-flex-basis: 50%;
            }
        }
        @include mq(tablet) {
            .collection__item {
                @include rem((
                    margin-bottom: $gs-baseline*2
                ));
            }
        }
        @include mq(desktop) {
            .collection__item {
                padding-bottom: 0;
            }
            .item {
                margin-bottom: 0;
            }
        }
    }
    .l-row--items-2 {
        .item__standfirst {
            display: block;
        }
        .item--imageadjust-highlight {
            padding-bottom: 0;

            .item__standfirst {
                display: none;
            }
            .item__meta {
                position: static;
                @include rem((
                    margin-top: $gs-baseline
                ));
            }
        }
    }
    @include mq(tablet) {
        .item--sport-stats {
            display: none;
        }
    }
}

.item--thumbnail {
    .item__standfirst {
        display: block;

        @include rem((
            margin-top: 2px
        ));
    }
    .item__media-wrapper {
        float: left;
        clear: both;

        @include rem((
            margin-right: $gs-gutter/2
        ));
    }
    .l-row--items-2 & {
        .item__standfirst {
            display: none;

            @include mq(tablet) {
                display: block;
            }
        }
        @include mq(mobile, tablet) {
            .item__link {
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: column;
                flex-direction: column;
            }
            .item__media-wrapper {
                -webkit-order: -1;
                order: -1;
                margin-right: 0;
            }
        }
        .item__media-wrapper {
            @include mq(tablet) {
                @include rem((
                    width: 122px,
                    margin-right: $gs-gutter/2
                ));
            }
            @include mq(desktop) {
                @include rem((
                    width: gs-span(3),
                    margin-right: $gs-gutter
                ));
            }
        }
        @include mq(desktop) {
            padding-bottom: 0;

            .item__meta {
                position: static;
                @include rem((
                    margin-top: $gs-baseline,
                    margin-bottom: $gs-baseline
                ));
            }
        }
    }
}
.linkslist-container {
    position: relative;
    padding-top: 1px;
    @include mq(tablet) {
        @include rem((
            margin-top: $gs-baseline
        ));
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        width: 100%;
        background: $c-newsAccent;
    }

    &.tone-feature:before {
        background: $c-featureAccent;
    }
    &.tone-comment:before {
        background: $c-commentAccent;
    }

    &.show-more--hidden {
        &,
        &:before {
            display: none;
        }
    }
}

.today {
    color: $c-neutral1;
    font-weight: normal;
}
.today__dayofweek {
    color: $c-newsDefault;
}
@include mq(wide) {
    .today__sub {
        display: block;
    }
}


/**
 * Ads in containers / row patterns
 */

.container {
    .ad-slot {
        padding: 0;
        margin: 0 auto;
    }
}
@include mq(tablet) {
    .l-row__item--mpu-300 {
        min-width: gs-span(4) + $gs-gutter;
        max-width: gs-span(4) + $gs-gutter;
    }
}
