.container--news {
    @include mq($to: tablet) {
        @include first-row(1);
        .item:first-child {
            @include card-mobile($with-image: true);
        }
        .collection--without-sport-stats {
            .item:nth-child(n+2):nth-child(-n+5) {
                @include card-half-width;
            }
            .item:nth-child(2),
            .item:nth-child(3){
                @include card-half-width-image;
            }
            .item:nth-child(n+6) {
                @include card-headline;
            }
            .item:nth-child(n+7) {
                .item__link {
                    border-top: 1px dotted $c-neutral5;
                }
            }
            .item:nth-child(2),
            .item:nth-child(4) {
                @include row-start;
            }
        }
        .collection--with-sport-stats {
            .item:nth-child(n+3):nth-child(-n+6) {
                @include card-half-width;
            }
            .item:nth-child(3),
            .item:nth-child(4){
                @include card-half-width-image;
            }
            .item:nth-child(n+7) {
                @include card-headline;
            }
            .item:nth-child(n+8) {
                .item__link {
                    border-top: 1px dotted $c-neutral5;
                }
            }
            .item:nth-child(3),
            .item:nth-child(5) {
                @include row-start;
            }
        }
    }
    @include mq(tablet) {
        .item:first-child {
            @include card-double-width;
        }
        &:nth-of-type(even) .item:first-child {
            float: right;
            @include first-row(2);
            @include item-separator-vertical(right, $force: true);
        }
        .item:nth-child(n+2) {
            @include card;
        }
    }
    @include mq(tablet, desktop) {
        @include first-row(2);
        .collection--without-sport-stats {
            .item:nth-child(2),
            .item:nth-child(n+4):nth-child(-n+6) {
                @include card-image;
            }
        }
        .collection--with-sport-stats {
            .item:nth-child(n+3):nth-child(-n+5) {
                @include card-image;
            }
        }
        &:nth-of-type(odd) {
            .collection--without-sport-stats {
                .item:nth-child(3n+1) {
                    @include row-start;
                }
            }
            .collection--with-sport-stats {
                .item:nth-child(3n+3) {
                    @include row-start;
                }
            }
        }
        &:nth-of-type(even) {
            .collection--without-sport-stats {
                .item:nth-child(2),
                .item:nth-child(3),
                .item:nth-child(3n+1) {
                    @include row-start;
                }
            }
            .collection--with-sport-stats {
                .item:nth-child(2),
                .item:nth-child(3n+3) {
                    @include row-start;
                }
            }
        }
    }
    @include mq(desktop) {
        @include first-row(3);
        .collection--without-sport-stats {
            .item:nth-child(2),
            .item:nth-child(3) {
                @include card-image;
            }
        }
        .collection--with-sport-stats {
            .item:nth-child(3) {
                @include card-image;
            }
        }
        &:nth-of-type(odd) {
            .collection--without-sport-stats {
                .item:nth-child(4n+6) {
                    @include row-start;
                }
            }
            .collection--with-sport-stats {
                .item:nth-child(4n+5) {
                    @include row-start;
                }
            }
        }
        &:nth-of-type(even) {
            .collection--without-sport-stats {
                .item:nth-child(2),
                .item:nth-child(4),
                .item:nth-child(4n+6) {
                    @include row-start;
                }
            }
            .collection--with-sport-stats {
                .item:nth-child(2),
                .item:nth-child(4n+5) {
                    @include row-start;
                }
            }
        }
    }

    .item--sport-stats {
        padding-bottom: 0 !important;
        @include mq($to: tablet) {
            width: 100% !important;
            padding-left: 0 !important;
            border-left-style: none !important;
        }
        .competition-table {
            padding-top: 0;
            border-style: none;
            border-top: 2px solid $c-newsAccent;
        }
        .match-desc__result {
            width: 20%;
        }
        .cta-small {
            padding-bottom: 0;
        }
    }
    .item--sport-table {
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
        border-left-style: none;
    }
    .front-competition-table {
        border-style: none;
    }
    @include mq(tablet) {
        .item--sport-stats-tall {
            float: left;
            min-height: gs-height(9) !important;
        }
    }
}
