.container--picks {}
.pick-items {}
.pick-item {
    @include box-sizing(border-box);

    .item {
        padding: 0;
    }
    .item__link {
        @include clearfix;
    }
    .item__image-container {
        margin-top: 0;
    }
    .item__title {
        @include fs-headline(2);
        @include rem((
            padding-top: $gs-baseline/3
        ));
        color: #ffffff;

        .i {
            display: none;
        }

        @include mq(desktop) {
            @include fs-headline(3, true);
        }
    }
    .item__byline {
        display: none;
    }
    .item__link {
        &,
        &:hover,
        &:active {
            color: #ffffff;

            .item__title {
                color: #ffffff;
            }
        }
        &:visited {
            color: $c-neutral8;
        }
    }
    .item__meta {
        display: none;
    }
    .tone-accent-border {
        border: 0;
    }
}
.pick-item--big {
    .item__header {
        @include box-sizing(border-box);
        @include rem((
            padding-left: $gs-gutter,
            padding-right: $gs-gutter,
            padding-bottom: $gs-baseline*3
        ));
    }

    @include mq(tablet) {
        @include box-sizing(border-box);
        @include rem((
            padding-left: $gs-gutter/2
        ));
        float: right;
        position: relative;
        width: 50%;
        width: calc(50% - 1px);

        @if not $old-ie {
            border-left: 1px solid $c-neutral5;
            left: -1px;
        }

        .item__header {
            @include rem((
                padding-left: $gs-gutter/2,
                padding-bottom: ($gs-baseline*4) - 2
            ));
        }
    }
}
.picked-items__standard {
    @include mq(tablet) {
        @include box-sizing(border-box);
        @include rem((
            padding-right: $gs-gutter/2
        ));
        float: left;
        width: 50%;
        width: calc(50% + 1px);

        @if not $old-ie {
            border-right: 1px solid $c-neutral5;
        }
    }
}
.pick-item--standard {
    .item__media-wrapper {
        @include rem((
            width: gs-span(2)
        ));
        float: left;
    }

    .item__header {
        @include rem((
            padding-left: gs-span(2)
        ));
    }
    .item__title {
        @include rem((
            padding-left: $gs-gutter/2,
            padding-right: $gs-gutter/2
        ));
    }
}
