.related {
    position: relative;

    @include mq(rightCol) {

        .item {
            &:first-child {
                &:before {
                    border-left: none;
                }
            }

            &:last-child {
                display: none;
            }
        }

        &.more-on-this-story {
            .item:first-child {
                display: none;
            }

            .item:last-child {
                display: block;
            }
        }
    }
}

.related__header {
    @include mq(leftCol) {
        position: absolute;
        top: 0;
        left: 0;
        width: $a-leftCol-width;
        padding-right: $gs-gutter;
    }

    @include mq(wide) {
        width: $a-leftColWide-width;
    }
}

.related__container {
    margin-bottom: $gs-baseline*2;

    @include mq(rightCol) {
        margin-left: - $gs-gutter/2;
    }

    @include mq(leftCol) {
        margin-left: $a-leftCol-width + $gs-gutter/2;
        margin-right: - $gs-gutter/2;
    }

    @include mq(wide) {
        margin-left: $a-leftColWide-width + $gs-gutter/2;
        width:  gs-span(12) + $gs-gutter*1;
    }

    .item {
        float: left;
        position: relative;
        width: 50%;
        min-height: gs-height(5);
        padding-bottom: 0;
        margin-top: $gs-baseline*2;
        margin-bottom: $gs-baseline;


        @include mq(mobileLandscape) {
            min-height: gs-height(6);
        }

        @include mq($to: rightCol) {

            &:nth-child(odd) {
                padding-right: 0;
            }

            &:first-child,
            &:nth-child(even) {
                clear: left;
                padding-left: 0;

                &:before {
                    border-left: none;
                }
            }

            &:first-child {
                width: 100%;
                margin-top: 0;
                padding-right: 0;

                .item__image-container { margin: 0; }

                .item__title {
                    min-height: 0;
                    padding-bottom: $gs-baseline*3;
                    @include fs-headline(3, true);
                }

                .item__meta {
                    padding-right: 0;
                }
            }
        }

        @include mq(tablet, rightCol) {
            min-height: gs-height(7) - $gs-baseline;

            &:first-child {
                margin-bottom: 20px;

                .item__title {
                    min-height: 0;
                    padding-bottom: $gs-row-height;
                }
            }
        }

        @include mq(rightCol) {
            width: 25%;
            clear: none;
            min-height: gs-height(5);

            &:nth-child(2) {
                &:before {
                    border-left: none;
                }
            }
        }

        @include mq(leftCol) {
            margin-top: 0;
        }

    }

    .item--dark {

        @include mq(tablet, rightCol) {
            &:first-child {
                .item__title {
                    padding-left: $gs-gutter*0.4;
                    padding-right: $gs-gutter*0.4;
                }
            }
        }

        .item__meta {
            border-bottom: none;
        }
    }

    .item__title {
        margin-top: 0;
        padding-top: 6px; //Magic
        padding-bottom: $gs-baseline;
        min-height: $gs-row-height*3 - $gs-baseline; //96px
        @include fs-headline(1, true);
        @include box-sizing(border-box);

        @include mq(mobileLandscape) {
            @include fs-headline(2, true);
        }

        @include mq(tablet) {
            min-height: $gs-row-height*4 - $baseline*2; //136px
            @include fs-headline(2, true);
        }

        @include mq(rightCol) {
            min-height: $gs-row-height*3 - $gs-baseline; //96px
            @include fs-headline(1, true);
        }
    }

    .item--has-no-image {

        .item__title {
            padding-top: 0;
            @include fs-headline(2, true);

            @include mq(tablet) {
                @include fs-headline(3, true);
            }
        }

        &.item--dark {
            .item__link {
                background-color: $c-neutral1;
            }
        }
    }

    .item__meta {
        width: 100%;
        padding-left: 0;
        padding-right: $gs-gutter/2;;
        margin-bottom: - $gs-baseline*2;
        @include box-sizing(border-box);

        @include mq(rightCol) {
            padding-right: $gs-gutter;
        }
    }

    .item__timestamp {
        width: 100%;
        padding-bottom: $gs-baseline;
        padding-left: 21px;
        border-bottom: 1px solid $c-neutral5;
        @include box-sizing(border-box);

        i { left: 7px }
    }

    .item__media-wrapper {
        position: relative;    
    }
    
    .item__image-container {
        margin-top: 0;
        display: block;
    }

    .item__link {
        border-top: none;
    }

    .i-quote-light-grey,
    .item__byline {
        display:none;
    }

    .item__timestamp {
        padding-right: 0;
    }

    .gallerythumbs { margin: 0; }
}