.container--tag {
    .container__title {
        display: block;

        @include mq(tablet) {
            margin-bottom: $gs-baseline;
        }
    }
    @include mq(faciaLeftCol, wide) {
        .container__body {
            margin-left: 160px !important;
        }
    }
}
