.container--top-stories {
    // Cap new collections to a width of 12 columns
    @include mq(gs-span(7) + $gs-gutter*3, tablet) {
        @include rem((width: gs-span(7)));
        margin: 0 auto;
    }
    @include mq(wide) {
        @include rem((width: gs-span(12)));
        margin: 0 auto;
    }
    .item {
        display: block;
        margin-top: 0;
        position: static; // Children should be relative to the row__item
        padding-bottom: 0;
        @include clearfix;

        @include rem((
            margin-bottom: $gs-baseline/2
        ));

        &:before {
            // Remove inter-item separator
            // (restored on collection__item)
            display: none;
        }
        // Restore top tone border on first item of each row
        &:first-child .item__link {
            border-top-style: solid;
        }
    }
    .item__media-wrapper {
        display: none;
    }
    .item--has-image {
        .item__media-wrapper,
        .item__image-container {
            display: block;
        }
    }
    .collection {
        margin-left: auto;
        margin-right: auto;

        @include mq(tablet) {
            overflow: visible; // Prevents height issue in Firefox < 22
        }
    }
    .collection-wrapper {
        @include rem((
            margin-left: $gs-gutter/2 * -1,
            margin-right: $gs-gutter/2 * -1
        ));
    }
    .collection__item {
        position: relative; // Replace .item as a relative context

        @include rem((
            padding-bottom: 20px,
            margin-bottom: $gs-baseline
        ));

        & + .collection__item {
            @include vertical-item-separator; // Restore inter-item separator
        }
    }

    .l-row--items-2 {
        .item__title {
            @include fs-headline(3, true);
            @include rem((
                margin-bottom: 14px
            ));
        }
    }
    .l-row--items-2,
    .l-row--items-3 {
        .item__standfirst {
            display: block;
        }
    }
    .l-row--items-4 {
        .item__standfirst,
        .item__media-wrapper {
            display: none;
        }
        .item--imageadjust-highlight {
            .item__media-wrapper {
                display: block;
            }
        }
        @include mq(tablet) {
            .item--has-image .item__media-wrapper,
            .item--has-no-image .item__standfirst {
                display: block;
            }
        }
        @include mq(tablet, desktop) {
            .item--has-image .item__title {
                @include fs-headline(1, true);
            }
        }
    }
}

.item--thumbnail {
    .item__standfirst {
        display: block;

        @include rem((
            margin-top: 2px
        ));
    }
    .item__media-wrapper {
        float: left;
        clear: both;

        @include rem((
            margin-right: $gs-gutter/2
        ));
    }
    .l-row--items-2 & {
        .item__media-wrapper {
            @include rem((
                width: 88px
            ));
            @include mq(tablet) {
                @include rem((
                    width: 122px
                ));
            }
            @include mq(desktop) {
                @include rem((
                    width: gs-span(3),
                    margin-right: $gs-gutter
                ));
            }
        }
        @include mq(desktop) {
            padding-bottom: 0;

            .item__meta {
                position: static;
                @include rem((
                    margin-top: $gs-baseline
                ));
            }
        }
    }
    .l-row--items-3 & {
        .item__media-wrapper {
            @include rem((
                width: 88px
            ));

            @include mq(desktop) {
                @include rem((
                    width: 122px
                ));
            }
        }
    }
}
.linkslist-container {
    position: relative;
    padding-top: 1px;
    @include mq(tablet) {
        @include rem((
            margin-top: $gs-baseline
        ));
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        width: 100%;
        background: $c-newsAccent;
    }
}
