.tone-podcast {
    @extend %tone-background;

    &.fc-item {
        background-color: $c-podcastBackground;

        &,
        & a {
            color: $c-podcastAccent2;
        }
    }

    .fc-item__title {
        &,
        & a {
            color: $c-neutral1;
        }

        a.fc-item__kicker {
            color: $c-podcastAccent;
        }
    }
}
