.identity-ad-prefs-area {

    .u-underline {
        color: $brightness-7;
    }

    .gs-container {
        padding-bottom: $gs-baseline * 3;
    }
    &:not(:last-child) {
        .gs-container {
            border-bottom: 1px solid $brightness-86;
        }
    }

    .identity-ad-prefs-area__section {
        @include fs-textSans(3);

        max-width: gs-span(11);
        margin: 0 $gs-gutter / 2;
        padding-top: $gs-baseline/2;

        @include mq(leftCol) {
            padding-left: gs-span(2) + $gs-gutter;
        }
        @include mq(wide) {
            padding-left: gs-span(3) + $gs-gutter;
        }

        @include mq(mobileLandscape) {
            margin: 0 $gs-gutter;
        }

        .identity-ad-prefs-manager {
            max-width: gs-span(8);
        }

        &.identity-ad-prefs-area__section--help {
            margin-top: $gs-baseline;
            opacity: .75;
        }

    }

    .identity-title--small {
        margin-bottom: $gs-baseline / 2;
        &:not(:first-child) {
            margin-top: $gs-baseline * 2;
        }
    }

}

.identity-ad-prefs-manager {
    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }
}

.identity-ad-prefs-manager__footer {
    margin-top: $gs-baseline;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    @include mq(mobileLandscape) {
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }

    /*the page auto scrolls to
    put the button in the viewport,
    this lets it breathe a bit*/
    margin-bottom: $gs-gutter / 2 * -1;
    padding-bottom: $gs-gutter / 2;

    > .manage-account__button {
        opacity: .9999; /*this fixes the button on uc browser somehow*/
        &[disabled] {
            pointer-events: none;
            opacity: .5;
        }
    }
    > .identity-ad-prefs-manager__flash {
        display: inline-block;
        vertical-align: middle;
        margin-top: $gs-gutter / 4;
        @include mq(mobileLandscape) {
            margin: 0 0 0 $gs-gutter;
        }
    }
}

.identity-ad-prefs-manager__flash {
    color: $green-bold;
    font-weight: bold;
    opacity: 0;
    transition: .1s;
    &.identity-ad-prefs-manager__flash--flashing {
        opacity: 1;
    }
}

.identity-ad-prefs-input {

    $left-padding: $gs-gutter / 1.5 + 16px + $gs-gutter / 1.5;
    margin-top: $gs-gutter;

    .identity-ad-prefs-input__wording {
        margin: $gs-baseline/2 $left-padding 0;
        display: block;
    }
    .identity-ad-prefs-input__label {
        @include fs-textSans(5);
        border-radius: $gs-baseline * 1.75;
        display: flex;
        background: $highlight-main;
        padding: $gs-baseline ($gs-gutter / 1.5) $gs-baseline $left-padding;
        min-height: $gs-baseline * 1.5;
        align-items: center;
        justify-content: flex-start;
        font-weight: 800;
        position: relative;
        input {
            margin: 0;
            padding: 0;
            float: none;
            position: absolute;
            left: $gs-gutter;
            top: $gs-baseline * 1.35;
            background: #ffffff;
        }
    }
}
