.identity-consent-journey {
    margin: auto;
    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
        legend {
            display: block;
        }
    }
    > .identity-consent-journey-step {
        position: relative;
        &:not(:first-child) {
            margin-top: $gs-gutter * 1.5;
        }
        &:not(:first-of-type) {
            border-top: 1px solid $brightness-86;
        }
    }
    .identity-consent-journey__controls {
        padding: $gs-gutter 0;
        background: #ffffff;
        margin-top: $gs-gutter * 2;
        border-top: 1px solid $brightness-86;
        @include mq($until: tablet) {
            padding: $gs-gutter * .5;
            margin-left: $gs-gutter * -.5;
            margin-right: $gs-gutter * -.5;
        }
        .manage-account__button:not(.manage-account__button--round) {
            float: right;
        }
    }
}

.identity-consent-journey-step {
    @include clearfix;
    padding-top: $gs-gutter / 6;
    &.identity-consent-journey-step--intro {
        margin-top: $gs-gutter * 2;
    }
    &.identity-consent-journey-step--controls {
        padding-top: $gs-gutter;
        border: 0!important;
        .manage-account__button {
            max-width: gs-span(5);
            width: 100%;
        }
    }
    .identity-consent-journey-step__info {
        margin-bottom: $gs-gutter * 2;
    }
    .identity-consent-journey-step__title {
        margin-bottom: $gs-gutter;
    }
    @include mq(desktop) {
        display: grid;
        grid-column-gap: $gs-gutter;
        grid-template-columns: gs-span(4) 1fr;
        .identity-consent-journey-step__title {
            grid-column-start: 1;
            padding-right: gs-span(1);
        }
        .identity-consent-journey-step__content {
            grid-column-start: 2;
        }
        .identity-consent-journey-step__fields {
            margin-top: $gs-gutter / 4;
        }
    }
}

.identity-consent-journey-step__title {
    @include fs-headline(3);
    font-weight: 500;
    .identity-consent-journey-step--intro & {
        @include fs-headline(5, true);
        margin-top: ($gs-gutter /4) * -1;
    }
}

.identity-consent-hero {
    $multiline-height: 4px * 3 + 1px; /*height of multiline (4px) times the number of lines (3)*/
    background-color: #1e8dcd;
    border-bottom: 1px solid $brightness-86;
    background-repeat: no-repeat;
    overflow: visible;
    margin-bottom: $multiline-height;
    position: relative;
    padding: ($gs-row-height / 1.5) 0;
    box-shadow: 0 ($slim-nav-height * -2) 0 0 #1e8dcd;

    .identity-wrapper {
        padding-top: 0;
        padding-bottom: 0;
    }

    img {
        display: block;
        margin: 0 auto 10px 0;
        height: $gs-row-height * 2;
        @include mq(tablet) {
            height: $gs-row-height * 2.5;
            background-size: contain;
        }
    }
    &:after {
        @include multiline(4, $brightness-86, top);
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: ($multiline-height - 1) * -1;
        height: $multiline-height;
        margin-bottom: -1px;
        margin-top: $gs-baseline/2;
        width: 100%;
    }
}

.identity-consent-journey-modal-message--inactive {
    display: none;
}

