.identity-consent-journey {
    max-width: gs-span(8);
    margin: auto;
    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
        legend {
            display: block;
        }
    }
    > .identity-consent-journey__step:not(:first-of-type) {
        margin-top: $gs-gutter * 3;
        padding-top: $gs-gutter * .5;
        position: relative;
        border-top: 1px solid $garnett-neutral-4;
    }
    > .identity-consent-journey__step[data-title='select-all'] {
        margin-bottom: $gs-gutter * 2 * -1;
        margin-top: $gs-gutter * 2;
        border-top: 0;
    }
    .identity-consent-journey__controls {
        padding: $gs-gutter 0;
        background: #ffffff;
        margin-top: $gs-gutter * 2;
        border-top: 1px solid $garnett-neutral-4;
        @include mq($until: tablet) {
            padding: $gs-gutter * .5;
            margin-left: $gs-gutter * -.5;
            margin-right: $gs-gutter * -.5;
        }
        .manage-account__button:not(.manage-account__button--round) {
            float: right;
        }
    }
}
