.formstack-iframe {
    display: block;
    margin: 0 auto;
    border: 0;
    max-width: gs-span(6);
    width: 100%;
}

.formstack-heading {
    @include fs-bodyHeading(4);
}

.formstack-heading--first {
    @include fs-header(5);
    margin-top: ($gs-baseline/3)*4;
}

.formstack-heading--first + .formstack-section {
    margin-bottom: $gs-baseline*2;
}

.formstack-required {
    margin-left: 2px;
}

.formstack-fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.formstack-count {
    position: absolute;
    color: $neutral-1;
    font-family: $f-sans-serif-text;
    font-size: 13px;
    margin-left: 6px;
    padding-top: ($gs-baseline/3)*9;
}
