/*
Padder
*/
@mixin identity-forms-padded {
    @include mq(tablet) {
        margin: ($gs-baseline * 4) auto ($gs-baseline * 2)!important;
        @supports(height: 1vh) {
            margin: 12.5vh auto 17.5vh!important;
        }
    }
}
.u-identity-forms-padded {
    @include identity-forms-padded;
}

/*
Loading screen
*/
.identity-forms-loading {
    text-align: center;
    max-width: gs-span(6);
    margin: $gs-baseline auto;
    .identity-forms-loading__spinner {
        display: inline-block;
        margin: 0;
    }
    .identity-forms-loading__text {
        @include fs-textSans(3);
        margin-top: $gs-baseline;
        .manage-account__button {
            margin: $gs-baseline auto;
            float: none;
        }
    }
    &.identity-forms-loading--hide-text .identity-forms-loading__text {
        display: none;
    }
}


/*
Messages
*/
.identity-forms-message {
    max-width: gs-span(6);
    margin: 0 auto;
    .identity-forms-message__options {
        display: flex;
        margin-top: $gs-baseline * 2;
        flex-direction: column;
        align-items: stretch;
        > * {
            margin-top: $gs-gutter/2;
        }
        @include mq(tablet) {
            justify-content: space-between;
            flex-direction: row;
        }
    }
    .identity-forms-message__body {
        @include clearfix;

        &:not(:first-child) {
            margin-top: $gs-baseline * 2;
        }

        &:last-child {
            @include mq(mobile, desktop) {
                margin-top: $gs-baseline * 5;
            }
        }

        &.identity-forms-message__body--aside {
            @include fs-textSans(3);
            .manage-account__button {
                @include fs-textSans(3);
            }
        }

        > .manage-account__button:last-child {
            margin: ($gs-baseline/2) 0 0;
        }

        .identity-forms-email-wrap {
            margin: ($gs-baseline*4) 0;
        }

    }
    .identity-forms-message__button {
        margin: $gs-baseline * 2 auto;
        float: none;
        display: flex;
    }
}

.identity-forms-email-wrap {
    padding-top: $gs-baseline * 4;
    header {
        @include fs-headline(3);
        font-weight: 500;
        display: block;
    }

    aside {
        @include fs-textSans(3);
        opacity: .75;
        margin-top: $gs-gutter / 4;
    }

    a {
        @extend %u-underline;
        color: $brightness-7;
    }
}

/*
Wrapper
*/
.identity-forms-wrapper-title {
    @include fs-headline(2);
    @include mq(desktop) {
        @include fs-headline(4, $size-only: true);
    }
    &.identity-forms-wrapper-title__large {
        @include fs-headline(4, $size-only: true);
        @include mq(desktop) {
            @include fs-headline(6, $size-only: true);
        }
    }
    & + .identity-forms-wrapper {
        margin-top: $gs-baseline;
    }
}

/*
List of fields
*/
.identity-forms-fields {
    list-style: none;
    margin: 0;
    display: block;
    li {
        @include clearfix;
        display: block;
        &:not(:empty) {
            margin-bottom: $gs-baseline;
        }
    }
}

/*
Interim guui inputs
*/
.identity-forms-label {
    @include fs-textSans(5);
    font-weight: 700;
}

.identity-forms-input-wrap {
    .identity-forms-label {
        margin-bottom: $gs-baseline/3;
    }
}
.identity-forms-input {
    @include fs-textSans(5);
    border: 1px solid $brightness-86;
    display: block;
    height: $gs-baseline * 3.5;
    line-height: $gs-baseline * 1.67;
    padding: 0 $gs-gutter / 2;
    width: 100%;
    transition: all .2s ease-in-out;
    box-sizing: border-box;

    &:not([disabled]):hover {
        box-shadow: 0 0 0 3px $brightness-93;
    }

    &:focus {
        outline: transparent;
        box-shadow: 0 0 0 3px $highlight-main;
    }

    &[disabled] {
        background: $brightness-93;
        pointer-events: none;
    }
}



.identity-forms-wrapper__info {
    margin-bottom: $gs-baseline;
    max-width: gs-span(10);
}
