/* Edit profile manage-account tab
   ========================================================================== */
.manage-account-tab {
    padding-bottom: $gs-baseline*2;

    .show-updating {
        display: inline-block;
    }

    .manage-account-loader {
        text-align: center;
        min-height: 200px;
        margin-top: $gs-baseline*4;
    }

    /* Up sell
    ========================================================================== */
    .manage-account-up-sell {
        padding: $gs-gutter*2;
        .manage-account__button {
            margin-right: 1em;
        }
    }

    .manage-account-up-sell__heading {
        margin-bottom: $gs-baseline;
    }

    .manage-account-up-sell__content {
        margin-bottom: 18px;
    }

    /* Details
       ========================================================================== */
    .details-list {
        padding-top: $gs-baseline*2;
    }

    .details-list--lower {
        padding-top: 0;
    }

    .details-list__item {
        margin-bottom: $gs-baseline;
    }

    /* Card Details
   ========================================================================== */
    .card-details {
        padding: 8px 4px 8px $gs-baseline;
    }

    .card-type-display {
        display: inline-block;
        height: 35px;
        width: 54px;
        vertical-align: middle;
    }

    /* PayPal Details
    ========================================================================== */
    .paypal-email {
        font-weight: bold;
    }

    .paypal-message {
        display: inline-block;
        width: 60%;
    }

    /* manage-account CTA
   ========================================================================== */
    .manage-account-cta {
        width: $gs-baseline*10;
        margin: ($gs-baseline/2) 0 0;
        display: block;

        @include mq(tablet) {
            float: right;
            margin: 0;
        }

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }

    .manage-account-cta--disabled {
        background: none;
        color: $news-default;

        &:hover,
        &:focus {
            background: none;
            text-decoration: underline;
        }
        &:active {
            color: $news-accent;
        }
    }

    .subscription-changed-title {
        @include fs-header(3);
        border-top: 1px solid $neutral-4;
        padding: 15px 0 20px;
        margin-top: $gs-gutter*2;
    }

    /* Change Summary and package
   ========================================================================== */
    .change-summary {
        padding-bottom: 80px;

        @include mq(tablet) {
            display: table;
            width: 100%;
        }

        .summary {
            background-color: $neutral-8;
        }

        .summary-arrow {
            transform: rotate(90deg);
            background-size: 18px 16px;
            width: 18px;
            height: 16px;

            @include mq(tablet) {
                transform: rotate(0deg);
            }

            @include mq(desktop) {
                background-size: 26px 24px;
                width: 26px;
                height: 24px;
            }
        }

        .package {
            @include mq(tablet) {
                display: table-cell;
                margin: 0;
                vertical-align: top;
                width: 46%;
            }
        }

        .package-direction {
            margin: $gs-baseline;
            text-align: center;
        }
    }

    .summary-header {
        @include fs-textSans(4);
        display: block;
        color: #ffffff;
        height: 30px;
        padding: 0 0 0 $gs-baseline;
        line-height: 30px;
    }

    .summary-header--current {
        background-color: $neutral-2;
    }
    .summary-header--target {
        background-color: $news-accent;
    }

    .summary-package {
        height: 57px;
        border-top: 1px solid $neutral-4;
        border-bottom: 1px solid $neutral-4;

        .summary-package__icon-container {
            display: inline-block;
            vertical-align: middle;
            height: 28px;
            line-height: 54px;
            padding: 0 6px 0 12px;
        }

        .summary-package__icon {
            display: inline-block;
            vertical-align: middle;
            background-size: 28px 28px;
            height: 28px;
            width: 28px;
        }

        .summary-package__tier {
            @include fs-header(2);
            display: inline-block;
            vertical-align: top;
            line-height: 57px;
        }
    }

    .summary-meta {
        padding: 15px 0 30px $gs-baseline;

        .summary-meta__label,
        .summary-meta__data {
            display: inline-block;

            @include mq(tablet, desktop) {
                display: block;
                margin-bottom: $gs-baseline;
            }
        }

        .summary-meta__label {
            @include fs-bodyHeading(2);
            width: 50%;
        }

        .summary-meta__data {
            @include fs-bodyCopy(2);
        }
    }

    /* Credit card change form
   ========================================================================== */
    .manage-account-tab__change-cc-form {
        overflow: hidden;
        max-height: 424px;
        transition: all .25s ease-in-out;

        &.is-closed {
            max-height: 0;
            opacity: 0;
        }

        .form__error {
            margin: 0 0 $gs-baseline;
        }

        .is-updating {
            vertical-align: middle;
            margin-top: 0;
        }

        /* Stripe credit card types
           ========================================================================== */

        $small-card: 32px;
        $large-card: 35px;

        .manage-account-tab__credit-card-container {
            position: relative;
        }

        .manage-account-tab__card-types--in-field {
            position: absolute;
            right: 2px;
            top: 2px;
            width: 54px;
            height: $large-card;
        }

        @include mq(tablet) {
            .manage-account-tab__card-types--in-field {
                width: 49px !important;
                height: $small-card !important;
                background-size: 49px $small-card;
            }
        }
    }

    /* Cancellation Contribution section
    ===================================================================== */
    .contribution-cancellation__main-link {
        margin: $gs-baseline 0;
    }

    .contribution-cancellation__section {
        border-top: solid 1px #000000;
    }

    .contribution-cancellation__title {
        margin: $gs-baseline 0;
    }

    .contribution-cancellation__menu__actions,
    .contribution-cancellation__selector {
        margin-top: $gs-baseline * 3;
    }

    .manage-account__button.is-disabled {
        cursor: not-allowed;
        background-color: $neutral-3;
    }

    .contribution-cancellation__keep-contributing {
        margin-left: $gs-gutter;
        margin-top: 10px;
        display: inline-block;
    }

}
.manage-account__errors:not(:empty) {
    margin-bottom: $gs-gutter;
}

/* Header
========================================================================== */
.manage-account-header {
    @include fs-header(3);
    color: $identity-main;
}
.manage-account-headerNote {
    @include fs-bodyCopy(2);
    margin-top: $gs-baseline / 2;
}

.manage-account-headerWrapper {
    margin-bottom: $gs-baseline;
}

.manage-account-header--highlight {
    padding: 15px 0 15px 4px;
    margin: 32px 0 15px;
    background-color: #fff8e5;
    border-top: 1px solid $comment-accent;
    border-bottom: 1px solid $comment-accent;
}

.manage-account-divider {
    display: block;
    width: 100%;
    border-top: 1px solid #d9d9d9;
    margin-bottom: gs-span(.5);
    transform: scaleX(3);
    @include mq(desktop) {
        margin-top: gs-span(1);
    }
}

/* Modals
   ========================================================================== */

.manage-account__modal {
    border: 1px solid $neutral-8;
    padding: $gs-gutter;
    margin: $gs-gutter;
}

.js-on .manage-account__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    display: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.js-on .manage-account__modal--active {
    display: block;
    display: flex;
}

.js-on .manage-account__modalBg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $neutral-1;
    opacity: .95;
    z-index: 9;
}

.js-on .manage-account__modalContent {
    max-width: gs-span(10);
    background: #ffffff;
    width: 100%;
    position: relative;
    z-index: 10;
    border-top: 1px solid $news-main-2;
    padding: ($gs-gutter * 3.75) ($gs-gutter * 1) ($gs-gutter * 1);
    margin: auto;
    float: none;
}

.manage-account__modalCloser {
    display: none;
}

.js-on .manage-account__modalCloser {
    width: $gs-gutter * 1.75;
    height: $gs-gutter * 1.75;
    border: 1px solid $guardian-brand;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: $gs-gutter;
    right: $gs-gutter;
    background: transparent;

    svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    svg * {
        fill: $guardian-brand;
    }

    &:hover {
        border-color: #000000;
        svg * {
            fill: #000000;
        }
    }
}

/* Button styles
========================================================================== */
.manage-account__button {
    @include fs-textSans(2);
    background-color: $identity-main;
    height: $gs-gutter * 2;
    border-radius: 100px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    float: left;
    padding: 0 $gs-gutter;
    min-width: $gs-baseline * 14;
    white-space: nowrap;
    text-overflow: clip;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:not(.is-updating, .is-disabled):hover {
        background-color: darken($identity-main, 10%);
    }

    &:hover, &:active, &:focus {
        color: #ffffff;
        text-decoration: none;
    }

    &.is-updating {
        border: 0;
    }

    .inline-icon {
        display: flex;
        margin: 0 ($gs-gutter * -.5);
    }

}

.manage-account__button--round {
    min-width: $gs-gutter * 2;
    max-width: $gs-gutter * 2;
}

.manage-account__button--icon {
    justify-content: space-between;
}

.manage-account__button--light {
    @extend %manage-account__button--light;
}

.manage-account__button--mini {
    @extend %manage-account__button--light;
    @include fs-textSans(1);
    min-width: $gs-baseline * 10;
    display: inline-flex;
    height: $gs-gutter * 1.5;
    line-height: .8;
}

%manage-account__button--light {
    color: $identity-main;
    background-color: transparent;
    border: 1px solid lighten($identity-main, 50%);
    &:not(.is-updating, .is-disabled):hover {
        color: #fff;
        border-color: $identity-main;
    }
}

.fieldset {
    &.fieldset--manage-account-noborder {
        border: 0;
    }
    &.fieldset--manage-account-block {
        display: block;
    }
    &.fieldset--manage-account-rightsubmit {
        *[type=submit] {
            float: right;
        }
    }
}

.manage-account-flexrow {
    @include mq(tablet) {
        display: flex;
    }
}
.manage-account-flexrow_item {
    flex: 1 1 auto;
    &:not(:last-child) {
        margin-right: $gs-gutter;
    }
}
.manage-account-flexrow_item--static {
    flex: 0 0 auto;
}
