//TODO: most of this is not actually needed post-switch it's just overrides

.identity-wrapper-for-bg {
    @include clearfix();
    .tabs__container {
        margin: $gs-gutter * 2 auto 0;
        .tabs__tab a {
            font-weight: 500!important;
            /*text can't fit otherwise*/
        }
    }
    .tabs__content {
        margin: $gs-gutter * 2 auto;
        border: 0;
    }
    .gs-container {
        @include clearfix();
        max-width: none;
    }
    .monocol-wrapper {
        max-width: gs-span(10);
        margin: auto;
        @include mq($until: desktop) {
            padding: 0 $gs-gutter * 1;
        }
    }
    &.identity-wrapper-for-bg--header {
        border-bottom: 1px solid $neutral-5;
        .monocol-wrapper {
            padding-bottom: 0;
            overflow: hidden;
        }
        .gs-container {
            padding-top: $gs-gutter / 2;
        }
    }
}

.identity-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: gs-span(6);
    padding-bottom: $gs-baseline * 2;
    padding-top: $gs-baseline / 2;

    &.identity-wrapper--with-wizard {
        padding-bottom: 0;
    }

    @include mq(desktop) {
        max-width: gs-span(10);
    }
}

.identity-wrapper--stretched {
    max-width: gs-span(16);
}



/* Account Edit page
   ========================================================================== */

.identity-wrapper .tabs {
    .fieldset:first-of-type {
        border-top: 0; // Included so as not to break tabs metaphor
    }
}
