/* Header wrapper (for mma tabs)
   ========================================================================== */
.identity-wrapper-header {
    border-bottom: 1px solid $garnett-neutral-4;
    .identity-wrapper {
        padding-bottom: 0;
    }
    .tabs__container {
        margin: ($gs-gutter * 1.5) auto 0 -1px;
        .tabs__tab a {
            font-weight: 400!important;
            /*text can't fit otherwise*/
        }
    }
}


/* Normal wrapper
   ========================================================================== */

.identity-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: gs-span(6);
    padding-bottom: $gs-gutter * 2;
    padding-top: $gs-gutter / 4;

    &.identity-wrapper--mma-body {
        .tabs__content {
            border: 0;
        }
    }

    a.u-underline {
        color: $identity-main;
    }

    @include mq(desktop) {
        max-width: gs-span(10);
    }
}

.identity-wrapper--stretched {
    max-width: gs-span(16);
}



/* Flex wrap around the whole page (to stick the footer at the end)
   ========================================================================== */
.identity-wrapper-page-flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: stretch;
    & > .identity-wrapper-page-flex__content {
        flex: 1 1 auto;
    }
}



/* Account Edit page
   ========================================================================== */

.identity-wrapper .tabs {
    .fieldset:first-of-type {
        border-top: 0; // Included so as not to break tabs metaphor
    }
}
