@()(implicit request: RequestHeader, context: model.ApplicationContext)
@import conf.Configuration

@admin_main("Reader Revenue Tools", isAuthed = true) {

    <p><a href="@controllers.admin.routes.AdminIndexController.admin()">Admin</a></p>

    <h2>Reader Revenue Tools</h2>

    <div class="row">

        <div class="col-md-4">
            <h3>Banner</h3>
            <div class="panel panel-default well--front">
                <div class="panel-heading">Re-deploy the engagement banner</div>
                <div class="panel-body">
                    <ul>
                        <li><a href="@controllers.admin.routes.ReaderRevenueController.renderBannerDeploys()">Banner Deploys</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

}
