@()(implicit request: RequestHeader, context: model.ApplicationContext)

@admin_main("Reader Revenue Tools", isAuthed = true) {

    <p><a href="@controllers.admin.routes.AdminIndexController.admin()">Admin</a></p>

    <h2>Reader Revenue Tools</h2>

    <div class="row">

        <div class="col-md-4">
            <h3>Contributions Banner</h3>
            <div class="panel panel-default well--front">
                <div class="panel-heading">Tools for contributions (engagement) banner</div>
                <div class="panel-body">
                    <ul>
                        <li><a href="@controllers.admin.routes.ReaderRevenueAdminController.renderContributionsBannerAdmin">Redeploy Contributions Banner</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            <h3>Subscriptions  Banner</h3>
            <div class="panel panel-default well--front">
                <div class="panel-heading">Tools for subscriptions banner</div>
                <div class="panel-body">
                    <ul>
                        <li><a href="@controllers.admin.routes.ReaderRevenueAdminController.renderSubscriptionsBannerAdmin">Redeploy Subscriptions Banner</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

}
