[data-page-path='/world/france'] {
    .easter-egg-vive-la-france {
        [data-id='world/france/news/regular-stories'] .container__title {
            &:before {
                content: 'Vive la ';
            }
            @include mq(faciaLeftCol) {
                &:after {
                    position: absolute;
                    display: block;
                    content: 'Happy Bastille day!';
                    height: 0;
                    text-align: center;
                    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5MDAgNjAwIj4NCjxwYXRoIGZpbGw9IiNlZDI5MzkiIGQ9Im0wLDBoOTAwdjYwMGgtOTAweiIvPg0KPHBhdGggZmlsbD0iI2ZmZiIgZD0ibTAsMGg2MDB2NjAwaC02MDB6Ii8+DQo8cGF0aCBmaWxsPSIjMDAyMzk1IiBkPSJtMCwwaDMwMHY2MDBoLTMwMHoiLz4NCjwvc3ZnPg0K');
                    @include rem((
                        width: 150px,
                        padding-top: 100px,
                        margin-top: ($gs-baseline/3)*2,
                        font-size: 16px,
                        line-height: 32px
                    ));
                }
            }
        }
        [data-id='world/france/news/regular-stories'] .pagination_legend {
            &:after {
                content: ', le pays de la baguette et du saucisson';
            }
        }
        .localnav--small,
        [data-id='world/france/news/regular-stories'] .container__border {
            $top-flag-height: 8px;
            $c-french-flag-blue: #0055a4;
            $c-french-flag-white: guss-colour(neutral-8);
            $c-french-flag-red: #ef4135;

            position: relative;
            border-color: $c-french-flag-white;
            border-width: $top-flag-height;

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: -$top-flag-height;
                width: percentage(1/3);
                height: $top-flag-height;
            }
            &:before {
                background: $c-french-flag-blue;
                left: 0;
            }
            &:after {
                right: 0;
                background: $c-french-flag-red;
            }
        }
        .guardian-logo-wrapper {
            &:before {
                @include box-sizing(border-box);
                content: 'le';
                position: absolute;
                background: #ffffff;
                @include f-headline;
                font-weight: 900;
                color: $c-brandLightBlue;
                text-align: right;
                @include rem((
                    width: 43px,
                    font-size: 30px,
                    line-height: 30px,
                    padding-right: 1px,
                    height: 23px
                ));

                @include mq(tablet) {
                    background: $c-neutral8;
                    @include rem((
                        width: 91px,
                        font-size: 63px,
                        line-height: 58px,
                        padding-right: 2px,
                        height: 48px
                    ));
                }
            }
        }
    }
}
