@import layout.ContentCard
@import views.html.fragments.items.facia_cards.contentCard


@(articles: List[ContentCard])(implicit request: RequestHeader)
<div class="saved-contents js-saved-contents">
@articles.zipWithRowInfo.map { case (article, row) =>
    <div class="@RenderClasses(Map(
        "u-cf" -> true,
        "saved-content" -> true,
        "js-saved-content" -> true,
        "saved-content-first" -> row.isFirst))" shortUrl="@article.shortUrl">

        @contentCard(article, 0, 0, "all",  false, false )


        <div class="saved-content__meta u-cf">
            <button class="button button--secondary saved-content__button js-saved-content__button"
                data-link-name="Delete"
                name="deleteArticle"
                type="submit"
                value="@article.shortUrl">
                @fragments.inlineSvg("bookmark", "icon") remove
            </button>
        </div>
    </div>
}
</div>

