@(trail: Trail, rowNum: Int, related: Boolean = false, headingLevel: Int = 2)

@fragments.relativeDate(trail.webPublicationDate, trail.isLive, isFront=true)

<h@headingLevel class="type-1">
    <a href="@trail.url" @if(related){itemprop="relatedLink"} data-link-name="@rowNum | text">
        @RemoveOuterParaHtml(trail.headline)
    </a>
</h@headingLevel>

@trail.trailText.map { text => <div class="trail-text type-5">@cleanTrailText(text)</div> }

@if(trail.mainPicture) {
    @trail.mainPicture.map{ mainPicture =>
        @trail.mainPicture(width=220).map{ smallCrop =>
	        <a href="@trail.url" @if(related){itemprop="relatedLink"} data-link-name="@rowNum | image">
	            <img class="maxed" src="@smallCrop.url"
	                data-force-upgrade="true"
	                data-thumb-width="@smallCrop.width"
	                data-fullsrc="@mainPicture.url"
	                data-full-width="@mainPicture.width"
	                itemprop="contentURL"
	                alt="@Html(mainPicture.altText.getOrElse(""))" 
	                title="@Html(mainPicture.caption.getOrElse(""))"
	            />
	        </a>
        }
    }
}