@(trail: Gallery, rowNum: Int, element: String = "li", headingLevel: Int = 2)(implicit request: RequestHeader)

<@element class="trail trail--gallery t@rowNum" data-link-name="gallery trail">

    @fragments.relativeDate(trail.webPublicationDate, trail.isLive, isFront=true)

    <h@headingLevel class="trail__headline type-5">
        @if(trail.isInPicturesSeries) {
            <div class="trail__headline__kicker">In Pictures:</div>
        }
        <a href="@LinkTo{@trail.url}" data-link-name="@rowNum | text">
            @RemoveOuterParaHtml(trail.trailHeadline)
        </a>
    </h@headingLevel>

    <ul class="gallerythumbs unstyled cf">
        @if(trail.landscapes.length >= 3) {
            @trail.landscapes.take(3).zipWithRowInfo.map{ case(image, info) =>
            <li class="gallerythumbs__item @if(image.width >= image.height){gallerythumbs__item--landscape} else {gallerythumbs__item--portrait}">
                <a href="@LinkTo{@trail.url?index=@image.index}" data-link-name="@info.rowNum | gallery thumb">
                    <img class="gallerythumbs__img" src="@image.url.map(ImgSrc(_, GalleryTrail))" alt="@Html(image.caption.getOrElse(""))" />
                </a>
            </li>
            }
        }
    </ul>

    <span class="trail__count trail__count--imagecount">
        <a href="@trail.url" data-link-name="Gallery image count">
            <i class="i i-gallery"></i>
            @trail.images.length <span class="h">images</span>
        </a>
    </span>

</@element>
