@(trail: Trail, rowNum: Int, related: Boolean = false, element: String = "li", headingLevel: Int = 2, trailId: String = util.Random.alphanumeric.take(5).mkString)(implicit request: RequestHeader)

<@element class="trail trail--headline t@rowNum" data-link-name="trail" @trail.discussionId.map{ id => data-discussion-id="@id" }>
<input type="checkbox" name="foo" id="trail__expander-@trailId" class="trail__expander-trigger" tabindex="-1" />
<div class="trail__expander-wrapper">
    @fragments.relativeDate(trail.webPublicationDate, trail.isLive, isFront=true)

    <h@headingLevel class="trail__headline type-5">
        <a href="@LinkTo{@trail.url}" @if(related){itemprop="relatedLink"} data-link-name="@rowNum | text">
            @cleanTrailText(trail.headline)(Edition(request))
        </a>
    </h@headingLevel>

    <div class="trail__expander-show">
        <figure class="media-primary">
        @trail.thumbnailPath.map{ thumbnailPath =>
            @trail.mainPicture(width=220).map { largeCrop =>
                <a href="@LinkTo{@trail.url}" class="media__img trail__img" data-link-name="@rowNum | image" aria-hidden="true">
                    <img class="maxed main-image" data-lowsrc="@thumbnailPath"
                        data-thumb-width="140"
                            data-fullsrc="@largeCrop.path"
                            data-full-width="@largeCrop.width"
                            alt=""
                        itemprop="contentURL"
                    />
                </a>
                @if(largeCrop.caption.headOption.getOrElse("").trim != "") {
                    <div class="main-caption trail__expander-show">
                        <figcaption itemprop="description">@StripHtmlTagsAndUnescapeEntities(largeCrop.caption.getOrElse(""))</figcaption>
                    </div>
                }
            }
        }
        </figure>
    </div>

    @trail.trailText.map { text => <div class="trail__text trail__expander-hide">@cleanTrailText(text)(Edition(request))</div> }
    <p class="byline trail__expander-show"><a href="">Jean Bonneau</a></p>
    <div class="from-content-api trail__expander-content">
        @if(!trail.leadingParagraphs.isEmpty) {
            @trail.leadingParagraphs.take(4).map { paragraph => <p>@Html(paragraph.html())</p> }
        }
        <p><a href="@LinkTo{@trail.url}" data-link-name="@rowNum | read full article" aria-hidden="true">Read the full article</a></p>
    </div>

    <label class="trail__expander-cta" for="trail__expander-@trailId">
        <span class="trail__expander-cta__button">
            <span class="trail__expander-hide">Read more</span>
            <span class="trail__expander-show">Close</span>
        </span>
    </label>
</div>
</@element>