@(trail: model.pressed.PressedProperties, rowNum: Int, related: Boolean = false, element: String = "li", headingLevel: Int = 2)(implicit request: RequestHeader)

@import implicits.FaciaContentFrontendHelpers.FaciaPropertiesFrontendHelper

<@element class="trail trail--headline t@rowNum"
    @if(trail.isCommentable) {
        @trail.discussionId.map{ id =>
            data-discussion-id="@id"
        }
        data-discussion-closed="@trail.isClosedForComments"
    }
    data-link-name="trail">

    @fragments.relativeDate(trail.webPublicationDate, trail.isLive, isFront=true)

    <h@headingLevel class="trail__headline">
        <a href="@LinkTo{@trail.url}" @if(related){itemprop="relatedLink"} data-link-name="@rowNum | text">
            @defining(Edition(request)) { edition =>
                @cleanTrailText(trail.headline)
            }
        </a>
    </h@headingLevel>

</@element>
