@(trail: Trail, rowNum: Int, related: Boolean = false, showThumbnail: Boolean = true, element: String = "li", headingLevel: Int = 2)(implicit request: RequestHeader, trailId: String = util.Random.alphanumeric.take(5).mkString)

<@element class="trail trail--thumbnail trail--expandable t@rowNum @if(trail.mainPicture(width=220).nonEmpty) { trail--has-image}" data-link-name="trail"
    @trail.discussionId.map{ id => data-discussion-id="@id" }
    @CricketMatch(trail).map{ id => data-cricket-match="@id" } >
    @if(!trail.leadingParagraphs.isEmpty) {
        <input type="checkbox" name="trail__expander-trigger" id="trail__expander-@trailId" class="trail__expander-trigger" tabindex="-1" />
    }
    <div class="trail__expander-wrapper">
        @fragments.relativeDate(trail.webPublicationDate, trail.isLive, isFront=true)

        <div class="media">
            <div class="media__body trail__expander-headline">
                <h@headingLevel class="trail__headline type-5">
                <a href="@LinkTo{@trail.url}" @if(related){itemprop="relatedLink"} data-link-name="@rowNum | text">
                @RemoveOuterParaHtml(trail.headline)
                </a>

                @if(!trail.leadingParagraphs.isEmpty) {
                    <label class="trail__expander-cta trail__expander-hide" for="trail__expander-@trailId" data-link-name="@rowNum | read more article">
                        <button class="u-button-reset trail__expander-cta__button">
                            <b>Read more</b>
                            <i class="i i-arrow-blue-down"></i>
                        </button>
                    </label>
                }
                </h@headingLevel>
            </div>

            @if(!showThumbnail) {
                <div class="trail__expander-show">
            }
                <figure class="media-primary">
                @trail.thumbnailPath.map{ thumbnailPath =>
                    @trail.mainPicture(width=220).map { largeCrop =>
                        <a href="@LinkTo{@trail.url}" class="media__img trail__img" data-link-name="@rowNum | image" aria-hidden="true">
                            <img class="maxed main-image" data-lowsrc="@thumbnailPath"
                                data-thumb-width="140"
                                data-fullsrc="@largeCrop.path"
                                data-full-width="@largeCrop.width"
                                alt=""
                                itemprop="contentURL"
                            />
                        </a>
                        @if(largeCrop.caption.headOption.getOrElse("").trim != "") {
                            <div class="main-caption trail__expander-show">
                                <figcaption itemprop="description">@StripHtmlTagsAndUnescapeEntities(largeCrop.caption.getOrElse(""))</figcaption>
                            </div>
                        }
                    }
                }
                </figure>
            @if(!showThumbnail) {
                </div>
            }
            @if(!trail.leadingParagraphs.isEmpty) {
                <div class="trail__expander-show">
                    @trail.byline.map { text => <p class="byline type-7" data-link-name="byline">@ContributorLinks(text, trail.contributors)</p> }
                    <div class="from-content-api trail__expander-content">
                        @trail.leadingParagraphs.take(4).map { paragraph => <p>@Html(paragraph.html())</p> }
                        <div class="trail__expander-action">
                            <p><a href="@LinkTo{@trail.url}" data-link-name="@rowNum | read full article" aria-hidden="true">Read the full article</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</@element>