@(trail: Trail, rowNum: Int, related: Boolean = false, showThumbnail: Boolean = true, element: String = "li", headingLevel: Int = 2)(implicit request: RequestHeader)

<@element class="trail trail--thumbnail t@rowNum  @if(trail.hasMainPicture) { trail--has-image}" data-link-name="trail"
    @trail.discussionId.map{ id => data-discussion-id="@id" }
    data-discussion-closed="@trail.isClosedForComments"
    @CricketMatch(trail).map{ id => data-cricket-match="@id" } >

    @fragments.relativeDate(trail.webPublicationDate, trail.isLive, isFront=true)

    <h@headingLevel class="trail__headline">
        <a href="@LinkTo{@trail.url}" @if(related){itemprop="relatedLink"} data-link-name="@rowNum | text">
            @RemoveOuterParaHtml(trail.headline)
        </a>
    </h@headingLevel>

    @trail.trailPicture.map { imageContainer =>
        @ImgSrc.imager(imageContainer).map{ imgSrc =>
            <a href="@LinkTo{@trail.url}"
               class="trail__img item__image-container"
               data-link-name="@rowNum | image"
               aria-hidden="true"
               data-src="@imgSrc"
               data-img-class="maxed">
                <img class="maxed responsive-img" alt="" itemprop="contentURL" />
            </a>
        }
    }
    @trail.trailText.map { text => <div class="trail__text">@cleanTrailText(text)(Edition(request))</div> }

</@element>
