.live-toolbar {
    width: 100%;
    height: $gs-row-height + $gs-baseline;

    .is-live & {
        display: table;
    }

    @include mq($until: tablet) {
        font-size: .875em;
    }
}

.live-toggler-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 54%;
}
.live-toggler {
    display: none;
    position: relative;
    width: auto;
    text-align: left;
    padding: ($gs-baseline/3)*2 8px $gs-baseline*2 0;
    @include fs-textSans(2);

    &.is-active {
        display: block;
    }
    
    i {
        position: absolute;
        top: 14px;
        right: ($gs-gutter*.75)*-1;
    }
}
.live-toggler__label {
    padding-left: 0;
    padding-right: $gs-gutter/5;
    color: $c-neutral2;
    @include fs-textSans(2);
}
.live-toggler__value {
    display: block;
    min-width: $gs-gutter*2.5;
    padding-bottom: 2px;
    border-right: 1px solid $c-neutral5;
    color: $c-neutral2;
    font-weight: bold;
    white-space: nowrap;
}

/*  Ordered results
   ========================================================================== */

.live-toggler--oldest {
    display: none;

    i {
        @include rotate(180deg);
    }
}
.live-toggler--latest { display: inline; }

.live-filter--order-by-oldest {
    .live-toggler--oldest {
        display: inline;
    }
    .live-toggler--latest {
        display: none;
    }
}


/* Auto update toggle
   ========================================================================== */

.live-toggler--autoupdate {
    float: right;
    padding-right: 0;

    .live-toggle__value {
        display: inline-block;
        text-align: center;
        padding: $gs-baseline/1.5 0 0;
        width: 32px;
        height: 24px;
        line-height: 13px;
        background-color: $c-neutral2;
        color: #ffffff;
        font-weight: bold;
        @include border-radius(50%);

        @include mq(tablet) {
            line-height: 17px;
        }
    }
}

.live-toggler--on .live-toggle__value {
    background-color: $c-liveDefault;
}
