.content__main-column--video {
    @include mq(wide) {
        @include rem((
            width: gs-span(9)
        ));
    }
}

.content--video {

    background-color: $c-neutral1;
    color: $c-neutral7;
    @include rem((
        padding-top: $gs-baseline/2
    ));

    .content__section .tone-colour,
    .byline,
    .byline .tone-colour,
    .social__head {
        color: $c-neutral7;
    }

    .content__head__border-top {
        display: none;
    }

    .content-meta--inline {
        border-top: 0;
        @include rem((
            padding-top: $gs-baseline/3
        ));
    }

    .content-meta__item .tone-colour {
        color: $c-commentAccent;
    }

    .ad-slot--paid-for-badge__help {
        color: $c-neutral2;
    }

    .content__standfirst {
        color: $c-neutral5;

        a {
            color: $c-neutral5;
        }

        .u-underline {
            border-color: $c-neutral3;
            &:hover {
                border-color: $c-neutral8;
            }
        }
    }
}
