@import model.PageWithStoryPackage

@()(implicit page: PageWithStoryPackage, request: RequestHeader)

@import views.support.{EmailImage, EmailVideoImage}
@import views.support.EmailHelpers.{imgForArticle, icon, imgForVideo}
@import fragments.email._
@import model.Tag
@import model.liveblog._
@import model.EmailAddons.EmailContentType
@import model.content.{MediaAtom, MediaAssetPlatform}
@import com.gu.contentapi.client.model.v1.SponsorshipType.{PaidContent, Sponsored, Foundation, EnumUnknownSponsorshipType}

@richLinkDefault(title: String, href: String, sponsorship: Option[Sponsorship]) = {
    @row(Seq("padded")) {
        <div class="padded rich-link__container @{sponsorship.map { sponsor =>
            s"rich-link__container--${
                sponsor.sponsorshipType.name.toLowerCase()
            }"
        }}">
            <a class="rich-link__link" href="@href" aria-label="read more: @title">
                <h3 class="rich-link__header">@title</h3>
            </a>

            @if(!sponsorship.isDefined) {
                <div class="rich-link__read-more">
                    <a class="rich-link__link" href="@href" aria-label="read more: @title">
                        <p class="rich-link__read-more">
                            Read more
                        </p>
                    </a>
                </div>
            }

            @sponsorship.map { sponsor =>
                @sponsor.sponsorshipType match {
                    case PaidContent => {
                        <table class="rich-link__sponsorship">
                            <tr>
                                <td>
                                    <div class="rich-link__read-more">
                                        <a class="rich-link__link" href="@href" aria-label="read more: @title">
                                            <p class="rich-link__read-more">
                                                Read more
                                            </p>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="rich-link__sponsor">
                                    @{
                                        s"Paid for by ${sponsor.sponsorName} ${sponsor.sponsorLogo}"
                                    }
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }
                    case _ => { }
                }
            }

        </div>
    }
}

<table class="article-body">

@bylineTwitter(twitterHandle: String) = {
    <div class="meta__twitter">
        <a href="https://twitter.com/@twitterHandle" data-link-name="twitter-handle" data-component="meta-twitter-handle" class="button button--small button--secondary tone-colour">
            @icon("twitter-bird")
            <span class="contact">@@@twitterHandle</span>
        </a>
    </div>
}

@bylineEmail(emailAddress: String) = {
    <div class="meta__email">
        <a href="mailto:@emailAddress" data-link-name="email-address" data-component="meta-email-address" class="button button--small button--secondary tone-colour">
            @icon("mail")
            <span class="contact">Email</span>
        </a>
    </div>
}

@bylineWithImage(byline: String, firstContributor: Tag) = {
    @row(Seq("padded-x", "author")) {
        <table>
            <tr>
                @firstContributor.properties.contributorLargeImagePath.map { src =>
                    <td class="byline-img">
                        <img class="byline-img__img" width="80" src="@src" alt="@firstContributor.name" />
                    </td>
                }
                <td>
                    <h3 class="byline">@byline</h3>
                    @firstContributor.properties.twitterHandle.map { twitterHandle =>
                        @bylineTwitter(twitterHandle)
                    }
                    @firstContributor.properties.emailAddress.map { emailAddress =>
                        @bylineEmail(emailAddress)
                    }
                </td>
            </tr>
        </table>
        <hr class="rule--flush" />
    }
}


@bylineWithoutImage(byline: String, firstContributor: Option[Tag]) = {
    @row(Seq("padded", "author")) {
        <h3 class="byline">@byline</h3>

        @firstContributor.map { profile =>
            @profile.properties.twitterHandle.map { twitterHandle =>
                @bylineTwitter(twitterHandle)
            }
            @profile.properties.emailAddress.map { emailAddress =>
                @bylineEmail(emailAddress)
            }
        }
        <hr />
    }
}

@defining(page.article) { article =>
    @row(Seq("no-pad")) {
        <a href="@article.metadata.webUrl" @page.email.map { email => title="View @email.name online"}>
            @imgForArticle(page.banner, page.email.map(_.name))
        </a>
    }

    @page.fallbackSeriesText.map { seriesName =>
        @row(Seq("padded")) {
            <h3 class="text--brand">@seriesName</h3>
            <hr class="rule--compact" />
        }
    }

    @row(Seq("padded")) {
        <h1>@article.trail.headline</h1>
    }

    @article.fields.standfirst.map { standfirst =>
        @row(Seq("padded"))(Html(standfirst))
    }

    @fragments.emailMainMedia(article)

    @defining(
        article.tags.contributors,
        article.tags.tones.exists { _.id == "tone/features" } ||
        article.tags.tones.exists { _.id == "tone/reviews" } ||
        article.tags.tones.exists { _.id == "tone/comment"} ||
        article.tags.tones.exists { _.id == "tone/interview"}) { case (contributors, shouldShowBylineImage) =>
        @page.article.trail.byline.map { byline =>
            @* Show byline if there is exactly one contributor      *@
            @* and this article is for one of the whitelisted tones *@
            @* and the contributor has a contributor image          *@
            @(contributors, shouldShowBylineImage) match {
                case (head :: Nil, true) if head.properties.contributorLargeImagePath.isDefined => {
                    @bylineWithImage(byline, head)
                }
                case (head :: _, _) => {
                    @bylineWithoutImage(byline, Some(head))
                }
                case _ => {
                    @bylineWithoutImage(byline, None)
                }
            }
        }
    }

    @page.article.fields.blocks.toSeq.map { blocks =>
        @blocks.body.map { block =>

            @block.elements.zipWithIndex.map { case (element, elementIndex )=>
                @element match {
                    case TextBlockElement(Some(html)) => {
                        @row(Seq("padded"))(Html(html))
                    }

                    case RichLinkBlockElement(Some(url), Some(text), _, sponsorship) => {
                        @richLinkDefault(text, url, sponsorship)
                    }

                    case EmbedBlockElement(Some(html), _, _, _) => {
                        @*row(Html(html))*@
                    }

                    case ImageBlockElement(media, data, showCredit) => {
                        @EmailImage.bestSrcFor(media).map { imageUrl =>
                            @row(Seq("no-pad")) {
                                @if(article.isTheMinute && block.url.isDefined) {
                                    <a href="@block.url.getOrElse("#")">
                                        @imgForArticle(imageUrl, data.get("alt"))
                                    </a>
                                } else {
                                    @imgForArticle(imageUrl, data.get("alt"))
                                }
                            }

                            @row(Seq("padded")) {
                                @data.get("caption").map { caption =>
                                    <div class="caption">
                                        @icon("camera")

                                        @Html(caption)

                                        @if(showCredit) {
                                            @data.get("credit").map(Html(_))
                                        }

                                        <hr />
                                    </div>
                                }
                            }
                        }
                    }

                    case GuVideoBlockElement(video, media, data) => {
                        @EmailVideoImage.bestSrcFor(media).map { imageUrl =>
                            @row(Seq("no-pad")) {
                                @data.get("url").fold {
                                    @imgForArticle(imageUrl, data.get("alt"))
                                }{ linkUrl =>
                                    <a href="@linkUrl">
                                        @imgForArticle(imageUrl, data.get("alt"))
                                    </a>
                                }
                            }
                        }
                    }

                    case ContentAtomBlockElement(atomId, atomtype, role) => {
                        @page.article.content.media.find(_.id == atomId).map { atom: MediaAtom =>
                            @atom.posterImage.flatMap(EmailVideoImage.bestSrcFor).map { imageUrl =>
                                @atom.activeAssets.headOption.map { asset =>
                                    @row(Seq("padded")) {
                                        @asset.platform match {
                                            case MediaAssetPlatform.Youtube => {
                                                <a href="https://www.youtube.com/watch?v=@asset.id">
                                                @imgForVideo(imageUrl, Some(atom.title))
                                                </a>
                                            }
                                            case _ => {
                                                @imgForVideo(imageUrl, Some(atom.title))
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    case TweetBlockElement(Some(html)) => {
                        @row(Seq("padded"))(Html(html))
                    }

                    case _ => {}
                }

                @brazePlaceholder(s"Below Element ${elementIndex + 1}")
            }
        }
    }
}
</table>
