@(report: jobs.AdStatusReport)

@if(report.isEmpty) {

    <p>No known targeting problems.</p>

} else {

    <p>There are some targeting problems:</p>

    @if(report.pageskinsWithoutEditions.nonEmpty) {
        <div>
            <p>These pageskins have no edition set:</p>
            <ul>@for(pageskin <- report.pageskinsWithoutEditions) {
                <li>@{pageskin.lineItemId}: @{pageskin.lineItemName}</li>
            }</ul>
            <p>See @controllers.admin.routes.CommercialController.renderPageskins()</p>
        </div>
    }
}
