@import views.html.fragments.form.{inputField, checkboxField}
@import _root_.form.IdFormHelpers._
@import _root_.form.Input
@import model.{Countries, PhoneNumbers, Titles}
@import org.joda.time.DateTime.now
@import helper._
@import views.html.fragments.registrationFooter

@(
    idUrlBuilder: services.IdentityUrlBuilder,
    idRequest: services.IdentityRequest,
    user: com.gu.identity.model.User,
    accountDetailsForm: Form[_root_.form.AccountFormData])(implicit request: RequestHeader, messages: play.api.i18n.Messages)

<fieldset class="fieldset">
    <div class="form__note">These details will only be visible to you and the Guardian.</div>
</fieldset>

<form class="form js-account-details-form" novalidate action="@idUrlBuilder.buildUrl("/account/edit", idRequest)" role="main" method="post">
    <button type="submit" class="is-hidden"></button>
    @views.html.helper.CSRF.formField

    @if(accountDetailsForm.globalError.isDefined) {
        <div class="form__error">@accountDetailsForm.globalErrors.map(_.message).mkString(", ")</div>
    }

    <fieldset class="fieldset">

        <div class="fieldset__heading">
            <h2 class="form__heading">Email</h2>
        </div>

        <div class="fieldset__fields">
            <ul class="u-unstyled">

                @accountDetailsForm.error("user.primaryEmailAddress").map { error =>
                    <div class="form__error">@error.message</div>
                }

                @inputField(Input(accountDetailsForm("primaryEmailAddress"), ('_label, "Email address"),
                    Symbol("data-test-id") -> "email-address"))

                <li class="form-field form-field--email-validation">
                    @if(user.statusFields.userEmailValidated.getOrElse(false)){
                        @fragments.inlineSvg("status-ok", "icon")
                        <p class="form__note">Your email address has been validated.</p>
                    }else{
                        @fragments.inlineSvg("status-alert", "icon")
                        <p class="form__note">
                            Please confirm your email address to post comments.<br />
                            <a class="u-underline js-id-send-validation-email" data-link-name="Resend verification email">Send validation email</a>
                        </p>
                    }
                </li>
            </ul>
        </div>
    </fieldset>
    <fieldset class="fieldset">

        <div class="fieldset__heading">
            <h2 class="form__heading">Phone</h2>
        </div>

                <div class="fieldset__fields">
                    <ul class="u-unstyled">

                <li class="form-field form-fields--phone">
                    <ul class="u-unstyled">
                        @if(accountDetailsForm("telephoneNumber").hasErrors) {
                            <div class="form__error">@accountDetailsForm("telephoneNumber").errors.map(_.message).mkString(", ")</div>
                        }
                        @select(
                            accountDetailsForm("telephoneNumber.countryCode"),
                            PhoneNumbers.countryCodes.map { item => (item.toString, "+" + item.toString)},
                            ('_label, "Country code"),
                            ('_showConstraints, false),
                            ('_default, ""),
                            Symbol("data-test-id") -> "telephone-number-country-code",
                            Symbol("class") -> "select--telephone-number-country-code"
                        )
                        @inputField(
                            Phone(
                                accountDetailsForm("telephoneNumber.localNumber"),
                                ('_label, "Local number"),
                                Symbol("data-test-id") -> "telephone-number-local-number"
                            )
                        )
                    </ul>
                </li>
                @if(!accountDetailsForm("telephoneNumber").hasErrors && accountDetailsForm("telephoneNumber.localNumber").value.nonEmpty) {
                    <button type="submit" class="manage-account__button" data-link-name="Delete Phone Number" name="deleteTelephoneNumber" value="true">
                        Delete Phone Number</button>
                }
            </ul>
        </div>

    </fieldset>

    <fieldset class="fieldset">

        <div class="fieldset__heading">
            <h2 class="form__heading">Personal information</h2>
        </div>

        <div class="fieldset__fields">
            <ul class="u-unstyled">

                @select(
                    accountDetailsForm("title"),
                    Titles.titles.map { item => (item,item)},
                    ('_label, "Title"),
                    ('_default, "")
                )
                @inputField(Input(accountDetailsForm("firstName"), ('_label, "First name"), Symbol("data-test-id") -> "first-name"))
                @inputField(Input(accountDetailsForm("secondName"), ('_label, "Last name"), Symbol("data-test-id") -> "last-name"))

                <li class="form-field form-fields__inline form-fields--date-of-birth">
                    <span class="form-fields__heading">Date of birth</span>
                    <ul class="u-unstyled">
                        @if(accountDetailsForm("birthDate").hasErrors) {
                            <div class="form__error">@accountDetailsForm("birthDate").errors.map(_.message).mkString(", ")</div>
                        }
                        @select(
                            accountDetailsForm("birthDate.day"),
                            options((1 to 31).toList map {_.toString}),
                            ('_label, "Day"),
                            ('_showConstraints, false),
                            ('_default, "")
                        )
                        @select(
                            accountDetailsForm("birthDate.month"),
                            options((1 to 12).toList map {_.toString}),
                            ('_label, "Month"),
                            ('_showConstraints, false),
                            ('_default, "")
                        )
                        @select(
                            accountDetailsForm("birthDate.year"),
                            options((1850 to now.getYear).reverse.toList map {_.toString}),
                            ('_label, "Year"),
                            ('_showConstraints, false),
                            ('_default, "")
                        )
                    </ul>
                </li>
            </ul>
        </div>
    </fieldset>

    <fieldset class="fieldset">
        <div class="fieldset__heading">
            <h2 class="form__heading">Correspondence address</h2>
            <div class="form-field__note">
                If you wish to change the delivery address for your paper subscription vouchers, home delivery, or Guardian Weekly please see <a href="https://www.theguardian.com/help/2017/dec/11/help-with-updating-your-contact-or-delivery-details" rel="noopener" target="_blank">Help with updating your contact or delivery details.</a>
            </div>
        </div>

        <div class="fieldset__fields">
            <ul class="u-unstyled">
                @inputField(Input(accountDetailsForm("address.line1"), ('_label, "Address line 1"), (Symbol("data-test-id"), "addr-line-1")))
                @inputField(Input(accountDetailsForm("address.line2"), ('_label, "Address line 2"), (Symbol("data-test-id"), "addr-line-2")))
                @inputField(Input(accountDetailsForm("address.line3"), ('_label, "Town"), (Symbol("data-test-id"), "addr-town")))
                @inputField(Input(accountDetailsForm("address.line4"), ('_label, "County or State"), (Symbol("data-test-id"), "addr-county")))
                @inputField(Input(accountDetailsForm("address.postcode"), ('_label, "Postcode/Zipcode"), (Symbol("data-test-id"), "addr-postcode")))
                @select(
                    accountDetailsForm("address.country"),
                    ("", "None") :: (Countries.withCustom(user.privateFields.country) map {c => (c, c)}),
                    ('_label, "Country"),
                    ('_default, ""), (Symbol("data-test-id"), "addr-country")
                )
            </ul>
        </div>
    </fieldset>

    @if(user.privateFields.billingAddress1) {

        <fieldset class="fieldset">
            <div class="fieldset__heading">
                <h2 class="form__heading">Billing address</h2>
            </div>

            <div class="fieldset__fields">
                <ul class="u-unstyled">
                    @inputField(Input(accountDetailsForm("billingAddress.line1"), ('_label, "Address line 1"), (Symbol("data-test-id"), "addr-line-1")))
                    @inputField(Input(accountDetailsForm("billingAddress.line2"), ('_label, "Address line 2"), (Symbol("data-test-id"), "addr-line-2")))
                    @inputField(Input(accountDetailsForm("billingAddress.line3"), ('_label, "Town"), (Symbol("data-test-id"), "addr-town")))
                    @inputField(Input(accountDetailsForm("billingAddress.line4"), ('_label, "County or State"), (Symbol("data-test-id"), "addr-county")))
                    @inputField(Input(accountDetailsForm("billingAddress.postcode"), ('_label, "Postcode/Zipcode"), (Symbol("data-test-id"), "addr-postcode")))
                    @select(
                        accountDetailsForm("billingAddress.country"),
                        ("", "None") :: (Countries.withCustom(user.privateFields.billingCountry) map {c => (c, c)}),
                        ('_label, "Country"),
                        ('_default, ""), (Symbol("data-test-id"), "addr-country")
                    )
                </ul>
            </div>
        </fieldset>
    }

    <fieldset class="fieldset">
        <div class="fieldset__heading">
            <h2 class="form__heading">Profiling</h2>
        </div>
        <div class="fieldset__fields">
            <ul class="u-unstyled">
                @accountDetailsForm.error("statusFields.allowThirdPartyProfiling").map { error =>
                    <div class="form__error">@error.message</div>
                }

                <label class="label">In addition to the data that you provide to us, we may also match profiling data from third parties with your registration details.</label>

                @checkboxField(
                    Checkbox(
                        accountDetailsForm("allowThirdPartyProfiling"),
                        ('_label, "Allow matching with third party data"), Symbol("data-test-id") -> "profiling")
                )(nonInputFields, messages)
            </ul>
        </div>
    </fieldset>

    <fieldset class="fieldset">
        <div class="fieldset__heading"></div>
        <div class="fieldset__fields">
            <button type="submit" class="manage-account__button manage-account__button--icon" data-link-name="Create account" data-test-id="save-changes">
                <div class="manage-account__button-flexwrap">
                    <span>Save changes</span>
                    @fragments.inlineSvg("tick-button", "icon")
                </div>
            </button>
        </div>
    </fieldset>


</form>

@registrationFooter(idRequest, idUrlBuilder)
