@(user: com.gu.identity.model.User)
<ul class="details-list details-list--lower u-unstyled">
    <li class="details-list__item">
        <div class="fieldset__heading">
            <h2 class="form__heading">
                Cancel contribution
            </h2>
        </div>

        <div class="fieldset__fields u-cf">
            <div class="form-field">
                <button id="qa-cancel-contribution" class="manage-account__button manage-account-cta js-manage-account-cancel-contribution" data-link-name="Cancel contribution" data-email="@user.primaryEmailAddress">
                    Cancel</button>
            </div>
        </div>
    </li>
</ul>
