@(page: model.MetaData, idRequest: services.IdentityRequest, idUrlBuilder: services.IdentityUrlBuilder, emailPrefsForm: Form[(Boolean, Boolean, String)])(implicit request: RequestHeader)

@import views.html.fragments.form.{checkboxField, radioField}
@import form.IdFormHelpers._

@identityMain(page, conf.Switches.all){
}{
    <div class="identity-wrapper">
        <h1>Email preferences</h1>

        <form class="form" novalidate action="@idUrlBuilder.buildUrl("/email-prefs", idRequest)" role="main" method="post">
            @views.html.helper.CSRF.formField
            @if(emailPrefsForm.globalError.isDefined) {
              <div class="form__error">@emailPrefsForm.globalErrors.map(_.message).mkString(", ")</div>
            }

            <ul class="form-fields">
                <li class="form-field @if(emailPrefsForm("email_format").errors.nonEmpty) {form-field--error}">
                    <div class="label">How do you like to receive your emails?</div>
                    <div class="form-field__note">HTML emails contain formatting and are generally prettier, and will contain images. Text emails are quicker to download, but don't contain images or formatting.
                    <br>We recommend HTML emails.</div>

                    @radioField(emailPrefsForm("email_format"), List("HTML" -> "Images & text (HTML)", "Text" -> "Text"))(nonInputFields)
                </li>
                <li class="form-field @if((emailPrefsForm("receive_gnm_marketing").errors ++ emailPrefsForm("receive_third_party_marketing").errors).nonEmpty) {form-field--error}">
                    <div class="label">Would you like to receive information from the Guardian and their partners?</div>
                    <div class="form-field__note">The Guardian and their partners would like to occasionally send you information about their products, services and events.</div>

                    <div class="form-fields-group">
                        @checkboxField(Checkbox(emailPrefsForm("receive_gnm_marketing"), '_label -> "Receive email from Guardian News & Media Ltd."))(nonInputFields)
                        @checkboxField(Checkbox(emailPrefsForm("receive_third_party_marketing"), '_label -> "Receive email from other organisations"))(nonInputFields)
                    </div>
                </li>
                <li>
                    <button type="submit" class="submit-input" data-link-name="Save email preferences">Save</button>
                </li>
            </ul>
        </form>
    </div>
}
