@* FIXME: To be deleted after GDPR goes live *@

@import views.html.fragments.form.switch
@import _root_.form.IdFormHelpers.nonInputFields
@import com.gu.identity.model.Consent._
@import views.support.fragment.Switch._

@(idUrlBuilder: services.IdentityUrlBuilder,
  idRequest: services.IdentityRequest,
  privacyForm: Form[_root_.form.PrivacyFormData])(implicit request: RequestHeader, messages: play.api.i18n.Messages)


@consentCheckboxes = {
    <div class="manage-account__switches manage-account__switches--narrow">
        <ul>
            <li>
                @switch(
                    title = FirstParty.latestWording.wording,
                    subheading = None,
                    description = None,
                    behaviour = ConsentSwitch,
                    field = privacyForm("receiveGnmMarketing")
                )(nonInputFields, messages)
            </li>
            <li>
                @switch(
                    title = ThirdParty.latestWording.wording,
                    subheading = None,
                    description = None,
                    behaviour = ConsentSwitch,
                    field = privacyForm("receive3rdPartyMarketing")
                )(nonInputFields, messages)
            </li>
        </ul>
    </div>
}

@* MARKETING CONSENT *@
<form class="js-public-profile-form" novalidate action="@idUrlBuilder.buildUrl("/privacy/edit", idRequest)" role="main" method="post">
    @views.html.helper.CSRF.formField

    @* This displays both global and key-bound errors *@
    @if(privacyForm.hasErrors) {
        <div class="form__error">
            Error processing the form. Your changes have not been saved:
            <p>@privacyForm.errors.map(formError => (formError.key, formError.message)).mkString(", ")</p>
        </div>
    }

    <div class="js-errorHolder manage-account__errors"></div>

    @* Marketing Consent *@
    <fieldset class="fieldset fieldset--manage-account-noborder">

        <div class="fieldset__heading">
            <h2 class="form__heading">What can we tell you about?</h2>
        </div>

        <div class="fieldset__fields">
            <ul class="u-unstyled">
                <li class="form-field">
                    <label class="label">The Guardian and their partners would like to occasionally send you information about their products, services and events.</label>
                    <div class="form-fields-group">
                        @consentCheckboxes
                    </div>
                </li>
            </ul>
        </div>
    </fieldset>

    @* Profiling *@
    <fieldset class="fieldset">
        <div class="fieldset__heading">
            <h2 class="form__heading">Profiling</h2>
        </div>
        <div class="fieldset__fields">
            <ul class="u-unstyled">
                <li class="form-field">
                    <label class="label">In addition to the data that you provide to us, we may also match profiling data from third parties with your registration details.</label>

                    <div class="manage-account__switches manage-account__switches--narrow">
                        <ul>
                            <li>
                            @fragments.form.switch(
                                title = "Allow matching with third party data",
                                subheading = None,
                                description = None,
                                behaviour = ConsentSwitch,
                                field = privacyForm("allowThirdPartyProfiling")
                            )(nonInputFields, messages)
                            </li>
                        </ul>
                    </div>

                </li>
            </ul>
        </div>
    </fieldset>

    @* Submit button *@
    <fieldset class="fieldset js-manage-account__ajaxForm-submit">
        <div class="fieldset__heading"></div>
        <div class="fieldset__fields">
            <ul class="u-unstyled">
                <li>
                    <button type="submit" class="manage-account__button" data-link-name="Save privacy preferences">Save changes</button>
                </li>
            </ul>
        </div>

    </fieldset>
</form>

