@import views.html.fragments.registrationFooter
@import _root_.form.IdFormHelpers.nonInputFields
@import com.gu.identity.model.Consent
@import com.gu.identity.model.Consent._
@import model.IdentityPage
@import com.gu.identity.model.EmailNewsletters
@import services.EmailPrefsData
@import views.support.fragment.Switch._
@import views.support.fragment.ConsentChannel._

@(idUrlBuilder: services.IdentityUrlBuilder,
  idRequest: services.IdentityRequest,
  user: com.gu.identity.model.User,
  privacyForm: Form[_root_.form.PrivacyFormData],
  emailPrefsForm: Form[EmailPrefsData],
  emailSubscriptions: List[String],
  availableLists: EmailNewsletters,
  consentsUpdated: Boolean = false,
  consentHint: Option[String] = None
)(implicit request: RequestHeader, messages: play.api.i18n.Messages)

@smsConsent = {
    <fieldset class="fieldset fieldset--manage-account-noborder">
        <div class="fieldset__heading">
            <h2 class="form__heading"></h2>
        </div>
        <div class="fieldset__fields">
            <p class="form__heading">Would you also like to hear about the above by SMS?</p>
            @views.html.profile.smsConsent(idUrlBuilder, idRequest, privacyForm, user)(request, messages)
        </div>
    </fieldset>
}

@marketingConsentForm = {
    <form class="js-public-profile-form" novalidate action="@idUrlBuilder.buildUrl("/privacy/edit", idRequest)" role="form" method="post">
        @views.html.helper.CSRF.formField

        <fieldset class="fieldset fieldset--manage-account-noborder">

            <div class="fieldset__heading">
                <h2 class="form__heading">What else would you like to hear about by email?</h2>
                <p class="form__note">From time to time, we'd love to be able to send you information about our products, services and events.</p>
            </div>

            <div class="fieldset__fields fieldset__fields--opt-in">

                <div class="manage-account__switches manage-account__switches--single-column">
                    <ul>
                    @helper.repeatWithIndex(privacyForm("consents"), min=1) { (consentField, index) =>
                        @if(!isChannel(consentField)) {
                            <li>
                                @if(index == 0) {
                                    @fragments.consentSwitch(consentField, consentHint)(messages)
                                } else {
                                    @fragments.consentSwitch(consentField)(messages)
                                }
                            </li>
                        }
                    }
                    </ul>
                </div>
            </div>

        </fieldset>

        <fieldset class="fieldset fieldset--manage-account-rightsubmit js-manage-account__ajaxForm-submit">
            <div class="fieldset__heading"></div>
            <div class="fieldset__fields">
                <ul class="u-unstyled">
                    <li>
                        <button type="submit" class="manage-account__button" data-link-name="Save privacy preferences">Save changes</button>
                    </li>
                </ul>
            </div>

        </fieldset>
    </form>
}

@if(consentsUpdated) {
    <div class="form__success">
        <h2>Thank you</h2>
        <p>Your Email preferences have been updated.</p>
    </div>
}

@* This displays both global and key-bound errors *@
@if(privacyForm.hasErrors) {
    <div class="form__error" role="alert" aria-live="polite">
        Error processing the form. Your changes have not been saved:
        <p>@privacyForm.errors.map(formError => (formError.key, formError.message)).mkString(", ")</p>
    </div>
}

<div class="js-errorHolder manage-account__errors"></div>

@* NEWSLETTERS *@
@profile.emailPrefs(IdentityPage("/email-prefs", "Email preferences"), emailPrefsForm, emailSubscriptions, availableLists, idRequest, idUrlBuilder)

@* MARKETING CONSENT *@
<hr class="manage-account-divider" />
@marketingConsentForm
@smsConsent

@* EMAIL SETTINGS *@
@views.html.profile.emailSettings(idRequest, idUrlBuilder, user)

@* CHANNELS *@
<hr class="manage-account-divider" />

@views.html.profile.otherChannels(idUrlBuilder, idRequest, privacyForm, user)(request, messages)

@registrationFooter(idRequest, idUrlBuilder)
