@(page: model.Page, savedArticleForm: Form[SavedArticleData], pageData: model.SaveForLaterPageData)(implicit request: RequestHeader)

@import common.SimplePagePaths
@import controllers.SaveForLaterCleaner

@main(page, projectName = Option("identity")) {
}{
    @SaveForLaterCleaner(body().toString)
}

@body() = {
    <div class="l-side-margins">
        <section class="fc-container fc-container--first">
            <div class="fc-container__inner">
                <!-- Open form here and handle errors here -->
                <form class="form js-saved-content-form" novalidate action="@(pageData.formActionUrl)" role="main" method="post">
                    <div class="fc-container__header">
                        <h1 class="fc-container__header__title saved-content_header__title">saved for later</h1>

                        <div class="saved-content__header__description">you have @(pageData.totalArticlesSaved) saved articles</div>

                        @if(pageData.totalArticlesSaved > 0) {
                            <div class="js-save-for-later__delete-all save-for-later__delete-all-container"></div>
                        }
                    </div>
                    <div class="fc-container__body">
                        @if(savedArticleForm.globalError.isDefined) {
                            <div class="form__error">@savedArticleForm.globalErrors.map(_.message).mkString(", ")</div>
                        }
                        @fragments.profile.saveForLater.contentListPage(pageData.savedItems)
                        <div class="saved-content__list-nav js-saved-content__list-nav">
                            @fragments.pagination(page.metadata.webTitle, pageData.pagination, SimplePagePaths(pageData.paginationUrl), None, false, None )
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
}
