@(page: model.MetaData, savedArticleForm: Form[SavedArticleData], pageData: model.SaveForLaterPageData)(implicit request: RequestHeader)

@import model.Content
@import model.SaveForLaterPageData

@main(page, projectName = Option("identity")) {
}{
    <div class="identity-wrapper monocolumn-wrapper">
        <h1 class="identity-title">Saved Articles</h1>
        @if(savedArticleForm.globalError.isDefined) {
            <div class="form__error">@savedArticleForm.globalErrors.map(_.message).mkString(", ")</div>
        }
            <!-- Open form here and handle errors here -->
        <form class="form js-saved-content-form" novalidate action="@(pageData.formActionUrl)" role="main" method="post">
            @fragments.profile.saveForLater.contentListPage(pageData.contentCards)
            <fieldset class="fieldset">
                <ul class="u-unstyled">

                    <li class="form-field">
                        <label class="label"> Delete individual articles with the button above, or click below to remove them all</label>
                        <div class="form-field__note js-saved-content__num-articles">
                            you have @(pageData.totalArticlesSaved) saved articles. Page @(pageData.pageNum) of @(pageData.totalPages)
                        </div>
                    </li>

                    <li>
                        <button type="submit" class="submit-input js-saved-content__button-delete-all" name="deleteArticle" value="all" data-link-name="Saved deletre all">Delete All</button>
                    </li>
                </ul>
            </fieldset>
        </form>
        <div class="saved-content__list-nav js-saved-content__list-nav">
            @pageData.prevPage.map { prev =>
                <a href="@(prev)" class="submit-input js-saved-content__prev" data-link-name="saved content next page">Prev</a>
            }
            @pageData.nextPage.map { next =>
                <a href="@(next)" class="submit-input js-saved-content__next" data-link-name="saved content next page">Next</a>
            }
        </div>

    </div>
}
