@(article: content.Article)
@import fragments._

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

    <title>@article.headline</title>
        
    <link rel="shortcut icon" type="image/png" href="@controllers.Static.at("images/favicon.png")">

    <link rel="stylesheet" media="screen" type="text/css" href="http://1.gu-pasteup.appspot.com/css/pasteup.css" />

    <!-- Add layout styles for browsers over 400px or less than IE9, but not IE mobile or IE6. -->
    <link rel="stylesheet" media="screen and (min-width: 400px)" href="@controllers.Static.at("stylesheets/grid.responsive.css")">
    <!--[if (lt IE 9) & (!IEMobile) & (gt IE6)]>
        <link rel="stylesheet" type="text/css" href="@controllers.Static.at("stylesheets/grid.responsive.css")">
    <![endif]-->

    <script data-main="@controllers.Static.at("javascripts/main.min.js")" src="@controllers.Static.at("javascripts/require.js")"></script>

</head>

<body>

    <div id="container">

        <div class="line">

            <div class="unit size2of3">
                @fragments.headline(article.headline)
                @article.images.find( i => i.rel == "alt-size" && i.width < 250 && i.width > 140).map{ image =>
                    <img style="width: 100%;" class="upscalable" src="@image.url" data-hisrc='@article.images.find(_.rel == "body").map { full => @full.url }' />
                }

                @Html(article.body)
            </div>

            <div class="unit size1of3 lastUnit">
                <ul>
                @article.tags.map{ tag =>
                    <li>@fragments.formatTags(tag)</li>
                }
                </ul>
            </div>
        </div>

    </div>

    <div id="debug">
        <strong>debug info</strong>
        <ul>
            <li>Screen height: <span id="screenHeight"></span></li>
            <li>Screen width: <span id="screenWidth"></span></li>
            <li>Window height: <span id="windowHeight"></span></li>
            <li>Window width: <span id="windowWidth"></span></li>
            <li>Layout mode: <span id="layout"></span></li>
            <li>Connection Speed: <span id="bandwidth"></span></li>
            <li>Battery: <span id="battery"></span></li>
            <li>Pixel Ratio: <span id="pixelratio"></span></li>
            <li>Retina display: <span id="retina"></span></li>
        </ul>
        <button onclick="guardian.show_screen_size();">Update sizes</button>
    </div>

</body>
</html>
