@(frontTitle: String, editorsPicks: Seq[Trail], mostViewed: Seq[Trail])
@import fragments._
@import conf._

<!DOCTYPE html>

<html>

<head>

    <script>
        var guardian = {};
    </script>
    @* @fragments.metaData(tag) *@

    <title>@frontTitle | beta.guardian.co.uk</title>

    <link rel="shortcut icon" type="image/png" href="@Static("images/favicon.png")">

    <link rel="stylesheet" media="screen" type="text/css" href="http://2.gu-pasteup.appspot.com/css/pasteup.css" />

    <!-- Add layout styles for browsers over 400px or less than IE9, but not IE mobile or IE6. -->
    <link rel="stylesheet" media="screen and (min-width: 400px)" href="@Static("stylesheets/grid.responsive.css")">

    <link rel="stylesheet" type="text/css" href="@Static("stylesheets/main.css")">

    <!--[if (lt IE 9) & (!IEMobile) & (gt IE6)]>
        <link rel="stylesheet" type="text/css" href="@Static("stylesheets/grid.responsive.css")">
    <![endif]-->

    <script data-main="@Static("javascripts/main.min.js")" src="http://3.gu-pasteup.appspot.com/js/require.js"></script>


</head>

<body>

    <div id="container">

        <div class="line">

            <div class="unit size1of1">

                    @fragments.headline( frontTitle )

                    <h2>Top stories</h2>

            </div>
        </div>

        @defining(editorsPicks.take(5)){ trails =>
            <div class="line">
                @trails.map{ trail =>
                    <div class="unit size1of2">
                        @fragments.formatTrail(trail)
                    </div>
                }
            </div>
        }

        <div class="unit size1of1">

            <h2>Most viewed</h2>

        </div>

        @defining(mostViewed.take(5)){ trails =>
            <div class="line">
                @trails.map{ trail =>
                    <div class="unit size1of2">
                        @fragments.formatTrail(trail)
                    </div>
                }
            </div>
        }

    </div>

    <div id="debug">
        <strong>debug info</strong>
        <ul>
            <li>Screen height: <span id="screenHeight"></span></li>
            <li>Screen width: <span id="screenWidth"></span></li>
            <li>Window height: <span id="windowHeight"></span></li>
            <li>Window width: <span id="windowWidth"></span></li>
            <li>Layout mode: <span id="layout"></span></li>
            <li>Connection Speed: <span id="bandwidth"></span></li>
            <li>Battery: <span id="battery"></span></li>
            <li>Pixel Ratio: <span id="pixelratio"></span></li>
            <li>Retina display: <span id="retina"></span></li>
        </ul>
    </div>

    <script>
        require(['@Configuration.plugins.location'], function(){});
    </script>
</body>
</html>
