{
    "presets": [
        ["env", {
            "modules": false
        }],
        "flow"
    ],
    "plugins": [
        "babel-plugin-transform-object-rest-spread",
        ["babel-plugin-transform-react-jsx", {
            "pragma": "h"
        }]
    ],
    "env": {
        "development": {
            "plugins": [
                ["babel-plugin-preact-require", {
                    "lib/h.jsx": "h"
                }]
            ]
        },
        "production": {
            "plugins": [
                ["babel-plugin-preact-require", {
                    "lib/h.jsx": "h"
                }]
            ]
        },
        "test": {
            "plugins": [
                ["babel-plugin-preact-require", {
                    "lib/h.jsx": "h"
                }],
                "babel-plugin-transform-es2015-modules-commonjs"
            ]
        }
    }
}
