{
    "presets": [
        ["babel-preset-env", {
            "modules": false
        }],
        "babel-preset-flow"
    ],
    "plugins": [
        "babel-plugin-transform-object-rest-spread",
        "babel-plugin-emotion",
        ["babel-plugin-transform-runtime", {
            "polyfill": false
        }],
        ["babel-plugin-transform-react-jsx", {
            "pragma": "h"
        }]
    ],
    "env": {
        "development": {
            "plugins": [
                ["babel-plugin-provide-modules", {
                    "utils/h.jsx": "h"
                }]
            ]
        },
        "production": {
            "plugins": [
                ["babel-plugin-provide-modules", {
                    "utils/h.jsx": "h"
                }]
            ]
        },
        "test": {
            "plugins": [
                ["babel-plugin-provide-modules", {
                    "utils/h.jsx": "h"
                }],
                "babel-plugin-transform-es2015-modules-commonjs"
            ]
        }
    }
}
