# for perf reasons, exclude all files by default
/*

# since we'll opting their parents back in, we need to explicitly exclude these
node_modules
__flow__
flow-type*
__snapshots__
dist

# generic options
!.eslintrc.js

# include src
!/src
