// Styles for elements available for painting at initial load
@mixin tone-head($tone, $colour, $accentColour) {
    .tone-#{$tone} {
        .tone-colour,
        %tone-colour,
        &.tone-colour {
            &,
            &:active,
            &:focus,
            &:hover {
                color: $colour;
            }
        }

        .tone-border,
        &.tone-border {
            border-color: $colour;
        }

        .tone-accent-border,
        &.tone-accent-border {
            border-color: $accentColour;
        }

        .tone-background,
        %tone-background,
        &.tone-background {
            background-color: $colour;
        }

        .is-summary > .block-title {
            color: $colour;
        }
    }
}

// Styles with global dependencies
// or for elements which painting can be delayed
@mixin tone-comment-icon($tone, $standfirstCommentIcon) {
    .tonal--tone-#{$tone} {
        .commentcount i {
            @extend %i-comment-tone-#{$tone};

            @if $svg-support {
                .svg & {
                    @extend %svg-i-comment-tone-#{$tone};
                }
            }
        }

         .content__head__comment-count {
            .commentcount i {
                @extend %i-comment-tone-#{$standfirstCommentIcon};

                @if $svg-support {
                    .svg & {
                        @extend %svg-i-comment-tone-#{$standfirstCommentIcon};
                    }
                }
            }
        }
    }
}

@mixin tone-article(
    $tone,
    $tonal__header-background,
    $tonal__header-text,
    $tonal__header-link,
    $tonal__standfirst-background,
    $tonal__standfirst-text,
    $tonal__standfirst-link,
    $tonal__article-background,
    $tonal__article-link,
    $tonal__headline-weight,
    $tonal__headline-colour,
    $tonal__headline-accent
    ) {
    .tonal--tone-#{$tone} {
        .tonal__header {
            background-color: $tonal__header-background;

            .content__labels {
                border-bottom-color: rgba($tonal__header-text, 0.3);
            }

            .content__section-label__link {
                color: $tonal__header-link;
            }

            .content__series-label__link {
                color: $tonal__header-text;
            }

            .content__headline,
            .content__head__comment-count .tone-colour {
                color: $tonal__headline-colour;
            }

            .content__headline {
                font-weight: $tonal__headline-weight;
            }

            .content__headline--byline .tone-colour,
            .content__headline--kicker {
                color: $tonal__headline-accent;
            }

            @include stars($width: 18px, $margin-top: -($gs-baseline * 1.5), $margin-bottom: $gs-baseline * 1.5, $margin-right: 2px);

            .stars {
                @include mq(tablet) {
                    margin-top: -($gs-baseline * 2.5);
                }
            }
        }

        .tonal__standfirst {
            color: $tonal__standfirst-text;
            background-color: $tonal__standfirst-background;
            padding-top: $gs-baseline / 2;

            .content__standfirst {
                color: $tonal__standfirst-text;
            }

            .content__meta-container--liveblog {
                border-top-color: rgba($tonal__header-text, 0.3);
            }

            .byline-img {
                background-color: rgba($tonal__header-background, 0.5);
            }

            .bullet:before,
            ul > li:before {
                background-color: rgba($tonal__standfirst-text, 0.7);
            }

            .u-underline {
                color: $tonal__standfirst-link;
                border-bottom-color: rgba($tonal__standfirst-text, 0.3);

                &:hover {
                    color: $tonal__standfirst-link;
                    border-bottom-color: rgba($tonal__standfirst-text, 0.7);
                }
            }
        }

        .tonal__article {
            background-color: $tonal__article-background;
            padding-bottom: $gs-baseline*3;

            @include mq(phablet) {
                padding-top: $gs-baseline * 2;
            }

            .drop-cap,
            .tone-colour {
                color: $tonal__article-link;
            }
        }
    }
}
