@()

<div class="site-message cta-new--blue">
    <p class="site-message__body">We are experimenting today with a new way to show stories</p>
    <div class="cta-new cta-new--story">
        <a data-link-name="Give feedback" href="http://survey.omniture.com/d1/hosted/6cfdfb6ffc">
	        <span class="cta-new__text">Give us your feedback</span>
	        <span class="cta-new__icn">
                <i class="i i-arrow-white-down cta-new__icn--right"></i>
            </span>
        </a>
    </div>
</div>