@(story: Story, page: StoryPage, paras: Int)(implicit request: RequestHeader)

@renderLatest(content: Seq[model.Content], page: StoryPage) = {
    @content.map{
        case a: Article => {
            <article id="article" class="article @if(a.isLive){is-live}">
                <header class="article-head">
                
                    <h3 class="story-sub-head">
                        @story.labels.getOrElse("latest", "Latest")
                    </h3>

                    @fragments.dateline(a.webPublicationDate, a.isLive)

                    <h2 class="article-headline">@a.headline</h2>

                    @if(!a.isLive && !a.hasVideoAtTop) {
                        @a.mainPicture.map{ mainPicture =>
                            @a.mainPicture(width=220).map{ smallCrop =>
                                @fragments.img(mainPicture, smallCrop)
                            }
                        }
                    }
                </header>

                @fragments.byline(a.byline, a)

                <div class="article-body from-content-api @if(a.isLive) {live-blog}">
                    <div class="sample-paras">
                        @withJsoup(BulletCleaner(a.body))(
                            PictureCleaner(a),
                            InBodyLinkCleaner("in body link"),
                            BlockNumberCleaner,
                            TweetCleaner,
                            WitnessCleaner,
                            Summary(paras)
                        )
                    </div>
                    <p><a class="continue" data-link-name="Continue reading" data-skip-paras="@paras" href="@a.url">Continue reading...</a></p>
                </div>

                @fragments.social(page)
            </article>
        }
    }
}

<section class="story-latest">
    @renderLatest(story.contentByImportance.take(1), page)
</section>

