@(story: model.Story, edition: String)

<div class="margin-top margin-bottom">
    <div class="story-package-title">
        <div class="article-zone-sub">
            <a class="zone-color" data-link-name="section heading" href="/stories/@story.id">@story.title:</a>
        </div>
        <div>
            <a class="type-2 zone-color" data-link-name="section heading" href="/stories/@story.id">@story.events(0).title</a> 
        </div>
    </div>
    <div class="story-package-detail">
        @fragments.latest(story, edition, 2)
        @fragments.quote(story, 0)
        @fragments.explainer(story)
        @fragments.quote(story, 1)
        @fragments.agents(story)
        @fragments.timeline(story)
        @fragments.latestStoriesJS()
    </div>
</div>
