@(story: model.Story)

<div class="margin-bottom border-top border-bottom">
    <div class="margin-top">
        <a class="zone-color" data-link-name="section heading" href="/stories/@story.id">@story.title:</a>
    </div>
    <div class="margin-bottom">
        <a class="type-2 zone-color" data-link-name="section heading" href="/stories/@story.id">@story.events(0).title</a> 
    </div>
    <div class="story-package-detail">
        @if(story.hasContent) {
            <p class="type-2">Latest</p>
            <section class="story-latest">
                @fragments.trailblocks.thumbnail(story.contentByImportance, 3, true, 3)
            </section>
        }
    </div>
</div>
