@import 'https://fonts.googleapis.com/css?family=Schoolbell|Space+Mono';

@keyframes background {
    0% {
        background-color: hsl(338, 100%, 93%);
    }
    33% {
        background-color: hsl(89, 100%, 93%);
    }
    66% {
        background-color: hsl(183, 100%, 93%);
    }
    100% {
        background-color: hsl(338, 100%, 93%);
    }
}

.number {
    font-family: 'Space Mono';
    -webkit-font-smoothing: none;
    text-shadow: rgba(255,255,255,0.4) 1px 1px 0px, rgba(0,0,0,0.2) 2px 2px 0px;
}

body {
    /* Unset UAS body */
    margin: 0;
    padding: 0 10vw;
    font-family: 'Schoolbell';
    background-color: #E5F9FF;
}

#root > h1 {
    font-size: 6vw;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: bold;
    flex-basis: 100%
}

h1 {
    font-size: 3vw;
    text-align: center;
}

h2 {
    font-size: 2.2rem;
}

.deploys {
    list-style: none;
    /*Clearfix*/
    overflow: hidden;
    /* Unset UAS UL */
    padding-left: 0;
    /* Unset UAS UL */
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3rem;
}

.deploy {
    width: 100%;
    margin-bottom: 1vw;
    box-sizing: border-box;
    padding: 1em;
    float: left;
}

.deploy h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 6vw;
    line-height: 1;
}

.deploy ul {
    list-style: none;
    /* Unset UAS UL */
    padding-left: 0;
    margin-top: 0.5em;
    /* Unset UAS UL */
    margin-bottom: 0;
}

.deploy li {
     display: block;
     font-size: 3vw
}

.deploy--completed {
    background-color: hsl(120, 50%, 80%);
}

.deploy--running {
    background-color: hsl(30, 100%, 80%);
}

.deploy--not-running {
    background-color: hsl(0, 0%, 80%);
}

.deploy--failed {
    background-color: hsl(0, 50%, 80%);
}

.builds h2 {
    font-size: 3.5vw;
    line-height: 1;
}

.builds ul {
    list-style-type: none;
    text-align: center;
    background-color: blueviolet;
    color: white;
    padding: 1vw 0;
}

.builds li {
    margin-bottom: 0;
}

.hidden {
    display: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    text-decoration: underline;
}

/*Clearfix*/
.row {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.col {
    box-sizing: border-box;
    padding: 0 1vw;
    flex: 1
}
