@(
    name: String,
    adTypes: Seq[String],
    sizeMapping: Map[String, Seq[String]],
    showLabel: Boolean = true,
    refresh: Boolean = true,
    outOfPage: Boolean = false,
    forceDisplay: Boolean = false,
    contentSponsor: Option[String] = None,
    paidForContentType: Option[String] = None,
    fluid: Boolean = false
)(placeholderContent: Html)
@import conf.switches.Switches._

<div
    id="dfp-ad--@name"
    class="js-ad-slot ad-slot ad-slot--dfp ad-slot--@name @adTypes.map{ adType =>ad-slot--@adType}.mkString(" ")@if(forceDisplay) { ad-slot--force-display}"
    data-link-name="ad slot @name"
    @for(sponsor <- contentSponsor) { data-sponsor="@sponsor" }
    @for(paidForType <- paidForContentType) { data-sponsorship="@paidForType" }
    data-test-id="ad-slot-@name"
    data-name="@name"
    @if(!showLabel){ data-label="false" }
    @if(!refresh){ data-refresh="false" }
    @if(outOfPage){ data-out-of-page="true" }
    @sizeMapping.map{ case(breakpoint, sizes) =>
        data-@breakpoint="@sizes.mkString("|")"
    }
    @if(fluid && FluidAdvertsSwitch.isSwitchedOn){ data-fluid="true" }
    >@placeholderContent</div>
