@(branding: common.commercial.Branding, isInteractivePage: Boolean, isCardBranding: Boolean, isOnTheLeft: Boolean)(implicit request: RequestHeader)
@import common.commercial.PaidContent
@import implicits.Requests.RichRequestHeader

<div class="adverts__badge js-badge
    @if(isInteractivePage || isOnTheLeft) {adverts__badge--alt}
    @if(isInteractivePage) {adverts__badge--interactive}
    @if(isCardBranding) {adverts__badge--card-branding}
    ">
    @branding.label
    <a class="adverts__badge__link" href="@branding.sponsorLink" data-link-name="logo link">
        @if(request.isAmp) {
            @branding.sponsorLogo.dimensions.map { dim =>
                <amp-img src="@branding.sponsorLogo.url"
                width="@dim.width"
                height="@dim.height"
                alt="@{branding.sponsorName}'s logo"
                class="adverts__badge__logo"></amp-img>
            }.getOrElse {
                <p>@branding.sponsorName</p>
            }
        } else {
            <img src="@branding.sponsorLogo.url"
                @for(dim <- branding.sponsorLogo.dimensions) {
                    width="@dim.width"
                    height="@dim.height"
                }
            alt="@{branding.sponsorName}'s logo"
            class="adverts__badge__logo">
        }
    </a>
    @if(branding.sponsorshipType != PaidContent) {
        <a href="@branding.aboutThisLink" class="adverts__badge__help">About this content</a>
    }
</div>
