@import common.commercial.DiscountCodeLinks

<section class="gs-container colophon fc-discount-merchants">
    <div class="fc-discount-merchants__inner">
        <h4 class="dumathoin__title fc-discount-merchants__title">Discount Codes</h4>
        <div class="fc-discount-merchants__content">
            <p class="fc-discount-merchants__text">Save money across leading lifestyle brands at <a href="https://discountcode.theguardian.com/uk">discountcode.theguardian.com</a></p>
            <ul class="u-unstyled fc-discount-merchants__list">
                @DiscountCodeLinks.links.map { link =>
                    <li class="fc-discount-merchants__item"><a href="@link.url" target="_blank" rel="noopener">@link.title</a></li>
                }
            </ul>
        </div>
    </div>
    <a href="https://discountcode.theguardian.com/uk" class="cta-bar__cta fc-discount-merchants__button">
        View discounts
        <span class="inline-arrow-right inline-icon">
            <svg width="30" height="30" viewBox="0 0 30 30" class="inline-arrow-right__svg inline-icon__svg">
                <path d="M22.8 14.6L15.2 7l-.7.7 5.5 6.6H6v1.5h14l-5.5 6.6.7.7 7.6-7.6v-.9"></path>
            </svg>
        </span>
    </a>
</section>
