@import com.gu.commercial.branding.{Branding, Logo, PaidContent}
@import implicits.Requests.RichRequestHeader
@(branding: Branding, onDarkBackground: Boolean = false)(implicit request: RequestHeader)

@standardLogo(logo: Logo) = {
    <img src="@logo.src" alt="@branding.sponsorName" class="badge__logo">
}

@ampLogo(logo: Logo) = {
    @logo.dimensions.map { dim =>
        <amp-img src="@logo.src"
                 width="@dim.width"
                 height="@dim.height"
                 alt="@branding.sponsorName"
                 class="badge__logo"></amp-img>
    }.getOrElse {
        <p>@branding.sponsorName</p>
    }
}

<div class="badge__label">
  @branding.logo.label
</div>
<a class="badge__link" href="@branding.logo.link" data-sponsor="@branding.sponsorName.toLowerCase">
    @if(request.isAmp) {
        @if(onDarkBackground && branding.logoForDarkBackground.nonEmpty) {
            @for(highContrastLogo <- branding.logoForDarkBackground) {
                @ampLogo(highContrastLogo)
            }
        } else {
            @ampLogo(branding.logo)
        }
    } else {
        @if(onDarkBackground && branding.logoForDarkBackground.nonEmpty) {
            @for(highContrastLogo <- branding.logoForDarkBackground) {
                @standardLogo(highContrastLogo)
            }
        } else {
            @standardLogo(branding.logo)
        }
    }
</a>
@if(!branding.isPaid) {
    <a href="@branding.aboutThisLink" class="badge__help">About this content</a>
}
