{
    "presets": [
        "env",
        "babel-preset-flow"
    ],
    "env": {
        "development": {
            "compact": false,
            "comments": true
        },
        "production": {
            "compact": true,
            "comments": false
        },
        "test": {
            "compact": false,
            "comments": true
        }
    }
}
