.preview-refresh {
    @include fs-headline(5);
    height: gs-height(2);
    background-color: #ff6666;
    color: #ffffff;
    padding: 5px;

    .pamplemousse {
        float: right;
        .pamplemousse__pip {
            i {
                background-color: #ffffff;
            }
        }
    }
}

.preview-refresh--explainer {
    @include fs-headline(1, true);
}
