@(interactive: Interactive, storyPackage: List[Trail], index: Int, trail: Boolean)(implicit request: RequestHeader)
@import conf.Switches.DiscussionSwitch

<h2 class="article-zone type-1">
    <a class="zone-color" data-link-name="article section" href="@LinkTo{/@interactive.section}">@Html(interactive.sectionName)</a>
</h2>

<article id="article" class="article"
    itemprop="mainContentOfPage" itemscope itemtype="@interactive.schemaType" role="main">

     <div class="article__container">
         <figure class="interactive" data-interactive="@request.path.drop(1)"></figure>
     </div>
</article>

</div>
