<div class="is-hidden js-mem-cancel-tier">
    <h2 id="qa-cancelled-membership" class="manage-account-header manage-account-header--highlight">You've cancelled your membership</h2>
    <p>
        Now that you've cancelled your membership, your <span class="js-mem-tier"></span> benefits will
        run out on <strong><span class="js-mem-current-period-end"></span></strong>. After that date, the
        membership section won't be available in your profile.
    </p>
    <p>
        Your final subscription payment was taken on
        <strong><span class="js-mem-current-period-start"></span></strong>. Please note, you won't be able to
        amend your package again until this change has been processed.
    </p>
</div>
