@import views.html.fragments.selectDates

<div class="is-hidden js-mem-info">
    <ul class="details-list u-unstyled js-mem-details">
        <li class="details-list__item is-hidden js-mem-number-container">
            <div class="fieldset__heading">
                <h2 class="form__heading">
                        Membership number
                </h2>
            </div>
            <div class="fieldset__fields">
                <div class="form-field js-mem-number"></div>
            </div>
        </li>
        <li class="details-list__item">
            <div class="fieldset__heading">
                <h2 class="form__heading">
                        Membership tier
                </h2>
            </div>

            <div class="fieldset__fields u-cf">
                <div class="form-field">
                    <span class="js-mem-tier" id="qa-membership-tier"></span>
                    <a href="@(conf.Configuration.id.membershipUrl)/tier/change" id="qa-change-tier" class="submit-input membership-cta" data-link-name="Change tier">Change tier</a>
                </div>
            </div>
        </li>
        <li class="details-list__item">
            <div class="fieldset__heading">
                <h2 class="form__heading">
                        Start date
                </h2>
            </div>

            <div class="fieldset__fields">
                <div class="form-field">
                    <span id="qa-mem-join-date" class="js-mem-join-date"></span>
                </div>
            </div>
        </li>
        <li class="details-list__item js-mem-next-payment-container is-hidden">
            <div class="fieldset__heading">
                <h2 class="form__heading">
                    Next payment price
                </h2>
            </div>

            <div class="fieldset__fields">
                <div class="form-field">
                    <span id="qa-mem-next-payment-price" class="js-mem-next-payment-price"></span>
                </div>
            </div>
        </li>
        <li class="details-list__item js-mem-next-payment-container is-hidden">
            <div class="fieldset__heading">
                <h2 class="form__heading">
                    Next payment date
                </h2>
            </div>

            <div class="fieldset__fields">
                <div class="form-field">
                    <span id="qa-mem-next-payment-date" class="js-mem-next-payment-date"></span>
                </div>
            </div>
        </li>
        <li class="details-list__item">
            <div class="fieldset__heading">
                <h2 class="form__heading">
                    <span class="js-mem-plan-interval"></span> payment
                </h2>
            </div>

            <div class="fieldset__fields">
                <div class="form-field">
                    <span id="qa-mem-payment-cost" class="js-mem-package-cost"></span>
                </div>
            </div>
        </li>
    </ul>

    <ul class="details-list details-list--lower is-hidden u-unstyled js-mem-card-details">
        <li class="details-list__item js-mem-renewal-date-container">
            <div class="fieldset__heading">
                <h2 class="form__heading">
                        Next <span class="js-mem-plan-interval"></span> payment
                </h2>
            </div>

            <div class="fieldset__fields">
                <div class="form-field">
                    <span id="qa-mem-current-period-end" class="js-mem-current-renewal-date"></span>
                </div>
            </div>
        </li>
        <li class="details-list__item">
            <div class="fieldset__heading">
                <h2 class="form__heading">
                        Card details
                </h2>
            </div>

            <div class="fieldset__fields u-cf">
                <div class="form-field">
                    <span class="card-type-display js-mem-card-type"><span class="js-mem-payment-card-text u-h"></span></span>
                    <span id="qa-card-details" class="card-details">
                            •••• •••• •••• <span class="js-mem-card-last4"></span>
                        </span>
                    <button id="qa-change-card" class="submit-input membership-cta js-mem-change-card" data-link-name="Change card">Change card</button>
                </div>
            </div>
        </li>
        <li class="details-list__item membership-tab__change-cc-form is-closed js-mem-card-details-form-container">
            <form class="js-mem-stripe-form">

                <div class="js-payment-errors qa-form-error form__error is-hidden"></div>

                <div class="fieldset__heading">
                    <h2 class="form__heading">Change card details</h2>
                </div>
                <div class="fieldset__fields">
                    <div class="form-field">
                        <label class="label" for="cc-num">Card Number</label>
                        <div class="input membership-tab__credit-card-container">
                            <i class="js-credit-card-image membership-tab__card-types--in-field"></i>
                            <input type="tel"
                                   size="20"
                                   data-stripe="number"
                                   class="js-credit-card-number text-input"
                                   id="cc-num"
                                   placeholder="xxxx xxxx xxxx xxxx"
                                   maxlength="19"
                                   autocomplete="off"/>
                        </div>
                    </div>

                    <div class="form-field">
                        <label class="label" for="cc-cvc"></label>
                        <span>Security code</span>
                        <input type="tel"
                               size="4"
                               data-stripe="cvc"
                               class="js-credit-card-cvc text-input text-input--small text-input--block"
                               id="cc-cvc"
                               placeholder="CVC"
                               maxlength="4"
                               autocomplete="off"/>

                    </div>

                    <div class="form-field">
                        <label class="label" for="cc-exp-month"></label>
                        <span>Expiry</span>
                        <p>
                            <select data-stripe="exp-month" id="cc-exp-month" class="js-credit-card-exp-month">
                                <option selected="selected">Month</option>
                                @for(month <- selectDates.validCardMonths){
                                    <option value="@month">@month</option>
                                }
                            </select>
                            <span> / </span>
                            <select data-stripe="exp-year" id="cc-exp-year" class="js-credit-card-exp-year">
                                <option selected="selected">Year</option>
                                @for((year, formattedYear) <- selectDates.validCardYears){
                                    <option value="@year">@formattedYear</option>
                                }
                            </select>
                        </p>
                    </div>
                    <div class="form-field">
                        <button class="submit-input js-mem-change-cc-submit"
                                type="submit"
                                data-link-name="Update card details">Update</button>
                        <div class="is-updating js-updating"></div>
                    </div>
                </div>
            </form>
        </li>
    </ul>
</div>
