@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: views.html.helper.FieldConstructor)

@import views.html.helper.input
@import play.api.templates.PlayMagic.toHtmlArgs

@inputType = @{ args.toMap.get('type).map(_.toString).getOrElse("username") }
@cls = @{ s"text-input ${args.toMap.get('class).map(_.toString).getOrElse("")}" }
@autocomplete = @{ args.toMap.get('autocomplete).map(_.toString).getOrElse("off") }
@autocapitalize = @{ args.toMap.get('autocapitalize).map(_.toString).getOrElse("off") }
@autocorrect = @{ args.toMap.get('autocorrect).map(_.toString).getOrElse("off") }
@spellcheck = @{ args.toMap.get('spellcheck).map(_.toString).getOrElse("false") }
@updatedArgs = @{ args ++ Seq('_showConstraints -> false) }
@required = @{ field.constraints.exists(constraint => constraint._1 == "constraint.required") }

@input(field, updatedArgs.filter(_._1 != 'type):_*) { (id, name, value, htmlArgs) =>
    <input class="@cls" type="@inputType" id="@id" name="@name" value="@value"
    autocomplete="@autocomplete" autocapitalize="@autocapitalize" autocorrect="@autocorrect" spellcheck="@spellcheck"
    @if(required){aria-required="true"} @toHtmlArgs(htmlArgs) />
}
