@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: views.html.helper.FieldConstructor)

@import views.html.helper.input
@import play.api.templates.PlayMagic.toHtmlArgs

@inputType = @{ args.toMap.get('type).map(_.toString).getOrElse("username") }
@cls = @{ "text-input " + args.toMap.get('class).map(_.toString).getOrElse("") }
@updatedArgs = @{ args ++ Seq('_showConstraints -> false) }
@required = @{ field.constraints.exists(constraint => constraint._1 == "constraint.required") }

@input(field, updatedArgs.filter(_._1 != 'type):_*) { (id, name, value, htmlArgs) =>
    <input class="@cls" type="@inputType" id="@id" name="@name" value="@value" @if(required){aria-required="true"} @toHtmlArgs(htmlArgs) />
}
