@(field: Field, valueAndLabel: List[(String, String)], args: (Symbol, Any)*)(implicit handler: views.html.helper.FieldConstructor)

@*
 * This input helper should be used with the multiInputFieldConstructor
 *@

@import views.html.helper.input
@import play.api.templates.PlayMagic.toHtmlArgs

@input(field, args:_*) { (id, name, value, htmlArgs) =>
  @for((inputValue, inputLabel) <- valueAndLabel) {
      <label class="check-label">
          <input type="radio" name="@field.name" id="@field.id" value="@inputValue"
          @if(value.map(_ == inputValue).getOrElse(false)){ checked } @toHtmlArgs(args.toMap) />
          @inputLabel
      </label>
  }
}
