<div class="contributions__epic-slice-wrapper">
    <div class="contributions__epic-slice gs-container">
        <hr class="contributions__epic-slice__bar"/>

        <h2 class="contributions__epic-slice__heading">Support the Guardian</h2>

        <h3 class="contributions__epic-slice__subheading">
            Join the hundreds of thousands who choose to fund independent journalism and keep it open
        </h3>

        <div class="contributions__epic-slice__buttons">
            <a href="<%=membershipUrl %>"
               class="contributions__option-button contributions__contribute contributions__contribute--epic-slice">
                Become a supporter
            </a>
            <a href="<%=contributionUrl %>"
               class="contributions__option-button contributions__contribute contributions__contribute--epic-slice">
                Make a contribution
            </a>
        </div>
    </div>
</div>
