<div class="contributions__epic <%=(typeof epicClass !== "undefined") ? epicClass : '' %>" data-component="<%=componentName%>">
    <div>
        <h2 class="contributions__title contributions__title--epic">
            Since you’re here &hellip;
        </h2>
        <p class="contributions__paragraph contributions__paragraph--epic">
            <%=p1%>
        </p>

        <div class="epic__testimonial-container epic__testimonial-container--subtle">
            <div class="epic__testimonial-quote epic__testimonial-quote--subtle">
                <%=quoteSvg%>
            </div>
            <blockquote class="epic__testimonial-text">
                <%=testimonialMessage%>
                <cite class="epic__testimonial-name">
                    <%=(typeof citeImage !== "undefined") ?
                        ('<img src="' + citeImage + '" class="epic__testimonial__icon"/>') :
                        ''
                    %>
                    <%=testimonialName%>
                </cite>
            </blockquote>
        </div>

        <p class="contributions__paragraph contributions__paragraph--epic">
            If everyone who reads our reporting, who likes it, helps to support it, our future would be much more secure.
        </p>
    </div>

    <div class="contributions__amount-field">
        <div>
            <a class="contributions__option-button contributions__contribute contributions__contribute--epic contributions__contribute--epic-member contributions__contribute--epic-member-top"
               href="<%=membershipUrl%>"
               target="_blank">
                Become a supporter
            </a>
        </div>

        <div>
            <a class="contributions__option-button contributions__contribute contributions__contribute--epic contributions__contribute--epic-member"
               href="<%=contributionUrl%>"
               target="_blank">
                Make a contribution
            </a>
        </div>
    </div>
</div>
