<div class="contributions__epic" data-component="<%=componentName%>">
    <div>
        <h2 class="contributions__title contributions__title--epic">
            Since you’re here &hellip;
        </h2>
        <p class="contributions__paragraph contributions__paragraph--epic">
            &hellip; we’ve got a small favour to ask. More people are reading the Guardian than ever, but far fewer are paying for it. Advertising revenues across the media are falling fast. And <span class="contributions__highlight">unlike many news organisations, we haven’t put up a paywall – we want to keep our journalism as open as we can</span>. So you can see why we need to ask for your help. The Guardian’s independent, investigative journalism takes a lot of time, money and hard work to produce. But we do it because we believe our perspective matters – because it might well be your perspective, too.
        </p>

        <div class="epic__testimonial-container epic__testimonial-container--subtle">
            <div class="epic__testimonial-quote epic__testimonial-quote--subtle">
                <%=quoteSvg%>
            </div>
            <blockquote class="epic__testimonial-text">
                I read it fairly often and enjoy the variety of news and entertainment content.
                It never occurred to me that you wanted contributions, but I'd like you to stick around.
                Sometimes you actually have to pay for stuff you like. Go figure.
                <br>
                <cite class="epic__testimonial-name">
                    Mike L
                </cite>
            </blockquote>
        </div>

        <p class="contributions__paragraph contributions__paragraph--epic">
            If everyone who reads our reporting, who likes it, helps to support it, our future would be much more secure.
        </p>
    </div>

    <div class="contributions__amount-field">
        <div>
            <a class="contributions__option-button contributions__contribute contributions__contribute--epic contributions__contribute--epic-member contributions__contribute--epic-member-top"
               href="<%=membershipUrl%>"
               target="_blank"
               rel="noopener noreferrer">
                Become a supporter
            </a>
        </div>

        <div>
            <a class="contributions__option-button contributions__contribute contributions__contribute--epic contributions__contribute--epic-member"
               href="<%=contributionUrl%>"
               target="_blank"
               rel="noopener noreferrer">
                Make a contribution
            </a>
        </div>
    </div>
</div>
