<div class="epic__testimonial-container epic__testimonial-container--subtle">
    <div class="epic__testimonial-quote epic__testimonial-quote--subtle">
        <%=quoteSvg%>
    </div>
    <blockquote class="epic__testimonial-text">
        <%=testimonialMessage%>
        <cite class="epic__testimonial-name">
            <%=(typeof citeImage !== "undefined") ?
            ('<img src="' + citeImage + '" class="epic__testimonial__icon"/>') :
            ''
            %>
            <%=testimonialName%>
        </cite>
    </blockquote>
</div>
