<div class="contributions-wrapper" data-step="1">
    <div class="contributions__epic contributions__epic--visual contributions__epic--visual--<%=id%>">
        <div class="contributions-wrapper__step-1 contributions-wrapper__step-1--<%=id%>">
            <h2 class="contributions__title contributions__title--visual-epic contributions__title--visual-epic--<%=id%>">
                <%=step1.title%>
            </h2>

            <img class="contributions__epic--visual__image contributions__epic--visual__image--<%=id%>"
                 src="<%=step1.image%>">
            <button
                class="contributions__option-button contributions__option-button--visual contributions__option-button--visual--<%=id%>">
                <%=step1.cta%>
            </button>
        </div>

        <div class="contributions-wrapper__step-2 contributions-wrapper__step-2--<%=id%>">
            <h2 class="contributions__title contributions__title--visual-epic contributions__title--visual-epic--<%=id%> contributions__title--visual-epic__step-2--<%=id%>">
                <%=step2.title%></h2>

            <img class="contributions__epic--visual__image contributions__epic--visual__image--<%=id%>"
                 src="<%=step2.image%>">

            <h3 class="contributions__subtitle contributions__subtitle--visual-epic contributions__subtitle--visual-epic--<%=id%>">
                <%=step2.subtitle%>
            </h3>

            <p class="contributions__epic--visual--copy"><%=step2.body%></p>
        </div>
    </div>

    <div class="contributions-wrapper__step-2">
        <div class="contributions__epic--visual__cta">
            <p class="contributions__epic--visual__cta--copy"><%=supportText%></p>

            <a class="contributions__option-button contributions__option-button--visual__cta contributions__option-button--visual__cta--<%=id%>"
               href="<%=link%>">
                <span class="text">Become a Supporter for £5 a month</span>
                <span class="icon"><%=buttonIcon%></span>
            </a>
        </div>
    </div>
</div>
