<div class="contributions-wrapper">
    <div class="contributions__epic contributions__epic--visual contributions__epic--visual--<%=id%>">
        <div class="contributions-wrapper contributions-wrapper--<%=id%>">
            <h2 class="contributions__title contributions__title--visual-epic contributions__title--visual-epic--<%=id%> contributions__title--visual-epic--<%=id%>">
                <%=data.title%></h2>

            <img class="contributions__epic--visual__image contributions__epic--visual__image--<%=id%>"
                 src="<%=data.image%>"
                 alt="<%=data.imageAlt%>">

            <h3 class="contributions__subtitle contributions__subtitle--visual-epic contributions__subtitle--visual-epic--<%=id%>">
                <%=data.subtitle%>
            </h3>

            <p class="contributions__epic--visual--copy"><%=data.body%></p>
        </div>
    </div>

    <div class="contributions-wrapper">
        <div class="contributions__epic--visual__cta">
            <p class="contributions__epic--visual__cta--copy"><%=supportText%></p>

            <a class="contributions__option-button contributions__contribute contributions__option-button--visual__cta contributions__option-button--visual__cta--<%=id%>"
               href="<%=link%>">
                <span class="text">Become a Supporter</span>
            </a>
        </div>
    </div>
</div>
