<div class="contributions__epic contributions__epic--visual contributions__epic--visual--<%=id%>" data-step="1">
    <h2 class="contributions__title contributions__title--visual-epic"><%=step1.title%></h2>

    <div class="height-fix--<%=id%>">
        <img class="contributions__epic--visual__image contributions__epic--visual__image--<%=id%>"
              src="<%=step1.image%>">
        <button
            class="contributions__option-button contributions__option-button--visual contributions__option-button--visual--<%=id%>">
            <%=step1.cta%>
        </button>
    </div>
</div>
