<div class="contributions__epic">
    <div>
        <h2 class="contributions__title contributions__title--epic">
            Since you're here ...</h2>
        <p class="contributions__paragraph contributions__paragraph--epic">... we have a small favour to ask. More people are reading the Guardian than ever. But far fewer are paying for it. And advertising revenues are falling
            fast. So you can see why we need to ask for your help. The Guardian's independent, investigative journalism takes a lot of time, money and hard work to produce. But we do it because we
            believe our perspective matters - because it might well be your perspective, too. </p>

        <p class="contributions__paragraph contributions__paragraph--epic">If everyone who reads our reporting, who likes it, helps to pay for it, our future would be much more secure. You can
            give money to the Guardian in less than a minute.</p>
    </div>
    <div class="contributions__amount-field contributions__amount-field--<%=position%>">
        <div class="contributions__button-group--epic contributions__button-group--epic-<%=variant%>">
            <div class="js-button-group contributions__button-group u-cf">
                <button type="button" class="js-button contributions__option-button contributions__option-button--epic contributions__option-button--<%=position%>" data-amount="25">
                    <span class="currency js-currency">£</span>25
                </button><button type="button" class="js-button contributions__option-button contributions__option-button--epic contributions__option-button--<%=position%> active" data-amount="50">
                <span class="currency js-currency">£</span>50
            </button><button type="button" class="js-button contributions__option-button contributions__option-button--epic contributions__option-button--<%=position%>" data-amount="100">
                <span class="currency js-currency">£</span>100
            </button><button type="button" class="js-button contributions__option-button contributions__option-button--epic contributions__option-button--<%=position%>" data-amount="250">
                <span class="currency js-currency">£</span>250</button>
            </div>
        </div>
        <div >
            <a class="js-submit-input contributions__option-button contributions__contribute contributions__contribute--epic contributions__contribute--<%=position%> contributions__contribute--<%=variant%>--<%=id%>" href="<%=linkUrl%>" target="_blank">
                <%=linkName%>
            </a>
        </div>
    </div>

</div>
