<p class="site-message__message site-message__message--survey site-message__message--has-headline" id="site-message__message">
    <span class="site-message__headline"><%=messageTextHeadline%></span>
    <span class="js-site-message__message site-message__desc"
          data-site-message-wide="<%=messageTextWide%>"
          data-site-message-narrow="<%=messageTextNarrow%>"><%=messageTextNarrow%></span>
</p>
<ul class="site-message__actions u-unstyled">
    <li class="site-message__actions__item">
        <%=arrowWhiteRight%>
        <a href="<%=linkHref%>" data-link-name="<%=linkName%>"><%=linkText%></a>
    </li>
</ul>
