<div class="tailor-survey-overlay__background"></div>

<div class="tailor-survey-overlay__container">
	<div class="tailor-survey-overlay__header">Survey <%=marque36icon%></div>
	<h3 class="tailor-survey-overlay__heading"><%=headerCopy%></h3>
	<p class="tailor-survey-overlay__copy">Your views are essential to us and the feedback we receive will help us better meet your needs</p>
	<a class="tailor-survey-overlay__proceed-button" href="<%=surveyURL%>">Take the survey <%=chevronRight%></a>
	<button class="tailor-survey-overlay__close-button">
		<span class="u-h">Close</span>
		<%=cross%>
	</button>
</div>