<li>
    <span class="forecast__time">{{forecast-time-3}}</span>
    <span class="forecast__temp">{{forecast-temp-3}}</span>
    <i class="i i-weather-{{forecast-icon-3}} weather__icon js-weather-icon" title="{{forecast-desc-3}}"><span class="u-h">{{forecast-desc-3}}</span></i>
</li>
<li>
    <span class="forecast__time">{{forecast-time-6}}</span>
    <span class="forecast__temp">{{forecast-temp-6}}</span>
    <i class="i i-weather-{{forecast-icon-6}} weather__icon js-weather-icon" title="{{forecast-desc-6}}"><span class="u-h">{{forecast-desc-6}}</span></i>
</li>
<li>
    <span class="forecast__time">{{forecast-time-9}}</span>
    <span class="forecast__temp">{{forecast-temp-9}}</span>
    <i class="i i-weather-{{forecast-icon-9}} weather__icon js-weather-icon" title="{{forecast-desc-9}}"><span class="u-h">{{forecast-desc-9}}</span></i>
</li>
