<div class="weather">
    <div class="weather__location">
        <div class="search-tool js-search-tool">
            <div class="search-tool__form u-cf">
                <input class="search-tool__input js-search-tool-input js-weather-input" type="text" data-link-name="weather-list-location" value="{{location}}" />
                <button class="search-tool__btn"><i class="i i-search-white-36"></i></button>
            </div>
            <ul class="u-unstyled js-search-tool-list"></ul>
        </div>
        <a class="weather__edit-location js-edit-location" data-link-name="weather-edit-location"
            href="#edit-location"><span class="u-h">Edit my location</span><i class="i i-search-dark-grey-36 weather__search-icon"></i>
        </a>
<!--
        <a class="weather__get-location js-detect-location" data-link-name="weather-detect-location"
            href="#detect-location"><span class="u-h">Detect my location</span><i class="i i-location-gps weather__gps-icon"></i>
        </a>
-->
        <a class="weather__close-location js-close-location" data-link-name="weather-close-location"
            href="#close-change-location"><span class="u-h">Close change location</span><i class="i i-close-icon-grey weather__close-icon"></i>
        </a>
    </div>
    <ul class="u-unstyled weather__forecasts">
        <li class="weather__forecast">
            <p class="weather__desc">
                <span class="u-h">The temperature</span>
                <span class="weather__time">now</span>
                <span class="u-h">is</span>
                <span class="weather__temp js-weather-temp">{{tempNow}}</span>
            </p>
            <i class="i i-weather-{{icon}} weather__icon js-weather-icon" title="{{description}}"></i>
        </li>
    </ul>
</div>
