.new-header__logo svg {
    // Removes extra spacing
    display: block;

    // Aspect ratio: 16:3
    @include mq($until: mobileLandscape) {
        width: 50vw;
        // height: auto doesn't work in Safari
        height: calc(3/16 * 46vw);
        padding: ($gs-baseline / 2) 0;
        min-width: 147px;
        min-height: 28px;
    }

    @include mq(mobileLandscape) {
        width: 240px;
        // height: auto doesn't work in Safari
        height: calc(3/16 * 240px);
        padding: ($gs-baseline / 2) ($gs-gutter / 2);
    }

    @include mq(phablet) {
        padding-bottom: 0;
    }
}

%new-header__burger-icon__line {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}

.new-header__nav__menu-button__burger-icon {
    @extend %new-header__burger-icon__line;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    position: relative;

    &:before,
    &:after {
        content: '';
        position: absolute;
        display: block;
    }

    &:before {
        @extend %new-header__burger-icon__line;
        top: 5px;
    }

    &:after {
        @extend %new-header__burger-icon__line;
        top: 10px;
    }
}

.new-header__nav__link {
    // Override a from _lists.scss
    color: #ffffff;
    padding: 2px;
}
