.new-header__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.new-header__logo {

    svg {
        // Removes extra spacing
        display: block;

        // Aspect ratio: 16:3
        @include mq($until: mobileLandscape) {
            width: 50vw;
            // height: auto doesn't work in Safari
            height: calc(3/16 * 46vw);
            padding: ($gs-baseline / 2) 0;
            min-width: 147px;
            min-height: 28px;
        }

        @include mq(mobileLandscape) {
            width: 240px;
            // height: auto doesn't work in Safari
            height: calc(3/16 * 240px);
            padding: ($gs-baseline / 2) ($gs-gutter / 2);
        }

        @include mq(phablet) {
            padding-bottom: 0;
        }
    }
}

.new-header__edition-button {
    @include fs-textSans(2);
    order: -1;
    color: $news-support-1;
    // Override from fs-textSans mixin
    line-height: 1;
    // TODO: Use reset util?
    // Unset button from user agent stylesheet
    background: none;
    // Unset button from user agent stylesheet
    border: 0;
    // Override button from user agent stylesheet
    padding: ($gs-gutter / 2);

    @include mq($until: mobileLandscape) {
        font-size: 3.8vw;
    }

    svg {
        fill: currentColor;
        // Spacing also due to inline elements
        margin-right: 1px;
        vertical-align: middle;
        margin-top: -2px;
        min-width: 14px;
        min-height: 14px;

        @include mq($until: mobileLandscape) {
            width: 4vw;
            height: 4vw;
        }
    }
}

.new-header__nav {
    @include fs-textSans(6);
    display: flex;
    align-items: center;
    width: 100%;

    @include mq($until: mobileLandscape) {
        font-size: 5vw;
        padding-left: ($gs-gutter / 2);
        padding-right: ($gs-gutter / 2);
        // Position after pseudo element which forces line break
        order: 1;
        justify-content: space-between;
    }
}

.new-header__nav__menu-button {
    // Override button from user agent stylesheet
    background-color: $news-main-2;
    // Unset button from user agent stylesheet
    border: 0;
    // Override button from user agent stylesheet
    // Must be square
    padding: $gs-gutter * .6;
    border-radius: 100%;
    z-index: $zindex-modal;
    height: 18px;
    width: 18px;
    margin: (-$gs-baseline) ($gs-gutter / 2) (-$gs-baseline/2);

    @include mq($until: mobileLandscape) {
        margin-right: 4vw;
        margin-top: -2vw;
        margin-bottom: -2vw;
    }
}

.new-header__burger-icon {
    position: relative;
    margin-top: 3px;
    cursor: pointer;

    transform: rotate(0deg);
    transition: .4s ease-in-out;

    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #ffffff;

        opacity: 1;
        transform: rotate(0deg);
        transition: .2s ease-in-out;

        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2), &:nth-child(3) {
            top: 5px;
        }
        &:nth-child(4) {
            top: 10px;
        }
    }
}

.new-header__burger-icon--open {
    span {
        &:nth-child(1) {
            opacity: 0;
        }
        &:nth-child(2) {
            transform: rotate(45deg);
        }
        &:nth-child(3) {
            transform: rotate(-45deg);
        }
        &:nth-child(4) {
            opacity: 0;
        }
    }
}

.new-header__nav__list {
    display: flex;
    flex-wrap: wrap;
    // Unset ul from _lists.scss
    margin-left: 0;
    // Unset ul from user agent stylesheet
    margin-top: 0;
    // Unset ul from user agent stylesheet
    margin-bottom: 3px;

    @include mq($until: mobileLandscape) {
        order: -1;
    }
}

.new-header__nav__list-item {
    // Override inherited nav ul from _lists.scss
    list-style: none;
    white-space: nowrap;

    &:not(:last-child) {
        &:after {
            content: '/';
            color: $news-main-2;
        }
    }
}

.new-header__nav__link {
    // Override a from _lists.scss
    color: #ffffff;
    padding: 2px;
}

/****************
 * Menu Styling
 ****************/

.main-menu-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // TODO: Why 3?
    z-index: 3;

    .js-on & {
        &:not(.shown) {
            display: none;
        }
    }

    .js-off & {
        &:not(:target) {
            display: none;
        }
    }
}

.main-menu-container__overlay {
    background-color: hsla(0, 0%, 0%, .5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .2s;

    .main-menu-container.off-screen & {
        opacity: 0;
    }
}

.main-menu-container__menu {
    height: 100%;
    width: 90%;
    background-color: $guardian-brand;
    color: #ffffff;
    box-shadow: 3px 0 16px rgba(0, 0, 0, .4);
    font-family: $f-sans-serif-text;
    font-size: 20px;
    text-transform: lowercase;
    // TODO: Remove
    padding-top: 10px;
    overflow: auto;

    will-change: transform;
    transition: transform .2s ease-out;

    .main-menu-container.off-screen & {
        transform: translateX(-110%);
    }
}

.main-menu-container__profile-container {
    @include fs-textSans(5);
    margin-bottom: $gs-row-height;
}

.main-menu-container__profile-icon {
    background-color: darken($guardian-brand, 3%);
    text-align: center;
    fill: $news-support-1;
    height: 23px;
    width: 23px;
    overflow: hidden;
    margin-left: $gs-gutter/2;

    svg {
        height: 23px;
        width: 23px;
    }
}

.main-navigation {
    // Unset ul from _lists.scss
    margin-left: 0;
    // Unset ul from user agent stylesheet
    margin-top: 0;
    // Unset ul from user agent stylesheet
    margin-bottom: 0;
    padding-bottom: 16px;
    text-transform: lowercase;
}

.main-navigation__item {
    // Override inherited ul from user agent stylesheet
    list-style: none;
}

$navigation-horizontal-padding: 38px;

.main-navigation__item__button {
    // padding-left: $navigation-horizontal-padding;
    padding-right: $navigation-horizontal-padding;
    padding-bottom: 6px;
    font-size: 26px;

    &:focus {
        // Unset a:focus from user agent stylesheet
        outline: 0;
        background-color: darken($guardian-brand, 5%);
    }

    &::-webkit-details-marker {
        display: none;
    }

    // TODO: Why both?
    .inline-icon, svg {
        vertical-align: middle;
    }

    svg {
        fill: hsla(0, 0%, 100%, .3);
        margin-left: ($navigation-horizontal-padding - 15px) / 2;
        margin-right: ($navigation-horizontal-padding - 15px) / 2 - 6px;
        width: 15px;
        height: auto;

        details[open] & {
            transform: rotate(180deg);
        }
    }
}

.main-navigation__secondary {
    background-color: darken($guardian-brand, 3%);
    color: $news-support-1;
}

.navigation-border {
    &:before {
        content: '';
        display: block;
        height: 1px;
        background: $guardian-brand-dark;
        margin-left: $navigation-horizontal-padding;
    }
}

.navigation-group {
    // Unset ul from _lists.scss
    margin-left: 0;
    // Unset ul from user agent stylesheet
    margin-top: 0;
    // Unset ul from user agent stylesheet
    margin-bottom: 0;
    padding-bottom: 10px;
}

.navigation-group__item {
    // Override inherited ul from user agent stylesheet
    list-style: none;

    a {
        display: block;
        padding-left: $navigation-horizontal-padding;
        padding-right: $navigation-horizontal-padding;
        padding-bottom: 6px;
        // Override a from user agent stylesheet
        color: inherit;

        // TODO: Share with large nav?
        &:focus {
            // Unset a:focus from user agent stylesheet
            outline: 0;
            background-color: darken($guardian-brand, 5%);
        }
    }
}

.navigation-group__social-icon {
    fill: hsla(0, 0%, 100%, .3);
    position: absolute;
    left: 0;

    svg {
        width: 36px;
        height: 36px;
    }

    &.inline-instagram svg {
        width: 17px;
        height: 17px;
    }
}

.no-text-transform {
    text-transform: none;
}
