$c-footer-background: $neutral-1;
$c-primary-footer-background: $guardian-brand;
$c-primary-footer-background-side-bar: mix($c-primary-footer-background, #ffffff, 90%);
$footer-line-colour: darken($neutral-2, 20%);


/* Elements modifiers specific to the footer
   ========================================================================== */

.guardian-logo-footer {
    margin-top: $gs-baseline * .75;
    float: right;
    line-height: 0;
}


/* Footer
   ========================================================================== */

.l-footer {
    padding: 0;
    background: $c-footer-background;

    .hide-in-footer {
        display: none !important;
    }
    .global-navigation__section:nth-of-type(2) .global-navigation__title {
        border-top: 0;
    }

    .js-off & {
        .navigation-container--collapsed {
            height: auto;
        }

        .navigation__expandable {
            display: block;
        }

        .navigation__inner {
            display: none;
        }
    }

    .control__info {
        display: inline-block;
    }
}

.site-message--footer {
    position: relative;
    z-index: 1;
    background-color: $c-primary-footer-background-side-bar;
    border-bottom: 1px solid #ffffff;

    .site-message__inner {
        background-color: $guardian-brand;
    }
}

.l-footer__primary {
    position: relative;
    overflow: hidden;
    background: $c-primary-footer-background-side-bar;
}

.l-footer__secondary {
    @include fs-textSans(1);
    box-sizing: border-box;
    padding-right: $gs-gutter / 2;
    padding-left: $gs-gutter / 2;

    @include mq(mobileLandscape) {
        padding-left: $gs-gutter;
        padding-right: $gs-gutter;
    }

    &,
    a {
        color: $neutral-3;
    }
}

.colophon {
    padding-top: $gs-baseline;
    padding-bottom: $gs-baseline;

    @include mq(tablet) {
        padding-bottom: $gs-baseline / 2;
    }
}

.colophon__lists-container {
    @include f-textSans();
    font-size: 14px;
    line-height: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include mq(leftCol) {
        max-width: gs-span(8) + $gs-gutter;

        .l-footer__secondary--no-email & {
            max-width: none;
        }
    }
}

.colophon__list {
    @include clearfix();
    list-style: none;
    position: relative;
    margin: 0;

    @include mq($until: tablet) {
        padding-right: $gs-gutter / 2;
        width: calc(50% - 10px);
    }

    @include mq(tablet) {
        margin: 0 $gs-gutter / 2 $gs-row-height 0;
        // width fallback for browsers which don't fully support flex
        width: 20%;
        flex: 1 0 0;
    }

    a {
        display: inline-block;
        padding-bottom: $gs-baseline;
        text-transform: lowercase;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -$gs-gutter / 2;
        width: 1px;
        display: block;
        background-color: $footer-line-colour;

        @include mq(tablet) {
            top: -$gs-baseline;
            bottom: $gs-baseline;
        }
    }

    @include mq($until: tablet) {
        &:nth-of-type(3) {
            &:before {
                content: none;
            }
        }
    }

    @include mq($until: leftCol) {
        &:first-of-type {
            &:before {
                content: none;
            }
        }
    }
}

.colophon__item {
    box-sizing: border-box;
    position: relative;
}

.footer__email-container {
    margin-bottom: $gs-baseline;
    border-bottom: 1px solid $footer-line-colour;

    @include mq(leftCol) {
        float: left;
        padding-right: 0;
        padding-left: 0;
        border: 0;
        width: gs-span(4);
        margin-right: gs-span(2) + $gs-gutter * 2;
    }

    .button {
        border-color: $neutral-2;

        &:hover {
            border-color: $neutral-4;
        }

        @include mq(tablet) {
            display: inline-block;
            margin-bottom: $gs-baseline;
            width: auto;
        }
    }
}

.footer__follow-us__item {
    display: inline;
    text-transform: lowercase;
}

.l-footer__misc {
    padding-top: $gs-baseline * .5;
    padding-bottom: $gs-baseline * 1.5;
    border-top: 1px solid $footer-line-colour;
}

.really-serious-copyright {
    margin-bottom: $gs-baseline/3;
}

/****************
 * NEW FOOTER - TODO: consolidate when desktop design has been done
 ****************/

.l-footer {
    // these two lines are needed so that the footer sits over the nav
    position: absolute;
    z-index: $zindex-content;
    width: 100%;
}

.footer__primary {
    overflow: hidden;
}

.footer__back-to-top__container {
    @include content-gutter();
    background-color: $guardian-brand;
}

.footer__back-to-top {
    @include fs-textSans(4);
    position: relative;
    text-align: right;

    @include mq($from: mobile, $until: mobileLandscape) {
        font-size: 14px;
        font-size: 4.6vw;
    }

    @include mq(mobileLandscape) {
        font-size: 20px;
    }
}

.back-to-top__text {
    display: inline-block;
    color: $news-support-1;
    line-height: 32px;
    padding-right: $gs-gutter / 2;

    @include mq(mobileMedium) {
        line-height: 43px;
    }
}

.back-to-top__icon-container {
    position: relative;
    float: right;
    margin-top: -($gs-baseline / 2);
    margin-bottom: -($gs-baseline / 2);
    border-radius: 100%;
    background-color: $news-main-2;
    cursor: pointer;
    height: $veggie-burger-small;
    min-width: $veggie-burger-small;

    @include mq(mobileMedium) {
        height: $veggie-burger-medium;
        width: $veggie-burger-medium;
    }
}

.back-to-top__icon {
    &:before {
        position: absolute;
        top: $gs-baseline / 2;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 2px solid #ffffff;
        border-bottom: 0;
        border-right: 0;
        content: '';
        height: 11px;
        width: 11px;
        transform: rotate(45deg);

        @include mq(mobileMedium) {
            height: 14px;
            width: 14px;
        }
    }
}
