/* Global header and navigation
   ========================================================================== */

$guardian-services-toggle-arrow-size: 4px;
$c-guardian-services-active-background: #ffffff;
$c-guardian-services-action: #ffffff;

.l-header {
    position: relative;
    z-index: $zindex-ui;

    @include mq(wide) {
        .has-page-skin & .gs-container {
            width: gs-span(12) + ($gs-gutter*2);
        }
    }
}

.l-header--is-slim {
    background: $guardian-brand;

    .l-header__inner {
        @include clearfix;
    }

    &.l-header--is-slim-ab {
        background: $guardian-brand;
    }

    .hide-on-slim-header {
        display: none !important;
    }

    .show-on-slim-header {
        display: block !important;
    }
}

.l-header--animate {
    transition: margin-top 1s cubic-bezier(0, 0, 0, .985);
}

.logo-wrapper {
    position: relative;
    float: right;
    margin: $gs-baseline/4 $gs-gutter/2 $gs-baseline 0;

    svg {
        width: 160px;
        height: 30px;
    }
    //reseting the default height of the <object> element
    .logo-tagline {
        height: 0;
    }

    .logo-tagline__link {
        @include fs-textSans(1);
        position: absolute;
        top: 48px;
        right: 2px;
        color: #aad8f1; // To match custom colour of 'the' in logotype. Shouldn't be used elsewhere
        font-weight: bold;
    }

    @include mq(tablet) {
        margin-top: -$gs-baseline / 2;
        margin-bottom: $gs-baseline * .5;

        svg {
            width: 360px;
            height: 68px;
        }
    }

    .l-header--is-slim & {
        margin-top: $gs-baseline * .75;
        margin-bottom: 0;
        float: left;

        @include mq(tablet) {
            svg {
                width: 160px;
                height: 30px;
            }
        }

        .no-svg & {
            .inline-logo {
                width: 160px;
                height: 30px;
            }
        }
    }

    .inline-logo {
        display: block;
    }

    .no-svg & {
        .inline-logo {
            width: 160px;
            height: 30px;

            @include mq(tablet) {
                width: 320px;
                height: 60px;
            }
        }
    }
}


/* Pre-header
   ========================================================================== */

// We have two selectors for `.l-header-pre` because of an edge case in IE
// stylesheets, whereby breakpoint styles are preceed nested rules in the
// cascade.
.l-header-pre {
    &,
    // Override breakpoint
    .l-header--is-slim & {
        float: left;
    }
}

.l-header-pre {
    min-width: gs-span(2);
    z-index: $zindex-sticky;
    position: relative;

    @include mq(tablet) {
        float: none;
    }
}


/* Main header (logo, actions)
   ========================================================================== */

.l-header-main {
    position: relative;
    z-index: 2;

    .l-header--is-slim & {
        float: right;
    }
}


/****************
 * Mobile Header Styling below - TODO: Integrate when coming up with the desktop design
 ****************/

// Specific values for menu button breakpoints
$gutter-small: 29px;
$gutter-medium: 37px;
$gutter-large: 55px;

// When the menu is open this class is added to the html to prevent users from scrolling
.nav-is-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.new-header {
    @include mobile-only;
    background-color: $guardian-brand;
}

.new-header__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.new-header__logo-wrapper {
    padding-top: $gs-baseline / 2;
    padding-bottom: $gs-baseline / 2;
    margin-left: auto;
}

.new-header__logo__svg {
    // Removes extra spacing
    display: block;
    height: auto;
    padding-right: $gs-gutter / 2;

    // Aspect ratio: 16:3
    @include mq($until: mobileMedium) {
        width: 170px;
        // height: auto doesn't work in Safari
        height: calc(3 / 16 * 170px);
    }

    @include mq($from: mobileMedium, $until: mobileLandscape) {
        width: 225px;
        height: calc(3 / 16 * 225px);
    }

    @include mq(mobileLandscape) {
        width: 260px;
        // height: auto doesn't work in Safari
        height: calc(3 / 16 * 260px);
        padding: ($gs-baseline / 2) ($gs-gutter / 2) 0;
        margin-right: $gs-gutter / 2;
    }
}

.new-header__nav {
    font-size: 0;
    width: 100%;
    overflow: hidden;

    @include mq($until: mobile) {
        // Menu squishes gracefully
        height: $gs-baseline * 2.5;
        margin-right: $gutter-small + $veggie-burger-small + $gs-gutter / 3;
    }

    @include mq(mobileLandscape) {
        margin-left: $gs-gutter / 2;
    }
}

.new-header__nav__menu-button {
    // Override button from user agent stylesheet
    position: absolute;
    // Unset button from user agent stylesheet
    border: 0;
    outline: none;
    // Override button from user agent stylesheet
    border-radius: 50%;
    z-index: 1049;
    background-color: $news-main-2;
    cursor: pointer;
    bottom: -$gs-baseline / 2;

    @include mq($until: mobileMedium) {
        //Smaller menu button
        height: $veggie-burger-small;
        min-width: $veggie-burger-small;
        //Align with the 'i' in 'theguardian'
        right: $gutter-small;
    }

    @include mq(mobileMedium) {
        height: $veggie-burger-medium;
        width: $veggie-burger-medium;
        //Align with the 'i' in 'theguardian'
        right: $gutter-medium;
    }

    @include mq(mobileLandscape) {
        //Align with the 'i' in 'theguardian'
        right: $gutter-large;
    }
}

.new-header__nav__menu-button--open {
    z-index: 1071;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .08);

    &:before {
        // Extended hit area for veggie burger close state, for fat fingers
        content: '';
        position: absolute;

        @include mq($until: mobileMedium) {
            height: $veggie-burger-small * 2;
            width: $veggie-burger-small;
            top: -$veggie-burger-small / 2;
            right: $veggie-burger-small / 2;
            border-radius: ($veggie-burger-small * 2) 0 0 ($veggie-burger-small * 2);
        }

        @include mq(mobileMedium) {
            height: $veggie-burger-medium * 2;
            width: $veggie-burger-medium;
            top: -$veggie-burger-medium / 2;
            right: $veggie-burger-medium / 2;
            border-radius: ($veggie-burger-medium * 2) 0 0 ($veggie-burger-medium * 2);
        }
    }
}

.new-header__veggie-burger-icon {
    top: 50%;
    display: block;
    margin-top: -($gs-baseline / 6) / 2;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    &,
    &:before,
    &:after {
        content: '';
        position: absolute;
        width: $gs-gutter;
        height: $gs-baseline / 6;
        background-color: #ffffff;
    }

    &:before {
        top: -$gs-gutter / 4;
    }

    &:after {
        bottom: -$gs-gutter / 4;
    }

    .new-header__nav__menu-button--open & {
        background-color: transparent;

        &:before {
            top: 0;
            transform: rotate(-45deg);
        }

        &:after {
            bottom: 0;
            transform: rotate(45deg);
        }
    }
}

.new-header__nav-primary-links {
    margin: 0;
}

.new-header__nav-link-item {
    @include trailing-slash-item;
}

.new-header__nav-link {
    @include fs-textSans(5);
    @include trailing-slash-link;
    line-height: $gs-baseline * 2.5;

    // Override a from _lists.scss
    color: $news-support-1;
    cursor: pointer;

    @include mq($from: mobile, $until: mobileLandscape) {
        font-size: 16px;
        font-size: 5.1vw;
    }

    @include mq($from: mobileMedium, $until: mobileLandscape) {
        line-height: $gs-baseline * 3;
    }

    @include mq(mobileLandscape) {
        font-size: 24px;
        line-height: $gs-baseline * 3.5;
    }

    &:focus,
    &:hover {
        text-decoration: none;
    }

    .new-header__nav-link-item:first-child & {
        padding-left: $gs-gutter / 2;
    }

    &:after {
        @include trailing-slash;
        color: $news-main-2;
    }
}

/****************
 * Menu Styling
 ****************/

.main-menu-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 1;
    z-index: $zindex-main-menu;
    box-shadow: 3px 0 16px rgba(0, 0, 0, .4);
}

.main-menu-container__overlay {
    background-color: hsla(0, 0%, 0%, .5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .2s cubic-bezier(.23, 1, .32, 1);
    // Without this, in Safari/IOS this element appears above the menu
    z-index: $zindex-overlay;
    display: none;
}

.main-menu-container__menu {
    height: 100%;
    background-color: $guardian-brand-dark;
    color: #ffffff;
    font-family: $f-sans-serif-text;
    text-transform: lowercase;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    font-size: 20px;
    will-change: transform;
    transition: transform .2s cubic-bezier(.23, 1, .32, 1);

    @include mq($until: mobileMedium) {
        padding-top: $gs-baseline / 3;
    }

    @include mq(mobileMedium) {
        //Larger font/icon size for larger devices
        font-size: 22px;
        padding-top: $gs-baseline;
    }

    .main-menu-container.off-screen & {
        transform: translateX(-110%);
        transition: transform .4s cubic-bezier(.23, 1, .32, 1);
    }
}

.new-header__nav__button {
    display: none;
}

.main-menu-container {
    transform: translateX(-110%);
    transition: transform .4s cubic-bezier(.23, 1, .32, 1);

    @include mq($until: mobileMedium) {
        margin-right: $gutter-small + ($veggie-burger-small / 2);
    }

    @include mq($from: mobileMedium, $until: mobileLandscape) {
        margin-right: $gutter-medium + ($veggie-burger-medium / 2);
    }

    @include mq(mobileLandscape) {
        margin-right: $gutter-large + ($veggie-burger-medium / 2);
    }
}

.new-header__nav__button {
    &:checked,
    &[aria-expanded='true']  {
        & ~ .main-menu-container {
            transform: translateX(0%);
            transition: transform .4s cubic-bezier(.23, 1, .32, 1);
        }
    }
    &:checked,
    &[aria-expanded='true'] {
        & ~ .main-menu-container__overlay {
            opacity: 1;
            transition: opacity .4s cubic-bezier(.23, 1, .32, 1);
            display: block;
        }
    }
}

.main-navigation {
    // Unset ul from _lists.scss
    margin-left: 0;
    // Hides the line above the first primary item
    margin-top: -1px;
    // Unset ul from user agent stylesheet
    margin-bottom: 0;
    text-transform: lowercase;
    // flexbox is being used for reordering the lists on click. Ordering is added by JS
    // See PR: https://github.com/guardian/frontend/pull/13905
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.main-navigation__item {
    // Override inherited ul from user agent stylesheet
    list-style: none;
    color: $news-support-1;
    width: 100%;

    &:last-child > details[open] {
        margin-bottom: $gs-baseline;
    }
}

//This variable is only used in open menu styling
$navigation-horizontal-padding: $gs-gutter * 2 + $gs-gutter / 2;

.main-navigation__item__button {
    position: relative;
    padding-top: $gs-baseline / 2;
    padding-left: $navigation-horizontal-padding;
    padding-bottom: $gs-baseline + ($gs-baseline / 3);
    cursor: pointer;
    font-size: 1em;

    &:focus,
    &:hover {
        // Unset a:focus from user agent stylesheet
        outline: 0;
    }

    &::-webkit-details-marker {
        display: none;
    }

    .main-menu__icon--chevron:before {
        border-color: $news-support-2;
    }
}

.main-menu__icon--chevron {
    //optical alignment
    margin-top: -.2em;

    &:before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        transform: rotate(45deg);
        border-width: 2px;
        border-style: solid;
        border-top: 0;
        border-left: 0;
    }

    details[open] & {
        margin-top: .1em;

        &:before {
            transform: rotate(-135deg);
        }
    }
}

.main-menu__icon {
    position: absolute;
    left: $gs-gutter / 2;
    text-align: center;
    width: $navigation-horizontal-padding - $gs-gutter/2;

    &__svg {
        fill: $news-support-2;
        margin-top: -.05em;
        width: 1em;
        height: 1em;
    }
}

.main-navigation__secondary {
    color: #ffffff;
    background: darken($guardian-brand-dark, 4%);

    .main-menu__icon__svg {
        margin-top: -.24em;
        width: .8em;
        height: .8em;
    }
}

.navigation-border,
[data-link-name='nav2 : the guardian app'] {
    // Creates a seamless line when section has dark background
    margin-top: -1px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: $navigation-horizontal-padding;
        right: 0;
        height: 1px;
        background: darken($guardian-brand-dark, 4%);
    }
}

[data-link-name='nav2 : the guardian app'],
[data-link-name='nav2 : facebook'] {
    margin-top: $gs-baseline * 2;
}

.navigation-group {
    // Unset ul from _lists.scss
    margin-left: 0;
    // Unset ul from user agent stylesheet
    margin-top: 0;
    // Unset ul from user agent stylesheet
    margin-bottom: 0;
}

.navigation-group--contrast {
    color: $guardian-brand-dark;
    background-color: $news-main-2;
    padding-bottom: $gs-baseline;

    .main-menu__icon__svg {
        fill: $guardian-brand;
    }

    .personalisation__icon:before {
        border-color: $guardian-brand;
    }
}

.navigation-group__item {
    // Override inherited ul from user agent stylesheet
    list-style: none;
    position: relative;
    font-size: 1em;

    details[open] &:last-child {
        padding-bottom: $gs-baseline;
    }

    a {
        display: block;
        padding-top: $gs-baseline / 1.5;
        padding-right: $gs-gutter;
        padding-bottom: $gs-baseline / 1.5;
        padding-left: $navigation-horizontal-padding;

        // Override a from user agent stylesheet
        color: inherit;

        // TODO: Share with large nav?
        &:focus,
        &:hover {
            text-decoration: none;
            // Unset a:focus from user agent stylesheet
            outline: 0;
        }
    }
}

.secondary-navigation {
    font-size: .9em;

    &:last-child {
        margin-bottom: $gs-baseline * 3;
    }
}

.main-menu__icon--social__svg {
    margin-top: -.4em;
    width: 1.8em;
    height: 1.8em;
}

// Search bar
.navigation-group__search-container {
    font-size: .8em;
    margin: $gs-baseline / 2 $gs-gutter * 2 $gs-baseline $gs-gutter / 2;
    overflow: hidden;
}

.navigation-group__search-box {
    border: 0;
    vertical-align: middle;
    background-color: $guardian-brand;
    padding-left: $navigation-horizontal-padding - $gs-gutter / 2;
    border-radius: 1000px;
    box-sizing: border-box;
    height: 36px;
    width: 100%;
    max-width: gs-span(4);

    // autoprefixer handles all the appropriate psuedo element selectors for placeholders
    &::placeholder {
        color: $news-support-1;
    }

    &:focus {
        outline: none;
        color: $neutral-1;
        background-color: #ffffff;

        &::placeholder {
            color: $neutral-3;
        }

        & ~ label .main-menu__icon--search {
            fill: $neutral-2;
        }
    }
}

.main-menu__icon--search {
    top: 9px;
}

.main-menu__icon--search__svg {
    margin-top: 0;
    width: 18px;
    height: 18px;
}

.navigation-group__item--user-account {
    .user-account__signed-in {
        display: none;

        .main-navigation__item__button {
            padding-bottom: $gs-baseline / 1.5;
        }
    }

    &.user-signed-in {
        .user-account__signed-in {
            display: block;
        }

        .user-account__login {
            display: none;
        }
    }
}

.personalisation__links {
    margin-left: 0;
    background-color: darken($news-main-2, 10%);
}

.navigation-group__item--edition-picker {
    .main-navigation__item__button {
        padding-bottom: $gs-baseline / 1.5;
    }

    details[open] .personalisation__links {
        margin-bottom: -$gs-baseline;
    }
}

.personalisation__link {
    color: $guardian-brand-dark;

    &:last-child {
        padding-bottom: $gs-baseline;
    }
}

.no-text-transform {
    text-transform: none;
}

// Breathing space between header and content
@include mq($until: tablet) {
    .weather {
        padding-top: 1px;
    }

    .fc-container--first .fc-container__inner,
    .index-page-header {
        padding-top: $gs-baseline / 2 + $gs-baseline / 4;
    }

    .content__labels {
        padding: ($gs-baseline / 2 + $gs-baseline / 4) 0;
    }
}

.section-indicator {
    color: #ffffff;

    &:before {
        content: '';
        position: absolute;
        left: 49%;
        bottom: 0;
        transform: translateX(-50%);
        border-bottom: $gs-baseline / 2 solid #747a81;
        border-left: $gs-baseline / 2 solid transparent;
        border-right: $gs-baseline / 2 solid transparent;
    }
}

// Don't show menu on opera mini: https://wp-mix.com/css-target-opera/
x:-o-prefocus, .main-menu-container,
x:-o-prefocus, .new-header__nav__menu-button {
    display: none;
}
