/* Global header and navigation
   ========================================================================== */

$guardian-services-toggle-arrow-size: 4px;
$c-guardian-services-active-background: #ffffff;
$c-guardian-services-action: #ffffff;

.l-header {
    position: relative;

    @include mq(wide) {
        .has-page-skin & .gs-container {
            width: gs-span(12) + ($gs-gutter*2);
        }
    }

    @include mq(mobile) {
        background: colour(guardian-brand);
    }
}

.l-header--is-slim {
    // TODO: Palette?
    background: colour(guardian-brand);
    transition: transform .3s;

    .l-header__inner {
        @include clearfix;

        @include mq(tablet) {
            background: colour(guardian-brand);
        }
    }

    &.l-header--is-slim-ab {
        background: colour(guardian-brand);
    }

    .hide-on-slim-header {
        display: none;
    }

    .show-on-slim-header {
        display: block !important;
    }
}

.logo-wrapper {
    position: relative;
    float: right;
    margin: $gs-baseline/4 $gs-gutter/2 $gs-baseline 0;

    svg {
        width: 160px;
        height: 30px;
    }

    @include mq(mobileLandscape) {
        margin-right: $gs-gutter;
    }

    @include mq(tablet) {
        margin-top: $gs-baseline * .5;
        margin-bottom: $gs-baseline * .5;

        svg {
            width: 320px;
            height: 60px;
        }
    }

    .l-header--is-slim & {
        margin-top: $gs-baseline * .75;
        margin-bottom: 0;
        float: left;

        @include mq(mobileLandscape) {
            // Reset to previous value, as the breakpoint overriding this
            // does not apply for interactives.
            margin-right: $gs-gutter/2;
        }

        @include mq($until: tablet) {
            margin-top: $gs-baseline * 1.2;
            margin-right: 0;

            svg {
                // Height / width
                $height-to-width-ratio: 25 / 160;
                // Magic number to fit the logo to 320px+ screens
                $width: 134px;
                width: $width;
                height: $width * $height-to-width-ratio;
            }
        }

        @include mq(tablet) {
            svg {
                width: 160px;
                height: 30px;
            }
        }

        .no-svg & {
            .inline-logo {
                width: 160px;
                height: 30px;
            }
        }
    }

    .inline-logo {
        display: block;
    }

    .no-svg & {
        .inline-logo {
            width: 160px;
            height: 30px;

            @include mq(tablet) {
                width: 320px;
                height: 60px;
            }
        }
    }
}


/* Pre-header
   ========================================================================== */

// We have two selectors for `.l-header-pre` because of an edge case in IE
// stylesheets, whereby breakpoint styles are preceed nested rules in the
// cascade.
.l-header-pre {
    &,
    // Override breakpoint
    .l-header--is-slim & {
        float: left;
    }
}

.l-header-pre {
    min-width: gs-span(2);
    z-index: $zindex-sticky;
    position: relative;

    @include mq(tablet) {
        float: none;
    }
}


/* Main header (logo, actions)
   ========================================================================== */

.l-header-main {
    position: relative;
    z-index: 2;

    .l-header--is-slim & {
        float: right;
    }
}
