// Specific values for veggie-burger and fly-in
$gutter-small: 29px;
$gutter-medium: 37px;
$gutter-large: 55px;
$gutter-xlarge: 85px;

@mixin fly-in-animation($percentage) {
    transform: translateX($percentage);
    transition: transform .4s cubic-bezier(.23, 1, .32, 1);
}

@import 'new-header/_fly-in';
@import 'new-header/_fly-in-group';
@import 'new-header/_fly-in-item';
@import 'new-header/_fly-in-search';
@import 'new-header/_logo';
@import 'new-header/_subnav';
@import 'new-header/_subnav-link';
@import 'new-header/_veggi-burger';
@import 'new-header/_veggi-burger-fallback';

/* When the menu is open this class is added to the html to prevent users
from scrolling */
.nav-is-open {
    overflow: hidden;
    width: 100%;
}

.new-header {
    background-color: $guardian-brand;

    @include mq(desktop) {
        display: none;
    }
}

.new-header__inner {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

/* Pillars */
.new-header__pillars {
    list-style: none;
    margin: 0;
    padding: 0 $gs-gutter / 2;
    width: 100%;

    @include mq(mobileLandscape) {
        padding-left: $gs-gutter;
        padding-right: $gs-gutter;
    }
}

.new-header__pillar {
    display: inline-block;

    > *:after {
        content: '/';
        color: $news-main-2;
        display: inline-block;
        line-height: 1;
        margin-left: -2px;
        margin-right: -2px;
        pointer-events: none;
    }
}

.new-header__pillar-link {
    @include fs-textSans(5);
    color: $news-support-1;
    cursor: pointer;
    display: block;
    line-height: $gs-baseline * 2.5;
    position: relative;

    @include mq($from: mobile, $until: mobileLandscape) {
        font-size: 16px;
        font-size: 5.1vw;
    }

    @include mq($from: mobileMedium, $until: mobileLandscape) {
        line-height: $gs-baseline * 3;
    }

    @include mq(mobileLandscape) {
        font-size: 24px;
        line-height: $gs-baseline * 3.5;
    }

//    @include mq(tablet) {
//        font-size: 32px;
//    }

    &:focus,
    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
}

.new-header__pillar-link--current-section {
    color: #ffffff;

    // triangle
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-100%);
        border-bottom: $gs-baseline / 2 solid $subnav-grey;
        border-left: $gs-baseline / 2 solid transparent;
        border-right: $gs-baseline / 2 solid transparent;
    }
}
