@(collection: Collection, style: FeaturesAutoContainer, containerIndex: Int)(implicit request: RequestHeader, templateDeduping: TemplateDeduping, config: Config)

@defining((config.displayName.orElse(collection.displayName), config.href.orElse(collection.href))) { case (title, href) =>

    @defining(templateDeduping(11, collection.items)) { items =>
        @if(items.nonEmpty) {
            <section
                class="@GetClasses.forContainer(style, config, containerIndex, title.nonEmpty)"
                data-link-name="block | @config.id"
                data-id="@config.id"
                data-type="@style.containerType"
                @config.sponsorshipKeyword.map { keyword =>
                    data-keywords="@keyword"
                }
                data-component="@FaciaComponentName(config, collection)">
                <div class="container__banding">
                    <div class="facia-container__inner">
                        <div class="container__border tone-@style.tone tone-accent-border"></div>
                        <div class="container__header">
                            @title.map { title =>
                                <h2 class="container__title tone-@style.tone tone-background">
                                    @href.map { href =>
                                        <a class="container__title__label u-text-hyphenate" data-link-name="section heading" href="@LinkTo{/@href}">@Html(title)</a>
                                    }.getOrElse{
                                        <span class="container__title__label u-text-hyphenate">@Html(title)</span>
                                    }
                                </h2>
                            }
                        </div>
                        <div class="container__body">
                            <div class="facia-slice-wrapper facia-slice-wrapper--position-1 container--rolled-up-hide">
                                @items.take(1).zipWithIndex.map{ case (trail, index) =>
                                    @fragments.items.saucisson(trail, index)
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container__banding container--rolled-up-hide">
                    <div class="facia-container__inner">
                        <div class="container__body">
                            @defining(items.slice(1, 4)) { items =>
                                @if(items.nonEmpty) {
                                    <div class="facia-slice-wrapper facia-slice-wrapper--position-2">
                                        <ul class="u-unstyled l-row l-row--items-3 l-row--layout-m facia-slice">
                                            @items.take(1).zipWithIndex.map{ case (trail, index) =>
                                                @fragments.collections.items.standard(trail, index + 1, containerIndex, "l-row__item--break-m facia-slice__item--floated-m")
                                            }
                                            @items.drop(1).zipWithIndex.map{ case (trail, index) =>
                                                @fragments.collections.items.standard(trail, index + 1, containerIndex)
                                            }
                                        </ul>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="container__banding container--rolled-up-hide">
                    <div class="facia-container__inner">
                        <div class="container__body">
                            @defining(items.slice(4, 10)) { items =>
                                @if(items.nonEmpty) {
                                    <div class="linkslist-container tone-@{style.tone} js-slice--ad-candidate" data-tone="@style.tone">
                                        <ul class="l-columns linkslist">
                                            @items.zipWithIndex.map{ case (trail, index) =>
                                                @trail match {
                                                    case l: LiveBlog if l.isLive         => { @fragments.items.linksList.live(l, index + 4, Some("boost")) }
                                                    case g: Gallery                      => { @fragments.items.linksList.gallery(g, index + 4, Some("boost")) }
                                                    case v: Video                        => { @fragments.items.linksList.video(v, index + 4, Some("boost")) }
                                                    case c if c.visualTone == "comment"  => { @fragments.items.linksList.comment(c, index + 4, Some("boost")) }
                                                    case t                               => { @fragments.items.linksList.standard(t, index + 4, Some("boost")) }
                                                }
                                            }
                                        </ul>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="container__banding container--rolled-up-hide">
                    <div class="facia-container__inner">
                        <div class="container__body">
                            @defining(items.drop(10)) { case (items) =>
                                @if(items.nonEmpty) {
                                    <div class="linkslist-container @if(style.showMore){js-container--show-more} tone-@{style.tone}" data-tone="@style.tone">
                                        <ul class="l-columns linkslist">
                                            @items.zipWithIndex.map{ case (trail, index) =>
                                                @trail match {
                                                    case l: LiveBlog if l.isLive           => { @fragments.items.linksList.live(l, index + 10) }
                                                    case g: Gallery                        => { @fragments.items.linksList.gallery(g, index + 10) }
                                                    case v: Video                          => { @fragments.items.linksList.video(v, index + 10) }
                                                    case c if c.visualTone == "comment"    => { @fragments.items.linksList.comment(c, index + 10) }
                                                    case t                                 => { @fragments.items.linksList.standard(t, index + 10) }
                                                }
                                            }
                                        </ul>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </section>
        }
    }
}
