@(collection: model.Collection, style: views.support.FeaturesContainer, containerIndex: Int, dataId: String)(implicit request: RequestHeader, templateDeduping: views.support.TemplateDeduping, config: com.gu.facia.client.models.CollectionConfig)

@import common.LinkTo
@import model.FaciaComponentName
@import views.support.GetClasses
@import dfp.DfpAgent

@defining((config.displayName.orElse(collection.displayName), config.href.orElse(collection.href))) { case (title, href) =>

    @defining(templateDeduping(11, collection.items)) { items =>
        @if(items.nonEmpty) {
            <section
                id="@FaciaComponentName(config, collection)"
                class="@GetClasses.forContainer(style, config, containerIndex, title.nonEmpty)"
                data-link-name="@FaciaComponentName(config, collection)"
                data-id="@dataId"
                data-type="@style.containerType"
                @DfpAgent.sponsorshipTag(config).map { keyword =>
                    data-keywords="@keyword"
                }
                data-component="@FaciaComponentName(config, collection)">
                <div class="facia-container__inner">
                    <div class="container__border tone-@style.tone tone-accent-border"></div>
                    <div class="container__header">
                        @title.map { title =>
                            <h2 class="container__title">
                                @href.map { href =>
                                    <a class="container__title__label u-text-hyphenate" data-link-name="section heading" href="@LinkTo{/@href}">@Html(title)</a>
                                }.getOrElse{
                                    <span class="container__title__label u-text-hyphenate">@Html(title)</span>
                                }
                            </h2>
                        }
                    </div>
                    <div class="container__body container--rolled-up-hide">
                        @fragments.collections.features(items, style, containerIndex)
                    </div>
                </div>
            </section>
        }
    }
}
