@(collection: Collection, style: FeaturesAutoContainer, containerIndex: Int, dataId: String)(implicit request: RequestHeader, templateDeduping: TemplateDeduping, config: com.gu.facia.client.models.CollectionConfig)

@import common.LinkTo
@import model.{Collection, FaciaComponentName}
@import views.support.{FeaturesAutoContainer, GetClasses, TemplateDeduping}
@import dfp.DfpAgent

@defining((config.displayName.orElse(collection.displayName), config.href.orElse(collection.href))) { case (title, href) =>

    @defining(templateDeduping(11, collection.items)) { items =>
        @if(items.nonEmpty) {
            <section
                id="@FaciaComponentName(config, collection)"
                class="@GetClasses.forContainer(style, config, containerIndex, title.nonEmpty)"
                data-link-name="@FaciaComponentName(config, collection)"
                data-id="@dataId"
                data-type="@style.containerType"
                @DfpAgent.sponsorshipTag(config).map { keyword =>
                    data-keywords="@keyword"
                }
                data-component="@FaciaComponentName(config, collection)">
                <div class="container__banding">
                    <div class="facia-container__inner">
                        <div class="container__border tone-@style.tone tone-accent-border"></div>
                        <div class="container__header js-container__header">
                            @title.map { title =>
                                <h2 class="container__title">
                                    @href.map { href =>
                                        <a class="container__title__label u-text-hyphenate" data-link-name="section heading" href="@LinkTo{/@href}">@Html(title)</a>
                                    }.getOrElse{
                                        <span class="container__title__label u-text-hyphenate">@Html(title)</span>
                                    }
                                </h2>
                            }
                        </div>
                        <div class="container__body">
                            <div class="facia-slice-wrapper facia-slice-wrapper--position-1 container--rolled-up-hide">
                                @items.take(1).zipWithIndex.map{ case (trail, index) =>
                                    @fragments.items.saucisson(trail, index)
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container__banding container--rolled-up-hide">
                    <div class="facia-container__inner">
                        <div class="container__body">
                            @defining(items.slice(1, 4)) { items =>
                                @if(items.nonEmpty) {
                                    <div class="facia-slice-wrapper facia-slice-wrapper--position-2">
                                        <ul class="u-unstyled l-row l-row--items-3 l-row--layout-m facia-slice">
                                            @items.take(1).zipWithIndex.map{ case (trail, index) =>
                                                @fragments.collections.items.standard(trail, index + 1, containerIndex, "l-row__item--break-m facia-slice__item--floated-m")
                                            }
                                            @items.drop(1).zipWithIndex.map{ case (trail, index) =>
                                                @fragments.collections.items.standard(trail, index + 1, containerIndex)
                                            }
                                        </ul>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="container__banding container--rolled-up-hide">
                    <div class="facia-container__inner">
                        <div class="container__body">
                            @defining(items.slice(4, 10)) { items =>
                                @if(items.nonEmpty) {
                                    <div class="linkslist-container tone-@{style.tone} js-slice--ad-candidate" data-tone="@style.tone">
                                        <ul class="l-columns linkslist">
                                            @items.zipWithIndex.map { case (trail, index) =>
                                                @fragments.items.linksList.trail(trail, index + 4, Some("boost"))
                                            }
                                        </ul>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="container__banding container--rolled-up-hide">
                    <div class="facia-container__inner">
                        <div class="container__body">
                            @defining(items.drop(10)) { case (items) =>
                                @if(items.nonEmpty) {
                                    <div class="linkslist-container @if(style.showMore){js-container--show-more} tone-@{style.tone}" data-tone="@style.tone">
                                        <ul class="l-columns linkslist">
                                            @items.zipWithIndex.map { case (trail, index) =>
                                                @fragments.items.linksList.trail(trail, index + 10, None)
                                            }
                                        </ul>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </section>
        }
    }
}
