@(trails: Seq[model.pressed.PressedContent], containerLayout: layout.ContainerLayout, containerIndex: Int, actualDate: org.joda.time.DateTime, page: model.MetaData, nav: PreviousAndNext, tzOverride: Option[org.joda.time.DateTimeZone] = None)(implicit request: RequestHeader, config: model.pressed.CollectionConfig)

@import common.LinkTo
@import views.html.fragments.containers.facia_cards.{date, slice}
@import views.support.Commercial.container
@import views.support.{GetClasses, PreviousAndNext}

@* TODO Consolidate this with the master container template to get rid of repetition *@

@defining(page.webTitle) { case (webTitle) =>
    <section class="@GetClasses.forTagContainer(webTitle.nonEmpty)"
        data-link-name="all index"
        @for(sponsorData <- container.mkSponsorDataAttributes(config)) {
            @for(sponsor <- sponsorData.sponsor) { data-sponsor="@sponsor" }
            @for(seriesId <- sponsorData.seriesId) { data-keywords="@seriesId" }
            @for(keywordId <- sponsorData.keywordId) { data-keywords="@keywordId" }
            @for(sponsorshipType <- sponsorData.sponsorshipType) { data-sponsorship="@sponsorshipType" }
        }
        data-component="all index">
        <div class="fc-container__inner">
            <div class="fc-container__header js-container__header">
                <div class="fc-container__header__title">
                    <span class="u-text-hyphenate">@Html(webTitle)</span>
                    @date(actualDate, tzOverride)
                </div>
            </div>
            <div class="fc-container__body fc-container--rolled-up-hide">
                @for(sliceWithCards <- containerLayout.slices) {
                    @slice(sliceWithCards, containerIndex)
                }

                @if(nav.isDefined) {
                    <div class="pagination u-cf">
                        @nav.prev.map{ prev => <a class="button button--medium button--tertiary pagination__action--static pagination__action--pushright" rel="prev" href="@LinkTo{@prev}"><i aria-hidden="true" class="i i-arrow-left-grey"></i>Older</a> }
                        @nav.next.map{ next => <a class="button button--medium button--tertiary pagination__action--static pagination__action--pushleft" rel="next" href="@LinkTo{@next}">Newer<i aria-hidden="true" class="i i-arrow-right-grey"></i></a> }
                    </div>
                }
            </div>
        </div>
        @fragments.trendingTopics(trails, page.id)
    </section>
}
