@(collection: model.Collection, containerIndex: Int, dataId: String, frontProperties: model.FrontProperties = model.FrontProperties.empty)(implicit request: RequestHeader, config: com.gu.facia.client.models.CollectionConfig)

@import common.LinkTo
@import views.support.GetClasses
@import views.html.fragments.containers.facia_cards.{show_more, slice, containerHeader}
@import views.html.fragments.items.elements.facia_cards.image
@import model.{FaciaDisplayElement, FaciaComponentName}
@import dfp.DfpAgent

@defining(config.displayName.orElse(collection.displayName)) { case (title) =>
    <section id="@FaciaComponentName(config, collection)"
    class="@GetClasses.forNewStyleContainer(config, containerIndex == 0, title.nonEmpty)"
    data-link-name="@FaciaComponentName(config, collection)"
    data-id="@FaciaComponentName(config, collection)"
        @DfpAgent.sponsorshipTag(config).map { keyword =>
            data-keywords="@keyword"
        }
        @DfpAgent.sponsorshipType(config).map { sponsorshipType =>
            data-sponsorship="@sponsorshipType"
        }
    data-component="@FaciaComponentName(config, collection)">
        <div class="facia-container__inner">
            @containerHeader(collection, frontProperties, containerIndex)
            <div class="container__body">
                <div class="facia-slice-wrapper">
                    <ul class="u-unstyled facia-slice facia-slice--nav-list--media">
                        @collection.items.zipWithIndex.map { case (item, index) =>
                            <li class="facia-slice__item--nav-list">
                                    <a href="@LinkTo(item)" data-link-name=" | article | @index" class="fc-item fc-item--list-compact--media">
                                        @image(item)
                                        <div class="fc-item__container">@item.headline</div>
                                    </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>
}
