@(config: Config, collection: Collection, style: Container, containerIndex: Int)(implicit request: RequestHeader, templateDeduping: TemplateDeduping)

@defining(config.displayName.orElse(collection.displayName)) { title =>

    @defining(templateDeduping(8, collection.items)) { items =>
        @if(items.nonEmpty) {
            <section class="container container--@style.containerType @if(containerIndex > 0 && title.nonEmpty){js-container--toggle}"
                     data-link-name="block | @config.id"
                     data-id="@config.id"
                     data-type="@style.containerType">

                <div class="container__title">
                    <span class="container__title__label today u-text-hyphenate">
                        <script>
                            var today = new Date(),
                                weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'),
                                dayOfWeek = weekday[today.getDay()],
                                months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'),
                                curMonth = months[today.getMonth()],
                                curYear = today.getFullYear(),
                                dayOfMonth = today.getDate();
                        </script>
                        <span class="today__dayofweek"><script>document.write(dayOfWeek)</script></span>
                        <span class="u-nobr">
                            <span class="today__dayofmonth"><script>document.write(dayOfMonth)</script></span>
                            <span class="today__month"><script>document.write(curMonth)</script></span>
                            <span class="today__year"><script>document.write(curYear)</script></span>
                        </span>
                    </span>
                </div>

                @fragments.collections.rowPattern(config, items, style, containerIndex)

            </section>
        }
    }
}
