@(collection: Collection, style: Container, containerIndex: Int)(implicit request: RequestHeader, config: Config)

@defining((config.displayName.orElse(collection.displayName), config.href.orElse(collection.href))) { case (title, href) =>

    @if(collection.items.nonEmpty) {
        <section
            class="@RenderClasses(Map(
                ("container", true),
                (s"container--${style.containerType}", true),
                ("container--first" -> (containerIndex == 0))))"
            data-link-name="block | @config.id"
            data-id="@config.id"
            data-type="@style.containerType"
            @config.sponsorshipKeyword.map { keyword =>
                data-keywords="@keyword"
            }
            data-component="@FaciaComponentName(config, collection)">
            <div class="facia-container__inner">
                <div class="container__border tone-@style.tone tone-accent-border"></div>
                <div class="container__header">
                    @title.map { title =>
                        <h2 class="container__title tone-@style.tone tone-background">
                            @href.map { href =>
                                <a data-link-name="section heading" href="@LinkTo{/@href}">@Html(title)</a>
                            }.getOrElse{
                                @Html(title)
                            }
                        </h2>
                    }
                </div>
                <div class="container__body container--rolled-up-hide js-popular-trails">
                    @defining(Seq(MostPopular("Popular", "popular", collection.items.slice(0, 10)))){ popular =>
                        @fragments.collections.popular(popular)
                    }
                </div>
            </div>
        </section>
    }

}
