@(cards: Seq[layout.Card], indexOffset: Int, containerIndex: Int, numberOfColumns: ShowMoreColumns)(implicit request: RequestHeader, config: Config)

@import model.Config
@import model.Trail
@import views.support.ShowMoreColumns
@import fragments.items.facia_cards.standard

@* Show More for the new style containers should identical, differing only in number of columns (3 or 4).
 *
 * That's why this exists, but do NOT apply it to old-style containers, as they require tonal information that these
 * do not have!
 *
 * TODO use the number of columns here
 *@
@if(cards.nonEmpty) {
    <div class="linkslist-container js-container--show-more">
        <ul class="linkslist u-unstyled l-row facia-slice">
        @cards.map { card =>
            @standard(card, "fc-item--list-media-mobile fc-item--list-media-tablet", containerIndex)
        }
        </ul>
    </div>
}
