@()(implicit request: RequestHeader)
@import views.commercial.support.StaticPages.adFreeSurveySimple

<!DOCTYPE html>
<html id="js-context" class="js-off is-not-modern id--signed-out" data-page-path="@request.path">

<head>
    <meta charset="utf-8" />
    <title>@views.support.Title(adFreeSurveySimple)</title>

    @fragments.metaData(adFreeSurveySimple)

    @* get the stylesheets downloading ASAP *@
    @fragments.stylesheetLinks(None)

    @* polyfill, feature detect etc before we try and use the stylesheets *@
    @fragments.javaScriptPreFlight(adFreeSurveySimple)

    @* try and load fonts before we use the stylesheets *@
    @fragments.fonts()

    @* start trying to use the stylesheets *@
    @fragments.stylesheetLinksEnable()

    <script>
        @Html(Static.systemJs.setupFragment)

        @* Service worker only caches the bundles, so the offline page can only ask for those.
        For production, we rely on bundles from systemJsSetup *@
        @if(play.Play.isDev()) {
            System.config({ bundles: @Html(Static.systemJs.bundleConfig) });
        }

        @Html(templates.headerInlineJS.js.bootSystemJS(adFreeSurveySimple).body)
    </script>
</head>
    <body
        id="top"
        itemscope itemtype="http://schema.org/WebPage">

        <a class="u-h skip" href="#maincontent" data-link-name="skip : main content">Skip to main content</a>

        @fragments.header(adFreeSurveySimple)

        <div class="l-side-margins">

            <div class="adfreesurvey-wrapper adfreesurvey-simple-wrapper" data-link-name="adfree survey simple page">

                <div class="adfreesurvey-wrapper-inner">

                    @fragments.inlineSvg("survey-thumbsup", "commercial")

                    <h1>Thank you so much for expressing interest in an advert free experience</h1>

                    <p class="standfirst">Unfortunately this feature isn’t available at the moment on the Guardian site. This is part of a test to understand the interest of our readers in new features for the Guardian site and apps.</p>

                    @fragments.inlineSvg("survey-loudspeaker", "commercial")

                    <h2>Quick survey</h2>

                    <p>We would like to hear your thoughts on this feature, so we’ve created a quick survey for you. The survey is hosted in UserZoom and should take no more than 5 minutes to complete. Your answers will be anonymous.</p>

                    <p><a href="https://s.userzoom.com/m/MSBDMTBTMjQy" class="button button--primary button--medium" data-link-name="take part in survey" target="_blank">Tell us your thoughts</a></p>

                    @fragments.inlineSvg("thankyou-email", "commercial")

                    <h2>Register interest</h2>

                    <p>Let us know your email address to be contacted if this feature becomes available. Your email won't be used for other purposes.</p>

                    <p><a href="https://s.userzoom.com/m/MiBDMTBTMjQz" class="button button--primary button--medium" data-link-name="register email" target="_blank">Register</a></p>

                </div>

                <div class="footer-area">

                    <div class="adfreesurvey-wrapper-inner adfreesurvey-wrapper-inner--footer">

                        <ul class="u-unstyled l-row l-row--cols-2">

                            <li class="l-row__item l-row__item--span-1">

                                <p>Get an advert free experience on the Guardian app today by upgrading to the premium tier for just &pound;2.49 a month.</p>

                                <p><img src="@Static("images/commercial/survey-iosandroidapps.png")"></p>

                                <a href="http://www.theguardian.com/guardianapp" class="button button--secondary button--small" data-link-name="read more about the guardian app">Learn more about the Guardian app @fragments.inlineSvg("arrow-right", "icon")</a>

                            </li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

        @fragments.footer(adFreeSurveySimple)

        @fragments.footerJavaScript()

    </body>
</html>
