@(metaData: model.MetaData)(implicit request: RequestHeader)

    @main(model.SimplePage(metaData)) { } {
        <div class="l-side-margins">
            <div class="membership-test membership-test--explore">
                <div class="membership-test-bg-orange">
                    <div class="membership-test__section membership-test__section--intro">
                        <div class="membership-test__left">
                            <div class="membership-test__header">
                                <div class="membership-test__logo">
                                    @fragments.inlineSvg("guardian-logo-160", "logo")
                                </div>
                                <h1>explore</h1>
                            </div>
                            <p>
                                Join Guardian journalists for long-term projects
                                as they explore stories off the beaten news path
                            </p>
                        </div>
                    </div>
                </div>
                <div class="membership-test__image">
                    <img class="membership-test__image--narrow" src="@Static("images/commercial/migrants920x552.jpg")">
                    <img class="membership-test__image--wide" src="@Static("images/commercial/migrants2600x800.jpg")">
                </div>
                <div class="membership-test__section membership-test__section--explanation">
                    <div class="membership-test__left">
                        <div class="membership-test__header">
                            <h2>How will it work?</h2>
                            <h3>Here’s an example</h3>
                        </div>
                        <img class="membership-test-tablet" src="@Static("images/commercial/patrick_kingsley920x552.jpg")">
                    </div>
                    <div class="membership-test__right">
                        <p>
                            The refugee crisis is the biggest humanitarian challenge of our times.
                            But even when the headlines are gone that crisis endures.
                        </p>
                        <p>
                            Guardian Explore will bring you a range of different perspectives
                            on the crisis over the long term that will shape your view of it.
                        </p>
                        <p>
                            Join Patrick Kingsley as he spends months following the journey of one Syrian refugee family,
                            sharing their – and his – experiences through weekly instalments.
                        </p>
                        <p>
                            Discover how refugees view their journey, understand the daily challenges they face, learn
                            about the responses of people they encounter, and the cumulative effect of the crisis on
                            families and individuals.
                        </p>
                        <p>
                            And then do something about it.
                        </p>
                    </div>
                    <img class="membership-test-mobile" src="@Static("images/commercial/patrick_kingsley920x552.jpg")">
                </div>
                <div class="membership-test-bg-grey">
                    <div class="membership-test__section membership-test__section--bullets">
                        <div class="membership-test__header">
                            <div class="membership-test__logo">
                                @fragments.inlineSvg("guardian-logo-160", "logo")
                            </div>
                            <h1>explore</h1>
                        </div>
                        <ul class="u-unstyled l-row l-row--cols-4">
                            <li class="l-row__item l-row__item--span-1">Discover compelling stories that demand more examination over long periods.</li>
                            <li class="l-row__item l-row__item--span-1">Become immersed in stories you previously knew little about.</li>
                            <li class="l-row__item l-row__item--span-1">Follow weekly coverage at your own pace: stay updated, not inundated.</li>
                            <li class="l-row__item l-row__item--span-1">Take action on the issues you care about the most.</li>
                        </ul>
                    </div>
                </div>
                <div class="membership-test-bg-orange">
                    <div class="membership-test__section membership-test__section--interested">
                        <div class="membership-test__left">
                            <div class="membership-test__header">
                                <h2>Does this interest you?</h2>
                            </div>
                        </div>
                        <div class="membership-test__right">
                            <p>
                                Guardian Explore is a concept we are currently developing.
                                If you are interested in hearing more about this idea, please register for updates.
                            </p>
                            <a href="https://s.userzoom.com/m/MyBDMTBTMjY5" class="button button--large">
                                Tell me more
                                @fragments.inlineSvg("arrow-right", "icon", Seq("i-right"))
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
