@()(implicit request: RequestHeader)
@import common.commercial.HostedPage
@import conf.Static

@main(HostedPage) { } {
    <div class="hosted__header">
        <div class="hosted__headerwrap">
            <div class="paidfor-label paidfor-meta__more hosted__label has-popup">
                <button class="u-button-reset paidfor-label__btn popup__toggle hosted__label-btn" data-toggle="js-paidfor-popup" data-link-name="about-adertiser-content">About @fragments.inlineSvg("arrow-down", "icon")</button>
                <div class="popup popup--paidfor hosted__popup is-off js-paidfor-popup">
                    <h3 class="popup--paidfor__title">‘Advertiser content’ is used to describe advertisement features that are paid for, produced and controlled by the advertiser rather than the publisher and are subject to regulation by the Advertising Standards Authority in the UK, the Federal Trade Commission in the US and the Advertising Standards Bureau in Australia. This content is produced by the advertiser and does not involve GNM staff.</h3>
                </div>
            </div>
            <a href="http://www.theguardian.com" data-link-name="guardian-logo-top-right" class="hosted__glogo">
                <p class="hosted__glogotext">Hosted by</p>
                @fragments.inlineSvg("logo-guardian", "logo")
            </a>
        </div>
    </div>
    <div class="l-side-margins hosted__side">
        <section class="hosted-tone--dark">
            <div class="adverts hosted__container--full">
                <div class="hostedbadge hostedbadge--shouldscale hosted-tone-bg--renault">
                    <p class="hostedbadge__info">Advertiser content</p>
                    <img class="hostedbadge__logo" src="@Static("images/commercial/logo_renault.jpg")">
                </div>
                <div class="u-responsive-ratio u-responsive-ratio--hd">
                    <video
                    data-duration="86"
                    data-media-id="gu-video-160516GlabsTestHD"
                    controls="controls"
                    preload="auto"
                    muted="no"
                    style="width: 100%;"
                    data-block-video-ads="true"
                    poster="http://multimedia.guardianapis.com/interactivevideos/video.php?file=160516GlabsTestHD&poster=1"
                    class="vjs-hosted__video hosted__video gu-media--show-controls-at-start gu-media--video vjs vjs-tech-html5 vjs-paused vjs-controls-enabled vjs_video_1-dimensions vjs-user-active">
                        <source type="video/mp4" src="http://multimedia.guardianapis.com/interactivevideos/video.php?file=160516GlabsTestSD&format=video/mp4&maxbitrate=2048">
                        <source type="video/webm" src="http://multimedia.guardianapis.com/interactivevideos/video.php?file=160516GlabsTestSD&format=video/webm&maxbitrate=2048">
                        <source type="video/ogg" src="http://multimedia.guardianapis.com/interactivevideos/video.php?file=160516GlabsTestSD&format=video/ogg&maxbitrate=2048">
                        <source type="video/m3u8" src="http://multimedia.guardianapis.com/interactivevideos/video.php?file=160516GlabsTestSD&format=application/x-mpegURL&maxbitrate=2048">
                    </video>
                    <div class="hosted__meta">
                        <p class="hosted__heading--small">Episode 1</p>
                        <h1 class="hosted__heading hosted-tone--renault">Discover the New Renault Zoe</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="adverts adverts--legacy hosted__container hosted__container--content">
            <header class="adverts__header">
                <div class="meta__social hosted__social" data-component="share">
                    <ul class="social social--top u-unstyled u-cf" data-component="social">
                        <li class="social__item social__item--facebook" data-link-name="facebook">
                            <a  class="social__action social-icon-wrapper"
                            data-link-name="facebook-social-share-1"
                            href="https://www.facebook.com/dialog/share?app_id=180444840287&href=http://address.com&redirect_uri=http://address.com"
                            target="_blank"
                            title="facebook">
                                <span class='inline-icon__fallback button share-modal__item share-modal__item--facebook'>Share on Facebook</span>
                                @fragments.inlineSvg("share-facebook", "icon", List("rounded-icon social-icon social-icon--facebook"))
                            </a>
                        </li>
                        <li class="social__item social__item--twitter" data-link-name="twitter">
                            <a  class="social__action social-icon-wrapper"
                            data-link-name="twitter-social-share-1"
                            href="https://twitter.com/intent/tweet?text=Zoe&url=http://address.com"
                            target="_blank"
                            title="twitter">
                                <span class='inline-icon__fallback button share-modal__item share-modal__item--twitter'>Share on Twitter</span>
                                @fragments.inlineSvg("share-twitter", "icon", List("rounded-icon social-icon social-icon--twitter"))
                            </a>
                        </li>
                        <li class="social__item social__item--email" data-link-name="email">
                            <a  class="social__action social-icon-wrapper"
                            data-link-name="email-social-share-1"
                            href="mailto:?subject=Zoe&body=http://address.com"
                            target="_blank"
                            title="email">
                                <span class='inline-icon__fallback button share-modal__item share-modal__item--email'>Share via email</span>
                                @fragments.inlineSvg("share-email", "icon", List("rounded-icon social-icon social-icon--email"))
                            </a>
                        </li>
                        <li class="social__item social__item--pinterest" data-link-name="pinterest">
                            <a  class="social__action social-icon-wrapper"
                            data-link-name="Pinterest-social-share-1"
                            href="http://www.pinterest.com/pin/find/?url=http://address.com"
                            target="_blank"
                            title="pinterest">
                                <span class='inline-icon__fallback button share-modal__item share-modal__item--pinterest'>Share on Pinterest</span>
                                @fragments.inlineSvg("share-pinterest", "icon", List("rounded-icon social-icon social-icon--pinterest"))
                            </a>
                        </li>
                    </ul>
                </div>
            </header>
            <div class="adverts__body">
                <div class="hosted__standfirst">
                    <p class="hosted__text">ZOE integrates the most advanced electric technology. More than 60 patents have been filed under design, innovations in service autonomy, ease of use and connectivity. ZOE is fitted with a "Range Optimizer" system which enhances the battery life, whatever the driving conditions.</p>
                    <p class="hosted__terms">This content was paid for and produced by Renault. For more information see our <a href="" class="hosted__link" data-link-name="terms-and-conditions-text-link">Because I rock it doesn't mean my heart is made of stone.</a></p>
                </div>
            </div>
        </section>
        <section class="adverts hosted__container--full">
            <div class="hosted__banner" style="background-image: url(@Static("images/commercial/zoe-banner.jpg"));">
                <div class="hostedbadge hostedbadge--shouldscale hostedbadge--pushdown hosted-tone-bg--renault">
                    <img class="hostedbadge__logo" src="@Static("images/commercial/logo_renault.jpg")">
                </div>
                <div class="hosted__cta-wrapper">
                    <a href="https://www.renault.co.uk/vehicles/new-vehicles/zoe.html" rel="nofollow" class="advert__more button button--large button--primary hosted__cta" data-link-name="explore-renault-zoe-button">
                        <span>Discover Zoe</span>
                        @fragments.inlineSvg("arrow-right", "icon", List("i-right"))
                    </a>
                </div>
            </div>
        </section>
    </div>
}
